[2020-04-09 13:47] #3462 closed, assigned to nobody

[2020-04-11 09:07] miohtama commented on #3447
@cgewecke thank you for your kind support!

[2020-04-11 09:07] #3447 closed, assigned to nobody

[2020-04-11 13:49] MukeshJaiswal01 commented on #3037
sir , i'm getting same problem
 this is my code -->

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta charset="utf-8">
	<title>first dapp</title>

  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" inte

[2020-04-11 22:09] Etienereum commented on #2077
This worked for me. Thanks

[2020-04-12 06:12] 7-of-9 commented on #2661
I'm seeing failure of promise-wrapped sendSignedTransaction to fire "confirmation" event (and "receipt") on a websocket ganache connection. Works fine on HTTP.

Removing "receipt" handler makes no difference.

"web3": "^2.0.0-alpha"
transactionConfirmationBlocks = 1

[2020-04-12 17:38] nogo10 commented on #2080
Is issue #2059 resolved, I get that error with version 1.2.x

[2020-04-12 17:41] nogo10 commented on #2080
This error message: similar to issue #2059
```TypeError: Cannot read property 'slice' of undefined```
webpack-internal:///./node_modules/readable-stream/lib/_stream_writable.js:57 Uncaught

[2020-04-12 17:42] nogo10 commented on #2080
?

[2020-04-13 10:13] Li6lac opened #3466 "how to fix the err:Returned values aren't valid, did it run Out of Gas?Returned values aren't valid, did it run Out of Gas?"
I get this error when I call just a 'get' function from a deployed contracted.This happens in real geth private blockchain and ropsten.I'm confused for a few weeks.Thanks for giving some suggestion.
My web3 is 1.2.6 and solcjs is 0.5.0+
the whole error message is :+1:
{
  err: Error: Returned values aren't valid, did it run Out of Gas? You might also see this error if you are not using the correct

[2020-04-13 14:40] cgewecke commented on #3466
@Li6lac Could you provide a simple example of the code (both JS and Solidity) that triggers this error so someone can reproduce the problem and debug?

It would also be helpful to know the version info of the Geth client you're using.

This is a really common cause of that error fwiw - perhaps you are making calls to the wrong address or not creating the contract with the correct ABI.

[2020-04-13 15:29] Li6lac commented on #3466
Thanks for reply.
For ropsten:
contract is easy enough :

[code]
set() works well,but get() meets the error.
web3js is: use transaction to call function set() of contrac,function set()
 is almost the same except for web3.eth.getTransactionCount() to send data by a tanscation.
[code]
my geth is the newest .the way for deploying and calling in geth is diffrent from above but meets the same error.Wha

[2020-04-13 16:53] cgewecke commented on #3466
@Li6lac Tried to reproduce this using the Ropsten address you linked to but everything worked and did not get an error.

Compiled the contract using `solc 0.5.15` which generated this ABI (think this is identical to what you posted):
[code]

Then ran:
[code]

**Output**
[code]

[2020-04-14 02:48] miketeix commented on #3331
@Vivek205 would you mind sharing your code snippet?
Also, was wondering what your particular need for the unsubscribe was?

I'm seeing the old listener getting triggered again from a separate call and after a different promiEvent is created which is weird. Hoping it get's resolve in staging/rinkeby where there will be longer blocktimes, though it could very well by my implementation.
Cheers!

[2020-04-14 03:07] Li6lac commented on #3466
ok,thank you,i get it

[2020-04-14 17:58] wbt commented on #2744
FYI, the latest version from the 1.x branch is reporting 1401 vulnerabilities (1378 low, 10 moderate, 13 high).

[2020-04-14 19:06] cgewecke commented on #2744
@wbt

Fwiw the only public facing vuln is for Web3 itself and relates to wallet storage. Everything else is in the development dependency tree.

Root dependencies with sub-dependencies (like handlebars etc) flagged by `npm audit` are:

**High**
+ lerna
+ nyc
+ geth-dev-assistant

**Moderate**
+ lerna
+ nyc
+ browserify (vuln is: acorn - Regular Expression Denial of Service)
+ dependency-check

The

[2020-04-14 19:16] wbt commented on #1648
FYI: When git cloning and building the latest version of web3 from the 1.x branch with #3190 merged, I still get the MaxListenersExceededWarning.

[2020-04-14 19:32] cgewecke commented on #1648
@wbt We've seen this go away in our E2E tests but they are relatively modest in scope...what needs to be done to trigger the warning?

[2020-04-14 19:35] wbt commented on #1648
@cgewecke Does https://github.com/trufflesuite/truffle/issues/1942 help?
To be clear, I'm seeing this in a more complex dapp, but the top post there was the result of spending the time to try to boil the issue down to a public test case.

[2020-04-14 20:42] cgewecke commented on #1648
@wbt Ok yes I can reproduce with the test written #3469. Thanks for flagging this.

From what I can see the problem is better than before but if you're calling `setProvider` repeatedly (e.g on lots of contract objects) it will hit the `10` limit.

[2020-04-14 20:49] #3466 closed, assigned to nobody

[2020-04-15 01:13] alvin854 commented on #2152
@dk-lan I seem to be having this issue with too many requests in a short time as well. If you remember, can you elaborate on why this causes a problem? I'd prefer this method (and getting access to the returned `PromiEvent` on each transaction) than using a `BatchRequest` with no `PromiEvent`.

[2020-04-15 02:23] nivida commented on #3457
RLP decoding FTW ;-P @cgewecke

[2020-04-15 04:01] cgewecke opened #3471 "Inject commit hash into scripts/html/index.html for Surge E2E test"
@ryanio noted while opening #3470 that there's no explicit guarantee in the Surge test that the site is serving the minified bundle from the CI build. We could be looking at a cached version for example.

Relevant env vars are:
+ `TRAVIS_COMMIT`
+ `GITHUB_SHA` (Github actions)

[2020-04-15 05:44] cokia opened #3473 "`git clone` web3.js and install fails on >= Node 13.5"
#### Expected behavior
install package successfully

#### Actual behavior
It makes error

#### Steps to reproduce the behavior
git clone and just `npm i` it

#### Logs

[2020-04-15T05_41_29_873Z-debug.log](https://github.com/ethereum/web3.js/files/4479322/2020-04-15T05_41_29_873Z-debug.log)

[code]

#### Versions
OSX 10.15.2 / Node v13.5.0 / NPM v6.13.4

[2020-04-15 06:29] bolt-global opened #3474 "Can't recover an account using private key without "0x" prefix"
#### Expected behavior
I used the method `web3.eth.accounts.privateKeyToAccount`  to create an account but didn't add the prefix 0x in the private key. Since I didn't get any error I assumed it was a valid account. Then I sent some ETH to the account's address. I expected to be able to recover the ETH by calling `web3.eth.sendSignedTransaction`  with my private key

#### Actual behavior
I can't re

[2020-04-15 06:50] cokia opened #3475 "Translation web3.js document in korean"
I want to translate the Web3.js document into Korean. (We have confirmed that the translated document does not exist so far.)

May I take charge of this work?

And if possible, I would like to know if there is a guideline in the translation.

I'm going to use ReadTheDocs, and I'm thinking about whether it's better to PR in the Web3.js Repo or make a separate repo.

If any of you who are looking at

[2020-04-15 16:42] cgewecke commented on #3473
@cokia This seems like it might be something to report to ganache-cli.

Was able to install Web3 as a stand alone package on Mac OSX successfully on Node
+ 13.5.0
+ 13.13.0

Are you able to install Web3 on it's own?

[2020-04-15 16:49] cgewecke commented on #3475
@cokia Thanks for proposing!

This will require some discussion. I think it would be the first docs translation here.

For future reference, there's some info about managing translations at ReadTheDocs:
+ https://docs.readthedocs.io/en/stable/guides/manage-translations.html

[2020-04-16 04:48] cokia commented on #3473
but when i install ganache-cli standalone, it is possible to install stand alone package...

[2020-04-16 05:49] cgewecke commented on #3473
@cokia

Sorry, could you clarify what you mean here?

[2020-04-16 08:37] cokia commented on #3473
When I do 'npm i ganache-cli', the installation works well. I think this is a dependency problem.

[2020-04-16 16:56] cgewecke commented on #3473
@cokia Ah! You're saying that it's only when ganache-cli sits in a dependency tree with lots of other packages that the installation fails. (We saw the same failure for Node 13 here while experimenting with Github Actions in #3468 yesterday.)

However, I was just able to install web3 and ganache-cli together on Node 13.13.0 locally if they were the only two deps...

Could you show your package.jso

[2020-04-16 16:59] cokia commented on #3473
This is the issue that occurred when I did the fork and clone and do the npm i. I don't think it's different from web3 origin package.json.

[code]

[2020-04-16 17:02] cokia commented on #3475
What kind of discussion is needed about this?

I'm preparing to translate this, and I'm writing simple translation guidelines in Korean first. However, I think the web3 document needs a "English version" translation guideline for later translation into another language.

[2020-04-16 17:06] cgewecke commented on #3473
@cokia Ok I finally understand  this, sorry and thank you for reporting.

[2020-04-16 17:09] cokia commented on #3473
Thank you for your contribution.
If you need my help, please mention me :)

[2020-04-16 17:18] cgewecke commented on #3475
Yes, this would be great.

The immediate questions I have are:
+ what are the technical details of localization at ReadTheDocs?
+ how are translations reviewed and maintained to make sure they're accurate?
+ how are other Ethereum org projects managing this issue?

[2020-04-16 17:43] cag commented on #1610
Copying over my comments on how an API design change might look to work with this. I assume the use of the TextEncoder standard in the comments, but probably the `ethers.js` codec can be swapped in if that is the way forward here.

---

Referring to [`getPastEvents`](https://web3js.readthedocs.io/en/v1.2.0/web3-eth-contract.html#getpastevents), I would propose something like the following:

Add an

[2020-04-16 17:51] cgewecke commented on #3475
`ethereum/solidity` has several translations [listed here][1] and they look like they're independently maintained on forks.

For example Solidity docs in French are generated
+ at: https://solidity-fr.readthedocs.io/fr/latest/
+ from: https://github.com/Karocyt/solidity-fr/blob/solidity-fr/docs/index.rst

[1]: https://solidity.readthedocs.io/en/v0.6.6/index.html#translations

[2020-04-16 20:12] holgerd77 commented on #3475
Like the `Solidity` way of addressing/organizing this, otherwise this will lead to too much maintenance work for the main repository maintainers.

[2020-04-16 20:13] holgerd77 commented on #3475
@cokia Would you be willing to take on the hosting and maintenance of this on ReadTheDocs? That would be great! 😄

Then we can start a similar "Translated Docs" list in the `Web3` documentation.

[2020-04-16 20:23] cgewecke commented on #3456
This also affects any `.estimateGas` request and any state changing method invoked with `.call`.

Re-opening for visibility because it looks like Geth just published this change to their docker `stable` tag.

In our unit tests, when calling `estimateGas` without specifying a `from` address in the options, the error is:
[code]

[2020-04-17 04:56] cokia commented on #3475
So should I open an organization called web3-kr?

I may proceed so :)

One of my friend is trying to translate the web3-py document into Korean, and it would be better to gather together and make an organization called web3-kr.

[2020-04-17 11:17] jo-es commented on #3431
@cgewecke I've had issues with sendSignedTransaction not returning a tx receipt as well. I accidentally included the `from` property to the object which I passed to `web3.eth.accounts.signTransaction` and passed that to sendSignedTransaction. I've fixed it by removing the `from` property.

[2020-04-17 16:15] cgewecke commented on #3475
@cokia Yes sounds good. Will you have separate docs domains for the programming languages? eg
+ `https://web3js-kr.readthedocs.io/en/v1.2.6/`
+ `https://web3py-kr.readthedocs.io/en/v1.2.6/`

As @holger suggested, as soon as you start we can add a docs section similar to the one at Solidity with links to translations so people can find & contribute to it.

[2020-04-17 19:31] #3393 closed, assigned to ryanio

[2020-04-17 21:23] cgewecke commented on #3473
Fixed with #3477 via #3468

[2020-04-17 21:23] #3473 closed, assigned to nobody

[2020-04-17 23:24] #3471 closed, assigned to cgewecke

[2020-04-19 17:03] nicos99 opened #3480 "utf-8 encoding error for "min" version of web3.js"
When sending message to contract with a string argument containing unicode chars, using web3.min.js v1.2.6, then the utf-8 encoding is wrong because bytes are swap.

#### Expected behavior
`utf8Contract.methods.setText("price is 10 €").send()` -->
0x5d3a1f9d
0000000000000000000000000000000000000000000000000000000000000020
000000000000000000000000000000000000000000000000000000000000000f
70726963652

[2020-04-20 04:26] bolt-global commented on #3474
I was able to fix the issue. When creating an account using a private key that doesn't have the 0x prefix, the package automatically replaces the 2 first characters of the private key with`00`

For instance,
- if I use `0x3e75d9792c6693391d194327f9bc8435033d4e25e97e143e688eaa6e09ed84a6`, the private key will be passed properly in `privateKeyToAccount` method.
- However, if I pass `3e75d9792c669339

[2020-04-21 06:18] tsujp commented on #3310
Is this not still an issue, unless I am missing something:

Example:

[code]

[code]

[code]

[code]

[2020-04-21 15:31] Alirun commented on #3456
Also happens to me

`.estimateGas` works properly against Infura in Rinkeby and event against Geth node in Mainnet. But same code doesn't work for one smart contract function against Geth in Mainnet.

Specifying all the parameters: `from`, `nonce` and even tried with `gas`

[2020-04-22 05:26] cgewecke commented on #3474
Thanks for reporting this and the fix - that's good to know.

Changes made in #3316 and #3323 will enforce the 0x prefix by default. They're scheduled to be published with 1.2.7.

[2020-04-22 05:26] #3474 closed, assigned to nobody

[2020-04-22 16:38] odanado opened #3483 "A type of web3-eth is incorrect"
When using web3-eth in TypeScript, the type does not match the actual value. This is a problem that also occurs in packages such as web3-eth-contract.

#### Expected behavior
[code]

#### Actual behavior
show `undefined`

#### Steps to reproduce the behavior
reproduce repository
https://github.com/odan-sandbox/web3.js-eth-incorrect-type/blob/master/src/app.spec.ts

Run
- git clone https://github.c

[2020-04-22 16:44] odanado commented on #3483
On this line, `export class Eth` must be changed to `export default class Eth`.
https://github.com/ethereum/web3.js/blob/fab4ce738cf24af0e1b2928025d4683ce5f19553/packages/web3-eth/types/index.d.ts#L64

[2020-04-22 17:36] cgewecke commented on #3483
@odanado This problem affects most of the sub-modules and has been reported in #3215 and #3292. If you're using TS, the best option at the moment is to import Web3 and access everything through that.

I'm going to close this as duplicate unless you have a strong objection because this is something that has broader scope than `web3-eth` and is already under discussion.

[2020-04-22 17:36] #3483 closed, assigned to nobody

[2020-04-23 06:11] beginnerJq commented on #3145
I have same problem, is there any progress?

[2020-04-23 08:05] Walker0125 commented on #3371
same errors (Windows 10/Node 12.13.0). any progress for this issue?

[2020-04-23 16:33] odanado commented on #3483
OK, Thank you.
In my use case, I was trying to mock Eth on `web3-eth` using `jest`. The way to mock `web3` is cumbersome because the objects are nested.

[2020-04-23 18:32] cgewecke commented on #3483
@odanado Ah I see - thanks for raising that use-case. Good to know.

[2020-04-23 23:41] alcuadrado opened #3484 "Removing ethers from the dependencies"
As we discussed yesterday, having ethers as a dependency in web3.js makes npm stats worthless, and we should remove it asap.

I'm inclined to vendor the part of ethers that web3 uses for now, as it's a low effort way of solving it, release a patch version, and then analyze if an ethers v5 package can be used.

As I already mentioned, keep in mind that a change like this one takes some time to mani

[2020-04-24 04:58] ricmoo commented on #3484
The package you will be interested in is `@ethersproject/abi`. There may be some issues revolving around invalid UTF-8 strings though. I can add a function similar to the coerceFunc to handle errors, so that errors can be recovered from, since I think web3 lets invalid data through. I'll tinker with ideas for this API.

[2020-04-24 08:08] cgewecke commented on #3484
cf: #3461 / #3441 / #1610

[2020-04-24 15:54] tayler-king commented on #1965
This is still an issue, even with #3190. I am currently on `1.2.7-rc.0` and still receiving this same issue with Infura ropsten websocket.

[2020-04-24 16:06] cgewecke commented on #1965
@kondax Could you share your provider configuration? Have you enabled auto-reconnect?

The relevant section in the 1.2.7-rc.0 docs is [here][1]

[1]: https://web3js.readthedocs.io/en/v1.2.7-rc.0/web3-eth.html#configuration

[2020-04-24 16:16] tayler-king commented on #1965
I haven't configured the provider apart from supplying a connection URL. Apologies, I wasn't aware of the reconnect option in 1.2.7-rc.0. I will try that now and update you if I see the error occur again.

[2020-04-24 16:20] cgewecke commented on #1965
@Kondax Awesome, thank you. This feature is a little tricky to test here since it's network contingent.

Would welcome any feedback about how it performs in the real world 🙂

Please feel free to open a new issue if you're still seeing drops.

[2020-04-25 01:17] ricmoo commented on #3484
For discussion on the ABI Coder and possible solutions: https://github.com/ethers-io/ethers.js/issues/800

[2020-04-25 17:31] cgewecke commented on #3370
@wbt Closing in favor of #3425 which has a PR associated with it. Hope that's ok, please ping if you feel there's something in this issue that isn't encompassed by that ticket.

[2020-04-25 17:31] #3370 closed, assigned to nobody

[2020-04-25 17:36] cgewecke commented on #3434
Thanks for raising this @andrej-zirko.

Closing for now.  I don't think Web3 can realistically provide support for this as a built-in feature - it's something that needs to be developed one layer out from here.

[2020-04-25 17:36] #3434 closed, assigned to nobody

[2020-04-25 17:38] #3386 closed, assigned to nobody

[2020-04-25 17:42] cgewecke commented on #3435
@barakman Going to close because latest version supports revert with reason as an option. Please just ping if you feel like this should stay open and concrete steps to change default behavior should be taken here.

[2020-04-26 02:30] wanseob commented on #3475
@cokia Hey Wu, Please let me know if you need any help with the translation. I'll connect you to the Korean Ethereum translator group who've worked for ethereum.org localization project!

[2020-04-26 03:54] cgewecke opened #3485 "Websocket Provider "error" and "end" events not fired when client disconnects"
As reported by @hfa0  in #3190 [comment][1], 1.2.7 introduces a bug where "error" and "end" listeners directly attached to the Websocket provider aren't firing as expected on close.

Subscriptions and events **do** have their error handlers fired, and pending requests should also error correctly.

[code]

The "close" event contains an object lots of information about what happened fwiw:
[code]

[1

[2020-04-27 00:32] wbt commented on #3425
As an FYI: With the error lacking any particular code to check on, we and probably others are checking for a string match and when the error message changes to something more informative, that change will probably break our ability to handle it robustly (mainly by waiting a bit and trying again).  We will need to coordinate code changes around the time of upgrade to adjust for that breaking change

[2020-04-27 07:23] cgewecke commented on #3485
Re-opening for visibility. (Not sure how widely used the provider.on('error') pattern is and `.on('close')` is a reasonable work-around if a patch is a needed asap).

[2020-04-28 11:38] VladoDemcak opened #3491 "WebSocket reconnect - ws provider will miss some events."
Web3 v1.2.7

We are testing new web3 reconnect feature which has been added in v1.2.7. It works fine but there is one problem we have found.

**Setup.** WS provider with `auto reconnect = true` and `3sec delay`.
1. We send events 1,2,3,4
2. close WS, now wait delay 3 sec for reconnect
3. Within the delay gap - let's send events 5 and 6
4. WS will reconnect after 3 sec delay and start subscription

[2020-04-28 12:58] Angel200O opened #3492 "WebSocket reconnect doesn't throw error on maxAttempts"
#### Expected behavior
An error should be thrown when the max attempts is reached while reconnecting. Next time a method gets called that requires this connection then it should try to reconnect again.
#### Actual behavior
WebSocket continues to try to reconnect until it succeeds. This only happens after the initial connection is successful. When the initial connection fails then the reconnection

[2020-04-28 13:11] evertonfraga commented on #3439
Regression of: https://github.com/ethereum/web3.js/issues/1847

[2020-04-28 16:49] cgewecke commented on #3492
@angel200sdnot Thanks for reporting. Will investigate

We have a some tests that seem to cover the case you describe but we need to look at the interaction with `delay` and `timeout` more closely. And make sure the error is propagating to methods, etc..

+ [basic check of max reconnections hit error][1]

[1]: https://github.com/ethereum/web3.js/blob/c5fe8cfca75165bb0e8415d66dc98fba765ffc37/test/we

[2020-04-28 16:56] cgewecke commented on #3439
@evertonfraga Do you have any ideas about how to address this? The current state of the code flagged here as the source of the error is meant to be a fix (applied in [#1565/files][1])

[1]: https://github.com/ethereum/web3.js/pull/1565/files

[2020-04-28 17:00] cgewecke commented on #3491
@VladoDemcak Ah interesting, that makes sense. Will look into this.

[2020-04-28 17:36] evertonfraga commented on #3439
@cgewecke that `try/catch` only tackles one `Function()`, and might have even fixed the code at that point.

I believe there might be other occurrences of `eval()` or `Function()` in the code, introduced by any other dependency. I am looking into it now, will report.

[2020-04-28 20:22] VladoDemcak commented on #3491
@cgewecke Thanks. I had few minutes to play with this.

Honestly I didn't have time to  analyze `web3-core-subscription` but I wanted to try to add a checkpoint for reconnection.  You can look at my PR https://github.com/ethereum/web3.js/pull/3493/files

I tried to run web3 mocha tests.  Result: `2731 passing (1m) 1 pending`. so maybe the "fix" caused the test failure.
if u will need any help plea

[2020-04-28 20:50] Welziewagers2015 commented on #3491
I ran it a few times myself passing on my end.

On Tue, Apr 28, 2020, 4:23 PM VladoDemcak <notifications@github.com> wrote:

[2020-04-29 04:53] cgewecke commented on #3492
@angel200sdnot Have opened #3494 to address this. If you have a chance, could you look at the tests added there and see if they model your expectations?

In the issue description you say:

At present, an error is emitted for the provider when max attempts is reached. You can listen for it by attaching a handler on the provider as shown here:

https://github.com/ethereum/web3.js/blob/bcf248f895fe14

[2020-04-29 13:55] Angel200O commented on #3492
@cgewecke This is what i currently have in place for reconnecting using `web3@1.2.6`
[code]
With `web3@1.2.7` i was expecting to be able to do the same by using
[code]

In my opinion this doesn't seem correct because in that case i would need to keep handling the error and reconnecting manually.

Perhaps i am looking at this the wrong way and i should be handling this differently, do you have any

[2020-04-29 14:47] Angel200O commented on #3492
I tested my code by disconnecting my internet for a couple of minutes and then reconnecting and `getTransactionReceipt` seems to be working fine without the error handling. I did that reconnection logic because i was working under the assumption that the WebsocketProvider connection closes after being idle but now i'm not sure if thats true (i had `connection not open` error when fetching transact

[2020-04-29 17:18] cgewecke commented on #3492
@angel200sdnot Ah, the idea of max attempts is that it's like running your initial code in a loop, where max attempts is the upper bound. There *is* a bug...I think #3494 will resolve this though.

Thanks so much.

[2020-04-29 17:39] x5engine commented on #2654
real solution
https://ethereum.stackexchange.com/questions/70853/the-method-eth-sendtransaction-does-not-exist-is-not-available-on-infura

nothing to do with infura!

[2020-04-29 19:10] #3358 closed, assigned to nobody

[2020-04-30 04:16] cgewecke opened #3496 "Fix TS promise error types in web3-eth"
The pattern used in that file looks like:

https://github.com/ethereum/web3.js/blob/3e10668745ddbff8c785351f36754343ec680acf/packages/web3-eth/types/index.d.ts#L295-L298

This passes Web3's types tests but as reported in comment [#3248 comment][1], TS complains when making an assignment like:
[code]

There's a guide to defining Promise error types [here][2].

[1]: https://github.com/ethereum/web3.

[2020-04-30 16:17] x5engine commented on #1869
Guys guys you know what?

The solution: use the private key without the "0x" prefix in the environment..
then it works..

[2020-05-02 10:51] icervot commented on #2091
Added localhost and 127.0.0.1 in metamask but still returns empty array.
Unless https is required, I don't know what it is.

[2020-05-03 09:56] maxprof commented on #3485
I got the same error on 1.2.7

[2020-05-04 03:41] jellydn commented on #3079
This is a workaround if you run into this issue. Setup an `postinstall` with below script then it should work.

[code]

[code]

[2020-05-04 22:32] miohtama opened #3498 "More helpful error message instead of Failed to subscribe to new newBlockHeaders"
#### Expected behavior

When `await web3.eth.send()` result, a timeout error gives a helpful error message.

It could say, for example,

`web3.js waited the transaction for the configured X seconds. However the transaction was not confirmed before the deadline. The transaction receipt waiting process was aborted, but the transaction might be still confirmed. If you wait for longer, you can configu

[2020-05-05 16:38] pseudonaut commented on #2368
Error is still occuring for me as well on web3 1.2.6 using web3.eth.abi.decodeLog()...

0: "17"
1: "40736905663348235180449726993715947561663541068933497753637381325270891332134"
2: "1000000000000000000000"
3: "0x0000000000000000000000000000000000000011"
4: "0x6B175474E89094C44Da98b954EedeAC495271d0F"
5: "1250"
6: "5"
7: "1591287895"
8: "0"
9: "0"
__length__: 10
_amount: "1000000000000000000000"
_

[2020-05-05 16:45] #3380 closed, assigned to nobody

[2020-05-05 17:10] #3335 closed, assigned to nobody

[2020-05-05 17:22] wbt commented on #3371
This issue [was fixed](https://github.com/theturtle32/WebSocket-Node/issues/375) in Websocket 1.0.31, but web3's fork did not keep up with that change.

[2020-05-05 18:47] pseudonaut commented on #2368
I fixed above error by adjusting the order of logs sent into the decodeLog in 3rd param:

result.logs[0].topics[1],
result.logs[0].topics[2],
result.logs[0].topics[3],
result.logs[0].topics[0]

[2020-05-05 19:19] sirpy opened #3500 "Websocket events are not emitted correctly"
return is premature before calling super.onClose, so anyone subscribing to events will not get them.
same is true for the onError
https://github.com/ethereum/web3.js/blob/2ce573b65abd2f3c78d648b1d70f9a273e922e8c/packages/web3-providers/src/providers/WebsocketProvider.js#L78

[2020-05-06 08:33] chim4us commented on #3255
Hi Mknycha,

I also face the error while am trying to deploy. a contract through truffle

FAVORs-MacBook-Pro:inbox favor$ ls -lrt
FAVORs-MacBook-Pro:inbox favor$ node deploy.js
Trying to deploy our contract 0x2D7dc97AC04dd7d3871dA631afaF78F0c9d720bF
(node:6866) UnhandledPromiseRejectionWarning: Error: Failed to check for transaction receipt:
{}
    at Object._fireError (/Users/favor/Documents/inbo

[2020-05-06 11:39] FCO commented on #2039
any update about this?

[2020-05-06 16:44] Conviley commented on #2152
@chicobermuda I also have this problem. Have you managed to overcome this? If so, could you shed some light on this? Thanks!

**UPDATE** I found my problem. I use Infura and i am getting rate limited

[2020-05-06 17:05] DanielHH commented on #3145
I share this problem with you and I am suspecting it's a problem with infura. If you are sending multiple requests in a short time frame, you will get rate limited. To determine if this is the case you can go into this file `node_modules\web3-core-method\src\index.js:261:23` and add a `console.log(err)`.
[code]
If you then get `Error: project ID request rate exceeded` in your terminal, this is it.

[2020-05-06 18:59] cgewecke opened #3503 "Write GH Actions "allowed failure" reporter"
There are 3 CI jobs marked `continue-on-error` which always pass.

Would be nice if there was an additional cue in the UI about whether they failed or not.

[2020-05-07 00:16] #3484 closed, assigned to nobody

[2020-05-07 00:29] #3492 closed, assigned to cgewecke

[2020-05-07 17:08] #3392 closed, assigned to nobody

[2020-05-07 18:40] #3496 closed, assigned to nobody

[2020-05-07 18:51] #3491 closed, assigned to nobody

[2020-05-08 11:59] vsleibenko opened #3508 "Websocket Provider's btoa helper's context [browser only]"
#### Expected behavior
I can connect via Websocket Provider using url with credentials 'wss://USERNAME:PASSWORD@WSS_ENDPOINT'

#### Actual behavior
Received TypeError: Illegal invocation

Seems like 'btoa' `this` isn't pointing to Window object as it should but to WebsocketProvider's object

NOTE: Binding 'btoa' to Window object in 'helpers.js' solves the issue
`_btoa = btoa.bind(window);`  (web3-

[2020-05-08 16:02] #3508 closed, assigned to nobody

[2020-05-09 06:53] shivan4030 commented on #2376
@vongohren  what does it mean when you say use 36 ? base 36??

[2020-05-09 08:59] vongohren commented on #2376
@shivan4030 I think that was that I was using release: web3.js 1.0.0-beta.36

[2020-05-10 20:11] MaxXor commented on #1960
+1 getting the same error when trying to get a block by the block number. BigNumber doesn't make a difference.

[2020-05-11 07:27] youngkidwarrior commented on #3044
@nivida The issue im facing now is getting react native to run on the latest version of Web3

[2020-05-11 10:37] MaxXor opened #3512 "eth.getBlock fails with "Number can only safely store up to 53 bits""
#### Expected behavior

Get the block.

#### Actual behavior

Error "Number can only safely store up to 53 bits"

#### Example code

[code]

Ethereum Studio example: https://studio.ethereum.org/5eb924ed26b4730012351a47?openFile=app/app.js Lines (133-145)

#### Steps to reproduce the behavior

1. Load the Ethereum Studio example
2. Deploy the contract
3. See the error in console log

#### Environme

[2020-05-11 14:49] cgewecke commented on #3512
@MaxXor

Are you using the Quorum blockchain or another EVM based fork? If so, the solution is to use a Web3.js extension library like [jpmorganchase/quorum.js][1].

(Possible duplicate of #3442)

[1]: https://github.com/jpmorganchase/quorum.js

[2020-05-11 15:00] MaxXor commented on #3512
Thanks for the reply, I don't use Quorum. I've [linked](https://studio.ethereum.org/5eb924ed26b4730012351a47?openFile=app/app.js) a small example in Ethereum Studio, it's only slightly modified version of the hello-world app there, but demonstrates the problem.

I've seen similar issues here (such as https://github.com/ethereum/web3.js/issues/1960 or https://github.com/ethereum/web3.js/issues/1905

[2020-05-11 15:40] MaxXor commented on #3512
[das](url)

[2020-05-11 16:08] cgewecke commented on #3512
@MaxXor From what I can see superblocks/ethereum-studio is [using a custom client][1]. It might be worthwhile to open this issue over there. We run a large set of tests here against
+ ganache development client
+ geth development client
+ ethereum mainnet

They all work.

[1]: https://github.com/SuperblocksHQ/ethereum-studio/tree/db35a5bc819bed1428972d0d31c91ea6965cec69/packages/editor/src/service

[2020-05-11 16:08] #3512 closed, assigned to nobody

[2020-05-11 17:34] ryanio commented on #3044
@youngkidwarrior can you share some more information about what errors you're getting with the latest version of web3.js? thanks!

[2020-05-11 21:09] MartinWeise commented on #1194
Is there any progress made so far? BR

[2020-05-12 10:15] miohtama commented on #3498
For the added bonus, I would recommend adding a number of blocks or seconds the transaction was waiting before timing out in the error message.

[2020-05-12 10:58] miohtama opened #3513 "transactionPollingTimeout might not work as documented"
#### Expected behavior

Setting web3.eth.transactionPollingTimeout to a value changees the trasnaction polling timeout.

#### Actual behavior

`await contract.methods.myMethod.send()` still uses the default 750 seconds value.

#### Steps to reproduce the behavior

Trying to change the behavior using the following code.

[code]

... does not seem to work as in here...

https://github.com/ethereum/w

[2020-05-12 14:54] cgewecke commented on #3513
@miohtama

Thanks for reporting, will investigate. Scanning [the code in web3-eth][1], it's possible this isn't wired up correctly.

(related: #3498)

[1]: https://github.com/ethereum/web3.js/blob/2a5c5cb740ee8962846ac9d5416e6b8cc2e7d95d/packages/web3-eth/src/index.js#L174-L190

[2020-05-12 15:09] developer2belfrics opened #3514 "Ethereum token subscribe exception"
I am subscribing to the token with parameter start block and end block (200 block subscribing each time). I am creating a cron job for each token at the runtime. I have 10 tokens in my application. I built this approach to subscribe each token separately but when more than one token runs at the same time. I am getting the below exception,

2020-05-12 18:00:21.369 ERROR 16194 --- [pool-3-thread-2]

[2020-05-12 15:15] cgewecke commented on #3514
@developer2belfrics

This repository is for `web3.js` (javascript).

From your stacktrace, it looks like you're using [web3.j, the java lang repo][1]. Do you want to close here and re-open there?

[1]: https://github.com/web3j/web3j

[2020-05-12 15:47] yehia67 opened #3515 "How to fetch created address from transaction hash"
Hello,
I am creating a private blockchain and use[ ethereum-lite-explorer]( https://github.com/Alethio/ethereum-lite-explorer)  to see the transactions. I need to deploy a smart contract and get his address. The deployment is done successfully but I get the address manually from ethereum-lite-explorer. I tried to use `web3.eth.getTransaction` but it didn't return the newly created address.

My cod

[2020-05-12 15:59] cgewecke commented on #3515
Hi @yehia67

[web3.eth.getTransactionReceipt][1] fetches the receipt for a transaction hash. The receipt has a `contactAddress` field filled in if the tx was a deployment.

Closing because addressed by existing documentation.

[1]: https://web3js.readthedocs.io/en/v1.2.7/web3-eth.html#gettransactionreceipt

[2020-05-12 15:59] #3515 closed, assigned to nobody

[2020-05-12 16:06] yehia67 commented on #3515
@cgewecke  I tried to use it but it return null.

[2020-05-12 16:07] yehia67 commented on #3515
@cgewecke  I tried to use it but it return null.

[2020-05-12 16:11] cgewecke commented on #3515
@yehia67

Are you waiting until after the transaction is mined to fetch the receipt?

[2020-05-12 16:45] cgewecke commented on #3514
Closing: duplicate issue in relevant repo [here][1]

[1]: https://github.com/web3j/web3j/issues/1209

[2020-05-12 16:45] #3514 closed, assigned to nobody

[2020-05-12 17:49] yehia67 commented on #3515
I use await
` const transaction = await web3.eth.getTransactionReceipt(sendSignedTransaction.result); `

[2020-05-12 18:08] yehia67 commented on #3515
It works!
when I used setTimout to wait for 3 seconds then used `getTransactionReceipt`.

Is it possible to use event?

I use hyperledger BESU. They don't accept `sendTransaction` so I had to make an API call to the blockchain    `const sendSignedTransaction = await curlCall.execute(request,URL); ` is there any way better way than making a delay to wait till the transaction is mined?

[2020-05-12 18:37] Sharmilinukapeyi opened #3516 "TypeError: Cannot read property 'registerPatient' of undefined. Please help"
my code is as follows
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

<script src="https://code.jquery.com/jquery-3.3.1.min.js""></script>
    <script type="text/javascript">
 window.ethereum.enable();
 window.addEventListener('load', function () {
 window.web3 = new Web3(window.web3.currentProvider);
        })

var abi=[];
var contractaddress ='0x25b78d5ea0ebeb1fc21cfb030905fef6bade1ef

[2020-05-12 19:00] cgewecke commented on #3515
@yehia67 [web3.eth.sendSignedTransaction][1] resolves the receipt when the tx is mined. There are usage examples in [the integration tests, here][2].

[1]: https://web3js.readthedocs.io/en/v1.2.7/web3-eth.html#sendsignedtransaction
[2]: https://github.com/ethereum/web3.js/blob/1.x/test/e2e.method.signing.js

[2020-05-12 19:57] cgewecke commented on #3516
@Sharmilinukapeyi

The [MetaMask docs][1] have some resources for building a basic Dapp which interacts with their wallet which you might find helpful.

Web3 1.x is available via CDN:
[code]

MetaMask's provider can be passed to the Web3 constructor
[code]

There's lots of [additional documentation about how to use Web3 here][2]

(Closing because this is a general support question).

[1]: https://

[2020-05-12 19:57] #3516 closed, assigned to nobody

[2020-05-12 20:07] yehia67 commented on #3515
It works!
Thank you very much😁

[2020-05-13 06:37] Sharmilinukapeyi commented on #3516
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.2.7/dist/web3.min.js">
by adding this nothing is commiing. please clarify

[2020-05-13 16:33] cgewecke commented on #3516
@Sharmilinukapeyi Just checked the link by visiting the address directly and it works (e.g. I can the minified text in the browser window).

[2020-05-14 03:06] pluswave commented on #2677
seems web3-eth-abi can be used directly.

[code]

[2020-05-14 06:45] Sharmilinukapeyi commented on #3516
I checked all. I am creating contract n i am able to access and see balances of all accounts of metamask . but when i try to access methods of remix injected web3 .sol file contract methods i am getting the error "Cannot read property 'registerPatient' of undefined". Where i am doing mistake i unable to know. please clarify

[2020-05-14 14:05] AanshSavla commented on #2412
This problem is because the dapps and metamask have stopped exposing user accounts by default on web page.
Just use 'ethereum.enable()' as first line of your javascript code.
It worked for me.

[2020-05-14 14:10] AanshSavla commented on #2091
This problem is because the dapps and metamask have stopped exposing user accounts by default on web page.
Just use 'ethereum.enable()' as first line of your javascript code.
It worked for me.

[2020-05-14 18:48] cgewecke opened #3520 "Revert reason missing when using geth 1.9.14"
cf: [geth 21082][1]

[1]: https://github.com/ethereum/go-ethereum/issues/21082

In geth 1.9.14 no data is returned when replaying failing transactions with `eth_call` which means Web3 cannot extract the reason.

There's a reproduction case at: https://github.com/cgewecke/geth-revert-reason-repro

[2020-05-14 22:08] cgewecke commented on #3520
Related: [geth PR 21083][1], which would format reverting `eth_call` responses as below:
[code]

[1]: https://github.com/ethereum/go-ethereum/pull/21083

[2020-05-16 01:32] cokia commented on #3339
As for number 1, I'll take a little test and post a comment below.

2. I think there is no problem that web3.js are incompatible because deno is not much different from nodejs.

3. deno calls the package like a CDN import, so users can just enter web3.js' GitHub address.
(ex: import 'web3' from 'https://github.com/ethereum/web3.js')

[2020-05-16 09:48] odanado opened #3523 "`account.hashMessage` is incorrect with non-ASCII characters"
#### Expected behavior
[code]

#### Actual behavior
The two hash values should be the same.

I think you should use `web3.utils.utf8ToHex` on this line.
https://github.com/ethereum/web3.js/blob/4ec98d48096007b113d38f634243cf99df6702cd/packages/web3-eth-accounts/src/index.js#L296

#### Steps to reproduce the behavior

1. `git clone https://github.com/odan-sandbox/eth-ecRecover-compare`
2. `yarn ins

[2020-05-18 04:49] MonarthS opened #3524 "web3 & go-ethereum generating different signature for same message & private key."
Trying to generate signature using web3:
[code]

Trying to generate signature using go-ethereum:
[code]
#### Expected behavior
Signature should be same in web3 & go-ethereum.

#### Actual behavior
web3 & go-ethereum generating different signature for same message & private key.

#### Logs
The messageHash which is generated by web3 & go-ethereum are different.

web3:
[code]

go-ethereum:
[code]
###

[2020-05-18 12:03] MonarthS commented on #3524
Solve signature problem by adding `\x19Ethereum Signed Message:\n` as prefix of message in go-ethereum.

[2020-05-18 12:03] #3524 closed, assigned to nobody

[2020-05-19 05:17] sssubik commented on #1741
@tsujp @nivida Hey Is the issue over? What is the solution for having correct nonce while sending a transaction.?

[2020-05-19 11:41] tsujp commented on #1741
I don't use Web3 anymore I use Ethers.js now and I also defer that stuff to Metamask as Ethers.js has some edge patch to fix this too which I haven't used yet. Concerning Web3, I believe it has some edge version, likely `2.0.0-alpha.1` or whatever the tag is called which has this fixed, sorry I cannot give you anymore at this time.

[2020-05-19 16:10] cokia commented on #3523
I found the same problem as you, and the solution you suggested works!

(I tested at ubuntu 18.04 / OSX 10.15.4 and node version is 13.5.0)

[2020-05-19 18:25] ryanio commented on #3480
hey @nicos99, thanks for reporting this issue.

I was able to successfully reproduce that there is some problems in `web3.js` with non-ASCII characters with your test sol contract and html file, thanks for including those. I was able to reproduce in in both `web3.js.min` versions `1.2.6` and `1.2.7`. I saw the problems with the `€` character, and also setting any emojis led to different ones being

[2020-05-19 20:37] nicos99 commented on #3480
Thank-you @ryanio  for your investigation. I confirm that this bug is likely fixed in version `1.2.8-rc.1` as I see no encoding error anymore using some accented and emoji characters.

By the way I noticed that the behavior of the UTF-8 decoding string has changed : now I get an error from `utf8Contract.methods.text().call()` if input string is invalid (due to the bug for instance) instead of sile

[2020-05-19 21:49] ryanio commented on #3480
great!

yes that is our expected behavior now with the ethers v5 abicoder :) although @ricmoo did add a way to bypass bad data in https://github.com/ethers-io/ethers.js/issues/800 if you were interested in that.

[2020-05-20 05:26] barakman commented on #3435
@cgewecke:
This issue persists on Etherscan.
Do you think that this is because they are not setting `web3.eth.handleRevert = true;`?

[2020-05-20 10:08] chriseth commented on #3435
@cgewecke I'm a bit confused by this issue. Whether or not a smart contract is executed via `eth_call` or `eth_sendTransaction` is not detectable from inside the smart contract. Both `view` and even `pure` functions can revert, because at the EVM level, any call can cause a failure.

This worries me that web3.js might detect failure from the return data and not from a special flag returned by the

[2020-05-20 12:05] netoneko commented on #2077
The best way to mitigate it that I found was to do something like this:

[code]

When you pass `numAsHex` to the contract method, it will be treated as `uint256`.

[2020-05-20 13:16] cgewecke commented on #3435
@chriseth @barakman.

This looks client dependent and things are in flux. Until geth 1.9.14, executing  `eth_call` on a method which reverts with reason *or* returns `uint` would get these responses (for example):

**Revert**
[code]
**Success**
[code]

In geth 1.9.14, the revert case returns
[code]

And there is an open PR at [geth 21083][1] to make the error explicit.

The issue is reported and d

[2020-05-20 13:27] barakman commented on #3435
@cgewecke : Thank you for your quick response.

1. Does this mean that even v1.2.6 users are expected to see this (i.e., setting the new property `web3.eth.handleRevert` is not going to resolve the problem for them)?

2. Does it also explain why I've managed to reproduce this problem on Etherscan, as well as directly via a public Infura node, but not on Ganache?

[2020-05-20 13:43] cgewecke commented on #3435
@barakman I believe the following holds:

| handleRevert | geth <= 1.9.13 | geth 1.9.14 |
| ----- | ---- | -----|
| true | revert error + reason | revert error |
| false | "value" | abi encoding error |

So it will depend on what nodes the remote services are running. Parity has always reported this case as an error fwiw... see [geth 19027][1]

(Related: #3520)

[1]: https://github.com/ethereum/go

[2020-05-20 14:13] barakman commented on #3435
@cgewecke:

In that case, I am rather puzzled by how come it works correctly when using:
- Web3.js 0.20.6 (indirectly via Truffle 4.1.6)
- Ganache-cli 6.7.0

And by *correctly* I mean, not only does it revert, but it also shows the revert-message.
Perhaps Truffle is somehow in charge of that, but I don't quite see how...

[2020-05-20 14:45] cgewecke commented on #3435
@barakman

Yes, ganache-cli has it's own implementation.

If you run with this option it may emulate Geth more closely.
[code]

[2020-05-20 15:31] stimka opened #3527 "Cannot read property 'size' of undefined"
const web3ws = new Web3(new Web3.providers.WebsocketProvider('ws://localhost:63116'));
    await web3ws.eth.subscribe('newBlockHeaders');
    await web3ws.eth.clearSubscriptions();
Get following error:
`Cannot read property 'size' of undefined`
`at Eth.RequestManager.clearSubscriptions (node_modules/web3-core-requestmanager/src/index.js:266:28)`

web3 1.2.7
ts-node 8.7.0
node 10.18.0

[2020-05-20 16:23] barakman commented on #3435
@cgewecke:

And with regards to:

Does that imply that my initial analysis from the top of this thread ("My analysis is that this is a bug in either Web3 or Infura") is more or less accurate, and this is indeed a problem which must be resolved in both places?

Thanks

BTW, as per your `noVMErrorsOnRPCResponse` suggestion, the function execution has completed successfully (even though it should hav

[2020-05-20 16:43] cgewecke commented on #3435
@barakman

Yes, it's a little open to interpretation. The client (or Infura) should error and it looks like that's being addressed.

We're waiting for the additional changes in [geth 21083][1] to finalize handling at Web3.

[1]: https://github.com/ethereum/go-ethereum/pull/21083

[2020-05-20 19:36] ryanio commented on #3503
one idea could be to split up the ci script into smaller steps so the `continue-on-error` property can be moved to only the part of the expected failure, so if it fails before that we will get a red x.

[2020-05-20 19:40] cgewecke commented on #3503
@ryanio We would get a red x but CI would allow merging? That's all that's necessary really...

[2020-05-20 21:57] cgewecke commented on #3485
Fixed in 1.2.8

[2020-05-20 21:57] #3485 closed, assigned to nobody

[2020-05-20 21:58] cgewecke commented on #3480
Fixed in 1.2.8, thanks @nicos99.

[2020-05-20 21:58] #3480 closed, assigned to nobody

[2020-05-20 22:06] cgewecke commented on #3251
We're seeing Web3 1.2.8 install, run a webpack production build, and execute correctly on [gnosis/dex-react][1].

Going to close this but if someone has a simple reproduction case (e.g a repo with clear reproduction steps please just ping and will investigate further.)

[1]: https://github.com/gnosis/dex-react/blob/develop/webpack.config.babel.js

[2020-05-20 22:06] #3251 closed, assigned to nobody

[2020-05-20 22:11] cgewecke commented on #3227
Closing in favor of #3442

[2020-05-20 22:11] #3227 closed, assigned to nobody

[2020-05-20 22:13] cgewecke commented on #3098
This is mostly done..

[2020-05-20 22:13] #3098 closed, assigned to nobody

[2020-05-20 22:17] cgewecke commented on #3074
We now test every PR by publishing a simple site that uses web3.min.js at:

http://sudden-playground.surge.sh/

The CDN should work without issue, please ping if anyone's still seeing this.

[2020-05-20 22:17] #3074 closed, assigned to nobody

[2020-05-20 22:24] cgewecke commented on #2881
We think duplicate events are resolved with the Websockets rewrite in Web3 1.2.7. If anyone continues to see this, please ping.

[2020-05-20 23:28] cgewecke opened #3528 "Add CI and testing documentation"
As discussed w/ @ryanio, it would be helpful to have a good description of *what* tests we have, what their design intent is, and how they're supposed to behave.

[2020-05-20 23:35] cgewecke opened #3529 "Add gnosis/dex-react as an E2E target"
We've used this a couple times to sanity check releases and it's a really good test for:
+ react
+ webpack production build
+ real-world typescript compilation

Also includes ~200 unit tests run w/ jest. Would be an 'allowed failure'

[2020-05-21 22:32] cgewecke commented on #3498
@miohtama

Do you think this might be a variant of the bug described in #3432? As you note, your provider is `https` and it shouldn't be subscribing to anything.

However, it's possible WalletConnect has its own EventEmitter-like interface which Web3 is getting confused by.

If so:
+ this bug should get fixed with #3517
+ there is a work-around described in #3432 that might work for your case

[2020-05-21 22:55] cgewecke commented on #3513
@miohtama I've tried to reproduce this in #3533 but things seem to be working as expected.

Have a couple questions...

+ Is the provider being passed to Web3 definitely `http(s)`?
+ What error do you see when the timeout occurs?
+ If you have a chance, could you look the tests in #3533 and see if they model your case correctly?

Of necessity they set the polling timeout threshold *lower* than the

[2020-05-22 03:34] #3371 closed, assigned to cgewecke

[2020-05-22 03:52] #3503 closed, assigned to ryanio

[2020-05-22 04:05] #3432 closed, assigned to nobody

[2020-05-22 04:16] #3523 closed, assigned to nobody

[2020-05-22 16:57] cgewecke opened #3535 "Deprecate @web3-js/websocket package on npm"
cf: #3534

Tracking issue for ^^^ to remind us to do this when 1.2.9 is published with #3534.

[2020-05-22 17:17] Artazor commented on #2048
Looks like you've faced network reorgs -), it is correct behaviour. compare their hashes. these blocks are different. and even they may have different histories (parentHash), and even deeper -)

[2020-05-22 21:51] hbarcelos opened #3537 "getPastEvents does not return event, raw and returnValues [intermittent, Kovan]"
#### Expected behavior

`getPastEvents` should return the values of `event`, `raw` and `returnValues` every time.

#### Actual behavior

The behavior is inconsistent. Sometimes the data is not returned and looks like this:
![dev-tools](https://user-images.githubusercontent.com/16565602/82711262-3ac27180-9c5b-11ea-88e9-2f9668df38aa.png)

If I refresh the page, it starts working again.

#### Steps t

[2020-05-22 22:27] cgewecke commented on #3537
@hbarcelos

This issue could be specific to the Parity / OpenEthereum client.  Web3's getPastEvents is [a simple wrapper][1] for the `eth_getLogs` RPC endpoint and there are [open issues][2] about this at Parity which look relevant, including one about occasional getLogs failures when using filters.

[1]: https://github.com/ethereum/web3.js/blob/53e4cab7dd1c5b12d161ee40b488f48adf3e86bf/packages/we

[2020-05-23 01:40] #3527 closed, assigned to nobody

[2020-05-23 11:25] pepoospina opened #3538 ""coder.coders undefined" (Cannot read property 'forEach' of undefined)"
#### Expected behavior
Properties of internal objects of the library should not be `undefined`.

#### Actual behavior
The `coders` property of the `coder` variable is `undefined`

#### Steps to reproduce the behavior
I can't create a simple repo to reproduce it. I can only tell you that the [only thing](https://github.com/uprtcl/js-uprtcl/commit/18f6147c9b8fc9ecfb6bc02e7660508fdca052cd) I changed

[2020-05-23 17:37] cgewecke commented on #3538
@pepoospina

Can you share the function signature of the Solidity method you're calling and any relevant data type definitions so we can reproduce and fix?

[2020-05-23 22:48] nogo10 commented on #1916
Same error when using solidity version ^0.6.0;
I noticed that some of  solc 0.6.x breaking changes involves ABI: "ABI: Remove the deprecated constant and payable fields." and "The type field is now required and no longer specified to default to function."

I did a dump of my ABI from upgrade to 0.6.x (below) and similar dump from 0.5.x: ```Constant``` is deprecated maybe that's the problem (?)

[c

[2020-05-25 14:20] malaak-habashy commented on #3538
I encountered the same issue

online example of the issue and the code I wrote. in the link below:
https://malaak-habashy.github.io/

I also asked about this issue on stackoverflow
https://stackoverflow.com/questions/61973747/how-to-send-an-array-of-structs-from-web3js-to-solidity-contract

[2020-05-25 19:28] ryanio commented on #3538
Hey guys, thanks for reporting, I was able to recreate the issue by adding a test for an array of tuples to  `test/abi.encodeParameter.js` e.g.:

[code]

I will work on a PR to fix this. edit: see #3541

[2020-05-26 03:40] JoseMiguelHerrera commented on #2881
@cgewecke I have an older application  (last using 1.0.0-beta.37), where this problem was very apparent. I'm updating it now, with v1.2.8, and unfortunately I'm still getting multiple firings for events.

I'm connecting via websocket provider to  geth 1.9.9-stable

[2020-05-26 04:59] cgewecke commented on #2881
@JoseMiguelHerrera Do you have any tips for how to reproduce? Is there a recognizable pattern in your case?

[2020-05-26 12:59] miohtama commented on #3498
99% of WalletConnect enabled websites are using Infura over HTTPS today, so I think that's where the issue comes from.

Also the underlying issue is that web3.js tries to do too much itself - currently it is a black box how the waiting of a receipt works with `await`. I would be more brutal and just not do it at all in web3.js. Only support one interface like `on` and then let the clients do a pol

[2020-05-26 14:31] cgewecke commented on #3498
@miohtama Ok thanks.

Agree, the `web3-core-methods` module is probably the single thing most in need of rationalization / simplification in this project.

[2020-05-26 21:07] DanTup opened #3542 "handleRevert is missing from TypeScript bindings"
The `handleRevert` property seems to available in a few places:

- https://web3js.readthedocs.io/en/v1.2.8/web3-eth.html?highlight=handleRevert#handlerevert
- https://web3js.readthedocs.io/en/v1.2.8/web3-eth-contract.html?highlight=handlerevert#handlerevert

But as far as I can tell, it's missing from the TS bindings. I had to do this (which made it work):

[code]

[2020-05-26 23:14] JoseMiguelHerrera commented on #2881
I'm having a difficult time seeing a recognizable pattern, since it happens somewhat randomly. I just updated geth to the latest version and it still happens, perhaps much less often.

I know there's several ways to subscribe to events, but this is the way I've done it:

`            let web3 = connection._getWeb3().RPC;
            let ContractRPC = new web3.eth.Contract(ABI, Address)

[2020-05-27 09:44] malaak-habashy commented on #3538
@ryanio thank you

[2020-05-27 15:22] albertov19 commented on #3435
Hi guys, I'm too having a similar problem, it is described in: https://ethereum.stackexchange.com/questions/83714/contract-not-returning-error-to-react-interface?noredirect=1#comment104346_83714

I'm too using web3 and Infura. I have a require option and instead of reverting the call or returning an error I get an impossible number return. I say impossible because the return should be the amount o

[2020-05-27 16:29] bingen opened #3544 "Decoding logs with bytes data fields broken in 1.2.8 for solc 0.4.x / external"
#### Expected behavior
Using `decodeLogs` should parse logs correctly, see [here an example](https://github.com/aragon/contract-helpers/blob/master/packages/test-helpers/events.js#L18)

#### Actual behavior
Throws with an error like this if there’s a `bytes` field in the log:
[code]
#### Steps to reproduce the behavior

Call that function mentioned above with a log like [this one](https://github.c

[2020-05-27 17:27] miohtama commented on #3513
It is the default WalletConnect provider, so it is Infura + HTTPS.

I tried to reproduce the issue by setting a timeout to 1 seconds. The timeout is not triggered.

I can try again - but I would first also ask on the advice what is the proper code to configure the timeout for the smart contract interaction, as it is not clear from the document. Then I can write a minimum repeatable example - which

[2020-05-27 18:32] #3538 closed, assigned to nobody

[2020-05-27 19:01] ryanio commented on #3544
Hey @bingen thanks for reporting, I will take a closer look this afternoon to see if we have tests for decoding logs with bytes data and if it’s working properly.

Meanwhile, could you share what the raw data is for the bytes field in your example above? It seems the ethers abi package is erroring out on “data out-of-bounds”.

[2020-05-27 19:22] bingen commented on #3544
Yes, it was:
[code]
Thanks!

[2020-05-27 22:00] ryanio commented on #3544
hey @bingen, it does look like we have tests for decodeLog that include bytes examples and they are passing ok: https://github.com/ethereum/web3.js/blob/1.x/test/eth.abi.decodeLog.js

When I try to add a test with your example data:

[code]

I get:
[code]

[2020-05-28 01:08] #3542 closed, assigned to nobody

[2020-05-28 03:45] cbruguera commented on #526
@sohkai How to call it with web3 though? I can't find anything on the docs. :-/

[2020-05-28 03:50] ryanio commented on #526
hey @cbruguera, here you go: https://web3js.readthedocs.io/en/v1.2.8/web3-eth.html#getchainid

[2020-05-28 08:47] cbruguera commented on #526
@ryanio yeah I just saw it. I'm using an older version of web3 though (v1.2.1) which is what comes with latest truffle version... I'll have to figure out another way. Or just use newer web3 for the actual production signing scripts (currently truffle-testing on ganache).

[2020-05-28 13:44] bingen commented on #3544
Hm, but that data is for the whole log, which has 2 uints and 1 bytes fields, so it’s:
[code]

[2020-05-28 14:52] cgewecke commented on #3513
@miohtama

The tests written to validate the setting in #3533 use
[code]

If you're experiencing the `.on` related issue you reported in #3498, the timeout failure could be related. A good test for your case might be to run the setting as above *and* use the [workaround suggested in #3498][1].

[1]: https://github.com/ethereum/web3.js/issues/3432#issue-588717496

[2020-05-28 16:23] anhcao142 opened #3548 "Require node 10 when install"
#### Expected behavior
Yarn successfully install web3 with node 8
#### Actual behavior
Error when installing web3 with node 8
#### Steps to reproduce the behavior

1. Switch to node 8.11 (using nvm or docker)
2. `yarn add web3`

#### Logs

[code]

#### Environment
node from docker node 8.11
web3 version 1.2.8

[2020-05-28 16:55] cgewecke commented on #3548
@anhcao142

This issue is discussed in [mkdirp 24][1]. That package has imposed an engine requirement of `>= Node 10` solely because Node 8 has been marked "end of life". It still works though. (We run our [unit tests vs. Node 8][3] and they're fine.)

TLDR; if you're installing with yarn on Node 8 you'll need to use the [--ignore-engines][1] flag

[1]: https://github.com/isaacs/node-mkdirp/issues

[2020-05-28 16:55] cgewecke commented on #3548
Closing, please ping if this doesn't work for you for some reason.

[2020-05-28 16:55] #3548 closed, assigned to nobody

[2020-05-28 17:07] ryanio commented on #3544
@bingen ah ok thanks that makes more sense. Ok I can reproduce the same error now with `data out-of-bounds` for the bytes data. Do you know what your bytes data is supposed to represent or convert to?

[2020-05-28 19:31] cgewecke commented on #3498
@miohtama Are you comfortable with closing this as a duplicate of #3432?

[2020-05-28 21:37] bingen commented on #3544
It’s supposed to be a function signature: https://github.com/aragon/staking/blob/master/test/lock_and_call.js#L27

[2020-05-28 22:26] ryanio commented on #3544
@bingen great thanks, ok looks like there may be some issue in the transport of the event because the function signature for `receiveLock(uint256,uint256,bytes)` is `0xabe985cb` which doesn't seem to line up with the bytes data above, I am seeing it encode as:

[code]

It could be an encoding/decoding issue in the middle, will have to keep digging deeper on this one. We upgraded our abi coder depe

[2020-05-28 22:35] bingen commented on #3544
Oh, yes, sorry, that’s because I changed its name, it used to be `lockCallback(uint256,uint256,bytes)`
:grimacing:

[2020-05-28 22:41] cgewecke commented on #3544
@bingen It's possible this is a compatibility issue with Truffle which remains on Web3 1.2.1 (and Ethers V4).

~~In your example `CALLBACK_DATA` is passed to a truffle-contract method (and encoded there) but decoded using 1.2.8 in the test helpers.~~ No this is fine.

[2020-05-29 02:38] cgewecke commented on #3544
@bingen

Have tried to make a reproduction case for this using code from aragon contract-helpers, Truffle and Web3 1.2.8 and was not able to trigger the error.

Could you look at https://github.com/cgewecke/web3-issue-3544 and see if it models the bug correctly?

One notable difference from what's reported here is that when I have a solidity event like
[code]

...and inspect the receipt from a tra

[2020-05-29 19:34] su45fg commented on #3336
ยังไม่ เข้าใจ พยายาม ทำความเข้าใจ

[2020-05-29 19:37] su45fg opened #3552 "พฤติกรรมที่คาดหวัง"
พฤติกรรมที่คาดหวัง

#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Environment

[2020-05-29 22:49] wbt commented on #1930
Might be fair to assume this was a predating duplicate of [#3207](https://github.com/ethereum/web3.js/issues/3207).

[2020-05-29 23:01] wbt commented on #3207
I am also seeing [this error](https://github.com/ethereum/web3.js/issues/1930) when using `myContract.events.<eventName>` with `toBlock` set to anything other than `'latest'`, even if the value is greater than `fromBlock`.
[code]

[2020-05-30 11:08] mwaeckerlin commented on #3145
I get this error in a local ganache test environment, so not related to infura, @DanielHH:

[code]

web3: tested in 1.2.6, then updated to 1.2.8, both fail.

Situation: I start 200 transactions at once, then wait for them to terminate. Some succeed and some fail. In the ganache output, I don't see any problem.

E.g.:
[code]

[2020-05-30 11:21] mwaeckerlin commented on #3145
I have only 7 of these errors in 201 transactions, all errors just directly following each other in the log file. So 194 transactions succeed and 7 fail with this error. On another run, I had 4 failures instead of 7. It's a bit random.

And before I had test runs that completely succeeded. Currently, i can't get it pass successfully, it currently always fails — on the same tests it used to pass.

[2020-05-31 15:12] cokia opened #3555 "Feature Request : New function to decodeParameters with getTransaction"
"eth.abi.decodeParameters" is a function that decodes an encoded string based on abi, and I think the main use case is decode the input data of the transaction.

So I think it would be nice to create a function called "web3.eth.abi.decodeFunctionCall" and then take the transaction hash and decode the input data.

If many people and maintainer agree to the need for this function, I will pull reques

[2020-05-31 18:33] justintim-es opened #3556 "Error: Failed to check for transaction receipt"
[code]
Gives me the follwing error
[code]
I first posted an issue on openethereum, but they have sent me here
web3 version
[code]

[2020-05-31 23:47] venuziano opened #3557 ""require" smart contract message showed when transaction is revert"
A little time ago in my tests transactions when i forced to trigger the require message of my smart contract, in the Status field of transaction it always showed the require message. Now i realized all revert transaction did not show the require message anymore. I checked olders transactions that actually showed this message but all are only with "Fail" now. Does the fail message of a transaction

[2020-06-01 10:00] holgerd77 commented on #3552
Sorry, we just can't read this. You need to provide an issue description in the english language, will close for now.

[2020-06-01 10:00] #3552 closed

[2020-06-01 13:19] cgewecke commented on #3556
@noahsalvadordenjo

Believe this is a race-condition issue at OE, documented in [openethereum 10672][1]. It's also reported here at #2213.

Do you see this with any other client? Can you provide any additional details about your OE client setup?

[1]: https://github.com/openethereum/openethereum/issues/10672

[2020-06-01 13:26] cgewecke commented on #3555
@cokia Could you show an example method signature and output for the new method?

[2020-06-01 13:43] cgewecke commented on #3557
@venuziano Web3 does not attach the message to the `status` field of the receipt.

Instead, a `reason` field is populated on the thrown error object if you've enabled revert reason handling using the `handleRevert` setting.

There's more about this [in the docs here][1].

[1]: https://web3js.readthedocs.io/en/v1.2.8/web3-eth.html?highlight=handleRevert#handlerevert

[2020-06-01 13:43] #3557 closed, assigned to nobody

[2020-06-01 13:44] cgewecke commented on #3537
@hbarcelos Closing because this seems to be an openethereum issue. Please just ping if you believe otherwise and we'll reopen.

[2020-06-01 13:44] #3537 closed, assigned to nobody

[2020-06-01 18:28] cgewecke commented on #3544
@bingen Apologies, did you have a chance to look at this again? We'd really like to fix this ASAP if it's happening but at the moment are having difficulty reproducing it from a real example.

[2020-06-01 21:54] bingen commented on #3544
Hey, sorry, I didn’t have time to look at this, I’ll try tomorrow.

[2020-06-02 00:48] cgewecke commented on #3520
Note: when this is fixed and geth in CI is restored to `stable` (instead of 1.9.13), make sure to update the TESTING.md docs to reflect this..

[2020-06-02 01:04] #3528 closed, assigned to nobody

[2020-06-02 02:00] #3457 closed, assigned to cgewecke

[2020-06-02 07:20] justintim-es commented on #3556
Openethreum version: v3.0.0
Operating system: linux
Fully synchronized: no
Restarted: yes

Im retrying now with v3.0.1

[2020-06-02 07:21] justintim-es commented on #3556
I ran this in the console
[code]

[2020-06-02 08:48] vkhymenko commented on #2152
Having same kind of a problem. Also using Infura as a provider and getting rate limited. There's some interesting statistics regarding requests: 99.74% of all the requests is this one - `eth_getBlockByNumber` . I'm sure I do not call the method anywhere in my code, so web3 (`eth_getTransactionReceipt` in particular) calls it internally so many times that it became a problem real fast. Is there a w

[2020-06-02 12:40] Conviley commented on #2152
@the-inevitable My suggestion is that you start looking at setting up your own local client. Ultimately that is what me and my partner did. Sure it's not without friction to do it, but when you have it up and running it's really nice to know that you're free of various limits and restrictions. We set up our own node using geth

[2020-06-02 13:56] cgewecke commented on #3556
@noahsalvadordenjo

Apologies, if this is only happening on OE and [OE 10762][1] remains unresolved I think it's a problem they'll have to address.

Closing as duplicate of #2213.

[1]: https://github.com/openethereum/openethereum/issues/10672

[2020-06-02 13:56] #3556 closed, assigned to nobody

[2020-06-02 15:57] bingen commented on #3544
Hm, this is weird, I tired a fresh clone of the repo using [this new branch](https://github.com/aragon/staking/tree/web3_issue) where I just upgrade to web3 `1.2.8` and it worked:
[code]
Besides, your example above looks good to me.
Maybe it’s some other package that I had in my local `node_modules` that was causing the issue, so I guess we can close this issue.
Sorry for the distraction!

[2020-06-02 17:07] cgewecke commented on #3544
Sweet! Thanks @bingen.

[2020-06-02 18:07] #3438 closed, assigned to nobody

[2020-06-02 22:17] ryanio opened #3560 "Fix intermittent wallet race conditions in unit tests"
In ci we often get wallet race conditions:

[code]

[code]

It would be good to resolve them for more reliable runs.

[2020-06-02 22:22] cokia commented on #3555
[code]

[2020-06-03 02:53] cbruguera commented on #2077
Same issue still. Passing the number as a string does the job.

[2020-06-03 10:08] naddison36 commented on #1354
For future devs looking for a solution to keeping a WebSocket connection to Infura alive, this worked for me
[code]

`@ts-ignore` is required for TypeScript as the Web3js typings is expecting a `string` for the `clientConfig` option which is wrong. The doco for the `WebSocketClient` used by `Web3js` also does not properly cover the keepalive config. https://github.com/theturtle32/WebSocket-Node/bl

[2020-06-03 12:23] naddison36 commented on #1354
I should add `keepaliveInterval` in my previous post is in milliseconds. So the above will ping Infura via the WebSocket every minute.

[2020-06-03 12:37] naddison36 commented on #1025
Infura's [WebSocket FAQ](https://infura.io/docs/ethereum/wss/faq) states:

This can be achieved using Web3js by passing in `clientConfig` options to the `WebsocketProvider` provider option. For example
[code]

`@ts-ignore` is required for TypeScript as the Web3js typings is expecting a `string` for the `clientConfig` option which is wrong. The doco for the `WebSocketClient` used by `Web3js` does n

[2020-06-03 15:28] cgewecke opened #3563 "Fix WS clientConfig types and clarify docs"
In #1354 @naddison36 reports that the types and documentation for part of the WebsocketProvider client config that enables a long running connection to Infura are incorrect.

[copied comment][1]

[1]: https://github.com/ethereum/web3.js/issues/1354#issuecomment-638098138

------

For future devs looking for a solution to keeping a WebSocket connection to Infura alive, this worked for me
[code]

`@

[2020-06-03 19:40] #3529 closed, assigned to nobody

[2020-06-03 20:02] #3560 closed, assigned to ryanio

[2020-06-03 23:12] cgewecke commented on #3498
@miohtama `1.2.9-rc.0` is published with the patch that might fix this, if you're interested in experimenting with the timeout threshold.

[2020-06-04 01:58] #1082 closed

[2020-06-04 19:59] wbt opened #3568 "eth.getBlock sometimes returns an array"
#### Expected behavior
[web3.eth.getBlock](https://web3js.readthedocs.io/en/v1.2.8/web3-eth.html#getblock) "Returns a block matching the block number or block hash."

#### Actual behavior
In most cases, the expected behavior, but in some cases not.  When I call
`web3.eth.getBlock(blockNumber, function(error, blockData) {`...
where blockNumber is a number (e.g. 2577), `blockData` typically contains

[2020-06-04 20:40] #3374 closed, assigned to nobody

[2020-06-04 22:13] cgewecke commented on #3568
@wbt To summarize, you're seeing `eth.getBlock` occasionally and non-deterministically return an array of logs?

**Questions**
+ What kind of provider are you using? (eg. http | ws | ipc)
+ Is it possible that somewhere in the callback nest a variable (ex: "result") is inadvertently shared by both the event handling and block handling contexts?

[2020-06-05 08:52] nansasuke opened #3569 "My function is payable,I don't know why it threw the error "Cannot send value to non-payable function""
This is my function:
![1](https://user-images.githubusercontent.com/50045460/83856245-d23fbe00-a74b-11ea-8950-37aed9605e11.png)

Then I deployed the contract .
![3](https://user-images.githubusercontent.com/50045460/83856763-a53fdb00-a74c-11ea-99c9-0664188bea76.jpg)

Finally,I want to call the bid(),it threw the error:
![2](https://user-images.githubusercontent.com/50045460/83856892-cf919880-a74c-

[2020-06-05 14:31] cgewecke commented on #3569
@nansasuke

Is it possible for you to upgrade to Web3 1.x? Web3 0.2.x has been deprecated for 2 years and is no longer receiving support.

There are some simple working examples of deploying a contract with Web3 1.x in the [unit tests][1] here you might find helpful.

[1]: https://github.com/ethereum/web3.js/blob/1.x/test/e2e.contract.deploy.js

[2020-06-05 14:35] wbt commented on #3568
@cgewecke That seems almost correct, but I hesitate to say it's definitely an array of logs.  The objects in the array have all the fields that a [Log object](https://web3js.readthedocs.io/en/v1.2.8/web3-eth.html#eth-getpastlogs-return) should, but also include fields `removed`, `gasLimit`, `gasUsed`, `size`, `timestamp`, and `number` even though the first of those consistently has a value of `fal

[2020-06-05 15:07] cgewecke commented on #3568
@wbt Is it possible to show where/how `getPastEvents` is positioned in relation to the getBlock code?

[2020-06-05 15:18] cgewecke commented on #3568
@wbt What is the mining interval of your private network?

[2020-06-05 15:51] wbt commented on #3568
@cgewecke It's a 5 second mining interval.  The events being fetched for this test occurred during migrations, generally in the 2500-2800 block range, with no new events being added since, though the code is set up intending to handle any new events if they were to occur (they just aren't, in this testing).

`--gcmode "archive"` is in effect on geth; there should not be an issue with geth dropping

[2020-06-05 15:51] nansasuke commented on #3569
yeah,I've got it!Thank you

[2020-06-05 16:04] cgewecke commented on #3569
Closing, please just ping if you continue to see this error.

[2020-06-05 16:04] #3569 closed, assigned to nobody

[2020-06-05 16:41] wbt commented on #3568
FYI, I did go back and renamed `blockData` in the calling context so it's
`getBlockInfo(web3, eventReceived.blockNumber).then(function (blockInfo) {` instead of the `getBlockInfo(web3, eventReceived.blockNumber).then(function (blockData) {` listed above (with the read references also updated).  That did not help.

[2020-06-05 20:44] AnthonyAkentiev commented on #3345
@nivida Hi Samuel. Please help... Lost 12 hours debugging this...
I've tried everything, but still can't get the revert reason.

I've tried web3@1.2.8's way to get it:
1) i've set `web3.eth.handleRevert = true;`
2) but the revert reason is still 'false' - in this line https://github.com/ethereum/web3.js/blob/1.x/packages/web3-core-method/src/index.js#L465

My code is here - https://gist.github.com

[2020-06-05 20:55] ryanio commented on #3345
@AnthonyAkentiev ah sorry to hear that! our ci is working with geth 1.9.13 so it should be working for you with 1.9.12. see here:
https://github.com/ethereum/web3.js/blob/1.x/test/e2e.method.signing.js#L316

[Edited link for sendSignedTransaction test -cg]

can you confirm you are on 1.9.12 and not `stable`? there is a tracking issue for 1.9.14 with #3520

[2020-06-05 21:07] #3207 closed, assigned to nobody

[2020-06-05 22:17] wbt commented on #3568
Here is another clue:  As a new first line in `myEventHandlingCallback(error, eventReceived)`, I logged the event name, transaction hash, and block number, all of which is in the eventReceived object.

If I look at the transaction hashes in the `blockData` printout above, I notice that every one of them correspond to a log of an event which never reaches myEventHandlingCallback, even if a differen

[2020-06-06 00:38] #3563 closed, assigned to ryanio

[2020-06-06 02:00] ryanio commented on #3429
@everdimension sorry for the delay, here is a new invite link https://discord.gg/2mSaSCG

[2020-06-08 07:33] AnthonyAkentiev commented on #3345
@ryanio Thx for quick answer! Really appreciate it.
Oh, i double checked and our current version is '1.9.14-stable-6d74d1e5', should we use 1.9.12 to get 'reason' working?

[2020-06-08 13:30] cgewecke commented on #3345
@AnthonyAkentiev Yes, revert with reason only works up with geth up until 1.9.13.

1.9.14 introduced a bug which they just fixed today at [go-ethereum 21083][1].  When that's published we'll be able to restore reason fetching in the next patch release here.

[1]: https://github.com/ethereum/go-ethereum/pull/21083

[2020-06-08 13:31] AnthonyAkentiev commented on #3345
@cgewecke thx. checked current stable 1.9.15 and it worked!

[2020-06-08 15:45] wbt commented on #3568
Also as an FYI, I observe the same issue when using automining Ganche, with events in a different block range, so this makes me think it's less likely to actually be an issue in Geth. However, there's less randomness in Ganache.  The array was returned on the same block info request, with the same set of logs (and therefore the same set of missing events), on 10/10 trials.
Re-doing the migration w

[2020-06-08 17:08] cgewecke commented on #3345
Side-note for anyone else running into this... it looks like there *will* need to be code changes here to get the revert reason working again per the existing API for geth 1.9.15.

PR #3571 should resolve.

[2020-06-08 18:02] cgewecke opened #3572 "Use netlify for CDN test"
Suggested by @evertonfraga.

We currently publish a test site to surge for every CI run which means that it's shared between PRs. Netlify would let us partition by job.

[2020-06-08 19:55] wbt opened #3573 "eth.getBlock sometimes does not return at all; sometimes produces "TypeError: Cannot create property 'gasLimit' on string""
This is a follow-up to #3568 in which I attempt to provide a reproducible example for that Issue and wind up creating a reproducible example for a different issue which seems like it might be related.

#### Steps to reproduce the behavior (commands for command-line shell)
1. Start Ganache (steps developed in v2.4.0) running in a **new Ethereum workspace** (so that block numbers line up).
1. `mkdir

[2020-06-08 23:01] wbt commented on #3573
I think I’ve solved it!

The shared memory which is at the root of the issue is in the WebsocketProvider's `responseQueue` object.

First, some relevant points on how requests work in web3: when a request is sent (examples: eth_subscribe, eth_getLogs, eth_getBlockByNumber), the ["toPayload()" method](https://github.com/ethereum/web3.js/blob/e5b3b370b15adc53e88f0eff6ee09c52fa715994/packages/web3-co

[2020-06-08 23:01] #3573 closed, assigned to nobody

[2020-06-08 23:02] wbt commented on #3568
Debugged in [#3573](https://github.com/ethereum/web3.js/issues/3573).

[2020-06-08 23:02] #3568 closed, assigned to nobody

[2020-06-08 23:12] ryanio commented on #3573
wow @wbt thanks for digging into this!

[2020-06-09 01:46] #3572 closed, assigned to nobody

[2020-06-09 09:56] saadibrahimiv commented on #1439
I am having the same problem. My application shows that it is using 0.20.7 version and i can't get some very important functions to work while i have installed latest version on my system and in the project directory too, even in the package json file and in other dependencies it's ^1.2.1 but still my application is using 0.20.7. I can't understand why and can't resolve it.

[2020-06-09 09:59] holgerd77 commented on #1439
@saadibrahimiv eventually you have got a `package-lock.json` file in your directory which you need to delete?

[2020-06-09 10:14] saadibrahimiv commented on #1439
![getpastevent_query](https://user-images.githubusercontent.com/38457173/84135881-f0673000-aa63-11ea-9ebb-d16917a0a490.png)
still getting the same web3 version

[2020-06-09 10:54] saadibrahimiv commented on #2291
Any lead on how can i solve this issue? I am tired with it already. web3.version.api gives 0.20.7 and this version does not support some of the most important functions.

[2020-06-09 15:59] cgewecke commented on #1439
@saadibrahimiv

You might find [this Metamask gist][1] to instantiating Web3 helpful.

[1]: https://gist.github.com/bitpshr/076b164843f0414077164fe7fe3278d9#file-provider-enable-js

[2020-06-09 16:54] cgewecke opened #3577 "Add browser wallet component to netlify/CDN test"
[Questions][1] sometimes pop up about how instantiate Web3 correctly in contexts where browser wallets inject the library. And PRs like #3378 and #3499 might benefit from a test fixture that can be used a sanity check for Metamask compatibility.

**Resources**
[MM gist][2]

[1]: https://github.com/ethereum/web3.js/issues/1439#issuecomment-641178492
[2]: https://gist.github.com/bitpshr/076b164843f0

[2020-06-09 17:05] bingen commented on #3544
Hey, sorry to bother with this again, but there was a problem in the branch I linked above: `@aragon/contract-helpers-test` was still using `1.2.5`:
[code]

I have fixed it, so it’s all `1.2.8` now:
[code]

And I see those errors again. You should see them too if you follow the steps mentioned above:
[code]

The errors are:
[code]
I’m going to try to see if I can provide any more info about it.

P

[2020-06-09 17:26] ryanio commented on #2291
@saadibrahimiv you should be able to use the provider to provision your own Web3 instance. I'd recommend going with the latest in the 1.x branch. You can learn more here: https://docs.metamask.io/guide/ethereum-provider.html

[2020-06-09 17:28] bingen commented on #3544
I see some difference between the logged data in your test and what I get adding the same `console.log`’s:

- Yours:

[code]

- Mine:
[code]

Let’s break it down:

[code]
vs
[code]
So it seems the problem is I’m missing those trailing zeroes, and hence the buffer overrun.

[2020-06-09 19:45] cgewecke commented on #3544
@bingen Was able to trigger the error in the minimal reproduction at https://github.com/cgewecke/web3-issue-3544 with [this commit][1] by
+ using solc 0.4.24
+ changing the visibility of the method which fires the event from `public` to `external`.

It's not reproducible in solc 0.5.x and the underlying issue was documented here: https://github.com/ethereum/solidity/issues/3493.

So...on one hand

[2020-06-09 20:58] cgewecke commented on #3513
Closing with 1.2.9...please just ping if this is still happening.

[2020-06-09 20:58] #3513 closed, assigned to cgewecke

[2020-06-09 20:59] cgewecke commented on #3498
`1.2.9` (on the premise that it's a duplicate of #3432).

[2020-06-09 20:59] #3498 closed, assigned to cgewecke

[2020-06-09 21:07] cgewecke commented on #3308
Closing, we've added two additional E2E targets which cover +/- the same ground.
+ gnosis/dex-react (TS compilation)
+ mosaic (@truffle/contract unit tests)

Truffle is locked on `1.2.1` and there's no movement over there.

[2020-06-09 21:07] #3308 closed, assigned to cgewecke

[2020-06-09 21:08] cgewecke commented on #3294
Closing because comment above seems to resolve. Please ping if that's not the case.

[2020-06-09 21:08] #3294 closed, assigned to nobody

[2020-06-09 21:11] cgewecke commented on #3284
Believe this was resolved by #3536. Please ping if that's not the case.

[2020-06-09 21:11] #3284 closed, assigned to nobody

[2020-06-09 21:16] cgewecke commented on #3092
This should be resolved with the recent Websockets upgrade. You can configure the provider to automatically reconnect if your connection is unstable.

[Relevant docs][1]

[1]: https://web3js.readthedocs.io/en/v1.2.9/web3-eth.html#configuration

[2020-06-09 21:16] #3092 closed, assigned to nobody

[2020-06-09 21:29] cgewecke commented on #3201
Closing in favor of #3425

[2020-06-09 21:29] #3201 closed, assigned to nobody

[2020-06-09 21:31] cgewecke commented on #3145
Closing in favor of #3255

[2020-06-09 21:31] #3145 closed, assigned to nobody

[2020-06-09 21:34] cgewecke commented on #3117
We've added a config section to the docs [here][1] and the module README look complete as well.

IPC is still under-documented but it receives very little use. Closing for now.

[1]: https://web3js.readthedocs.io/en/v1.2.9/web3-eth.html#configuration

[2020-06-09 21:34] #3117 closed, assigned to nobody

[2020-06-09 21:38] cgewecke commented on #3174
Closing because unclear.

[2020-06-09 21:38] #3174 closed, assigned to nobody

[2020-06-09 22:08] cgewecke commented on #1648
This is now [configurable][1]. If you're using Websockets and calling `contract.setProvider`, Web3 will attach four listeners.

[1]: https://web3js.readthedocs.io/en/v1.2.9/web3-eth.html#maxlistenerswarningthreshold

[2020-06-09 22:08] #1648 closed

[2020-06-09 22:12] cgewecke commented on #1745
Web3 1.2.8 upgraded to the latest version of @ethersproject/abi and it width checks data types like this. Should be resolved now.

[2020-06-09 22:12] #1745 closed

[2020-06-09 22:14] cgewecke commented on #2682
These are in.

[2020-06-09 22:14] #2682 closed, assigned to nobody

[2020-06-09 22:15] cgewecke commented on #2782
`1.2.8` adds contentHash support. [Docs here][1]

[1]: https://web3js.readthedocs.io/en/v1.2.9/web3-eth-ens.html#getcontenthash

[2020-06-09 22:15] #2782 closed, assigned to nobody

[2020-06-09 22:34] cgewecke commented on #2988
Closing in favor of #3425

[2020-06-09 22:34] #2988 closed, assigned to nobody

[2020-06-09 22:57] saadibrahimiv commented on #2291
I resolved the issues using cdn in my html.

[2020-06-09 22:58] saadibrahimiv commented on #1439
I solved it by using cdn in my html.

[2020-06-10 00:04] cokia commented on #3555
If you are not busy, please leave your comments on this :)

@cgewecke

[2020-06-10 21:12] bingen commented on #3544
Oops, yes, what a bug. I wonder why it was working with previous versions if the logs were coming different. Do you know how that difference was being handled?
On our side, we can keep on pinning `v1.2.5`, but I guess it would be useful to document it somewhere, as I expect this may hit some other projects still using solc 0.4.x
Thanks for the update!

[2020-06-11 14:06] emrem6 opened #3579 "Error: The current provider doesn't support subscriptions: HttpProvider"
#### Expected behavior
Application listens on event in smart contract
#### Actual behavior
null
Error: The current provider doesn't support subscriptions: HttpProvider
    at Timeout._onTimeout (/home/emre/Backend/node_modules/web3-core-subscriptions/src/subscription.js:215:24)
    at ontimeout (timers.js:436:11)
    at tryOnTimeout (timers.js:300:5)
    at listOnTimeout (timers.js:263:5)
    at T

[2020-06-11 14:23] cgewecke commented on #3579
@emrem6

Contract event subscriptions are supported by the Websocket provider. We have some working examples of listening to events [in the unit tests, here][1].

In ganache the Websocket provider exists on same port as `http` and all you have to do is change the protocol. In your case this would look like:
[code]

Finally, if you have to use an http provider, the [getPastEvents][2] method is avai

[2020-06-11 14:23] #3579 closed, assigned to nobody

[2020-06-11 14:53] elmariachi111 opened #3580 "Decrypting a keystore fails on 1.2.9 (browser / React )"
### 1.2.9 broke `web3.eth.accounts.wallet.decrypt` (works fine in 1.2.8):

#### Expected behavior

in the browser (chromium) I can decrypt an encrypted wallet keystore structure.

#### Actual behavior

it shows me an the error `TypeError: "list" argument must be an Array of Buffers`

#### Steps to reproduce the behavior

call `web3.eth.accounts.wallet.decrypt(jsonKeystore, password);`

_I've put a

[2020-06-11 18:02] joZephhh commented on #1354
Thanks for your solution @naddison36, seems to resolve the auto idle disconnect problem for me.

Otherwise, it seems it does not prevent other disconnect events. To resolve them and thus ensure a connection stability, I'm personally adding `reconnect` option on the `WebsocketProvider` :
[code]

which is set to `false`by default : https://github.com/ethereum/web3.js/blob/1.x/packages/web3-providers

[2020-06-11 22:15] naddison36 commented on #1354
Thanks @joZephhh. I've added the reconnect config to my listener service.

I was trapping the close event on the provider and crashing my process as per the following. Since my process was running on Kubernetes, it would be restarted but your approach is much better.
[code]

[2020-06-12 09:25] NicolasKritter commented on #3555
I had to implement a function like this as we need to parse our own chain, I think this will be a very nice addition to the web3js package

[2020-06-12 11:23] cokia commented on #3555
I have a simple implementer.
With the accept of the maintainer, I will pull request right away.

[2020-06-12 13:38] cgewecke commented on #3555
@cokia I'm so sorry, this slipped through. Yes, agree this is a good idea.

[2020-06-12 17:29] ccolorado opened #3582 "web3.eth.Contract.events cannot catch events named Withdraw"
#### Expected behavior
`myContract.events.Withdraw` would catch events named Withdraw

#### Actual behavior
`myContract.events.Withdraw`  comes back empty

#### Steps to reproduce the behavior
Tried the code @ https://web3js.readthedocs.io/en/v1.2.7/web3-eth-contract.html#contract-events
I was able to get any event not named Withdraw

[code]
Using `getPastEvents` worked fine with Withdraw events
h

[2020-06-12 17:38] cgewecke commented on #3582
@ccolorado

Just to double-check, could you update your filter param key so it's spelled correctly and retry?
[code]

[2020-06-12 20:08] jorgeserranodev commented on #2166
Use await to get the result object:

`var tokenN = await tokenName;`

[2020-06-12 23:52] ccolorado commented on #3582
@cgewecke thanks for noticing, updated the code, And I can confirm that It is still having the same behavior.

[2020-06-13 00:00] cgewecke commented on #3582
@ccolorado

There's nothing at Web3 that would make `Withdraw` itself a problematic event name. I'm sorry.

And you're saying that you're able to hear other events with same logic and retrieve it with getPastEvents?

You'll have make a minimal example that reproduces the problem so it can be investigated further.

[2020-06-13 11:31] Jaime-Iglesias commented on #2077
Can confirm passing numbers as string does the job. On the other hand I think that's less than optimal considering a lot of people rely on `BN`.

[2020-06-13 16:28] thecircleoflifefree opened #3584 ""Genesis" still referenced in docs but not valid as per #2068"
#### Expected behavior
Remove 'genesis' and keep 'earliest'

#### Actual behavior
'Genesis' is still referenced in the docs.

#### Steps to reproduce the behavior

You can go to version 1.2.9 getPastEvents and still see referenced 'genesis'

Error can be reproduced:

truffle(develop)> await instance.getPastEvents('Transfer',{fromBlock:'genesis', toBlock:'latest'}).then(function(ev){console.log(ev)

[2020-06-13 19:06] andrewda commented on #1025
I'm still seeing this issue (seems like once every 48hrs or so), even with @naddison36's suggestion. :slightly_frowning_face: I have to restart the application to get it to reconnect.

Some way to reconnect automatically on connection closed is desperately needed.

[code]

[2020-06-13 19:44] geomad commented on #3544
Hi! I'm having the same issue when trying to decode uniswap 2 pair contracts swap logs (solidity 0.5.16)

with `web3.eth.abi.decodeLog` on 1.2.8 or 1.2.9 I get the error:
`UnhandledPromiseRejectionWarning: null: value out of range (argument="value", value=20, code=INVALID_ARGUMENT, version=bytes/5.0.0-beta.138)`
This is working fine on version 1.2.7

Data field:
`0x00000000000000000000000000000000

[2020-06-13 20:45] cgewecke commented on #3544
@geomad  Thanks for reporting.

Could you provide more specific info about:
+ which uniswap contracts
+ which method call
+ which event(s) fired

Are you using this?
+  https://etherscan.io/address/0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f#code
+ https://github.com/Uniswap/uniswap-v2-core/blob/master/contracts/UniswapV2Pair.sol

Event signatures in the etherscan contract referenced above:
[code]

[2020-06-13 20:53] geomad commented on #3544
@cgewecke Exactly. I'm trying to decode the Swap event Log above.

[2020-06-13 22:32] cgewecke commented on #3544
@geomad

Was unable to reproduce your error while interacting with the deployed Uniswap contracts. For example, decoding the Swap event for mainnet tx:

["0x4f19e76573f363956e9e356fdce0b65b6610f6c6663f22b1c21171f05363698c"][1]

[code]

Does this model your case correctly?

[1]: https://etherscan.io/tx/0x4f19e76573f363956e9e356fdce0b65b6610f6c6663f22b1c21171f05363698c

[2020-06-13 23:16] geomad commented on #3544
@cgewecke this example works for me aswell. It seems like .slice(1) on the topics array did the trick and solved my issue aswell. While versions before 1.2.8 worked without slicing it, newer don't, so code that is written this way needs to be updated! Thanks for helping me resolving the issue!

[2020-06-14 02:46] naddison36 commented on #1025
@andrewda I think your config will only attempt to reconnect once after 2.5 seconds.
Try adding `maxAttempts` to the `reconnect` config as per Joseph Quercia's suggestion in https://github.com/ethereum/web3.js/issues/1354#issuecomment-642843671

But to answer your question, you should be able to catch the connection close with the `close` provider event. eg
[code]

[2020-06-14 02:53] andrewda commented on #1025
@naddison36 I _believe_ the default (`false`) will continue retrying, in my case every 2.5s:

https://github.com/ethereum/web3.js/blob/8ff9d6d50f4563d6323e951cbdc41ec3567d56e7/packages/web3-providers-ws/src/index.js#L398-L410

Thanks for the suggestion on catching the connection close, though. I'll give that a shot!

[2020-06-14 09:05] miohtama opened #3585 "dApp cannot know about txs if MetaMask "speed up" button used"
I am filing this issue as the discussion opener, it needs a wider community brainstorming to be solved.

Wallets, like MetaMask offer a "speed up transaction" feature where the past transaction is rewritten with new one to get rid of stuck transactions of too low gas price.

![image](https://user-images.githubusercontent.com/49922/84589443-c8dee180-ae2e-11ea-8e0b-5a6fa0f1e43d.png)

#### Expected b

[2020-06-15 19:00] cgewecke commented on #3582
Closing for now. If there's a reproduction case for this that indicates a Web3 bug please ping.

[2020-06-15 19:00] #3582 closed, assigned to nobody

[2020-06-16 17:19] #3520 closed, assigned to cgewecke

[2020-06-16 17:37] ryanio commented on #3535
just did this :) thanks for the issue as a reminder

[2020-06-16 17:37] #3535 closed, assigned to nobody

[2020-06-16 17:45] cgewecke commented on #3435
Merged a fix for this on Web3's side with #3571.  Will be available in `1.2.10` (might be a little bit)

[2020-06-16 17:45] #3435 closed, assigned to nobody

[2020-06-16 21:02] sohkai commented on #3544
To be clear: the old Ethers v4 ABICoder did not have this problem, since it was the one used in `<=web3@1.2.7`?

I'd love @ricmoo's opinion on this as well, but since it's a somewhat prevalent solidity bug (lots of contracts were compiled with 0.4, especially older proxies), it is one of these weird edge cases to factor in when building and testing an ABI encoder.

[2020-06-16 21:30] cgewecke commented on #3544
@sohkai Yes, that's correct. Web3 switched to @ethersproject/abi@^5.0.0-beta.153 in [1.2.8][1]

[1]: https://github.com/ethereum/web3.js/releases/tag/v1.2.8

[2020-06-16 22:29] ricmoo commented on #3544
The old coder didn’t have a problem with it because of a bug. :p

For context, that was a very old version of the ABI coder, which was fixed and that fix got brought along into v5. :)

If that fix had been around sooner, the bug would have hopefully been caught before any contract went to production. Alas, my bad. :(

The new error recovery API also cannot handle this, since it is a buffer overrun

[2020-06-17 08:03] sohkai commented on #3544
Lacking context, but would it be naive to only do this sanitization when decoding logs (since I believe the bug may only be apparent there)?

I haven't done the homework (not sure if there's a good automated way of detecting this), but not being able to handle historic event data is my main concern.

If I'm correct, it looks like the bug is present only in these conditions:

- Contract is compiled

[2020-06-17 08:55] kuzdogan commented on #3018
How do you solve it @gjgd Don't we need to wait for the listed packages to upgrade to web3@1.2.2+?

[2020-06-18 08:32] positonic opened #3588 "npm audit - security warnings for web3"
#### Expected behavior
No npm audit warnings

#### Actual behavior
Running `npm run audit` gives me this warning about web3:
### Steps to reproduce the behavior

1. npm i web3
2. npm audit

#### Logs

 Low           │ Insecure Credential Storage                                  │
├───────────────┼──────────────────────────────────────────────────────────────┤
│ Package       │ web3

[2020-06-18 13:53] mudgen opened #3589 "Support for Diamonds"
It would be great if web3.js provided support for deploying and upgrading diamonds. The Diamond Standard is here: https://github.com/ethereum/EIPs/issues/2535

Here is an example of a tool (in Python) that helps manage diamonds: https://github.com/lampshade9909/DiamondSetter

Blog post about that tool: http://joeyzacherl.com/2020/06/diamond-setter-ethereum-smart-contract-manager/

[2020-06-18 14:53] cgewecke commented on #3588
This topic is being tracked at #2739 (the issue which ultimately prompted the audit report.)

The consensus there is that this can't be addressed as a patch.

Below is [the analysis][2] of the engineer who raised the advisory:

Please also be aware of the warning published in [web3-eth-accounts documentation][1]:

Closing as duplicate.

[1]: https://web3js.readthedocs.io/en/v1.2.9/web3-eth-account

[2020-06-18 14:53] #3588 closed, assigned to nobody

[2020-06-18 16:20] thecircleoflifefree opened #3590 "returnValues with incorrect Object formation"
Issue `returnValues` parsed incorrectly
#3158  is tagged as enhancement, current issue below is NOT an enhancement.

returnValues is returning an incorrect object formation. This example is using Truffle metacoin example and has been tested on other contracts as well:

   returnValues:
     Result {   <----------------------- incorrect formation
       '0': '0xabc',
       '1': '0xabc',
       '2'

[2020-06-18 16:46] cgewecke commented on #3590
@thecircleoflifefree

#3518 is about the hashing of dynamically sized types when they are indexed event parameters.

Truffle wraps Web3 with its own logic and may reformat some outputs. Is it possible the problem you're having originates there?

[2020-06-18 17:20] thecircleoflifefree commented on #3590
@cgewecke I do not know, but if you confirm issue is not here feel free to close and I'll reach out to them.

[2020-06-18 17:52] cgewecke commented on #3590
@thecircleoflifefree I don't believe the issue is here.

If you have a simple reproduction case you can express in the style of our [events integration tests][1] am happy to re-open.

[1]: https://github.com/ethereum/web3.js/blob/1.x/test/e2e.contract.events.js

[2020-06-18 17:52] #3590 closed, assigned to nobody

[2020-06-18 19:06] kevholder opened #3591 "Decoding array of struct (MyStruct[]) to an array of objects?"
### Expected behavior

When a method returns an array of structs (e.g. `MyStruct[]`), web3js should decode it to an array of objects that have the same shape as MyStruct.

#### Actual behavior

When a method returns an array of structs (e.g. `MyStruct[]`), web3js decodes it as an array of arrays.

#### Steps to reproduce the behavior

1. Deploy test contract

[code]

2. Call entriesArray() getter

[2020-06-18 19:10] thecircleoflifefree commented on #3590
@cgewecke  this issue occurs even when you invoke instance.contract.getPastEvents() (the web3 method), not just when you invoke instance.getPastEvents() (the Truffle method), this should be enough to point out the issue being outside the scope of Truffle team. Let me know your thoughts.

[2020-06-18 19:20] kevholder commented on #3591
Using this as a workaround:

[code]

[2020-06-18 19:38] cgewecke commented on #3590
@thecircleoflifefree

This is what I see using `getPastEvents` and `web3 1.2.8`

[code]

If you **create a simple reproduction case in the style of our [events integration tests][1]** will be happy to look into this further.

[1]: https://github.com/ethereum/web3.js/blob/1.x/test/e2e.contract.events.js

[2020-06-19 05:48] k1rill-fedoseev opened #3592 "Incorrect encoding of BigNumber for uint256[]"
#### Expected behavior

`abi.encodeParameter` should process BigNumbers in the same way for `uint256` and `uint256[]`

#### Actual behavior

ABI coder encodes arrays of BigNumbers incorrectly

#### Steps to reproduce the behavior

[code]

#### Environment

* web3@1.2.9

[2020-06-19 15:40] cgewecke commented on #3592
Thanks for catching this @k1rill-fedoseev!

[2020-06-19 15:48] cgewecke commented on #3544
Update: discussion about this is proceeding at [ethers 891][1].

For the moment it doesn't look like there's a simple fix (e.g: right padding) we can make here that works for events with more than one dynamically sized data type.

[1]: https://github.com/ethers-io/ethers.js/issues/891

[2020-06-19 16:05] #3592 closed, assigned to nobody

[2020-06-19 16:11] cgewecke commented on #2966
Closing in favor of
+ #3186
+ #3267

[2020-06-19 16:11] #2966 closed, assigned to nobody

[2020-06-19 16:14] cgewecke commented on #3158
Closing in favor #344

[2020-06-19 16:14] #3158 closed, assigned to nobody

[2020-06-19 16:20] cgewecke commented on #3070
Closing. This is mostly done.

[2020-06-19 16:20] #3070 closed, assigned to nobody

[2020-06-19 16:28] cgewecke commented on #2723
Believe this [native dependency related][1] and fixed with `1.2.8` / #3536.

Now using scrypt-js which does not require a node-gyp build.

Please ping if anyone is still seeing this problem.

[1]: https://github.com/nodegit/nodegit/issues/1755#issue-567688814

[2020-06-19 16:28] #2723 closed, assigned to nobody

[2020-06-19 16:36] cgewecke commented on #1610
Just a note: we tried to reproduce this bug in #3497 without success.

If anyone has a reproduction case, please advise.

[2020-06-20 13:35] lucille-bellepleure commented on #3580
I have the same issue but with ```web3.eth.accounts.encrypt(privkey, passw);```

[2020-06-22 04:01] barakman opened #3595 "Official documentation for web3 v0.x no longer viable"
The official documentation for web3 v0.x, which used to be [here](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3js-api-reference), is no longer viable.

This version is still used by many, as far as I'm aware of.
Specifically, by anyone using truffle v4.x, which relies on it.
I believe that this is also the case for many dapps out there.

Thanks

[2020-06-22 14:54] cgewecke commented on #3595
@barakman

Thanks for flagging this. The 0.2.x docs can be found here now:

https://github.com/ethereum/web3.js/blob/0.20.7/DOCUMENTATION.md

We will fix the wiki so it links to both.

[2020-06-22 17:27] patitonar commented on #1287
Friendly ping

[2020-06-22 17:54] ryanio commented on #1287
Hi guys, there is a "defaultBlock" parameter in the contract call docs here: https://web3js.readthedocs.io/en/v1.2.9/web3-eth-contract.html#id30

Let me know if that is not what you are looking for. (sorry about the broken list formatting, that should be fixed with #3597)

[2020-06-22 17:55] #3584 closed, assigned to nobody

[2020-06-22 18:01] barakman commented on #3595
@cgewecke : Awesome, thank you :)
I mostly use v1.2.0 documentation, but sometimes I require stuff from the old one...

[2020-06-22 20:38] miohtama commented on #3585
For reference, EtherScan can now show replacement transactions

<img width="1347" alt="image" src="https://user-images.githubusercontent.com/49922/85332901-069bd400-b4d9-11ea-8770-6785df692128.png">

[2020-06-22 21:00] cgewecke commented on #3595
Wiki's updated, thanks again.

[2020-06-22 21:00] #3595 closed, assigned to nobody

[2020-06-22 21:15] ciaranmcveigh5 commented on #1287
@ryanio Thanks for responding,

Feel the documentation could be altered slightly to improve the clarity specifically, from, gasPrice and gas are bullet-pointed and indented from options making it clear that they are part of the options object. Additionally their field name ie "from" and their type are included and highlighted.

For the field "defaultBlock" the field name isn't included (I only kne

[2020-06-22 21:58] ryanio commented on #1287
@ciaranmcveigh5 yes sorry about that, we fixed it in #3597.

Your `defaultBlock` param is actually passing into the options field, you'll need to move it to the next param like so:
[code]

[2020-06-24 15:04] sssubik commented on #1321
Hey @eolszewski @PeterTheOne  @emiliomarin does using batch request work or providing a delay between each txn work? Please any help will be highly appreciated

[2020-06-25 06:01] j4ys0n opened #3600 "Can't interact with geth over http or ws from node.js express app"
#### Expected behavior

Can interact with node over http or ws from node.js express app

#### Actual behavior

over http:
[code]
over ws:
[code]
#### Steps to reproduce the behavior

1. set up express api
2. use express endpoint/route to trigger web3 connection to geth
3. try to send anything to geth

#### Logs

I'm running a geth client with the `--debug` synced to ropsten and there are no relate

[2020-06-25 08:50] sssubik commented on #1846
@ryanio  @cliffhall  @justuswilhelm  Hey I am using promise.all so that I can parallely invoke my smart contract function but I am confused about nonce? Is this issue over? If it is what is proper way to manage nonce?

Also Handling nonce in this way is very unhealthy but is there a way around using similar logic?
[code]

[2020-06-25 13:29] cgewecke commented on #3600
@j4ys0n

The error messages indicate the connection isn't getting established. How are you instantiating Web3?

There is a [simple Web3 Express example here][1] that might be worth looking at. It uses Web3 0.2.x and would need to be updated for Web3 1.x. But it might help you identify some small issue in your code that's making it fail.

This suggests it's not a Web3 issue per se, but a problem wi

[2020-06-25 15:23] j4ys0n commented on #3600
Thanks for the example. Unfortunately, it doesn't really help. My app uses Typescript and ES6 classes. This could be a scoping issue on my part, but I'm not seeing it right now, and I've done similar things in the past. I would think that if I'm following the same patterns, and that was the issue, mongodb and web3 wouldn't work, but mongodb does work.

This is how I'm instantiating web3
[code]
i'v

[2020-06-25 15:42] cliffhall commented on #1846
@sssubik If you try to invoke transactions in parallel from the same address, you'll find that they come out serial anyway. A transaction with `nonce: 10` cannot be processed by the network until the transaction with `nonce: 9` is completed. You'll be better off to feed them to the network and wait for their completion in serial order.

I ended up using a pool of addresses to execute transactions

[2020-06-25 15:54] sssubik commented on #1846
Hey I want to call the function submitHash many times and it could be that it is not parallel. I want to call the function as quickly as possible one after the other so that I dont have to wait to send another transaction after it is mined. But the problem is nonce doesnt get managed when I try to use a map expression to call the function. I need a way to manage the nonce or is there any inbuilt o

[2020-06-25 16:05] cliffhall commented on #1846
@sssubik You can send in the nonce like you're doing, but you're going to tie your shoelaces together and fall over. That was my conclusion when faced with this same issue some months back and why I went with an address pool instead of trying to manage the nonce for a single address. And it allows multiple invocations to happen in the same block, since the transactions don't have to wait for lower

[2020-06-25 16:39] j4ys0n commented on #3600
ok. dumb mistake. the ip address of my server with the geth node changed (without restarting the server, which is strange). 🤦🏼‍♂️
good to go.

[2020-06-25 16:39] #3600 closed, assigned to nobody

[2020-06-26 12:21] gpersoon opened #3601 "utf8 confuses browserify"
#### Expected behavior
web3 can be browserified to use in browser

#### Actual behavior
Uncaught SyntaxError: Unexpected identifier in chrome developer console

#### Steps to reproduce the behavior
browserify web3.js and use it in an application

Open https://github.com/ethereum/web3.js/blob/1.x/packages/web3-utils/src/index.js in an editor that can show files in multiple formats (like notepad++)

[2020-06-26 15:00] cgewecke commented on #3601
@gpersoon Thanks for reporting.

This is very odd - it looks like those characters may have been introduced in #3291. (We should also check #3137).

Could you clarify when and how you see this error? Does the entire package fail to load?

Web3.js [uses browserify][1] to generate the minified bundle it publishes to CDN and we run tests using it in Chrome and Firefox headless browsers. Everything wo

[2020-06-27 11:41] gpersoon commented on #3601
I see the error in a website that includes a bundle.js that is created with browserify.
The executing of the javascript in the website stops at:
[code]
This is exactly the location where the Â characters are located

I also checked on firefox, where i saw this message:
[code]
I figured out putting the following line in the HTML file is a workaround to recognize & ignore the special characters:
[co

[2020-06-28 09:55] miohtama opened #3603 "Consider removal of batch.js"
#### Expected behavior

Some old code was pointed out by a contributed on Gitter channel:

https://github.com/ethereum/web3.js/blob/a5e832fc20088cf4c4e916bc0ec3107ceb4428d0/packages/web3-core-requestmanager/src/batch.js

This is for doing multiple API calls parallel from 2015.

#### Actual behavior

Modern JavaScript has similar functionality with `Promise.all` and some other Promise resolvers. Ju

[2020-06-29 04:17] DeepalUsyD commented on #3603
just figured that batch.add has a callback. So I believe this shouldn't be an issue. Besides,  batch.add and batch.execute can be used to send a batch of transactions to a blockchain, so I think it's important that it remains in subsequent releases.

[2020-06-29 12:48] vlddm opened #3605 "2.0.0-alpha.1: contract methods do not support BigNumbers as arguments."
[code]

Error message: `Error: invalid number value (arg="_value", coderType="uint256", value="2540be400", version=4.0.40)`
Working fine if passed as string.
BN Arguments supported in 1.2.x at least.

[2020-06-29 14:27] #3601 closed, assigned to nobody

[2020-06-29 14:28] #2826 closed, assigned to nobody

[2020-06-29 16:45] GregTheGreek commented on #3603
~Do you mind linking the gitter conversation if possible?~ Found it.

Hmm, yes I think we could probably remove this all together.

[2020-06-29 17:19] GregTheGreek commented on #3591
Sorry for the delay, this is a pretty great idea! Drastically improves the UX.

This would definitely be a breaking change in the way existing applications use web3.js, but an alternative option would be to include the above helpers, until a breaking change is ready. We could create a method (eg: `mapABItoResults` ) where you could wrap your results into.

Thoughts: @cgewecke @kevholder

[2020-06-29 17:29] cgewecke opened #3606 "Default export / TS types definition mismatches in Web3 sub-modules"
This is a tracking issue for the general problem described in #3587.

The current types definitions for sub-modules listed below cause TS  to miscompile the class constructors, throwing an error like:
[code]
The root package is unaffected.

| Package | Widely used |
| -------- | ---- |
| web3-bzz | |
| web3-core-method | |
| web3-eth | ✅  (#3198) |
| web3-eth-abi | ✅  (#3587) |
| web3-eth-accounts

[2020-06-29 17:29] GregTheGreek commented on #3589
I've briefly gone over the draft EIP and it looks very interesting. This is a Dapp framework specific issue, perhaps if wider adoption came it would make sense to implement. That being said, I'm curious to hear what exactly you envision direct support to be?

[2020-06-29 17:42] mudgen commented on #3589
@GregTheGreek Thanks for taking a look at this!

Support would be these things:  Make it easier to deploy and upgrade diamonds.  For example provide a function that takes a diamond proxy and a list of facet addresses and deploys them all and adds the facets to the diamond at the same time.

[2020-06-29 17:54] GregTheGreek commented on #3589
It sounds like this might be better suited for an independent js tool in all honesty. Support for very specific EIP like this is a tough to draw the line at what should and shouldn't be included, as you can imagine there are a lot of EIPs.

I think we'll close this for now, but please feel free to re-open this in the future if you believe its gotten to the point where its very widely adopted :)

[2020-06-29 17:54] #3589 closed, assigned to nobody

[2020-06-29 17:58] GregTheGreek commented on #3580
This just got merged in an hour ago @wendydv1989 @elmariachi111 If you'd like you can check the `1.x` branch for the fix, otherwise hold tight for the next release!

[2020-06-29 18:01] cgewecke commented on #3591
Agree, a really good improvement.

There's also precedent at Web3 for gating some enhancements like this behind a settings flag. For example revert reason fetching is currently enabled by setting `web3.eth.handleRevert = true`.

[2020-06-29 18:13] GregTheGreek commented on #3591
Great idea. We can probably push this up the list

[2020-06-29 18:29] GregTheGreek commented on #3585
This is really interesting, definitely a big problem. I think this needs to be addressed at a much wider audience, I'm thinking eth magicians, because this would require a fundamental change in how developers write dapps. Would be happy to help out with the discussion if its moved there.

Thought:
"Speed Up" really just sends a new transaction to the mem pool with a % increase in the gas (I believ

[2020-06-29 18:38] GregTheGreek commented on #3555
@cokia Did you manage to open this pull request? I want to make sure this issue didn't get lost :)

[2020-06-29 20:56] elmariachi111 commented on #3580
yep, tested that with my demo repo and 1.x fixes the issue :heart:

[2020-06-29 21:00] GregTheGreek commented on #3580
Awesome, will close this out once we cut a release :)

[2020-06-30 03:15] Troublor opened #3608 "Confirmation number incorrect when chain reorg happens"
#### Expected behavior

When the block including the transaction becomes an uncle, the transaction returns to txpool. Next time the transaction is included in a new block, the confirmation number should be reset and count from 0 again.

#### Actual behavior

Web3.js seems to be not aware of the reorg and the confirmation number is not reset and count continuously.

#### Steps to reproduce the beha

[2020-06-30 03:26] GregTheGreek commented on #3608
Is it possible that you could provide the geth logs as well (with `--verbosity 4` please)?

[2020-06-30 03:29] Troublor commented on #3608
Sure I will post in a minute, but I need to re-run it again so block number and transaction hash will be different.

[2020-06-30 03:36] GregTheGreek commented on #3456
Is there any update on this?

[2020-06-30 03:39] Troublor commented on #3608
Geth log from the node receiving transaction from web3.js
[code]

Geth log from the node that does not receive transaction:
[code]

Output from web3.js:
[code]

[2020-06-30 03:40] GregTheGreek commented on #3439
@evertonfraga Did you ever end up finding anything?

[2020-06-30 03:47] GregTheGreek commented on #3419
This will probably be addressed with the general cleanup that will take place with #3606

[2020-06-30 03:50] codemaster101 commented on #3255
Hi is there any update on this error?
I recently submitted a transaction on Parity (openethereum 3.0.1)
and got the following error:
[code]
This happened even though the transaction was successfully submitted on the chain.
This is a rospten transaction, with the transaction hash:
`0x42dd4efd6a12f8e339616c237111b32e5778b1d6eac9030559b860b0209e3e6a`

The following is my code to submitted the transac

[2020-06-30 03:56] GregTheGreek commented on #3292
We are re-assessing this. There are a few inconsistencies within the deceleration files. Feel free to follow along on #3606 for updates

[2020-06-30 04:59] GregTheGreek commented on #3608
thanks! I believe the culprit is [here](https://github.com/ethereum/web3.js/blob/77bd9f9d3ae4d0fbc5c1e1e59871177eb428a878/packages/web3-core-method/src/index.js#L334), will look into this.

[2020-06-30 05:23] ryanio commented on #3255
@codemaster101 how are you connecting to the node? also try using `1.2.9` as there were some improvements since `1.2.6` with regards to checking for tx receipt.

[2020-06-30 05:30] ryanio commented on #3456
@GregTheGreek there were some notes added to the docs in #3467. a similar note could be added for estimateGas.

[2020-06-30 06:26] codemaster101 commented on #3255
`const web3 = new Web3(new Web3.providers.HttpProvider('http://127.0.0.1:8545'));`

Alright let me try to do a transaction with 1.2.9.

[2020-06-30 09:26] kaustav1996 opened #3610 "asdasdd"
hahahdhadah

[2020-06-30 09:27] #3610 closed, assigned to nobody

[2020-06-30 14:54] GregTheGreek opened #3611 "Rewrite confirmTransaction to handle re-orgs"
### Problem
#3608 discovered a bug where [confirmTransaction](https://github.com/ethereum/web3.js/blob/77bd9f9d3ae4d0fbc5c1e1e59871177eb428a878/packages/web3-core-method/src/index.js#L268) doesn't properly handle a re-org. It is most likely occurring within [this code block](https://github.com/ethereum/web3.js/blob/77bd9f9d3ae4d0fbc5c1e1e59871177eb428a878/packages/web3-core-method/src/index.js#L31

[2020-06-30 15:10] cgewecke commented on #3255
@codemaster101 This problem affects people using OpenEthereum/Parity quite frequently fwiw.

Believe it is related to [openethereum 10672][1].

[1]: https://github.com/openethereum/openethereum/issues/10672

[2020-06-30 20:01] joaopestana commented on #3408
I dont know why but it did, eventually after doing `npm i web3` and re-runing the commands to update the npm it eventually solved the problem! 48 hours with this problem and it's finally solved... wow thanks

[2020-06-30 20:17] cgewecke commented on #1178
(Not stale.)

[2020-06-30 21:25] or2008 commented on #2881
have the same issue with subscribing to pendingTransactions

[code]

I can see duplicate tx hashes in my log, usually, the first tx hash get printed and a duplicate one is get printed 10 seconds after.
I am using web3 v1.2.9 connected via websocket to openethereum (parity) node v3.0.1

[2020-07-01 07:53] or2008 opened #3613 "web3 subscribe to 'pendingTransactions' emit duplicate transactions sometimes"
when subscribing to pendingTransactions I am receiving tx hashes as expected, however, I noticed that some transaction hashes get reported twice.

I am using web3 (v1.2.9) connected to Parity node (v3.0.1) via websocket on ubuntu 20.04

example code:
[code]

output:
[code]

might be related to
https://github.com/ethereum/web3.js/issues/2881

[2020-07-01 08:33] pepihasenfuss opened #3614 "isHex(1) replies true, isHexStrict(1) replies false, Regular expression of isHex is bad"
web3.js 1.2.9

line 96492 is buggy, utils.isHex() DOES NOT reply correctly, the reg-ex part is false, sorry

var isHex = function isHex(hex) {
  return (_.isString(hex) || _.isNumber(hex)) && /^(-0x|0x)?[0-9a-f]*$/i.test(hex);
};

I took the code out of web3.js and tried a simple test:

function isString(arg) {
    return typeof arg === 'string';
  }

  function isNumber(arg) {
    return typeof a

[2020-07-01 13:58] Velenir commented on #3606
I think the way I suggest to change exported types in #3587 is pretty non-breaking:

- Mark exported classes as `export type`
- Export variables that JS code actually exports

That way we make TS happy and don't touch actual JS, so nobody who uses JS has to change anything. And anybody who uses TS with workarounds (`as any`, declaration merging) also doesn't have to change anything.

[2020-07-01 13:59] or2008 commented on #3613
for anyone who is looking for a workaround :

[code]

[2020-07-01 15:25] GregTheGreek commented on #3614
Do you mind providing a link to the part you believe to be incorrect?

[2020-07-02 06:20] pepihasenfuss commented on #3614
If you open web3.js (3Mb) version, not the minified one, you'll find the function isHex in line 96492 ! Yes, web3.js has almost 100.000 lines of code. isHEx() is pretty much at the end. I'm not familiar with Nodes.js and the building process, therefore I cannot locate where this part of utils. comes from, sorry.

[2020-07-02 06:32] pepihasenfuss commented on #3614
I guess it is from web3-utils/src/utils.js, the bug can also be found in web3-utils.js, of course, line 13784.
In the utils.js source file, the function return value is in additional closures, but it does not help. The part with the regular expression is the problem, but I'm not familiar with regular expressions.
I stumbled accross this after a painful experience. Then, I used isHexStrict() instea

[2020-07-02 08:15] DeepalUsyD commented on #3603
Hi,
I am the person who raised this on Gitter. I am wondering, could you please consider not removing this? batch.add and batch.execute has been useful so far for me.

[2020-07-02 14:28] GregTheGreek commented on #3603
@DeepalUsyD Would require some further discussions. But looking at it, I can't imagine why you would need this over Promise.all or similar?

[2020-07-02 17:46] GregTheGreek opened #3615 "Add unit tests to web3-utils"
#3614 brought to light that the testing being conducted on web3-utils is lacking. Some basic unit tests should be added to cover some of the more common cases.

[2020-07-02 18:07] GregTheGreek commented on #3614
@pepihasenfuss After looking over the implementation, it appears that this is operating as expected. Do you mind explaining what exactly you're finding incorrect about this function?

`isHex()` & `isHexStrict()` accept both strings and numbers, the main difference between the two is that `isHex` does not require the `0x` prefix, where `isHexStrict()` does.

[2020-07-02 18:07] #3614 closed, assigned to nobody

[2020-07-03 05:38] AuHau commented on #3198
Still is an issue

[2020-07-03 06:43] miguelmtzinf commented on #3120
The issue persists... any update?

[2020-07-03 07:51] pepihasenfuss commented on #3614
Well, I expected that isHex('0x123') returns true, which is OK.
I expected that isHex(1) returns false. I thought that 1 is NOT a hex-value. Am I wrong?
At least, I thought this was misleading.
If this is intended, OK, but feels a bit strange to me. So what.

[2020-07-03 08:18] barakman commented on #3236
Not sure if you guys wanna close this, the bot here says that it is going to be, so... for your consideration...

[2020-07-03 11:49] wbt commented on #2923
I don't think this should be marked as stale.

[2020-07-03 11:50] wbt commented on #3425
I don't think this should be marked as stale.

[2020-07-03 14:15] GregTheGreek commented on #3614
Because `isHex` does not strictly look for the prefix, `1` would be considered equivalent to `0x1`, If you want strict values, please use `isHexStrict()`

[2020-07-03 14:44] cgewecke commented on #3186
Not stale.

[2020-07-03 14:45] cgewecke commented on #3267
Not stale

[2020-07-03 14:46] cgewecke commented on #3042
Not stale

[2020-07-03 16:56] pepihasenfuss commented on #3614
ok, thank you!

[2020-07-03 19:22] dmihal commented on #3030
I believe this is still an issue and shouldn't be closed

[2020-07-03 21:49] hbarcelos opened #3620 "ENS Error on Kovan"
#### Expected behavior

Since I'm not using ENS for anything, there shouldn't be an error.

#### Actual behavior

Upon initialization, I get the following error:

[code]

#### Steps to reproduce the behavior

1. Connect to web3.js throught MetaMask injected provider pointed to Kovan.

#### Logs

N/A

#### Environment

- Node: 10.21.0
- Web3js: 1.2.9
- MetaMask: 8.0.1

[2020-07-04 01:59] cokia commented on #3475
https://github.com/web3-kr/web3-js-document-kr

this project is working at this organization.
I think we have to maintain this issue while translation in WIP

[2020-07-04 02:18] alcuadrado commented on #1547
Not sale

[2020-07-04 08:22] pepihasenfuss commented on #3620
Perhaps, this may help you to find a workaround:
I'm a huge fan of ens and my dapp needs it heavily. Someone asked for ENS2 on kovan and my tool needed it too, therefore, I did an (experimental) installation on kovan at https://kovan.etherscan.io/address/0xb66b2f307b6e46a6d038a85997b401ae87455772#code and https://kovan.etherscan.io/address/0x7966398e99a60c7b3465a394b22c0b5ce1012ec9#code .
I don't

[2020-07-04 15:15] wbt commented on #2739
I don't think this should be marked as stale.

[2020-07-04 15:15] wbt commented on #2623
I don't think this should be marked as stale.

[2020-07-04 15:15] k06a commented on #2525
Any updates?

[2020-07-04 16:46] GregTheGreek commented on #3620
Looking into this.. I know Metamask uses 0.9.0^ so I'll have to see what exactly is causing this...

[2020-07-04 19:04] lautarodragan commented on #3236
I'd leave this one open. The docs are pretty confusing all around though.

[2020-07-04 19:04] lautarodragan commented on #3204
Not stale

[2020-07-04 19:05] lautarodragan commented on #3233
Not stale?

[2020-07-04 20:05] hbarcelos commented on #3620
Additional info:

The last version where I don't see this error is `1.2.6`, any version `>=1.2.7` throws the error above.

[2020-07-05 05:53] andrew-m-higgs commented on #3615
I have added a test for isHex. In it I have the following:

var tests = [
    { value: 1, expected: true },
    { value: '1', expected: true },
    { value: '0xH', expected: false},
    { value: 'H', expected: false},
    { value: [1,2,3,{test: 'data'}], expected: false},
    { value: {test: 'test'}, expected: false},
    { value: '{"test": "test"}', expected: false},
    { value: 'myString', expe

[2020-07-05 05:57] #1492 closed

[2020-07-05 06:13] andrew-m-higgs commented on #3615
And isHexStrict:

var tests = [
    { value: 0x1, expected: false },  //0x1 would be tested as 1
    { value: '0x1', expected: true },
    { value: '0xH', expected: false},
    { value: 'H', expected: false},
    { value: [1,2,3,{test: 'data'}], expected: false},
    { value: {test: 'test'}, expected: false},
    { value: '{"test": "test"}', expected: false},
    { value: 'myString', expected: fal

[2020-07-05 07:25] sirpy commented on #3500
still not fixed

[2020-07-06 13:44] Fang- commented on #2777
Can still reproduce on 1.2.9, fwiw. This is tagged as "2.x". Does that mean this won't be fixed in 1.x?

[2020-07-06 18:30] GregTheGreek commented on #3615
Big numbers should return false, they are not hex values in javascript

[2020-07-06 18:31] GregTheGreek commented on #3615
this looks good to me, would be happy to accept a pr :)

[2020-07-06 18:54] ryanio commented on #2777
@Fang- thanks for the update, I have adjusted the labels to make sure we also address this in `1.x`

[2020-07-06 19:02] andrew-m-higgs commented on #3615
Great.

This will be my first. I have cloned on my side and added tests for both.
What do I need to do to send the PR to you?

Sorry. Bit of a noob.

Regards

On Mon, 6 Jul 2020 at 20:31, Gregory Markou <notifications@github.com>
wrote:

[2020-07-06 20:47] GregTheGreek commented on #3615
Not a problem, we were all there once!
1. Fork the repo
2. Add changes to your branch
3. Open a pull request
4. Make sure the base branch targets `ethereum/web3.js`

:)

[2020-07-06 22:02] GregTheGreek commented on #3620
Do you mind providing a code snippet? I'm having a hard time reproducing this error because metamask doesn't inject the web3 api anymore.

[2020-07-07 07:21] 0xjjpa commented on #887
All the requested PR's had been merged and a successful usage of an `httpProxy` was implemented. For googlers, this was achieved passing a [tunnel](https://www.npmjs.com/package/tunnel) and a `httpsOverhttp` proxy to now the available `httpAgent` option of the constructor. This issue can now be closed.

[2020-07-07 14:23] vporton commented on #2104
In web3.js 1.2.9 with MetaMask 8.0.2 the following code fires _only_ `transactionHash` event :-(
[code]

[2020-07-07 17:50] ryanio commented on #887
thanks @jjperezaguinaga!

[2020-07-07 17:50] #887 closed

[2020-07-08 13:03] sacgrover commented on #3500
Could you please elaborate more?

[2020-07-08 19:42] teamyudin commented on #2656
I am getting:

The resolver at 0x0000000000000000000000000000000000000000does not implement requested method: "addr".

[2020-07-09 00:57] benjamincburns opened #3632 "Redundant newHeads Subscriptions when waiting on multiple outstanding requests."
#### Expected behavior
When I'm using a websocket or other subscription-capable provider, I'd assume that a single `newHeads` subscription would be all that's necessary for web3 to be notified when my transaction is confirmed.

#### Actual behavior
When I'm using a websocket or other subscription-capable provider, web3.js sets up one `newHeads` subscription for every outstanding transaction.

####

[2020-07-09 01:00] benjamincburns commented on #3632
I can work around this by using [the usual provider-wrapping tricks](https://www.npmjs.com/package/eth-json-rpc-filters), but I think it'd be better if this was fixed in web3 directly.

I may be wrong, but it looks like there's a single `RequestManager` shared across all transactions submitted from a single `Web3` instance? If so, perhaps we should route the subscription request through there, and

[2020-07-09 08:41] sirpy commented on #3500
in events callbacks (see attached line in description as an example)
if there's ECONNREFUSED error it returns before calling super.onClose
the super class is in charge of emitting the events to other subscribers
so if I as a developer would like to know about these events I wont get them when using the parent class subscription options

[2020-07-10 00:35] #3442 closed, assigned to nobody

[2020-07-10 00:35] #3400 closed, assigned to nobody

[2020-07-10 00:35] #3424 closed, assigned to nobody

[2020-07-10 00:35] #3382 closed, assigned to nobody

[2020-07-10 00:35] #3364 closed, assigned to nobody

[2020-07-10 00:35] #3359 closed, assigned to nobody

[2020-07-10 00:36] #3336 closed, assigned to nobody

[2020-07-10 00:36] #3339 closed, assigned to nobody

[2020-07-10 00:36] #3324 closed, assigned to nobody

[2020-07-10 00:36] #3334 closed, assigned to nobody

[2020-07-10 00:36] #3293 closed, assigned to nobody

[2020-07-10 00:36] #3275 closed, assigned to nobody

[2020-07-10 00:36] #3243 closed, assigned to nobody

[2020-07-10 00:36] #3237 closed, assigned to nobody

[2020-07-10 00:36] #3225 closed, assigned to cgewecke

[2020-07-10 00:36] #3169 closed, assigned to nobody

[2020-07-10 00:36] #3191 closed, assigned to nobody

[2020-07-10 00:36] #3164 closed, assigned to nobody

[2020-07-10 00:36] #3083 closed, assigned to nobody

[2020-07-10 00:36] #3144 closed, assigned to nobody

[2020-07-10 00:36] #3082 closed, assigned to nobody

[2020-07-10 00:36] #3079 closed, assigned to nobody

[2020-07-10 00:36] #3072 closed, assigned to nobody

[2020-07-10 00:36] #3063 closed, assigned to nobody

[2020-07-10 00:36] #3053 closed, assigned to nivida

[2020-07-10 00:36] #3057 closed, assigned to nivida

[2020-07-10 00:36] #3029 closed, assigned to alcuadrado

[2020-07-10 00:36] #2959 closed, assigned to nobody

[2020-07-10 00:36] #2957 closed, assigned to nobody

[2020-07-10 00:36] #2942 closed, assigned to nobody

[2020-07-10 00:36] #2932 closed, assigned to nobody

[2020-07-10 00:36] #2924 closed, assigned to nobody

[2020-07-10 00:36] #2912 closed, assigned to nobody

[2020-07-10 00:36] #2908 closed, assigned to nobody

[2020-07-10 00:36] #2882 closed, assigned to nobody

[2020-07-10 00:36] #2885 closed, assigned to nobody

[2020-07-10 00:36] #2872 closed, assigned to nobody

[2020-07-10 00:36] #2848 closed, assigned to nobody

[2020-07-10 00:36] #2846 closed, assigned to nobody

[2020-07-10 00:36] #2840 closed, assigned to nobody

[2020-07-10 00:36] #2832 closed, assigned to nobody

[2020-07-10 00:36] #2829 closed, assigned to nobody

[2020-07-10 02:22] JF0001 opened #3636 "Authentication issues using web3.js"
#### Expected behavior
Trying to recover address on server side, using the signature produced by web3.eth.personal.sign on the client side.

#### Actual behavior
No issue signing a message on the client side, which is sent to the server via a post request (i.e. axios.post('/api/auth', signature))

However, I have tried to follow the web3.js documentation and numerous examples found online, using f

[2020-07-10 03:22] abitrolly commented on #3164
I don't think it is fixed.

[2020-07-10 15:01] cgewecke commented on #3636
@JF0001

We have some simple sign/recover examples [in the unit tests here][1] you might find helpful. (They use geth to execute the `personal.sign`.)

Could you provide more detailed information about how you're generating the signature?

[1]: https://github.com/ethereum/web3.js/blob/fbb29202288276e12e3449328f4ba5c18e16fd1f/test/e2e.method.signing.js#L368-L392

[2020-07-10 16:17] abuaesh commented on #2089
Hello everyone,
What happened to this issue?
I came across an article for @nivida and ended up here. Please let me know if there is something to be done here. Would like to help!

[2020-07-10 20:41] JF0001 commented on #3636
Thank you cgewecke. I have finally managed to make it work using the following on the client side: this.web3.eth.personal.sign((msg), this.account, (err, signature) => {
And using web3.eth.accounts.recover(msg, signature) on the server side.

It should be okay to combined "eth.personal" methods with "eth.accounts" ones, right?

Thank you again. J

[2020-07-10 20:49] JF0001 commented on #3636
Also, if I use the following (4000 being the port on which my server is running)
var Web3 = require('web3');
var web3 = new Web3('ws://localhost:4000');
I obtain the following error:
TypeError: this.provider[(intermediate value)(intermediate value)(intermediate value)] is not a function
Thank you again. J

[2020-07-10 21:41] GregTheGreek commented on #3632
Do you mind providing a script for this? Happy to also take a look at it with hyperledger for better understanding :)

[2020-07-11 00:35] #2825 closed, assigned to nobody

[2020-07-11 00:35] #2824 closed, assigned to nobody

[2020-07-11 00:35] #2816 closed, assigned to nobody

[2020-07-11 00:35] #2817 closed, assigned to nobody

[2020-07-11 00:35] #2802 closed, assigned to nobody

[2020-07-11 00:35] #2801 closed, assigned to nobody

[2020-07-11 00:35] #2798 closed, assigned to nobody

[2020-07-11 00:35] #2756 closed, assigned to nobody

[2020-07-11 00:35] #2743 closed, assigned to nobody

[2020-07-11 00:35] #2754 closed, assigned to nobody

[2020-07-11 00:35] #2738 closed, assigned to nobody

[2020-07-11 00:35] #2732 closed, assigned to nobody

[2020-07-11 00:35] #2725 closed, assigned to nobody

[2020-07-11 00:35] #2726 closed, assigned to nobody

[2020-07-11 00:35] #2716 closed, assigned to nobody

[2020-07-11 00:35] #2704 closed, assigned to nobody

[2020-07-11 00:35] #2698 closed, assigned to nobody

[2020-07-11 00:35] #2696 closed, assigned to nobody

[2020-07-11 00:35] #2697 closed, assigned to nobody

[2020-07-11 00:35] #2692 closed, assigned to nobody

[2020-07-11 00:35] #2690 closed, assigned to nobody

[2020-07-11 00:35] #2683 closed, assigned to nobody

[2020-07-11 00:35] #2677 closed, assigned to nobody

[2020-07-11 00:35] #2668 closed, assigned to nobody

[2020-07-11 00:35] #2662 closed, assigned to nobody

[2020-07-11 00:35] #2639 closed, assigned to nobody

[2020-07-11 00:35] #2651 closed, assigned to nobody

[2020-07-11 00:36] #2636 closed, assigned to nobody

[2020-07-11 00:36] #2634 closed, assigned to nobody

[2020-07-11 00:36] #2603 closed, assigned to nobody

[2020-07-11 00:36] #2448 closed, assigned to nobody

[2020-07-11 00:36] #2541 closed, assigned to nobody

[2020-07-11 00:36] #2443 closed, assigned to nobody

[2020-07-11 00:36] #2436 closed, assigned to nobody

[2020-07-11 00:36] #2434 closed, assigned to nobody

[2020-07-11 00:36] #2395 closed, assigned to nobody

[2020-07-12 00:37] #2281 closed, assigned to nobody

[2020-07-12 00:37] #2331 closed, assigned to nobody

[2020-07-12 00:37] #2258 closed, assigned to nobody

[2020-07-12 00:37] #2224 closed, assigned to nobody

[2020-07-12 00:37] #2201 closed, assigned to nobody

[2020-07-12 00:37] #2189 closed, assigned to nobody

[2020-07-12 00:37] #2162 closed, assigned to nobody

[2020-07-12 00:37] #2171 closed, assigned to nobody

[2020-07-12 00:37] #2109 closed, assigned to nobody

[2020-07-12 00:37] #2097 closed, assigned to nobody

[2020-07-12 00:37] #2081 closed, assigned to nobody

[2020-07-12 00:37] #2079 closed, assigned to nobody

[2020-07-12 00:37] #1975 closed, assigned to nobody

[2020-07-12 00:37] #1997 closed, assigned to nobody

[2020-07-12 00:37] #1908 closed, assigned to nobody

[2020-07-12 00:37] #1709 closed

[2020-07-12 00:37] #1644 closed

[2020-07-12 00:37] #1703 closed

[2020-07-12 00:37] #1609 closed

[2020-07-12 00:37] #1594 closed

[2020-07-12 00:37] #1535 closed

[2020-07-12 00:37] #1543 closed

[2020-07-12 00:37] #1522 closed

[2020-07-12 00:37] #1510 closed

[2020-07-12 00:37] #1456 closed

[2020-07-12 00:37] #1385 closed

[2020-07-12 00:37] #1384 closed

[2020-07-12 00:37] #1212 closed

[2020-07-12 00:37] #1302 closed

[2020-07-12 00:37] #1194 closed

[2020-07-13 00:36] #1183 closed

[2020-07-13 00:36] #1113 closed

[2020-07-13 00:36] #1091 closed

[2020-07-13 00:36] #983 closed

[2020-07-13 00:36] #890 closed

[2020-07-13 00:36] #889 closed

[2020-07-13 00:37] #580 closed

[2020-07-13 00:37] #532 closed

[2020-07-13 00:37] #531 closed

[2020-07-13 00:37] #511 closed

[2020-07-13 00:37] #377 closed

[2020-07-13 00:37] #344 closed

[2020-07-13 08:43] chevdor commented on #511
Hello @nivida, is there a reason why this issue could never move on or be commented ?

[2020-07-13 16:20] cgewecke commented on #3309
Leaving open because table may be useful....

[2020-07-13 16:22] su45fg opened #3638 "ลายเซ็น Tax"
#3638

#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Environment

[2020-07-13 16:24] su45fg commented on #3638
เเฮซลายเซ็นข้อความ จะหาพบได้ที่ไหน

[2020-07-13 16:25] DeepalUsyD commented on #3603
@GregTheGreek
I am not sure if I am correct. But I see a difference in batch requests and Promise.all
e.g.
[code]
Returns promises for all the pushed transactions but the transactions are pushed in a loop, one after the other. Not as a batch in one go.
In contrast batch.add creates a batch first and executes the created batch. Doesn't push tx one after the other like promise.push:
[code]
I think c

[2020-07-13 19:35] GregTheGreek commented on #3603
Ah you know what, you are right. I completely forgot that json-rpc supports a [batch method](https://eth.wiki/json-rpc/API).

I think we can close this, batch.js is here to stay. that being said, adding documentation around this is needed. Will be opening a relevant issue :)

[2020-07-13 19:35] #3603 closed, assigned to nobody

[2020-07-13 19:40] GregTheGreek commented on #3638
Im doing my best to translate your comments to English (unfortunately I do not speak Thai). I'm not able to decipher this issue.

[2020-07-13 19:43] #3636 closed, assigned to nobody

[2020-07-13 19:43] #3615 closed, assigned to nobody

[2020-07-13 20:08] benjamincburns commented on #3632
@GregTheGreek - sorry, but your question was a bit ambiguous - a script for what, exactly? I'm preparing a workaround PR for HL Caliper that I hope to submit a bit later today (debugging it now). Otherwise the reproduction is really just to run an Ethereum benchmark with Caliper and observe that the number of `newHeads` subscriptions that it submits will match the number of transactions submitted.

[2020-07-13 20:16] benjamincburns commented on #3632
To address the `investigate` label:

The control flow of all transactions winds up routing through `_confirmTransaction` [here](https://github.com/ethereum/web3.js/blob/6862c59a4a3e068b6108fa521089e97a99254a1e/packages/web3-core-method/src/index.js#L200) in `web3-core-method` via the `send` function, defined in the same file, [here](https://github.com/ethereum/web3.js/blob/6862c59a4a3e068b6108fa52

[2020-07-13 20:42] benjamincburns commented on #3632
If someone does improve on this logic, it [appears that](https://github.com/ethereum/web3.js/blob/6862c59a4a3e068b6108fa521089e97a99254a1e/packages/web3-core-method/src/index.js#L570) `checkConfirmation` actually fires off a `eth_getTransactionReceipt` RPC call before setting up the `newHeads` subscription. If the subscription were set up prior to submitting the transaction, we wouldn't need this

[2020-07-13 23:39] benjamincburns commented on #3611
I'm writing a new `TransactionManager` because of #3632. If I can't fix this issue as part of the initial PR, I'll at least do my best to lay some groundwork. At the very least, the code I submit will be a lot more readable than what's there today.

[2020-07-14 14:13] GregTheGreek commented on #3638
I'm marking this as incomplete.

[2020-07-14 14:13] #3638 closed

[2020-07-14 14:16] GregTheGreek commented on #3611
That would be awesome!

[2020-07-14 15:30] Malek-Ayadi commented on #2059
i had the same issue

i tried uninstall and reinstall web3, worked ...

[2020-07-14 19:33] benjamincburns commented on #3632
I'm prepping a PR that should fix this. In this PR I'll be refactoring `_confirmTransaction` and friends, moving them to a more central component.

I'll be re-implementing the transaction management logic as a basic state machine. So far I've created a type called `TransactionLifecycle` that tracks the current state of each transaction, guards against invalid state transitions, and emits events fo

[2020-07-14 19:50] benjamincburns commented on #3632
I'm also not quite sure yet what I'll do about `eth_call`. If `TransactionManager` lives on as a separate type, I definitely don't intend to make that share the responsibility for calls. I'll likely move the logic that's common to both calls and transactions into some utility module, and then I'll either leave the stuff for `eth_call` in `RequestManager`, or I'll make a separate `CallManager` for

[2020-07-15 14:18] GregTheGreek commented on #3632
Can you link to the branch? I would like to follow the progress

[2020-07-16 00:36] #3429 closed, assigned to nobody

[2020-07-16 16:01] mmv08 commented on #3144
This is also the case for 1.2.9

[2020-07-17 00:36] #3228 closed, assigned to nobody

[2020-07-17 01:06] su45fg commented on #3638
0x1c081e411f0014035bcc4c7bdb40d59745679868d3b30d3b30f8d2900a6d64.
     Block confirmations:228894
  Receipt   5/26/2020    9.36.06. AM

[2020-07-17 10:51] ARR552 opened #3644 "Error: invalid number value (arg="", coderType="uint256""
Hello,
I have created this smart contract to reproduce the error.

#### Behavior
When the contract is deployed is created the value val[0] is set and we can set val[0] to 57896044618658097711785492504343953926634992332820282019728792003956564819968.
We are able to recover the array successfully using the function get().
The problem is in set() function. If you try to set an uint256[] where the num

[2020-07-17 19:08] zemse commented on #3620
I have seen similar errors in `ethers.js` if I enter invalid address. Though it's a different lib, just trying to help if this solves the problem.

[2020-07-17 19:19] hbarcelos commented on #3620
@GregTheGreek there's no snippet really, it's just:

[code]

Then if I interact with any contract, I see the error.
However, none of my contracts come nowhere near ENS.

[2020-07-18 05:50] cokia commented on #3555
I thought it wouldn't be difficult to make this function, but it didn't work as I thought.

[code]

It was my miscalculation that declared as above code, but I thought I could call up the eth sub function.

To call "eth.getTransaction()"you must declare new eth through the provider declared through new web3. But the web3 structure (I think it's problem of I am unskilled to class and constructor) e

[2020-07-18 09:11] ferru97 opened #3646 "Invalid JSON RPC response error after release 1.2.10"
I have the following error with the release 1.2.10, an error that does not happen in my case with the 1.2.9.

It happens with the call to **web3.eth.getCoinbase**

#### Expected behavior

Print the user address

#### Actual behavior

Print the error

#### Code to reproduce the behavior

[code]

#### Logs

    at Object.InvalidResponse (unpkg.com/web3@latest/dist/webpack:/packages/web3-core-helpers

[2020-07-18 09:44] jfdelgad commented on #3646
I have the same issue

[code]

**Logs**
Error: Invalid JSON RPC response: ["0xTheActualAddressHere"]
    at Object.InvalidResponse (errors.js:45)
    at onResult (index.js:176)
    at cb (util.js:689)
    at Item.push../node_modules/process/browser.js.Item.run (browser.js:153)
    at drainQueue (browser.js:123)

**Environment:**
web3.js 1.2.10
tested on Chrome

[2020-07-18 16:59] ryanio commented on #3646
hey @ferru97 @jfdelgad thanks for reporting and really sorry about this, I mistakenly though the new Provider.request returns a jsonrpc response object but in fact it returns just the inner result. I opened #3647 to fix and will prepare to push out a v1.2.11 release shortly with the fix.

[2020-07-18 17:08] ryanio commented on #3644
hey @ARR552, if you give a read about big numbers in javascript you'll learn that you need to pass the big number in as a string (or bn.js or bignumber.js object) so that it doesn't get malformed.

i also recommend trying it out on the latest version of web3.js 1.x as the abicoder was upgraded in 1.2.8

[2020-07-18 17:20] #3646 closed, assigned to nobody

[2020-07-18 19:00] ARR552 commented on #3644
Hey @ryanio
I get the same error using BigInt() function to treat the big number. Which other function should I use to avoid the problem??
The difference in message error is :
`transact to Test.set errored: Error encoding arguments: Error: invalid number value (arg="", coderType="uint256", value=57896044618658097711785492504343953926634992332820282019728792003956564819968, version=4.0.47) `

[2020-07-18 19:18] ryanio commented on #3644
@ARR552 bigints are not well supported across the ecosystem yet.
try passing it in as a string e.g. `'57896044618658097711785492504343953926634992332820282019728792003956564819968'`

[2020-07-18 22:48] ryanio commented on #3646
hey @ferru97 @jfdelgad, v1.2.11 is released now if you could give it another try and let me know if it works for you! thanks again.

[2020-07-19 07:58] ferru97 commented on #3646
hi @ryanio thanks for the fast fix, now it works perfectly!

[2020-07-19 20:32] ARR552 commented on #3644
You are right. Passing the value as string works.

Thank you @ryanio

[2020-07-20 06:57] jfdelgad commented on #3646
Thanks for the quick response, all is good now!

[2020-07-20 17:28] ryanio commented on #3644
great to hear! ok i will close this issue then.

[2020-07-20 17:28] #3644 closed, assigned to nobody

[2020-07-21 12:54] safakoks opened #3650 "Call Function "Error: Returned values aren't valid, did it run Out of Gas?""
First of all, there are some issues with this error like #3134 and #3466. I could not solve the error by inspecting these issues. And my case is a little bit different.

Here's my contract structure as two different files.
[code]

[code]

Here's the metadata from the compiled result

[code]
If it is needed, here's the bytecode
[code]

#### Expected behavior

`call` function must return the total r

[2020-07-21 14:57] lucille-bellepleure commented on #2725
I have this issue!

[2020-07-21 15:23] GregTheGreek commented on #3620
ah ok, let me dive into this

[2020-07-21 16:18] #3632 closed, assigned to nobody

[2020-07-21 17:17] rekmarks opened #3651 "RequestManager depends on deprecated event when used with MetaMask"
Refs: https://github.com/ethereum/web3.js/blob/1.x/packages/web3-core-requestmanager/src/index.js#L101-L108

`web3-core-requestmanager` depends on the provider `data` event, and makes assumptions about its state. I'm not sure if this even was ever intended for consumer usage in the misty past, but by now, it's superfluous.

For MetaMask providers (`ethereum.isMetaMask && typeof ethereum.request ==

[2020-07-21 18:42] boyuanx commented on #1219
It still doesn't work on web3 1.2.11, bumping this @nivida .

[2020-07-21 23:15] balthazar commented on #3042
Watching this too

[2020-07-22 09:07] dskvr commented on #1610
@cgewecke At one point I had the exact block number and event that caused `utf8` to throw exception, but it has been more than ~3~ 2 years since I reported this.

[2020-07-22 16:20] GregTheGreek commented on #3651
Thanks for this catch! We've been looking into ways to add further e2e tests with metamask to help catch these bugs (the new release caused a few issues).

Right now we're thinking about using the [mm app example](https://github.com/BboyAkers/simple-dapp-tutorial) and integrating it to our existing UI test, but it is ultimately a manual process. Any ideas on potentially automating it?

[2020-07-23 11:58] csmartinsfct commented on #3255
Probably the worst part about this error. Error is thrown but the transaction may be broadcasted.  Sometimes `.on("transactionHash"` doesn't get triggered either in that case.

Using v1.2.11

[2020-07-23 13:21] JF0001 opened #3653 "Ability to use a web3 Provider in a vue.js Child Component"
#### Expected behavior
Ability to use web3.eth.personal.sign() function in a vue.js child component.

#### Actual behavior
MetaMask not being called from the child component.

#### Steps to reproduce the behavior

I am trying to use the web3.eth.personal.sign() function in a vue.js child component. The function works properly in the parent component and MetaMask is being called by the function. I

[2020-07-23 14:57] JF0001 commented on #3653
I am sending back the values obtained in the child component and using them with the web3 module in the parent component in order to circumvent the issue. J

[2020-07-23 14:57] #3653 closed, assigned to nobody

[2020-07-24 14:06] wbt opened #3656 "eth.getTransaction sometimes never returns"
Sample code:

            web3.eth.getTransaction(txHash, function(error, result) {
                if(error) {
                    //This is NEVER REACHED in sample testing
                    console.log(error)
                } else {
                    //This is VERY RARELY REACHED
                    console.log(result);
                }
            });

I observe the issue when this is cal

[2020-07-24 16:28] dylanseago commented on #3042
I've discovered a workaround:

[code]

[2020-07-25 07:41] loncharles commented on #3585
We've had this issue in our issue backlog for Burner Machine since launching it last October. The promise semantics in web3js (and other web3 libraries) are pretty badly broken since a transaction includes 'gasPrice' in the calculation of the transaction hash and the replace-By-Fee mechanism means changing 'gasPrice' and, as a result, changing the transaction hash.

A standard pattern for calling

[2020-07-25 09:07] gorgos commented on #3585
See also the related issues in MetaMask:

- https://github.com/MetaMask/metamask-extension/issues/3347
- https://github.com/MetaMask/metamask-extension/issues/7227

First issue is two years old. Considering this probably breaks a lot of Dapps, time to fix it now I suggest.

[2020-07-25 23:07] Yazanalsharif opened #3657 "get error from smart cotract"
hello guys
i wanna know how i can get the error in solidity require statment by web3 to display it
this is my code

[code]
this code return this error when happened:
[code]

and the require statement in solidity is
[code]
how i can return this error in require statment **"thecandidate does't found"**

EDIT: GregTheGreek - Cleaned up code blocks for readability

[2020-07-25 23:59] GregTheGreek commented on #3657
Unfortunately there's not quite enough information here for me to fully verify this.

Could you provide a full example?

[2020-07-26 15:31] avrdan commented on #2531
Why was this closed? As in the last comment, neither of the two provided options work...

Edit: Nevermind, it works.. BLA.options.address = "address"

[2020-07-27 10:58] DotCoyote opened #3659 "TypeError on window.ethereum.on('accountsChanged', ...)"
#### Expected behavior

The callback function from `window.ethereum.on('accountsChanged', callbackFunction)` is emitted without errors.

#### Actual behavior

The callback-function is emitted correctly, but the devTools console throws an error:

[code]

Going into `index.js?176c:105` shows

[code]

and `result` only holds

[code]

#### Steps to reproduce the behavior

1. Create an app using ethere

[2020-07-27 20:34] GregTheGreek commented on #3585
I've created [EIP-2831](https://github.com/ethereum/EIPs/pull/2831/) in attempt to address this (still making edits)

[2020-07-27 20:36] GregTheGreek commented on #3659
Thank you for the report! This might be related to #3651, will investigate

[2020-07-27 22:06] ryanio commented on #3659
hey @DotCoyote thanks for reporting. i was able to recreate this with a test dapp.

it looks like now that metamask is sending this new event down the pipe (`wallet_accountsChanged`) the web3.js code is failing in that place since it is not expecting an event without a `subscription` property. We would just need to add some additional checks in that `if` statement, which i will open a pr for.

[2020-07-28 17:07] #3659 closed, assigned to nobody

[2020-07-30 04:59] #3580 closed, assigned to nobody

[2020-07-30 12:52] bahmanbs opened #3664 "can not detect connection status"
hi

web3.eth.net.isListening() just can say  << true >>  if socket provider is connected

but can not return false or Promise.reject() to detect error in connection

it is not posibble to catch errors

some times it is necessary, how can i fix this?

[2020-07-31 01:35] smithki commented on #3292
_bump_

[2020-07-31 03:01] josephg commented on #1178
Not stale.

[2020-07-31 16:22] rymnc commented on #3339
number 2 doesn't work

[2020-07-31 16:22] aaryamannchallani commented on #3339
web3 doesn't have default exports

[2020-07-31 16:53] Yazanalsharif commented on #3657
my question is how i can get error from web3

require(x > y, "display this error");

i want exactly get the error string from solidity

[2020-08-01 00:41] #3544 closed, assigned to nobody

[2020-08-01 07:20] or2008 commented on #3613
.

[2020-08-01 18:34] uluhonolulu commented on #3657
@Yazanalsharif maybe now there is a better way of doing it, but we are executing `trace_replayTransaction` and decode the output.

[2020-08-01 23:37] Yazanalsharif commented on #3657
@uluhonolulu can you explain me more please

[2020-08-02 00:41] #1846 closed, assigned to nivida

[2020-08-02 03:13] kevholder commented on #3591
Would you like me to send a pull request?

[2020-08-03 07:39] m-yahya opened #3667 "How to fix "ReferenceError: btoa is not defined" while running build with Node.js?"
### Expected behavior

The bundle `bundle.js` created with the `webpack` should run without error with the command `node bundle.js`.

#### Actual behavior

I'm getting the following error:
[code]

#### Steps to reproduce the behavior

1. `$ git clone https://github.com/olisystems/dApp-nodeJS-webpack.git`
2. `$ cd dApp-nodeJS-webpack`
3. `$ npm install`
4. `$ cd app && npm i`
5. `$ npm run ganache`

[2020-08-03 08:19] Tedko commented on #3267
hi - any update on this one>?

[2020-08-03 09:43] sapjax opened #3669 "Should not check provider supports subscriptions depend `on` method."
The code blew check if a wallet provider support subscriptions via the `on` method of provider.

https://github.com/ethereum/web3.js/blob/a5a739b7d1/packages/web3-core-subscriptions/src/subscription.js#L213

Some provider dones't support subscriptions, but they must has the `on` method.
According to the [EIP1193](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1193.md#events) The provider mu

[2020-08-03 09:46] miguelmtzinf commented on #3120
@nivida is there any change to have a look on this?
thx in advance

[2020-08-03 12:26] GregTheGreek commented on #3591
That would be great!

[2020-08-03 15:37] GregTheGreek commented on #3664
@bahmanbs can you provide an example code snippet and web3 version please?

[2020-08-03 16:09] wbt commented on #3656
Here is a simplified set of reproduction steps that I hopes help illustrate the issue:

[code]

New file contracts/Counter.sol:
[code]

New file migrations/2_deploy_contracts.js:
[code]

New file migrations/3_increment_counter.js:
[code]

New file fetchHistory.js:
[code]
Set up Geth 1.9.10 to run a webSocket interface on port 8546 (or change the port number in fetchHistory.js).
Set your truffle-co

[2020-08-03 16:09] GregTheGreek commented on #3669
Based on eip1193, I believe the current workflow is correct. At the dapp level, you should be handling these errors. If a provider doesn't support eip1193, subscribing should throw

[2020-08-03 18:00] wbt commented on #3425
I still don't think this should be marked as stale.

[2020-08-03 18:01] wbt commented on #2923
I still don't think this should be marked as stale.

[2020-08-03 23:34] wbt commented on #3656
FYI, I dove all the way down to the W3CWebSocket and I don’t see any “onMessage” calls that web3 isn’t handling.
This makes me think the issue is more likely in the blockchain node (e.g. geth) than in web3, though web3 could be more robust about having a timeout which might support resubmission.  At an even more advanced level, if we can figure out what the limiting factor is, web3 could account f

[2020-08-04 01:15] sapjax commented on #3669
The problem is `on` is not equal to `support subscriptions`.
A wallet provider may not support subscriptions, and still exist an `on` method.
So web3.js consider it support subscriptions, then do not fallback to the polling handler.

[2020-08-04 04:28] 17316781969 opened #3670 "how did you fixed it? i am facing the same. can you help me to solve it?the issue already fixed by myself, tq all"
the issue already fixed by myself, tq all

_Originally posted by @dk-lan in https://github.com/ethereum/web3.js/issues/2161#issuecomment-452997964_

[2020-08-04 09:59] aminlatifi opened #3671 "Cannot decode receipt log data"
#### Expected behavior
We were using _decodeEventABI from web3-eth-contract package to decode receipt log data and it had been working for long time. But it's not working as expected for few days! I tried another library abi-decoder which uses web3-eth-abi library under the hood and it has the same problem.

#### Actual behavior

The decode function produces this error message on decoding data:
`(

[2020-08-04 10:00] aminlatifi commented on #3671
Maybe this issue is related: https://github.com/ConsenSys/abi-decoder/issues/56

[2020-08-04 10:12] dmihal commented on #3030
Bumping to keep this open

[2020-08-04 10:12] dskvr commented on #1610
@cgewecke In the original thread I mentioned a hex that brought up the issue for me. You could include that hex string in a unit test against whatever module is presently implemented for `utf-8`

[2020-08-04 17:13] GregTheGreek commented on #3669
@frankiebee thoughts on this?

[2020-08-04 18:35] ryanio commented on #3669
@sapjax if the provider does not support subscriptions, it will fall back to interval polling [here](https://github.com/ethereum/web3.js/blob/a5a739b7d1834b53b7268c57f791db5d07b720da/packages/web3-core-method/src/index.js#L559-L560).

you are right that it is not an ideal way to detect if a provider supports subscriptions, but it's the best we have for now until the community decides on some kind

[2020-08-04 18:47] ryanio commented on #3030
@dmihal hm that's weird, it looks like the src uses [numberToHex](https://github.com/ethereum/web3.js/blob/b0b135cbb68faa3b66440b8e6829878fcc988ed2/packages/web3-eth-accounts/src/index.js#L164) which should handle strings fine. could you share some code or a snippet to reproduce?

[2020-08-05 00:11] JamesANZ opened #3675 "CONNECTION ERROR: Couldn't connect to node on WS."
Hi All,

I am trying to connect to a node via websocket, it works when I use an HTTP provider but not with websocket.

I have already tried with a connection callback on the provider to see if it is connected and it returns true but the moment I send a transaction I get the error in the header.

This same node connection works fine in geth.

Node version: v10.21.0
web3.js version: 1.2.9

Thank you

[2020-08-05 02:53] sapjax commented on #3669
@GrandVizierOlaf @ryanio

I hope the detect condition could be like:
[code]

So, for the providers who has `on` method but don't support subscriptions,  they can add `_unspupportSubscriptions` property to make web3 know they don't support it,  and make the polling works normally.

[2020-08-05 03:01] sapjax commented on #3669
@ryanio
OK, I understood, if `eth_subscribe` failed, it will fallback to polling,  I didn't seen the fallback code before (look like it updated recently).
So, I think it's OK, just ignore this issue.

[2020-08-05 03:02] #3669 closed, assigned to nobody

[2020-08-05 06:45] jdowning100 commented on #2077
Issue still has not been fixed

[2020-08-05 14:05] GregTheGreek commented on #3675
Perhaps the endpoint you're using does not support websockets?

does it have the `ws:` prefix? What is the node type you're connecting to?

I noticed youre using an older version of web3 could you try and update it?

[2020-08-06 00:41] #3605 closed, assigned to nobody

[2020-08-06 02:29] JamesANZ commented on #3675
Hi @GregTheGreek it was a problem from the websocket provider side, they have just fixed it and the same code works. Thanks!

[2020-08-06 02:29] #3675 closed, assigned to nobody

[2020-08-06 10:12] disenotov opened #3676 "npm install web3 dependency error"
#### Actual behavior
Starting today npm install web3 ends with error that some dependencies can't be found.

#### Steps to reproduce the behavior
1. [First step]
npm install web3

#### Logs
MacOS
[code]

Ubuntu
[code]

Windows
[code]
#### Environment
 - Node v14.5.0
 - NPM v6.14.5
 - OS Ubuntu v16.04, Windows Enterprise 10 LTSC, MacOS Catalina 10.15.5
[code]

[2020-08-06 12:30] Fang- commented on #2777
Bumping as not stale, considering I haven't seen this referenced as fixed yet.

[2020-08-06 12:47] GregTheGreek commented on #3670
Please comment on the original issue.

[2020-08-06 12:47] #3670 closed, assigned to nobody

[2020-08-06 18:21] lucasrcosta commented on #1597
In case someone can't use `esModuleInterop` and would like to keep typings, I'm using a hack like this:
[code]

[2020-08-07 00:42] #3439 closed, assigned to evertonfraga, cgewecke

[2020-08-07 00:42] #2881 closed, assigned to nobody

[2020-08-07 05:01] mirzausman371 opened #3677 "Meta Mask Connectivity with my Dapp"
EDIT-1: @GregTheGreek - Formatted the code snippet

[code]

I'm facing this issue my meta mask is not connecting to my dapp, as i know that my web code is older version but when i try to change it to the newer version i got errors.

Please help me out :)

[2020-08-07 14:18] GriffGreen commented on #3671
Any ideas?

[2020-08-08 09:52] aminlatifi commented on #3671
It's a sample code to regenerate the error:

[code]

[2020-08-08 17:23] miohtama commented on #3585
Excellent work @GregTheGreek - left some comments

[2020-08-08 19:39] GregTheGreek commented on #3671
hey sorry this slipped my radar... Thanks for the code snippet. We were going to get a release going this monday, but let me try and squeeze a fix for this before then!

[2020-08-08 19:41] GregTheGreek commented on #3676
Can you try with node 12? I'm wondering if perhaps that might be the problem. I've noticed a few different packages have been breaking with node 14 as of late.

[2020-08-08 23:27] GriffGreen commented on #3671
Chainsafe is maintaining web3.js?!?!? You guys are everywhere!

[2020-08-09 00:43] #3613 closed, assigned to nobody

[2020-08-09 08:09] sirpy commented on #3500
@sacgrover

[2020-08-09 09:08] GregTheGreek commented on #3677
can you please provide which version of web3.js you are using.

[2020-08-09 09:43] GregTheGreek commented on #3671
@aminlatifi @GriffGreen I think this might be an issue with ethers, do you mind filing a report there?

The logged data looks fine..
[code]

[2020-08-09 09:46] GregTheGreek commented on #3671
I dont think this is an issue with web3.js, looks like its the decoder. i'll close this for now, please re-open if anything changes

[2020-08-09 12:30] cokia commented on #3676
MacOS Catalina 10.15.5, Node v14.5.0,NPM v6.14.5

I have same issue with same environment with you, but I solved with downgrade my node to v13.7.0

[2020-08-09 14:20] aminlatifi commented on #3671
I did a hack to make the decoder work
[code]
We use the web3 decoding api, we have used it for years but it has problem for about 10 days. We doubt new version of geth is responsible for such error.

[2020-08-09 14:40] aminlatifi commented on #3671
Also fetching past events is another place throws error!

[code]

The error message is:
[code]

[2020-08-09 16:28] wbt commented on #3671
Also check to make sure you're not reusing a WebSocket provider per [this issue](https://github.com/ethereum/web3.js/issues/3573) as that can cause an expected response element to be undefined.

[2020-08-09 22:58] GregTheGreek commented on #3671
[code]

Not familiar with the notation being used (jquery?) - the er looks like `liquidPledging` is undefined, or the `$` is undefined..

[2020-08-09 22:59] GregTheGreek commented on #3676
yep, so im pretty sure that node >14 is having some issues right now. Please avoid using it :)

[2020-08-10 00:43] #3198 closed, assigned to nobody

[2020-08-10 00:43] #3186 closed, assigned to nobody

[2020-08-10 00:43] #2039 closed, assigned to nobody

[2020-08-10 00:43] #2058 closed, assigned to nobody

[2020-08-10 00:43] #540 closed

[2020-08-10 00:43] #492 closed

[2020-08-10 14:15] GregTheGreek commented on #3620
Im unable to reporduce this on v1.2.3, can you confirm?

[2020-08-10 14:55] hbarcelos commented on #3620
I only see this issue on version `>=1.2.7`.

I'm currently locked in `1.2.6` because of an unrelated problem and there's no issue.

[2020-08-10 17:05] GregTheGreek commented on #3620
Sorry I'm not sure why i typed `3`... I meant to say `v1.2.11`

[2020-08-10 20:16] hbarcelos opened #3680 "Error on getPastEvents for solidity@0.4.x"
This relates to #3544.

#### Expected behavior

If I use `web3`<=`1.2.6`, everything works just fine.

#### Actual behavior

I get the following error:

[code]

#### Steps to reproduce the behavior

1. Here's the relevant part of the ABI for the contract:
[code]
    Here's the link to the smart contract implementation: https://github.com/kleros/kleros-interaction/blob/master/contracts/standard/arb

[2020-08-11 00:42] #3475 closed, assigned to cgewecke

[2020-08-11 00:42] #3236 closed, assigned to nobody

[2020-08-11 00:42] #3233 closed, assigned to nobody

[2020-08-11 00:42] #3204 closed, assigned to nobody

[2020-08-11 00:42] #2623 closed, assigned to nobody

[2020-08-11 00:42] #2525 closed, assigned to nobody

[2020-08-11 00:42] #1547 closed

[2020-08-11 05:37] trongdth commented on #2077
use web3.utils.toWei('1000000000') for workaround way

[2020-08-11 06:01] k06a commented on #2525
Oh no 😔

[2020-08-11 06:59] ryanio commented on #2525
@k06a check out https://github.com/ethereum/web3.js/issues/3585#issuecomment-664624241

[2020-08-11 09:00] #3456 closed, assigned to nobody

[2020-08-11 11:50] aminlatifi commented on #3671
We found the error root cause,
It's related to ethers version 5.x.x maybe and discussed here: https://github.com/ethers-io/ethers.js/issues/992
We had upgraded web3 and ethers version was upgraded from 4.x.x to 5.x.x eventually.

[2020-08-11 12:03] aminlatifi commented on #3671
Particularly this comment shows the error concisely:
https://github.com/ethers-io/ethers.js/issues/992#issuecomment-671896346
You may need to downgrade ethers version in web3 project too, or apply some patch on that.

[2020-08-11 12:45] GregTheGreek opened #3683 "Add stalebot-ignore label"
We should add a label that blocks stale bot from closing issues. For instance #2739 shouldn't have been closed but there's not a lot of activity.

[2020-08-11 18:32] mahdi-ln commented on #2039
Metamask has added asymmetric encryption support in V8.0.0
how can I use it.in web3.js?

[2020-08-11 18:37] emilianobonassi commented on #2039
Look at this @Mahdi321

https://github.com/emilianobonassi/test-dapp

https://encrypt-decrypt.ebonassi.vercel.app

https://twitter.com/emilianobonassi/status/1278988848828239874

[2020-08-11 22:11] cxk280 commented on #1547
This issue should still be open.

[2020-08-11 22:59] alcuadrado commented on #1547
As this is not something fixable without a huge breaking change, maybe it'd be good to document the limitations discussed here.

[2020-08-12 05:30] cokia commented on #3683
I agree with you. Unresolved issues close too quickly.

I think it is better to use WIP keyword among WIP tags or comments.

[2020-08-12 17:44] viswanathkgp12 opened #3684 "Event log decode fails"
I've tried decoding `OracleRequest` event logs from this [tx](https://etherscan.io/tx/0x2e2aec5cbd5bff2c720dd1387a692c1f2ec691f996e6edb8518c7125d1bab2e5#eventlog) using `web3.eth.abi.decodeLog`

#### Expected behavior
Decodes correctly to:
[code]
#### Actual behavior
Event log decode fails. Logs attached below.

From the logs, it looked like the abi decoder expects event data to be a multiple of `

[2020-08-12 17:56] ryanio commented on #3684
Please see related issue: #3544

from https://github.com/ethers-io/ethers.js/issues/992#issuecomment-671112940:

[2020-08-12 18:12] viswanathkgp12 commented on #3684
Okay. I didn't see that. Since there is another issue open reg. the same, should I close this?

[2020-08-12 20:01] alcuadrado opened #3685 "websocket's native dependencies"
Hi,

I'm creating this issue because at Nomic Labs and Tenderly we've been working on removing node-gyp based native dependencies form the ecosystem. We already mentioned this in other issues/pull requests here. There's more info here: https://github.com/ethereum/js-organization/issues/18

One of the few packages that requires recompiling native dependencies on install is `web3`, as it uses `webso

[2020-08-13 08:27] pierce403 commented on #2077
`web3.utils.toWei(amount)` seems dead.  `web3.toWei(amount)` worked for me though.

[2020-08-13 15:17] disenotov commented on #3676
issue got solved by itself the next day, sorry for not writing sooner :) thanks!

[2020-08-13 15:17] #3676 closed, assigned to nobody

[2020-08-13 20:50] Sreesankar-G-Warrier commented on #1629
Hi, am also having the same issue and I got this error from my browser

 web3.min.js:1 Uncaught (in promise) Error: Couldn't decode  from ABI: 0x
    at o.formatOutputInt [as _outputFormatter] (web3.min.js:1)
    at o.decode (web3.min.js:1)
    at web3.min.js:1
    at Array.forEach (<anonymous>)
    at b.decodeParameters (web3.min.js:1)
    at M.d._decodeMethodReturn (web3.min.js:1)
    at f.outpu

[2020-08-13 22:24] GregTheGreek commented on #3684
@viswanathkgp12 We'll keep it open for now, its a good reference point.

[2020-08-13 22:26] GregTheGreek commented on #3680
Please see related issue: #3544

from https://github.com/ethers-io/ethers.js/issues/992#issuecomment-671112940:

[2020-08-13 22:36] GregTheGreek commented on #3685
This makes a lot of sense. node-gyp is a parasite during build.

I think if the fork is as described I wouldn't have an opposition to using this, as long as upstream changes are always kept up to date. We'd greatly appreciate being apart of the forks updates (being tagged is fine, happy to also review) since this _could_ have a large impact.

I haven't taken time to review the current PR, perhaps

[2020-08-14 00:41] alcuadrado commented on #3685
Thanks for your reply, Greg!

I forked into https://github.com/nomiclabs/WebSocket-Node and released [`@nomiclabs/websocket@1.0.31`](https://www.npmjs.com/package/@nomiclabs/websocket). We'll make sure that it's up to date with the upstream version. Once these changes are actually implemented, I'll change the fork to just re-export the upstream module.

The relevant diff is just [this commit](http

[2020-08-14 08:59] GregTheGreek commented on #3685
@alcuadrado sorry so is the plan that nomic will continue to maintain the fork?

Is there a reason for this?

[2020-08-14 09:02] GregTheGreek commented on #3611
get outta here stale bot

[2020-08-14 09:03] GregTheGreek commented on #3611
@benjamincburns just want to confirm you're not touching on this anymore?

[2020-08-14 10:49] GregTheGreek opened #3687 "CI Failures"
Currently the CI is failing due to [geth-dev-assistant](https://www.npmjs.com/package/geth-dev-assistant) timing out. This is causing all PRs to fail. I've tested the same commands and other ones on a few different machines and experience the exact same issue that the CI is reporting (10 second timeout).

[2020-08-14 11:35] cokia commented on #3577
I think this issue is not stale, this is a necessary part of the long term.

[2020-08-14 13:31] alcuadrado commented on #3685
I think I misunderstood your last comment, @GregTheGreek.

I thought that you were willing to consider this if there was already a fork, so I went ahead and forked it. We are ok with maintaining the fork, even if web3 is the only consumer.

If you think that the fork should be managed by web3, that's even better for us. TBH this is the option I'd choose if I were maintaining web3, so feel free to

[2020-08-14 13:35] GregTheGreek commented on #3685
Ahh, ok I misunderstood your comment before as well.

Thanks for forking it! I gave it a test and tagged you, it's quite promising!

Id be happy to maintain it. Do you mind if I fork your changes ?

[2020-08-14 13:37] nebojsa94 commented on #3685
Nope, that is the only one!

[2020-08-14 14:18] alcuadrado commented on #3685
No problem!

[2020-08-15 04:52] junderw opened #3688 "Implement EIP-2876"
I will handle the implementation.

I am making this issue to discuss / ask about the methodology / get a loose green-light on the EIP before diving in on implementation.

## The EIP

https://eips.ethereum.org/EIPS/eip-2876

## My Plan

1. Add tools to utils such as `toDepositAddress(baseAddress, nonce) => string` and `verifyDepositAddress(depositAddress)`
2. Allow `web3.eth.sendTransaction` to acc

[2020-08-16 01:45] johhonn opened #3689 "clearSubscriptions return undefined"
#### Expected behavior
web3.eth.clearSubscriptions returns a boolean
#### Actual behavior
web3.eth.clearSubscriptions returns undefined
#### Steps to reproduce the behavior
install web3
instantiate with infura websockets
let web3=new Web3(new Web3.providers.WebsocketProvider(process.env.INFURA));
create a  subscription with logs
web3.eth.subscribe('logs', {} ,function(){ ... });

then call web3.et

[2020-08-16 13:51] GregTheGreek commented on #3688
Ive just browsers this briefly. Is there a reason this couldn't be implemented as a simple library alongside web3.js? We are trying to keep things slimer by including provider specific eips.

Happy to hear out your thoughts on inclusion of this eip though as it pertains this library being specific to provider functions ?

[2020-08-16 15:12] junderw commented on #3688
Thanks for the reply.

Can you clarify for me what you mean by "provider specific"?

I can certainly go the route of:

1. Make my own library.
2. Write a few examples of using my library alongside web3
3. Try to get exchanges to implement it.

But the success rate of getting exchanges to implement if it is coming from some random guy who, upon further inspection, works for a competitor (even if we

[2020-08-16 18:17] GregTheGreek commented on #3688
Sorry that was vague. A provider aims to give access to a full node (i.e what web3.js does) for example the following [eip](https://eips.ethereum.org/EIPS/eip-1193) is a provider specific EIP.

Regarding your EIP:
I actually think this offers a lot of useful things for the wider community for sure. Although I'm not sure that web3.js is quite the place for it, for example you won't even find `erc20

[2020-08-16 19:10] GregTheGreek commented on #3689
~It is the correct behavior for it to return void (or undefined).~

~Although I could see it to be beneficial if it did return a boolean.~

Thank you for reporting!

[2020-08-17 02:43] cokia commented on #3689
"web3.eth.clearsubscriptions()" is shown in the document return type 'Boolean'. It has no mention of return value  `undefined` in the document, and I don't know if this is a problem with your comments or  documentation. Under what circumstances is it normal for undefined to appear?

[2020-08-17 05:07] epiqueras commented on #1178
<img width="1218" alt="Screen Shot 2020-08-16 at 10 06 43 PM" src="https://user-images.githubusercontent.com/19157096/90359087-c9e9e600-e00c-11ea-9dd5-c8457116d46b.png">

This is abysmal...

[2020-08-17 06:19] sirpy commented on #1219
not working on 2.0.0 this should be opened
@nivida

[2020-08-17 10:21] GregTheGreek commented on #3689
I misread the documentation, the code is in fact incorrect. The `clearSubscriptions` has no return value.

[2020-08-17 11:21] ravi0the0sun commented on #1022
what about?

[code]

edit1: Hi @petercooke536 i have been working with react native and web3js and i have found that you will need to edit the shim.js and also you will need to run `./node_modules/.bin/rn-nodeify --install` after you have cloned the project to a new folder

[2020-08-17 23:05] wbt opened #3691 "Drop/update swarm-js dependency?"
Web3 depends on web3-bzz which [depends on](https://github.com/ethereum/web3.js/blob/1.x/packages/web3-bzz/package.json) [swarm-js](https://github.com/maiavictor/swarm-js), which depends on [eth-lib](https://github.com/MaiaVictor/eth-lib/) which depends on [servify](https://github.com/MaiaVictor/servify).  The latter three are by the same author, who clearly writes in the readmes for the first two

[2020-08-18 00:43] #2089 closed, assigned to nivida

[2020-08-18 01:10] GregTheGreek commented on #3691
This makes a pretty good argument for dropping bzz. Would love to see input from the swarm team... @ryanio do you know anyone there?

If we can't get a hold of them it might be worth doing a "last call" for a month or so before fully deprecating it.

cc: @frankiebee @spacesailor24

[2020-08-18 02:45] crameur commented on #2077
Quick fixes:
`const num256 = 42*10**18;`
`const fix1 = num256.toString();`
`const fix2 = "0x"+num256.toString(16);`

[2020-08-18 18:16] #3687 closed, assigned to nobody

[2020-08-19 02:11] cokia commented on #3237
I think this feature should be implement.
this issue is not stale, I trying to implement this feature.

[2020-08-19 10:16] Spacesai1or opened #3697 "After calling clearSubscriptions you are unable to create another subscription"
This is an issue that was first mentioned in #3689, but is being separated into it's own issue

#### Expected behavior

User should be able to subscribe, clear subscriptions, and subscribe again

#### Actual behavior

User is able to set up a subscription, but after clearing the subscription via `web3.eth.clearSubscriptions`, user is unable to create another subscription afterwards

#### Steps to

[2020-08-19 16:53] wbt commented on #2739
@GregTheGreek you have to remove the "stale" label when reopening, if you want to keep it open for a little longer.

[2020-08-19 23:57] muzhaqi16 commented on #3439
I am having the same issue with rendering react website through node.js server.

[2020-08-20 00:44] #3309 closed, assigned to cgewecke

[2020-08-20 04:43] GregTheGreek commented on #3439
Can you provide further details? Node.js & web3 version,

[2020-08-20 10:29] mrpriyansh commented on #2091
**Alternate Solution**
Step1: Visit the website from which you want to access MetaMask .
Step2: Click on the account option button(vertical ellipsis icon) of MetaMask extension.
Step3: Click on the Connected sites menu.
Step4: Click on "**_Manually connect to current site_**" and then grant all the permission that it asks for.

You will get a _connected status_ at the top left corner.

[2020-08-21 03:48] jacko125 opened #3698 "web3.eth.ens.setContenthash() with Infura http provider error"
#### Expected behavior

Using web3.eth.ens library should allow interacting with the ENS Resolver contract with a signed transaction.

[code]

#### Actual behavior

`Error: Returned error: The method eth_sendTransaction does not exist/is not available`

Infura doesn't support unsigned transactions (it requires the transaction to be signed and sent as eth_sendRawTransaction).

#### Steps to reprodu

[2020-08-21 05:15] jjgonecrypto commented on #3698
@cgewecke any ideas on this one? 🙏

[2020-08-21 08:16] safakoks commented on #3650
I found the reason. It occurs because of a no-deployed contract address. Sending raw tx with bytecode returns contract address, so I used the fake contract address which does not refer to a correct deployed contract. I think the error message creates a misunderstanding about the situation.

By the way, It runs correctly on Ganache. But on Quorum it returns the error.

[2020-08-21 08:32] parin13 commented on #1470
I was getting same issue with : `web3V1.2.11`,
rolled back to  `web3v1.2.1` **solved the issue**

[2020-08-21 10:08] huntr-helper commented on #2739
### Bug Bounty

We have opened up a bounty for this issue on our bug bounty platform. Want to solve this vulnerability and get rewarded 💰? Go to https://huntr.dev/

We will submit a pull request directly to your repository with the fix as soon as possible. Want to learn more? Go to https://github.com/418sec/huntr 📚

_Automatically generated by @huntr-helper..._

[2020-08-23 12:27] as1ndu commented on #1211
Any current solutions for this?

[2020-08-24 08:47] GregTheGreek commented on #3698
Hmm, I actually stumbled upon a json-rpc interface mismatchwith Infura the other day.

Let me dive into this (sorry took the weekend off). I think we may need some edge cases surrounding infura specific endpoints

[2020-08-24 08:52] GregTheGreek commented on #3698
Or we may need to switch `eth_sendTransaction` to `eth_sendRawTransaction`

[2020-08-24 12:52] jacko125 commented on #3698
Thanks Greg for looking into this, the issue with Infura Provider is that it would require a signed raw transaction. I believe if web3js is interacting with Metamask for example then using `eth_sendTransaction` would work as the tx is signed there.

[2020-08-24 16:37] wbt opened #3699 "Metamask-deprecated .on({data, close}) used in constructor"
Substantive details are described [here](https://github.com/MetaMask/metamask-extension/issues/9301), but this Issue is filed in web3 for updates which may need to be made in web3 for no longer relying on deprecated `data` and `close` events if they are, in fact, actually deprecated.

[2020-08-24 17:21] michael-spengler opened #3700 "Web3 for Deno RTE --> web3.ts"
I'd like to use web3 in a https://deno.land/ project. Are there any good recommendations out there yet? :)

The concrete question is:
**How can I connect to the Ethereum Network from an https://deno.land/ project?**

[2020-08-24 17:42] michael-spengler commented on #3700
I drafted the following third party module for deno: https://deno.land/x/ethereum

If there are experienced developers here who would like to take this forward, let me know.

[2020-08-24 18:00] GregTheGreek commented on #3698
I haven't had time today to get to this, but tomorrow I'll be poking around.

One thing that confuses me, is I run a local script against multiple providers (including infura), which works everytime. It seems this only happens with ens, which inherits the `eth` object with the correct provider(?)

Either way, I'll hopefully get to this tomorrow and have a solution. I'd like to cut a release wednes

[2020-08-25 09:39] michael-spengler commented on #3700
as an alternative option to keep a similar separation of concerns: https://deno.land/x/web3 plus the corresponding repo [web3.ts](https://github.com/michael-spengler/web3.ts)

[2020-08-25 18:06] toninorair opened #3702 "web3-eth-abi is not compatible with ethers.js bignumber v5.0"
#### Actual behavior
bignumber `toString` fails with an error `bigNumber.toString does not accept parameters` for the latest ethers.

These 2 lines are incompatible between `web3-eth-abi` and `ethers/bignumber`:

https://github.com/ethereum/web3.js/blob/1.x/packages/web3-eth-abi/src/index.js#L258

https://github.com/ethers-io/ethers.js/blob/master/packages/bignumber/src.ts/bignumber.ts#L191

####

[2020-08-25 19:18] #3689 closed, assigned to Spacesai1or

[2020-08-25 21:34] michael-spengler commented on #3700
I drafted https://deno.land/x/web3 plus the corresponding repo web3.ts - If you like it we can of course move the repo into the ethereum org.

[2020-08-26 15:32] rekmarks commented on #3699
Just to provide our perspective, from the point of view of MetaMask and current provider standards, `data` and `close` are deprecated.

[2020-08-26 18:54] ryanio commented on #3691
sorry I don't know anyone currently working on swarm but I will drop a message in their channel with a link to this issue.

[2020-08-27 13:18] ishanjain28 commented on #3204
not stale

[2020-08-27 22:11] Spacesai1or commented on #3697
So the code snippet I provided above is actually incorrect. In the above, the first subscription is still being set up when `web3.eth.clearSubscriptions()` is executed, which makes the second subscription redundant (and possibly doesn't get created?)

The correct implementation of the above would be something like:

[code]

The code snippet console logs the following:

[code]

I will be closing th

[2020-08-27 22:46] Spacesai1or commented on #3697
I just realized I used `subscription.unsubscribe()` in the second code snippet, instead of `web3.eth.clearSubscriptions()`

When using the following code:

[code]

You get the following output:

[code]

However, when using `web3.eth.clearSubscriptions()` instead of `subOne.unsubscribe()`, the second subscription never gets setup, instead it hangs when trying to create the second sub:

[code]

[2020-08-27 22:57] Spacesai1or commented on #3697
As a sanity check, I added the following test to the file `eth.subscribe.ganache.js`, and it passed:

[code]

[2020-08-28 00:37] isaacdchan commented on #2837
Ran into this problem. Used `{ transactionConfirmationBlocks: 1 }`. Solved the problem.

Is this a production safe solution though? Is it the case that the less block confirmations are needed to finalize a transaction, the less secure it is?

[2020-08-28 01:24] mattfysh commented on #2837
From my understanding, this is a policy choice that's left up to the user. The less blocks you require before confirming a transaction, the more likely the transaction may be rolled back when the block it is contained within is orphaned/becomes an uncle (I don't remember the exact terminology). 1 is definitely too low, as uncle blocks are occurring all the time, last I checked a few months ago eve

[2020-08-28 09:34] GregTheGreek commented on #3700
@michael-spengler cool!

Just a little FYI, we've converted all our configs and compilers etc... to TypeScript :confetti_ball: we're slowly navigating our way through a full migration so we don't can have native deceleration files instead of the current broken ones.

[2020-08-28 09:36] GregTheGreek commented on #3700
To answer your question:

I haven't used Deno much more then when I saw the demo a few years back at websummit(?). We currently don't have the bandwidth to explore this, but if it's something you want we can provide some assistance.

[2020-08-28 09:38] GregTheGreek commented on #3702
Do you mind providing us with a little code snippet :)?

[2020-08-28 16:12] theturtle32 commented on #3685
@alcuadrado - I've incorporated the N-API changes upstream and released a new version of `websocket` on npm as v1.0.32 that no longer uses node-gyp.

[2020-08-28 16:22] alcuadrado commented on #3685
Thanks a lot, @theturtle32! 🙌

[2020-08-28 17:12] GregTheGreek commented on #3685
@theturtle32 :This_is_me_jumping_for_joy: thanks!!!

[2020-08-28 18:39] michael-spengler commented on #3700
Hi Greg The Greek :) Thank you for your response.

I'll explore some options potentially leveraging
https://medium.com/samsung-internet-dev/using-node-modules-in-deno-2885600ed7a9 resp. https://jspm.org/ and
https://stackoverflow.com/questions/61821038/how-to-use-npm-module-in-deno

If some funding via https://gitcoin.co/ would be beneficial from your perspective let me know. In this case feel fre

[2020-08-29 13:46] PabloPerezAguilo commented on #2152
I had the same problem with this code:

[code]
It was making polling with `eth_getTransactionReceipt` and never ends. Because of this reason I got the rate limit error from Rinkeby.

![image](https://user-images.githubusercontent.com/9373112/91638266-55e90e00-ea0e-11ea-980a-246568d2ea61.png)

I fixed it using the returned promise instead the events:

[code]

In other way, you can optimize with web

[2020-09-01 10:16] SalahAdDin commented on #2077
@crameur why must it be like that?

[2020-09-01 10:19] SalahAdDin commented on #1936
@wigy-opensource-developer Look at this: https://github.com/ethereum/web3.js/issues/2077

[2020-09-01 16:23] lastperson commented on #3408
in case someone stumbles upon this from google: you need to use the latest commit from node-scrypt which has a fix for node v12 support. Owner of the repo struggles with updating NPM package.

`npm install github:barrysteyn/node-scrypt#fb60a8d3c158fe115a624b5ffa7480f3a24b03fb`

[2020-09-01 18:12] #3685 closed, assigned to frankiebee, GregTheGreek, Spacesai1or

[2020-09-02 08:32] NellalinkHQ commented on #3083
@HM999  HM999   , Check this out
I faced the same issue but I figured this might
[code]

[2020-09-02 16:41] forshtat commented on #2621
Hey @nivida @princesinha19 !
May I ask what is the status of this issue? It looks here like it was accepted and then closed.
Is there currently no way to configure the polling rate? I understand there is a `transactionPollingTimeout`, but it only changes the number of 1000ms intervals until the exception is thrown, am I right?

[2020-09-02 17:58] #3667 closed, assigned to nobody

[2020-09-02 19:50] Spacesai1or opened #3705 "web3.eth.abi.decodeLog returns incorrect first indexed event parameter"
#### Expected behavior

Originally mentioned by @wbt in #3692, `web3.eth.abi.decodeLog` incorrectly returns the event identifier in place of the first indexed event parameter. In the replication steps provided by @wbt [here](https://github.com/ethereum/web3.js/pull/3692#issuecomment-675485588), the first indexed parameter should be `16`

#### Actual behavior

The first indexed parameter is returne

[2020-09-02 20:44] vetal20600 opened #3707 "TypeError: constants_1.MaxUint256.mask is not a function"
Hello, Ethereum community. I am having a project where is a necessity to support two web3 versions: _1.2.1_ and the _latest one_. Everything was smooth great until _web3 1.2.4_ was replaced by _web3 1.2.11_. Then it started fail with the following error:
`Job 4c847e9b-a7aa-463a-854f-9c5b8636e45a was failed with message TypeError: constants_1.MaxUint256.mask is not a function and error stack: Error

[2020-09-02 23:46] michael-spengler commented on #3700
Some more info which might be helpful along this journey: michael-spengler/wwi18seac#8 (comment)

Plus the link to the Deno community in Discord: https://discord.gg/deno Feel free to join.

[2020-09-03 09:48] Ezerous commented on #2665
This happens in development networks when automining is on and blocks were mined more than an hour ago. It is thrown if for some reason `checkNetwork()` in `ENS.js` is triggered (e.g. with a simple `console.log(web3.eth.ens.registry)`).

[2020-09-03 10:32] GregTheGreek commented on #3700
@michael-spengler since deno isn't on our roadmap I'm not sure if we'll be able to provide and gitcoin grants at this time.

[2020-09-03 16:07] michael-spengler commented on #3700
@GregTheGreek O.K. We'll see what we can do on our side for the Deno Web3 enablement. We can leave the issue open if you like as I can give some updates on the corresponding progress during the upcoming weeks.

[2020-09-03 21:40] gabmontes opened #3708 "UnhandledPromiseRejectionWarning when sending a transaction and the error event handler throws"
#### Expected behavior

Send a transaction that will fail i.e. because the gas amount is not specified, and use the events interface of the promi-event. If the `error` event handler throws, that error should be handled exclusively in "userland". If the promises interface is used as well, the no-gas-specified error should be seen.

#### Actual behavior

An unhandled promise rejection is thrown with

[2020-09-04 08:31] GregTheGreek commented on #3708
Thanks for reporting this and opening a pr! I'll take a look at this later today 😊

[2020-09-04 12:30] Sam-Devs opened #3711 "node web3.js returning TypeError"
#### Expected behaviour
I expected it to return the value of the smart contract I called.
#### Actual behavior

#### Steps to reproduce the behaviour

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

I ran node web3.js in the terminal to test contract functions and it returned
internal/validators.js:125
    throw new ERR_INVALID_ARG_TYPE(name, 'string', value);
    ^

TypeError [ERR_

[2020-09-04 14:00] Ezerous commented on #2665
Okay, it seems that another case that triggers it is the following one:

- Private development network
- A web3 object inside an action in Redux
- Opening Redux DevTools extension

This will always throw an error (either this one, if last block was mined more than an hour ago, or "ENS is not supported on network"). As far as I get it, the extension is accessing the web3 object, and when it reaches

[2020-09-05 06:07] Lloyd1229 commented on #1022
I don't think you're right,please open the issues

[2020-09-06 21:02] GregTheGreek commented on #3711
Are you able to provide reproducible example for us?

[2020-09-07 02:24] ravi0the0sun commented on #1022
Hi @Lloyd1229 i am currently working in a react native project that uses web3js and i can confirm that the method shown by @ioitiki works on an android emulator or usb android emulator i havnt tested it with ios so i cant say the same, but what i have found is that it will have some weird interaction with `@react-navigation` especially its dependency `react-native-gesture-handler` when you put `im

[2020-09-07 06:13] Lloyd1229 commented on #1022
Hello, can you tell me what your version is and the installation process of web3.js?

[2020-09-07 06:13] Lloyd1229 commented on #1022
https://github.com/ethereum/web3.js/issues/1022#issuecomment-687985005

[2020-09-07 06:13] Lloyd1229 commented on #1022
Hello, can you tell me what your version is and the installation process of web3.js?

[2020-09-07 06:25] ravi0the0sun commented on #1022
its same as this and the current version is `"web3": "^1.2.11"` and `"react-native": "0.63.2"` i havent done any testing with ios but when setting up a react-native app with web3js you can follow the above instruction its working for me

[2020-09-07 06:47] Ppang0405 opened #3712 "What's the hell is this library does? What can I do with this?"

[2020-09-07 11:47] michaelsbradleyjr commented on #3712
Please see the documentation: https://web3js.readthedocs.io/en/v1.3.0-rc.0/

Also, a tutorial might be helpful: https://www.dappuniversity.com/articles/web3-js-intro

I haven’t worked through that one, but on first glance it seems decent enough.

[2020-09-07 14:30] Ppang0405 commented on #3712
Thanks, I check that now.

[2020-09-07 14:30] #3712 closed, assigned to nobody

[2020-09-08 01:14] ricmoo commented on #3680
I've added support in ethers [5.0.12](https://github.com/ethers-io/ethers.js/releases/tag/v5.0.12) for supporting legacy Solidity 0.4 external event data. I believe web3 depends on the abi package directly, in which case web3 should upgrade to `@ethersproject/abi` version `5.0.4`.

For more details, please see https://github.com/ethers-io/ethers.js/issues/891.

[2020-09-08 01:16] ricmoo commented on #3544
I've added support in ethers [5.0.12](https://github.com/ethers-io/ethers.js/releases/tag/v5.0.12) for supporting legacy Solidity 0.4 external event data. I believe web3 depends on the abi package directly, in which case web3 should upgrade to `@ethersproject/abi` version `5.0.4`.

For more details, please see https://github.com/ethers-io/ethers.js/issues/891.

[2020-09-08 01:17] ricmoo commented on #3684
I've added support in ethers [5.0.12](https://github.com/ethers-io/ethers.js/releases/tag/v5.0.12) for supporting legacy Solidity 0.4 external event data. I believe web3 depends on the abi package directly, in which case web3 should upgrade to `@ethersproject/abi` version `5.0.4`.

For more details, please see https://github.com/ethers-io/ethers.js/issues/891.

[2020-09-08 01:18] ricmoo commented on #3671
I've added support in ethers [5.0.12](https://github.com/ethers-io/ethers.js/releases/tag/v5.0.12) for supporting legacy Solidity 0.4 external event data. I believe web3 depends on the abi package directly, in which case web3 should upgrade to `@ethersproject/abi` version `5.0.4`.

For more details, please see https://github.com/ethers-io/ethers.js/issues/891.

[2020-09-08 16:12] LouisHatte opened #3713 "sendSignedTransaction error EVM revert on kovan (infura)"
#### Expected behavior
I want to send a successful transaction with `web3.eth.sendSignedTransaction` on kovan network.

#### Actual behavior
I get this non explicit error: `Error: Transaction has been reverted by the EVM`.
The Smart Contract Token I use works with Metamask.
Without Metamask I can call read methods from my Smart Contract like: `token.methods.balanceOf(tmpAddr).call()`.

#### Steps

[2020-09-08 18:53] LouisHatte commented on #3713
My gasLimit was too low...

Now it works.