[2019-01-27 09:58] lucashenning commented on #2228
Fixed in https://github.com/ethereum/web3.js/pull/2217 and merged in https://github.com/ethereum/web3.js/commit/ec585b11ff23b43684733fa3b52db6a71576bf11

Thanks @joshstevens19

[2019-01-27 10:12] levino commented on #2222
I disagree. I think #2224 will not be implemented soon and introduce breaking changes. This issue right here is simply about improvement of code quality.

[2019-01-27 10:13] #2228 closed, assigned to nobody

[2019-01-27 10:14] levino commented on #2222
I changed a bit the code above and used callbackify because this will allow to write all code in Promise style and then only convert it to support callbacks too.

[2019-01-27 10:36] studioTeaTwo commented on #2223
I got same trouble, too.
my contract methods using `openzeppelin-solidity(v2.1.2)` failed even if `contract.methods.totalSupply().call()`.
my enviroment is here.

[code]

[2019-01-27 11:02] studioTeaTwo opened #2229 "1.0.0-beta38 doesn't support `HDWalletProvider`?"
#### Expected behavior

`"truffle-hdwallet-provider": "0.0.6"` work.

#### Actual behavior

`Error: Please provide an valid Web3 provider`

#### Steps to reproduce the behavior

[code]

#### Error Logs

[code]

#### Versions

"web3": "1.0.0-beta.38",
"truffle-hdwallet-provider": "0.0.6",
"typescript": "^3.1.6",
Node v10.14.2

[2019-01-27 11:27] nivida commented on #2229
Thanks for creating this issue!

As it looks like is the truffle hdwallet provider package using his own provider which is not supported by the public API of Web3.js.

There is currently no workaround for this, please open an issue in the truffle-hdwallet-provider package.

We did expose a ``extend()`` method before the ``v1.0.0-beta.38`` release and do now provide a Web3 Modules API as explained

[2019-01-27 11:28] #2229 closed, assigned to nobody

[2019-01-27 11:47] lucashenning opened #2230 "Web3 1.0.0-beta.38 TypeError: DeployTransactionResponse estimateGas() arguments and return type incorrect"
#### Expected behavior
According to the documentation [web3.Contract methods.myMethod.estimateGas()](https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html?highlight=estimategas#methods-mymethod-estimategas),
the `estimateGas()` function, defined in the `DeployTransactionResponse` interface expects 0 - 3 arguments and returns `Promise<number>`

#### Actual behavior
`estimateGas()` expects 1 -

[2019-01-27 12:13] joshstevens19 commented on #2230
Thanks for this - PR is in https://github.com/ethereum/web3.js/pull/2231

[2019-01-27 14:07] nivida commented on #2223
Tested it again and got the same error. It was because of the deep cloning of the arguments. (fixed in #2232)

[2019-01-27 14:08] #2221 closed, assigned to nobody

[2019-01-27 14:09] #2230 closed, assigned to nobody

[2019-01-27 16:09] #2223 closed, assigned to nobody

[2019-01-27 20:11] spalladino commented on #2213
@nivida let me know what kind of further clarification is needed! I found the code of the contract to be irrelevant to this bug, but I can provide it anyway if it helps.

[2019-01-27 20:11] nivida commented on #2224
Thanks for opening this discussion @Levino.

I totally agree that the support of callbacks should get removed. The current plan for the next week is to fix as many bugs as possible and to improve the documentation. Just to be sure the things are running as expected after the refactoring.

If the broader community agrees with this would I add a deperecation warning for the callbacks method in versi

[2019-01-27 20:23] nivida commented on #2226
I never said the version 1.0.0-beta.38 is the stable release.

The 0.20.x versions are deprecated and I recommend to change to version 1.0 because of the coming stable release in the next five months. I've deprecated the  0.20.x versions just to have more developers which are using the 1.0 version of this library. The higher usage of version 1.0 of this library will probably lead to a higher rate

[2019-01-27 20:36] nivida commented on #2171
@alcuadrado I have to dig in deeper and test it. I will drop a comment here if I started to fix this.

[2019-01-27 20:41] aashutoshrathi commented on #1916
Module not found: Can't resolve 'eth-lib/src/hash' :confused:

[2019-01-27 20:55] jtremback opened #2238 ""TypeError: this.utils.randomHex is not a function" in web3.eth.accounts.create()"
#### Expected behavior
`web3.eth.accounts.create()` should create an account.

#### Actual behavior
`web3.eth.accounts.create()` creates runtime error.

NOTE: `web3.eth.accounts.create("entropy")` works

#### Steps to reproduce the behavior

[code]

#### Error Logs
[code]

#### Versions
web3.js version 1.0.0-beta.38, Chrome 71, Typescript

[2019-01-27 21:00] jtremback commented on #2238
Also, calling `web3.utils.randomHex(32)` myself has the same error. Additionally, Typescript thinks that the function exists so that would also indicate that your typings are wrong.

[2019-01-27 21:26] jtremback commented on #2238
logging web3 to the console shows

![image](https://user-images.githubusercontent.com/1335122/51807075-2d4bd180-2237-11e9-8d93-af78f364256f.png)

randomHex seems to be explicitly undefined

[2019-01-27 23:03] nivida commented on #2238
@jtremback Thanks for creating this issue!

~~Does this error still occur in the beta.39?~~

Edit:
Checked the NPM package of randomHex. The source of it is the following GitHub repository (https://github.com/frozeman/randomHex#readme).

Thanks for figuring this out.

[2019-01-28 00:52] jtremback commented on #2238
Thanks @nivida - are you indicating that it does not happen in beta.39? I will give it a shot. If that doesn't work i'll try the standalone.

[2019-01-28 01:34] jtremback commented on #2238
Very confusing, the actual code was deleted 2 years ago?

https://github.com/frozeman/randomHex/commit/cd6a244b84e42a0d166a746ac5ba542065b16e87

[2019-01-28 02:10] 0x31 opened #2239 "Wrong network ID and network type"
#### Expected behavior

`web3.eth.net.getId()` should call `net_version` and return the current network id.

https://github.com/ethereum/web3.js/blob/1d9f6c0889c7f551b4ec1041cece0d50bc3ff2c8/packages/web3-net/src/index.js#L38-L43

#### Actual behavior

From 1.0.0-beta.38 onwards, `web3.eth.net.getId` calls `eth_protocolVersion` and returns the current ethereum protocol version.

https://github.com

[2019-01-28 02:33] tidusvn05 commented on #2238
same issue, some function error when utils.randomHex undefined.

utils:
      { randomHex: undefined,
        jsonInterfaceMethodToString: [Function: jsonInterfaceMethodToString],
        hexToAscii: [Function: hexToAscii],
        asciiToHex: [Function: asciiToHex],
        getUnitValue: [Function: getUnitValue],
        fromWei: [Function: fromWei],
        toWei: [Function: toWei],
        toCh

[2019-01-28 02:37] 0x31 commented on #2221
@nivida This still seems to be an issue in version `1.0.0-beta.39`. Should the `@babel/runtime` dependency be added to `web3.js/packages/web3/package.json` instead of `web3.js/package.json`?

[2019-01-28 04:56] anjalialance commented on #2212
bip30 package is not getting installed. bip30 is not present in npm package collection only bip39 is present.

[2019-01-28 05:12] kroitor commented on #2221
I can confirm the results of @negaex – still getting the same (identical) issue with `1.0.0-beta.39`.

[2019-01-28 05:45] dev1644 commented on #2212
Oh, I made a typo of `bip39`, Sorry for that.
If your issue is resolved you can close this thread.

[2019-01-28 05:46] anjalialance commented on #2212
Ohh, it's fine. It is giving the error of hex is not defined.

[2019-01-28 05:52] anjalialance commented on #2212
Done! Thanks for help!

[2019-01-28 06:04] spursy commented on #2221
@nivida I still confirm the same issue still exits in **"web3": "^1.0.0-beta.39"**

[2019-01-28 06:45] athlona64 opened #2240 "used web3 on nodejs for events few time is't work"
i'm want to track all address in this contract with transfer event but in this case few time is't work
[code]

[2019-01-28 07:12] levino commented on #2240
I suggest you make a repository or even better a PR with a failing test. It is impossible to help you like this.

[2019-01-28 07:31] princesinha19 opened #2241 "Error: Missing parameter: provider"
Steps to reproduce:
1. Install web3 and truffle-contract
2. Use in nodejs code
3. Run `node app.js`  command then, you will get this error.

**Error Logs:**
[code]
**Versions:**
NPM: 6.4.1
node: v10.13.0
Web3.js: ^1.0.0-beta.39
OS: ubuntu 18.04
truffle-contract: 0.4.2

I don't know this is the issue of web3 or truffle-contract. Truffle contract also uses web3 version ^1.0.0-beta.39. And, from erro

[2019-01-28 07:45] nivida commented on #2241
Could you please use the issue template and add all of the information we need.

[2019-01-28 07:52] princesinha19 commented on #2241
@nivida I have updated the information based on the issue template.

[2019-01-28 07:54] lucashenning opened #2243 "1.0.0-beta.39 - External transaction signing with web3.eth.accounts.signTransaction(tx, privateKey) does not work without default account"
#### Expected behavior
According to https://web3js.readthedocs.io/en/1.0/web3-eth-accounts.html#signtransaction
`web3.eth.accounts.signTransaction(tx, privateKey);` should sign a transaction without a default account (private key is provided as function argument).

#### Actual behavior
signTransaction fails if no default account is set. This makes external transaction signing impossible (i.e. it's

[2019-01-28 08:01] athlona64 commented on #2240
this
https://github.com/athlona64/web3eventTransfer/tree/master

but i can't give database for you

it's work few time after that not show any error but events not run again

i'm run on PM2

[2019-01-28 08:04] athlona64 commented on #2240
if i want to create track all address balance in this contract like etherscan for load all balance transfer and current balance

shloud i use any way ?

[2019-01-28 08:13] dev1644 commented on #2212
Hi @nivida, I think we can close this issue.

[2019-01-28 08:19] nivida commented on #2243
@lucashenning Thanks for creating this issue!

I've added the missing parameter ``moduleInstance`` to the inputCallFormatter in the signTransaction method. PR: https://github.com/ethereum/web3.js/pull/2245

[2019-01-28 08:20] nivida commented on #2241
@princesinha19 This looks like an error of the truffle contract package. They use probably an unofficial API. Because of this, I'll close this issue. Please open an issue in the truffle package.

[2019-01-28 08:20] #2241 closed, assigned to nobody

[2019-01-28 08:25] #2212 closed, assigned to nobody

[2019-01-28 08:25] #2239 closed, assigned to nobody

[2019-01-28 08:40] levino commented on #2240
Might it be the case that this repository is private? I think you should be able to produce a fully running minimal example for your problem that does not require your "secret database".

Also I do not understand your questions, I cannot follow to be honest.

[2019-01-28 08:54] todorone commented on #1802
Unfortunately this is a blocking issue, so all versions above `beta.34` are unavailable for React Native platform due to it's cookies headers resulting this error:

<img width="359" alt="screen shot 2019-01-28 at 10 49 11 am" src="https://user-images.githubusercontent.com/423701/51824357-ace6a880-22ea-11e9-85f3-dcca7f1de6cf.png">

Can somebody proficient suggest any temporary workaround until this

[2019-01-28 09:02] princesinha19 commented on #2241
okay, @nivida. I will ask the question there.

[2019-01-28 09:04] #2243 closed, assigned to nobody

[2019-01-28 09:10] 0x-genesys opened #2246 "Cannot read property of blockNumber of null"
#### sendSignedTransaction call back 'confirmation' is called when transaction is mined on ropsten/mainnet

#### Callback is not called. Error is thrown

#### Steps to reproduce the behavior

Package.json:

[code]

call :  web3.eth.sendSignedTransaction('0x' + serializedTx)

#### Error Logs

following error is thrown:

[code]

#### Versions
[NPM, Node, Web3.js, OS, device...]

Node: v8.12.0
Npm: 6

[2019-01-28 09:12] 0x-genesys commented on #2246
Fixed indent

[2019-01-28 09:14] 0x-genesys commented on #2246
My .on('Confirmation', {} => ) callback is not called after the above error is thrown. Looks like an error in web3core when sendSignedTransaction is called.

[2019-01-28 09:32] nivida commented on #2246
@0x-genesys Thanks for submitting this issue!

Which provider are you using?

[2019-01-28 09:35] 0x-genesys commented on #2246
Thanks for your prompt response @nivida . I am using HttpProvider , with an infura url:

`    web3 = new Web3(new  Web3.providers.HttpProvider("https://ropsten.infura.io/v3/XXX"));
`

[2019-01-28 09:36] anjalialance opened #2247 "Send a transaction using passphrase and private key"
Hi,

I want to make a transaction with the help of the passphrase or the mnemonics that I have generated using bip39. Now, I am having a private key and address generated by that particular mnemonics. How can I make a transaction using passphrase. Please help.
`var decryptedAccount = web3js.eth.accounts.encrypt(keyStore, 'Password');`
I am using this but I don't have a keystore can I use only pass

[2019-01-28 09:42] nivida commented on #2247
Closed because the issue template was not used.

[2019-01-28 09:42] #2247 closed, assigned to nobody

[2019-01-28 09:46] 0x-genesys commented on #2246
Oh so issue was in 'receipt' , not 'confirmed'. Once the PR is merged, do I need to re-install node_modules?

[2019-01-28 09:48] nivida commented on #2246
@0x-genesys Nope anything is fine :-)
I had to update the ``afterExecution`` method of the ``GetTransactionReceiptMethod`` class. I didn't handle the case if the method is returning ``null``.

[2019-01-28 09:59] 0x-genesys commented on #2246
when can the response from the RPC be null?

[2019-01-28 10:14] barakman opened #2249 "web3 v1.0.0-beta.38 or higher cannot find module '@babel/runtime/helpers/typeof'"
#### Expected behavior

`require('web3-utils')` should work

#### Actual behavior

`require('web3-utils')` throws `Error: Cannot find module '@babel/runtime/helpers/typeof'`

#### Steps to reproduce the behavior

1. Create file `package.json`:
[code]
2. Create file `test.js`:
[code]
3. Run `npm install`
4. Run `node test.js`

#### Error Logs
[code]
This error can be resolved by downgrading web3 to

[2019-01-28 10:21] nivida commented on #2246
As described [here](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_gettransactionreceipt), will the ``eth_getTransactionReceipt`` JSON-RPC method return the value ``null`` when no receipt was found.

[2019-01-28 10:25] nivida commented on #2249
@barakman Thanks for opening this issue!

This got already fixed with: https://github.com/ethereum/web3.js/pull/2244

[2019-01-28 10:25] #2249 closed, assigned to nobody

[2019-01-28 10:25] #2246 closed, assigned to nobody

[2019-01-28 11:05] 0x-genesys commented on #2246
Im still facing the error. Tried running:

`rm -rf node_modules && npm i`

@nivida am I missing something?

[2019-01-28 11:20] levino opened #2250 "Document how to build and develop docs"
As far as I can tell the docs are built with `npm run docs`. This will then build a bunch of PDF files. Is this really the dev cycle? Is there not some "watch mode" which rebuilds on file change?

[2019-01-28 11:22] levino opened #2251 "Use netlify to get deploy previews for the docs for every PR"
Right now there are no preview links for the docs in the PRs, right? This can be quickly achieved with netlify.

[2019-01-28 12:44] skinderis commented on #580
Do we have the listtransactions method for the address yet?

[2019-01-28 15:53] poserr opened #2252 "ETH Receipt errors in 1.0.0-beta.38"
I am (was) using this code to send signed transactions to external node and get the receipt:

[code]

After updating to 1.0.0-beta.38 I started to get this error:

[code]

somehow outputTransactionFormatter is being called immediately after transactionHash event with empty "receipt" object.

[2019-01-28 16:09] poserr commented on #2252
I have to add that transaction itself is created and pushed to ropsten network successfully.

`transactionHash` event is also immediately fired.

[2019-01-28 16:30] poserr commented on #2252
It looks similar to #2246 and I am using WebSocket provider.

The error is thrown immediately after `sendSignedTransaction` method call, right after `transactionHash` event

[2019-01-28 17:46] patidarmanoj10 commented on #2223
@nivida  This seems to be working fine now. Thanks for providing quick fix.

[2019-01-28 17:46] nivida commented on #2252
got already fixed in PR: https://github.com/ethereum/web3.js/pull/2248 I will prepare a release now and publish it.

[2019-01-28 17:46] #2252 closed, assigned to nobody

[2019-01-28 20:32] dev1644 commented on #2240
Can you also provide output too?

[2019-01-28 21:42] nivida commented on #2238
@jtremback Yeah, strange. I will have a closer look at this tomorrow and fix it.

[2019-01-29 00:51] arm531 commented on #2223
I am getting the same error in this function:
[code]

[2019-01-29 02:47] zastrin opened #2256 "invalid bytes32 value"
#### Expected behavior
contract.deploy({
...     data: bytecode,
...     arguments: [stringArray.map(name => web3.utils.asciiToHex(name))]
... }).send({args ...})
should deploy the contract where argument to contract is an array of bytes32.

There is no issue with web3 1.0.0-beta.37, it happens with beta.41

#### Actual behavior
The deploy fails with Error: invalid bytes32 value (arg="candidateNam

[2019-01-29 02:51] zastrin commented on #2256
Looks like the recent versions are using ethers.js. When I convert string to bytes32 in ethers.js

[code]
but in web3.js there are no 0 padding

[code]
I don't exactly know how/why ethers.js is being used but may be this will give some clues?

[2019-01-29 04:21] athlona64 commented on #2240
![selection_079](https://user-images.githubusercontent.com/3031787/51883958-d1f51d00-23b7-11e9-90b1-20317c0c3f4e.png)
pink was work about few time it's nothing

i'm will be restart with

pm2 restart watch

after that this script work again but i don't know why events nothing after pass time it's not show any error

[2019-01-29 04:37] athlona64 commented on #2240
https://github.com/athlona64/web3Transfer

[2019-01-29 04:49] patidarmanoj10 commented on #2256
I too facing this issue in new version of web3.js

[2019-01-29 05:22] anjalialance opened #2257 "How to recover private key of web3 wallet?"
Hello, I am creating wallet using web3 `web3js.eth.accounts.create();` for mnemonics. I am unable to recover the same private key for the same mnemonics. I tried `hdkey` but unable to proceed transaction. I also used extended private key derived from hdkey but unable to proceed transaction. Please guide me.

Thanks in advance.

`app.get('/send_tx', (req, res,err) => {

var myAddress = '0x6486b5073

[2019-01-29 06:53] levino commented on #2240
This is not actionable. Issue should be closed.

[2019-01-29 07:08] dev1644 commented on #2257
`web3js.eth.accounts.create()` doesn't give you a mnemonic sequence, instead it gives a wallet object.
This wallet object contains -:

- Address/PrivateKey - Keypair.
- signTransaction - Function to sign your transaction with  Wallet's private key.
- sign - Function to sign your message with  Wallet's private key.
- encrypt - Function to sign your data with  Wallet's private key.

[2019-01-29 07:16] dev1644 commented on #2240
I am also getting confused with the OP's question.

[2019-01-29 07:37] WhaleChen commented on #2238
I also come across the similar problem, when I want to sign a message using my wallet:
[code]

So what's wrong and what should I do?

[2019-01-29 07:58] #2240 closed, assigned to nobody

[2019-01-29 08:15] levino opened #2258 "Stop checking for too many arguments"
**All issues which aren't created with this template will get immediately closed.**

#### Expected behavior

When I give a method more than the expected number of arguments, it should just continue normally and ignore the additional arguments.

#### Actual behavior

When I give a method more than the expected number of arguments I get an error.

#### Steps to reproduce the behavior

Call a method

[2019-01-29 10:03] RohanKapurDEV opened #2260 "Cannot find name 'Buffer'. Can't find module 'net'."
#### Expected behavior
Ionic/Angular handles the Web3 import fine and serves project

#### Actual behavior
I get an error stating that the name 'Buffer' cannot be found and that the 'net' module cannot be found, it then suggests me to install @types/node. After I install it, I get the same error.

#### Steps to reproduce the behavior
1. Start a new Ionic project
2. Install Web3 like so - `npm inst

[2019-01-29 11:02] joshstevens19 commented on #2260
Hey @RohanKapurDEV, In your angular app you have to whitelist the types for node to allow the web3 typing's to work properly when building through the angular cli or iconic. To fix this you have to add the node typing in your `tsconfig.app.json` and if you have tests your `tsconfig.spec.json` after you have installed `@types/node` like:

`"types": ["node"],`

The latest build works with angular pe

[2019-01-29 11:17] RohanKapurDEV commented on #2260
Hey, thanks. That actually worked, but not for long unfortunately. :(
Once I added what you suggested into my tsconfig.app.json file, I tried to console log the Web3 import within the service it was added to just as a test and got the following errors.

[code]

It seems as though now there are several other modules that can't be resolved apparently. Crypto, http, https, os, and stream specifically

[2019-01-29 11:28] joshstevens19 commented on #2260
There is a lot of different errors from different packages in that trace, It looks like you may be trying to use node things in a UI app, can you show me your angular service typescript code which throws this error please? Also before that can you delete all your node_modules and reinstall to make sure NPM has not got its knickers in a twist? I literally just set up a boilerplate angular 7 app and

[2019-01-29 11:36] joshstevens19 commented on #2260
I just found a fix for this error from your initial bug raised, i will do a PR now and resolve this so it shouldn't happen again, the solution is a temp fix until this PR i create is merged.

[2019-01-29 11:39] RohanKapurDEV commented on #2260
Sure, here is the test service im using:

[code]

I basically just inject this service into a component's .ts file and call the test method. That produces the error.

[2019-01-29 11:45] inyutin commented on #2238
I have exactly the same problem.

[2019-01-29 11:47] jungle04 commented on #2238
+1

[2019-01-29 11:47] joshstevens19 commented on #2260
strange i done exactly that and its just worked. If you try a plain boilerplate angular app without the other packages you have does it work?

I am saying this because you get a lot of other errors being thrown which are not related to web3

`ERROR in ./node_modules/eth-lib/lib/bytes.js`
`ERROR in ./node_modules/xhr2-cookies/dist/xml-http-request.js`
`Module not found: Error: Can't resolve 'stream

[2019-01-29 12:04] RohanKapurDEV commented on #2260
Hey I just made a repo you can take a look at, hopefully you'll spot something I can't. Let me know, and thanks for the continued help.
[Repo Link](https://github.com/RohanKapurDEV/Web3TestAngularIonic)
https://github.com/RohanKapurDEV/Web3TestAngularIonic

[2019-01-29 12:06] joshstevens19 commented on #2260
I have just done a PR which fixes the first issue you raised - https://github.com/ethereum/web3.js/pull/2261 (you have to use the workaround i stated above until its released)👍 I will take a look at your repo now for you.

[2019-01-29 12:17] joshstevens19 commented on #2260
ahhh i think i found your issue, this is a mismatch issue with the angular-cli-files default `browser.js` settings and is something you have to fix to get `web3` to work on angular apps.

if you create a file called `patch.js` in the root of the angular app

[code]

then in your `package.json` under `scripts` add ` "postinstall": "node patch.js"`

run `npm install` again and then `ng build` will a

[2019-01-29 12:23] RohanKapurDEV commented on #2260
Thanks so much for all the help. Much appreciated! I'll go ahead and close the issue.

[2019-01-29 12:23] #2260 closed, assigned to nobody

[2019-01-29 12:47] joshstevens19 commented on #2260
Great i also fixed that `patch.js` issue here so you will be able to remove your script on the next release :) https://github.com/ethereum/web3.js/pull/2262 Thanks for spotting them really appreciate it

[2019-01-29 13:57] kokleong98 commented on #2238
+1

[2019-01-29 13:57] filips123 commented on #2191
@nivida Will ENS be available at `web3.eth.ens` when using Web3 from CDN? What about installing from NPM? Will it be required to separately install `web3-eth-ens`?

[2019-01-29 14:13] filips123 opened #2263 "UMD bundle from CDN doesn't work"
#### Expected behavior

UMD bundle from CDNs (and also downloaded files) should work normally. It should be possible to use Web3 1.0 in browsers with them without requiring any additional packages from NPM or other dependency managers.

#### Actual behavior

When using Web3 version beta 38 and later (probably this versions) from CDN (jsDelivr and also others) or downloading a file with [UMD bundle

[2019-01-29 15:32] chainpioneer commented on #1916
Throws the same error when inside a transaction it generates different events with the same name and the same arguments. In my case, this was the **Transfer** event from **ERC721** and **ERC20**. Renaming one of them solves this problem, but of course this isn't the right way.

[2019-01-29 16:56] MarkGeeRomano commented on #2263
We are having similar issues that began with `beta.38`
[code]
Locking the version at `beta.37` fixes our issues

[2019-01-29 17:40] sebayaki opened #2265 "`returnValues` doesn't exist on event object"
#### Steps to reproduce

[code]
#### Expected behavior
The event object should have `returnValues` property like the example on the document (https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#id38)

[code]

#### Actual behavior
Output doesn't have `returnValues` property at all.

[code]

#### Versions
NPM: 6.7.0
Node: 11.7.0
Web3.js: 1.0.0-beta.41
OS: Mac OS 10.14.2

[2019-01-29 19:22] jtremback commented on #2238
I wrote this for myself. It doesn't include all the bells and whistles of the one that was deleted 2 years ago, and it won't work in node.js

[code]

[2019-01-29 19:23] davidmurdoch opened #2266 "Truffle and Ganache providers, Metamask Provider Engine no longer accepted as valid by web3"
#### Expected behavior

`ganache-core`'s provider object should continue to be treated as a valid web3 provider.

Support was removed by https://github.com/ethereum/web3.js/commit/1c5f5c59311833681ecc4bb2b8f947e28d9e2843#diff-e77bf80bc71ad9d4c1b43fc43f9f8635 and https://github.com/ethereum/web3.js/commit/30f720b54008149ddc287551f1851d2ba00dd5ed#diff-e77bf80bc71ad9d4c1b43fc43f9f8635L69

Additionall

[2019-01-29 20:33] AntonioJuliano commented on #1490
This seems to work correctly:

[code]

[2019-01-29 21:30] wjmelements commented on #2249
I have also experienced this issue (https://github.com/trusttoken/scripts/pull/19) but with `@babel/runtime/helpers/classCallCheck`.

Please deprecate versions beta.38 and beta.39.

[2019-01-29 21:32] wjmelements commented on #2221
Please deprecate versions beta.38 and beta.39, which reproduce this issue.

[2019-01-29 22:02] 7Ds7 commented on #2263
If possible it would be great that the build process bundled one (minified or not) web3.js file.

[2019-01-29 22:07] 7Ds7 opened #2267 "web3.js 1.0.0-beta.41 web3.eth.net is undefined"
#### Expected behavior
web3.eth.net should not be undefined

#### Actual behavior
web3.eth.net is undefined

#### Steps to reproduce the behavior

1. [First step]
Bundle one of the build files in web3.js/packages/web3/dist (ex: using browserify)

2. [Second step]
Include on the page

3. [and so on...]
web3.eth.net is undefined and per documentation it should not https://web3js.readthedocs.io/en/1.

[2019-01-29 22:51] inyutin commented on #2077
The same issue on 1.0.0-beta.40

[2019-01-30 00:30] redred77 opened #2268 "decodeLog() is broken after updating to beta.41 from beta.35"
#### Expected behavior
I tried web3.eth.abi.decodeLog() and got "null" value from latest version (beta.41)
I could get correct return value from beta.35.

#### Actual behavior

from beta.41
I get this output from decodeLog()
{ '0': '0xBA826fEc90CEFdf6706858E5FbaFcb27A290Fbe0',
  '1': '0xF64D22513198d7F3dbe24ac9f6eCDbfc95209d25',
  '2': null,
  from: '0xBA826fEc90CEFdf6706858E5FbaFcb27A290Fbe0',

[2019-01-30 02:00] cypheron opened #2269 "TypeError at NewAccountMethod.set"
#### Expected behavior
When running this line of code:
`web3.eth.personal.newAccount("").then(console.log);`
I should get the address of newly created account according to [documentation](https://web3js.readthedocs.io/en/1.0/web3-eth-personal.html#newaccount).
#### Actual behavior / Steps to reproduce the behavior
However, I do get following error message when running the code on different platfor

[2019-01-30 02:16] cypheron commented on #2269
Fixed after rebuilding `node_modules`.

[2019-01-30 02:18] cypheron commented on #2269
Fixed after rebuilding `node_modules`.

[2019-01-30 05:52] anjalialance commented on #2257
Hii,

Thanks for reply.

I am getting Address/Privatekey  using web3js.eth.accounts.create() for mnemonic.But I want same private key again for transaction as i do not want to save the private key in my db.

[2019-01-30 06:25] TamanShergill commented on #2238
I am getting the same issue.

[2019-01-30 07:44] BigMurry opened #2270 "on version 1.0.0-beta.41, `web3.utils.randomHex` is undefined"
#### Expected behavior
`web3.utils.randomHex` should defined and work

#### Actual behavior
`web3.utils.randomHex` is not a function. It's undefined.

#### Steps to reproduce the behavior
[code]

#### Error Logs
`TypeError: web3.utils.randomHex is not a function`

#### Versions
Web3.js - 1.0.0-beta.41

[2019-01-30 07:47] dev1644 commented on #2257
`web3js.eth.accounts.create()` give you a newly generated Wallet each time.
If you don't want to save private keys into Database and derive it the runtime use following steps -:

- Generate a seed from your mnemonic sequence `bip39.mnemonicToSeed('Your Mnemonic Sequence')`.
- Get your HDkey by `HDKey.fromMasterSeed(new Buffer(seed, 'hex'))` .
- Set path for getting multiple deterministic key pairs

[2019-01-30 09:12] jungle04 commented on #2238
`web3.eth.accounts.create()`
i just gave one string to args
`web3.eth.accounts.create("string")` and it works)

[2019-01-30 10:01] caffeinum commented on #2270
Can confirm this bug, OS X, NodeJS 10.14

Rolled back to beta37, it works OK there.

[code]

Edit: on beta37, there is another bug: ethereum/web3.js/issues/2077, so rolling back to beta35. Nevermind Lambo, when stable release 😁

[2019-01-30 10:14] sirpy commented on #2266
This is result of version beta-38
It prevents using any custom provider since it checks that input providers are http/socket etc... (known providers)
Truffle HDWalletProvider also no longer works

[2019-01-30 14:43] indigoram89old commented on #2189
I have the same problem

[2019-01-30 16:13] molten-firescar96 opened #2273 "Metamask Provider Engine no longer supported"
I tried using Metamask's [web3-provider-engine](https://github.com/MetaMask/provider-engine) with the latest release of web3-1.0. Using their example I get an error `'Please provide an valid Web3 provider` which I believe comes from here. Why was support for EthereumProvider, and SocketProviderAdapter dropped?

https://github.com/ethereum/web3.js/blob/599851753b4a35b5c11f902c7c592b111e190073/packa

[2019-01-30 17:36] eternauta1337 opened #2274 "Web3 Contract address property"
Once again, thank you for your awesome work with Web3 v1.x.

Another thing that we found kind of cumbersome when migrating ZeppelinOS to Web3 v1.x, is that Web3 Contract objects no longer have an `.address` property, but an `._address` or an `.options.address` property. We ended up having to modify the produced Web3 Contract instances by addind a `.address` getter. Could this be avoided in future

[2019-01-30 18:24] wnz99 opened #2275 "TypeScript and Web3 constructor"
#### Expected behavior

Initialize Web3 instance without passing an initial provider.

#### Actual behavior

I am trying to initialize Web3 in a TS project as follows:

[code]
however the compiler outputs the following error:

`An argument for 'provider' was not provided`

Is this expected?

#### Steps to reproduce the behavior

[code]

#### Error Logs

`An argument for 'provider' was not provided

[2019-01-30 20:32] akeem commented on #2246
@nivida I'm not sure if it is helpful, but I am experiencing a similar behavior, is it possible that one of the other calls to `outputTransactionFormatter` is being passed null?

[2019-01-30 22:23] jtremback commented on #2238
@jungle04 that will generate the same address every time. Don't use it.

[2019-01-30 22:25] GameBitToken commented on #1776
Try to install npm install web3@0.19

[2019-01-30 23:58] PhABC commented on #1241
Ethers.js indeed already has a [coder](https://github.com/ethers-io/ethers.js/blob/36172f7f7ba1d2043d6e331c76cfb4c52d425ba7/src.ts/utils/abi-coder.ts#L900) for tuples.

[2019-01-31 02:28] servantcdh commented on #2269
same issue.

[2019-01-31 04:06] athlona64 opened #2276 "Can possible 24/7 web3 events ?"
i'm tried tracking ERC20 by Transfer events it running about 3-4 hr..

after pass 3-4 hour it's idle

i'm want to tracking ERC20 transfer this contract 24/7

but i'm not sure i'm wrong something.

repo : https://github.com/athlona64/web3events

![selection_080](https://user-images.githubusercontent.com/3031787/52029963-2c24e800-2548-11e9-8620-adfce2679cef.png)

[2019-01-31 07:25] jungle04 commented on #2238
![image](https://user-images.githubusercontent.com/31833764/52038162-8e3b1880-255b-11e9-84c2-be553150e1af.png)
<br>
![image](https://user-images.githubusercontent.com/31833764/52038270-dc501c00-255b-11e9-82ad-da586de44896.png)

@jtremback r u sure?? cause i am using same string, but create different addresses every time..

[2019-01-31 09:24] wnz99 commented on #2275
It looks like this is something that was introduced recently, `web3@1.0.0-beta.37` allows to initiate a Web3 instance without providing a provider.

Just for confirmation, should I consider this pattern no longer possible?

[code]
`const web3 = new Web3()` is something that I came across quite a lot on available tutorials.

[2019-01-31 10:01] lucashenning commented on #1416
@Trycoder @stasbar did you have any luck solving this issue?

This is a pretty big deal, it seems like it's not possible to create a working docker image of a nodeJS app that contains web3. My app works fine in my local env and as a NPM package but `npm install` fails in docker.

I tried the following versions:
web31.0.0-beta.34
web31.0.0-beta.36
web31.0.0-beta.38
web31.0.0-beta.41

### Docker Fil

[2019-01-31 10:56] achakhalyan opened #2279 "Web3.js socket or any event for get real time transaction and blocks"
Hi All.
I have started go-ethereum full node my Ubuntu server and i have use Web3.js for connect node and get data. But my question is that. is possible get real time transaction and blocks via socket or any event ?

[2019-01-31 12:26] DefiCake commented on #2273
Not only that. I am getting the same error out of most versions of ganache and truffle-hdwallet-provider out of the blue. Code that was working before now suddendly does not.

[2019-01-31 12:33] cypheron commented on #2269
Similiar error when running `web3.eth.personal.sendTransaction`

`/root/dev/bot/node_modules/web3-core-method/dist/web3-core-method.cjs.js:411
          throw new TypeError("The latest parameter should be a function otherwise it can't be used as callback");
          ^

TypeError: The latest parameter should be a function otherwise it can't be used as callback
    at SendTransactionMethod.set (/ro

[2019-01-31 12:47] jacbop commented on #2266
So is this a bug, or a decision to halt support for the truffle hdwalletprovider?

[2019-01-31 13:07] mjdietzx opened #2281 "web3-core-method.umd.js?b3db:226 Uncaught (in promise) TypeError: Duplicated method __ob__. This method is defined as RPC call and as Object method."
**All issues which aren't created with this template will get immediately closed.**

#### Expected behavior

`const contract = web3js.eth.Contract(abi, address);`

should (and used to) return a contract instance

#### Actual behavior

instead it throws this error
`web3-core-method.umd.js?b3db:226 Uncaught (in promise) TypeError: Duplicated method __ob__. This method is defined as RPC call and as O

[2019-01-31 13:29] Trycoder commented on #1416
Adding the following lines in my docker file solved my issue:
RUN apk update && apk upgrade &&
apk add --no-cache bash git openssh
RUN apk add --update python krb5 krb5-libs gcc make g++ krb5-dev

And my docker file looks like this:
FROM node:8.11.1-alpine
RUN apk update && apk upgrade &&
apk add --no-cache bash git openssh
RUN apk add --update python krb5 krb5-libs gcc make g++ krb5-dev
RUN mkdir

[2019-01-31 14:03] alcuadrado commented on #2266
@nivida Has expressed multiple times that web3 1.0.0 will support EIP-1193 (Standard Ethereum Provider Interface), so this must be unintentional. The idea of that EIP is to be able to use any injected provider with any ethereum library.

[2019-01-31 14:51] davidmurdoch commented on #2273
Related: https://github.com/ethereum/web3.js/issues/2266

[2019-01-31 14:55] molten-firescar96 commented on #2273
I'll follow along with that issue

[2019-01-31 14:55] #2273 closed, assigned to nobody

[2019-01-31 15:11] andy0130tw commented on #2275
Also encountered this issue when updating dependencies. I am worried about that If this breaking change is intentional, web3 instances cannot even be initialized in browsers without a injected web3 provider and requires much code for pre-`1.0.0-beta.37` Dapps to adapt to.

For a quick workaround, pass a dummy (but invalid) URI that would be recognized as an HTTP RPC endpoint: `new Web3('http://dum

[2019-01-31 16:05] darioAnongba commented on #2238
I'm having the same issue...

[2019-01-31 17:21] jaikrish5 commented on #1783
@nivida even the first step 1. npm install --global --production windows-build-tools
$ npm install --global --production windows-build-tools

Downloading python-2.7.15.amd64.msi
[>                                            ] 0.0% (0 B/s)
Downloaded python-2.7.15.amd64.msi. Saved to C:\Users\S.Jaikrish\.windows-build-tools\python-2.7.15.amd64.msi.
Downloading vs_BuildTools.exe
[>

[2019-01-31 17:48] jaikrish5 commented on #1783
@nivida i have followed all the steps as mentioned above . but facing problems regarding the last one
i.e:set VCTargetsPath=C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140
when i open my MSBuild folder i do not have v.4.0 but v3.0 and v3.5 .
what should i do????
please help

[2019-01-31 17:50] jaikrish5 commented on #2057
@nivida i have followed all the steps as mentioned above . but facing problems regarding the last one
i.e:set VCTargetsPath=C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140
when i open my MSBuild folder i do not have v.4.0 but v3.0 and v3.5 .
what should i do????
please help

[2019-01-31 18:44] nivida commented on #2279
This issue got closed because the issue template is not used.

[2019-01-31 18:44] #2279 closed, assigned to nobody

[2019-01-31 18:45] nivida commented on #2276
This issue got closed because the issue template is not used.

[2019-01-31 18:45] #2276 closed, assigned to nobody

[2019-01-31 18:46] nivida commented on #2275
@wnz99
Thanks for submitting this issue I'll fix this on Monday. I'm currently sick in the bed.

[2019-01-31 18:47] nivida commented on #2274
Thanks for submitting this issue I'll fix this on Monday. I'm currently sick in the bed.

[2019-01-31 18:49] nivida commented on #2270
Thanks for submitting this issue! I'll fix this issue on Monday.

[2019-01-31 18:51] nivida commented on #2269
Thanks for submitting this issue @cypheron will fix and release it on Monday.

[2019-01-31 18:53] nivida commented on #2268
@redred77 Thanks for submitting this issue. Will merge and release the open PR on Monday.

@AlexanderC Thanks for submitting the PR!

[2019-01-31 18:57] nivida commented on #2267
Thanks for submitting this issue!
Will test it on Monday it should work but I tested it with webpack.

[2019-01-31 19:03] nivida commented on #2266
I've added this error message because we didn't officially provide the possibility to customize Web3.js over the providers. I could offer to out comment the strict provider check until the stable release. After the stable release, you have to inject your own EIP-1193 compatible provider. I would also have a closer look on the Web3 Module API maybe it's the cleaner way for doing what you're doing :

[2019-01-31 19:05] nivida commented on #2265
Closed it because of this issue: https://github.com/ethereum/web3.js/issues/2268

[2019-01-31 19:09] nivida commented on #2256
Thanks for submitting this issue!

Will fix it asap. I think the former maintainer decided because of the lack of time to use the AbiCoder of ethers.js instead of updating the AbiCoder of Web3. The long term goal is to remove this dependency because of the importance of it in the Web3.js library.

[2019-01-31 19:13] nivida commented on #2257
Closed this issue because the issue template was not used.

[2019-01-31 19:13] #2257 closed, assigned to nobody

[2019-01-31 19:15] jaikrish5 commented on #2057
@Huanzhang89 @Meabo @nivida now i have resolved the issue of 1.x . but still  the mocha test fails executing the above code.
and generates an error like this:

C:\Users\S.Jaikrish\Desktop\ethereum\inbox\node_modules\ganache-cli\build\lib.node.js:63898
var Module;if(!Module)Module=(typeof Module!=="undefined"?Module:null)||{};var moduleOverrides={};for(var key in Module){if(Module.hasOwnProperty(ke

[2019-01-31 19:20] filips123 opened #2282 "Problems with underscore.js"
## Issue

I have code that uses `web3`. It should work in Node.js and browser so I use [AEgir](https://www.npmjs.com/package/aegir) to build it for the browser (with Webpack).

It works normally in Node.js but there are problems in the browser.

When I include my built JS file, I get the error `TypeError: root is undefined` and none of my code works.

That error comes from `underscore.js`:

[code]

[2019-01-31 19:35] nivida commented on #2282
Since beta.38 does Web3.js use lodash and not underscore. Please upgrade to the latest version and it will solve your problem.

[2019-01-31 19:35] #2282 closed, assigned to nobody

[2019-01-31 19:36] filips123 commented on #2282
@nivida This is not possible because of problems with `truffle-contract` (see trufflesuite/truffle#1667). And I think that this worked in previous AEgir versions, so this is probably problem with it?

[2019-01-31 21:01] benjamincburns commented on #2266
For those who might not know me, I'm part of the Truffle team, and @davidmurdoch and I oversee the development of ganache-core and ganache-cli.

Official or not, the _entire_ Ethereum Dapp development community relies on web3's support for custom providers. The fact that you'd break that support without first implementing deprecation warnings (ideally ones which indicate a specific timeline for th

[2019-01-31 21:10] benjamincburns commented on #2266
We're also concerned with back compatibility with old versions of Truffle, Ganache and other software which is already in the wild with custom providers which don't implement EIP-1193. Is backward compatibility being considered?

[2019-01-31 21:19] iurimatias commented on #2266
@nivida This change is also a breaking change for several applications including Embark, Remix, Murmur, Status-js-desktop, etc.. As @benjamincburns said, using custom providers this way has always been something the community has relied on. Transitioning to EIP-1193 is fine but we need a deprecation warning and time to move existing tools to it.

Can you please consider rolling back this particula

[2019-01-31 21:45] nivida commented on #2266
@benjamincburns Thank you for your response.

Sorry, this will never happen again.

The plan was and is to inform the community about breaking changes and to add warnings. Yes, the deprecation mechanism will be included in the process. This deprecation process will definitely used before the stable release happens.

Backwards compatible can't be achieved that easy because of the new architecture.

[2019-01-31 21:49] nivida commented on #2266
Maybe we should create a Discord server as a communication platform where I could reach out all of you (Truffle, Ganache, Embark etc.). @benjamincburns @davidmurdoch @iurimatias

PS: I‘ve tried to contact one of the truffle developers over gitter but didn‘t got any response.

[2019-01-31 22:26] benjamincburns commented on #2266
I love the idea of having a dedicated channel we're all responsible for monitoring closely. I'm not a Discord user today, but I'll happily change that if others mentioned are regular users. Alternatively, maybe web3 needs a weekly or biweekly call similar to the AllCoreDevs call?

Either way, I also reached out to you on Gitter via DM and tried tracking you down in [two](https://gitter.im/ethereum

[2019-01-31 22:43] benjamincburns commented on #2266
I missed this in my initial read through of your last message, @nivida. Just responding to say that we'll definitely want to discuss this further next week when you're feeling better. I think @iurimatias and others would agree with me that goal right now should be to

1. Restore support for existing custom providers in web3, and
2. Work together on a plan to roll out EIP-1193 in a less intrusive w

[2019-01-31 23:07] nivida commented on #2266
Yes, as we see gitter is definitely not the right platform for us. I think broader discussions about the public API and internals of the Web3.js lib should be discussed on GitHub. But I think for short questions etc. would a Web3.js slack server be good. @gnidan texted me the truffle team is using slack.

Thanks for your understanding!
It's okay for me. I will do this changes quickly by my self. T

[2019-01-31 23:19] jtremback opened #2283 "TypeError: Cannot read property 'defaultAccount' of undefined"
#### Expected behavior

Should be able to sign transactions with method on `account` object.

#### Actual behavior

Error

#### Steps to reproduce the behavior

[code]

#### Error Logs
<img width="354" alt="image" src="https://user-images.githubusercontent.com/1335122/52092026-3e644d80-256b-11e9-9914-7492268dca16.png">

The first log above is a log of the `account` object. Next is the error messag

[2019-02-01 02:41] inyutin opened #2284 "Error: Node error: {"code":-32000,"message":"insufficient funds for gas * price + value"} with creating account"
Hi there!
I have quite a strange bug and don't know how to deal with it.

The version of web3 I use is 1.0.0-beta.40.

I try to sent ERC-20 tokens on rinkeby testnet by using this function:

async function transfer(from, private_key, to, amount) {
    let nonce = await web3.eth.getTransactionCount(from);
    let rawTransaction = {
        "from": from,
        "nonce": "0x" + nonce.toString(16),

[2019-02-01 05:42] zymtx5g79k commented on #2269
#theSameIssue. o-O

[2019-02-01 06:01] sanjukurian commented on #2238
@jtremback : Its creating multiple different accounts everytime. Any other issues using that?

[2019-02-01 07:07] wnz99 commented on #2275
sure, thank you.

[2019-02-01 08:04] RussMist opened #2285 "payable is not assigned in the contructor (AbiItemModel)"
#### Expected behavior
Should be able to send transactions with value on payable contract method.
#### Actual behavior
Error ``` 'Can not send value to non-payable contract method or constructor' ```
#### Steps to reproduce the behavior

[code]
Method ```isValueValid``` from [MethodOptionsValidator.js](https://github.com/ethereum/web3.js/blob/7ff00822966aef2bd0588a5b39ff2f3eba6acfd1/packages/web3-

[2019-02-01 10:02] jaikrish5 opened #2286 "could not be able to run test for web3.js"
**All issues which aren't created with this template will get immediately closed.**
  "ganache-cli": "^6.0.3",
    "mocha": "^4.0.1",
    "solc": "^0.4.19",
    "web3": "^1.0.0-beta.26"

code at my Inbox.test.js:-

const assert = require('assert');
const ganache = require('ganache-cli');
const Web3 = require('web3');
const web3 = new Web3(ganache.provider());

// beforeEach(() => {
//   web3.eth.g

[2019-02-01 10:03] e00dan opened #2287 "Property 'status' does not exist on type 'TransactionReceipt'."
#### Expected behavior

Property `status` will exist on type TransactionReceipt.

Type `TransactionReceipt` imported from:
[code]

This is breaking change, because beta.37 contained it, when used with @types package.

#### Actual behavior

Property `status` missing in type TransactionReceipt

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Error Logs

[2019-02-01 10:29] joshstevens19 commented on #2287
Hey @Kuzirashi Thanks for spotting this and raising it. I have put a PR to fix this issue here:

https://github.com/ethereum/web3.js/pull/2288

It will be released next week (probably Monday).

Oh and FYI (sorry you probably know this)

`import { TransactionReceipt } from 'web3-core';` will work as well :)

Thanks

[2019-02-01 10:43] kim-keepcoding opened #2289 "web3.js 1.0.0-beta.41 batch.execute() : Error: Given input "function (err, res) {....}" is not a number."
[code]
work fine with
`web3.eth.getBalance.request( "0x0000000000000000000000000000000000000000",
"latest", callback )`

#### Expected behavior
execute batch and log callback properly

#### Actual behavior
throw Error

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Error Logs
[code]
#### Versions
[NPM@6.4.1, Node@v8.12.0, Web3.js@1.0.0-beta.41, OS:ma

[2019-02-01 10:48] devedse commented on #2281
I'm encountering the same issue with version higher then beta 37. With beta 41 I got all kinds of typescript errors, so no idea what's going on there.

[2019-02-01 10:52] devedse commented on #2281
When I downgrade to =beta37 then it works again.

[2019-02-01 11:07] kavishgandhi commented on #2260
For future readers, if the above method does not work try this:
`sudo npm install ethereum/web3.js`
and then `ng serve/build`  will work (hopefully).

[2019-02-01 11:19] joshstevens19 commented on #2260
Thanks for this.

This issue should never appear again after the next release though. 👍

[2019-02-01 14:04] jaikrish5 commented on #2266
i m new to ethereum but when i tried to replicate the error of @davidmurdoch
it is showing me the error of

` Missing parameter: provider
`
then after searching through net i found out
and changed my script to
`const provider = ganache.provider();
const web3 = new Web3(provider);`

then it shows me the error of same like above issue
`Please provide an valid Web3 provider
`
after this i did
` inbox

[2019-02-01 14:22] e00dan commented on #2287
Didn't know it works. Will test. Thank you @joshstevens19

[2019-02-01 14:23] jaikrish5 commented on #2266
i found a solution to this by using
`npm install web3@1.0.0-beta.37`
thank u

[2019-02-01 14:34] joshstevens19 commented on #2287
when i said it will work i meant the syntax i think is cleaner like that rather then `web3/node_modules/web3-core`. The fix for this status will be in the next release 👍 cheers.

[2019-02-01 14:36] joshstevens19 commented on #2287
Will close as fix is in the next release. Thanks

[2019-02-01 14:36] #2287 closed, assigned to joshstevens19

[2019-02-01 14:54] inyutin commented on #2284
The problem was that account doesn't have enough gas.

[2019-02-01 14:54] #2284 closed, assigned to nobody

[2019-02-01 16:55] sebastianst opened #2290 "web3-utils types not compatible with current @types/bn.js"
With `web3-utils 1.0.0-beta.41` and the current `@types/bn.js 4.11.4` `tsc` cannot transpile because the bn.js declaration doesn't have a default export. The following error is thrown
[code]

[2019-02-01 17:17] sebastianst commented on #2290
It may be worth a try to use
[code]
instead, where `BN` is used in the web.js type declarations, and remove the definition of the `BN` class from web3-utils.

[2019-02-01 17:27] joshstevens19 commented on #2290
Hey thanks for your issue!

This has been fixed in PR https://github.com/ethereum/web3.js/pull/2280/files

We have to require it else it doesn't work with strict mode (due to the `bn.js` typing's) so this was the best solution.

This will be released in the next release (should be early next week). A temp fix is to run a `post-install` script which replaces this line:

```import BigNumber from 'bn

[2019-02-01 17:27] #2290 closed, assigned to nobody

[2019-02-01 17:30] joshstevens19 commented on #2286
please use template to submit issues. Closing due to no template used.

[2019-02-01 17:30] #2286 closed, assigned to nobody

[2019-02-01 19:15] igormuba opened #2291 "There is no dist/web3.min.js"
**All issues which aren't created with this template will get immediately closed.**

#### Expected behavior

To be a web3.min.js

#### Actual behavior

There are web3.cjs.js, web3.esm.js and web3.umd.js, but no web3.min.js, which is what I was used to work with

#### Steps to reproduce the behavior

1. npm install web3
2. ./node_modules/web3/dist
3. no web3.min.js

#### Error Logs

#### Versions

[2019-02-01 19:16] igormuba commented on #1099
Still not fixed, what should I do to get the min?

[2019-02-01 19:16] igormuba commented on #1041
still have this problem, isn't there any alternative to web3 to work with Ethereum?!?!

[2019-02-01 23:05] markusait commented on #2285
Can confirm this on my end as well. Web3 version 1.0.0-beta.3 works perfectly fine. Would be great to fix this as soon as possible, especially because Metamask is using the same corrupted version.

[2019-02-02 05:57] koma2hiroki commented on #2213
@spalladino I also got the same error. It solved it.
https://github.com/paritytech/parity-ethereum/issues/5400

[2019-02-02 08:13] filips123 commented on #2266
@jaikrish5 This is already used by latest Truffle versions, but it should be compatible even with newer Web3 versions.

[2019-02-02 11:31] montyly opened #2293 "Add mention of the "Ethereum Signed Message" prefix to the eth.personal.sign documentation"
Hi, thank you for maintaining web3js!
The following is an issue related to the documentation that might mislead users.

#### Expected behavior

The documentation of [`eth.personal.sign`](https://web3js.readthedocs.io/en/1.0/web3-eth-personal.html#sign ) should detail the hash schema used.

#### Actual behavior

The current documentation does not indicate that the message to be signed is prefixed w

[2019-02-02 15:16] luiz1919 commented on #1099
I have the same problem and it doesnt' work in any way, even in the #1041 ... I am completely lost, the file web3.min.js doesnt exist anymore in beta 41, and the code in the web fails by saying, " Web3 is not defined"... any help?

[2019-02-02 16:12] ghost opened #2294 "Include web3.js into browser"
**All issues which aren't created with this template will get immediately closed.**

#### Expected behavior

Since `beta.38` I can't include web3.js in my browser anymore. Before I was able to do it like this:

    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.37/dist/web3.min.js"></script>

Than I had the `window.Web3` object.

#### Actual behavior

Since `beta.38` this isn

[2019-02-02 21:19] axelgalicia commented on #2293
Hello @montyly , please let me know if this pull request fulfills the expected outcome of your requirement. I will be happy to update it in case there is a missing part.

Thanks

[2019-02-02 22:09] ironheart122 opened #2296 "[web3 1.0.0-beta.41] 'getPastEvents' - {"code":-32603,"message":"request failed or timed out"}"
### Expected behavior

Fetch all past events starting with a given block number

#### Actual behavior

It always return the following error:

`Error: Node error: {"code":-32603,"message":"request failed or timed out"} `

NOTE: Downgrading back to web3@1.0.0-beta.37 fixes the issue.

#### Steps to reproduce the behavior

[code]

#### Error Logs

[code]

#### Versions
[NPM, Node, Web3.js, OS, device

[2019-02-02 22:14] #2296 closed, assigned to nobody

[2019-02-02 23:43] ghost opened #2297 "web3.eth.requestAccounts is not a function"
#### Expected behavior

Get my accounts from metamask.

#### Actual behavior

Error: `Uncaught (in promise) TypeError: this.web3.eth.requestAccounts is not a function`

#### Steps to reproduce the behavior

    const web3 = new Web3(window['ethereum']); // for metamask
    web3.eth.requestAccounts().then(console.log);

#### Error Logs

    Uncaught (in promise) TypeError: this.web3.eth.requestAcco

[2019-02-02 23:45] ghost commented on #2294
Just saw someone already asked something similar here #2291

[2019-02-03 10:32] filips123 opened #2298 "Difference between injected providers"
Web3 (1.0) has many ways to detect injected provider (MetaMask, Mist, ...). Some of them are `Web3.givenProvider`, `web3.currentProvider` and `window.ethereum`.

What is the difference between them? I know that `window.ethereum` uses EIP-1102, but what is the difference between the other two? Which one should I use?

[2019-02-03 11:14] nivida commented on #2298
Web3.js does not provide many ways to detect an injected provider. ```Web3.givenProvider``` is the only one. Please ask further questions about the EIP-1193 and EIP-1102 [here](https://ethereum-magicians.org/c/working-groups/provider-ring).

Btw: Any other issue which isn't created with the issue template will get closed directly.

[2019-02-03 11:14] #2298 closed, assigned to nobody

[2019-02-03 11:15] nivida commented on #2297
The requestAccounts method got added with version 1.0.0-beta.38. Please use the latest version of Web3.

[2019-02-03 11:15] #2297 closed, assigned to nobody

[2019-02-03 11:16] nivida commented on #2294
Duplicated: #2291

[2019-02-03 11:16] #2294 closed, assigned to nobody

[2019-02-03 11:20] nivida commented on #2291
We will no longer provide a minified full bundle in the NPM package. It's required to bundle your javascript code with Webpack. This because of performance and security reasons.

A Webpack starter project for the Web3.js lib can be found [here](https://github.com/ethereum/web3-examples/tree/development/starters/webpack).

[2019-02-03 11:20] #2291 closed, assigned to nobody

[2019-02-03 11:22] nivida commented on #2289
Thanks for creating this issue!

I will check this and probably directly fix it tomorrow.

[2019-02-03 11:38] #2226 closed, assigned to nobody

[2019-02-03 11:40] nivida commented on #2263
We will no longer provide a minified full bundle in the NPM package. It's required to bundle your javascript code with Webpack. This because of performance and security reasons.

A Webpack starter project for the Web3.js lib can be found [here](https://github.com/ethereum/web3-examples/tree/development/starters/webpack).

[2019-02-03 11:40] #2263 closed, assigned to nobody

[2019-02-03 12:02] lukmaz opened #2300 "web3.eth.accounts.hashMessage() does not accept arbitrary hex input"
#### Expected behavior
If I run:
[code]
I expect to treat `"0xbf"` as a string and hash it as a string.
#### Actual behavior
`Invalid UTF-8 detected`.
#### Steps to reproduce the behavior
[code]

#### Error Logs
`Invalid UTF-8 detected`
#### Versions
Remix v0.7.5, Web3.js v1.0.0, Chrome, MacOS

#### Comment:
When the argument to `web3.eth.accounts.hashMessage()` starts from `0x`, the function assu

[2019-02-03 12:05] nivida commented on #2300
Could you please use the issue template? Otherwise, I will close this issue in the next minutes.

[2019-02-03 12:38] lukmaz commented on #2300
I've edited the issue to match the template. Is it ok now?

[2019-02-03 12:38] filips123 commented on #2263
Why? What performance and security reasons are there?

Many developers don't have Node.js installed so they can't use Webpack. For them, the pre-bundled file would be great.

[2019-02-03 13:07] ghost commented on #2291
I have the same problem. I tried the suggested repository. I was able to generate `dist/main.js` (which includes a lot of `evals`?).

But in the end it tries to include `web3.js` with `require` what isn't working in the browser (`src/index.js`). How can I include `web3.js` into my browser?

[2019-02-03 14:08] vauvenal5 commented on #1089
I have the same behavior like @dacarley had. Sometimes it works and sometimes it does not. Interestingly enough, it just started appearing without any obvious reason.

The first thing I tried is to run a local geth node instead of using the Infura API, this did not change anything. My local geth node is running in light mode.

I also reverted my code base to the state when I deployed the contracts

[2019-02-03 19:20] ironheart122 opened #2311 "[web3@1.0.0-beta.41] getPastEvents not working - {"code":-32603,"message":"request failed or timed out"}"
### Expected behavior

Fetch all past events starting with a given block number

#### Actual behavior

It always return the following error:

`Error: Node error: {"code":-32603,"message":"request failed or timed out"} `

Downgrading back to web3@1.0.0-beta.37 fixes the issue.

#### Steps to reproduce the behavior

[code]

#### Error Logs

[code]

#### Versions
[NPM, Node, Web3.js, OS, device...]

[2019-02-03 23:15] mistersandman opened #2316 "web3.eth.Contract.getPastEvents doesn't support "allEvents" anymore"
#### Expected behavior
Using `"allEvents"` as event name in `web3.eth.Contract.getPastEvents` should be accepted and return all events matching the specified options according to the [docs](https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#getpastevents).
#### Actual behavior
An exception `"Error: Event with name "allEvents" does not exists."` is thrown.
#### Steps to reproduce the behav

[2019-02-04 06:43] a-thomas commented on #1707
Any updates? It seems that we are already at beta.41

[2019-02-04 07:48] ghost commented on #1041
Of coursce if you need 1.x.x version just use [/dist/web3.esm.js](#), minify it use Free Online Javascript Minifier

[2019-02-04 07:50] ghost commented on #1041
Use this library ethers.js, wrapper for web3

[2019-02-04 08:20] brianfoody commented on #1105
You are likely only including ".js" files or ".jsx" files.

This library is looking for a .node library so you probably have to add it to your extensions.

And you'll have to add the node-loader

`yarn add -D node-loader`

[code]

[2019-02-04 08:23] i-am-vivek commented on #1972
It is working now As I moved to infura blockchain. I don't know what was the real issue. But moving to infura solved the issue.

[2019-02-04 09:00] lukmaz commented on #2300
Hi @nivida , can you please reopen the issue? The issue didn't disappear and now I think I used the correct template. If something is wrong with this issue, please let me know.

[2019-02-04 09:37] nivida commented on #2270
I'm closing this issue because it got already reported and fixed in #2238

[2019-02-04 09:37] #2270 closed, assigned to nobody

[2019-02-04 09:44] nivida commented on #2267
I've created the bundle with webpack and ``console.log(web3.eth.net)`` returns the expected Network class. Be sure browserify is using the umd bundle of Web3.js. Because it isn't an issue of Web3.js itself do I close this issue now.

[2019-02-04 09:44] #2267 closed, assigned to nobody

[2019-02-04 10:28] montyly commented on #2293
#2295 fixes the issue, thank you!

[2019-02-04 11:22] nivida commented on #2281
Thanks for submitting this issue!

I've tested it and can't reproduce this error. The thrown error has to come from somewhere else then on the creation of a Contract object. Could you provide further details about when this exactly happens?

[2019-02-04 11:32] leonprou commented on #2077
Same issue also on `1.0.0-beta.41`.

@nivida
I made a little dig into code the of `ethers.js` and found that they are using their own implementation of [bignumber](https://github.com/ethers-io/ethers.js/blob/v3.0.1/utils/bignumber.js). So when I (and the others I suppose) talk about [bignumber.js](https://github.com/MikeMcl/bignumber.js/), `ethers` got their own implementation.

In beta.36 `ethers

[2019-02-04 11:56] #2293 closed, assigned to nobody

[2019-02-04 11:59] #2283 closed, assigned to nobody

[2019-02-04 11:59] #2269 closed, assigned to nobody

[2019-02-04 12:00] #2238 closed, assigned to nobody

[2019-02-04 12:01] #2285 closed, assigned to nobody

[2019-02-04 13:00] dev1644 commented on #2175
@nivida I think we can close this issue now due to inactivity and I think answer has been provided.

[2019-02-04 13:23] #2289 closed, assigned to nobody

[2019-02-04 14:07] nivida commented on #2275
@wnz99  or @andy0130tw can you explain me the exact use case for initiating a Web3 object without a provider?

[2019-02-05 01:55] neocybereth commented on #2311
same for me.

[2019-02-05 02:10] kvhnuke commented on #2281
This is due to vuejs attaching `__ob__` to object as an oberserver, you should skip targets that starts with `$` or `_` https://011.vuejs.org/api/options.html

[2019-02-05 02:59] neocybereth commented on #2311
@ironbyte are you using an Infura node?

[2019-02-05 11:58] riki95 commented on #2238
Having the same issue.
I just use
`web3js.eth.accounts.create();`
And I get

`TypeError: this.utils.randomHex is not a function`

Any suggestion to fix?

[2019-02-05 14:40] travisdmathis commented on #2311
@Sm00g15 we are and getting the same error in beta 37

[2019-02-05 15:24] gnorbsl opened #2327 "Websocket closes immediately in < beta41, "too many arguments" err with beta41"
#### Expected behavior

Connect to geth over websocket.

#### Actual behavior
`instance=Geth/v1.9.0-unstable-7c60d0a6/linux-amd64/go1.11.5`

on beta < 41 the websocket closes immediately after opening it, .on('end') reports a normal closure. Node doesn't report anything.

With beta 41 Node throws error `INFO [02-05|15:07:53.142] Served eth_subscribe                     conn= reqid=1 t=34.22µs  err

[2019-02-05 15:40] nivida commented on #2327
Thanks for submitting this issue! Will check and fix it asap.

[2019-02-05 16:04] ironheart122 commented on #2311
@Sm00g15 Yep, I use an Infura WSS endpoint (wss://mainnet.infura.io/ws/v3/YOUR-PROJECT-ID)

[2019-02-05 17:41] adnantium opened #2328 "TypeError: Cannot read property 'toWei' of undefined"
There are similar looking older (2018) versions this problem but it was working fine until recently. Seems to have made a comeback after `v1.0.0-beta.37`

#### Expected behavior
[code]
#### Actual behavior
[code]

#### Steps to reproduce the behavior
See 'Actual behavior'

#### Error Logs
`Thrown: TypeError: Cannot read property 'toWei' of undefined`

#### Versions
* web3.js -> `web3@1.0.0-beta.41

[2019-02-05 17:54] odanado opened #2329 "Mistake a typing of EthereumProvider.send"
#### Expected behavior
The following code is valid.
[code]

Because the interface of `send` conforms to [EIP-1193](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1193.md).

#### Actual behavior
But I got an error when running `tsc --noEmit` command.

#### Steps to reproduce the behavior

#### index.ts
[code]

#### tsconfig.json
[code]

#### command
[code]

#### Error Logs
[code]

#### Versi

[2019-02-05 20:04] gnorbsl commented on #2327
I found that the node returns `{"jsonrpc":"2.0","error":{"code":-32600,"message":"unexpected EOF"}}` but I wasn't able to figure out why and where so far.

[2019-02-05 21:00] zachlysobey commented on #2328
That's not working b/c you're using it wrong.

`require('web3')` returns a constructor which much be instantiated to get at `utils`.

I.e.

[code]

[2019-02-05 21:02] eswarasai commented on #2089
@nivida -- I'd like to take this issue forward. I see that the example repo has already been created with a sample code. Next steps would be to make it work in JSFiddle and then add the code around using `web3.js` API right? Thanks!

cc: @ceresstation

[2019-02-05 21:12] zachlysobey commented on #2328
yea, I've duplicated this on `web3@1.0.0-beta.38` :-/

[2019-02-05 22:10] neocybereth commented on #2311
@ironbyte same here. I also tried switching to an HTTP provider and no dice

[2019-02-05 23:46] adnantium commented on #2328
Another detail: It works if you access `toWei()` thru an instance that has been created with a provider url rather than directly thru the library.
[code]

Hack workaround: use `web3-utils` directly to access `toWei()` if you need something from `web3.utils` when you dont have an initialized and connected `web3` instance yet.

[code]

It seems that `toWei()` is not accessible thru `web3.utils` anym

[2019-02-06 01:04] lbthomsen opened #2330 "Subscription stopped working after 1.0.0-beta.37"
#### Expected behavior

Subscription event fired on each new block.

#### Actual behavior

Nothing.

#### Steps to reproduce the behavior

[code]
This will work as expected up to and including 1.0.0-beta.37.  In the latest version (beta-41) nothing happens - no error, no events.

#### Error Logs

No errors logged.

#### Versions
web3@1.0.0-beta.41

[2019-02-06 09:18] melnikaite opened #2331 "Batch requests can't be created for method estimateGas"
#### Expected behavior

[code]
adds new request to the batch

#### Actual behavior

error: `TypeError: contract.methods.add(...).estimateGas.request is not a function`

#### Steps to reproduce the behavior

1. add estimateGas request to batch

#### Error Logs

`TypeError: contract.methods.add(...).estimateGas.request is not a function`

#### Versions
OS X 10.14.2
npm 6.4.1
node v11.3.0
Ganache CLI

[2019-02-06 11:03] nivida commented on #2328
The static property utils do no longer exist on the Web3 class. If you would like to use the ``web3-utils`` module then please install just the ``web3-utils`` module.

[code]

EDIT:

I've planned to export all the modules directly from the "web3" NPM package but until then you have to install such a module separately.

[2019-02-06 11:03] #2328 closed, assigned to nobody

[2019-02-06 11:36] #2268 closed, assigned to nobody

[2019-02-06 11:55] nivida commented on #2311
I've tested it with my local test-net and different providers and it works without a problem.
<img width="696" alt="screenshot 2019-02-06 at 12 52 01" src="https://user-images.githubusercontent.com/1699173/52339675-0bf49d80-2a0e-11e9-86f4-200ccc5326a7.png">

Could you please add the address of the deployed contract you are testing it?

[2019-02-06 12:02] nivida commented on #2311
The same error did just appear. This error does only appear if the infura node does take to long until it got all the past event logs or when it can't find past logs. I would recommend to configure the timeout time of the provider with the option properties you can pass to the provider.

[2019-02-06 12:48] nivida commented on #2327
I think we already had this discussion here: https://github.com/ethereum/web3.js/issues/1217#issuecomment-422584624

This should be the solution for you. I will write it down on my check-list maybe I find a better solution.

[2019-02-06 12:48] #2327 closed, assigned to nobody

[2019-02-06 12:53] nivida commented on #2330
I've tested it locally and can't reproduce this behavior. Which node type are you using? (Parity, Geth, Ganache)
<img width="677" alt="screenshot 2019-02-06 at 13 53 02" src="https://user-images.githubusercontent.com/1699173/52342766-8a553d80-2a16-11e9-93d0-7b64d72f30cc.png">

[2019-02-06 12:58] nivida commented on #2281
@kvhnuke Thanks for the clarification! will check that.

[2019-02-06 14:11] MisaZ10 opened #2333 "Cannot unmarshal hex string without 0x prefix"
#### Expected behavior
[code]

[code]
This is a small example of a contract.
I want to deploy a smart contract and vote for candidate.

#### Actual behavior
I want to deploy a smart contract but in deploy function return error.

I am using Web3.js 1.0.0-beta.37 because with the version 1.0.0-beta.41 I have this issue
https://github.com/ethereum/web3.js/issues/2256

#### Steps to reproduce the beha

[2019-02-06 14:49] #2316 closed, assigned to nobody

[2019-02-06 15:29] gnorbsl commented on #2327
const wsProvider = new Web3.providers.WebsocketProvider('ws://' + process.env.nodeHost + ':' + process.env.nodePort, {
            headers: {
                Origin: process.env.nodeApiKey
            },
            clientConfig: {
                maxReceivedFrameSize: 100000000,
                maxReceivedMessageSize: 100000000,
            }
        });

is not fixing the problem, neither in bet

[2019-02-06 15:36] nivida commented on #2256
I've checked it and decided to write an ABICoder on my own because I would have to change anyways a lot of things. This means it will delay the fix for this issue. I apologize for the troubles you might have.

Edit:
Found a simpler an faster solution than writing of my own abi coder.

[2019-02-06 17:20] vedmant commented on #2281
I have the same issue, and yes, I use Vue.js.

[2019-02-06 18:05] roblav96 opened #2334 "postinstall node angular-patch.js causes install to fail"
# Problem
Running `npm install web3@1.0.0-beta.42` exits with code 1

# Solution
Get rid of npm script `"postinstall": "node angular-patch.js"`

----

#### Expected behavior
`npm install` to not fail to install

#### Actual behavior
`npm install` fails to install

#### Steps to reproduce the behavior
[code]
Fails to install.

#### Error Logs
[code]

#### Versions
[code]

[2019-02-06 18:15] ghost opened #2335 "NPM can not install web3 beta42"
#### Expected behavior

Using

   npm -g install web3@1.0.0-beta.42

will install web3@1.0.0-beta.42

#### Actual behavior

Installation stops with

internal/modules/cjs/loader.js:583
    throw err;
    ^

Error: Cannot find module '/home/pi/.nvm/versions/node/v10.15.1/lib/node_modules/web3/angular-patch.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Fun

[2019-02-06 18:20] joshstevens19 commented on #2334
Hey thanks for spotting this, we need that script to run for certain things but it seems we did not add it to the `files` in the package.json hence why it can not find it.

I have added it within this PR - https://github.com/ethereum/web3.js/pull/2336

hopefully @nivida will deploy a new release soon. Sorry for the issues.

Thanks
Josh

[2019-02-06 18:21] joshstevens19 commented on #2335
Hey thanks for raising a issue this is the same as this one https://github.com/ethereum/web3.js/issues/2334 and a PR is up to fix it. Will close this one due to duplicate.

[2019-02-06 18:21] #2335 closed, assigned to nobody

[2019-02-06 18:40] mfahampshire commented on #2334
Also having this error on Ubuntu 18.04. Exactly the same error message.

Versions:
[code]

[2019-02-06 18:45] ricmoo commented on #2256
The ethers.js coder was used because it is robust and well tested and was the only implementation of ABIv2. The previous Web3 ABI coder had several bugs and did not support ABIv2.

Passing in the wrong length is actually ambiguous. If you had a bytes4, and passed in “0x12” you might expect “0x00000012” or “0x12000000”. I did informal polls, and the answer was more or less split (with slightly more

[2019-02-06 18:50] ricmoo commented on #2256
Another FYI; if this broke recently, I think it is because you updated the version in the package.json of ethers.js? If you put it back to point at the beta version, you will pick up an older version of ethers.js before the ABI coder enforces bytesXX lengths. As a quick fix.

[2019-02-06 19:19] nivida commented on #2334
Fixed and released some minutes ago

[2019-02-06 19:20] #2334 closed, assigned to nobody

[2019-02-06 19:33] joshstevens19 commented on #2335
FYI fix has now been deployed so please try the `web3@1.0.0-beta.43` just tested and works fine now. Sorry again.

[2019-02-06 20:00] Sm00g15 commented on #2311
thanks @nivida I've changed that locally, and I think our issue may be with the Infura provider. Can you share the web3 variable you used in your code for your web3 provider?

Here's my updated one: ```
const web3Options = { transactionPollingTimeout: 480 };
const web3 = new Web3(
  new Web3.providers.WebsocketProvider(
    "wss://mainnet.infura.io/ws",
    web3Options
  )
);
[code]

[2019-02-06 20:00] neocybereth commented on #2311
@ironbyte any luck on your end?

[2019-02-06 20:16] neocybereth commented on #2311
https://github.com/ethereum/web3.js/pull/2000 ; looks like this will fix it @nivida . Any idea when these changes will go live?

After updating the provider options I'm now hitting this error:

[code]

[2019-02-06 21:43] protortyp commented on #2077
I had the same error when passing wei values in truffle tests and my temporary solution is using `web3.utils.toWei` which seems to work. Maybe someone will find this helpful as an interim solution.

[2019-02-06 23:20] mistersandman commented on #2311
The error indeed indicates that the node timed out when processing the request. *However*, the issue lies in the fact that with the recent library refactoring the contract address does not get added to the request parameters anymore! Thus, the events of *all* contracts on the chain will be queried, which is not hard to imagine to hit a timeout quickly 😃  Please reopen this issue.

[2019-02-07 00:29] cagill3 commented on #1549
@UVStudio I have the latest version of Xcode but I’m still getting error msgs.  When I do "npm install - -save web3" there are a bunch of web3 packages that gets added inside the node_modules folder but I still get a lot of error msgs and web3 does not get added to the dependencies list inside the package.json file like it should.  Were you having this problem at first?

[2019-02-07 06:14] ironheart122 commented on #2311
@Sm00g15 Hey, I've already downgraded back to web3@1.0.0.beta-37. Everything works on this version on my end. I will try a different provider on beta 41 later today. Will report if anything interesting happens.

[2019-02-07 08:57] neocybereth opened #2337 "[web3@1.0.0-beta.41] getPastEvents not working - {"code":-32603,"message":"request failed or timed out"}"
**All issues which aren't created with this template will get immediately closed.**

#### Expected behavior

Expected .getPastEvents to fire for a particular contract and return the data based on the allocated toBlock/fromBlock parameters

#### Actual behavior

Console returns this error:
{"code":-32603,"message":"request failed or timed out"}

#### Steps to reproduce the behavior

1. [First step]

[2019-02-07 08:58] neocybereth commented on #2311
@ironbyte @mistersandman @nivida - based on @mistersandman 's comment above I've opened up a new issue here: https://github.com/ethereum/web3.js/issues/2337

[2019-02-07 09:59] leonprou commented on #2077
@chrsengel yeah it works cause it converts the bignumber to string, and `ethers` accepts strings.

It's actually may be a good idea to accepts less types to eliminate errors. I think it's ok to translate every number to a string.

[2019-02-07 10:51] nivida commented on #2337
I'm closing this issue because I've reopened the other.

[2019-02-07 10:51] #2337 closed, assigned to nobody

[2019-02-07 12:59] zachlysobey commented on #2328
@nivida the following is still in the [web3.js 1.0 documentation](https://web3js.readthedocs.io/en/1.0/web3.html#utils):

### utils

probably worth being very careful about updating the docs when there is a breaking change, otherwise you're gonna get a lotta folks submitting issues like this.

[2019-02-07 14:54] mwaeckerlin opened #2340 "MetaMask is Broken in 1.0.0-beta.41 (works with 1.0.0-beta.37)"
Please have a look at this ticket in MetaMask, according to them, the problem comes from web3,js:

[TypeError: NetworkError when attempting to fetch resource](https://github.com/MetaMask/metamask-extension/issues/6095)

If the problem is related to MetaMask, not to web3.js, then please get into contact with that team and try to find a solution together.

Here a summary of the problem:

**Downgrade

[2019-02-07 17:13] maroodb opened #2341 "Send transaction to smart contract don't parse "from" option"
#### Expected behavior
Send transaction to smart contract method
#### Actual behavior
Throws a strange error
#### Steps to reproduce the behavior

[code]

#### Error Logs
[code]
#### Versions
npm v6.4.1
node v10.13.0
web3js v1.0.0-beta.41
OS windows 10

[2019-02-07 18:03] nivida commented on #2340
Will test it with react.

Edit:
I've tested it with MetaMask and get some strange errors too. Will have a look at it tomorrow and probably fix it.

[2019-02-07 18:04] nivida commented on #2341
Could you add the complete code example? thanks :)

[2019-02-07 18:23] huy-springlabs commented on #1860
Running into the same issues as well when running my tests and attempting to sign a message. Tried to downgrade from beta34 to beta33 and beta30 with no luck.

[2019-02-07 18:38] huy-springlabs commented on #1860
I am able to work around the Invalid JSON RPC response error for >= beta.36, but now the call just freezes and the callback never gets called

[2019-02-07 20:00] #2311 closed, assigned to nobody

[2019-02-07 20:05] nivida commented on #2274
https://github.com/ethereum/web3.js/blob/1.0/packages/web3-eth-contract/src/AbstractContract.js#L105

As I saw on line 105 should a contract object already has an address property. The address should be set if you deployed the contract or the address was given over the constructor. Isn't this the current behavior in the latest 1.0 beta release?

[2019-02-07 20:09] nivida commented on #2213
I will test it asap with the latest version of web3.js and give you further details. Sorry for the late response.

[2019-02-07 20:11] nivida commented on #2210
I'm closing this issue because the creator of the issue didn't answer. Thanks @dev1644 for helping!

[2019-02-07 20:11] #2210 closed, assigned to nobody

[2019-02-07 20:17] nivida commented on #2190
This does no longer happen all the given parameters will be deep cloned. The defined object ``options`` will no longer change his values and properties you can now just execute the method again with the same object. Because of this, I will close this issue. If I got you wrong please feel free to tag me in a comment here and explain me further details. I will reopen it if required.

[2019-02-07 20:17] #2190 closed, assigned to nobody

[2019-02-07 20:19] nivida commented on #2142
This got fixed in the beta.38 release. Because of this, I will close this issue.

[2019-02-07 20:19] #2142 closed, assigned to nobody

[2019-02-07 20:20] nivida commented on #2098
Got fixed. Please open a new issue if there are other problems with the logs.

[2019-02-07 20:20] #2098 closed, assigned to nobody

[2019-02-07 20:25] nivida commented on #2077
Web3.js does have currently two other issues with the abi coder of ethers.js the possible quick fixes are:

- back to an older version of ethers.js
- using of the ethereumjs abi coder
- quick fixing of ``web3-utils`` and ``web3-core-helpers``
- Creation of an ``web3-types`` module with all possible types (Hex, Iban, Address etc.)

I will check all the possibilities tomorrow and will choose the fas

[2019-02-07 20:26] nivida commented on #2062
This is fixed since beta.38.

[2019-02-07 20:26] #2062 closed, assigned to nivida

[2019-02-07 20:27] nivida commented on #2037
@gurrpi Thanks for giving me additional details. I will check it out and fix it asap.

[2019-02-07 20:28] nivida commented on #2025
This is fixed since beta.38.

[2019-02-07 20:28] #2025 closed, assigned to nivida

[2019-02-07 20:29] #1965 closed, assigned to nobody

[2019-02-07 20:33] nivida commented on #1916
This should get fixed with the next release. I had a issue with the ``getPastEvents`` method but it got fixed today with the PR #2338.

[2019-02-07 20:34] #1914 closed, assigned to nobody

[2019-02-07 20:35] nivida commented on #1903
Will test it asap. Sorry for the long waiting time.

[2019-02-07 20:36] #1636 closed

[2019-02-07 20:37] #1534 closed

[2019-02-07 20:38] #1356 closed

[2019-02-07 20:39] #1093 closed

[2019-02-07 20:54] barakman commented on #2190
@nivida : `deep cloned` implies that you got me just right :)

Starting from which version of web3.js will this fix be available?

Thanks

https://github.com/ethereum/web3.js/releases/tag/v1.0.0-beta.39, I suppose?

At least according to:

Well, v39 has at least one other problem that I've reported in the past (something about `babel`).

So I guess that v40 onward should do?

[2019-02-07 21:37] nivida opened #2342 "Update ProviderResolver for the new EIP-1193 spec"
#### Expected behavior
A provider implemented with the EIP-1193 standard which does not have the name ``EthereumProvider`` will be resolved and handled as EIP-1193 provider.

#### Actual behavior
Only EIP-1193 providers with the name ``EthereumProvider`` will be handled as valid EIP-1193 provider.

#### Steps to reproduce the behavior

1. Inject an EIP-1193 provider without the name ``EthereumProv

[2019-02-08 01:18] gnorbsl commented on #2327
@nivida

[2019-02-08 07:57] maroodb commented on #2341
This is a complete example,  the instance is created in an other class ,
NB: getData works fine!

[code]

This class Web3API that provide web3 instance and add accounts:

[code]

And this is the main class:

[code]

[2019-02-08 08:30] severus-sn4pe commented on #1211
updated git from `2.19.2` to `2.20.1` solved the issue for me

[2019-02-08 08:31] sebayaki commented on #2265
@nivida
It seems #2268 is merged on `1.0.0-beta.42` version, but I just tested it again on `1.0.0-beta.43` and it still doesn't decode `returnValues` properly (Exactly same results I described on this ticket).

Maybe it's a different issue?

[2019-02-08 08:38] levino commented on #1648
Same problem here. @adrianmcli Could you be somewhat more specific please?

[2019-02-08 08:59] lbthomsen commented on #2330
Latest parity beta:

[code]

Private POA chain with block every 5 seconds.  Subscription with beta.37 works fine.

[2019-02-08 09:06] lbthomsen commented on #2330
Actually I have a public node running.  Try this - it works with beta.37 but fails with beta.43 (which by the way reports itself as 42):

[code]

Those nodes run:
[code]

Notice that the wss connection works (latest block reported in both cases) only subscription fail with beta 43.

[2019-02-08 09:34] nivida commented on #2330
@lbthomsen Thanks for the detailed information I will have a look at it today!

[2019-02-08 09:35] nivida commented on #1648
This is a problem of the ganache provider and not one of the Web3.js library. Please open an issue there for solving it.

[2019-02-08 09:36] nivida commented on #2265
Thanks for pointing this out I will have a closer look at it today.

[2019-02-08 09:46] dmihal opened #2343 "Error when getPastEvents called without options"
#### Expected behavior

`.getPastEvents('allEvents')` returns an array of events.

#### Actual behavior

`TypeError: Cannot read property 'fromBlock' of undefined`

Method works fine if called with an empty object: `.getPastEvents('allEvents', {})`

#### Steps to reproduce the behavior

1. Construct a Web3 contract
2. Call `contract.getPastEvents('allEvents')`

#### Error Logs

[code]

#### Versio

[2019-02-08 10:02] maroodb commented on #2341
The same code works with web3js v1.0.0-beta.37

[2019-02-08 10:06] levino commented on #1648
No it is a bug of `web3`. I encounter the problem when using metamask in the browser.

[2019-02-08 10:09] nivida commented on #2256
Thanks @ricmoo for the additional information!

This is what I'm checking currently and will probably be the solution.

If I really will write my own abi coder then I will definitely use your test cases! thanks!

Yes, that's right but with a downgrade, I will just have other issues this is why I'm looking for a possible solution without a downgrade of ethers.js. If I can't solve these issues until

[2019-02-08 10:49] kim-keepcoding opened #2344 "TypeError: Duplicated method getAccounts. This method is defined as RPC call and as Object method."
Please allow to override web3.eth.getAccounts function.

Normally, I used it like this before 1.0.0-beta.41 to override rpc the same way as metamask do.
It works with others methods like privatekey keystore too.

#### Expected behavior

get assigned account

#### Actual behavior

#### Steps to reproduce the behavior

[code]

#### Error Logs
[code]
#### Versions
[NPM@6.4.1, Node@v8.12.0, Web3.js@1.

[2019-02-08 11:06] nivida commented on #2344
This does no longer work because of security an architectural reasons. I'm currently writing the documentation for the ``Web3 Module API`` this will provide you the possibility to create your own custom JSON-RPC calls and contract objects. (https://github.com/ethereum/web3.js/pull/2236)

[2019-02-08 11:06] #2344 closed, assigned to nobody

[2019-02-08 11:08] nivida commented on #2343
Thanks for creating this issue! But this got already fixed and will be released in version beta.44. (https://github.com/ethereum/web3.js/pull/2338)

[2019-02-08 11:08] #2343 closed, assigned to nobody

[2019-02-08 11:15] nivida commented on #1982
Tested with version beta.43:

[code]

Because it does work will I close this issue.

[2019-02-08 11:15] #1982 closed, assigned to nobody

[2019-02-08 11:18] lbthomsen commented on #2330
Just for the sake of complete info - Debian stretch with node ver. 10.15.1

[2019-02-08 11:24] nivida commented on #2077
I've tested it now and this is an issue of ``ethers.js`` and will also occur in the latest version of ``ethers.js``. I've created an issue in the ``ethers.js`` GitHub repository: https://github.com/ethers-io/ethers.js/issues/418

[2019-02-08 11:32] leonprou commented on #2077
@nivida Yes that makes sense, `ethers.js` using now their own implementation of BigNumber (or maybe doing some wrapping), wrote it in my last comment 👀 .

[2019-02-08 12:57] #2256 closed, assigned to nobody

[2019-02-08 12:59] BigMurry opened #2349 "1.0.0-beta.43 when execute`contractInstance.methods.myMethod.send`, metamask throw exception"
#### Expected behavior
`contractInstance.methods.myMethod(...args).send({from, value})` should work.

#### Actual behavior
metamask throw exception
[code]
#### Steps to reproduce the behavior

The same code worked in version `1.0.0-beta.36`
[code]

#### Error Logs
[code]
#### Versions
NPM: v6.4.1
Node: v10.14.0
MacOS

[2019-02-08 13:57] #2330 closed, assigned to nobody

[2019-02-08 13:58] sebastianst opened #2350 "[types][web3-utils] Use bn.js directly for class BN instead of wrapper"
#### Expected behavior
Let `BN` denote the class as exported from `web3-utils`, not `bn.js`.
Assigning results of `BN` methods, like `add()`, to variables of type `BN` should work.

#### Actual behavior
Doesn't compile, throws typescript errors.

#### Steps to reproduce the behavior with error logs
The code
[code]
gives error
[code]
So right now I do arithmetics with `a.add(toBN(1)) as BN` hacks.

[2019-02-08 14:46] nivida commented on #2350
Thanks for submitting this issue I'll fix this asap.

Edit:
Could you update the issue for being align with the issue template?

[2019-02-08 14:49] sebastianst commented on #2350
Thanks for fixing. Will update the issue.

[2019-02-08 14:50] #2342 closed, assigned to nobody

[2019-02-08 14:53] ahoppen opened #2351 "Betas not published on Meteor since Beta 34"
Up to beta 34 (almost) every beta release of web3.js was published for use in Meteor. Since beta 34, however, no new versions got published there. Is that a deliberate decision or my mistake?

#### Expected behavior

Depending on the most recent beta release (as of today Beta 43) of web3.js through Meteor should be possible by executing
`meteor add ethereum:web3@=1.0.0-beta.43`

#### Actual behavi

[2019-02-08 15:43] msaikat opened #2352 ""src/index.js" is missing after installing using "npm install web3"."
#### Expected behavior
web3 modules under node_modules has "src/index.js" inside

#### Actual behavior
"src/index.js" is missing after installing using "npm install web3". Instead dist, node_modules and type is present.

#### Steps to reproduce the behavior

1. npm install web3

#### Error Logs
No error happened!

#### Versions
"web3": "^1.0.0-beta.43"

[2019-02-08 16:01] nivida commented on #2351
I will contact @frozeman and ask him to transfer the ownership and will release it there too.

[2019-02-08 16:04] #2265 closed, assigned to nobody

[2019-02-08 16:15] ahoppen opened #2354 "Running tests locally fails with error: Could not locate module Utils mapped as: web3-utils"
I'm trying to clone and run the tests of web3.js locally, however when running the tests, either the `web3-eth-iban` or the `web3-eth-abi` module fails with the error message:

[code]

#### Steps to reproduce the behavior

[code]

Running `npm run test` results in the following output

<details><summary>Show output</summary>

[code]
</details>

I'm running on macOS 10.14.2

[2019-02-08 16:37] #2340 closed, assigned to nobody

[2019-02-08 16:58] nivida commented on #2333
Does this error still occur in the latest version (beta.44)? I've fixed issue #2256.

[2019-02-08 18:13] cupOJoseph commented on #2291
This is super annoying when I have a dapp that has to be served locally. Injecting web3 with metamask gives an old version, 0.20.3, and it's a pain to not have a static js version I can use on client side to use newer versions of web3.

If you are having a similar problem this cdn might be helpful https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js

However, like nivida men

[2019-02-08 18:26] sebastianst commented on #2350
Found an even easier example with `clone()`:
[code]
gives the same error.

[2019-02-08 18:31] ghost commented on #2291
Hey, yes I'm using `beta.37` (https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.37/dist/web3.min.js) at the moment, but it's already outdated and doesn't support all functions anymore.

In my environment I can't have nodejs I can work with JS only. Is there a way to compile the newest version by yourself to use it than?

What kind of security issues?

[2019-02-08 18:52] #2027 closed, assigned to nobody

[2019-02-08 21:59] ericbinet opened #2356 "Call to account.signTransaction({...}) throw TypeError"
#### Expected behavior
When supplying a fully defined transaction to `account.signTransaction`, a signed transaction should be returned.

#### Actual behavior
As it stands, the method throws a TypeError: this.signTransaction(...).bind is not a function. This is caused by the early return on line 230 of Accounts.js.

#### Steps to reproduce the behavior

[code]

#### Error Logs

`TypeError: this.si

[2019-02-09 00:55] lbthomsen opened #2357 "web3.version reports wrong version"
#### Expected behavior

Return current version

#### Actual behavior

Appears to return current version minus 1.

#### Steps to reproduce the behavior

This one is so minor it's almost embarrassing to report but I suspect it could cause confusion in bug reports and such, so I'll create an issue anyway.

[code]

beta.44 installed:

[code]

#### Error Logs

#### Versions

Noticed in beta.42, 43 and

[2019-02-09 01:00] lbthomsen commented on #2330
Confirmed fixed in beta.44

[2019-02-09 01:14] neocybereth commented on #2311
@mistersandman can we fix this by manually adding the contract address to the parameters? My site has been down for days from this issue

EDIT: This issue was resolved by upgrading my Infura node to the latest V3 REST API

[2019-02-09 02:12] BigMurry commented on #2349
@nivida The same error still exists at 1.0.0-beta.44.

[2019-02-09 03:53] sebayaki commented on #2265
@nivida
Sorry but I just tested `beta.44` version that says including this issue fix, but problem still the same on my side.

I guess it's could probably be..
#2348 says `returnValues` was missing on "past logs", but my issue is for `contract.events.Transfer` method (websocket subscription), not the `getPastEvents` function.

[2019-02-09 03:58] OFRBG commented on #2048
I can't reproduce the original problem posted here, but the duplicates seem to come from calling `.subscribe()` twice. At the time of writing for `v1.0.0-beta.44`, the working code looks like:

[code]

Calling `subscription.subscribe('newBlockHeaders', () => {})` creates a second subscription to the node, which also triggers the `data` event.

[2019-02-09 04:18] OFRBG commented on #2357
I believe this is related to the deployment workflow. The data for `web3.version` is fetched from the `package.json` of the `web3` module. What happens at beta X is that

1. tests pass with version X, and the modules are built with X,
2. The `package.json` version info gets hardcoded into a string as X.
3. Finally, the packages get version bumped to X+1 and deployed.

npm and the `package.json`s r

[2019-02-09 04:22] OFRBG commented on #2354
Try running this but with `lerna` commands. That should work. Alternatively, use `npm run travis`.

[2019-02-09 04:36] OFRBG commented on #2352
The entry point structure was changed to split into umd, cjs, and esm versions.

The `package.json`s instead of `index.js`, they have

[code]

[2019-02-09 05:57] 7-of-9 commented on #2211
@nivida fyi -- re. beta41: I'm seeing "window is not defined" when creating a  new Web3.providers.WebsocketProvider(...) inside A web worker context.

(< beta38 threw much earlier: at "import Web3...", so it's closer to working!)

UPDATE: `self.window = self`
In web worker before new WebsockProvider() seems to fix this.

Fix at source would be line 1162 of web3-provider-umd.js (beta41) - just remo

[2019-02-09 06:07] BigMurry commented on #2357
I found this issue too. And I think the publish of version ` 1.0.0-beta.44` may have some issues.
As mentioned in the release log, this issue #2349 should've been fixed. But I found the issue still exists.

And I compared the code from NPM of version 1.0.0-beta.44 and code from github in 1.0.0-beta.44 tag, some differences can be found.

### from NPM version `1.0.0-beta.44`
<img width="709" alt="w

[2019-02-09 07:21] ahoppen commented on #2354
Thanks! It works with the `lerna` commands.

[2019-02-09 07:21] #2354 closed, assigned to nobody

[2019-02-09 11:44] nivida commented on #2357
Sorry will fix and release this in the next minutes.

[2019-02-09 11:46] nivida commented on #2356
Thanks for submitting this issue. Because I had several problems with the accounts module do I refactor it to finally solve these issues.

[2019-02-09 12:14] nivida commented on #2357
Sorry for the confusion. I have definitely to improve the release workflow I have. I apologize for the troubles. This will never happen again.

[2019-02-09 12:14] #2357 closed, assigned to nobody

[2019-02-09 14:43] Haidy777 commented on #1527
I tried to install web3 today, and got the same error mentioned above.  I saw that bn.js is version ```4.11.8```, according to my ```package-lock.json```. Is there an easy fix?

[2019-02-09 14:50] OFRBG commented on #2354
Hey, here's how Samuel runs the build: https://github.com/ethereum/web3.js/pull/2358#issuecomment-462047698. This should be the "official" way.

[2019-02-09 19:21] ekkis opened #2361 "toDecimal() produces Error: Number can only safely store up to 53 bits"
#### Expected behavior
I should get a decimal number
#### Actual behavior
I get an error
#### Steps to reproduce the behavior

[code]

#### Error Logs

#### Versions
NPM: 6.7.0
Node: 11.5.0
Web3.js: '1.0.0-beta.43'
OS: OSX 10.14

[2019-02-10 05:14] ishanjoshi02 opened #2362 "Node Error"
#### Expected behavior

`UserStore.deployed()` should return the instance of the contract

#### Actual behavior

Node Error: Method [object Object] not supported.

#### Steps to reproduce the behavior

1. `import TruffleContract from "truffle-contract";`
2. `const Web3 = require("web3");`
3. `const UserStoreArtifact = require("artifact.json");`
4.
[code]
5. `UserStore.setProvider(web3.currentProvi

[2019-02-10 05:16] ishanjoshi02 commented on #2362
While using `truffle console`, I am able to get the Instance of the contract.

[2019-02-10 05:50] OFRBG commented on #2361
Ethereum balances are stored in 256 bit memory slots. JS only supports numbers up to 53 bits. You need to store the result in a string. If you also need to perform operations with it, you can do things like

[code]

[2019-02-10 07:08] rhlsthrm opened #2363 "Import Web3 not working in Typescript"
#### Expected behavior
Documentation should accurately describe the way to import Web3 into a Typescript project. There are conflicting documentations about the correct import, neither of which work.

https://github.com/ethereum/web3.js#usage-with-typescript
[code]

https://web3js.readthedocs.io/en/1.0/web3.html
[code]

#### Actual behavior
Errors from both approaches, see below for logs.

#### St

[2019-02-10 07:10] rhlsthrm commented on #2363
If I use this syntax it gives me a Typescript error but appears to work:

`import * as Web3 from 'web3';`

Error is `Cannot use 'new' with an expression whose type lacks a call or construct signature.ts(2351)`.

[2019-02-10 07:33] BigMurry opened #2364 "1.0.0-beta.46 subscribe events without callback throw exception: `TypeError: callback is not a function`"
#### Expected behavior
`contractsInstance.events.MyEvent.on('data', evt => {})` should work.
#### Actual behavior
throw exception:
[code]
#### Steps to reproduce the behavior
same code works in `1.0.0-beta.36`
[code]
#### Error Logs
[code]
#### The code snapshot:
<img width="816" alt="wechatimg167" src="https://user-images.githubusercontent.com/12495406/52530943-d8d14780-2d48-11e9-837a-4588e6ebf26

[2019-02-10 08:33] BigMurry opened #2365 "1.0.0-beta.46 send transaction, when confirmed throw exception: `TypeError: Cannot read property 'anonymous' of undefined`"
#### Expected behavior
send transaction should work fine.

#### Actual behavior
[code]
#### Steps to reproduce the behavior
[code]
when transaction is confirmed on the blockchain, exception occurred.
#### Error Logs

[code]

#### code snapshot:
<img width="763" alt="wechatimg168" src="https://user-images.githubusercontent.com/12495406/52531507-88aab300-2d51-11e9-8db1-9fb96af84cc9.png">

#### Versi

[2019-02-10 08:41] yxliang01 commented on #1182
@frozeman This documentation for `_extend` is now gone. Is there anything happened? Is it unavailable in the latest 1.0?

[2019-02-10 11:11] nivida commented on #2365
Tested it with:
[code]

and got the following response:
<img width="694" alt="screenshot 2019-02-10 at 12 05 51" src="https://user-images.githubusercontent.com/1699173/52532911-415dfb80-2d2c-11e9-900e-19f8aa59e166.png">

Could you reference a gist file or repository here with the contract and your code example?

[2019-02-10 11:24] nivida commented on #2364
Thanks for creating this issue! I've just fixed it in PR https://github.com/ethereum/web3.js/pull/2366

[2019-02-10 12:01] #2364 closed, assigned to nobody

[2019-02-10 12:07] nivida commented on #2363
Thanks for creating this issue. I will test it next week and fix it asap.

[2019-02-10 12:11] nivida commented on #2362
Thanks for submitting this issue. As I see from the error message you are using a version higher then beta.37. Truffle does currently only support until version beta.37 of the Web3.js library.

Please be sure you are using the right version.

[2019-02-10 12:11] #2362 closed, assigned to nobody

[2019-02-10 14:02] #2329 closed, assigned to nobody

[2019-02-10 14:22] nivida commented on #2089
@eswarasai Sorry for the late response. I've created a webpack example and a module example. Yes, we would have to create a documentation folder there and setting the things up for jsfiddle. I think @Huanzhang89 would also like to help :)

[2019-02-10 22:24] eswarasai commented on #2089
@nivida -- No problem. Thanks for the update. I'll get started on setting up JSFiddle and shall update you once done :)

@Huanzhang89 -- Would love to have your help on setting up docs and probably have clearer list of examples that are needed in various tech stacks. Thanks!

[2019-02-10 23:21] mistersandman opened #2368 "indexed parameters are shifted by one when decoding logs"
#### Expected behavior
`decodeLog` in `AbiCoder.js` ([here](https://github.com/ethereum/web3.js/blob/1.0/packages/web3-eth-abi/src/AbiCoder.js#L271)) should return a map from all event parameter names to their decoded data with respect to the type specified in the ABI.
#### Actual behavior
The data used to decode indexed parameters of events is shifted by one topic (i.e. the first indexed paramete

[2019-02-11 04:25] LuiJunYe opened #2369 "web3.eth.getBlockTransactionCount do not return any response"
**All issues which aren't created with this template will get immediately closed.**

#### Expected behavior
web3.eth.getBlockTransactionCount will return the total transaction count for the block

#### Actual behavior
Error return from nodejs and do not receive any total transaction count from the web3.

#### Steps to reproduce the behavior

1. Simply get the block number from ropsten
2. Put the b

[2019-02-11 04:48] haozileung commented on #2341
same error in 1.0.0-beta.46
weird...

[2019-02-11 05:35] OFRBG commented on #2369
Testing with
[code]
---

I believe these two are the guilty lines.

https://github.com/ethereum/web3.js/blob/35ebbcacbecc75a6cac033fc648d0091e0235a83/packages/web3-core-method/src/methods/block/GetBlockTransactionCountMethod.js#L32-L34

https://github.com/ethereum/web3.js/blob/35ebbcacbecc75a6cac033fc648d0091e0235a83/packages/web3-core-method/src/methods/block/GetBlockTransactionCountMethod.js#L44

[2019-02-11 06:45] LuiJunYe commented on #2369
Thanks. Is there any work around on getting the block transaction count?

[2019-02-11 07:26] OFRBG commented on #2369
You could try to get all the transactions and count, use ethers.js, do a direct request to the nodes, or modify your local web3 package. Otherwise, wait for the fix 😿.

[2019-02-11 07:52] mistersandman commented on #2368
Small example to reproduce, querying past `Transfer` events from block 7205796 of the Wrapped ETH (WETH) contract:
[code]
The output is:
[code]
Compare this with the transfer information on Etherscan [here](https://etherscan.io/tx/0x72cbb7c4f9c3990b2f7d3351a8ea733fed9681c0f09169b65400a571089568e9). The transfer goes from `260e92d7b25c9315d068b2c3ca5f234d0cf9e505` to `0681e844593a051e2882ec897ecd54

[2019-02-11 11:18] ctrlaltvikas commented on #2080
hey @nivida  when will you process the bounty payment?

[2019-02-11 12:34] nivida commented on #2369
Thanks for submitting this issue. I‘ll test and fix it asap (I just destroyed my macbook with mouth rinse hopefully I can repair it today or I have to buy a new one asap)

[2019-02-11 13:21] MisaZ10 commented on #2333
With 1.0.0-beta.46 I have this result:

`Error: invalid bytes32 value (arg="candidateNames", coderType="bytes32", value="0x52616d61", version=4.0.24)`

[2019-02-11 14:24] baxy opened #2370 "Creating "newBlockHeaders" subscription on Parity returns error"
#### Expected behavior
The params array inside the json rpc call should not contain an empty object when creating subscription to "newBlockHeaders". The call should be:
`{"method":"eth_subscribe","params":["newHeads"],"id":1,"jsonrpc":"2.0"}`

#### Actual behavior
When creating the subscription for "newBlockHeaders", the json rpc call sends in the params array an extra parameter, to be more specif

[2019-02-11 15:04] nivida commented on #2370
Thanks for submitting this issue I’ll fix it asap.

[2019-02-11 17:06] felixwatts commented on #1089
I have the same problem. ABI is definitely in sync with deployed contract. web3-provider-engine, HttpProvider, ganache-cli, embark. Started seemingly randomly today and occurs seemingly unpredictably. I get it when calling contract.getPastEvents (there are no events in the log that match the type)

[2019-02-11 18:56] felixwatts commented on #1089
OK, I was able to fix by specifying a from address when calling contract.getPastEvents:

    const stateEvents = await Atl.getPastEvents('EventName', {
        filter: {a: b},
        fromBlock: 0,
        toBlock: 'latest',
    }, { from: fromAddress });

[2019-02-11 19:09] felixwatts commented on #1089
Sorry that was wrong. It just randomly worked a couple fo times then started failing again

[2019-02-12 00:15] pixelmatrix commented on #2368
I'm seeing something similar with beta.46.

When I subscribe to Transfer events, i'm seeing the to and from values being swapped. The event signature is:

[code]

The raw event log is:
[code]

Decoded return values:
[code]

[2019-02-12 00:52] pixelmatrix opened #2372 "Clarification on "notification" events from provider"
As the maintainer of a web3 provider, I'm looking for clarification about the state of subscription support via EIP-1193.

We're trying to update our SDK to be compatible with the latest beta, but it appears there are some inconsistencies with the new spec. Namely, the EIP states that providers should emit "notification" with the unmodified parameters from RPC response. However, we're seeing that

[2019-02-12 04:04] OFRBG commented on #2372
I'm not sure, but at a quick glance it seems to might related to https://github.com/ethereum/web3.js/issues/2266. There are still groups who haven't migrated to EIP-1193, so to avoid breaking half of the DApp world, the changes might be implemented a bit more cautiously.

I don't know if you started from scratch, but @nivida recommends prototyping from the [Abstract Socket Provider](https://github

[2019-02-12 06:44] eswarasai commented on #2363
@rhlsthrm -- The default typings included with `web3` are working fine in the latest release i.e., `1.0.0-beta.46`. You can find the example usage here --> https://github.com/ETHSurvey/ETHSurvey/blob/develop/src/core/services/web3.ts

Also, please ensure that your `tsconfig.json` includes the below config:
[code]

If you're still facing an issue, feel free to share the code so that we'd be able to

[2019-02-12 06:52] pixelmatrix commented on #2372
@OFRBG Thanks for the suggestion! However, since we're using web3-provider-engine behind the scenes (for a number of other reasons) we can't easily inherit from the new abstract provider.

Unfortunately it looks like right now it's neither using the current proposed api, nor compatible with the older api. I actually only noticed because it broke our DApps all of a sudden.

These things happen, but

[2019-02-12 08:07] sebayaki opened #2373 "`returnValues` parsed incorrectly"
It's probably related to #2265
Now it has `returnValues`, but they're incorrect.

#### Steps to reproduce
[code]
#### Expected behavior
The event object should have return value with `from`, `to` and `value` parameters.

For example, this transaction: https://etherscan.io/tx/0x014f39644c60ffa56dd2073ec1783457e93ce8adad8161cf519209cd6b4aadeb

Should have
[code]

#### Actual behavior
Those propertie

[2019-02-12 08:14] mistersandman commented on #2373
this is a duplication of #2368

[2019-02-12 09:25] sebayaki commented on #2373
oh thanks. please merge with #2368 then

[2019-02-12 09:42] joshstevens19 commented on #2363
Hey thanks for raising this issue. Web3 typing's are working fine, as the document says you can do

[code]

Please supply your code on here (github repo) and i can happily have a look for you. Will close this issue as this is nothing to do with the typing's more your project set up (tsconfig.json) as they're working fine.

We can continue the conversation even though it is closed though.
Cheers
Jo

[2019-02-12 09:42] #2363 closed, assigned to nobody

[2019-02-12 10:32] BigMurry commented on #2365
@nivida
when I create the contractInstance, some events' abi is missing from the `contractAbi`, cause the events came from the other contract.

[code]
Then when transaction is confirmed, it will trigger these methods:

`TransactionConfirmationWorkflow` -> `handleSuccessState` -> `method.afterExecution` -> `allEventsLogDecoder.decode`

But some events' abi can not found, so that the `abiItemModel`

[2019-02-12 11:37] oktapodia opened #2374 "[typescript] Account interface does not seems to be right"
**All issues which aren't created with this template will get immediately closed.**
Hello,

I'm not sure the typing `Account.signTransaction` interface is correct [here](https://github.com/ethereum/web3.js/blob/v1.0.0-beta.46/packages/web3-eth-accounts/types/index.d.ts#L75), should be [that](https://github.com/ethereum/web3.js/blob/v1.0.0-beta.46/packages/web3-eth-accounts/src/Accounts.js#L91) isn

[2019-02-12 11:51] melihbirim commented on #2256
`web3.utils.fromAscii('Nick').padEnd(66, '0'); `

worked for me.

[2019-02-12 11:59] joshstevens19 commented on #2374
Hey @oktapodia Thanks for raising this looking at it you are correct. In actual fact the documents are incorrect as well https://web3js.readthedocs.io/en/1.0/web3-eth-accounts.html#signtransaction

I think it needs to be

`signTransaction(tx: Transaction, callback?: (signTransaction: SignedTransaction) => void): Promise<SignedTransaction>;`

as it gets your private key from your account so the typ

[2019-02-12 12:01] oktapodia commented on #2374
Awesome! Let me know if you need any help on that

[2019-02-12 13:16] OFRBG commented on #2372
What is the last web3@1.0.0 version that worked for you? I've seen more than a couple of projects that have opted to downgrade to web3@1.0.0-beta.37 for production until post-beta.37 implementations "stablize". Perhaps a midpoint would be keeping a branch with post-beta.37 for development testing, and one for beta.37 development 😝.

[2019-02-12 16:32] eswarasai commented on #2089
@nivida -- Does the examples need to be setup on JSFiddle or maybe you'd prefer [`Codesandbox.io`](https://codesandbox.io)?

It looks like it's pretty easy to import a GitHub repo and get started with it just by using the GitHub URL to the example directory. You can open the below URL in a browser and you can see that it automatically installs dependencies and sets up dev environment for you.

URL

[2019-02-12 18:28] rhlsthrm commented on #2363
Thanks for the response @joshstevens19. I changed the `tsconfig` as you mentioned. My Typescript error in import disappeared because of that, but I still get another error:

[code]

Here is my code: https://github.com/MolochVentures/moloch-monorepo/blob/broken-web3-example/packages/moloch-backend/src/web3.ts

[2019-02-12 19:04] joshstevens19 commented on #2363
Hey I see your project has a lot going on with it so me trying to find out why that is not working will be hard due to so much going on.

What i have done is tested it on a BLANK typescript project so:

```npm init```
```npm install web3```
```tsc --init```

i then created a `test.ts` and wrote this little bit of code, similar to yours but using rinkeby as a provider,  as yours was pointing to a l

[2019-02-12 19:15] rhlsthrm commented on #2363
Thanks for the help. I'll continue to debug from here.

[2019-02-13 03:04] eswarasai commented on #2363
@rhlsthrm -- The issue is with `tsconfig.json`. Sorry for pointing out the wrong config. It appears that `allowSyntheticDefaultImports` has been changed to `esModuleInterop`. So replace the same in your `tsconfig.json` and everything should work fine :)

[2019-02-13 04:22] mateuspiresl opened #2375 "getTransaction breaks trying to access blockNumber of null response"
#### Expected behavior
The method `getTransaction` should return `null` or error for specifying a non-existent transaction.

#### Actual behavior
The method `getTransaction` breaks trying to access `blockNumber` of  `null` response.

#### Steps to reproduce the behavior
1. Connect to the **main network** (I used the _Infura_ provider to do so);
2. Call `getTransaction` with a transaction hash that

[2019-02-13 04:24] mateuspiresl commented on #2375
This [issue](https://github.com/ethereum/web3.js/issues/2246) seems to be related but happens for `sendTransaction`. This one is for `getTransaction` alone.

[2019-02-13 08:17] Haidy777 commented on #2037
Not sure if I should add this directly to this issue, but I think there is some general error with 'elliptic'.
When using `web3.eth.accounts.privateKeyToAccount` I'm getting the following error:

[code]
Using the latest version of web3 with node 10.

[2019-02-13 08:34] williamchong commented on #1178
with beta.46, I am still getting 3 bn.js, and there are 4 lodash now
edit: also somehow the umd version was included instead of esm, but other lib I used (vue) has esm included no problem in the same build
![image](https://user-images.githubusercontent.com/6198816/52697812-36fe6480-2fad-11e9-8e5a-0ba03a815235.png)
![image](https://user-images.githubusercontent.com/6198816/52697833-4382bd00-2fad-11

[2019-02-13 09:37] OFRBG commented on #2375
Yup, you're right. The `afterExecution` processing is also missing the `undefined` return case. Guilty lines below.

https://github.com/ethereum/web3.js/blob/35ebbcacbecc75a6cac033fc648d0091e0235a83/packages/web3-core-method/src/methods/transaction/GetTransactionMethod.js#L45-L47

[2019-02-13 13:41] kim-keepcoding commented on #2365
Yeah. I'm got this problem as well. Probably something to do with Escrow contract.

[2019-02-13 23:07] hdahme commented on #2296
What was the resolution @ironbyte ?

[2019-02-14 05:55] hd51515 commented on #1230
did you try the below? I use the below but I suspect it also gives low gas price
	Transfer transfer = new Transfer(web3, transactionManager);
       BigInteger gasPrice = transfer.requestCurrentGasPrice();

here I use
import org.web3j.tx.FastRawTransactionManager;  for transactionManager

[2019-02-14 08:32] leonprou commented on #2341
I debugged this issue and found some inconsistency in types of `web3-core-method`.

The `execute` function puts rawTransaction into `parameters` [here](https://github.com/ethereum/web3.js/blob/599851753b4a35b5c11f902c7c592b111e190073/packages/web3-core-method/src/methods/transaction/SendTransactionMethod.js#L90), but in `beforeExecution`, the `inputTransactionFormatter` accepts to receive a `txObj

[2019-02-14 09:06] leonprou commented on #2224
But why don't the project uses a proper semver versioning style? So may breaking changes issues could be avoided. By removing callbacks a unexpected number of apps and projects would break..

[2019-02-14 10:03] vongohren opened #2376 "Throwing a cannot set property .from on string error"
#### Expected behavior
This happend on my dev server and not locally, because the dev update packages and we relied on not a set version of web3. So the error did not happen locally until I deleted all nodemodules and installed again. Forgot to check what version I had locally.

But I expect to
The transaction to go through. It has worked before, but suddenly with some of the new changes it did no

[2019-02-14 19:49] davidmurdoch commented on #2266
We're scheduling a call with all interested JavaScript providers with the purpose of coming to a consensus on EIP 1193 as well as discuss a timetable for deprecation and roll out. If you are interested in being involved or just want to listen in on the call please respond to the thread here: https://ethereum-magicians.org/t/eip-1193-provider-ring-call-meeting/2647

[2019-02-14 22:47] LayneHaber opened #2377 "Personal ECRecover validates sig as address"
#### Expected behavior
Using eth.personal.ecRecover, it should return an address when provided with signed data. noticed it was checking the signed data as an input address.

#### Actual behavior
The function seems to be verifying the signed data as an address
[code]

#### Steps to reproduce the behavior

1. Sign some data `const sig = await web3.eth.personal.sign(data)`
2. Try to recover your add

[2019-02-15 02:51] gabmontes opened #2378 "Invalid chainId used to sign transactions"
#### Expected behavior

When signing transactions in Ethereum Classic (might be applicable to other chains as well), the signing logic in the accounts package shall use the proper `chainId` (i.e. 61/62) if it is not specified in the transaction object by calling `eth_chainId` RPC.

#### Actual behavior

In the above mentioned case, the chainId value is actually retrieved using the `net_version` RP

[2019-02-15 07:39] wanyvic opened #2379 "web3-bzz upload broken"
the latest version of swarm-js is 0.1.39 from npm .but it not modified `bzz-raw` replace  by `bzzr`
[swarm-js/issues/31](https://github.com/MaiaVictor/swarm-js/issues/31)

[2019-02-15 07:46] #2379 closed, assigned to nobody

[2019-02-15 08:11] Tayyib-A60 commented on #1211
I used npm install ethereum/web3.js and it works fine.

[2019-02-15 08:45] gudcjfdldu commented on #2365
I have a similar problem. Is there a way to solve this problem?

[2019-02-15 09:32] gudcjfdldu commented on #2365
Do you know what to do with escrow contract? Did you solve this problem?

[2019-02-15 10:32] Tayyib-A60 opened #2380 "Cannot find module web 3"
Help

[2019-02-15 10:41] Tayyib-A60 commented on #2380
Hi, I got this error while trying to install web3
`npm i web3@1.0.0-beta.38
npm ERR! path git
npm ERR! code ENOENT
npm ERR! errno ENOENT
npm ERR! syscall spawn git
npm ERR! enoent Error while executing:
npm ERR! enoent undefined ls-remote -h -t git://github.com/frozeman/WebSocket-Node.git
npm ERR! enoent
npm ERR! enoent
npm ERR! enoent spawn git ENOENT
npm ERR! enoent This is related to npm not be

[2019-02-15 14:20] vongohren commented on #2376
@pedroraft, @ates, @noeRIs, have you experinecd this, did you guys just set down the library version or what made you continue around this problem?

[2019-02-15 15:22] pedroraft commented on #2376
@vongohren After a long debug i found my problem is at inputTransactionFormatter as well, and i don't have enough time to understand whats going on there. Im considering using https://github.com/ethjs/ethjs/ in mix with web3 just to ship my project in time. Not what i would like but i just don't see this getting fixed soon.

[2019-02-15 15:34] ates commented on #2376
This problem gone when I downgrade web3 to 1.0.0-beta.35

[2019-02-15 15:51] nivida commented on #2380
Closed this issue because it was not created with the issue template.

[2019-02-15 15:51] #2380 closed, assigned to nobody

[2019-02-15 16:03] vongohren commented on #2376
@nivida I think this might be quite problematic

[2019-02-15 16:07] jeansouza commented on #1259
@nivida the problem wasn't fixed, I'm still not able to use `import Web3 from 'web3'`.

[2019-02-15 17:31] gabmontes opened #2381 "Possible invalid gas check"
Up to version beta.37, there was an issue with checking the receipt for transaction execution status:

https://github.com/ethereum/web3.js/blob/1d9f6c0889c7f551b4ec1041cece0d50bc3ff2c8/packages/web3-core-method/src/index.js#L351

While `gasProvided` is a hex string, `receipt.gasUsed` is a number, making the condition always fail -and therefore failing to do any check-. Proper comparison would be:

[2019-02-15 18:07] nivida commented on #2381
Thanks for submitting this issue. Will fix it next week after my vacation 👌🏻

[2019-02-16 14:00] BigMurry commented on #2365
@gudcjfdldu This is a web3 bug, if your transaction will trigger another contract event, web3 will trigger this bug.

I've downgraded to 1.0.0-beta.36.

[2019-02-16 14:17] trungfinity opened #2382 "`allowSyntheticDefaultImports` is too opinionated"
#### Expected behavior

`allowSyntheticDefaultImports` should be turned off since this is a very opinionated rule. When it's turned on like what we have right now, other projects which depend on `web3` have to obey the rule no matter what.

This is bad since some projects (and I personally) prefer non-synthetic default imports, they are easier to reason in term of understanding what's happened beh

[2019-02-16 14:32] joshstevens19 commented on #2382
Hey @ngthanhtrung thanks for raising this, I completely agree with you. I didn't even know that config got turned on must of been missed along the way. Happy to change this and get it deployed on the next release.  Its only a few config files changes i think 16 to be exact. I can make these change this weekend when i get a chance as i have another change i want to make with the typing's. I have ju

[2019-02-16 14:51] trungfinity commented on #2382
Thanks a bunch, @joshstevens19, will work on a PR now so you don't have to bother with implementing this.

[2019-02-16 14:54] joshstevens19 commented on #2382
Ok yes thanks that would be great, please reference this issue on the PR 👍

[2019-02-16 16:36] igormuba commented on #2291
C'mon, if they are not providing it, at least UPDATE THE DOCS!

[2019-02-16 16:37] igormuba opened #2383 "Docs say to link "dist/web3.min.js" but there is no web3.min.js."
#### Expected behavior

Either give web3.min.js or update the docs on how to work without it.

#### Actual behavior
The docs right away teach how to do it using web3.min.js.

#### Steps to reproduce the behavior

1. do to docs > adding web3
2. it asks to link web3.min.js
3. there is no web3.min.js

#### Versions
web3.js 1.0

[2019-02-16 17:07] trungfinity commented on #2382
Hey @joshstevens19 is there anywhere to chat with you outside of GitHub? I got some questions to ask.

[2019-02-16 17:09] joshstevens19 commented on #2382
Telegram - @joshstevens19 👍

[2019-02-16 17:13] cupOJoseph commented on #2291
@igormuba The docs are also open source, feel free to update and make a PR yourself.

[2019-02-16 17:29] igormuba commented on #2291
I have been working for days already trying to figure out how is the 1.0 version supposed to work without web3.min.js, once I figure out how to build a front end without it for myself, I will be more than happy to update and make tutorials, but so far, I am struggling to even understand how do they want us to work without that script...

[2019-02-16 18:05] cupOJoseph commented on #2291
The point is you're supposed to serve web3 via a server of some kind.
`web3 = require(web3)`

[2019-02-16 19:22] AdhikariNaveen commented on #1916
Downgrading to beta 33 bring me more trouble than solution

For the first campaign in the same address, I was able to get the requests and manipulate on the same, however, while I created another campaign this error started to pop up whenever I try to click on the get request button.
"dependencies": {
"fs-extra": "^7.0.1",
"ganache-cli": "^6.3.0",
"mocha": "^5.2.0",
"next": "^4.1.4",
"next-routes"

[2019-02-17 00:09] timothywangdev commented on #2376
same issue happened to me with 1.0.0-beta.46. The "from" field somehow disappeared.

[2019-02-17 03:06] wardoost commented on #2349
Experiencing the same error on 1.0.0-beta.46 here, 1.0.0-beta.36 works though

[2019-02-17 05:42] OFRBG commented on #2383
Most modern websites are built with stuff like webpack that minifies the JavaScript dependencies. My guess is that for now the web3 package won't include a web3.min.js file. If you want to use one, however, there's a way. There are packages such as https://www.npmjs.com/package/uglify-js or https://www.npmjs.com/package/browserify that can do it for you via CLI commands.

[2019-02-18 02:55] gudcjfdldu commented on #2365
@BigMurry  i think Version 1.0.0-beta.37 seems to be the most stable.
Currently, web3 works fine in this version.

[2019-02-18 07:32] BigMurry commented on #1178
can use webpack alias to solve this issue.
1. publish a forked version of `bn.js`
2. `yarn add fork-bn.js`
3. change the webpack config
[code]
There is only one `bn.js` now, cheers :)

[2019-02-18 08:07] chiro-hiro commented on #2368
I have the same issue:
[code]
Expected result:
[code]
Which was I received:
[code]
To me, it was happened to both 1.0.0beta45 and 1.0.0beta46.

[2019-02-18 08:53] nivida commented on #2383
Sorry, didn't see this in the ``Getting Started`` section I will update the documentation. The longterm goal will be to improve the ``Getting Started`` section with starter projects etc. this should help most developers to get introduced to the DApp development without any pain.

[2019-02-18 08:55] nivida commented on #2378
Will check and fix this in the current working branch (https://github.com/ethereum/web3.js/pull/2367)

[2019-02-18 08:58] nivida commented on #2376
@vongohren Sorry was on vacation for a week. Will fix it asap and release it within the next beta version.

[2019-02-18 09:00] nivida commented on #2375
Thanks for submitting this issue! I will fix and release it asap.

[2019-02-18 09:01] nivida commented on #2377
Thanks for submitting this issue! I will fix and release it asap.

[2019-02-18 09:02] nivida commented on #2368
Thanks all for the detailed information! I will fix and release it asap.

[2019-02-18 09:02] nivida commented on #2373
Closed because of issue #2368.

[2019-02-18 09:02] #2373 closed, assigned to nobody

[2019-02-18 09:08] nivida commented on #2372
It's not required to inherit from the ``AbstractSocketProvider``. You should be able to just follow the EIP-1193 and Web3.js will detect it as a valid EIP-1193 provider and handle it.

I've created a adapter for all EIP-1193 providers [here](https://github.com/ethereum/web3.js/blob/1.0/packages/web3-providers/src/providers/EthereumProvider.js).

I think this is what you were looking for? @pixelmat

[2019-02-18 09:13] nivida commented on #1178
I've created a webpack example [here](https://github.com/ethereum/web3-examples/tree/development/starters/webpack) and I think this is a good boilerplate to start. The long term goal will be to refactor the folder and module structure for preventing the multiple bundling of dependencies.

[2019-02-18 09:16] nivida commented on #2365
Thanks all for the additional information. I will fix and release this asap!

[2019-02-18 09:19] nivida commented on #2349
I've tested it with version 1.0.0-beta.46 and it worked for me. I think the fastest way to solve this will be if you could quickly create a small GitHub repo where this error occurs and I can test it with this. I apologize for the troubles and give my best to fix anything asap.

[2019-02-18 09:22] nivida commented on #1916
@DiePlease This means this error still occurs in the latest version? It shouldn't because I've tested it and it worked. 🤔

[2019-02-18 09:24] nivida commented on #1259
@jeansouza Yes, there is a similar TS issue. I will fix and release it asap. I apologize for the troubles.

[2019-02-18 09:27] nivida commented on #2379
@wanyvic FYI: I've closed it because you didn't use the issue template. I know about the problems the BZZ module has. I will remove the swarm-js dependency and refactor the BZZ module. The removement of the swarm-js package will happen because it isn't actively maintained.

[2019-02-18 09:32] nivida commented on #2224
I totally agree with you. A semver versioning would be great and would provide more transparency about which kind of change the new version is. But I will first improve the stability of this project before I call it a 1.0 stable version. I will not just remove the callback possibility from one release to another without informing the community some months before. The goal is to show a console warn

[2019-02-18 09:37] nivida commented on #1230
@prashantprabhakar This happens because the gas price is determined by the x latest blocks median gas price from the current connected node. I would use the https://ethgasstation.info/ API if you really want to have an exact current gas price. The long term goal will be to improve the ``eth_gasPrice`` call on the node side or to implement the EthGasStation API for determining the current gas price

[2019-02-18 10:02] BigMurry commented on #1178
@nivida you list a better option

[2019-02-18 10:03] vongohren commented on #2376
@nivida ah no worries, and no need to say sorry for vacations! They are important 😄 But glad to hear and look forward to a fix! When is the next beta version expected to release?

[2019-02-18 10:08] BigMurry commented on #2349
1.0.0-beta.46 fixed this issue for me.

[2019-02-18 11:12] jeansouza commented on #1259
@nivida thank you very much! =]

[2019-02-18 12:23] Kaisle opened #2385 "Consider bumping the version of dependency scrypt.js from 0.2.0 to 0.3.0"
#### Expected behavior

 The now deprecated [node-scrypt](https://github.com/barrysteyn/node-scrypt) should be an optional dependency.

#### Actual behavior

web3-eth-accounts depends on [scrypt.js](https://github.com/axic/scrypt.js) which has recently released a new [version.](https://github.com/axic/scrypt.js/pull/3)

This version allows the users to optionally exclude the package [node-scrypt](

[2019-02-18 13:26] nivida commented on #2385
Thanks for submitting this issue. Could you update this issue to be align with the issue template?

[2019-02-18 14:15] Kaisle commented on #2385
No problem. I have updated the template.

[2019-02-18 14:28] nivida commented on #2333
Yes, this error happens because ethers.js added a strict validation for ``bytes*`` values.

Just change this line:
[code]

To:
[code]

This is required because ``asciiToHex`` does have a default property for defining the ``bytes`` length the returned string should have. The default length is 32 bytes please check out the documentation for further details: [``web3.utils.asciiToHex``](https://web3js

[2019-02-18 14:28] #2333 closed, assigned to nobody

[2019-02-18 17:04] nivida commented on #2376
I've just had a closer look at your example:

[code]

The correct way to do this would be:

[code]

[2019-02-18 19:51] pixelmatrix commented on #2372
@nivida Thanks for taking a look. I'm mainly just wondering if you're going to follow the event naming from the spec, or if it is intentionally different.

EIP-1193 emits "notification", while the latest beta emits the subscription id.

We won't be able to inherit from anything in this library directly, so we're trying to ensure compatibility according to the spec.

[2019-02-18 21:49] vongohren commented on #2376
The reason for needing the transaction hash by an event, is that await forces me to wait for the whole transaction to finish, which locks up the code.
I want a fast return and tackle the error after if there is any.

@nivida but I will try it tomorrow morning! But it has been working before, and maybe some versions broke this and your suggestion works. But as stated, I did on for a reason, and the

[2019-02-19 00:45] nivida commented on #2376
Okay then I think this should work:
[code]

I will close this issue now because it is an implementation issue.

[2019-02-19 05:42] guangxingmao commented on #2004
web3.eth.estimateGas can't use for ERC20 contract now? i have the same error. and how can i do?

[2019-02-19 06:47] mqklin commented on #2004
@guangxingmao ERC20 token contract doesn't accept eth and rejects all these transactions. You can't send ETH to ERC20 contract

[2019-02-19 08:42] vongohren commented on #2376
@nivida this does not any difference than what I do, I still get the errror.
There is no difference if I do chaining or instansiate an object I call "send" on, still chaining, which I again attach "on" listeners too. The problem is that "on error" returns the mentioned error and I believe it is something further down in the stack, and not my implementation. It thinks from is something completly di

[2019-02-19 09:38] guangxingmao commented on #2004
but i use estimateGas, “to” is ERC20 contract,and only “data” is different, some transactions is ok, some transcations is error-( Transaction execution error)

[2019-02-19 10:28] nivida commented on #2376
Hay,

I've just tested it again with a contract and version beta.46:

[code]

This does immediately resolve with an transactionHash:
<img width="630" alt="screenshot 2019-02-19 at 11 27 17" src="https://user-images.githubusercontent.com/1699173/53008283-5546e300-3439-11e9-9c40-7df1ca2e3898.png">

[2019-02-19 10:33] nivida commented on #2376
@vongohren The ``_address`` property was never a part of the official API as you can see [here](https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html). A property with an underline means it is a private property and you probably shouldn't use it.

[2019-02-19 11:13] nivida commented on #2370
Tested it with a parity node and the version beta.46 and it works without a problem. Are you sure that you are using version beta.46 of the Web3.js lib?

[2019-02-19 11:24] nivida commented on #2372
I will follow the EIP-1193 for all exposed providers (WebsocketProvider, IpcProvider, HttpProvider). I will update the interface of them and add a deprecation warning in the coming versions.

[2019-02-19 11:24] #2372 closed, assigned to nobody

[2019-02-19 12:30] #2349 closed, assigned to nobody

[2019-02-19 12:31] #2352 closed, assigned to nobody

[2019-02-19 14:28] vongohren commented on #2376
@nivida im sorry but I dont want to be pushy, but I dont think you are trying to work with me on this, just trying to close this and blame it on a mistake I have done.

I tried again, with updated library, same piece of code.
The address field mentioned earlier, has always been the same value, doesnt matter if it is _address or address in this discussion, it is just the contract address, and that

[2019-02-19 14:51] #2381 closed, assigned to nobody

[2019-02-19 15:07] baxy commented on #2370
Yes, I am sure it was beta.46. Retested now with a clean "npm install" and no more errors.
It is odd indeed, the issue can be closed, thank you.

[2019-02-19 15:13] #2370 closed, assigned to nobody

[2019-02-19 15:41] #2377 closed, assigned to nobody

[2019-02-19 15:48] pedroraft commented on #2376
@nivida i agree with @vongohren, it seems like a bug not a support issue, working on version 35 and not 46 is a big indicator i think.

Pardon my ugly test code, but this works on 35 and not 46, same error as @vongohren
[code]

[2019-02-19 16:10] xiaods commented on #1446
@fulldecent cloud you please let someone can close the gitcoin bounty, it still opening even the issue has always resolved by @nivida.

[2019-02-19 20:22] karankurbur commented on #2341
same error on 1.0.0-beta.46
downgraded to 1.0.0-beta.37 and it works

[2019-02-19 20:30] karankurbur commented on #2341
same error with web3js v1.0.0-beta46

[2019-02-19 22:27] dystopiandev opened #2394 "UnhandledPromiseRejectionWarning on sendSignedTransaction"
#### Expected behavior

Errors should be trapped in callback error field or promise `catch(e => {})`.

#### Actual behavior
Not even a combination of try/catch and `catch(e => {})` can trap this. It's never bubbled up.

#### Steps to reproduce the behavior

I haven't been able to figure out a precise way to reproduce this, except calling `web3.eth.sendSignedTransaction` leads here sometimes.

####

[2019-02-20 06:36] anistark commented on #427
If I'm connecting via infura, I wouldn't need to specify this `--rpcapi="db,eth,net,web3,personal,web3"`. right?

How to fix it in that case?

[2019-02-20 08:11] nivida commented on #2394
Thanks for submitting this issue! I will check it and if required fix it asap.

[2019-02-20 08:18] nivida commented on #2376
This is not true, I've tested it in several ways but never get that error. That's why I wrote an example code for you which worked for me and closed this issue. I never wanted to blame you.

Instead of uploading screenshots here and adding of other code examples. Would I think is it the best way to reproduce this if you create a short repository where this error happens.

[2019-02-20 08:22] #2375 closed, assigned to nobody

[2019-02-20 08:45] #2369 closed, assigned to nobody

[2019-02-20 09:59] constb opened #2395 "Make possible use of client ssl certificates in HTTP Provider"
**All issues which aren't created with this template will get immediately closed.**

#### Expected behavior

I'm using eth node on remote servers. HTTP RPC endpoint is behind nginx, which checks client ssl certificate to authorise access. I want Web3 HttpProvider to accept certificate options and use them when instantiating `https.Agent`.

#### Actual behavior

The only option that is currently pa

[2019-02-20 10:03] nivida commented on #2395
Thanks for creating this issue! I will update the ``HttpProvider`` for allowing other options.

[2019-02-20 10:08] #2368 closed, assigned to nobody

[2019-02-20 10:41] ashish10677 commented on #1182
Even I can't find the extend function. Where is it now? Please help.

[2019-02-20 10:49] #2365 closed, assigned to nobody

[2019-02-20 11:04] nivida commented on #2376
As it looks like is this issue the same as https://github.com/ethereum/web3.js/issues/2341 and will be fixed in the next release. The problem was not the execution of a contract method itself, the real issue was that the parsing of the parameters had a bug because it signed the transaction locally.

Sorry for the troubles but it was hard to reproduce the problem you had. I will close this issue be

[2019-02-20 11:04] #2376 closed, assigned to nobody

[2019-02-20 11:33] #2341 closed, assigned to nobody

[2019-02-20 13:13] vongohren commented on #2376
@nivida thanks for that follow up, I will try out when the next release comes out. When is it expected to come out?

[2019-02-20 13:27] yxliang01 commented on #1182
@ashish10677 Actually I found it. So, they are in process of changing the web3 1.0 structure. We now should create a "Web3Module" if we want to add new methods, the `extend` way is deprecated. See https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b .

[2019-02-20 13:39] nivida commented on #1446
Closed because it got already implemented in the PR #2000.

[2019-02-20 13:39] #1446 closed

[2019-02-20 13:41] nivida commented on #2048
Closed due inactivity of the creator.

[2019-02-20 13:41] #2048 closed, assigned to nobody

[2019-02-20 13:43] nivida commented on #1860
@huy-springlabs It should be fixed in the latest version. Feel free to open a new issue if this error still occurs.

[2019-02-20 13:43] #1860 closed, assigned to nivida

[2019-02-20 13:44] #1972 closed, assigned to nobody

[2019-02-20 13:44] #2175 closed, assigned to nobody

[2019-02-20 13:45] nivida commented on #2057
@jaikrish5 please ask this on StackOverflow.

[2019-02-20 13:45] #2057 closed, assigned to nobody

[2019-02-20 13:46] kelsos opened #2396 "HttpProvider promise doesn't resolve on invalid RPC endpoint."
**All issues which aren't created with this template will get immediately closed.**

This happens on an Angular 7 project, I am not sure if this issue also affects other frameworks or if it is some combination with the dependencies that Angular pulls.

After some debugging (that was made harder due to zone.js), I found out that when a `net::ERR_NAME_NOT_RESOLVED` or an `net::ERR_CONNECTION_REFUSED

[2019-02-20 14:37] nivida commented on #2396
Thanks for creating this issue! I will check, fix and release it asap.

[2019-02-20 15:10] anubnair opened #2397 "ERC20 token with multi signature wallet"
**All issues which aren't created with this template will get immediately closed.**
I have  ERC20 token in my wallet(my custom contract for multi-signature). This wallet has some ERC20 token which I need to transfer to another using my multisignature wallet. Read some article (https://medium.com/coinmonks/customizing-and-using-multisig-contracts-for-other-contract-executions-9698fbb6950f)
My multi

[2019-02-20 15:18] #528 closed

[2019-02-20 15:56] #2274 closed, assigned to nobody

[2019-02-20 16:49] huy-springlabs commented on #1860
cool thanks for the update @nivida

[2019-02-20 19:29] fixanoid opened #2400 "web3.extend() has been removed?"
#### Expected behavior
`web3.extend(module)` works

#### Actual behavior
`web3.extend` is undefined

#### Steps to reproduce the behavior
Looks like it has been removed since beta 38. Why? This is immediately useful and is used in multiple libraries. I can't seem to find any documentation either. Thanks!

#### Error Logs

#### Versions
NPM 1.0.0-beta40+

[2019-02-20 19:40] alepc253 opened #2401 "Encoding incompatibility in status transaction receipt"
#### Expected behavior

Any transaction receipt with `0x01` as result should be considered successful.

#### Actual behavior

Function `isValidReceiptStatus`  in `TransactionReceiptValidator.js` doesn't consider `0x01` as valid.

#### Steps to reproduce the behavior

This is seen in an RSK node but could happen in any node that manages this type of hexa encoding.

1. Connect to an RSK network (i.e

[2019-02-20 19:42] nivida commented on #2400
Yes, as described in the release note of [version 1.0.0-beta.38](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b). I'm currently writing the documentation for the Web3 Module API [here](https://github.com/ethereum/web3.js/pull/2236). Because of this I will close this issue.

[2019-02-20 19:42] #2400 closed, assigned to nobody

[2019-02-20 19:44] nivida commented on #2401
Thanks for creating this issue! I will check and fix it asap.

[2019-02-20 19:49] fixanoid commented on #2400
A medium post thats a release note? I didn't stumble on it anywhere prior to your reply. And while this is helpful, it leaves many a module broken until maintainers update them or manual dependency resolution is made to the last working version. Why not leave it available and throw warnings for a while?

[2019-02-21 01:11] OFRBG commented on #2397
Could you link an actual transaction that has had this behavior? That would help a lot.

[2019-02-21 04:52] oslivan commented on #943
I can't also install web3@1.0.0-beta.46, and try to solve the problem by the following method
[code]
and after change my account from root to deploy, then it's success!

[2019-02-21 08:31] arnasledev opened #2402 "Cannot read property 'gasLimit' of null"
#### Expected behavior
It should return block info as I'm requesting it
`this.server.eth.getBlock(number, false, async (error, data) => {`

#### Actual behavior
Sometimes it passes well and I get block info but sometimes it returns me the unhandled error message that `gasLimit` is not there

#### Steps to reproduce the behavior
[code]

#### Error Logs
`(node:86385) UnhandledPromiseRejectionWarning

[2019-02-21 09:21] nivida commented on #2402
The ``await`` before ``new Web3(...)`` is not needed and the ``callback`` method doesn't have to be ``async``. I think this will fix it.

[code]

[2019-02-21 09:29] arnasledev commented on #2402
Thanks, tried this but didn't worked either.

[2019-02-21 10:21] 0Alic commented on #2281
I have a similar issue while building a DApp with ReactJS, the error is a bit different but I get it in a similar way

**Expected behavior**

`this.rsfContract.deployed().then((instance) => {}
`

**Actual behavior**

`web3-providers.umd.js:394 Uncaught (in promise) Error: Node error: {"message":"Method [object Object] not supported.","code":-32000,"data":{"stack":"Error: Method [object Object] not

[2019-02-21 12:46] mjdietzx commented on #2281
We are using Vue.js as well. Our workaround has been to stick with =beta37. Will upgrade to master once this is fixed

[2019-02-21 13:57] willdev0 commented on #1700
After checking the link put up by @indrajitbnikam i realized that `nan` was a dependency for scrypt to install
Then I followed the suggestion by @DKSukhani and installed it first then installed scrypt before finally installing web3 and it worked.

[2019-02-21 13:59] wilpat commented on #1700
After checking the link put up by @indrajitbnikam i realized that `nan` was a dependency for scrypt to install
Then I followed the suggestion by @DKSukhani and installed `nan` first then installed `scrypt` before finally installing web3 and it worked.

[2019-02-21 14:54] SpasiboKojima commented on #1916
I confirm, faced that issue with beta 46, nothing helped so far and I had to deprecate the events causing this.

[2019-02-21 15:21] AdhikariNaveen commented on #1916
@nivida I am still facing the same issue

[2019-02-21 16:36] sushanth3366 commented on #1470
"name": "inbox",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "mocha"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "ganache-cli": "^6.3.0",
    "mocha": "^4.1.0",
    "solc": "^0.4.17",
    "truffle-hdwallet-provider": "^1.0.4",
    "web3": "^1.0.0-beta.36"
  }
}

deploy.js
const HDWalletProvider = require('truffle-hdwallet-provide

[2019-02-21 17:16] vedmant commented on #2281
Current workaround I used is to use Object.freeze() on the contract that's added to vuex store.

[2019-02-21 17:35] Aniket-Engg opened #2405 "Error in getting accounts"
#### Expected behavior
Return the list of accounts

#### Actual behavior
Error as below

#### Steps to reproduce the behavior
[code]
#### Error Logs

[code]

#### Versions
NPM : 6.7.0
Node.js: 11.10.0
web3 : 1.0.0-beta.46 & 1.0.0-beta.44

[2019-02-21 19:50] nivida commented on #2405
Thanks for creating this issue but it's a duplication of this issue https://github.com/ethereum/web3.js/issues/2266.

[2019-02-21 19:50] #2405 closed, assigned to nobody

[2019-02-21 22:41] crazyrabbitLTC commented on #2238
I am getting the same issue.
 web3.eth.accounts.create() returns:
 TypeError: this.utils.randomHex is not a function

 web3.eth.accounts.create("string") does work.
However, unlike @jtremback 's comment above, calling the function with the same string repeatedly gives me a different account each time.

[2019-02-21 22:53] nivida commented on #2402
Could you add the complete code example which also includes my example? :)

[2019-02-22 01:09] rhlsthrm commented on #1777
Ran into this issue in a `create-react-app` implementation. Googling around I found this: https://github.com/indutny/bn.js/issues/133.

Web3 should use the isBN function from the BN.js library directly.

[2019-02-22 03:09] andrewheadricke commented on #1916
The 4th comment (6 months ago) for this issue mentions how to fix it, comment out one line.  I made this change months ago and have not had an issue since.  So not sure why this issue still remains unresolved.

[2019-02-22 03:57] MatthewDarnell commented on #2402
I'm getting the same behavior. I have been running an application for some time, but `getBlock` has been throwing this error quite often lately. Running a Parity node, connected via ssh port forward.

[code]

`"web3": "^1.0.0-beta.34"`

Yet sometimes it works fine.

[2019-02-22 04:08] GaJain commented on #2077
@nivida - The issue persists with 1.0.0-beta.46 . Any workaround for this ?

[2019-02-22 04:22] kevin-l33t commented on #2376
I also got the same error with version 46. It is working well with version 35.

`web3.eth.sendTransaction({ from: '0x285ec075d1ff575ec8e21fc0f54b1ac0382b9e6c', to: '0x370B5afb7Be5b6fAFfD320Fd7025d8956667Fa5e', value: '1000000', gas: 210000}).then(consol
e.log);`

`(node:91887) UnhandledPromiseRejectionWarning: TypeError: Cannot create property 'from' on string '0xf8678084773594008303345094370b5afb

[2019-02-22 05:38] Aniket-Engg commented on #2405
Okay. I checked that and because of different error , raised this one. Thanks for the information.

[2019-02-22 07:52] arnasledev commented on #2402
Okey, so this is the methods in my class.

[code]

[2019-02-22 07:54] arnasledev commented on #2402
By the way, downgrading the package version to `1.0.0-beta.34` removed the "Cannot read property 'gasLimit' of null". There is something suspicious in the latest packages i think. Also as @MatthewDarnell mentioned above - this is the new problem. Few days ago with the same package there was no problems like this.

[2019-02-22 11:11] vongohren commented on #2376
@dev-l33 version 36 works well to, and if you have a typescript base, you need to use 36. But there will be a new release soon i hope

[2019-02-22 14:21] lcinacio opened #2409 "web3.eth.sendTransaction fails with TypeError on ubuntu, but works on Windows"
#### Expected behavior
It should work in both windows and Ubuntu

#### Actual behavior
It works fine on windows, but not on Ubuntu.

#### Steps to reproduce the behavior

Code to reproduce issue:
const Web3 = require("web3");

const web3 = new Web3("ROPSTENINFURAURL");

const account = web3.eth.accounts.privateKeyToAccount("MYPRIVATEKEY");
web3.eth.accounts.wallet.add(account);

web3.eth.sendTrans

[2019-02-22 15:09] r3dh4r7 commented on #2394
I forgot to mention that this happens when I'm on the Kovan network.
I've not been able to reproduce this on mainnet.
But then I can't deploy for production when iteration keeps breaking on testnet.

[2019-02-22 18:32] nirmalgupta commented on #2409
I am also getting similar error when calling a method on contract.

[2019-02-22 20:00] nivida commented on #2409
Thanks for opening this issue. This got already fixed with https://github.com/ethereum/web3.js/pull/2393 and will be released next week.

[2019-02-22 20:00] #2409 closed, assigned to nobody

[2019-02-22 21:10] rmindo commented on #2394
Same error here.

[2019-02-22 21:30] dmihal commented on #2402
Had this same issue start within the past few days, in my case it's not coming from `getBlock`, but from an event subscription.

Let me know if there's any more information I can provide.

[2019-02-23 00:21] youfoundron opened #2410 "Transaction Receipt response does not have "status" field as described in the documentation"
#### Expected behavior
The JSON response from `web3.eth.getTransactionReceipt()` has a `status` field of type Boolean.

#### Actual behavior
The JSON response from `web3.eth.getTransactionReceipt()` has no `status` field.

#### Steps to reproduce the behavior
In a browser console with web3 present:
[code]

This is the response. No `status` field as described [in the docs](https://web3js.readthedoc

[2019-02-23 15:39] rstormsf opened #2411 "methods.call() returns `anonymousFunction()`recursively"
Steps before creating an issue:
1. on state changing function, I'd like to make a `call()` first to see what will be returning and only then make a `send()`
[code]
For some reason it doesn't execute and it always returns:
[code]
the funny thing if I call the `result` it will always return same thing, so even if I call
`result()()()()()` - the outcome is always `function anonymousFunction()`
-->

#

[2019-02-24 01:21] MatthewDarnell commented on #2402
I also reverted to `1.0.0-beta.34`. Works fine now.

[2019-02-24 05:57] dexterchan opened #2412 "Promise web3.eth.getAccounts() not working with 1.0.0-beta.46"
web3 version 1.0.0-beta.46 is not able to fetch account with ganache
#### Expected behavior
await web3.eth.getAccounts() is able to output list of accounts

#### Actual behavior
the command failed with exception asking callback definition.
It does not happen in web3 1.0.0-beta.35, web3 1.0.0-beta.37

#### Steps to reproduce the behavior
Step 1: init ganache and web3 as below
"dependencies": {

[2019-02-24 06:11] dexterchan commented on #2412
seem last version runnable with above code is 1.0.0-beta.37

[2019-02-24 16:13] jamesmorgan commented on #2281
I get this but freezing does not seem to help. Also using Vue

[2019-02-25 10:14] nivida commented on #2412
Could you please update your issue to be aligned with the issue template?
Otherwise, I have to close this issue.

[2019-02-25 10:23] nivida commented on #2411
Hey,
Thanks for creating this issue!
Could you just for correctness update the issue with the issue template we provide here?

This happens because I'm checking if this is a state changing method or not and will return the correct method then (call/send).
What exactly is the use case for you to ``call`` a state-changing method first before you ``send`` it?

[2019-02-25 10:25] nivida commented on #2410
Thanks for creating this issue! I will fix and release it asap.

[2019-02-25 10:28] nivida commented on #2402
Thanks all for the additional information! I will test and fix it asap.

[2019-02-25 10:51] nivida commented on #2410
Hay, sorry If I bother you with notification emails for your issue but I just had a closer look at your code and saw it can't work. It can't work because the ``console.log`` gets triggered before the ``txReceipt`` var is set in the callback method. When I execute the ``eth.getTransactionReceipt`` method correctly then I have the status property set with a hex equalivent of a boolean value. I will

[2019-02-25 10:51] #2410 closed, assigned to nobody

[2019-02-25 12:29] nivida commented on #2402
The simple method below is doing what you want without a problem. Your second code example was also a implementation issue. The reconnecting and resubscribing is implemented in the WebsocketProvider of the Web3.js library and you don't have to care about since version beta.38.

Code Example:
[code]

[2019-02-25 12:29] #2402 closed, assigned to nobody

[2019-02-25 13:04] joshstevens19 commented on #2382
https://github.com/ethereum/web3.js/pull/2415 👍 @ngthanhtrung

[2019-02-25 13:05] joshstevens19 commented on #2382
Will close as PR is up and will be merged.

[2019-02-25 13:05] #2382 closed, assigned to nobody

[2019-02-25 13:09] #2401 closed, assigned to nobody

[2019-02-25 13:30] dexterchan commented on #2412
done, updated.... thank you

[2019-02-25 13:52] joshstevens19 commented on #2374
Hey sorry about the delay i have been away from my computer.

https://github.com/ethereum/web3.js/pull/2417

It is fixed in this PR and will be released within the next release - thanks again for the issue raised.

[2019-02-25 13:52] #2374 closed, assigned to nobody

[2019-02-25 14:01] joshstevens19 opened #2418 "`PromiEvent` event listener `on` `confirmations` not returning correct confirmation information"
#### Expected behavior

When i hook onto `PromiEvent` event listener on confirmations i get the correct confirmation number at the correct time not just random count of confirmations number every second.

#### Actual behavior

When i hook onto `PromiEvent` event listener on confirmations it seems its not inline with when the next block has been mined, on Rinkeby it's every 15 seconds but on web3 i

[2019-02-25 15:18] valkyriaivan opened #2419 "web3.utils undefined"
#### Expected behavior
web.utils should be defined.

#### Actual behavior
When used any web3.utils function, it fails because web3.utils is undefined

#### Steps to reproduce the behavior

1. Download web3 1.0.0-beta.X
2. Try to use any function from utils.

#### Error Logs
`Cannot read property 'fromWei' of undefined.`
`Cannot read property 'hexToNumberString' of undefined.`
I saw some issues alr

[2019-02-25 16:21] nivida commented on #2418
Thanks for creating this issue!
This behavior is because you'are connected over a ``HttpProvider`` this means the ``NewHeadWatcher`` will just emit each second a ``new_head`` event. I thought about to improve it during the refactoring but didn't have the time. I will add a check which guarantees us that there was a confirmation. Thanks!

[2019-02-25 17:02] ohopton commented on #2418
Hey all.

Does this return the number of confirmations or just the number of blocks that have been mined since the transaction was mined?

What happens in the event of a re-org?

Apologies if this is the wrong place to ask questions!

[2019-02-25 21:32] ross-rosario commented on #1903
I can reproduce that disturbing issue with the same conditions mentioned above; calling a `view` function that should revert, rather returns `3963877391197344453575983046348115674221700746820753546331534351508065746944`.
Thanks for looking into this @nivida !

[2019-02-25 22:13] Freydal commented on #2419
I found this or a similar issue has come up.  The outer Web3 object no longer has utils bound to it.  A web3 instance does.  I'm not sure if this change was an oversight.  In my newer code where a web3 instance wasn't needed I started using web3-utils, but I have old code that was relying on this.

[2019-02-26 00:37] iheqi commented on #2412
BTW, both `web3.eth.getAccounts().then(console.log);` and `web3.eth.getAccounts(console.log)` have no error, but nothing output.

[2019-02-26 01:57] klivin commented on #2411
I am noticing behavior on call() that seems to be related, and I'm working on creating an issue.  If I use the call() method repeatedly in sequence such as in a for loop, the call doesn't execute, or it seems to lock up my node tests.  Doesn't help if I use a call's callback argument, or use await on a call method, I get same results.

[2019-02-26 07:33] nivida commented on #2419
This is true the static property got removed because if someone is just using the utils then you should probably use the ``web3-utils`` module directly instead of bundling the complete library. Will add this to the documentation.
Btw.: The long term goal will be to remove the Web3 class and to create the [Web3 Namespace](https://gist.github.com/nivida/c7c24723353c243e295dbff954d06b50) but this wil

[2019-02-26 07:33] #2419 closed, assigned to nobody

[2019-02-26 08:28] nivida commented on #2397
Will close this issue because the creator didn't answer. @OFRBG thanks for helping me out!

[2019-02-26 08:28] #2397 closed, assigned to nobody

[2019-02-26 08:33] nivida commented on #2275
I'm closing this issue because there was no answer from the creator.

[2019-02-26 08:33] #2275 closed, assigned to nobody

[2019-02-26 08:35] #2396 closed, assigned to nobody

[2019-02-26 10:07] levino opened #2423 "Illegal typescript syntax in v beta.46"
I do not think that this is valid. My compiler throws an error. https://github.com/ethereum/web3.js/blob/2f0ada25b3988e67ec0d9a86a593146a57b43114/packages/web3-providers/types/index.d.ts#L119
[code]
I wonder how this can pass CI. Maybe you are using a special setting for the linter?

[2019-02-26 10:10] levino commented on #2423
Looks like this has been [fixed already](https://github.com/ethereum/web3.js/commit/769f2e69c6ef30d0d79d88ecdc286e5624ea430b). Should be published asap. It is **not** a minor bug. One cannot use this code in a TypeScript project.

[2019-02-26 10:39] kelsos opened #2424 "Registry creation in ENS module throws an exception"
**All issues which aren't created with this template will get immediately closed.**

It seems like `EnsModuleFactory` `createENS` method never passes the instance of `contractModuleFactory` to the constructor of `Ens` resulting in `contractModuleFactory` being undefined when `createRegistry` is called.

https://github.com/ethereum/web3.js/blob/2f0ada25b3988e67ec0d9a86a593146a57b43114/packages/web3

[2019-02-26 13:11] nivida commented on #2423
I've closed this because it got already fixed and will be released this week. I will first finish the eth-accounts module [improvements](https://github.com/ethereum/web3.js/pull/2367).

[2019-02-26 13:11] #2423 closed, assigned to nobody

[2019-02-26 13:12] nivida commented on #2424
Thanks for opening this issue! I will fix and release it asap.

[2019-02-26 15:59] #2424 closed, assigned to nobody

[2019-02-26 20:24] klivin commented on #2411
@nivida I use call on state changing methods when I want to get the expected response before executing it.  A dry run of a state changing method.

[2019-02-27 00:24] karinchechik opened #2427 "Error: Invalid JSON RPC response: "basic auth failure\n""
I am trying to depoly my app to Heroku and I get the error - Error: Invalid JSON RPC response: "basic auth failure\n" with status 500.
The code works locally.
I use infura to connect to Rinkeby and MetaMask provider.

#### Expected behavior
The code works locally.

#### Actual behavior
On Heroku I get 500 - Internal Server Error. with the following errors.

#### Error Logs
2019-02-26T23:40:25.0998

[2019-02-27 02:42] jefflau commented on #1961
I've had this issue crop up in ENS as well.

[2019-02-27 06:10] wafflemakr commented on #1846
This works, although I don't think it will be scalable. And flushing the array after certain time?
[code]

[2019-02-27 11:14] kagawagao commented on #2365
can release a new version for this bug fix? @nivida

[2019-02-27 11:41] #2427 closed, assigned to nobody

[2019-02-27 14:15] #2356 closed, assigned to nobody

[2019-02-27 14:15] #2378 closed, assigned to nobody

[2019-02-27 14:16] #1998 closed, assigned to nobody

[2019-02-27 14:16] #1255 closed

[2019-02-27 14:16] #2300 closed, assigned to nobody

[2019-02-27 14:25] nivida commented on #2394
@r3dh4r7 I've tried to reproduce this but the error didn't occur. Could you please add the code lines you are using here?

[2019-02-27 15:02] rahuldamodar94 commented on #1960
Store what as a BigNumber ?? trying ti print the result from web3.eth.getBlock() is itself giving this error.

[2019-02-27 15:18] eswarasai commented on #2089
@nivida -- Any update here?

[2019-02-27 15:37] nivida commented on #2412
@dexterchan Thanks for updating the issue. This happens because of the ganache-provider and will be fixed in the next version. (PR: https://github.com/ethereum/web3.js/pull/2426)

[2019-02-27 15:37] #2412 closed, assigned to nobody

[2019-02-27 15:41] d14na commented on #1986
receiving `TypeError: Cannot read property 'node' of undefined`, when attempting to `web3.eth.getBlockNumber()`

was using `1.0.0-beta.38`; just updated to `1.0.0-beta.46`, but still no luck

---

Edit: rolling back to `1.0.0-beta.34` fixes it for me as well.

[2019-02-27 16:00] dystopiandev commented on #2394
@nivida  It's basically a loop through addresses from `web3.eth.personal.getAccounts()`. The following is executed on each iter:

[code]

Value and gas price are hardcoded here to simplify the snippet. I obtain those dynamically with `web3.eth.getBalance(BENEFACTORS[i])` and `web3.eth.getGasPrice()`
Now, assuming you're testing with changes you've made so far, then there's a possibility that you m

[2019-02-27 16:07] nivida commented on #2189
I've checked it and web3.js can't handle this in a clean way because ``parity`` will have the number as hex string and ``geth`` as number.
The only solution would be to create a ``web3.eth.personal.parityUnlockAccount()`` method until ``parity`` or ``geth`` has changed it. I will open an issue in the ``geth`` and parity repository for syncing this.

[2019-02-27 16:47] aks30498 commented on #2412
Am trying to use the same function with truffle and infura
I am getting these behaviours for different versions:
beta-46: Cannot read property map() of undefined One answer on stackexchange says use beta-36 to fix this issue

beta-36 and beta-37: Nothing after the getAccounts() statement gets executed, blank screen.

beta-26: core.addProviders is not a function

Here is the code:
[code]
Please hel

[2019-02-27 16:54] nivida commented on #846
This is fixed since beta.38.

[2019-02-27 16:54] #846 closed

[2019-02-27 16:55] aks30498 commented on #2266
So..... I can't use truffle-hdwallet-provider withd web3? Because am just learning all of this stuff and in Stiphen Grider's tutorials he uses that and am getting one or other error with every version of web3... So am stuck.

[2019-02-27 16:56] nivida commented on #1016
We have started a discussion [here](https://github.com/ethereum/web3.js/issues/2171) about the future of big numbers and Web3.js.

[2019-02-27 16:56] #1016 closed

[2019-02-27 16:59] nivida commented on #1483
This got fixed here: https://github.com/ethereum/web3.js/commit/02073695284afdeafb004699e593054c7d2aa29f.

[2019-02-27 16:59] #1483 closed

[2019-02-27 17:08] jaikrish5 commented on #2266
just use  web3 1.0.0-beta37

[2019-02-27 18:17] #2183 closed, assigned to nobody

[2019-02-27 18:55] Asone commented on #1846
@wafflemakr : I have some doubts about the flushing approach and the code you provided but maybe i'm confused :

[code]

The instruction does not provide the pending argument to retrieve the nonce based on pending transactions. In other words you'll only retrieve processed transactions, which means if you have pending transactions you might submit transactions conflicting with pending ones, which

[2019-02-27 22:13] aks30498 commented on #2266
No I can't use beta-37 I've tried beta 37 it shows nothing on web3.eth.getAccounts() rather no line after this is executed... I've asked it on stackoverflow and mentioned the problem with each version I tried
Can someone help me with the issue:
https://stackoverflow.com/questions/54885565/web3-eth-getaccounts-not-working-with-infura?noredirect=1#comment96550433_54885565

[2019-02-27 22:32] molten-firescar96 commented on #2266
@jaikrish5 had an off-by-one error, web3 1.0.0-beta36 is the latest version working with other web3 providers. Try clearing your `node_modules` folder before installing new versions to make sure you are getting the right one.

[2019-02-28 05:51] aks30498 commented on #2266
beta-46: Cannot read property map() of undefined One answer on stackexchange says use beta-36 to fix this issue

beta-36 and beta-37: Nothing after the getAccounts() statement gets executed, blank screen.

beta-26: core.addProviders is not a function

I've checked package.json, the version gets changed there so it shouldn't require clearing node_modules and all i guess.
Please check my stackOverfl

[2019-02-28 06:43] MazzaWill commented on #2427
Did you solve this error?  How to solve it? Thanks!

[2019-02-28 09:06] #2266 closed, assigned to nobody

[2019-02-28 09:38] EthanWan opened #2431 "this.methods.contractConstructor is not a function"
#### i want to deploy my contract, code is very sample:

[code]

#### Steps to reproduce the behavior

1. run command

[code]

#### Error Logs

[code]

#### debugger

i use `node --inspect` to debugger, then print this.method's function:

[code]
there have no contractConstructor function

#### Versions

- NPM 6.4.1
- Node v8.11.2
- Web3.js v1.0.0-beta46
- OS macOS

[2019-02-28 09:53] nivida commented on #2431
Thanks for creating this issue! Could you please add your contract code or the related ABI?

[2019-02-28 10:20] nivida commented on #2431
Just checked the code and saw the issue you have. This got fixed in this PR: https://github.com/ethereum/web3.js/pull/2432

[2019-02-28 10:47] EthanWan commented on #2431
ABI:
[code]

[2019-02-28 11:21] karinchechik commented on #2427
Yes.

I didn't set the env variables in Heroku as config vars. so, my contract's address and my wallet details were undefined.

[2019-02-28 14:19] asadhayat1068 commented on #1916
New version is using Promises,
I was getting the same error and then following code work for me.
`z4contract.methods.name().call()
.then((result) => {
    console.log(result);
});`

[2019-02-28 18:46] EddieOne commented on #2291
For me, even with webpack, web3 will be overwritten to 0.x version by metamask unless doing a html link to cdn. They are buggy though. Someone got a better solution?

Maybe web3.version.api reports the wrong version because everything seems to work the same.

[2019-02-28 20:39] pjonson2 commented on #2077
@nivida - I'm having the same issue. The numbers I'm trying to pass are 5*10^18 and 10^18. I have tried the following and have had the same error as what is within the header of this issue.

Example:
myContract.methods.transfer(accounts[1], 1e16).send({ from: accounts[0] })

1. When sending value 1e18 an error is thrown.
   web3 invalid number value (arg="_value", coderType="uint256", value=100000

[2019-02-28 20:53] #2431 closed, assigned to nobody

[2019-02-28 20:53] leonprou commented on #2077
@pjonson2 Did you tried the solution suggested by chrsengel here https://github.com/ethereum/web3.js/issues/2077#issuecomment-461199427 ? Passing just a string like "1000000000000000000" as amount should work.

[2019-02-28 21:55] EddieOne commented on #1032
Same, value not showing in metamask as of beta.37

[2019-02-28 22:12] nivida opened #2434 "Add a Proxy with an setter and getter handler"
The idea is to provide more security with calling the default methods of ``AbstractWeb3Module`` classes over a ``Proxy`` with a strict setter and getter handler. This should also be added to the ``Account`` class in the eth-accounts module.

#### Expected behavior

It's not possible to overwrite a method of the public API.

#### Actual behavior

It's possible right now in some ``AbstractWeb3Module

[2019-02-28 22:38] EddieOne commented on #2263
How do we use web3 1.0 in the browser with latest version?

[2019-03-01 00:04] EddieOne commented on #2035
Also, I think just [update Node](https://nodejs.org/en/download/)

[2019-03-01 01:09] filips123 commented on #2263
@EddieOne You have to install Node.js and Webpack, then download Web3 repository and run Webpack.

[2019-03-01 03:08] EddieOne commented on #2263
Yeah, I got all that but still I encounter bugs that should be fixed in the later beta versions. Do we need to rebuild the contracts?

[code]

[2019-03-01 03:11] kingdido999 commented on #2077
`web3.utils.toHex` and `web3.utils.toWei` does not work for me. As the convert-to-string workaround mentioned above, I tried the following and it works:

[code]

[2019-03-01 03:38] rmindo commented on #2077
I have the same error before but it works now, You can try this.

// Decimal
const decimals = web3.utils.toBN(18);

// Amount of token
const tokenAmount = web3.utils.toBN(10000000000);

// Amount as Hex - contract.methods.transfer(toAddress, tokenAmountHex).encodeABI();
const tokenAmountHex = '0x' + tokenAmount.mul(web3.utils.toBN(10).pow(decimals)).toString('hex');

[2019-03-01 05:29] rstormsf commented on #2411
@klivin that's exactly the issue is about. Dry-run of state changing methods

[2019-03-01 07:58] leonprou commented on #2077
@kingdido999 `web3.utils.toWei` should receive a price in ether. If you pass `1e18` to it you already pass it in wei, so that must be the reason it fails.

When I looked into `ethers` source code I've found that passing the values as strings in wei should work. No matter which transform function you use.

[2019-03-01 15:38] nivida opened #2436 "Improving of the EventLog interface"
## Improving of the EventLog interface

Currently the indexed and the non-indexed decoded returned input parameters are returned within the ``returnValues`` property of the ``EventLog`` object. This property does contain an object which contains the returned topics and data properties encoded and added by the input name and input index.

The ``returnValues`` property does exist in a returned trans

[2019-03-01 15:56] frozeman commented on #2436
The reason its called like `returnValues ` is because its part fo the event which has many more properties.
`inputs` is a bad name as its unintuitive, it is the output of the event, but called inputs in the ABI. Depends fro what direction youre looking at it. When writing the smart contract its the inputs of the Event, but when reading the log its the output :)

Thats why i called it `returnValues

[2019-03-01 16:03] nivida commented on #2436
@frozeman renamed it to outputs which I think is the most intuitive way.

Yes, the decodeLog method will still exist.

[2019-03-01 16:17] frozeman commented on #2436
The `returnValues` are in returned events, and when looking at the transactionReceipt and a few more places i think.

I think having the indexes as well there is important to be able to iterate and access unnamed parameters.
It basically behaves the same as decoded output from function calls.

[2019-03-01 16:31] nivida commented on #2436
Yes, the contract transaction receipts do have encoded logs. I'm decoding them with these two objects: https://github.com/ethereum/web3.js/tree/1.0/packages/web3-eth-contract/src/decoders

I think having them combined in one property is confusing. Having of named return values in an outputs property and adding an outputsByKey property with an array is probably also confusing.
This is why I think c

[2019-03-01 16:43] nivida commented on #2436
Just thought about the naming. This property aren't return values because the topics are the given encoded parameters when you execute the transaction. I will rename the property back to inputs.

[2019-03-01 17:11] nivida commented on #2436
Because the contained items in the ``returnValues`` are just properties of the event could we also call the property ``properties``:

[code]

Edit:
The interface of the event log object should be written down in a similar way as a TS interface and added to the documentation.

[2019-03-01 21:11] mistersandman opened #2438 "non-indexed event parameters use wrong data when decoding"
#### Expected behavior
`decodeLog` in `AbiCoder.js` should return a map from all event parameter names to their decoded data with respect to the type specified in the ABI.
#### Actual behavior
The data used to decode non-indexed parameters of events is *always* taken from the front of the raw data array, leading to wrong decoded non-indexed event parameters except for the first non-indexed paramet

[2019-03-01 23:05] nivida commented on #2438
Thanks for creating this issue!
I've already started to fix this [here](https://github.com/ethereum/web3.js/pull/2439).

[2019-03-02 00:36] #2438 closed, assigned to nobody

[2019-03-02 04:12] lastmjs commented on #1939
Is there no browser-ready distribution anymore? The ES Modules build looked promising, but I'm having a lot of issues with the built-in node modules...can we make an ES Module version that will run straight in the browser? Or at least one that only requires bare specifier rewrites?

[2019-03-02 05:23] vedmant opened #2440 "ReturnValues are parsed incorrectly after 1.0.0-beta.47 release"
I have following event in the ABI:

[code]

In the 1.0.0-beta.46 "from" field was parsed incorrectly, but all others were good.
After upgrade to 1.0.0-beta.47 "from" field was fixed, but "uuid" field started to show the value of "value" field but in hex format.

Values I expect to get:
[code]

Actual values I actually get:
[code]

Raw data is following:
[code]

You can see raw data includes uuid.

[2019-03-02 05:30] ekkis commented on #2361
thank you.  one problem with the code is that `.toDecimal()` is deprecated but that wasn't clear to me.  It would help if there were official code samples out there that shared how exactly this kind of stuff is supposed to be handled.  thanks for your reply, I'm closing the ticket :)

[2019-03-02 05:30] #2361 closed, assigned to nobody

[2019-03-02 06:29] tnkannan opened #2441 "Error: Transaction ran out of gas. Please provide more gas:"
Hello,

We have provided enough gas for the transaction, but we got the error  "Transaction ran out of gas. Please provide more gas:". The transaction has been successful and can not get the receipt.

Recently, we have updated the geth version to v1.8.23

I have used, web3.eth.sendTransaction method.
//
// using the event emitter
web3.eth.sendTransaction({
    from: '0xde0B295669a9FD93d5F28D9Ec85E

[2019-03-02 09:55] nivida commented on #2440
Thanks for creating this issue but this got already fixed with this PR: https://github.com/ethereum/web3.js/pull/2439.

[2019-03-02 09:55] #2440 closed, assigned to nobody

[2019-03-02 11:12] nivida commented on #2441
I've tested your example code with geth v1.8.23 and the latest version of web3.js and it worked. Could you please provide further details and update your issue to be aligned with the issue template we provide here?

[2019-03-02 16:55] ghost commented on #2291
Can you share a link how to compile `web3.js` for the browser using `webpack`? I tried it with `browserify` but it wasn't working. Still stuck with `beta.37`:\

[2019-03-02 18:28] strideynet opened #2442 "Documentation for eth.signTransaction incorrect"
#### Expected behavior
web3.eth.signTransaction(transactionObject [, address] [, callback])

Should be the signature according to the docs.
https://web3js.readthedocs.io/en/1.0/web3-eth.html#signtransaction

#### Actual behavior

Calling signTransaction(transactionObject, null) throws "The latest parameter should be a function otherwise it can't be used as callback".

Inspecting the source for web

[2019-03-02 19:13] OFRBG commented on #2442
This is the origin of the error:

https://github.com/ethereum/web3.js/blob/fa51dc3ebd9ebd5962f9e3448bf9a3eb9f3f3774/packages/web3-core-method/lib/methods/AbstractMethod.js#L180-L186

You cannot pass null as a function parameter. The lodash method `isFunction` won't pass `null`. If you don't need a callback, maybe you could try using `.then()` and omitting the second parameter?

[2019-03-02 22:05] strideynet commented on #2442
I'm not passing null instead of the callback, we intended to pass null as the address. Even if we had given the address a string hex it would still have thrown the error, since a string is not a function.

As far as I can tell, the documentation is incorrect to suggest that its possible for the second parameter to be the address.

@OFRBG

[2019-03-03 00:29] OFRBG commented on #2442
Ah, that's slightly different. It is true that the documentation suggests that the second parameter can be the signing address and ignore the callback.

I believe that the correct documentation interface should be

[code]

Alternatively, the implementation at
https://github.com/ethereum/web3.js/blob/fa51dc3ebd9ebd5962f9e3448bf9a3eb9f3f3774/packages/web3-core-method/src/methods/transaction/SignTran

[2019-03-03 04:03] biocrypto730 opened #2443 "Clean up google search links"
Because Web3 has habitual breaking changes to its function calls, please be sure to update each and every ethereum stackexchange answer that doesn't use the modern syntax, also use the `Google Search Console` to remove all the outdated syntaxes

I have no idea if you think this is your responsibility or not, but consider that the way things are now, this library probably does more harm than good f

[2019-03-03 04:33] lebed2045 opened #2444 "web3.eth.Contract can't parse ABI correctly [web.1.0.0-beta.47]"
Simple nodejs program which calls totalSupply() from Dai smartcontract
[code]

#### Expected behavior
[code]

#### Actual behavior
[code]
#### Steps to reproduce the behavior

see above

#### Error Logs

see above

#### Versions
[NPM 6.1.0, Node v9.11.1, web3@1.0.0-beta.46 , OS HightSierra 10.13.6, Macbook pro 13' late 2012]

[2019-03-03 06:45] lebed2045 commented on #2005
+1, spent some time to figure out why my public address isn't valid. When you create account from the private key without 0x - everything will be executed without error. But later on will crash, for exmaple
because:
[code]
Also, according to documentation https://web3js.readthedocs.io/en/1.0/web3-eth-accounts.html#privatekeytoaccount input should always start from `0x` therefore private key correc

[2019-03-03 08:53] iheqi opened #2445 "Error: Invalid bytes string given: 0x [web.1.0.0-beta.47]"
Use solidity contract instance's public property or method error in web3js.

Course.sol:
[code]
Course.sol is compiled to Imooc.json by solc.

/test/course.spec.js:
[code]

#### Expected behavior
I want to get course name with:
[code]
or
[code]

[code]
#### Actual behavior
But I got the error:
[code]

If I return a constant, it work well.
[code]

#### Steps to reproduce the behavior

see above

##

[2019-03-03 09:05] chaitanyapotti commented on #2412
@aks30498 What's your version of truffle-hdwallet-provider?
I'm using
[code]
and it works

[2019-03-03 10:00] nivida commented on #2443
Thanks for creating this issue! I'll check this asap.

[2019-03-03 10:03] nivida commented on #2442
Thanks for creating this issue a providing all these details! I will check and fix it asap.

[2019-03-03 10:06] nivida commented on #2444
Thanks for creating this issue! I will check and fix it asap.

[2019-03-03 10:34] strideynet commented on #2442
--snip

Yeah, I was considering submitting a PR to fix it, but I needed to know if the documentation was correct or the code was to correct, to know which half needed fixing. It's quite hard to infer intent in these circumstances.

[2019-03-03 12:47] OFRBG commented on #2445
My first impression is that the problem is around the deploy method, and more specifically the `data` parameter. It would help if you shared the `Imooc.json` file for repeatability. It is calling the `getName()` function, but since the constructor might have been ignored(?), `0x` is returned for unset storage (due to default behavior). That is, `name` was never assigned.

[2019-03-03 12:57] iheqi commented on #2445
constructor parameter is pass by ` arguments: ['vue course']`, ref: [How to pass arguments to the constructor while testing an contract using web3
](https://ethereum.stackexchange.com/questions/67429/how-to-pass-arguments-to-the-constructor-while-testing-an-contract-using-web3)

`Imooc.json` is too long, more detail the output of .sol compiled by solc [here](https://github.com/ethereum/solc-js)

[2019-03-03 12:58] iheqi commented on #2445
constructor parameter is pass by ` arguments: ['vue course']`, ref: [How to pass arguments to the constructor while testing an contract using web3
](https://ethereum.stackexchange.com/questions/67429/how-to-pass-arguments-to-the-constructor-while-testing-an-contract-using-web3)

`Imooc.json` is too long, more detail the output of .sol compiled by solc [here](https://github.com/ethereum/solc-js)

[2019-03-03 13:11] OFRBG commented on #2445
Maybe you could share the solc output in a gist? I saw that you passed the string in the constructor, but if the function is correctly called with a hardcoded string in solidity, the problem is somewhere around the constructor. It would really help with repeatability.

[2019-03-03 13:22] iheqi commented on #2445
[Here the gist](https://gist.github.com/iheqi/fbd9646c4b3b16540cef8fabfa2b6338)

[2019-03-03 14:39] OFRBG commented on #2445
Found the issue. You need to `await` the deploy. Everything works fine, but you were doing `eth_call` before the code was actually deployed. You can send an `eth_call` to an empty address and you will still get `0x` for all calls.

Maybe a warning about non-existing code should be included, or alternatively a pre-check. @nivida

Working solution:

[code]

[2019-03-03 15:01] iheqi commented on #2445
OMG, you are true.

[code]

I tried setTimeout 300millisecond before, but it still no  deployed. It is slow, I should try setTimeout  long time.
Thanks for your kindly help! You are cool.

[2019-03-03 20:28] strawberry-code opened #2446 "Cannot deploy smart contracts using web3js and Infura"
I try to deploy a contract using Infura and Web3js on Ropsten or Rinkeby:

[code]

Running this code I get:

Where my package.json is:

[code]

and:

npm 6.8.0
node v11.9.0

But I am able to deploy contracts using Truffle framework, same network configurations.

Why I cant deploy using Web3js?

[2019-03-03 21:16] OFRBG commented on #2446
~~It seems from this~~

~~https://github.com/trufflesuite/truffle-hdwallet-provider/blob/a6f5524fbc8c973df7828bda59c61c47e51a3bec/index.js#L10~~

~~that the provider already has a web3 instance. You should try to directly use the `provider` object.~~

I see your problem. This was an issue and was fixed, but you need to update your web3 version. Here's the original issue: https://github.com/ethereu

[2019-03-04 03:56] aks30498 commented on #2412
@chaitanyapotti I have  truffle 0.0.3 .... Anyways.... I removed "v3" from Infura link.... And it worked... :)

[2019-03-04 04:56] GNSPS commented on #2412
This is still unresolved for me.
truffle-hdwallet-provider@1.0.5 and INFURA together with web3@1.0.0-beta47 stop execution at `await web3.eth.getAccounts()` without any error output.

[2019-03-04 05:38] chaitanyapotti commented on #2412
Yes @GNSPS it doesn't work with Infura, web3@1.0.0-beta.47 and truffle-hdwallet-provider@1.0.5
I've tried using both v3 and non-v3 links of Infura
This issue needs to be reopened.

[code]

The error message can be logged by putting a try catch block.
@nivida

Downgrading web3 to 1.0.0-beta.37 however resolves the issue

[2019-03-04 05:42] chaitanyapotti commented on #2446
@cristiano-c Using web3@1.0.0-beta.37 and truffle-hdwallet-provider@1.0.5 works
web3@1.0.0-beta.47 still seems to have some issues concerning web3.eth.getAccounts()

[2019-03-04 06:40] GNSPS commented on #2412
1.0.0-beta.37 still not working for me. 😞

Even inside a try catch block I get no output whatsoever.

[2019-03-04 07:02] aks30498 commented on #2412
@GNSPS you need to remove v3 from infura link... I was stuck for 3 days as well... finally using beta.37 and truffle^0.0.3  and removing v3 from the link worked.... here's package:

`"truffle-hdwallet-provider": "0.0.3",
    "web3": "^1.0.0-beta.37"`

and code:
[code]

[2019-03-04 07:25] 1559012 commented on #1041
npm install web3@0.20.6 --save
this works for me :))

[2019-03-04 09:46] nivida commented on #2446
@cristiano-c The latest version beta.47 will work with the truffle provider. I was in contact with the truffle team and implemented a wrapper for the truffle provider based on the interface they gave me.

@chaitanyapotti Could you explain your problem with ``getAccounts`` in a separate issue?

[2019-03-04 10:35] nivida commented on #2442
@strideynet The documentation was correct. Have a look at the [``CallMethod``](https://github.com/ethereum/web3.js/blob/1.0/packages/web3-core-method/src/methods/CallMethod.js) class if you would like to see an example with optional parameters. This will get simplified when Web3.js has removed the callback methods from the public API.

[2019-03-04 12:48] OFRBG commented on #2442
But the documentation states that the interface is

[code]

for it to be accurate, shouldn't it be

[code]

It's either both or neither.

[2019-03-04 15:26] imthatcarlos opened #2447 "UnhandledPromiseRejectionWarning: Error: invalid json request [1.0.0-beta.47]"
As was mentioned briefly in this [comment](https://github.com/ethereum/web3.js/issues/2446#issuecomment-469125776), `eth.getAccounts()` fails with the latest release of web3 and truffle-hdwallet-provider

#### Expected behavior
Code didn't change, only updated packages, and `eth.getAccounts()` should return accounts

#### Actual behavior
Fails.

#### Steps to reproduce the behavior

[code]

#### E

[2019-03-04 15:27] imthatcarlos commented on #2446
@chaitanyapotti can you confirm that you are having the issue I'm having? #2447
@nivida check it out, should we let truffle team know?

[2019-03-04 15:48] mschristensen commented on #2213
I'm also experiencing this issue but when sending a signed transaction like:

[code]

gives:

[code]

node version: `v8.12.0`
npm version: `6.4.1`
web3 version: `^1.0.0-beta.30`

[2019-03-04 16:03] OFRBG commented on #2447
Here is the relevant override: https://github.com/trufflesuite/truffle/blob/f646574a793bdca895b0cc9fb556a263fb70a6c2/packages/truffle-hdwallet-provider/src/index.js#L63-L71.

[2019-03-04 17:05] chaitanyapotti commented on #2446
I can confirm it. having the exact same issue. @imthatcarlos

[2019-03-04 17:22] chompomonim opened #2448 "CREATE2 support for smart contract deployment"
#### Expected behavior

I'd like to deploy smart contract into predefined address using [EIP 1014](https://eips.ethereum.org/EIPS/eip-1014).

I expect something like:

[code]

#### Current behavior
No support of EIP 1014

#### Versions
Web3.js v1.0.0-beta.46

[2019-03-04 17:23] chaitanyapotti commented on #2444
Also occurs in beta.47

Although the message is
[code]

[2019-03-04 17:47] OFRBG commented on #2448
I doubt it will be possible to just use `CREATE2` from the API. `CREATE` and `CREATE2` are EVM opcodes, so they are used in Solidity instead. You need to implement this with inline assembly as of now.

Further reading:
https://github.com/miguelmota/solidity-create2-example
https://solidity.readthedocs.io/en/latest/using-the-compiler.html?highlight=create2
https://solidity.readthedocs.io/en/latest/

[2019-03-04 19:17] webersson opened #2449 "Return array in methods.myMethod.call"
#### Expected behavior
I'm trying to get an array of Numbers from this function:
[code]
...Calling the function via web3 like this:
[code]

..my output is a comma separeted string: `1551744000,1551657600`
 In order to get an array of Numbers I have to modify the String like this:

`var array = result.split(',').map(str => {return Number(str)})`

Now I'm getting the required array of Numbers:

`[15

[2019-03-04 20:14] nivida commented on #2449
Thanks for creating this issue! Could you please add the version of Web3.js you are using?

[2019-03-04 20:22] webersson commented on #2449
Yes, of course. I'm using solidity: ^0.5.0 and web3: 1.0.0-beta.47

[2019-03-05 00:42] OFRBG opened #2452 "Documentation: Publish sandboxed examples of how to use the library"
### Description
I've been working with the web3.js for some time now, and even I have problems keeping up with it. The documentation is outdated every now and then, and the examples aren't in-depth.

#### Expected behavior
Users should be able to easily skim through the docs and understand what is going on.

#### Actual behavior
Users end up jumping from tutorial to tutorial, opening 20 tabs, and

[2019-03-05 01:54] #2447 closed, assigned to nobody

[2019-03-05 02:06] nivida commented on #2452
Thanks for asking this!

I would like to move the documentation out of this repository and provide it over docsify. The extending of the ``Getting Started`` section in the documentation and the clean up of it is on my to-do list. I've created a [bounty](https://github.com/ethereum/web3.js/issues/2089) together with Gitcoin for adding live examples to the documentation.

I've created some starter p

[2019-03-05 02:44] nivida commented on #2351
I'm closing this issue because of the recently added installation example in the repository readme.
```meteor npm install --save web3@1.x```

[2019-03-05 02:44] #2351 closed, assigned to nobody

[2019-03-05 02:49] nivida commented on #2442
@strideynet @OFRBG I will check this with an older version of Web3.js and fix and release it asap.

[2019-03-05 02:52] nivida commented on #2444
I've tested it with a standard ERC20 token and couldn't reproduce your issue. Could you create an example repository/branch or gist file which contains everything for testing it closer?

[2019-03-05 03:41] OFRBG commented on #2452
I actually ran with some issues trying to build lightweight examples with Codepen and JSFiddle. The three dist index files are available over unpkg with
* https://unpkg.com/web3@latest/dist/web3.esm.js
* https://unpkg.com/web3@latest/dist/web3.cjs.js
* https://unpkg.com/web3@latest/dist/web3.umd.js

Unfortunately none of these can be loaded correctly for x or y reason. I can't find a non-hacky way

[2019-03-05 07:01] GNSPS commented on #2412
This does indeed fix it! 😄 Thank you @aks30498!

[2019-03-05 09:32] webersson opened #2453 "Return multiple values"
### Description
I'm trying to return multiple values with a simple function:
[code]
Calling:
[code]
Returns { '0': '0', '1': 'x' }

Calling a function with just one return value e.g
[code]
...is working as expected.
Returns: 0x1b42dC2F1A3A548A5e6D76c19cCd768aDCa37815

Why is this happening? Any help much appreciated.

### Versions
* web3.js: 1.0.0-beta.47
* nodejs: 11.3.0
* solidity: ^0.5.0

[2019-03-05 11:27] webersson commented on #2449
Just found out, the issue does not consist with web3@1.0.0-beta.44.

[2019-03-05 11:27] webersson commented on #2453
Just found out the issue does not consist with web3@1.0.0-beta.44.

[2019-03-05 11:58] lancesf opened #2454 "Why is signature verification wrong????"
Why is the hash information different？？？

Should 'sign' not first encrypt 'message' with 'keccak256', then if I want to encrypt 'keccak256', what should I do??

![ced61e9f-778f-4bc6-a8e3-1930287c6d0e](https://user-images.githubusercontent.com/24428154/53803972-3a1fbb80-3f81-11e9-8eb0-cc63f7e0e3fe.png)

[2019-03-05 12:50] nivida commented on #2454
Could you please use the issue template and provide all the information we need?

[2019-03-05 15:27] sebayaki commented on #2341
I guess this code has merged into `web3.js 1.0.0-beta.47` incorrectly (maybe the fix has overwritten by #2367).
The same problem happens on `web3.js 1.0.0-beta.47`

-- updated --
Oh I just tried putting `defaultOptions` on `send(defaultOptions)` instead of `Contract(abi, network, defaultOptions)` and that worked.
It seems #2393 fixed the issue on send() function, but not on Contract constructor.

[2019-03-05 17:26] sebayaki commented on #2447
I'm having the same issue with this.
Is there any work-around until beta.48 out?

[2019-03-05 17:45] #2445 closed, assigned to nobody

[2019-03-05 17:46] nivida commented on #2447
@sydneyitguy  I will release this fix today.

[2019-03-05 17:47] nivida commented on #2446
The PR https://github.com/ethereum/web3.js/issues/2447 will fix this and beta.48 will be released today.

[2019-03-05 17:47] #2446 closed, assigned to nobody

[2019-03-05 17:52] #2453 closed, assigned to nobody

[2019-03-05 17:52] #2449 closed, assigned to nobody

[2019-03-05 17:53] #2442 closed, assigned to nobody

[2019-03-05 19:49] owocki commented on #2452
@OFRBG 0.001 ETH seems like its not very much compensation for this.  did you mean to fund more?

[2019-03-05 19:54] OFRBG commented on #2452
@owocki Not really. I wanted to open the bounty with the minimum amount, and let others, if interested, add to the bounty. The hacky way to make a grant, so to speak.

[2019-03-05 19:56] owocki commented on #2452
interesting experiment!  adding some ETH now

[2019-03-05 20:02] OFRBG commented on #2452
Much appreciated! I'm working on the CodeSandbox template, so I'll show some progress soon.

[2019-03-05 21:05] vshab opened #2457 "getPastLogs generates wrong topics array after beta.37 for JSON RPC"
### Description
Hello!

After upgrading from beta.37 `getPastLogs` generates wrong topics array for `eth_getLogs` WebSocket RPC which causes inadequate data in return.

We have event with 3 indexed parameters:
[code]

#### Expected behavior

beta.37 sends this
[code]
Having topic for the **third**(p4) indexed parameter.

#### Actual behavior

beta.48 sends this
[code]
Having topic for the **first*

[2019-03-05 21:22] nivida commented on #2457
Thanks for creating this issue! You're talking about version beta.46 in the example and about version beta.48 in the versions list. Could you tell me which version are you using?

[2019-03-05 21:34] askucher commented on #2445
Damn, guys. These web3 changes are driving me in unexpected issues. The previous version did not have this problems

[2019-03-05 22:10] nivida commented on #2457
Tested it in the latest version and this behavior also happens. Will fix and release it asap.

[2019-03-06 00:29] eswarasai commented on #2452
@OFRBG @nivida -- This is exactly what I've been suggesting over the issue here -- https://github.com/ethereum/web3.js/issues/2089#issuecomment-462831303

Also, there's already a bounty on that issue in Gitcoin which has funding.

[2019-03-06 04:49] NIC619 opened #2459 "UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'sign' of undefined"
### Description

Calling `web3.eth.accounts.signTransaction(tx, privkey)` result in this error. Versions prior to `beta.47` work fine.
#### Expected behavior

Calling `web3.eth.accounts.signTransaction()` should return a signed tx.

#### Actual behavior

#### Steps to reproduce the behavior

[code]

#### Error Logs
[code]

#### Gists

### Versions
* web3.js: 1.0.0-beta.47
* nodejs: 10.15.1
* brows

[2019-03-06 07:43] vshab commented on #2457
@nivida yeah, beta.48 in both cases. :) I updated the text. Thanks!

[2019-03-06 08:27] denork commented on #2459
Same for me.

[2019-03-06 13:06] nivida commented on #2459
Thanks for creating this issue! I will fix and release it asap.

[2019-03-06 13:17] sebayaki opened #2462 "[1.0.0-beta.48] Contract.methods.myMethod.send() hangs forever"
### Description
I'm using HDWalletProvider with Infura API, and when I use HTTP API like

[code]

This sends the transaction correctly, but crashes after with

I saw "The HTTP provider is deprecated" on the web3 document, so I changed the Infura endpoint using Websocket:

[code]

This doesn't send the transaction at all and just hangs forever (no error, nothing happens).

#### Expected behavior
Ca