[2019-11-22 07:58] nivida opened #3233 "Automating of Releases"
@lautarodragan has recommended the tool [semantic-release](https://github.com/semantic-release/semantic-release) to automate the release process of web3.js. On a first view does it actually look like something we can and should use.

Highlights of semantic-release:

- Fully automated release
- Enforce Semantic Versioning specification
- New features and fixes are immediately available to users
- N

[2019-11-22 09:50] leagithub commented on #3117
Hi

[2019-11-22 11:45] holgerd77 commented on #3228
Maybe I am seeing this to simple, but I think the best and also least confusing way is just to break with semantic versioning on the `1.x` branch and do breaking releases as necessary in the minor releases. I think people will very much understand that, since this is just the most "natural" solution coming from the circumstances. Using devs are likely very much aware of the existence of the `2.x`

[2019-11-22 20:04] barakman opened #3236 "Unclear documentation of 'web3.eth.sendSignedTransaction'"
From [the official documentation](https://web3js.readthedocs.io/en/v1.2.4/web3-eth.html#sendsignedtransaction) of `web3.eth.sendSignedTransaction`:

First, there is this description of the `callback` parameter:

Then, there is this coding example:
[code]

First of all, this coding "shortcut" yields a poor example for the given function (as I have previously explain in [this similar issue](https://

[2019-11-22 20:50] michaelsbradleyjr commented on #3228
@nivida do you presently have a sense/goal of when the 2.x architecture will be ready to become the stable release +/- 3 months, e.g. Q2 2020?

@holgerd77

I personally feel this is acceptable, despite downsides. But, if that's the way it goes, I also think the README for the `1.x` branch (currently this repo's default branch) should prominently feature (above the **Installation** section) a notic

[2019-11-22 23:06] gnidan commented on #3228
To lend my perspective, **I strongly discourage breaking changes without respecting semver.** It might seem like a trivial issue from the perspective of this project, but substantial breaking changes destroy development velocity downstream. Take it from someone who lives downstream.

Now, looking at these breaking changes, I don't have a sense for the severity, but they don't seem to be that big a

[2019-11-23 01:32] joshstevens19 commented on #3228
Hey nice to see this discussion going on. So my view on this is quite simple and some of you have kinda said the same thing. Angular made this mistake, they released the router package on version 3 but their core packages was version 2 so when they went to bump packages the router package was out of sync. Instead of really overthinking everything they thought "users won't care here really as long

[2019-11-23 02:49] knoxcard2 commented on #3181
What's the status on this?

[2019-11-23 05:00] lautarodragan commented on #3233
Thanks for considering this!

Regarding the expected vs. actual behavior: I'm not sure what you mean. If you'd prefer it to be automatic, that's totally possible (and how we have it working). We do it for our [poet-js library](https://github.com/poetapp/poet-js/), for example.

If it's of any help, here's our [CircleCI configuration](https://github.com/poetapp/poet-js/blob/f50a70120958765edf7f5317

[2019-11-23 22:09] mastguer commented on #3216
I'm having issues with this too.

I have a mapping that returns all addresses in an array, NFTs owned by that user.
mapping(address => address[]) contractsByUser;

This is called immediately upon landing on my index.html page.
Until the user creates their first NFT, this contractsByUser[_usersAddress] would return some []/null/undefined value that I could handle and proceed forward with.
This has

[2019-11-24 16:12] ilanolkies opened #3237 "EIP-1191 automatic chain id detection"
#### Expected behavior

Checksum address encoding should follow https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1191.md for RSK Mainnet and Testnet.

When `new Web3` I think it should take the chain id from the network and _initialize_ utils with the valid checksum encoding.

#### Actual behavior

Checksum address encoding uses only Ethereum encoding.

#### Steps to reproduce the behavior

1

[2019-11-24 17:33] michaelsbradleyjr commented on #3233
GitHub has three merge options (see screenshot immediately below):

![image](https://user-images.githubusercontent.com/194260/69497782-3f71bd00-0ea6-11ea-8921-fff9dea0a746.png)
* Create a merge commit
* Squash and merge
* Rebase and merge

It seems semantic-release is [compatible](https://github.com/semantic-release/github/pull/100) with *Rebase and merge*.

For the Embark Framework, we've been us

[2019-11-24 20:06] GiovanniCapizzi commented on #3181
Hello, any news about it?

[2019-11-25 11:55] #3021 closed, assigned to nobody

[2019-11-25 12:07] nivida commented on #1353
The ``web3-eth`` (``web3.eth.*``) and ``web3-net`` (``web3.eth.net.*``) packages do provide all required methods.

[2019-11-25 12:07] #1353 closed

[2019-11-25 12:08] nivida commented on #1271
I'm closing this issue because of the newly created issue from @ChrisChinchilla.

[2019-11-25 12:08] #1271 closed

[2019-11-25 15:43] ZeeshanAhmadKhalil commented on #1985
@maschad  its working for me with following dependencies as well;
[code]
Thank you for your help

[2019-11-25 17:03] ppeinsold opened #3240 "Can't detect new built-in "crypto wallets" extension of brave browser"
#### Expected behavior
Web3js can detect built-in "crypto wallets"-extension of brave browser.

#### Actual behavior
Crypto wallets extension is not detected and leads to the false conclusion, that no web3 browser is installed.

#### Steps to reproduce the behavior
Let me add a little bit of a code example. The following code is to connect to web3 browser using web3js library:

[code]

This works

[2019-11-25 17:09] cgewecke commented on #3227
@usd-yamazaki

Could you provide more information about your execution context? Why do you require these values be so large / have such precision?

[2019-11-25 17:36] cgewecke commented on #3216
This has worked fine historically.

@mastguer Could you provide more information about what version this used to work for? The current message and behavior looks like it has existed for [over a year](https://github.com/ethereum/web3.js/pull/1820/files#diff-0f39f52256cec08b5ed7384cbbe93719R226).

How does the error behavior prevent you from handling this condition?

[2019-11-26 06:02] usd-yamazaki commented on #3227
I continue to execute a lot of gas consuming contracts on the private chain.
Since this process should not be limited by gasLimit, the upper limit value 0x7fffffffffffffff is set for the gasLimit parameter.
For the upper limit of each parameter, refer to https://eips.ethereum.org/EIPS/eip-1985.

* “Theoretical condition value” was a translation error and was correctly “theoretical upper limit valu

[2019-11-26 09:19] nivida commented on #3240
I was in contact with the Brave team:
<img width="468" alt="Bildschirmfoto 2019-11-26 um 10 18 30" src="https://user-images.githubusercontent.com/1699173/69616008-2861d500-1036-11ea-91c0-3090ffe298a6.png">

[2019-11-26 09:30] nivida commented on #3228
@michaelsbradleyjr @alcuadrado @holgerd77 @lautarodragan @joshstevens19 @gnidan

I'm impressed by all the feedback we got together here and I think we have definitely listed all possible solutions. ;)

@cgewecke and I had a call yesterday evening to discuss the coming release and especially all the inputs we got here. We were both agreeing in the end that we won't publish any breaking changes with

[2019-11-26 09:33] ppeinsold commented on #3240
Interesting, thx for your answer!
But then either my code is wrong, or the delegation does not work correctly. There is no "window.ethereum" or "window.web3" available if only crypto wallets is enabled and metamask is not installed. Do they maybe inject a different variable?

[2019-11-26 10:00] nivida commented on #3240
I've tested it and could reproduce the same behavior. As long as the MetaMask extension is installed is the ``window.ethereum`` property existing and otherwise not. I've also checked if the native wallet of Brave and his API is documented somewhere but I sadly couldn't find any documentation about.

@BrendanEich Do we miss something here? or is this actually a bug of Brave?

[2019-11-26 13:04] nivida commented on #1547
@lautarodragan

This is sadly the truth. There is also no way to fix this in a non-breaking or clean manner.

All possible ways are already documented in this issue. There is a possibility to fix this with the [Symbol.species](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/species). But I wouldn’t recommend such hacky fixes because there are potential un-kn

[2019-11-26 13:23] nivida commented on #3181
@knoxcard2 @GiovanniCapizzi Yes, I'm currently in contact with Maia the developer behind the swarm-js package and do try to get the permissions to publish the updated package.json.

[2019-11-26 13:54] #3221 closed, assigned to nobody

[2019-11-26 14:10] #2883 closed, assigned to nobody

[2019-11-26 14:16] nivida commented on #2882
@7-of-9 We are informed about this behaviour but as long as the connected node doesn't close the connection in a clean manner is it impossible for us to handle the manual closing case well.
I'm currently working on the reconnect handling for 1.0 [here](https://github.com/ethereum/web3.js/pull/3190#issuecomment-552957927) which will be an improved version of the one we have for 2.0 and I will after

[2019-11-26 16:50] nivida commented on #2742
Closed because it is a bad idea to handle all possible types of return interfaces over one object.

[2019-11-26 16:50] #2742 closed, assigned to nobody

[2019-11-26 18:13] cgewecke commented on #3227
@usd-yamazaki Thank you for providing the link to the EIP.

@nivida discussed this in a meeting yesterday and I argued these changes should not be made to the 1.x branch as a bug fix because:

+ all real limits are well within the JS MAX_INT and will remain so indefinitely
+ changing the data format would break a lot of existing code using JS API
+ the change would benefit a smaller number of peop

[2019-11-26 18:20] cgewecke commented on #3134
Addressed by #3161, closing.

[2019-11-26 18:20] #3134 closed, assigned to cgewecke

[2019-11-26 18:24] cgewecke commented on #3159
The types problem should be fixed on `1.2.4`

The issue with supportsSubscription looks like it needs to wait for further development of EIP 1193 before it's improved.

Closing via #3162

[2019-11-26 18:24] #3159 closed, assigned to cgewecke

[2019-11-27 03:29] lautarodragan commented on #1547
I currently listed the EventEmitter object as well because there are potential cases where a normal Observable with the next, complete, and error callback doesn't fitt in our requirements. The definitive public asynchronous API is currently in the planning phase and open about any feedback.

Than's great news :smile: I'll stick with the wrapper approach then until 2.0.0 is released.

Thanks @nivid

[2019-11-27 04:39] lautarodragan commented on #3236
@barakman see https://github.com/ethereum/web3.js/issues/1547#issuecomment-558618977. If I understand correctly, the callback will be entirely gone in the next major release and the PromiEvent returned by it will be improved.

Under the 1.x branch, I've found BOTH the callback and `.on('error'` are needed - in some cases I noticed the callback was being called with an error but the `.on('error'` w

[2019-11-27 08:10] usd-yamazaki commented on #3227
@cgewecke
Of course you should avoid breaking existing code.
So the idea of ​​using web3.extend is great.
However, since it is inconsistent with EIP, I think that it should be corrected after 2.x etc.

Another idea could be to optionally choose whether the parameter supports BigNumber.
This is very simple and easy to understand.
* Example
[code]

[2019-11-27 13:38] nivida opened #3243 "Missing support for Clef from Geth"
``Geth`` does have released ``Clef`` for the reason to improve the security with moving of the account management from ``Geth`` to a standalone process with a fully encrypted storage. It’s possible to communicate over IPC or HTTP and JSON-RPC requests with the ``Clef`` process. This means the ``Clef`` module would have his own provider.

#### Expected behavior

Module ``web3.eth.clef.*`` does exis

[2019-11-27 17:46] prographo opened #3244 "eth.defaultBlock must be set to hex of number not regular number"
#### Expected behavior

According to the documentation here: https://web3js.readthedocs.io/en/v1.2.0/web3-eth.html#defaultblock

defaultBlock can be set to string like 'latest' or Number, it gives the example below:

// set the default block
web3.eth.defaultBlock = 231;

#### Actual behavior

When you next make call you will get error:
[code]
See code at bottom.

Problem is you must supply Hex Str

[2019-11-27 18:53] cgewecke commented on #3227
Thanks @usd-yamazaki, I like the interface you've proposed there. Will think about this further...

[2019-11-27 19:05] prographo opened #3245 "eth.clearSubscriptions gives error if no running subscriptions do exist"
This call should never give an error.

https://web3js.readthedocs.io/en/v1.2.0/web3-eth-subscribe.html#clearsubscriptions
[code]
Gives this error:
[code]
run this:
[code]

[2019-11-27 20:36] evertonfraga commented on #3181
Hi all, I got publish access from the maintainer and published [eth-lib@0.1.29](https://www.npmjs.com/package/eth-lib/v/0.1.29), thus fixing the issue.

Please let me know if that worked for you all.

[2019-11-28 03:29] liamaharon commented on #1707
FYI the code Etherscan uses to get revert reasons is open source
https://twitter.com/rstormsf/status/1171378476982521865
https://github.com/pertsev/web3_utilz/tree/master/revert%20reason

[2019-11-28 06:53] lautarodragan commented on #3204
Another (small & very low priority) case in favour of this feature:

The application I'm working tries to avoid storing state in RAM as much as possible, relying on an external DB instead. The way it's built allows it to be restarted anytime, it just picks up where it left off, without any complicated code and without risk of being left in a "weird state", so to speak.

`Method._confirmTransaction

[2019-11-28 08:32] nivida commented on #3245
Thanks for opening this issue! This does only happen if no subscription is running.

[2019-11-28 08:34] nivida commented on #3244
Thanks for opening this issue! I will add the missing conversion to a hex string asap.

[2019-11-28 08:40] nivida commented on #3181
@evertonfraga I can approve the installation of web3.js. It does work now on node v12 and 13.

@all Be aware to update your ``package-lock.json`` as well and don't panic about the warnings from ``secp256k1`` they do not have an impact and it will be fixed by the maintainer of this package as soon as possible.

[2019-11-28 08:40] #3181 closed, assigned to nobody

[2019-11-28 08:42] nivida commented on #3151
It is now possible to install web3.js on the latest version of nodejs as expected. Thanks to @evertonfraga for publishing the required fixes in the dependencies we use.

[2019-11-28 08:42] #3151 closed, assigned to nobody

[2019-11-28 08:51] jack75015 commented on #1965
Let's go fix it plz :) :)

[2019-11-28 09:20] nivida commented on #1965
@jack75015 @caa1982 the PR is on the way for 1.x: #3190

[2019-11-29 07:59] #3245 closed, assigned to nobody

[2019-11-29 09:11] #3244 closed, assigned to nobody

[2019-11-29 13:09] MoMannn commented on #2213
Same is happening to me on parity (works with geth).

[2019-11-29 13:11] MoMannn commented on #1423
I have the same problem as @d10r. It happens only with parity, works with geth.
Web3 1.2.4, parity 2.6.5 beta

[2019-11-29 14:43] alcuadrado commented on #3243
IMO this shouldn't be handled by this library. It's something super specific of one of the clients. If someone wants to use it, they can always use the provider.

[2019-11-29 15:17] DurandA commented on #3222
@nivida I have the same issue with [_dist/web3.min.js_ from 1.2.4](https://github.com/ethereum/web3.js/blob/1.x/dist/web3.min.js) or built from 1.x branch. Is there any place I can get a clean version working in the browser until this is fixed?

[2019-11-29 15:58] gpersoon opened #3250 "Support eth_requestAccounts"
#### Expected behavior
Begin able to use eth_requestAccounts in a native way.
Because metamask will deprecate ethereum.enable().
See: https://metamask.github.io/metamask-docs/API_Reference/Ethereum_Provider#new-api

#### Actual behavior
It possible to use eth_requestAccounts in the following way:
[code]
#### Steps to reproduce the behavior

#### Logs

#### Versions
Web3.js 1.2.4

[2019-11-30 12:54] smalaichami commented on #2157
This worked for me.. in "web3": "1.0.0-beta.35"
let value = web3Local.utils.toWei(amount, 'ether')

[2019-11-30 19:48] nivida commented on #3250
Thanks for opening this issue! The ``eth_requestAccounts`` JSON-RPC method got already implemented with PR https://github.com/ethereum/web3.js/pull/3219. We will release this addition as soon as possible.

Edit:
See [CHANGELOG.md](https://github.com/ethereum/web3.js/blob/1.x/CHANGELOG.md)

[2019-11-30 19:48] #3250 closed, assigned to nobody

[2019-11-30 20:52] ppeinsold commented on #3240
@nivida any update here? I think this breaks a lot of dapps for brave users...

[2019-12-01 09:27] nivida commented on #3240
There is nothing web3.js can do. Please open an issue in the Brave repository.

[2019-12-01 09:27] #3240 closed, assigned to nobody

[2019-12-02 07:53] starcommandeer commented on #2868
hi @shreyasjain did you find out what the problem was?

[2019-12-02 07:53] starcommandeer commented on #2868
I am having the same issue

[2019-12-02 09:31] rudreshsolanki97 opened #3251 "Failed to minify code, file : web3-core-method with web3@1.2.4"
#### Expected behavior

Successful building of the node modules

#### Actual behavior

Failure while minifying file at ./node_modules/web3-core-method

#### Steps to reproduce the behavior

1. Setup app using create-react-app & install web3@1.2.4
2. run `npm run build`

**Note**: On bringing down the web3 version to **1.2.0** it actually builds.

#### Logs

Failed to minify the code from this file

[2019-12-02 10:55] nivida commented on #3251
Thanks for opening this issue! I'm able to create a minified build with parcel and webpack with the latest version of web3.js. Could you please add the whole error message?

[2019-12-02 11:12] manuelwedler opened #3252 "Add ENS support for Goerli testnet"
#### Expected behavior
ENS should be supported on Goerli testnet. It is deployed at address `0x112234455c3a32fd11230c42e7bccd4a84e02010`.

#### Actual behavior
This error is thrown:
[code]

#### Steps to reproduce the behavior
Try to call `web3.eth.ens.getAddress(name)` when connected to a Goerli Provider.

#### Versions
web3.js 2.0.0-alpha.1

[2019-12-02 11:21] rudreshsolanki97 commented on #3251
Yes, below is the complete log of the run.

**Error Message:**

Creating an optimized production build...
Failed to compile.

Failed to minify the code from this file:

        ./node_modules/web3-core-method/src/index.js:282

Read more here: http://bit.ly/2tRViJ9

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! client@0.1.0 build: `node scripts/build.js`
npm ERR! Exit status 1
npm ERR!
npm ERR

[2019-12-02 13:52] nivida commented on #3252
Thanks for opening this issue! This request is related to: https://github.com/ethereum/web3.js/issues/3225

[2019-12-02 14:32] manuel114 commented on #3134
I'm getting this error when trying to retrieve a value from a mapping(byte32 => string) (using the default get function) from a CircleCI test. All tests work on local and in Remix.

I've checked and the contract address and contract instance are correct, any clue as to why this might be happening?

[2019-12-02 15:26] barakman commented on #3134
@manuel114 : What is the contract address, what is the function name and what network are you on?

[2019-12-02 17:29] cgewecke commented on #3216
Closing b/c stale. Please ping if anyone can provide more information about this.

[2019-12-02 17:29] #3216 closed, assigned to nobody

[2019-12-02 18:46] manuel114 commented on #3134
@barakman

The contract address is 0x9d745FfDb0520242Edb2e5ccCB2b76641A6db145
The function name is registry (its a public mapping) and the network is Ropsten

The mapping key I've been using for the call is 0xdb25dfeb9fc9ced411d0f50165943d3d62d75cc9ba2dac14a2ef9ba950e40df5

[2019-12-02 18:56] barakman commented on #3134
@manuel114:
I call it from the following node script and I get `0.7554554072934947`:
[code]

For all it matters, I am using web3.js v1.2.1.

[2019-12-02 19:08] manuel114 commented on #3134
Hey @barakman,

Thanks for having a look at it! The weirdest thing about it is that I only get the error when running the code in CircleCi.

I've tried the same test on both local and remix and it always works fine, but using the same code in CircleCi seems to break it.

[2019-12-03 16:57] munawarb commented on #3222
Hi @DurandA,
You can just grab web3.min.js from web3 1.2.2. So in my project I'm using 1.2.4 on the Node side and 1.2.2 on the browser side. This works. I'm glad I found your issue, I wondering for the longest time why web3.min.js was throwing the error and thought I was going crazy when no one else seemed to be having this problem :).

[2019-12-04 13:07] jerryji commented on #3222
But why are the web3.min.js in 1.2.3 and 1.2.4 release still not fixed?

[2019-12-04 14:23] munawarb commented on #3222
Hi @DurandA,
Not sure, but downgrading to 1.2.2 on the browser side will work fine. You'll just need to include the polyfill.min.js file mentioned in #3155.

[2019-12-05 14:43] mknycha opened #3255 "UnhandledPromiseRejectionWarning: Error: Failed to check for transaction receipt"
I have been trying to sign a transaction offline, then connect to the ropsten network and send it. As per the [documentation](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethsendrawtransaction) I have prepared a code you can see in the steps.

I have tried googling the issue and checking github issues as well - I found many that looked similar but none of them was helpful in my case.

[2019-12-05 15:23] digulla opened #3256 "Loading web3.min.js in browser fails with "require is not defined""
I've installed `web3@1.2.4` with `npm install`.
I copied the file `node_modules/web3/dist/web3.min.js` into my web app.
I'm loading the file with:

    <script type="text/javascript" src="js/web3.min.js"></script>

In the browser console (Chrome 70+), I see this error:

    Uncaught ReferenceError: require is not defined
        at web3.js:1

[2019-12-05 16:03] nivida commented on #3256
Thanks for opening this issue! The minified file here provided in the GitHub repository does work as expected but the published one in the web3 package not. We will publish a new fixed minified file on the next patch release. I apologize for all the trouble you might have.

[2019-12-05 16:05] nivida commented on #3255
Thanks for opening this issue! We will check this closer asap and fix it if required.

[2019-12-05 17:24] leon-do opened #3257 "contract even listeners for mobile"
#### Expected behavior
I am able to listen to contract events on desktop, but I'm unable to listen on mobile wallets (ie. coinbase wallet). Does web3 support contract even listeners for mobile?

#### Steps to reproduce the behavior

[code]

#### Versions
mobile coinbase wallet

[2019-12-05 21:58] edsonayllon opened #3258 "No error messages are currently displayed for improper use of .call() and .send()"
#### Expected behavior

For a contract method writing a transaction, such as a payable function, using `call()` instead of `send()` should display an error or warning.

For a contract method only reading the state of smart contract information, using `send()` instead of `call()` should display an error or warning.

#### Actual behavior

No warnings or errors are displayed in these situations.

###

[2019-12-05 23:50] cliffhall commented on #1317
This still happens with ganache-cli.  Paradoxically, I found that the answer was to include gas in the actual call to estimate gas.

This fails:
[code]

While this succeeds:
[code]

Hope this helps some poor soul out there...

[2019-12-06 06:33] zyairzy commented on #3255
I meet this error too.

I run private go-ethereum network by meself, then I use web3.js 'web3.eth.Contract' send to contract, when I add run times to high, this error occurs.

**Actual Error**
[code]

**Steps to reproduce the behavior**
Run the following code, if I modify cnt to a more big number, error easier to happen:
[code]

**Versions**

- node.js (10.17.0)
- npm (6.11.3)
- web3.js (1.2.4 ins

[2019-12-06 09:18] nivida commented on #3257
web3.js does support event listeners on mobile devices in the same way as on desktop devices. As it looks like is the issue on side of the coinbase mobile wallet. Is it possible to add the whole code you are using as GitHub repository or gist file to this issue?

[2019-12-06 09:23] nivida commented on #3258
Thanks for opening this issue!
You should be able to call a payable contract function with ``call()`` because you probably would like to have a dry run first and to handle the revert instruction if existing. The next release of web3.js will include the revert instruction handling and it can get activated with defining of ``handleRevert`` to ``true``.

[2019-12-06 09:23] #3258 closed, assigned to nobody

[2019-12-06 09:56] #176 closed

[2019-12-06 09:59] nivida commented on #1903
We have implemented this feature for 1.x and will release it on the next minor release. We will implement this feature also for 2.x and I'm closing this issue for now because we will anyways synchronize the existing features between 1.x and 2.x later.

[2019-12-06 09:59] #1903 closed, assigned to nobody

[2019-12-06 09:59] nivida commented on #1707
We have implemented this feature for 1.x and will release it on the next minor release. We will implement this feature also for 2.x and I'm closing this issue for now because we will anyways synchronize the existing features between 1.x and 2.x later.

[2019-12-06 09:59] #1707 closed

[2019-12-06 10:00] nivida commented on #2197
We have implemented this feature for 1.x and will release it on the next minor release. We will implement this feature also for 2.x and I'm closing this issue for now because we will anyways synchronize the existing features between 1.x and 2.x later.

[2019-12-06 10:00] #2197 closed, assigned to nobody

[2019-12-06 10:02] mknycha commented on #3255
In case someone is looking for a workaround here: I got it working by using [signtransaction](https://web3js.readthedocs.io/en/v1.2.0/web3-eth-accounts.html#signtransaction) from `web3-eth-accounts` library.
Also my colleague said it's working for her with Parity full node, but I was not able to check this.

[2019-12-06 19:39] leon-do commented on #3257
Hey @nivida

I can't post the whole code yet... I figured it was on the coinbase mobile wallet side. Is there documentation on what listeners mobile supports?

[2019-12-09 07:28] gilamran commented on #1187
@nivida Can you explain why is this the correct behavior?
The `decodeParameter` "knows" the type, and should auto-convert to `BN`. not doing so will force everyone to do the manual conversion of each field in the return struct.

[code]
BTW: In version `1.0.0-beta.55` any `uint256` was automatically converted to `BN`

[2019-12-09 08:48] nivida commented on #1187
This codebase will be used for version 2.x see our release announcement [here](https://github.com/ethereum/web3.js/releases/tag/v1.2.0) for more.

Yes, this is true but it would break a lot of existing code. That's why 1.0 (beta.37) is returning those numbers still as ``string`` instead of ``BN`` objects.

[2019-12-09 10:00] gilamran commented on #1187
Ok, so correct me if I'm wrong
Version `1.0.0-beta.37` = version 1 (Existing projects are using this one)
Version `1.0.0-beta.55` = Future version 2 and Also version `1.2.0` and `2.0.0-alpha`?
What about version 1.2.X?

I'm confused...

[2019-12-09 10:08] nivida commented on #1187
Version 1.0.0-beta.37 = is now 1.x
Version 1.0.0-beta.55 = is now 2.0.0-alpha.x (It will have a complete new functional API in the end)

Because the former maintainer published 1.x versions of sub-packages of web3.js and because npm doesn't allow us to remove those wrongly published versions we were forced to release it as 1.2.0.

[2019-12-09 10:48] wktian1987 commented on #3256
v1.2.2 is ok without this error.

[2019-12-09 12:21] digulla commented on #2826
I have a similar problem when trying to call a contract method which expect a function type/pointer as parameter. See https://ethereum.stackexchange.com/questions/78080/how-do-i-pass-a-function-pointer-to-a-contract-method-from-a-unit-test for a code example.

To see the error, this code is sufficent:

    web3.eth.abi.encodeParameter('function', ac.onlyOwner);

where `ac` is a contract and `onlyO

[2019-12-10 06:04] cgewecke opened #3266 "Debug truffle issue 2654 (random ganache disconnection)"
JoinColony/colonyNetwork and Synthetix are both unable to upgrade truffle because they have large test suites which fail with client disconnection after running for a while. These suites ran without problems before Truffle upgraded to Web3 1.2.2 so it looks like a problem might have been introduced then.

More at [truffle 2654](https://github.com/trufflesuite/truffle/issues/2654)

**TODO**
+ Compa

[2019-12-10 10:01] nivida commented on #3266
From the truffle issue:

The withCredentials options property does now default to false instead to true and we added a method called supportsSubscription which does return the boolean value false. The default options change was required to fix a CORS issue for Firefox/Safari and the added method was a small feature request from a web3.js user.
We also improved the transaction confirmations over an

[2019-12-10 12:45] digulla commented on #3256
@nivida Where is the minified file? The one in the ZIP archive https://github.com/ethereum/web3.js/releases/tag/v1.2.4 has the same problem.

v1.2.2 works for me.

[2019-12-10 12:47] nivida commented on #3256
@digulla Thanks for asking this! The minified file can be found [here](https://github.com/ethereum/web3.js/tree/1.x/dist).

[2019-12-10 13:17] digulla commented on #3256
@nivida Still getting the same error with the file at your link.
sha256 of the file:

    42037f35ccf2195cdd80448f4963515dd8c6a2d7b416f042743c1d4cec7fc17d  web3.min.js

[2019-12-10 18:44] alcuadrado opened #3267 "A possible strategy to reduce bundle sizes"
Web3.js' bundle sizes are incredibly big, and we constantly receive complaints about this. This needs to be addressed. I'm creating this issue to discuss how.

I believe the bundles get this big for these reasons, which were already present when the current contributors joined.

1. The library isn't designed in a bundler-friendly way. More concretely, the library exposes its functionality in a way

[2019-12-10 19:33] nivida commented on #3267
@alcuadrado Thanks for listing all the points we have to improve!

This will get improved with version 2.0 of web3.js and exposing of a purely functional API.

This could get improved by introducing the ES module structure. (a PR with the ES module structure applied is existing)

This is something we and especially @cgewecke started to improve and we focus currently on extending the test suite.

T

[2019-12-10 19:43] nivida commented on #3267
The issue we have are non-dynamic versions defined in dependencies of our sub-packages. This is the reason for those duplicated dependencies when bundling with any known bundler.

[2019-12-11 04:01] kael-shipman commented on #2213
This appears to still be happening for me.

* **Web3:** v0.20.6 and also v1.2.4
* **Parity:** v2.5.11-stable light node

Would love some clarity on why this is happening, although I believe it's likely Parity's fault.

[2019-12-11 08:50] BarneyChambers commented on #1470
Note to my future self when I forget again and look this up, AND anyone else still having this problem: If you are using Geth make sure to run geth in RPC mode `geth --rpc` so that you can use the RPC api otherwise this error will occur

[2019-12-11 12:44] pavlovdog opened #3268 "Web3 instance opens connection on initialization and not close it after execution ended"
Here's the example program:

[code]

#### Behavior

This code should perform one RPC request each time the callback function is called. And it actually does it, the logs are such as expected. But when I'm checking the list of opened connections on my Parity instance - it's growing all the time, until reaches the ~65000 opened connections and stops responding to the requests.

#### Steps to reprodu

[2019-12-11 15:25] m-yahya opened #3269 "Duplicate events for contract.events.MyEvent"
I'm trying to listen to an event from the latest block but getting duplicate events in the frontend application built with `vue.js`.
I'm sending transactions using simulation script in Jupyter notebook with `web3.py`.
I also tried sending transactions with Metamask.

#### Expected behavior
The event should be emitted only once for a single transaction.

#### Actual behavior
1. with `web3.py`, the

[2019-12-11 20:08] ilanolkies opened #3270 "Wrong AbiInput type"
https://github.com/ethereum/web3.js/blob/39220467f4a10de511bb0e7b024fc37c9f92a7d5/packages/web3-utils/types/index.d.ts#L225

Now Truffle is adding `internalType: "..."` in build. For example:

[code]

[2019-12-12 08:12] nivida commented on #3268
Thanks for opening this issue! Which version of web3.js are you using?

[2019-12-12 08:13] nivida commented on #3269
Thanks for opening this issue! There is already an existing issue which does address the same problem (https://github.com/ethereum/web3.js/issues/2881)

[2019-12-12 08:13] #3269 closed, assigned to nobody

[2019-12-12 08:15] nivida commented on #3270
Thanks for opening this issue! We will improve the referenced type definition asap.

[2019-12-12 08:20] m-yahya commented on #3269
Thanks for taking care.
I did look at that issue too, but I couldn't find a solution to fix that. It also seems that the issue is with older version, however I'm using the latest.
Would you be so kind t guide me is that already fixed? Or how to actually fix this?

[2019-12-12 18:44] 3rr0rrs opened #3271 "web3.eth.getAccounts() - localy working fine; after deploy to heroku returns “undefined”"
Hello,
 localy APP catch MetaMask address without any problem, however after I've deployed APP to heroku it returns address "undefined". Web3 working well both, localy and on heroku.

The contract is deployed to Kovan testnetwork

**function to get web3:**

[code]

**function to get account:**

[code]

**part of package.json:**

[code]

I've tried different versions of web3, however usually the re

[2019-12-13 02:15] #3271 closed, assigned to nobody

[2019-12-13 08:02] #3256 closed, assigned to cgewecke

[2019-12-13 11:51] naturalfreak commented on #2211
same problem with version 1.2.4

[2019-12-13 13:10] knightlands commented on #2933
I have absolutely same error on 1.2.4. Please take a look at it again.

[2019-12-13 13:13] Anaphase commented on #2542
For people looking for a workaround:

As per [this comment](https://github.com/trufflesuite/truffle/issues/1729#issuecomment-474480143), it seems to work if you manually encode and send the transaction.

Instead of:

[code]

Use:

[code]

(Note that the snippets above are using web3@2.0.0-alpha.1 which has a slightly different ABI class/api I believe.)

[2019-12-13 13:13] knightlands opened #3272 "A contract call which triggers multiple events of the same name throws error"
There is #2933 with exactly same issue i am experiencing.
Turns out that
`method.extraFormatters.receiptFormatter()` in web3-core-method throws <b>"Error: Returned values aren't valid, did it run Out of Gas?"</b>

I am able to fix it by indexing arguments in same order but it is something that we are not willing to do.

Please investigate as it seems like that problem was fixed in the past.

web3

[2019-12-15 06:07] tsujp commented on #1741
This is still an issue. I've been able to reproduce the issue as @lucashenning described, but also it can happen when done slowly too. Such as between the time it takes to broadcast the transaction (I assume) and when a new transaction is being constructed. A workaround could be to have N addresses and only use an address if the last TX it constructed has been recognised by the network, or add ite

[2019-12-16 09:25] #3266 closed, assigned to cgewecke

[2019-12-16 13:55] saarshah opened #3275 "How to get the return value of encoded getter functions of contract"
#### Expected behavior
N/A.. Need Some feature/solution
#### Actual behavior

#### Steps to reproduce the behavior

I have list of encoded functions of my contract,  one of them is as below i.e.   `0x27e235e30000000000000000000000000000000000000000000000000000000000000000............` . In this encoded  (getter ) function,  there may be two, three or more arguments with valid values as per contrac

[2019-12-17 10:58] nivida commented on #3275
Thanks for opening this issue! The ``sendTransaction`` call does only return the transaction hash and we are able to get the receipt with his logs but not the actual return value of the contract method. There was once a [proposal](https://github.com/ethereumproject/wiki/wiki/sendTransaction-return-value-proposal) to improve this back in 2015 but as it looks like did no one push it further. The cur

[2019-12-17 12:37] qqil opened #3277 "Web3.utils.BN does not exist in 'packages/web3-utils/types/index.d.ts'"
Web3.utils.BN does not exist in 'packages/web3-utils/types/index.d.ts'

[2019-12-17 14:08] piijt commented on #2749
How did you make your deployment work?

[2019-12-17 14:10] #3277 closed, assigned to nobody

[2019-12-17 18:31] michaelsbradleyjr opened #3278 "Type of callback for web3.eth.accounts.signTransaction is incorrect"
#### Expected behavior

`tsc` should consider that the type of the callback that may be supplied to `web3.eth.accounts.signTransaction` corresponds to the implementation's calls of that callback in https://github.com/ethereum/web3.js/blob/1.x/packages/web3-eth-accounts/src/index.js#L127.

#### Actual behavior

The typing in https://github.com/ethereum/web3.js/blob/1.x/packages/web3-eth-accounts/ty

[2019-12-17 20:51] piijt commented on #2863
I initially had this error, now I get this error --> npm ERR! 404 Not Found - GET https://registry.npmjs.org/TRUE - Not found

[2019-12-18 01:23] saarshah commented on #3275
Thanks for your consideration .. but Contract object does not fulfill my use case scenario... i must have to call getter function with encoded values (including its parameters...), whereas contract object need parameters values (which i have not except in encoded value) ... So, **how to decode such encoded values for my getter parameters/arguments list ?**

[2019-12-18 02:56] chanhosuh commented on #2610
@prographo according to this, it is not 1-1, even empirically:  https://medium.com/@pedrouid/chainid-vs-networkid-how-do-they-differ-on-ethereum-eec2ed41635b

[2019-12-18 09:27] DmitryPogodaev commented on #3134
@barakman hi!
Can you please give and advise?

I'm wondering, why I'm getting this error when making call of getConvertibleTokens() on 0x85e27A5718382F32238497e78b4A40DD778ab847 contract? I'm using ABI from
https://github.com/bancorprotocol/contracts/blob/master/solidity/build/BancorConverterRegistry.abi.
Meanwhile, getConvertibleToken(0) works just fine.

Web3 1.2.2

[2019-12-18 09:39] barakman commented on #3134
@DmitryPogodaev:
Funny, I'm the one who wrote this contract just a few days ago!
The abi is correct, and so is the address, so I don't see why you should be getting this error.
I'll give it a try...

[2019-12-18 09:54] barakman commented on #3134
@DmitryPogodaev:

Works fine for me:
[code]
I'm on web3.js v1.2.1, so maybe the problem is in web3.js v1.2.2.

Any chance you're using `0x85e27A5718382F32238497e78b4A40DD778ab847` not as a string?

[2019-12-18 10:09] DmitryPogodaev commented on #3134
@barakman,
Thanks for your response!
Yea, I know that you are the author, that's why I decided to ask :)

You are right. I've tried infura node and got results.
So seems that trouble in my light-client node.

Parity returning this "out of gas" error.
Geth returning timeout (5s) errors and after some count of retries it's getting a result.

[2019-12-18 10:21] barakman commented on #3134
@DmitryPogodaev:
My first thought would be that either your node or your client is unable to handle that amount of data.
The `"out of gas"` error is obviously misleading, since there's no transaction here (hence no gas required).
We've introduced `getConvertibleTokens()` just as an optimized alternative for the combination of `getConvertibleTokenCount()` and `getConvertibleToken(uint _index)` (i.e

[2019-12-18 10:24] DmitryPogodaev commented on #3134
@barakman,
Thank for your advice!

I was trying to make less calls, but if this won't work, I will try to fetch it in series.
Thanks, and have a good day!

[2019-12-18 10:25] barakman commented on #3134
@DmitryPogodaev:
You're welcome. We also have a `Bancor Developers` telegram group, where you can ask me directly.

[2019-12-18 23:23] michaelsbradleyjr opened #3281 "Should web3.eth.accounts.signTransaction convert nonce to hex?"
#### Expected behavior

`web3.eth.accounts.signTransaction` should convert tx `nonce` property to hex.

*(I'm actually not 100% sure about this, that's why the title for this issue is a question.)*

#### Actual behavior

The `nonce` property is not modified, e.g. if nonce was `123` it does *not* become `'0x7b'`.

This seems to be a changed behavior after [`v1.2.1`](https://github.com/ethereum/web3

[2019-12-19 01:53] cgewecke commented on #3281
@michaelsbradleyjr

Do you happen to have a reproduction case we could look at for the marshalling error?

Have tried to trigger it in #3282 without luck. There are passing E2E tests vs a geth instance running in `--dev` mode for nonce formatting cases [here][1]. (Geth is pulled from docker as ethereum:client-go:stable.)

Walking the code it looks like the tx object is passed to [formatters._txInp

[2019-12-19 02:21] michaelsbradleyjr commented on #3281
Right now I don't have a reproduction case that's easy to run. I can provide a bit more context and on my end will try to narrow down what's happening.

Context: https://github.com/embark-framework/embark/blob/master/packages/plugins/rpc-manager/src/lib/eth_sendTransaction.ts#L25

I'm working on a branch that upgrades web3 from 1.2.1 to 1.2.4. What I found is that unless I changed that line to wha

[2019-12-19 03:59] cgewecke commented on #3281
@michaelsbradleyjr Yes, in `accounts.signTransaction`, the formatters are run here:
https://github.com/ethereum/web3.js/blob/4d57461fe8e9d26662d5a5afc9c03f38fb7a28be/packages/web3-eth-accounts/src/index.js#L175

Logging the transaction object immediately after that for the case where nonce is not defined (and transactionCount === 0) yields:
[code]

Where nonce is a number and transactionCount is `

[2019-12-19 09:16] #3278 closed, assigned to nobody

[2019-12-19 09:17] #3270 closed, assigned to nobody

[2019-12-19 18:25] michaelsbradleyjr commented on #3281
@cgewecke thanks for much for your quick attention on this. Given the E2E test you wrote and your follow-up re: the formatter, I'm fairly confident the problem is on Embark's side of things. If you share that confidence, feel free to close this issue. I'll continue to hunt the bug, and if it turns out to genuinely be a problem with web3 I'll follow-up here or in a new issue.

[2019-12-19 18:44] cgewecke commented on #3281
Ok, sounds good. I wonder if Embark was implicitly relying on Web3 reformatting the nonce in a way that stopped with #3119 - e.g now that the tx object is `_.cloned`, the modification doesn't 'stick' on Embark's side.

If you find anything else out, please ping - thanks @michaelsbradleyjr.

[2019-12-19 18:44] #3281 closed, assigned to nobody

[2019-12-19 19:17] simassimonas commented on #3222
@munawarb @nivida  for some reason I can't install any earlier version than the 1.2.4
am I the only one having this issue?

[2019-12-19 20:17] michaelsbradleyjr commented on #3281
I found some problems in web3's signTransaction, will open a new issue.

[2019-12-19 21:50] michaelsbradleyjr opened #3283 "Bad return in web3.eth.accounts.signTransaction"
See https://github.com/ethereum/web3.js/blob/1.x/packages/web3-eth-accounts/src/index.js#L238.

The inner `signed` function returns from that `try` block, but instead it seems like it should assign the object to `result`. In the case that `return` is reached then L252 is not executed. That's what I was running into in #3281 — I finally realized when stepping through `signTransaction` in vscode's d

[2019-12-20 00:26] myq commented on #3037
@nivida The minified file in the `dist` folder still contains the call to `require()`, so it can't be used in a browser (as of version 1.2.4).

What is the best way for me to generate a minified version of 1.2.4 that works?

[2019-12-20 02:02] michaelsbradleyjr commented on #3037
@myq I tried uploading `web3.min.js` from the `dist/` folder on the `1.x` branch to codesandbox and then making use of it in a sandbox with:

[code]

It seems to work fine, i.e. in the browser console I can see there is indeed a global variable named `Web3` and `web3 = new Web3()` works.

[2019-12-20 02:32] alcuadrado commented on #3037
@cgewecke fixed this in #3261, so cloning the repo and building the minified version should work.

I'm not sure if the minified file in `dist/` should be updated before a new release though. Should it track the latest released version? I normally don't push autogenerated files, so I'm not sure what's common in this case.

[2019-12-20 15:25] sidhujag opened #3284 "update scrypt shim using maxmem fix from node >= 12.8"
referencing https://github.com/web3-js/scrypt-shim/issues/3 can we update scrypt-shim so that it uses maxmem fallback (built-in scrypt) starting from node >= 12.8?

[2019-12-20 18:44] cgewecke commented on #3283
Have opened a PR fixing the marooned callback in #3285.

Yes. This definitely needs further investigation - thanks so much for raising.

[2019-12-20 22:06] michaelsbradleyjr commented on #3284
The situation is a little weirder than that.

For Node `<= 12.0.0` it could still be valid to install the old scrypt package. Note also that the maxmem change was backported into Node 10.x as of 10.17.0 (see the [release notes](https://github.com/nodejs/node/releases/tag/v10.17.0)).

It turns out that the maxmem thing won't prevent a blow-up with some scrypt parameters that are found e.g. in go-et

[2019-12-20 23:28] ElectricBill commented on #1502
I just ran across this thread which seems incoherent.  I encountered the same problem as the OP, i.e., the RPC interface returns "invalid host specified\n"

The problem is overcome by omitting/bypassing DNS reference and directly specifying the server IP address in the client request.  The failure is exhibited regardless of the geth option: --rpcvhosts '*', which I interpret as a filter for the cl

[2019-12-21 03:25] sidhujag commented on #3284
@michaelsbradleyjr for path of least resistance there already is code that is around when maxmem is fixed (12.8), so I suggested to use that just uncomment and set the variable to 12.8. I didn't know tests still broke, so is 53 bits not enough for all cases or is it a bad test?

[2019-12-21 03:29] michaelsbradleyjr commented on #3284
You've misunderstood. Please follow the trail of links I included in my last comment, they're ordered with respect to the dates I posted those issues, newest at the top. While the maxmem bump is a nice feature, it's ultimately a [red herring](https://en.wikipedia.org/wiki/Red_herring).

[2019-12-21 03:32] michaelsbradleyjr commented on #3284
For tests to pass on this project's `1.x` branch with Node's built-in scrypt, the wallet test cases that replicate geth's non-RFC-compliant scrypt test cases will need to be removed.

[2019-12-21 03:54] sidhujag commented on #3284
thx what a mess. Hopefully we can get it back on track and remove the dependency, ultimately that is my goal.

[2019-12-21 04:39] saarshah opened #3286 "Error: Cannot have more than 45 oracles"
#### Expected behavior
Contract should be deployed
#### Actual behavior
Gives error of VM Exception while processing transaction: revert cannot have more than 45 oracles
#### Steps to reproduce the behavior

1. Download the smart contract [from Etherscan.io ](https://etherscan.io/address/0x25fa978ea1a7dc9bdc33a2959b9053eae57169b5#code)
2. Run Ganache GUI
3. Write following code to deploy the said

[2019-12-22 01:02] purplebitch opened #3287 "Broken w3.geth.txpool.content()"
### Expected behavior
`w3.geth.txpool.content()` returns a list of all full pending transactions

#### Actual behavior
When using `IPCProvider`, `w3.geth.txpool.content()` returns:
[code]

When using `WebsocketProvider`, `w3.geth.txpool.content()` returns:
[code]

#### Steps to reproduce the behavior

Just running in the terminal `python3 fileName` where `fileName` has the following code included:

[2019-12-22 01:22] purplebitch opened #3288 "getTransaction() not returning a known pending transaction"
#### Expected behavior
Calling `python3 fileName` where `fileName` includes the following code:

[code]
Should print a list of all pending transactions received in the last 3 seconds without any exceptions

#### Actual behavior
The above code instead prints the following:
[code]

#### Steps to reproduce the behavior

Run the above code

#### Versions
web3.py 5.4.0
ubuntu 18.04.3 LTS
python3.6.9
Ge

[2019-12-22 19:42] purplebitch commented on #3288
Made issue in web3.js instead of web3.py by accident
Sorry!

[2019-12-22 19:42] #3288 closed, assigned to nobody

[2019-12-22 19:42] purplebitch commented on #3287
Made issue in web3.js instead of web3.py by accident
Sorry!

[2019-12-22 19:42] #3287 closed, assigned to nobody

[2019-12-26 19:27] SpiegelSoft commented on #3018
This is still happening for me (v1.2.4)

[2019-12-28 13:24] jmahhh opened #3290 "No Bloom-related functions in web3.utils?"
#### Expected behavior
`web3.utils.isTopicInBloom` is a function, [as documented](https://web3js.readthedocs.io/en/v1.2.4/web3-utils.html#bloom-filters).

#### Actual behavior
`web3.utils.isTopicInBloom` is not a function. All bloom related functions in the documentation appear to be absent from `web3.utils`.

#### Steps to reproduce the behavior
Try to access any bloom related functions in `web3.

[2019-12-29 11:01] joshstevens19 commented on #3290
Hey thanks for raising this, it looks like it was forgotten to export these functions on the `index.js` on the utils package, this PR fixes that > https://github.com/ethereum/web3.js/pull/3291

If you're eager to use the bloom filters features and don't want to wait for a new web3 release to come out you can install `ethereum-bloom-filter` package directly. All web3js does is export functions from

[2019-12-29 11:01] #3290 closed, assigned to nobody

[2019-12-30 20:10] smithki opened #3292 "web3-eth-accounts TypeScript definition file is broken (and/or confusing)"
#### Expected behavior

TypeScript definition file should reflect that `Accounts` is the _default_ export, not a named export.

#### Actual behavior

TypeScript compiler raises an error when attempting to import `Accounts` as the default export, but we reach a runtime TypeError if we import `Accounts` as a named export.

#### Steps to reproduce the behavior

1. Try this code snippet in a TypeScrip

[2019-12-31 05:06] fulldecent opened #3293 "Add project scope"
This artifact is now about 1MB compressed. It is so large that projects are working around it and creating their own slim versions.

Could the scope of this project (what should be included and what should not) please be added to the main README? This will help stop scope creep and set a reasonable project goal that we can all work towards.

[2020-01-01 18:20] ysqi commented on #2077
@nivida  The solution also needs to attach a special case:

After the BN.js  code is obfuscated, his name is no longer 'BN', and it has become a random r or other.

test case:  nuxt+web3+truffle-Contract ,  `nuxt dev` works fine, but `nuxt start` fails after `nuxt build`.

BN isBN funcation:
[code]
I have add some code for encode funcation:

[code]

[2020-01-02 14:07] chaitanyapotti opened #3294 "decode dynamic array in a struct results in error"
#### Expected behavior

[code]

The above code shouldn't throw an error and decode parameters correctly.

#### Actual behavior
Throws an error
[code]

#### Steps to reproduce the behavior
run the above script

#### Versions
npm: 6.13.4
node: 10.16.3
web3: 1.2.4
os: all
device: all
[NPM, Node, Web3.js, OS, device...]

[2020-01-03 15:05] ameshkin commented on #1095
This did not work for me???

[2020-01-03 17:08] emilianobonassi commented on #2039
Completely agree with you @mjdietzx it's an enabler feature which could led to develop more l2 protocols on top of it.

Sign and decrypt are the basis of them.

@nivida I would like to work on it, do you have any suggestion on the workflow to follow?

[2020-01-05 17:28] woodydeck commented on #2375
Not sure why this is closed. getTransactionReceipt works, but this method doesn't pass a value. What a cluster Web3 is. All I want to do is track deposits to an address.

Rant: Why is this harder than integrating paypal? Things have to work better than Web 2.0, but the Third Web is all millennial type snowflake development of stacked libraries people didn't read, and ideas everyone thinks they are

[2020-01-05 18:23] woodydeck opened #3295 "getTransaction Breaks When Trying to Evaluate blockNumber"
This is probably related to the closed issue [#2375](https://github.com/ethereum/web3.js/issues/2375).

Using v1.2.1 I use the following code:

[code]
You would expect this to log null or undefined, but it throws ```TypeError: Cannot read property 'blockNumber' of null```. This makes it impossible to use getTransaction with polling to see if a transaction is confirmed. getTransactionReceipt seems

[2020-01-05 18:56] woodydeck commented on #3295
Please see stack https://ethereum.stackexchange.com/questions/78737/how-can-you-work-around-web3-1-0s-bug-to-check-for-transaction-confirmation/78739?noredirect=1#comment96457_78739
for what happened here.

There is a difference in possible states for getTransaction and getTransactionReceipt. I conflated the two and got confused. getTransaction can return null, pending (with blockNumber null), and

[2020-01-05 18:56] #3295 closed, assigned to nobody

[2020-01-06 09:02] nivida commented on #2039
@emilianobonassi Thanks for offering your help here! We currently do define contribution rules in PR https://github.com/ethereum/web3.js/pull/3224. Feel free to read them and to use the PR template we do provide and also don't hesitate to ask here in this issue or on your proposed PR if something isn't clear to you.

Btw.: I would recommend implementing this feature in the 1.x codebase because the

[2020-01-06 09:05] nivida commented on #3294
@chaitanyapotti Thanks for opening this issue! We will test and if required fix it asap.

[2020-01-06 09:11] nivida commented on #3293
The bundle size of web3.js will get improved with de-duplicating of the dependency tree in 1.0 and we will provide new ways to import functionalities from web3.js in the most tree shakable way with 2.0.
But we will definitely add a section to the README to explain the exact scope of this project. Thanks!

[2020-01-06 09:15] nivida commented on #3292
Thanks for opening this issue! Have you followed our TS guidance [here](https://github.com/ethereum/web3.js#usage-with-typescript) which does require additional configuration?

~~Btw.: We can't change this that easy because it would break many already existing projects.~~

Edit: Sorry, it is possible to change it in a non-breaking manner we would only have to export it named and as default from th

[2020-01-06 09:19] nivida commented on #3018
@SpiegelSoft Be sure you have updated the package-lock file of your project.

[2020-01-06 09:26] nivida commented on #3286
@saarshah Thanks for opening this issue! web3.js does act correctly and rejects the ``Promise`` on an EVM revert instruction (A improved revert handling with more details returned will get released with the next version of web3). The max. value of ``45`` oracles is defined in the contract on line ``995`` you have referenced above.

[2020-01-06 09:26] #3286 closed, assigned to nobody

[2020-01-06 10:24] #3283 closed, assigned to nobody

[2020-01-06 13:33] nivida commented on #3251
@rudreshsolanki97 Thanks for providing additional information! We will test and if required fix it asap.

[2020-01-06 13:42] nivida commented on #3257
@leon-do

No problem 👌

Thanks for doing additional tests!

I sadly also couldn't find good documentation about which JSON-RPC methods coinbase does provide over their API. I'm also not sure if they even do support any subscriptions by side of the defined one from EIP-1193 they definitely should support.
I'm closing this issue now and will try to reach out to the coinbase team and will contact you

[2020-01-06 13:42] #3257 closed, assigned to nobody

[2020-01-06 13:44] nivida commented on #3268
Closed this issue because of missing details. Feel free to tag me here with the version you are using and I will re-open this issue immediately and will do further investigations.

[2020-01-06 13:44] #3268 closed, assigned to nobody

[2020-01-07 09:09] timsankara commented on #1241
@araa47 did you happen to find a solution to this issue?

[2020-01-07 09:13] araa47 commented on #1241
@chimpyTheDev can't remember correctly, but If I am not wrong I ended up using https://github.com/esaulpaugh/headlong

[2020-01-07 09:39] timsankara commented on #1241
@araa47 I'll check it out, Thanks.

I see in many comments that web3 1.0 supports the solution to:
 `Uncaught (in promise) Error: invalid solidity type!: tuple[]`
 However I can't seem to find any documentation or implementation of the same, any lead anyone?

[2020-01-07 21:43] sirpy commented on #2602
this is caused by a bug in websocket module of react native
this PR fixes it
https://github.com/facebook/react-native/pull/27702
you can patch your react-native in the meantime

[2020-01-07 21:43] sirpy commented on #2864
bug in react native
see PR for fix
https://github.com/facebook/react-native/pull/27702

[2020-01-09 08:52] #3272 closed, assigned to nobody

[2020-01-09 13:26] nivida commented on #2864
@sirpy Thanks for proposing this PR in the ``react-native`` repository. I will close this issue now but feel free to ping me here again if the issue is still existing after the PR got merged and released.

[2020-01-09 13:26] #2864 closed, assigned to nobody

[2020-01-09 14:46] Liberalite commented on #3018
![Screenshot 2020-01-09 at 16 42 17](https://user-images.githubusercontent.com/10467398/72076973-2199d380-32ff-11ea-857d-21011db3ec62.png)

Deleted package-lock and tried npm & yarn but i still get the same errors using CRA.
Any other suggestions ? Thanks !

[2020-01-09 16:11] nivida commented on #3018
@Liberalite Thanks for asking! As it looks like is it not resolving the package entry correctly. We have defined the ``browser`` property in the [package.json](https://github.com/web3-js/scrypt-shim/blob/scope-added/package.json) of the [scrypt-shim](https://www.npmjs.com/package/@web3-js/scrypt-shim) package to fix the warning from your screenshot. If the ``mainFields`` and ``target`` property of

[2020-01-09 18:30] Liberalite commented on #3018
@nivida Can you please share some code ?
I'm failing misserably :D
I tried to add scrypt-shim, tried to add `mainFields: ['browser']` inside `resolve: {` but still get the same two errors. Cheers !

[2020-01-10 08:16] DingGeng-GitHub opened #3300 "Cannot read property 'accounts' of undefined"
web3.js：1.2.4

const web3 = require("web3");
var privateKey = "0x79e192e29236e84a060b0e0f74e4141166e41ff7bd4bf2183eef905bacd64f82";
var keystore = web3.eth.accounts.encrypt(privateKey,"123456");

请问我在调用这个方法时提示以下错误：
message: "Cannot read property 'accounts' of undefined"

请问这是什么原因？该怎么解决？

[2020-01-10 08:34] radiant-alex commented on #2826
Having same issue with `web3.eth.abi.decodeLog(CONTRACT_ABI, evenntdata, eventtopics)`
when CONTRACT_ABI has 'function' among types, check the contract `0x57ab1e02fee23774580c119740129eac7081e9d3`

[2020-01-10 09:53] nivida commented on #3300
Thanks for opening this issue! Is it possible to follow the issue template we provide and to translate your issue into English?

[2020-01-11 02:38] #3300 closed, assigned to nobody

[2020-01-11 09:58] DingGeng-GitHub opened #3305 "Error: Returned error: invalid sender"
#### Versions
NPM: 6.13.4
Node: v12.14.0
Web3.js: 1.2.4
os: win10
browser: Chrome

**Code**
[code]

**Log**
[code]

Where is the wrong,please;

[2020-01-11 13:46] khuzama98 opened #3306 "CORS header 'Access-Control-Allow-Origin' missing"
i'm facing the issue of cors on firefox but not on chrome, on digging into the error i found that this error is originated from web.js file.

![web3](https://user-images.githubusercontent.com/44345364/72205255-aec95d80-34a2-11ea-80a7-0cc2630448d2.png)

Can anyone guide me on this matter.
Thanks

[2020-01-11 19:28] vetri02 opened #3307 "type AbiInput fails on TS compliation"
#### Expected behavior
AbiItem should compile when using Typescript
#### Actual behavior
When compiling a typescript using ABI with web3-utils it fails.

#### Steps to reproduce the behavior

1. Add web3-utils to ur typescript project
2. When you define a ABI with type AbiItem and try to compile
3. it throws the above error

#### Logs
error: [app] Application is crashed: TSError: ⨯ Unable to compi

[2020-01-12 12:53] blacklistAPT commented on #2077
"OraclizeTest" -- invalid number value (arg="_amount", coderType="uint256", value={"from":"0xb5Fb3E9BB73e742689F1001C519d6763a39A4Bc5","gas":6.721976666666666e+21,"value":"1000000000000000000"}).

    at /root/.nvm/versions/node/v9.11.2/lib/node_modules/truffle/build/webpack:/packages/deployer/src/deployment.js:364:1
    at <anonymous>
    at process._tickCallback (internal/process/next_tick.js:18

[2020-01-13 03:56] fengyh13 commented on #3092
I got this error too. It happens only occasionally! And eth.subscribe('newBlockHeaders') cannot get data anymore

[2020-01-13 08:55] nivida commented on #3092
@fengyh13 Thanks for letting us know about! We do currently improve the ``WebsocketProvider`` and the handling of providers in web3.js with PR #3190 and will release the changes as soon as anything is ready.

[2020-01-13 09:02] nivida commented on #3307
@vetri02 Thanks for opening this issue! We have already updated the related type definition and will release it asap. (PR: https://github.com/ethereum/web3.js/pull/3279)

[2020-01-13 09:02] #3307 closed, assigned to nobody

[2020-01-13 09:03] nivida commented on #3306
@khuzama98 Thanks for opening this issue! Could you update your issue to be aligned with the issue template we provide?

[2020-01-13 10:30] #3306 closed, assigned to nobody

[2020-01-13 15:36] vetri02 commented on #3307
@nivida Any ETA on the release.

[2020-01-13 18:38] cgewecke opened #3308 "Re-enable Truffle E2E test"
This is a tracking issue to make sure we don't forget to begin running the E2E test which was built to validate each pull request against Truffle tsc builds and contract tests.

As noted in #3304, Truffle has reverted to 1.2.1 because truffle-contract needs changes to its emitter wrapping to correctly handle the confirmations logic fixed in 1.2.2. (See [truffle 2688][1])

We cannot inject 1.2.2 an

[2020-01-13 20:41] cgewecke opened #3309 "Survey and add tests for all error messages"
As part of 1.x stabilization, Web3 needs a good behavioral description of when and how its error messages are thrown. This is a pre-condition for any more extensive refactoring because it's common for users to grep the errors and base further logic on them. In many cases the message strings themselves have become a de-facto interface that needs to be supported.

Below is a tracking table - line nu

[2020-01-13 23:52] xumoyan opened #3310 "Types of property 'stateMutability' are incompatible. Type 'string' is not assignable to type '"view" | "nonpayable" | "pure" | "payable" | undefined'"
Types of property 'stateMutability' are incompatible.
Type 'string' is not assignable to type '"view" | "nonpayable" | "pure" | "payable" | undefined'

Error when building contract object

abi
"stateMutability": "view",
"stateMutability": "nonpayable",
"stateMutability": "pure",

[2020-01-14 10:14] nivida commented on #3310
@xumoyan Thanks for opening this issue! Could you please follow the issue template we provide with all the required points?

[2020-01-14 10:16] nivida commented on #3309
@cgewecke Great initiative! Is it planned to create a list of already tested errors here? :)

[2020-01-14 10:21] nivida commented on #3307
@vetri02 We have planned an RC release of 1.2.5 on Thursday with a testing phase of a week before we publish 1.2.5 on the latest track.

[Release Guidelines](https://github.com/ethereum/web3.js/blob/1.x/CONTRIBUTIONS.md#releases)

[2020-01-14 11:09] benjlevesque commented on #3198
I have a similar issue with `AbiCoder` in `web3-eth-abi`:

[code]
=> `web3_eth_abi_1.AbiCoder is not a constructor`

___

My suggestion is to append these 2 lines to `web3-eth-abi/types/index.d.ts`
[code]
It enables to use this code

[code]

Indeed, the JS implementation exports an instance of AbiCoder, which should be reflected by the declaration file.

[2020-01-14 12:27] xumoyan commented on #3310
just getting in touch with eth
i referenced the wrong dependency library
thank you for your answer

[2020-01-14 12:27] #3310 closed, assigned to nobody

[2020-01-14 14:40] ruzyysmartt commented on #3293
Eth:
Blockchain

More info:
Ruziisemat

 Contract 0x62991A1B4187481C8B5BB49Fa567711e09fF488D

Contract Overview
Balance:
9.722843596414808444 Ether
Value:
$1,466.69

 My Name Tag:
Ruzyysmarrt Ethereum

Creator:
0x851cc731ce1613ae4fd8ec7f61f4b350f9ce1020
Transactions
Internal Txns
Erc20 Token Txns

Txn Hash	Block	Age	From		To	Value	[Txn Fee]
0xa0e04cc6ea9d382fa24474393e2acb1884e0235ecf36640900adcbc

[2020-01-14 14:46] ruzyysmartt opened #3312 "Ruzyysmartt ethereum"
Eth:
Blockchain

More info:
Ruziisemat

 Contract 0x62991A1B4187481C8B5BB49Fa567711e09fF488D

Contract Overview
Balance:
9.722843596414808444 Ether
Value:
$1,466.69

 My Name Tag:
Ruzyysmarrt Ethereum

Creator:
0x851cc731ce1613ae4fd8ec7f61f4b350f9ce1020
Transactions
Internal Txns
Erc20 Token Txns

Txn Hash	Block	Age	From		To	Value	[Txn Fee]
0xa0e04cc6ea9d382fa24474393e2acb1884e0235ecf36640900adcbc

[2020-01-14 14:51] #3312 closed

[2020-01-14 18:54] cgewecke commented on #3309
@nivida That's a really good idea - it might be helpful to have both.

[2020-01-15 18:10] cgewecke commented on #3305
@DingGeng-GitHub

Hi, you don't need to include the chainId or nonce (or timestamp) in your transaction object. Web3 will fetch the correct values for you when running `eth.accounts.signTransaction`

(Ropsten's chainId is `3` rather than `60` and there's a complete list for Ethereum chains at [EIP155][2])

There are lots of examples of transaction signing in the unit tests [here][3] if you need ad

[2020-01-15 18:10] #3305 closed, assigned to nobody

[2020-01-15 23:34] cgewecke commented on #3309
@nivida I've updated the issue with the survey results.

From this point I could start going through in order of priority and writing tests where possible?
Probably each module would be a single PR to reduce merge conflicts and keep it simple.

Many errors are in this format:
[code]

Do you think it would be a good idea to define these in web3-core-helpers' error.js and manage all strings there?

[2020-01-16 08:26] nivida commented on #3309
@cgewecke I think it makes the most sense to have an error message in the ``web3-core-helpers`` package if they are used multiple times. But it will improve the overall error situation if we start to have them at one place for example if we would like to add web3.js error codes do we not to scan the entire code base again. So let us move them as proposed from you in an iterative sense to the ``web

[2020-01-16 08:39] nivida commented on #3309
| Nr. | Cov | Package    | File    | Line    |  PR |
| ------- | ---------- | ------- | ------- | ------- | ------ |
|       1       |    ❓   | providers-ws | index.js| 62 | Removed in #3190  |
|        2      |    ❓   | providers-ws | index.js|  203 | Different error in #3190  |
|       3       |    ❓  | providers-ws | index.js| 240 | Removed in #3190?  |
|        4      |    ❓  | providers-ws |

[2020-01-17 12:07] pavlovdog commented on #3268
@nivida hi! Sorry for the delay, I'm using the `1.2.1` version.

[2020-01-17 12:24] nivida commented on #3268
@pavlovdog Thanks for pinging me here! It should reuse the TCP connection on a nodejs environment if the [HTTP keepAlive ](https://en.wikipedia.org/wiki/HTTP_persistent_connection) configuration is set to ``true``. To achieve the same in the browser is it required to pass a custom ``keep-alive`` header to the ``HttpProvider``. How exactly custom headers can get passed is documented [here](https://

[2020-01-17 22:10] timothywangdev commented on #2211
still broken

[2020-01-18 07:09] Ankarrr commented on #2697
I'm wondering is someone implementing `web3.eth.signTypedData` ?

[2020-01-18 10:26] JoeyKhd commented on #1287
+1

[2020-01-19 23:08] youngkidwarrior commented on #3044
Does this still require a downgrade? I want to use hd-wallet-provider in my RN app, but that depends on 1.2.1 version of web3.

[2020-01-20 09:29] nivida commented on #3044
@youngkidwarrior The Truffle hd-wallet-provider should work with the latest version of web3.js. Feel free to open an issue in the Truffle repository if this isn't the case and reference this issue here.

[2020-01-20 10:06] #3010 closed, assigned to nobody

[2020-01-20 10:40] nivida commented on #1082
I've checked that closer with version 1.2.4 of web3.js and I couldn't reproduce this issue. The web3.js library keeps the passed string as it is and doesn't remove any ``0x`` prefix if passed with. Feel free to ping me here if I missed a case. @epheph @asmello.

[2020-01-20 11:15] nivida commented on #1082
@asmello I apologize for the confusion. The described behaviour in the comment of @epheph is not reproducible but there is still no validation of the inputs in 1.0 to ensure the prefix '0x' is existing. I will re-open this and immediately fix it.

[2020-01-20 12:47] MarcoMazzoni opened #3318 "Add optional privateFor to Typescript Declaration File in web3-core to support Quorum private transactions"
According to Quorum documentation [https://docs.goquorum.com/en/latest/Getting%20Started/api/](url), in order to support private transactions the `web3.eth.sendTransaction(object)` API method has been modified by adding the two following parameters to the transaction object:
- **privateFrom: String** - (optional) When sending a private transaction, the sending party’s base64-encoded public key to

[2020-01-20 13:09] Velenir opened #3319 "missing types for Subscription.on('connected')"
#### Expected behavior
[code]
would be properly typed.
#### Actual behavior

Typescript error `No overload matches this call`

#### Steps to reproduce the behavior
1 .Input `web3.eth.subscribe('newBlockHeaders').on('connected', console.log)`
2. compile with Typescript
3. see error

#### Versions
Node -- v12.14.1
web3 -- v1.2.4

I think, it should be enough to add ` on(type: 'connected', handler: (

[2020-01-20 13:14] nivida commented on #3319
@Velenir Thanks for opening this issue! We will improve the related types asap.

[2020-01-20 13:19] nivida commented on #3318
@MarcoMazzoni Thanks for opening this issue! Because the mentioned properties do not exist in the web3.js library do we recommend to use the [extend](https://web3js.readthedocs.io/en/v1.2.4/web3-eth.html#extend) method with a custom input and output formatter and your own type definitions.

[2020-01-20 13:19] #3318 closed, assigned to nobody

[2020-01-20 18:00] schmett commented on #2622
This is not a problem with ```npm```. Changing to a lower version of node -- ```node 8.10.0``` -- worked for me.

[2020-01-20 20:17] asmello commented on #1082
Thanks! Glad this is finally being looked into. I haven't touched blockchain code in a while, but I'll stick around in case I can be of any help.

[2020-01-20 21:12] theoretical2019 commented on #2738
I was bitten by this.  The use case for the smart contract developer is like this:

- (i) You have some smart-contract-specific data items, `a, b, c, d`.
- (ii) You want to serialize and hash the data in Solidity, `H_sol(a, b, c, d)`.
- (iii) You want to serialize and hash the data in JS, `H_js(a, b, c, d)`.
- (iv) For your application to function correctly, you must have `H_sol(a, b, c, d) = H_js

[2020-01-20 21:35] vporton opened #3320 "Cannot get contract events: TypeError: Cannot read property 'allEvents' of undefined"
#### Expected behavior

Print nothing.

#### Actual behavior

[code]

#### Steps to reproduce the behavior

1. Start a local Ethereum server.
2. Run my script from the attached ZIP archive.

#### Logs

[code]

#### Versions

[code]
[bug.zip](https://github.com/ethereum/web3.js/files/4087958/bug.zip)

[2020-01-21 00:30] cgewecke commented on #3320
@vporton Looked at your bug.zip and I can't reproduce the problem. Have also double-checked that allEvents work as expected. Your code looks like:
[code]
In your case, the contract object creation should be rewritten like this:
[code]

Please visit the docs for [usage][1] advice about instantiating a contract.

[1]: https://web3js.readthedocs.io/en/v1.2.4/web3-eth-contract.html

Closing b/c not re

[2020-01-21 00:30] #3320 closed, assigned to nobody

[2020-01-21 01:39] flyq commented on #2622
Yes, I fixed it using `npm 6.13.4`, `node v10.18.1`

[2020-01-21 09:08] nivida commented on #1082
@asmello Thanks! But we sadly had to add the ``hold`` label to the related PR because it would break too many already existing DApps. We will merge this fix later for version 2.0 of web3.js.

[2020-01-21 09:11] #3041 closed, assigned to nobody

[2020-01-21 10:26] nivida commented on #3225
Btw.: @cgewecke I've started to implement the whole ENS Registry API and noticed that it isn't possible to pass custom ``eth_call`` options to any getter of the ENS module which can be a required feature.

[2020-01-21 11:34] atom-yang opened #3324 "aes-(192|256)-* are not supported when encrypting wallet to keyStore or decrypting keyStore back to wallet"
#### Expected behavior

wallet can be encrypted to keyStore with `aes-256-ctr` algorithm

#### Actual behavior

`browserify-cipher` throw an error:

[code]

#### Steps to reproduce the behavior

with the code

[code]

#### Logs

#### Versions
Node: 10.16.0
System: macos
![image](https://user-images.githubusercontent.com/52150262/72801091-c31c1000-3c83-11ea-8f29-b8642043df17.png)

#### Reasons
1. i

[2020-01-21 21:38] cgewecke commented on #3324
Hi @atom-yang.

Leaving some initial triage notes here:
+ Web3 and Ethers appear to only have test cases for aes-128.
+ [browserify-aes][1] has fixtures / data for a wider range.
+  ethereum/js-ethereum-cryptography has an [AES module][2] and there's a proposal to migrate there from crypto-browserify, once the package's stability warning is removed.

Seems like at the moment web3 might only suppor

[2020-01-22 09:08] #3319 closed, assigned to nobody

[2020-01-22 10:23] BacchuRenuka commented on #1274
@frozeman though I am using this above three package I am getting same issue.

[2020-01-22 10:25] nivida commented on #1274
@BacchuRenuka Have you also tested it with the latest version of web3.js (1.2.4 or the RC version 1.2.5-rc.0)?

[2020-01-22 10:29] BacchuRenuka commented on #1274
@nivida Yes I have used 1.2.4 also getting same issue it is for all not for only eth

[2020-01-22 10:45] nivida commented on #1274
@BacchuRenuka Thanks for your quick answer. As you can see here in our e2e tests is it working as expected. By side of those test cases will the [Wallet](https://web3js.readthedocs.io/en/v1.2.4/web3-eth-accounts.html#wallet) documentation help you to find your issue.

[2020-01-22 11:20] dzabeu opened #3327 "Web3 doesn't return custom required message"
Hi

When we have a revert in a transaction, web3 throws an error, and the error message contains this revert reason.

This error happen because i have a require inside my contract, so it is correct. So, i have a question: I can't get the custom message?

For example, if i have this require below:

` function functionExample( uint256 _number) public returns (bool) {
        require(_number>10,"Numb

[2020-01-22 11:26] nivida commented on #3327
@dzabeu Thanks for opening this issue! We have added the possibility to get the revert message of a transaction with version 1.2.5-rc.0. This version will get released as a production version on Thursday if there is no show-stopper until then. You are able to activate the transaction revert handling with defining the ``web3.eth.handleRevert`` option to ``true``. The related documentation can curre

[2020-01-22 11:26] #3327 closed, assigned to nobody

[2020-01-22 11:38] dzabeu commented on #3327
Hi @nivida !!

I just downloaded the new version web3@1.2.5-rc.0, 10 minutes ago. This version doesn't have the improvement?

I put on my topic the web3 version that i have in my project
└── web3@1.2.5-rc.0

Tks

[2020-01-22 11:46] nivida commented on #3327
@dzabeu Thanks for commenting here again! I've tested it and this is actually the case. The ``1.2.5-rc.0`` tag here on GitHub, the related release [branch](https://github.com/ethereum/web3.js/tree/release/1.2.5), and the working branch [1.x](https://github.com/ethereum/web3.js/blob/1.x/packages/web3-eth/src/index.js) do have those improvements included but not the published packages on ``npm``. We

[2020-01-22 11:50] dzabeu commented on #3327
Nice, tks you @nivida . This should be the problem, because i have used npm command to update the web3 version.

Do you alert us about this update by this topic? How can i check the moment that i could use this new functionality?

[2020-01-22 11:53] nivida commented on #3327
@dzabeu Thanks for your patience! I've tested it locally in an empty testing project and was no longer able to reproduce the issue. As it looks like does the ``package-lock`` of your project overwrite the ``web3-eth: 1.2.5-rc.0`` dependency to download the ``1.2.4`` version of it.

[2020-01-22 12:05] dzabeu commented on #3327
I have deleted my package/package-lock.json and reinstall everything. But didnt work yet...

I told me that i need to use this command. Do you have some example to help?
web3.eth.handleRevert = true;

Tks!

[2020-01-22 12:15] nivida commented on #3327
Which version of the ``web3-eth`` package does get installed? The possibility is here that truffles ``package-lock`` is enforcing another version.

[2020-01-22 12:39] dzabeu commented on #3327
@nivida , only 1.2.5-rc.0:

npm list web3
└── web3@1.2.5-rc.0

Do you have an example to implement the command?

[2020-01-22 13:16] dzabeu commented on #3327
Note: The contracts were deployed on Rinkeby network.
Using ganache, for example, it is working normally (even before the update top 1.2.5...)

[2020-01-22 13:23] dzabeu commented on #3327
Now, to deploy o ganache, i needed to install truffle-wallet-provider, and now i have two version:

├─┬ truffle-hdwallet-provider@1.0.17
│ └── web3@1.2.1
└── web3@1.2.5-rc.0

But anyway, it was not working when i was using only web3 1.2.5

[2020-01-23 07:19] Vivek205 opened #3331 "How to unsubscribe to method.send ??"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior
execute any contract method
```cont method = contract.myMethod.send().on("confirmation",(confirmationNumber)=>console.log(confirmationNumber));```

how to unsubscribe when confirmationNumber = 5?

[2020-01-23 08:34] nivida commented on #3331
@Vivek205 Thanks for opening this issue! It is sadly not possible to unsubscribe within the confirmation listener or over the returned ``PromiEvent`` but you are able to configure the number of confirmations with the [transactionConfirmationBlocks](https://web3js.readthedocs.io/en/v1.2.4/web3-eth.html#transactionconfirmationblocks) property.

Could you update your issue to be aligned with the issu

[2020-01-23 10:37] nivida commented on #3324
@cgewecke

I think we should definitely give our consumers the possibility to use the highest possible AES key length.  I would also prefer to use the longer key (14 instead of 12 or 10 iterations is quite a difference) if possible.

Let us extend those test cases with all possible block/stream ciphers variants. 👌

I've asked @alcuadrado about the current state of the on-going security audit and w

[2020-01-23 11:18] nivida commented on #3324
@cgewecke Because [Trail of Bits](https://www.trailofbits.com/) is fully booked will the audit start in three weeks.

[2020-01-23 16:49] Gabriel1590 opened #3332 "Web3 doesnt work with Cloud Functions"
I´m trying to use a Cloud Function to send a transaction everytime that is new data in the datastore, first I try to obtain the GasPrice but everytime I connect to infura with web3 in the function gives me this error:

Error: Invalid JSON RPC response: ""

this is my code:

[code]

I have already updated my account to Blaze and it doesnt work either

Any solution?

[2020-01-23 18:49] #3332 closed, assigned to nobody

[2020-01-24 10:27] nivida opened #3334 "Improving of the provider related type exports"
### Expected behavior

I'm able to import all the required types for the ``HttpProvider``, ``WebsocketProvider``, and ``IpcProvider`` directly from the related package.
This will improve the TS DX because it can be confusing to import those for example ``HttpProvider`` related types (``JsonRpcPayload``) from the ``web3-core`` or ``web3-core-helpers`` package.

#### Actual behavior

``JsonRpcPayloa

[2020-01-24 10:34] Vivek205 commented on #3331
Cool! @nivida
I have made a workaround by using `.once` instead of `.on` while listening to `confirmation`.
Inside the callback, I'm using `await method.off()` to make sure, I'm not listening to it anymore.

[2020-01-24 10:36] nivida opened #3335 "Improving of the provider related TS type tests"
### Expected behavior

All types are strongly asserted in the ``dtslint`` type tests.

#### Actual behavior

In some TS type test cases, we still have ``any`` types.

#### Steps to see this behavior

1. Open the web3-provider-http-tests.ts

#### Steps for this issue

1. Check for ``any`` types in the tests and the defined types
2. Add a new type definition if required
3. Cover those type changes w

[2020-01-24 10:41] nivida opened #3336 "Analysis of the defined paths for the provided types"
### Expected behavior

The path defined for example in the ``tsconfig`` file of the ``web3-providers-http`` package is misleading and should get corrected if possible in a non-breaking manner.

#### Actual behavior

The defined path is ``web3-providers`` instead of ``web3-providers-http``.

#### Steps to reproduce the behavior

1. Open a ``tsconfig`` file from one of the provider packages and chec

[2020-01-24 11:04] nivida commented on #3331
Oh! thanks totally missed this possibility! :)
I will close this issue for now but feel free to ping me here again if you think this should get implemented by us as a clear understandable/usable feature. Additionally, would other users coming by here definitely be happy to see the code-snippet you are using :-)

[2020-01-24 11:04] #3331 closed, assigned to nobody

[2020-01-24 12:28] nivida opened #3339 "Analyse Deno compatibility"
[Deno](https://deno.land/) from @ry (Ryan Dahl) is already known as the more secure alternative to nodejs. Because the web3.js library and the created products with it are security-sensitive is an analysis of the compatibility problems required to possibly allow our consumers to use Deno in the future.

1. What isn't working as expected with Deno?
2. What are the possibilities to be compatible wit

[2020-01-25 07:49] abiaki997-tech opened #3340 ".depoly is not function"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Versions
[NPM, Node, Web3.js, OS, device...]

[2020-01-25 07:49] #3340 closed, assigned to nobody

[2020-01-25 17:09] Gennttii opened #3341 "How to send from multiple addresses to one"
How to send from multiple addresses to one, not one to one !?

@alcuadrado @cgewecke @nivida

[2020-01-26 00:18] alcuadrado commented on #3341
You could implement a contract to do that. An normal ethereum tx can only send to one address, but if that address is a contract, it can forward parts of the received ETH to different addresses. I guess there's no other way of doing that.

This is out of the scope of this project though. https://ethereum.stackexchange.com/ would be a better place to ask about how to do that.

[2020-01-26 23:11] pcowgill commented on #1707
@nivida Do you have a rough estimate for when the minor release with this change might be ready? Thanks!

[2020-01-26 23:13] pcowgill commented on #1707
It looks like this is the release to keep an eye on, right?
https://github.com/ethereum/web3.js/pull/3315

[2020-01-27 06:19] #3341 closed, assigned to nobody

[2020-01-27 06:24] nivida commented on #1707
@pcowgill Yep, it is and I will release it today. :)

[2020-01-27 09:33] nivida commented on #3228
I've updated the list above. Feel free to give feedback about the newly added comments.
By side of the small list above did we extend the list of issues and features we would like to fix and implement until and with 1.3.0:

<img width="642" alt="Bildschirmfoto 2020-01-27 um 10 31 14" src="https://user-images.githubusercontent.com/1699173/73163369-28db2280-40f0-11ea-99e4-d9c5b48b1148.png">

<img wi

[2020-01-28 07:59] gorgos commented on #1707
@nivida Does it work?

`web3.eth.handleRevert = true` gives me (with `sendSignedTransaction`) something like this without message:

[code]

Am I using it correctly?

[2020-01-28 09:06] nivida commented on #1707
@gorgos Yes, this is the currently expected behaviour for ``sendSignedTransaction``. The revert handling got implemented for ``eth.call`` and ``eth.sendTransaction`` as documented [here](https://web3js.readthedocs.io/en/v1.2.5/web3-eth.html#handlerevert) but not for the ``eth.sendSignedTransaction`` call. We will extend the revert handling with decoding of the passed signed transaction for a later

[2020-01-28 09:07] nivida commented on #1707
As an addition the workaround:
You are able to get the revert reason string also without decoding implemented. Just store the ``txOptions`` before you sign it and execute ``eth.call`` with it in the error case.

[2020-01-28 09:11] nivida opened #3345 "Extend transaction revert handling for eth.sendSignedTransaction"
#### Expected behavior

``eth.sendSignedTransaction`` should return the revert reason string as expected.

#### Actual behavior

``eth.sendSignedTransaction`` does get executed but the signed transaction doesn't get decoded to get the revert reason string as expected.

#### Steps to reproduce the behavior

1.  call ``eth.sendSignedTransaction`` and the revert instruction opcode does get called.

#

[2020-01-28 09:13] nivida commented on #3345
@gorgos As mentioned in the answer I gave you ([comment](https://github.com/ethereum/web3.js/issues/1707#issuecomment-579124737)) is this the issue to track the process of this enhancement. Feel free to propose the related PR.

[2020-01-28 14:10] #3252 closed, assigned to nobody

[2020-01-28 19:40] ilanolkies opened #3346 "Add public address getter"
https://github.com/ethereum/web3.js/blob/ee78ff70c82975b486da0e76ca29d66986d1460f/packages/web3-eth-contract/types/index.d.ts#L31

This is handy for factory testing.

[2020-01-29 08:15] nivida commented on #3346
The contract ``address`` and any other important property is accessible over the ``options`` object of the contract object as documented [here](https://web3js.readthedocs.io/en/v1.2.5/web3-eth-contract.html#options-address).

[2020-01-29 08:15] #3346 closed, assigned to nobody

[2020-01-30 05:20] antho1404 commented on #889
I also have issues when trying to call a function that contains an array as a first argument that might be related to this and could be solved by passing an object or a clear array.
eg:
[code]

[2020-01-30 11:33] ltfschoen opened #3348 "Incorrect documentation examples for web3.*.net in v1.2.5. Missing `.net`."
#### Expected behavior

When I use the web3.js documentation for version 1.2.5.
If I try this [example](https://web3js.readthedocs.io/en/v1.2.5/web3-net.html#id3) for `isListening`, I expect it to tell me to call `web3.eth.net.isListening().then(console.log);` instead of `web3.eth.isListening().then(console.log);` (i.e. `.net` is missing).
Also, I expect this [example](https://web3js.readthedocs.i

[2020-01-30 12:02] #3348 closed, assigned to nobody

[2020-01-30 23:28] simplespy commented on #1778
Did you get the same result (recovered = addr) when using 0xprivate key? Mine is still different.

[2020-02-01 15:24] barakman opened #3354 "web3.eth.getBlock("genesis") throws exception"
From [the official documentation on function `getBlock`](https://web3js.readthedocs.io/en/v1.2.0/web3-eth.html#id41):

#### Expected behavior

Calling `await web3.eth.getBlock("genesis")` should return the first block.

#### Actual behavior
Calling `await web3.eth.getBlock("genesis")` throws `Error: Given input "genesis" is not a number`.

#### Steps to reproduce the behavior

[code]

#### Version

[2020-02-02 13:14] nivida commented on #3354
@barakman Thanks for opening this issue. I will check that closer tomorrow. 👌

[2020-02-02 14:23] nivida opened #3358 "Release Process Improvements"
### Description

With the last security patch release did we all noticed that the existing release guidelines aren't prepared for such an emergency case. The goal of this issue would be to discuss this in-depth and to create a related PR with the required improvements of the release guideline. Those rules should also be defined for all EF JS Team projects (A related issue does already exist [here]

[2020-02-02 14:36] nivida commented on #3358
All of those mentioned ideas and improvements should prevent us from having long discussions on a release PR which is frustrating for the releasing contributor and the involved reviewers. :)

Edit:
[This](https://basecamp.com/shapeup/webbook) is probably a good introduction to read about the problem we have and the existing solutions with the related philosophy behind. Didn't read it completely un

[2020-02-02 16:18] lildata opened #3359 "ESM & Pika.dev support"
From what I understand the new build pipeline (https://github.com/ethereum/web3.js/pull/3160) support ESM.
I'm trying to understand how far are we to support something like Pika.dev ? (https://www.pika.dev/search?q=web3) that requires a web-optimized "module" entrypoint in `package.json` like `"module": "lib/esm/index.js"`

As you probably know, the Pika people are trying to remove a lot of pain &

[2020-02-02 16:22] cokia opened #3360 "sha3 compatibility with nodejs >13.5.0"
#### Expected behavior
Successful Build

#### Actual behavior
Error while run build script with glup

#### Steps to reproduce the behavior

1. git clone web3 repository
2. npm install
3. npm run-script build or npm run-script build-all

(same result)

#### Logs

![image](https://user-images.githubusercontent.com/24792377/73611189-9c19f280-4622-11ea-915c-7e81755c4be2.png)

#### Versions
Npm version

[2020-02-02 16:31] cokia commented on #3360
Oops, this was an error in my judgment. There was an error installing web3-bzz during npm install.

The installation process of the sha3 library fails. If you perform npm install sha3, it will install well. (If "npm install" is performed after "npm install sha3", the same process will fail.)

Also, there was no problem at all when I run "npm install web3-bzz"

[2020-02-02 16:32] nivida commented on #3359
@lildata The build pipeline improvements didn't get approved as expected and got postponed for the 2.0 version of the web3.js library. But thanks for opening this issue I will re-start the discussion about it with my team colleague @cgewecke.

[2020-02-02 16:39] nivida commented on #3360
@cokia The ``web3-bzz`` module with his dependency should get installed/linked as expected if you call ``npm install``. The post-install hook does execute ``lerna bootstrap``. The possibility is here that this issue only occurs on nodejs >13.0.0. I will investigate further. Thanks! :)

Edit:
As I can see is your local git clone behind the head of 1.x which could be the problem as well.

[2020-02-02 17:03] nivida commented on #3360
After a short try with ``13.5.0`` was it clearly visible that the sha3 dependency doesn't work as expected. I will check if this already got patched in the sha3 package itself and will go down the dependency tree after. 👍

[2020-02-02 22:44] cokia commented on #3360
Thank you for your efforts.

[2020-02-03 07:21] atom-yang commented on #3324
Thanks for supporting and sorry for no responding for about two weeks. Actually like @nivida said above, what I mean is that wider encrypt options should be supported, including `cipher` and `scrypt` options.

Thanks.

[2020-02-03 11:02] surindergiri commented on #1752
Facing same issue with Web3js version 1.2.6

`var Web3 = require('web3');
let web3 = new Web3(Web3.providers.WebsocketProvider("wss://kovan.infura.io/ws/v3/projectid")
);
var subscription = web3.eth.subscribe('logs', {
    address: ['0x8e0Df5B54737e0cF1708863826490aE00656a07b',0x3314bf4B1286F495B1fe8908F7d0f05D8818b168'],
}, function (error, result) {
    console.log('inside this fun.');
    if (!

[2020-02-03 12:43] nivida commented on #1752
@surindergiri Is it possible for you to use the [markdown](https://guides.github.com/features/mastering-markdown/) code block and to add networking information from the browser or nodejs runtime? It’s kind of hard to help you without that information. Thanks! :)

[2020-02-03 12:50] nivida commented on #3354
Hey! I've tested it with the latest version of web3.js (1.2.6) and I was able to execute the following code successfully:

[code]

Result:
[code]

I'm closing this issue now because it isn't reproducible. Feel free to drop a comment here if the issue still exists on your side also with the latest version of web3.js.

[2020-02-03 12:50] #3354 closed, assigned to nobody

[2020-02-03 13:05] nivida commented on #3360
@cokia I've checked that closer now and the related dependency from @axic [keccakjs](https://www.npmjs.com/package/keccakjs) is using a quite old version of the [sha3](https://npmjs.com/package/sha3) package. I will contact the right persons internally and will try to trigger an update of it.

[2020-02-03 13:41] barakman commented on #3354
@nivida:
No problem, but this feature is stated in the official documentation of web3.js v1.2.0, and it is (by the least) not supported in web3.js v1.2.1, so you might wanna edit the documentation and clear it up there.
Thanks

[2020-02-03 16:02] michaelsbradleyjr commented on #3360
web3's `package-lock.json` has sha3 [resolved to `1.2.3`](https://github.com/ethereum/web3.js/blob/1.x/package-lock.json#L15241-L15257).

However, the [caret range in keccakjs](https://github.com/axic/keccakjs/blob/master/package.json#L23) should allow it to be resolved to `1.2.6`, which would have the [fix from `1.2.4`](https://github.com/phusion/node-sha3/releases/tag/v1.2.4) for Node 13.x compa

[2020-02-03 16:15] nivida commented on #3360
@michaelsbradleyjr  Oh great! Thanks for your input.

[2020-02-04 13:07] holgerd77 commented on #3358
One general note: I think to some greater extend the [CONTRIBUTIONS](https://github.com/ethereum/web3.js/blob/1.x/CONTRIBUTIONS.md) guidelines for PRs and releases you guys set up already worked pretty well and show already some effect on improving the release quality.

Since the guidelines are pretty new there are likely things which are not well defined yet and need to be added, generally this w

[2020-02-04 13:17] sumitpatel93 commented on #2527
I think downgrading and upgrading shouldn't be the solution for this problem.

[2020-02-04 13:28] sumitpatel93 commented on #2445
Still facing the same issue.

[2020-02-04 17:05] nivida commented on #3358
@holgerd77
I and @cgewecke do currently work out a release and review guideline and will present it here to the community as soon as it is reviewed internally and ready. Those releases and review guidelines are inspired by the biggest JS projects we know. (informed you about this on gitter)

The mentioned release automation will be split up in clear tasks and tracked with an overall issue as [epic

[2020-02-04 19:02] nivida commented on #3358
I was the meaning in the release PR that because those implemented changes are on a patch level and definitely non-breaking would it have been possible to release the security-related changes as a patch release. The test suite we have does cover our exposed interface. The violation of the release guideline we had was that I thought we can release such a patch release also without an RC version. Th

[2020-02-04 20:58] fubar opened #3364 "Missing documentation of TS type usage"
I can't find instructions on how to use Typescript types since they were integrated in v1.2.2. In v1.2.1 I used to be able to do:

[code]

What's the equivalent in v1.2.6?

## Update

#### Expected behavior

I was migrating from 1.2.1 to 1.2.6 and all type imports broke. I was expecting to find a migration guide in the docs.

#### Actual behavior

I could not find migration instructions.

#### Ste

[2020-02-04 21:36] nivida commented on #3364
@fubar Thanks for opening this issue! We do have the current TS guidelines [here in our readme file](https://github.com/ethereum/web3.js#usage-with-typescript).

But thanks for giving us the hint about the required documental improvement. Is it possible for you to update your issue to be aligned with the issue template we provide and to add all the missing points you see from your perspective?

We

[2020-02-04 22:21] fubar commented on #3364
Thanks @nivida, I updated the issue description and added the replacements that I figured out so far.

[2020-02-04 22:27] nivida commented on #3364
Thanks for doing that! I see the types the community wrote and especially the import paths are wrong. Feel free to finish the list above or I will do it later on my own. I think the goal of this issue would be to provide a small migration script for this.

[2020-02-04 22:45] fubar commented on #3364
I've added one more, that's all I have to contribute for now. I don't think this is something that needs to be automated with a script. It would be convenient for sure but I'm sure your time is better spent elsewhere. I would think that a simple migration guide with a list of replacements like the ones I mentioned is sufficient.

[2020-02-04 23:06] nivida commented on #3364
Thanks! Yes, it doesn't look like a big list of required changes. I was expecting more. 👌

[2020-02-04 23:19] fubar commented on #3364
To clarify, I assume there are many more replacements. The ones I provided are merely the ones we are using.

[2020-02-05 08:03] cgewecke commented on #3358
This seems correct to me.

For further context, the `.rc` for all releases is a recommendation of #3070 and I think one goal there is to introduce a safety margin above and beyond traditional semver constraints because that seems appropriate for 1.x given its complex publication history, with a long beta cycle etc.

[2020-02-05 10:08] nivida commented on #3358
Thanks for your input Chris! :)

I'm not sure if I do read it wrongly but for me where we talking there about ["an RC release"](https://github.com/ethereum/web3.js/issues/3070#issue-494121179) and not RC releases. That’s why I first thought to release those improvements in one for example minor version where an RC version sometimes (especially in this case) does make sense. But because we decided

[2020-02-05 10:12] nivida commented on #3358
@cgewecke Addition:
With the wished conventional commits and automated release process through semantic-releases from the community will we have to change this anyways to be strictly aligned with the given standards the community would like to see.

[2020-02-05 15:55] keirongulrajani commented on #2211
When I've tried `importScripts` in a Web Worker using `web3.js` instead of `web3.min.js` from the node module i can see the `window is not defined` error being thrown when `register-shim` is being loaded; this is a file inside `any-promise`, and the `any-promise` library is used by `web3-core-promievent` in the current version.

The `loadImplementation()` inside `register-shim.js` is attempting to

[2020-02-06 00:05] cgewecke commented on #3358
Fair enough. I think if you look at #3070 as a detailed survey of 180 issues over 18 months you get a concrete sense of the project's complexity and how challenging it's been to develop without accidentally introducing problems.  Have uncommented one of the sections there that was omitted for clarity/brevity so the complete picture is more visible.

Slowly accumulating releases which "just work" i

[2020-02-06 07:48] nivida commented on #3358
@cgewecke Thanks for sharing your standpoint!

The out-commented list from issue #3070 is as the title is saying only 2.0 related. I've rewritten the entire library within **6 months** (not 18; includes bug fixing) and was on the same stage of stability as we are now. You are right I've introduced with the complete re-write breaking changes but those changes could have been listed with ease and ar

[2020-02-06 07:59] nivida commented on #3358
My conclusion out of your helpful view you shared and the experience I have with the functionality and architectures behind this project is still that our QA and the project management related knowledge base we have does guarantee us to be able to be aligned with ``semver`` as mentioned above from me. :)

But I think it is worth to get a third opinion from a non-involved experienced member from th

[2020-02-06 09:46] AuHau commented on #3198
Hey there,
I believe this is still an issue even with the required compiler flags. I created reproducible bug repo, just to be sure I am not missing something: https://github.com/AuHau/web3.js_types

[2020-02-06 10:05] miguelmtzinf commented on #3120
any insight about this?

[2020-02-06 10:35] digulla commented on #2826
@nivida Does my comment above contain the clarification you asked for?

[2020-02-06 11:13] holgerd77 commented on #3358
I think we are mixing very much too many things up here, and to discuss here how to proceed on 2.0 and when (and how) to get aligned with `semver` again **overloads the discussion here and will bring us too much off the track**. These things are better (and already are, e.g. in https://github.com/ethereum/web3.js/issues/3228) to be discussed in separated issues.

**Issue here is about the release

[2020-02-06 11:23] nivida commented on #2826
@digulla Yep, thanks!:)

[2020-02-07 04:15] cokia commented on #3360
https://github.com/axic/keccakjs/pull/12

The same issue in Keccakjs was PR in March/2019, but has yet to be confirmed. (Recent Commitment at DEC/2018)

I think Web3.js should clone the kecakjs that solved this problem.

[2020-02-07 13:52] michaelsbradleyjr commented on #3360
@cokia that's true but see this line in the most recent published version:

https://github.com/axic/keccakjs/blob/v0.2.3/package.json#L23

Owing to the caret range it can resolve sha3 to `>=1.2.2 <2.0.0`. Because sha3 `>=1.2.4` has the fix, then in projects with `package-lock.json` or `yarn.lock` that have the transitive dependency of keccakjs (sha3) locked to some version `<1.2.4` the thing to do

[2020-02-07 22:26] wbt opened #3370 "Error: Invalid JSON RPC response: """
I have a set of simple contracts that I am trying to deploy via `truffle migrate --reset` to a private PoA chain running on geth 1.9.10 (amd64/Win10).  I have the node with the RPC API open running in one terminal window and am running the migrate command in another window (in addition to other network nodes running elsewhere).  I am using Truffle's HDWalletProvider and referencing the server by I

[2020-02-10 03:24] pellarboss commented on #3255
We had this issue with Rinkeby, been bashing our head against the desk for days, redeployed the contract to Ropsten and it is now resolved...

[2020-02-10 14:18] wbt commented on #1651
@nivida I am observing what seems to be a similar issue with a later version, opened in #3370.  It seems to have the same or very similar stack trace and does not require a large volume of transactions (though I also recall having previously encountered the issue with a large transaction volume).

[2020-02-10 17:35] cgewecke commented on #3370
Hi @wbt

Some questions...
+ are you using Truffle migrations'  [block confirmations setting][1] to stage the transactions or a manual delay? If the latter,  does using `confirmations` instead have any effect?
+ do the deployments fail when using a single geth node (e.g in [--dev mode][2])?
+ do the deployments fail with an insta-mining ganache instance?
+ do the deployments fail with a ganache in

[2020-02-10 18:16] user535353 opened #3371 "Update websocket fork (node-gyp err output on Windows / Node 12)"
#### Expected behavior
npm install command is executed without errors

#### Actual behavior
npm install shows errors

#### Steps to reproduce the behavior
1. npm init
2. npm install web 3

#### Logs

C:\Temp\web3.test\node_modules\@web3-js\websocket>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gy

[2020-02-10 22:22] wbt commented on #3370
Thanks for responding with useful questions!

I have one answer, at least:
  -  I am not using the block confirmations setting, but a time-based delay (with `setTimeout()`).  However, based on what I was seeing in the geth node logs, I don't think using `confirmations` would have any effect as a low number of confirmations (e.g. 2) gets reached before the time-based delay expires.

I found a worka

[2020-02-11 15:45] cgewecke commented on #3371
@user535353

I see web3 installing successfully in CI on Node 12.13 / Ubuntu Xenial [here][1].

Could you see if your error persists when moving down to a slightly lower Node version? This might help to isolate the problem.

There's also [a guide to Window's specific node-gyp problems here][2] that might be useful for debugging. Could you go through that list and see if any of the suggestions reso

[2020-02-11 16:01] cgewecke commented on #3370
@wbt

Thanks for collecting all those issues. Read through a bit seems like it might be traceable to [metamask/web3-provider-engine][2]'s block polling.

There is a recommendation for improving Web3's error message in [Infura 78][1] which might be appropriate since it clarifies whether or not a disconnection has happened...

[1]: https://github.com/INFURA/infura/issues/78#issuecomment-450002372
[2

[2020-02-11 16:24] cokia commented on #3360
Oh, your solution worked for me, too! Thank you :)
Can I close this issue?

[2020-02-11 17:31] user535353 commented on #3371
just 'npm install web3'
package.json after that:
  "dependencies": {
    "web3": "^1.2.6"
  }

[2020-02-11 18:29] user535353 commented on #3371
with node v11.15.0:

C:\Temp\web3.test\node_modules\keccak>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "C:\Program Files\nodejs\node_modules\npm\node_modules\node-gyp\bin\node-gyp.js" rebuild )
gyp ERR! configure error
gyp ERR! stack Error: Command fail

[2020-02-11 18:38] cgewecke commented on #3371
@user535353 Have you looked at the windows guide referenced above? Do you have `windows-build-tools` installed as advised there?

[2020-02-11 19:12] user535353 commented on #3371
Seems, the websocket is just incompatible with most recent node.
For instance it uses 't->GetFunction()' without a parameter, but the latest version of v8 has the following definition (with a parameter):

So there is a number of errors when trying to build the websocket project:
![image](https://user-images.githubusercontent.com/60894620/74269999-863fb800-4d1b-11ea-9e83-ae9c2d8ca910.png)

[2020-02-11 19:19] user535353 commented on #3371
https://github.com/v8/v8/commit/5234d9977d637668e66b9e2e9f0456c6f97f749e

![image](https://user-images.githubusercontent.com/60894620/74270577-8096a200-4d1c-11ea-83d2-8f9f358e5ef1.png)

[2020-02-11 19:25] user535353 commented on #3371
https://github.com/theturtle32/WebSocket-Node/tree/master/src
![image](https://user-images.githubusercontent.com/60894620/74271082-5e515400-4d1d-11ea-97cf-a284b357aa19.png)

[2020-02-11 19:29] user535353 commented on #3371
So, seems, the websocket dependency needs to be updated.

[2020-02-11 20:12] wbt commented on #3370
That would, of course, depend on Web3 detecting that the empty response is due to a dropped connection.   It would also be helpful to be able to capture those errors in a reliable programmatic way (e.g. with a fixed code) so that a process can pause issuance of additional transactions, give the server some minutes to cool down, and then try again.

While I definitely agree that a more informative

[2020-02-11 22:12] cgewecke commented on #3371
@user535353 Thanks for investigating and for those links.

I'm not able to reproduce this failure for Web3 1.2.6 on either 12.14.1 or 12.16.0. Tried:

+ locally, (Mac OSX) Node  (`npm install --save web3`)
+ on Travis (Ubuntu / Xenial) (from git clone <web3 repo>) ([see here][1])

Will see if I can get a Windows job running in CI to discover if this problem is Windows specific.

[1]: https://travi

[2020-02-12 07:31] user535353 commented on #3371
@cgewecke Is there any reason to depend on '@web3-js/websocket' instead of 'websocket'?

npm install websocket - gives 1.0.31 and no errors

npm install @web3-js/websocket - gives 1.0.30 and errors

[2020-02-12 16:43] cgewecke commented on #3371
@user535353

Agree this would be the ideal solution. Would also like to be able to reproduce the error.

The origins of the Websocket fork are in:
+ [browserify compatibility][1]
+ #2976

[1]: https://github.com/ethereum/web3.js/commit/2b5dc130483834f2c2fedc4ec513fb0a576be4f6

[2020-02-13 03:21] #3360 closed, assigned to nobody

[2020-02-13 06:27] Meharab commented on #1783
### need help!!!..i am having this issues when i try to install node-gyp **3.6.2**
PS C:\Users\User> npm install --global node-gyp@3.6.2
npm WARN deprecated request@2.88.2: request has been deprecated, see #3142
npm ERR! path C:\Users\User\AppData\Roaming\npm\node-gyp.cmd
npm ERR! code EEXIST
npm ERR! Refusing to delete C:\Users\User\AppData\Roaming\npm\node-gyp.cmd: is outside C:\Users\User\AppDa

[2020-02-13 08:10] AuHau opened #3372 "Confirmation of contract's events"
Not sure if I am missing something, but is there a way how to have confirmation-delay for contract's events? I know there is `confirmation` event for the `contract.methods.myMethod().send()` function, but have not found anything similar for `contract.events.myEvent()`

Is it possible to achieve that? Or am I missing something?

[2020-02-13 11:30] nivida commented on #3371
Great they probably did improve the detection of the global object as well. Can you verify that [those changes](https://github.com/michaelsbradleyjr/WebSocket-Node/compare/master...web3-js:polyfill/globalThis) are applied @cgewecke?

Edit:
We probably have to update our fork and to publish a new version with the node-gyp fix.

[2020-02-13 11:35] nivida commented on #3372
@AuHau Thanks for asking! I'm not sure if I understood you correctly but you would like to know if the event got removed or not? If this is the case do I recommend to you to use the ``changed`` listener as documented [here](https://web3js.readthedocs.io/en/v1.2.6/web3-eth-contract.html#contract-events-return).

[2020-02-13 12:04] cokia commented on #511
I think this is a really necessary function.

[2020-02-13 12:32] AuHau commented on #3372
Hmm I see, thanks for the reply! I am new to blockchain/smart-contract development so maybe I am missing something from the big picture here.

I guess it tackles the same problem but from a different angle. I want to make sure that I can "trust" an event. I believe for normal transactions it is done with waiting for several confirmations (eq. several new blocks on the chain). For the contract's me

[2020-02-13 22:19] cgewecke commented on #3371
@user535353

Out of curiosity - does the installation succeed for you or not?

Was able to reproduce the output you posted above in this [Travis CI job][1] (Windows / Node 12.16.0 ), but installation appears to ok there. (Maybe superficially). Npm install exits 0.

Node-gyp isn't throwing a fatal error.

[1]: https://travis-ci.org/ethereum/web3.js/jobs/650176599#L32

[2020-02-14 00:37] k06a commented on #3327
I also need an example, for me it seems this option does nothing

[2020-02-14 01:58] cgewecke commented on #3327
@k06a

There are examples in the unit tests [here][1].

Those tests succeed against both ganache-cli and a geth --dev client (see [travis here][2]).

Can you identify a difference between what's done there and your case?

[1]: https://github.com/ethereum/web3.js/blob/1.x/test/e2e.method.send.js#L192-L324
[2]: https://travis-ci.org/ethereum/web3.js/jobs/646763831#L740

[2020-02-14 15:41] holgerd77 commented on #1838
Outdated, will close.

[2020-02-14 15:41] #1838 closed, assigned to nivida

[2020-02-14 15:44] holgerd77 commented on #1646
No further issue mentions for over a year, will close for now. Feel free to reopen.

[2020-02-14 15:44] #1646 closed

[2020-02-14 17:52] holgerd77 commented on #3294
Some context: tested this locally and can confirm the error message.

Error is thrown in the `ethers` (installed dependency version `v4.0.0-beta.3`) ABI decoder [here](https://github.com/ethers-io/ethers.js/blob/master/src.ts/utils/abi-coder.ts#L871).

Tried to install a newer `ethers` version (`v4.0.44`), error persists.

[2020-02-14 18:13] holgerd77 commented on #3294
@chaitanyapotti Just tested this with leaving the `nodeList` param in your JSON definition, which - read from the error message - is the cause of the problem.

This succeeds with the following output:

[code]

Are you sure the encoded hex string you provide include the data for the `nodeList` parameter?

[2020-02-15 01:07] JesseAbram commented on #535
Hey having the same issue here when trying to filter events by boolean, we moved to a uint like 0 false 1 true and it seem to have fixed itself, so it may be an issue with filtering by boolean

[2020-02-16 13:28] e00dan commented on #2697
This would be super useful as previous signing method is basically deemed deprecated as of now - at least that's what MetaMask is going to tell you when trying to use existing web3.js methods for signing.

[2020-02-17 00:10] cokia commented on #3237
https://github.com/ethereum/web3.js/blob/aaf26c8806bc9fb60cf6dcb6658104963c6c7fc7/packages/web3-utils/src/Utils.js#L140

is already exist in "feature/EIP-1193-subscriptions" branch

I think this is fully working function and it can be possible to merge,
I will make a merge of this function.

[2020-02-17 00:56] kamonwananww commented on #1752
Same issue with Web3.js v1.2.6 from nodejs. I just got only response subscriptionId.

[code]

[2020-02-17 05:08] ilanolkies commented on #3237
The problem arrives when using RSK addresses as validated parameters. For example, when using call. All functions expect Ethereum addresses even when using RSK network.

[2020-02-17 11:31] bpierre opened #3374 "Make web3.js side-effect free"
[Web3.js is modifying the `window.ethereum`](https://github.com/ethereum/web3.js/blob/a5e832fc20088cf4c4e916bc0ec3107ceb4428d0/packages/web3-core-requestmanager/src/givenProvider.js#L44-L45) object, which can cause different issues with other libraries trying to interact with `window.ethereum`.

I think `window.ethereum` should be considered immutable, and any modification to its API, if needed, s

[2020-02-17 18:31] cgewecke commented on #1752
@kamonwananww

Have added a couple tests in #3375 to make sure this subscription works as expected using local clients and am seeing everything pass.

This suggests that the problem is most likely related to the reliability of Infura's (and sometimes geth's) websockets, which have a history of dropping connections.

On Web3's side, errors have not been fired correctly when this happens. That probl

[2020-02-17 18:56] cgewecke commented on #3374
@bpierre Have some further questions about this...

Could you go into greater detail about what issues you're seeing / give an example?

Could you clarify this as well? `window.ethereum` is Metamask's API - they are establishing its identity and as the code you've linked to shows, Web3 isn't directly modifying that key.

For further background, there's also an effort underway to formalize the ethe

[2020-02-17 19:38] bpierre commented on #3374
An app or library should expect Metamask to provide the `.send(method, params)` API, but this wouldn’t work since web3.js replaces `ethereum.send` by `ethereum.async`.

We could also imagine a library relying on `sendAsync` that would suddenly stop working after the web3.js dependency gets added to a project, [since web3.js attempts to delete it](https://github.com/ethereum/web3.js/blob/620c0ba7cd

[2020-02-17 19:47] cgewecke commented on #3374
Ah! Thanks...will investigate this.

[2020-02-17 22:45] cgewecke commented on #3371
@user535353 Have reproduced the error you're seeing in a [Windows 10 / Node 12 container on Travis][1]. It only appears in the Windows node-gyp output, Linux and OSX are clean.

Additionally, Web3 installs without obvious problems in the test. NPM completes successfully, and the lib is able to open a Websocket connection to Infura / fetch a block. So this doesn't *look* critical - e.g Windows / No

[2020-02-18 13:24] keirongulrajani opened #3377 "web3 -- Web Worker environment still is not supported in 1.2.4"
Hi all,

`1.2.4` (and/or its dependencies, e.g. any-promise) seems to have dependencies on "window" instead of "self" which prevents it working in a Web Worker context.

When I've tried `importScripts` in a Web Worker using `web3.js` instead of `web3.min.js` from the node module i can see the `window is not defined` error being thrown when `register-shim` is being loaded; this is a file inside `an

[2020-02-18 22:08] cgewecke commented on #3374
For further background, per this [Metamask breaking change notice][1] there is an interim 6 week period where Metamask will continue to inject web3 while it rolls out the `ethereum` API.

I *think* at the end of this the following should hold (and side-effects for the MM case should disappear):
[code]

There's additional info about MM no longer injecting Web3 in this [Metamask blog post][3]).

If

[2020-02-19 08:32] Troublor opened #3379 "eth_getLogs: invalid argument 0: hex number with leading zero digits"
#### Expected behavior

Event listeners should work as expected

#### Actual behavior

Sometimes, especially when `eth.blockNumber < 0x10`, when an event is emitted in smart contract, error shows up on Geth console, saying
[code]
and the event listener does not work.

#### Steps to reproduce the behavior

1. Initialize a new private blockchain using geth, and make it only have less than 16 blocks.

[2020-02-19 08:35] Troublor commented on #3379
I checked when `eth.blockNumber >= 0x10`. It seems there's no such problem.

[2020-02-19 09:10] Troublor commented on #3379
Judging from the JSON-RPC Http package, I suspect there is a bug in web3.js when trying to fill the `fromBlock` field of `eth_getLogs` JSON-RPC, which is failing to strip prefix zeros.

[2020-02-19 18:08] smithki opened #3380 "Web3 constructor does not accept custom/non-standard providers in TypeScript"
#### Overview

Related to https://github.com/ethereum/web3.js/issues/2266

There should be a way to overload the TypeScript definition of `Web3` constructor to accept custom providers. I've tried everything, even [declaration merging](https://github.com/Microsoft/TypeScript/issues/14080) won't work. The easiest solution I foresee, which would not be a breaking change, is to provide a basic `Provid

[2020-02-19 18:12] smithki commented on #3292
I see this as a _bug_, though. Considering the expected behavior does not currently work, I do not understand how it can be considered a breaking change. Thankfully, there is a workaround using declaration merging:

[code]

[2020-02-20 10:36] nivida commented on #3379
Thanks for opening this issue! We will check that closer asap.

[2020-02-20 10:37] nivida commented on #3377
Thanks for opening this issue! We will fix this asap.

[2020-02-20 10:40] nivida commented on #3372
Thanks for your response! You could achieve this with starting of a [newBlockHeaders](https://web3js.readthedocs.io/en/v1.2.6/web3-eth-subscribe.html#subscribe-newblockheaders) subscription.

[2020-02-20 10:40] #3372 closed, assigned to nobody

[2020-02-20 11:26] Troublor commented on #3379
@nivida By the way, I used MetaMask as ethereum provider by `const web3 = new Web3(ethereum);`. I am not sure if this problem is induced by MetaMask or not.

[2020-02-21 06:49] nivida opened #3382 "Adding of a code of conduct"
## Description

A well-described code of conduct is required to have the technical discussions here as polite as possible.

- [Etherem JS Code Of Conduct](https://ethereumjs.readthedocs.io/en/latest/code_of_conduct.html#code-of-conduct)

The web3.js code of conduct should be compatible with the EthereumJS code of conduct and added to the contribution guidelines.

[2020-02-21 09:43] vinhyenvodoi98 opened #3384 "[BUG] getblockNumber function cannot get adjacent blocks."
I use an interval loop (1s) in javascript to call getBlockNumber. but it cannot return adjacent block number. but if I use rpc api then it can return consecutive numbers

# Steps to reproduce the behavior
To easily reproduce I use tomochain because this blockchain can create blocks in 2s
url : https://rpc.tomochain.com
chainID: 88
(You can use the ethereum mainnet but it will take more time to rep

[2020-02-21 11:26] soumyaniljana commented on #2915
confirmed v1.3.7 works.

[2020-02-21 15:04] jo-es commented on #3093
Is this implemented in 1.x? Still having problems when executing sendSignedTransaction on ganache. Setting `web3.eth.transactionConfirmationBlocks = 1` did not resolve my issue either.

[2020-02-21 20:05] olalonde opened #3385 "Use JavaScript BigInt for big integers?"
Now that JavaScript support big integers natively, is there any plan to use them in a future release of web3? It would make it a lot easier to work with amounts rather than passing strings / objects around.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt

[2020-02-21 20:29] alcuadrado commented on #3385
Hey @olalonde,

This is a personal dream of mine, but unluckily, they can't be used yet.

JavaScriptCore (Safari's js engine) has no support for native BigInt. This is incredibly problematic, as every browser is forced to use Webkit and JavaScript core in iOS.

[2020-02-22 09:12] dapplion opened #3386 "Typescript compilation error regarding a bignumber.js import"
#### Expected behavior

Build web3 with typescript without errors

#### Actual behavior

[code]

see this Github Action to reproduce, logs, and configuration
https://github.com/dapplion/web3-tsc-test/runs/461815145

[2020-02-23 10:50] SvenMeyer commented on #3327
I use web3@1.2.6 and still can not see a revert message.

[code]
web3.eth.handleRevert = true

err.message = Error: [ethjs-rpc] rpc error with payload {"id":8485727948832,"jsonrpc":"2.0","params":["0xf901cb13830f4240833d0900949eafc37a5d473c5c0c9532bcb54104dcf72ee28280b9016459a4a6bd00000000000000000000000000000000000000000000000000000000000000a00000000000000000000000000000000000000000000000000de0b6

[2020-02-23 13:52] Lipingchang commented on #2814
really thank you!

[2020-02-23 17:26] rlaace423 opened #3388 "Couldn't connect to node on WS (using getBlock method at #599275 ropsten)"
#### Expected behavior
fetch block information

#### Actual behavior
Error with message like
![image](https://user-images.githubusercontent.com/5516480/75116518-8beab580-56ac-11ea-830e-12773db383f0.png)

#### Steps to reproduce the behavior

1. create new web3 object with WebsocketProvider
2. call getBlock function like below
   web3.eth.getBlock(599275, true);

#### Logs

#### Versions
nodejs : v

[2020-02-23 17:26] rlaace423 commented on #3388
I think in 599275, there's 1077 transactions in it. Is there any way to overcome it?

[2020-02-24 10:06] kolya182 commented on #2885
@nivida `.add` method requires `Method` argument type, where is this example up to date ?
[code]

[code]
web3 1.2.6

[2020-02-24 10:09] kolya182 commented on #2885
@nivida `.add` method requires `Method` argument type, is this example up to date ?
[code]

[code]

TS gives warning when i do this
[code]
[code]
web3 1.2.6

[2020-02-24 11:05] holgerd77 commented on #3385
Will close here again for the moment, would nevertheless agree that it would be wonderful to be able to support native big integers at some PIT.

[2020-02-24 11:05] #3385 closed, assigned to nobody

[2020-02-24 12:42] VladoDemcak commented on #3379
Maybe I am facing the same issue here. I've created the [post on stackoverflow](https://ethereum.stackexchange.com/questions/80029/web3js-events-fromblock-0-doesnt-work) as well so more details about the problem I am facing is described [here](https://ethereum.stackexchange.com/questions/80029/web3js-events-fromblock-0-doesnt-work).

I am using `WebsocketProvider` and `quorum-v2.4.0` and `web3js 1

[2020-02-24 13:06] VladoDemcak opened #3389 "WebsocketProvider with `fromBlock` doesnt return events from the past"
Maybe I am facing the same issue as described here: https://github.com/ethereum/web3.js/issues/3379.

**Current behaviour**
When I am subscribed I get only events from last block. Eg if there are events in block 0,1,2,3 and I set `fromBlock`: 0 and the current block is 3 I get only events from block 3 and not from 0.

**Expected behaviour**
Once I am subscribed and I specify `fromBlock`: 0, I shou

[2020-02-24 18:41] VladoDemcak commented on #3389
@frozeman - Could you help me with this please?

I found your commit from 2016 :D where the part with deleting `fromBlock` from params in subscription has been added. I still dont have clue why it's here. When I comment it out the subscription for events takes `fromBlock` correctly. otherwise it takes only the latest block.

Here is the commit: https://github.com/ethereum/web3.js/commit/23f428b096

[2020-02-24 18:47] cgewecke commented on #3389
@VladoDemcak Thanks for opening and investigating - will look at this today along with #3379.

[2020-02-24 19:44] cgewecke commented on #3386
@dapplion Thanks for reporting. Have opened #3390 to resolve this.

An interim fix is to install bignumber.js as a dependency in your project.

[2020-02-24 20:22] cgewecke commented on #3388
@rlaace423 Can confirm that Ropsten 599275 is a problem when calling Infura over Websockets with:
[code]

This looks like it works:
[code]

It also works for full tx objects using an Http provider instead of Websockets.

Are either of those  options for you?

[2020-02-24 20:48] cgewecke commented on #3388
@rlaace423 Actually, just got it  to work as expected by using a suggestion in this [#1217 comment][1].

It's possible to set the websocket frame size limits larger when instantiating the provider,
[code]

This needs to be added to the documentation.

[1]: https://github.com/ethereum/web3.js/issues/1217#issuecomment-425956862

[2020-02-24 23:41] cgewecke commented on #3379
@Troublor

I wasn't able to reproduce this using `'genesis'`.

It does seem like an issue if you use a hex string as the argument to `fromBlock`, but that's not really one of the [supported formats][2]
[code]

In your wireshark output I see...
[code]

Are you setting that `0x05` yourself?

[2]: https://web3js.readthedocs.io/en/v1.2.6/web3-eth-contract.html#contract-events

[2020-02-24 23:57] cgewecke commented on #3389
@VladoDemcak I've tried to build a reproduction for this in #3391 but it looks like everything works...

The case replicates what you've described here, (using Geth stable (1.9), mining at 2 second intervals):

The Travis CI output for it is [here][1].

Does that example +/- model your request correctly?

[1]: https://travis-ci.org/ethereum/web3.js/jobs/654658614#L738-L810

[2020-02-25 00:02] cgewecke commented on #3384
@vinhyenvodoi98 I'm not able to reproduce this problem - have had no problem getting correct sequential block numbers.

Could you double-check your code and/or generate a more complete description of how to simulate the error (perhaps using Infura?)

Closing for now - can't reproduce.

[2020-02-25 00:02] #3384 closed, assigned to nobody

[2020-02-25 00:34] dapplion commented on #3386
Thanks for pushing a fix fast. Adding `bignumber.js` as a direct dependency also fixed the problem in my case.

[2020-02-25 05:38] Troublor commented on #3379
@cgewecke I didn't set the `fromBlock` using hex string. I simplified the steps of reproduction as follows:
1. Initialize a new private chain using `genesis.json`:
[code]
I allocated some balance to this account `2ecB718297080fF730269176E42C8278aA193434`, which will be used later to send transaction.

2. Start geth console:
[code]

3. Connect to private chain using MetaMask:
[code]
Reset the MetaM

[2020-02-25 08:15] rlaace423 commented on #3388
@cgewecke Thank you for your help!

In my situation, I can't handle Web3 constructor because it resides in 3rd party library (https://github.com/bitpay/bitcore).

Also, I've already tried https://github.com/ethereum/web3.js/issues/1217#issuecomment-425956862, but had no luck.

[2020-02-25 08:43] cgewecke commented on #3388
@rlaace423 I just ran this script and it worked...

**index.js**
[code]
**Run**
[code]

Could you double-check that?

Do you mean you can't configure the provider?

[2020-02-25 09:49] teawaterwire commented on #3389
i also have this issue of the `fromBlock` being ignored when calling `contract.events.Transfer` (weirdly enough it's on the "Transfer" event of an ERC20 contract)

in my case i'm connected to the Portis provider on Rinkeby, but i'm passing a `filter` parameter (maybe the one difference with your test @cgewecke ?)

[2020-02-25 09:59] #3377 closed, assigned to nobody

[2020-02-25 10:17] cervoneluca opened #3392 "web3.eth.ens.getContent seems to do not work properly"
#### Expected behavior

Given a ENS name that has an associated content, I should be able to receive the content hash when I call the web3.eth.ens.getContent('myName');

#### Actual behavior

I run this code (in typescript)

[code]

The above code returns the following error:

[code]

I attach a screenshot  proving that the name as an associated content

<img width="1379" alt="Schermata 2020-02-25

[2020-02-25 10:25] holgerd77 opened #3393 "Move from Travis to GitHub Actions"
There was the suggestion by @ryanio in [this comment](https://github.com/ethereum/web3.js/pull/3376#issuecomment-590454282) to move the CI to GitHub Actions, being currently run on Travis, this was perceived positive by @cgewecke.

I would tend to give this some stronger priority cause I think workflow of bringing PRs up-to-date and have the checks pass to be mergeable would profit a lot by CI bei

[2020-02-25 10:30] holgerd77 commented on #3393
Ah, just remember, there was this eventual limitation to Action runs on the `ethereum` GitHub organization (can't find the reference atm). Any new information on this?

[2020-02-25 11:04] holgerd77 commented on #3393
Update: @ryanio if you want you can nevertheless do a draft PR on this just to see and get a feel how things behave.

[2020-02-25 11:48] holgerd77 commented on #3386
Fixed by #3390

[2020-02-25 12:27] holgerd77 commented on #3392
Just tested this locally, can confirm the error message posted.

[2020-02-25 12:45] holgerd77 commented on #3392
Not such an ENS-pro, just jumping through the RPC calls by adding some `console.log` statements [here](https://github.com/ethereum/web3.js/blob/1.x/packages/web3-providers-http/src/index.js#L110) within the HTTP provider code to get `payload` and `result` from the calls done (I think) in the [Resolver](https://github.com/ethereum/web3.js/blob/1.x/packages/web3-eth-ens/src/lib/ResolverMethodHandler

[2020-02-25 12:52] holgerd77 commented on #3392
Error is thrown [here](https://github.com/ethereum/web3.js/blob/ccc229e03edf805498d67ecbacbf69b0cec82e56/packages/web3-eth-abi/src/index.js#L238) in the ABI code with `bytes` being an empty string.

[2020-02-25 12:57] holgerd77 commented on #3392
Latest call goes to the ENS contract: https://etherscan.io/address/0x4976fb03c32e5b8cfe2b6ccb31c09ba78ebaba41

[2020-02-25 12:57] holgerd77 commented on #3392
Ok, will stop here for now.

[2020-02-25 13:07] cervoneluca commented on #3392
So, it seems to be actually a Web3.js bug, I'm I right?

[2020-02-25 13:33] holgerd77 commented on #3392
No, I wouldn't confirm this yet.

Have some more time, will do some further analysis, this needs eventually to be continued.

The address from above (`0x49...`) isn't actually the main (new, post bug fix) ENS address, which is: `0x00000000000c2e074ec69a0dfb2997ba6c7d2e1e`

Instead this address is derived from the 4th `eth_call`, which provides the address as a result:

[code]

Just stating for the

[2020-02-25 13:38] holgerd77 commented on #3392
I wonder if the `0x49` address is the address of the old public resolver and this might be wrong and it should rather be the new resolver address (see [docs](https://docs.ens.domains/ens-migration/technical-description#public-resolver)) returned? Not confirmed though.

[2020-02-25 13:59] cervoneluca commented on #3392
I have successfully changed the resolver to the new one, as it is possible to see in the screenshoot and also confirmed by executing this line of code (that returns now 0xDaaF96c344f63131acadD0Ea35170E7892d3dfBA):

[code]

However, the error is always there

<img width="1438" alt="Schermata 2020-02-25 alle 14 57 54" src="https://user-images.githubusercontent.com/3637606/75253650-3e229a00-57df-11ea

[2020-02-25 14:21] VladoDemcak commented on #3389
@cgewecke Thanks for your effort.
Is your test case isolated from the others? Could you please retest the issue with steps on kovan network I am describing below?

I've tested it on [**kovan network** ](https://kovan.etherscan.io/) and it doesn't return any events from the past when I create subscription for `Transfer` events.

I deployed my custom `SimpleToken` on address [0xaA8f1B72Ac1c9769D25a9

[2020-02-25 17:17] VladoDemcak commented on #3389
I observe this problem on:

- quorum-v2.4.0
- TESTNET Kovan
- Ganache on Mac v2.1.2

[2020-02-25 17:55] cgewecke commented on #3389
@VladoDemcak Are you able to provide a super simple example using just a node.js script and ganache (or as a mocha test)? Something similar to the tests we have in the test suite here? #3391 also worked for ganache on my end...

Infura's websockets are known to be quite fragile. There are lots of dropped connections and sometimes swallowed errors. (A PR is open at #3190 to try to remedy this in se

[2020-02-25 18:30] VladoDemcak commented on #3389
@cgewecke
This is super weird.

I will try to create some super simple example but everything is in `const run = async () => {` in my example from above comment.

Could you please verify/answer following:
1. Do you have fresh, clean and new workspace in ganache?
2. Do you have new ERC20 Token deployed?
3. Do you call `contract.getPastEvents('Transfer'` or something else before subscribing to `cont

[2020-02-25 18:52] cgewecke commented on #3389
@VladoDemcak I haven't run a `transfer` specific example because the issue you've raised is about `fromBlock` which should work the same for any event.

One way forward might be to express this problem in terms of Web3's E2E tests which try to be as minimal as possible...then work backwards to your specific case and identify the differences.

You should be able to clone Web3, install and run the E

[2020-02-25 19:20] VladoDemcak commented on #3389
@cgewecke Thanks.

yes I saw the `events tests` and I am trying to run it locally.

my current suspicion is that in `events tests` the `Basic` SmartContract is being deployed via web3 and tests hold the instance
[code]

In my case I deploy my contract via truffle and the instance is created based on abi and `contract_address`.
[code]

[2020-02-25 20:17] cgewecke commented on #3379
@Troublor Thanks for producing that example.

Have a further simplified this case as a geth unit test PR #3394. It passes, successfully reporting an event from block number 5 on Travis [here][1]. (See logged output).

The test is:
+ running on a geth instance with the `--dev` config and websockets enabled, at 20s mining interval
+ connecting to geth via WebsocketProvider (this is the principal mod

[2020-02-25 23:38] cgewecke commented on #3392
Looked at this a bit and think it is a Web3 bug.

There's been an API change at ENS for this method...

If you:
+ swap the [Resolver ABI][2] which ships with Web3 for the ABI published on Etherscan at [0xDaaF96c344f63131acadD0Ea35170E7892d3dfBA][1]

+ modify Web3's ens.getContent method to call the Solidity method `contenthash` here
  https://github.com/ethereum/web3.js/blob/ccc229e03edf805498d67e

[2020-02-26 04:19] rlaace423 commented on #3388
I found that I only tested with maxReceivedFrameSize, and I figured out maxReceivedMessageSize must be used together! I works like a charm :)

And, yes, I cannot configure the provider. But I can pull-request this.

Thank you!

[2020-02-26 06:37] cervoneluca commented on #3392
Thank you @cgewecke ! I'll try to solve it with the steps you described!

[2020-02-26 06:59] jmahhh commented on #3327
I'm not sure this issue should be closed. Facing the same as above, attributes do not exist, on 1.2.6.

**Edit:** spoke too soon. @svenmeyer @k06a @dzabeu not sure what your setup is, but I can see `reason` if I `JSON.stringify` the resulting error, whether in a try-catch or in `.on('error', ...)`

[2020-02-26 08:49] Troublor commented on #3379
@cgewecke Indeed, the issue does not exist with websocket provider. Its seems like this is an issue in the provider offered by MetaMask. MetaMask doesn't support websocket provider yet. I might consider report this issue to MetaMask.

Thanks for your effort.

[2020-02-26 09:06] holgerd77 commented on #3392
Short correction: this is actually longer than 32 bytes, in this case 38 bytes.

Dropped on this to count by skimming through [this article](https://medium.com/the-ethereum-name-service/the-new-ens-manager-now-supports-eip1577-contenthash-82e2d6724fae) ("The New ENS Manager Now Supports EIP1577 contenthash") by the ENS team giving some context on the `contenthash` introduction.

There it is stated

[2020-02-26 11:06] SvenMeyer commented on #3327
somehow remix as well as etherscan manage to get that information out of transactions, but I still haven't managed that with web3 ...
@jmahhh ok, thanks, I will give that a try

[2020-02-26 14:58] VladoDemcak commented on #3389
@cgewecke

I've prepared repo where you should be able to replicate the problem. Please follow instructions in README. https://github.com/VladoDemcak/eth-subscribe-debug
I also added screenshots of 3 terminals where you can see what was going on.

I think your tests work because there is the instance of contract which is used also for subscribing. And this instance has some attributes (or is in di

[2020-02-26 17:08] cgewecke commented on #3379
@Troublor Thanks for reporting and figuring this out! I'm sure other people will run into this as well.

[2020-02-26 17:08] #3379 closed, assigned to nobody

[2020-02-26 20:21] cgewecke commented on #3392
@holgerd77 Thanks for finding that blog post! That's the missing puzzle piece :)

Yes, I think the resolver address is obtained per ens name, and the resolver contract instance is instantiated in `contracts/Registry.js` like this:

https://github.com/ethereum/web3.js/blob/ccc229e03edf805498d67ecbacbf69b0cec82e56/packages/web3-eth-ens/src/contracts/Registry.js#L525-L532

So, following your analysis

[2020-02-26 21:14] VladoDemcak commented on #3389
@teawaterwire Can you share your code?

[2020-02-26 21:42] holgerd77 commented on #3392
@cgewecke hmm, not sure about the ABI switch via method, "getContent" is also present on the new resolver, wouldn't this then be the wrong ABI and shouldn't therefore the ABI taken depending on the resolver?

Or, haven't looked how this is implemented, but can't we just switch completely to the new resolver and take the new ABI accordingly?

[2020-02-26 22:20] cgewecke commented on #3392
Ah weird - the ABI I copied from etherscan for the resolver at [0xDaaF96c344f63131acadD0Ea35170E7892d3dfBA][2] *doesn't* have the old method, called "content". It only has "contenthash". (ABI is in a [gist here][1]).

There's a contract marked "ENS Old Resolver" on Etherscan at [0x1da022710df5002339274aadee8d58218e9d6ab5][3] for comparison. It looks like it only has "content".

Are you seeing both

[2020-02-27 04:14] vinhyenvodoi98 commented on #3384
@cgewecke sorry about no live demo for you
live demo : https://dht11-5a0f1.firebaseapp.com/

**Note for live demo**
Please create new network in your metamask ( Tomochain Mainnet maybe ) and input same chain url

github : https://github.com/vinhyenvodoi98/Web3_blockNumber_bug_report

This time i try deeply research about why i have this bug and found that it not from rpc API it from web3.provider

[2020-02-27 04:29] cgewecke commented on #3389
Ai!! That's really weird. Thanks for making the repo, will take a look tomorrow and see if anything jumps out.

[2020-02-27 05:50] ketan18710 opened #3395 "Error: Transaction was not mined within 750 seconds, please make sure your transaction was properly sent. Be aware that it might still be mined!"
This my delpoy.js file:
[code]
Output:
[code]

[2020-02-27 11:19] holgerd77 commented on #3392
Ah no, sorry, that was an unproven assumption by me, thought it wouldn't be removed if in a deprecated state, but eventually deprecated in this context means: it can still (and only) be used via the old resolver contract. Sorry for the confusion.

To decide on the resolver ABI by function name doesn't seem like a robust solution to me, this would lead to erratic decisions when a shared (between ne

[2020-02-27 13:41] dzabeu commented on #3327
Hi everybody!

I found it, and the article said that this is not work when you try to use with "sendSignedTransaction" function, that is right?

I`m using  sendSignedTransaction.... maybe this is the reason that didn't work to me.

link:

https://www.soliditydeveloper.com/web3-1-2-5-revert-reason-strings/

[2020-02-27 17:44] cgewecke commented on #3392
This is a good point. Also looks like the resolver implements EIP 165 (interface detection) `supportsInterface` - there might be several options here to see if the call is valid...

[2020-02-27 20:01] gromovadarya90 opened #3396 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:04] #3396 closed

[2020-02-27 20:09] cgewecke commented on #3395
@ketan18710 Yes, I see the transaction was broadcast on [etherscan here][1]. Not sure what happened, maybe Rinkeby is having some network difficulties.

Closing because there's no question here and it's not clear Web3 is directly at issue.

Please feel free to ping after reformatting your opening comment using the issue template and I will re-open if it seems like there's a bug Web3 can address.

[2020-02-27 20:09] #3395 closed, assigned to nobody

[2020-02-28 04:50] x5engine commented on #3018
I still get the issue too

![image](https://user-images.githubusercontent.com/12363020/75511342-43096880-59ee-11ea-9ced-806eb5881a14.png)

[2020-02-28 04:52] VladoDemcak commented on #3389
@cgewecke were you able to replicate the issue on your side?

[2020-02-28 05:08] gjgd commented on #3018
Same ^ It came back

[2020-02-28 07:37] cgewecke commented on #3018
@gigd @x5engine Could you run `npm list web3` or `yarn list web3` in your project and show the dependency tree? It's possible you have a Web3 version lower than 1.2.2 somewhere.

For example, [here's someone in a webpack issue about this topic 7 days ago][1] noting that @truffle/contract depends on 1.2.1.

[1]: https://github.com/webpack/webpack/issues/196#issuecomment-589590774

[2020-02-28 07:49] cgewecke commented on #3389
@VladoDemcak Yes I was, thanks for making such a great reproduction.

Still investigating and your suggestion about whether the socket is connected seems like it would make sense.

However, I'm seeing the initial request for `eth_getLogs` [here][1] execute correctly in the "non-working" example. It just returns fewer logs in ganache, and *no* logs on geth unless a previous call has been made.

In

[2020-02-28 08:04] VladoDemcak commented on #3389
Exactly! Thanks for re-testing.

 If you will find any solution let me know and I'll test it. Meanwhile I will try to do something as well.

[2020-02-28 08:19] gjgd commented on #3018
I didn't know about `npm list web3` that's an awesome feature! Indeed the dependency tree shows versions of both web3@1.2.1 and web3@1.2.2.

That solves it for me

[2020-02-28 08:49] cgewecke commented on #3389
@VladoDemcak When I wrap the `delete` block statement you initially flagged as a problem in a 150ms timeout (here)

https://github.com/ethereum/web3.js/blob/ccc229e03edf805498d67ecbacbf69b0cec82e56/packages/web3-core-subscriptions/src/subscription.js#L246-L247

...it works.

It must be a race condition caused by latency setting up the initial Websocket connection. By the time the first request get

[2020-02-28 09:50] holgerd77 commented on #3389
@cgewecke Thanks for this in-depth analysis, great 😄, will close here.

[2020-02-28 10:00] cokia commented on #3237
There are two problems that I have identified now.

1. isadress function does not distinguish between chainid [30,31] (RSK Testnet/RSK Mainnet)

2. isaddress function is connected to the Ethereum mainnet node, and the RSK mainnet/testnet address also returns true.

The proposal you want to ask is number two or number one?

[2020-02-28 10:45] VladoDemcak commented on #3389
@holgerd77 why did you close the issue? Are you guys going to fix it somewhere?

[2020-02-28 10:47] nivida commented on #3393
@holgerd77 This issue can probably get closed: https://github.com/ethereum/web3.js/issues/3034

[2020-02-28 13:03] holgerd77 commented on #3034
Will close in favor of #3393

[2020-02-28 13:03] #3034 closed, assigned to nobody

[2020-02-28 13:04] holgerd77 commented on #3389
@VladoDemcak Sorry, I might have misread the last comment from @cgewecke, will re-open for now.

[2020-02-28 13:44] ilanolkies commented on #3237
2. I think...

I don’t think is a question. This is more like a proposal. @nivida got my idea and tagged feature request

[2020-02-28 14:28] VladoDemcak commented on #3389
@holgerd77 @cgewecke Guys, I honestly appreciate all your effort you put into this. Do you have any plans to fix it any time soon?

I am asking if we should stay with the `getAccounts()  / getBlockNumber() / getGasPrice()` workaround before creating an event subscription or you have a solution for this problem and we will wait for that fix?

[2020-02-28 16:11] ilyador opened #3397 "isConnected() and isListening() don't exist anymore, so what is the correct way to check for an initial connection?"
I'm using Metamask and I want to show an error in case the browser does not have it.
I tried using `eth.currentProvider` but it returns a Proxy which I'm not sure how to use. The other option that I found was `isSyncing` but I'm not sure if this is the correct use case, the docs don't say much.

[2020-02-28 17:20] cgewecke commented on #3389
@VladoDemcak I will open a PR with a fix today, but it may be a few weeks before Web3 is published again. Would probably use the work-around for the time being, sorry.

[2020-02-28 18:43] ryanio commented on #3393
I started work on this here: https://github.com/ryanio/web3.js/pull/1. Feel free to give it a preliminary look.

[2020-02-29 23:40] akrolak commented on #1211
Installing github worked for me (sudo apt install git)
then: npm install
then: npm run start

[2020-03-01 08:04] x5engine commented on #1147
2020 I was dumb and did it without the bytecode but it seems the fault of the docs not telling you must add it!

also make you sure you add 0x before a bytecode string

[2020-03-02 04:23] Himanshu-Pandey commented on #3380
@nivida @smithki I am picking it up. Will update once I am done :)

[2020-03-02 04:50] DHIVYASIVAKUMAR opened #3398 "Uncaught (in promise) Error: Returned values aren't valid, did it run Out of Gas? at i.decodeParameters (web3.min.js:1) at o._decodeMethodReturn (web3.min.js:1) at _.outputFormatter (web3.min.js:1) at _.formatOutput (web3.min.js:1) at s (web3.min.js:1) at web3.min.js:1 at inpage.js:1 at inpage.js:1 at i (inpage.js:1) at inpage.js:1"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Versions
[NPM, Node, Web3.js, OS, device...]

[2020-03-02 06:16] davidbongcc commented on #2591
Does Web3.py have this similar function(web3.eth.accounts.wallet) in the library? How can I create a wallet using web3.py?

[2020-03-02 06:40] shaunazzopardi opened #3399 "Swarm.js - Arbitrary File Write vulnerability"
#### Expected behavior

No high vulnerabilities.

#### Actual behavior

Getting an _Arbitrary File Write_ vulnerability.

#### Steps to reproduce the behavior

1. npm install web3
2. npm audit

#### Logs

[code]

#### Versions
Web3 1.2.6

[2020-03-02 16:52] thecircleoflifefree commented on #2077
Having same issue... Additionaly I tried to create a BN number to use instead of typing the numbers directly, and get the following:

truffle(develop)> let foo = new BN(1000000000000000000).toString()
Thrown:
/home/user/.nvm/versions/node/v10.16.0/lib/node_modules/truffle/build/cli.bundled.js:89
    if (!val) throw new Error(msg || 'Assertion failed');
              ^

Error: Assertion failed

SPE

[2020-03-03 11:27] fubhy opened #3400 "Memory leak in web3-eth"
#### Expected behavior
Expected: There's no memory leak in web3-eth.

#### Actual behavior
Actual: There's currently a memory leak in web3-eth right in the `Eth.Contract` constructor because it maintains a list of all instantiated contracts (`Eth.initiatedContracts`) to be able to update e.g. default options, accounts, etc.

In a long running process, e.g. a node.js script, this list keeps being a

[2020-03-03 11:27] fubhy commented on #3400
https://github.com/ethereum/web3.js/blob/2.x/packages/web3-eth/src/Eth.js#L107

[2020-03-03 18:08] cgewecke commented on #3398
@DHIVYASIVAKUMAR There is an issues template you can follow to report problems. Closing for now.

[2020-03-03 18:08] #3398 closed, assigned to nobody

[2020-03-03 18:21] cgewecke commented on #3397
@ilyador In Web3 1.x, the provider has a `connected` property. Over HTTP it's set to true [after a successful send][1]. A simple check might be to request some data like the current block number and see if the call succeeds or fails.

Could you explain this further?

[1]: https://github.com/ethereum/web3.js/blob/a6ddec59e65116853435f203b25cb9c55824d084/packages/web3-providers-http/src/index.js#L10

[2020-03-03 18:42] cgewecke commented on #3399
@shaunazzopardi Thanks for reporting.

It looks like neither [swarm-js][1] or decompress are being actively developed, unfortunately.

The underlying issue is being tracked at [decompress #76][2].

[1]: https://github.com/MaiaVictor/swarm-js#disclaimer
[2]: https://github.com/kevva/decompress/issues/76

[2020-03-03 19:37] cgewecke commented on #3399
For near-term maintenance purposes we could fork swarm-js to the web3-js org (or ethereumjs) and move `decompress` to development dependencies. Believe it's only used in a [script to generate archive entries][1] and is incidental to the library methods.

Longer term options include migrating swarm support to the [erebos api][2] or just deprecating it altogether.

[1]: https://github.com/MaiaVictor

[2020-03-03 21:46] evertonfraga commented on #3399
I probably still have push access to the repo and can get npm permissions.

Want me to perform those changes at swarm-js then?

On Tue, Mar 3, 2020 at 2:37 PM cgewecke <notifications@github.com> wrote:

[2020-03-03 21:50] cgewecke commented on #3399
@evertonfraga Ah that would be great! I saw commits by you but didn't see another publish.

[2020-03-03 23:35] cgewecke commented on #3388
@rlaace423 I'm going to track the documentation need raised here via PR 3402 if that's ok with you.

Please just ping if you'd like this re-opened / think more should be done here.

[2020-03-03 23:35] #3388 closed, assigned to nobody

[2020-03-04 00:04] cgewecke commented on #3399
@evertonfraga Opened [swarm-js 36][1] for that change.

[1]: https://github.com/MaiaVictor/swarm-js/pull/36

[2020-03-04 09:41] ghost commented on #2077
Slightly off topic but anyone struggling with encoding large numbers in `ethers.js` can use the following:

[code]

[2020-03-04 16:17] evertonfraga commented on #3399
I published swarm-js 0.1.40. please check!

[2020-03-04 16:21] cgewecke commented on #3399
@evertonfraga LGTM!
[code]

[2020-03-04 16:27] evertonfraga commented on #3399
That's great :)

if you need anything else in that front, lmk!

[2020-03-04 16:35] holgerd77 commented on #3399
@cgewecke @evertonfraga Hi guys, greetings from EthCC, you are missed! 🥰 Thanks for keeping up on the real-work-to-be-done-front!

[2020-03-04 22:33] wirednkod commented on #3336
@nivida I am on it:

Misleading paths are on following files:
- packages/web3-providers-ws/types/tsconfig.json
- packages/web3-providers-ipc/types/tsconfig.json
- packages/web3-providers-http/types/tsconfig.json

Also:
- packages/web3-core-requestmanager
- packages/web3-core-promievent
are missing directory types/* and all respective files under it

[2020-03-05 09:41] ghost commented on #1916
I'm experiencing the same problem by running:

`contract.methods.balanceOf('0x90F8bf6A479f320ead074411a4B0e7944Ea8c9C1').call()`

directly in `truffle console` where `contract = new web3.eth.Contract(JSON.parse(abi), '0x6b175474e89094c44da98b954eedeac495271d0f')` (DAI)

[code]

Using a Geth node (Ethereum Grid) and `ganache-cli --fork http://localhost:8545`

That simple `call()` above returns:

[c

[2020-03-05 17:34] cgewecke commented on #1916
@0xEther There might be a problem with the ABI you're passing in.

Just tried this call using Web3 1.2.6 and the ABI published to [etherscan, here][1].

[code]
..outputs
[code]

[1]: https://etherscan.io/address/0x6b175474e89094c44da98b954eedeac495271d0f#code

[2020-03-08 14:53] Genysys opened #3405 "Web3.js vulnerability with no patches"
#### Expected behavior

no security warning.
#### Actual behavior

                       === npm audit security report ===

┌──────────────────────────────────────────────────────────────────────────────┐
│                                Manual Review                                 │
│            Some vulnerabilities require your attention to resolve            │
│

[2020-03-08 16:33] cgewecke commented on #3405
@Genysys Thanks for reporting. This is a duplicate of #3399, which should be resolved by #3403.

[2020-03-08 16:33] #3405 closed, assigned to nobody

[2020-03-09 00:16] cokia commented on #3237
sorry, My english is not good so i mean your proposal. (i edited)

While I was looking into submitting a pull request related to this, I found that the "EIP1193-subscription" branch was equipped with RSKIP60 (EIP-1191) and EIP55
#2727  The issue has been found.

I have a question for @nivida. The EIP document states that EIP-55 and EIP-1191 is applied to web3. I wonder why you don't merge "feature

[2020-03-09 10:11] pxyxyrus opened #3407 "Cannot pass in web3-core-helpers formatters into web3.extend inputFormatter/outputFormatter"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Versions
[NPM, Node, Web3.js, OS, device...]

[2020-03-09 10:18] pxyxyrus commented on #3407
sorry for the misinput but I have a problem when using web3.extend and trying to pass in predefined formatters in web3-core-helpers in typescript.
I'm getting some similar errors that says the function types does not match
Type '(blockNumber: string | number) => string | number' is not assignable to type '() => void'.ts(2322)

since the declaration file for outputFormatter or InputFormatter is bot

[2020-03-09 11:39] prographo opened #3408 "scrypt@6.0.3 installation error"
I am having problems installing Ethereum web3 on Ubuntu 18.04.4, it needs scrypt@6.0.3 which fails. My node version is v13.8.0

I've looked on stackoverflow, there is similar but not identical. Below is the output of npm install scrypt@6.0.3

[code]

[2020-03-09 11:49] #3408 closed, assigned to nobody

[2020-03-09 11:56] prographo commented on #3408
If you do `npm i web3` it installs scrypt in some other way, which still gives a different error, but which appears just to be advisory, so I think it's probably ok.

[2020-03-09 15:17] cgewecke commented on #3407
@pxyxyrus Could you provide a basic example to reproduce this error with?

() => void
and
Array<() => void>

Which declaration file do you see this in? In web3-core-helpers, the formatter types are [defined here][1].

[1]: https://github.com/ethereum/web3.js/blob/a6ddec59e65116853435f203b25cb9c55824d084/packages/web3-core-helpers/types/index.d.ts#L24-L58

[2020-03-10 09:48] Aleione opened #3409 "ecrecover and web3.eth.accounts.sign problem"
EXPECTED BEHAVIOUR:

Given privatekeyA and its generated address addressA

var  sig = web3.eth.accounts.sign (digest, 'privateKeyA')

on Solidity smart contract:

Should be true
ecrecover(digest, sig.v,sig.r,sig.s) == addressA

ACTUAL BEHAVIOUR:

On smart contract the equality fails

Why this situation?

[2020-03-10 11:22] matheusroleal opened #3410 "Using pragma experimental ABIEncoderV2"
Hi!

Not sure if I should create a new issue or remain on others related. I am using the experimental support for arrays in ABIEncoderV2. Turns out,  if I am not wrong, there is currently no ABI decoder that supports it. Just wanted to open a ticket to make sure that this is indeed the case.

If not, in which version of Web3js can I use the ABIEncoderV2.

[2020-03-10 15:39] cokia commented on #3410
https://github.com/ConsenSys/abi-decoder

I think the project is what you want. ABI encoder library where you can decode v2.

And I also thought when I heard you. Web3.j strives to support the abiencoder v2 but web3.js have no discussion of the matter. Couldn't this be the starting point for the discussion?

[2020-03-10 17:04] ilyador commented on #3397
It returns a Javascript Proxy object, which must have some special method to access.

[2020-03-10 17:12] ilyador opened #3411 "Is batch.execute() asynchronous?"
I cannot figure out from the docs how to correctly use the data returned from the batch requests.

At first, I tried a naive implementation
[code]

But `blocks` was returning empty.

I tried using `execute()` as a promise, but it is not (I got `execute has no method "then"`).

Since I am using React, I tried to populate the state in the `request` callback, but in that case, I have no indication of

[2020-03-10 17:45] cgewecke commented on #3397
@ilyador

Does the suggestion about making a test call work for your case or not?

[2020-03-10 18:02] cgewecke commented on #3411
@ilyador You can manage the promise yourself, for example
[code]

^^^ Haven't actually tried the above, may have syntax error or other problems

[2020-03-10 18:07] ilyador commented on #3411
@cgewecke thanx

This issue https://github.com/ethereum/web3.js/issues/1446 says it was already made into a promise, or am I confusing something?

[2020-03-10 18:12] cgewecke commented on #3411
@ilyador Yes, it looks like the change was made to what is now the 2.x branch in #2000. 1.x requires that you manage the async aspect yourself.

There are some nice solutions in #1446 for this though, thanks for linking to that.

[2020-03-10 18:41] cgewecke commented on #3410
@matheusroleal For context, could you give an example of a Solidity method you're having difficulty encoding correctly with Web3?

Web3 uses the [Ethers V4 ABICoder][2] internally.

It might be possible to use a more recent  version than the one [currently pinned here][1] though.

#1738 may need to be re-opened as well...

**Resources**
+ [Returning 2D arrays with web3 1.2.2][3]
+ [Passing 2D arra

[2020-03-10 19:45] cgewecke commented on #3409
@Aleione  It might help to start from the following example which works (using data from #1778)

**Solidity**
[code]

**Web3.js**
[code]

Could you look at your code and see what's different? What does your Solidity method look like?

You might find openzeppelin-solidity's [implementation][1] helpful. And their [unit tests][2]...

[1]: https://github.com/OpenZeppelin/openzeppelin-contracts/blob/ma

[2020-03-10 21:26] ilyador commented on #3411
Got it,  thanx

[2020-03-10 21:26] #3411 closed, assigned to nobody

[2020-03-12 11:18] matheusroleal commented on #3410
I think I got the same issue (Passing 2D arrays as params - #1738). For example:

`    function store(string[] memory num) public {
        for (uint i = 0; i < num.length; i++) {
            adaArr[i] = num[i];
        }
    }`

[2020-03-12 13:21] stefdelec commented on #3046
@callmejm did you make web3 work on react-native? The only solution I have found is https://gist.github.com/dougbacelar/29e60920d8fa1982535247563eb63766

but `node-libs-browser`. Any solution?

[2020-03-12 17:47] cgewecke commented on #3397
@ilyador Closing, please just lmk if you're still having problems with this.

[2020-03-12 17:47] #3397 closed, assigned to nobody

[2020-03-12 18:15] cgewecke commented on #3410
@matheusroleal I haven't been able to reproduce this, sorry.

**Solidity (0.5.14 / pragma experimental)**
[code]

**Web3 1.2.6**
[code]

**Output**
[code]

Closing, please just ping with a complete, reproducible example including error and will re-open.

[2020-03-12 18:15] #3410 closed, assigned to nobody

[2020-03-12 18:21] cgewecke commented on #3409
@Aleione Is this close-able? Do you have all the info you need?

[2020-03-13 09:57] Aleione commented on #3409
The problem is in the Solidity function that contains ecrecover command (I can't change it because already deployed by  a third party). The solidity code does not append at the beginning of the message the string "\x19Ethereum Signed Message:\n32", while web3.eth.sign append this so there is a mismatch. I have solved this using secpk256 library to sign message without append the string in order th

[2020-03-13 09:57] #3409 closed, assigned to nobody

[2020-03-13 16:41] ZhBoKn opened #3414 "Failed to load web3, accounts, or contract. Check console for details."
I have install web3,truffle ,python and so on.
npm run start it successes
but the edge brower tell me that Failed to load web3, accounts, or contract. Check console for details.
the console tells that No web3 instance injected, using Local web3.
i don't change any files.i have metamask ,but the port 8545 shows me that it can't connect.i have no idea,please help me! thanks

[2020-03-15 13:25] Nagaraj007 opened #3415 "Web3 broken dependency BufferUtil.js, Validation.js scrypt, websocket"
#### Expected behavior
The module need to compile
#### Actual behavior
[code]

#### Steps to reproduce the behaviour

1. [First step]
    I  am using the web pack, created Index. js
2. [Second step]
    var Web3 = require("web3");
3. [and so on...]
     when npm run build
#### Logs
[code]
#### Versions
[NPM:'6.14.2',
 Node:v12.16.1,
 Web3.js:1.2.6,
 OS MacOs :10.15.3
]

[2020-03-15 16:04] cgewecke commented on #3414
@ZhBoKn You're using a large number of different components - it's difficult to tell what's going wrong from your description.

What does this refer to?

Please
+ follow the guidelines in the issue template
+ provide a set of simple, clear steps that someone reading this issue can follow to reproduce the problem.

Closing.

[2020-03-15 16:04] #3414 closed, assigned to nobody

[2020-03-15 16:35] cgewecke commented on #3415
@Nagaraj007

Using a minimal example webpack compiles Web3 without difficulty. There's probably something in your webpack configuration that is the source of the problems you're seeing.

**Sys**
[code]

**package.json**
[code]

**webpack.config.js**
[code]

**src/index.js**
[code]

**Output of `npm run build`**
[code]

Closing, please ping if the basic config above doesn't compile on your machine

[2020-03-15 16:35] #3415 closed, assigned to nobody

[2020-03-15 16:39] cgewecke commented on #3407
@pxyxyrus

Closing due to lack of response. Please just ping if you have more info about this.

[2020-03-15 16:39] #3407 closed, assigned to nobody

[2020-03-16 05:24] Nagaraj007 commented on #3415
@CGEWECKE, I tried the basic web3 with web-pack with the above configuration, it works well, but when I use the below config, it shows the same error as I mentioned above. I want to use ```target: node```    because want to read the file, So I need to use ```var fs = require('fs')```

[code]

[2020-03-16 06:01] cgewecke commented on #3415
@Nagaraj007 Ah! You may have to resolve some of the dependencies manually. An example of an Ethereum project that webpacks for Node is Truffle. Their config is [here][1].

For example, in webpack.config.js they have...
[code]

[1]: https://github.com/trufflesuite/truffle/blob/d039f88e68516ac6bb8888e708b79a6dec6a3724/packages/truffle/cli.webpack.config.js#L287-L301

[2020-03-16 16:33] ZhBoKn commented on #3414
ok，but now i have solve my question ,thank you

[2020-03-16 16:38] ZhBoKn opened #3416 "TypeError: Cannot read property 'Set' of undefined"
i want to know that why i can not use the function which named 'set',or i want to know which function i can use to achieve the foundation of interact with the web page
![$}L5HN AOZW4OVWY_D0M57W](https://user-images.githubusercontent.com/45094047/76780239-a580a800-67e7-11ea-85fb-8257489bc2b9.png)
![5JAR_09ISWPR@%)KI_S)LS1](https://user-images.githubusercontent.com/45094047/76780257-ac0f1f80-67e7-11

[2020-03-16 17:12] cgewecke commented on #3416
@ZhBoKn Is this question about Web3.js?

Closing for now, please just ping if you can report this issue as:
+ a Web3 bug
+ a Web3 feature request

For other topics, the gitter channel is a good place to ask for help.

It's also best if you can follow the issue template guidelines, providing a clear, complete steps to reproduce whatever problem you're seeing.

[2020-03-16 17:25] #3416 closed, assigned to nobody

[2020-03-16 17:57] cokia opened #3417 "No bignumber.js""
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Versions
[NPM, Node, Web3.js, OS, device...]

[2020-03-16 20:18] cgewecke commented on #3386
Re-opening for visibility until `1.2.7` is published.

[2020-03-16 20:20] cgewecke commented on #3417
@cokia Are you using typescript? If so this is a duplicate of #3386 and has been patched with #3390. It will be fixed when `1.2.7` is published.

An interim fix is to add bignumber.js to your project as a dependency.

[2020-03-16 20:20] cgewecke commented on #3417
Closing, please just ping if you're referring to a different problem.

[2020-03-16 20:20] #3417 closed, assigned to nobody

[2020-03-17 01:27] cokia commented on #3417
oops, I saw your Pull request while I was trying to write this issue, and I tried to discard the writing. I think I uploaded the issue by mistake in my sleep. I'm sorry.

[2020-03-17 02:03] cgewecke commented on #3417
@cokia No problem at all!

[2020-03-17 04:10] Nagaraj007 commented on #3415
Still, I am facing the same issue, if I try to use the above code with ```target:node```

[code]

[2020-03-17 11:26] roeldijkstra opened #3418 "Install Error Windows - 17-3-2020"
#### Expected behavior
No errors installing the packages and using mocha
#### Actual behavior
Getting errors and audit errors installing web3 & Ganache

#### Logs
https://pastebin.com/yKKd1n9U

#### Versions
    "ganache-cli": "^6.9.1",
    "mocha": "^4.0.1",
    "node-gyp": "^6.1.0",
    "solc": "^0.4.19",
    "web3": "^1.2.6"

NOTE: I've tried everything, installing node-gyp, uninstalling node-g

[2020-03-17 16:05] cgewecke commented on #3418
@RoelDijkstra In the pastebin you linked to above, it looks like installation succeeds and the error occurs running mocha. Could you try either re-writing the command as `npx mocha` or installing mocha globally? (e.g `npm install -g mocha@4.0.1`)
[code]

Web3 runs a basic installation & use test for Windows / Node 12.16.0 which is executing successfully in TravisCI [here][1].

[1]: https://travis-

[2020-03-17 16:12] cgewecke commented on #3415
@Nagaraj007 Out of curiosity are you writing a Node application? Or something for the browser?

[2020-03-17 16:34] cokia opened #3419 "Why givenProvider is any?"
When I check type of web3, givenProvider is "any" type.

I found out what its return value was. In Metamask it is deprecated(it return null), and i can check value of mist broswer, It seem to be same as provider interface.

Why is its value set to any? Can't you set the provider || null | undefined?

![image](https://user-images.githubusercontent.com/24792377/76875587-17bebe80-68b4-11ea-9d30-0bb14

[2020-03-17 18:36] roeldijkstra commented on #3418
Worked! Thanks.

[2020-03-17 18:37] #3418 closed, assigned to nobody

[2020-03-18 07:18] Nagaraj007 commented on #3415
I trying to build node js as server and browser for UI

[2020-03-18 16:56] maxprof opened #3423 "How to subscribe on blockchain events (web3)?"
Hi, I have a problem with subscribing to blockchain events on web3.js library.

`
const Web3 = require("web3");
const web3 = new Web3(new Web3.providers.WebsocketProvider("wss:my_link"));

web3.eth.subscribe("pendingTransactions", (err, result) => {
    if (err){ console.log(err) }
    else { console.log("result: ", result) }
});
`
But as a result, I got an Error message - "error: no "newPendingTr

[2020-03-19 17:02] cgewecke commented on #3423
Hi @maxprof. I have not been able to reproduce this on
+ geth (local)
+ ganache-cli (local)
+ Infura (remote over wss)

Using the following script with Web3 1.2.6

**Index.js**
[code]
**Run**
[code]

Which ethereum client / remote provider are you using in `wss:my_link`? It's possible they don't support the pending transactions endpoint.

[2020-03-20 22:02] #3399 closed, assigned to evertonfraga

[2020-03-21 06:59] b00f opened #3424 "ABout web.eth naming"
Web3 defined a good prototype for working with smart contracts. In the new version (2.0.0) it is more mature.
I would like to suggest to rename `web3.eth` to `web3`. The can helps other blockchains (which might not use etherum platform) to use web3 package.
In this case some specific methods might move to `web3.eth` but contract and account package can be more global and eth-free!

[2020-03-21 16:04] cliffhall commented on #1846
@wafflemakr transaction count is 1 based and nonce is 0 based. so transaction count + 1 is one greater than the next nonce, leaving an unacceptable gap. The tx using that nonce will not be mined until the gap is filled. see here: https://ethereum.stackexchange.com/a/52586/44463

[2020-03-22 10:33] liamaharon opened #3425 "XMLHttpRequest errors are not handled correctly"
In the event of an error occurring during a XMLHttpRequest, `onreadystatechange` is called when
- `request.readyState` is `4`
- `request.responseText` is `""`
- `request.status` is `0`

The following code that handles http requests does not handle this case, and can return a misleading error to the user when it occurs

https://github.com/ethereum/web3.js/blob/dee72e00883c5a23a47b6d3c1d27304ab1d492

[2020-03-23 02:50] cgewecke commented on #3423
@maxprof Closing because it's been a few days without response here and things seem like they're working as expected on Web3's side.

Please ping with more info if you'd like this re-opened.

[2020-03-23 02:50] #3423 closed, assigned to nobody

[2020-03-23 08:51] pepihasenfuss commented on #2161
The "data": ''  statement is not working. Geth wants data or any input to be at least '0x', it will not accept empty strings or null objects. Also, if you are deploying a contract, it wants to: to be

 to: '0x'

The error codes coming back from tx.sign or/and sendSignedTransaction may be a bit confusing, as far as I think, but if it is data: '' and it expects data: '0x' then it may make sense in a

[2020-03-23 15:11] zikyfranky commented on #2915
This works 100%

Thanks.

[2020-03-23 16:59] everdimension opened #3429 "Expired discord invite"
Hi!

The docs link to this discord channel: https://discord.gg/NR42fy
But the invite seems to be expired.

Is the discord channel still active? Can you please update the link?

[2020-03-23 17:31] cgewecke commented on #3429
@everdimension

Where in the docs did you see that discord link? Could not find by searching the ReadTheDocs or the  Github repository.

AFAIK the only chat group is at https://gitter.im/ethereum/web3.js

[2020-03-23 18:59] everdimension commented on #3429
Oh, I must've been looking at the [v2](https://github.com/ethereum/web3.js/blob/2.x/README.md) branch: https://github.com/ethereum/web3.js/blob/2ce573b65abd2f3c78d648b1d70f9a273e922e8c/README.md#community

[2020-03-24 05:06] sleepaloner opened #3430 "ReferenceError: unescape is not defined"
ReferenceError: unescape is not defined
	at web3.js:8360:42(10)
	at web3.js:8398:35(11)
	at web3.js:8563:30(8)
	at web3.js:8589:54(8)
	at web3.js:1839:16(46)
	at web3.js:4070:16(6)
	at web3.js:4059:41(48)
	at web3.js:4098:33(42)
	at web3.js:4227:60(38)
	at <eval>:1:1(2)

 in geth smartcontract

[2020-03-24 15:12] cgewecke commented on #3430
@sleepaloner Could you provide?

+ all the relevant version information requested in the issue template
+ a set of simple steps to reproduce this error.

Closing for now - please ping if you're able to reformat this issue so it can be investigated.

[2020-03-24 15:12] #3430 closed, assigned to nobody

[2020-03-24 15:14] cgewecke commented on #3425
@liamaharon Thanks for such a great description and analysis of this problem.

[2020-03-25 23:12] bjackson commented on #3364
I'm confused, too, about how to use the new types. I'm migrating a codebase to use v1.2.6. In this instance, the methods returned `TransactionObject<bool>`. However, the new `ContractSendMethod` is not generic and doesn't have the `call` method. Am I using it right or am I missing something?

Here is the file I'm migrating: https://github.com/ethereum-alarm-clock/lib/blob/master/types/web3-contrac

[2020-03-26 09:47] anuragteapot opened #3431 "sendSignedTransaction always pending."
Hello, everyone, I am trying to send signed transaction. But my transaction always pending. It only gives the transaction hash. If I search transaction hash on etherscan it results not found.

`
return new Promise(async (resolve, reject) => {

      try {
        const account = await this.web3.eth.accounts.decrypt(
          encryptedData,
          password
        );

        const { address }

[2020-03-26 10:17] apurva121 commented on #2405
Hi @Aniket-Engg  did you find the solution for this issue?

[2020-03-26 14:56] cgewecke commented on #3431
Hi @Anu1601CS

+ do you have an example transaction hash (and network name)?
+ how are you connecting to the network?

There are some examples of using sendSignedTransaction [in the unit tests here][1] which might help debug your case - they use web3-eth-accounts to manage the signing with the latest `ethereumjs-tx` version.

If you try this approach, could you double check that the address genera

[2020-03-26 19:12] zikyfranky commented on #2709
Hello, I can't see anything wrong with your code.

The await method waits for the Promise to do it's thing hence you don't need the **.then method**

`const balanceOfTx = await contract.methods.balanceOf('0x564eec05271710f2a01bd7c71b47ec73528d1184').call()`

This should definitely work.

[2020-03-26 20:46] dmihal opened #3432 "Checking if a provider supports subscriptions by checking for "on" property often breaks"
When a transaction is sent, web3 chooses to either poll for a receipt, or subscribe to new blocks. However, it makes this decision by checking if `on` is a property of the provider:

https://github.com/ethereum/web3.js/blob/af6472976c23cb61c05e925eebe5734d141384f4/packages/web3-core-method/src/index.js#L515-L521

This means if a project is using a provider that includes `on`, such as web3-provider

[2020-03-26 21:17] cgewecke commented on #3432
@dmihal Thanks for reporting. Out of curiosity, which provider-engine version are you using?

[2020-03-26 23:33] dmihal commented on #3432
Thanks @cgewecke, I'm using web3-provider-engine@15.0.6

I also had the same problem while building [burner-wallet/burner-connect-provider](https://github.com/burner-wallet/burner-connect-provider). I wanted to implement the EventEmitter interface, but had to remove `on` as well:

![image](https://user-images.githubusercontent.com/1661138/77706412-14f15700-6fa1-11ea-9b9e-49556629aa9c.png)

[2020-03-27 10:47] andrej-zirko opened #3434 "Web3 events confirmation count support"
Currently when subscribed to an event using web3, web3 returns the event on its first mining / confirmation. In general it's recommended to wait for several confirmations before considering transaction to be final.

Please is there a way how to configure web3 to wait for X confirmations before firing the callback with event details?

Thank you

[2020-03-27 11:32] VladoDemcak commented on #3389
@cgewecke @holgerd77  if i may ask I would have one question which is not exactly related to the issue but cannot find any answer.

When I create subscription for e.g contract `Transfer` event like below.

For Example.
[code]

Can I get the event ONLY after  5 confirmations? Is there any way how to achieve this functionality without creating custom queue for received events and computing number of

[2020-03-28 05:43] anuragteapot commented on #3431
@cgewecke

Thank you for your reply.

Now my problem is fixed by providing `chain`  name.

`const tx = new Transaction(rawTx, { chain: 'kovan' });`

Now, I am closing the issue.

:)

[2020-03-28 05:43] #3431 closed, assigned to nobody

[2020-03-28 19:27] barakman opened #3435 "Incorrect handling of revert with a message"
#### Expected behavior
Function call should revert

#### Actual behavior
Function call completes successfully and returns an impossible value

#### Steps to reproduce the behavior
I have deployed the following contract to Ropsten, and verified its source-code on Etherscan:
[code]
It is at address `0x23335ED6E550726D0bA881a3D1f5b5B1eF411A97`.

I then deployed and verified an identical contract with

[2020-03-28 19:30] kuabhish commented on #2104
Getting same error with 55 and can't install 37.
What should I do?

[2020-03-29 11:13] barakman commented on #3435
UPDATE:

I've deployed a pair of slightly different contracts, where function `func` takes `uint x` as input and returns `x > 0` as output.

These two contracts are deployed at:
1. Address `0xD4D8bB5A6Eba78844fB6345dce35725Ec3E62ef8`
2. Address `0x13566A62a0Aa3D4BE5aaE979a47cB2F69048977B`

As before, we have `require(ok);` in the 1st contract and `require(ok, "error");` in the 2nd contract.

This

[2020-03-29 21:55] Kapn commented on #3435
I am facing a similar issue as well. The below function doesn't raise an error when passing `x=0` and returns `true`.
[code]

[2020-03-30 08:58] ltfschoen commented on #1102
I encountered the same error `Error: Transaction was not mined within 50 blocks, please make sure your transaction was properly sent. Be aware that it might still be mined!` when I'd run tests that I'd written with `truffle test` when was running a development chain, and where I was explicitly specifying a block time with `ganache-cli --blockTime 3`. I resolved the error by omitting the block time

[2020-03-30 18:26] kevholder commented on #2368
I think I'm still seeing this error in web3 1.2.6

[code]

[2020-03-30 19:26] benjamincburns opened #3438 "Add events to transaction submission in support of performance testing"
It would be helpful if the PromiEvent that is returned when sending transactions fired off events that provided finer-grained detail on the transaction submission process. There are numerous benefits to this:

- Makes it easier to ensure that transactions are submitted in order (see #1846)
- Makes transaction timing in performance benchmarking tools more precise
- Makes it easier to monitor the tr

[2020-03-30 20:32] miguelmota opened #3439 "Content Security Policy: The page’s settings blocked the loading of a resource at eval (“script-src”)."
#### Expected behavior

No CSP errors

#### Actual behavior

error

[code]

![Screenshot from 2020-03-30 13-27-07](https://user-images.githubusercontent.com/168240/77958745-58daa980-728a-11ea-9b76-a80078f4c604.png)

error line 31
![Screenshot from 2020-03-30 13-26-57](https://user-images.githubusercontent.com/168240/77958750-5b3d0380-728a-11ea-977e-c3b619886090.png)

#### Steps to reproduce the be

[2020-03-30 20:59] okpalindrome commented on #885
Would you please share how did you solve this. my code is kinda same
`function setatt(string[] arrayName){
//code
}`

[2020-03-30 23:04] hfa0 commented on #2077
any updates on this? still broken on the latest version.

[2020-03-31 12:01] VladoDemcak opened #3442 "Block.timestamp in UNIX nanoseconds outputBlockFormatter in 1.2.6 (quorum, RAFT)"
We are using quorum with **RAFT** consensus. Once a block is mined the blockchain returns the block with `timestamp` in **UNIX format with nanoseconds**.

**Example:**
`block.timestamp` is "0x16015c8446c19c16" (decimal: "1585650267003657238", GMT: Tuesday, March 31, 2020 10:24:27.003 AM**)

https://github.com/ethereum/web3.js/pull/2791  has the fix for the problem and it has been merged into `1.0`

[2020-03-31 16:49] cgewecke commented on #3434
@andrej-zirko

The confirmations and events handling are decoupled, but you should be able to start monitoring events from within [your confirmations handler][1], after an appropriate threshold is reached.

You can also limit the number of times the confirmations handler is fired by setting your contract's [transactionConfirmationBlocks][2] property.

Would that work for your use case?

[1]: https

[2020-03-31 16:52] cgewecke commented on #3438
@benjamincburns Thanks for proposing and for the design work. LGTM.

[2020-03-31 17:30] cgewecke commented on #3442
Hi @VladoDemcak

There's recurring discussion (ex: #3224) about how to support this for 1.x ... the main problem is that it would be a breaking change to reformat the timestamp ~~as a BN~~ and most users would not derive any direct benefit from it.

Historically, the way platforms with special requirements like this have managed is by using Web3's `extend` feature. An example implementation can be

[2020-03-31 18:18] cgewecke commented on #3435
@barakman @Kapn Thanks for raising this.

Revert with reason returns an encoded reason string as data. I'm unsure if using it in Solidity view methods is unproblematic - would like to hear your opinion though. Another approach would be to have defined `null` values for your view methods which match the function's return data type and document them as such.

If you upgrade to 1.2.6 and set the [web

[2020-03-31 19:12] barakman commented on #3435
@cgewecke:
It is non-conventional for sure, and even seems senseless to a certain extent, i.e., what's the point in reverting a (non-transaction) call?
Nevertheless, nowhere in the official documentation of the language is this scenario prohibited.
Does web3 access the call-stack in order to retrieve the returned value?
Or how else does it obtain the return value back from the provider (i.e., the

[2020-03-31 19:28] benjamincburns commented on #3438
@cgewecke glad to see you're working on web3 these days! Hope you're doing well!

If you're happy with this I'll go ahead and move forward with a PR. Is web3 on a particular release cadence at the moment? Which branch should I target to minimize the time that it'll take to get this into a release? If I were to get a PR in and approved today, when should I expect that it would be released?

[2020-03-31 19:44] cgewecke commented on #3438
@benjamincburns Hi :)

The cadence is slow - Web3 1.x is trying to make changes conservatively. For example, every PR has at least 3 days of open public review and every formal release is preceded by a beta release with a  week long "request for comment" .

At the moment we are publishing from 1.x and will hopefully release 1.2.7-rc.0 within a couple weeks.

Fair warning: it's possible that only t

[2020-03-31 20:00] benjamincburns commented on #3438
OK, thanks for setting expectations. Fortunately I have a workaround for now for websocket connections so I'm able to move forward with my perf testing in the short term with that. For more info you might want to see my comments on the PR containing my workaround (hyperledger/caliper#780).

[2020-03-31 20:10] cgewecke commented on #3438
Ok awesome! Thanks @benjamincburns.

[2020-03-31 20:27] cgewecke commented on #3435
@barakman

The node just returns data that has a [special signature and form][1] for revert reasons. So *it is detectable* and Web3 1.2.6 (optionally) implements this. Am pretty sure Ethers does as well.

On the other hand, as a contract developer you might worry that there aren't strong assurances the revert return data will be interpreted correctly for view methods since it's not specified by th

[2020-04-01 06:07] barakman commented on #3435
@cgewecke:
That's a very interesting notion, so I decided to test it.

I deployed the following contract to Ropsten address `0x2A15AF7156d10F891Bc18284AC68fEAf385dFa5D`:
[code]
I then executed a `MyContractUser.set` transaction using Web3.js and Infura:
[code]
The result implies that the transaction reverts as expected:
[code]
I believe that this rules out your speculation of an incorrect value po

[2020-04-01 07:27] Amxx commented on #2697
After reading @princesinha19 's message I tried having a look at the linked source file (which does not exist).

What I managed to find (https://github.com/ethereum/web3.js/blob/1.x/packages/web3-eth/src/index.js) does NOT contain any reference to eth_signTypedData, and the [inputSignFormatter](https://github.com/ethereum/web3.js/blob/67ea9d097737a1fb3c26cb2ae9a237245d600947/packages/web3-core-hel

[2020-04-01 07:55] andrej-zirko commented on #3434
@cgewecke
Thank you for your suggestion. I'm aware of the confirmation handler. Unfortunately it doesn't fit my case well.

In my use case I'm listening to the events that are not trigger by me. I got a "workaround" in  mind, where I would get the blocknum in which the event was triggered, store it and then when new block is mined I would substitute the event blockNum from current blockNum and thu

[2020-04-01 08:50] kuabhish opened #3446 "myContract.methods.myMethod().send() cannot transfer money from smart scontract to account"
What I am trying is:
1. give some ether to smart contract
2. when a user ask for ether the Smart contract send it.
3. I wrote the solidity smart contract in solidity, which is working nicely. I checked in remix.

4. But when I am writing the UI with web3:
 steps 1 and 2 are working, but step 3 is not working.

I thought even if I don't write` {from:}` in the send function. I t will work -- but it

[2020-04-01 08:53] princesinha19 commented on #2697
@Amxx Actually, the structure of the repo got changed that's why the given link reference doesn't exist anymore. Sorry if my message caused any inconvenience to you.

[2020-04-01 11:20] miohtama opened #3447 "BN type for the TypeScript"
I am writing TypeScriot code with web3.js and was hoping to type in numbers that are `BN` objects.

#### Expected behavior

I can import `BN` from somewhere in Web3.js package, as a lot of type information is available.

#### Actual behavior

I could not find out where is `BN` type.

If someone can point out if this is possible then I can update the relevant documentation. Currently I have tried:

[2020-04-01 14:35] cliffhall commented on #2104
It's 1.2.6 now and i still see this behavior. Sometimes the transactionHash event is never fired

[2020-04-01 14:42] azmain84 commented on #2697
I do not know ... why is this problem difficult to fix .. please help me.?

[2020-04-01 15:16] azmain84 opened #3448 "oppo a37m"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Versions. oppo a37m
[NPM, Node, Web3.js, OS, device...]

[2020-04-01 15:27] #3448 closed, assigned to nobody

[2020-04-01 15:30] azmain84 commented on #3447
can you help me?

[2020-04-01 15:45] Amxx commented on #2697
I got sick of it. If you have any interest in the issue being fixxed, please test my PR

[2020-04-01 15:49] holgerd77 commented on #3448
@azmain84 Can you please make random postings around the repo? I would otherwise block you on being able to comment.

There is already a large number of requests coming in on this repo every day, and behavior like this is causing a significant and unnecessary amount of extra work.

Thank you!

[2020-04-01 18:30] odanado commented on #3380
This issue hasn't been updated in a month, so I created #3451

[2020-04-01 19:21] Amxx commented on #3446
You cannot send a transaction from a smart contract using `{from: address of smart contract}`

Can you share the smart contract's code. My guess is you issue is with not knowing how to write the smart contract, not with web3.js

[2020-04-01 20:30] cgewecke commented on #3447
@miohtama Thanks for opening.

Just leaving some initial notes - this needs more investigation.

+ BN is required in [web3-utils TS defs here][1] - bn.js doesn't maintain its own types.
+ there are typings for bn.js at [ethereum-ts here][2].

[1]: https://github.com/ethereum/web3.js/blob/1.x/packages/web3-utils/types/index.d.ts#L23
[2]: https://github.com/ethereum-ts/bn.js-typings

[2020-04-01 20:48] cgewecke commented on #3446
@kuabhish

Closing because this is a general support question covered by many tutorials and guides to using Ethereum which can be found online.

The issues here are for reporting bugs specific to the Web3.js library and requesting new features.

[2020-04-01 20:48] #3446 closed, assigned to nobody

[2020-04-02 04:30] kuabhish commented on #3446
It doesn't work even when I just write the send function without from
like:
`myContract.methods.myMethod().send(){value:20}`

It works very nicely in Remix IDE, I am able to do all this funationality from Remix

I didn't find any tutorial for this task, which i have mentioned. All is working in solidity but when using web3 with metamask , I am not exactly sure , something fails.

[2020-04-02 08:06] ZhBoKn commented on #2077
hello，i want to know if you have any way to answer this question, can you tell me ?thank you

[2020-04-02 17:28] VladoDemcak commented on #3442
@cgewecke

Thanks! We checked `extend` feature and looks interesting.

Is it somehow possible to override the `newBlockHeaders` default subscription?

![image](https://user-images.githubusercontent.com/5232606/78276897-f399e900-7513-11ea-8a7b-1f6f3418d732.png)

[2020-04-02 17:46] cgewecke commented on #3442
@VladoDemcak Ah, it looks like jpmorganchase/quorum.js deals with that part [here][1] and [here][2].

Out of curiosity, is their extension for Quorum/RAFT not suitable for your purposes?

[1]: https://github.com/jpmorganchase/quorum.js/blob/d306778aa4cc66fed1c5f90845c5db14c0974822/lib/index.js#L68-L82
[2]: https://github.com/jpmorganchase/quorum.js/blob/d306778aa4cc66fed1c5f90845c5db14c0974822/lib

[2020-04-02 18:32] VladoDemcak commented on #3442
@cgewecke
I saw the parts. And I still don't know if their extension is what I am looking for. The problem is that their extension creates namespace `web3.quorum` (I cannot use namespace) and other than that, there is only `sendRawPrivateTransaction`.

https://github.com/jpmorganchase/quorum.js/blob/d306778aa4cc66fed1c5f90845c5db14c0974822/lib/index.js#L347-L352

For example, simple thing like  `g

[2020-04-02 19:41] cgewecke commented on #3442
Wasn't aware of this deprecation notice in the docs, thanks for noting.

It's **not correct**. HTTP is the most robust/reliable connection atm and will continue to be fully supported. Confirmations polling over HTTP should work correctly as of Web3 1.2.2.

Will look further at what can be done for WS though...subscriptions seems less well supported by extend than it should be.

[2020-04-03 11:21] VladoDemcak commented on #3442
@cgewecke

 Ok! This might change our approach and design.

 So let's assume we will use HTTP provider for `sendSignedTransaction` without  `on('confirmation')`. This worked.

But unfortunately, we want to have an event listener - `contract.events.<eventName>`- at the same time.

I tried the event listener in `test/e2e.contract.events` (and also in my application) with "http" provider, but it is f

[2020-04-03 14:48] Aniket-Engg opened #3456 "Issue with method call result with msg.sender and Geth 1.9.12"
#### Sample contract
[code]

#### Expected behavior
Actual balance of caller

#### Actual behavior
115792089237316195423570985008687907853269984665640564039457581007913129639935

#### Steps to reproduce the behavior

1. Deploy contract on any testnet except kovan or on Mainnet
2. call `_getMyBalance` method

#### Related Issues on different repos
https://github.com/ethereum/remix/issues/1430
https

[2020-04-03 15:30] cgewecke commented on #3456
@Aniket-Engg Thanks for reporting, will investigate...

[2020-04-03 15:40] cgewecke commented on #3442
@VladoDemcak With HTTP you can use [getPastEvents][1]. To reproduce the effect of subscription you'd need to call it within a block polling loop you write yourself, so it's a little more complicated.

Yes, that should be fine. They're separate connections and you'd have separate contract instances for each as well.

[1]: https://web3js.readthedocs.io/en/v1.2.6/web3-eth-contract.html#getpastevents

[2020-04-03 16:06] cgewecke commented on #3434
@andrej-zirko Thanks for the explanation, makes sense.

Something like your workaround solution seems necessary in that case. There *are* ways of getting the event history for a [range of blocks][1] that might be helpful, but Web3 doesn't automatically know when a contract was created given just its address.

[1]: https://web3js.readthedocs.io/en/v1.2.6/web3-eth-contract.html#getpastevents

[2020-04-04 06:39] sumeetkhillare commented on #2091
Add your site in metamask >settings>Connections>add site

[2020-04-04 23:23] dmihal commented on #3030
Just ran into this issue using Web3 + HDWalletProvider, both the most recent versions.

I'm not sure what the solution is, but there should at least be an error thrown if the chainId is passed as a string. Returning a transaction signed by an incorrect key is really strange behavior, and took quite a while of debugging to figure out.

[2020-04-05 14:59] Parth2501 commented on #2865
@ArunKuo can you tell me what did you configure. The link mention in above comment have nothing now.

[2020-04-06 19:52] #2965 closed, assigned to nobody

[2020-04-06 22:02] #3389 closed, assigned to nobody

[2020-04-07 16:09] #3345 closed, assigned to nobody

[2020-04-07 18:08] cgewecke commented on #3456
@Aniket-Engg Copying over a summary of the discussion in ethereumjs gitter...

@ryanio identified the cause of this as a Geth 1.9.12 breaking change.

From: https://github.com/ethereum/go-ethereum/releases/tag/v1.9.12
[code]

The question now is whether or not Web3 should (try to) set an account for `eth_call` by default.

[2020-04-08 03:59] cgewecke opened #3457 "Improve sendSignedTransaction revert reason fetching"
RE #3420 @nivida noted in gitter that it would be better to reconstitute the failed transaction for replay as a call without making any extra server reqs. In #3420 the call params are obtained by fetching the transaction record.

An equally terse and more efficient way would be to use [ethers.utils.parseTransaction][1].

[1]: https://docs.ethers.io/ethers.js/html/api-utils.html#transactions

[2020-04-08 06:22] Aniket-Engg commented on #3456
IMHO, Web3 can explain the situation in the documentation and recommend to explicitly define a `fromaddress` but in case, address is not provided, Web3 should set it to first address by default.

With time, when users are aware about it, default support can be deprecated and removed.

[2020-04-08 08:18] nphsu opened #3458 "Error message is not appropriate"
## Problem

Cannot write values to the contract when using a private key without `0x`.
MetaMask exports a key without `0x`, so I would like to add it automatically.

[code]

## Error Message
UnhandledPromiseRejectionWarning: Error: Returned error: The method eth_sendTransaction does not exist/is not available

## Versions
solc v0.5.16
web3 v1.2.6

[2020-04-08 11:47] holgerd77 commented on #3458
Will  close here as well for the same reason as in #3459

[2020-04-08 11:47] #3458 closed, assigned to nobody

[2020-04-08 17:12] realtebo commented on #2901
OMG .. and so ... !? we have the common problem of nonce with infura, we cannot even send timer-generated nonces to infura and we cannot correct transactionCount using pending counting.... and so !?!?

[2020-04-09 10:26] Cussone opened #3462 "BatchRequest: Returned values aren't valid, did it run Out of Gas?"
#### Expected behavior
The documentation lacks info for this feature.

#### Actual behavior
[code]

Calling these methods normally works as intended and returns values.
Using BatchRequest I get this error:

[code]

Since I'm just calling methods, running out of gas error doesn't make any sense.
Am I missing something?

#### Versions
[NPM: 6.9.0, Node: v10.16.0, Web3.js: 1.2.1, OS: macOS Mojave 10.