[2021-10-26 07:09] ujjwalguptaofficial commented on #4500
have created a reproducible repo - https://github.com/ujjwalguptaofficial/web3-nonce-issue

[2021-10-27 00:11] #4233 closed, assigned to nobody

[2021-10-27 00:55] #4486 closed, assigned to nobody

[2021-10-27 00:55] #4487 closed, assigned to nobody

[2021-10-27 00:55] #4488 closed, assigned to nobody

[2021-10-27 00:55] #4489 closed, assigned to nobody

[2021-10-27 00:55] #4490 closed, assigned to nobody

[2021-10-27 00:55] #4484 closed, assigned to nobody

[2021-10-27 00:55] #4485 closed, assigned to nobody

[2021-10-28 12:55] nazarhussain commented on #4453
@thisprojectworks I looked into the discussion you referred in your comment. We use **Webpack 4** for bundling and internally its uses [https-browserify](https://www.npmjs.com/package/https-browserify) as a polyfill. We don't inject anything by ourself in the build process.

It would be nice if you can try reproducing the issue with some simple script directly with `https-browserify` or any simple

[2021-10-28 12:55] #4453 closed, assigned to nobody

[2021-10-28 13:01] nazarhussain commented on #4482
@francesco-clementi-92 Thanks for clarifying. The library relies on JSON-RPC specification. If the error message is provided by the backend then you will get that human readable error message. But in this case it seems the endpoint returns a valid response but with invalid response body.

You can debug further by investigating the raw response body and response headers to confirm.

I am closing th

[2021-10-28 13:01] #4482 closed, assigned to nobody

[2021-10-28 13:06] nazarhussain commented on #4442
@zeleniy Did you get a chance to look into this issue further. If you can create a reproducible script to simulate the workflow we can further investigate into it.

[2021-10-28 13:08] nazarhussain commented on #4441
@zeleniy Did you tried using `pendingTransactions` subscription to get through this issue? We look forward to your response.

[2021-10-28 13:24] nazarhussain commented on #4423
@imkane

There are huge variety of contracts in Ethereum and EVM compatible ecosystem. As a library maintainers we can't document or provide examples for the usage of each contract due to limitation of resources and also to focus our effort on the right direction which is to provide you a stable and easy to use library.

For your case you should read the **ERC1155** documentation. There is no `tra

[2021-10-28 13:24] #4423 closed, assigned to nobody

[2021-10-28 13:27] zeleniy commented on #4441
As i can understand `pendingTransactions` subscription should be loaded as daemon or background process. And it will not  fire any events fot txs which already are pending. So i don't want to register any handlers. I just want to know if i have any pending txs.

Yes, i use Infura. And i don't think they developed their own software for Ethereum interaction. But it doesn't matter. Looks like `eth_p

[2021-10-28 13:43] nazarhussain commented on #4378
@spacesailor24 Can you guide us here in this question?

[2021-10-28 13:50] nazarhussain commented on #3992
As the actual [commit](https://github.com/ChainSafe/web3.js/commit/9f655debe2aa0b6e03c44a6af3c7d7b7fc523547) in the referenced PR is merge to `1.x`. So I am closing this issue.

[2021-10-28 13:50] #3992 closed, assigned to nobody

[2021-10-28 14:22] #4429 closed, assigned to nazarhussain

[2021-10-28 14:22] #4430 closed, assigned to nazarhussain

[2021-10-28 17:34] danfinlay opened #4509 "Don't autofill gasPrice on transactions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We have a report from etherscan that they are using web3.js, and it seems to be auto-filling a `gasPrice` parameter, which MetaMask currently interprets to mean the site is deliberately overriding the wallet's own suggested price. This is resulting in user transaction overpayment.

### Expect

[2021-10-28 18:32] grimmie38 commented on #3620
Did you find the solution? @hbarcelos

[2021-10-29 00:27] gndelia opened #4510 "getFeeHistory gives error when running local fork with hardhat"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Not sure if this is an error in web3.js or in hardhat, but after reading some docs and tracing the possible bug fix I think it should be fixed here (I might be wrong!)

When calling `getFeeHistory` in my app, using a local fork with hardhat, I get the following error

[code]

### Expected Beh

[2021-10-29 08:45] Pzixel opened #4512 "'0x' strings returned by contract are incorrectly interpreted as nulls"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

'0x' strings returned by contract are incorrectly interpreted as nulls

### Expected Behavior

They should be regular 2 chars length strings

### Steps to Reproduce

Consider following contract function

[code]
Now if we call it:

[code]

We will see `AssertionError: expected null to equal '0

[2021-10-29 21:18] luu-alex commented on #4510
Hey, sorry to hear you've been having issues with an RPC call.

I installed the same version of web3js and was able to sucessfully perform `getFeeHistory`, perhaps it is hardhat?
[code]
If theres anything that points to web3js being an issue let us know and we'll try to investigate it when we can :)

[2021-10-30 14:34] gndelia commented on #4510
Thanks for your response! I'll try to ping them on their side. I'm ok if you want to close this in the meantime. Thank you!

[2021-11-01 13:16] jdevcs opened #4515 "[4.x] isomorphic-ws vs websocket's w3cwebsocket"

[2021-11-01 16:44] karim-en opened #4517 "Buggy `BlockHeader` interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The name of the `receiptRoot` property of the `BlockHeader` class is not correct.

wiki:
https://eth.wiki/json-rpc/API#:~:text=of%20the%20block.-,receiptsRoot,-%3A

Related issue:
ethereum/go-ethereum#3084

### Expected Behavior

we should use `receiptsRoot` instead of `receiptRoot`

[code]

[2021-11-01 20:56] JimLynchCodes commented on #1220
@nivida it doesn't work...

[2021-11-01 21:37] JimLynchCodes commented on #1498
I'm getting this on rinkeby network...

[2021-11-02 00:12] #4086 closed, assigned to luu-alex

[2021-11-02 03:46] Spacesai1or opened #4518 "Web3BaseProviderStatus should be an enum"
###

- [X] This is not a Bug Report, Feature Request, or related to Documentation

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

[provider statuses](https://github.com/ChainSafe/web3.js/blob/4.x/packages/web3-common/src/web3_base_provider.ts#L9) should be an enum such as:

[code]

### Examples/References

_No response_

[2021-11-02 05:06] #4353 closed, assigned to luu-alex

[2021-11-02 06:20] #4371 closed, assigned to Spacesai1or

[2021-11-02 06:20] #4373 closed, assigned to Spacesai1or

[2021-11-02 06:21] #4379 closed, assigned to Spacesai1or

[2021-11-02 06:21] #4380 closed, assigned to Spacesai1or

[2021-11-02 06:21] #4381 closed, assigned to Spacesai1or

[2021-11-02 06:21] #4315 closed, assigned to Spacesai1or

[2021-11-02 06:23] #4382 closed, assigned to nobody

[2021-11-02 06:23] #4383 closed, assigned to nobody

[2021-11-02 06:23] #4384 closed, assigned to nobody

[2021-11-02 06:23] #4385 closed, assigned to nobody

[2021-11-02 06:23] #4386 closed, assigned to nobody

[2021-11-02 06:23] #4387 closed, assigned to nobody

[2021-11-02 06:23] #4388 closed, assigned to nobody

[2021-11-02 16:44] nazarhussain opened #4520 "Strong type support for Eth API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

Strong types support for Eth JSON RPC API

### Use Cases

Use consistent types everywhere in the project.

### Implementation Ideas

_No response_

### Feature Examples/References

_No response_

### Are you willing to implement this feature?

- [X] Yes

[2021-11-02 17:11] philknows commented on #4479
Closed. RC 2 released

[2021-11-02 17:11] #4479 closed, assigned to nobody

[2021-11-02 18:16] philknows commented on #4268
Closing at request of Alex.

[2021-11-02 18:16] #4268 closed, assigned to luu-alex

[2021-11-02 18:18] philknows commented on #3425
Will be addressed in 4.x http provider.

[2021-11-02 20:23] frangio commented on #4235
Still important. OpenZeppelin Contracts is blocked from adopting custom errors until Web3.js supports them.

[2021-11-03 01:47] mkamranaslam commented on #4070
@luu-alex
Hi! can someone help, please.
I have tried the paths and also the patch.js fix but both give error on build:

`An unhandled exception occurred: Invalid configuration object. Webpack has been initialized using a configuration object that does not match the API schema.
 - configuration.node should be one of these:
   false | object { __dirname?, __filename?, global? }
   -> Include polyfil

[2021-11-03 19:06] powpppp opened #4522 "Powpat5479"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Environment

<!-- e.g. Versions used of: npm, Node, web3.js, OS, device --pp

[2021-11-03 21:15] michael-spengler commented on #3700
@talentlessguy @Soremwar @GregTheGreek @chovyprognos @ntrotner:

Good News:
Especially thanks to the hint from @talentlessguy we managed to come up with a pretty good solution in our opinion:
https://deno.land/x/web3

Enjoy the features and feel free to raise issues. We want to continue to support web3.

[2021-11-03 21:46] v1rtl commented on #3700
https://esm.sh/web3 works as well btw, in v55 it got fixed

[2021-11-04 10:53] herecy opened #4523 "Issue when getting Transactions from block"
###

- [X] This is not a Bug Report, Feature Request, or related to Documentation

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

Basically I am running these commands:

[code]

But transaction never gets any output, regardless of the iterator. Block number is fetched properly, I can also get the block via web3.eth.getBlock(blocknumber), but th

[2021-11-04 12:02] nazarhussain commented on #4522
@powpppp I am glad you catch this issue. 😄

[2021-11-04 12:02] #4522 closed, assigned to nobody

[2021-11-04 12:14] nazarhussain commented on #4523
Hi @herecy  Thanks for reaching out to us. I tried the function `getTransactionFromBlock` and it works for me as expected. Here is my sample script I tried out.

[code]
and I got the following output.

[code]

Please make sure your `web3` object is properly initiated and you are using a correct provider.

If you still face the issue, please share more details as Node/Browser versions, web3 version

[2021-11-04 13:11] herecy commented on #4523
@nazarhussain Thank you very much for your helpful reply, I appreciate it greatly.

After some more debugging it seems the error narrows down to this:

Error: Invalid JSON RPC response: "<html>\n<head><title>403 Forbidden</title>

So it seems like the provider does not allow this method if I understand correctly.

[2021-11-04 14:07] nazarhussain commented on #4523
Yes that's correct. Either it's not supported by the provider or it has some kind of rate limiting or firewall, but defiantly its the issue with the provider.

I am closing this issue, feel free to reach to us if you came across anything else.

[2021-11-04 14:07] #4523 closed, assigned to nobody

[2021-11-04 16:16] nazarhussain commented on #4509
This seems to be the exact behaviour what is explained in the issue.

But changing this behaviour may cause unseen effects on the usability of the library and definitely it should be considered as breaking change.

Need further thought process how to proceed on it.

https://github.com/ChainSafe/web3.js/blob/7682f1adb520c592b0b25f9dcf8aa6437be935f6/packages/web3-core-method/src/index.js#L787-L800

[2021-11-04 17:31] hems commented on #1178
any updates on this?? i'm using very just a couple of "simple" functions but the bundle size is increasing in a very unreasonable size :(

[2021-11-05 17:54] luu-alex commented on #4512
Hey Pzixel, I'm currently taking a look. thank you for creating an issue

[2021-11-05 18:45] fvictorio commented on #4510
Hey @luu-alex, are you sure this isn't a problem in web3?

The `eth_feeHistory` section of [the spec](https://playground.open-rpc.org/?schemaUrl=https://raw.githubusercontent.com/ethereum/eth1.0-apis/assembled-spec/openrpc.json&uiSchema%5BappBar%5D%5Bui:splitView%5D=false&uiSchema%5BappBar%5D%5Bui:input%5D=false&uiSchema%5BappBar%5D%5Bui:examplesDropdown%5D=false) says that the first argument shou

[2021-11-05 18:57] zdrive commented on #1178
Likewise, I only needed to get a contract balance. I gave up on web.js and started using Infura, which has a free tier for low usage.

[2021-11-05 19:52] 1blockologist commented on #1178
what do you mean by this? I sometimes add Infura's RPC point TO web3.js to initialize it, I think. are you saying Infura now offers its own library, or that you have another way to access raw data from nodes?

[2021-11-05 20:11] hems commented on #1178
if you just reading a balance from a contract you can probably just do an HTTP call to infure directly and bypass the web3 library entirely.

[2021-11-05 22:32] zdrive commented on #1178
Yes, I am using Infura's API to get the balance. Originally it was using web3 and (as I recall) Vue.js, back when web3.min.js was "only" a couple hundred K in size. When I went to update it, web3.min.js was over 1MB which is a joke. So I converted it to use Infura on the backend, which means you have to refresh to get the current value, but I felt that was the lesser of two evils.

[2021-11-06 00:11] #4264 closed, assigned to nobody

[2021-11-06 00:11] #4263 closed, assigned to philknows

[2021-11-07 19:14] michael-spengler commented on #3700
@talentlessguy: Thank you. Two aspects we currently consider:
1. TypeSafety
2. Independence from esm.sh, skypack.dev et al.

It seems interesting how those things will evolve in the future. Will there be Deno Modules which just serve as a wrapper or will people just get used to writing things like `import ... from "...esm.sh/..."`? Feedback is always welcome.

[2021-11-08 16:53] luu-alex commented on #4510
Ah that makes alot of sense, thank you for this. A PR will be out shortly

[2021-11-08 16:56] luu-alex commented on #4510
Hey @fvictorio thank you for taking a look, that makes alot of sense. I have reopened the issue and will try to tackle this problem. @gndelia I was curious are you still facing issues with a fork from ganache-cli? If so what was the error.

[2021-11-08 20:59] gndelia commented on #4510
I get `Method eth_feeHistory not supported.` - but that might be that I just need to update ganache-cli 😬

[2021-11-09 05:31] naklecha commented on #4090
Thanks @NorthHub

[2021-11-09 13:32] nazarhussain opened #4526 "Improve timeout handling for the block polling for confirmation"
###

- [X] This is not a Bug Report, Feature Request, or related to Documentation

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

The current implementation of the process of the handling the polling is fine, but it may endup an extra timer id hanging in few edge cases. Would be nice to improve it.

### Examples/References

_No response_

[2021-11-09 15:34] berktaylan opened #4528 "Passing dynamic variables with web3js"
###

- [X] This is not a Bug Report, Feature Request, or related to Documentation

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

Hello everyone,

Is it possible  to pass dynamic parameters with call data to smart contract.
As example i want to use  eth.getStorageAt & blocknumber ( the blocknumber, when my transaction executed ), and pass that

[2021-11-09 16:27] gitalvininfo commented on #4454
@sigmaxf @FanM did you manage to solve this issue? Currently I'm having the same as yours.

[2021-11-09 16:29] gitalvininfo commented on #4454
I notice using old version of web3 and instantiating the smart contract in frontend fix the issue but I want to use the latest version of web3 and latest instantiation of smart contract.

[2021-11-09 17:03] gitalvininfo commented on #4454
I deployed my smart contract using the node of Moralis but still the error still exist.

[2021-11-10 03:02] FanM commented on #4454
I added a [type check](https://github.com/FanM/web3.js/commit/62f1137136e80f23b5e16ba50cbf787ad82a3973#diff-9050e060908a6957eb4e25bb2f4b8930f5097e55e846e0e8194ff5fa3a3440a4R630) to work around this.

[2021-11-10 04:50] #4351 closed, assigned to luu-alex

[2021-11-10 05:28] gitalvininfo commented on #4454
@FanM Thanks
However I'm using a CDN version of web3 with a version of release candidate 1.6.1. Anyways I try to dig it up hoping I would fix this soon.

I look in your work around, clever solution. Thank you.

[2021-11-10 11:11] #4526 closed, assigned to nazarhussain

[2021-11-10 11:11] #4428 closed, assigned to nazarhussain

[2021-11-10 11:21] #4432 closed, assigned to nazarhussain

[2021-11-10 11:35] nazarhussain opened #4531 "Test coverage is not collected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The test coverage is not collected.

### Expected Behavior

It should run the test coverage and report to the console.

### Steps to Reproduce

[code]

### Web3.js Version

4.x

### Environment

_No response_

### Anything Else?

_No response_

[2021-11-10 11:38] #4311 closed, assigned to nobody

[2021-11-10 11:59] nazarhussain commented on #4509
@danfinlay I opened a [discussion](https://github.com/ChainSafe/web3.js/discussions/4533) thread for the issue. Please share your feedback on it.

[2021-11-10 14:38] mahanamiri opened #4534 "BEP20 Smart Contract - Error: Transaction has been reverted by the EVM"
unfortunately, based on the following source, I will encounter the above error after sending.

[code]

The returned error is as follows

[code]

[2021-11-10 15:12] mahanamiri commented on #4534
https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js

[2021-11-10 16:08] gitalvininfo commented on #4454
I think my issue for now is fixed, my issue in **"o.data.substring is not a function"** triggers in my ERC20 token **contract(MyToken.sol)**. I **change the order of loading of (MyToken.sol)** in frontend as the first smart contract that loads and I don't know what happen but the error is gone. Previously (MyToken.sol) is loaded second before my other contract(TokenTimeLock.sol) in asynchronous wa

[2021-11-11 11:13] hungdoansy opened #4536 "Error: invalid type thrown with no obvious reasons"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I created a simple smart contract, which just echoes back. The source code you can found [here](https://github.com/hungdoansy/test-web3/blob/master/src/TestUniswap.sol): https://github.com/hungdoansy/test-web3
I deployed it to Ropsten ([link](https://ropsten.etherscan.io/address/0x87AF7c9A498

[2021-11-11 11:50] hungdoansy commented on #4536
Sorry my bad.

I used hardhat for my development and I used

`
const contractData = {
    address: contract.address,
    abi: JSON.parse(contract.interface.format("json")),
  };
`

to get address and the abi of the contract. This ABI somehow was not the same as the one you see in the explorer and this caused the problem.

[2021-11-11 11:50] #4536 closed, assigned to nobody

[2021-11-11 12:22] jdevcs opened #4537 "Using DeferredPromise from web3-common"
Use `DeferredPromise` from web3-common in ws provider package

[2021-11-11 12:24] jdevcs commented on #4515
using isomorphic-ws in 4.x web socket package

[2021-11-11 12:24] #4515 closed, assigned to nobody

[2021-11-11 15:26] nazarhussain commented on #4528
Hi @berktaylan Thanks for reaching out to us. I could not grasp your question. If you want to use `eth.getStorageAt` then you have to provider the block number. If you want to get that block number from some other transaction, then you can invoke that first and execute both in a promise chain.

If that does not answer your question, please provide a code example that you want to make work and you

[2021-11-11 15:32] nazarhussain commented on #4534
Never tried this over Binance chain. Can you extract out the code in a reproducible snippet that I can run and debug?

[2021-11-11 15:37] #4442 closed, assigned to nobody

[2021-11-11 15:37] nazarhussain commented on #4442
Hi @zeleniy, It's been long we didn't get an update from you. I am closing this issue. If  you can make an example snippet which can reproduce the flow, feel free to re-open the issue.

[2021-11-11 15:47] nazarhussain commented on #4441
Unless `eth_pendingTransactions` is supported by the provider you are using the `web3.eth.getPendingTransactions` would not return any thing helpful.

The problem you described is more of the implementation technique. Any transaction you sent to the network, you must keep track of their hash as well as nonce and watch for their confirmations. You can use local storage or any other storage for that

[2021-11-11 15:47] #4441 closed, assigned to nobody

[2021-11-11 16:17] #4399 closed, assigned to jdevcs

[2021-11-11 16:17] #4401 closed, assigned to jdevcs

[2021-11-11 16:17] #4398 closed, assigned to jdevcs

[2021-11-11 17:42] justekoro opened #4539 "Balance does not include decimals"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The returned balance is 599998320000000000000

### Expected Behavior

The returned balance should be 599.998320000000000000

### Steps to Reproduce

[code]

### Web3.js Version

1.6.0

### Environment

- Operating System: Windows 11 (V 10.0.22494 build 22494)
- Browser: Opera GX
- Node.js Ver

[2021-11-11 18:19] jdevcs commented on #4539
This function returns balance in [wei](https://web3js.readthedocs.io/en/v1.2.11/web3-eth.html#getbalance) , so you can convert to other units by using  [web3.utils.fromWei](https://web3js.readthedocs.io/en/v1.2.11/web3-utils.html#fromwei) [examples](https://web3js.readthedocs.io/en/v1.2.11/web3-utils.html#id84)

[2021-11-11 18:19] #4539 closed, assigned to nobody

[2021-11-11 19:23] justekoro commented on #4539
thank you!

[2021-11-12 23:57] crazyoptimist commented on #4301
Thank you

[2021-11-13 21:55] #4354 closed, assigned to luu-alex

[2021-11-13 22:02] luu-alex commented on #4323
## Changes
### Changes in the `hash.ts`: soliditySha3, soliditySha3Raw, encodePacked:
We don't try to guess the type from the value given anymore (types must be specified)
Validate types of the values and throw errors if they don't match
address size does not default to the size of 32/40 bytes
removed ufixedfixed type support, not fully supported by solidity (https://docs.soliditylang.org/en/lates

[2021-11-15 00:12] #4123 closed, assigned to nobody

[2021-11-15 10:08] crazyoptimist opened #4542 "Typescript compile error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It's a very simple code (a nest.js service) using [opensea.io sdk](https://github.com/ProjectOpenSea/opensea-js#fetching-assets).

[code]

It runs by `ts-node -r tsconfig-paths/register src/main.ts`.
But it stuck when building by `tsc`.
Here's the terminal log I'm seeing:

[code]

And here's

[2021-11-15 10:23] crazyoptimist commented on #4542
`package.json` file is here:

[code]

[2021-11-15 10:48] jdevcs opened #4543 "[4.x] Tests for injected providers"
List Injected providers which work with 1.x and add Integration tests for checking 4.x `Web3RequestManager` with those.

[2021-11-15 16:52] #4520 closed, assigned to nazarhussain

[2021-11-15 16:54] nazarhussain opened #4544 "Web3-Eth-Abi implementation in typescript"
### Description
We need to port the following API from the `web3-eth-abi` package.

- parameters
- logs
- functions
- events

### Accentpace Criteria

- All the functions must be covered with unit tests
- All the functions must be compliance with 1.x versions

[2021-11-15 19:08] #4510 closed, assigned to luu-alex

[2021-11-16 00:16] #4262 closed, assigned to nobody

[2021-11-16 06:31] Lucid36 commented on #4262
Pull request

[2021-11-16 13:31] #4400 closed, assigned to jdevcs

[2021-11-16 13:48] jdevcs commented on #4517
included in https://github.com/ChainSafe/web3.js/pull/4445

[2021-11-16 13:48] #4517 closed, assigned to nobody

[2021-11-16 16:25] O-Shevtsov opened #4548 ""Provider not set or invalid" on balance request"
Hello!
I start to use that plugin for unity. At now just configured login to metamask wallet and tried to get some wallet balance. But I have `Provider not set or invalid` in balance response.
Login looks like valid with existing account id.
My code is
`
        BigInteger wallet = BigInteger.Zero;

        wallet = await ERC1155.BalanceOf(Chain, Network, Contract,
            PlayerPrefs.GetStrin

[2021-11-16 17:57] sadceri opened #4549 "Web3"

[2021-11-16 17:59] #4549 closed, assigned to nobody

[2021-11-16 18:44] philknows commented on #4374
Outstanding issue to be discussed later. Need to further investigate provider architecture.

[2021-11-17 00:56] Spacesai1or commented on #4548
Hi there, I don't think this is an issue with Web3.js, could you try opening your issue [here](https://github.com/ChainSafe/web3.unity)?

[2021-11-17 08:59] O-Shevtsov commented on #4548
True... Sorry

[2021-11-17 08:59] #4548 closed, assigned to nobody

[2021-11-17 17:16] luu-alex opened #4550 "Create web3-eth-ens package structure for the 4.x"
### Description

Need to create a `web3-eth-ens` package skeleton for 4.x rewrite

### Acceptance criteria
- Package must have same package information as 1.x branch
- Package must have jest unit test configurations

[2021-11-17 17:30] luu-alex opened #4551 "Migrate ens resolver ABI from 1.x for 4.x rewrite"
### Description

Migrate the following ABI from web3-eth-ens 1.x branch to 4.x rewrite, as well include the new ens functionality

Resolver Abi:
- supportsInterface
- addr (get ethereum address)
- setAddr
- AddrChanged
- addr (get blockchain address)
- setAddr
- name
- setName
- NameChanged
- contenthash
- setContenthash
- ContenthashChanged
- ABI
- setABI
- pubkey
- setPubkey
- text
- setText
- m

[2021-11-17 18:04] luu-alex opened #4552 "Migrate set registry functions from 1.x for 4.x rewrite"
### Description

Migrate the following functions from `web3-eth-ens` contract functions for registry 1.x branch to 4.x rewrite.
- setOwner
- setTTL
- setSubnodeOwner
- setRecord
- setSubnodeRecord
- setApprovalForAll
- setResolver

### Deprecated functions from 1.x
- resolver
- owner

### Acceptance Criteria
- All functions above should be migrated
- All functions should be covered with unit tests

[2021-11-17 18:19] luu-alex opened #4553 "Migrate SET ENS functions from 1. to 4.x"
### Description

Migrate the following functions and config file from `web3-eth-ens` ens 1.x branch to 4.x rewrite.
Functions:
- setAddress
- setPubkey
- setContent
- setContenthash
- setMultihash

### Deprecated functions from 1.x
- resolver
- owner

### Acceptance Criteria
- All functions above should be migrated (except deprecated functions)
- All functions should be covered with unit tests
###

[2021-11-17 23:49] berktaylan commented on #4528
hi @nazarhussain i figure out the problem. but now i have another question.

im using myContract.events.MyEvent to subscribe events of a contract for pending blocks,
howeever on data im able to see blocknumber means tx already mined. I want to see newly broadcasted transactions to the network. But fromBlock: "pending" looks not working ?

[code]

[2021-11-17 23:55] berktaylan opened #4554 "myContract.events.MyEvent with pending returns blocknumber"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hello im using myContract.events.MyEvent to subscribe events of a contract for pending blocks,
howeever on data im able to see blocknumber means tx already mined. I want to see newly broadcasted transactions to the network. But fromBlock: "pending" looks not working ?

[code]

### Expected Be

[2021-11-18 05:09] #4425 closed, assigned to luu-alex

[2021-11-18 14:15] #4531 closed, assigned to nazarhussain

[2021-11-18 14:21] nazarhussain opened #4555 "Consistent encoding/decoding of the parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

Currently the `web3-eth-abi` package have to functions `encodeParameters` and `decodeParameters`. Both of these works fine but don't have a consistent output.

1. We can't use the output of one function to pass to other
2. Decoding result in different format of data used to encode

### Use Cas

[2021-11-18 14:39] nazarhussain opened #4556 "Improve `formatParam` to not mutate the input"
#### Expected behavior

No input parameters should be mutated.

#### Actual behavior

Currently the `formatParam` function in `web3-eth-abi` package is mutating the input parameters. That can have side effects and may result in introducing bugs. Would be nice fix it.

https://github.com/ChainSafe/web3.js/blob/d9726d41babe14bc823d5d2ea4e4af15ef5914ac/packages/web3-eth-abi/src/utils.ts#L120

https:/

[2021-11-18 15:34] nazarhussain commented on #4542
Hey @CrazyOptimist. Thanks for reaching out to us. I checked the logs you shared.

It's been initiated from the package `@0xproject/types@0.1.9` which is dependent on `web3@0.20.7`.

I am not sure if we can provide any support for such outdated packages. Consider that current version of `@0xproject/types` is  `1.1.4`  and for `web3`  its `1.6.0`. I would suggest to use packages in your project whi

[2021-11-18 15:34] #4542 closed, assigned to nobody

[2021-11-18 16:04] nazarhussain commented on #4554
Hey @berktaylan I am not sure if I understand the issue correctly. If `on('data')` is working as expected and you got the new blocks then you can use `web3.eth.getBlock` to fetch transactions for that block. If you are looking for pending transactions in general you can use `web3.eth.subscribe('pendingTransactions')`.

I would suggest to share more explanations of the issue and create a sample rep

[2021-11-18 16:07] nazarhussain commented on #4528
Hi @berktaylan I replied to the other [issue#4554](https://github.com/ChainSafe/web3.js/issues/4554) you created, let's use that for further discussion of that topic.

Since this issue no more relevant I am closing it.

[2021-11-18 16:07] #4528 closed, assigned to nobody

[2021-11-18 22:40] gabmontes opened #4557 "Invalid gas check"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

As discussed eons ago in #2381, the gas check done in core-methods is still incorrect. See:

https://github.com/ChainSafe/web3.js/blob/a1c7d71973ec17f9287fbea8939e64a80e589fc6/packages/web3-core-method/src/index.js#L423

While `gasProvided` is an hex string, `receipt.gasUsed` is a number so t

[2021-11-19 00:35] gabmontes opened #4558 "Reentrancy problem when parsing transaction receipt"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Started to see failed transaction receipts having `status: false` but the transactions were actually mined and successful.

Debugging the code, saw the `status` field that was coming from the node into `web3` was actually `"0x1"`, which is a supported value that should properly parses to `tru

[2021-11-19 03:42] gabmontes commented on #4558
Closing this issue as the root cause was a bad interaction between a caching layer that wrapped the web3 provider and the reentrancy of web3's receipt parsing functions.

IMO that reentrancy should be investigated and resolved but as long as the cache bug is resolved, it is no longer a problem.

[2021-11-19 03:42] #4558 closed, assigned to nobody

[2021-11-21 16:56] woodydeck commented on #526
Hello from 2021. Five years and Web3 is still a mess...

I don't get why this call needs to be async. It should be returned procedurally. This is an antipattern. Let's just make dealing with accounts more difficult to the point we all learn Rust and develop for Solana.

Honestly, at this point it's easier to start from zero. This is just levels of dumb I can't comprehend.

Edit: And to anyone look

[2021-11-21 23:28] HamishAndrew commented on #3370
I've got this in Cardanos KEVM TestNet .via Mallet...... Error: Invalid JSON RPC response: “404 page not found\n” NOT sure where that lies but WEB3 seems to be mentioned alot ..

[2021-11-22 12:35] chetangdoinfotech commented on #3052
I am getting same result with or without filter.  here is my code - 	 try{
	 		console.log(" >>>>>> Console logs here <<<<<  ");
	 		await myinstance.getPastEvents('allEvents',  {
	 				filter:{orderID: [1,2,3,4]},
	 				fromBlock: 9668423,
					toBlock: 'latest'
	    		},function(error,events){
	    			console.log("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~");
	 				console.log(error);

[2021-11-22 14:10] nazarhussain opened #4560 "Create web3-eth-contract package structure for the 4.x"
### Description

We need a package skeleton to be available for to start rewrite `web3-eth-contract` package.

### Acceptance Criteria

- Package must have same package information as 1.x branch
- Package must have jest unit test configurations

### Additional Information

- Unit test should have test coverage support as well

[2021-11-22 14:18] nazarhussain opened #4561 "Create Contract constructor with basic encoding/decoding methods"
### Description

Need to create `Contract` constructor with existing configurations and available encoding/decoding methods.

### Acceptance Criteria

- Package must export `Contract` constructor
- The `Contract` constructor must have a properties matching to existing `1.x` branch
- The contract must have following encoding/decoding functions
- _encodeEventABI
- _decodeEventABI
- _encodeMethodABI

[2021-11-22 14:45] nazarhussain opened #4562 "Implement static type interface for Contract"
### Description

Need to create a strong type interface for `Contract` matching the provided ABI.

### Acceptance Criteria

- The interface must support 1.x API
- The features using callback should be removed
- All the interfaces must be strong type
-

### Additional Information

- All the function should be covered with unit tests
- Explore the need and use of [typechain](https://www.npmjs.com/pa

[2021-11-22 14:50] nazarhussain opened #4563 "Implement `Contract` deployment interface"
### Description

We need to implement a contract deployment interface which is used as `contract.deploy` method currently.

### Acceptance Criteria

- Package must have same interface for 1.x branch
- The callback support must be dropped

### Additional Information

- Unit test coverage to be available

[2021-11-22 14:54] nazarhussain opened #4564 "Implement `Contract` public interfaces"
### Description

We need to implement a contract public interfaces which is not part of the contract ABI. e.g. `clone`

### Acceptance Criteria

- The functions must follow the same API as `1.x` branch
- The callback support must be dropped
- All the public interfaces from `1.x` must be implemented

### Additional Information

- The code must be covered with unit tests

[2021-11-22 15:56] nazarhussain opened #4566 "Update all the dependencies for the 4.x rewrite"
#### Expected behavior

As the the 4.x branch is evolving quickly, its the opportunity to keep all the dependencies up-to-date to avoid any compatibility issues in the near future.

#### Actual behavior

Currently some packages including `typescript` and `jest` are pending to upgrade.

#### Environment

4.x

[2021-11-22 18:57] #4560 closed, assigned to nazarhussain

[2021-11-22 20:53] SwampyDev commented on #3327
Is this issue still under investigation? @nivida

Only solution I've found so far is to write some ghastly regex in an error handler such as the following:

[code]

[2021-11-23 10:01] sirpy opened #4569 "unable to catch "Invalid JSON RPC Response" exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When web3 client throws this exception it is not catchable either via the event emitter .on('error') or via wrapping the call/send with try/catch

### Expected Behavior

All exceptions should be catchable so you could retry or handle it gracefully

### Steps to Reproduce

any call/send that r

[2021-11-23 10:19] danstarns opened #4570 "getPastEvents fromBlock and toBlock confusing, allow the use of just 'block'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

When calling the [https://web3js.readthedocs.io/en/v1.2.11/web3-eth-contract.html#getpastevents](https://web3js.readthedocs.io/en/v1.2.11/web3-eth-contract.html#getpastevents) method on a contract instance it's rather confusing what blocks you will get when using the `fromBlock` and `toBlock`

[2021-11-23 17:36] jdevcs opened #4573 "eip-155 chainId in Transaction"
`chainId` param is missing in [Transaction](https://github.com/ChainSafe/web3.js/blob/16abe310f2af3b98750bdd7e1ec7c792f49c9e61/packages/web3-common/src/eth_execution_api.ts#L35)   EIP155

[2021-11-23 19:44] nazarhussain commented on #4462
After discussion we decided to stick with the (1) pattern. Since we already following it in 4.x branch so no change required.

FYI. @spacesailor24 @luu-alex @jdevcs

[2021-11-23 19:44] #4462 closed, assigned to nobody

[2021-11-23 20:25] jdevcs opened #4574 "ENS support"
Be able to use ENS as first class citizens in all web3.js 4.x packages

[2021-11-23 20:26] philknows opened #4575 "ENS First class citizen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

This issue is to track feature implementations for web3-ens for supporting the latest features provided by the library and include discussion of its consensus on whether or not ENS names (example.eth) should be considered first-class citizens.

To be considered after the stabilisation and rele

[2021-11-23 20:40] jdevcs opened #4576 "doc update for chainId"
`chainId` defaults to `eth_chainId` rpc call but its not correct in doc [here](https://web3js.readthedocs.io/en/v1.5.2/web3-eth-accounts.html#id4) :

`chainId - String: (optional) The chain id to use when signing this transaction. Default will use web3.eth.net.getId().` which is `net_version`

so need doc correction

[2021-11-24 01:45] luu-alex commented on #4425
Hello thank you for making this issue. a dependancy for readthedocs updated, causing a bug and our latest build versions to fail (1.5.3, 1.6.0, 1.6.1...) Fortunately only `1.6.1` introduced new [documentation](https://github.com/ChainSafe/web3.js/releases/tag/v1.6.1). We wont have documentation available for the failed versions, but we have merged a fix and for any future releases new documentatio

[2021-11-24 02:15] haltman-at commented on #4326
Not stale, unless it's already done and wasn't properly closed.

[2021-11-24 06:46] Garito commented on #1607
I can't make this work
Any update?

[2021-11-25 16:19] nazarhussain commented on #4569
Hi @sirpy Thanks for reaching out to us. Unfortunately it didn't provide enough details to debug the issue. Please share a reproducible code snippet related to the issue. We will look further as we get your response.

[2021-11-25 16:23] nazarhussain commented on #4554
Hi @berktaylan Did you get a chance to look at this thread? Please provide more details so we can debug the issue further.

[2021-11-25 17:28] jdevcs commented on #4378
Its not directly in web3.js scope .
As I understood  @markg85 wants asymmetric encryption of AES keys using web3 generated account.

So you should encrypt AES128 key with receivers public key, and send encrypted AES128 key on wire etc, After that receiver can decrypt it using his private key.

[2021-11-25 17:28] #4378 closed, assigned to nobody

[2021-11-25 17:43] markg85 commented on #4378
Ahh, that makes more sense! Thank you for that hint!

I can in fact use such a key in native browser constructs (crypto.subtle.importKey) to encrypt and decrypt AES128 data. I do think those crypto.subtle primitive are (pun intended) really primitive. There are much more encrypt ways and options that are totally missing there. It would be so awesome if support for more advanced primitives were to

[2021-11-25 17:50] #3425 closed, assigned to koraykoska

[2021-11-25 18:35] JacopoNeroni opened #4579 "web3 React native expo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

With React Native Expo V4.13.0, importing the web3 V1.6.1 module, I get the following error:

`Unable to resolve module crypto from /Users/black/Desktop/test/node_modules/web3-eth-accounts/lib/index.js: crypto could not be found within the project or in these directories:
  node_modules/web3-

[2021-11-25 18:52] zviadm opened #4580 "eth.Contract objects are never garbage collected"
Looking at the code here:
https://github.com/ChainSafe/web3.js/blob/a1c7d71973ec17f9287fbea8939e64a80e589fc6/packages/web3-eth/src/index.js#L332

It looks like all eth.Contract objects reference each other in a chain of setProvider calls. This means eth.Contract objects can not be garbage collected and will just cause a slow memory leak if you have a code that creates them over time.

Here is an e

[2021-11-26 07:50] herenickname opened #4581 "Batch requests over ws fails with RPC response {}"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I do a batch request with websocket-initialized web3, I get an error:

[code]
The problem only with websocket connection. Over http batch requests are works.

Single requests over websocket are working properly.

### Expected Behavior

To get a complete response

### Steps to Reproduce

[2021-11-26 16:14] luu-alex commented on #4579
Hello, after some searching I saw some people have a similar [problem](https://gist.github.com/dougbacelar/29e60920d8fa1982535247563eb63766#gistcomment-2724357). Please let me know if this fixes the issue. Did this problem occur with a new project that you just created or an existing project?

[2021-11-26 17:24] JacopoNeroni commented on #4579
It occurred on a new project, before the expo update it worked fine.

[2021-11-26 17:33] JacopoNeroni commented on #4579
I have tried to follow the instructions in that post but I always get the same error:  var cryp = (typeof global === 'undefined') ? require('crypto-browserify') : require('crypto');

[2021-11-26 22:52] #4566 closed, assigned to nazarhussain

[2021-11-27 00:11] #4291 closed, assigned to nobody

[2021-11-27 03:20] decentpay-finance commented on #2915
did it work?

[2021-11-28 16:31] koust commented on #4579
I have same issue. did u fix it?

[2021-11-28 20:42] JacopoNeroni commented on #4579
nope

[2021-11-28 20:43] JacopoNeroni commented on #4579
I have tried to follow the instructions in that post but I always get the same error: var cryp = (typeof global === 'undefined') ? require('crypto-browserify') : require('crypto');

[2021-11-29 03:12] Spacesai1or opened #4582 "Refactor `convertObjectPropertiesToValidType` in `web3-eth`"
[Related comment](https://github.com/ChainSafe/web3.js/pull/4525#discussion_r755063984)

[2021-11-29 03:15] Spacesai1or opened #4583 "Revist error handling when writing `web3-core-logging`"
Error constructors needs to be able to handle `any` input data as we don't know what data to expect when throwing an error

Examples:

- [One](https://github.com/ChainSafe/web3.js/pull/4525#discussion_r755051950)
- [Two](https://github.com/ChainSafe/web3.js/pull/4525#discussion_r755064671)
- [Three](https://github.com/ChainSafe/web3.js/pull/4525#discussion_r755065344)

[2021-11-29 06:47] WangQingye commented on #4579
I have this question too. i am using vue3 and vite. the web3 version is 1.6.1

[2021-11-29 15:11] luu-alex opened #4586 "ENS Reverse Registrar functions - 4.x"
### Description
In spirit of #4575  We should be supporting [Reverse registrar](https://docs.ens.domains/contract-api-reference/reverseregistrar) functions for feature parity with ENS:
- claim
- claimWithResolver
- setName
- node
- defaultResolver

### Acceptance criteria
- All functions above should be migrated (except deprecated functions)
- All functions should be covered with unit tests

[2021-11-29 15:21] luu-alex opened #4587 "ENS Test Registrar functions - 4.x"
### Description
In spirit of #4575 We should be supporting [Test Registrar](https://docs.ens.domains/contract-api-reference/testregistrar) functions and mappings for feature parity with ENS:
- register
- expiryTimes
### Acceptance criteria
- All functions and mappings should be included
- All functions should be covered with unit tests

[2021-11-29 15:25] luu-alex opened #4588 "ENS permanent Registrar functions - 4.x"
### Description
In spirit of #4575 We should be supporting [Permanent Registrar ](https://docs.ens.domains/contract-api-reference/.eth-permanent-registrar) functions (Registrar and controller) and mappings for feature parity with ENS:

### Acceptance criteria
All functions and mappings should be included
All functions should be covered with unit tests

[2021-11-29 16:42] koust commented on #4579
@BlackBlock88  can you install https://www.npmjs.com/package/react-native-crypto ? I guess, it'll fix it.

[2021-11-29 18:38] JacopoNeroni commented on #4579
no, I get the same error

[2021-11-29 18:51] koust commented on #4579
Did u do all stage on the description? @BlackBlock88

[2021-11-29 19:11] JacopoNeroni commented on #4579
Yes, I always get the error looking for the crypto library.
Did you solve it that way?

[2021-11-29 19:13] koust commented on #4579
Yeap, I fixed. it's working now.

[2021-11-29 23:29] JacopoNeroni commented on #4579
I have tried on both ios and android and I always get the same error on this line:
`var cryp = (typeof global === 'undefined') ? require('crypto-browserify') : require('crypto');`

How did you solve the problem? but do you use expo?

[2021-11-30 10:11] mahmoudawadeen opened #4589 "web3.eth.subscribe throws exception when is null and there's a non null topic after it"
closed

[2021-11-30 10:17] #4589 closed, assigned to nobody

[2021-11-30 10:40] jdevcs opened #4590 "web3 ABI encoder"
Implement and use web3 internal ABI encoder, and remove external lib. It will reduce build size, and 4.x will have less dependencies.

[2021-11-30 11:47] jdevcs opened #4591 "Anonymous event logs"
Check for anonymous event logs in `decodeLog` function. ( anonymous events do not contain an indexed keccak of their signature, and have `anonymous: true` . )

[2021-11-30 17:59] ttodua commented on #4441
Can you please tell from your experience, for BSC (`https://bsc-dataseed1.binance.org:443`) which method would you use to get pending transactions?

[2021-11-30 18:42] Mehdish1 opened #4592 "Mehdish14"

[2021-11-30 19:07] #4592 closed, assigned to nobody

[2021-12-01 00:15] #4162 closed, assigned to nobody

[2021-12-01 12:02] nazarhussain opened #4593 "Linting error with git commit on 4.x branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

It should run the linter without any error.

### Steps to Reproduce

- Run `yarn` to register `husky` hooks
- Make some changes to any file
- Try to commit with git

### Web3.js Version

4.x

### Environment

- Operating System: Mac
- Browser: N/A
- Node.js Vers

[2021-12-01 12:21] ODETEDEVRI3S opened #4594 "Web 3 eth javascript api"

[2021-12-01 12:27] #4594 closed

[2021-12-01 19:22] #4544 closed, assigned to nazarhussain

[2021-12-01 20:09] #4561 closed, assigned to nazarhussain

[2021-12-02 00:18] jgresham commented on #4324
I'd be willing to take this up. Curious if anyone is working on it or has any input.

[2021-12-02 18:04] jdevcs commented on #4324
Thanks @jgresham  your contributions are welcome .  We will keep you in loop for discussions of this Epic, before jumping into implementation of `web3.consensus` (Beacon Chain) package , we need to look following items:

- web3 consensus provider support ( currently for (ETH 1) execution layer interaction, we have EIP1193 compatible provider [method](https://github.com/ChainSafe/web3.js/blob/4.x/p

[2021-12-02 20:16] berktaylan commented on #4554
Hi @nazarhussain , i was wrong about thinking `contract.events.allEvents` will work with `from: pending` parameter.
I tried with the way you told and its working.

I got another question, generating raw tx ( signed ) takes 15 to 20ms. Do you have any idea how can i speed that step ?

[2021-12-02 23:41] nazarhussain commented on #2621
As a community PR is created so reopening the issue.

[2021-12-02 23:44] nazarhussain commented on #4569
Hi @sirpy  as we didn't heard back from you with more details to understand the issue. I have to close this one. If you can collect more information feel free to re-open the issue.

[2021-12-02 23:44] #4569 closed, assigned to nobody

[2021-12-02 23:46] nazarhussain commented on #4554
Hi @berktaylan I am glad that your issue is solved. I would be closing this issue now.

For your other question you I think 15-20ms is pretty fast to sign a transaction. What's your expectations for it? Please create a separate issue for it with some code snippet you trying with we can discuss it further there.

[2021-12-02 23:46] #4554 closed, assigned to nobody

[2021-12-02 23:52] nazarhussain commented on #4579
@koust Please share some insights how did you resolved it on your end. That will help @BlackBlock88.

@BlackBlock88 Theoretically it should not be a problem if you are having `node-libs-browser` or `react-native-crypto` under dependencies of your package.json.

Can you share a sample code repo to reproduce this issue? It will help to debug it quickly.

[2021-12-03 01:52] dnavamosler commented on #3912
same error here

[2021-12-03 09:57] AlexandreFrolov opened #4595 "Hang up node.js script whith Web3.providers.IpcProvider"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I run this script in the console:

`$ node get_accounts.js`

If I use IpcProvider in this script without a line process.exit(0), it print account list, then hangs. I need Ctrl+C to exit.
But with HttpProvider process.exit(0) not required. Script node get_accounts.js prints account list and ex

[2021-12-03 18:37] JacopoNeroni commented on #4579
This is my package.json file:
`{
  "name": "test",
  "version": "1.0.0",
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "web": "expo start --web",
    "eject": "expo eject"
  },
  "dependencies": {
    "expo": "~43.0.2",
    "expo-status-bar": "~1.1.0",
    "react": "17.0.1",
    "react-

[2021-12-03 19:26] jgresham commented on #4324
@jdevcs thank you for the detailed info and please keep me in the loop. I will hopefully be familiarizing myself in these areas over the next few weeks. If there is anyway I can get started on something minimal and working, I'd be glad to start on it, but I'm not sure where to start from here yet.

[2021-12-03 21:54] haltman-at opened #4597 "Bad input interpretation for `type` parameter to transaction; also exact type is not always respected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The `type` parameter to the transaction has some problems with the interpretation of its input.  Currently, these problems don't matter since the largest legal transaction type is 2, but they could in the future.

Specifically:
1. If a decimal string is given, it will be interpreted as hex ra

[2021-12-06 00:13] #4289 closed, assigned to nobody

[2021-12-06 00:13] #4121 closed, assigned to nobody

[2021-12-06 08:29] koust commented on #4579
I just followed this steps. (https://www.npmjs.com/package/react-native-crypto). I don't use expo. but I don't think so, this issue not about expo.
[code]

[2021-12-06 18:09] #4250 closed, assigned to nazarhussain

[2021-12-06 18:28] luu-alex opened #4600 "ENS add new ABI contract functions for feature parity with ENS in 4.x"
Feature parity with ENS for the ABI contract functions for 4.x rewrite
Includes:

ReverseRegistrar Abi:
- claim
- claimWithResolver
- setName
- node
- defaultResolver

TestRegistrar Abi:
- register
- expiryTimes

[2021-12-06 18:31] luu-alex opened #4601 "Migrate registry ABI from 1.x for 4.x rewrite"
Migrate the following ABI from web3-eth-ens 1.x branch to 4.x rewrite
Testing to deploy on private chain and testing the contract code.
Registry Abi:

owner
resolver
ttl
setOwner
setResolver
setTTL
setSubnodeOwner
setRecord
setSubnodeRecord
setApprovalForAll
isApprovedForAll
recordExists

### Related Resources

- https://docs.ens.domains/deploying-ens-on-a-private-chain
- [Github repo](https://git

[2021-12-06 18:49] luu-alex opened #4602 "Migrate ENS GET functions from 1 to 4.x"
### Description

Migrate the following functions and config file from `web3-eth-ens` ens 1.x branch to 4.x rewrite.
Functions:
- supportsInterface
- getAddress
- getPubkey
- getContent
- getContenthash
- getMultihash
- checkNetwork

### Deprecated functions from 1.x
- resolver
- owner

### Acceptance Criteria
- All functions above should be migrated (except deprecated functions)
- All functions sh

[2021-12-06 18:52] mconnelly8 commented on #4553
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4553?planning-poker) with ZenHub @jdevcs @nazarhussain @stupeters187 @luu-alex

[2021-12-06 18:53] mconnelly8 commented on #4553
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4553?planning-poker) with ZenHub @spacesailor24

[2021-12-06 18:56] mconnelly8 commented on #4552
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4552?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2021-12-06 18:59] luu-alex opened #4603 "Migrate get registry functions from 1.x to 4.x"
### Description

Migrate the following functions from `web3-eth-ens` contract functions for registry 1.x branch to 4.x rewrite.
- registryAddress
- getOwner
- getTTL
- isApprovedForAll
- recordExists
- getResolver

### Deprecated functions from 1.x
- resolver
- owner

### Acceptance Criteria
- All functions above should be migrated
- All functions should be covered with unit tests

[2021-12-06 19:25] mconnelly8 commented on #4600
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4600?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2021-12-07 15:18] nazarhussain opened #4605 "Implement type safe promi-event to be used in other packages"
#### Description

Need to migrate code form 1.x which is dependent on the usage of `PromiEvent`. We need to have a type safe implementation of that object.

#### Motivation
To reuse a type safe implementation of `PromiEvent` across all packages.

#### Accentace Criteria
- The class must be type-safe
- Must cover the usage and usability of existing implementation
- Covered with tests

[2021-12-07 19:02] #4472 closed, assigned to luu-alex

[2021-12-07 19:10] Spacesai1or opened #4608 "Remaining TODOs for `web3-eth`"
#### What's Missing

- ~`web3-eth` methods that use a `transaction` type for input need to be re-implemented to have parity for `1.x` (e.g. [sendTransaction](https://github.com/ChainSafe/web3.js/blob/0ff0e95ed1835f7e75b8866dfefeefc825a83c5a/packages/web3-eth/src/index.ts#L303))~ Going to be included in `web3-eth-tx`
- [x] Input formatting for `web3-eth` methods
- Various discussions needs to be ha

[2021-12-07 19:14] mconnelly8 commented on #4601
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4601?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2021-12-07 19:35] luu-alex opened #4609 "Testing contract code and ABI - 4.x rewrite"
We want to be able to test Contract code
A discussion on possible ways to test:
- Abi is validated from what we copy into 4.x.
- Detection in changes of registry abi on mainnet.
- Create a test suite to test out ABI code

### Links and resources
- https://github.com/ChainSafe/web3.js/blob/9b7540d283c3c72978ebdfacc0dea2d0f3f36a05/packages/web3-eth-ens/src/contracts/Registry.js

[2021-12-07 19:35] ntudor11 commented on #3742
Bump, still no fix yet the issue has been closed.

[code]
Code at the specified file & line:
[code]
Where `reasonData` seems to be an object, not a string.

Web3 version: 1.6.1

[2021-12-07 19:37] mconnelly8 commented on #4609
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4609?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2021-12-07 19:55] mconnelly8 commented on #4602
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4602?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain

[2021-12-07 19:58] mconnelly8 commented on #4603
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4603?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain

[2021-12-07 20:27] mconnelly8 commented on #4466
Re-estimate

[2021-12-08 09:12] GANFI opened #4610 "support of tuple[2] type"
Hello

I have method in my contract

[code]

How can I pass `_outcomes` ? I try like this , but have error: Uncaught (in promise) TypeError: param.map is not a function
[code]

[2021-12-08 13:51] danuid commented on #1476
has this been achieved by any chance?

[2021-12-08 15:03] ghost commented on #1211
Yet problem is remain.
error Command failed.
Exit code: 128
Command: git
Arguments: fetch --tags
Directory: C:\Users\pc\AppData\Local\Yarn\Cache\v6\.tmp\c8a1082f4d0cf2d24e10ae2d0b9c32e3
Output:
fatal: not a git repository (or any of the parent directories): .git
info Visit https://yarnpkg.com/en/docs/cli/add for documentation about this command.

D:\1.task\2021\PRESALE\cji\CraditPresale>sudo chown

[2021-12-08 17:16] philknows commented on #4358
@mconnelly8 @jdevcs Would suggest keeping this open for reorganising the repo.

[2021-12-08 17:17] philknows commented on #4355
This should still be revisited @mconnelly8 @jdevcs .

[2021-12-09 03:56] dnjscksdn98 opened #4612 "running out of memory when decoding parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In one of my projects there is a process that I have to decode the input data of a transaction.
It worked very fine so far, but today my app kept on crashing by running out of memory.
So I tried to debug to find exactly where the error point was and I found out that it was the function call f

[2021-12-09 16:49] nazarhussain commented on #4610
Hi @GANFI Thanks for reaching out to us, we will be happy to help.

Apparently it seems the right usage for that parameter. Can you share complete params that you pass to your method along with complete error log to debug it further.

[2021-12-09 16:57] nazarhussain commented on #4612
Hi @dnjscksdn98 Thanks for reporting the issue. I was able to reproduce it with the given example. We will look further into it and get back to you.

[2021-12-09 16:59] GANFI commented on #4610
Hi @nazarhussain

So I try to call this method of contact like this:
`const gas = await tokenInstance.methods.makeSchedule( 0,
          1638793499935,
          1638914400000,
          'BTC/USD',
          [
              [1,4815087599255,0,0,false],
              [4,4815087599255,0,0,false]
          ]
            ).estimateGas({from: account})
          .then((response: any) => {

[2021-12-09 17:01] nazarhussain commented on #4597
HI @haltman-at Thanks for reaching out to us. We will investigate this issue and get back to you on it.

[2021-12-09 17:02] nazarhussain commented on #4610
Thanks we will look into it further and investigate the problem.

[2021-12-09 18:57] jdevcs opened #4615 "[Rewrite 4.x] Web3 Eth Personal"
### Description

Create package `web3.eth.personal` with following functionality.

### Related Issues / Feature Requests / Discussion
**Following function are for interacting with wallet located in Eth node, these are not for local wallet.**

- newAccount: Creates a new account
- sign : The method used for signing
- ecRecover : Recovers the account that signed the data.
- signTransaction: Signs a

[2021-12-09 19:17] #4605 closed, assigned to nazarhussain

[2021-12-10 07:48] leonidlewis commented on #1498
How to add the "personal" to the list of --rpcapi values ?

[2021-12-10 12:57] chenxsan opened #4616 "A typo in docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently,

[code]
would render into:

![image](https://user-images.githubusercontent.com/1091472/145577027-c6f87c4c-8510-41e9-981b-0f3c0fa7581d.png)

A whitespace before the `(optional)` is needed to render it right.

### Expected Behavior

[code]
renders into `<code></code>`.

### Steps to

[2021-12-10 13:43] dmangesh1109 commented on #4070
Thanks a lot. This is working fine.

[2021-12-10 14:59] attilacsanyi commented on #4070
Yepp **since 2021 September 30** it is in the web3.js **[README](https://github.com/ChainSafe/web3.js#web3-and-angular)** as well 💚

[2021-12-10 16:03] jdevcs commented on #4475
Scope Change:
Remove entropy from account create as web3 account creation does not support this, https://github.com/ChainSafe/web3.js/blob/2ea05a8e9b251f618bdc54f0319f0c45896822af/packages/web3-eth-accounts/src/account.ts#L63 its breaking change

[2021-12-10 17:07] Spacesai1or commented on #4500
@ujjwalguptaofficial Just wanted to let you know that I'm starting work on this now, apologies that it's been pending for so long

Thank you for bringing this to our attention, and thank you especially for taking the time to make a reproducible repo!

[2021-12-10 18:00] Spacesai1or commented on #4500
In my testing, this bug only seems to appear when both requests are sent with `pending` block tag e.g.:

[code]

Yields duplicate count from first request

[code]

Yields correct respective counts

[2021-12-10 22:36] davidmurdoch opened #4618 "transaction confirmation workflow issue with Ganache"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Bringing issue #2940 back to life here.

The web3@1.6.1 WebsocketProvider subscribes to `newHeads` _after_ sending the transaction, which means web3 may miss the emitted `newHeads` notification. While it is unlikely for this race condition to be a problem on mainnet, or even test nets, it is

[2021-12-10 22:36] davidmurdoch commented on #4618
/cc @micaiahreid

[2021-12-11 00:12] #4392 closed, assigned to nobody

[2021-12-11 06:04] codecube47 opened #4619 "EIP-1559 transaction but the current network does not support - code: -32602"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hi There! Do you have any idea what is going on here,

`" MetaMask - RPC Error: Invalid transaction params: params specify an EIP-1559 transaction but the current network does not support EIP-1559 {code: -32602, message: “Invalid transaction params: params specify an EIP-…but the current netw

[2021-12-11 23:30] Spacesai1or commented on #4500
This seems to be an issue with `Web3` being instantiated with multiple times with `@truffle/hdwallet-provider`

Instantiating two instance like so:

[code]

Yields the correct result

[2021-12-12 00:14] #4034 closed, assigned to nobody

[2021-12-12 00:56] Spacesai1or commented on #4500
@ujjwalguptaofficial I can't provide you more information on this (can't seem to find an issue in Truffle repo for it, even though there's [a comment](https://github.com/trufflesuite/truffle/blob/develop/packages/hdwallet-provider/src/index.ts#L41) about it), but it seems setting the option `shareNonce` to `false` will fix this issue:

[code]

For readability sake, this can be written as:

[code]

[2021-12-12 00:56] #4500 closed, assigned to Spacesai1or

[2021-12-13 16:52] nazarhussain opened #4624 "A unified and consistent validation logic across packages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

All the typesafe interfaces which are accepting data directly from the user must required to validate data before processing logic. This can avoid a lot of edge cases during the processing. Currently the validation logic is splitted among different packages and particularly the pattern for the

[2021-12-13 19:05] nazarhussain commented on #4509
Based on discussion among team, we decided to implement this as a new feature. There should be a configuration option in all related functions to fill in or not fill-in default values for transaction with default behavior matching to 1.x release.

[2021-12-14 01:25] danfinlay commented on #4509
Thanks, I'm glad this is moving forwards!

[2021-12-14 03:02] ujjwalguptaofficial commented on #4500
thanks @spacesailor24 :)

[2021-12-14 03:51] shenhaoguangDayDayUp opened #4627 "Error: ENS is not supported on network private"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/17617821/145930060-9f075ffc-698f-4e58-934b-4cf26fb86e0c.png)

### Expected Behavior

no error

### Steps to Reproduce

[code]

### Web3.js Version

1.61

### Environment

- Operating System: Mac
- Browser: chome
- Node.js Version: v14.17.6
-

[2021-12-15 00:04] FraSaid opened #4629 "In web3-core update TransactionConfig Interface to include gasLimit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

As of version 1.6.1 if a user was to use typescript to send a transaction theu a eth based chain it would fail, with error: "Missing Gas".
This is simply the consequence of a missing property in the TransactionConfig Interface.

### Use Cases

Whoever may want to send an eth compatible transac

[2021-12-15 14:17] jdevcs opened #4630 "Removing ethereumjs/tx in Accounts package"
Removing ethereumjs/tx dependency in Accounts package and implement functionality in 4.x for light weight builds.

[2021-12-15 18:18] nazarhussain opened #4631 "Add ERC-777 and multisig contracts type tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

We currently covered ERC-20 and ERC-721 type tests. It would be nice to add more of these tests to cover ERC-777 and MultiSig contracts.

### Use Cases

- Those contracts are very commonly used, having the types tested for those will provide more stable API for the contracts.

### Implementati

[2021-12-15 19:37] Spacesai1or opened #4632 "Replace duplicate Transaction types with generics for `Web3Eth`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

Currently transaction interfaces are re-specified in `web3-eth` to accommodate the `ReturnType` output formatting. This results in a lot of duplicate code ([e.g.](https://github.com/ChainSafe/web3.js/blob/184cbd31ef44b7dcaac4837a05e5ca39b3e62e59/packages/web3-eth/src/types.ts#L62)), and we sho

[2021-12-15 19:41] Spacesai1or opened #4633 "Replace `ChainNames` and `HardForks` enums with `@ethereumjs/common`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

These enums have been [declared](https://github.com/ChainSafe/web3.js/blob/184cbd31ef44b7dcaac4837a05e5ca39b3e62e59/packages/web3-eth/src/types.ts#L22) in `web3-eth`, but we should investigate replacing them with the same enums specified by [@ethereumjs/common](https://github.com/ethereumjs/et

[2021-12-16 03:08] wallopthecat commented on #1178
you've got about 15 days to wow us

[2021-12-16 04:14] Spacesai1or opened #4634 "Replace `isHexString8Bytes` and `isHexString32Bytes` with generic `isHexStringBytes` method"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

There's no reason to have `8` and `32` bytes methods defined instead of a single method that takes the expected byte length

### Use Cases

Validation of hex strings

### Implementation Ideas

[code]

### Feature Examples/References

_No response_

### Are you willing to implement this feature

[2021-12-16 08:46] Spacesai1or opened #4635 "Find a better suited library for testing typed code (`web3-eth-abi` and `web3-eth-contract`)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

It was proposed to use [@humeris/espresso-shot](https://www.npmjs.com/package/@humeris/espresso-shot), but it's such a young library (2 months old) with only 59 lifetime downloads

### Use Cases

`web3-eth-abi` and `web3-eth-contract`

### Implementation Ideas

_No response_

### Feature Examp

[2021-12-16 08:55] josephg commented on #1178
At the 4 year anniversary of this issue someone on HN claimed web3 has fixed this problem already. So I figured I'd re-run my test from last year. Disclaimer: bundle size might differ slightly with webpack / rollup / snowpack / esbuild / whatever the cool kids are using now. I'm sticking to browserify for this test for consistency with last years' results. I'd be interested to see the difference i

[2021-12-16 13:50] hems commented on #1178
I think you didn't understand the part where we will all be working with web3 applications running Apple Silicon with Tesla satellite internet. I mean, we talking about the future of the web here..

Who needs optimisation, working on mobile browsers, slow internet connections? that's all web2 stuff bruh. Let's mint some NFT and chill.

[2021-12-16 14:08] shrpne commented on #1178
At least there is some active work on v4. For example, I noted BN.js replaced with BigInt, so I hope this release will somehow solve the issue

[2021-12-16 17:08] nazarhussain opened #4636 "Link `tsconfig.json` file for `web3-eth-accounts` package to templates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Due to the issue https://github.com/ethereumjs/ethereumjs-monorepo/issues/1615 we have to create an independent `tsconfig.json` file for `web3-eth-accounts` package.

So we have to track the issue and once its fix on our side.

### Expected Behavior

The `tsconfig.json` files for every packag

[2021-12-16 18:08] #4483 closed, assigned to Spacesai1or

[2021-12-16 18:15] Spacesai1or commented on #4635
https://github.com/ChainSafe/web3.js/pull/4604#discussion_r770468696

[2021-12-16 18:40] Spacesai1or opened #4637 "`web3-eth-accounts` test fixtures should utilize `Web3Errors`"
Instead of providing just the error string here, you should provide the actual error expected to be thrown ([example](https://github.com/ChainSafe/web3.js/blob/4.x/packages/web3-utils/test/fixtures/validation.ts#L100))

_Originally posted by @spacesailor24 in https://github.com/ChainSafe/web3.js/pull/4607#r770374381_

[2021-12-16 18:58] RenoBozo commented on #4636
I have an ongoing isssue on this with the poly pointing to the tsconfig file on nodejs...

[2021-12-16 19:06] RenoBozo opened #4638 "Module not found / Configure polyfill"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Compiled with problems:X

ERROR in ./node_modules/eth-lib/lib/bytes.js 9:193-227

Module not found: Error: Can't resolve 'crypto' in 'D:\Metaverse\Code\Tutorials\NFTGame\v3\gamenpm\node_modules\eth-lib\lib'

BREAKING CHANGE: webpack < 5 used to include polyfills for node.js core modules by de

[2021-12-16 19:44] Loque18 commented on #4638
I am having this same error, is not even necessary to add other libraries, I got this error doing the following

npx create-react-app app
cd app
npm i web3
in App.js → import Web3 from "web3";

web3.js version → 1.6.1

for now Only solution is to downgrade web3 version :(

[2021-12-17 01:07] sweetmantech commented on #4619
I'm seeing the same behavior.

Does anyone know a solution?

[2021-12-17 05:05] luu-alex opened #4639 "accounts 4.x rewrite - validate keystore"
Add validation and testcases for `keystore`
https://github.com/ChainSafe/web3.js/pull/4622/files#diff-bcc6cd6da9c08aabb59251b6a4569eec1313010d9a1d187a03bbbe4118dcc648R272

[2021-12-17 12:24] #4562 closed, assigned to nazarhussain

[2021-12-17 13:18] #4477 closed, assigned to jdevcs

[2021-12-17 13:18] #4476 closed, assigned to jdevcs

[2021-12-17 13:18] #4475 closed, assigned to jdevcs

[2021-12-17 14:33] nazarhussain commented on #4627
Hi @shenhaoguangDayDayUp Thanks for reaching out to us. I looked into the code you shared, seems like React or Redux code. Unfortunately I can't execute that code right away to debug it further. It would be so nice if you can share a reproducible script that we can run on our end without dependencies to reproduce the issue.

[2021-12-17 14:36] nazarhussain commented on #4629
Hi @FraSaid Thanks for reaching out to us. That's obviously a nice idea and most of it already been in discussion to make transaction creation and signing more flexible. Currently all our efforts are focused on `4.x` rewrite so I will include your request to be considered for that release. If you want to know further about `4.x` please checkout our [blog post](https://medium.com/chainsafe-systems/

[2021-12-17 14:41] nazarhussain commented on #4638
Seems related to https://github.com/ChainSafe/web3.js/issues/4579

[2021-12-17 14:47] nazarhussain commented on #4638
@RenoBozo Thanks for reaching out to us. I linked another issue which also reflects the similar bug, see the discussion there. it may solve your problem.

It seems lie the issue related to your build manage, probably webpack in case of React. Recent version of webpack [drops support for native node js polyfils by default](https://blog.sindresorhus.com/webpack-5-headache-b6ac24973bf1). So you have

[2021-12-17 15:16] VictorPulzz opened #4641 "Returned values aren't valid, did it run Out of Gas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hello guys please help me,
This my code:
![image](https://user-images.githubusercontent.com/23406402/146566109-a2fb30d3-a27e-40d9-bfae-40cac8433ef8.png)
This code work correctly when I use test network in metamask, but when I switch to other, I got this issue:
![image](https://user-images.git

[2021-12-17 15:32] nazarhussain opened #4642 "[Rewrite 4.x] IPC Provider"
( This is Epic for 4.x Management )

### IPC Provider
IPC Provider is used to send RPC calls over Unix Socket

### Related Issues / Feature Requests / Discussion

- [x] #4643
- [x] #4644
- [x] #4645
- [x] #4646
- [x] #4647

### Dependencies / Related Modules

- [x]  #4340 Core Provider

### Documentation
- [x] README ( overview, one code snippet example, .. )
- [x] IPC Provider documentation ( Int

[2021-12-17 15:45] ArthurGerbelot commented on #4173
This is an important one.
I loose days  trying to fix it.

I'm done and will use https://www.npmjs.com/package/ethers instead

[2021-12-17 15:56] nazarhussain opened #4643 "Create web3-providers-ipc package structure for the 4.x"
### Description
We need a package skeleton to be available to start rewriting the `web3-providers-ipc` package.

### Acceptance Criteria
- Package must have same package information as 1.x branch
- Package must have jest unit test configurations

### Additional Information
Unit tests should have test coverage support as well.

[2021-12-17 15:58] nazarhussain opened #4644 "Create Web3IPCProvider class and initialize IPC connection library"
### Description
Create a skeleton for the class `Web3IPCProvider` which is extended by the `Web3BaseProvider` class.

### Acceptance Criteria
- All the abstract functions must be filled by place holders
- The class should initialize the underlying library to be used for the handling of IPC connection.
- Unit tests must cover the initialization of the library and the class

### Additional Informati

[2021-12-17 16:01] nazarhussain opened #4645 "Implement the connection related methods for `Web3IPCProvider`"
### Description
We need to implement the abstract methods `connect`, `reconnect` and `reset` for the `Web3IPCProvider`.

### Acceptance Criteria

- The `connect` method should initialize the wire connection not before.
- The connection statuses must be properly managed and accessible by `getStatus`

### Additional Information
In case some of these methods are found irrelevant to implement, fill th

[2021-12-17 16:02] nazarhussain opened #4646 "Implement the `request` method for `Web3IPCProvider`"
### Description

We need to implement the abstract method `request` for the `Web3IPCProvider`. The method should follow the similar approach used in other `Web3HTTPProvider` and `Web3WSProvider`.

### Acceptance Criteria

- The `request` should use the underlying connection to send the data
- The `request` method must be asynchronous and return the result based on generic type.

### Additional Inf

[2021-12-17 16:03] nazarhussain opened #4647 "Implement the events related behaviour for `Web3IPCProvider`"
### Description
We need to implement the abstract methods, `on`, `once`, `removeListener` and others related to event handling  for the `Web3IPCProvider`. The method should follow the similar approach used in other `Web3HTTPProvider` and `Web3WSProvider`.

### Acceptance Criteria
- The events does not support subscription then it must be reported by `supportsSubscriptions`
- The `disconnect` shoul

[2021-12-17 16:07] nazarhussain commented on #4314
Closed in favor of https://github.com/ChainSafe/web3.js/issues/4642

[2021-12-17 16:13] mconnelly8 opened #4648 "ChainSafe will be taking 2 weeks off for the holidays - Dec 20-Jan 3!"
Hello Web3.js Community!

The ChainSafe team will be taking a couple weeks off for the holidays.  During this time there will not be any updates made to the library.  The team will be monitoring the issues during this time to ensure there isn't any security issues.

Happy Holidays!

[2021-12-17 16:27] nazarhussain opened #4649 "[Rewrite 4.x] Web3-Validator"
( This is Epic for 4.x Management )

### Web3-Validator

We observed that there is a lot of validation code scattered in different packages. Also the validating pattern sometimes mixed up. That result in the different error reporting and non-consistent understanding of the errors for the users.

We need to make the validation logic consistently used across packages and also make it extensible and

[2021-12-17 16:35] nazarhussain opened #4650 "Replace the custom validation logic across packages with `web3-validator`"
### Description

Currently different validation logic is used across different packages. So to make it consistent we have to replace it's usage with `web3-validator`

### Acceptance Criteria
- There should not custom validation error reporting
- There should not be a validation logic in any package which is supported by `web3-validator`
- The unused code should be removed.

### Additional Informat

[2021-12-17 17:53] #4474 closed, assigned to luu-alex

[2021-12-17 18:02] Spacesai1or opened #4651 "Init `web3-eth-tx` package skeleton"

[2021-12-17 18:02] Spacesai1or opened #4652 "`WebEthTx` class"
- Should create an [@ethereumjs/tx](https://www.npmjs.com/package/@ethereumjs/tx) transaction instance using provided transaction object
- Static methods
    - The below methods should support a user defined method being passed as an argument to override default way of determination
        - `detectTransactionType` method
        - `validateTransaction` method
        - `fillTransaction` method
-

[2021-12-17 18:59] #4616 closed, assigned to nobody

[2021-12-17 19:01] #4473 closed, assigned to jdevcs

[2021-12-17 23:30] #4641 closed, assigned to nobody

[2021-12-19 02:34] ratracegrad commented on #4638
The issue is only with create-react-app v5 which was released 5 days ago. They use Webpack v5 which removed polyfills for node. As mentioned above if you follow these steps:
npx create-react-app myApp (must use create-react-app v5)
cd myApp
npm install web3
open up App.js and add line to import in web3 <- it is adding this line causes errors related to the polyfills that have been removed in Webpa

[2021-12-19 13:57] dragoonzx commented on #3310
I think, best solution now is to typecast to AbiItem[]

[code]

[2021-12-21 13:30] sbvhev opened #4654 "Uncaught (in promise) TypeError: Cannot set properties of null (setting 'requestManager')"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am getting the following error when creating a batch request for web3. This is happening on `new Web3(window.ethereum).BatchRequest()`

[code]

### Expected Behavior

We should be able to create batch request.

### Steps to Reproduce

[code]

### Web3.js Version

1.5.2

### Environment

- O

[2021-12-21 13:57] 0xthierry commented on #4612
Hey, I started investigating this issue.

I was able to reproduce the same behavior. I started debugging and got the following results when I call `ethersAbiCoder.decode` we got an out of memory, so it looks that the problem is inside `@ethersproject/abi`.

I added the logs bellow

[code]

Results:

[code]

Do we should open an issue in **[ethersproject](https://github.com/ethers-io/ethers.js/tree

[2021-12-21 16:16] JimLynchCodes commented on #3927
what's up with this? I can confirm the issue still exists. 😢

[2021-12-21 17:50] Nilotaviano opened #4655 "Methods that require to use .request in batch calls fail typescript"
Same issue as: https://github.com/ChainSafe/web3.js/issues/3144

[2021-12-21 18:47] thierrysantos commented on #4655
Hey @Nilotaviano,

I will be investigating this issue

[2021-12-22 16:58] Pandazaur commented on #3951
I experienced the same issue.

1. create a project with Vite-cli (`npm init vite@latest`) with "react-ts" but I think the problem is also on the other templates
2. Added web3.js `npm i web3`
3. Use `import web3 from 'web3'` cause the error with `process is not defined`

A workaround is to use `import Web3 from 'web3/dist/web3.min.js'` but not every confortable. I think the typescript types are bro

[2021-12-22 20:59] natansevero commented on #3891
I was facing the same problem. I was using the `web3@1.5.1`. But the problem was solved when I upgraded version to `web3@1.6.1`

[2021-12-23 00:14] #4214 closed, assigned to nazarhussain

[2021-12-23 07:57] lamberto15 commented on #3911
oh nice it works for me. the ecrcovery works on browser when using const web3 = new Web3(window.ethereum),
but when use with nodejs, const web3 = new Web3(window.ethereum)  is not working in server thats why ecrecovery not works on server.is all because of the provider.

[2021-12-23 19:25] luu-alex commented on #4173
Hi @ArthurGerbelot we are waiting for create-react-app to upgrade to support webpack 5, once they do we will create support ASAP. Currently the latest version of create-react-app does work with web3.js so If you are facing a problem please create an issue.

Sorry if you are facing any issues

[2021-12-25 07:45] Mehranh commented on #3912
Same error, any thoughts?

[2021-12-26 03:16] mychalvlcek commented on #3424
hi, what is the plan for webs.js ? Is it like locked for ETH only, or could it be something like standard for web3 wallets even for other blockchains?

[2021-12-27 00:14] #4153 closed, assigned to nobody

[2021-12-28 00:13] #4450 closed, assigned to nobody

[2021-12-28 00:13] #4422 closed, assigned to nobody

[2021-12-28 00:13] #4421 closed, assigned to nobody

[2021-12-28 13:27] francesco-clementi-92 opened #4656 "IPC provider subscription randomly not working"
https://eips.ethereum.org/EIPS/eip-1193#events our current providers should be in compliance with this.

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a full node on my pc which works perfectly and I'm using web3js IPC Provider to subscribe to pending transactions.

In a random moment, more or less once every two days, the IPC sto

[2021-12-28 13:55] ehteshaxm commented on #4638
What's the permanent solution for this? For now, I just downgraded to react-scripts@4.0.3 and its working fine

[2021-12-30 05:20] mpcabete opened #4657 "Wrong input type in first parameter of web3.eth.sign in documentation."
I am referring to this line plus the example:
https://github.com/ChainSafe/web3.js/blob/87e668275ac7d9b8af7c909137fc0626c3866929/docs/web3-eth.rst#L1582

The documentations specify that the first input should be :
`String - Data to sign. If it is a string it will be converted using web3.utils.utf8ToHex.`

If an string or an string parsed trough "web3.utils.utf8ToHex()" is passed the function retur

[2021-12-30 08:45] thedarkknight197 opened #4659 "Web3 don't work with latest of React"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have an issue with web3 with latest version of react.
It can't be imported in code.

The message is:

[code]

### Expected Behavior

I am expected that the import with

`import Web3 from 'web3';`

still work

### Steps to Reproduce

1) Create a new React Project: npx create-react-app newsit

[2021-12-30 11:49] virendrasinhr opened #4660 "Error : Redefinition of module 'fmt' in xcode 13"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior
Build fail in xcode 13 due to following error:
   Error :  Redefinition of module 'fmt'.

### Expected Behavior

Build project with web3 to implement blockchain.

### Steps to Reproduce

in pod file :

[code]

  also tried:

  pod web3 , '~> (versions)'

### Web3.js Version

1.6.1

### Environ

[2021-12-30 17:12] yieniggu commented on #4659
same here, not working and getting the following:

[code]

[2021-12-30 21:56] CodahWasTaken opened #4661 "Invalid sender when trying to sign and send a transaction (of a token) on the Binance Smart Chain"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm receiving the error "UnhandledPromiseRejectionWarning: Error: Returned error: invalid sender" when trying to send and sign a transaction of a token from my wallet to another one with Web3 and node.js

### Expected Behavior

The idea is to send the transaction of the token on the Binance S

[2021-12-30 21:59] giulibar commented on #4661
I'm currently having the same problem, i think it has something to do with the signAndSendTx but not sure why

[2021-12-31 03:13] CodahWasTaken commented on #4661
Solved.

[2021-12-31 03:13] #4661 closed, assigned to nobody

[2021-12-31 14:04] stemerlini commented on #4579
I have solved the issue by installing crypto-js (npm install crypto-js@latest) and adding the following code to the metro.config.js:

resolver: {
 extraNodeModules: {
        crypto: './node_modules/crypto-js',
      },
}

Unfortunately, I have got an another error while trying to use web3.js with expo and react native. Not sure how to fix this at the moment.

[2021-12-31 21:42] Mehranh commented on #3912
Could you please telll us how we should fix this error ?

[2021-12-31 22:41] ra-sun-god commented on #3912
I created a new function to do a direct RPC call with axios to get the block, seems it's web3js kinda error..

[2022-01-01 01:48] luu-alex commented on #4659
Hey thanks for creating this issue.
@yieniggu are you also running the same command `npx create-react-app`?

[2022-01-01 07:06] Mehranh commented on #3912
could you please share your code? @big-zak

[2022-01-01 17:21] thedarkknight197 commented on #4659
Thank you for read about it. It’s very strange error. I think is an issue between latest version of React and webpack and the latest version of library

[2022-01-02 13:03] fzn0x commented on #4004
This is still an issue

[2022-01-02 16:26] luu-alex commented on #4659
@thedarkknight197
Yes it seems like, the latest version of `create-react-app` has upgraded their webpack version and is missing a few modules required for `web3js`. I'll investigate this, thanks for bringing this to our attention 😃
There was a similar issue and a solution with Angular when they upgraded to webpack 5 #4070

[2022-01-02 17:08] vuhoangp commented on #4661
I having same problem, can you tell me how to fix it ? @Cod4h

[2022-01-02 17:19] vuphuc2301 opened #4665 "Returned error: Unknown Account"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm receiving the error "Returned error: Unknown Account" when trying to send approve request from my website on phone to metamask app using walletconnect

### Expected Behavior

Metamask Popup and ask for confirmation

### Steps to Reproduce

[code]

### Web3.js Version

1.6.1

### Environme

[2022-01-02 18:10] PippoApps commented on #3951
Same problem here, no matter how I start the project.
Just a clean install (same error with vite or webpack).
With web3 installed form npm:
![image](https://user-images.githubusercontent.com/29799572/147885218-a95c0e4a-9cc9-4df2-890e-0c13439e75b4.png)

[2022-01-02 20:09] fodisi commented on #4627
Hello folks, thanks for checking this issue.

I'm also experiencing this issue in a Node/NestJS service where I'm using web3 (v1.6.1 - also tried w/ 1.5.2 and 1.2.11 but got the same error).
The project doesn't make any calls ENS at all (no calls to ens functions), only web3 (pretty much create a web3 instance, and instantiate a few contracts, without ENS integration). However, a few moments after

[2022-01-03 05:40] Drakenwolf commented on #4659
Same issue here:(

[2022-01-03 10:35] yieniggu commented on #4659
yes, using create-react-app, was able to run the dev server by installing react-app-rewired and overridong some webpack config

[2022-01-03 12:02] imharvol commented on #3912
**Option 1**: Update to 3.x where the issue has been fixed (#3976)
Edit: I'm unsure of how stable 3.x is, so be careful with that

---

**Option 2**: Modify your node_modules web3 version:
Look for this line in your `node_modules/web3-core-helpers/lib/formatters.js`
https://github.com/ChainSafe/web3.js/blob/8783f4d64e424456bdc53b34ef1142d0a7cee4d7/packages/web3-core-helpers/src/formatters.js#L244

[2022-01-04 09:44] mseemann commented on #4659
my workaround is:
- install react-app-rewired (`yarn add -dev react-app-rewired`)
- create a file `config-overrides.js` and add the following content:

[code]
the packages need to be added (`yarn add --dev crypto-browserify stream-browserify assert stream-http https-browserify os-browserify url`)

- also a polyfill is required. I created a file `polyfill.ts` (could also be js) with the following c

[2022-01-04 11:53] jdevcs commented on #4642
For future if Epic is already there kindly use same Epic and update its description. @nazarhussain @mconnelly8
This saves time in zenhub as well.

[2022-01-04 13:12] nazarhussain commented on #4642
@jdevcs Definitely, but creating such empty epics way earlier endup not knowing which of issues are already created and are in backlog. So for better time saving, we must create and plan the foreseeable future.

[2022-01-04 14:45] jdevcs commented on #4619
@vusaalab web3.js already supports eip1559 . This seems issue in metamask.

[2022-01-04 16:11] #4648 closed, assigned to nobody

[2022-01-04 22:09] kingsley-einstein commented on #4665
Facing same issue

[2022-01-04 23:19] danim72 commented on #4638
Here you have the solution that works out for gatsby

https://stackoverflow.com/questions/66952972/cannot-add-web3-to-react-project

[2022-01-04 23:41] 0xRapid commented on #3083
Any update?

[2022-01-05 01:02] danim72 commented on #4638
Resolved using the following webpack 5.x configuration though:

(Adding the following config in gatsby-node.js)
[code]

[2022-01-05 05:10] Mehranh commented on #3912
@imharvol  how we can install the 3.x version?

[2022-01-05 09:58] imharvol commented on #3912
You can use:
- `npm i web3@3.0.0-rc.5` for the npm version
- `npm i https://github.com/ChainSafe/web3.js.git#3.x` for the github version

Again: I'm unsure of how stable it is (I asked here https://discord.com/channels/593655374469660673/719602820801888337/928225379498459176)

[2022-01-05 10:01] Mehranh commented on #3912
@imharvol  Thanks I will test it,

also I found another solutuon :

`sed -i "s|assert(false, 'Number can only safely store up to 53 bits')|ret = Number.MAX_SAFE_INTEGER|g" ./node_modules/number-to-bn/node_modules/bn.js/lib/bn.js`

for now, I use this and it works for me, but it's not  a good solution

[2022-01-05 16:56] blankey1337 commented on #2683
Here is a snippet of the above with the recommended forward lookup to avoid imposters:

[code]

[2022-01-05 17:42] thedarkknight197 commented on #4659
For my project already started how can i migrate to it? I will create a new project? @mseemann

[2022-01-05 18:42] mconnelly8 commented on #4652
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4652?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2022-01-05 19:59] mseemann commented on #4659
@thedarkknight197 the steps i have described were also on a new created project with npx create-react-app.

[2022-01-05 20:42] luu-alex commented on #4659
@mseemann  awesome workaround for people running with `yarn`.
just to add on top of this, if you would like to use the other script commands in `package.json` change the rest of `react-scripts` to `react-app-rewired` and if you want to use `polyfill.js` (think you might get errors though) instead of `polyfill.ts` use:

[code]

[2022-01-05 20:49] thedarkknight197 commented on #4659
So i can use npm in my proget already started with:

`npm install --save-dev react-app-rewired`

Right?

[2022-01-05 20:54] luu-alex commented on #4659
@thedarkknight197  yes

[2022-01-05 20:55] thedarkknight197 commented on #4659
In js in polyfill i need to remove the "as any" directive, but now i have this error:
[code]

I will try to add it

[2022-01-05 20:58] thedarkknight197 commented on #4659
Nothing:
i do npm install --save-dev buffer,
but my console of chrome told to me:
[code]

My terminal:
[code]

[2022-01-05 21:09] luu-alex commented on #4659
@thedarkknight197 do you have `
import './polyfill.js';` in your `index.js`? that buffer error should be gone. you will get warnings in your terminal, but it will still build succesfully

[2022-01-05 21:11] thedarkknight197 commented on #4659
I insert import './polyfill' how is told by @mseemann

[code]

[2022-01-05 21:28] thedarkknight197 commented on #4659
if i move the import of polyfill on firstline of file index.js the site now is visible.

But in my terminal this message don't go away:

[code]

[2022-01-05 21:30] thedarkknight197 commented on #4659
The full console errors:

[code]

[2022-01-05 21:39] luu-alex commented on #4659
Glad the page has loaded and built succesfully, I'll see if theres anything that can be done about this warnings.

[2022-01-05 21:46] thedarkknight197 commented on #4659
thank you so much... I will wait any news, thank you for your patience

[2022-01-05 23:07] FreetzBB commented on #4655
same issue here
cannot batch.add sendSignedTransaction:

batch.add(web3.eth.sendSignedTransaction.request(signedtxObjectApproval.rawTransaction ....
gives ERROR: the property "request" does not exist on type PromiEvent

[2022-01-06 03:42] Spacesai1or opened #4667 "`web3-validator` TODOs"
- [x] [Remove duplicate `web3-validator` code](https://github.com/ChainSafe/web3.js/tree/e21d55bd6cdc8c181289e8faaf9afa691508d2e1/packages/web3-validator/src/validation)
- [x] [Validate nested arrays](https://github.com/ChainSafe/web3.js/blob/e21d55bd6cdc8c181289e8faaf9afa691508d2e1/packages/web3-validator/src/utils.ts#L19)
- [x] [Investiate strippedType error](https://github.com/ChainSafe/web3.js

[2022-01-06 07:50] mseemann commented on #4659
@luu-alex, @thedarkknight197  to disable the warning you can add `config.ignoreWarnings = [/Failed to parse source map/];`in the config-overrides.js file.

[2022-01-06 15:36] thedarkknight197 commented on #4659
Great it work! :D

[2022-01-06 15:50] nazarhussain commented on #4654
@sbvhev  Thanks for reaching to us.

The `BatchRequest` is actually a constructor. You can check it in our [docs](https://web3js.readthedocs.io/en/v1.5.0/web3.html#batchrequest).

The way you are initiating is calling a function and not the constructor as `new` only invoked with `Web3`. The right way to do is

[code]

But I will prefer to decompose it to two statements to avoid confusion.

[code]

[2022-01-06 15:50] #4654 closed, assigned to nobody

[2022-01-06 16:09] nazarhussain commented on #4655
@Nilotaviano Thanks for sharing this issue.

I tried the following code with `1.5.2` version and was able to reproduce the error.

[code]

The detail error is:

[code]

We will look into this further.

[2022-01-06 16:15] nazarhussain commented on #4659
Hi @thedarkknight197 Based on above discussion and specially https://github.com/ChainSafe/web3.js/issues/4659#issuecomment-1006092709 it seems the issue is resolved. Probably its because the latest Webpack does not ship the NodeJS polyflils by default.

As we are focused on `4.x` rewrite right now, we try to re-evaluate the latest react and other frameworks support for that release. For now I am c

[2022-01-06 16:15] #4659 closed, assigned to nobody

[2022-01-06 16:28] nazarhussain commented on #4665
@vuhoangp Thanks for reaching to us. The error message with the prefix `Returned error` clearly means this is not an error generated  by our library. Rather the error was returned from the provider node you are connected to as an error response.

I would suggest you to verify and debug once again within your code, there seems to an invalid account address used. You can also try to connect to some

[2022-01-06 16:33] nazarhussain commented on #4660
@royalvirendra Apparently this does not seems related to `web3.js`. As we don't have or using any `fmt` package.

Please share more details to this error. At least the complete error trace.

[2022-01-06 16:39] nazarhussain commented on #4656
@francesco-clementi-92 That's merely impossible to reproduce on our side if that effect in longer run.

We have a configuration listener on `timeout`, if that happens the connection must throw error.

https://github.com/ChainSafe/web3.js/blob/8783f4d64e424456bdc53b34ef1142d0a7cee4d7/packages/web3-providers-ipc/src/index.js#L105-L107

Can you try to debug it further on your side, by disconnecting y

[2022-01-06 16:42] nazarhussain commented on #4638
As mentioned by https://github.com/ChainSafe/web3.js/issues/4638#issuecomment-997318810 and https://github.com/ChainSafe/web3.js/issues/4638#issuecomment-996777895 the issue is caused by behavior of Webpack5, which removes the support for the NodeJS polyfills by default.

As mentioned by above comment one can add those polyfills back with webpack config `resovle`.

[2022-01-06 16:42] #4638 closed, assigned to nobody

[2022-01-06 16:52] nazarhussain commented on #4627
@fodisi @shenhaoguangDayDayUp

This is very strange behavior. The error `ENS is not supported on network` is only been thrown from `checkNetwork` and that function is not invoked by the library itself.

Certainly some upper layer is invoking that function. Are you sure there is no other library or code which you are injecting with web3, that may be invoking that function.

@fodisi Can you try to c

[2022-01-06 17:20] francesco-clementi-92 commented on #4656
Hi @nazarhussain ,

starting the IPC provider with a node that is syncing (so not receiving pending transaction event), I have the same problem.

No timeout or error event, even if it's successfully connected, I don't know if it's normal or not.

Do you know a way to disconnect the node without stopping it?

If not l'll try to test it asap.

[2022-01-06 17:34] Nilotaviano commented on #4655
Thank you for looking into it, @nazarhussain!

[2022-01-06 18:25] nazarhussain commented on #4656
No I don't think there is a straight forward way to do it. May be you can update your code to catch the error on higher scope, then try reconnect the IPC provider.

https://github.com/ChainSafe/web3.js/blob/8783f4d64e424456bdc53b34ef1142d0a7cee4d7/packages/web3-providers-ipc/src/index.js#L201

[2022-01-06 19:10] francesco-clementi-92 commented on #4656
The problem is that there is no error to catch.

I found a way to replicate it, connect the IPC provider and run a subscription, then disconnect the computer from internet.

The subscription will be stucked with no error.

[2022-01-06 19:15] #4624 closed, assigned to nazarhussain

[2022-01-06 20:05] #4650 closed, assigned to nazarhussain

[2022-01-07 09:44] #4643 closed, assigned to nazarhussain

[2022-01-07 09:44] #4644 closed, assigned to nazarhussain

[2022-01-07 09:44] #4645 closed, assigned to nazarhussain

[2022-01-07 09:44] #4646 closed, assigned to nazarhussain

[2022-01-07 09:44] #4647 closed, assigned to nazarhussain

[2022-01-07 11:47] #4550 closed, assigned to jdevcs

[2022-01-07 16:42] luu-alex commented on #4657
Hey thanks for creating this issue, I was able to succesfully pass a string without returning the error, as well I passed a string through `web3.utils.uf8ToHex()` in the first parameter and was succesful.

Can you paste the code that lead to you these errors?

[2022-01-07 17:27] #4651 closed, assigned to Spacesai1or

[2022-01-08 10:39] virendrasinhr commented on #4660
We are not able to reproduce this issue, because we are facing  the below mentioned issue  :

Could not find module 'BigInt' for target 'x86_64-apple-ios-simulator'; found: arm64, arm64-apple-ios-simulator, at: /Build/Products/Debug-iphonesimulator/BigInt/BigInt.swiftmodule

![image](https://user-images.githubusercontent.com/75446531/148640452-87abc320-7d45-47a4-8cd3-9d31577a23a2.png)

### For Mor

[2022-01-09 14:03] c3rf1g commented on #2809
РУССКИЕ ВПЕРЕД

[2022-01-10 01:43] jdiegosierra commented on #4665
You have to use Metamask provider instead of node URL `const web3 = new Web3(window.ethereum);`

[2022-01-10 18:40] #4173 closed, assigned to luu-alex

[2022-01-10 18:41] #4576 closed, assigned to luu-alex

[2022-01-10 18:43] luu-alex commented on #4659
https://github.com/ChainSafe/web3.js#web3-and-create-react-app
the solution getting web3 and react to work is now posted in the github repo.

Thanks everyone :)

[2022-01-10 18:51] luu-alex commented on #4173
https://github.com/ChainSafe/web3.js#web3-and-create-react-app Instructions now exist for getting create-react-app working with web3js

[2022-01-10 18:52] #4172 closed, assigned to nobody

[2022-01-10 19:47] luu-alex opened #4679 "Create the web3 package structure for 4.x"
## Description:
Web3 is its own package so to start we need to create a package structure.

## Acceptance criteria:

Package must have same package information as 1.x branch
Package must have jest unit test configurations

[2022-01-10 19:49] luu-alex opened #4680 "Create the Web3 class - 4.x"
## Description:
- Web3 object includes:
- Web3.version
- Web3.utils
- Web3.modules - Include the packages that will be released with 4.0 alpha release within modules (without bzz and shh package)
- Web3.setProvider
- Web3.providers
- Web3.givenProvider
- Web3.currentProvider
- Web3.BatchRequest

## Acceptance Criteria:
Create the Web3 type to have same functionality as 1.x
Create unit test cases f

[2022-01-10 19:50] luu-alex opened #4681 "Implement Web3 function - 4.x"
## Description:
Implement the Web3 function.
Do not include bzz or shh packages, as they are deprecated.

Web3() -  Function that creates a Web3 Object.

## Criteria:
Implement the Web3 function and migrate functionalities to 1.x
Include unit test cases for the function	 and Web3 object

## Resources:
https://github.com/ChainSafe/web3.js/blob/1.x/packages/web3/src/index.js#L40

[2022-01-10 19:51] luu-alex opened #4682 "Web3 package - include tracking of build size 4.x"
## Description:
We want to be able to track build size of the whole project, this was inspired from #1178 we want the build size to be as minimal as possible.

We can use functionality from webpack 5 for analyzing the build size

## Acceptance Criteria:
- Be able to track and analyze build size within the Web3 pack

[2022-01-10 19:54] luu-alex opened #4683 "Web3 package - Include provider and batch request 4.x"
## Description:

We want to include the other Web3 functions from 1.x

This includes:
- setProvider
- providers
- givenProviders
- currentProviders
- batchRequest

## Acceptance criteria:
- Includes unit testcases for these functions
- must have all the functions listed

## resources:
https://web3js.readthedocs.io/en/v1.5.2/web3.html#setprovider

[2022-01-10 21:29] brucexu-eth opened #4684 "Property 'send' does not exist on type 'string'. Why a provider can be a string?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to say about Web3.js' documentation?

Hi guys, I'm doing an example with TypeScript, the code sandbox is https://codesandbox.io/s/rough-shadow-m85c3?file=/src/App.tsx.

When I invoke the send from `web3.currentProvider`, TS throw an error: Property 'send' does not exist on type 'string'.

!

[2022-01-11 04:27] nolanjannotta commented on #4638
I would like to echo this, worked for me too.
I changed the react-scripts version, then uninstalled and reinstalled web3, then restarted the react server and it works 👍
Im not sure if the last two steps were necessary but, it works now!
Thanks @ehteshaxm

[2022-01-11 04:38] Spacesai1or opened #4685 "Update `web3-eth-contract` to use `web3-eth` methods"
- [ ] [eth_call](https://github.com/ChainSafe/web3.js/pull/4678/files#diff-7fa8f782e68ce845dbb6e8446b86041697fa427db5485b9c63bf689d0b32ed81R215)
- [ ] [eth_sendTransaction](https://github.com/ChainSafe/web3.js/pull/4678/files#diff-7fa8f782e68ce845dbb6e8446b86041697fa427db5485b9c63bf689d0b32ed81R237)
- [ ] [Support EIP-1559 transactions parameters ](https://github.com/ChainSafe/web3.js/pull/4678#di

[2022-01-11 11:14] jdevcs opened #4686 "Init IBAN Package"
Init IBAN package and create IBAN class.

### Description:
Iban constructor: Generates an iban object with conversion methods and validity checks. IBAN class has following functions:
Iban.toAddress()
Iban.toIban()
Iban.fromAddress()
Iban.fromBban()
Iban.createIndirect()
Iban.isValid()

[2022-01-11 11:14] jdevcs opened #4687 "IBAN Basic Functions"
### Description:

- toAddress: Converts a direct IBAN address into an Ethereum address.
- toIban: Converts an Ethereum address to a direct IBAN address.
- From address: Converts an Ethereum address to a direct IBAN instance.
- from Bban: Converts BBAN address to a direct IBAN instance.

[2022-01-11 11:15] jdevcs opened #4688 "IBAN Validation and Direct/Indirect checkFunctions"
### Description:

- createIndirect:  Creates an indirect IBAN address from an institution and identifier.
- isValid: Checks if an IBAN address is valid.
- isDirect: Checks if the IBAN instance is direct.
- isInDirect: Checks if the IBAN instance is indirect.

[2022-01-11 11:15] jdevcs opened #4689 "Checksum institution and Client functions"
### Description:

- checksum: Returns the checksum of the IBAN instance.
- institution: Returns the institution of the IBAN instance.
- client: Returns the client of the IBAN instance.
- toString: Returns the IBAN address of the IBAN instance.

[2022-01-11 11:16] jdevcs opened #4690 "IBAN Helper functions"
### Description:

- iso13616Prepare: Prepare an IBAN for mod 97 computation
- mod9710: Calculates the MOD 97 10 of the passed IBAN as specified in ISO7064
- mod9710: Calculates the MOD 97 10 of the passed IBAN as specified in ISO7064

[2022-01-11 21:28] luu-alex opened #4692 "TransactionReceipt should support effectiveGasPrice"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

We need to support effectiveGas for receipts in EIP-1559 transactions

### Use Cases

https://github.com/ethereum/execution-specs/pull/251

### Implementation Ideas

_No response_

### Feature Examples/References

_No response_

### Are you willing to implement this feature?

- [X] Yes

[2022-01-11 21:30] luu-alex opened #4693 "TransactionReceipt should support effectiveGasPrice - 4.x"
We need to support effectiveGas for receipts in EIP-1559 transactions

https://github.com/ethereum/execution-specs/pull/251

[2022-01-12 07:58] danielblnc opened #4695 "Error: data out-of-bounds when calling any contract via Websocket Infura RPC"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

After changing RPC provider from Infura HTTPS to WSS, every contract call throws a "data out-of-bounds", "BUFFER_OVERRUN" error.

[code]

### Expected Behavior

Contract should be called with no error.

### Steps to Reproduce

I can reproduce the issue with this code:

[code]

When using `rpc

[2022-01-12 10:30] TimDaub opened #4696 "web3-providers-http@1.61 pins "xhr2-cookies": "1.1.0" in "dependencies", a node.js-only polyfil"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

- xhr2-cookies uses the nodejs "os" package: https://nodejs.org/api/os.html
- E.g. browsers don't have a "os" module available. The "os" module cannot be shimmed in a browser environment either.
- A problem can be that, hence, an application that uses web3 cannot create working builds for the

[2022-01-12 14:08] hems commented on #4682
I reckon one thing that should be aimed for is tree shaking.

If users just need to call a small function they should be able to only import such small function and use it as opposed to have to call a "global web3 object" that will pull each and every dependency on the bundle.

i mean that should not aimed for, that's what i reckon should be done, otherwise the problem will persist.

[2022-01-12 14:53] PabloMunaretto commented on #3271
Same here, did anyone solved it ?

[2022-01-12 15:10] PabloMunaretto commented on #3271
I've changed the method getAccounts() for requestAccounts() and worked, don't know why.

[2022-01-12 16:08] #4692 closed, assigned to nobody

[2022-01-12 16:52] mconnelly8 opened #4697 "[Rewrite 4.x] Web3 Eth Personal"
### Description

Create package `web3.eth.personal` with following functionality.

### Related Issues / Feature Requests / Discussion

- [ ] [Web3 Eth Personal](https://github.com/ChainSafe/web3.js/issues/4720)

### Acceptance Criteria

- [ ] README is added with overview and examples
- [ ] documentation of web3.eth.personal
- [ ] Test coverage is greater than 80%
- [ ] Verify that no function lef

[2022-01-12 16:54] mconnelly8 commented on #4615
This is being moved to an Epic record.

[2022-01-12 16:54] #4615 closed, assigned to nobody

[2022-01-12 17:29] kochurovro opened #4698 "Issue with result of sha3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hi!

The result of web3.utils.sha3 differs from the result of the same function which I got about 4-5 months ago.

data in is bafybeif5znxajp2we6fmjqu3al6tfik45nuiwtux4djaapn4ziyjjosklm.
the result now is 0x0d1bbc0bf1afc8e8fb4e769a9202a94421ab72b11921d57f77dbe389f4c7b542
the result before is

[2022-01-12 18:06] jdevcs commented on #4615
closed for: https://github.com/ChainSafe/web3.js/issues/4697

[2022-01-12 18:43] luu-alex opened #4699 "Web3 extend functionality - 4.x"
Still need discussion on the importance and use cases of web3.extend

#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Environment

[2022-01-12 18:44] mconnelly8 commented on #4680
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4680?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2022-01-12 18:49] #4683 closed, assigned to nobody

[2022-01-12 18:50] mconnelly8 commented on #4679
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4679?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2022-01-12 18:51] #4681 closed, assigned to nobody

[2022-01-12 19:11] mconnelly8 commented on #4687
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4687?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2022-01-12 19:12] mconnelly8 commented on #4688
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4688?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2022-01-12 19:14] mconnelly8 commented on #4689
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4689?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2022-01-12 19:40] mconnelly8 commented on #4495
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4495?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2022-01-12 19:49] Nijakisan commented on #4495
It's my first day when i try this creating so still learning if i broke somethung i', so sorry !

[2022-01-12 19:49] mconnelly8 commented on #4573
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4573?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2022-01-14 16:50] luu-alex commented on #4695
Thank you for this issue, a team member will take a look into this when we have the bandwidth to investigate.

[2022-01-14 18:19] jdevcs opened #4704 "Doc Updates"
- [x] https://github.com/ChainSafe/web3.js/pull/4702
- [x] https://github.com/ChainSafe/web3.js/pull/4691
- [x] https://github.com/ChainSafe/web3.js/pull/4662
- [x] https://github.com/ChainSafe/web3.js/pull/4710

[2022-01-14 20:06] Muzammilshabbir commented on #4090
I am getting the same error with react

[2022-01-14 20:07] Muzammilshabbir commented on #4090
This error occur when importing web3

[2022-01-15 01:08] Domjara97 opened #4705 "Domenic"

[2022-01-15 03:01] frangio commented on #4235
Not stale! Waiting patiently. 😁

[2022-01-15 07:49] ion-girloanta commented on #4638
Work for me to       npm install --save --save-exact react-scripts@4.0.2

[2022-01-16 05:34] zhangyi999 opened #4709 "Unhandled Rejection (Error): data out-of-bounds (length=64, offset=96, code=BUFFER_OVERRUN, version=abi/5.0.7)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

[code]

### Steps to Reproduce

[code]

### Web3.js Version

1.5.2

### Environment

- Operating System:
- Browser:
- Node.js Version:
- NPM Version:

### Anything Else?

_No response_

[2022-01-16 05:48] #4709 closed, assigned to nobody

[2022-01-16 15:00] hurtonypeter commented on #1178
Tbh, this won't do too much. The library needs a full rewrite as ES6 modules. No bundler is able to tree-shake the current version as it should be.

[2022-01-16 23:58] Deekor commented on #4657
I'm having the same issue. I noticed the docs only go to `v1.5.2` and I'm on `v1.6.1` could something have changed in the newest version? I should note I'm attempting this with metamask.

Edit:
I discovered `web3.eth.personal.sign` is working properly.

[2022-01-17 05:53] mohit-techdoodles commented on #4579
@stemerlini @koust @BlackBlock88 i m having same issue in react-native. it works in android build but ios build not working
Did you solve it ?

Unable to resolve module crypto from /hydro_app_b/node_modules/eth-lib/lib/bytes.js: crypto could not be found within the project or in these directories:
  node_modules/eth-lib/node_modules
  node_modules
  ../node_modules
  ../../../node_modules

If you

[2022-01-17 13:37] #4705 closed, assigned to nobody

[2022-01-17 13:44] jdevcs commented on #4696
@TimDaub Thanks for reporting this.
We are using [cross-fetch](https://github.com/ChainSafe/web3.js/blob/24b4ca7feafb29baf2cee9e5d860c946b51b709a/packages/web3-providers-http/package.json#L43) in web3.js [4.x](https://github.com/ChainSafe/web3.js/tree/4.x) , so this issue will be fixed 4.x release.

[2022-01-17 13:51] #4696 closed, assigned to nobody

[2022-01-17 15:46] ondratra commented on #1178
Historically, I've used https://github.com/xf00f/web3x , which was pretty much like `web3.js` rewritten into Typescript, thus having shakeable modules (among other things). Unfortunately, it's no longer maintained.

[2022-01-17 15:57] mconnelly8 opened #4711 "Tests 4.x Alpha"
( This is Epic for 4.x Management )

### Description

This Epic have requirements for **4.x alpha tests**.

- Node.js tests (**v14, v16,** v18 ) https://nodejs.org/en/about/releases/

- Min 2 browsers
    **Firefox**, Chromium-based browsers, Google Chrome, **Brave**, Safari, Microsoft Edge
    min versions TBD ( Firefox 60, Google Chrome 64, Safari 12, Edge 44, Brave )

- eth client/NW tests

[2022-01-17 17:00] hurtonypeter commented on #1178
You can use ethers (I changed to this as well) which isn't perfect in this case either but instead of adding 3MB to an SPA bundle, it only adds around 250kb :)
https://github.com/ethers-io/ethers.js

[2022-01-18 11:46] giannisftaras commented on #2683
I am trying to implement your snippet using Web3JS from a CDN but I am getting an error "namehash: is not defined". The namehash object appears to be implemented in the library but I am not able to call it. Apparently I am missing something...

[2022-01-18 11:58] gpersoon commented on #2683
Namehash can be found here: https://www.npmjs.com/package/@ensdomains/eth-ens-namehash

[2022-01-18 18:15] jdevcs opened #4713 "1.x libs update"
Details to be discussed in team meeting.

[2022-01-19 03:56] zetorange1 commented on #4665
You need to run this before making `myContract` variable.
`web3.eth.setProvider(Web3.givenProvider);`

[2022-01-19 04:14] DeployIsComing commented on #1321
I'm trying to sign multiple vouchers. User uploads an image and defines the quantity I need to create one signed voucher for each copy. For one voucher I manage to work using sendAsync the problem Is when I try to sign more than one. I tried to provide sendAsync to batch.add but I'm receiving an error since sendAsync and even send don't return a value. Any idea how I can handle it.

[2022-01-19 05:28] Hp1923 commented on #3771
did you solve this issue....

[2022-01-19 16:44] #4436 closed, assigned to Spacesai1or, jdevcs

[2022-01-19 17:05] #4704 closed, assigned to jdevcs

[2022-01-19 19:08] 0xCheeseKnight commented on #3042
This issue was crippling our servers due to needing to programatically interact with a lot of contracts. We have switched over to the `ethers` library for instantiating contracts and the leak is now gone. Hopefully this gets fixed soon.

[2022-01-19 19:24] DeployIsComing commented on #1981
Hello, I'm trying to sign two or more vouchers.

To sign just one voucher I manage to make it work:

[code]

however I tried to add this function to batch.add and didn't work.

I tried to add two blocks of the code above and just one worked, the other was ignored.

I tried to add an array in sendAsync like

  await web3.currentProvider.sendAsync([ {...}, {...}, {...}]....

  and didn't work as wel

[2022-01-20 02:34] div-cowboy commented on #1598
@Pickeringwareltd were you able to find a solution for this? Even when I copy the example above, I'm getting a `process is undefined` error whenever I try to interact with my contract methods.

[2022-01-20 15:05] #4601 closed, assigned to luu-alex

[2022-01-20 15:05] #4600 closed, assigned to luu-alex

[2022-01-20 16:03] munrocket commented on #1178
@luu-alex @jdevcs npm have new feature for you https://twitter.com/netanelbasal/status/1484052513552846850?s=21

[2022-01-20 19:51] jdevcs opened #4720 "Web3 Eth Personal"
### Description
**Following function are for interacting with wallet located in Eth node, these are not for local wallet.**
Having following functionality in 4.x:

- newAccount: Creates a new account
- sign : The method used for signing
- ecRecover : Recovers the account that signed the data.
- signTransaction: Signs a transaction. This account needs to be unlocked.
- sendTransaction: This method

[2022-01-20 20:41] nazarhussain commented on #4564
@mconnelly8  Due to [typescript limitation](https://github.com/microsoft/TypeScript/issues/17944) bumped into while working on the issue, had to increase the estimate to find solution for it.

[2022-01-20 20:50] nazarhussain opened #4721 "Implement `contract.events.allEvents` public interface"
### Description

We need to implement a contract public interfaces `contrat.events.allEvents` which is not part of the contract ABI.

### Acceptance Criteria

- The function must follow the same API as `1.x` branch
- The callback support must be dropped
- All the public interfaces from `1.x` must be implemented

### Additional Information

- The code must be covered with unit tests

[2022-01-20 20:53] nazarhussain opened #4722 "Implement `contract.getPastEvents` public interface"
### Description

We need to implement a contract public interfaces `contrat.getPastEvents` which is not part of the contract ABI.

### Acceptance Criteria

- The function must follow the same API as `1.x` branch
- The callback support must be dropped
- All the public interfaces from `1.x` must be implemented

### Additional Information

- The code must be covered with unit tests

[2022-01-20 22:14] #4686 closed, assigned to luu-alex

[2022-01-20 22:40] luu-alex commented on #4698
Yes the sha3 function was changed in the later versions of web3. It looks like web3.utils.sha3 is returning correctly now. The result before "0xd1bbc0bf1afc8e8fb4e769a9202a94421ab72b11921d57f77dbe389f4c7b542" is length 65 when it should be length 66.

[2022-01-21 06:01] kai-alpha opened #4724 "Some exceptions thrown by web3-eth-account cannot be caught"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`Accounts.signTransaction()` can generate a stray Promise under JS job queue, and there's no way for library users to catch any exceptions the stray promise throws, which can [kill the entire Node.js process](https://nodejs.org/api/process.html#event-uncaughtexception). A library shouldn't al

[2022-01-21 10:23] nazarhussain commented on #4724
Thanks @kai-alpha for reporting the issue. We will look into to investigate further.

[2022-01-21 10:26] nazarhussain commented on #4656
That's seems to be a real issue, but as per our priorities right now we will address it in 4.x rewrite.

[2022-01-21 10:32] nazarhussain commented on #4660
As per the error log it does not seems to be related to the `web3` library it self. I suggest you should take up this issue with https://github.com/attaswift/BigInt.

I am closing this issue for now, feel free to re-open if you have any web3 relevant findings.

[2022-01-21 10:32] #4660 closed, assigned to nobody

[2022-01-21 10:37] nazarhussain commented on #4665
@vuhoangp Hope the above comments would solved the problem.

As earlier explained in my comment, the error message mentions that the error is returned from the provider not the library.

I am closing the issue now, if you find any relevant information suggesting this issue relates to library, please re-open the issue.

[2022-01-21 10:37] #4665 closed, assigned to nobody

[2022-01-21 10:38] nazarhussain commented on #4627
@fodisi Were you able to reproduce this error with only `web3` dependency in the package?

[2022-01-21 10:40] nazarhussain commented on #2621
Closed by https://github.com/ChainSafe/web3.js/pull/4672

[2022-01-21 10:40] #2621 closed, assigned to nobody

[2022-01-21 13:22] kochurovro commented on #4698
Hi @luu-alex

Ok, let's close this issue. But first, could you write a version where the bug was fixed?

[2022-01-21 15:04] luu-alex commented on #4698
The version where the bug was fixed was `1.6.0`. If you would like to reproduce old hashes feel free to use any versions before 1.6.0. I'll close this for now and if anything comes up feel free to reopen.

Thank you for bringing this to our attention!

[2022-01-21 15:04] #4698 closed, assigned to nobody

[2022-01-23 02:28] guillermoFragachan commented on #4090
I am getting the same error, Where is that web pack config file?

[2022-01-23 03:01] guillermoFragachan commented on #4090
Guys I fixed it by downgrading the react scripts

`npm uninstall react-scripts`

and then

`npm i react-scripts@4.0.3  `

[2022-01-23 07:49] imsys opened #4726 "Docs: `Getting Started` does not mention node-polyfills for webpack & rollup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to say about Web3.js' documentation?

The information is in the github Readme. Okay, I just saw it now but I would expect the ReadTheDocs to be more complete and have it there already.
The docs says to just use `npm install web3` and it will be all fine. At least have a link there saying: "

[2022-01-24 06:00] lucaspiressimao commented on #4092
check this
https://github.com/ChainSafe/web3.js/issues/3936#issuecomment-797342613

[2022-01-24 06:00] lucaspiressimao commented on #4212
Check this https://github.com/ChainSafe/web3.js/issues/3936#issuecomment-797342613

[2022-01-24 06:01] lucaspiressimao commented on #3912
check this, same here https://github.com/ChainSafe/web3.js/issues/3936#issuecomment-797342613

[2022-01-24 06:02] lucaspiressimao commented on #3745
this can help https://github.com/ChainSafe/web3.js/issues/3936#issuecomment-797342613

[2022-01-24 06:03] lucaspiressimao commented on #1960
this is similar to this one https://github.com/ChainSafe/web3.js/issues/3936#issuecomment-797342613

[2022-01-24 14:45] #4713 closed, assigned to luu-alex

[2022-01-24 16:15] jdevcs commented on #4726
@imsys Thanks for suggestion, could you open PR and suggest changes in documentation.

[2022-01-24 16:21] jdevcs commented on #4657
Hi @Deekor , Could you test it using 1.7.0 and latest doc is now available for [1.7.0](https://web3js.readthedocs.io/en/v1.7.0/) , you may re open issue if `web3.eth.personal.sign` is not working in 1.7.0

[2022-01-24 16:21] #4657 closed, assigned to luu-alex

[2022-01-24 16:28] jdevcs commented on #4618
@davidmurdoch Thanks for sharing this info.

[2022-01-24 18:42] davidmurdoch commented on #4618
Quick update on our end! We switched Ganache v7.0.0's default "instamine" mode to match that of Ganache v6, so while the issue is technically there, web3 should work as usual in Ganache's default mode. You can reproduce the race condition by setting Ganache's instamine mode to "strict": `ganache --miner.instamine strict`. This will cause Ganache to return a transaction's hash _before_ including th

[2022-01-24 20:27] mconnelly8 opened #4727 "Misc. 4.x Alpha items"
( This is Epic for 4.x Management )

This Epic is for tracking required improvements or missing items in 4.x Alpha.

- [ ] https://github.com/ChainSafe/web3.js/issues/4735

- [ ] https://github.com/ChainSafe/web3.js/issues/4774

[2022-01-24 22:39] Deekor commented on #4657
@jdevcs personal was working, it was `web3.eth.sign` that wasn't working.

[2022-01-25 05:46] shiratsu commented on #4090
@guillermoFragachan

i could resolve a problem by applying it.
Thank you!

[2022-01-25 16:51] jdevcs commented on #4688
These function are already covered in https://github.com/ChainSafe/web3.js/pull/4723/

[2022-01-25 18:30] guillermoFragachan commented on #4090
for other people I would advise using a different react version, install version 16, which works perfectly with web3, it is a little annoying but you won't have debugging issues.

React uses webpack 5 and that version is not compatible with the current version of web3, this could bring issues later on even if the scripts are in version 4

[2022-01-25 18:36] mconnelly8 commented on #4574
Duplicate issue to #4557.  Closing this issue.

[2022-01-25 18:36] #4574 closed, assigned to nobody

[2022-01-25 18:42] mconnelly8 commented on #4518
Not needed any longer.  Closing.

[2022-01-25 18:42] #4518 closed, assigned to nobody

[2022-01-26 00:16] haltman-at commented on #4326
Not stale, unless it's already done and wasn't properly closed.

[2022-01-26 02:32] legendaryphoenixicarus commented on #1043
I've got the same issue with Hardhat v2.8.0.
In my case, I tried to deploy contract which have only one param, but had the error.
`Error: missing argument: passed to contract (count=1, expectedCount=2, code=MISSING_ARGUMENT, version=contracts/5.5.0)`

My contract constructor:
[code]
And I tried to deploy like this:
[code]

I've wasted huge days as this issue. Can anyone help me?

[2022-01-26 10:10] rjlacanlaled commented on #3083
I'm also looking for this feature (promise I won't use it to make frontrunning bot)

[2022-01-26 12:44] mtajammulzia opened #4732 "Trouble importing web3 to react app."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I’m running “npm install web3” and then “import Web3 from ‘web3’” and I’m getting a bunch of errors saying that “crypto” and other modules can’t be found cause of some polyfill error.

### Expected Behavior

Running “npm install web3” and then “import Web3 from ‘web3’” should not result in er

[2022-01-26 12:49] herenickname commented on #4581
mistake

[2022-01-26 13:43] Grayson-code opened #4733 "readme Badge Issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to say about Web3.js' documentation?

The Badges in Npm readme is bugged
![chrome_CtStCh7mWY](https://user-images.githubusercontent.com/80775046/151173771-09f71075-15a3-41dd-ba97-97b4e4a3604a.png)
![chrome_BvJS1oNPV7](https://user-images.githubusercontent.com/80775046/151173800-261c9c5a-d6b

[2022-01-26 14:12] AlexanderMint commented on #4732
Just like the author, I get errors

[2022-01-26 16:43] dropdisco opened #4734 "Cors issue at https://api.harmony.one && https://api.harmony.one"
[code]
<img src="https://raw.githubusercontent.com/Agin-DropDisco/Grant-Harmony-Source/main/buggy12.png">

[2022-01-26 19:29] jdevcs opened #4735 "4.x Alpha Misc Items"
- [x]  Remove and block `.npmrc` via `.gitignore `
- [ ]  Fix typos in ReadMe of packages
- [x]  Remove [Eth Transaction](https://github.com/ChainSafe/web3.js/tree/4.x/packages/web3-eth-tx) Package as this functionality was decided to move in Web3 Eth
- [x]  License String in all code files

[2022-01-26 23:58] luu-alex opened #4736 "Add IBAN validation for constructor - 4.x"
validate IBAN for constructor in iban package

[2022-01-27 01:56] dropdisco commented on #4734
the problem is from the pastevent contracts. closed!

[2022-01-27 01:56] #4734 closed, assigned to nobody

[2022-01-27 08:14] #4512 closed, assigned to nazarhussain

[2022-01-27 09:45] SofwanCoder opened #4738 "Add proper type to Contract.methods"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

When using  Contract instance,  methods is not properly typed

### Use Cases

Use cases includes more rich typescript support  IDEs

### Implementation Ideas

https://github.com/ChainSafe/web3.js/pull/4737

### Feature Examples/References

https://github.com/ChainSafe/web3.js/pull/4737

### Ar

[2022-01-27 09:54] #4738 closed, assigned to nobody

[2022-01-27 12:21] Spacesai1or commented on #4597
Hey there @haltman-at, just wanted to say thank you for providing such a detailed description of the issue, with it's edge cases! We greatly appreciate you reporting this to us, so that we can do something about it

P.s. I'm currently rewriting the logic behind tx validaiton and population, and I can verify that this won't be an issue in `4.x`. `4.x` will accept numbers, number strings, hex string

[2022-01-27 14:24] luu-alex commented on #4732
theres a [solution ](https://github.com/ChainSafe/web3.js#web3-and-create-react-app)on the repo. check it out.

[2022-01-27 14:24] #4732 closed, assigned to nobody

[2022-01-27 16:12] mohamedmehdigara opened #4740 "Error with command: npm install web3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

npm ERR! code ERR_SOCKET_TIMEOUT
npm ERR! network Socket timeout
npm ERR! network This is a problem related to network connectivity.
npm ERR! network In most cases you are behind a proxy or have bad network settings.
npm ERR! network
npm ERR! network If you are behind a proxy, please make sur

[2022-01-27 18:29] CryptoKiddies commented on #3723
Really useful proposal to a problem that needs addressing in practically every dApp, however, doesn't solve the issue of event support on mobile as more and more users migrate/onboard there rather than web.

[2022-01-27 19:02] #4687 closed, assigned to luu-alex

[2022-01-27 19:03] #4690 closed, assigned to luu-alex

[2022-01-27 23:43] #4688 closed, assigned to jdevcs

[2022-01-28 08:38] #4564 closed, assigned to nazarhussain

[2022-01-28 08:57] Spacesai1or commented on #4597
#### Tl;dr

- I don't believe Web3 is responsible for this bug
    - I believe the issue might be the use of `parseInt(rpc.type, 16);` in [ganache](https://github.com/trufflesuite/ganache/blob/f8383b98924ad8eca22ce70f3a14704725b97df9/src/chains/ethereum/transaction/src/transaction-factory.ts#L273)
    - Web3 should probably format `type` to always be a hex string before sending to provider to avoi

[2022-01-28 11:22] nazarhussain commented on #4580
After investigation it's confirmed that the scenario what is described in the issue is correct. It was introduced in https://github.com/ChainSafe/web3.js/pull/1726/ as a feature, so I am not sure if we call it a bug or desired side effect of a feature.

That feature requires following:

1. When someone update provider from upper package all the children should have updated provider.
2. e.g. If `we

[2022-01-28 15:24] luu-alex commented on #4740
Are you sure its not your internet connection? I was able to succesfully npm install. Closing

[2022-01-28 15:24] #4740 closed, assigned to nobody

[2022-01-28 15:54] davidmurdoch commented on #4597
Just commenting to confirm that the bug here is in web3 _and_ Ganache.

Web3 should convert numbers into QUANTITY encoded hex ("0x0", "0x1", "0x2", "0x10", etc). And Ganache should ignore invalid and unsupported `type`s./

I'm unsure if Ganache should _reject_ transactions with a type > 192 though, as harry suggests, since I believe we determined it _should_ permit other arbitrary data in this fie

[2022-01-28 17:44] haltman-at commented on #4597
OK, so much of this may actually be a Ganache problem.  But it seems to me that web3 should still be handling the input formatting so that the 10 -> 16 conversion doesn't arise.

[2022-01-28 20:11] #4689 closed, assigned to luu-alex

[2022-01-28 22:28] prevostc opened #4745 "web3-providers-ws undefined `window` in web workers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The web3-providers-ws/lib/helpers.js uses `window` which is not supported inside web workers and yields an error

[code]

### Expected Behavior

Should not yield an error

### Steps to Reproduce

[code]

[code]

### Web3.js Version

1.3.4

### Environment

- Operating System: macOS Big Sur 11

[2022-01-30 00:24] JimLynchCodes commented on #989
Eth is straight garbage, I think. I am using websocket provider, but my web3 side hears ZERO events being emitted in my smart contract deployed on polygon Mumbai... wtf? 🤔

[2022-01-31 00:13] #4374 closed, assigned to nobody

[2022-01-31 00:13] #4323 closed, assigned to luu-alex

[2022-01-31 07:18] hellowodl opened #4747 "EventLog.removed has not been typed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Listening to web3.eth.Contract.events.Event.on('changed', EventLog => {}) returns an EventLog without { removed: boolean }.
Web3's type definitions don't account for `removed` to exist.

### Expected Behavior

The EventLog on the `changed` event, should return { removed: boolean } as well.

A

[2022-01-31 09:50] tabakhian commented on #3742
iam using "https://bsc-dataseed.binance.org/" and get the error on 1.7.0

       Uncaught TypeError: err.data.substring is not a function
    at sendTxCallback (index.js?7789:518:1)
    at cb (util.js?3022:689:1)
    at callbackifyOnRejected (util.js?3022:666:1)
    at eval (process.js?4362:5:1)

when i set handleRevert to true metamask goes crazy and make errors every second right after i send th

[2022-01-31 14:01] AlexHladun commented on #2518
Does someone solve this using web3@1.7.0?

[2022-01-31 16:55] #4448 closed, assigned to jdevcs

[2022-02-01 00:18] #4534 closed, assigned to nobody

[2022-02-01 08:19] Spacesai1or commented on #4597
@haltman-at  @davidmurdoch

After confirming with the team, we're going to:

1. Update `web3.eth.sendTransaction` to format `type` to a hex string before sending to provider
2. Add `accessList: []` to `type: '0x1'` transactions if it's undefined
3. Throw an error if `type` is out of the bounds: `0x0` to `0x7f`

[2022-02-01 17:04] nazarhussain commented on #4580
As discussed with @spacesailor24 @jdevcs @luu-alex

Due to feature requirements implemented in #1726 we can't change the behavior in the 1.x. If we have to update the provider for all the created instances of the contracts then we have to keep reference of those instances. Yet it's not a memory leak, but necessary evil for the feature. Based on experience it's also common to not create so many ins

[2022-02-01 18:59] zviadm commented on #4580
Not fixing it is reasonable, but it is definitely a "reference leak" (i.e. memory leak). Since no Contract object will ever get garbage collected even if there are no references left for it.

I would recommend at least adding this information inside documentation, somewhere here: https://web3js.readthedocs.io/en/v1.7.0/web3-eth-contract.html

Example note: 'web3.eth.Contract' objects will never be

[2022-02-02 07:20] AlbertLin0327 commented on #4657
Either the doc is incorrect or the function is incorrect.
https://web3js.readthedocs.io/en/v1.7.0/web3-eth.html#sign

[2022-02-02 13:36] d10r opened #4751 "Support for authenticating data based on eth_getProof"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

All popular Ethereum clients now implement the API `eth_getProof` as defined in [EIP-1186](https://eips.ethereum.org/EIPS/eip-1186). Also, web3.js already provides a wrapper to that via [web3.eth.getProof](https://web3js.readthedocs.io/en/v1.7.0/web3-eth.html?highlight=getProof#getproof).
It's

[2022-02-02 15:00] dsgriffin commented on #2561
same issue, duplicate events when using a basic event listener on a contract

[2022-02-02 15:06] layinka commented on #3538
Getting this error on web3 1.7.0

[2022-02-02 20:18] luu-alex opened #4752 "create the ENS class - 4.x"
## Description
The ENS class needs to be created for the ENS library .

## Criteria
Should be up to parity with 1.x.
All methods and the ENS object should be tested.
Resources: https://github.com/ChainSafe/web3.js/blob/1.x/packages/web3-eth-ens/src/ENS.js

[2022-02-02 21:03] DarkMiclos opened #4753 "Simple-get high severity vulnerability issue."
#### Expected behavior

You run npm install web3 and everything works fine.

#### Actual behavior

After installing web3 package I get 2 high severity vulnerablilities from the xhr-request package wich is used as a dependancy in the web3 package.
As commented on github this is a security issue with cookies: In versions of simple-get prior to 4.0.1 when fetching a remote url with a cookie location

[2022-02-03 08:00] nazarhussain commented on #4747
Thanks @hellowodl for reaching to us with the issue. We would encourage if you create a pull request for it, or we will plan it further considering our capacity.

[2022-02-03 08:04] nazarhussain commented on #4751
@d10r Thanks for reaching to us with this request. I believe it would certainly be a nice feature. But considering our focus right now on 4.x rewrite, we will consider it after alpha release.

[2022-02-03 08:07] nazarhussain commented on #4753
@DarkMiclos Thanks for reaching to us. I believe this issue is already addressed with this PR https://github.com/ChainSafe/web3.js/pull/4728. The change is not yet released. We will double check to make before release to fix any high vulnerablilities in dependencies.

[2022-02-03 08:24] nazarhussain opened #4754 "TOODs `web3-eth-contract` package"
- [ ] Replace usage of `eth_sendTransaction`, `eth_call` and `eth_estimateGas` with `web3-eth-tx` package

[2022-02-03 08:35] prevostc commented on #4745
Looks fixed by a recent and unrelated change https://github.com/ChainSafe/web3.js/commit/ed825d2b260a249b01c3a55c822a9ca2588e961f

[2022-02-03 08:35] #4745 closed, assigned to nobody

[2022-02-03 10:10] mayankjindalmj commented on #948
Still exists on 1.6.1

[2022-02-03 15:29] iboxgithub commented on #4579
Same here, the import simply does not work. If it is supposed to, could we have an example repo or Snack to check?

[2022-02-03 15:38] #4563 closed, assigned to nazarhussain

[2022-02-03 16:30] GrinOleksandr commented on #3145
thanks!!! increasing the rate helped!

[2022-02-03 20:31] TheDutchCoder opened #4756 "Can't ESM import web3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When trying to use ESM, the following error is thrown: "The requested module '/node_modules/web3/dist/web3.min.js' does not provide an export named 'default'"

[code]

### Expected Behavior

The module to be loaded.

### Steps to Reproduce

[code]

### Web3.js Version

1.7.0

### Environment

[2022-02-03 20:34] TheDutchCoder commented on #4756
To add, this works fine with 1.6.1, so it broke in the 1.7.0 build

[2022-02-04 11:09] layinka commented on #4610
+1 this

[2022-02-04 16:13] #4573 closed, assigned to luu-alex

[2022-02-05 16:57] psyfreak commented on #2881
I had the same issue and on my side the reason was, that I used webpack and it seems that when you rebuild that the previous  event listener is still subscribed.
I could reproduce this meaing the every time I rebuild I got one duplicate more.

[2022-02-06 05:36] Cjw-259 opened #4758 "Connects to the wallet via walletconnect and listens to contract events, but cannot listen to any data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I connected to the metamask wallet via @walletconnect/web3-provider, then sent a transaction via the contract, listened to an event on the contract and the event was successfully triggered on the chain, but my code does not listen to the event, other methods such as using the pc metamask exte

[2022-02-06 05:36] Cjw-259 commented on #4758
I've tried changing versions and that didn't fix it either

[2022-02-06 16:02] mrguamos commented on #4627
this happens when you use state management like Redux and I don't know the reason why lol
in vue you can use something like [markRaw](https://vuejs.org/api/reactivity-advanced.html#markraw) when using state management

_Marks an object so that it will never be converted to a proxy. Returns the object itself._

[2022-02-06 21:51] mega0319 commented on #4659
just re-affirming the latest solution posted on the github repo works!

[2022-02-06 23:17] nyunyunyunyu commented on #3538
<s>+1</s> Sry my bad. It's totally unrelated.

[2022-02-06 23:37] zialink commented on #4090
Downgrading react-script fixed my problem as well. Thank you very much.

[2022-02-07 16:02] #4537 closed, assigned to nazarhussain

[2022-02-07 16:02] #4495 closed, assigned to nazarhussain

[2022-02-07 16:19] jdevcs commented on #4758
Hi @Cjw-259 thanks for reporting the issue, could you share snippet for reproducing this bug.

[2022-02-08 02:03] #4633 closed, assigned to nobody

[2022-02-08 03:44] Cjw-259 commented on #3636
Java How to recover this Signature

[2022-02-08 08:30] phamhongphuc1999 opened #4760 "Do not send transaction on brave browser"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I send a transaction from my wallet address(metamask wallet) by web3js on brave browser. In other browsers, it is always successful but in brave browser i get a issues ``{code: -32602, message: "'from' is not authorized to send transactions"}``.  you can see more detail in below image

<img w

[2022-02-08 17:03] #4667 closed, assigned to nazarhussain

[2022-02-08 17:10] mconnelly8 commented on #4656
Will manually test this in the Alpha release.

[2022-02-08 17:14] mconnelly8 commented on #4629
Hi @FraSaid, we suggest that you use 4.x when it is released.  This will not be an issue in the rewrite.   We will be closing this issue since an update will not be made to 1.x.

[2022-02-08 17:15] #4629 closed, assigned to nobody

[2022-02-08 17:18] #4631 closed, assigned to nobody

[2022-02-08 17:40] mconnelly8 commented on #4636
Will need to review to see if the external issue still exists.

[2022-02-08 17:44] mconnelly8 commented on #4556
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4556?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2022-02-08 18:09] mconnelly8 commented on #4582
Closing this.  Will be addressed in another issue.

[2022-02-08 18:09] #4582 closed, assigned to nobody

[2022-02-08 18:25] #4637 closed, assigned to nobody

[2022-02-08 18:34] TomiOhl commented on #4235
Seems like they plan to release version 4.x in April: [RELEASE.md#long-term-support-lts](https://github.com/ChainSafe/web3.js/blob/1.x/RELEASE.md#long-term-support-lts)

[2022-02-08 18:34] jdevcs commented on #4754
duplicate of #4685

[2022-02-08 18:34] #4754 closed, assigned to nobody

[2022-02-08 19:40] ryanio commented on #4760
have you unlocked and connected the same `walletAddress` you specified to the website running the web3.js code? see `eth_requestAccounts`

also since you are on web3.js 1.2.2, would recommend updating to the latest 1.x so that would be 1.7.0, to rule out any possible fixes between the versions.

[2022-02-08 21:12] MatthiasRossbach commented on #3951
I run into the same problem, and after some investigation I got an idea: I found this one: https://medium.com/@ftaioli/using-node-js-builtin-modules-with-vite-6194737c2cd2

Problem seems to be that web3 expect a node-like environment in the browser with browserify. Unfortunately vite does not bundle in that way, but using pure browser modules without a node bundling in between. With the link provi

[2022-02-09 03:23] #4760 closed, assigned to nobody

[2022-02-09 03:25] phamhongphuc1999 commented on #4760
Thank you for your support, i updated web3 version to 1.7.0 and it run very well with brave browser

[2022-02-09 05:23] dnjscksdn98 commented on #4612
Hi any progress for this issue?

[2022-02-09 12:37] nazarhussain commented on #4627
@mrguamos I am not sure, but it looks the state management is creating new objects for the web3.

I am closing this issue, as this error does not directly relates to `web3` library. If we get more context we can reopen the issue.

[2022-02-09 12:37] #4627 closed, assigned to nobody

[2022-02-10 01:21] Spacesai1or commented on #4699
[Open discussion](https://github.com/ChainSafe/web3.js/discussions/4653)

[2022-02-10 06:05] Spacesai1or opened #4764 "Add `transactionPollingInterval` for providers that don't support subscriptions"
Mentioned in [this](https://github.com/ChainSafe/web3.js/pull/4718#discussion_r802947511) comment

[2022-02-10 08:26] BoboTiG commented on #4661
@Cod4h how did you solve the issue?

[2022-02-10 11:16] jdevcs commented on #4699
@spacesailor24 In Package Instantiation discussion this [extend](https://web3js.readthedocs.io/en/v1.7.0/web3.html#extend) should also be part of requirement.

[2022-02-11 02:08] DecoratedWings commented on #4638
Worked for me thanks!

[2022-02-11 02:09] DecoratedWings commented on #4638
Worked for me, thanks!

[2022-02-11 21:06] ExtremeSwat opened #4767 "Angular 13 clean build is not working with web3.js"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After following the instructions mentioned for Angular versions >= 11 I still can't ng-serve ng-build

### Expected Behavior

to be able to ng-serve

### Steps to Reproduce

After installing web3js off npm, I've also installed the other packages:
`npm install --save-dev crypto-browserify stre

[2022-02-11 23:37] mconnelly8 commented on #4494
Need to review before 4.x Alpha release

[2022-02-11 23:46] mconnelly8 commented on #4630
Discussion for improvement.   Suggestion was to pass off to the EF package for logi.

[2022-02-13 00:16] #4316 closed, assigned to nobody

[2022-02-13 04:58] srpatel19590 commented on #3886
I'm facing the same issue.

Error: PollingBlockTracker - encountered an error while attempting to update latest block:
Error: CONNECTION ERROR: Provider started to reconnect before the response got received!

@Snitovets Did you manage to fix this?

[2022-02-13 09:27] GeniusGeeek commented on #4665
How do you use metamask provider on mobile browser when metamask extension isn't available on mobile? it will be undefined or null

[2022-02-13 15:24] bsor-dev opened #4770 "setProvider "does not exist on type 'typeof import(..." in typescript."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Can't call Web3EthContract.setProvider(ethereum)

function doesn't exist in the index.d.ts

[code]

### Expected Behavior

I want to use setProvider

### Steps to Reproduce

[code]

### Web3.js Version

1.7.0

### Environment

- Operating System:
- Browser:
- Node.js Version:
- NPM Version:

[2022-02-13 17:36] rosnaib11 commented on #4627
This happened to me when I use redux toolkit createAsyncThunk I don't know why so I just used different approach

[2022-02-14 17:06] jdevcs commented on #4552
these function (except setRecord) added in PR 4762

[2022-02-14 17:19] jdevcs commented on #4770
Hi @rosnaib11, This functionality is not exposed for[ contracts package in 1.x](https://web3js.readthedocs.io/en/v1.7.0/web3-eth-contract.html) , you should use it with main [Web3](https://web3js.readthedocs.io/en/v1.7.0/web3.html#setprovider) or [web3.eth.setProvider(myProvider)](https://web3js.readthedocs.io/en/v1.7.0/web3-eth.html#setprovider)

[2022-02-14 17:19] #4770 closed, assigned to nobody

[2022-02-14 17:19] jdevcs commented on #4767
@luu-alex

[2022-02-14 18:40] jdevcs commented on #3888
`web3.shh` will not be included in  web3.js **_[4.x](https://github.com/ChainSafe/web3.js/tree/4.x)_** and will not be maintained in 1.x

[2022-02-14 18:40] #3888 closed, assigned to frankiebee

[2022-02-14 18:41] jdevcs commented on #3871
`web3.bzz` will not be included in  web3.js **_[4.x](https://github.com/ChainSafe/web3.js/tree/4.x)_** and will not be maintained in 1.x

[2022-02-14 18:41] #3871 closed, assigned to frankiebee

[2022-02-14 19:27] jdevcs opened #4773 "Update CI / CD actions"
Currently we have unit tests invoked for node [11, 12, 13, 14] builds , we need to update it only to alive node versions ( 12.x, 14.x, 16.x, 17.x )

[2022-02-14 20:15] jdevcs opened #4774 "Update Repo Docs - 4.x"
- [x] Update [CONTRIBUTIONS Policy]( https://github.com/ChainSafe/web3.js/blob/4.x/CONTRIBUTIONS.md) for 4.x
- [ ] Update [ReadMe](https://github.com/ChainSafe/web3.js/blob/4.x/README.md)   for 4.x

- [ ] Add 4.x Security Policy
- [ ] Add new Review Policy Template / doc for 4.x PR Reviews

[2022-02-14 20:15] jdevcs commented on #4727
Added https://github.com/ChainSafe/web3.js/issues/4774

[2022-02-14 20:16] jdevcs opened #4775 "4.x Documentation"
### Description

This Epic is for web3.js 4.x documentation

### Related Issues / Feature Requests / Discussion

### Acceptance Criteria

- [x]  4.x Documentation ( web3, web3.eth, web3.eth.subscribe, web3.eth.contract, web3.eth.accounts, web3.eth.personal, web3.eth.ens, web3.eth.iban, web3.utils )

- [x]  Migration Guide ( from 1.x to 4.x )

[2022-02-14 20:52] evvvritt commented on #4657
I'm also getting the same error in 1.7.0, following the inputs from the docs.

[2022-02-14 21:19] evvvritt commented on #4657
I guess I was looking for a `signTypedData` / EIP 712 method. Only found a lot of pain in #3449 and #2697. Instead, I found [this guide](https://medium.com/metamask/scaling-web3-with-signtypeddata-91d6efc8b290) and adapted to the following:
[code]

[2022-02-14 21:19] nazarhussain commented on #4580
@zviadm Yes I agree that a workaround can be established but for 4.x rewrite we are working on. Easiest work around is to just use a static property as current provider, this way whenever we change the property, it will reflect to all objects and we don't have to keep the reference of each object anywhere just for that purpose.

For updating documentation for 1.x would definitely be a good step.

[2022-02-15 07:22] lbhsot commented on #4657
So we cannot use `web3.eth.sign` any more?

[2022-02-15 09:13] nazarhussain opened #4777 "Abi type `uint` does not fail with negative numbers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The `web3-validator` package does not fail to validate negative numbers with `uint` types.

### Expected Behavior

The negative numbers should raise error for `uint` types.

### Steps to Reproduce

https://github.com/ChainSafe/web3.js/blob/ddecdde7a2f11b8e4f969ec985e5c2c6fefed632/packages/web

[2022-02-15 09:39] Spacesai1or opened #4778 "ETH Tx Utilities TODOs [1/5] - Refactor formatters to JSON schemas and TypeScript band-aid solution"
Originally mentioned [here](https://github.com/ChainSafe/web3.js/pull/4718#issuecomment-1032134238)

#4778 is being split into multiple issues, this issue being tasks not needed to be addressed before `v4.0.0-alpha`:

- [Replacing formatters with JSON schemas](https://github.com/ChainSafe/web3.js/pull/4718/files#r789942037)
- [Refactor](https://github.com/ChainSafe/web3.js/blob/49171a15d58b3f54133

[2022-02-15 09:42] #4652 closed, assigned to Spacesai1or

[2022-02-15 13:44] CryptoChip8888 commented on #4753
Any fix? I am new to coding but I keep getting:

simple-get  3.0.0 - 3.1.0
Severity: high
Exposure of Sensitive Information in simple-get - https://github.com/advisories/GHSA-wpg7-2c88-r8xv
fix available via `npm audit fix`
node_modules/simple-g

[2022-02-15 17:16] #4777 closed, assigned to nazarhussain

[2022-02-15 17:23] #4609 closed, assigned to nazarhussain

[2022-02-15 17:38] mconnelly8 commented on #4509
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4509?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2022-02-15 17:46] mconnelly8 commented on #4752
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4752?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2022-02-15 23:47] YakupIpek commented on #4767
I spent hours on same issue :( We need help asap.

[2022-02-16 07:53] janhocevar commented on #4767
Same issue here

[2022-02-16 09:29] lbhsot opened #4780 "web3.eth.sign() methods failed: eth_sign requires 32 byte message hash"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

The code will failed, error message: `eth_sign requires 32 byte message hash`

### Expected Behavior

I can sign use `web3.eth.sign` success.

### Steps to Reproduce

[code]

### Web3.js Version

1.7.0

### Environment

- Operating System:
- Browser:
- Node.js Version:
- NPM Version:

[2022-02-16 10:03] nazarhussain commented on #4780
@lbhsot Thanks for reaching back to us and notifying about the issue. I will investigate and get back to you.

[2022-02-16 10:14] nazarhussain commented on #4780
@lbhsot I quickly wrote a hardhat test to verify, and it seems to be working.

[code]

The output is:

[code]

Can you please verify what provider you are using? As at the end of flow the sign is actually been processed by provider.

[2022-02-16 10:33] nazarhussain commented on #4580
Reopening the issue to target the 4.x rewrite.

[2022-02-16 16:46] luu-alex commented on #4767
Seems like there was a breaking change from angular 12 to 13. I'll look into this but if you want a version that works use angular 12 for now

[2022-02-16 18:50] luu-alex commented on #4767
Sorry, its not a breaking change from angular 12 to angular 13, something broke when web3 upgraded from 1.6.1 to 1.7.0 related to  #4756. Until there is a fix the solution would be instead of using `const web3 = require("web3")`, use `import web3 from 'Web3';` and your angular project should work

[2022-02-16 19:56] YakupIpek commented on #4767
We already use import statement and issue is exist on Angular 12 as well :(

[2022-02-16 20:40] ExtremeSwat commented on #4767
I was able to make it run.
All I had to do was to add two additional packages :

- [url](https://www.npmjs.com/package/url)
- [xhr2-cookies](https://www.npmjs.com/package/xhr2-cookies)

Unfortunately there's some warnings popping out :
Apart from that the MM (or default crypto wallet) should pop out after ng-serving
[code]

Here's a sample repo, unfortunately I had to upload it to the cloud since

[2022-02-16 21:47] luu-alex commented on #4767
hmmmm @YakupIpek do you get the same error as @ExtremeSwat? You can try out his solution, or downgrade the version of web3js to 1.6.1

[2022-02-17 00:40] lbhsot commented on #4780
@nazarhussain I use metamask as the provider. Is it means different provider will show different results?

[2022-02-17 01:59] YakupIpek commented on #4767
@luu-alex  This is what i get after installing those packages. I will try to downgrade to 1.6.1

[code]

[2022-02-17 02:14] YakupIpek commented on #4767
@luu-alex
I downgraded to 1.6.1 and `import Web3 from web3;`  I use this import statement and i am not able to import types like `Contract`. It is because i am on 1.6.1 ?

[2022-02-17 05:47] luu-alex commented on #4767
@YakupIpek you should be able to import types like contract, 1.6.1 has it https://github.com/ChainSafe/web3.js/blob/release/1.6.1/packages/web3-eth-contract/types/index.d.ts#L25

[2022-02-17 06:55] taimaruuu commented on #4638
also worked for me. make sure to close the running localhost and re-run 'npm start'

[2022-02-17 06:55] taimaruuu commented on #4638
Also worked for me. Be sure to re-run 'npm start' after doing this though.

[2022-02-17 06:56] taimaruuu commented on #4638
Also worked for me. Be sure to re-run 'npm start' after doing this though.

[2022-02-17 13:27] jdevcs opened #4784 "Log Filter Topic type and digest"
- [ ] [Log Filter Topic](https://github.com/ChainSafe/web3.js/blob/cc6e15b1de5312b5a665606c1403958073807720/packages/web3-utils/src/types.ts#L25) can also be null or array according to [execution api def](https://github.com/ethereum/execution-apis/blob/68cf607f01bd41aecd0aaafd2bfc01928e188cc2/src/schemas/filter.json#L66) .
    - [ ] Update [topics](https://github.com/ChainSafe/web3.js/blob/cc6e15b

[2022-02-19 11:25] mubshrx commented on #2964
What was the issue. I know its too old but I am getting same issue

[2022-02-19 16:48] antonio-fr opened #4786 "Deprecated event listener"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Running web3.js with Metamask, the latter informs with a warning that the "close" may be removed in any future version.

`new window.Web3(window.ethereum)`

➡️
_MetaMask: The event 'close' is deprecated and may be removed in the future. Please use 'disconnect' instead.
For more information, s

[2022-02-20 14:51] goyalk130 commented on #4659
still having same error
even after doing each and every step

[2022-02-20 17:54] laygir commented on #3939
I am having same issues here.

Been trying to get the revert reason of a `send` call on my contract but the error object does not include the `revertReason` field. I did try both `web3.eth.Contract.handleRevert = true;` and `web3.eth.handleRevert = true;`

if I call `call`  on the contract method I get the revertReason but not on a `send` call.

[2022-02-20 18:01] Github-help commented on #3939
#4712 #4786 #4769

[2022-02-20 18:11] Github-help commented on #3939
#4712

[2022-02-20 19:30] zoix commented on #4780
Same issue here. As mentioned in #4657, `web3.eth.personal.sign` is also the alternative we are using as a workaround. It seems to work when the account is unlocked and setting  `null` or any string as the `password`.

As for `web3.eth.sign`, it throws the error described by @lbhsot.

---

**Update:**

This seems to work, but still not ideal:

`const signedMessage = await web3.eth.sign(web3.utils.

[2022-02-21 00:17] #4358 closed, assigned to nobody

[2022-02-21 00:17] #4355 closed, assigned to nobody

[2022-02-21 13:28] #4679 closed, assigned to nazarhussain

[2022-02-21 17:53] laygir opened #4787 "Missing revert reason on error for `send` call"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I've been trying to get the revert reason of a `send` call on my contract but the returned error object does not include the `revertReason` field. I did try both `web3.eth.Contract.handleRevert = true;` and `web3.eth.handleRevert = true;`

if I call `call`  on the contract method I get the re

[2022-02-21 18:21] jdevcs commented on #4786
@antonio-fr  thanks for mentioning it, 1.x is already handling [this case](https://github.com/ChainSafe/web3.js/blob/bd6a9d86bbb9dc6e1fbe74216f9d7d44d7ba2b47/packages/web3-core-requestmanager/src/index.js#L152).  could you go ahead and open PR for removing `close`.

[2022-02-21 19:48] jdevcs commented on #4787
Thanks @laygir for informing us,

I checked web3.js `1.7.0` Geth is returning revert reason as:

`"{\"jsonrpc\":\"2.0\",\"id\":16,\"error\":{\"code\":3,\"message\":\"execution reverted: speed invalid\",\"data\":\"0x08c379a00000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000000d737065656420696e76616c696400000000000000000000000

[2022-02-21 20:16] laygir commented on #4787
Hello @jdevcs thank you for taking the time to look at it 🙏

I've tried with Alchemy and Metamask on a contract deployed on Rinkeby.
On my frontend calling `web3.eth.getNodeInfo()` returns the following;

`Geth/v1.10.15-stable-8be800ff/linux-amd64/go1.17.5`

[2022-02-21 20:30] jdevcs commented on #4787
Hi, could you share another item by debugging: result of `eth_call` received by web3.js in your case.
_______________
In above example with Geth `eth_call` was:
`{
  jsonrpc: "2.0",
  id: 16,
  method: "eth_call",
  params: [
    {
      data: "0xf06a29c90000000000000000000000000000000000000000000000000000000000000066",
      from: undefined,
      gasPrice: undefined,
      gas: undefined,

[2022-02-21 22:46] laygir commented on #4787
Hey @jdevcs

I tried to create a reproduction case by using this [example](https://github.com/ChainSafe/web3.js/issues/3742#issuecomment-928102801) you mentioned.

When I change the `call` to `send` like below in the example code;

Replaced following:
[code]

With this:
[code]

I get the following errors:

<img width="400" alt="Screenshot 2022-02-21 at 23 29 06" src="https://user-images.githubuser

[2022-02-21 22:58] laygir commented on #4787
If I use the example as it is, then I get the following. Which has the revert reason unlike `send` call.

<img width="400" alt="Screenshot 2022-02-21 at 23 09 10" src="https://user-images.githubusercontent.com/772730/155035392-8655ceb6-c88c-4eb5-badb-9e0aa06075b8.png">

[2022-02-22 00:06] laygir commented on #4787
Now tried with Alchemy using their web3.js wrapper, `@alch/alchemy-web3` (internally their package seem to have web3 version 1.6.0)

On `send` call using Alchemy the retry exhaustion and all those thrown errors went away. Following is returned but no revert reason.

<img width="400" alt="Screenshot 2022-02-22 at 00 43 00" src="https://user-images.githubusercontent.com/772730/155040368-3a9efa56-502

[2022-02-22 03:19] Spacesai1or opened #4789 "Missing Transaction related RPC Methods"
### Missing RPC Methods

- `sendTransaction`
- `signTransaction`
- `call`

---

These methods need to include [promiEvent](https://web3js.readthedocs.io/en/v1.7.0/callbacks-promises-events.html) support

- `sendTransaction`
- `sendSignedTransaction` (a.k.a `sendRawTransaction`)

---

[Nice to have](https://github.com/ChainSafe/web3.js/issues/3204)

[2022-02-22 10:56] SimonHausdorf commented on #2363
Facing the same issue importing web3 into a framework. I can't enable `esModuleInterop` as it would break all other imports.

I am missing the types if I import it like this
[code]

@joshstevens19 the problem with `tsc --init` it sets `esModuleInterop` in config to true.

[2022-02-22 16:06] luu-alex commented on #4659
https://github.com/ChainSafe/web3.js/issues/4767

[2022-02-22 17:09] #4326 closed, assigned to Spacesai1or

[2022-02-22 17:22] mconnelly8 commented on #4736
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4736?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2022-02-22 17:34] mconnelly8 commented on #4789
@spacesailor24 will document issues/options for later discussion.

[2022-02-22 17:42] mconnelly8 commented on #4784
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4784?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2022-02-22 18:03] mconnelly8 commented on #4778
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4778?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @spacesailor24

[2022-02-23 12:25] nazarhussain commented on #4780
@lbhsot If wallet is not loaded or created within `web3` library then the provider is actually gonna handle the implementation of `sign`. There could be different behavior from different providers as I mentioned above it's working with hardhat. I will check with metamask to be sure.

[2022-02-23 18:41] nazarhussain commented on #4780
I investigated it further and can confirm it's an issue or behavior change in the Metamask. That particular error is thrown by the MetaMask app in the browser, later catched and returned by web3. I tried with Hardhat and Ganache providers and both works fine.

The major difference is how different providers is handling `eth_sign` RPC method.

The Metamask [documented](https://docs.metamask.io/guid

[2022-02-23 18:46] #4551 closed, assigned to luu-alex

[2022-02-23 18:46] #4603 closed, assigned to luu-alex

[2022-02-23 22:46] laygir commented on #4787
Hey @jdevcs

Should I assume that the `investigate` label means there is indeed an issue and probably will not be resolved in a week? How do you see it? 😓

I'm blocked by this issue and considering switching to ethers.js if you think this may take some time. ✌️

[2022-02-24 07:26] #4753 closed, assigned to luu-alex

[2022-02-24 09:26] lbhsot commented on #4780
Just post an issue to metamask. Let's see if there's any advantage of signing with the limit @nazarhussain

[2022-02-24 12:54] linkocrn opened #4793 "Error: Invalid JSON RPC response: """
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hello, I am just starting out with Web3 and I am encountering an error. I do not know what it means and I googled it but it seems to mean many different things. I found similar errors on this github but since it's a generic error, it didn't help my case.

### Expected Behavior

no error

###

[2022-02-24 20:33] loonylabs-dev commented on #3727
hey there,
I have the same issue with every function I use with web3.eth like web3.eth.getAccounts
 "web3": "^1.7.0"
  "util": "^0.12.4"

any idea to fix this?
thanks in advance

`TypeError: callbackify is not a function
    at RequestManager.send (index.js:153:1)
    at sendRequest (index.js:624:42)
    at Eth.send [as getBalance] (index.js:656:13)`

[2022-02-25 04:37] itssaptarshi commented on #4638
Compiled with problems:X

ERROR in ../../../../../node_modules/cipher-base/index.js 3:16-43

Module not found: Error: Can't resolve 'stream' in 'C:\Users\KOYEL DUTTA\node_modules\cipher-base'

BREAKING CHANGE: webpack < 5 used to include polyfills for node.js core modules by default.
This is no longer the case. Verify if you need this module and configure a polyfill for it.

If you want to include

[2022-02-25 11:37] Spacesai1or commented on #4793
Hi there, if you could provide the code you're using that receives this error (a repository with runnable code would be even better), we could better assist you. With just the error message, there's not much we can do to help you debug

[2022-02-25 13:29] linkocrn commented on #4793
Hello, here is the code that I used

[code]

[2022-02-25 17:56] jdevcs opened #4795 "ENS Public Resolver Features"
( This is Epic for 4.x Management )

### ENS Public Resolver
Add support of following Public Resolver features in `web3-eth-ens` package in ( web3.js 4.2.0 TBD ) https://github.com/ensdomains/resolvers/tree/master/contracts/profiles

### Features

- [ ] Reverse Name resolution ( set ENS node name , get associated ENS node ) EIP-181

<br />

- Check status of following and if finalized, add support

[2022-02-26 00:42] luu-alex commented on #4793
Hey there, I was able to sucessfully call `getBlockNumber` using an infura project that i just created now. There might be an issue on how u configured your infura project

[2022-02-26 17:43] cielu commented on #4453
@nazarhussain  这问题还是存在啊，I get the same problem by using ant-design & ts .

[2022-02-26 18:14] ankitpro commented on #3644
the value that you are trying to write got to be something like "10000000000000000" for 0.1eth

[2022-02-27 18:52] Lucienest commented on #4081
Any update on this? it's been a while.

[2022-02-28 12:02] T-Damer commented on #4453
If you're using `vite.js`, try adding `yarn add agent-base` and the in the `vite.config.ts`:
[code]
This should fix your problems. It happens because the `Vite` has no `node` tools inside, trying to use them will cause an error usually, so you need to install them manually

[2022-02-28 13:14] jdevcs opened #4797 "Return Type for supportsInterface() - Resolver Contract"
In Resolver class, following should return correct type from contract without `Awaited<Promise<boolean>>` conversion :

[`supported = (await resolverContract.methods
			.supportsInterface(interfaceIds[methodName])
			.call()) as Awaited<Promise<boolean>>;`](https://github.com/ChainSafe/web3.js/blob/ad2ee10234ba1f0c96d1dca48bb1c0d9bb4769cf/packages/web3-eth-ens/src/resolver.ts#L40)

Check Contract

[2022-03-01 00:19] #4634 closed, assigned to nobody

[2022-03-01 06:23] Spacesai1or opened #4799 "ETH Tx Utilities TODOs [2/5] - Failing 1.x tests for signed transactions"
#4778 is being split into multiple issues, this issue being tasks needed to be addressed before `v4.0.0-alpha`:

- Migrated test from `1.x` doesn't have same signed transaction values
    - [r value doesn't match](https://github.com/ChainSafe/web3.js/blob/49171a15d58b3f541337cd3d95178e49f7d18ed7/packages/web3-eth/test/fixtures/prepare_transaction_for_signing.ts#L245)
    - [RLP encoded value doesn

[2022-03-01 06:23] Spacesai1or opened #4800 "ETH Tx Utilities TODOs [3/5] - Missing properties related to `populateTransaction`"
#4778 is being split into multiple issues, this issue being tasks needed to be addressed before `v4.0.0-alpha`:

- [Add code](https://github.com/ChainSafe/web3.js/blob/49171a15d58b3f541337cd3d95178e49f7d18ed7/packages/web3-eth/src/eth_tx.ts#L214) to fetch `chainId` when `web3Eth.getChainId` is added
- [Add code](https://github.com/ChainSafe/web3.js/blob/57f6403de006c12d32d39f8fb5a0b06e06bcd6e2/pac

[2022-03-01 06:23] Spacesai1or opened #4801 "ETH Tx Utilities TODOs [4/5] - Function overrides"
#4778 is being split into multiple issues, this issue being tasks needed to be addressed before `v4.0.0-alpha`:

- Refactor override method functionality for transaction methods
    - [detectTransactionType](https://github.com/ChainSafe/web3.js/blob/49171a15d58b3f541337cd3d95178e49f7d18ed7/packages/web3-eth/src/eth_tx.ts#L105)
    - [prepareTransactionForSigning](https://github.com/ChainSafe/web3.

[2022-03-01 06:23] Spacesai1or opened #4802 "ETH Tx Utilities TODOs [5/5] - Refactor validation to use `web3-validator`"
#4778 is being split into multiple issues, this issue being tasks needed to be addressed before `v4.0.0-alpha`:

- [Refactor](https://github.com/ChainSafe/web3.js/pull/4718#discussion_r802662842) validation using `web3-validator`

[2022-03-01 06:30] Spacesai1or opened #4803 "Revert #4798 (Revert "Updating library")"
Re-introduce reverted changes (#4798) after #4765 is merged

[2022-03-01 17:38] #4593 closed, assigned to nobody

[2022-03-02 11:26] #4803 closed, assigned to nobody

[2022-03-02 11:35] nazarhussain commented on #4787
@laygir The tag `investigate` tags means we foresee some issue but need time to investigate. Unfortunately our bandwidth are limited and we are focusing all our effort for 4.x rewrite, to bring your loved library with all new architecture to provide native TS support and flexibility to refactor for future improvement and extensions. We will investigate this issue for 1.x, unfortunately not soon en

[2022-03-02 11:40] nazarhussain commented on #4793
@alexisdavidson  Normally any response `Error: Invalid JSON RPC response` meant the node you are connected with is not responding correctly. Probably some configuration issue from your side. As @luu-alex was able to verify `getBlockNumber` is working fine with Infura, I am closing this issue for now.

If you find more details which leads you to believe there is bug, please reopen this issue with m

[2022-03-02 11:40] #4793 closed, assigned to nobody

[2022-03-02 17:03] aifeelit commented on #4659
Still have that kinda issue?

[2022-03-02 20:11] Spacesai1or opened #4809 "Add Subscription Support to `web3-eth` PromiEvents"
Add [subscription support](https://github.com/ChainSafe/web3.js/blob/96026ec5990cd01a6ccfe33daa68b67de50bd1ad/packages/web3-eth/src/rpc_method_wrappers.ts#L335) for PromiEvent that subscribes to new block headers instead of polling if available via provider. Should include the error:

[code]

originally from [1.x](https://github.com/ChainSafe/web3.js/blob/d805cf9f7d382f19739018810c30d94a6f2f749e/p

[2022-03-02 20:13] Spacesai1or opened #4810 "Add Unit Tests for `web3-eth` PromiEvents"
`sendTransaction` and `sendSignedTransaction` don't have unit tests that verify PromiEvent functionality

[2022-03-02 20:14] Spacesai1or opened #4811 "Investigate EsLint Errors in `web3-eth` Methods That Use PromiEvents"
- [one](https://github.com/ChainSafe/web3.js/blob/96026ec5990cd01a6ccfe33daa68b67de50bd1ad/packages/web3-eth/src/rpc_method_wrappers.ts#L296)
- [two](https://github.com/ChainSafe/web3.js/blob/96026ec5990cd01a6ccfe33daa68b67de50bd1ad/packages/web3-eth/src/rpc_method_wrappers.ts#L342)
- [three](https://github.com/ChainSafe/web3.js/blob/96026ec5990cd01a6ccfe33daa68b67de50bd1ad/packages/web3-eth/src/r

[2022-03-02 20:17] Spacesai1or opened #4812 "Add Param List to `formatTransaction`, `validateTransaction`, `populateTransaction`"
These methods  should be refactored to have a parameter that is a list of properties to format, validate, or populate. This functionality would be use in the case of implementing [this](https://github.com/ChainSafe/web3.js/blob/96026ec5990cd01a6ccfe33daa68b67de50bd1ad/packages/web3-eth/src/rpc_method_wrappers.ts#L374) functionality as we only want to populate gas related fields and not anything el

[2022-03-02 20:19] Spacesai1or opened #4814 "Add Use of Local Wallet Support to Non-`web3-eth-account` Packages"
Various packages (namely `web3-eth`) need to check whether a local wallet has been instantiated so a `transaction.from` can be defaulted and a private key can be accessed to sign the transaction e.g.:

- [x] [One](https://github.com/ChainSafe/web3.js/blob/96026ec5990cd01a6ccfe33daa68b67de50bd1ad/packages/web3-eth/src/rpc_method_wrappers.ts#L385)
- [x] [Two](https://github.com/ChainSafe/web3.js/blo

[2022-03-02 20:21] Spacesai1or opened #4815 "Init `transactionReceiptFormatter`"
A function, much like [formatTransaction](https://github.com/ChainSafe/web3.js/blob/4.x/packages/web3-eth/src/format_transaction.ts), should be created to format transaction receipts to a desired `ValidType`

Examples places of use:

- [One](https://github.com/ChainSafe/web3.js/blob/96026ec5990cd01a6ccfe33daa68b67de50bd1ad/packages/web3-eth/src/rpc_method_wrappers.ts#L406)
- [Two](https://github.c

[2022-03-03 07:33] DINHQUANGMINH198 opened #4816 "web3.eth.subscribe not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

use  web3.eth.subscribe to listen event
ERROR :
let subscription = web3.eth.subscribe("logs", options, (err, event) => {
                              ^

TypeError: Cannot read properties of undefined (reading 'subscribe')
    at init (D:\BC_Code\web3\web3_mint_nft.js:32:31)
    at Object.<an

[2022-03-03 14:20] mark-b-ab opened #4819 "effective gas price should be a big number."
effective gas price and other price values should be a big number.

Starting web3.js 1.7.1 you will be unable to get a receipt for [the transaction](https://etherscan.io/tx/0xeda3bf566ae21fbc7bbfcb805d73181b0037036d700d57695e28f1e9bfe0d69c)

Reason - very big gas price, number overflow

_Originally posted by @mark-b-ab in https://github.com/ChainSafe/web3.js/issues/4694#issuecomment-1058089193_

[2022-03-03 16:30] #4552 closed, assigned to jdevcs

[2022-03-03 16:30] #4602 closed, assigned to jdevcs

[2022-03-03 16:30] #4553 closed, assigned to jdevcs

[2022-03-03 17:33] luu-alex opened #4820 "4.x web3-eth-ens - constructor tests resolver"
Include constructor unit tests for resolver in the ENS package

[2022-03-03 19:05] #4789 closed, assigned to Spacesai1or

[2022-03-03 19:43] tbhaxor commented on #4659
Is there any workaround for vuejs applications? I am still getting this issue

[2022-03-03 20:27] tbhaxor opened #4821 "webpack < 5 used to include polyfills for node.js core modules by default in VueJS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Getting the error as shown below

[code]

### Expected Behavior

It should work as describe in the tutorials

### Steps to Reproduce

1. Clone the repository (`git clone https://github.com/tbhaxor/Ellet.git`)
2. Checkout to branch (`git checkout feature/web3-vue`)
3. Install the packages (`ya

[2022-03-03 20:41] tbhaxor commented on #4821
Solved by adding

[code]

in vue.config.js file

[2022-03-03 20:41] #4821 closed, assigned to nobody

[2022-03-03 20:44] ghost commented on #4819
Instead of bignumber, would be great to return value in String like what value is returned from getTransaction.

[2022-03-04 00:54] aifeelit commented on #4659
Yep. Of course.

[2022-03-04 06:23] SyedImam1998 commented on #4787
hey @laygir  you can use this for now...
to show the user a appropriate message so the user can understand for that we can use below code. To get the reason from the reverted response. use the below code in nodeJS/expressjs code....

[code]

[2022-03-04 08:55] laygir commented on #4787
Hello @SyedImam1998

Thank you for your suggestion! 🙌
Unfortunately that does not seem to be working in my case. (Please notice that I'm on the frontend/browser.)

When I try your suggestion using Metamask as provider, as before a series of errors are thrown, exactly like in the screenshot of this [comment](https://github.com/ChainSafe/web3.js/issues/4787#issuecomment-1047277430)
Since errors are

[2022-03-04 10:47] tbhaxor commented on #4659
Yeah, I got it working with vuejs. All good

[2022-03-04 10:50] #4720 closed, assigned to nazarhussain

[2022-03-04 10:54] #4685 closed, assigned to nazarhussain

[2022-03-04 11:25] #4680 closed, assigned to nazarhussain

[2022-03-04 15:46] sdesalas commented on #4770
Hiya @jdevcs any reason why its not exposed?

Seems to be used in [the documentation for `web3.eth.Contract`](https://web3js.readthedocs.io/en/v1.7.0/web3-eth-contract.html):

[code]

[2022-03-04 16:02] sdesalas commented on #4770
☝️  Added PR if you want to merge. Otherwise feel free to close.

[2022-03-04 19:30] NashL commented on #3466
I had a similar issue and was because I set wrong the ENDPOINT for web3 in my ENV, I was working on Rinkeby Network but I copied the wrong Endpoint
[code]

in case helps someone else

[2022-03-06 15:00] thisprojectworks commented on #4453
Thanks for you response  @T-Damer , but still the same error: Uncaught ReferenceError: process is not defined

I'm trying to use inside a Vuex Store.

[2022-03-06 15:22] T-Damer commented on #4453
@thisprojectworks, I found another solution:
`yarn add -D @esbuild-plugins/node-globals-polyfill`

Inside the `vite.config.ts` add lines from below. Please notice, that you may not install the `agent-base` and `stream-browserify`, it will work anyway (for me at least):
[code]

[2022-03-07 15:46] #4639 closed, assigned to luu-alex

[2022-03-08 10:42] #4491 closed, assigned to BeroBurny

[2022-03-08 11:14] jdevcs opened #4830 "web3.eth.subscribe"
For having subscription functionality under `web3.eth.subscribe`

- [x] `web3.eth.subscribe(type [, options] )` :
String - The subscription you want to subscribe to.
Mixed - (optional) Optional additional parameters, depending on the subscription type.

- [x] `clearSubscriptions()` Resets subscriptions.

- [x] `web3.eth.subscribe('pendingTransactions')`: Subscribes to incoming pending transactions

[2022-03-08 14:00] #4802 closed, assigned to nazarhussain

[2022-03-08 16:39] TheDutchCoder opened #4831 "web3.eth.personal.sign typing is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using `web3.eth.personal.sign` with TypeScript, there's a mandatory 3rd parameter (password), but it's not actually required. The typing for sign is:
[code]

But should be:
[code]

### Expected Behavior

The 3rd param to be optional

### Steps to Reproduce

[code]

### Web3.js Version

1

[2022-03-08 17:51] jdevcs opened #4832 "4.x RELEASE Procedure"
- [x] Update [RELEASE Procedure]( https://github.com/ChainSafe/web3.js/blob/4.x/RELEASE.md)  for 4.x

[2022-03-08 18:02] mconnelly8 commented on #4814
@nazarhussain Please review estimate

[2022-03-08 18:16] mconnelly8 commented on #4764
This one has already been completed.  Ned to close.

[2022-03-08 18:16] #4764 closed, assigned to nobody

[2022-03-09 06:12] #4801 closed, assigned to nazarhussain

[2022-03-09 18:00] nazarhussain commented on #4831
@TheDutchCoder Thanks for reaching to us with the feedback. We are currently occupied in 4.x rewrite which will not have that issue. For 1.x we will keep it in pipeline and work as we get some bandwidth.

[2022-03-09 19:08] luu-alex opened #4835 "encodePacked type issue"
Needs investigation, there maybe an issue with the returned values of our web3-utils package not being the same as abi.encodePacked from solidity

[2022-03-09 20:49] jdevcs commented on #4835
We need more info for how to reproduce above mentioned issue.

If type is specified in `web3.utils.encodePacked()` it should return correct result.
like: `web3.utils.encodePacked({type: 'uint32', value: '4294967295'})`

solidity:
[code]
`console.log(await contractInstance.methods.getuint64().call());`
gives: `0xffffffffffffffff`

`console.log(web3.utils.encodePacked({type: 'uint64', value: '184467

[2022-03-10 00:15] nlukic97 commented on #3327
I am experiencing a problem when I set handleRevert ([referenced in the web3 docs](https://web3js.readthedocs.io/en/v1.2.5/web3-eth-contract.html#handlerevert)) to **true** on my contract instance in NodeJS using Web3.js. Here's a simplified version of the setup:

1. Solidity:
[code]

2. script.js. I tried adding handleRevert to true using different methods, all of them fail and crash the nodeJS s

[2022-03-10 07:43] #4812 closed, assigned to Spacesai1or

[2022-03-10 08:56] #4721 closed, assigned to nazarhussain

[2022-03-10 08:56] #4722 closed, assigned to nazarhussain

[2022-03-10 11:34] danielnordh opened #4838 "web3-eth-abi TypeError: param.substring is not a function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm trying to call `transferWithAuthorization` on USDC with the following code:

[code]

But am getting the following error:

[code]

The line in my code which triggers the error is `.call(function (err, res)`

The test parameters that I pass in:
[code]

Where the signature comes from a signT

[2022-03-10 11:42] danielnordh commented on #4838
I found the problem, the nonce.
Using `web3.utils.randomHex(32);` instead solved the problem.

[2022-03-10 11:42] #4838 closed, assigned to nobody

[2022-03-10 12:05] VictorZhang2014 commented on #4835
Hi @luu-alex  @jdevcs  Thank you so much for the quickly response for the problem.

In practices, the issues only emerged when we don't specify the concrete type in js code, so it will always occur in auto type inferences scenario, and it's easy to reproduce the incorrect outputs, as the code below shown.
[code]

On the contrary, if we write the code `web3.utils.encodePacked({ t: 'uint8', v: a })

[2022-03-10 14:57] luu-alex commented on #4835
Thank you for the response :)
We are aware that `encodePacked` may try to auto type numbers and will have unintended outputs, we are rewriting the whole library under the version of 4.x and have already made it mandatory to specify the type, an alpha will be released later this year!
But yes you should be fine if you specify the type. If theres anything else feel free to comment and i can reopen t

[2022-03-10 14:57] #4835 closed, assigned to nobody

[2022-03-11 05:57] Ezzahhh commented on #4655
Just chiming in to say that this is still a problem 👍

[2022-03-11 07:59] Jasonb911 commented on #4581
Fucken goofs

[2022-03-11 15:04] #4509 closed, assigned to Spacesai1or

[2022-03-11 19:43] mconnelly8 opened #4840 "Update 1.x libs"
Review and update dependencies.

[2022-03-12 10:56] ChristianOConnor commented on #4659
I'm having the same problem as described in this thread but with a vue/vuex app. Is there a workaround for vue? I see that the above workarounds all involve installing `react-app-rewired` which I believe is incompatible with vue.

[2022-03-12 12:42] tbhaxor commented on #4659
Yes, I have created a sample application in vuejs and web3. Check this, specifically `vue.config.js` file

https://github.com/tbhaxor/Ellet

[2022-03-12 20:56] ahluwalij commented on #4153
Getting this same issue, the only thing I can do to work around it is to automatically refresh on a crash event. Anyone found a fix?

[2022-03-12 22:12] ChristianOConnor commented on #4659
Oh perfect this worked! Thanks!

[2022-03-12 22:34] rodrigoslino commented on #4453
@T-Damer thanks for the solution! it worked well!

I also had to run: `yarn add events` for the EventEmitter in node

[2022-03-13 10:45] bigbluespace commented on #2363
Worked for me, thank you.

[2022-03-13 17:11] deepaksinghvi commented on #2091
If you enable ethereum in browser it would work. On execute of the next line MetaMask window will open and you need to click on next.
 await window.ethereum.enable();

[code]

[2022-03-14 09:25] #4752 closed, assigned to luu-alex

[2022-03-14 10:30] taxsta opened #4843 "Error: Invalid JSON RPC response: "error code: 1015""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have randomly been getting the following error today:  Error: Invalid JSON RPC response: "error code: 1015".
When trying to run my app. I have been running the app normally with no issues until today

### Expected Behavior

Transaction would be expected to be sent through to the blockchain

[2022-03-14 20:11] xGGCrypto opened #4846 "Human Readable ABI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

Would like for Human Readable ABI to be implemented in web3.js
Human Readable ABI is currently a feature in ethers.js

https://docs.ethers.io/v5/api/utils/abi/formats/#abi-formats--human-readable-abi

### Use Cases

Human Readable ABI Description:

### Implementation Ideas

_No response_

###

[2022-03-14 20:55] #4843 closed, assigned to nobody

[2022-03-14 21:30] jdevcs commented on #4711
Edit: Added all tests requirements and **highlighted** min test requirements for 4.x Alpha:
Node: v14, v16
Browsers: Firefox, Brave
Eth Clients: Geth, Ganache
external Apps/APIs using web3.js:  truffle
Injected Providers metamask

[2022-03-14 21:44] jdevcs opened #4849 "Web3 Eth - 1 - 4.0.0 Alpha.1 System Tests"
System tests for:

## Web3.eth package

- [x] All rpc functions tests ( getProtocolVersion, isSyncing, getCoinbase, isMining, getHashrate, getGasPrice, getAccounts, getBlockNumber, getBalance, getStorageAt, getCode, getBlock, getBlockTransactionCount, getBlockUncleCount, getTransaction, getPendingTransactions, getTransactionFromBlock, getTransactionReceipt, getTransactionCount, getPastLogs, getWor

[2022-03-14 21:45] jdevcs opened #4850 "Web3 Contracts - 1 - 4.0.0 Alpha.0 System Tests"
System tests for:

## Web3.eth.contracts package

- [x] 	Defaults tests ( account, block, hardfork, chain, common, transactionBlockTimeout, transactionConfirmationBlocks, transactionPollingTimeout, handleRevert  )
- [x] 	Options tests ( from, gas, gasPrice, address, jsonInterface )
- [x] 	Clone test
- [x] Contract deploy test

#### Min Platform Requirements for 4.x Alpha:
- Node: v14, v16
- Browse

[2022-03-14 21:45] jdevcs opened #4851 "Main web3 package - 4.0.0 Alpha.1 System Tests"
System tests for:

## Main web3 package

- [x] Using http, websocket, IPC provider strings create web3 instance
- [x] Using external connection provider create web3 instance
- [x] Using external wallet provider create web3 instance
- [x] setProvider
- [ ] List providers
- [ ] given Provider
- [ ] Current Provider
- [x] BatchRequests
- [ ] All modules instantiation

Users are able to query via eth

[2022-03-14 21:46] jdevcs opened #4852 "Web3 Subscribe - 4.0.0 Alpha.0 System Tests"
System tests for:

## Web3.eth.subscribe

- [x] subscribe: should allow user to subscribe specific event
- [x] clearSubscription: reset subscriptions
- [x] subscribe(“pendingTransactions”)
- [x] subscribe(“newBlockHeaders”)
- [ ] subscribe(“syncing”)
- [x] subscribe(“logs”)

#### Min Platform Requirements for 4.x Alpha:
- Node: v14, v16
- Browsers: Firefox, Brave
- Eth Clients: Geth, Ganache

More

[2022-03-14 21:46] jdevcs opened #4853 "Web3 Personal- 4.0.0 Alpha.0 System Tests"
System tests for:

## Web3.eth.personal

- [ ] newAccount
- [ ] sign
- [ ] ecRecover
- [ ] signTransaction
- [ ] unlockAccount
- [ ] lockAccount
- [ ] getAccounts
- [ ] importRawKey

#### Min Platform Requirements for 4.x Alpha:
- Node: v14, v16
- Browsers: Firefox, Brave
- Eth Clients: Geth, Ganache

More details are in [Epic](https://github.com/ChainSafe/web3.js/issues/4711)

[2022-03-14 21:53] jdevcs opened #4854 "HTTP Provider package - 4.0.0 Alpha.1 System Tests"
System tests for:

## HTTP Provider package

- [x] send Request with valid payload and receive response

#### Min Platform Requirements for 4.x Alpha:
- Node: v14, v16
- Browsers: Firefox, Brave
- Eth Clients: Geth, Ganache

More details are in [Epic](https://github.com/ChainSafe/web3.js/issues/4711)

[2022-03-15 04:12] hems commented on #4682
any updates on this? i'm just commenting here so this issue hopefully is removed from "stale" as this is quite important?

[2022-03-15 11:11] jdevcs commented on #4494
@mconnelly8 We will be able to see this issue after 4.x alpha packages completion. Its blocked until that.

[2022-03-15 11:12] jdevcs commented on #4347
@mconnelly8 we will see this issue of automate release process after main 4.0.0 release.

[2022-03-16 04:32] 0123cf opened #4857 "Polygon chain trades gas price insufficient - 1.7.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Polygon Chain was unable to initiate transactions and gasPrice was in serious shortage

### Expected Behavior

The default gasPrice won't work on Matic, which is currently 2, but actually needs at least 30.

Should maxPriorityFeePerGas not get, use responses.GasPrice

### Steps to Reproduce

[2022-03-17 07:34] 0123cf commented on #4857
version: 1.7.2

use
[code]

[2022-03-17 08:23] Spacesai1or commented on #4756
Hi there, could you provide a test repo that produces this error? I installed `web3@1.7.0` in [this](https://github.com/spacesailor24/web3-3891-receipt/blob/f13cb26adb6c58dc9c334d5583608e33e5ac4a75/index.ts#L1) test repo and the code executes without error

Also we've had 70k+ weekly downloads of `1.7.0` and haven't received any other bug reports related to this, so I believe something may be wron

[2022-03-17 09:35] BlockDaRock opened #4863 "Doodle"
März 22

[2022-03-17 10:54] #4863 closed

[2022-03-17 16:57] #4786 closed, assigned to nobody

[2022-03-17 17:15] jdevcs commented on #4756
@TheDutchCoder

[2022-03-17 18:36] ancutadaniel commented on #3934
I have the same issue with an empty array for manager, did you figure out what is wrong?

[2022-03-17 19:27] ancutadaniel commented on #3934
so I fix it was from abi - the correct ABI that needs to use is after I add JSON.stringnify(abi)
console.log(JSON.stringify(abi));   => copy/paste in new web3.eth.Contract(abi, address);

[2022-03-19 03:16] #4800 closed, assigned to Spacesai1or

[2022-03-19 08:56] sbwengineer commented on #940
I met the same issue when I try to get status of public mapping variable from bscscan.com.
Did anyone solve this issue?

[2022-03-19 08:56] JoshuaQYH commented on #940
你好！你的邮件我已收到！

[2022-03-19 11:20] tdelabro opened #4871 "Mismatched interface"
https://github.com/ChainSafe/web3.js/blob/505b833b0952b231ef2728c752d6667c9ed0f858/packages/web3-eth/types/index.d.ts#L404

The actual key described in the protocol is `transactionsRoot` with a `s`.
See: https://eth.wiki/json-rpc/API#eth_getlogs

[2022-03-19 21:00] kamblepratik90 commented on #2709
FYI
@facelessnoone99 and @all if you guys are seeking the same problem or want to update your existing or new project for the above Query of getting all ERC20 token balances (your address belongs).
Moralis does provide this kind of solution ... give a try
https://docs.moralis.io/moralis-server/web3-sdk/account#gettokenbalances

I tried for on mumbai matic network...
[code]

[2022-03-20 00:19] #4595 closed, assigned to nobody

[2022-03-20 00:19] #4619 closed, assigned to nobody

[2022-03-20 02:25] skoshx opened #4873 "process is not defined when importing Web3 in a SvelteKit page."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Importing Web3 in any SvelteKit page with `import Web3 from 'web3';` results in an error "process is not defined". Error stems from `web3-core-requestmanager` that uses some `callbackify` function from node js `util` package that uses `process`.

### Expected Behavior

It is expected that Web

[2022-03-20 06:14] elmaedesistemas commented on #4665
someone fix it?

[2022-03-21 04:42] BlockDaRock opened #4874 "Invitation"
https://discord.gg/Nt8TYPny

[2022-03-21 09:51] #4874 closed

[2022-03-21 15:09] luu-alex commented on #4873
I replied to your message on discord, i'll be closing this issue and hopefully I can help debug this on discord

[2022-03-21 15:09] #4873 closed, assigned to nobody

[2022-03-21 15:43] skoshx commented on #4873
@luu-alex Thanks a lot! For posterity:

If anyone else stumbles upon this issue, I solved it following this article: [https://medium.com/@ftaioli/using-node-js-builtin-modules-with-vite-6194737c2cd2](https://medium.com/@ftaioli/using-node-js-builtin-modules-with-vite-6194737c2cd2)

Basically add that to `svelte.config.js` in the `vite` field.

[2022-03-21 16:01] #4840 closed, assigned to jdevcs

[2022-03-21 20:50] samlaf commented on #4747
I also need `removed` to be added asap. Currently using ethersjs' Log type...

[2022-03-22 01:25] josephg commented on #1178
Not stale

[2022-03-22 16:33] BigMadCode commented on #3891
I am still getting this issue on 1.7.0
Literally with wallet connect I am able to send a transaction and metamask processes it successfully but I get nothing back. Sometimes metamask throws an error "Oops something went wrong" but the transaction was confirmed. Is this Metamask or web3?

[2022-03-22 16:41] #4693 closed, assigned to nikoulai

[2022-03-22 17:08] #4543 closed, assigned to nobody

[2022-03-22 17:12] mconnelly8 commented on #4851
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4851?planning-poker) with ZenHub @jdevcs @luu-alex @spacesailor24 @nikoulai @avkos

[2022-03-22 17:25] mconnelly8 commented on #4656
Pushing this testing out to Beta release

[2022-03-22 17:35] mconnelly8 commented on #4852
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4852?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nikoulai @spacesailor24