[2022-03-22 17:41] mconnelly8 commented on #4853
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4853?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nikoulai @spacesailor24

[2022-03-22 17:44] Spacesai1or commented on #4853
According to [this](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/ethereum/RPC-METHODS.md), Ganache doesn't appear to support `ecRecover`

[2022-03-22 17:45] jdevcs opened #4880 "Web3 Eth - 2 - 4.0.0 Alpha.1 System Tests"
System tests for:

## Web3.eth package

- [ ] sendTransaction,
- [ ] sendSignedTransaction,
- [ ] sign,
- [ ] signTransaction,
- [ ] call
- [ ] estimateGas,  submitWork
- [x] defaults Being done in #5082
- [x] BatchRequests~ Being done in #5015

#### Min Platform Requirements for 4.x Alpha:
- Node: v14, v16
- Browsers
- Eth Clients: Geth, Ganache

More details are in [Epic](https://github.com/Chai

[2022-03-22 17:48] mconnelly8 commented on #4849
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4849?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nikoulai @spacesailor24

[2022-03-22 17:51] Spacesai1or commented on #4849
Refer to [this](https://github.com/trufflesuite/ganache/blob/develop/src/chains/ethereum/ethereum/RPC-METHODS.md) for what methods are supported by Ganache

[2022-03-22 17:52] jdevcs opened #4881 "Web3 Contracts - 2 - 4.0.0 Alpha.0 System Tests"
System tests for:

## Web3.eth.contracts package

- [x] 	Create Contract Instance ( **erc20, erc721** )
- [x] 	Defaults tests ( defaultBlock, defaultAccount )
- [x] 	Options tests ( from, gas, gasPrice, address, jsonInterface )
- [x] Contract methods test with call and send for eth_call and send transaction
- [x]  estimateGas, encodeABI tests
- [x] Events tests ( subscribe, once, specific event, a

[2022-03-22 17:56] mconnelly8 commented on #4880
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4880?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nikoulai @spacesailor24

[2022-03-22 17:58] Spacesai1or commented on #4880
FYI, the RPC method for `sendSignedTransaction` is actually `sendRawTransaction` (Web3.js just aliases it)

[2022-03-22 18:04] mconnelly8 commented on #4850
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4850?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nikoulai @spacesailor24

[2022-03-22 18:08] mconnelly8 commented on #4881
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4881?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nikoulai @spacesailor24

[2022-03-22 18:17] Spacesai1or commented on #4881
- [ERC20 standard](https://ethereum.org/en/developers/docs/standards/tokens/erc-20/)
- [ERC721 standard](https://ethereum.org/en/developers/docs/standards/tokens/erc-721/)

[2022-03-23 15:30] #4555 closed, assigned to luu-alex

[2022-03-23 18:05] kai-alpha commented on #4724
wut, this is a real bug

[2022-03-24 03:04] 0123cf commented on #4857
polygon use WalletConnect

NewBlockHeaders usage reference is not supported

[code]

[2022-03-24 13:55] jdevcs opened #4888 "1.x updates"
- [ ] Remove [Legacy](https://github.com/lerna/lerna#legacy-fields) field in [lerna.json ](https://github.com/ChainSafe/web3.js/blob/d46d922e2d9714b6e8bd72db665f708f12e222ea/lerna.json#L3)

- [ ] update github CI [action](https://github.com/ChainSafe/web3.js/blob/d46d922e2d9714b6e8bd72db665f708f12e222ea/.github/workflows/build.yml#L49) , include node 14, 16, 18 for build tests ( [node releases](ht

[2022-03-24 13:55] kristjanpeterson1 commented on #4724
Are there any updates on this? Seems like a very serious issue..

[2022-03-24 15:54] jdevcs opened #4889 "Fix inconsistency - 4.x Web3Error base class"
There are two abstract Web3Error classes being used as base class in other Error classes,

- [In web3 Common](https://github.com/ChainSafe/web3.js/blob/ca59b6d1c055cd598f84323caea89078d1bc0835/packages/web3-common/src/errors.ts#L57)
- [In web3 Utils](https://github.com/ChainSafe/web3.js/blob/ca59b6d1c055cd598f84323caea89078d1bc0835/packages/web3-utils/src/errors.ts#L2)

There should be one abstrac

[2022-03-24 17:01] #4583 closed, assigned to jdevcs

[2022-03-24 18:54] DTIV commented on #2485
Getting this error with version "^1.7.1"

[2022-03-26 00:15] roadbuilder opened #4891 "[Bug]: web3 js contract send promises not returning"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

for some reason, standard web3 js send code promises are not working as of today. They were working fine last week. Not sure if this is a web3 js bug or metamask bug, or combination, but web3 js doesn't update that regularly. I have tried reverting both Metamask back to a November version and

[2022-03-26 00:22] roadbuilder commented on #4891
I just tried this with only thing changed being Chrome, switched to using Firefox, and it worked fine, so it may be a Chrome update bug.  Although just tried it on Dissenter and Brave, with Dissenter having an older version ~80 and Brave having the current version as Chrome, and both are having the same problem, so I don't think it is the browser.

[2022-03-26 01:34] davidmurdoch commented on #4618
Bad robot

[2022-03-26 08:54] nazarhussain opened #4892 "Improve type for transaction builder"
I don't think it's safe to assume that the transaction is `InternalTransaction` (a transaction with hex string numbers and bytes properties) if the parameter `transaction` has type `Record<string, unknown>`

Unless TypeScript has a fit about it, I think we should have `transaction` be of type [Transaction](https://github.com/ChainSafe/web3.js/blob/32b898477c455c8773e094e5b32a3d328a328ea4/packages/

[2022-03-26 13:41] Garito commented on #4873
Any less violent solution?
Like this library publishing a proper packaged for this use cases?

[2022-03-28 13:54] kaizen-sven commented on #4787
Ran into the same issue, when working with web3 through Metamask (and other mobile wallets).

The problem itself seems to be a combination of an issue in the web3 code for handleRevert (at least on Binance Smart Chain), and an issue with Metamask/mobile wallets throwing the error instead of catching it.

I created a hack to sort this to be able to show a nice error message on the customer side on

[2022-03-28 15:08] #4854 closed, assigned to avkos

[2022-03-28 16:04] roadbuilder commented on #4891
I figured this out, the ABIs of the contracts needed slight updating, now it works fine

[2022-03-28 16:04] #4891 closed, assigned to nobody

[2022-03-29 13:09] ammarqureshi10 commented on #4659
Please share the js version of **polyfill.ts**

[2022-03-29 14:32] #4556 closed, assigned to luu-alex

[2022-03-29 15:07] jdevcs opened #4896 "IPC Provider - 4.x System Tests"
System tests for:

## IPC Provider package

- [x] connect tests
- [x] getStatus tests
- [x] Event subscription 'message' | 'connect' | 'disconnect' tests
- [x] removeAllListeners and removeListener tests
- [x] disconnect and reset tests
- [x] send multiple requests and receive response

#### Min Platform Requirements for 4.x Alpha:
- Node: v14, v16
- Browsers: Firefox, Brave
- Eth Client: Geth

Mo

[2022-03-29 15:08] jdevcs opened #4897 "WebSocket Provider - 4.x System Tests"
System tests for:

## WebSocket Provider package

- [x] connect tests
- [ ] subscribe events tests
- [ ] disconnect and reset tests
- [ ] getStatus get and validate all status tests
- [ ] send multiple Requests on same connection with valid payload and receive response tests
- [ ] Support of Basic Auth tests
- [ ] Fault Tolerance tests

#### Min Platform Requirements:
- Node: v14, v16
- Browsers:

[2022-03-29 15:20] simonpalmer commented on #2485
Is there any movement on this issue or a workround suggested?

[2022-03-29 15:20] jdevcs opened #4898 "ENS - 4.x System Tests"
E2E tests for:

## Web3 ENS package

- [ ]  registry: returns registry object test
- [ ]  setResolver getResolver test
- [ ]  getOwner setOwner test
- [ ]  getTTL setTTL test
- [ ]  setSubnodeOwner test
- [ ]  setRecord test
- [ ]  setSubnodeRecord test
- [ ]  setApprovalForAll test
- [ ]  isApprovedForAll test
- [ ]  recordExists test
- [ ]  getAddress setAddress test
- [ ]  getPubKey setPubKey t

[2022-03-29 16:00] avkos commented on #4830
change name of subscriptions related to this doc https://geth.ethereum.org/docs/rpc/pubsub :
pendingTransactions => newPendingTransactions
newBlockHeaders => newHeads

[2022-03-29 16:35] DTIV commented on #2485
https://ethereum.stackexchange.com/questions/15402/duplicate-events-firing-in-a-web3-listener

3rd response worked for me, by creating a Set.

[2022-03-29 17:02] ekkis commented on #1741
it's 4 years later and we still have this issue

[2022-03-29 17:11] #4784 closed, assigned to nikoulai

[2022-03-29 17:25] Spacesai1or opened #4899 "Update `hexToNumber` to check for `< Number.MIN_SAFE_INTEGER`"
`hexToNumber` actually checks if:

[code]

so if we update it to also check for `Number.MIN_SAFE_INTEGER`, than my concern should be covered

_Originally posted by @spacesailor24 in https://github.com/ChainSafe/web3.js/pull/4859#discussion_r837727682_

[2022-03-29 17:26] nazarhussain opened #4900 "`hexToNumber` to check MIN_SAFE_INTEGER"
`hexToNumber` actually checks if:

[code]

so if we update it to also check for `Number.MIN_SAFE_INTEGER`, than my concern should be covered

_Originally posted by @spacesailor24 in https://github.com/ChainSafe/web3.js/pull/4859#discussion_r837727682_

[2022-03-29 17:28] #4778 closed, assigned to nazarhussain

[2022-03-29 17:28] #4815 closed, assigned to nazarhussain

[2022-03-29 17:29] nazarhussain commented on #4815
Closed by https://github.com/ChainSafe/web3.js/pull/4859

[2022-03-29 17:31] #4899 closed, assigned to nobody

[2022-03-29 17:33] #4767 closed, assigned to luu-alex

[2022-03-29 17:37] simonpalmer commented on #2485
Thanks, yes, I have ended up doing the same and using the tranactionHash as a sort of idempotency token. But it it a kludge, isn't it? I can't really see a blockchain reason why I would get multiple events, and certainly no link to the number of discrete event handlers I have. That sounds like a bug to me. I also tried different ways of subscribing to events, but web3 seems to propagate many event

[2022-03-29 23:05] drub0y opened #4902 "handleRevert implementation broken when no value is specified for gasPrice on eth_sendRawTransaction"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`checkConfirmation` in `web3-core-method/src/index.js` on line `458` ([here](https://github.com/ChainSafe/web3.js/blob/d46d922e2d9714b6e8bd72db665f708f12e222ea/packages/web3-core-method/src/index.js#L458)) throws an internal error because it blindly accesses `parsedTx.gasPrice` to call its `.

[2022-03-30 12:03] #4774 closed, assigned to nikoulai

[2022-03-30 22:55] Laurianti opened #4906 "Documentation is inconsistent between the "defaultAccount" and "from" of the ContractOptions"
As reported in these documentation parts:

https://web3js.readthedocs.io/en/v1.7.1/web3-eth-contract.html#defaultaccount
https://web3js.readthedocs.io/en/v1.7.1/web3-eth.html#defaultaccount

While, in this documentation part:

https://web3js.readthedocs.io/en/v1.7.1/web3-eth-contract.html#methods-mymethod-send

We can see that the _from_ property is **required**, and not optional.

If I try to set

[2022-03-31 07:51] nazarhussain commented on #4871
@tdelabro Thanks for reaching to us with the issue. We will try to get it fixed as soon we have some bandwidth.

[2022-03-31 07:53] nazarhussain commented on #4902
@drub0y Thanks for reaching back to us. We will investigate this issue and try to get it fixed as soon we have some bandwidth. Currently all our resources are focused towards 4.x rewrite.

[2022-03-31 07:58] nazarhussain commented on #4906
@Laurianti Thanks for highlighting this issue in the documentation. We will investigate it further as soon we get some bandwidth.

[2022-03-31 08:08] tdelabro commented on #4871
If you agree on this change and that it require nothing more than changing this file, I can do a pull request myself

[2022-03-31 10:44] #4810 closed, assigned to Spacesai1or

[2022-03-31 10:44] #4756 closed, assigned to Spacesai1or

[2022-03-31 13:34] drub0y commented on #4902
@nazarhussain No problem! Fix is already PR'd actually and looks to be slated for inclusion into 1.7.3. 🤞

[2022-04-02 12:42] leckylao opened #4914 "BigNum comparison wrong result"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="133" alt="image" src="https://user-images.githubusercontent.com/148800/161383780-c45cd63c-1f00-45a5-b05d-e5f0985d718f.png">
<img width="748" alt="image" src="https://user-images.githubusercontent.com/148800/161383776-e4d6bab9-52fc-485b-8d57-8cf2b2ccad0b.png">

5 Ether compare with

[2022-04-02 13:35] leckylao commented on #4914
<img width="485" alt="image" src="https://user-images.githubusercontent.com/148800/161385702-7e1073bb-a3a2-46fe-852e-9f025ce575f2.png">

Looks like it actually return as String and that caused the issue. I would suggest it should return BN/BigNumber and that's what ethersJS do, which would be a better practice.

[2022-04-03 12:14] nazarhussain commented on #4580
I reviewed the `4.x` implementation. Currently there are no memory leak in the Contract module, but it also does not update the provider for the all instances of the contract in single attempt.

- If there are multiple instances of same contract or multiple contracts user has to update provider for each contract independently.
- If we try to update all instances together then we have to keep refer

[2022-04-03 12:28] nazarhussain commented on #4580
@jdevcs @spacesailor24 @luu-alex I opened a PR, which is providing a solution. This will be consistent to 1.x behavior.

[2022-04-04 03:03] defido commented on #3016
[sterlu](https://github.com/sterlu)
@sterlu
I love you with every part of my body right now. This solved this issue for me. MY GOD! Why is this not in the web3js docs!?

For others, this is an ugly solution, but it works: (There is 1000 better ways to remove characters from a string in JS)

[code]
OPTION 2:
[code]

[2022-04-04 03:07] defido opened #4917 "Add decode function parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

https://github.com/ChainSafe/web3.js/issues/3016

See here https://github.com/ChainSafe/web3.js/issues/3016#issuecomment-828274902

In reference to the this problem people have, decoding a function requires removing the first 8 characters after the 0x.

Adding a decodeFunctionParameters method

[2022-04-04 16:53] jdevcs commented on #4917
@defido Thanks, The best place to implement this will be our [4.x](https://github.com/ChainSafe/web3.js/tree/4.x).

[2022-04-05 00:19] #4649 closed, assigned to nobody

[2022-04-05 06:53] Spacesai1or opened #4919 "Refactor `web3-eth` tests and init input formatting tests"
As mentioned in #4909, input formatting was added to `rpc_method_wrappers.ts`, but tests weren't included. This issue is to track the refactoring of tests in the `web3-eth` package to take on the format proposed in #4875, and to add the missing input formatting tests

[2022-04-05 10:28] jdevcs commented on #4773
Closing this issue as this item is being tracked in https://github.com/ChainSafe/web3.js/issues/4888

[2022-04-05 10:28] #4773 closed, assigned to nobody

[2022-04-05 13:39] sirasistant opened #4921 "Unhandled promise rejection when contacting the node fails in _handleTxPricing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We are getting random unhandled rejections while sending transactions with undefined gasPrice. This happens because when the gas price is not defined, the function `_handleTxPricing` is executed and it has a number of issues.

The main problem is that during the pricing process, the requests

[2022-04-05 15:59] mconnelly8 commented on #4896
This can be testing for Beta, but if we have time it should be added to Alpha.

[2022-04-05 15:59] mconnelly8 commented on #4897
This can be testing for Beta, but if we have time it should be added to Alpha.

[2022-04-06 00:20] #4697 closed, assigned to nobody

[2022-04-06 10:25] nazarhussain commented on #4917
@defido Thanks for reaching out to us. I think that will be a nice feature but we will plan it for future releases in 4.x. You are welcomes to contribute this feature for 4.x branch.

[2022-04-06 10:33] nazarhussain commented on #4921
Hey @sirasistant Thanks for reaching to us. Would be nice if you can share some code snippet that can easily reproduce the issue.

[2022-04-06 10:43] nazarhussain commented on #4914
Hi @leckylao for reaching out to us. It's actually not a bug but the desired behavior. As you want to first convert string output to big number and then use it's comparison functions in [bn.js](https://github.com/indutny/bn.js/).

[code]

For your other comment, we had refactored the whole library to support native BigInt support. That will be released as 4.x alpha.

[2022-04-06 10:43] #4914 closed, assigned to nobody

[2022-04-07 09:14] its-mushon commented on #2749
check out this. sounds very cool
https://www.okami.sh/

[2022-04-07 11:05] ayushnau commented on #2419
@nivida then how do we get the balance of particular address because the web-eth is not containing the balance function.
it only contains two function that is 1. Eth2. TransactionSigner. when I try to use the function of balance it is giving not defined

[2022-04-07 11:18] ericnordelo opened #4923 "The web3.eth.sign method prepends also the EIP-191 prefix to the message without notice in the documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to say about Web3.js' documentation?

The web3.eth.sign method prepends also the EIP-191 prefix to the message without notice in the documentation, as well as the web3.eth.accounts.sign (this method is well documented).

Internally, web3.eth.sign calls web3.eth.accounts.sign, and also,

THE

[2022-04-07 23:21] guenoledc opened #4926 "Version 1.7.2 published on npm does not have the lib/index.js file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

as of 8th March 2022 1am CET

`npm install web3`

install version 1.7.2 that does not have the lib folder but the package.json points to `lib/index.js`

running
[code]

produce the error
[code]

### Expected Behavior

Expect the `lib` folder to be present in the downloaded package like it wor

[2022-04-07 23:22] Darren120 commented on #4926
+1 i try downgrading and also no work

1.6.0 works.

[2022-04-07 23:41] jdevcs commented on #4926
Thanks @guenoledc , we will publish patch.
could you reproduce this issue with [1.7.3-rc.0](https://www.npmjs.com/package/web3/v/1.7.3-rc.0 )?

[2022-04-07 23:41] IrfanAli17899 commented on #4926
i am also getting this error

[2022-04-07 23:46] IrfanAli17899 commented on #4926
i am getting this error for web3-utils too.
![image](https://user-images.githubusercontent.com/42341411/162336905-1a3e15c0-b6fe-48a6-988d-7327f4f6406c.png)

[2022-04-07 23:48] jdevcs commented on #4926
@IrfanAli17899 could you check with 1.7.3-rc.0 ( use this in package and package lock files )

[2022-04-08 00:52] jdevcs commented on #4926
1.7.3 has fix for this issue, so closing.

[2022-04-08 00:52] #4926 closed, assigned to nobody

[2022-04-08 05:40] guenoledc commented on #4926
Hello, Thanks for the prompt action.
I confirmed it is fixed with `npm i web3`

It now takes v 1.7.3 that contains the `lib` folder.

Thanks for the great lib guys

[2022-04-08 05:50] Spacesai1or opened #4928 "Refactor Ganache and Geth testing"
Currently the npm scripts for Ganache:

[code]

are setup to just run Ganache as a process. In `1.x` the purpose of the [e2e.ganache.sh script](https://github.com/ChainSafe/web3.js/blob/1.x/scripts/e2e.ganache.sh) was to start Ganache, run the tests with `GANACHE=true` ENV variable (so that the tests can tell they're being executed against a Ganache node that doesn't support all the features Web3.

[2022-04-08 06:21] #4928 closed, assigned to nobody

[2022-04-08 08:34] sirasistant commented on #4921
[code]
Here you are! The expected output is:
[code]
The actual output is:
[code]

[2022-04-09 00:20] #4726 closed, assigned to nobody

[2022-04-10 06:16] mohammadnazari110 commented on #1609
i was this problem ,

i needed txHash before broadcasting erc20 transaction

[code]

[2022-04-10 07:49] jeanlambert17 opened #4932 "Rollup Web3 support added to "Known issues" section"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

When using web3 with rollup there are issues that are already covered in the "Known issues" section for differents bundlers or libraries, but these solutions don't work with rollup, at least not at first glance, so, it'd be awesome to add a section for rollup users.

### Use Cases

Facilitate

[2022-04-10 10:49] TomiOhl commented on #4235
gm. Dear bot remove the stale label. 😃

[2022-04-11 00:19] #4733 closed, assigned to nobody

[2022-04-11 02:04] #4608 closed, assigned to Spacesai1or

[2022-04-11 07:19] cao148 opened #4933 "historical transactions"
Excuse me, I am using web3, how should I get the historical transaction information of an address. Such as TransactionHash, from, to, amount...

[2022-04-11 07:26] King-PyxiS commented on #4933
If you have a wallet that allows you to sweep the private key of a particular address then do so. If not you can  trace transactions down for BTC @https://mempool.space
@https://etherscan.io
@https://BSCscan.com
@https://BlockScan.com
@https://PolyScan.com

[2022-04-11 07:44] cao148 commented on #4933
I am now planning to make a wallet like this. I want to use the web3 library to implement it. Historical transactions have become difficult.

[2022-04-11 07:45] cao148 commented on #4933
I am now planning to make a wallet like this. I want to use the web3 library to implement it. Historical transactions have become difficult.

[2022-04-11 08:21] cao148 commented on #4933
@King-PyxiS Is the web3.eth.getPastLogs method in web3 ^1.7.1 can only get the information of the contract address? I tried to get the data through this method but the returned data is empty

[2022-04-11 10:10] bohdan-tkachuk opened #4934 "Unable to decode input parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Block #`12997209`
Transaction hash: `0xb2b608cd9c91540d789461097a34ecbd21a9f6e71140bec2afeb43f059430201`
This transaction contains ABI function  call (uniswap_v2 Router02 swapExactETHForTokens), here it ABI
[code]
and here is trace call
[code]
When I try to decode input parameters
[code]
I ge

[2022-04-11 12:03] nazarhussain opened #4935 "Fix the skipped tests for web3-eth"
### This is not a Bug Report, Feature Request, or related to Documentation

- [X] I have searched the existing issues

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

There are some fixtures which are not matching with the tests expectations. There are two level of methods which are mocked.

https://github.com/ChainSafe/web3.js/blob/9a88cb96e96d

[2022-04-11 15:18] #4580 closed, assigned to nazarhussain

[2022-04-11 15:18] #4814 closed, assigned to nazarhussain

[2022-04-11 19:46] jdevcs opened #4936 "lighthouse docker image usage"
For eth2 tests update lighthouse client docker image to latest, once https://github.com/sigp/lighthouse/issues/3147 is fixed.

[2022-04-12 06:33] sirasistant commented on #4921
@nazarhussain I provided the steps to reproduce above. Thanks!

[2022-04-12 07:16] SHocker-Yu commented on #3524
please help, after add `\x19Ethereum Signed Message:\n` as prefix of message in go-ethereum, the signatures also different,
private_key is get by `crypto.HexToECDSA(private_key）`?

[2022-04-12 08:04] dattp commented on #4655
same issue when i using `web3.eth.call.request(trans, callback)`.
@nazarhussain  when will there be a new update for this issue?

[2022-04-12 13:01] #4591 closed, assigned to luu-alex

[2022-04-12 14:08] #4811 closed, assigned to nikoulai

[2022-04-12 14:09] davidmurdoch commented on #4597
Bad bot 😁

[2022-04-12 16:23] luu-alex commented on #4923
Hey, thanks for submitting this issue and bringing this to our attention 👍.  For a solution to this issue, are you suggesting that we update our documentation? If so, feel free to update the documentation and contribute with a PR.

[2022-04-13 08:46] SHocker-Yu commented on #3524
Solve signature problem by adding length of the message,
` message = fmt.Sprintf("\x19Ethereum Signed Message:\n%d%s", len(message), message)`

[2022-04-13 09:41] luu-alex commented on #4586
should not be staling

[2022-04-13 09:44] luu-alex commented on #4588
will be done in future release

[2022-04-13 10:15] lebed2045 commented on #580
@tjayrush sadly this doesn't work for sidechains. Also, the link to "[Adaptive Bloom Filters to Identify Transactions of Interest per Account](https://github.com/Great-Hill-Corporation/quickBlocks/blob/master/src/other/papers/2017%20-%20Rush%20-%20Adaptive%20Enhanced%20Bloom%20Filters%20for%20Identifying%20Transactions%20of%20Interest.pdf)." - doesn't work, could you please share the lastest worki

[2022-04-13 14:26] #4902 closed, assigned to nobody

[2022-04-13 14:27] jdevcs commented on #4902
Merged into 1.x via https://github.com/ChainSafe/web3.js/pull/4940

[2022-04-13 20:29] pale-aura opened #4942 ".on('error') scenario for contract event listeners with websocket connection - documentation questions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to say about Web3.js' documentation?

Hi, I am confused after reading the documentation on setting up a contract event listener using a websocket with an rpc provider (like alchemy) : https://web3js.readthedocs.io/en/v1.7.3/web3-eth-contract.html#id53

![image](https://user-images.githubuse

[2022-04-14 01:09] SamanthaSHan commented on #4579
I am also running into the same issue. Any way to get around this?

[2022-04-14 15:52] tjayrush commented on #580
@lebed2045 Here's a better link to some papers (https://trueblocks.io/papers/) and a blog discussing (https://trueblocks.io/blog/).

The ideas there work with any EVM-based chain. Not sure if that includes sidechains, but if they are EVM-based it works.

Sorry for the shill everyone, but it does actually work. I'm using it every day.

[2022-04-14 19:34] 0xSzeth commented on #3891
Bumping my web3 dependency to web3@1.7.3 fixed the issue for me

[2022-04-14 19:51] Anvarmirzo commented on #3164
This problem actually in 2022 y...

[2022-04-16 00:20] #4312 closed, assigned to Spacesai1or

[2022-04-16 03:45] baixiaoyu2997 commented on #4453
for nuxt3 user ,there is a solution
https://github.com/nuxt/framework/discussions/4393

[2022-04-16 07:46] mellertson commented on #4579
Actually, `react-native-crypto` is incompatible with expo.  I spent hours the other night figuring that one out.

[2022-04-16 07:49] mellertson commented on #4579
What is the other error you got?  I ask because I too implemented a solution like the one you described, but then got a 2nd error.  If memory serves me correctly, I believe the 2nd error has something to do with `randomBytes` or something like that.  Just curious if you ran into the same issue?

[2022-04-16 12:45] SamanthaSHan commented on #4579
hm, I've had a different error that is kind of related to your solution, but was able to solve it: https://stackoverflow.com/a/71865318/7871458

Though I ran into react native trying to call `http` issue. Seems like the dependency is using http-providers library for web3. Obviously this module is meant for web applications. Didn't want to go into the rabbit hole of trying to swap that dependency.

[2022-04-17 08:03] Emadmojiri opened #4948 "> ## Description"
_Originally posted by @Emadmojiri in https://github.com/ChainSafe/web3.js/issues/4945#issuecomment-1100827181_

[2022-04-18 09:33] nikoulai commented on #4900
Why do we need this check?  `-` is subtracted from the hex string in the beginning of the function, will `num` ever be negative?

[2022-04-18 12:58] #4948 closed, assigned to nobody

[2022-04-18 13:03] Emadmojiri commented on #4948
✌🏾

[2022-04-19 11:15] mengfanze512 commented on #4665
someone fix it?

[2022-04-19 13:12] #4830 closed, assigned to avkos

[2022-04-19 23:40] eddybuilds opened #4954 "Improve how web3-providers-http checks protocol"
I came across an issue on a local project which I believe stems from how `web3-providers-http` parses the protocol with a simple `substring`. The bug was on my side - I had a space at the beginning of the url so an https string was being detected as http. However, the underlying package could be improved a little by using https://nodejs.org/api/url.html#urlprotocol to get the protocol instead.

ht

[2022-04-19 23:43] eddybuilds commented on #4954
(Happy to push a PR if this gets a 👍)

[2022-04-20 00:20] #4610 closed, assigned to nobody

[2022-04-20 17:09] nikoulai commented on #4935
https://github.com/ChainSafe/web3.js/pull/4920 deprecates this issues

[2022-04-20 17:09] #4935 closed, assigned to nikoulai

[2022-04-21 01:58] #4919 closed, assigned to Spacesai1or

[2022-04-21 15:35] nicholaswhittle commented on #4684
Did you find the issue with this?

[2022-04-22 05:50] TheJagpreet opened #4957 "web3: include an option to enable/disable autoconnect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

Currently web3 supports a feature of `reconnect` by which we can configure the reconnection parameters. A similar feature is needed to enable/disable the autoconnect to the mentioned provider.

Specifically, enveloping the condition of connection only if autoconnect parameter is set as true [h

[2022-04-22 08:41] avkos opened #4958 "isomorphic-ws export bug"
make export behavior in browser and node the same (export as default)

#### Expected behavior
`import WebSocket from 'isomorphic-ws';`

#### Actual behavior
for node
`import {WebSocket} from 'isomorphic-ws';`
for browser
`import WebSocket from 'isomorphic-ws';`

[2022-04-22 16:01] root123-bot opened #4959 "Problem in deploying Contract"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm currently new developer trying to learn about web3. I'm facing the below error when trying to deploy my contract. I searched through the different articles but none of them solved my problem.  These are codes of my deploy.js file..

[code]

When I run it pass the process of fetching the a

[2022-04-23 07:42] Emadmojiri opened #4960 "v"

[2022-04-23 09:54] Emadmojiri opened #4961 "S"

[2022-04-24 00:20] #4758 closed, assigned to nobody

[2022-04-24 00:20] #4635 closed, assigned to nobody

[2022-04-24 00:20] #4318 closed, assigned to nazarhussain

[2022-04-24 05:15] pguardiario opened #4962 "strange XMLHttpRequest in production"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

index.js:98 Uncaught TypeError: t is not a function
    at XMLHttpRequest.n.onreadystatechange (index.js:98:13)

### Expected Behavior

Successful requests

### Steps to Reproduce

It would be really hard to reproduce, it involves opensea library, api keys, etc.
I'm mostly just hoping someone

[2022-04-25 03:38] #4962 closed, assigned to nobody

[2022-04-25 03:38] pguardiario commented on #4962
I think this actually an opensea issue, sorry.

[2022-04-25 10:19] LinSays commented on #1102
I still got error on sending transaction with web3 though I didn't use 'await'. Could you help me with this? My skype id is: live:.cid.41555bb2f81e56cb. Hope you can directly teach me a lesson. Best regards

[2022-04-25 15:07] #4961 closed, assigned to nobody

[2022-04-25 15:07] #4960 closed, assigned to nobody

[2022-04-25 15:12] jdevcs commented on #4957
@jagpreetsinghsasan Thanks for this, our  [4.x](https://github.com/ChainSafe/web3.js/tree/4.x) will be best candidate for this feature. Feel free to open PR if you have time.

[2022-04-25 18:18] mconnelly8 opened #4963 "Migration Guide - 1.x Breaking Changes"
Things to know in implementing 4.x and what breaking changes will be incurred from 1.x.

[2022-04-25 18:18] mconnelly8 opened #4964 "1.x to 4.x Migration Guide"
Instruction guide explaining how to move from 1.x to 4.x Web3.js.  The guild will outline any breaking changes and specific documentation to each package.

This task will be responsible for setting up the Migration Document framework and combing the findings from the other tasks.

[2022-04-25 18:20] mconnelly8 opened #4965 "Web3 Utils Documentation"

[2022-04-25 18:21] mconnelly8 opened #4966 "ABI Documentation"

[2022-04-25 18:21] mconnelly8 opened #4967 "Web3 Eth Personal Documenation"

[2022-04-25 18:22] mconnelly8 opened #4968 "ENS Documentation"
`web3-eth-ens` exports:

_All but `checkNetwork` are previously documented methods in `1.x`_

- [registryAddresses](https://github.com/web3/web3.js/blob/c2a845747032bfb22492f22634f0644b4774ecf9/packages/web3-eth-ens/src/config.ts#L39)
    - Simple object that maps network names to contract addresses
- `ENS` class
    - Public methods:
        - [getResolver](https://github.com/web3/web3.js/blob/c2

[2022-04-25 18:23] mconnelly8 opened #4969 "Accounts/Wallet Documenation"

[2022-04-25 18:24] mconnelly8 opened #4970 "Web3 Documentation"

[2022-04-25 18:24] mconnelly8 opened #4971 "IBAN Documentation"

[2022-04-25 18:25] mconnelly8 opened #4972 "Contracts Documentation"

[2022-04-25 18:26] mconnelly8 opened #4973 "Eth Documentation"

[2022-04-25 18:26] mconnelly8 opened #4974 "Subscribe Documentation"

[2022-04-25 18:27] mconnelly8 opened #4975 "Web3Net Documentation"

[2022-04-25 19:27] haltman-at opened #4976 "Providers decode responses as ISO-8859-1 instead of UTF-8, resulting in mojibake in error messages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently (or at least as of 1.5.3 -- I don't think this has been fixed since then), providers (or at least `HttpProvider`s) seem to decode HTTP (and possibly other?) responses as ISO-8859-1, instead of UTF-8.  This can, for instance, result in incorrect error messages when a call reverts.

S

[2022-04-25 21:38] thellecodes commented on #4659
Perfect

[2022-04-26 08:01] #4809 closed, assigned to avkos

[2022-04-26 09:15] zon-dtravel commented on #3425
I still got same error when use HttpProvider, any suggest?
`this.web3 = new Web3(new Web3.providers.HttpProvider('provider'))`

[2022-04-26 10:06] TheJagpreet commented on #4957
Sure, I will create a PR soon.

[2022-04-26 10:13] nazarhussain opened #4978 "Enable the e2e tests for web3-eth-contract"
#### Expected behavior

The `e2e` tests must pass for the `web3-eth-contract`.

#### Actual behavior

Due to `jest` compatibility issue with `Jasmine` the integration tests does not run in the browsers yet.

https://github.com/ChainSafe/web3.js/blob/5d47076870c54d8f0a83546d01df93d6fd8d42fc/karma.config.js#L7

[2022-04-26 10:17] nazarhussain opened #4979 "Create ERC20 and ERC721 integration tests for web3-eth-contract"
#### Expected behavior

Create some integration testing the initialization and use of `erc20` and `erc721` contracts.

#### Actual behavior

Current integration tests for `we3-eth-contract` does not cover the `erc20` and `erc721`.

[2022-04-26 10:42] #4735 closed, assigned to nobody

[2022-04-26 14:15] #4736 closed, assigned to nobody

[2022-04-26 14:18] luu-alex commented on #4933
When you use getPastLogs, be sure to include the fromBlock, which indicates the range of the starting block to current,, for example
[code]

[2022-04-26 17:05] nazarhussain opened #4980 "The status field for the receipt info should be formatted as number when use FMT_NUMBER.STR"
Shouldn't it be formatted to `1`?

_Originally posted by @spacesailor24 in https://github.com/ChainSafe/web3.js/pull/4945#discussion_r858588114_

[2022-04-26 17:15] nazarhussain opened #4981 "Enable ganache for system tests to forge the block on regular interval"
It [looks](https://github.com/trufflesuite/ganache/blob/90329d886cf05df409a9474edc4e15f653c2d5b4/src/packages/ganache/README.md?plain=1#L285) like we'd need to pass `-b 1` which would mine a block every 1 second

_Originally posted by @spacesailor24 in https://github.com/ChainSafe/web3.js/pull/4945#discussion_r858964766_

[2022-04-26 17:25] nazarhussain opened #4982 "Run integration tests in parallel and isolate the accounts"
Yes it is. The real solution would be to isolate the accounts for each tests. Means every test generate it's own accounts for testing. So it does not mixup with others.

_Originally posted by @nazarhussain in https://github.com/ChainSafe/web3.js/pull/4945#discussion_r858968806_

[2022-04-26 19:56] GregTheGreek opened #4985 "Improve error handling on empty provider url"
### This is not a Bug Report, Feature Request, or related to Documentation

- [X] I have searched the existing issues

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

When instantiating the default web3 package, if the provider string is empty the error could be more verbose, eg: "No provider url supplied"

### Examples/References

Input
[code]

[2022-04-26 20:05] solyasa commented on #2476
I insert "import web3 from 'web3', but I have web3 error

[2022-04-26 20:44] cleivson commented on #4581
Same issue here. I guess this may be by design but I couldn't find any docs about it

[2022-04-26 20:58] cleivson commented on #4581
From debugging I found that https://github.com/ChainSafe/web3.js/blob/1.x/packages/web3-providers-ws/src/index.js#L310 sends a single message with the id of the first request but the node responds every message individually in https://github.com/ChainSafe/web3.js/blob/1.x/packages/web3-providers-ws/src/index.js#L125 and then RequestManager fails the validation for a result array: https://github.co

[2022-04-26 20:59] cleivson commented on #4581
I'm using a QuickNode node over WS, maybe they implement it like this because they charge over responses?

[2022-04-27 00:25] #4632 closed, assigned to nobody

[2022-04-27 00:25] #3723 closed, assigned to nobody

[2022-04-27 04:59] Cryptolyfe commented on #4534
Getting the same error attempting to mint an NFT on the ...someone said it might have to do with the constructor...I'm new to development so i'm unsure if I should add in the max_supply or cost parameters above the constructor maybe?

<img width="754" alt="Screen Shot 2022-04-26 at 9 50 34 PM" src="https://user-images.githubusercontent.com/85461851/165443776-b0566f50-bfbf-4f38-bb9f-f6647507613b.pn

[2022-04-27 16:01] #4958 closed, assigned to avkos

[2022-04-27 19:55] luu-alex commented on #4587
Still planning to do this

[2022-04-27 20:52] nybroe opened #4986 "TypeError: Cannot read properties of undefined (reading 'call') on build but not dev, using vite"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am running a vite.js app with web3 installed.
When I run the app in dev mode, all works fine but when I run it in production mode (build) it fails with:
"TypeError: Cannot read properties of undefined (reading 'call')".

I can confirm that the error comes from the contract method generated

[2022-04-28 14:18] jdevcs opened #4988 "Web3-Errors"
- [x] Move web3 errors to web3-errors package
- [x] Remove duplicate base class from Utils
- [x] Fix Web3-utils and Main Web3 package to use same web3-error base class as other parts of 4.x
- [x] Fix all other packages to use Error classes from this package
- [x] Apply error codes to errors in web3-utils

[2022-04-28 14:18] jdevcs opened #4989 "Web3-Errors Package Tests"
- [x] Moving Web3-Errors Package unit tests.

[2022-04-28 15:00] #4889 closed, assigned to jdevcs

[2022-04-28 20:02] fhrryDeveloper commented on #1001
const web3 = new Web3(Web3.givenProvider);
But this is not working on mobile browser.
Which provider should I use for mobile browser.
I can see this error:
"Provider not set and invalid"

[2022-04-29 07:04] nybroe commented on #4986
Resolved by using the pre-bundled web3 package:
https://stackoverflow.com/questions/72035203/typeerror-cannot-read-properties-of-undefined-reading-call-on-build-but-not/72048687#72048687

[2022-04-29 07:05] #4986 closed, assigned to nobody

[2022-04-30 00:38] thinhcnb297 commented on #4579
![Screen Shot 2022-04-30 at 07 37 49](https://user-images.githubusercontent.com/49717831/166083606-918deb14-27c5-4b8b-b3a9-f676336f5fd7.png)
Same problem!! Any body can resovle this. Thaks

[2022-04-30 01:25] jeftarmascarenhas commented on #3466
Can be many things, but there are two causes most common.

1. Very if you are using abi and a contract address correct.
2. Very if you are selected the correct network, for exempo, if your contract is on Rinkeby you can selected Rinkeby or if your contract is on Mainnet select the Mainnet.

[2022-04-30 17:37] snake-py commented on #3727
@MartinL-MG did you fix it?

I am having this issue as well. ALways when I am trying to treat web3 functions with async and await.
using Web3 1.7.3
and "util": "^0.12.0" in web§-core-requestmanager

[code]

[2022-04-30 17:55] loonylabs-dev commented on #3727
nope I switched to ether.js and this works like a charm

[2022-04-30 18:04] snake-py opened #4992 "TypeError: callbackify is not a function - Vite"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I am trying simply to access the networkId as it is shown in the documentation.
[code]

while `this.web3 = new Web3(Web3.givenProvider || this.blockchainBaseUrl);`

![image](https://user-images.githubusercontent.com/59285387/166117047-3225d970-c168-4559-91ed-1f7d73257748.png)

### Expected Be

[2022-04-30 20:28] juan-carlos-correa commented on #2837
This is still happening to me, I'm serious considering use another dapp "framework" solution than truffle, I'm having a real very bad experience with this.

I tried with different the solutions like migrate --reset, I verified the smart contract address, added more gas in the transaction, reading a lot of stack overflow posts and github issues, and nothing, very disappointment 👎

[2022-05-01 01:51] Spacesai1or opened #4993 "Finish Rewriting `web3-eth` tests"
#4920 rewrote the `rpc_method_wrappers.ts` tests, but did not include `web3_eth.ts` and `rpc_methods.ts`. These tests also need to be rewritten to the new testing format for `web3-eth`

[2022-05-01 03:22] Spacesai1or opened #4994 "Prettier: `No parser could be inferred for file` Error for Solidity Files"
Receiving errors:

[code]

when running `yarn format`

[2022-05-01 04:22] alexleventer commented on #3830
@guotie - were you able to figure this out? Running into the same issue.

[2022-05-01 04:23] alexleventer commented on #4655
Also running into this

[2022-05-01 05:36] ZuulAndRibbon commented on #3727
i have the same issue.I have downgraded the util version.But it get the same error.Do someone know how to fix it?

[2022-05-01 07:36] aakash4dev commented on #3579
don't use `http`, use `wss`.
e.g.
✅ const web3 = new Web3("wss://rpc-mainnet.maticvigil.com/..........")
👎⚠ const web3 = new Web3("https://rpc-mainnet.maticvigil.com/......")

[2022-05-01 09:21] snake-py commented on #3727
I tried downgrading to 1.6.1 but it did not help.

[2022-05-02 18:20] moonman369 commented on #3897
Getting the same error in remix while trying to call a view function that returns an array.

[2022-05-03 10:47] nazarhussain opened #4998 "Improve test system structure"
We need an improved infrastructure for writing and running system tests.

#### Expected behavior
The **integration** test that wrote are configured to be linted with **Jest**. So the same tests should run exactly in the browser environment to avoid duplicate effort of maintaining knowledge and code for double testing framework.

#### Actual behavior

Currently system tests is configured with **Jas

[2022-05-03 12:02] devdomsos commented on #3723
Should be reopened if you do not support it yet. :)

[2022-05-03 14:26] #4850 closed, assigned to nazarhussain

[2022-05-03 18:54] snake-py commented on #4992
I dug a little into it and noticed that this is probably due to the combination with Vite. I started to polyfill the nodejs.util API. However, it is still not working, even though it is now for sure in the browser.
https://pastebin.com/mreVbzUW // this will have the callbackify function
https://pastebin.com/KEwfg3w8 // this won't have the callbackify function
![image](https://user-images.githubuse

[2022-05-04 09:41] nazarhussain commented on #4932
Hi @jeanlambert17 Thanks for reaching back to us. It would be a nice feature and that's great you you want to contribute yourself. Please consider that `1.x` branch and `4.x` are totally different codebase, so I would suggest to create two different PR's for both branches.

[2022-05-04 09:43] nazarhussain commented on #4933
Hi @cao148, Did you tried solution suggested by @luu-alex ? Hope that solved your problem, if not please share more details so we can look into it.

[2022-05-04 09:47] nazarhussain commented on #4934
@bohdan-tkachuk Thanks for reaching to us with and with such nice details. As we are focused currently on `4.x` rewrite, so could not look into this issue right away. Will plan it to investigate in coming sprints.

[2022-05-04 09:58] nazarhussain commented on #4959
@root123-bot  Try adding a catch to the main function.

[code]

This will make sure you don't have a `UnhandledPromiseRejectionWarning` and actually see the right error which we can debug.

[2022-05-04 10:03] nazarhussain commented on #4976
Hi @haltman-at Thanks for reaching to us with and with such detail about the issue. Currently we are occupied in `4.x` rewrite, but will look into this issue in near future.

[2022-05-04 10:06] nazarhussain commented on #4992
Hi @snake-py Thanks for reaching to us with details of the issue. We will investigate it further.

[2022-05-04 10:13] oliviera9 opened #4999 "Jest has detected the following 1 open handle potentially keeping Jest from exiting"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Executing `web3.eth.getBlock` using an HttpProvider let Jest complain about an open handle.
I also tried disconnecting from the HttpProvider, but with no success.
The same happens with `getTransactionCount`.
[code]

### Expected Behavior

There should be no open handle left after test executi

[2022-05-04 12:45] khaledosman commented on #4581
I have the same issue, I also noticed that this only happens if I have alot of calls in my batch request (I was trying to do 500), if I limit it to 5 only, the request works. 🤷

Anyone found a solution/workaround? I guess chunk the batch requests over a time duration?

[2022-05-04 16:40] #4988 closed, assigned to jdevcs

[2022-05-04 16:40] #4989 closed, assigned to jdevcs

[2022-05-04 17:08] Spacesai1or opened #5002 "Fork and Update `cypress-jest-adapter`'s Dependencies"
My concern with using this helper package (`cypress-jest-adapter`) is that it may not be actively maintained

![image](https://user-images.githubusercontent.com/20375610/165791867-686de9f8-91dc-41cc-98bc-30ab498e75b0.png)

So if we plan to use it, we may need to maintain it ourselves. Even the dependencies haven't been upgraded in over a year:

![image](https://user-images.githubusercontent.com/20

[2022-05-04 17:31] nazarhussain opened #5003 "Setup live documentation tool for the web3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

We need to explore different tools available in the domain of code documentation, with following considerations.

1. The tools and approach should be favourably towards live documentation.
2. It should have some flexibility to mixup static docs
3. It should be able to split the static docs fil

[2022-05-04 17:43] avkos opened #5004 "Web3.eth.subscribe syncing test - Manual"
Make a manual test of the start/finish syncing event.

System tests for:

## Web3.eth.subscribe

- [x] subscribe(“syncing”)

[2022-05-04 19:40] #4820 closed, assigned to nobody

[2022-05-04 20:39] snake-py commented on #4992
@nazarhussain Thanks for labeling it:

I think I am now correctly polyfilling the util lib - here is my updated vit.config.ts file:

[code]

I also added theses lines to my index.html

[code]

The log out put will actually show that util is correctly imported and callbackify is avails.
![image](https://user-images.githubusercontent.com/59285387/166821966-1c204e9a-77c9-4520-ae74-18462c61fcc4.png)

[2022-05-05 08:10] Spacesai1or opened #5006 "Discuss/Implement Migration Away From Lerna [4.x]"
[Lerna](https://github.com/lerna/lerna) seems to no longer be maintained, so for `4.x` we could probably rely solely on Yarn Workspaces

[2022-05-05 10:04] sirasistant commented on #4921
Hi!

Have you been able to reproduce this issue?

Thanks!

[2022-05-05 12:04] #4998 closed, assigned to nazarhussain

[2022-05-06 08:13] PLQin commented on #4453
**I also encountered this problem:**

Code:
[code]

Error:
[code]

package.json:
[code]

[2022-05-06 09:05] PLQin commented on #4453
Ethers solves this problem:

[code]

[2022-05-06 14:47] luu-alex commented on #4999
Thank you for reporting this issue, in your jest command you are running can you try adding the `--forceExit` flag and see if you still get the error? Even though you are doing the disconnect method I dont believe that does [anything](https://github.com/ChainSafe/web3.js/blob/1.x/packages/web3-providers-http/src/index.js#L128)
Let me know if this fixes things :)

[2022-05-07 07:54] alex1s1 commented on #2485
I've tried the 3rd response as well, but even that is not working for me.

[2022-05-08 14:16] #4933 closed, assigned to nobody

[2022-05-08 15:28] mfolnovic commented on #4992
@snake-py have you maybe figured out how to workaround this? tnx! :)

[2022-05-08 15:35] snake-py commented on #4992
No I have not. I think the fastest solution is to ditch either Vite or Web3js. Ethers.js was recommended to me.

[2022-05-09 07:50] mfolnovic commented on #4992
unfortunately, i'd like to use web3js-quorum so ethers.js isn't an option for me :(

my workaround is to put `<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>` in `index.html` and use `window.Web3` instead of importing it :)

[2022-05-09 12:15] hej6666 opened #5013 "How set gas price for my project?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to say about Web3.js' documentation?

How set gas price for my project?
I can see gas price from  'https://etherchain.org/tools/gasnow' or 'https://polygonscan.com/' .
but I want use API get it.
can i get gas price from last block?
how do it.
thanks

### Examples/References

_No response_

[2022-05-09 14:18] #4852 closed, assigned to avkos

[2022-05-10 00:23] #4780 closed, assigned to nobody

[2022-05-10 09:04] oliviera9 commented on #4999
Thanks for your reply indeed. I have tried the `--forceExit` but still jest returns
[code]
from `_sendHxxpRequest`.

[2022-05-10 09:43] avkos commented on #5013
Hello. Thank you for your question. You can use [this function](https://web3js.readthedocs.io/en/v1.2.11/web3-eth.html#getgasprice) to get the current gas price

[2022-05-10 09:52] hej6666 commented on #5013
Thanks,Thanks,Thanks

[2022-05-10 09:52] #5013 closed, assigned to nobody

[2022-05-10 16:01] mconnelly8 opened #5020 "libs and CI update"
Libs and CI node.js version update before next release:

npm audit fix
CI node.js version updated for build and tests.

[2022-05-10 17:34] Spacesai1or opened #5021 "Discuss/Implement Migration Away From Lerna [1. x]"
[Lerna](https://github.com/lerna/lerna) seems to no longer be maintained, so for `1.x` we'll need to R&D a solution for managing local dependencies and NPM publishing since it uses NPM instead of Yarn

[2022-05-11 14:24] gokulkar879 commented on #3934
Was you error fixed as I am having the same errors.

[2022-05-11 18:05] gokulkar879 commented on #3934
@MananDesai54

[2022-05-11 21:19] nazarhussain commented on #4959
@root123-bot  Did you tried the above mentioned suggestion?

[2022-05-11 21:32] nazarhussain commented on #4921
@sirasistant Yes I can confirm I was able to reproduce the issue. Right now we are investing all our resources on 4.x rewrite. We will look into and plan this issue in future sprints.

[2022-05-11 21:34] nazarhussain commented on #4787
Hi, Currently we are investing all resources in 4.x rewrite. We will investing this issue and plan for some future sprints.

[2022-05-11 21:37] nazarhussain commented on #4992
@snake-py Did you tried the following documentation steps.

https://github.com/ChainSafe/web3.js#web3-and-create-react-app

We had tested it with React and Angular and documented the known issues and workaround for it.  We are investing all our resources to the 4.x rewrite right now, so not sure if we can look into this issue right away.

Please follow the steps in the above link and see if it wor

[2022-05-11 23:56] #4978 closed, assigned to nazarhussain

[2022-05-12 09:00] anuj-upadhyay-2001 commented on #3925
Has this been fixed already?

[2022-05-12 20:22] jdevcs commented on #5006
As discussed in last sprint meeting, we will continue using `lerna` https://github.com/lerna/lerna/issues/3121 and will wait for new road-map announcement.

[2022-05-12 20:23] jdevcs commented on #5021
As discussed in last sprint meeting, we will continue using `lerna` https://github.com/lerna/lerna/issues/3121 and will wait for new road-map announcement.

[2022-05-12 21:27] maxamly opened #5026 "Clarification: Different behavior on the same setup"
### This is not a Bug Report, Feature Request, or related to Documentation

- [X] I have searched the existing issues

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

I have a DApp developed by our team, when we set it up locally it worked fine, but when we have done the same things to deploy it on server an error appeared? How does web3 call `C

[2022-05-13 10:18] nikoulai commented on #5026
Hey, thanks for reaching out.
Have you tried to set the `type` parameter in the `send` function ([ref](https://web3js.readthedocs.io/en/v1.7.3/web3-eth.html#sendtransaction))?

[2022-05-13 10:44] maxamly commented on #5026
Yep, I've tried and it worked, I just wanted to know how web3 decides which type of transaction to use if type is not set?

[2022-05-13 15:37] zihangg opened #5027 "./node_modules/@solana/buffer-layout-utils/lib/esm/web3.mjs Can't import the named export 'PublicKey' from non EcmaScript module (only default export is available)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

AWS fails to build the website citing this error.

Did a fresh install locally to replicate the error. Seems like web3 forcing the installation of this module when it didn't previously.

### Expected Behavior

Build successful without facing this issue.

### Steps to Reproduce

npm install

#

[2022-05-13 17:36] zOthix commented on #3886
Having the same error did any one manage to fix it?

[2022-05-13 18:02] snake-py commented on #4992
@nazarhussain I am not using webpack I am using Vite. But in essence, I am polyfilling all of these libraries. I am gonna look at it again and see if I can find a way out.

[2022-05-14 21:38] barhouum7 commented on #5027
Same here, got the same issue today after adding React Moralis Provider, but removing Moralis Provider wrapper from my code fixing this issue

**Web3.js Version**

or

**Environment**

- Operating System: WSL
- Browser: Brave
- Node.js Version: v16.14.0
- NPM Version: 8.5.4
- moralis: 1.7.0
- react-moralis: 1.3.4

![image](https://user-images.githubusercontent.com/28789723/168448990-c25c2cec-2098-

[2022-05-15 10:51] dannicada commented on #5027
Please I have the same issue while running `react-scripts build` on docker

Web3.js Version
1.7.3

Environment

- Operating system: ZorinOs (ubuntu based)
- Node.js Version: v16.15.0
- NPM Version: 8.5.5
- Moralis Version: 1.7.0
- React-Moralis version: 1.3.5

[2022-05-15 11:09] logicalfarhad opened #5029 "Uncaught (in promise) Error: Transaction has been reverted by the EVM:"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

Hi, I am trying to save some private transactions in the Quorum blockchain network using web3js 1.7.3.
For public transactions, it works without any error.
However, for private transactions, it is showing some errors ( I have attached a screenshot) although the transaction has been already sa

[2022-05-15 16:11] khaledosman commented on #4581
update: I was using [ganache](https://www.npmjs.com/package/ganache) locally, seems to work fine after switching my provider rpc url to one from [rivet](https://rivet.cloud/)

[2022-05-16 07:10] #5020 closed, assigned to jdevcs

[2022-05-16 13:56] nikoulai commented on #5026
It checks the parameters passed by the user( maxFeePerGas, etc.) and checks if the network which is connected supports the transaction.
You can take a look here:

(https://github.com/ChainSafe/web3.js/blob/b4a52d6d3246395075f3083be80610df135bc926/packages/web3-core-method/src/index.js#L833)

Since you found a solution I close the issue. Feel free to reach us if you have any more questions (you can

[2022-05-16 13:56] #5026 closed, assigned to nobody

[2022-05-16 14:32] jdevcs opened #5030 "@types/prettier breaking change"
1.x build is failing due to recent breaking change https://github.com/DefinitelyTyped/DefinitelyTyped/discussions/60314 in [@types/prettier], we have [@types/prettier] in dependencies path.

https://github.com/ChainSafe/web3.js/runs/6447563511?check_suite_focus=true#step:6:119
[code]

[2022-05-16 14:35] jdevcs commented on #5030
https://github.com/DefinitelyTyped/DefinitelyTyped/discussions/60310

[2022-05-16 15:25] #4979 closed, assigned to nazarhussain

[2022-05-16 17:28] mconnelly8 opened #5031 "Webpack5 support for create-react-app"
When a user uses the create-react-app to make their React project, it comes pre bundled with webpack 5. The scope will be to ensure that web3.js can be successfully bundled using webpack 5 and within a React project made with the create-react-app.

[2022-05-16 17:36] mconnelly8 opened #5032 "Add web3.eth.get_price method to web3.eth API"

[2022-05-16 23:45] michalko commented on #5027
same error here after update to newest libraries

    "@solana/spl-token": "^0.1.8",
    "@solana/spl-token-registry": "^0.2.268",
    "@solana/wallet-adapter-base": "^0.6.0",
    "@solana/wallet-adapter-react": "^0.12.0",
    "@solana/wallet-adapter-react-ui": "^0.4.1",
    "@solana/wallet-adapter-wallets": "^0.10.0",
    "@solana/web3.js": "^1.42.0",

Please help

[2022-05-17 09:08] CHENQIKUAI commented on #4453
I change the https to http, and it workd for me.
https: 'agent-base' -> http: 'agent-base'

[2022-05-17 09:28] drortirosh opened #5035 "exception should expose error code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

the RPC API [https://eips.ethereum.org/EIPS/eip-1474] defines error conditions with codes and semi-standard error messages.
The error messages themselves are not standardised, and different nodes return different values.
e.g. if one make a call to an RPC call that might not exist (e.g. eth_fe

[2022-05-17 09:42] mikulas-mrva commented on #2448
Closed for inactivity, are there any plans to implement this eventually?

[2022-05-17 13:25] #5030 closed, assigned to jdevcs

[2022-05-17 14:15] avkos commented on #5027
Hi. Thank you for your question. It looks like this problem is not related to the web3.js package.
It is not reproduced locally/docker.
If you think of another way, please describe the steps to reproduce in detail

[2022-05-17 14:21] avkos commented on #5029
Hello. Thank you for your contribution.
Can you also provide your contract, please?
`'./build/contracts/HelloWorld.json'`
`HelloWorld.sol`

[2022-05-17 15:57] logicalfarhad commented on #5029
Hi @avkos here is the smart contract.

[code]

[2022-05-17 16:09] mconnelly8 opened #5037 "4.x Testing"
All remaining packages : Accounts, ENS, ABI, Utils, Net,...

[2022-05-17 16:19] mconnelly8 opened #5038 "Accounts - 4.x System E2E Tests"

[2022-05-17 16:19] mconnelly8 opened #5039 "ENS - 4.x System Tests"

[2022-05-17 16:20] mconnelly8 opened #5040 "ABI - 4.x System Tests"

[2022-05-17 16:21] mconnelly8 opened #5041 "Utils - 4.x System Tests"

[2022-05-17 16:21] mconnelly8 opened #5042 "Net - 4.x System Tests"

[2022-05-17 16:31] mconnelly8 opened #5043 "4.x Misc Items - RC0"

[2022-05-17 16:32] mconnelly8 opened #5044 "4.x New Features"

[2022-05-17 17:43] mconnelly8 commented on #4982
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4982?planning-poker) with ZenHub @luu-alex

[2022-05-17 17:43] mconnelly8 commented on #4982
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4982?planning-poker) with ZenHub @spacesailor24

[2022-05-17 17:43] mconnelly8 commented on #4982
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4982?planning-poker) with ZenHub @jdevcs @nazarhussain

[2022-05-17 17:43] mconnelly8 commented on #4982
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4982?planning-poker) with ZenHub @nikoulai

[2022-05-17 17:44] mconnelly8 commented on #4982
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4982?planning-poker) with ZenHub @avkos

[2022-05-17 17:57] mconnelly8 commented on #4656
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4656?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nikoulai @spacesailor24

[2022-05-17 17:57] mconnelly8 commented on #4656
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4656?planning-poker) with ZenHub @nazarhussain

[2022-05-17 18:06] mconnelly8 commented on #4682
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4682?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nikoulai @spacesailor24 @nazarhussain

[2022-05-17 20:15] luu-alex opened #5046 "investigate web3 Personal- 4.0.0 System test - sign"
https://github.com/ChainSafe/web3.js/pull/4984#discussion_r875220297
Based off of the discussion of properly testing geth `sign` in the file `packages/web3-eth-personal/test/integration/personal.test.ts` we need to find a way to statically produce the same signature from geth so that `expect(signature).toBe(signatureFromConfig);`

[2022-05-17 20:18] luu-alex commented on #4853
This epic is done, but an investigation has popped from merging the PR for this issue. https://github.com/ChainSafe/web3.js/issues/5046

[2022-05-17 20:18] #4853 closed, assigned to luu-alex

[2022-05-17 20:39] andreistefanwork opened #5047 "Small spelling errors in web3-eth-accounts.rst & TESTING.md"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to say about Web3.js' documentation?

just some small typos

### Examples/References

double 'the', missing 'the' / 'to'

[2022-05-18 00:08] pietro-lopes opened #5049 "Problem deleting account when checksummed address is equal to lowercase address"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When you add an account to a wallet, it creates:

- An index;
- A checksummed address;
- A lowercase address.

So you can access using any of those keys.

When you want to remove an account it does the same process, but when you have a checksummed that is equal to lowercase, the line (681) th

[2022-05-18 07:54] andreistefanwork commented on #5049
Hi @unknownrj!

I am also able to reproduce the issue; I'm happy to help and I have tried fixing the problem & created a [PR](https://github.com/ChainSafe/web3.js/pull/5050)

Can you please have a look if everything looks fine?

Thanks!

[2022-05-18 10:14] #4993 closed, assigned to Spacesai1or

[2022-05-18 13:56] nazarhussain commented on #5035
Hi @drortirosh Thank for reaching out to us. I think that's a valid point you raised the error code should be included as part of the response. As we are currently we are investing all efforts to the 4.x rewrite, so we will consider this to be done for that release as well.

[2022-05-18 16:14] LuisNeves05 commented on #1379
When using getPastEvents with 'allEvents', the filter still gets ignored

[2022-05-19 18:06] luu-alex opened #5053 "remove polyfill packages to support webpack 5"
connected to #5031 in order to support create-react-app and angular5 out of the box with web3js we need to get rid of these dependancies from our library:
crypto-browserify,
stream-browserify,
assert,
stream-http,
 https-browserify,
os-browserify,
url

[2022-05-19 19:39] rnike opened #5055 "Using Promise.all with contract method call will only resolve the last value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

seperatly await method calls works fine
[code]

but if use Promise.all the values will become the same from the last call

[code]

### Expected Behavior

Promis.all should resolve the value as same as await them separately

[code]

### Steps to Reproduce

[code]

### Web3.js Version

1.7.3

#

[2022-05-20 03:51] pietro-lopes commented on #5055
Tried a minimal working, but looks like it works fine.

[code]

[code]

[2022-05-20 08:49] rnike commented on #5055
Thank @unknownrj for verifying, found out that I lost a part of my code in the description, and that is why causing the issue,

If the param for calls is sent from the same defined const, all results will become the same.
[code]
if pass seperate params to calls, the result will be working as expected
[code]
or if await the calls sequently with same param will also work properly
[code]

The issue s

[2022-05-20 09:36] rnike commented on #5055
Having a dig into the source code, I found out why it is happening

The `_processExecuteArguments`  is messing up the input args,
https://github.com/ChainSafe/web3.js/blob/2c0324af2da467ee1acb72452f20000e916e4306/packages/web3-eth-contract/src/index.js#L864-L897

in line 877 `processedArgs.options` is assigned from args.pop(), at the time `processedArgs.options` has the same reference from the inp

[2022-05-20 11:04] nikoulai opened #5058 "System tests for IPC Provider"
Test that IPC provider strings create web3 instance

#### Min Platform Requirements for 4.x Alpha:
- Node: v14, v16
- Browsers: Firefox, Brave
- Eth Clients: Geth, Ganache

More details are in [Epic](https://github.com/ChainSafe/web3.js/issues/4711)

[2022-05-20 11:21] pietro-lopes commented on #5055
@rnike now i'm curious heheh

[code]

it is still working for me, can you edit and "break" it?

[2022-05-20 12:39] marko911 commented on #5053
+1 on this. This causes a lot of problems for bundling and tons of workarounds need to be injected to get things working.

[2022-05-20 14:42] rnike commented on #5055
Found out I'm using `window.ethereum` as the provider in chrome which is from MetaMask, and that's the final reason for this issue, seems like it's not the correct way to build a connection, changing to the correct provider fixes it,
thank you @unknownrj !

here is my testing code
[code]

console output:

[code]

[2022-05-20 16:01] #4980 closed, assigned to nazarhussain

[2022-05-21 05:25] wompeter commented on #4992
Any luck with this?  I'm running into a similar error with Vite dying on
```[commonjs] Unexpected token (42:10) in ....../node_modules/web3-core-requestmanager/lib/givenProvider.js```

Runs fine in dev but once it tries to build with rollup it dies on this

[2022-05-22 00:22] #4832 closed, assigned to nobody

[2022-05-22 00:22] #4819 closed, assigned to nobody

[2022-05-22 00:22] #4816 closed, assigned to nobody

[2022-05-22 00:22] #4467 closed, assigned to nobody

[2022-05-22 00:22] #4468 closed, assigned to nobody

[2022-05-22 00:22] #4456 closed, assigned to nobody

[2022-05-22 15:40] JonathanLorimer opened #5059 "Transient dependency on safer-buffer breaks builds that polyfill with rollup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When running web3.js in the browser via a react app served with [snowpack](https://www.snowpack.dev/) I get this error:
![1653232319_grim](https://user-images.githubusercontent.com/32466011/169702238-b84e754c-6760-409c-bf6e-9467c340cec4.png)

### Expected Behavior

Should be able to polyfill

[2022-05-22 18:17] markg85 opened #5060 "Add function for eth_getEncryptionPublicKey"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Doesn't exist in web3.js

### Expected Behavior

Should be added and functionally work like https://docs.metamask.io/guide/rpc-api.html#eth-getencryptionpublickey

### Steps to Reproduce

none

### Web3.js Version

1.7.3

### Environment

n/a

### Anything Else?

This RPC call seems to exist

[2022-05-23 08:16] ko0f commented on #1354
For future reference, there are some extra parameters required for full auto-reconnect websocket provider -
[code]

[2022-05-23 16:18] #4849 closed, assigned to avkos, jdevcs

[2022-05-24 02:27] Spacesai1or opened #5064 "Investigate A Better E2E Test for Web3Eth.submitWork"
With EL and CL merge this function will be discarded as POW will be removed. But I think for other evm POW based NWs if any one want to use web3.js we can test it in some future release:

0. Infrastructure setup ( fully synced local testnet Ethereum client that is enabled for mining )

1. get results of eth_getWork
Returns the hash of the current block, the seedHash, and the boundary condition to

[2022-05-24 13:24] jdevcs commented on #4857
Based on user needs, instead of using default `maxPriorityFeePerGas` 2.5 Gwei there is method of setting it explicitly:

1. estimate maxPriorityFee by using getfeehistory https://web3js.readthedocs.io/en/v1.7.3/web3-eth.html#getfeehistory
2. set it explicitly using ` tx.maxPriorityFeePerGas`

[2022-05-24 13:24] #4857 closed, assigned to nobody

[2022-05-24 13:30] nikoulai opened #5066 "Fault tolerance test for WebsocketProvider package"
### This is not a Bug Report, Feature Request, or related to Documentation

- [X] I have searched the existing issues

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

System tests for:

## WebSocket Provider package

- [ ] Fault Tolerance tests

#### Min Platform Requirements:
- Node: v14, v16
- Browsers: Firefox, Brave
- Eth Client: Geth

More

[2022-05-24 13:31] #4897 closed, assigned to nikoulai

[2022-05-24 14:15] jdevcs opened #5067 "Review 4.x Release Process"
https://github.com/ChainSafe/web3.js/blob/4.x/RELEASE.md

[2022-05-24 14:16] jdevcs opened #5068 "Webpack Config and build 4.x"

[2022-05-24 14:48] avkos opened #5069 "Implement getRevertReason for 4.x"
implement all things related to `handleRevert:true` setting

Documentation:
https://web3js.readthedocs.io/en/v1.7.3/web3-eth.html?highlight=handlerevert#handlerevert
https://web3js.readthedocs.io/en/v1.7.3/web3-eth-contract.html?highlight=handlerevert#handlerevert

Implementation in 1.x
https://github.com/ChainSafe/web3.js/blob/2c0324af2da467ee1acb72452f20000e916e4306/packages/web3-core-method/src

[2022-05-24 15:50] hems commented on #1178
not stale

[2022-05-24 15:51] hems commented on #4682
not stale

[2022-05-24 16:29] jdevcs commented on #4881
Related issue https://github.com/ChainSafe/web3.js/issues/4979

[2022-05-24 17:05] #4994 closed, assigned to Spacesai1or

[2022-05-24 19:03] luu-alex opened #5071 "Investigate signtransaction testcases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1. For this [testcase](https://github.com/ChainSafe/web3.js/blob/1.x/test/eth.accounts.signTransaction.js#L167) the decoded rawTransaction does not match the return value of r and s from function account signtransaction.
rawTransaction: `0xf85f800a827c6d94f0109fc8df283027b6285cc889f5aa624eac1

[2022-05-25 05:30] OscBacon commented on #4871
Hey, any updates on this? I can't see a relevant pull request, and it would make things easier than having to redefine an interface to work with web3js

[2022-05-25 07:45] akegaviar commented on #2890
btw, on the original issue for anyone coming from a search engine, `web3.eth.getPendingTransactions()` returns an empty array because it's supposed to return only txs originating [from an account on the node](https://github.com/ethereum/go-ethereum/blob/ead814616c094331915b03edd82d4200a7880178/internal/ethapi/api.go#L1700).

Check also [Exploring the methods of looking into Ethereum’s transaction

[2022-05-25 08:33] nikoulai commented on #4871
Hi, @OscBacon Thanks for reaching out to us. Currently, all our resources are focused on 4.x rewrite. Feel free to open a PR addressing this.

[2022-05-25 10:36] gregorfelkar opened #5072 "Update BN.js dependecy to v5.2.1"
### This is not a Bug Report, Feature Request, or related to Documentation

- [X] I have searched the existing issues

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

* Fix serious issue in `.toString(16)`

The hex encoding of some numbers is wrong. Since the string representation
is also used for interoperability between BigInt libraries, this

[2022-05-25 13:42] plusminushalf commented on #5072
Hey I am new to the repo, will this be a good first issue? If yes I would like to pick this up.

[2022-05-25 13:57] luu-alex commented on #5072
Thank you for this @gregorfelkar this looks serious and we'll update BN as soon as we can

[2022-05-25 14:06] snake-py commented on #4992
@wompeter if you could get it work in dev then I should ask you how you did it, because I went to use the CDN. I couldn't properly polyfill this even for dev? Would you be willing to share how you did the dev set up?

[2022-05-25 15:28] nazarhussain opened #5073 "`bytesToBuffer` does not work for 0 and 1 integer values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

returns empty buffer `<Buffer >`

### Expected Behavior

[code]

should return `<Buffer 01>`

### Steps to Reproduce

[code]

### Web3.js Version

4.x

### Environment

- Operating System:
- Browser:
- Node.js Version:
- NPM Version:

### Anything Else?

The following code is responsi

[2022-05-25 19:32] Spacesai1or opened #5075 "Investigate `4.x` Symlinks Not Working On Windows"
There was a report in the ChainSafe discord that the symlinks don't work on Windows and therefore the `4.x` branch cannot be properly setup in a Windows env

[2022-05-25 22:47] FrankBevr opened #5076 "Typescript doesnt work?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![web3Typescript](https://user-images.githubusercontent.com/30662393/170380013-19bcf6bf-1006-4f66-99e9-af10288137c2.gif)

**My index.js File**
[code]
**My indexTS.ts File**
[code]

**My BugOutuput**
[code]

### Expected Behavior

Should work like the index.js file, but why is this not the cas

[2022-05-26 01:05] davidmurdoch commented on #4618
Bad robot

[2022-05-26 04:34] Spacesai1or opened #5077 "Geth returns non `HexStringBytes` value for `eth_signTransaction`"
Currently [eth_signTransaction](https://github.com/ChainSafe/web3.js/blob/82574a2587810f9bea26ba65da48fe667162e573/packages/web3-common/src/eth_execution_api.ts#L284) is typed to return `HexStringBytes`, but when working on #5056, I discovered Geth returns [an object](https://github.com/ethereum/go-ethereum/blob/c1b69bd12184cc6278f5641c14bc72ca0a42d397/internal/ethapi/api.go#L1735)

[More context]

[2022-05-26 04:36] #4799 closed, assigned to luu-alex

[2022-05-26 05:08] kai-alpha commented on #4724
Hmm nobody is fixing this bug? Last attempt to get attention (I'll let the bot close it next time)

[2022-05-26 05:15] Jehovaholyspirit01 opened #5078 "Jehovajesuschristholyspirit tag on GitHub please"
Jehovajesuschristholyspirit tag on GitHub please

_Originally posted by @Jehovaholyspirit01 in https://github.com/ChainSafe/web3.js/issues/4879#issuecomment-1138161978_

[2022-05-26 05:16] Jehovaholyspirit01 commented on #5078
Query/transact now deploy and execute

[2022-05-26 05:18] Jehovaholyspirit01 commented on #5078
Add tokens and $usd balance

[2022-05-26 05:18] Jehovaholyspirit01 commented on #5078
Total balance of all requests

[2022-05-26 06:06] Spacesai1or opened #5079 "Hanging promise in `web3-eth` integration tests"
`--forceExit` flag should be removed from the `test:integration` npm script in `web3-eth` package, but can't because there seems to be hanging promises in:

- [rpc.test.ts](https://github.com/ChainSafe/web3.js/blob/4.x/packages/web3-eth/test/integration/rpc.test.ts)
- [subscription_logs.test.ts](https://github.com/ChainSafe/web3.js/blob/4.x/packages/web3-eth/test/integration/subscription_logs.test

[2022-05-26 12:02] andreistefanwork commented on #4724
Hi @kai-alpha! I was able to reproduce this issue as well. The problem seems to be indeed inside the inner Promise.all([promise1, promise2]) and its then() chain.

If an error occurs in either promise1, promise2 or inside then(...), it's not propagated to the outer Promise

This can be fixed using a catch(...) on the inner Promise.all()

I created the following [PR](https://github.com/ChainSafe/we

[2022-05-26 12:15] nmaskens commented on #5076
The issue is Typescript. You are being punished for using Typescript

[2022-05-26 13:11] CaiWenlie commented on #5076
same issue since today

[2022-05-26 13:19] avkos opened #5081 "Add helper to get long string data from contract storage"
To get long string data from the contract storage we need to implement a specific algorithm.
It will be great to have a helper to make it easier for web3.js users.
Example from `packages/web3-eth/test/integration/rpc.test.ts`:
[code]

[2022-05-26 13:29] mayanksethisimpplr commented on #5076
Something similar is happening with me also
`**_Debug Failure. False expression: Non-string value passed to `ts.resolveTypeReferenceDirective`, likely by a wrapping package working with an outdated `resolveTypeReferenceDirectives` signature_**`

[2022-05-26 15:22] JahangirJadi commented on #427
I am also getting the same error in Android. I am using web3 core v4.8.7

[2022-05-26 16:31] adetorodev commented on #5076
I am having this issue too.

[2022-05-26 16:32] adetorodev commented on #5076
Guys what's the way out

[2022-05-26 19:37] thisprojectworks commented on #4453
This is the best solution find it. Many thanks. Works perfectly.

[2022-05-26 19:53] JPDesignTech commented on #5076
I managed to deal with this by setting back my `ts-node` and `typescript` versions:

[code]

[2022-05-26 22:33] OscBacon commented on #4871
Sure!

[2022-05-27 10:21] tungmaimt opened #5084 "No resolve transaction when event index is big"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I had do some tests and it seem that when smart contract emit and event with big indexed params, it will lead to failling to decode it. And this cause to action send do not resolve or reject when the transaction done, it just does not run into then or catch. The event subcribe is affect to, b

[2022-05-28 16:02] FrankBevr commented on #5076
@jpere547 Thanks mate <3

Now I am almost there, I just have to figure out how the hell to run `node` correctly after compling .ts to .js. (without ts-node)

any reccomendations? : )

*A gif of what works and what doesnt*
![almostThere](https://user-images.githubusercontent.com/30662393/170833202-081c0412-fa54-4bd3-aad9-9e8a9f030154.gif)

[2022-05-28 16:45] dpachecorod commented on #4579
Any updates on this? I have the same problem.

[2022-05-28 20:04] mellertson commented on #4579
I hadn't heard of `expo-crypto`, but I will check it out.  Seems like the solution I used might be similar to yours.  After I made my previous post I ran into additional issues.  Long story short after installing `expo-random` I added the following line to the top of the module where I execute crypto functions, like generating private keys.

[code]

[2022-05-30 10:50] avkos opened #5087 "Implement defaultCommon, maxListenersWarningThreshold"
Implement all things related with `defaultCommon`, `maxListenersWarningThreshold` in 4.x

Doc:
- https://web3js.readthedocs.io/en/v1.7.3/web3-eth.html?highlight=defaultCommon#defaultcommon
- https://web3js.readthedocs.io/en/v1.7.3/web3-eth-contract.html?highlight=defaultCommon#defaultcommon
- https://web3js.readthedocs.io/en/v1.7.3/web3-eth.html?highlight=maxListenersWarningThreshold#maxlistenersw

[2022-05-30 16:37] NatPDeveloper opened #5088 "Web3js stop firing event on subscription with Hardhat Node"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I run less of the unit tests, the current tests that are failing pass. I am running this on a c5.xlarge ec2 instance using docker containers.  The project can be found here: https://github.com/DAPPNetworkLabs/dapp-workers/.

I tried increasing the instance size and monitoring the memory

[2022-05-30 18:19] NickKelly1 opened #5089 "TypeError: value.toLowerCase is not a function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`Web3.utils.toHex` unexpectedly throws an error when given certain `BN` inputs due to incorrectly inferring a `BN` is an address and therefore a string.

### Expected Behavior

`Web3.utils.toHex` should not throw an error given the valid `BN` input.

### Steps to Reproduce

Using this code:

[2022-05-30 18:42] nazarhussain opened #5090 "Encoding of uninitalized string property of a contract failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

For a contract which have a string property but not intialized, the returning value cause an encoding error.

### Expected Behavior

Such scenario should return into empty string.

### Steps to Reproduce

The solidity contract.

[code]

The web3 code.

[code]

The following scenario can also

[2022-05-30 19:04] 0xrishavsharma commented on #948
The bug still exists in 2.9.6

[2022-05-30 21:16] #5078 closed, assigned to nobody

[2022-05-31 03:10] blaynem commented on #1178
Still not stale, package is quite large.

[2022-05-31 10:54] ClaudioAdalbertoSilva commented on #5076
🤓  Hey guys!
This bug was resolved in my project by installing of:
"ts-node": "^10.8.0" on package.json ✅
I use the "typescript": "^4.7.2" in my project.
The TypeScript compiler API need an "compatible" PKG ts-node to running.
The PKG "ts-node" is a TypeScript execution and REPL (js Read-Eval-Print-Loop is an easy-to-use command-line tool, used for processing Node. js expressions) for node.js, wit

[2022-05-31 14:19] #5003 closed, assigned to nazarhussain

[2022-05-31 15:39] mconnelly8 opened #5091 "Research Plug-in base architecture"

[2022-05-31 15:40] mconnelly8 opened #5092 "Build Plug-In Base"

[2022-05-31 15:47] mconnelly8 commented on #4981
Tests are already done, but need to revisit tests.

[2022-05-31 18:11] mconnelly8 commented on #4970
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4970?planning-poker) with ZenHub @nazarhussain @spacesailor24 @jdevcs @nikoulai

[2022-05-31 18:15] mconnelly8 commented on #4969
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4969?planning-poker) with ZenHub @jdevcs @nazarhussain @nikoulai @spacesailor24

[2022-05-31 18:18] mconnelly8 commented on #4972
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4972?planning-poker) with ZenHub @jdevcs @nazarhussain @nikoulai @spacesailor24

[2022-05-31 18:21] mconnelly8 commented on #4973
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4973?planning-poker) with ZenHub @jdevcs @nazarhussain @nikoulai @spacesailor24

[2022-05-31 18:41] luisantoniocrag commented on #948
Still exists on 1.7.3

[2022-06-01 10:55] naftalimurgor commented on #1040
@drgorb @robert-zaremba @lukehedger still facing this issue

[2022-06-01 12:27] nazarhussain opened #5094 "Improve the nullish value usage around the codebase"
### This is not a Bug Report, Feature Request, or related to Documentation

- [X] I have searched the existing issues

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

In our codebase we are using mixed of  **nullish** values, sometimes `null` and sometimes `undefined`. Both have different behavior and can result into different side-effects. I su

[2022-06-02 11:10] nazarhussain opened #5096 "Improve the integration tests for contracts default attributes."
### This is not a Bug Report, Feature Request, or related to Documentation

- [X] I have searched the existing issues

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

During the first phase of the integration tests we covered the following default configuration options:

1. defaultAccount
2. defaultBlock

Following attributes should be covered f

[2022-06-02 11:11] nazarhussain commented on #4881
Created a separate [issue](https://github.com/ChainSafe/web3.js/issues/5096) to cover other default attributes.

[2022-06-02 13:31] #4881 closed, assigned to nazarhussain

[2022-06-02 13:37] jdevcs opened #5097 "4.x CI / CD Improvements"
- [x]    Check build size
- [ ]     Github Secrets Scanning ( https://docs.github.com/en/enterprise-cloud@latest/code-security/secret-scanning/configuring-secret-scanning-for-your-repositories )
- [ ]     Discover vulnerabilities https://codeql.github.com/
- [x]     using codecov https://about.codecov.io/language/typescript/
- [x]     Auto publish doc ~~with tag push~~
- [ ]     Test build on tag

[2022-06-02 13:44] jdevcs opened #5098 "4.x Contracts Tests e2e"
<s>- [ ] clone contract with legacy tx and local wallet account</s>
<s>- [ ]     clone contract with EIP1559 tx and local  wallet account</s>
<s>- [ ]     clone should fail with invalid local account</s>
<s>- [ ]     clone should fail with low basefeeGas 0x2 transaction</s>
- [x]     deploy should fail with low basefeeGas 0x2 transaction
- [x]     deploy contract with legacy tx and local account
-

[2022-06-02 15:51] justinduncan2010 commented on #5076
You can remove the ^ in front of the version for typescript in the package.json so it doesn't fetch the latest version for now. Re-install and it should work fine

[2022-06-03 07:39] #4851 closed, assigned to nikoulai

[2022-06-03 17:11] luu-alex commented on #5088
Hey there @NatPDeveloper, can you give us the error or snippet of code of which testcase is failing

[2022-06-03 17:25] luu-alex commented on #5059
Hey thanks for submitting this issue, what is specifically causing this issue? crpyto-browserify?

[2022-06-03 20:24] mconnelly8 opened #5099 "Migration Guide - Review breaking changes by installing Truffle"

[2022-06-03 21:55] ko0f commented on #3042
This memory leak still going on, had to switch our project to `ethers`.

[2022-06-04 00:23] #4747 closed, assigned to nobody

[2022-06-04 00:23] #4695 closed, assigned to nobody

[2022-06-04 00:23] #4340 closed, assigned to nobody

[2022-06-04 00:23] #4322 closed, assigned to nobody

[2022-06-04 00:23] #4319 closed, assigned to nobody

[2022-06-04 00:23] #4313 closed, assigned to jdevcs

[2022-06-04 00:23] #4310 closed, assigned to nobody

[2022-06-05 08:36] wobsoriano commented on #3727
Same issues

[2022-06-05 19:36] wobsoriano commented on #4873
move to ethers or don't use vite hahaha

[2022-06-05 20:02] prantiknoor commented on #2915
[code]
It has worked for me.

[2022-06-05 21:19] skoshx commented on #4873
@Garito I found that switching to `ethers`, made my life so much better. Literally everything seems to work better with `ethers`. Recommend switching.

[2022-06-05 23:01] Garito commented on #4873
Is this packet not maintained?

[2022-06-05 23:05] OscBacon commented on #4871
Hey, so the PR is ready, and has one approval, but it's missing another approval to get merged. Let's aim to wrap this up soon!

[2022-06-06 06:01] skoshx commented on #4873
@Garito As you can see from the commit history, it defenitely is maintained, just think `ethers.js` has a simpler and better API.

[2022-06-06 07:57] wobsoriano commented on #4873
I got it working with Nuxt 3 + Vite tho

https://github.com/wobsoriano/nuxt-web3.js

[2022-06-06 08:42] Garito commented on #4873
@skoshx and you don't find your comments about changing libraries a little rude?

[2022-06-06 14:17] NatPDeveloper commented on #5088
Hello there! All tests passed when reordered for whatever timeout issue or API issue I seem to be experiencing. Perhaps it's an alchemy thing.

https://docs.alchemy.com/alchemy/apis/ethereum/eth-subscribe-1

Otherwise when the tests are fully uncommented the git-cloner test is the first to fail where the web socket stops emitting events with no history of error, disconnect, reconnect, close, or ot

[2022-06-06 15:15] mconnelly8 opened #5100 "Migration Guide/Breaking Changes - ETH"
This information relates to the API documentation.

[2022-06-06 15:17] mconnelly8 opened #5101 "Migration Guide/Breaking Changes - ABI"
This information relates to the API documentation.

[2022-06-06 15:19] mconnelly8 opened #5102 "Migration Guide/Breaking Changes - Web3 ETH Personal"
This information relates to the API documentation.

[2022-06-06 15:20] mconnelly8 opened #5103 "Migration Guide/Breaking Changes - ENS"
This information relates to the API documentation.

[2022-06-06 15:23] mconnelly8 opened #5104 "Migration Guide/Breaking Changes - Accounts/Wallet"
This information relates to the API documentation.

[2022-06-06 15:28] mconnelly8 opened #5105 "Migration Guide/Breaking Changes - Web3"
This information relates to the API documentation.

[2022-06-06 15:29] mconnelly8 opened #5106 "Migration Guide/Breaking Changes - IBAN"
This information relates to the API documentation.

[2022-06-06 15:30] mconnelly8 opened #5107 "Migration Guide/Breaking Changes - Contracts"
This information relates to the API documentation.

[2022-06-06 15:31] mconnelly8 opened #5108 "Migration Guide/Breaking Changes - Web3Net"
This information relates to the API documentation.

[2022-06-06 15:32] mconnelly8 opened #5109 "Migration Guide/Breaking Changes - Subscribe"
This information relates to the API documentation.

[2022-06-06 22:21] PaulVipond commented on #4661
@Cod4h Also curious how you solved it. Been butting my head against variations of this all day. Works fine for Ethereum, but just gets Invalid Sender for BNB BSC.

[code]

[2022-06-07 01:36] skoshx commented on #4873
@Garito Defenitely not. As i said, my opinions are strictly subjective, but sharing opinions is important, since others can base their decisions based on other people's opinions. Criticism is important in the developer community, and I don't think people should hold back criticism just because it might seem "rude". Criticism is what fuels improvement.

I just wanted to share my positive experience

[2022-06-07 08:57] Garito commented on #4873
I will be agree with you in another context but...
You are adding nothing here
Besides, that comment will be ok for a beginner, but if you have a good chunk of code what then?
I will stop this conversation here now since, as i already said, it contributes nothing

[2022-06-07 13:11] avkos opened #5112 "Implement all things related with blockHeaderTimeout"
Documentation
[https://web3js.readthedocs.io/en/v1.7.3/web3-eth.html?highlight=blockHeaderTimeout#blockheadertimeout](https://web3js.readthedocs.io/en/v1.7.3/web3-eth.html?highlight=blockHeaderTimeout#blockheadertimeout)

add integration tests here: packages/web3-eth/test/integration/defaults.test.ts

[2022-06-07 13:18] avkos opened #5113 "Implement all things related with transactionBlockTimeout"
Documentation
https://web3js.readthedocs.io/en/v1.7.3/web3-eth.html?highlight=transactionBlockTimeout#transactionblocktimeout

Add integration test here: packages/web3-eth/test/integration/defaults.test.ts

[2022-06-07 15:14] mconnelly8 commented on #4964
This task isn't needed any longer.

[2022-06-07 15:14] #4964 closed, assigned to Spacesai1or

[2022-06-07 15:15] skoshx commented on #4873
@Garito  This is what I commented earlier. If you are using `web3.js` in a larger codebase, then you can follow that article to fix the problem.

[2022-06-07 15:20] #5094 closed, assigned to nazarhussain

[2022-06-07 16:01] Garito commented on #4873
And as I ask before...

I don't think I'm asking something very extreme, isn't it? A library level solution for this

Another issue will be that the maintainers of this packet don't care (the ethers solution will seem much more reasonable then)

[2022-06-07 17:26] mconnelly8 commented on #5100
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5100?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nazarhussain @nikoulai @spacesailor24

[2022-06-08 08:42] POPKET opened #5114 "testnet bad block and Synchronisation failed, dropping peer err="retrieved hash chain is invalid: could not apply tx"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

ERROR[06-08|17:37:14.259]
########## BAD BLOCK #########
Chain config: {ChainID: 55121 Homestead: 0 DAO: <nil> DAOSupport: false EIP150: 0 EIP155: 0 EIP158: 0 Byzantium: <nil> Constantinople: <nil> Petersburg: <nil> Istanbul: <nil>, Muir Glacier: <nil>, Berlin: <nil>, London: <nil>, Arrow Gla

[2022-06-08 08:43] #5114 closed, assigned to nobody

[2022-06-08 10:40] #5072 closed, assigned to nikoulai, luu-alex

[2022-06-08 19:25] wobsoriano commented on #4992
This is how I fixed it in Vite:

1. Install the latest version of util but change the name in package.json

[code]

2. Alias it

[code]

https://github.com/wobsoriano/nuxt-web3.js

[2022-06-09 01:08] gleisonkz commented on #5076
Thanks man, It works for me.

[2022-06-09 04:20] avkos opened #5117 "Default account is not implemented in .call method"
Methods to fix:
eth.call()
contract.methods?.someMethod().call();

after fixing uncomment tests here `packages/web3-eth/test/integration/defaults.test.ts`

#### Expected behavior
eth.call() should send request with `from = defaultAccount`
contract.methods?.someMethod().call(); should send request with `from = defaultAccount`

#### Actual behavior
eth.call() should send request with `from = undefin

[2022-06-09 04:50] avkos opened #5118 "Add new backend with no instant mining for tests"
Run all existing tests with instant mining existing config, and only tests which are dependent on block mining after some time should use geth auto-mine.

This qualifies using geth with auto-mining blocks after some time interval using
```--dev.period value                  Block period to use in developer mode```
https://geth.ethereum.org/docs/interface/command-line-options

[2022-06-09 17:48] vphilot commented on #1178
not stale

[2022-06-09 22:19] JayArrowz commented on #3723
Is this supported yet?

[2022-06-10 21:21] CarlosARendon commented on #3897
Use the function `ethers.utils.formatEther(userBalance)` to solve this problem

[2022-06-11 22:51] paulmillr opened #5122 "Upgrade ethereum-cryptography to 1.0"
You're using 0.2 in util. 1.0 should be used, because it consumes 5 dependencies instead of 38; and has massive security improvement.

Blog post: https://medium.com/nomic-foundation-blog/a-safer-smaller-and-faster-ethereum-cryptography-stack-5eeb47f62d79

[2022-06-12 00:24] haltman-at commented on #4597
Not stale!

[2022-06-12 20:37] cleverocheck commented on #4999
any updates? I want to write my own tests without using Truffle :(

[2022-06-13 12:16] nazarhussain commented on #5122
Already doing it in 4.x

[2022-06-13 12:24] nazarhussain opened #5125 "Improvements to make 4.x compatible with different projects"
While migrating [truffle](https://github.com/trufflesuite/truffle) came across a few changes which are required to make web3@4x compatible with a lot of projects our there.

Here is the the list of individual changes:

- [x] Need to change the TS target to ES2016 for broader compatibility
- [x] Need to export `formatters` as namespace from `web3-common` package.
- [x] `web3.eth.net` namespace is n

[2022-06-13 12:27] nazarhussain opened #5126 "Incompatible return types for 4.x implementations"
While migrating [truffle](https://github.com/trufflesuite/truffle) came across a few changes which are required to make web3@4x compatible with a lot of projects our there.

Here is the the list of individual changes:

1. [ ] `web3.eth.getTransaction` should always return transaction or throw. Should not have return type of `undefined`.
2. [ ] `web3.eth.getTransactionReceipt` should always return

[2022-06-13 12:31] nazarhussain opened #5127 "`web3.eth.net.getId` is not resolving"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The usage of `web3.eth.net.getId` inside [truffle](https://github.com/trufflesuite/truffle) is not resolving.

https://github.com/trufflesuite/truffle/blob/059f3eae37bf48b9732a112c5592d63e6516652f/packages/artifactor/test/contracts.js#L26

https://github.com/trufflesuite/truffle/blob/059f3eae

[2022-06-13 12:35] nazarhussain opened #5128 "Change default return type for integer values to BigInt"
### This is not a Bug Report, Feature Request, or related to Documentation

- [X] I have searched the existing issues

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

Based on the [discussion](https://github.com/ChainSafe/web3.js/discussions/5120). It seems to better to use the `BigInt` as the default return type for the web3.

### Examples/Refe

[2022-06-13 12:41] paulmillr commented on #5122
This line in branch 4.x says you're still using v0.2:

https://github.com/ChainSafe/web3.js/blob/059e6cd6100f67db3d337b91875c1fe44f1724fc/packages/web3-utils/package.json#L45

[2022-06-13 12:43] paulmillr commented on #5122
4.x web3-validator is also using the legacy version:

https://github.com/ChainSafe/web3.js/blob/059e6cd6100f67db3d337b91875c1fe44f1724fc/packages/web3-validator/package.json#L29

[2022-06-13 12:45] nazarhussain commented on #5099
1. Web3PromiEvent is moved to ‘web3-common’ package instead of `web3-core-promievent’
2. “formatters” are moved to ‘web3-common’ package instead of ‘web3-core-helpers’

[2022-06-13 13:13] ghost opened #5129 "Promise never resolves for contract revert returned from RPC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Related issues: https://www.google.com/search?q=web3.js+never+resolve+promise

#5127, #4891,

I think this is bad since it would block the IO operation forever for async functions that people code,

For my case I did `await web3.eth.estimateGas` that would return the reverted call from node,

[2022-06-13 14:56] nazarhussain commented on #5125
Related to remaining two points for the setting optional provider. It's causing a lot of change around different types. Once an object of any context is initialized, we expect that provider will also be initialized. So making it optional will introduce null assumptions on many places and would require refactoring quite a few types.

So I suggest to consider this a breaking change and request users

[2022-06-14 00:26] #4906 closed, assigned to nobody

[2022-06-14 07:43] nikoulai opened #5133 "Add missing functionality from main Web3 class"
### This is not a Bug Report, Feature Request, or related to Documentation

- [X] I have searched the existing issues

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

Add some missing features to web3 main class:

Missing features
- [x] web3.version
- [x] web3.utils not exported
- [x] web3.modules not exported
- [x] web3.extend not implemented

[2022-06-14 08:04] mpetrunic commented on #5125
Why not do the same thing as ethers and if not provided, init DefaultProvider (Infura/etherscan with hardcoded tokens https://github.com/ethers-io/ethers.js/blob/a71f518255/packages/providers/src.ts/infura-provider.ts#L17)?

Of course, you would need to print a warning to the console that this is not meant for production but it provides rapid way to prototype something locally without going to cre

[2022-06-14 09:05] nazarhussain commented on #5125
@mpetrunic I suspect people will ignore this warning and will ship their code to different environments. That will be a misuse of that Infura/Etherscan project.

**Pros:**
1. Use can initiate the object right away without to worry about provider
2. Easy and quick prototyping

**Cons:**
1. User will ignore any warning and can ship the code with our default provider
2. May provide false impressions

[2022-06-14 09:42] nikoulai commented on #5125
I would agree that the cons seem important and may confuse the end-users (mostly the newcomers to web3.js and ethereum).
`DEV_INFURA_URL` looks like a good solution.
As an alternative, we could create a new constructor, which, uses the infura, and is explicit about that. Like `new Web3.Web3WithDevProvider()`.

[2022-06-14 15:39] Spacesai1or commented on #5125
Given that the rewrite of Web3.js is supposed to target the incoming new ETH devs, I find it risky to get users comfortable with not providing their own provider. This is especially true when you consider that a provider is how users get their information from the blockchain and users should never be okay with trusting someone else's provider (technically even in prototyping too). Understanding We

[2022-06-14 15:47] #4880 closed, assigned to avkos, Spacesai1or

[2022-06-15 06:36] ghost commented on #5129
Could not reproduce this issue with fresh install so closing it.

[2022-06-15 06:36] #5129 closed, assigned to nobody

[2022-06-15 13:10] paulmillr commented on #5122
Note that 1.x uses bigints extensively, so it would play nice with #5128.

[2022-06-16 06:29] Ciao-2 opened #5138 "Error: Invalid JSON RPC response: """
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Error: Invalid JSON RPC response: ""

web3.eth.getTransactionReceipt(hash).then(req => {

}).catch(e => {
                Logger.error(e.message)
})

### Expected Behavior

web3.eth.getTransactionReceipt(hash).then(req => {

}).catch(e => {
                Logger.error(e.message)
})

### Step

[2022-06-16 08:58] Ciao-2 commented on #4793
Have you solved this problem? I also encountered the same mistake,And the question comes up randomly

[2022-06-16 11:44] jdevcs commented on #5122
@paulmillr Thanks for highlighting this. Could you go ahead and open 4.x PR?

[2022-06-16 12:46] paulmillr commented on #5122
@jdevcs not really. I've spent around 30 mins, but your build process a) takes forever to download all packages b) is filled with errors and doesn't allow me to build the package on my machine. Here's output of `build` in root directory:

[code]

So I would suggest to do it on your own. We've worked hard to ensure the upgrade process is as simple as possible — see [README](https://github.com/ether

[2022-06-16 17:28] jdevcs commented on #5105
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5105?planning-poker) with ZenHub @spacesailor24 @luu-alex @avkos @nikoulai

[2022-06-16 17:31] jdevcs commented on #5104
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5104?planning-poker) with ZenHub @avkos @luu-alex @nikoulai @spacesailor24

[2022-06-16 17:37] jdevcs commented on #5101
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5101?planning-poker) with ZenHub @avkos @luu-alex @nikoulai @spacesailor24

[2022-06-16 17:43] jdevcs commented on #5098
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Web3js-Community-Issues-Management-612fd4e133c88b001205e29a/issues/ChainSafe/web3.js/5098?planning-poker) with ZenHub @spacesailor24 @avkos @nikoulai @luu-alex

[2022-06-16 17:49] jdevcs commented on #4900
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/4900?planning-poker) with ZenHub @avkos @luu-alex @nikoulai @spacesailor24

[2022-06-16 17:57] #5073 closed, assigned to nobody

[2022-06-16 18:02] jdevcs commented on #5117
Check this with 1.x, if its adding default account for eth_call

[2022-06-16 18:18] #4892 closed, assigned to nikoulai

[2022-06-17 00:33] overdoignism opened #5141 "web3.eth.accounts.signTransaction VS EIP-1559"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to say about Web3.js' documentation?

When we read the document part for web3.eth.accounts.signTransaction,
There is only have gas and gas price, no max priority, no max fee.

May you update this part document for support EIP-1559?
Or it need to update the API library code?

Thanks.

### Ex

[2022-06-17 00:50] overdoignism commented on #5141
BTW, When I am using the maxFeePerGas and maxPriorityFeePerGas with gasPrice in web3.eth.accounts.signTransaction (undocumented way)

It will say and error: eip-1559 transactions don't support gasPrice

But if I remove gasPrice , it will execute web3.eth.gasPrice and make me can't sign offline.

Looks like a code problem?

[2022-06-17 09:34] nikoulai commented on #5141
Hi @overdoignism, thanks for reaching out.

EIP 1559 is supported by web3js, however, gasPrice shouldn't be passed in this case.
Could you provide an example of what you are trying to achieve?

Regarding the documentation, could you open a PR updating the docs? Our focus this period is the 4.x rewriting.

[2022-06-17 14:02] avkos opened #5144 "IPC Provider - Batch requests"
Make Batch requests work with the IPC provider.

Turn on Batch requests tests:
`packages/web3-eth/test/integration/eth.test.ts`
`packages/web3/test/integration/main_web3.test.ts`

#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. run geth locally  `yarn geth:start`. after that you will have ipc socket file here `tmp/ipc`
2. set env variable `export WEB3_SYSTEM_

[2022-06-18 15:01] overdoignism commented on #5141
I'm trying to use the web3js to make an offline sign,  for studying and a little offline wallet project.

Sorry for that--  I really don't know the relationship between max/priority fee and gas price.
There are too many theories on the Internet, and English is not my native language. :~
(Some said that if a wallet using gas price which is an old type and it will cost higher gas fee)

Sorry - I hav

[2022-06-19 23:43] AyoAlfonso commented on #4235
@TomiOhl is this issue still active

[2022-06-19 23:53] TomiOhl commented on #4235
Yes, it very much is.Haven't tried the one on the 4.x branch yet, but it isn't addressed in the latest 1.x release afaik

[2022-06-20 16:59] jdevcs commented on #5077
Fix tests in packages/web3-eth/test/integration/web3_eth/send_signed_transaction.test.ts

https://github.com/ChainSafe/web3.js/pull/5137#discussion_r901853796

[2022-06-20 16:59] avkos opened #5147 "Ipc few requests at the same time returns in one promise"
#### Expected behavior

#### Actual behavior
result in `packages/web3-providers-ipc/src/index.ts` returns all responses in one. and then JSON.parse error
[code]

#### Steps to reproduce the behavior
1. `yarn geth:start`
2. `export WEB3_SYSTEM_TEST_BACKEND=geth`
3. `export WEB3_SYSTEM_TEST_PROVIDER=$(pwd)/tmp/ipc`
2. run code:
[code]
3. each request should return their response

#### Logs

#### Env

[2022-06-20 17:08] jdevcs commented on #5071
@luu-alex with mentioned merged PRs this issue should be closed. Or is there any thing pending?

[2022-06-20 17:11] jdevcs commented on #5122
@mconnelly8 this update for next Sprint.

[2022-06-20 17:19] jdevcs commented on #5138
@Ciao-2 are you using reliable provider, may be check provider directly?
`curl --data '{"jsonrpc":"2.0","method": "eth_getTransactionReceipt", "params": ["YOUR_TX_HASH"], "id": 0}' -H "Content-Type: application/json" localhostOR_YOUR_PROVIDER:8545`

[2022-06-20 17:24] luu-alex commented on #5071
@jdevcs this investigation had 2 issues, 1. still needs investigation but 2. is done.

[2022-06-20 21:07] superMDguy commented on #3169
I'd still love for this to be a feature, there's no clean way to handle token balances with arbitrary decimals right now. Anyone know what it would take to get this working?

[2022-06-21 02:34] sturmenta opened #5148 "web3.utils.toHex wrong result"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when transform decimal to hex, show a different hex than previously ingresed

first hex
[code]

decimal result
[code]

result and different hex
[code]

### Expected Behavior

the starting way of resulting hex is different `ingresed -> 0x02` and `result -> 0x2`

### Steps to Reproduce

code

[

[2022-06-21 08:35] dsgriffin opened #5149 "Decoding Opensea Seaport Events (OrderFulfilled) causes Out Of Gas"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We're trying to monitor sales events directly and, in a similar way as we were for Wyvern/LooksRare etc, decode the event logs of a Seaport transaction.

Event signature:

[code]

ABI Method:

[code]

The new contract is using a couple of `Structs` for `offer` and `consideration`. How are we

[2022-06-21 11:32] #5068 closed, assigned to jdevcs

[2022-06-21 15:35] luu-alex commented on #5141
Hi @overdoignism  can you provide what options you are passing into signTransaction? this is the logic behind signTransaction https://github.com/ChainSafe/web3.js/blob/1.x/packages/web3-eth-accounts/src/index.js#L355
We will try to update the docs when we can 👍 thank you for reaching out

[2022-06-21 15:38] janeklb opened #5150 "AbstractProvider interface has incorrect signature(s)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The `callback` parameter of the `sendAsync` method (and maybe the `send` method too) returns a promise (not sure if this is always the case.. but it returns a promise _sometimes_). The implementation does _not_ have a `void` signature.

https://github.com/ChainSafe/web3.js/blob/0b890b70b97745

[2022-06-21 17:40] mconnelly8 commented on #5122
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5122?planning-poker) with ZenHub @jdevcs @nikoulai @luu-alex @nazarhussain

[2022-06-21 19:24] jacobtt21 opened #5152 "Error: Failed to check for transaction receipt"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Whenever I try and write to my Smart Contract, I continue to get this error. I have checked Google and Github, but nothing seems to give any sort of answer/solution. I have no idea how to correct this.

### Expected Behavior

I expected it to work, it was working on Thursday, but now it doesn

[2022-06-21 19:44] sturmenta commented on #5148
[code]

 [source](https://ethereum.stackexchange.com/questions/51272/difference-between-0x01-and-0x1-status-code)

[2022-06-21 19:49] sturmenta commented on #5148
`0x0b` is different to this `0xb` in etherscan

work https://etherscan.io/tx/0x0b8291d81ac84dbbde31cd54a934de594189702a98629df6b80d51653b567e06
doesn't https://etherscan.io/tx/0xb8291d81ac84dbbde31cd54a934de594189702a98629df6b80d51653b567e06

Is the `web3.utils.toHex` function considering these cases?

[2022-06-21 20:05] WizardsOrb opened #5153 "getTransactionReceipt: Number can only safely store up to 53 bits"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

[code]

### Expected Behavior

-

### Steps to Reproduce

[code]

gasPrice is 10mio GWEI.

representing `effectiveGasPrice` as string would solve the problem (currently typeof number)

https://blockscout.com/etc/mainnet/tx/0x84e8b73c5f9e5f1fdd6e3482022f3c65ceb92d95c4ea92075c04d1a22f6b3152

##

[2022-06-21 20:42] #5128 closed, assigned to nazarhussain

[2022-06-21 21:20] Vikash-8090-Yadav opened #5154 "Onlyowner restricted type function is acessible by all the accounts present in the wallet"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hii sir greeting's of the day .i am making an simple voting application in that i makes the smart contract and there i made a function declare_winner( ) which is restricted to use and called by the owner only but  whenver i call this function( ) it is.acessible by all the account avialable in

[2022-06-22 07:47] #4970 closed, assigned to nikoulai

[2022-06-22 08:04] nikoulai commented on #5152
Hey @jacobtt21 , thanks for reaching out!

Have you tried to use the listener for `receipt`?
[code]

[2022-06-22 08:16] nikoulai commented on #5148
Hi @sturmenta , thanks for reaching out to us.

`0x01` and `0x1` are the same if they are used as number values (they mean the same). However, `transactionsHash` is a string and is meant to have a specific length (0x + 64 [A-Fa-f0-9] chars).
On that, `web3.utils.toHex` works for values, is not specific to transaction hash, you will have to ensure on your part that you pass a valid txHash.

Why wou

[2022-06-22 09:11] nikoulai commented on #5154
Hi, thanks for reaching out.

Restriction for only owner should take place in the smart contract by using the modifier. This would revert the transaction for any other user trying to call it.

If you would like to hide the button for the rest of the users you could read the owner address of the smart contract and ensure it is the one injected from the wallet. However, you cannot restrict who is tr

[2022-06-22 09:11] #5154 closed, assigned to nobody

[2022-06-22 09:20] Vikash-8090-Yadav commented on #5154
Thanks for the very fast reply sir !!
The main probelm with my applicattion is that all the thing's which u guide above is up to date
The problem  is that it is not reverting idk why ?? but in plcae of reverting it is showing the result to the non owner address also

**Can u please provide me the link of your web3.js discord server ..!**

[2022-06-22 09:30] nikoulai commented on #5153
Hi @WizardsOrb , thanks for the issue.

We are into it.

[2022-06-22 10:15] overdoignism commented on #5141
It's my code:

	var transaction = {
		to: Reciver_Addr,
		value: TrueSendETH.toString(),
		gas: 21000,
		gasPrice: TrueSendGas.toString(),
		nonce: Sender_nonce,
		chainId: ChainID,
		maxFeePerGas: 50, // a casual value
		maxPriorityFeePerGas: 50,
	};

	var TR_SIGN_OBJ;
	var TR_SIGN;

	try {
		TR_SIGN_OBJ = await web3.eth.accounts.signTransaction(transaction, Private_Key);
		TR_SIGN = JSON.stringi

[2022-06-22 10:24] nikoulai commented on #5154
I guess it's not a problem with web3js. Could you provide some output?

To join the discord:
https://discord.gg/Hq9ttqqU

[2022-06-22 10:47] Vikash-8090-Yadav commented on #5154
Yes u can see this video in this i  first clicked int he button using the .call( ) method which is giving not correct ans . and if i am using the .send( ) in this is giving the correct output !!
As the function is the write only  so that i can't use the .send( ) ..
I hope u understand the question please provide the solution for this ..
U can also find my whole code on this :

https://github.com/V

[2022-06-22 11:02] dsgriffin commented on #1916
still not fixed in latest release

[2022-06-22 15:12] nazarhussain opened #5159 "Improve the rendering of the docs"
### This is not a Bug Report, Feature Request, or related to Documentation

- [X] I have searched the existing issues

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

While writing docs we found some issues:

1. The performance of loading the docs is a blocker. It could some time take minutes to load.
2. The `@link` modifier does not work across

[2022-06-22 15:24] #5125 closed, assigned to nazarhussain

[2022-06-22 16:41] NatPDeveloper commented on #5088
It seems the issue is having more than 10 concurrent event channels opened at a time.

After receiving the desired event or hitting a timeout you can use the following if using [ethers js](https://docs.ethers.io/v4/api-contract.html?highlight=removealllisteners#event-emitter).

[code]

I'll reopen if that's not the case, thanks.

[2022-06-22 16:41] #5088 closed, assigned to nobody

[2022-06-22 17:59] nazarhussain commented on #5076
Hey @FrankBevr I tried to reproduce the issue here is the code I used.

[code]

Here is the script.

[code]

It executed well with the `ts-node`:

[code]

Also works fine with the nodejs.

[code]

You can try out with the above given scripts. It seems the issue is with your typescript setup somehow. I am closing this issue for now, if you still face the issue please create a Github repo which have

[2022-06-22 17:59] #5076 closed, assigned to nobody

[2022-06-22 18:10] nazarhussain commented on #5084
@tungmaimt That seems a bug. Can you share some reproducible code that we can execute to verify it. Or some sample value you used for the above script.

[2022-06-22 18:32] nazarhussain commented on #5141
@overdoignism Yes documentation needs to be updated. Would like to contribute and open PR for that change?

[2022-06-22 18:37] nazarhussain commented on #5149
@dsgriffin That seems needed further investigation. Can you share some reproducible code or valid binary data that you used in the `decodeLog` which caused this error.

[2022-06-22 18:43] nazarhussain commented on #5152
@jacobtt21 What's the error you are getting? And also share a reproducible code that we can use to investigate.

[2022-06-22 18:48] jacobtt21 commented on #5152
Turns out this was a problem with my RPC provider, I switched to Infura and it works now!

[2022-06-22 18:48] #5152 closed, assigned to nobody

[2022-06-22 20:31] cameronprestera commented on #3411
@ilyador I am actually trying to implement this exact thing, when I give a callback function with the batch request add, I am getting undefined for the callback for some strange reason. Would you mine sharing how you were able to get each block from multiple batch requests?

[2022-06-23 00:37] overdoignism commented on #5141
I hope but have no idea how to... :~

I still studying about Ethereum, web3js, even the JavaScript and GitHub, on the basic stage.
Sorry for that...

[2022-06-23 02:33] sturmenta commented on #5148
hi @nikoulai , thanks for the response

trying to convert a privateKey to a mnemonic with https://github.com/mbrubeck/mnemonic.js

[2022-06-23 02:33] #5148 closed, assigned to nobody

[2022-06-23 06:51] pajacobjean commented on #4659
Failed to compile.

Error in ./src/index.js
Module not found: 'react/client' in D:\j23\moz-todo-react\src

 @ ./src/index.js 14:14-37

[2022-06-23 06:58] pajacobjean commented on #4659
Failed to compile.

Error in ./src/index.js
Module not found: 'react/client' in D:\j23\moz-todo-react\src

 @ ./src/index.js 16:14-37

[2022-06-23 08:10] nikoulai commented on #5141
This [PR](https://github.com/ChainSafe/web3.js/pull/5121#event-6859009196) addresses documentation

[2022-06-23 09:02] d10r opened #5161 "Uncaught TypeError when using web3.eth.accounts.signTransaction()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I want to sign a transaction, but get an error:
[code]

### Expected Behavior

Expected outcome: a signed tx

### Steps to Reproduce

Happens using truffle 5.5.18 (latest) which bundles web3.js v1.5.3

### Web3.js Version

1.5.3

### Environment

- Operating System: Ubuntu 20.04
- Node.js Ver

[2022-06-23 09:15] #5159 closed, assigned to nazarhussain

[2022-06-23 14:59] #5047 closed, assigned to nobody

[2022-06-24 10:51] dsgriffin commented on #5149
@nazarhussain is there no `processReceipt` equivalent in web3.js that web3.py has? I believe that automatically parses logs without having to try and decode like this.

example of it causing the error:

[code]

[code]

[2022-06-24 16:34] mfnatiq opened #5163 "How to get balance at block number?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

How to get ERC20 token balance at a particular block number?

[code]

### Expected Behavior

Expected to see the correct balance:

### Steps to Reproduce

Working:
[code]

Not working:
[code]

### Web3.js Version

1.7.3

### Environment

- Operating System: Windows 10
- Browser: Chrome
- Node

[2022-06-24 19:47] WizardsOrb commented on #5163
[code]

[2022-06-25 01:32] mfnatiq commented on #5163
hi @WizardsOrb thanks for your reply, but i get the same error as my OP

[2022-06-25 12:23] giuseppeg commented on #2683
I am using this snippet:

[code]

But fails with

[code]

This is regardless of whether I use `resolver.methods["name(bytes32)"](lookup)` or `resolver.methods.name(lookup)`.

Does anybody have any idea of what is going on?

[2022-06-26 00:28] #4923 closed, assigned to nobody

[2022-06-26 03:59] SaulMoonves commented on #5138
This is happening to me as well on 1.7.4. I can do the curl request and it works fine but i get the error above when i try it from web3.js. This is tested on a production server where another application on web3.js 0.xx is working perfectly so it is definitely not the server or the connectivity.

 I added some logging statements to "web3-providers-http" and I have tracked down the problem. The xml

[2022-06-27 11:47] nikoulai opened #5166 "`eth.getAccounts` doesn't return checksum addressed"
### Is there an existing issue for this?

First mentioned here: https://github.com/ChainSafe/web3.js/pull/5136#discussion_r904756710

- [X] I have searched the existing issues

### Current Behavior

addresses are not returned as checksum:
[code]

### Expected Behavior

should return:

[
  '0xF4FfFF492596ac13fee6126846350433bF9a5021',
  '0xdc6BAD79dAb7EA733098f66F6C6F9dd008Da3258'
]

### Steps to R

[2022-06-27 12:07] nazarhussain opened #5167 "Web3-Common and Web3-Core Documentation - Defaults"
A lot of behavior and properties are inherited from the `Web3Context` and few others to the `contracts`, `eth` and `web3` package.

We need to document all default configuration and properties from `web3-common` and `web3-core` packages. These docs must cover

[2022-06-27 15:14] nikoulai opened #5168 "`eth.getFeeHistory` doesn't return all values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

returns
[code]

### Expected Behavior

1.x returns
[code]

### Steps to Reproduce

await web3Eth.getFeeHistory("0x1", "latest", []);

### Web3.js Version

4.x

### Environment

_No response_

### Anything Else?

_No response_

[2022-06-27 15:59] nazarhussain opened #5169 "web3.accounts.wallet is not accessible with array index"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Following always return undefined.

[code]

### Expected Behavior

It should return a wallet object instead. This is a commonly used approach to access the wallet, so we should avoid introducing a breaking change.

### Steps to Reproduce

[code]

### Web3.js Version

4.x

### Environment

_No

[2022-06-27 16:02] nazarhussain opened #5170 "wallet.signTransaction fail with error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Signing a transaction with wallet object is resulting into following error.

[code]

### Expected Behavior

It should sign the transaction without any issue.

### Steps to Reproduce

[code]

### Web3.js Version

4.x

### Environment

_No response_

### Anything Else?

_No response_

[2022-06-27 16:10] nazarhussain opened #5171 "PromiEvent does not follow the event chaining."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently the `PromiEvent` first subscription to the event returns the `undefined`.

### Expected Behavior

It should return the `PromiEvent` object to allow the event chaining.

### Steps to Reproduce

[code]

### Web3.js Version

4.x

### Environment

_No response_

### Anything Else?

_No

[2022-06-27 17:54] mconnelly8 opened #5172 "Update got lib version"
https://github.com/advisories/GHSA-pfrx-2q88-qq97

- [x] Need to bump `got` in `web3-bzz` to version `11.8.6` or greater.

- [x] Fix other libs using npm audit fix

[2022-06-27 18:03] mconnelly8 opened #5173 "Ropsten 1.x testing"

[2022-06-27 18:04] mconnelly8 opened #5174 "Ropsten 4.x testing"

[2022-06-28 12:02] #5141 closed, assigned to nobody

[2022-06-28 13:54] #4972 closed, assigned to nazarhussain

[2022-06-28 13:55] jdevcs opened #5180 "0x2 Transaction params support in Contracts Options"
0x2 transaction params support in Contracts Options https://github.com/ChainSafe/web3.js/blob/97e87ea4d8b33d3be259128bb368349d0512087b/packages/web3-eth-contract/src/types.ts#L48 .

[2022-06-28 15:09] mconnelly8 commented on #5112
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5112?planning-poker) with ZenHub @nazarhussain @jdevcs @luu-alex @avkos

[2022-06-28 15:14] mconnelly8 commented on #5087
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5087?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nazarhussain

[2022-06-28 15:23] mconnelly8 commented on #5069
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5069?planning-poker) with ZenHub @jdevcs @nazarhussain @luu-alex @avkos @nikoulai

[2022-06-28 15:31] mconnelly8 commented on #5167
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5167?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nazarhussain @nikoulai

[2022-06-28 15:33] jdevcs commented on #5167
defaultAccount, defaultBlock, defaultHardFork, defaultCommon, transactionBlockTimeout, transactionConfirmationBlocks, transactionPoolingInteval, transactionREceiptPollingInterval, blockHeaderTimeout, handleRevert

[2022-06-28 15:39] yiyusong commented on #1178
not stale

[2022-06-28 15:39] mconnelly8 commented on #5126
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5126?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nazarhussain @nikoulai

[2022-06-28 15:45] mconnelly8 commented on #5166
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5166?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nazarhussain @nikoulai

[2022-06-28 15:54] mconnelly8 commented on #5109
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5109?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nazarhussain @nikoulai

[2022-06-28 17:33] mconnelly8 opened #5183 "Web3-Types and Web3-Core Documentation - Methods"
A lot of behavior and properties are inherited from the `Web3Context` and few others to the `contracts`, `eth` and `web3` package.

We need to document those behavior and properties from `web3-types` and `web3-core` packages. These docs must cover:

1. Request related methods from `RequestManager`
2. Subscription related methods from `SubscriptionManager`

[2022-06-28 22:28] layonthebeech commented on #5163
I am having the same issue but getting this response (i'm also using the bsc RPC)

var err = new Error('Returned error: ' + message);
Error: Returned error: header not found

https://github.com/ChainSafe/web3.js/issues/1262

no longer seems relevant or working

[2022-06-29 09:02] #5169 closed, assigned to nazarhussain

[2022-06-29 09:02] #5171 closed, assigned to nazarhussain

[2022-06-29 11:18] janeklb commented on #4580
Hi @nazarhussain
Can we expect a fix / workaround for the 1.x releases?

[2022-06-29 14:52] avkos opened #5185 "Setup Github workflow for IPC provider"
Change workflow to:
- run HTTP and WS providers to run on docker geth
- run IPC on geth binary file

[2022-06-30 15:53] #4896 closed, assigned to avkos

[2022-06-30 16:19] luu-alex opened #5186 "Create 4.x PR template"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

Create the template for 4.x when submitting a PR review

### Use Cases

Gives us the neccesary checks that a user should do before submitting a pr for 4.x

### Implementation Ideas

_No response_

### Feature Examples/References

_No response_

### Are you willing to implement this feature?

-

[2022-06-30 16:22] luu-alex opened #5187 "Audit web3-eth-accounts package for 4.x"
Our [4.x](https://github.com/ChainSafe/web3.js/tree/4.x) package is going to be in alpha soon and should be audited for security purposes as it deals with sensitive information. Should be audited by internal/external teams

[2022-06-30 16:29] luu-alex opened #5188 "Update Wallet.encrypt function signature - 4.x"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

4.x [Wallet encrypt](https://github.com/ChainSafe/web3.js/pull/5164/files#diff-eb74ad4a6da9b86debef3794235c12e70ccdcdc4aed9ec77b7ccf70b2fef10fcR273) returns a string instead of an object, which is a breaking feature from 1.x.

### Expected Behavior

Should be an object like 1.x

### Steps to

[2022-06-30 16:33] #4969 closed, assigned to luu-alex

[2022-06-30 16:54] nazarhussain opened #5189 "4.x compatibility issues with 1.x"
Found some compatibility issues for 4.x those needs to be addressed to further investigate the breaking changes.

- [x] Contract constructor does not support swapping parameters. a.k.a. As second parameter you can only pass the address, but in 1.x you can either pass address or contract options.
- [x] In 1.x the `contract.deploy` works with the ABI without any `constructor` definition and assumes

[2022-07-01 03:56] gloomydumber opened #5191 "what is difference between web3.eth.sendTransaction and web3.eth.personal.sendTransaction on Web3.js"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### What would you like to say about Web3.js' documentation?

I found there are two `sendTransaction` methods on `web3.js (v1.7.4)`.

First one is `web3.eth.sendTransaction`. (https://web3js.readthedocs.io/en/v1.7.4/web3-eth.html#sendtransaction)

The other one is `web3.eth.personal.sendTransaction`. (https://web3

[2022-07-01 09:44] nikoulai commented on #5191
Hey @gloomydumber, thanks for your message.

There are two different questions in your message.

First, regarding `personal` sendTransaction. Taken from the documentation:

`The web3-eth-personal package allows you to interact with the Ethereum node’s accounts.` So using this sendTransaction you are trying to execute the transaction using one of the accounts in the node.

Regarding the second part

[2022-07-01 09:47] gloomydumber commented on #5191
@nikoulai wow, thank you for your perfect answer 👍

[2022-07-01 09:50] #5191 closed, assigned to nobody

[2022-07-01 10:26] nazarhussain commented on #4655
According to the workload we will plan this in some future sprints. FYI @jdevcs

[2022-07-01 14:59] #5170 closed, assigned to nazarhussain

[2022-07-04 00:27] #4954 closed, assigned to nobody

[2022-07-04 01:30] haltman-at commented on #4976
Not stale.

[2022-07-04 10:34] nazarhussain opened #5196 "Web3 default import does not work with commonjs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

### Expected Behavior

It should work fine.

### Steps to Reproduce

[code]

### Web3.js Version

4.x

### Environment

_No response_

### Anything Else?

Replacing `export default` with `export =` can fix this issue but it's not possible when exporting multiple items from the module which we

[2022-07-04 10:49] #5153 closed, assigned to nikoulai

[2022-07-04 13:41] #4871 closed, assigned to nobody

[2022-07-04 13:53] jdevcs opened #5199 "Block tags for merge support"
- [x] Add following additional block tags:
  `finalized`  :  A finalized block is one which has been accepted as canonical by >2/3 of validators.
  `safe` : A safe head block is one which, under normal network conditions, we expect to be included in the canonical chain.

- [x] Update documentation
- [x] Add tests

[2022-07-04 15:04] jdevcs commented on #5173
Post merge ommers, ommersHash, difficulty and nonce will be set to 0, and these will not be removed.  https://eips.ethereum.org/EIPS/eip-3675#block-structure

- ommers:	[]

- ommersHash:	0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347

- difficulty:	0

- nonce:	0x0000000000000000

- mixHash: 0x0000000000000000000000000000000000000000000000000000000000000000

proof of stake does

[2022-07-04 15:14] jdevcs opened #5200 "submit work doc"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to say about Web3.js' documentation?

Example for submit work has error, its not array: https://web3js.readthedocs.io/en/v1.7.4/web3-eth.html#id114

Using array as its param : `Error: Invalid number of parameters for "submitWork". Got 1 expected 3!`

### Examples/References

_No response_

[2022-07-04 15:16] jdevcs commented on #5173
Tested 1.x Eth package on infura ropsten geth node (Geth/v1.10.18-omnibus-dcc34350) , and some observations  :

`web3.eth.getUncle("latest", 0).then(console.log);`
//will return null

[code]
//will always be 0

`web3.eth.getWork().then(console.log);`
//Error: Returned error: no mining work available yet

[2022-07-04 15:21] jdevcs commented on #5173
This Ropsten node was not accepting `safe` tag.

[code]

[2022-07-04 15:25] jdevcs commented on #5173
This Ropsten node was  supporting `finalized`

[code]

but web3.js error:

[code]

[2022-07-04 15:26] jdevcs commented on #5173
https://github.com/ethereum/execution-apis/blob/773ffd230ae5cd037e32415855cf8d4f1e729b2d/src/schemas/block.yaml#L92

[2022-07-04 15:26] jdevcs commented on #5173
https://github.com/ethereum/execution-apis/blob/773ffd230ae5cd037e32415855cf8d4f1e729b2d/src/schemas/block.yaml#L92

[2022-07-04 15:27] jdevcs commented on #5174
Findings https://github.com/ChainSafe/web3.js/issues/5173

[2022-07-04 15:28] #5172 closed, assigned to jdevcs

[2022-07-05 07:56] ghost commented on #3425
Note that this issue has been addressed by the recent PR #5179 to replace the broken xhr2-cookies for the modern [fetch](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API) API.

[2022-07-05 07:56] ghost commented on #3370
Note that this issue has been addressed by the recent PR #5179 to replace the broken xhr2-cookies for the modern [fetch](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API) API.

[2022-07-05 07:56] ghost commented on #1431
Note that this issue has been addressed by the recent PR #5179 to replace the broken xhr2-cookies for the modern [fetch](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API) API.

[2022-07-05 10:34] nazarhussain opened #5201 "Contract events does not support `fromBlock` property"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Following two code snippets behaves exactly the same:

[code]

[code]

### Expected Behavior

If one subscribe for the events with `fromBlock` it should get the past logs with `getPastEvents` and emit those.

[code]

### Steps to Reproduce

Following snippet should emit the two events which w

[2022-07-05 10:35] Anassabguerbeh commented on #5201
Hey

[2022-07-05 11:10] nazarhussain opened #5203 "Subscription object should be returned without await"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently the user have to use `await` to fetch the subscription object before listening to it.

[code]

### Expected Behavior

Logically this can be avoid that will make it consistent with the `1.x`. We can throw `error` event if it fails to subscribe.

[code]

or

[code]

### Steps to Repro

[2022-07-05 11:16] #5049 closed, assigned to nobody

[2022-07-05 11:50] #5166 closed, assigned to nobody

[2022-07-05 11:50] #5105 closed, assigned to nikoulai

[2022-07-05 12:40] #5150 closed, assigned to nobody

[2022-07-05 13:03] nazarhussain opened #5207 "Types for the overloaded ABI functions are not supported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If we have a contract with overloaded methods, the types does not support those.

[code]

### Expected Behavior

The type should detect and throw error on compile time, if user pass different number of arguments for overloaded functions.

### Steps to Reproduce

[code]

### Web3.js Version

4

[2022-07-05 13:10] nazarhussain opened #5208 "Event logs does not support types for indexed properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently if we access the event properties via, property name it detects valid type.

[code]

### Expected Behavior

It should detect the type for indexed properties as well.

### Steps to Reproduce

Explained above.

### Web3.js Version

4.x

### Environment

- Operating System:
- Browser:

[2022-07-05 16:28] #5189 closed, assigned to nazarhussain

[2022-07-05 17:33] AF2B commented on #5076
Works for me! Thank you so much.

[2022-07-05 18:52] Spacesai1or commented on #5168
[This](https://github.com/ChainSafe/web3.js/blob/9d4ba98da3272a352992f10dd9a933baa2c6796f/packages/web3-eth/src/schemas.ts#L393) schema probably just need to have `gasUsedRatio` added to it

[2022-07-06 00:28] #4684 closed, assigned to nobody

[2022-07-06 04:43] ashwinYardi commented on #5089
If my understanding is correct,  regex used in `isAddress` also passes 40 digit Bignumbers as address. We can mitigate this by adding additional check in `isAddress` as follows:
`value.substring(0, 2) === '0x' || value.substring(0, 2) === '0X' `
@NickKelly1 @luu-alex

[2022-07-06 06:29] soohanpark commented on #1102
Hi, There ✋

This is already closed, but I think I found a solution in official docs.

Increase `transactonBlockTimeout` like an example in below link.
[https://web3js.readthedocs.io/en/v1.7.4/web3-eth.html#transactionblocktimeout](https://web3js.readthedocs.io/en/v1.7.4/web3-eth.html#transactionblocktimeout)

(++ Also, maybe I guess we should increase `transactionPollingTimeout`, too.)
[https://w

[2022-07-06 09:22] ashwinYardi commented on #5089
@NickKelly1 You can also use `utils.numberToHex()`. It works correctly.

[2022-07-06 19:24] jdevcs commented on #4819
This issue was fixed in https://github.com/ChainSafe/web3.js/pull/5157#pullrequestreview-1023233829

[2022-07-06 23:34] DaniloPa8 opened #5215 "Handle revert enabled, error : web3.eth.handleRevert = true gives error - reason: 'invalid arrayify value', code: 'INVALID_ARGUMENT', argument: 'value'"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `web3-core-method@1.7.4` for the project I'm working on.

After seting the **{handleRevert: true}** option on a **Contract** object, i started reciving the following error that has already been reported here before but was closed without a solution (https://github.

[2022-07-07 08:55] #5101 closed, assigned to avkos

[2022-07-07 12:03] #5126 closed, assigned to nikoulai

[2022-07-07 15:09] rafaelmrdyn commented on #948
actually you should check your data if there is not undefined

[2022-07-07 16:02] #5122 closed, assigned to nazarhussain

[2022-07-07 18:14] dhavalsoni2001 commented on #3723
@GregTheGreek Should it be reopened ? As it seems it's not supported yet.

[2022-07-08 00:28] ghost opened #5222 "Support BatchRequest for getPastEvents"
### Is there an existing issue for this? No.

- [X] I have searched the existing issues

### Feature Request

It would be great if BatchRequest supports getPastEvents ( eth_getLogs ), so that it would reduce calls for fetching events which would fulfill getting event logs from public nodes with rate limits.

### Use Cases

Many public nodes have rate limits as well as limits for block length for a

[2022-07-08 12:28] LukeSamkharadze commented on #3793
@fintechee are you sure you were calling contract on correct chain?

I just had that problem and the issue was that I was using wrong chain

[2022-07-08 16:01] fintechee commented on #3793
@LukeSamkharadze
Yes, I was calling the correct chain(testnet).

[2022-07-08 18:11] lykhonis opened #5224 "getFeeHistory fails to encode reward percentiles"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I call hardhat local network (but the call does not hit RCP endpoint):
[code]

Fails with:
[code]

### Expected Behavior

getFeeHistory should return `blocks` containing `baseFeePerGas` and `reward` arrays of values.

### Steps to Reproduce

[code]

### Web3.js Version

1.7.4

### Environment

[2022-07-10 09:56] namelessperson0 commented on #2915
Change the below
[code]
to the below
[code]
`web3js.eth.accounts.signTransaction` will take the burden of including the correct chainId and nonce .
Reference: https://github.com/ChainSafe/web3.js/issues/3305

[2022-07-10 09:57] namelessperson0 commented on #1040
Change the below
[code]
to the below
[code]
`web3js.eth.accounts.signTransaction` will take the burden of including the correct chainId and nonce.

Reference: https://github.com/ChainSafe/web3.js/issues/3305
Tagging @drgorb @robert-zaremba @lukehedger since you are facing the issue.

[2022-07-10 11:24] namelessperson0 commented on #566
Change the below
[code]
to the below
[code]
`web3js.eth.accounts.signTransaction` will take the burden of including the correct chainId and nonce .

[2022-07-11 11:11] #5127 closed, assigned to avkos

[2022-07-11 11:43] jdevcs commented on #5224
Tested 1.7.4 and this bug is not reproducible :

` web3.eth.getFeeHistory(1, 'latest', [50]).then(console.log);`

 results:

`{
  baseFeePerGas: [ '0x7', '0x7', '0x7', '0x7', '0x7' ],
  gasUsedRatio: [
    0.03449083333333333,
    0.0033333333333333335,
    0.2802569,
    0.054526733333333334
  ],
  oldestBlock: '0xbfd1ad',
  reward: [
    [ '0x58e2d6ae', '0x58e2d6ae', '0x9502f8f9' ],
    [ '0x58e

[2022-07-11 11:52] jdevcs commented on #5215
@DaniloPa8 Thanks for posting this, One of our team member will be looking this, currently our team is focused on web3.js 4.x.

[2022-07-11 14:09] #5167 closed, assigned to nikoulai

[2022-07-11 14:35] jdevcs commented on #5222
@ayanamidev Thanks for this issue, Currently we are focused on 4.x alpha release and our team can look this for beta.

[2022-07-11 17:32] luu-alex commented on #5106
There are no breaking changes for IBAN, will be closing

[2022-07-11 17:32] #5106 closed, assigned to luu-alex

[2022-07-11 23:36] ffmcgee725 commented on #1178
Is there really no way to reduce the load this takes on a bundled app ?
I'm trying to optimize a Next.JS app bundle size, this package takes up more than 40% space in final build, I even try to defer loading with dynamic imports whenever I need to use library but to no avail, when I'm analysing bundle through next bundle analyser, web3 packages are there from the get-go.

Is there no way to defer

[2022-07-12 00:02] lykhonis commented on #5224
Is this RPC endpoint related? I am trying again, but still same problem:
[code]

[2022-07-12 01:59] lykhonis commented on #5224
Looks like some sort of environment setup. I have other project, it works fine.

[2022-07-12 02:07] #5224 closed, assigned to nobody

[2022-07-12 08:37] hurtonypeter commented on #1178
I think analyzers are watching "the whole picture", so that could be the reason you can see it, but this is really an analyzer issue. Same with deferring package loading, that should be solved by next/your app.

The issue with the lib is its non-treeshakeable nature. It should be rewritten using ES6 modules.

[2022-07-12 14:55] nikoulai opened #5231 "Document provider options migration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to say about Web3.js' documentation?

There are differences in the options passed to providers. We should document these in a migration guide.

### Examples/References

For `HttpProvider`:
In 1.x:
[code]

in 4.x:
[code]

[2022-07-12 14:56] nazarhussain opened #5232 "`TransactionReceipt` do not have the `gasPrice` attribute"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently the `TransactionReceipt` does not have the `gasPrice` attribute.

### Expected Behavior

It's used in different projects.

https://github.com/trufflesuite/truffle/blob/e6004bda9f09e1c9a5870050a40a783da0707788/packages/interface-adapter/lib/adapter/web3/index.ts#L79

### Steps to Rep

[2022-07-12 20:25] mconnelly8 opened #5233 "get_price plugin"
**Scope of Work:** Add “Get Price” method to web3.eth API for pulling Chainlink prices

**Tasks:**
Add web3.eth.get_price method to web3.eth API for pulling chainlink prices (name just a placeholder, Chainsafe’s discretion to select)
Update the documentation, test, and code comments as necessary

**Deliverable:**
Using the API, developers will be able to get price feed data by using the existing p

[2022-07-13 05:59] ghost commented on #5233
@mconnelly8 Why not add an API method to get 1inch's [spot price aggregator](https://github.com/1inch/spot-price-aggregator) contract as well? I have something similar here https://github.com/ayanamitech/1inch-spot-price-sdk.

[2022-07-13 06:36] ghost opened #5235 "Timeout option being ignored for HttpProvider"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Timeout option was being ignored due to the missing AbortSignal inside options object.

### Expected Behavior

Timeout option shouldn't be ignored and thus timeout for delayed requests should be canceled correctly by the demand of the user.

### Steps to Reproduce

[code]

### Web3.js Version

[2022-07-13 06:44] ghost opened #5236 "Incorrect handling of non-json response from the remote node for HttpProvider"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Console would warn for unhandled promise rejection when non-json response is received from the remote node, which is a bug.

### Expected Behavior

HttpProvider should throw an `Invalid JSON RPC response` error for non-json response ( Which is usually an error string from the loadbalancer )

[2022-07-13 15:14] #5102 closed, assigned to avkos

[2022-07-13 16:00] jdevcs opened #5241 "ESM and CJS builds"
We should have support of `ESM` builds along with `CJS` in future 4.x ( beta TBD).
Currently we have `CJS` build in 4.x and should be offering separate `ESM` and `CJS` builds.

[2022-07-13 16:28] #5107 closed, assigned to nazarhussain

[2022-07-13 17:01] #5104 closed, assigned to luu-alex

[2022-07-13 17:13] #5173 closed, assigned to jdevcs

[2022-07-13 18:00] mconnelly8 commented on #5038
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5038?planning-poker) with ZenHub @jdevcs @luu-alex @nazarhussain @nikoulai @avkos @Muhammad-Altabba

[2022-07-13 18:06] mconnelly8 commented on #5040
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5040?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @Muhammad-Altabba @nazarhussain @nikoulai

[2022-07-13 18:07] mconnelly8 commented on #5040
System testing isn't needed

[2022-07-13 18:07] #5040 closed, assigned to nobody

[2022-07-13 18:09] mconnelly8 commented on #5039
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5039?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @Muhammad-Altabba @nazarhussain @nikoulai

[2022-07-13 18:16] mconnelly8 commented on #5041
Tests aren't needed, can close

[2022-07-13 18:16] #5041 closed, assigned to nobody

[2022-07-14 06:34] #5100 closed, assigned to nikoulai

[2022-07-14 08:23] avkos opened #5242 "Web3.eth.subscribe syncing test"
Before start check [this PR](https://github.com/ChainSafe/web3.js/pull/5005)

System tests for:

## Web3.eth.subscribe

- [x] subscribe(“syncing”)

#### Min Platform Requirements for 4.x Alpha:
- Node: v14, v16
- Browsers: Firefox, Brave
- Eth Clients: Geth, Ganache

More details are in [Epic](https://github.com/ChainSafe/web3.js/issues/4711)

related to [#4990](https://app.zenhub.com/workspaces/w

[2022-07-14 08:47] nazarhussain opened #5243 "Improve the code maintainability by reducing the packages"
### This is not a Bug Report, Feature Request, or related to Documentation

- [X] I have searched the existing issues

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

Based on the [discussion](https://github.com/ChainSafe/web3.js/discussions/5223) we need to merge the `web3-common` package into the `web3-core` package. The details and reasoning

[2022-07-14 09:50] nazarhussain commented on #5243
Because of the circular dependencies of providers over `web3-core` we can't merge the `web3-common` into `web3-core`;

https://github.com/ChainSafe/web3.js/blob/f0bb9c52d4b48cfa17bbcd893783ca5b678cc919/packages/web3-core/src/web3_request_manager.ts#L36-L38

And `web3-eth-iban` dependency on the `web3-cmmon` don't allow to merge the `formatters` into the `web3-core`;

https://github.com/ChainSafe/w

[2022-07-14 11:10] nazarhussain commented on #5196
We need to make sure that following scripts work fine.

[code]

[code]

[code]

[code]

[code]

[code]

[2022-07-14 11:47] arthur-lbchn commented on #4793
I have exactly the same issue with geth, it randomly caused:

Error: Invalid JSON RPC response: ""
    at Object.InvalidResponse (/worker/node_modules/web3-core-helpers/lib/errors.js:43:16)
    at XMLHttpRequest.request.onreadystatechange (/worker/node_modules/web3-providers-http/lib/index.js:95:32)
    at XMLHttpRequestEventTarget.dispatchEvent (/worker/node_modules/xhr2-cookies/dist/xml-http-req

[2022-07-14 12:22] jdevcs opened #5244 "Migration Guide Changes"
- [x] Migration Guide sidebar labels
- [x] Migration Guide sidebar positions of packages
- [x] Migration guides Title fixes
- [x] Remove un used pages
- [x] Eth Contracts migration guide / breaking changes

[2022-07-14 14:08] #5203 closed, assigned to nikoulai

[2022-07-14 14:10] #5231 closed, assigned to nikoulai

[2022-07-14 14:29] jdevcs opened #5246 "4.x RC Testing Infrastructure"
### Description

This issue has requirements for **4.x beta tests infrastructure setup**.

- [ ] https://github.com/ChainSafe/web3.js/issues/5290
- [ ] https://github.com/ChainSafe/web3.js/issues/5291
- [ ] https://github.com/ChainSafe/web3.js/issues/5292

[2022-07-14 14:33] jdevcs opened #5247 "4.x Additional QA Tests - 4.0.0 RC"
- [ ] Stress Tests
- [ ] Performance tests / benchmarks
- [ ] UAT ( Manual comparing with 1.x, Some part of it is being done during writing migration guide )
- [ ] Security Testing ( Auditing Wallet / Accounts Package )

[2022-07-14 14:40] nazarhussain commented on #5196
It turns out that we actually can't do that in Typescript.

https://github.com/microsoft/TypeScript/issues/2719#issuecomment-123960556

[2022-07-14 14:52] jdevcs opened #5248 "web3 tree shaking support and document"
[ts-loader](https://github.com/ChainSafe/web3.js/blob/25bcd32e625a021ade8a415407749ada2915d8b8/webpack.base.config.js#L41) uses tsc, the TypeScript compiler, and relies on your tsconfig.json configuration.

If `module` is set to "[CommonJS](https://github.com/ChainSafe/web3.js/blob/25bcd32e625a021ade8a415407749ada2915d8b8/tsconfig.json#L6)", webpack won't be able to tree-shake code.

[2022-07-14 14:59] jdevcs opened #5249 "Webpack - types definition bundle for web3.min.js web build"
Create type definition bundle for web3.js web build ( via webpack ),
its for supporting other projects that use our lib and will have type intellisense with it

[2022-07-14 17:05] #5108 closed, assigned to luu-alex

[2022-07-14 23:58] aymantaybi commented on #4655
While waiting for the issue to be resolved, here’s a workaround :

[code]

[2022-07-15 00:31] aymantaybi commented on #3411
For anyone wondering how to make the batch.execute asynchronous and get an Array of responses instead of calling requests callbacks individually, here's a function :

    const Jsonrpc = require('web3-core-requestmanager/src/jsonrpc');

    var { errors } = require('web3-core-helpers');

    function executeAsync(batch) {

        return new Promise((resolve, reject) => {

            var requests

[2022-07-15 10:20] d10r commented on #5161
issue has disappeared after an update to truffle v5.5.20 with web3.js v1.7.4

[2022-07-15 10:20] #5161 closed, assigned to nobody

[2022-07-15 18:28] jdevcs opened #5253 "1.x Libs Update to include in 1.7.5-RC"
1.x Libs Update to include in 1.7.5-RC
- including `parse-url` lib

[2022-07-15 19:13] #5253 closed, assigned to nobody

[2022-07-16 02:18] Stazyu commented on #5076
Thanks.. Work for Me!

[2022-07-16 04:08] zhawasolutions commented on #2077
just add toFixed() function.
for example :
[code]

[2022-07-16 12:49] CaledoniaProject opened #5257 "web3.utils.toBN vs new web3.utils.BN"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What would you like to say about Web3.js' documentation?

From [the document][1] toBN is safer than new BN. However, given the same hex hash string, it results in something different:

[code]

Now I'm wondering which one should I use for hex string?

**PS**

For non-hex string, it creates the same value:

[cod

[2022-07-16 15:59] #5149 closed, assigned to nobody

[2022-07-16 21:09] mbledkowski opened #5259 "TypeError: Cannot read properties of undefined (reading 'givenProvider') when using import"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When importing using `import Web3 from "web3";` Web3 is undefined

### Expected Behavior

Web3 should be imported

### Steps to Reproduce

[code]

### Web3.js Version

1.7.4

### Environment

- Operating System: Arch Linux
- Browser: Node.js
- Node.js Version: v18.5.0
- NPM Version: 8.14.0

#

[2022-07-17 01:34] apeNote commented on #4659
same issue

[2022-07-18 08:12] #4959 closed, assigned to nobody

[2022-07-18 10:29] jdevcs opened #5261 "4.0.0-alpha.0 Blackbox tests"
Add initial simple Blackbox tests for web3.js imports using web3 node module and minified build.

[2022-07-18 10:37] #5174 closed, assigned to jdevcs

[2022-07-18 10:52] #5244 closed, assigned to jdevcs

[2022-07-18 14:36] jdevcs opened #5263 "Independent vs fixed versioning 4.x monorepo"
Independent vs fixed versioning 4.x monorepo

We have most of packages in 4.x versioned as 4.0.0-alpha.x except following:
- web3-common
- web3-errors
- web3-validator

There are two approaches for versions management in 4.x, each with its own pros and cons, TBD in next team meeting.

[2022-07-19 00:28] #4942 closed, assigned to nobody

[2022-07-19 00:28] #4934 closed, assigned to nobody

[2022-07-19 00:28] #4932 closed, assigned to nobody

[2022-07-19 02:32] vitpankin commented on #4659
same again

[2022-07-19 12:16] avkos opened #5265 "Change subscription's response format to web3.common format function"
We should have consistent approach for results formatting across web3 4.x,
so instead of using :
[code]
lets use web3.common [format](https://github.com/ChainSafe/web3.js/blob/acf0950ebcdc6ea0159175e9e8760420bd6aa8aa/packages/web3-common/src/formatter.ts#L248) function, like we are doing in eth package [eg](https://github.com/ChainSafe/web3.js/blob/acf0950ebcdc6ea0159175e9e8760420bd6aa8aa/packages

[2022-07-19 12:59] #5235 closed, assigned to nobody

[2022-07-19 12:59] #5236 closed, assigned to nobody

[2022-07-19 13:11] #5109 closed, assigned to avkos

[2022-07-19 15:12] mconnelly8 commented on #5042
Based on team meeting discussion on 7/13, this can be closed.

[2022-07-19 15:16] #5196 closed, assigned to Muhammad-Altabba

[2022-07-19 17:07] #4975 closed, assigned to luu-alex

[2022-07-19 17:29] rekmarks commented on #4775
Hey @mconnelly8, what's the state of 4.x (is it ready for production?) and when do you guys plan to ship documentation?

[2022-07-19 18:08] mconnelly8 commented on #5261
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5261?planning-poker) with ZenHub @jdevcs @nazarhussain @spacesailor24 @luu-alex @Muhammad-Altabba @nikoulai @avkos

[2022-07-19 20:02] mconnelly8 commented on #4775
Hey @rekmarks, we are getting very close to our 4.x Alpha release.   An announcement is coming soon!  We will be tracking limited testing with the Alpha release as the first step.  We will also have a later Beta release this year to open it up for more testers.  Once we get through that we will do a full 4.x release.

[2022-07-19 20:05] mconnelly8 commented on #5233
Hey @ayanamidev, this is our first step in adding something like this.  Down the road this could open up to more possibilities.

[2022-07-20 09:51] karthisriramulu commented on #3723
@GregTheGreek any update on this issue?

[2022-07-20 14:45] nazarhussain opened #5267 "New packages have wrong version number"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently the new packages are starting with `1.0.0` release number.

### Expected Behavior

All the new packages should start from `0.1.0` and then mature in coming releases. The rule of thumb is in Semversion the number index start from `0`.

### Steps to Reproduce

N/A

### Web3.js Version

[2022-07-20 14:50] nazarhussain opened #5268 "Improve the types interfaces for `web3-types` packages"
### This is not a Bug Report, Feature Request, or related to Documentation

- [X] I have searched the existing issues

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

We created a package `web3-types` package which consists of all reuseable and shared types from different packages. Some of the types defined in that package are redundant. More sp

[2022-07-20 14:52] nazarhussain opened #5269 "Update all the dependencies before alpha release"
### This is not a Bug Report, Feature Request, or related to Documentation

- [X] I have searched the existing issues

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

We had a few outdated dependencies in our project. It would be nice to update those all as we are very close to the alpha release.

### Examples/References

A few of those packages

[2022-07-20 14:55] nazarhussain opened #5270 "Large number of unrelated lint warnings"
### This is not a Bug Report, Feature Request, or related to Documentation

- [X] I have searched the existing issues

### Is there an existing issue for this?

- [X] I have searched the existing issues

### What's up?

With current linting setup there are few hundred lint warnings which are unrelated to our code. Most of those are related to `@jsdoc` comments. We can disable those rules to avoid

[2022-07-21 11:24] jdevcs commented on #5263
As per team discussion we will be using Independent versioning in 4.x. so closing this issue.

[2022-07-21 11:24] #5263 closed, assigned to jdevcs

[2022-07-21 12:16] Neoblock8 opened #5271 "Invalid JSON RPC Error in web3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Hi,
  I just wanted to try multi send transactions in web3js using for loop. And i tried different web3 js versions. None can be supported. Mentioned the error in below image.

![photo1658237390](https://user-images.githubusercontent.com/81068101/180210472-f71db33a-5636-4955-b36a-39054f44f8d2

[2022-07-21 13:02] #5243 closed, assigned to nazarhussain

[2022-07-21 21:24] luu-alex commented on #4659
Hey there, sorry for the long wait but we are coming up with a permanent solution. Pr has been created, thanks everyone

[2022-07-22 14:41] mconnelly8 commented on #4963
This task isn't needed and can be closed.

[2022-07-22 14:41] #4963 closed, assigned to nobody

[2022-07-22 14:51] #5267 closed, assigned to nazarhussain

[2022-07-22 19:03] #5269 closed, assigned to nazarhussain

[2022-07-23 04:41] xcitydev commented on #4090
Sorry Im using version 18 and still getting this error

[2022-07-23 08:55] SamsonChoo commented on #4831
May I ask what is the workaround for this issue if I am using TypeScript and it throws me errors? Just ignore the line?
I would think this seems like a relatively straightforward fix, if I create a PR would the devs be interested in reviewing and merging it?

[2022-07-24 00:28] #4612 closed, assigned to nazarhussain

[2022-07-24 14:16] ghost commented on #5271
Looks like the error is coming from the node and it is likely to happen since

1. You create the array of promises which would send transactions with the same nonce without bumping fees, which results in node sending you a transaction error.

2. Previous version of web3.js is not capable of debugging node-generated errors very well, I recommend doing `npm i --save web3.js@v1.7.5-rc.1` so that web3

[2022-07-25 00:25] #4921 closed, assigned to nobody

[2022-07-25 00:25] #4787 closed, assigned to nobody

[2022-07-25 14:32] #5265 closed, assigned to avkos

[2022-07-25 15:36] #5270 closed, assigned to nazarhussain

[2022-07-26 00:26] #5021 closed, assigned to nobody

[2022-07-26 00:36] davidmurdoch commented on #4618
Bad robot.

[2022-07-26 08:12] kfazil commented on #4326
What is the returned unit for baseFeePerGas? Is it wei or Gwei?

[2022-07-26 09:49] Jack-Works opened #5281 "Crashes in Service Worker: XHR2 is not a constructor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/5390719/180977446-6dd2a0dd-c3c9-43c6-a794-dfd9764d7345.png)

![Uploading image.png…]()

### Expected Behavior

Working.

### Steps to Reproduce

Run web3.js in worker.

### Web3.js Version

1.7.4

### Environment

_No response_

### Anything

[2022-07-26 09:52] Jack-Works commented on #5281
Note: it try to use `xhr2-cookies` as a fallback, but it is a Node module, not work on Worker either. We've patched `xhr2-cookies` to return empty.

[2022-07-26 10:09] jdevcs opened #5282 "4.0.0-alpha.0 documentation on web3js.org"
- [ ] Host 4.x docs ( build docs and publish on hosting location )
- [ ] create subdomain and point http://docs.web3js.org/v4 to 4.x hosted docs
- [ ] Include 4.x doc hyper link in website http://web3js.org

[2022-07-26 10:12] jdevcs commented on #4320
we included Eth Transaction as part of Eth package instead of dedicated Eth Tx package.

[2022-07-26 10:17] Hamza141999 commented on #4627
@nazarhussain having the same issue here. I'm using useReducer and ContextAPI for global state management, and whenever I connect using web3modal, i'm given this error: Error: ENS is not supported on network private
    at ENS.checkNetwork
Can anyone please look into this? I'm not making any sort of ens.checkNetwork or networkType call in my code, its just merely a contract call after I connect my

[2022-07-26 10:20] #4320 closed, assigned to Spacesai1or

[2022-07-26 10:30] jdevcs opened #5283 "Transaction Features in 4.x"
#### This issue is for tracking features of Transaction in 4.x.

- [ ] Transaction decoding Feature ( for endusers and also for usage in handle revert functionality)
   - Legacy Transactions
   - [Typed Transaction](https://eips.ethereum.org/EIPS/eip-2718)
   0x1 https://eips.ethereum.org/EIPS/eip-2930
   0x2 https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1559.md

- [ ] [accessListify](http

[2022-07-26 10:45] #5168 closed, assigned to nikoulai

[2022-07-26 19:28] shubasishdas commented on #5076
Thanks. This one works for me!

[2022-07-27 00:28] #4590 closed, assigned to nobody

[2022-07-27 11:23] jdevcs commented on #5091
For additional features in Web3 4.x, there can be several ways of instantiating new features on demand as additional plugin in web3.js.

Consider a scenario, we want to have chainlink plugin with chainlink `getPrice()` functionality support.

- Offering plugin instantiation via additional call `web3.eth.registerPlugin(ChainlinkPlugin)` Internally, it should do required instantiation. In this way n

[2022-07-27 12:48] jdevcs commented on #5091
Following can be rough idea as starting point of discussion:

Part of our mono repo:
[code]

In independent solution:
[code]

[2022-07-27 17:08] #5112 closed, assigned to Muhammad-Altabba

[2022-07-27 17:19] mconnelly8 commented on #5096
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5096?planning-poker) with ZenHub @luu-alex @nikoulai @spacesailor24 @nazarhussain @jdevcs @avkos

[2022-07-27 17:47] mconnelly8 commented on #4981
Need to investigate scenarios based on node configurations

[2022-07-27 17:51] nazarhussain opened #5287 "web3-utils keccak256 raise error for string type data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If we do the current `keccak256` for string data it raise error.

### Expected Behavior

Considering the `1.x` compatibility, we have to accept a string input.

### Steps to Reproduce

[code]

### Web3.js Version

4.x

### Environment

- Operating System: N/A
- Browser: N/A
- Node.js Version:

[2022-07-27 17:52] mconnelly8 commented on #5113
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5113?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nazarhussain @nikoulai @spacesailor24

[2022-07-27 18:04] mconnelly8 commented on #5183
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5183?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nazarhussain @nikoulai @spacesailor24

[2022-07-27 18:05] nazarhussain opened #5288 "Web3RequestManager is not compatible with the Ganache provider"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There is method `createInterfaceAdapter` in `truffle` which proxies the `web3` adapter to different adapter.

https://github.com/trufflesuite/truffle/blob/c5de9c238aa07f7a9bed701fa83bab3457011f3b/packages/interface-adapter/lib/adapter/index.ts#L14

Here is a sample code which is creating `pro

[2022-07-27 18:14] mconnelly8 commented on #5241
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5241?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nazarhussain @nikoulai @spacesailor24

[2022-07-27 18:23] mconnelly8 commented on #5248
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5248?planning-poker) with ZenHub @avkos @jdevcs @luu-alex @nazarhussain @nikoulai @spacesailor24

[2022-07-27 18:24] jdevcs commented on #5248
Create a sample application and see web3 treeshaking support , also document how users can tree shake.

[2022-07-28 11:04] iboxgithub commented on #4579
will try this soon: https://twitter.com/margelo_io/status/1551898742286155777

[2022-07-28 14:24] jdevcs opened #5290 "Node.js and Browsers - 4.x RC Testing Infrastructure"
4.x Beta Testing Infrastructure

### Description
Add following's support in web3 4.x tests infrastructure

-  **Node.js tests** (  v18 ) https://nodejs.org/en/blog/vulnerability/july-2022-security-releases/#downloads-and-release-details
4.x tests on node: Node.js v14.20.0 , Node.js v16.16.0 ,Node.js v18.5.0

-  **Browsers**
    Microsoft Edge , Brave
    min versions TBD (  Edge 44, Brave )

Tasks

[2022-07-28 14:25] jdevcs opened #5291 "Eth Client - 4.x RC Testing Infrastructure"
4.x Beta Testing Infrastructure

### Description

- **eth client**

- [ ] Tests on Local Eth client (`Nethermind` ) (we already have tests on local geth and ganache in 4.x alpha)

[2022-07-28 14:30] jdevcs opened #5292 "External Projs - 4.x RC Testing Infrastructure"
### Description

- [ ]  **external Apps/APIs** using web3.js: add automated testing of 4.x with external projects when these projects are ready for 4.x ( openzeppelin , truffle < TBD )

- [x]  Injected Providers ( metamask, in3, ... < TBD )

[2022-07-28 16:29] Muhammad-Altabba opened #5293 "If sending a transaction stuck at the node, the code waiting for the transaction stuck forever"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If a transaction was not mined, like in case the `nonce` was high, the code waiting for the transaction stuck forever. this means that both `transactionReceiptPollingInterval` and `transactionPollingTimeout` does not work for this case.

### Expected Behavior

If the node does not return a re

[2022-07-28 17:54] mconnelly8 commented on #5242
#5004 needs to be completed before this can be estimated.

[2022-07-28 18:23] Spacesai1or opened #5295 "Web3Eth Doc Improvements"
- We should implement a disclaimer as mentioned [here](https://github.com/ChainSafe/web3.js/pull/5251#discussion_r932016753) that notifies the user that methods exported from `rpc_method_wrappers.ts` are expected to not be used by most users
- We should investigate how to use `@inheritDoc` to avoid duplicate code between `Web3Eth` and `rpc_method_wrappers` as mentioned [here](https://github.com/Ch

[2022-07-28 20:00] mconnelly8 opened #5297 "Investigate node configuration scenarios for testing regular block intervals"
Regarding #4981

Testing scenarios needs to be investigated & documented

[2022-07-28 20:18] mconnelly8 opened #5298 "Review and clean up 4.x Documentation"
There is some inconsistency with the 4.x documentation

Review 4.x documentation and make necessary updates for consistency and improvements

[2022-07-29 00:31] #4973 closed, assigned to Spacesai1or

[2022-07-29 13:53] NikoKodzhabashev opened #5299 "Duplication between .on("data") and .on("changed")"
### This is not a Bug Report, Feature Request, or related to Documentation

- [x] I have searched the existing issues

### Is there an existing issue for this?

- [x] I have searched the existing issues

### What's up?

Hello. Hope you are doing well. I have noticed that when reorg has happened "changed" and "data" callbacks are invoked with duplicated data and the only difference is in the "remov

[2022-07-30 00:21] #4581 closed, assigned to nobody

[2022-08-01 00:28] #5029 closed, assigned to nobody

[2022-08-01 00:28] #4699 closed, assigned to nobody

[2022-08-01 13:24] yielda-game opened #5303 "oops"

[2022-08-01 13:28] #5303 closed, assigned to nobody

[2022-08-01 13:28] yielda-game commented on #5303
opened from wrong account

[2022-08-01 13:34] karmaniverous opened #5304 "the contract methods call function mutates its options argument"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

A simple options argument passed to the call function acquires new keys.

[code]

becomes

[code]

after the call.

### Expected Behavior

This function shouldn't mutate its configuration arguments. This cause problems when you want to reuse them elsewhere.

### Steps to Reproduce

See my wri

[2022-08-02 00:28] #5027 closed, assigned to nobody

[2022-08-02 10:42] jdevcs commented on #5298
- [ ] `Guides` link in footer doesn't work, it needs to be fixed

- [ ] Point following button on home page to empty page with "Tutorials coming soon" message in it and change title of this button
![image](https://user-images.githubusercontent.com/86780488/182355821-440d29f2-5e74-4802-a2c1-b5f5f8425871.png)

[2022-08-03 02:09] limitedAtonement commented on #5031
I think I'm hitting this issue right now. Is there a known workaround? I used create-react-app then added web3 to package.json, and I don't understand the resulting errors:

[code]

"If you want to include a polyfill..." but I don't want to do that...I assume some library that I'm using (web3?) is doing this? There are also

[code]

Based on the title of this ticket, is the solution to move to web

[2022-08-03 02:47] luu-alex commented on #5031
@limitedAtonement Hey we have a PR that will fix this issue #5274 , it'll be merged in a few weeks for next version so in the meantime to fix it: go to your `node_modules/web3/package.json` and add `"browser": "dist/web3.min.js",` like this
[code]
[example](https://github.com/ChainSafe/web3.js/pull/5274/files)

[2022-08-03 03:29] luu-alex opened #5308 "fix broken links for docs - 4.x"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

cd into docs and run `yarn build` You will get errors of broken links in documentation. Discovered from #5296
[code]

### Expected Behavior

No broken links

### Steps to Reproduce

cd docs
yarn start

### Web3.js Version

4.x

### Environment

- Operating System:
- Browser:
- Node.js Version

[2022-08-03 04:44] Muhammad-Altabba commented on #5257
Hello @CaledoniaProject,
I checked the code scenario and both gave me `9326269197397511364330713577831447135626556432227477146325167069213775807679`.
Here you can check the code:
https://codesandbox.io/s/hardcore-glitter-q5rsx3?file=/index.ts

I would close the issue for now.  Feel free to reopen it and provide a sample to reproduce the issue if you still face it. And be sure to use the latest ver

[2022-08-03 04:44] #5257 closed, assigned to Muhammad-Altabba

[2022-08-03 06:04] CaledoniaProject commented on #5257
@Muhammad-Altabba Try     "web3": "^1.7.0",

[2022-08-03 06:04] CaledoniaProject commented on #5257
@Muhammad-Altabba I would like to see if this is a bug or not

[2022-08-03 06:17] Muhammad-Altabba commented on #5257
Yes, I now tried with version 1.7.0 (using the link I provided, you can change the package version and try), and yes the bug was there. Kindly update to the latest version (version 1.7.4 and 1.7.5 does not have this issue). Or just use `web3.utils.toBN` with any version.
Thanks for opening an issue. And I hope it is all clear now.
All the best,

[2022-08-03 10:48] jdevcs opened #5309 "E2E tests for Injected providers"
Add E2E tests for 3rd party Injected providers

- [x] For e2e testing few requests via Eth package with injected provider
       - For testing providers that are in compliance with JSON RPC 2.0 Specs
       - For testing providers that are NOT in compliance with JSON RPC 2.0 Specs

List of providers: ( Ganache provider , IN3 Provider, ... TBD )

[2022-08-03 13:28] CaledoniaProject commented on #5257
Yes, it's cleared by now. I'll do the upgrade, thanks!

[2022-08-03 13:46] limitedAtonement commented on #5031
Thank you for the help! I removed `web3` from `dependencies` and added the `browser` line you mentioned and I think matching the example to which you linked. The compilation errors are gone, but now I get, "Module not found: Error: Can't resolve 'web3' in '/app/src'" with regards to `import Web3 from 'web3';`. I get the feeling that you knew this would happen and you thought me capable of handling

[2022-08-03 14:25] #5288 closed, assigned to nazarhussain

[2022-08-03 14:40] luu-alex commented on #5031
Hi there! dont remove web3 from your dependencies. and if you added the browser line in your `node_modules/web3/package.json` it should work. if you run into anymore issues please join the discord and post in the web3js-general channel and i can help out. https://discord.gg/gzdbXCcV @limitedAtonement

[2022-08-03 16:33] limitedAtonement commented on #5031
(from discord conversation) I was adjusting my project's `package.jsqn`, but should have been adjusting the web3 `package.json`. I used this

[code]
and it appears to have the desired effect. Thank you!

[2022-08-03 21:48] davidmurdoch commented on #4597
It might be worth noting that Arbitrum, or ArbOS (whatever that is), has an "Internal Transaction 106" transaction type that is in use. I couldn't find any documentation or source code about it, but didn't manage to find this: https://nitro-devnet-explorer.arbitrum.io/tx/0x583096902e1b7ca17fc6cfe649488fc6c09b8ce2791e2420090c09f517fc2b6c/internal-transactions

I'm not sure if this should change web

[2022-08-04 06:02] Muhammad-Altabba commented on #5259
Hello @mbledkowski,
Here is a working sample: https://codesandbox.io/s/unruffled-kowalevski-5bchxo?file=/index.ts
If you are still facing this error, could you point to a public repo (or make one fast on [codesandbox](https://codesandbox.io) or a similar Cloud IDE)?
Thanks,

[2022-08-04 12:28] max1404 opened #5313 "How use web3.js with "Read as Proxy" and "Write as Proxy""
hello developers,

i check the issues and the [documentation](https://web3js.readthedocs.io/en/v1.7.5/) - but but I couldn't find any information on how to use web3.js as "_Read as Proxy_" and "_Write as Proxy_" ([EIP-1967](https://eips.ethereum.org/EIPS/eip-1967)) with a smartcontract on ethereum.

Am I just missing a buzzword for the search? Is it possible with Web3.js? If so, can someone drop a

[2022-08-04 14:42] hariomchetu commented on #3816
Error: CONNECTION ERROR: Couldn't connect to node https://eth-goerli.g.alchemy.com/v2/API_KEY
    at Object.ConnectionError (C:\Users\hariomkumars\Desktop\programs\testprogram\token\node_modules\web3-core-helpers\lib\errors.js:66:23)
    at Object.InvalidConnection (C:\Users\hariomkumars\Desktop\programs\testprogram\token\node_modules\web3-core-helpers\lib\errors.js:36:21)
    at HttpProvider.fail

[2022-08-04 14:54] #5282 closed, assigned to luu-alex

[2022-08-04 15:46] #5287 closed, assigned to Muhammad-Altabba

[2022-08-04 16:15] Muhammad-Altabba commented on #5281
Could you please point to a minimal repository or make new one fast on codesandbox.io or similar cloud IDE, so we can help you more?
Thanks,

[2022-08-05 03:45] Jack-Works commented on #5281
I tried to reproduce this and found XMLHttpRequest is defined in a Worker, but not in a Service Worker.

Our app runs in a service worker (Chrome extension), where XMLHttpRequest is undefined.

The code use `typeof XMLHttpRequest === 'undefined'` to detect if the runtime is NodeJS, which is incorrect on our platform. Is there anything else you can use? For example, `typeof self === 'undefined'`.

[2022-08-05 10:06] oliviera9 opened #5315 "web3-bzz `swarm-js` dependency introduces vulnerability to `got <11.8.5`"
https://github.com/ChainSafe/web3.js/blob/8620cba19f2a9250d395e0717669b274a89521a5/packages/web3-bzz/package.json#L20

[code]

[2022-08-05 13:40] jdevcs opened #5316 "4.x alpha changes update"
- [x] include old versions history in change log
- [x] compare and add list of new packages and removed packages in log

[2022-08-05 18:13] nazarhussain opened #5319 "Handling of the "null" response from provider"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In some cases the provider returns `null`, which can't be handled by the `request manager` and cause runtime error.

### Expected Behavior

There should not be an error and the `null` response should be returned from the request manager.

### Steps to Reproduce

Send a transaction receipt req

[2022-08-05 18:16] nazarhussain opened #5320 "Invalid `transactionPollingTimeout` compared to `transactionPollingInterval`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently the `transactionPollingTimeout` is configured to be less than `transactionPollingInterval`. For which the transaction pooling is actually not functional.

### Expected Behavior

As per 1.x `transactionPollingTimeout` it should be **750 seconds**, but its misconfigured as **750 ms**.

[2022-08-05 18:22] nazarhussain opened #5321 "Tuple value validation for JSON objects always fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently the **tuple** value validation always return `false` if we pass a JSON object instead of array format.

### Expected Behavior

If the JSON object is valid as per schema it should pass the validation.

### Steps to Reproduce

[code]

### Web3.js Version

4.x

### Environment

N/A

##

[2022-08-07 00:28] #5055 closed, assigned to nobody

[2022-08-07 20:54] Spacesai1or commented on #5091
[Related](https://github.com/ChainSafe/web3.js/discussions/4653) discussion

[2022-08-08 04:37] mfolnovic commented on #4992
not stale, still an issue.

[2022-08-08 08:48] mpetrunic commented on #5091
Some ideas which I think you should consider:
- compatibility with web3 versions - I think plugin should declare version range of Web3.js so we can error on unsupported versions
- plugins using other plugins - ability for plugin to declare dependency on other plugins

Example:
[code]

[2022-08-08 11:45] #5319 closed, assigned to nazarhussain

[2022-08-08 11:45] #5321 closed, assigned to nazarhussain

[2022-08-08 15:43] #5067 closed, assigned to jdevcs

[2022-08-08 19:12] #5320 closed, assigned to nazarhussain

[2022-08-08 19:18] mconnelly8 opened #5326 "Misc 4.x Documentation Page Updates"
Misc 4.x documentation updates needed:
- [x] Link the Web3.js logo to the website - web3js.org
- [x] Capitalize the "Web3.js" text were displayed
- [x] Web3.providers - Displays “Web3 Providers”, but should say “Web3 Providers Migration Guide” to match the other topics. The URL should be updated to match the others also.
- [x] Web3.*.net - Displays “Web3 Net Migration guide”, “Guide” should be cap

[2022-08-09 00:57] Spacesai1or commented on #5091
After talking with @nazarhussain there are decisions to be made:

- What exactly are the requirements for the plugin system?
    - The `.use` and `.link` methods that exist on any class extending `Web3Context` already allow them to make use of an already instantiated provider
- How do we make appending a plugin to the `Web3` object typesafe?
    -  An interesting thing to keep in mind is we are bu

[2022-08-09 05:21] abrindam opened #5327 "Responses get mixed up due to conflicting payload IDs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using this library in conjunction with Truffle's `HDWalletProvider`, when requesting the current network ID via `web3.eth.net.getId()`, rarely (1 out of 20 or so) you will get back the block height instead of the network ID.

### Expected Behavior

If you request the network ID, you shou

[2022-08-09 08:42] mpetrunic commented on #5091
This is how fastify handles it, as soon as plugin is imported it will enhance types:
https://github.com/NodeFactoryIo/fastify-sse-v2/blob/master/src/index.ts#L12

[2022-08-09 12:01] #5316 closed, assigned to jdevcs

[2022-08-09 13:34] TurboTu commented on #5313
I got the same problem too, have u solved it?

[2022-08-09 13:54] TurboTu commented on #5313
I got some tips @max1404 https://ethereum.stackexchange.com/questions/103143/how-do-i-get-the-implementation-contract-address-from-the-proxy-contract-address

[2022-08-09 15:28] jdevcs commented on #5327
@abrindam Thanks for investigation and reporting this our team will look this.

[2022-08-10 07:12] sirpy opened #5329 "incorrect default maxpriorityfeepergas"
https://github.com/ChainSafe/web3.js/blob/8620cba19f2a9250d395e0717669b274a89521a5/packages/web3-eth-accounts/src/index.js#L422

The docs says it is supposed to be 1 but it is set in the code to 2.5

[2022-08-10 07:13] #5329 closed, assigned to nobody

[2022-08-10 10:55] #5099 closed, assigned to nazarhussain

[2022-08-10 11:17] Ajit-91 commented on #3591
is there any inbuilt method in web3 for achieving this ?

[2022-08-10 18:19] Muhammad-Altabba opened #5330 "Enable the user of `WebSocketProvider` to subscribe to `error` event that could happen at the underling WebSocket connection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Feature Request

If the Ethereum Node had raised an error event. The current implementation does not support catching the error by subscribing to the `error` event. Actually, it supports only `open` `close` and `message`.

### Use Cases

If the Ethereum Node connection was closed too early, the underlying sock

[2022-08-10 18:41] mconnelly8 commented on #5246
Need to decompose into multiple tasks

[2022-08-10 18:52] mconnelly8 opened #5332 "4.x QA Tests"

[2022-08-10 20:22] Muhammad-Altabba opened #5334 "TransactionPollingTimeoutError is un-catchable because it is thrown inside a Promise"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`TransactionPollingTimeoutError` is thrown using `throw new`. This makes it not possible to catch the error.

For more, check https://www.geeksforgeeks.org/reject-vs-throw-promises-in-javascript/

### Expected Behavior

`TransactionPollingTimeoutError` is raised using `reject(...)`. This will

[2022-08-11 08:39] #5326 closed, assigned to jdevcs

[2022-08-11 11:57] Muhammad-Altabba opened #5337 "Receives `TypeError: Error.captureStackTrace is not a function` on FireFox if the code instantiate an error object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Receives `TypeError: Error.captureStackTrace is not a function` on Firefox if the code instantiates an error object of the type `InvalidValueError`. And This is thrown, even if that Error object was not thrown after instantiation.Firefox

### Expected Behavior

Throws errors only if they occu

[2022-08-11 15:45] Spacesai1or opened #5339 "`4.x` only `yarn test:e2e:ganache:ws` tests are running"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently the Github [build.yml](https://github.com/ChainSafe/web3.js/blob/aba41662c47f475b63afcee988db5d269a91aa96/.github/workflows/build.yml#L135) is only running the E2E tests using and Ganache websockets

### Expected Behavior

E2E tests should include HTTP, IPC, and also test using Geth

[2022-08-11 15:49] jdevcs opened #5340 "4.0.0-alpha.1 - build files for publishing on npm"
https://docs.npmjs.com/cli/v8/using-npm/developers#keeping-files-out-of-your-package

- [ ] Currently in 4.x we dnt have `.npmignore` file so npm will use  `.gitignore` and will exclude build files, this needs to be fixed. We should have npmignore without filtering build files.

- [ ] Filter minified build for npm publish.

[2022-08-11 15:52] jdevcs opened #5341 "web3.version"
`Web3.version` returns invalid version number as [this](https://github.com/ChainSafe/web3.js/blob/aba41662c47f475b63afcee988db5d269a91aa96/packages/web3/src/web3.ts#L34) is invoked in scope of user's project. Its not recommended to use `readFileSync` for reading package json.

[2022-08-11 16:06] Muhammad-Altabba commented on #5293
It turned out that there are a couple of issues combined together that made the transaction to stuck when raising the `nonce`. And it is different between Ganache and Geth, where one of them never returns the response when sending a transaction. And the other Ethereum Node showed another behavior that is not also handled, where it returns a response when sending a transaction. But is stuck after t

[2022-08-11 16:29] nazarhussain commented on #5341
We can't use `import` anything outside `src` directory, it will change build output directory structure. Reading `package.json` with the current pattern is the common known and widely used pattern.

This famous package also doing same https://github.com/npm/read-package-json

[2022-08-11 16:30] nazarhussain commented on #5341
For minified build the bundling tools should replace this with a static value.

[2022-08-11 16:37] mconnelly8 commented on #5249
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5249?planning-poker) with ZenHub @jdevcs @nazarhussain @avkos @Muhammad-Altabba

[2022-08-11 16:41] Muhammad-Altabba commented on #5249
To look at: https://www.npmjs.com/package/declaration-bundler-webpack-plugin thanks to @jdevcs.

[2022-08-11 16:48] mconnelly8 commented on #5268
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5268?planning-poker) with ZenHub @avkos @jdevcs @Muhammad-Altabba @nazarhussain

[2022-08-11 16:56] mconnelly8 commented on #5309
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5309?planning-poker) with ZenHub @avkos @jdevcs @Muhammad-Altabba @nazarhussain

[2022-08-11 17:04] mconnelly8 commented on #5291
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5291?planning-poker) with ZenHub @avkos @jdevcs @Muhammad-Altabba @nazarhussain

[2022-08-11 17:07] mconnelly8 commented on #5290
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/web3js-553a980ab285bae538012a40/issues/ChainSafe/web3.js/5290?planning-poker) with ZenHub @avkos @jdevcs @Muhammad-Altabba @nazarhussain

[2022-08-11 17:12] #5246 closed, assigned to nobody

[2022-08-11 18:17] hexcowboy commented on #3198
None of the workarounds that don't involve patching the module have helped me. How do I use this module in TypeScript?
[code]

[code]

Related: https://github.com/ChainSafe/web3.js/issues/5196

[2022-08-11 20:59] #5334 closed, assigned to Muhammad-Altabba

[2022-08-12 08:52] jdevcs commented on #5293
For point 1. and 2. we can add additional logic for `transactionPollingTimeout` to reject promise after timeout based on either:
- A. reject when node didn't respond back transaction hash and `transactionPollingTimeout` passed
- B. node responded transaction hash but transaction receipt was not available during `transactionPollingTimeout`

Instead of rejecting promise for B only or even current lo

[2022-08-12 10:55] jdevcs commented on #5249
discussed in team its not required, its experimental feature.

[2022-08-12 10:55] #5249 closed, assigned to nobody

[2022-08-12 11:56] jdevcs opened #5344 "web3-blackbox tests CI - 4.x Beta"
- [ ]  Run web3-blackbox tests on **tag push** only
- [ ]  web3-blackbox and also web3-blackbox-web should fail CI action on error

[2022-08-12 12:16] jdevcs opened #5345 "4.x alpha - blackbox web"
blackbox web is failing :

https://github.com/ChainSafe/web3.js/pull/5280/files#diff-8073e12aa862bc8504ad313f190286826cb0e057aed20f7c384882b8a27a166dR23

[code]

[2022-08-12 12:54] jdevcs commented on #5340
We have whitelisting [files](https://github.com/ChainSafe/web3.js/blob/aba41662c47f475b63afcee988db5d269a91aa96/packages/web3/package.json#L18) that takes priority and we dnt need npm ignore at root level so we can close this issue.

[2022-08-12 12:54] #5340 closed, assigned to jdevcs

[2022-08-12 13:54] baughmann commented on #3925
@anuj-upadhyay-inferenz Not as of `1.7.5`. Still an issue. Looks like its just been forgotten about. Too much obsession with coins, mining, and public chains and not enough focus on enterprise.

[2022-08-12 15:54] jdevcs commented on #5341
[This](https://github.com/ChainSafe/web3.js/blob/aba41662c47f475b63afcee988db5d269a91aa96/packages/web3/src/web3.ts#L34) is not correct pattern for our scenario. If a user wants to get version of web3.js, the pattern you referred will read user's project package.json instead of web3.js's ,  and will return wrong info!

[2022-08-12 18:32] mconnelly8 commented on #5291
Need to decompose

[2022-08-12 20:25] mconnelly8 commented on #5268
Per the 8/11/22 meeting, we will add sub-tasks to this for the list of types to test.

[2022-08-12 20:37] mconnelly8 opened #5346 "4.x Testing Infrastructure"

[2022-08-12 20:51] Muhammad-Altabba commented on #5293
Thanks @jdevcs :bouquet:
As discussed on chat later, even that, unfortunately, that would mean additional config that the package user needs to care about, we will add `transactionSendTimeout`. Because it addresses a unique case and also enables raising a related error that could provide more help in identifying and tracing issues.

And so the first 2 issues will be implemented as suggested in htt

[2022-08-14 14:13] gmako6 commented on #4659
when polyfill file is created and imported on index.js/ts

import { Buffer } from 'buffer';

(window as any).global = window;
global.Buffer = Buffer;
global.process = {
    env: { DEBUG: undefined },
    version: '',
    nextTick: require('next-tick')
} as any;

it comes with this error

ERROR in ./src/polyfill.js

Module build failed (from ./node_modules/babel-loader/lib/index.js):
SyntaxError: /

[2022-08-15 03:39] norasotanext commented on #3936
I have the same problem with this transaction `0x43706033826758d7b22e515b8e17d68da41e29cdf14c8cded0924d1aa9163661`

[2022-08-15 04:32] #5337 closed, assigned to Muhammad-Altabba

[2022-08-15 12:19] jdevcs opened #5348 "Eth Testnet - 4.x RC Testing Infrastructure"
4.x Beta Testing Infrastructure

### Description

- **eth live NW tests**
- [x] Tests on at least 1 testnet via Infura (`sepolia network` )
     - [x] read calls (block, account state, balance ..etc)
     - [x] and also setup tests for functions doing changes to be mined in blocks (run once with pre funded account on testnet)
          - [x] value transfer tx,
          - [x] contract deployment t

[2022-08-15 12:42] jdevcs opened #5349 "ChunkResponseParser , Websocket and IPC Provider tests - 4.x Beta Tests"
- [x] Test IPC provider with large response ( received in multiple chunks )
- [x] Test Websocket provider with large response ( received in multiple chunks )
- [ ] Unit test `ChunkResponseParser`

[2022-08-15 14:24] luu-alex commented on #4659
@gmako6  Hi, we have a [fix](https://github.com/ChainSafe/web3.js/pull/5274) for this in the next version but if you want to get it working now you can use this. You dont need the polyfill file for this method. within your project, go to your `node_modules/web3/package.json`and add `"browser": "dist/web3.min.js"` under `main` so it'll look like this:

[code]
save it and it should work

[2022-08-15 17:52] #5341 closed, assigned to jdevcs

[2022-08-16 15:11] TimDaub opened #5350 "web3-eth-abi@1.4.0 `decodeLog` returns confusing error message when false inputs are given"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm attempting to parse EIP721 event logs using `decodeLog` using `web3-eth-abi@1.4.0`. I've not added `indexed: true` to the event's parameters, the entire code is here: https://github.com/neume-network/strategies/compare/bug/web3-decode-log

And I think that the following error message isn'

[2022-08-16 15:34] coldcode001 opened #5351 "keccak256/sha3 in web3-utils module must be accepting Buffer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Seems it's missing in https://github.com/ChainSafe/web3.js/blob/1.x/packages/web3-utils/types/index.d.ts, could we revise the types definition? otherwise we need to suppress the warnings/erros in typescript.
export function sha3(value: string | BN): string | null;

### Expected Behavior

expo

[2022-08-17 10:11] Muhammad-Altabba commented on #5351
Thanks @coldcode001 for opening the issue.
Yes, we worked on accepting more types for sha3 in version 4.x
However, it seems to me like a feature-request rather than a bug. The function just works exactly as expected according to the documentation (https://web3js.readthedocs.io/en/v1.2.11/web3-utils.html#sha3)

[2022-08-17 10:17] jdevcs opened #5355 "Goerli 1.x testing"
Related Issue (Ropsten 1.x testing): https://github.com/ChainSafe/web3.js/issues/5173

https://blog.ethereum.org/2021/11/29/how-the-merge-impacts-app-layer/

[2022-08-17 10:35] Muhammad-Altabba commented on #5350
Hello @TimDaub
Sorry, as you are using `import { decodeLog } from "eth-fun";` this means you need to open the found issue at `fun-eth`. They are the only ones who can show something like what you are asking for: `"decodeLog failed to parse message"`.

[2022-08-17 10:36] jdevcs opened #5356 "GitPOAP Badge"
@burz @colfax23 @kayla-henrie

I merged this PR https://github.com/ChainSafe/web3.js/pull/5234 but badge rendering is broken:

![image](https://user-images.githubusercontent.com/86780488/185098350-a877cd31-183b-471c-a20c-522c0cf19a7b.png)