[2018-11-14 01:08] qding-bot opened #2045 "signTransaction"

[2018-11-14 01:08] #2045 closed, assigned to nobody

[2018-11-14 07:02] mayupumi opened #2046 "Possible to set multiple providers?"
Hi.
I've built private geth network with two nodes.
I want web3js to use both nodes as the provider.
Seems web3.py support such operation. https://web3py.readthedocs.io/en/stable/providers.html
Is there any way to set multiple providers? Or generally web3 shouldn't do that?

[2018-11-14 07:58] elanpang commented on #1985
Hi @crazybuster ,
web3 1.0.0-beta.34 works with RN 0.57.4, but there are many warn messages, details see the screenshot.
![screen shot 2018-11-14 at 15 05 02](https://user-images.githubusercontent.com/6789154/48468129-fc5a2400-e825-11e8-9fba-ad6daef90087.png)

Before web3 1.0.0-beta.35 worked on RN 0.56, but now both web3 1.0.0-beta.35 and  web3 1.0.0-beta.36 doesn't work on RN 0.57.4, it reports

[2018-11-14 08:32] deanvaessen opened #2047 "Extracting signature parameters r, s, v"
Hi,

I needed a function to generate the r, s, v parameters of the signature of a message that I signed with web3, and was surprised that I couldn't find such a function available in web3 (unless I missed something of course). Does it fit within the scope of the project to include this? I can make a pull request if so, this is my current implementation:

[code]

[2018-11-14 08:37] elanpang commented on #1985
@crazybuster

I added blow code in global.js

`global.process.versions = {
  http_parser: '',
  node: '',
  v8: '',
  uv: '',
  zlib: '',
  ares: '',
  icu: '',
  modules: '',
  openssl: ''
};`

then web3 1.0.0-beta.36 works, but there are still lots of warn messages even promise exception, I don't think it real works well.

[2018-11-14 15:43] mqklin commented on #2035
You have a problem with `node-gyp`, not with `web3`

[2018-11-14 15:45] mqklin commented on #2004
@PinnacleOne it's because ERC20 token contract doesn't accept ethereum and rejects all those transactions

[2018-11-14 17:43] hieudoan2609 opened #2048 "web3.eth.subscribe(“newBlockHeaders”) fires twice upon new blocks"
[code]

console.log results:

[code]

[2018-11-14 18:45] crazybuster commented on #1985
@elanpang Those look like app specific issues to me. I was just sharing my fix on metro bundler not finding the node-libs-browser modules.

[2018-11-15 07:42] lutianzhou001 commented on #1154
I met the same problem ,have u solved it yet?

[2018-11-15 09:32] miyao-gmo commented on #2041
@qding-bot

if you use not promise but callback, you can get txhash before mining.

`web3.eth.sendTransaction({
    from: "__ADDRESS__",
    gasPrice: "20000000000",
    gas: "21000",
    to: '__ADDRESS__',
    value: "100000",
}, (error, txHash) => console.log(txHash)).then(console.log).catch(console.log);`

[2018-11-15 09:34] miyao-gmo commented on #2041
@toknT @qding-bot

if you use not promise but callback, you can get txhash before mining.

[code]

[2018-11-15 11:34] #2041 closed, assigned to nobody

[2018-11-15 15:34] aparnathi567 commented on #2035
then, how to solve it

[2018-11-15 15:39] mqklin commented on #2035
Google it, depends on your errors
https://github.com/nodejs/node-gyp#installation try this for example

[2018-11-15 20:53] Ahmzyjazzy commented on #1066
How did you create your binding.gyp file as i cant proceed from step 2. This is my error screenshot after i run *node-gyp configure --msvs_version=2015*

![image](https://user-images.githubusercontent.com/24432247/48580956-d36a8980-e920-11e8-8af4-f703c3e97aec.png)

[2018-11-16 01:59] Bat-Orshikh opened #2049 "The gap of nonce."
What happens when I set a wrong nonce on transaction. On the other hand, I made the gap between the nonces.

Latest nonce: 6
New nonce: 8.

[2018-11-16 05:44] Aniket-Engg commented on #2032
Possible reason of throwing error are : Either ABI is not provided or ABI is not an array as per the code below.
[code]
And this has not changed from `beta.35` to `beta.36`

[2018-11-16 07:10] ghost commented on #1220
Why is this closed? I'm having the same problem with 1.0.0-beta.36.
I'm running a node remotely using:
--rpcapi db,eth,net,web3,personal,web3

Ideas?

[2018-11-16 15:32] kyriediculous commented on #1040
I ran into this issue.

Make sure if you supply networkid when starting geth that it is the same in all places (ABIs, Provider, Genesis, Geth)

Eg. I was using 6660001 everywhere
My genesis had 666001 (missing 1 '0')

And i got the `invalid sender` error.

[2018-11-16 18:18] 0xMishell opened #2053 "How to import account if I know address and private key?"
I start ganache-gui and see lot of accounts, they has privat keys and mnemonic phrase. Then I connect to this testnet with nodejs and web3 1.x.x, so my wallet.length is 0. I want to import all wallet from ganache by mnemonic phrase or better import one address using private key. Could I do this? I tried `web3.eth.accounts.privateKeyToAccount(privateKey);` but its return new account. How it works?

[2018-11-17 01:43] Elvise177 commented on #1776
@CorentinPacaud
The same problem as yours. How did you solve this problem?

[2018-11-17 07:24] jiangbo0216 commented on #1736
Invalid JSON RPC response: "Failed to connect to mainnet.infura.io.....
I met this, when i run web3.js like this
[code]
is there anyone could help

[2018-11-17 07:45] jiangbo0216 opened #2054 "use web3 with react native, Invalid JSON RPC response: "Failed to connect to mainnet.infura.io"
I create a simple react native project following this:

1 init Project

[code]
2 npm intall

`yarn add node-libs-browser`
3 create  `rn-cli.config.js`

[code]
4 create `global.js`

[code]

5 ` app.js`  import `global`

`import './global';`
6 npm install `babel-preset-es2015`

`yarn add --dev babel-cli babel-preset-es2015`

install ` react-native-crypto react-native-randombytes`

yarn add react-nat

[2018-11-17 08:18] 0xMishell commented on #2053
I did not know that the key must start with 0x.

[2018-11-17 08:18] #2053 closed, assigned to nobody

[2018-11-17 08:50] 0xKiwi commented on #1287
Any updates on this? Seems to have not been updated yet.

[2018-11-17 19:18] arinddas commented on #1315
I was also facing this issue, but finally solved it.

If you are using private ethereum setup then add :

"byzantiumBlock": 0 in the cofig portion of genesis file.

Sample:
     "config": {
		"chainID": 577,
		"homesteadBlock": 0,
		"eip155Block": 0,
		"eip158Block": 0,
		"byzantiumBlock": 0
	}

Hope it will resolve your issue.

[2018-11-17 22:16] nival999 commented on #904
Fork the bignumber repo. Upload it to npm. Point the package.json from web3 to that repo. Republish web3 on npm. cloning from the development branch is not working.

[2018-11-18 00:37] #2011 closed, assigned to nobody

[2018-11-18 13:27] Nipol commented on #2037
I have experienced the same problem. This is solved by using the Elliptic module. https://github.com/indutny/elliptic
To be precise, v values are different.

[2018-11-18 16:25] elanpang commented on #1985
@crazybuster  Thank you very much, those issues caused when call web3 api, I will try to fight out them.

[2018-11-19 02:41] jiangbo0216 commented on #2054
I found in react-native ,use the buildt-in function `XMLHttpRequest` to replace `require('xhr2-cookies').XMLHttpRequest` and the code can do well.
and my solution as follow:

`node_modules\web3-providers-http\src\index.js`

`// var XHR2 = require('xhr2-cookies').XMLHttpRequest // jshint ignore: line`
[code]

is there any other solution,if there are some other,please contact me！ thank you.

[2018-11-19 09:32] ahmedzaabal opened #2057 "npm install error - installing web3@1.0.0-beta.26 in windows 10"
Currently I am using web3@0.19.1 and I can't use the promises to retrieve a list of unlocked accounts created by Ganache

I installed web3 by using npm by writing npm install web3, as written in the documentation of web3, but it installed web3 0.19.1

these are some snippets
![screenshot 184](https://user-images.githubusercontent.com/22778791/48698001-b4088080-ebee-11e8-9cc5-636c9bac027c.png)
![sc

[2018-11-19 09:39] thundo commented on #2035
You should probably install Python 2.7, not 3.x.

[2018-11-19 17:12] abrinckm commented on #1741
@Bat-Orshikh If you enable the Txpool API by running geth with flags `--rpcapi txpool`

Then you can open the geth console (e.g., `geth attach http://localhost:8545`) and enter `txpool.content`

you should see details on a number of pending or queued transactions. I haven't figured out how to revert transactions at the moment. Although there is a "not a great" solution here: https://ethereum.stack

[2018-11-19 19:45] ghost commented on #1903
This bug is also affecting my application!

[2018-11-19 19:48] krtk6160 commented on #1916
I was trying to watch for an event that had 2 params as indexed and one as non indexed, and I was getting the same error.
Downgrading to beta 35 just changed the error message to `Error: Couldn't decode from ABI: 0x`.
I finally downgraded to beta 33 and that has fixed the problem.

[2018-11-20 07:58] Aniket-Engg commented on #2037
Problem may be signing prefix related as it differs across various methods. See: https://github.com/OpenZeppelin/openzeppelin-solidity/issues/644

[2018-11-20 08:11] Aniket-Engg commented on #2017
@medied In your `rawtransaction` you are passing `chainId` as 3 and you seems sending transaction using rinkeby infura whose id is 4. I think this mismatch may be a reason for the error.

[2018-11-20 08:21] Aniket-Engg commented on #2004
Is this error defined by you or thrown by web3?

[2018-11-20 08:34] Aniket-Engg commented on #1996
As mentioned here : https://github.com/ethereum/wiki/wiki/JavaScript-API#parameters-34
It seems you need to define some filter parameters too.

[2018-11-20 08:36] baterson commented on #2049
Hi! check this answer you will find all you want .
https://ethereum.stackexchange.com/questions/2808/what-happens-when-a-transaction-nonce-is-too-high

[2018-11-20 08:48] Aniket-Engg commented on #2048
[code]
As per the code, for section not defined with a `.on` , it keeps calling itself in 1000ms. Most probably that is a reason for the output you are getting.

[2018-11-20 09:15] Bat-Orshikh commented on #2049
Yes I got it.

I'm gonna close this issue.

[2018-11-20 09:15] #2049 closed, assigned to nobody

[2018-11-20 09:18] Bat-Orshikh commented on #1741
@abrinckm thanks for the reply.
I'm using infura. And I can't get the pending transaction number.
So I just handled my nonce problem.

[2018-11-20 10:39] barakman opened #2058 "Function web3.eth.sendTransaction occasionally reverts when 'gas' is not provided"
I have just spent many hours trying to find which line of code in my contracts could possibly cause a revert.

Naturally, I started in the main contract's fallback function (invoked when transferring funds to that contract), and followed down the line to every other function invoked from it.

I have investigated by disabling different parts of the code, until arriving at the point where a single i

[2018-11-20 13:14] ghost opened #2059 "TypeError: Cannot read property 'slice' of undefined"
I have installed web3 using npm.
When I import web3 in my react application I get the error "TypeError: Cannot read property 'slice' of undefined"

Following are the version of packages I am using in my application
"webpack": "2.6.1",
"webpack-dev-server": "2.4.5",
"web3": "^1.0.0-beta.36",
npm: 5.6.0,
node: 8.11.4

![screenshot from 2018-11-20 17-03-31](https://user-images.githubusercontent.com/4

[2018-11-20 16:51] medied commented on #2017
@Aniket-Engg @obernardovieira thank you both for looking into this! I ended up upgrading web3 to 1.x.x and was able to get it working, safe to close this issue from my end

[2018-11-20 16:51] #2017 closed, assigned to nobody

[2018-11-21 01:30] chuanqin3 commented on #1776
Actually this `sudo` command solved my problem. weird... Usually I don't need to use it when install a package. But thanks anyway.

[2018-11-21 03:03] chuanqin3 opened #2060 "npm install error - installing web3 in macOS Mojave"
Hi, I always run to the error when tried `npm install web3`:
[code]
However, the weird thing is, if I tried to use `sudo npm install web3`, this problem will be gone, even this error message does not mention a thing about access...

I searched and it still does not look like an access problem. I have no problem with installing many other packages without using `sudo` (which I try to avoid per many

[2018-11-21 12:30] Alenius opened #2061 "'TypeError: t.XMLHttpRequest is not a constructor' when using web3.min.js"
Hello!

I am building an Azure function app with web3 for calling some smart contract. There is a problem with deploying to Azure using the web3-package because of scrypt. So instead i went for including web3.min.js like so:

    const Web3 = require('./web3.min.js');

When I deploy this to Azure or run it locally i get the error:

     'TypeError: t.XMLHttpRequest is not a constructor'

This seem

[2018-11-21 19:41] yzhang1994 commented on #1089
One possibility is that the blockchain node Metamask uses is corrupt / has false data. Found that error in my dapp today (metamask mainnet node) and it was causing the lookup of one constant `.call()` to fail about 5% of the time. The issue was fixed after switching metamask network to Custom RPC and connected it to a node that I myself am hosting, and the issue disappeared.

[2018-11-22 09:45] genisgetman commented on #1654
Even issue #1025 that been redirect from here are closed unresolved =(

[2018-11-22 13:17] genisgetman commented on #1025
Do you start Ethernode on local machine?
If yes, you should see the socket after starting in list on command "ss -l"
some like this:
```tcp   LISTEN     0      128        127.0.0.1:8546                                      *:*```
If you start the network in DOCKER you shouldn't see the line such above on local machine
but you can see socket in docker container wherein socket is perfomed
Just type

[2018-11-22 13:31] malesalazar35 commented on #1211
genial, fue lo unico que me funciono. gracias

[2018-11-22 16:37] NoahZinsmeister commented on #1536
Any update on this issue?

[2018-11-22 22:42] gabmontes opened #2062 "Unhandled Promise Rejection on 'sendRequest'"
When `.send()`'ing a contract method, web3 creates the handling logic, returns a `promiEvent` and finally executes the call at:

https://github.com/ethereum/web3.js/blob/0d54d94e637832abf97834e4fc444fbff87f874b/packages/web3-core-method/src/index.js#L581

Inside `sendRequest`, there is a call to `signTransaction`:

https://github.com/ethereum/web3.js/blob/0d54d94e637832abf97834e4fc444fbff87f874b/p

[2018-11-23 00:11] chuanqin3 commented on #2060
Today I took 2 hours to do a fresh reinstall of my macOS and it solved my problem. I hope my solution helps other people.

[2018-11-23 00:11] #2060 closed, assigned to nobody

[2018-11-23 02:45] wfoster232 commented on #1446
Awesome thanks!

[2018-11-23 02:54] libotony opened #2065 "new web3-eth-abi decodeLog throw error when the event's input are all indexed"
When the input of an event are all indexed, go-ethereum's JSON-RPC will response with data '0x', it will throw an error cause by the following code

[code]

I found the following test code, I assume `Line 82` should be `0x` not empty string

https://github.com/ethereum/web3.js/blob/0d54d94e637832abf97834e4fc444fbff87f874b/test/eth.abi.decodeLog.js#L70-L91

[2018-11-23 02:58] willfsays commented on #1446
Example, setting 'params' from example above as the account to make the call to web3 from in each batched call...

[code]

[2018-11-23 03:44] willfsays commented on #1446
Watch your gas costs - have run some tests and this code has a huge gas cost for some reason!

[2018-11-23 05:11] Aniket-Engg commented on #2059
Please put the related code snippet.

[2018-11-23 07:06] jsliu27 commented on #1119
您好，我想知道如何创建自己的web3，来实现链上支付，如果您知道，还请您多多帮助一下

[2018-11-23 10:43] yongloon opened #2066 "Can't find variable: btoa"
Hi, I am using web3 on react native... i am facing this error

`Can't find variable: btoa`

I tried to install btoa and atob via npm but it is not working.

[2018-11-23 11:17] ghost commented on #2059
When I import web3 in my application (Import Web3 from 'web3' ) and run it, I get the above one error.
But when I downgrade web3js to 0.20.6. It works fine.

[2018-11-23 14:56] xpepermint opened #2067 "Join forces with web3x"
Hey guys. I have a friendly proposal to join forces with https://github.com/xf00f/web3x. The code design is much cleaner and typescript works as it should. It's better for the community to have only one web3 version that we all love. @frozeman @xf00f

[2018-11-23 15:02] nivida commented on #2067
Hay, yes I agree with you it would be better to have just one project. I already contacted web3x and asked him to work together :)
Have you seen the changes in the ethereumProvider branch? I‘ve refactored a lot of the codebase.

Please have a look at my medium post about it:
 https://medium.com/@samuel_91690/my-first-months-as-the-maintainer-of-web3-js-7715470b7ef7

[2018-11-23 15:14] #2067 closed, assigned to nobody

[2018-11-24 21:54] fcubel commented on #1985
Hi all, did you manage to fix the problem? Using web3 in RN with Expo I get the error: Metro Bundler has encountered an internal error
ABI29_0_ ...
ABI30_0_ ...
and console message:
Failed building JavaScript bundle

[2018-11-25 18:52] hieudoan2609 commented on #2048
[code]

I'm not sure if I understand you correctly but I've changed to this and still receiving duplicated blocks?

[2018-11-25 19:09] gsalzer opened #2068 "string "genesis" not accepted as parameter identifying the block"
I use web3 1.0.0-beta.36 to connect to the parity JSON RPC interface.

According to the docs, blocks can be identified by the number or by one of the strings `"genesis"`, `"latest"`, `"pending"`.
It seems that `"genesis"` is not working:
[code]
Using `"latest"` or `"pending"` instead of `"genesis"` works, however.

[2018-11-25 20:00] nivida commented on #2068
Thanks for submitting this issue! I’ll fix it in the next release. You should be able to pass 0 to have the same behavior as you would pass ‚genesis‘.

[2018-11-26 04:24] h2g2forty2 commented on #1211
@kecondezo, THANK YOU! **_git config --global url.https://github.com/.insteadOf git://github.com/_**  solved my error 128. I am running windows10.

[2018-11-26 06:47] Aniket-Engg commented on #2066
@nyl9488 Please consider putting the related code

[2018-11-26 07:19] Aniket-Engg commented on #2048
You got me right. This seems an issue. Similar thread: https://ethereum.stackexchange.com/questions/61109/same-block-received-more-than-once-with-same-block-parameters

[2018-11-26 11:04] mcdee opened #2069 "Cannot send directly to HTTP provider"
In web3 0.x I could send requests directly to the provider with (for example) `web3.currentProvider.send({ jsonrpc: '2.0', method: 'evm_increaseTime', params: ['60'], id: 0 })` however attempts to do this with web3 1.0 are failing (and returning `null`).  Is there a new way of doing this with web3 1.0?

[2018-11-26 14:42] sawyna commented on #2065
I'd like to work on it.

[2018-11-26 15:43] e00dan commented on #1527
This issue should be reopened. With version **1.0.0-beta.36** (latest at the moment of writing) there's the same problem as @mastashake08 specified:

`TypeError: Cannot read property 'fromRed' of null`

If we think that downgrading to web3 1.0.0-beta.34 that @grimsa suggested was suitable solution that allowed for closing this issue, then something is not okay.

Can this be fixed in latest release

[2018-11-26 17:02] michaelsbradleyjr opened #2070 "node-scrypt security concern (URGENT)"
The maintainer of [node-scrypt](https://github.com/right9ctrl/node-scrypt/blob/master/package.json#L2) @right9ctrl has come under suspicion regarding an [injection attack in the event-stream package](https://github.com/dominictarr/event-stream/issues/116).

`node-scrypt` is used by [scrypt.js](https://github.com/axic/scrypt.js), which is used by web3.

cc: @axic

[2018-11-26 17:07] michaelsbradleyjr commented on #2070
Actually, this report was a bit premature, my apologies, as the `node-scrypt` package on npm is actually pointing to: https://github.com/barrysteyn/node-scrypt.

[2018-11-26 17:07] #2070 closed, assigned to nobody

[2018-11-27 01:02] pavlovdog opened #2071 "Web3 HttpProvider not works on Safari (Iphone, IOS 11.4.1)"
I've written a simple project which uses the Web3JS on the client-side with Infura endpoint. Everything works great on my Chrome / Firefox:

[code]

But when I'm trying to run the page on my Iphone's Safari - nothing happens:

[code]

Here's a simple [JSfiddle](https://jsfiddle.net/softblocks/eywraw8t/478628/) for illustrating the problem. For some reason, the `web3.eth.blockNumber` can't be loade

[2018-11-27 16:04] dmihal commented on #2036
This is an issue with your geth node, not with web3.

You may be able to fix this by running a full node instead of a light node, or by manually adding peers.

[2018-11-27 16:42] jpantunes commented on #2071
I had a look at your code and I think the issue is in the HttpProvider declaration, it should be composed on INFURA_HOST (e.g.: "https://mainnet.infura.io") + INFURA_PATH (e.g.: "/3567d988f7534c92bd2c0d42601a097a"). Removing the "v3" from the URI and running your code works.

[2018-11-27 18:14] jpantunes commented on #2038
@bruxo00 can you run web.version and check what the loaded library version is please?

I ran your code with web3@1.0.0-beta36 and it worked fine.

`ProBook:tcr EthDev$ node

undefined

undefined

Promise {
  <pending>,
  domain:
   Domain {
     domain: null,
     _events:
      { removeListener: [Function: updateExceptionCapture],
        newListener: [Function: updateExceptionCapture],
        e

[2018-11-27 21:14] dileepfrog commented on #2065
Confirmed same with 1.0.0-beta.36, appears to be a regression from unaffected 1.0.0-beta.35

[2018-11-27 21:47] mswezey23 commented on #1587
1) the `unsubscribe` method does exist
2) when the `id` is still `null`, unsubscribe doesn't work fully (callbacks are still functioning)

[2018-11-28 07:40] nivida commented on #2013
Thanks! I will add the minified UMD bundles on the next release (#2000) :-)

[2018-11-28 07:50] nivida commented on #1938
I think I will first just write the typings and port it to TypeScript after the stable release but I agree with you that type safety is an import thing! I will close this issue but believe types will be implemented as soon as possible :-)

[2018-11-28 07:50] #1938 closed, assigned to nobody

[2018-11-28 07:54] nivida commented on #1914
@birdofpreyru Yeah I know it should be released next month. Sorry for the long outstanding release but I have to clean up a lot of things before I can really maintain/fixing this lib.

[2018-11-28 07:59] nivida commented on #1838
@Levino Sorry I though Fabian will do this because he created the release. I will do it today sorry for the confusion.

[2018-11-28 08:13] #1885 closed, assigned to nobody

[2018-11-28 08:19] nivida commented on #1852
I'm closing this PR because of the PR #1966

[2018-11-28 08:19] #1852 closed, assigned to nivida

[2018-11-28 08:27] nivida commented on #2032
I'm closing this issue because it seems like it isn't an issue of web3.

[2018-11-28 08:30] nivida commented on #2028
I think this is not a bug related to web3. Please reopen it if you think it is and provide further information.

[2018-11-28 08:30] #2028 closed, assigned to nobody

[2018-11-28 08:32] nivida commented on #2061
This should be fixed with the PR #2000 please reopen this issue if not.

[2018-11-28 08:32] #2061 closed, assigned to nobody

[2018-11-28 08:34] nivida commented on #2058
Thanks for submitting this issue I will definitely test it! :)

[2018-11-28 08:44] nivida commented on #1906
I think this PR #1966 will solve your issue. Web3 has some problems with the socket connection.

[2018-11-28 08:52] nivida commented on #1760
Should be solved with PR #2000

[2018-11-28 09:01] nivida commented on #1683
I've closed this issue because of no further information are provided.

[2018-11-28 09:01] #1683 closed

[2018-11-28 09:02] #1617 closed

[2018-11-28 09:12] nivida commented on #1777
I think it should be solved with the PR #2000

[2018-11-28 09:15] #1664 closed

[2018-11-28 09:20] nivida commented on #1535
@d10r Yes but maybe you would like to deploy a contract with the contract.deploy() method and that's why the address field is optional. I will overthink this and maybe I move the deployment of a contract out of the Contract class.

[2018-11-28 09:23] nivida commented on #1400
@seunlanlege We are currently adding the typings directly to the web3.js repository (thanks @joshstevens19) currently they are maintained in the DefinitelyTyped repository. Maybe you can help him to write all typings :)

[2018-11-28 09:24] nivida commented on #1526
I've closed this issue because there already exists one.

[2018-11-28 09:27] nivida commented on #1603
@maroodb 0.20 will no longer be extended with methods. Please move to the 1.0 version of web3 :-)

[2018-11-28 09:34] nivida commented on #1476
I've closed this issue because of inactivity.

[2018-11-28 09:34] #1476 closed

[2018-11-28 09:36] nivida commented on #1458
This should be solved with the PR #2000

[2018-11-28 10:31] #1988 closed, assigned to nobody

[2018-11-28 10:32] nivida commented on #1986
This should be fixed with the PR #2000

[2018-11-28 10:35] nivida commented on #1492
@sashberd Sorry for the delayed response but I thought fabian will help out. I will have a look at the cdnjs issue thanks!

[2018-11-28 10:38] barakman commented on #2058
@nivida:
Thank you.

To be honest, after applying the `gas: Number.MAX_SAFE_INTEGER` workaround, I have encountered a more critical problem.

When running a stress-test (which invokes `sendTransaction` over thousands of iterations), I receive the following error from Ganache:
[code]
This error occurs sporadically, which makes it very hard to investigate on client side (i.e., my side).
It does not

[2018-11-28 10:42] nivida commented on #1482
I've closed this issue due to inactivity.

[2018-11-28 10:42] #1482 closed

[2018-11-28 10:47] nivida commented on #1452
Does this issue still happen in the latest release? @moodysalem

[2018-11-28 10:49] nivida commented on #1451
sendAsync will no longer exist and also the provider's methods are not a part of public API that's why they are not documented. I think it would be good to just use the send method. Because of this I will close this issue.

[2018-11-28 10:49] #1451 closed

[2018-11-28 10:50] nivida commented on #1443
Does this still happen in the latest release? @solohin

[2018-11-28 10:51] nivida commented on #1438
@kilmas & @i-am-vivek could you provide a code example too?

[2018-11-28 10:52] nivida commented on #1434
@rodrigosaraiva Does this still happen in the latest release?

[2018-11-28 14:51] pavlovdog commented on #2071
@jpantunes thanks for your answer! But it doesn't help :/ The result is the same: if you're running this fiddle (even with changed Infura path) at desktop Chrome - it works. If you're running it on the Iphone's Safari - the `web3.eth.blockNumber` is equal to 0 every time.

[2018-11-28 15:29] jpantunes commented on #2071
@pavlovdog  do you have Metamask installed in your desktop Chrome? This injects the web3 library into the jsfiddle and makes the code work.

I tried with Safari and could reproduce your problem and then tried in a new Chrome install (without Metamask) and had the same behaviour. Finally in Chrome with Metamask and Brave your code works fine.

[2018-11-28 16:44] d10r commented on #1535
Intuitively I would expect that if an address parameter is given and no (matching) contract is located there, it fails.
When using for deployment, the address parameter will likely not be set, so that should not be an issue.

[2018-11-28 18:05] tochie commented on #1654
@nivida please where is the link to the other issue since you closed this one ?

[2018-11-28 19:58] roschler commented on #1672
Still broken.  Should go to:

https://github.com/ethereum/web3.js/tree/1.0/packages/web3-utils

Gets a 404 error instead.

[2018-11-28 20:15] cj-zeiger commented on #1438
I can add some additional information.

When I first started working with Web3.js I was ignorant to a lot of how Ethereum transactions worked. What was happening was my transaction was being broadcast but the node I was broadcasting to was not adding the transaction in the transaction pool. This can happen for a number of reasons:

- Transaction pool of the node is full and the gas price is too sm

[2018-11-28 20:34] spechaker opened #2072 "Cannot find module 'web3-requestManager': web3@1.0.0-beta.36 in MAC"

[2018-11-28 20:42] spechaker commented on #2072
I've installed "npm i web3"  (web3 1.0.0.beta.36)
I'm using npm 6.4.1 and node 10.14.0
I've imported web3 on my project. My project is using node.js for Firebase functions.
  const Web3 = require('web3')
And I never used Web3 at all. only declared the web3 object.
But I'm getting error when I deploy to my server:

     Function load error: Code in file index.js can't be loaded.
     Did you list a

[2018-11-29 04:55] nivida commented on #1543
@beether I will implement the Winston logger for a better and consistent error handling.

[2018-11-29 05:03] nivida commented on #1485
@gkd720 Sorry that you made this experince with web3.js I'll try to fix and improve the lib as much as possible but there is a lot to do. Hopefully you will use it after the 1.0 stable release big things are coming. :-)

I'm closing this issue for now.

[2018-11-29 05:03] #1485 closed

[2018-11-29 05:06] nivida commented on #1433
@1blockologist Thanks for submitting this issue but could you please add a example to reproduce this behavior? :-)

[2018-11-29 05:07] #1433 closed

[2018-11-29 05:22] nivida commented on #1302
I think it would maybe also a good idea to use flow instead of typescript. I've ported web3 now to es6 and I think it would be much easier to get internal type safety with flow. 🤔

[2018-11-29 05:27] nivida commented on #1295
I've closed this issue because of inactivity.

[2018-11-29 05:34] nivida commented on #1259
@helxsz this should be fixed after the PR #2000

[2018-11-29 05:44] nivida commented on #1248
This should be fixed with the PR #2000 thanks to @joshstevens19 who is writing the typings!

[2018-11-29 05:46] nivida commented on #1229
@gulbinas could you please add a code example? :-)

[2018-11-29 05:56] nivida commented on #1377
This should be implemented when the PR #2000 is merged and released.

[2018-11-29 06:00] nivida commented on #1190
@bwheeler96 Sorry that you didn't got a response for a long time. Because we are now "close" before the stable release I will let the 1.0 version be on NPM as it is right now. But yes I agree with you the 0.20 should have been on NPM as stable version :-)

[2018-11-29 06:00] #1190 closed

[2018-11-29 06:05] nivida commented on #1239
Yes the "newHeads subscription" gets fired each second with the HTTP provider because it does not support subscriptions. If you're using and WebSocket or IPC provider it uses the real "newHeads" subscription and then it will be triggered on each head. But yes it's wrong that it increases the confirmation counter.

This should be fixed with the PR #2000

[2018-11-29 06:05] #1239 closed

[2018-11-29 06:23] nivida commented on #1100
I fixed this in the PR #2000.

[2018-11-29 06:28] nivida commented on #1080
I'm closing this issue due to inactivity.

[2018-11-29 06:45] nivida commented on #971
I've closed this issue due to inactivity. Write a comment here and tag me if this error still occurs.

[2018-11-29 06:45] #971 closed

[2018-11-29 06:46] nivida commented on #952
Does this error still occur in the latest version? @masterial

[2018-11-29 06:49] nivida commented on #854
This should be fixed with the PR #2000

[2018-11-29 06:53] nivida commented on #1090
I'll close this issue because web3.eth.coinbase does not exists please have a look at the documention (https://web3js.readthedocs.io/en/1.0/web3-eth.html) 😄

[2018-11-29 06:53] #1090 closed

[2018-11-29 07:00] nivida commented on #872
Could you please provide further informations? for example a code snippet? :)

[2018-11-29 07:03] nivida commented on #844
This shoud be fixed with the PR #2000

[2018-11-29 07:28] nivida commented on #579
I've closed this issue because it seems to work with 0.20. If this error still occurs in the 1.0 version then please drop a comment here and tag me.

[2018-11-29 07:32] nivida commented on #560
I'm closing this issue because we can't provide a service discovery in web3. It has to be done by the dapp developer it self sorry.

[2018-11-29 07:32] #560 closed

[2018-11-29 07:33] levino commented on #1248
@nivida Which typings are you talking about?

[2018-11-29 07:38] nivida commented on #540
I'll add full support of ENS as soon as possible. Currently we have only the ENS module and I will add ENS support for all from or to properties/arguments too.

[2018-11-29 07:45] nivida commented on #532
I think you could "out-gassing" the transaction as described here: https://ethereum.stackexchange.com/questions/31298/is-it-possible-to-cancel-a-transaction. But I don't think we will implement a method for "cancling" a transaction in web3 🤔

[2018-11-29 07:47] nivida commented on #528
I switched to eslint and prettier as you can see here: #2000 :-)

[2018-11-29 07:48] nivida commented on #518
I've closed this issue because it works if the personal api is activated in geth or parity.

[2018-11-29 07:48] #518 closed

[2018-11-29 07:55] nivida commented on #492
@frozeman I think we can close this issue because of the EthereumProvider right?

[2018-11-29 07:55] nivida commented on #452
I've closed this issue due to inactivity.

[2018-11-29 07:55] #452 closed

[2018-11-29 07:56] nivida commented on #441
I've closed this issue because we are using now the ABICoder of ethers.js.

[2018-11-29 07:56] #441 closed

[2018-11-29 08:53] sharif2008 commented on #1138
@peculiarity @Mobelis  how could I add the feature in already running Geth?

[2018-11-29 08:54] wighawag commented on #532
Thanks for looking at the issue,

The proposal here was not to cancel a tx after it has been broadcasted (as you say this is not really possible without incurring gas cost) but **before** it is approved by the user (so while the signer is waiting for the user to approve).

This was needed for my application which was expecting user to approve in the next minute of showing the approval popup as if

[2018-11-29 08:59] Asone commented on #492
@nivida : does this mean we can provide `ETHEREUM_SOCKET` env var with current web3 release ?

[2018-11-29 09:04] nivida commented on #532
Oh sorry I got you wrong. I will overthink it and maybe implement it in a future version of web3. 🤔

[2018-11-29 09:06] nivida commented on #492
Sorry I did not notice that we are talking here about the node environment I thought it would be about the browser. But yes I would like to have something for the node environment too because we do have a similar thing in the browser with ```window.ethereumProvider```. @Asone

[2018-11-29 09:17] nivida commented on #1248
@Levino He has currently just implemented the typings for web-utils and there is an open PR for web3-bzz maybe you can help him or move the typings from DefinitelyTyped into the web3.js repository. I would like to have them directly in the repository because this way I can guarantee that they are always up to date. The issue above should be fixed because of the refactoring and the typings Josh is

[2018-11-29 09:20] jpeletier commented on #1302
That's great! TypeScript is a superset of ES6, so all that ES6 is already TypeScript!🙂. This means you can gradually add types without having to type everything at once.

Here are some comments about TypeScript:
* Faster
* More type definitions
* Bigger community
* Open development
* Better documentation

In my opinion, this is where the community is going. Big projects within Ethereum, such as [E

[2018-11-29 09:22] Snehasispanigrahi commented on #1802
My web3 version is 0.20.6. And throws this CORS issue: Access to XMLHttpRequest at 'http://localhost:8545/' from origin 'http://127.0.0.1:8080' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: The value of the 'Access-Control-Allow-Credentials' header in the response is '' which must be 'true' when the request's credentials mode is 'include'. The cr

[2018-11-29 09:26] nivida commented on #1302
@jpeletier Thanks yes I know TypeScript well I was doing before internall cross platform mobile apps with it and I really like it. But I think it's always good to do some research and to have the proof that it is exactly what we want for this specific use case :)

Thanks for the comparsion I will definitely have a look at it!

[2018-11-29 10:01] levino commented on #1248
I repeatedly said and it is best practice to **only have the type definitions at definitely typed**. You should never again bring type definitions back into this very code base right here. The only exception for this rule is, if you actually write the code in typescript.

[2018-11-29 10:20] joshstevens19 commented on #1248
@Levino Hey dude, I have to say I completely disagree. I do agree types say quote `If you are the library author and your package is written in TypeScript, bundle the autogenerated declaration files in your package instead of publishing to DefinitelyTyped.` - but this would work in a standard `js` project.

At the moment the typing's NEVER get kept in date, someone does a PR in `web3.js` and you c

[2018-11-29 10:32] levino commented on #1248
[I removed the type defintions](https://github.com/ethereum/web3.js/pull/1660) after a long discussion because they were broken (as in "You were not able to use `web3` in a typescript project without monkey patching the broken type defs, shipped with `web3`) They were broken because there are no automated tests for the type definitions in this repo here. There cannot be. Definitely typed has such

[2018-11-29 10:35] levino commented on #1248
One other thought to keep in mind: This library is written in Javascript, **because the people contributing to it are not able to write Typescript code**. If they were, the library would be written in Typescript. Now you want them to review type definitions for a usage of this library in Typescript projects. You see the problem?

[2018-11-29 10:44] joshstevens19 commented on #1248
Thanks for your quick response @Levino. I completely understand what you are saying.

`Everyone who is making a contribution to web3 will have to be a typescript pro from now on` - I disagree to declare types is easy and if we add some instruction to do so then we can make it simple for them. If they did `not` update the types again you are in the situation where you have broken types, so the expe

[2018-11-29 10:44] levino commented on #1248
And one more thing: PRs to DT get merged pretty quickly when they are good. Most of them aren't though.

[2018-11-29 10:48] levino commented on #1248
This is a false assumption. First you code javascript. Then you code typescript. Then you learn how to produce type definitions. Devs who are able to write type defintions are a subset of the devs who have mastered Typescript, not the other way round. This is an opinion of mine and we reached a point were we have two different opinions and I have not further arguments to give. I made my point.

[T

[2018-11-29 10:52] joshstevens19 commented on #1248
@Levino but we have under 10 regular contributors.. do you not think this would bring more good then bad? Say yes some `js` need some support with types but with not many people actually contributing this should not be that hard to maintain. The main advantages it brings are huge over the valid points you have stated. For the over 200k weekly downloads web3 gets I think this could solve a lot of `

[2018-11-29 10:54] levino commented on #1248
I get your argument: These 10 contributors should be able to learn typescript. I disagree with your conclusion: Lets make them learn typescript and then maintain the type definitions for this JS code base. I think the only conclusion can be: Lets make them learn typescript and write everything in typescript. With `allowimplicitany` you can just rename every file to `.ts` and be done. Project is no

[2018-11-29 10:58] joshstevens19 commented on #1248
I think some other milestones have to be reached first before this gets done like actually release of `1.0.x` none beta. I am a big supporter of getting `web3` in `ts` and would happily go through the entire thing and change everything to `ts` but i think that's a bigger discussion to have.

Really appreciate your view though!
Cheers Levin 👍

[2018-11-29 11:07] levino commented on #1248
I am not voting to move this here to typescript. I want to show that your idea to maintain the type defs here is a mistake.

Publish type definitions with your package **iff** your is written in typescript.
Let others maintain and publish the definitions **iff** your package is not written in typescript.

As this package is not written in typescript (and possibly never will be), it is infeasible t

[2018-11-29 11:09] levino commented on #1248
And one thing about the argument with BigNumber.js: The pain you experienced was not because the type defs where maintained in another repository, but because bignumber.js is not written in typescript.

[2018-11-29 11:11] macbem commented on #1248
A popular example of a lib that's not written in TS and maintains its own type defs is [Redux](https://github.com/reduxjs/redux) - it seems to work fine for them. Redux is way simpler than web3.js, but it also has way more contributors and downloads than web3.js.

[2018-11-29 11:17] levino commented on #1248
That might be. But it is against best practice and I explained in detail why the categorical imperative says it is a bad idea. Only because some people do it does not mean that we have to do it too.

[2018-11-29 11:38] macbem commented on #1248
Who defined the best practice you're talking about? One of the most important libs in the industry does it differently without problems, so I don't really see how it's against "best practice". TypeScript docs don't discourage such approach either, so I think that it's just your opinion and not a sacred truth that we should follow.

I've used web3.js with TypeScript and each time I've written my ow

[2018-11-29 11:40] joshstevens19 commented on #1248
`Let others maintain and publish the definitions iff your package is not written in typescript.` - With this view we will never ever have solid types for `web3` so `ts` development with it becomes unstable or having to use `any` everywhere 👎 The likes of Redux do this because of the `pain` it causes relying on others to maintain the types, and as @macbem said they have far more contributors and ov

[2018-11-29 11:42] macbem commented on #1248
@joshstevens19 I'd suggest locking this thread to avoid further flamewars.

[2018-11-29 11:45] levino commented on #1248
[Please read the docs more carefully.](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) I quote (again and again and again):

[2018-11-29 12:00] roschler opened #2074 "Info requested: what code is configuring the _fireError event listener? Getting "Invalid JSON RPC response" errors"
# Environment:

Ubuntu 18.04 Bionic Beaver
Node.JS v8.3.0
web3-utils v1.0.0-beta.36
web3 v1.0.0-beta.36
Ganache GUI v1.2.2

NOTE: I have spoken with at least 2 other people on the Web that are having similar problems.

I recently upgraded to Truffle 5.0 beta.  Ever since then I have started getting frequent "_Invalid JSON RPC response_" errors when running queries against Ganache while running my

[2018-11-29 14:16] treeder commented on #1248
@Levino not trying to pick sides here, but you must agree that breaking web3.js for typescript users on a regular basis is not a good thing?  Regardless of what the TypeScrypt docs say. For better or worse, a lot of people are using TypeScript that also use web3.js.

It sounds to me like the only option here to prevent the regular breakage is to include the ts file in this repo so it's always in s

[2018-11-29 14:52] roschler commented on #2074
I found it.  The usage references to `_fireError()` are in the node_modules directory, which was excluded from my search path.  I added the node_modules directory to my search path and now I see the references to that function.

I would still appreciate comments on the overall problems I'm having with "Invalid JSON RPC response" errors.

[2018-11-29 15:33] levino commented on #1248
You all want to have typings that are up to date with the current interface of the library, right? Guess what: There is only one (just one!) way to achieve this: Implement the library in typescript and generate the typings automatically.

Even if you maintain the typings here, **they will be out of sync all the time**. As I said, the typings in this repo **were broken**. There are several reasons

[2018-11-29 15:34] levino commented on #1248
Unfortunately in the typescript docs they do not explain why you should publish the typings via DT when you write your package in Javascript, but I think I gave enough reasoning. Additionally to that: Why do you think that they recommend that?

[2018-11-29 15:42] nivida commented on #1248
I think I do understand TS it is not that rocket science thing to do types.

Maybe we could test them in our CI too.

This should not happen if I review a PR.

I think you should answer this question :)

[2018-11-29 15:54] levino commented on #1248
So you will from now on personally review all PRs? That is going to scale well.

Yes. That is quite easy. What is more easy though is to rewrite the whole codebase in typescript.

It will happen. Or you will drive away open source contributors because they create a valid PR which never gets merged because "we are still waiting for the typings".

I did explain my thinking. Three times. I repeat mys

[2018-11-29 15:55] levino commented on #1248
And another question for you all: What about flow? Should we add flow typings too? Facebook is using flow!

[2018-11-29 16:06] nivida commented on #1248
Yes thats what I'm doing currently and will do as long as I work for this lib.

I think we can test them with for example https://github.com/Microsoft/dtslint

Then I have to write the types by my self and I think that will not happen so often.

No you didn't you were just quoting the TS documenation but you never really explained the thoughts behind it. The TS documentation does not explain it ei

[2018-11-29 16:08] joshstevens19 commented on #1248
I really am trying to find it hard to understand why you are so passionate in not having them in the web3 lib itself.

We do not have many contributors as it is and we can make sure its part of the contribution guidelines. I am sure a few types is not going to make people fear or stop contributing at all, does that stop all of 500 contributors to Redux?

We can also make sure it's tested in our CL

[2018-11-29 17:04] levino commented on #1248
Just do what you want if you do not want to listen to reason. This is going to be a fuckup! At least I told you so.

[2018-11-29 17:06] joshstevens19 commented on #1248
oh and `moment` has their own types and it's a JS project

https://github.com/moment/moment/blob/develop/moment.d.ts

are `moment` and `Redux` both a "fuckup"? @Levino I have stated valid points here.. you have not really replied to any of them. 👍

[2018-11-29 17:13] levino commented on #1248
I understand your argumentation. You will from now on review every pull request and your super powers will make sure that every change to the API of the library or any of the sub-packages will be reflected 100% in the typings here in the repo. I say: You will fail! And you say: No I have my superpowers. Which is fine. But I will not waste more time on this. Do it then. It will be painful and hard

[2018-11-29 17:14] levino commented on #1248
And btw: If at some point you decide to rewrite the whole codebase in TS, that does not count as a success, but a fail too, right? Because that is what you want to avoid with your approach.

[2018-11-29 17:16] levino commented on #1248
Ah and I forgot to predict something: You will have hundreds of issues from Windows-using script kiddies who cannot use Typescript right but will blame you for "incorrect typings". They will all go on the backlog and jam it.

[2018-11-29 17:25] treeder commented on #1248
This is already happening @Levino , this is what this discussion is all about. Apparently all of us TypeScript users are "script kiddies" and yes, we're complaining about this library breaking every time you update it. If you want us "script kiddies" to stop complaining, then just do the right thing and fix the problem. You have a bunch of people saying they'll even help fix the problem, which you

[2018-11-29 17:31] levino commented on #1248
I maintain (with others of course) the `@types/web3` package. If the maintainers of `web3` would drop typescript support, they could just close every typescript related issue and save time and money.

**And I repeat**: If you all want that this library supports typescript itself, then **JUST WRITE IT IN TYPESCRIPT!**

[2018-11-29 17:31] VictorVicente opened #2076 "Support for cookies on HttpProvider to handle sticky sessions"
Version 1.0.0 does not support sticky sessions. This was solved in 0.20 on #1665.

[2018-11-29 17:32] Asone commented on #1248
Well, i've been having this page opened for the whole afternoon and i must admit i'm quite amazed by how this has gone to some flames.

As JS & TS developper, in normal times, i would have been supporting separated repo for providing types,  as requested by @Levino, as i rather prefer avoiding to have any broken type provided by the original repo, third-party packages being easy to remove without

[2018-11-29 17:34] joshstevens19 commented on #1248
@Levino I think people who do this like `moment` and `redux` are doing just fine with this approach. Big repos with millions of downloads a day do this and succeed without `superpowers` 😃

`Ah and I forgot to predict something: You will have hundreds of issues from Windows-using script kiddies who cannot use Typescript right but will blame you for "incorrect typings". They will all go on the backl

[2018-11-29 17:34] levino commented on #1248
If everybody here speaks Typescript then there is no reason not to write this library in Typescript.

**I repeat again**: One can **incrementally** migrate a library to typescript. But that requires some Typescript skills.

[2018-11-29 17:36] #2076 closed, assigned to nobody

[2018-11-29 17:39] nivida commented on #1248
I will lock this issue now because I think we already seen all the arguments.
Thanks everyone for the effort to be a part of this discussion!

[2018-11-29 17:46] xoxoj commented on #1089
version 1.0.0-beta.33 still has this problem.
Anyone has already solved this problem?

[2018-11-29 18:14] k06a commented on #1089
@xoxoj this problem means you try to call the method of a contract which is not existing on this address.

[2018-11-29 18:23] xoxoj commented on #1089
@k06a I am sure it has

[2018-11-29 20:58] patidarmanoj10 opened #2077 "Bignumber issue in web3 invalid number value (arg="_value", coderType="uint256", value=10000000000000000)"
Getting  invalid number  error when calling a method of a contract which take uint256 argument.

Example:
myContract.methods.transfer(accounts[1], 1e16).send({ from: accounts[0] })

1) When sending value 1e16 it throw error
web3 invalid number value (arg="_value", coderType="uint256", value=10000000000000000)
2) When sending value 10000000000000000 throw same error
3) When sending value 1e16 as he

[2018-11-30 01:08] ianhhhhhhhhe commented on #872
Here's the code:

[code]

And this code is imported by a mobile application that I was developing. All I could remember was when I was not able to connect to my eth-node, this error would be threw.

I googled it, and find some people have the same error with similar situation -- they got the wrong url or they forgot to open their services. I think a http error might be better not crashing the whol

[2018-11-30 03:12] nivida commented on #2077
Thanks for submitting this issue!
I think this an issue of the new AbiCoder from ethers.js I will update the ethers.js package and test it.

[2018-11-30 03:27] nivida commented on #1993
Could you please provide the complete code and also which broser or node version you're using? thanks :-)

[2018-11-30 03:35] nivida opened #2079 "Testing of the issues with the label "clarification needed""
This issue is a gitcoin bounty.

#### ToDo:
- [ ] Testing of the issues with the label "clarifaction needed"
- [ ] Describe when this issue occurs
- [ ] Tag me (@nivida)
- [ ] Reference the issue here

#### Description template:
[code]

[2018-11-30 03:44] nivida opened #2080 "Answering issues with the label "support""
This is a gitcoin bounty.

#### ToDo:
- [ ] Answer the question
- [ ] Tag @nivida if you couldn't find a solution and describe it.
- [ ] Tag @nivida if the documentation is wrong and add a URL to the docs and describe what's wrong.
- [ ] Tag @nivida if the documentation should be improved and describe how.
- [ ] Reference the issue here.

[2018-11-30 03:48] nivida opened #2081 "Solving of the issues with the label "documentation""
This is a gitcoin bounty.

#### ToDo:
- [ ] Fix the documentation.
- [ ] Create a PR with the fix and format the title like this: ```[documentation] Typo```
- [ ] Reference the issue in the PR and here.
- [ ] Be sure you tested it if the change describes another behavior.

[2018-11-30 05:11] jsliu27 commented on #2017
contract.transfer is undefined
web vue + web3
web3@0.20.X
@medied

[2018-11-30 05:51] klivin commented on #1147
I was stupid and did the same thing, @rstormsf.   Would be nice for missing bytecode to throw an exception rather than return null...

[2018-11-30 08:57] niroj08 commented on #1270
Any status on this issue??

[2018-11-30 10:16] princesinha19 commented on #1993
@nivida I have solved the issue.

[2018-11-30 10:16] #1993 closed, assigned to nobody

[2018-11-30 10:26] zyq20130111 opened #2083 "web3.eth.getBlockNumber().then(console.log) result is zero"
my code is following:
var web3 = new Web3(new Web3.providers.HttpProvider('http://localhost:8545'))
web3.eth.getBlockNumber().then(console.log);

web3.eth.getBlockNumber().then(console.log)  this code show zero, but my node sync block number is 4523458  why ??

[2018-11-30 12:18] nivida commented on #1270
@niroj08 I can recommend you to change to the 1.0 version of web3. Currently it's not clear which patches we will be releasing for the 0.20 version.

[2018-11-30 12:26] nivida commented on #2083
I've tested it, something is strange with the getBlockNumber method.
I apologize for the troubles.

[2018-11-30 13:15] nivida opened #2085 "Add TypeScript typings for all packages"
This is a gitcoin bounty.

#### ToDo:
- [x] Add type definitions for all modules
- [x] Add dtslint tests for all modules
- [x] Add typings to PR template check list
- [x] See if there's a coverage tool for dtslint tests

[2018-11-30 14:42] Huanzhang89 commented on #2059
Hi @awprasad could you elaborate a bit on the issue?

After `import Web3 from 'web3'` do you call `Web3`?

Also please note that since web3 v1.0.0 is a major version upgrade, it contains breaking changes. If you have code in your application that is using the old version 0.20.6 of Web3, you will have to refactor your code to work with the new updated web3 library

[2018-11-30 17:34] owocki commented on #1477
@joshstevens19 @nivida hi from Gitcoin!  Do you mind if we put a bounty on this to get some extra 👀 on it?  we'd happily fund it, we rely on web3js for quite a bit :)

[2018-11-30 17:59] nivida commented on #1477
@owocki I'm in the middle of the refactoring and currently writing all the tests. Because of this, it should be done against the ethereumProvider branch but I think it's too early. I'm already in contact with Scott Moore and I sent him some bounties I know that they could be done without relying on the ongoing refactoring.

Bounty issues: https://github.com/ethereum/web3.js/issues?q=is%3Aopen+is%3

[2018-11-30 18:02] nivida commented on #1477
@captnseagraves Sorry for that. I will do this with priority 1 after I merged the ethereumProvider branch. I have to write 300+ tests and to be sure all behaviors are the same as described in the documentation. If you're interested in the ongoing refactoring please have a look at the PR #2000.

I give my best to be as fast as possible.

[2018-11-30 18:10] patidarmanoj10 commented on #2077
@nivida . More details-  I tested in old version of web3 .  This is not in issue in beta.35 and beta.34 .  Seems like breaking in beta.36 only.

[2018-11-30 18:16] nivida commented on #2077
@patidarmanoj10 Yes this is because we use the new AbiCoder of ethers.js since beta36. This should be fixed quickly and released with the next build thanks for testing it. My plan is to write the AbiCoder by my self after the 1.0 stable release because it's dangerous to have such an important part of this lib as external dep. :-)

[2018-11-30 18:56] Huanzhang89 commented on #2072
Hi @spechaker, could you elaborate on what your deployment script does?

This error seems pretty strange since the actual module is called `web3-core-requestmanager` and you can see from the error message that it is being required on line 26 of index.js inside web3-core.

I just did a fresh install of web3@1.0.0.beta.36 and checked out the line. It shows `var requestManager = require('web3-core-re

[2018-11-30 19:03] Asone commented on #2046
From what i read of the sources of Web3 there is no way right now to have multiple providers.

`setProvider` is defined here :

https://github.com/ethereum/web3.js/blob/822cf8d76a04b85c2b91842dc6efb1058b7aabb5/lib/web3.js#L86

it sets the provider for its dependency, Request manager using eponym method which is defined here :

https://github.com/ethereum/web3.js/blob/822cf8d76a04b85c2b91842dc6efb1

[2018-11-30 19:23] spechaker commented on #2072
Hi @Huanzhang89
Thanks to check out my question.
`var requestManager = require('web3-core-requestmanager');`

It seems correct.
But when I deploy to my firebase project, it's the same error.
And there is no the folder at /user_code/node_modules/web3/packages/
Maybe, does it has some issues on web3.js?

PS: When I install web3, there are many warnings. is it the same with you?

[2018-11-30 19:29] spechaker commented on #2072
@Huanzhang89
[Warnings.txt](https://github.com/ethereum/web3.js/files/2634727/Warnings.txt)
Here is the warning logs

[2018-11-30 19:35] Huanzhang89 commented on #2057
Hi @AhmedAdelFahmyHassanIbrahim. Have you checked out this similar issue? https://github.com/ethereum/web3.js/issues/1783#issuecomment-405650471

@nivida pasted a pretty detailed step by step guide to solving the installation issues on windows. Could you try that out and let me know if it solves your problem?

[2018-11-30 19:41] Huanzhang89 commented on #1894
Hi @nil3sh99 , like @leonprou suggested `npm install web3` should work (Please refer to the readme at https://github.com/ethereum/web3.js)

@ateebahmed Could you elaborate on the issue? What operating system are you running on, also what versions of `node` and `npm`?

Some error logs would also be helpful to pin-point the exact issue you are experiencing.

[2018-11-30 20:28] Huanzhang89 commented on #2072
Yep I get quite a lot of warnings too but don't worry they are quite common when installing npm packages.

Could you confirm that your project runs locally? Could you paste your package.json to show the version of web3 listed there. Also your deployment script.

Another thing you can do is try to build the project locally without deploying to see if it builds correctly at least. If it does, we can

[2018-11-30 20:33] Huanzhang89 commented on #2072
https://firebase.google.com/docs/functions/handle-dependencies

Looking at the docs for firebase, make sure you have the correct version of web3 listed in your `package.json`

[2018-11-30 21:01] gabmontes commented on #2077
@nivida what version of `ethers.js` do you think is good?

[2018-11-30 22:41] captnseagraves commented on #1477
@nivida No worries. We have a work-around in the meantime. For anyone else who lands here before the fixes are submitted I found this to work regardless if the error is present or not:

[code]

Excited to have this patch come through! Thanks nivida!

[2018-12-01 11:05] Meabo commented on #2057
Hi @AhmedAdelFahmyHassanIbrahim, I am on windows aswell but I could not reproduce your issue.
I typed : npm install web3 then npm list web3
I have this output :  web3@1.0.0-beta.36

I used Windows Powershell to install (if it can helps you).

Maybe this workaround can fix your error:
- Change your package.json dependencies web3 to "latest"
- npm install

[2018-12-01 12:11] nivida commented on #2077
@gabmontes Hopefully the latest version has fixed it. (4.0.15)
I will test it by own asap.

[2018-12-01 12:39] Meabo commented on #2083
Hi @zyq20130111 @nivida

I reproduced the following steps:
- truffle console
- let Web3 = require('web3')
- let web3 = new Web3(new Web3(YOUR_INFURA_MAINNET_ENDPOINT))
- web3.eth.getBlockNumber().then(console.log)
Output : 6806450

web3 version:  web3@1.0.0-beta.36

I think there is no issue here. Only need to upgrade your web3 version.

[2018-12-01 14:10] nivida commented on #2083
@Meabo I've tested it in the browser and it looks like a bug. Thanks for your additional information!

[2018-12-01 15:53] Meabo commented on #2083
@nivida this is still a bug ? I can't reproduce the issue. Tested it in the browser : no error.

[2018-12-01 16:30] pavlovdog commented on #2071
@jpantunes yeah, I've it installed, but I don't think that it matters. First of all, I've tried to run the Fiddle inside the private mode (MetaMask disabled) - it works. After that, I've tried to run the Fiddle inside Opera (MetaMask not installed at all) - also works fine.

[2018-12-01 16:51] nivida commented on #2083
Yep tested it again no error too. Sorry for the confusion.

[2018-12-01 16:51] #2083 closed, assigned to nobody

[2018-12-01 16:51] Meabo commented on #2068
@nivida I made a PR (as it's an easy one)

[2018-12-01 16:55] nivida commented on #2068
Sorry I just checked the JSON RPC API of parity and geth:
https://wiki.parity.io/JSONRPC-eth-module
https://github.com/ethereum/wiki/wiki/JSON-RPC

The string genesis is not supported it's called earliest. This is an issue of the documentation.

[2018-12-01 16:57] jpantunes commented on #2071
@pavlovdog, so how are you loading the web3 library into the jsfiddle page without metamask?

It's my understanding that Opera has a builtin wallet with a web3 provider (https://blogs.opera.com/mobile/2018/07/opera-launches-first-browser-with-built-in-crypto-wallet/) so that might be why it works but I haven't tried it myself. I'm at a loss why would Chrome work with the extension disabled so my a

[2018-12-01 17:15] digitaldonkey commented on #1996
Please check if Infura actually supports this request type.
As far as I know Infura doesn't support all filter related functions via http.

[2018-12-01 17:21] spechaker commented on #2072
Hi @Huanzhang89
Here is json file

[package.json.txt](https://github.com/ethereum/web3.js/files/2636082/package.json.txt)
And it works on locally.
my testing function is simple:

`const web3 = new Web3(Web3.givenProvider)`

It's really strange...
What do you think about this?

[2018-12-01 19:15] MakeHoney opened #2087 "BigNumber Error: new BigNumber() not a base 16 number"
I got a weird error.
___developing environment: truffle + geth (latest stable version)___

1. deploy my contract to geth private network via truffle
[code]
as you see,
SongManager contract instance's address is __0xc5fb859b80b3fd6a463a542d3a16e105a2771454__
plus, my account address is __0xead8112407df0c21d4af93a5632bcdd069f57063__

2. To use contract's methods in truffle console environment, load

[2018-12-01 20:40] arku commented on #2081
I've fixed #1924 in #2088

[2018-12-01 23:15] joshstevens19 commented on #2085
Already on this as we know (as I was the one who suggested this change). Will wait for bounty to be created but will carry on with the tasks 😃

[2018-12-02 02:12] nivida opened #2089 "Create live examples for the documentation examples."
## Documentation Feature Request:
Currently, many developers have trouble to understand how to interact with the ethereum blockchain over Web3.js/JSON-RPC. The documentation is not bad but if you just started to build a Dapp it's hard to do the first steps.

That's why I would like to have live examples with JsFiddle.

#### ToDo's:
- [ ] Check if ethereum-js really works otherwise have a look at e

[2018-12-02 02:14] nivida commented on #2089
Note for me: This would be a nice bounty for Gitcoin 🤔

[2018-12-02 10:07] nil3sh99 commented on #1894
Hi @Huanzhang89 thanks for the reply...Will try to do it again, but my schedule is lil tight right now (my high school exams are going on :P).
So will be closing the issue after testing in a couple of days.

[2018-12-02 21:40] niklops opened #2091 "web3.eth.getAccounts() returns empty array"
Hi,
I'm using MetaMask and Ropsten provider.

Trying to get list of accounts by this code:
[code]

, but always result is empty array.

My metamask is enable and logged in.
Web3 version: 1.0.0.

code before getting accounts:
[code]

Please tell me, what I'm doing wrong ?

[2018-12-02 23:00] eyezick commented on #2083
I see this issue on node.js on an Ubuntu 18.04 instance with a local geth node

[2018-12-03 11:46] nujabes403 opened #2093 "web3.utils.sha3 doesn't take a BN type argument."
There is a example which takes an BN type argument in https://web3js.readthedocs.io/en/1.0/web3-utils.html#sha3.

However, it throws an error when take an argument with BN type. like below:
`TypeError: str.slice is not a function`

I think example is wrong, we should fix it.

[2018-12-03 13:06] joshstevens19 commented on #2093
You are correct - in theory it should only accept a string as `Hash.keccak256` can only take a string, we have 2 options here

1 - Make `web3.utils.sha3` `toString` anything which comes in which means it will then will be able to accept any number or BN or string which could be nice
2 - Update docs + types to only accept a string all the time

@nivida happy to do this in PR #2082 as it effects the

[2018-12-03 13:16] nujabes403 commented on #2093
@joshstevens19 Thank you.

Accepting number as an argument could be confusing.
How about only transforming BN instance to string type through `.toString(10)`?

[2018-12-03 13:26] Huanzhang89 commented on #2072
Looking at the docs for firebase deploy here https://firebase.google.com/docs/functions/get-started

It seems that firebase functions are usually located in its own folder with another package.json file. Could you check if that package.json contains the right version of web3? Not an expert on firebase but I expect that would be the package.json used when you run `firebase deploy --only functions`

[2018-12-03 13:35] joshstevens19 commented on #2093
Well they should be able to pass `BN` which the function can handle. `BN` has a `toString()` function on it already so its as simple as `new Bn(3).toString()`.

I think parameter type should accept `string | BN` and in method if it's a object and not a string we do `web3.utils.isBN(value)` and if that's true then we turn it into a string so `Hash.keccak256` can do it's magic  👍 think that would wo

[2018-12-03 15:06] krzkaczor commented on #2065
Just in case you're wondering, `ganache` in this case returns: `0x00` which works.

[2018-12-03 15:32] krzkaczor commented on #2065
btw. i think this one is related: https://github.com/ethereum/web3.js/issues/1916

[2018-12-03 18:31] Huanzhang89 commented on #1781
@lebed2045 What was the solution that you guys found after 2 days?

Also I've had a look at the node-gyp docs and it states that python v3.x.x is **NOT** supported. Could you check the python version installed on your mac?

I have v2.7.0 and no issues installing web3 whatsoever.

[2018-12-03 18:36] Huanzhang89 commented on #2035
@thundo makes a good point, node-gyp does not work with python v3.x as stated by their github page https://github.com/nodejs/node-gyp

[2018-12-03 18:38] markerdmann commented on #2077
I was able to reproduce the bug in version 4.0.15:

[code]

[2018-12-03 18:43] Huanzhang89 commented on #2002
Hi @shwetaudacious, do you need to be node v8.9.1? If not, try updating your Nodejs and try installing again.

@nivida wrote a good step by step guide in the following comment for a clean install in windows which could be of help to you aswell.
https://github.com/ethereum/web3.js/issues/1783#issuecomment-405650471

Some others have had issues with node-gyp due to either not having python installed

[2018-12-03 20:42] rmujica commented on #1654
@tochie @nkashy1  #1965

[2018-12-04 06:40] anothershubham commented on #1555
Go to  \node_modules\@angular-devkit\build-angular\src\angular-cli-files\models\webpack-configs\browser.js

and search for node which would be looking like node: false

and replace it with

node: { crypto: true, stream: true, fs: 'empty', net: 'empty' }

Now restart the project.

[2018-12-04 06:44] vermadev95 commented on #1555
Go to \node_modules@angular-devkit\build-angular\src\angular-cli-files\models\webpack-configs\browser.js

and search for node which would be looking like node: false

and replace it with

node: { crypto: true, stream: true, fs: 'empty', net: 'empty' }

Now restart the project.

[2018-12-04 16:30] nivida commented on #2093
I've closed it because the fix is now merged.

[2018-12-04 16:30] #2093 closed, assigned to nobody

[2018-12-04 16:53] nivida commented on #1446
If someone will do a PR for this issue because of the gitcoin bounty then please to the PR against the ethereumProvider branch.

[2018-12-04 21:01] eyezick commented on #2077
This is also referenced in #1920 just fyi

[2018-12-04 22:23] joshstevens19 commented on #2091
Hey thanks for the issue, MM have released a breaking change on November the 6th which means people had to approve that web3 should be injected into the browser

https://medium.com/metamask/https-medium-com-metamask-breaking-change-injecting-web3-7722797916a8

Looks like you are doing it the old way, if you do not do it the new way `web3.eth.getAccounts` will always return a empty array as its not

[2018-12-05 04:35] spm32 commented on #2085
Just approved you @joshstevens19 glad to have you helping out :)

[2018-12-05 08:01] joshstevens19 commented on #2085
Cheers Scott 👍

[2018-12-05 08:44] conscott commented on #2065
Any simple workaround for this? My contract event filters are now broken.

[2018-12-05 08:47] krzkaczor commented on #2065
@conscott I didn't manage to prepare a PR fixing it since current develop branch is much different so I used [patch-package](https://www.npmjs.com/package/patch-package) to fix it locally and create git patch applied on every `yarn install`. A dirty solution, but it works 🤷‍♂️

Here's patch:
[code]

[2018-12-05 10:10] conscott commented on #2065
thanks @krzkaczor !

[2018-12-05 11:12] baumstern commented on #2037
# UPDATED
 Ethereum only accept low-s signature since EIP-2. (https://ethereum.stackexchange.com/questions/55245/why-is-s-in-transaction-signature-limited-to-n-21)

---
~~[secp256k1-node](https://github.com/cryptocoinjs/secp256k1-node/blob/master/README.md) only could verify lower-s signature. [ethereum-js](https://github.com/ethereumjs/ethereumjs-util) using secp256k1 library. And metamask using

[2018-12-05 11:18] e00dan opened #2097 "Is "error" event emitted from PromiEvent, when transaction sending ended up in uncle block?"
Hello, I'm using `web3.eth.sendSignedTransaction` method and I have a function which is waiting for confirmations.

My question is - what happens if transaction will end up in uncle block?

Is `error` event going to be emitted?

According to documentation now it's emitted when:
`fired if an error occurs during sending. If a out of gas error, the second parameter is the receipt.`

In general I can'

[2018-12-05 15:22] Ledslash commented on #1741
When can we expect to be fixed? it's actually costing an important amount of effort just to handle the nonce issue.

[2018-12-05 15:36] giacomolicari opened #2098 "Empty logs on v.1.0.0-beta.36"
I noticed that contract's transaction receipts contain no logs on Web3 version 1.0.0-beta.36:

[code]

The same contract's transaction receipt using web3 v.1.0.0-beta.34 returns logs:

[code]

Additional info:
- Truffle v.4.1.0
- web3-provider-engine v14.1.0
- ganache-cli v6.0.3

[2018-12-06 06:32] daydayhu opened #2100 "@@any-promise/REGISTRATION"
thirdScriptError
 sdk uncaught third Error
 Cannot read property '@@any-promise/REGISTRATION' of undefined
 TypeError: Cannot read property '@@any-promise/REGISTRATION' of undefined

[2018-12-06 09:43] mandritac opened #2101 "web3js 1.0 Release Date"
Hi,

When will web3 js 1.0 version be released officially? Currently only getting beta updates which we are unable to recommend for any customer pilot projects.

Thanks.

[2018-12-06 10:47] nivida commented on #2100
This should definetly not happen after I merged #2000

[2018-12-06 10:51] nivida commented on #2101
It's hard to say when exactly the 1.0 stable release will happen but I think we are close to it.
If you would like to know more about the ongoing work then please have a look at:
to-do list: https://github.com/ethereum/web3.js/projects
PR #2000
https://medium.com/@samuel_91690/my-first-months-as-the-maintainer-of-web3-js-7715470b7ef7

[2018-12-06 10:51] #2101 closed, assigned to nobody

[2018-12-06 21:30] alcuadrado commented on #1547
Hey @nivida, I read [your article](https://medium.com/@samuel_91690/my-first-months-as-the-maintainer-of-web3-js-7715470b7ef7) and immediately remembered this issue. I'm glad it's included in the 1.0 milestone project.

Do you have anything in mind to solve this problem?

[2018-12-07 07:04] spechaker commented on #2072
@Huanzhang89 Thanks for your kindly support!
I can't find the reason and will change the way to track the transactions.
Thanks again!!!

[2018-12-07 07:04] #2072 closed, assigned to nobody

[2018-12-07 10:04] niklops commented on #2091
Thanks @joshstevens19 ! It helped me.
Also, I found out that MM doesn't work with local html file. I mean, if I'm trying testing in browser with local path, such as "file:///D:/project/index.html", MetaMask doesn't inject the variable "window.ethereum" and I can't set MetaMask provider and get current accounts.
After installing the Chrome application "Web Server for Chrome" and setting localhost p

[2018-12-07 10:19] joshstevens19 commented on #2091
great glad to help! Thanks

[2018-12-07 10:19] #2091 closed, assigned to nobody

[2018-12-07 10:52] felixwatts commented on #1286
I get this problem using web3js 0.19.0 and ganache-cli 6.2.3

[EDIT] I was mistaken. I was confused because the filter callback is called when the block is mined which happens sometime after the transaction receipt is received for the causing transaction. When testing you need to ensure your test waits until the event is fired (or a timeout is reached)

[2018-12-07 12:52] nivida commented on #1547
@alcuadrado Until now not because I'm currently writing tests and have the focus to merge the PR #2000. But I'll definitely explain the solution, when I started to implement this enhancement.

[2018-12-07 12:56] nivida commented on #1286
I'm closing it due to inactivity and because it looks like this issue isn't a bug of web3.

[2018-12-07 12:56] #1286 closed

[2018-12-07 15:48] rahultrivedi180 commented on #1041
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js" integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script>

[2018-12-07 16:42] Huanzhang89 commented on #2072
Sorry to hear that @spechaker, did you manage to check the `package.json` inside the `functions` folder?

Thanks for your patience, hopefully once v1 is fully released the library will be more stable and easier to integrate with other technologies

[2018-12-07 17:27] alcuadrado commented on #1547
Got it! You are doing a great job as a new maintainer, thank you.

I'm happy to help with this issue when you have time to get back to it.

[2018-12-07 21:30] Fi1osof commented on #1255
This works for me:
[code]
[Full code](https://github.com/prisma-cms/ethereum-module/blob/0bed05e1f09b0d14256a943b0daa440e68bef19c/src/modules/transaction/index.mjs#L101)

[2018-12-07 22:56] mryellow commented on #1255
@Fi1osof `return` to break control flow for the `else`.

[code]

[2018-12-07 23:00] Fi1osof commented on #1255
@mryellow thanks, i will

[2018-12-07 23:02] mryellow commented on #1255
Note same thing different code-style in one above, can return void in the "first" condition:

[code]

[2018-12-08 00:30] Fi1osof commented on #1255
@mryellow , thanks again :)
[Did so](https://github.com/prisma-cms/ethereum-module/blob/574002c631694cfa68368f7050c90bc3a8dbf64f/src/modules/transaction/index.mjs#L205). Works without errors.

[2018-12-08 00:40] jona-wilmsmann opened #2104 "myContract.methods.myMethod().send() does not fire receipt and confirmation"
`myContract.methods.myMethod().send()` does not fire the receipt and confirmation events for me.
The transactionHash event is fired, as well as the error event if there is an error. In fact, the "transaction was not mined within 50 blocks" error is fired as well, when in reality the transaction has already been confirmed.

I am using a WebsocketProvider, however I have the same issue with a HttpPr

[2018-12-08 04:41] kouohhashi commented on #2066
Hi @nyl9488
I got same error. Have you solved the error?

[2018-12-08 04:58] lightclient opened #2107 "PromiEvent not terminating when using .once"
I was under the impression that if I used the `.once` event handler that it would terminate listening if there were no other handlers on the `send`. This doesn't seem to be the case, however. It looks like the following code continues to emit a `eth_getTransactionReceipt` every second even after resolving.

[code]

Any idea what's up?

[2018-12-08 04:59] lightclient commented on #2107
It seems like this should unsubscribe the `RequestManager` from continuing to poll for updates: https://github.com/ethereum/web3.js/blob/1.0/packages/web3-eth-contract/src/index.js#L590

[2018-12-08 09:15] anshumanv commented on #2089
@nivida how about serving the already present [examples](https://github.com/ethereum/web3.js/tree/master/example) on a static page, can it help in any way? 🤔

[2018-12-08 11:57] nivida commented on #2089
@anshumanv Thanks for your idea but I would like to have interactive examples for the 1.0 documentation. The examples you mention are unfortunately written with 0.20.
It would be great if the developer could play around with the API while reading the documentation. 😄

[2018-12-08 12:10] #2100 closed, assigned to nobody

[2018-12-08 14:48] Jorropo commented on #2089
@nivida this is what I'm doing :wink:

[2018-12-08 15:32] ctrlaltvikas commented on #2059
@awprasad  possibly you are not checking the nullity condition.
Ex: If you have an array, and you want to apply  `slice` method over it, you also have to check for existence of some element inside array may be using `array.length`

[2018-12-08 15:33] ctrlaltvikas commented on #2029
@Trycoder Could you please check for the node version and npm version.

[2018-12-08 15:34] ctrlaltvikas commented on #1781
could be the issue bcoz of npm or node's version.

[2018-12-08 15:36] ctrlaltvikas commented on #2080
Hi ,@nivida. I've already started answering the issues labelled with `suppport`. I can't start work officially on gitcoin because of some issue with my gitcoin account(which is under processing). Will that be ok?

Issues:

- https://github.com/ethereum/web3.js/issues/1781

- https://github.com/ethereum/web3.js/issues/2029

- https://github.com/ethereum/web3.js/issues/2029

- https://github.com/eth

[2018-12-08 15:41] ctrlaltvikas commented on #1896
Try this `sudo apt-get install build-essential`

[2018-12-08 16:30] subhasisbanik opened #2108 "npm install web3 installs 1.x beta instead of 0.20.x"
I tried installing web3js from:
npm install web3
and found out from package.json that it installed 1.x beta.
But as I see web3js docs, it still says that 0.20.x is the main release and 1.x is beta.
Could anyone throw light into this?
![image](https://user-images.githubusercontent.com/25420904/49688188-4d62ec80-fb34-11e8-9719-64a9db0cb835.png)
![image](https://user-images.githubusercontent.com/2542

[2018-12-08 17:25] joshstevens19 commented on #2085
Yes I have already done 3 PRs which have been merged for 3 packages, will be doing the other ones when I get a second! 😁

[2018-12-08 17:28] alcuadrado opened #2109 "Are multiple packages still needed?"
I'm getting up to date with the recent changes to this project, and read in [@nivida's post](https://medium.com/@samuel_91690/my-first-months-as-the-maintainer-of-web3-js-7715470b7ef7) that there will be different bundles of web3.js for different use-cases. This gave me some ideas that I'm sharing here.

My understanding is that web3 was modularized in many packages so users could pick the parts t

[2018-12-08 18:20] Pupin3 commented on #1089
Any ideas on how to resolve this issue would be highly appreciated...
I am using  web3@1.0.0-beta.37 on windows7 Truffle v4.1.14 npm: '6.4.1'.
Ganache is running and my app works fine. However, if I use .call() I get the error "contract.images(...).call is not a function"

[2018-12-08 23:34] liamzebedee commented on #1446
Haha, @gitcoinbot you're getting better! Thanks Mom ;P

WIP PR here - #2111 - docs a bit out of date but I think I'll manage

[2018-12-09 02:01] pranavburnwal commented on #1896
@vikaskyadav  Did that the first thing. Didn't help. I switched my OS on the cloud for now to handle this. WIll retry anyway, I will leave this open in case anyone finds a fixed solution.

Thanks for your help.
Pranav

[2018-12-09 12:16] joshstevens19 commented on #2085
PR number 1 - https://github.com/ethereum/web3.js/pull/2073

[2018-12-09 12:17] joshstevens19 commented on #2085
PR number 2 - https://github.com/ethereum/web3.js/pull/2084

[2018-12-09 12:17] joshstevens19 commented on #2085
PR number 3 - https://github.com/ethereum/web3.js/pull/2090

[2018-12-09 12:17] joshstevens19 commented on #2085
PR number 4 - https://github.com/ethereum/web3.js/pull/2112

[2018-12-09 12:18] joshstevens19 commented on #2085
PR number 5 - https://github.com/ethereum/web3.js/pull/2096

[2018-12-09 12:52] joshstevens19 commented on #2108
Hey @subhasisbanik thanks for your issue,

web3 1.0.x is currently in beta and not yet released, as its under the same package manager name in theory when you do `npm installl web3` it install the latest package which in this case is the beta web3. The latest release for web3 0.xx is here - https://www.npmjs.com/package/web3/v/0.20.7

To install this you can do

`npm install web3@0.20.7`

We are h

[2018-12-09 15:59] quantumproducer commented on #1089
What is `contract.images` ?

[2018-12-09 17:33] joshstevens19 commented on #2085
PR number 6 - https://github.com/ethereum/web3.js/pull/2114

[2018-12-09 22:10] lightclient commented on #2107
Hi @nivida, I saw that you labeled this as "clarification needed". I will try to provide a little more insight, but please me know how I can be more clear.

I'm working on a node library and the tests (which are run by Jest) we have so far are here: https://github.com/Bounties-Network/Bounties-SDK/blob/add-circlieci/test/bounty.spec.ts

When I run them, all my tests will pass, but then I'll see:
[

[2018-12-10 03:38] lightclient commented on #2107
It seems like I misread the promievent doc (https://web3js.readthedocs.io/en/1.0/callbacks-promises-events.html?highlight=promievent). Despite adding a `on` or `once` listener to the promise for `transactionHash`, the underlying promise is still waiting for a receipt. I'm going to go ahead and close this now. 😄

[2018-12-10 03:38] #2107 closed, assigned to nobody

[2018-12-10 10:36] Pupin3 commented on #1089
@quantumproducer thank you for your answer. You were right, I was mistakenly calling "images" which is an array and not a function. I figured it out soon after posting my previous message.

[2018-12-10 11:04] freemanzMrojo commented on #2060
Just installing Xcode worked as well

[2018-12-10 11:42] AnAllergyToAnalogy opened #2115 "eth.abi.encodeParameters not encoding uint8 properly"
eth.abi.encodeParameters appears to be encoding uint8's as uint256s.

`web3.eth.abi.encodeParameters(['int256','int256','uint8'], ['1','1','1']).toString();`

returns
[code]

whereas I believe it should return
[code]

ie, the uint8 seems to be encoded as a uint256?

[2018-12-10 12:21] chuanqin3 commented on #2060
Good point. People who run to my problem can try this first. Unfortunately, it does not work on my side. I believe something is messed up with my ``sudo`` and ``configuration``.. so a fresh reinstall is the last resort. :/

[2018-12-10 13:22] ngyam commented on #2104
I also have this exact issue right now

[2018-12-10 15:41] ngyam commented on #2104
Update: upgrading my web3 version to the recent 1.0.0-beta.37 solved it

[2018-12-10 17:58] jvmaia commented on #2068
Where it should be fixed? as seen it's already fixed => https://github.com/ethereum/wiki/wiki/JavaScript-API#values-1

[2018-12-10 21:54] paramtatv opened #2116 "Update web3-bzz dependency for tar.gz outages"
Hi,

We have found that web3-buzz npm repo depends on swarm-js@0.1.37 where as the latest stable v-0.1.39 can be used. The older verision works on tar.gz which has been deprecated. Where as the newer verisions use tar lib.
There are apparent benefits to it.

Please accept to raise PR.

Thanks

[2018-12-10 21:56] paramtatv commented on #1172
Please change the dependency of swarm-js from 37 to 39.
Swarm-js has already been updated.

Thanks

[2018-12-10 23:42] #2108 closed, assigned to nobody

[2018-12-11 00:08] nivida commented on #2109
Currently, most are using the web3.min.js file or they are bundling the dapp with webpack and the web3.js bundle will go up to 6.2Mb.
The next release should not have a minified web3 file where anything is included it will just have UMD, commonJS and ESM bundles for each package. It has to be disscused with @frozeman .

I think the described coming changes above will be the first step to a new str

[2018-12-11 00:11] nivida commented on #2116
I apologize for the bug but this will be fixed with the version 1.0.0-beta.38.
You can have a look at the fix here in this PR: #2000.

[2018-12-11 00:11] #2116 closed, assigned to nivida

[2018-12-11 00:38] bj97301 commented on #1423
Is this fixed?  I am not getting a confirmation callback when deploying my contract.

[2018-12-11 01:23] bj97301 commented on #1423
I updated to beta 37 and it seems to work now 👯‍♀️

[2018-12-11 01:33] CruzMolina commented on #1105
@adolfo-flores I think I figured this out!

Here's the webpack config that seems to be working for me:

[code]

[2018-12-11 05:49] sbansal96 commented on #1083
`sudo npm install -g web3 --unsafe-perm=true --allow-root` this work for me

[2018-12-11 06:35] mahyar33 commented on #1985
I have the same problem and it doesn't work for me

[2018-12-11 10:17] haggins commented on #2104
I also have this behavior with beta.37 and ganache-cli (blocktime 5s). The promise is never resolved and I never receive the receipt.

[2018-12-11 10:55] nivida commented on #1172
@tim-coin this is already done but not released (PR #2000)

[2018-12-11 10:57] nivida commented on #2068
@jvmaia Thanks! I was moving this issue wrongly in the project and it should be closed.

[2018-12-11 10:57] #2068 closed, assigned to nivida

[2018-12-11 12:37] spm32 commented on #2089
Hey @nivida is it alright if we move forward with @Jorropo ?

[2018-12-11 13:31] spm32 commented on #2080
Hey @vikaskyadav looks like you've been approved from my side so we'll be able to pay you out for the issues you answer :)

[2018-12-11 13:47] alcuadrado commented on #2109
Hi @nivida, I understand that the focus is currently somewhere else, and I agree with that. I just wanted to initiate this discussion before 1.0.0 is released because a change in the direction I described is somewhat in conflict with releasing stable individual packages. Maintaining the single-package and individual-packages versions at the same time would be a lot of work.

[2018-12-11 14:45] such commented on #1777
@nivida what makes you think that? I have just looked at the code and `isBN` still uses `constructor.name` that causes the issue here. But I'm not a minification expert! Is there anything I'm missing?

[2018-12-11 16:11] isaacsultan opened #2117 "TypeError: BigNumber is not a constructor"
# Usage
[code]
# Details

* Truffle v5.0.0-next.20 (core: 5.0.0-beta.2)
* Solidity v0.5.0 (solc-js)
* Node v8.9.3
* web3@1.0.0-beta.37

[2018-12-11 20:23] joshstevens19 commented on #2085
PR number 7 - https://github.com/ethereum/web3.js/pull/2118

[2018-12-11 21:35] joshstevens19 commented on #2085
PR number 8 - https://github.com/ethereum/web3.js/pull/2119

[2018-12-11 21:36] coventry opened #2120 "Failure to recover signature address, for web3.accounts.{sign/recover}"
Hi, I'd be grateful for an explanation of how to recover the signature address from a signature object. Intuitively, I would have expected this to work:

[code]

This is with versions `Truffle v5.0.0-next.19 (core: 5.0.0-beta.2)` and `Node v8.10.0`, in case it's relevant.

[2018-12-11 21:49] mswezey23 commented on #2117
BigNumber is no longer bundled in Web3 since the 1.X.X release.

https://ethereum.stackexchange.com/questions/50294/typeerror-web3-is-not-a-constructor-when-trying-to-use-node-js-with-truffle-con

Use `web3.utils.BN`

[2018-12-11 21:56] joshstevens19 commented on #2085
PR number 9 - https://github.com/ethereum/web3.js/pull/2121

[2018-12-11 23:19] joshstevens19 commented on #2080
will just post my support answers in here as i go https://github.com/ethereum/web3.js/issues/2108

[2018-12-11 23:23] joshstevens19 commented on #2117
Hey thanks for the issue as @mswezey23 has stated you need to use `web3.utils.BN` -https://web3js.readthedocs.io/en/1.0/web3-utils.html#bn

Will close it now
Thanks

[2018-12-11 23:23] #2117 closed, assigned to nobody

[2018-12-11 23:23] joshstevens19 commented on #2080
https://github.com/ethereum/web3.js/issues/2117

[2018-12-11 23:25] joshstevens19 commented on #2104
Hey this has now been fixed on version `1.0.0-beta.37` if you can upgrade and let us know its solved that would be great!

[2018-12-11 23:25] joshstevens19 commented on #2080
https://github.com/ethereum/web3.js/issues/2104

[2018-12-12 00:51] nivida commented on #2089
@ceresstation Yes would be fine :)

@Jorropo I'll talk to our DevOps guys that they create a repository for it. I'll add the information about the repository later here.

[2018-12-12 05:59] xiaods commented on #2081
@nivida you mean fix all issue with label Documents? @arku is working on it?

[2018-12-12 06:40] coventry commented on #2120
I see my error in the example: using the public instead of the private key. I had tested that, but without the `0x` key. Would you take a PR to fail if there's no `0x` prefix, or refrain from truncating the first two characters (assuming that's the issue?)

[2018-12-12 06:40] #2120 closed, assigned to nobody

[2018-12-12 13:28] nivida commented on #2081
@xiaods Exactly, that's what I mean. It should be possible to have multiple contributors working on this bounty. Gitcoin will pay out for each PR the correct amount.

[2018-12-12 23:42] rmujica commented on #2065
the behavior still occurs on 1.0.0-beta.37 even though is reported on the changelog to be fixed. how can I be of more help?

[2018-12-13 12:13] Trycoder commented on #2029
Adding the following lines in my docker file solved my issue:
RUN apk update && apk upgrade && \
    apk add --no-cache bash git openssh
RUN apk add --update python krb5 krb5-libs gcc make g++ krb5-dev

And my docker file looks like this:
FROM node:8.11.1-alpine
RUN apk update && apk upgrade && \
    apk add --no-cache bash git openssh
RUN apk add --update python krb5 krb5-libs gcc make g++ krb5-d

[2018-12-13 12:17] Trycoder commented on #2029
Thanks for your response @vikaskyadav

[2018-12-13 12:17] #2029 closed, assigned to nobody

[2018-12-14 10:17] joshstevens19 commented on #2085
PR number 10 - https://github.com/ethereum/web3.js/pull/2122

[2018-12-14 13:38] 0x-r4bbit commented on #1987
Happen to run in to the same issue. Was there any fix for this?

[2018-12-14 14:39] msflorez commented on #1987
Check your `ws` port, it has to be different of the `http` port. Changed it solved my issue.

[2018-12-14 14:41] 0x-r4bbit commented on #1987
Thanks for getting back here. And yes, this has been figured out on my side too. Turned out to be a race condition :)

Thanks again!

[2018-12-14 14:51] msflorez commented on #2089
Can we have a serie of examples like the Nextjs project https://github.com/zeit/next.js/tree/canary/examples ? I think that this would be a good way to see some examples already working, we can have `web3js-graphql`, `web3js-rest-api`, `web3js-nextjs`, `web3js-react`, `web3js-events`, among others, everything interacting with an API or a frontend, some more complex than others.

[2018-12-14 17:27] joshstevens19 commented on #2085
PR number 11 - https://github.com/ethereum/web3.js/pull/2123

[2018-12-14 20:44] tcrowe commented on #2081
✅Fixes confusion about `getAccounts`, `newAccount`, and `accounts.create()` https://github.com/ethereum/web3.js/pull/2124

[2018-12-14 20:56] tcrowe commented on #1154
If you're available to comment can you see if [this PR](https://github.com/ethereum/web3.js/pull/2124) is successful at clarifying the docs surrounding `getAccounts`, `newAccount`, and `accounts.create()`? 👍🏻👎🏻 Please and thank you 🤗

[2018-12-14 22:16] nemani commented on #1211
@nivida  This can be closed as this does not directly refer to web3.js.

A lot of times dependencies in npm package use `git://url` instead of `https://url` a lot of people cannot install any such package as the clone fron `git://` fails for some reason.

(for me it fails because my university's proxy does not support it)

running:
[code]

tells git that whenever it encounters a `git://` it should

[2018-12-14 22:21] nemani commented on #1409
You can access the 2 different functions in the following way

[code]

@nivida This (function overloading in general) does not seem to be present in the documentation, and should be added to it.

[2018-12-14 22:26] joshstevens19 commented on #2085
PR number 12 - https://github.com/ethereum/web3.js/pull/2125

[2018-12-14 22:26] nemani commented on #2080
Will post my links to answers in this thread as I comment! :smile:
https://github.com/ethereum/web3.js/issues/1211#issuecomment-447495366

https://github.com/ethereum/web3.js/issues/1409#issuecomment-447496563

[2018-12-14 22:35] nemani commented on #1918
Hey @anyluck, do you still need help with this? Can you tell me more about exactly what your query is so that I can help :smile:

[2018-12-14 22:47] nemani commented on #1939
Hey @andrewheadricke!

Do you still need help with this?
Can you tell me exactly what you mean by `native modules`?

If you want to use web3 without npm/webpack/etc, you can use a CDN and directly add it to your html page.
[code]

The compiled files are also given in the dist folder of this repo, you can download and use them.
[code]

Let me know you if you meant something else. :smile:

[2018-12-15 02:15] liamzebedee commented on #1446
Just started writing with the new testing format. Looking good but getting:

[code]

Any ideas? I'm running `node --inspect-brk ./node_modules/.bin/jest --runInBand BatchRequest` from `packages/web3-providers`

[2018-12-15 15:13] joshstevens19 commented on #2085
PR number 13 - https://github.com/ethereum/web3.js/pull/2128

[2018-12-15 23:52] tcrowe commented on #1267
@agilani @phoax Will this suffice to inform others of the right argument? https://github.com/ethereum/web3.js/pull/2129

[2018-12-16 00:03] tcrowe commented on #2081
✅https://github.com/ethereum/web3.js/pull/2129 `web3.eth.accounts.privateKeyToAccount` hex string clarified

---

I never tried a cooperative bounty so I don't know if you're supposed to "Submit Work" once or multiple times. Chris Kuhn says it can only be done once. 🤷‍♂️

[2018-12-16 00:07] tcrowe commented on #2115
@AnAllergyToAnalogy All numbers get encoded into 256 bit.

For example your first ABI hex, if broken down into it's parts goes like this:

[code]

For the second:

[code]

The parser would not understand because it's expecting them all to come in as 256 bits long. This is just for the serialization process. It will surely be treated differently once chewed up by the EVM.

Does that help? If so ple

[2018-12-16 00:13] tcrowe commented on #2115
Solidity ABI specification: https://solidity.readthedocs.io/en/latest/abi-spec.html

[2018-12-16 00:28] AnAllergyToAnalogy commented on #2115
That does make sense, thanks. I was operating under the impression that the web3.js function `web3.eth.abi.encodeParameters` was analogous to Solidity's `abi.encodePacked`, but `abi.encode` makes more sense... 😐

[2018-12-16 00:28] #2115 closed, assigned to nobody

[2018-12-16 00:54] tcrowe commented on #2115
Underneath it uses ethers module. Supposedly it can do non-standard packed mode but I am unsure how atm. https://github.com/ethers-io/ethers.js/issues/77

[2018-12-16 06:32] debragail commented on #580
is anyone implementing elastic search?

[2018-12-16 07:52] hadarbmdev commented on #1637
I've reproduced the same issue,web3 version: 1.0.0-beta.34, using infura ropsten as external provider.

this is after following the PKEY tip:
[ https://ethereum.stackexchange.com/questions/26999/invalid-json-rpc-response-error-for-sendtransaction-on-infura-ropsten-node-t]( https://ethereum.stackexchange.com/questions/26999/invalid-json-rpc-response-error-for-sendtransaction-on-infura-ropsten-node-

[2018-12-16 08:28] joshstevens19 commented on #2085
PR number 14 - https://github.com/ethereum/web3.js/pull/2130

[2018-12-16 12:28] spm32 commented on #2081
Hey @tcrowe just keep track of how many labelled issues you worked on and I'll pay you out for each one :)

[2018-12-16 16:43] 6pm commented on #1985
@elanpang did you fixed it? I'm trying to setup react-native 0.57.4 and web3 1.0.0-beta.37. App started after I have done all steps from https://gist.github.com/dougbacelar/29e60920d8fa1982535247563eb63766
I have started ganache on 'http://127.0.0.1:7545''.
web3 is not works, code:
[code]
I don't see anything in console.
Any ideas how to fix it?

UPD. This issue helped me - [github.com/souldreamer

[2018-12-16 18:18] 6pm commented on #2054
@jiangbo0216 This solution works, but can it break anything related to cookies?

[2018-12-16 18:25] 6pm commented on #2054
@nivida maybe it obvious question. I just installed web3 'npm i web3@1.0.0-beta.37'. Then I looked at 'node_modules\web3-providers-http\src\index.js' and checked the same module on master branch
[master/lib/web3/httpprovider.js](https://github.com/ethereum/web3.js/blob/master/lib/web3/httpprovider.js)
And they are different. How come?
How often do you update web3 npm module?
I was going to fork we

[2018-12-16 22:18] aperonam commented on #1555
@vermadev95 Is there a way of doing this fix editing a file outside node_modules?

[2018-12-16 23:17] andrewheadricke commented on #1939
Thanks @nemaniarjun, so the issue I was having is bundling web3 for Electron.  I was trying to keep things simple by avoiding native node modules having to match Electrons built-in node version.

If I try to import the browserified version into Electrons node it fails.

It would be great to have js fallbacks instead of requiring the native compiles of things like scrypt etc.

[2018-12-16 23:25] nemani commented on #1939
@andrewheadricke understood! Unfortunatly I dont have any experience with Electron.
However you maybe to take pointer from how [Mist implements web3 with Electron](https://github.com/ethereum/mist)

Cheers :smile:

[2018-12-16 23:26] Huanzhang89 commented on #2080
https://github.com/ethereum/web3.js/issues/1781#issuecomment-443816896

[2018-12-16 23:39] Huanzhang89 commented on #2069
Hi @mcdee, according to the docs for v0.2 and v1.0 web3.currentProvider has not changed. It returns the current provider object if it exist and `null` otherwise.

The `send` method you are trying to call should belong to the `currentProvider` object, so I suspect you are getting the `null` return value due to the `currentProvider` not existing and therefore `web3` returning null.

Could you please

[2018-12-16 23:40] Huanzhang89 commented on #2080
https://github.com/ethereum/web3.js/issues/2069

[2018-12-16 23:42] Huanzhang89 commented on #2080
https://github.com/ethereum/web3.js/issues/2072

[2018-12-16 23:42] Huanzhang89 commented on #2080
https://github.com/ethereum/web3.js/issues/2059

[2018-12-16 23:44] Huanzhang89 commented on #2080
https://github.com/ethereum/web3.js/issues/2035

[2018-12-16 23:44] Huanzhang89 commented on #2080
https://github.com/ethereum/web3.js/issues/2002

[2018-12-16 23:45] Huanzhang89 commented on #2080
https://github.com/ethereum/web3.js/issues/1894

[2018-12-17 07:22] nivida commented on #2054
Hay @6pm,
I apologize for the confusion but the current branch structure is as follows:

v0.20.x - develop/master branch
v1.0-x   - 1.0 branch

This will be improved on the 1.0 stable release.

[2018-12-17 07:29] nivida commented on #1446
@liamzebedee Yes, I'm currently improving the web3 providers and also refactored the BatchRequest object. Will update the tests today and finish my refactoring.

Unfortunately, I already implemented the Promise for a BatchRequest execution 🙈 (#2000)

[2018-12-17 07:35] nivida commented on #2089
Yes, sure great idea!
I should get the repository this week. We can then discuss further ideas in the issue list there.

Thanks for your feedback. @fmauricios

[2018-12-17 08:42] aj07 commented on #1672
@NatalieChin80 @roschler where exactly in doc this link is broken ?

[2018-12-17 08:56] ecouffes commented on #2077
The same issue in beta.37.

[2018-12-17 12:31] liamzebedee commented on #1446
Ok well thanks for letting me know.

[2018-12-17 13:05] mcdee commented on #2069
@Huanzhang89 thank you for the response.  If `currentProvider` was `null` the error would be about attempting to call a property of a `null` object.  Printing `currentProvider` shows that it is set as the expected provider:

[code]

[2018-12-17 13:35] Huanzhang89 commented on #2069
aha you are right.

Okay I had a look at the `send` method and it looks like it did indeed change.
The new send method takes in 2 params, `method` and `params`
`send(method: string, params: any[]): Promise<any>;`

Try `web3.currentProvider.send('evm_increaseTime', ['60'])`

[2018-12-17 13:41] mcdee commented on #2069
I believe that is provider-specific.  The HTTP provider takes a single object.

[2018-12-17 13:42] 0xicingdeath commented on #1672
In the Github section of NPM package link mentioned in the first post: https://www.npmjs.com/package/web3

[2018-12-17 15:14] Huanzhang89 commented on #2069
ah yes, apologies.

The `httpProvider.send` should take a callback as the second argument and pass the error object to the callback. Could you add a callback and paste back what the error is please?
[code]

[2018-12-17 15:27] aj07 commented on #1672
@NatalieChin80  gottcha. But, that link are redirected from web3 github repo or from npm repo ?

[2018-12-17 15:29] 0xicingdeath commented on #1672
I'm not too sure what you're asking, but the link when I click on this leads to a 404:

![image](https://user-images.githubusercontent.com/16736724/50096835-9bd45300-01e6-11e9-824c-4ecdcd794c8c.png)

[2018-12-17 16:10] aj07 commented on #1672
yes, but that link can't be corrected by web3 repo. It's the doc page of npm. Probably, raising issue on npm doc would be the best place.

[2018-12-17 17:24] mcdee commented on #2069
No error.  It looks as though the `evm_increaseTime` command gets through to the node (ganache, in case it matters), no idea if it works or not though because of the lack of return information.

[2018-12-17 17:47] Huanzhang89 commented on #2069
Hmm that is very strange, which version of web3 are you using? I'm looking at the sourcecode for the `http-provider` and it looks like that if the request errored, the callback will receive either an `InvalidResponse`, `ConnectionTimeout`, or `InvalidConnection` error.

The other other possibility is that the request succeeded in which case the second argument of the callback will be the `result`.

[2018-12-18 09:09] nivida commented on #2089
@Jorropo
This is the repository:
https://github.com/ethereum/web3-examples

Feel free to create the structure you think it's the best for creating these examples. It would be cool if the structure would be open to having examples in vanilla JS, TypeScript and other superset languages.

[2018-12-18 09:15] nivida commented on #2089
@fmauricios If you would like to create the starter projects then please contact @Jorropo for coordinating with him. Btw. it will be possible to split up this bounty.

[2018-12-18 11:30] ctrlaltvikas commented on #2080
I'll keep on adding more answers to the labels cuz I'm liking helping others this way too.

[2018-12-18 15:01] youngqqcn commented on #943
I had  "MSB4019 error " issue , I found many ways but no work!
Finally  I found solution at https://github.com/Microsoft/nodejs-guidelines/blob/master/windows-environment.md#compiling-native-addon-modules

Thanks @indrajitbnikam  I found my result in that link.

----------------------
- Add or modify the environment variable `VCTargetsPath` top point at the C++ build tools path. This should be som

[2018-12-18 15:19] mcdee commented on #2069
Using that the result does show up:

[code]

So the question now is how to access this information using `await` on the method, i.e.

[code]

[2018-12-18 15:38] joshstevens19 commented on #2085
Final PR https://github.com/ethereum/web3.js/pull/2133

[2018-12-18 15:41] Huanzhang89 commented on #2089
@Jorropo Hey, I would like to help with creating the live examples :) Recently did some work with Josh on creating the TS types for web3js so I think I have a good knowledge of how the library works.

[2018-12-18 16:18] Huanzhang89 commented on #2069
I think right now that is not possible since the `send` method does not return a promise.

@nivida has actually done the work to improve all the providers today to support promises as well as callbacks today but it won't be released just yet!

[2018-12-18 16:23] nivida commented on #2085
@ceresstation This bounty is now done :)
Thanks to @joshstevens19 for this awesome work!

[2018-12-18 16:29] joshstevens19 commented on #2085
@ceresstation I have submitted the work on gitcoin 👍

[2018-12-18 16:31] joshstevens19 commented on #2085
https://gitcoin.co/issue/ethereum/web3.js/2085/1903

[2018-12-18 16:37] nivida commented on #2069
@Huanzhang89  @mcdee All ```send()``` methods of the providers will return a rejected or resolved Promise when the PR #2000 is merged and released. The possibility to use callbacks for the ```send()``` method will no longer exist.

[2018-12-18 16:51] Huanzhang89 commented on #2069
I stand corrected :)

Although why not extend it to support callbacks as well? Can just check if the callback exists and return a `Promise` if it doesn't

[2018-12-18 17:00] darioAnongba commented on #1914
thanks for the update @nivida ! Keep the good work. Bug still present in beta.37

[2018-12-19 00:14] grinsteindavid commented on #1151
// This is my code after one week trying a lot of tutorials. Thanks internet

const fs = require('fs');
const path = require('path');
const Web3API = require('web3');
const axios = require('axios');

/**
 * Fetch the current transaction gas prices from https://ethgasstation.info/
 *
 * @return {object} Gas prices at different priorities
 */
const getCurrentGasPrices = async () => {
    let respons

[2018-12-19 05:52] roschler opened #2135 "Web3JS throws InvalidResponse without Ganache core ever receiving a request"
Versions:

Ubuntu 18.04 LTS
Node.JS: 8.3.0
WebJS:
web3: ^1.0.0-beta.37
web3-utils: ^1.0.0-beta.36
npm: 5.6.0
Truffle version 5.x (latest)

I have traced through the `HttpProvider` code in the Web3 package and what I see is quite strange.  The provider's `onreadystatechange` gets a DONE/4 event even though Ganache does not receive a request.

To test this, I initiate a `sendSignedTransaction()` cal

[2018-12-19 07:51] TinyWJL opened #2136 "Ethereum address"

[2018-12-19 07:52] #2136 closed, assigned to nobody

[2018-12-19 07:56] TinyWJL opened #2137 "How to determine if an Ethereum address exists"
I tested the interface 'getAccounts',return an empty array.

[2018-12-19 11:41] nivida commented on #2135
I'm currently refactoring the providers and will test it after I finished the refactoring.

The HttpProvider currently in the working branch (PR #2000): https://github.com/ethereum/web3.js/blob/ethereumProvider/packages/web3-providers/src/providers/HttpProvider.js

But it looks more like a bug from ganache or something else to me.

[2018-12-19 14:44] alicerocheman opened #2140 "Method call broken after geth upgrade (1.7->1.8)"
Hi there,
We can't seem to find our way out of this, so here's my call for help.

**Web3.js version** : 1.0.0-beta.37 and 1.0.0-beta.36
**GETH version**: 1.8.12
**provider type**:  remote, websocket

Issue appears only if GETH is upgraded from 1.7 to 1.8
When tested locally via the node's console, the issue does not present.

#### Method call
[code]

####Expected results (aka with geth 1.7, or loc

[2018-12-19 18:56] dconroy commented on #966
how do we get "npm audit fix" not default to deprecated versions of web3?

[2018-12-19 19:43] tcrowe commented on #1672
For reference this is where the GitHub URL comes from:
https://github.com/ethereum/web3.js/blob/1.0/packages/web3/package.json#L6

@nivida This `repository` URL is correct for the future *IF* `1.0` branch merges into `master`, not `develop`.

*Optionally* it can be changed to `1.0` branch if that branch will remain in progress a long while.

*Optionally* do nothing and wait until `1.0` goes into `

[2018-12-19 19:47] tcrowe commented on #1672
![web3-npm-link](https://user-images.githubusercontent.com/1634015/50244094-4afe5f00-038c-11e9-9a6b-e644e2e43425.gif)

[2018-12-20 06:15] roschler commented on #2135
ADDITIONAL INFORMATION

I ran Wireshark to see what was happening at the RPC request level, setting it to only display packets associated with local traffic on port 8545, since that is the location of Ganache on my system.  I ran it once with a success case and then again on the `finalizeGame()` smart contract method that is failing for me.  I am including the results below.

In the success case I

[2018-12-20 07:43] jiangbo0216 commented on #2054
@6pm  My situation does not involve cookies, so I am not sure.if you have some
problems with cookies. welcome to complement

[2018-12-20 08:18] bishaoqing opened #2141 "My 'web3.js' (created by 'npm run-script build') is different from 'go-ethereum\internal\jsre\deps\web3.js'"
I have clone the source code and then run 'gulp' to build it,finally i got the file 'mist/web3.js'，but there is a large number of different from the web3.js which located in go-ethereum\internal\jsre\deps\web3.js

**mine:**
[code]
**go-ethereum:**
[code]

[2018-12-20 08:46] anakornk commented on #1985
Got it working on react-native 0.57.8 and web3 1.0.0-beta.37.  Although there are still lots of warnings like @elanpang. Here is the step by step guide that i went through:
https://github.com/anakornk/web3WithReactNative

@6pm I was having problems with using HTTP Provider also. Changing XMLHTTPRequest also worked for me but it requires editing a node_modules file. I'm currently using websocket pr

[2018-12-20 10:23] nivida commented on #2135
Thanks for this detailed informations!
Could you tell me which version of ganache you have installed?
Did you also test it with the latest node version?

[2018-12-20 10:25] nivida commented on #2141
I think go-ethereum is using the 0.20.x version of web3. In which branch are you executing "npm run build"?

[2018-12-20 10:34] sbansal96 commented on #1894
Hi @nil3sh99 , have you tried `npm install web3` yet .?
You should try to run `npm install web3` with administrator privileges if you are on a windows system ,
and if on linux just add 'sudo' in front of it `sudo npm install web3`.

Sometime running these from admin privilege solve the problem

[2018-12-20 10:34] sbansal96 commented on #2080
#1894

[2018-12-20 11:38] bishaoqing commented on #2141
branch 1.0

[2018-12-20 12:21] roschler commented on #2135
@nivida Here are the version numbers, updated compared those shown in my original post to show the fact that before running the test you see the screenshots from, I updated Node.JS to the latest stable release:

Versions:

ganache-cli: Ganache CLI v6.2.3 (ganache-core: 2.3.2)
Node.JS: 10.14.2
npm: 5.6.0
solc: 0.5.1
Truffle version 5.x (latest)
Ubuntu 18.04 LTS
WebJS:
web3: ^1.0.0-beta.37
web3-util

[2018-12-20 13:41] Huanzhang89 commented on #2141
@bishaoqing branch 1.0 is the 0.1.x version of web3 hence there will be major differences between the code and that from go-ethereum.

I believe the develop branch contains the current code for 0.20.x version of web3 if that is what you are after.

[2018-12-20 13:41] Huanzhang89 commented on #2080
https://github.com/ethereum/web3.js/issues/2141

[2018-12-20 15:03] Huanzhang89 commented on #2069
@nivida @mcdee I think we have got to the bottom of the issue, can we close this?

[2018-12-20 15:08] travisdmathis commented on #2065
This is still not resolved in beta 37. I've monkey patched it for now, but it would be nice to get an official fix. Anything I can do to help, please let me know! @krzkaczor

[2018-12-20 15:11] Huanzhang89 commented on #2137
@TinyWJL which `getAccounts` method are you calling, `web3.eth.getAccounts()` or web3.eth.personal.getAccounts()`?

According to the documentation the method returns a `Promise<array>` so an empty array suggests that the node does not control any accounts.

[2018-12-20 15:11] Huanzhang89 commented on #2080
https://github.com/ethereum/web3.js/issues/2137

[2018-12-20 15:43] leonprou commented on #1914
For me it works fine on Mac, but it's failing on our build machines (Linux).
This is started like a week ago

[2018-12-20 15:59] mcdee commented on #2069
I'd rather wait until the proposed fix is merged so I can test it.

[2018-12-20 15:59] mcdee commented on #2069
I'd rather wait until the proposed fix is merged so I can test it.

[2018-12-20 18:58] msflorez commented on #2089
@Jorropo I would like to help too! We can plan some great examples.

[2018-12-20 21:20] nachomazzara commented on #1916
Error stil happen with `web3^1.0.0-beta.37`

[2018-12-21 02:26] bishaoqing commented on #2141
@Huanzhang89 thx very much，it is exactly what i want

[2018-12-21 02:26] #2141 closed, assigned to nobody

[2018-12-21 03:34] sbansal96 commented on #2080
#1083

[2018-12-21 06:44] usd-yamazaki commented on #1905
I am having the same problem with "block.gasLimit".
Since the theoretical upper limit of gas is 0x7fffffffffffffff, 53bit is not sufficient.

[2018-12-21 14:40] Huanzhang89 commented on #2141
You're welcome 😃

[2018-12-21 22:29] wjmelements opened #2142 "TypeError when supplying the wrong event name to getPastEvents"
[code]
`event` is undefined, which throws an error.
To reproduce, supply the wrong event name to `getPastEvents` in web3.eth.Contract.

I am using web3 version 1.0.0-beta.31.

[2018-12-22 00:07] nivida commented on #2142
Could you test it also in beta.37? But it should be definitely solved on version beta.38 because of the ongoing refactoring. (PR #2000)

[2018-12-22 00:19] wjmelements commented on #2142
I have reproduced the issue on `1.0.0-beta.37`

[2018-12-22 03:09] roschler commented on #2135
@nivida Hello Samuel.  I have just finished a private repo and added you and David as collaborators.  Let me know if you got the invite.  Thanks in advance for your help.

[2018-12-22 07:31] rstormsf commented on #1490
`randomHex(12).substr(2).padStart(24, '0')`
I use this one

[2018-12-22 08:09] leonprou commented on #1178
@pubkey @nivida  running `npm ls | grep bn.js` you can see that most of the dependencies are deduped (not duplicated). But there are some dependencies that define a strict version of `bn.js`, they are:
- https://github.com/SilentCicero/number-to-bn
- https://github.com/ethjs/ethjs-unit
- web3-utils ( I guess it's doing this because of the two above)

So we should ask these packages to loosen their

[2018-12-22 08:25] leonprou commented on #1178
Different but related thing I would like to ponder about is how to make the `web3` library more slim by reducing `web3` packages I don't use. For example probably you need just one provider (http, websocket, ipc), not all of them. I think the same goes for many libraries.

So package.json could look like this:

[code]

web3-slim is the module that will assure the same usage of `web3` module for co

[2018-12-22 12:08] pubkey commented on #1178
@josephg yes, asking them to loosen their bn.js version would be a great improvement.
About splitting web3 into more sub-packages, I'm not that sure. What you really want to have is that you can just import parts of Web3 and then your webpack or whatever bundling you to, should be able to tree-shake away the things you do not need. Also see my [comment above](https://github.com/ethereum/web3.js/is

[2018-12-23 00:46] username1565 commented on #1490
@rstormsf, this need to include largest functions:
[String.prototype.padStart()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/padStart) and [String.prototype.repeat()](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/String/repeat)

[2018-12-23 23:15] joshstevens19 commented on #2085
@ceresstation hey when will the gitcoin bounty be paid out ?

[2018-12-24 07:09] TamirTian commented on #1446
I wrapped BatchRequest
[code]
and example
[code]
## Options
You can replace it if this works
[code]

[2018-12-24 07:51] UnclePetros commented on #1477
@captnseagraves Thank you for your patch.
It works almost like a charm.
Sometimes when it goes in the error branch path, my node app crashed, even though result is returned correctly (my app is a rest api microservice).

[2018-12-24 17:35] nanspro commented on #1623
There is warning note on the GettingStarted Page so we can just add a npm link there to 0.20.6!!

[2018-12-24 19:09] captnseagraves commented on #1477
@UnclePetros Hmm, I haven't had my application crash due to the error path being triggered. We are using a Django backend, perhaps Node has a reaction to the javascript error that we do not experience.

You could try removing

[code]

to see if that helps work around?

[2018-12-25 00:09] Flash-Git commented on #1925
It sounds like you're looking to confirm the arrival of a transaction that you are sending? You can do this a few different ways, for example, after broadcasting it, you could grab the hash, subscribe to a periodical event, and use that to call `web3.eth.getTransactionReceipt(hash, [, callback])` until it returns something valid.

You could equally use the `.on("confirmation" [,callback])` when br

[2018-12-25 00:14] Flash-Git commented on #2080
[#1925](https://github.com/ethereum/web3.js/issues/1925)

[2018-12-25 00:32] Flash-Git commented on #1918
Is [this](https://github.com/ethereum/go-ethereum/wiki/Managing-your-accounts) what you're looking for? Geth lets you manage your keystore files.

[2018-12-25 00:33] Flash-Git commented on #2080
[#1918](https://github.com/ethereum/web3.js/issues/1918)

[2018-12-25 02:08] Flash-Git commented on #1501
That's a cute honeypot. I believe those accounts are stored with the Geth node, so it makes sense for them to be attached to the provider. [web3.eth.personal](https://web3js.readthedocs.io/en/1.0/web3-eth-personal.html) doesn't mention the ability to import/export accounts to/from this personal account list.

However, as described under [web3.eth.accounts](https://web3js.readthedocs.io/en/1.0/web3

[2018-12-25 02:09] Flash-Git commented on #2080
[#1501](https://github.com/ethereum/web3.js/issues/1501)

[2018-12-25 07:07] Flash-Git commented on #2081
[#1814](https://github.com/ethereum/web3.js/pull/1814) and [#1790](https://github.com/ethereum/web3.js/pull/1790)

[2018-12-25 13:04] yueawang commented on #2077
Any update on this issue??
I just met in beta.37.

@patidarmanoj10 , you mentioned

Does that mean a workaround for this issue?? If I convert my number to that format.

Thanks!

[2018-12-25 15:44] samanshahmohamadi commented on #1791
I have the exact same issue, any quick fix or workaround? Is there any similar issue?

[2018-12-26 11:14] leonprou commented on #1178
@pubkey ok, for now the webpack is not working at all - https://github.com/ethereum/web3.js/issues/1969.

After this issue will be fixed we can get a look how the tree shaking is working. It's for sure the best option to get size improvements out of the box.

[2018-12-26 12:34] theRod15 commented on #1553
You saved my day. Had the same issue. This works for me

[2018-12-26 15:37] piesrtasty commented on #1920
Any update to this?

[2018-12-26 17:40] patidarmanoj10 commented on #2077
@yueawang  yes.

[2018-12-26 21:07] rmujica commented on #2065
@travisdmathis what is your patch?

[2018-12-27 03:55] libotony commented on #2065
I just did a test in beta 37, the test codes are:

[code]

Seems the problem is solved, @travisdmathis @rmujica can you provide some cases that will produce the error? Otherwise, I will close this issue

[2018-12-27 13:03] webkonglong commented on #1637
我也遇到了这个问题，如何解决呢。

[2018-12-27 13:35] nivida commented on #1178
All of these problems will be solved after I got the PR #2000 merged :) @leonprou

[2018-12-27 13:36] zulhfreelancer opened #2150 "TypeError: Cannot access member 'unlockAccount' of undefined"
Hi,

I'm using Geth 1.8.18 light client which comes with web3js 1.0.
I got this error:

[code]

I think I know what's the issue. The `unlockAccount` method is available inside `web3.personal` and not in `web3.eth.personal`.

I've forked this repo but I'm not sure how to get started contributing to this documentation. Couldn't find any information on how to contribute to docs section.

Any pointers

[2018-12-27 17:40] webkonglong commented on #1637
-----------------------------------

这个问题是 web3.js的版本不对。
删除node_modules。从新安装0.20.4版本的web3就行

附上代码

### web3.js
`import Web3 from 'web3';

const web3Provider = window.web3 ? window.web3.currentProvider : null;

const web3 = web3Provider
  ? new Web3(web3Provider)
  : new Web3(new Web3.providers.HttpProvider('https://ropsten.infura.io/v3/d5686d6d07d0421eb166c521250af71b'));

web3.eth.defaultAccount

[2018-12-27 17:51] webkonglong commented on #1637
回退web3版本为 0.20.4。   1.0.0-beta.34版本确实有这个问题，拿用户私钥绕过钱包服务端签名也不行 ，会出现 交易哈希，但是区块链查询不到，矿工很久没有被挖矿。

demo地址  https://github.com/LinkIdol/eth-dapp-demo

[2018-12-28 05:34] patidarmanoj10 commented on #2025
@nivida  I am facing same issue here. Any work around for time being?

[2018-12-28 05:39] patidarmanoj10 commented on #2025
@andremedeiros and @nivida  My one more observation.  Transaction does not stuck if sender account has no password. This means it work fine in blow case
let res = await web3.eth.personal.unlockAccount(account1, '')
res = await web3.eth.sendTransaction({ from: account1, to: to, value: 1000000 })
res = await web3.eth.getBalance(to)
console.log('balance', res)

But below doest not work  . Execution s

[2018-12-28 05:43] patidarmanoj10 commented on #2025
Also this work fine if we use httpProvider  but not wsprovider

[2018-12-28 07:58] dk-lan opened #2152 "Error: Failed to check for transaction receipt:"
[code]

[2018-12-28 14:01] d10r commented on #1803
Same issue in beta.37.
Is there a known workaround besides downgrading web3 (I have access to the RPC server config)?

[2018-12-28 14:08] d10r commented on #1803
Same issue in beta.37.
Is there a known workaround besides downgrading web3 (I have access to the RPC server config)?

PS: may this also be the reason for websocket web3 connections not working in Firefox? I don't get the CORS error messages then, but the request returns 403 (in Chrome it succeeds) and there's headers related to the origin.

[2018-12-28 14:29] asmodat commented on #1211
Fails on ubuntu 16.04

Initially had issue, that git was not installed in /usr/bin/git, so I added a simlink using this command:

ln -s /usr/bin/git /bin/git

Which fixed the issue of this npm awful package not being able to find git where it was looking for it, but I am still getting the following error, what is going on ?

npm ERR! Error while executing:
       npm ERR! /usr/bin/git ls-remote -h

[2018-12-28 14:41] asmodat opened #2153 "Ubuntu 16.04 npm install fails with error code: 128"
Fails on ubuntu 16.04

Initially had issue, that git was not installed in /usr/bin/git, so I added a simlink using this command:

ln -s /usr/bin/git /bin/git

Which fixed the issue of this npm awful package not being able to find git where it was looking for it, but I am still getting the following error, what is going on ?

npm ERR! Error while executing:
npm ERR! /usr/bin/git ls-remote -h -t git

[2018-12-29 03:27] nxycdl opened #2154 "Contract Encryption and Decryption"
I have a Contract
[code]
when i setData('myunkey','1234');
I want encode('1234') = 'abcdef'
then save to blockChain

when i want get my data , i want decode('abcdef') = '1234'
Is there any way to do that?
Thanks

[2018-12-29 05:53] nanspro commented on #2081
I've fixed

- https://github.com/ethereum/web3.js/issues/1874 in https://github.com/ethereum/web3.js/pull/2145

- https://github.com/ethereum/web3.js/issues/1440 in https://github.com/ethereum/web3.js/pull/2147

- https://github.com/ethereum/web3.js/issues/1686 in https://github.com/ethereum/web3.js/pull/2146

[2018-12-29 09:06] syuta-sugawara opened #2155 "web3 Uncaught TypeError: Cannot read property 'createBox' of undefined"
i'm trying to create simple application by using solidity 5.0.0 , Truffle v5.0.0 and web3 web3@1.0.0-beta.34.

but i've gotten Uncaught TypeError: Cannot read property 'createBox' of undefined.

these are my codes.

[code]

[2018-12-29 21:59] Liamandrew commented on #1985
As @crazybuster mentioned, the solution for me was to move my rn-cli.config.js into metro.config.js. This is a change with RN 57 mentioned [here](https://github.com/react-native-community/react-native-releases/blob/master/CHANGELOG.md#updating-to-this-version). And the details of how the metro.config.js file should look is discussed [here](https://facebook.github.io/metro/docs/en/configuration).

[2018-12-30 08:37] zjt3939 commented on #494
if I  connect to the test network such as kovan test network or main network , how to deal with this problom

[2018-12-30 11:23] roschler commented on #2135
@nivida  Did you ever get a chance to look at the private repo I made for you?  My dApp development is on hold because I can't get past this error.  I really want to finish the dApp.  It's a really fun game and helps raise money for musicians so I believe the Ethereum community will really like it.

[2018-12-31 03:20] JoshuaQYH commented on #940
I encountered this problem suddenly. But I could run the code before.(I didn't change them). So I thought it might be **a tempory bug in metaMask** and then I just logged out the metamask account and logged in again. It turned right.  May be it's helpful for you.

[2019-01-01 19:26] chankruze commented on #2140
Make sure 'contract address' is correct. I am afraid that this is maybe due to https://github.com/ethereum/web3.js/issues/1916.

[2019-01-01 19:34] chankruze commented on #2137
@TinyWJL All addresses exist. Do you mean is there a way to know if someone owns a private key that maps to a particular address?
Or if you want to check if a given string is a valid Ethereum address or not you can use `web3.utils.isAddress();` which returns boolean.

More info about it can be found [here](https://web3js.readthedocs.io/en/1.0/web3-utils.html?highlight=isAddress#isaddress).

[2019-01-01 20:02] smartcontracts opened #2156 "Does web3.js support deterministic account generation?"
As per the [web3.js docs](https://web3js.readthedocs.io/en/1.0/web3-eth-accounts.html#create), a user can create a new public/private keypair via:

[code]

I thought the `entropy` parameter might act as a deterministic seed, but it instead acts as a

(as per the documentation).

I'm trying to generate accounts with a specific seed for testing purposes. I know that a few other libraries, like [eth-

[2019-01-01 20:20] chankruze commented on #2080
Hi ,@nivida. I answered some of the issues labelled with `suppport`.The issues i have answered are listed below.

**Issues Answered:**
- #2140
- #2137
- #1382
- #1894
- #1972
- #1896
- #1554

[2019-01-01 20:49] chankruze commented on #1972
Update to latest beta and do clean try. And make sure it don't hit transition limit.

[2019-01-01 20:54] chankruze commented on #1896
what is the version of python installed ?
It needs to be 2.7 not 3.x cause node-gyp does not work with python v3.x.

[2019-01-01 21:05] chankruze commented on #1894
It seems like communication with git was not successful. Is there any issue with config.
By the way installation via npm should work.
Try `npm install web3`

[2019-01-01 21:42] chankruze commented on #1382
I think issue is with functions first parameter 'int16[]'. Do check https://web3js.readthedocs.io/en/1.0/web3-eth-abi.html#decodeparameter

[2019-01-01 21:47] chankruze commented on #1227
This is fixed in latest beta version.Try beta 37 there shouldn't be the issue.

[2019-01-01 21:52] chankruze commented on #1554
Try starting `geth` with explicit `rpcapi` flag like below
`geth --rpc --rpcapi="db,eth,net,web3,personal,web3"`

[2019-01-02 00:58] Flash-Git commented on #2156
By seed, do you mean private key? You can generate accounts with private keys with `web3.eth.accounts.privateKeyToAccount(privateKey);` as per [this](https://web3js.readthedocs.io/en/1.0/web3-eth-accounts.html?highlight=private%20key#privatekeytoaccount).

[2019-01-02 01:01] Flash-Git commented on #2080
[#2156](https://github.com/ethereum/web3.js/issues/2156)

[2019-01-02 01:07] Flash-Git commented on #2154
Anyone could look at the transaction and read the unencrypted data regardless of what your contract does to it, same goes for decryption. You'll want to encrypt data before you send it to the contract and then decrypt it later.

[2019-01-02 01:08] Flash-Git commented on #2080
[#2154](https://github.com/ethereum/web3.js/issues/2154)

[2019-01-02 01:12] Flash-Git commented on #2150
On the top right of each page there's a link to the file on github. Fork the repo, make the fix you think is appropriate and then make the pull request. There isn't much red tape to follow for simple fixes(assuming you're correct).

[2019-01-02 01:13] nxycdl commented on #2154
@Flash-Git thanks. contract  is public, so every could look at ，it need Centralization programe to encrypt
 and decrypt 。 thanks very much。

[2019-01-02 01:13] #2154 closed, assigned to nobody

[2019-01-02 01:15] Flash-Git commented on #2153
What command are you using? I'm not sure what you're trying to do.

[2019-01-02 01:20] smartcontracts commented on #2156
Oh yeah, I guess `web3.eth.accounts.privateKeyToAccounts` can handle arbitrary private keys, as long as it's hex. Thank you!

[2019-01-02 01:20] #2156 closed, assigned to nobody

[2019-01-02 01:38] Flash-Git commented on #2155
From the error, it looks like your `PiggyBank` contract isn't getting set properly. You should try `PiggyBank = web3js.eth.Contract(PiggyBankABI, piggyBankAddress);` (Capital C).

[2019-01-02 01:40] Flash-Git commented on #2080
[#2155](https://github.com/ethereum/web3.js/issues/2155)

[2019-01-02 06:42] kolya182 commented on #1914
@leonprou Same for me, failing on Heroku and works on Mac. Did you managed to fix it ?

[2019-01-02 12:09] pranavburnwal commented on #1896
It was 2.7, It was the first thing I checked that time as I did that mistake before.

I changed the OS type for this to solve this now using RHEL.

[2019-01-02 12:09] #1896 closed, assigned to nobody

[2019-01-02 12:57] leonprou commented on #1914
@kolya182 yeah, I added the missing dependency to my `package.json` as a temporary solution. for me it was `websocket` package.

[2019-01-02 20:08] rustyrabbitold commented on #1916
I have the same problem when I moved my truffle tests from Truffle 4 to Truffle 5 (web3 v10.0.0 beta37). It seems that events emitted by inherited contracts (like OpenZeppelin's ERC20 openzeppelin-solidity@2.1.0-rc.2) generate this error (even when modified to be non-indexed).
An event emitted by my own contract which is calling OZ's ERC20 transferFrom does not cause this error.
I can't tell thoug

[2019-01-02 22:20] kolya182 commented on #1914
@leonprou Thanks
Temp fix for me `npm i --save websocket`

"node": `10.15.0`,
"npm": `6.4.1`

[2019-01-02 23:05] rbndg opened #2157 "web3.utils.toBN fails when passing scientific notation"
`web3.utils.toBN(1.0194e+21)`

`Error: Error: [number-to-bn] while converting number 1.0194e+21 to BN.js instance, error: invalid number value. Value must be an integer, hex string, BN or BigNumber instance. Note, decimals are not supported. Given value: "1.0194e+21"`

Why does Web3 use bn.js instead of BigNumber.js?

[2019-01-03 11:05] sirhill commented on #1555
I encountered the issue today again. So far, the nicest fix, I've found for this issue:
[https://github.com/angular/angular-cli/issues/1548#issuecomment-450891241](https://github.com/angular/angular-cli/issues/1548#issuecomment-450891241)

[2019-01-03 12:44] Kishanjvaghela commented on #966
@cosminstefanxp I had same problem with web and firebase.. this is worked for me
- remove the `^` for web3. (In package.json). Mine is like this `"web3": "1.0.0-beta.37"`
- delete `node_modules`
- delete `package-lock.json`
- then `npm install`

[2019-01-04 02:56] reardenlife opened #2158 "CORS. Can't connect to the node"
I'm using latest stable version of web3.js (0.20.7).

I have a private ethereum network and one node connected to it.  I ran that node like this:

[code]

So the node is listening to all IP addresses on 8545 port.  I set it up only for test/debug purposes.

Then I wrote a html page with web3.js v0.20.7:

[code]

I put this page on the server where ethereum node is running and requested it through

[2019-01-04 10:51] gnorbsl opened #2160 "Returned error: The method net_listening does not exist/is not available"
Hi,

I'm trying to figure out how to know if web3js is successfully connected to the node.

I assumed that would work with `web3.eth.net.isListening().then(console.log('listening'))`.
This doesn't seem to be the case though, I get this error:
`Returned error: The method net_listening does not exist/is not available`

Full code that should work:

[code]

[2019-01-04 11:15] dk-lan opened #2161 "error: rlp: input string too short for common.Address, decoding into (types.Transaction)(types.txdata).Recipient"
[code]

then get error
Error: Returned error: rlp: input string too short for common.Address, decoding into (types.Transaction)(types.txdata).Recipient

how to fixed this issue

[2019-01-04 12:11] sirhill opened #2162 "getPastEvents : allow providing both block number and hash to fromBlock and toBlock"
## Motivation

There might be more than one block with a specific number on the blockchain and using the block hash avoid ambiguity.
My personal motivation is to be able to cache historical events on a nginx. With the block hash, I do believe that the cache is much more reliable as the client could simply check the blockhash and use it in the request. Different request, different cache or another

[2019-01-04 15:19] epasquali opened #2163 "web3.utils.isAddress appears to return a string not a boolean"
There is an error in the documentation,

https://web3js.readthedocs.io/en/1.0/web3-utils.html#isaddress

The documentation claims a call to web3.utils.isAddress() returns a boolean value, however this is NOT true, the return value is a string. Hence anyone coding checking for the boolean (for instance, by doing something like:

if (web3.utils.isAddress('asdased'))
{
   //something here
}

will hav

[2019-01-04 17:33] dragupta commented on #2060
@chuanqin3 - so you reinstalled the entire OS and apps before you got this to work?  Are there no better ways to uninstall and reinstall these - npm, node, python 2, python3, etc?

Arun

[2019-01-04 20:08] reardenlife commented on #2158
The problem is definitely in web3.js.
I just tried to send POST request from the browser manually.

The code is:

[code]

It worked fine.

Well... Let me see how HTTP packets differ...

[2019-01-04 20:15] reardenlife commented on #2158
Aha. I see. It just sent the POST request directly, without any OPTIONS requests - so without any CORS support.

So it looks like that web3.js and not the browser itself is trying to implement the CORS support.  And it just doesn't work.

[2019-01-04 20:25] reardenlife commented on #2158
I tried my above mentioned code with XMLHttpRequest on three browsers: Chrome, Opera, Firefox.

Interestingly, Firefox crashed a few times but eventually displayed the response in Firebug lite console.  I'm not sure if it is my code that is causing Firefox to crash though.  So, all in all, my code is working fine, vut web3.js is not working at all.

Honestly, I don't really see the purpose of web3

[2019-01-04 21:39] adrianmcli commented on #1648
@xpepermint I dug into this a little bit with the Ganache team, and it seems that the problem is that every request in Web3.js seems to add on another listener on the same "data" event, instead of having a master listener.

[2019-01-05 00:52] patidarmanoj10 commented on #2025
@nivida  Do you know any  workaround regarding this?

[2019-01-05 01:34] Flash-Git commented on #2160
I'm not sure that `web3.eth.net` is exposed by default, you might have to run your node with a command that changes this.

As a work around, in the past I have used something like this to check whether I am connected to my node:
[code]

[2019-01-05 01:40] Flash-Git commented on #2161
Are you sure that the addresses you're using are all correct? You can check them with `web3.utils.isAddress(address)`.

[2019-01-05 01:43] Flash-Git commented on #2163
What does the returned string contain? I'm unfortunately not able to test this right now but that sounds very odd.

EDIT: It returns a boolean for me. Can you post more information?

[2019-01-05 01:44] dk-lan commented on #2161
I sure the address are all correct, I have try the code on https://mainnet.infura.io and it no problem

[2019-01-05 02:16] Flash-Git commented on #2161
There used to be a bug where if an address started with `0x00`, it could cause a similar error but I thought that was fixed. Does this describe any of the ones you're using?

[2019-01-05 03:51] neocybereth commented on #1025
This issue is still occuring for me using an Infura node

[2019-01-05 04:25] Flash-Git opened #2164 "The web3js documentation /en/latest/ is empty"
https://web3js.readthedocs.io/en/latest/ is empty yet continues to show up in search engines and in the docs' navigation bar under "Versions". It also happens to be what you get redirected to when you go to https://web3js.readthedocs.io.

The "Edit on GitHub" button links to https://github.com/ethereum/web3.js/blob/master/index.rst which doesn't exist.

[2019-01-05 04:28] Flash-Git commented on #2164
This also applies to https://web3js.readthedocs.io/en/master/, shouldn't these redirect to https://web3js.readthedocs.io/en/1.0/?

[2019-01-05 07:07] jamesmorgan commented on #1802
Any ideas on how to solve this - I find it works in most browsers but safari?

[2019-01-05 07:44] aratakokubun commented on #1802
I have the same issue and can not resolve with Chrome, FireFox and Safari...

[2019-01-05 11:41] csokun commented on #926
`HttpProvider` makes use of `xmlhttprequest` which internally disable `http.agent` https://github.com/driverdan/node-XMLHttpRequest/blob/master/lib/XMLHttpRequest.js#L384

According to nodejs doc https://nodejs.org/docs/latest-v10.x/api/http.html#http_class_http_agent
By providing `{agent: false}` as an option to the `http.get()` or `http.request()` functions, a one-time use Agent with default opt

[2019-01-05 21:32] askucher commented on #2157
I think you need to pass Number as String in case of big numbers

[2019-01-06 04:56] Flash-Git commented on #2080
[#2161](https://github.com/ethereum/web3.js/issues/2161)

[2019-01-06 04:57] Flash-Git commented on #2080
[#2160](https://github.com/ethereum/web3.js/issues/2160)

[2019-01-06 05:40] Flash-Git commented on #2089
I'm still happy to work on this. Have there been any updates?

[2019-01-06 20:57] yongloon opened #2166 "Cannot get token contract *name, decimals and symbol*"
Hi... I am using Web3 1.0 beta.37, I am not able to get the token name, decimals, and symbol by providing contract address and ABI.

[code]

[2019-01-06 21:11] #2166 closed, assigned to nobody

[2019-01-06 21:22] yongloon opened #2167 "{"_40":0,"_65":0,"_55":null,"_72":null} Error"
I am getting object {"_40":0,"_65":0,"_55":null,"_72":null} from the balanceOf function. How to solve it?
[code]

[2019-01-07 01:58] #2065 closed, assigned to nivida

[2019-01-07 03:31] fengyuyizai commented on #1260
@gus-canya Your reason is that the query start block is error.
you can used it
`
myContract.events.MyEvent({
    filter: {},
    fromBlock: 0,
    toBlock: 'latest'

}, function(error, event){ console.log(event); })
`

[2019-01-07 03:32] fengyuyizai commented on #1260
@gus-canya Your reason is that the query start block is error.
you can used it
[code]

[2019-01-07 04:21] Flash-Git commented on #2081
[#2164](https://github.com/ethereum/web3.js/issues/2164) Not a fix so might not apply

[2019-01-07 04:55] Flash-Git commented on #1717
Hopefully that satisfies this issue.

[2019-01-07 04:56] Flash-Git commented on #2081
[#1717](https://github.com/ethereum/web3.js/issues/1717)

[2019-01-07 10:02] dev1644 commented on #2163
Yeah, It returns a boolean value, not a String.

[2019-01-07 10:05] marf commented on #1916
Same problem here with version 1.0.0-beta.37 attempting to invoke the call method of a smart contract method.

What should we do?

[2019-01-07 10:06] Flash-Git commented on #2080
[#2163](https://github.com/ethereum/web3.js/issues/2163)

[2019-01-07 10:10] dev1644 commented on #2089
I would also love to work on this, is @Jorropo still working on this?

[2019-01-07 10:41] ghost opened #2169 "Constantinopole hardfork compability"
Hello,

would the upcoming constantinople hardfork affect the implementation of web.js? The way transaction is formed and signed.

From what I've read only eip1234 has compatibility problems. So it won't affect the library

But I must be certain about that.

Thank you

[2019-01-07 10:47] dev1644 commented on #2019
@arunkuduva  Inside Solidity, emit an Event with the value you want to return, then fetch the event and filter it according to your requirements.

[2019-01-07 10:48] dev1644 commented on #2080
Hi @nivida, I have answered to the following issues, some of the issues don't have `support` label, so as per my understanding of the issue and the help required, I referenced some of them here.

**Issue Answered**

- #1108
- #1584
- #1884
- #2019
- #2157
- #2167
- #2169
- #2170
- #2173
- #2175
- #2193
- #2212
- #2210

[2019-01-07 11:05] dev1644 commented on #843
The Contract function's signature and its arguments need to be in encoded ABI. It doesn't matter if the function receives a string, uint etc. The data field in the transaction is needed to an ABI encoded string.

[2019-01-07 11:09] dev1644 commented on #998
It seems to me that, either you are providing less than sufficient Gas Limit to your function or your function consumes too much gas i.e the Gas consumption of your function is more than current block's Gas Limit.

Edited:
The function register_org needs at least 102499 Gas to execute and you are providing 90000, that's why you are getting error.

@nivida  I think we can close this issue.

[2019-01-07 11:44] Huanzhang89 commented on #2089
Seems like the trail has gone a bit cold on this one.
I’m happy to take the lead on this and get together with some of the others wanting to contribute on this and make a start?

[2019-01-07 12:36] dev1644 commented on #2079
#918
#998

[2019-01-07 12:37] dev1644 commented on #918
I am unable to reproduce this behavior in the current version, I think it got fixed in the recent version.

@nivida I think we can close this issue.

[2019-01-07 12:37] dev1644 commented on #2079
#918

[2019-01-07 13:18] dev1644 commented on #1884
I tried your code and it's working fine. In April 2018, Infura Ws was experimental that's why you must be encountering errors.  As of today, your snippet is fully functional.

[2019-01-07 13:25] dev1644 commented on #1584
If you are using web3@1.0 `web3.eth.getAccounts()`  you will get the array of accounts that exist on the Node (If Node is set as provider) and If you are using web3@0.20.xx `web3.eth.accounts()` will do the trick.

Note: Suppose yours are node has only one account and you try to access accounts[1] i.e 2nd Account in your fetched array, it will be undefined as it does not exist.

[2019-01-07 16:23] arunkuduva commented on #2019
Thanks for the guidance !!

[2019-01-07 17:11] Genysys opened #2170 "Type: Error: cannot destructure property of "hash" of undefined or null"
web3 version: 1.0.0-beta.36

Code;

[code]

Error:
[code]
Any clues why I am getting this?

[2019-01-07 17:45] dev1644 commented on #2169
I don't think Constantinople hard-fork will affect this library in any way. AFAIK

[2019-01-07 17:52] ghost commented on #2169
Yes, seems like that.

[2019-01-07 17:52] #2169 closed, assigned to nobody

[2019-01-07 22:32] frangio opened #2171 "Concern over bn.js dependency in 1.0"
While porting OpenZeppelin's test suite to bn.js, we found a lot of pain points, some of which could have security implications.

For example, scientific notation is not supported, but instead of erroring it produces completely unrelated numbers.

[code]

This appears to have been fixed in the repository in 2017, but the current latest release on npm is from before that, so doesn't include those f

[2019-01-08 07:26] filips123 opened #2172 "[web3-eth-abi] Update ethers to v4.0.20"
Package `ethers (v4.0.0-beta.1)` gets installed as a dependency of `web3-eth-abi (v1.0.0-beta.37)`, which leads to the `xmlhttprequest` complaint and basically makes `truffle-contract` and other packages unusable.
This could probably be fixed with updating `ethers` to `v4.0.20`.

See trufflesuite/truffle#1614 and trufflesuite/truffle#1617.

[2019-01-08 07:42] borgeens commented on #1776
root@iZj6cbd4df3cja1epkztv9Z:~# sudo npm install web3
npm WARN deprecated tar.gz@1.0.7: ⚠️  WARNING ⚠️ tar.gz module has been deprecated and your application is vulnerable. Please use tar module instead: https://npmjs.com/tar
npm WARN deprecated fs-promise@2.0.3: Use mz or fs-extra^3.0 with Promise Support

make: Entering directory '/root/node_modules/websocket/build'
  CXX(target) Release/obj.tar

[2019-01-08 08:48] elanpang commented on #1985
@6pm no solution yet    ：（

[2019-01-08 09:22] epasquali commented on #2163
Strange, it returns a string for me. Checked it several times. I'm using the web3.js from the CDN.

[2019-01-08 09:59] macro88 commented on #2077
In addition to the BigNumber issue we are also getting an error with Bytes3:
`Error: invalid bytes3 value (arg="ccy", coderType="bytes3", value="USD")`

**Workaround:**
`web3.utils.asciiToHex('USD')`

We are using `truffle 5.0.1` and most unit tests are failing due to this error.

Any update on if/when this issue will be resolved?

Many thanks!

[2019-01-08 10:38] Leon-Zhang opened #2173 "Charge a eth wallet under testnet"
I have created a eth wallet which balance is 0 on testnet, how I can charge the wallet with lots of eth?
I don't have eth available on hand, so cannot do Transaction from other address.

[2019-01-08 14:05] dev1644 commented on #2167
I am unable to reproduce this output, I am using the same snippet with another Contract ABI and its returning
balance in the string.
More elaborative description of your issue is needed, also share the Contract address and the network on which its deployed.

[2019-01-08 14:12] dev1644 commented on #2163
I have tested this function in both CDN and node environment, its returning boolean value.
Post the CDN that you are using, let's check it.

[2019-01-08 14:13] dev1644 commented on #2173
Search for Faucets for your specific testnet.

[2019-01-08 16:02] epasquali commented on #2163
Ok, I figured out the error.

I was doing:

status = web3.utils.isAddress('abcd')

then typeof(status) returned a string.

When I did

var status = web3.utils.isAddress('abcd')

typeof(status) was indeed a boolean.

Sorry I'm a javascript noob and this makes no sense to me.

But have confirmed typeof(web3.utils.isAddress('abcd')) is indeed boolean using https://cdn.jsdelivr.net/gh/ethereum/web3.js

[2019-01-08 16:05] dk-lan commented on #2161
tq for you reply, but the address format isn't  started with `0x00`

[2019-01-08 16:08] Flash-Git commented on #2163
Yeah javascript can be strange. No harm done.

[2019-01-08 16:39] spm32 commented on #2085
Hey @joshstevens19 sorry for the delay here, paying you out now :)

[2019-01-08 18:47] dev1644 commented on #2157
Yes, To avoid imprecision or inaccuracy the large value needs to be passed either as String or As BigNumber.
Web3 uses this https://github.com/frozeman/bignumber.js-nolookahead

[2019-01-08 18:52] ondratra commented on #1916
@marf From my own experience events in `web3.js`'s 1.0.0-beta releases are broken. You have to create workaround using different web3 library e.g. `ethers`.

[2019-01-08 19:28] dev1644 commented on #2170
I am unable to reproduce this, I have tested the code with my node URL and its properly destructuring the hash. I think your connection to your node might not got established.

[2019-01-08 19:40] dev1644 commented on #2161
So the same code is working from Infura API but doesn't work from Geth?

[2019-01-08 21:22] Genysys commented on #2170
That was the case. It's working fine now

[2019-01-08 21:22] #2170 closed, assigned to nobody

[2019-01-08 23:10] grabastart commented on #2058
Security question regarding the following method/code sample of executing web3's sendTransaction for ether as a function for a web application that is not related to Ethereum,

// using the promise
web3.eth.sendTransaction({
    from: '0xde0B295669a9FD93d5F28D9Ec85E40f4cb697BAe',
    to: '0x11f4d0A3c12e86B4b5F39B213F7E19D048276DAe',
    value: '100'
})
.then(function(receipt){
    ...
});

Where a

[2019-01-09 04:44] dk-lan commented on #2161
yes, my go-ethereum version is 1.7.2

[2019-01-09 04:51] dk-lan commented on #2161
the complete error like this
[code]
rlpdump -hex params like this
[code]
geth version: 1.7.4-stable
Go Version: go1.11.4

by the way, I use metamask to transfer and get the same error too

[2019-01-09 06:47] dev1644 commented on #1108
http://localhost:8545 is the default endpoint of Geth JSON RPC Server, if you are passing this in Web3 provider and not getting a connection, this means either the endpoint is not exposed or Geth isn't running at all.

There are some issues while importing web3 in React Native Project because of Crypto-Js dependency.

[2019-01-09 07:10] barakman commented on #2058
@grabastart:
This kind of access-control is implemented on-chain, not off-chain (i.e., in the contract itself).
And you should generally ask this type of questions at https://ethereum.stackexchange.com or similar.
In either case, it doesn't seem to have anything to do with this specific thread.
Thanks.

[2019-01-09 14:13] barakman opened #2174 "Incorrect description of function send's return-value"
From https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#id22:

The resolved return-value is an object with a `contractAddress` field, which stores the address of the deployed contract. However, it is not equivalent to a `web3.eth.Contract` instance.

So for example, given the following:
[code]
If one wants an instance of the new contract, then they need to create it explicitly:
[code]

[2019-01-09 17:46] yongloon commented on #2167
I think it is a problem when I integrate web3 in the react native.

Where can I get proper steps to install on react native?

[2019-01-09 18:29] dev1644 commented on #2167
Using Web3 on React Native is a little bit tricky, web3 depends upon the crypto-js, it isn't available in Native Bundler so that's why the problem arises when importing web3 into React Native.

Below link is a step by step guide for importing web3 into React Native, it worked for some people.
https://gist.github.com/dougbacelar/29e60920d8fa1982535247563eb63766

[2019-01-09 19:27] chuanqin3 commented on #2060
@dragupta No I don't. I believe something deep in my system is broken. Abusive usage of `sudo` can deteriorate your system quickly.

[2019-01-09 19:47] Richard-RichIntellect commented on #1914
I just ran npm install and it worked for me.

[2019-01-10 04:17] grabastart commented on #2058
@barakman while I appreciate your thought, for an API, I would think web3.js is faulty without additional parameters on the authentication part for the "from" field, such authentication value can be hashed so that it protects it as well.  For instance, auth1 = {value} would be unsafe while hash(auth1) = {hashedValue} would be safe.

[2019-01-10 07:34] dk-lan commented on #2161
the issue already fixed by myself, tq all

[2019-01-10 07:34] #2161 closed, assigned to nobody

[2019-01-10 07:48] shweta037 opened #2175 "Is there Inetrnal transaction function"
Is there any function for internal transaction .How to do internal transaction using function...

[2019-01-10 08:53] dev1644 commented on #2175
Internal transactions are the transaction that happened between contracts due to an external transaction.
Contracts are sometimes programmed to call another contract function if a called function changes the state of the callee contract then it is known as `Internal transaction`.

So Answering your question for doing internal transaction there should be an External Transaction.

I hope this helps

[2019-01-10 09:06] dev1644 commented on #2161
So What was the issue? I had tried your code with both Infura and Geth and it was working.

[2019-01-10 11:28] nivida commented on #2174
This is already fixed in the PR #2000. Thanks :-)

[2019-01-10 11:29] nivida commented on #2173
Closed this issue because it looks answered.

[2019-01-10 11:29] #2173 closed, assigned to nobody

[2019-01-10 11:31] nivida commented on #2172
Hay @filips123, Just fixed this in the PR #2000. Thanks!

[2019-01-10 11:34] nivida commented on #2171
Hay @frangio,

I heard that from many sides and had some experience with it by my self. Yes, I'm currently looking for possible alternatives.
I think it will end up with the solution from GoogleChromeLabs:
https://github.com/GoogleChromeLabs/jsbi

[2019-01-10 11:37] #2163 closed, assigned to nobody

[2019-01-10 11:39] #2157 closed, assigned to nobody

[2019-01-10 12:39] dev1644 commented on #2174
Is it fixed? I can still see the misprinting on the docs.

[2019-01-10 13:21] filips123 commented on #2172
When will it be merged and released?

[2019-01-10 13:24] nivida commented on #2172
In the next 2-3 weeks, I'm currently testing anything against Geth and Parity.

[2019-01-10 14:23] filips123 commented on #2172
I will probably need this fix before that. Is it possible to merge and release it faster in different PR?

[2019-01-10 15:16] yongloon commented on #1985
android not working, only work on ios

[2019-01-10 17:45] frangio commented on #2171
Nice! jsbi looks interesting, and ECMAScript BigInts is what we should all be using once that lands. I'm a bit concerned by the following though (taken from the README):

I think the BigInt library used in the web3 ecosystem should do type checking. What do you think?

[2019-01-10 19:23] alcuadrado commented on #2171
@nivida I've been wondering what a

I got really disappointed when you showed me that, but I think they are just stating (in an arrogant way) what is common in the entire js ecosystem.

[2019-01-10 19:52] alcuadrado commented on #2171
I've been wondering for some time if there were any plans around native BigInt support in web3.js, mainly because of its potential to avoid/decrease fragmentation between libraries. I've never considered @frangio's point of the security implications of using bn.js, and I'm happy that initiated this discussion.

If the decision of using bn.js is to be revised, I strongly recommend jsbi, as it's the

[2019-01-11 01:41] K84N666LEE commented on #1172
# npm i tar -g
/usr/lib
└─┬ tar@4.4.8
  ├── chownr@1.1.1
  ├── fs-minipass@1.2.5
  ├── minipass@2.3.5
  ├── minizlib@1.2.1
  ├─┬ mkdirp@0.5.1
  │ └── minimist@0.0.8
  ├── safe-buffer@5.1.2
  └── yallist@3.0.3

# npm install web3 -g
npm WARN deprecated fs-promise@2.0.3: Use mz or fs-extra^3.0 with Promise Support
npm WARN deprecated tar.gz@1.0.7: ??  WARNING ?? tar.gz module has been deprecated and

[2019-01-11 03:14] anakornk commented on #1985
@nyl9488 fixed. Please pull the latest master branch.
https://github.com/anakornk/web3WithReactNative

[2019-01-11 06:21] xiaolujidan opened #2180 "Cross-domain solution of web3.js request provider"
#Cross-domain solution of web3.js request provider

I used nginx reverse proxy to deal with cross-domain problems， but web3.js request https://xxx.xxx/5b44529e903c4ebf9d60e4d01c965489 throw "Uncaught Error: Can't autodetect provider for "xxx.xxx/5b44529e903c4ebf9d60e4d01c965489""
The cross-domain configuration of nginx is as follows
[code]
if ($request_method = 'OPTIONS') {
    add_header 'Access-

[2019-01-11 06:22] xiaolujidan commented on #2180
In my limited experience with eth,I am searching for a long time on net. But no use. Please help or try to give some ideas how to achieve this

[2019-01-11 09:13] OFRBG commented on #1637
Infura doesn't support sending non-raw transactions. See: https://infura.io/docs/ethereum/json-rpc/eth_sendRawTransaction

[2019-01-11 15:53] roschler opened #2181 "Sub-package problems with latest beta cause immediate "Invalid JSON RPC response" errors."
I'm one of the people that are struggling with "Invalid JSON RPC response" errors.  During my long journey trying to solve this, still ongoing, I created a repo that executed the series of Ethereum transactions that the last of which, resulted in the error.

During the creation of that repo I wound up with a situation that resulted in getting that error _immediately_ during my very first `Web3` ca

[2019-01-11 15:57] roschler commented on #2135
For those that run into that error and run into problems trying to update to the latest `Web3` package like I did, see this post:

https://github.com/ethereum/web3.js/issues/2181

[2019-01-11 15:57] roschler commented on #2135
For those that run into that error and run into problems trying to update to the latest `Web3` package like I did, see this post:

https://github.com/ethereum/web3.js/issues/2181

[2019-01-11 19:57] gabmontes opened #2183 "Possible incorrect parsing of receipt status"
The Byzantinum fork, IIRC, enabled adding the `status` to the transaction receipts. But for chains that did not activate it, the `status` is still `null` instead of `0x0` or `0x1`. Following is the code that parses it to boolean:

https://github.com/ethereum/web3.js/blob/1bbfc5a36f4422a79bb0abfdd4b30aba6b3dc340/packages/web3-core-helpers/src/formatters.js#L219-L221

When testing with some transact

[2019-01-12 00:57] tjanson commented on #1963
The question about `returnSignature` seems legitimate: That parameter simply does not exist, it’s only mentioned in the docs. (A leftover from some previous version?)
Or am I missing something?

[2019-01-12 02:09] wjmelements opened #2184 "hexToNumberString sometimes interprets string as decimal"
[code]

[2019-01-12 05:53] shahzadthathal commented on #1554
Hi,

I just moved everything to nodejs server and now I'm not using that HTML.
Sorry for the late reply :)

[2019-01-12 05:56] shahzadthathal commented on #1560
thanks now I'm using web3js package in Nodejs server, I deleted above code :)

[2019-01-12 18:36] roschler commented on #2181
This was actually due to not having the exact, specific version of Web3 needed to do proper development.  Here is a post I just made that although targeted to the "Invalid JSON RPC response" errors I was having, includes help for the issue described in this GitHub issue.

https://github.com/trufflesuite/ganache/issues/1057#issuecomment-453770649

[2019-01-12 18:36] #2181 closed, assigned to nobody

[2019-01-12 18:37] roschler commented on #2135
I'm cross-posting this solution to this problem because it involves several important fundamental Ethereum/Ganache development issues, and I want to make sure other developers can benefit from the information that solved the issue for me, along with @seesemichaelj  Mike's tremendous help:

https://github.com/trufflesuite/ganache/issues/1057#issuecomment-453770649

[2019-01-12 18:37] #2135 closed, assigned to nobody

[2019-01-12 19:51] xf00f commented on #2067
@xpepermint Just saw this when sifting through old emails.

I'd of course be delighted to focus our efforts singularly, but it would require the abandonment of one of the libraries as web3x, while still close in API alignment, is heavily diverged from web3.js in terms of code and structure.

I'm still working on web3x as it's meeting needs for me that web3.js does not. I've suggested to @nivida th

[2019-01-12 20:03] nivida commented on #2067
That's right currently the focus is just on the QA and bug fixing. I've done a lot of improvements already but there is still a lot to do. I did some drafts for a v2 API already and will finalize them for an open discussion here on GitHub. Stay tuned, big things are planned for the web3.js project :-)

@xf00f Yep, I will definitely do :-)

[2019-01-13 00:21] dpurhar27 commented on #1916
I had the same issue but a different workflow. As some others mentioned too, it happens for me when using OZ's new ERC-721 contracts in which they've indexed every parameter of the event Transfer.

My workaround: I removed the `indexed` from one of the parameters and it fixed the issue. I'll wait for a true solution.

I'm using 1.0.0-beta.33 too, so downgrading isn't an option. **Also, note** the

[2019-01-13 01:39] claudebarde commented on #1549
@CamposBruno This definitely worked for me, thanks a lot!

[2019-01-13 10:40] filips123 commented on #2172
@nivida Actually, `ethers` was recently updated to `4.0.21` so it is a bit outdated. Why not require it with `^4.0.0` or something like this so it will be always updated?

[2019-01-13 13:48] pranavdaa opened #2185 "Issue installing web3 on new ubuntu desktop"
initially stuck for a long time on this-
![image](https://user-images.githubusercontent.com/38764142/51086069-d094e500-1767-11e9-9020-3da219370534.png)

Later error-
![image](https://user-images.githubusercontent.com/38764142/51086075-eb675980-1767-11e9-9698-4d5dcc57b140.png)

[2019-01-13 14:28] ghost commented on #1569
if you use sudo to install packages, you will get "EACCES: permission denied" error next time when you install packages, because those packages installed via sudo will have root as their owner, instead of you being the owner.

install web3.js via yarn: $ yarn add web3 --dev

[2019-01-13 21:23] dev1644 commented on #2185
Do a `npm cache verify` and try again.

[2019-01-14 04:04] khiemkino opened #2186 "Added web3 into React native webview for Dapp game"
Anyone know how to inject web3 into Webview for playing Dapp game like http://cryptokitties.co/. Thank you so much for reading my issues.

[2019-01-14 07:01] CChiaki opened #2187 "web3.eth.getPastLogs"
getPastLogs match address  distinguish case from case;
`
web3.eth.getPastLogs({
									fromBlock: "7062678"

									toBlock: "7062680",

									address: "0x2a0c0DBEcC7E4D658f48E01e3fA353F44050c208",

									topics: []

								}).then(res => {

									printLog(res.length + '--------11111')

									console.log(res);

								});`

0x919C13C9fBf684F73f6E425FB08531CF7A558b10
0x9060C5394c0

[2019-01-14 08:05] CChiaki opened #2188 "getPastLogs"
web3.eth.getPastLogs  return
It only returns logs from the most recent transaction on that contract, not any past transactions

why?

[2019-01-14 11:04] derdrdirk opened #2189 "parity: web3.eth.personal.unlockAccount: integer to hex conversion not working?"
I am having problems to unlock my account with a parity node. It seems like that the integer I am passing in ` web3.eth.personal.unlockAccount('...', '...', 10000)` is not converted to a hex and send to the parity endpoint. I am having no problems with *geth* but this[Parity issue](https://github.com/paritytech/parity-ethereum/issues/4380) send me over here.

Could somebody confirm that this is no

[2019-01-14 12:54] barakman opened #2190 "Function 'sendSignedTransaction' changes the value of the 'to' field from 'null' to '0x'"
Attempting to deploy a contract:
[code]
When the value of `gas` is too low, this function fails with `base fee exceeds gas limit`, which is fine.
However, in the process, it updates the `options` object, namely:
- It adds the fields `chainId`, `gasPrice`, `nonce` and `value`.
- It changes the value of the `to` field from `null` to `"0x"`.

As a result of the latter, any further attempt to call thi

[2019-01-14 13:19] kevinsimper opened #2191 "Ens code is not included in Git repo"
You can't find the code to the ENS and the package `web3-eth-ens` https://www.npmjs.com/package/web3-eth-ens leads to this repo, but the code is not to be found.

The sourcecode can be found in the assets in the packages that @nivida provided, but there is no sha's to compare the content to.

@nivida Can you help where I can find the sourcecode in git? :)

[2019-01-14 17:56] LeviBarnes commented on #1211
I have the same issue with Windows 7

[2019-01-14 19:01] jamesmorgan commented on #983
Does the subscription function support start and end block like the filter method?

[2019-01-14 23:04] tpmccallum commented on #2188
I am unable to get logs further back than 1674 blocks.
[code]
[code]
The following returns the correct amount of event logs 3 (0, 1, 2)
[code]
However the following returns nothing
[code]

[2019-01-15 16:39] dk-lan commented on #2152
Too many requests in a short time can cause this problem

[2019-01-15 16:39] #2152 closed, assigned to nobody

[2019-01-15 16:44] dk-lan opened #2193 "how I can get the transaction hash before web3.eth.sendSignedTransaction"
[code]

[2019-01-15 21:03] OFRBG commented on #2193
You might want to try this: https://web3js.readthedocs.io/en/1.0/web3-eth-personal.html#signtransaction

[2019-01-15 21:06] JayJay1989 commented on #1860
any news on this thread?

[2019-01-16 01:36] dk-lan commented on #2193
tq for you reply, but I only have privateKey, signtransaction must need password for account.

[2019-01-16 02:06] ghost opened #2195 "HTTP authentication isn't working as documented"
I had several problems as I tried to connect to my node using web3 with HTTP authentication.

This is not working at all (currently in the documentation):
`new web3.providers.HttpProvider('http://' + BasicAuthUsername + ':' + BasicAuthPassword + '@localhost:8545');`

In an older branch I found this:
`new web3.providers.HttpProvider('http://host.url', 0, BasicAuthUsername, BasicAuthPassword);`

Unf

[2019-01-16 03:03] OFRBG commented on #2193
Managing plaintext private keys is a bad idea, but if you must, then try with https://web3js.readthedocs.io/en/1.0/web3-eth.html#signtransaction.

[2019-01-16 04:59] navya-penmetsa commented on #1776
Not able to install web3.js on Ubuntu 18.04.1, getting the below error:

ubuntu@ubuntu:~/web3$ sudo npm install web3
npm ERR! Linux 4.15.0-43-generic
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install" "web3"
npm ERR! node v8.10.0
npm ERR! npm  v3.5.2
npm ERR! code ENOSELF

npm ERR! Refusing to install web3 as a dependency of itself
npm ERR!
npm ERR! If you need help, you may report this error

[2019-01-16 09:32] dev1644 commented on #2193
@dk-lan This will get you the txHash of your transaction before sending it.
` const txHash = await web3.utils.sha3(serializedTx);`

[2019-01-16 10:50] dk-lan commented on #2193
@dev1644
thanks , the way is correctly

[2019-01-16 10:50] #2193 closed, assigned to nobody

[2019-01-17 01:20] Jason-Soo commented on #2190
Hi, sorry just to clarify a part of your problem so you are having issues with your "to" field which is by default in ETH blockchain that 0x is a legit account that anyone who leaves the "to" empty will automatically send it to 0x (black hole). Therefore most of the contracts nowadays set
require (_to != 0x0);
to prevent this matter. Apologies if i got the question wrong

[2019-01-17 02:59] #918 closed

[2019-01-17 06:28] southpeak commented on #963
The same problem, when i install the web3 with: sudo npm i --save web3@latest

the error message is

[code]

and it's ok to install web3@0.20.2

[2019-01-17 08:15] kombos commented on #2077
I'm using the following truffle version and this same issue is cropping up:
Truffle v5.0.2 (core: 5.0.2)
Solidity v0.5.0 (solc-js)
Node v11.6.0
web3@1.0.0-beta.37

once I allocate a value greater than 1e15 to uint256 (like 1e16, or 1e17), it breaks and throws an error during truffle deployment of contract (using constructor arguments):

`Error: invalid number value (arg="_var", coderType="uint256"

[2019-01-17 09:34] sarthakumrao commented on #2171
**[bignumber.js](http://mikemcl.github.io/bignumber.js/#bignumber)** module can be a better alternative for `bn.js
It will give correct output for @frangio's  example

'5000000000000000000'

[2019-01-17 09:54] nicolashardy commented on #2172
I have the same issue, making my app unbuildable

![capture d ecran 2019-01-17 a 10 51 22](https://user-images.githubusercontent.com/1556911/51310116-39b97880-1a46-11e9-956b-b65605001a97.png)

workaround : `yarn add ethers@latest`

[2019-01-17 13:56] sarbogast opened #2196 "getAccounts returns undefined"
I'm using web3 1.0 beta 37 inside a simple javascript app in Chrome with Metamask 5.3.0 to try and obtain the account Metamask is connected to, which is a Ganache account behind the scenes. Here is the code:

[code]

The line after web3.eth.getAccounts() crashes because accounts is undefined.
I don't know if it's Ganache's fault, Metamask's fault or a problem with web3.

[2019-01-17 14:01] sarbogast commented on #2196
Actually, I think I was able to eliminate Ganache as the culprit, because when I call the same function from a Truffle console, Ganache returns the 10 accounts it knows about. So it's either Metamask or web3.

[2019-01-17 16:54] sarbogast commented on #2196
After verification, my web3 object was in version 0.20.3 of the Web3 library instead of being in version 1.0 beta 37

[2019-01-17 16:54] #2196 closed, assigned to nobody

[2019-01-17 17:37] uluhonolulu opened #2197 "Unstructured errors returned from reverted transactions"
When we have a revert in a transaction, webę throws an error, and the error message contains the revert reason, which is great. However, the message looks like `Returned error: VM Exception while processing transaction: revert Name of storage is required -- Reason given: Name of storage is required.`. Which means that we have to parse the message in order to get the revert reason, and the parser c

[2019-01-18 10:17] nivida commented on #2188
Could you please add a code snippet? :)

[2019-01-18 10:18] nivida commented on #2187
Could you reformat your example and probably explain it better? Otherwise, it will be hard to help you. :)

[2019-01-18 10:20] nivida commented on #2197
Thanks for submitting this issue. The implementation of the solidity revert method is on our roadmap for the 1.0 stable release.

[2019-01-18 10:22] nivida commented on #2191
This is the ENS module of the current 1.0 version:
https://github.com/ethereum/web3.js/tree/1.0/packages/web3-eth-ens

And this is the ENS module of the coming 1.0.0-beta.38:
https://github.com/ethereum/web3.js/tree/ethereumProvider/packages/web3-eth-ens

[2019-01-18 10:22] #2191 closed, assigned to nobody

[2019-01-18 10:28] nivida commented on #2189
That's true there is a missing mapping for the duration property of the unlockAccount method. Thanks for submitting this issue. I will add this fix as soon as possible.

[2019-01-18 10:28] nivida commented on #2186
Could you please ask questions on StackExchange? :-)

[2019-01-18 10:28] #2186 closed, assigned to nobody

[2019-01-18 10:29] nivida commented on #2185
Closed due to inactivity.

[2019-01-18 10:29] #2185 closed, assigned to nobody

[2019-01-18 10:31] nivida commented on #2183
Thanks for submitting this issue. That's true will change it as soon as possible.

[2019-01-18 11:43] ghost opened #2198 "Unable to catch exception thrown by method call"
Hello,

For few days I was trying to catch an exception thrown by method call and come to conclusion that that's probably impossible because of the way how PromiEvent works.

https://github.com/ethereum/web3.js/blob/1.0/packages/web3-core-promievent/src/index.js#L35

Here is what I've originally was trying:
[code]

Here is basic implementation of the problem:
[code]

The output:

[code]

I'm not s

[2019-01-18 15:41] drandreaskrueger commented on #1440
Fantastic, thanks!

[2019-01-18 15:41] #1440 closed

[2019-01-18 16:45] UVStudio commented on #1549
Hi @iurimatias and @CamposBruno Just wanted to say thank you for your posts here. Took me hours to figure out how to install web3 1.0.0 on Node 10.15 on mac. Seems like I just didn't have Xcode.

[2019-01-18 16:59] nanspro commented on #2081
Also fixed #1287 in https://github.com/ethereum/web3.js/pull/2148

[2019-01-19 02:53] OFRBG opened #2201 "Include the option to pass constructed classes like `Transaction` instead of building ad hoc instances"
I believe that the lax requirements for the `Transaction` object parameter keep coming back with more problemas behind it. The package should instead include a class `Transaction` that can only take values `(foo|'auto')`, where auto means the package will use the RPC magic to calculate e.g. gas amount.

Although it might seem like a favor to developers by not having to expose all of the transactio

[2019-01-19 21:05] adibas03 commented on #1916
For anyone who comes across this:
The web3 versions are not broken, but follow the new **[ABI version 2](https://solidity.readthedocs.io/en/develop/abi-spec.html#)**, which requires that `0x` be reserved for error conditions, and as such web3 throws when such response is received from the network.
**ABI v2 added (#1820) (https://github.com/ethereum/web3.js/commit/0ef6ee8e9905ad6635747c02cbefd80743

[2019-01-20 05:49] mavericklin commented on #1916
Thanks for your information, could you give more detail? How to ensure my flow accounts for this?

[2019-01-20 10:05] Asone commented on #1846
I'm facing the same problem than described.

As i understood perfectly where's the problem is coming from i still have a question :

When using a node's unlocked account, it seems this problem does not exists. So far, at first i was using a node's unlocked account from which i could pile more than a thousand deploy transactions of the same smart-contract. Once i switched to a non node account and

[2019-01-20 12:57] vibern0 commented on #528
Then, should this be moved to **done**?

[2019-01-20 15:26] blueghost56 commented on #2188
1.0.0-beta.37 always show empty array in my private chain
web3.eth.getPastLogs({
	fromBlock:'0',
	toBlock:'1180',
	address:'0xd255784881405cdd91292fa342bb091c763b7d9a',
    topics: []
})
.then(d=>{
	console.log(d)
})
.catch(e=>{
	console.log(e)
})

[2019-01-21 05:34] tpmccallum commented on #2188
I have also had this issue. @blueghost56 is it possible that your node does not have the logs on disk? For example is your node pruned or did you use fast sync?

It may be the case that not all nodes are equal. Can anyone answer the following question ...
"Under what conditions does a node not have logs in its transaction receipts"? i.e. pruned/vs not pruned, fast synced vs normal sync?

[2019-01-21 06:17] rushi7997 commented on #2080
HI @nivida i am gettiong this error when i am trying to install web3@1.0.0-beta.26 please help

[code]

[2019-01-21 07:54] tpmccallum commented on #2188
Here is an example of me getting logs from Ethereum mainnet using a) metamask as a node and b) using infura URL as a node
a)
[code]
Then I can create a contract object
[code]
and then get the past events using MetaMask (Ethereum mainnet) as the node
[code]
b)
I can than also use an Infura URL as the node and perform the same task.
[code]

These both return the following
[code]

[2019-01-21 08:05] tpmccallum commented on #2188
Just out of interest here is another method (using Infura) for comparison i.e. using a python3 script which will get the logs from block 5555555.

[code]

It produces the following output

[code]

[2019-01-21 09:59] #2047 closed, assigned to nobody

[2019-01-21 10:39] nanspro commented on #2081
Fixed #1716 in https://github.com/ethereum/web3.js/pull/2149

[2019-01-21 10:41] nanspro commented on #2081
@ceresstation this bounty is ongoing, right?
I have solved 5 issues in total, links to them i have provided above!!

Also should i start work on gitcoin, is it necessary for the bounty?

[2019-01-21 11:20] nivida commented on #1941
Thanks for your pull request!
Could you update this PR later when the ethereumProvider branch got merged or do these changes against the ethereumProvider branch?

[2019-01-21 11:34] #1287 closed

[2019-01-21 11:59] nivida commented on #2198
Thanks for creating this issue!
This should be solved with the PR #2000 and released within the next version (beta.38). Could you please reopen this issue if the behavior still not correct?

[2019-01-21 11:59] #2198 closed, assigned to nobody

[2019-01-21 12:02] nivida commented on #2089
@ceresstation I think @Jorropo will not finish this bounty. But @Huanzhang89 would be interested to do it and he knows a friend that could help him out.

I already started with some examples for v1.0.0-beta.38 specific things:
https://github.com/ethereum/web3-examples

[2019-01-21 12:04] #2085 closed, assigned to nobody

[2019-01-21 12:06] nivida commented on #2080
@dev1644 I think this is okay and @ceresstation will see this. :)

[2019-01-21 13:35] adibas03 commented on #1916
@mavericklin The onus s mainly on the nodes or node providers, to ensure that when `0x` is returned as the data, it is an indication of an error and not null/empty data.
This would also ensure a standard across all the nodes for expected data for abi encoding and decoding, and in essence for advanced data types handling.
So, you would basically want to be on the most recent version of the nodes, w

[2019-01-21 18:12] eternauta1337 opened #2205 "txParams get contaminated by Web3 v1 calls"
Web3 v1 is great, thank you for all your amazing work! :tada:

We encountered a small annoyance when migrating ZeppelinOS to Web3 v1 though. Some Web3 methods that receive a txParams (or "options") object, which contain properties such as gas, from, value, etc. currently alter the incoming object. This may not have significant consequences when making a few, isolated calls to Web3, but they do cau

[2019-01-21 21:55] joshstevens19 commented on #2205
Hey firstly thanks for your issue. That’s a really good point and I’ve never thought about it until you just stated it here. Doing a deep clone of the object internally would make sense but we pass options like this in a lot of different function so if we rolled this out we would want to do it for the whole lib (which isn’t a small thing). I will add a tag for discussion required with this and see

[2019-01-22 09:06] nivida commented on #2205
Thanks for creating this issue!
I will create a deep copy of all given method arguments in the Method-, EventSubscriptions- and MethodsProxy. This means it will be fixed for all contract calls and also for all ```eth.*, shh.* etc.``` calls.

If you are interested to learn more about the internals of web3 then have a look at these ES6 classes:

MethodProxy:
https://github.com/ethereum/web3.js/blob/

[2019-01-22 10:15] adityagoel19 opened #2210 "Error: Returned error: Non-200 status code"
Hi,

I have a test nodejs api set up which uses web3.js to send transactions to a contract. I am just testing my api with the same api call sent every few seconds. I keep getting this error every 20-30 requests, not sure what the problem is. It is not consistent and not able to reproduce with a single call.

     at Object.ErrorResponse (/home/streamsource/streamsource/node_modules/web3-eth/node_m

[2019-01-22 10:19] nivida commented on #2205
Fixed in #2209

[2019-01-22 10:19] #2205 closed, assigned to nobody

[2019-01-22 11:17] 0x-genesys commented on #2077
I am facing the same issue for latest web3 1.0.0 version

[2019-01-22 12:43] nivida commented on #2174
@dev1644 ```contract.deploy(...).send(...)``` will return a Contract object in version 1.0.0-beta.38. (PR #2000)

[2019-01-22 12:43] #2174 closed, assigned to nobody

[2019-01-22 12:46] nivida commented on #2172
Closed it because of: https://github.com/ethereum/web3.js/pull/2000#issuecomment-455178856

[2019-01-22 12:46] #2172 closed, assigned to nobody

[2019-01-22 12:53] nivida commented on #2150
The Geth Javascript Console is using v0.20.x of the web3.js lib and is extending the object with methods. Please have a look at the Geth Javascript Console documentation and report further issues regarding the console in the go-ethereum repository.

[2019-01-22 12:53] #2150 closed, assigned to nobody

[2019-01-22 12:53] nivida commented on #2142
Sorry for the confusion this fix will get released in beta.38.

[2019-01-22 12:54] nivida commented on #2098
This should be fixed within the next release because of the PR #2000.

[2019-01-22 12:56] nivida commented on #2077
This should be solved in this git tag and will be released within the next week:
https://github.com/ethereum/web3.js/tree/v1.0.0-beta.38-rc2

Would be great if someone could quickly test it for me.

[2019-01-22 12:57] nivida commented on #2062
This will be fixed with the PR #2000

[2019-01-22 12:59] nivida commented on #2048
[code]

Have you tested it without async because it doesn't need one there? :)

[2019-01-22 13:01] nivida commented on #2025
@patidarmanoj10 could you test it with this version it should be fixed: https://github.com/ethereum/web3.js/tree/v1.0.0-beta.38-rc2

[2019-01-22 13:04] nivida commented on #1985
This should be fixed with the new bundles in the next release. Please drop a comment here if not.
pre-release: https://github.com/ethereum/web3.js/tree/v1.0.0-beta.38-rc2

[2019-01-22 13:04] #1985 closed, assigned to nobody

[2019-01-22 13:06] nivida commented on #1967
This got fixed in the PR #2000 and the ```send()``` method parameters did also change.

[2019-01-22 13:07] #1967 closed, assigned to nobody

[2019-01-22 13:07] nivida commented on #1946
This got fixed in the PR #2000

[2019-01-22 13:07] #1946 closed, assigned to nobody

[2019-01-22 13:08] #1935 closed, assigned to nobody

[2019-01-22 13:09] nivida commented on #1920
Updated ethers to the latest version in PR #2000 and this should fix it. Otherwise please open an issue in the ethers.js repository.

[2019-01-22 13:09] #1920 closed, assigned to nobody

[2019-01-22 13:12] nivida commented on #1919
Closed due to inactivity and also because I tested it and it works.

[2019-01-22 13:12] #1919 closed, assigned to nobody

[2019-01-22 13:14] nivida commented on #1965
This should be fixed with the new WebsocketProvider I've implemented in #2000. I will release it with the version beta.38.

[2019-01-22 13:16] nivida commented on #1916
Fixed it in the PR #2000 and you should be able to test it with this git tag: https://github.com/ethereum/web3.js/tree/v1.0.0-beta.38-rc2

[2019-01-22 13:17] nivida commented on #1914
Should be fixed with the PR #2000.
Feel free to test it with the git tag: https://github.com/ethereum/web3.js/tree/v1.0.0-beta.38-rc2

[2019-01-22 13:19] nivida commented on #1860
Can't reproduce it. Would be great if someone could provide a demo project for reproducing this error.

[2019-01-22 13:21] #1738 closed

[2019-01-22 13:22] nivida commented on #1677
Will check if there is a similar module which is maintained. Otherwise, I will implement it on my own. @ripern

[2019-01-22 13:24] nivida commented on #1636
This will be fixed with the PR #2000

[2019-01-22 13:26] nivida commented on #1570
This should be fixed since I've implemented the new ABICoder. Could you test it and drop a comment here if not?

[2019-01-22 13:28] gzelda commented on #1919
i have the same problem with the code:
web3.eth.getTransactionCount(fromAddress).then(nonce=>{
		console.log(nonce);
});

and the error:
(node:4880) UnhandledPromiseRejectionWarning: Error: Invalid JSON RPC response: ""
    at Object.InvalidResponse (/Users/Gavin/Documents/nodejs/ethWallet/node_modules/web3-core-helpers/src/errors.js:42:16)
    at XMLHttpRequest.request.onreadystatechange (/Users/

[2019-01-22 13:28] nivida commented on #1586
The WebsocketProvider got a refactoring and does now support reconnecting and resubscribing. The PR #2000 will fix this issue and add a disconnect method to the provider.

[2019-01-22 13:28] #1586 closed, assigned to nobody

[2019-01-22 13:31] nivida commented on #1552
Contract event subscriptions are only possible with an socket provider (MetamaskInpageProvider, EthereumProvider, IpcProvider and WebsocketProvider)

[2019-01-22 13:31] #1552 closed

[2019-01-22 13:32] nivida commented on #1536
This will be fixed with the PR #2000

[2019-01-22 13:32] #1536 closed

[2019-01-22 13:33] nivida commented on #1534
This should be fixed with the PR #2000 and will be released with the version 1.0.0-beta.38.

[2019-01-22 13:34] nivida commented on #1466
This will be fixed within the next release. (PR #2000)

[2019-01-22 13:34] #1466 closed

[2019-01-22 13:35] nivida commented on #1463
This is an issue of ganache and you should open it there.

[2019-01-22 13:35] #1463 closed

[2019-01-22 13:36] nivida commented on #1356
This should be solved within the next release. (PR #2000)

[2019-01-22 13:38] nivida commented on #1252
This should be fixed within the next release. (PR #2000)

[2019-01-22 13:39] nivida commented on #1093
This should be fixed with the PR #2000

[2019-01-22 16:11] adambordas commented on #1741
Is this still an issue? As @abrinckm mentioned, [this issue](https://github.com/ethereum/go-ethereum/issues/2880) is related, but it's solved now. So if the node you use updated to the latest version of go-ethereum, than this issue is solved as well. Please correct me if I'm wrong.

[2019-01-22 17:49] eternauta1337 commented on #2205
Wow, that was incredibly fast. Thank you ^^

[2019-01-22 21:16] tchataigner commented on #2104
Hey everyone !

I'm coming back on this issue because ia mfacing the same problem.

I am using web3 on version `1.0.0-beta.37` with Metamask to connect on a private Clique-POA node. When submitting a transaction MM ui confirms that it has been mined but web3 does not seem to catch the receipt.

On the other hand if I test my code on a test net like Ropsten it works just fine.

[2019-01-22 22:52] markerdmann commented on #2077
@nivida It looks like I'm still getting the error:

`Error: invalid BigNumber string value (arg="value", value="1e+24", version=4.0.21)`

I cloned Truffle, checked out v5.0.2, cloned web3 inside truffle/packages and checked out v1.0.0-beta.38-rc2, and then updated relevant package.json files to point everything in my project and in truffle to that version of web3. Not sure if that's the easiest wa

[2019-01-23 03:28] gked commented on #1241
Any updates on this?
Can you suggest a workaround?

[2019-01-23 07:57] 7-of-9 opened #2211 "web3 -- web worker environment isn't supported"
Hi all,

Beta 34 (and/or its dependencies, e.g. any-promise) seems to have dependencies on "window" instead of "self" which prevents it working in a web worker context. I've not yet tested on later betas, but suspect they suffer from the same.

Related:  https://github.com/ethereum/web3.js/issues/1774
Related: https://ethereum.stackexchange.com/questions/56405/integrating-web3-from-metamask-in-rea

[2019-01-23 08:51] dev1644 commented on #2210
Can you post the code snippet?

[2019-01-23 15:42] GuthL commented on #2077
I have the same error on Remix, after generating a smart contract from circom (0k knowledge proof).

[2019-01-24 03:01] adityachap commented on #1241
Faced the same isuue while trying to call a solidity function which returns dynamic array of structures , used the latest version of web3 which supports "pragma experimental ABIEncoderV2" of solidity

[2019-01-24 07:00] abhayks1 commented on #1707
This is a very nice feature. Will save time lot of time while debugging.

[2019-01-25 06:03] justcharlz commented on #2081
@nivida and @ceresstation is this bounty still on?

[2019-01-25 08:35] Asone commented on #1846
Hi, a small update.

On my side i've managed to batch deployment transactions with `sendTransaction` while fetching on each interaction the TransactionCount with `pending` parameter :

[code]

Hope it might help some people. However something gets out of my understanding :

The used contract expects an argument to be passed in the constructor ( in this case, a string ). How come the transaction is

[2019-01-25 10:00] Gerdinand commented on #2171
The bn.js dependency in 1.0 has many issues, including not supporting decimals, scientific notation, giving unclear errors when calculating using numbers (not strings, even when numbers are small enough to not be a problem for Javascript). This is making our process of upgrading to truffle v5/ web3 1.0 for our test suites very inconvenient. I don't think the BigNumber.js should have been removed i

[2019-01-25 10:32] nivida commented on #2171
@Gerdinand It's on my checklist for beta.41 :-)

[2019-01-25 10:38] nivida commented on #2081
Yes, this bounty is still open. I will talk later to @ceresstation for clarifing how long this bounty will be open. @charlie4biz

[2019-01-25 10:39] nivida commented on #1707
@abhayks1 Yep, it is on my todo list and should get released in v1.0.0-beta.39 or -beta.40.

[2019-01-25 10:40] jamesmorgan commented on #1646
I also get this almost exclusive failing with the latest version of web3 `1.0.37` - originally I thought it was an issue with Infura but then found this issue, any ideas on the solution - this is the ticket I raised with Infura https://community.infura.io/t/ropsten-connection-error-couldnt-connect-to-node-on-ws/272/5

[2019-01-25 10:41] nivida commented on #1241
Could you please open an issue in the ethers.js repository? We use the ABICoder from there currently and just pass the data in. :-) @adityachap @gked

I'll update the ethers.js lib to the latest version on the next release. Maybe this will already solve it.

[2019-01-25 10:43] jamesmorgan commented on #1646
I have also found that adding this config fixed it - taken direct from https://github.com/ethereum/web3.js/issues/1217
[code]

[2019-01-25 10:47] nivida commented on #1646
@jamesmorgan I've refactored the web3 providers and especially the WebsocketProvider (PR #2000). I will release this PR within the next days and probably this issue got fixed with it. I can't see anything that Web3.js is doing which could have an impact on establishing a connection.

[2019-01-25 10:50] nivida commented on #2077
@markerdmann I will release a Web3.js version with the latest release of ethers.js. But as I saw are you already using the latest version of ethers.js ```version=4.0.21```. Because of this would I recommend to open an issue in the ethers.js repository for fixing this.

[2019-01-25 10:53] nivida commented on #2211
This issue got solved in the version 1.0.0-beta.38 which I will release within the next days.

[2019-01-25 10:53] #2211 closed, assigned to nobody

[2019-01-25 10:56] nivida commented on #2104
This is because there are missing confirmations for returning a confirmed transaction. With the new Web3.js version (1.0.0-beta.38) which I will release in the next days is it possible to configure the transaction confirmation workflow and I think this will solve your problem. @tchataigner

[2019-01-25 11:01] nivida commented on #1741
@stukker01 Thanks for figuring this out! I'm closing this issue now and if someone still has this issue then please feel free to drop a comment here and tag me.

[2019-01-25 11:01] #1741 closed

[2019-01-25 13:43] anjalialance opened #2212 "how can we generate address using passphrase"
Hi,
I am trying to generate an address from passphrase. The passphrase or mnemonics are generated by bip39. Also, have created the wallet using web3 for ether. The successful transaction has already been performed using web3. Now, I want to extract the address from the passphrase without storing the passphrase and private key in database. Do you have any tutorial or any piece of code how can I per

[2019-01-25 16:29] spalladino opened #2213 "Failed to check for transaction receipt when deploying a contract to Parity light node"
When deploying a contract using web3.js beta 37, connected via an http provider to a Parity light client node (version `v2.2.7-stable-b00a21f-20190115/x86_64-linux-gnu/rustc1.31.1`), the deployment fails with the following error:
[code]

Versions:
[code]

[2019-01-25 20:40] alcuadrado commented on #2171
This point is important, native BigInt doesn't support decimals either.

I'm not sure if the bigint/bignumber library used to send and receive values to an ethereum node should support them, it sounds error prone to me.

[2019-01-25 22:29] Asone commented on #1846
I've been facing the same problem than described as i'm writing an oracle which would need to batch an important amount of contract deployments ( up to many hundreds per day, maybe more).

As a prependum, note the following :

- the batches i've been making were done using latest version of geth.
- they were using an internal job creating a delay beetween each smart-contract deployment (shortest t

[2019-01-26 10:16] dev1644 commented on #2212
You can do this in the following way -:

- You need to convert your mnemonic sequence to a seed. (You can use npm package `bip39` for this).
- Then you can use sub-module `hdkey` of npm package `ethereumjs-wallet` to import the seed and can derive private key and address from it.

[2019-01-26 14:56] lucashenning commented on #1400
I was just about to create an issue when I found this. I can confirm the buggy return type.

`web3.eth.accounts.signTransaction(tx,privateKey)` returns `Promise<{ messageHash, v, r, s, rawTransaction }>`, not `string`

The following code works perfectly but `signedTx.rawTransaction` throws a type error during typescript compilation.

[code]

[2019-01-26 19:05] joshstevens19 commented on #1400
good spot i will fix this tomorrow for you @lucashenning, can you create a issue for this please.

[2019-01-26 22:48] joshstevens19 commented on #1400
@lucashenning PR is up - https://github.com/ethereum/web3.js/pull/2217 👍

[2019-01-27 04:45] kroitor opened #2221 "NodeJS Web3 1.0.0-beta.38 and 1.0.0-beta.39: Cannot find module '@babel/runtime/helpers/classCallCheck'"
Hi!

Web3 1.0.0-beta.37 did work fine with all my systems. But now, after upgrading to 1.0.0-beta.38 it stopped working. Even after a clean install into a new empty folder, it doesn't work on my Mac, also tried Ubuntu 14.04 LTS with same results. As you can see from the output below, it really is a system-agnostic bug related to the `require()` + npm module directory resolver, so, most likely, a p

[2019-01-27 05:28] levino opened #2222 "Use pify or so"
For example here:

https://github.com/ethereum/web3.js/blob/2cfa2ea184466d52bca62f52c82aa570fd0ad9a9/packages/web3-eth-accounts/src/Accounts.js#L219-L220

There is a lot of boilerplate in every method to handle callbacks and promises at the same time. That is not necessary. You can just write the whole library in one style and then finally wrap everything with `pify` or something you write yoursel

[2019-01-27 05:28] patidarmanoj10 commented on #2221
Same issue for me. I did npm install --save @babel/runtime and then it worked well.

[2019-01-27 05:28] levino commented on #2222
https://github.com/sindresorhus/pify

[2019-01-27 05:31] levino commented on #2222
It would go like this:

[code]

[2019-01-27 05:34] patidarmanoj10 opened #2223 "Web3 1.0.0-beta.38 TypeError: Invalid attempt to spread non-iterable instance"
Getting below error when calling myContract.methods.myMethod().call()

TypeError: Invalid attempt to spread non-iterable instance

This this was working fine in previous beta versions  37, 36 etc.  When I upgraded to beta.38 I started getting above error.

[2019-01-27 05:35] levino opened #2224 "Discontinue callback support"
Stop supporting callbacks in the API. Just support promises, it is the future. If anyone is old-school and wants callbacks, they can use https://www.npmjs.com/package/callbackify

[2019-01-27 05:56] inherithandle opened #2225 "Cannot find module '@babel/runtime/helpers/classCallCheck'"
I'm working on Node v11.7.0 and web3.js 1.0.0-beta.38. I just wanted to do a simple test like:

[code]

[code]
but I've got the following error.
[code]
And I notice the above test code works well on web3.js 1.0.0-beta.37.

[2019-01-27 06:15] levino opened #2226 "Release 1.0.0"
From https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b

So `1.0.0-beta.38` is prod ready then it should be released as `1.0.0`.

[2019-01-27 08:13] studioTeaTwo commented on #2225
duplicated with #2221

[2019-01-27 09:38] nivida commented on #2221
@kroitor Thanks for submitting this issue! I've fixed it in: https://github.com/ethereum/web3.js/pull/2227 this PR should get released today or tomorrow morning. I apologize for the troubles you had.

@patidarmanoj10 Thanks for providing a workaround that fast.

[2019-01-27 09:40] nivida commented on #2225
A similar issue already exits. Thanks for helping us to improve the Web3.js library.

[2019-01-27 09:40] #2225 closed, assigned to nobody

[2019-01-27 09:43] nivida commented on #2223
I've tested it on my local environment and couldn't replicate this issue. Could you please use the issue template and provide all the information.

[2019-01-27 09:46] nivida commented on #2222
I think this issue can be closed and referenced in the #2224 issue.

[2019-01-27 09:46] #2222 closed, assigned to nobody

[2019-01-27 09:54] lucashenning opened #2228 "Typescript return type of web3.eth.accounts.signTransaction() is incorrect."
#### Expected behavior
The return type of `web3.eth.accounts.signTransaction(tx,privateKey)`
should be `Promise<{ messageHash, v, r, s, rawTransaction }>`,
not `Promise<string> | Signature`

#### Actual behavior
`web3.eth.accounts.signTransaction(tx,privateKey)` returns `string | Signature`

#### Steps to reproduce the behavior
The following code works perfectly but `signedTx.rawTransaction` throw