[2020-09-08 18:53] #3713 closed, assigned to nobody

[2020-09-09 09:13] Troublor commented on #3608
@GregTheGreek Do we have a test case that can reproduce this bug now?

[2020-09-09 14:20] GregTheGreek commented on #3608
@Troublor thanks for bumping this - there was a previous outside contributor working on this but i think they had stopped.

Going to re-prioritise this.

cc: @frankiebee @spacesailor24

[2020-09-09 16:03] NicolasKritter commented on #3711
It looks like you you try to call a function of your smart contract with an argument that is of the wrong type (id should be a string and not an object).

It seems it is a normal behavior as web3 checks the arg type before making the request.

try to log the arguments before making the call and see what happens

[2020-09-09 17:32] AdamMiltonBarker commented on #3435
I am facing no reason issue, v 1.9.20, no reason message.

[2020-09-09 20:07] araa47 opened #3714 "Getting transactionDetails before transaction is actually mined"
Hi, is there a way to workout the transaction input details such as to, and from fields before the transaction is actually mined?

I have found the following method

[code]

however this only works when the transaction has already been mined.

[2020-09-10 17:45] abacabadabacaba opened #3717 "web3 postinstall script modifies files in another package"
I found that postinstall script in web3 package attempts to modify files in an unrelated package, @angular-devkit/build-angular. I believe this to be an abuse of NPM script functionality. Packages should not modify files that they don't own without the user's explicit request.

There are other problems with this behavior:
* If @angular-devkit/build-angular package is installed or upgraded after we

[2020-09-12 19:43] AdamMiltonBarker opened #3718 "Retrieving struct from solidity (pragma experimental ABIEncoderV2) fails with no error"
#### Expected behavior
Struct should be returned

#### Actual behavior
Error is caught, empty error message

#### Steps to reproduce the behavior

1. Contract deployed using pragma experimental ABIEncoderV2
2. Function called (And two others, the only ones that return structs):

[code]

The verifier functions called before returning the struct all work.

3. In web3js code which worked when this fu

[2020-09-12 19:53] GregTheGreek commented on #3714
To better help you i need to understand how you're obtaining a transaction hash for `getTransaction`?

[2020-09-12 20:08] GregTheGreek commented on #3718
Thanks for reporting this! If you don't mind helping me out, theres a few things we can try/do to help better debug this:
1. Can you provide a basic contract for us to reproduce & the relevant web3.js code?
2. Can you try using the latest version of web3.js? (alternatively we have an RC out `npm install --save web3@v1.3.0-rc.0`)

[2020-09-12 20:12] AdamMiltonBarker commented on #3718
Hi mate thanks for the quick reply, I am using this in a non-node application (https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js) what is the correct URL for the latest script?

RE the contract:

[code]

[2020-09-12 20:14] AdamMiltonBarker commented on #3718
The web3js code:

[code]

[2020-09-12 20:16] GregTheGreek commented on #3717
@abacabadabacaba this is extremely concerning. Thank you for reporting this.

I'm not seeing any post-install scripts, do you mind sharing how you discovered this?

I've dumped my install log, and if you could do the same that would be great. I did so with the following steps.
1. Fresh directory
2. `yarn add @angular-devkit/build-angular`
3. `yarn add web3`

[code]

[2020-09-12 20:21] GregTheGreek commented on #3718
@AdamMiltonBarker I'm not actually sure about a CDN but in the [root directory](https://github.com/ethereum/web3.js/tree/v1.2.11/dist) we have a `dist` directory that gets update on every release. You should be able to find the latest copy there

[2020-09-12 20:22] AdamMiltonBarker commented on #3718
Thanks one sec I will check.

[2020-09-12 20:37] AdamMiltonBarker commented on #3718
@GregTheGreek thank you that worked.

[2020-09-12 20:56] GregTheGreek commented on #3718
Problem solved?

[2020-09-12 21:07] AdamMiltonBarker commented on #3718
Yep thanks buddy, just one more question if you don't mind, I have read a lot about pragma experimental ABIEncoderV2, obviously it is experimental and seems to have been that way for a number of years, are there plans to remove it from experimental soon, if so, will pragma experimental ABIEncoderV2 still work, or will it break any contracts using it? This is a private network so it's not that bad,

[2020-09-12 21:25] GregTheGreek commented on #3718
Hmmm... I'm personally not a huge Solidity buff... But I think if you were to ask [here](https://groups.google.com/d/forum/solidity-users) you might get your answer... alternatively if you use twitter, tweeting at the solidity team works!

[2020-09-12 21:26] #3718 closed, assigned to nobody

[2020-09-12 22:03] abacabadabacaba commented on #3717
[code]
See also: PR #3136.

[2020-09-12 23:14] GregTheGreek commented on #3717
Hmmm interesting ok. I'm going to look into it this week.

[2020-09-13 05:42] AdamMiltonBarker commented on #3718
Cool thanks for the help with this anyway.

[2020-09-13 20:06] Soremwar commented on #3700
Hi there

Im currently working in a port of Web3 1.1.12 (some really good progress made already) to support Deno natively.

Maybe your TypeScript implementation (I assume web3 2.0 or higher) will be easier to use natively in Deno through tools like Skypack or Denoify.

You can track current progress here: (Credits were due)
https://github.com/deno-npm/deno_npm
And here
https://deno.land/x?query=np

[2020-09-15 00:25] GregTheGreek commented on #3700
we aren't actively maintiang 2.0 anymore.

We have a 1.4.0 branch (probably >1 month away) thats fully written in es6 to make everyone's life a bit easier  :) After that will be typescript!

[2020-09-16 11:12] qwhex opened #3720 "eth.isSyncing return type issue"
#### Actual behavior

The type definition of `isSyncing` is:
[code]

The return type should be `Promise<Syncing | false>` based on the docs below.

#### Expected behavior

According to the [documentation](https://web3js.readthedocs.io/en/v1.2.11/web3-eth.html#eth-issyncing-return), the return value of `isSyncing` is a promise of "a sync object when the node is currently syncing or **false**". I fo

[2020-09-17 16:57] GregTheGreek commented on #3720
@qwhex Im not really sure what a possible solution here is. If you can find any docs that point to it possibly returning true, please let me know. Otherwise the current code, and documentation is correct.

[2020-09-17 16:58] GregTheGreek commented on #3720
also `false` is not a valid type

[2020-09-20 02:59] x48-crypto commented on #2683
@nivida I see your commit "Implements all methods of the ENS registry," but don't see any information on reverse lookup in documentation. How can I use web3 to reverse resolve an address into an ENS name? Thanks!

[2020-09-20 09:13] cokia commented on #3707
Is it fully working contract?
I think it has problem of your ABI or Contract.

Please share more part of your code

[2020-09-21 11:54] Valo-app opened #3722 "web3.eth.sendSignedTransaction throws "Invalid sender""
Hey,  whenever i tried to broadcast my signed transaction on rinkeby test i get this `invalid sender` error. I took the signed and rawtx and tried to manual broadcast it from etherscan and it was sucessfully. The same txn is not giving error using `web3.eth.sendSignedTransaction` plus `web3.eth.getTransactionCount `also return 0 even if change my node provider.
please help.

`web3Http.eth.getTrans

[2020-09-21 14:49] GregTheGreek commented on #3722
Where is the wallet being used in this example?

[2020-09-21 15:04] Valo-app commented on #3722
It is an express app for transferring the erc20 from one account to other. It was working fine one month before recently it started failing. In this specific test example it a transferring from Admin wallet to a demo user wallet on rinkeby.

[2020-09-21 16:39] GregTheGreek commented on #3722
what version of web3.js are you using?

[2020-09-21 16:55] Valo-app commented on #3722
"web3": "^1.3.0",
"ethereumjs-tx": "^2.1.2"

[2020-09-21 19:13] #3720 closed, assigned to nobody

[2020-09-21 23:13] GregTheGreek opened #3723 "Implement EIP-2831"
[EIP-2831](https://eips.ethereum.org/EIPS/eip-2831) is an EIP that aims to notify dapps and consumers of provider libraries (i.e web3.js, metamask, etc..) that a user has cancelled, speed up, or replaced their transaction.

#### Other implementations
- [Metamask](https://github.com/MetaMask/metamask-extension/issues/9174)

[2020-09-22 04:37] ryanio opened #3724 "Upgrade abi coder to fix solc 0.4.x edge case"
In https://github.com/ethers-io/ethers.js/issues/891#issuecomment-688563311, @ricmoo notes that he released a new version of the ethersproject abi coder that contains a "loose" reader for decoding logs for certain contracts built with solc `0.4.x`.

This is a tracking issue to upgrade the dependency in `web3-eth-abi` [here](https://github.com/ethereum/web3.js/blob/1.x/packages/web3-eth-abi/package

[2020-09-22 05:58] chaitanyapotti opened #3725 "Not working with typescript"
#### Expected behavior
web3-eth exports itself as a [default export](https://github.com/ethereum/web3.js/blob/1.x/packages/web3-eth/src/index.js#L660) whereas the corresponding [types file ](https://github.com/ethereum/web3.js/blob/1.x/packages/web3-eth/types/index.d.ts#L63) exports it as just another export
This causes typescript to error while importing

#### Actual behavior
Should export Eth as

[2020-09-23 00:55] dylanseago commented on #3042
Not stale, still an issue

[2020-09-23 04:06] balthazar commented on #3042
Not stale

[2020-09-23 04:17] vporton opened #3726 "Overflow when parsing output of a contract call"
Web3.js 1.3.0

`routerAbi` took from `UniswapV2Router02`.

[code]

[code]

It is funny that the bug disappears if I replace the value of `tokenAddress` with `0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2`.

[2020-09-23 12:54] gopherine commented on #3255
to me roughly the same thing is happening but the transaction is stuck on reciept and i get no response , and it times out i assume, on checking the hash i dont see it processed at all

for me .on("transactionHash" gets triggered
however .on("receipt"
[code]

^above was solved when i omitted nonce <->

however, post that transaction is reverted and transaction fails

Edit2:

removed nonce and i le

[2020-09-24 00:16] interfect opened #3727 "`callbackify` from 'util' doesn't seem to be available in the browser"
When using Browserify 16.5.2, here's what I get from `require('util')`, as logged by `console.log`:
[code]

`callbackify` is not available. Yet, `web3` attempts to use it here:

https://github.com/ethereum/web3.js/blob/866cb9917474e6618851960000db26e118589cd6/packages/web3-core-requestmanager/src/index.js#L23

This produces an error wen I try to use `web3` 1.3.0 in the browser:

[code]

Please rev

[2020-09-24 07:08] mqklin commented on #2683
@x48-crypto check [this comment](https://github.com/ethereum/web3.js/issues/2683#issuecomment-547348416)

[2020-09-24 23:13] 1baga commented on #1354
@joZephhh and @naddison36 Thank you so much... I am really grateful

[2020-09-25 05:05] cokia commented on #3714
I don't know if I understood you well.

If what you want is to "get the tx data with only the tx ID that occurred before it was mined," I just think it's the right way to get the to/from/data area from the trend that you've generated.

`const tx = web3.eth.sendTransaction({
    from: '0xde0B295669a9FD93d5F28D9Ec85E40f4cb697BAe',
    to: '0x11f4d0A3c12e86B4b5F39B213F7E19D048276DAe',
    value: '100

[2020-09-25 06:32] roqueorts commented on #1134
Good morning,
Is there any solution? Still not working with ropsten blockchain, when it works using Ganache.
Thanks

[2020-09-25 11:32] gopherine commented on #3198
Still facing this issue

[2020-09-25 17:37] joeczar commented on #3439
Me too. Node 14.11  "webpack": "^4.44.1",

[2020-09-25 19:29] frankiebee commented on #3727
wow looking at are package.json and `nonde_modules/util` the version is at 0.10 where callbackifiy isn't available till later versions.
probably just need to bump the module thanks for the catch!

[2020-09-25 20:53] #3722 closed, assigned to nobody

[2020-09-25 20:54] Valo-app commented on #3722
I removed the "ethereumjs-tx": "^2.1.2" and it solved my problem thanks

[2020-09-25 22:20] Alfred-Onuada commented on #2091
This works perfectly. Thanks

[2020-09-26 16:37] aminlatifi opened #3728 "Cannot connect to websocket provider"
#### Expected behavior
We has been using to connect nodes using websocket, it was working till yesterday maybe!
#### Actual behavior
Web3 cannot connect to some websocket providers and throws error `connection not open on send()` on request. Actually the `connect` event is not emitted and it's showing that the connection is not stablished well.
We have such problem on connecting to Aragon and our

[2020-09-26 17:01] uluhonolulu commented on #3425
I wish I could do something to help with this, I keep seeing this error and have to write dirty workaround code to handle it every time.

[2020-09-26 17:05] uluhonolulu commented on #3657
@Yazanalsharif sorry for the delayed answer. Here's the code we're using:
[code]

[2020-09-26 21:53] vincent144 commented on #2748
I'm getting the same error when I try

[code]

which is how it is done in this test https://github.com/ethereum/web3.js/blob/1.x/test/batch.js#L43-L47

Is this approach no longer valid? Does this test not pass anymore?

[2020-09-27 00:21] aminlatifi commented on #3728
We had fixed the issue on our gateway by changing nginx configuration.

[2020-09-27 01:53] cokia commented on #3728
If your issue has been resolved, why don't you close it?

[2020-09-27 04:15] cokia opened #3729 ""Signature Malleability"(CVE-2020-13822) On elliptic library"
![image](https://user-images.githubusercontent.com/24792377/94354998-2d127200-00bb-11eb-9db5-9181297169ec.png)

This warning occurs after Web3.js clone and installed as 'npm install'.

When I checked, most high level issues are caused by "elliptic" and its sub library's Signature Malleability.

`The Elliptic package before version 6.5.3 for Node.js allows ECDSA signature malleability via variation

[2020-09-27 07:21] vporton opened #3730 "Serious bug: Cannot read a public contract property (added reproducible example)"
web3.js 1.2.9

Connect to POA Sokol network in MetaMask and execute:
[code]

[code]

This contract does have an `int128` function of this name without arguments.

[2020-09-27 16:00] aminlatifi commented on #3728
@cokia I guess we should close this issue since it's not web3 problem probably.

[2020-09-27 16:00] #3728 closed, assigned to nobody

[2020-09-27 17:59] vporton commented on #3730
Reproducible code to produce the bug:

https://github.com/vporton/test-web3-read-int128

[2020-09-27 18:21] GregTheGreek commented on #3439
Web3.js version please?

[2020-09-27 18:24] joeczar commented on #3439
sorry, wrong dependency.

[2020-09-28 06:35] araa47 commented on #3714
Hi sorry for the unclear information. I was actually referring to getting the transaction details of a transaction that hasn't been sent by me and not mined yet. I got the transaction ID of this by listening to pending transactions.

Is it possible to get more details of these pending transactions without waiting for them to get mined?

[2020-09-28 20:33] Spacesai1or commented on #3730
So I ported over your example code into a Truffle project [here](https://github.com/spacesailor24/web3-3730-truffle/tree/master) (because I'm unfamiliar with Builder), and I do not get the error - I'm not sure if this means there's a bug within Builder, or perhaps more likely their web3 plugin?

[2020-09-28 20:49] vporton commented on #3730
Yes, under Truffle and Ganache it does work.

The bug is produced also (see above) by running web3.js in a browser, so unless there was a contract deployment bug in Buidler, it cannot be a bug of Buidler.

I don't understand what it is. Maybe a contract deployment bug in Buidler?

[2020-09-28 20:55] vporton commented on #3730
Oh, my error. I am closing the bug.

[2020-09-28 20:55] #3730 closed, assigned to Spacesai1or

[2020-09-29 11:35] yashnaman commented on #3727
Any quick fixes for this?

[2020-09-29 15:34] AuHau commented on #3198
This is still an issue even with the 1.3.0 version.

[2020-09-29 15:36] AuHau commented on #3725
Yeah this is known issue that was already reported many times but nothing was done about it for long time 🙄 For example #3198

[2020-09-29 19:05] emclab commented on #1022
What is the weird interaction `react-native-gesture-handler` after import `shim.js`? I am trying to import `web3` into RN 0.63.2 app which has extensive use of `react-navigation` and `react-native-gesture-handler/react-native-reanimated`. Is any module broken after import `shim.js`?. Many thanks.

[2020-09-29 19:59] interfect commented on #3727
I downgraded to an earlier web3.

September 29, 2020 4:35 AM, "Yash Shah" <notifications@github.com (mailto:notifications@github.com?to=%22Yash%20Shah%22%20<notifications@github.com>)> wrote:
	Any quick fixes for this?

	—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub (https://github.com/ethereum/web3.js/issues/3727#issuecomment-700644447),

[2020-09-29 20:05] frankiebee commented on #3727
you could bump the dependency for utli in a local build to 0.12 or downgrade web3 as suggested

[2020-09-29 23:21] ravi0the0sun commented on #1022
hi @emclab so currently i havent test my app on `ios` platform and have not put this line `import 'react-native-gesture-handler';` when i was starting my project the `shim.js` was interacting with the `react-native-gesture-handler` and giving the error of device not capable of true random generation. I have now added the import line after `import 'shim.js';` and no error has been shown so i am not

[2020-09-30 01:25] smithki commented on #3292
_bump_

[2020-09-30 01:55] ariesjia commented on #3292
#3732 has fixed this issue， please review and merge ,related to #3198

[2020-09-30 03:17] yashnaman commented on #3727
I downgraded it.
Thanks, @frankiebee @interfect

[2020-09-30 10:06] m-yahya commented on #3667
@GregTheGreek I upgraded to the latest release of web3, but still getting the same error.

[2020-09-30 12:36] GregTheGreek commented on #3667
This might be an issue with your webpack configuration

[2020-09-30 12:42] GregTheGreek commented on #3726
Which line exactly is causing the overflow?

[2020-09-30 12:44] m-yahya commented on #3667
Thanks for the reply.
I'm using the following webpack configs:
[code]

Update: You may find the project [here](https://github.com/olisystems/dApp-nodeJS-webpack).
Can you please be kind enough to help me what I'm missing here?

[2020-09-30 12:53] GregTheGreek opened #3734 "[Public Announcement] Addressing TypeScript issues"
There have been many reports that the typescript typings are incorrect (#3725, #3292, etc..). This issue is acting as a milestone for an upcoming release `1.4.0` (date TBD) which will effectively addresses issue #3606 as well as a few other things.

The objective is to address all the typing issues in a non-breaking manner to the JS code itself, by breaking the API on the typescript bindings thems

[2020-09-30 13:28] GregTheGreek commented on #3667
@cgewecke Any chance you have an idea here?

[2020-09-30 16:50] vporton commented on #3726
I think, it is
[code]
but the browser output was self-contradictory.

[2020-09-30 18:42] ghost commented on #3310
Totally still an issue.
Also getting:
[code]

[2020-09-30 19:15] ghost commented on #3310
Hey @tsujp, also had the same issue but it's not related to web3.

The `stateMutability` is correctly an `enum` and your abi is correct as well, the issue derives from the way `import` and `require()` work. Since you're using React from what I see, I believe you used `import`.

Try:

[code]
Enjoy :)

[2020-10-01 04:39] ArtixZ commented on #1470
@parin13 I had same issue at `V1.2.11` upgraded to `V1.3` - it's working now

[2020-10-01 21:24] vetal20600 commented on #3707
@cokia appreciate your help. this is prod contract. the given problem have appeared only when web3-1.2.4 have been replaced with 1.2.5 (or any from highest version). contract is kepth the same.

I think this may be related to underlying dependencies of web-1.2.1 and web3-1.25. they may produce the error

[2020-10-02 01:25] yihuang commented on #3688
from my understanding:
- wallet needs to recognise the eip-2876 deposit address and transform into data field.
- exchange:
  - create a deposit contract and show the encoded deposit address to user (probably also show address + data pair to user in case their wallet don't support this yet)
  - monitor the event logs to discover deposit

The more important part for adoption is the wallet part,  if

[2020-10-02 18:26] jayateertha043 opened #3735 "A very weird problem causing overflow"
Please read https://stackoverflow.com/questions/64174076/solidity-overflow-in-my-web3-code-but-works-in-oneclickdapp-final-year-project

[2020-10-02 18:40] mikhaili commented on #3667
https://www.reddit.com/r/typescript/comments/em13kc/missing_basic_dom_types_in_typescript_project/

[2020-10-03 12:54] acud commented on #3691
hi there, swarm team member here.
swarm-js builds on top of the classic `ethersphere/swarm` client which is no longer actively being maintained as we have been rewriting the whole project for the last nine months or so. The new client is being maintained at [ethersphere/bee](https://github.com/ethersphere/bee) and there's an ongoing effort to build a javascript proxy around that in nodejs (still u

[2020-10-03 18:21] GregTheGreek commented on #3691
Do you mind reaching out to our discord?

[2020-10-04 22:41] wbt commented on #2923
I think I'm going to give up on this now.

[2020-10-05 20:19] FahdW opened #3736 "Updated to web3 1.2.0"
`Fetching failed Error: insufficient data for boolean type (arg="", coderType="boolean", value="0x")`

I recently upgraded my web3 from beta to web 1.2.0 and due to the upgrade the contract call is suddenly having an error. The error seems to be coming from ethers/abi-coder.

[2020-10-05 20:58] smithki opened #3737 "Binding provider callback in 1.3.0 breaks Magic JS SDK (Fortmatic)"
#### Expected behavior

Magic JS SDK should work with Web3 `^1.3.0`. A breaking change was somehow introduce between `1.2.x` and `1.3.x`.

I am a maintainer of Magic SDK, so I will try to mitigate from that side when I can. Problem is that Magic SDK works with `web3@<=1.2.x` without issue, so I consider this a breaking change on the Web3-side...

This is related to https://github.com/magiclabs/mag

[2020-10-06 13:05] Fang- commented on #2777
Ditto.

[2020-10-07 06:37] ouoabcde opened #3738 "getPastEvents works or not works depending on the event's location at the smart contract"
#### Expected behavior

`getPastEvents` should work correctly regardless of the event's location at the smart contract.

#### Actual behavior

Throws an error like this when the event which is producing this bug is right below the another event.

`Error: data out-of-bounds (length=0, offset=32, code=BUFFER_OVERRUN, version=abi/5.0.0-beta.153)`

#### Steps to reproduce the behavior

1. [This produc

[2020-10-07 07:33] acud commented on #3691
@GregTheGreek which discord would that be? I am not on the ethereum discord. The web3.js repo does not mention any discord channel, only gitter.

[2020-10-07 21:39] Spacesai1or commented on #3724
Hopefully I'm just doing something incorrect here, but upgrading `@ethersproject/abi` to `5.0.4` (as mentioned [here](https://github.com/ethereum/web3.js/issues/3544#issuecomment-688564902)) doesn't actually solve the issue mentioned when testing using [this test repo](https://github.com/ethereum/web3.js/issues/3544#issuecomment-641531659).

To make sure my testing steps are valid, here is what I

[2020-10-07 21:47] Spacesai1or commented on #3724
Also #3738 seems to be related?

[2020-10-07 21:52] GregTheGreek commented on #3691
https://discord.gg/NxzBFm

[2020-10-08 04:48] GregTheGreek commented on #3585
Closing in favour #3723

[2020-10-08 04:48] #3585 closed, assigned to nobody

[2020-10-08 05:20] zhangyijun commented on #3726
Similar Error with web3@1.3.0
The Error is causing by code in node_modules/@ethersproject/abi/lib/coders/array.js:75:60

        if (coder.dynamic) {
            var offset = reader.readValue();
            **var offsetReader = baseReader.subReader(offset.toNumber());**
            try {
                value = coder.decode(offsetReader);
            }

Full Stacktrace:

Error: overflow (fault="ov

[2020-10-08 18:11] Patil2099 commented on #3724
Can I work on this issue? I would love to work on this issue.

[2020-10-08 19:12] GregTheGreek commented on #3737
thanks for reporting this!
We addressed this in the latest 1.x branch. If you want do you mind giving it a run and see if it wokrs? We're planning a release next week!

[2020-10-08 19:16] GregTheGreek commented on #3724
@Patil2099 what kind of timeline do you think this would take you?

[2020-10-08 21:56] emperorjm opened #3739 "callbackify is not a function when trying to sign a message"
I am using "web3": "1.2.11" but have tried 1.3.0 as well with the same issue. The code is as follows:

[code]

The following error is thrown and I can't find anything online to help with finding out what's wrong:

TypeError: callbackify is not a function
    at RequestManager.send (index.js?abfa:183)
    at sendRequest (index.js?0e85:763)
    at Personal.send (index.js?0e85:797)
    at eval (App.v

[2020-10-09 08:48] vaneeckhoutnicolas commented on #1597
The best is to create a plugin to share through your components.
Anyway if in a specific component you can add this for web3 (same for window.ethereum if needed, e.g. authorize metamask)
declare global {
  interface Window { web3: any; }
}

window.web3 = window.web3 || {};

[2020-10-09 09:02] levino commented on #1597
Or you just use JavaScript if you do not need types...

[2020-10-09 20:25] frankiebee commented on #3739
thanks for reporting this issue. This is a duplicate of #3727

[2020-10-09 20:25] #3739 closed, assigned to nobody

[2020-10-10 19:20] sirpy commented on #3500
@sacgrover

[2020-10-10 19:51] sacgrover commented on #3500
@sirpy  this change has been done intentionally. I am not aware why he did that but may be @nivida can explain the reason.

https://github.com/ethereum/web3.js/commit/ff53a2d9f50b9ce306e9bd91d326660f371fff74#diff-82293a4b0698e4c6c953ae0dbf363f32

[2020-10-10 19:56] sacgrover commented on #3500
I think, I got the reason but it can be fixed another way without stopping parent event emit.. I will raise a pr for it

[2020-10-12 07:01] ariesjia commented on #3734
Due to these issues, so we can't use TS in project.  These just are typing errors will not bring break changes or bugs. Is there any possible to fix this issue before v1.4 released?
I update all the .d.ts file in #3732.

[2020-10-13 15:51] gabmontes opened #3742 "Uncaught TypeError: err.data.substring is not a function"
The following line throws an Uncaught TypeError:

https://github.com/ethereum/web3.js/blob/4615f2d35c455bd81cb04f0ab8d8d2c0b140e33a/packages/web3-core-method/src/index.js#L630

The error is only thrown when `handleRevert` is activated in the contract and the transaction reverts. In that case `err.data` is an object with this format: `{name, stack, 0x...: {error, program_counter, return} }`. If `ha

[2020-10-14 00:59] ross-rosario commented on #3724
I confirm @spacesailor24's finding that upgrading abi coder to `5.0.4`, or even the latest release, does **not** fix the decoding issue.

[2020-10-14 01:01] #3419 closed, assigned to nobody

[2020-10-14 01:05] ricmoo commented on #3724
Are you making sure to pass `true` in for the optional `allowLoose` parameter in the `.decode` method? Keep in mind you should **only** allow this for events as it could expose exploits if loose parsing is allowed on function data...

[2020-10-14 01:05] ricmoo commented on #3724
(See: https://github.com/ethers-io/ethers.js/blob/master/packages/abi/src.ts/abi-coder.ts#L110)

[2020-10-14 09:47] acud commented on #3691
i'm getting an error `invalid invite`

[2020-10-14 14:02] GregTheGreek commented on #3691
Try this one https://discord.gg/cRc2Jh8

[2020-10-15 12:49] #3735 closed, assigned to nobody

[2020-10-15 12:49] jayateertha043 commented on #3735
I fixed it by calling the call() method using from address

[2020-10-15 19:08] #3727 closed, assigned to nobody

[2020-10-15 19:33] GregTheGreek commented on #3734
You can still use the library, you just will not have access to some of the types.

[2020-10-15 22:05] #3724 closed, assigned to Spacesai1or

[2020-10-16 11:46] fonov opened #3745 "Error while decode transaction gas: "Number can only safely store up to 53 bits""
I tried decode transaction from block but got a error

[code]

error occur with tx id `0xe0db32759810271eec05326a4c96fbb42a185139134e16b4581f77456df226a9`

if look closely on https://bscscan.com/tx/0xe0db32759810271eec05326a4c96fbb42a185139134e16b4581f77456df226a9

we can see that gas equal `9,223,372,036,854,775,807`, so web3 js can't convert this string to number

Anyone has idea how resolve thi

[2020-10-16 13:42] GregTheGreek commented on #3717
This has been merged

[2020-10-16 13:42] #3717 closed, assigned to frankiebee

[2020-10-16 14:08] GregTheGreek commented on #1178
Update:

After discussions with the Swarm team we are removing bzz support #3746

[2020-10-16 14:08] GregTheGreek commented on #3267
Update:

After discussions with the Swarm team we are removing bzz support #3746

[2020-10-16 14:08] GregTheGreek commented on #3691
Update:

After discussions with the Swarm team we are removing bzz support #3746

[2020-10-17 01:02] #3664 closed, assigned to nobody

[2020-10-17 01:02] #3656 closed, assigned to nobody

[2020-10-17 01:02] #3591 closed, assigned to nobody

[2020-10-17 01:02] #3606 closed, assigned to nobody

[2020-10-17 01:02] #3120 closed, assigned to nobody

[2020-10-17 05:06] haltman-at opened #3748 "ABI objects passed into web3 functions may end up mutated"
#### Expected behavior

ABI objects (or ABI item objects or ABI parameter objects) that are passed into web3 functions should not be mutated by web3, and should remain valid for use elsewhere without having to worry that web3 has altered them.

#### Actual behavior

If an ABI parameter object has type `function`, it will be mutated to have type `bytes24` instead.  As in, the actual object will be

[2020-10-18 01:05] #3030 closed, assigned to nobody

[2020-10-18 01:05] #1610 closed

[2020-10-19 19:08] #3708 closed, assigned to nobody

[2020-10-19 19:16] 3esmit opened #3749 "ENS Reverse Resolution is not supported"
Add support for reverse resolution.

[2020-10-20 06:27] joticajulian commented on #1594
The `require("ethereumjs-wallet/hdkey");` didn't worked for me, I had to change it to `const { hdkey } = require('ethereumjs-wallet');`

Here is the result
[code]

[2020-10-20 07:32] sssubik opened #3750 "How to filter array of bytes32 and string[] through web3.js?"
### Expected behavior
When I search for the array of bytes32 that I pass as an indexed field in the event, I should get the transaction hash that consists of the queried bytes32 data.
#### Actual behavior
When I search for the array using getPastEvents I get back all the events triggered instead of just one consisting of the bytes32 data.
#### Steps to reproduce the behavior

1.
Pass a bytes32 arr

[2020-10-21 07:51] safakoks opened #3751 "Not Compatible v1.3.0-rc.0 with 1.2.11 on web3-utils"
We are developing a smart contract as called [tubu.io](https://www.tubu.io) for private and ethereum-based blockchain networks. Mostly, our focus is on ConsenSys Quorum. The main difference ConsenSys Quorum Blockchain is the `block timestamp` type.

So, the util method which is called 'hexToNumber' on 'web3-utils' is not suitable for Quorum Blockchain block timestamp type. There are many issues wi

[2020-10-21 13:53] NatPDeveloper commented on #3255
Can anyone explain why this error would occur under normal circumstances?  Getting this on ropsten consistently, thought it could be related to nonce or gas configurations, but we've tried quite a few things and can't seem to get it working.

**Update

Mine was a node related issue, after using my own node, expected behavior.

[2020-10-21 16:50] GregTheGreek commented on #3748
Thank you for reporting this :)

[2020-10-22 02:07] cgewecke commented on #3748
@haltman-at

Could you describe what kind of incorrect results you're seeing?

[2020-10-22 02:18] haltman-at commented on #3748
The short version is that we've got an event which has a `function` as one of its parameters, and web3 alters the event's ABI item, with the result that it no longer has the correct selector.  (The shorter result is that it doesn't really matter, because this should never happen in the first place!)

The slightly longer version is as follows.  We have an event which has a `function` as one of its

[2020-10-22 02:28] cgewecke commented on #3748
@haltman-at Agree it shouldn't mutate the ABI - definitely wrong. The part I don't understand is this

Is it not the case that the decoding returns the expected result per the [Solidity docs][1]?, e.g

[1]: https://solidity.readthedocs.io/en/v0.6.10/types.html#function-types

[2020-10-22 02:38] haltman-at commented on #3748
A `function` is encoded like a `bytes24`, yes, but they're different types for the purposes of selector computation.  In this particular case, for instance, the particular event is called `CauseTrouble` (because this was a test I expected to cause trouble :) ), and the function is its only input.  So its signature is `CauseTrouble(function)`, yielding a selector of 0x5809e1d35b22d18203bfda13a374db

[2020-10-22 02:41] cgewecke commented on #3748
@haltman-at Ah yes I see! Thanks so much for explaining that!

[2020-10-22 15:23] dozcan commented on #1860
hello still get invalid rpc response for ec2 instance geth node

[2020-10-22 16:59] dozcan opened #3752 "invalid rpc response on ethereum geth"
despite thinking this is an solved issue. After 1 years i have faced this issue, never met before.

here is the  environment;

1) have dockerize aws ethereum instance which makes mining geth node 8545:8545
2) i have backend api with nodejs(>=8) and
   "solc": "^0.4.24",
    "web3": "1.0.0-beta.33"
3) var web3 = new Web3(new Web3.providers.HttpProvider("http://54.191.162.75:8545"));

everything loo

[2020-10-22 19:44] cgewecke commented on #3748
@GregTheGreek

Is ok if I self-assign here & open a PR (with better tests) fixing this?

I am responsible for the errors #3586

[2020-10-22 21:45] GregTheGreek commented on #3748
@cgewecke sure! We're planning a release tongiht, but i can hold off. What do you think a timeline is on this?

[2020-10-22 21:57] cgewecke commented on #3748
@GregTheGreek Oh! I was thinking end of tomorrow?

I don't think the `function` ABI type is widely used in public facing Solidity methods since it's always crashed both Web3 and Ethers. Could go in the following release?

[2020-10-22 21:59] #3729 closed, assigned to nobody

[2020-10-23 00:21] Spacesai1or opened #3756 "Implement Lodestar types for ETH2BeaconChain return values and parameters"
As mentioned in #3743

[2020-10-23 00:31] GregTheGreek commented on #3748
could always bump the rc candidate! If you get it in let me know?

[2020-10-23 00:45] gnidan commented on #3748
If you get a dist-tag out we can start testing the upgrade on Truffle's side

[2020-10-23 14:18] LudwikJaniuk opened #3758 "Is semver being followed? 1.2.7 contains breaking changes"
Hi, I my deployment scripts recently started crashing and I identified that a version change from Web3 1.2.1 to 1.2.9 was a possible issue. I'm not going to get into the details of that, it was just how I got here :)

I want to ask: the version numbers look like semantic versioning, so is that assumption correct of me to make? I couldn't quickly find any documentation on it here.

If you are using

[2020-10-24 01:05] #3620 closed, assigned to nobody

[2020-10-24 22:03] hihidev opened #3762 "Wrong doc about the result of "new BN('0xea').toString();""
Following
https://web3js.readthedocs.io/en/v1.3.0/web3-utils.html?highlight=BN#bn

Run:
new BN('0xea').toString();

#### Expected behavior
"234"

#### Actual behavior
"3450"

PS: web3.utils.toBN('0xea') returns "234" correctly

[2020-10-25 01:08] #3677 closed, assigned to nobody

[2020-10-26 01:08] #3683 closed, assigned to nobody

[2020-10-26 14:12] wbt commented on #3699
I don't think this should be marked as stale.

[2020-10-26 17:54] GregTheGreek commented on #3723
@korayKoska

[2020-10-26 17:54] Polycarpik commented on #3699
@koraykoska

[2020-10-27 03:12] GregTheGreek commented on #3758
Hey!

Thanks for pointing out, [ChainSafe](www.github.com/chainsafe) recently took over the development of web3.js, our first release was `v1.3.0`. For prior release I cannot confirm if there was a break in the API but i can promise you we are being very diligent to ensure we follow semver as closely as possible moving forward.

[2020-10-27 03:13] GregTheGreek commented on #3752
You're using an outdated version of web3.js that we are not backporting to. Please try updating to the latest :)

[2020-10-27 03:15] GregTheGreek commented on #3751
Sorry for the late reply. I had taken some time off, im flagging this since you should not have been able to download the latest since its an RC

[2020-10-27 03:19] GregTheGreek commented on #3751
Do you mind explaining what you mean by `regenerating`?

[2020-10-27 06:22] #3650 closed, assigned to nobody

[2020-10-27 06:38] safakoks commented on #3751
No problem with the late reply.

When I override the `hexToNumber` functions on web3-utils, it still uses the [`classic hexToNumber`](https://github.com/ethereum/web3.js/blob/1.x/packages/web3-utils/src/utils.js#L230) function. In other words, I can not override any functions on web3-utils after initializing a new web3 instance like that :

[code]

I think it does not use `utils` of web3 instance.

[2020-10-27 10:13] LudwikJaniuk commented on #3758
Thank you, and it makes me happy to hear it's something you're taking seriously moving forward. Can I ask that you insert some note about it in the README? For example something like this: https://github.com/ethereum/web3.js/pull/3763, so that anyone coming across this in the future knows what's up.

[2020-10-27 15:08] tobydp commented on #1502
@ElectricBill run into this too. did you find any solution for this?

[2020-10-27 16:05] GregTheGreek commented on #3758
awesome thank you!

[2020-10-27 16:05] #3758 closed, assigned to nobody

[2020-10-27 16:18] GregTheGreek commented on #3751
let me investigate this cc: @frankiebee @koraykoska  any initial thoughts?

[2020-10-27 18:39] jdevassi commented on #3762
When removing the single quotation marks -> expected behaviour.

On:
new BN(0xea).toString();

We get:
234

Same (previous comment's) conditions and results when using 'bn.js'  directly.

[2020-10-27 20:12] yathartharora commented on #3271
I am facing the same issue....Have you resolved the issue?

[2020-10-28 01:08] #3577 closed, assigned to nobody

[2020-10-28 01:08] #3611 closed, assigned to nobody

[2020-10-28 17:15] Spacesai1or commented on #3762
Thank you for bringing this to our attention! This should be an easy one to fix :slightly_smiling_face:

[2020-10-28 17:45] Spacesai1or commented on #3750
Thank you for bringing this to our attention! Looking at the [docs](https://web3js.readthedocs.io/en/v1.2.0/web3-eth-contract.html#getpastevents) this does seem to be a bug that we will further investigate

It would also be helpful to know the version of Web3.js you're using, thank you!

[2020-10-28 17:50] Spacesai1or commented on #3749
Thank you for bringing this to our attention, adding a [doc link](https://docs.ens.domains/dapp-developer-guide/resolving-names#:~:text=Reverse%20Resolution&text=ENS%20supports%20reverse%20resolution%20to,the%20resolver%20function%20name()%20.) for additional context

[2020-10-29 02:36] koraykoska opened #3765 "Move dist folder to release assets"
I don't think the dist js files should have a place in the SCM. Release assets can be uploaded automatically with a github action.

[2020-10-29 02:38] koraykoska commented on #3765
I guess we have to change a few things to make this feasible. Maybe for the next release?

[2020-10-29 04:22] koraykoska commented on #3699
Are we gonna try to be backward compatible with old providers with the close event? If not we'll need to mark this as a breaking change and als change the according unit tests and mock providers.

[2020-10-29 04:24] koraykoska commented on #3699
@wbt Could you please provide a complete example of a small webpage which results in those warnings with the newest 1.3.0 web3.min.js?

[2020-10-29 16:45] Spacesai1or commented on #3745
Thank you for reporting this, it seems to be a long standing issue as mentioned in #3751, hopefully we can take a look at this and finally fix the underlying issue!

[2020-10-29 16:53] Spacesai1or commented on #3742
Hi there, the bug you're describing makes sense, do you have example code we can use to debug?

Thank you for reporting this!

[2020-10-29 17:06] Spacesai1or commented on #3736
Hi there, thank you for reporting this! Is there any way we could a code snippet depicting the error you're receiving?

[2020-10-29 18:04] GregTheGreek commented on #3765
Great point ! Lets schedule it for next release :)

[2020-10-30 03:08] fsobh commented on #1040
still facing this issues {"jsonrpc":"2.0","id":0,"error":{"code":-32000,"message":"invalid sender"}

[2020-10-30 04:46] koraykoska opened #3767 "Switch to ESLint"
JSHint is a mess. Let's switch to ESLint. We can configure a style guide and let people install plugins for their editors to format on save, even with custom options and between TS and JS.

I suggest we also agree on one of the major style guides in the process and require it project wide before approving PRs. This can be done easily with Github Actions.

[2020-10-30 10:54] AuHau commented on #3734
Ufff this is a problem already for a year. Any ETA for 1.4.0?

@ariesjia work around is to use custom declaration that overrides this like:
[code]

The problem for me is that I have a library that uses web3.js and now all its TS users have to use this hack in order to make it work...

[2020-10-30 14:21] Agupane opened #3768 "ENS Support for EWC"
#### Expected behavior

ENS should be supported on EWC network.

#### Actual behavior

It is not supported

![image](https://user-images.githubusercontent.com/21086218/97715907-b72a6d80-1aa1-11eb-9fdc-7ac844835fa1.png)

#### Steps to reproduce the behavior

Try to call web3.eth.ens.getAddress(name) when connected to a EWC.

#### Logs

#### Environment

Versions
web3.js 2.0.0-alpha.1

[2020-10-31 00:37] #3267 closed, assigned to nobody

[2020-10-31 07:36] Troublor opened #3769 "Confirmation number subscription is never cancelled when transaction confirmation listener is added then removed"
#### Expected behavior

When sending a transaction, listener to `confirmation` event by `.on("confirmation", listener)` will cause web3.js subscribe to new heads and when confirmation number is larger than `web3.eth.transactionConfirmationBlocks`, the subscription will be unsubscribed.

However, after the listener is registered, if I remove this listener, the subscription will never be unsubscribe

[2020-10-31 09:06] Troublor commented on #3769
What's weird is that this issue does not expose in `ganache` with `instant mine` mode.
That is to say, the above script does not keep printing `send JSON-RPC: ${request}` when ganache is started without`--blockTime` option.
Does web3.js knows blockchain is not mining and does not keep polling new blocks?

[2020-10-31 19:44] wbt commented on #3699
@koraykoska Unfortunately I won't be able to do that in the next week or so.

[2020-11-01 09:15] GregTheGreek commented on #3734
@AuHau i totally understand, and we're rapidly trying to fix this.

We're very close to having our es6 branch completed, at which point we'll be making a lot of PR's to update the main exports to typescript, and slowly working our way down the tree.

There's a good chance it could come after the current RC

[2020-11-02 14:02] wbt commented on #3705
How's it going @spacesailor24?

[2020-11-02 15:48] cokia commented on #3767
I really sympathize with your opinion.
I've never seen jshint work properly.

I think eslint is suitable way for typescript response.

[2020-11-02 20:48] jjgonecrypto commented on #3698
Please keep this open Mr Robot :pray:

[2020-11-03 11:46] GregTheGreek commented on #3768
Hey, I'm not familiar with EWC, what exactly is this?

[2020-11-03 11:46] GregTheGreek commented on #3767
yep, i also think we should probably switch over to using babel vs TSC

[2020-11-03 11:47] GregTheGreek commented on #3751
Still looking into this

[2020-11-03 12:42] lottemilk opened #3771 "nodejs running problem"
I have created bot for balance checker when i am running some ETH contracts are fine but in some ETH contracts it shows me error

(node:15052) UnhandledPromiseRejectionWarning: Error: call revert exception (method="getReserves()", errorSignature=null, errorArgs=[null], reason=null, code=CALL_EXCEPTION, version=abi/5.0.7)
    at Logger.makeError (C:\Users\aniqu\desktop\bot\node_modules\@ethersproje

[2020-11-03 12:46] Agupane commented on #3768
Sorry, EWC means Energy Web Chain, [here](https://energyweb.org/technology/energy-web-chain/) is the URL to the web

[2020-11-03 13:20] shark0der opened #3772 "web3 1.2.9 does not properly encode "-1" as int8 (signed)"
My current contract has a function with the following signature:

`function submitCAVote(uint claimId, int8 verdict)`. I'm trying to pass `-1` as verdict value.

#### Expected behavior

`-1` passed as a string or BN should be encoded correctly and function called.

#### Actual behavior

When calling the contract web3 throws the following error:

`Error: invalid BigNumber string (argument="value",

[2020-11-03 15:50] alcuadrado commented on #3772
@shark0der you mentioned that there's a version and properly encodes it. Which version was it?

[2020-11-03 15:52] shark0der commented on #3772
@alcuadrado it works fine on `web3@1.2.1`

[2020-11-03 15:54] shark0der commented on #3772
There's also another issue which is more of an incompatibility rather than a bug. When passing `-1` for a `uint` parameter it complains that the value is bad while previously it was converting it to `MAX_UINT`.

[2020-11-03 16:15] GregTheGreek commented on #3768
Unfortunately we do not support the ability to change the ENS name. I presume this was originally done as a security measure. You can see available networks [here](https://github.com/ethereum/web3.js/blob/1.x/packages/web3-eth-ens/src/config.js)

[2020-11-03 16:15] #3768 closed, assigned to nobody

[2020-11-03 16:44] alcuadrado commented on #3772
@ryanio @cgewecke I think we discussed some problems with the version of the ethers encoder used by web3. Can this be related?

[2020-11-03 18:01] cgewecke commented on #3772
Hi @shark0der - in an initial attempt I haven't been able to reproduce this.

Could you show the complete stack trace of the error?

For both 1.2.9 and 1.3.0, the following seems to encode the params correctly
[code]

[2020-11-03 18:26] cgewecke commented on #3772
There are a couple other behavioral changes listed in the `1.2.8` [release notes][1]. These are intended as bug-fixes, e.g. silently overflowing when a negative number is passed as an unsigned integer seems bad.

[1]: https://github.com/ethereum/web3.js/releases/tag/v1.2.8

[2020-11-03 18:35] shark0der commented on #3772
I'm not sure I've correctly identified the issue because running `contract.methods.submitCAVote('1', negativeOne).encodeABI()` returns exactly what you have. The culprit might be truffle-contract but I'm really not sure where to dig because the stack trace does not show anything from `node_modules`:

[code]

I've pushed the failing code here: https://github.com/NexusMutual/smart-contracts/tree/bro

[2020-11-03 18:36] cgewecke commented on #3772
Awesome thanks @shark0der.

[2020-11-03 19:17] cgewecke commented on #3772
It looks like it *is* a problem here but only affects negative number strings...

Modifying the NexusMutual tests like this makes them pass
[code]

Native negative numbers also work (for both truffle/contract and pure Web3).
[code]

Relevant code at Web3 is [around this location][1].

[1]: https://github.com/ethereum/web3.js/blob/edf481d37ed0c4c4caae7a25619704010ac3639e/packages/web3-eth-abi/src/i

[2020-11-03 19:29] shark0der commented on #3772
Oh, unexpected. The other issue I was talking about was the `-1` to MAX_UINT conversion.
The failing code is here: https://github.com/NexusMutual/smart-contracts/blob/broken/remove-oraclize/test/integration/ClaimPayoutAddress/membership.js#L44

This was also working fine with web3 1.2.1

[2020-11-03 20:07] cgewecke commented on #3772
@shark0der

See [comment above][1]. In your view should this not be seen as a bug-fix?

[1]: https://github.com/ethereum/web3.js/issues/3772#issuecomment-721301243

[2020-11-03 21:41] Spacesai1or commented on #3738
Hi there, I've tested your example code via [my test repo](https://github.com/spacesailor24/web3-3738) and it seems to be working in the [latest release candidate](https://github.com/ethereum/web3.js/pull/3757). Can you confirm that your original issue is resolved using the release candidate?

FYI, I removed the `indexed` tags from your events `LogRequest` and `LogResponse` because Solidity return

[2020-11-03 23:30] shark0der commented on #3772
I see it as a breaking change that should not be included in a patch version but rather in a minor version to follow the semver convention. If the library is silently updated - the tests start failing (which is exactly what happened).

Maybe that wasn't the intention initially but this is what we are using and perhaps others could be using as well. It's also similar to how solidity behaves so it w

[2020-11-04 13:45] dmitry-salnikov opened #3774 "Getting "Returned values aren't valid, did it run Out of Gas?" on 1.x"
Since the `2.x` branch seems to be not supported anymore, I'm trying to migrate to `1.x` branch.
Everything works fine except one thing the next error when trying to get ERC20 token balance:

[code]

I've seen a number on similar issues here, but in my case - I'm getting `Returned values aren't valid, did it run Out of Gas? ...` error on any version from `1.2.2` to `1.3.0` only - but it works fine

[2020-11-04 13:59] Agupane commented on #3768
Hi @GregTheGreek the idea is to add EWC to the list of supported ENS, not to change the ens name. This issue requests the same as [this one](https://github.com/ethereum/web3.js/issues/3252). In which only adding the ENS address for EWC is needed.

Let me know if I explained myself correctly or if you have more questions

[2020-11-05 03:57] chaitanyapotti opened #3776 "stripHexPrefix is present in types for web3-utils but isn't present in js code"
The types for web3-utils specify the export of `stripHexPrefix` but it isn't present in the js code.

#### Expected behavior
Actually export the function or remove the export from types

#### Environment
npm: 6.x
node: 12.x
web3.js: 1.3.0

[2020-11-05 08:10] RjtSinghal commented on #2518
Has anyone find the solution for this ? I am using web3@1.3.0

[2020-11-05 09:27] tgmichel opened #3777 "Unexpected `transactionRoot` property name"
The [eth_getBlockByHash documentation](https://eth.wiki/json-rpc/API#eth_getblockbyhash) describes the response as including a `transactionsRoot` property, but `web3-eth` [BlockHeader interface](https://github.com/ethereum/web3.js/blob/1.x/packages/web3-eth/types/index.d.ts#L397) expects a `transactionRoot` (without an s).

Is this a known problem or am I missing something?

[2020-11-05 16:26] sham789 commented on #2077
Rename the variable while importing

[2020-11-05 17:43] ProximalPod commented on #2890
@nivida same issue here. Local node, getting empty array. This should be reopened

[2020-11-05 18:50] Spacesai1or commented on #3777
I don't know if there was a reason for it, but it looks like a typo - @GregTheGreek can you confirm?

[2020-11-05 18:58] Spacesai1or commented on #3776
Thank you for bringing this to our attention, you are absolutely right - I'm sure we'll be able to correct this soon!

In the meantime, a quick workaround would be `string.replace(/^0x/i, '')`

[2020-11-05 19:54] Spacesai1or commented on #3771
Hi there, if you could provide us with code examples, we might be able to tell what's going wrong

Also the versions used e.g. npm, Node, web3.js, OS

[2020-11-06 05:11] lottemilk commented on #3771
Thanks for the reply i am attaching file bro check

`require('dotenv').config()
const Web3 = require('web3')
const { ChainId, Fetcher, WETH, Route, Trade, TokenAmount, TradeType, Percent } = require('@uniswap/sdk')
const ethers = require('ethers')

//const chainId = ChainId.ROPSTEN
const chainId = ChainId.MAINNET

let web3HD
let token
let route
let weth
let provider
let signer
let uniswap
let TOKE

[2020-11-06 13:54] nvegater commented on #1597
Anyone has experience with the [Typechain](https://github.com/ethereum-ts/TypeChain)?
Does it keep up with w3 changes?

[2020-11-06 14:34] levino commented on #1597
Typechain does not solve this problem. It is for something else (typing the methods of the Contract instance from web3).

I personally recommend `ethers` these days. It is not perfect but much better than web3.

[2020-11-06 14:47] GregTheGreek commented on #3777
Hmm... ill need to poke around and see what other teams are doing

[2020-11-07 04:23] sneak commented on #1050
🤣 My setting `nonce = txCount + 1` just cost me 4 hours of endless troubleshooting (including switching out libraries) until I found your comment.  Thank you, @johnbailon.

[2020-11-07 21:52] chrisfranko commented on #3408
omg ty

[2020-11-09 13:07] marsrobertson commented on #3408
Spent some time: updated Xcode, installed command-line tools, restarted the machine...

### NVM is your friend

https://github.com/nvm-sh/nvm

`nvm install 10`

`nvm use 10`

[2020-11-09 15:32] alemagio commented on #3776
Hi, I'm new to this project but if you don't mind I would like to try and solve it.

[2020-11-10 06:12] koraykoska opened #3779 "DevContainer"
I am thinking about setting up a VSCode DevContainer and running the CI flow inside the container as well. This would eliminate failing tests on just the CI or just locally as we could reproduce them perfectly on our machines.

Especially for a project with so many dependencies it's so important to be able to reproduce failing tests.

[2020-11-10 15:35] hieuhdt commented on #3771
@lottemilk Do you find the solution? I met this issue the same as you

[2020-11-10 15:42] lottemilk commented on #3771
No

On Wednesday, 11 November 2020, thienhieu123 <notifications@github.com>
wrote:

[2020-11-11 00:37] #3697 closed, assigned to Spacesai1or

[2020-11-11 04:20] jacko125 commented on #3698
Hi Greg,

Any update on this issue?

Thanks

[2020-11-11 08:24] yq0810 opened #3780 "support eth_estimateGas inputBlockNumber"
go-ethereum is relatively new, can input BlockNumber, can anyone add this method?

https://github.com/ethereum/go-ethereum/blob/8c2f271528f9cccf541c6ea1c022e98407f26872/internal/web3ext/web3ext.go#L509

like web3.py
https://github.com/ethereum/web3.py/blob/7cc996723841895b9cc4feac354bc06d711dee05/tests/core/contracts/test_contract_estimateGas.py#L143

[2020-11-11 12:50] GregTheGreek commented on #3777
I think this is a typo, but it would also be a breaking change due to it existing in the code like this...

[2020-11-11 12:51] GregTheGreek commented on #3684
@koraykoska Can you double check this :)

[2020-11-11 12:52] GregTheGreek commented on #3651
@koraykoska

[2020-11-11 12:53] GregTheGreek commented on #3698
Reassigning to @spacesailor24  :)

[2020-11-11 12:54] GregTheGreek commented on #3772
@koraykoska :)

[2020-11-11 13:15] tgmichel commented on #3777
In our particular case we have a workaround for it in the tests, however it's good to know that differs from the Ethereum specs so in the future we can take this into account.

Anyway, thank you for taking some time to look at it and please feel free to close this if no further action will be taken.

[2020-11-11 13:26] ngyam commented on #3768
Hi @GregTheGreek can we have this issue reopened?
It's just adding web3.js ENS support to our EVM chains, basically 2 additional Registry addresses, as in the open PR.
Many if our projects depend on it and it would be great to officially use the vanilla web3.js lib for this.

**EnergyWebChain (EWC)** - our live value bearing production chain - https://chainid.network/chains/#energy-web-chain--
**V

[2020-11-11 15:44] GregTheGreek commented on #3768
I'm not trying to be rude, so please bare with me. Hopefully this highlights a larger concern we have with supporting blockchain specific features not included in Ethereum. The main problem is that we have to do this for every other blockchain.

EWC is not in our list of default networks that can be connected to, and thus I would say to have support for ENS we would also want that network to have

[2020-11-11 15:45] GregTheGreek commented on #3777
This is an issure, so we'll be keeping it open thanks for reporting this.

[2020-11-11 18:26] Spacesai1or commented on #3680
I think #3738 is related, and the [release candidate](https://github.com/ethereum/web3.js/pull/3757) should fix this

[2020-11-11 21:26] Spacesai1or commented on #3751
@safakoks Are you manually calling `hexToNumber`, or is Quorum calling it somewhere and you're just getting the error? Because `hexToString` exists and I think it would make sense to update your code to use it rather than updating `hexToNumber` to possibly return a string

Also maybe you could use `hexToNumberString`?

Doc link for [hexToNumberString](https://web3js.readthedocs.io/en/v1.2.11/web3-

[2020-11-12 00:30] chunxi opened #3782 "web3 1.3.0 eth.abi.decodeParameters out of memory"
#### Expected behavior
It supposed to throw an error if the data is not decodable instead of an infinite loop.

#### Actual behavior

#### Steps to reproduce the behavior
I'm trying to decode this tx [`0x5773ef81bc2acca96a7de13feec1158602683d99ab03279a11ca58c285ecfbba`](https://etherscan.io/tx/0x5773ef81bc2acca96a7de13feec1158602683d99ab03279a11ca58c285ecfbba)

It failed at decoding paramters `web

[2020-11-12 00:41] #3702 closed, assigned to nobody

[2020-11-12 01:53] tota999 opened #3783 "Ya"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Environment

[2020-11-12 07:37] safakoks commented on #3751
@spacesailor24 I uses `on('receipt')` event during [sending tx](https://web3js.readthedocs.io/en/v1.2.11/web3-eth-contract.html#methods-mymethod-send). I think it uses `hexToNumber`. But `block.timestamp` type is the main problem. Because the type of Quorum's block timestamp is different, the original `hexToNumber` cannot convert as I understand. I do not use the method independently.

Overriding

[2020-11-12 09:28] wbshobhit1 opened #3784 "And this is the error"
And this is the error

Error: Cannot find module '/Users/pablo/Downloads/blockchain-for-healthcare-master/node_modules/web3/packages/web3/src/index.js'. Please verify that the package.json has a valid "main" entry
    at tryPackage (internal/modules/cjs/loader.js:292:19)
    at Function.Module._findPath (internal/modules/cjs/loader.js:523:18)
    at Function.Module._resolveFilename (internal/modul

[2020-11-12 19:48] Gameghostify opened #3785 "Randomly, `sendSignedTransaction` emits `transactionHash` but transaction is not broadcast"
#### Expected behavior

The `receipt` event fires or the Promise/PromiEvent gets rejected

#### Actual behavior

The `transactionHash` event fires but the transaction is not found on etherscan and similar block explorers. The `receipt` event never fires and the Promise/PromiEvent doesn't ever get rejected; not even a reverted transaction can be found

This seems to happen randomly, there's nothing

[2020-11-12 20:49] #3776 closed, assigned to Spacesai1or

[2020-11-12 20:53] spacesailor24 commented on #3783
Hi there, did you mean to create an issue? If so, please fill out the description so we can try to help :)

[2020-11-12 22:00] alvin854 opened #3786 "TransactionReceipt.events.eventName can't handle multiple instances of the same event"
#### Expected behavior

An ability to loop through an `EventLog[]` on `TransactionReceipt.events.eventName` in case multiple instances of the same event are emitted in the same transaction. Expected `TransactionReceipt.events.eventName` to be of type `EventLog | EventLog[]`, but it is of type `EventLog`.

#### Actual behavior

`TransactionReceipts.events.eventName` is of type `EventLog`, so there

[2020-11-13 17:45] gnidan commented on #3748
Any updates on this? Thanks!

[2020-11-14 10:00] GregTheGreek commented on #3748
@cgewecke any news otherwise we can take this on

[2020-11-14 17:39] cgewecke commented on #3748
@GregTheGreek

Really sorry, this dropped through the cracks. Yes, if you'd like to fix this please go ahead.

Un-self-assigning...

[2020-11-14 18:00] GregTheGreek commented on #3748
No worries we'll get it done :)

[2020-11-15 01:40] alvin854 commented on #3786
A workaround:

[code]

[2020-11-15 16:08] lucadonnoh commented on #2683
any update?

[2020-11-15 16:36] lucadonnoh opened #3787 "ENS is not supported on network private using cloudflare-eth"
#### Expected behavior
ENS resolving domain

#### Actual behavior
ENS is not supported on network private
#### Steps to reproduce the behavior

[code]

#### Log:
`(node:23664) UnhandledPromiseRejectionWarning: Error: ENS is not supported on network private
    at ENS.checkNetwork (/Users/donnoh/node_modules/web3-eth-ens/lib/ENS.js:483:19)
    at processTicksAndRejections (internal/process/task_que

[2020-11-15 21:05] elmariachi111 opened #3788 "web3 / wallet connect / react throws "send is not a function""
#### Expected behavior
We can use a web3 library with a  provider by WalletConnect

#### Actual behavior
We binding web3 1.3.0 used inside CRA to a WalletConntect provider, any call to RPC throws a meaningless JS exception "send is not a function

#### Explanation / related issues

(uses react-web3 under the hood):
https://github.com/aragon/use-wallet/issues/59
https://github.com/strudel-finance/m

[2020-11-16 20:19] #3783 closed

[2020-11-16 20:19] #3699 closed, assigned to koraykoska

[2020-11-16 20:26] Spacesai1or commented on #3771
Thank you for providing your code, however, due to the large amount of it, would it be possible for you to provide a functional repo we can use to further debug?

Also, just wanted to mention that in your original error you posted, the line:

Suggests that you're facing a contract error and your transaction is reverting, so this wouldn't be a Web3.js issue, but an issue with how you're calling you

[2020-11-17 08:19] debnath-d commented on #3591
@GregTheGreek Any update on this issue? Were the helper functions mentioned in the discussion above implemented?

Also, I think the issue should be reopened and not marked stale.

[2020-11-17 10:54] miohtama opened #3790 "this.send is not a function with Web3.js 1.3.0"
I am opening this issue report here, because although this is documented elsewhere, we are getting so many issue reports regarding this. I hope this will help people to locate this issue faster and help themselves with Google, instead of coming to the chat.

#### Expected behavior

Creating a node connection with web3.js and WalletConnect works.

[code]

#### Actual behavior

You will get

[code]

[2020-11-17 15:42] mattnegrao commented on #3771
I faced the same issue and the problem was that I was trying to fetch price for a pool that did not exist.
Check if a pool with the pair of contracts you are trying to fetch the price exists. If not, you can add the liquidity yourself.
I hope this helps!

[2020-11-17 16:50] lottemilk commented on #3771
but i am trying to fetch pools without liquidity and capture when
liquidity has been added.

On Wed, 18 Nov 2020 at 00:43, Matheus Negrão <notifications@github.com>
wrote:

[2020-11-17 20:01] Wyctus opened #3791 "Maker token and Web3 ERC20 name, symbol error"
I was getting into a really strange issue today. I was querying a some basic data about ERC20 tokens when I got an error thrown by `bignumber`. It was complaining about some overflow and gave a really strange number I've never intended to use.

After some debugging I found out, that Maker token has its name and symbol defined as `bytes32` instead of `string`. Also found out, that the overflown num

[2020-11-17 20:53] Wyctus commented on #3791
I found some other similar token:
`0x9469D013805bFfB7D3DEBe5E7839237e535ec483`

[2020-11-19 15:52] matt-spark-health commented on #2890
Same

[2020-11-20 02:43] cokia commented on #3787
I don't think this is a web3 problem. Because the genesis hash of cloudflare-eth is not the same as the Genesis hash of Etherium Mainnet.
"web3.eth.net.getNetworkType()" This returns the private. That's why this error occurs, primarily because of the cloudplare ETH node operation.

I saw this issue and made a suggestion about "web3.js".

Ethereum's official document also recommends "web3.eth.net.g

[2020-11-20 02:45] cokia commented on #3784
Did you try 'npm install' or 'npm install web3.js'?

I think the reason why you are having this problem is just because you didn't install web3.js.

Also, if you do not understand the issue well when creating the issue from next time, please give us an intuitive title such as using the first line of error excluding the path. Thank you!

[2020-11-20 02:49] cokia commented on #3779
I agree with you that we need an easily accessible CI. However, I think VSC DevContainer is a way to rely on an IDE too much. Is there any other alternative?

[2020-11-22 00:48] #3671 closed, assigned to nobody

[2020-11-22 05:08] fintechee opened #3793 "I failed to send ether with some memo(custom data) to some NON-CONTRACT account by calling sendTransaction"
Hi,

I failed to send ether with some memo(custom data) to some NON-CONTRACT account by calling sendTransaction

        web3.eth.sendTransaction({
          from: web3.givenProvider.selectedAddress,
          to: "0xXXXXXXXXXXXXXXX",
          value: 0.01,
          data: web3.toHex("Some Memo")
        }).then(function (receipt) {
        }).catch(function (e) {console.error(e)})

#### Expected

[2020-11-22 22:55] yzevm commented on #3793
@fintechee Not sure that you can send some `data` message to another address

If I remember it right, first 8 digits of `data` is hex id of contract method, rest is your params

[2020-11-22 23:40] fintechee commented on #3793
@YegorZaremba
Thank you for your reply.
Yes, the web3 seems to regard all transactions with some data as calling of some contract functions.
But sometimes we have needs to send funds to a common address(not a contract address) and attach some reason to make the recipient know what the funds stand for. Right?
So, I think the data field should be reserved for this kind of use case.
Or, any custom da

[2020-11-23 00:48] #3711 closed, assigned to nobody

[2020-11-23 14:17] kigorw commented on #3042
not stale, please fix

[2020-11-23 22:32] aenhsaihan commented on #1102
Is this really resolved? I'm still getting the same error on 1.2.2

I get the error when I used Kovan testnet just now. But for local development with instant mining, the await function never returns so the page just shows the transaction as still processing.

[2020-11-25 21:42] julienmuller-forge opened #3795 "BigNumber in ABIEncoderV2 tuples not handled by ABICoder.encodeParameters"
encoding ABIEncoderV2 tuples(struct) containing BigNumbers does not work currently. These BigNumbers should be converted to string, as ethers does not handle BigNumbers created using either BN.js or bignumber.js

#### Expected behavior
`ABICoder.encodeParameters([{name: 'param', type:'tuple', components: [{name:'member',type:'uint256'}]}],[{member:new BigNumber(2)}]) `

should give the same result

[2020-11-26 03:57] jhonny-fer opened #3796 "Uncaught TypeError: Cannot read property 'setInfo' of undefined does not receive the value given when entering the text does not call the when using web3"
function registerGetInfo() {
    contract.methods.getInfo().call().then( function( info ) {
      console.log("info: ", info);
      document.getElementById('#lastInfo').innerHTML = info;
    });
  }

  function registerSetInfo() {
   var info = $("#newInfo").val();
    contract.methods.setInfo(info).send( {from: account}).then( function(tx) {
      console.log("Transaction: ", tx);
    });
    $(

[2020-11-26 13:48] sterlu opened #3797 "web3-core-method: If transaction fails, newHeads subscription is not stopped"
**TLDR:** If a transaction fails (ie. out of gas) sub.unsubscribe() is never called and blockTracker continues to poll for blocks indefinitely

#### Expected behavior
1. When sending a transaction, [`startWatching`](https://github.com/ethereum/web3.js/blob/1.x/packages/web3-core-method/src/index.js#L549) inside web3-core-method is called. It either sends eth_subscribe if it is available on the pro

[2020-11-26 23:00] liamaharon commented on #3425
@uluhonolulu I have a PR in progress that addresses this, TODO is to get error codes thrown instead of strings. I don't have time to get around to finishing it right now, if you're still willing & able to help would be great if you could assist finishing it off https://github.com/ethereum/web3.js/pull/3426

[2020-11-27 06:26] uluhonolulu commented on #3425
@liamaharon I'll be happy to work on it. Do you think I'll be able to continue working on your PR (permissions?) or create a new one? (Sorry if it's a dumb question)

[2020-11-28 11:07] fintechee commented on #3793
The message "TxGasUtil - Trying to call a function on a non-contract address" is returned by the inpage.js of Metamask.
Actually, the transaction is done successfully.
Just the exception "TxGasUtil - Trying to call a function on a non-contract address" was caught by Metamask and thrown to web3.js.
So, I think it's a bug obviously.
And, this is a really necessary feature.
For example, in the case t

[2020-11-29 15:58] AmazingBeerBelly opened #3798 "Web3 v2.0.0 toChecksumAddress's chainId is not work."
Code:
[code]

Using web3 v1.3.0, the code is working.

But using web3 v2.0.0 the code will get an error.
[code]

[2020-12-01 04:26] frankiebee commented on #3785
What provider are you using? And is it possible to see params of these transactions that aren't being published?

[2020-12-01 04:54] frankiebee commented on #3793
This looks like a metamask issue https://github.com/MetaMask/metamask-extension/blob/14d85b133233d5f806480d8896f0c11cafc04a87/app/scripts/controllers/transactions/index.js#L348 closing this issue. Removing that check in metamask should fix your problem

[2020-12-01 04:54] #3793 closed, assigned to nobody

[2020-12-01 05:15] frankiebee commented on #3796
Can you provide the actual error and a description of what you are experiencing and a little more context to this code snippet?

[2020-12-01 08:50] sergey-chekriy commented on #3788
you can also take this 'official' example for vanilla js: https://github.com/Web3Modal/web3modal-vanilla-js-example
replace in index.html, line 97: 1.2.11 on 1.3.0 and see the same error.

  <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>

[2020-12-01 12:22] fintechee commented on #3793
@frankiebee
But Metamask is an extension, it's impossible to make all the users except me have this updated, right?
I have released another issue in Metamask's repo.
Anyway, thank you a lot for your help.

[2020-12-01 17:24] amitOodles commented on #1587
@imbaniac @nivida @elie222 , I wanted to know what is the use of unsubscribe ? Is it required that i should unsubscribe my contract subscription after some time interval?

[2020-12-01 23:56] aenhsaihan commented on #2837
Is this all somehow related to https://github.com/ethereum/web3.js/issues/1102?

I've been getting this error message on web3.js 1.3.0 which I thought was related to the issue discussed.

Any tips?

[2020-12-02 02:18] junderw commented on #3688
I'm putting this on the back burner for a while.
Seems like not much interest.

[2020-12-02 02:18] #3688 closed, assigned to nobody

[2020-12-03 12:59] Martaaa96 opened #3801 "M"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Environment

[2020-12-03 20:16] frankiebee commented on #3801
Closing this issue if you have an actual issue please provide description and title.

[2020-12-03 20:16] #3801 closed, assigned to nobody

[2020-12-03 23:17] zimmah opened #3804 "documentation is lacking"
In usage it simply says:

[code]

What is '/Users/me/Library/Ethereum/geth.ipc' supposed to mean? Does it imply I need geth already installed?

[2020-12-04 14:04] boukestam opened #3805 "Contract deployment doesn't support libraries"
While trying to deploy a smart contract we got the following error ```The data field must be HEX encoded data.```
After a lot of debugging I found out that this is caused because the isHex function in [utils.js](https://github.com/ethereum/web3.js/blob/1.x/packages/web3-utils/src/utils.js) only supports characters 0-9 and a-f.

But when using a linked library solidity includes this in the outputte

[2020-12-04 14:49] vetal20600 commented on #3707
this is actual

[2020-12-04 16:07] Gribesh commented on #2166
Sometimes we might use account address instead of contract address.
If its correct then that function would return promise, you might need to handle the promise.

[2020-12-04 23:54] aenhsaihan commented on #2104
Has this been resolved? I'm still experiencing the same issue as @vporton

web3.js 1.2.9 with MetaMask 8.1.5

[2020-12-06 05:48] basedalexander opened #3806 "web3.eth.abi.decodeLog throws an error"
#### Expected behavior
the logs parameters are decoded

#### Actual behavior
when decoding logs in this transaction I get exceptions (logs are in the end). (except receipts.logs[3] is decoded just FINE!!! , it's "data" field string is way bigger: "0x00000000000000000000000000000000000000000006dcac08e5dbcdb7fbe3ff000000000000000000000000000000000000000000000ac093660eee70f4a544" )

#### Steps to rep

[2020-12-06 19:03] Spacesai1or commented on #3806
Hi there, looking at the [event logs](https://etherscan.io/tx/0xd340d085fd0b6d1e206ac67c2667a45417e372425765f779d4688ef816644a59#eventlog) for the transactions you're retrieving the receipt for (`0xd340d085fd0b6d1e206ac67c2667a45417e372425765f779d4688ef816644a59`), there is no emitted event that contains the data with named properties `dst` and `wad` (which is why you're getting the `out of range`

[2020-12-06 23:45] Spacesai1or commented on #3804
As per the documentation:

[code]

It would seem that an IPC connection should be used when running a local node and the file path you mentioned is to the `geth.ipc` that gets created when setting up a node using Geth

[Here](https://ethereum.stackexchange.com/questions/1492/when-is-the-geth-ipc-file-produced) is some additional information

[2020-12-07 00:01] Spacesai1or commented on #3784
So the `package.json` provided [here](https://github.com/ethereum/web3.js/issues/2476#issuecomment-538602067) actually has a typo for the `test` script (two extra ")

And for the actual `web3` dependency, I was able to reproduce the error when using `"web3": "github:ethereum/web3.js"` however, the error went away after replacing `github:ethereum/web3.js` with a version number such as `^1.3.0`

If

[2020-12-07 01:10] zimmah commented on #3804
Ok, thanks, that seems pretty clear. I'll see if I can add that to the documentation

[2020-12-07 04:39] koosy79 opened #3808 "Bitbotch"

[2020-12-08 12:14] ytrezq commented on #1883
@njuyuanrui I would like to assist, I m currently resarching about having the lowest latency for transaction arbitrage and I m currently struggling with some problem like getting the right buffer size for reading ipc and how to detect what the reply I m receiving corresponds to when having several pubsub subscriptions?

[2020-12-08 23:59] aenhsaihan commented on #2104
Still had the same issue on web3.js 1.3.0

@jona-wilmsmann solution worked for me:

[code]

`myContract.methods.myMethod.send() ` appears to be broken

[2020-12-09 12:08] ayushgupta0610 commented on #1741
Could you throw some light on this, @Bat-Orshikh! How exactly did you solve the nonce issue?

[2020-12-10 00:56] #3657 closed, assigned to nobody

[2020-12-10 13:36] ytrezq opened #3812 "Web3.eth.subscribe syncing no longer works with OpenEthereum nodes"
The reason is simple, Parity dropped support for the `syncing` parameter starting with version it s version s 3.1 along some other apis.

Because of the divest from Paritytech, the issue is likely to remain never fixed.

Should this be fixed by web3 using a workaround?

[2020-12-10 15:46] Alirun commented on #3790
Confirm the issue with `v1.3.0`, had to downgrade to `v1.2.11`

[2020-12-11 13:29] Gameghostify commented on #3785
This happens when using the HTTP provider (currently with Infura)

I'll have to check on the params again but I'm pretty sure they are not out of the ordinary (there's no recognizable pattern with the transactions that never get broadcast). I'll post the ones I can disclose here.

[2020-12-11 18:41] alexiicon commented on #1343
This is repeated on latest version whatever value i use in "fromBlock" it doesn't return anything

[2020-12-11 20:26] haltman-at commented on #3748
Hi, do you mind if I pester you again about this?  People are bugging us to upgrade, but we still need this fixed...

[2020-12-11 21:06] immasandwich commented on #3042
Not stale!

[2020-12-12 00:57] #3714 closed, assigned to nobody

[2020-12-13 01:00] #3725 closed, assigned to nobody

[2020-12-14 00:59] #3292 closed, assigned to nobody

[2020-12-14 21:35] Wyctus commented on #1646
This error started to happen to me regularly for a couple of weeks now. I can't tell the reason, seems to be totally random. Maybe it's a problem with Infura, since the error pops up on two different machines at the same time (they are running the same code).

[code]

My code is simply listening to some events on a some contracts. Sometimes it works for a day without any problem. But after it happ

[2020-12-14 22:00] Wyctus opened #3816 "CONNECTION ERROR: Couldn't connect to node on WS."
This error started to happen to me regularly for a couple of weeks now. I can't tell the reason, seems to be totally random. Maybe it's a problem with Infura, since the error pops up on two different machines at the same time (they are running the same code).
My code is simply listening to some events on a some contracts. Sometimes it works for a day without any problem. But after it happens I can

[2020-12-15 01:59] xklob commented on #2890
Same issue.

[2020-12-16 19:23] haltman-at commented on #3748
OK, I ended up putting up PR #3818 about this!  I had trouble completing some of the checklist on my machine, but since this is so simple I hope that's OK.

[2020-12-18 06:45] creepteks commented on #3408
**environment**
node: v14.15.3
npm: 6.14.9

I confirm that I managed to `npm install` inside a repository that had a dependency on scrypt@6.0.3 without the mentioned error..
what I did was:
`npm cache clean -f`
`rm -rf node_modules`
`rm package-lock.json`
`npm install github:barrysteyn/node-scrypt#fb60a8d3c158fe115a624b5ffa7480f3a24b03fb` as mentioned earlier (and in [this reference issue](https:/

[2020-12-18 06:51] creepteks commented on #3408
**environment**
node: v14.15.3
npm: 6.14.9

I confirm that I managed to npm install inside a repository that had a dependency on scrypt@6.0.3 without the mentioned error..
what I did was:
`npm cache clean -f`
`rm -rf node_modules`
`rm package-lock.json`
`npm install github:barrysteyn/node-scrypt#fb60a8d3c158fe115a624b5ffa7480f3a24b03fb` as mentioned earlier
`npm install` to install the rest of the

[2020-12-18 20:55] josephg commented on #1178
Not stale

[2020-12-19 01:00] #2923 closed, assigned to nobody

[2020-12-19 03:15] iberthony opened #3819 "Hundreds of XHR Calls (Several per seconds) with web3.eth.sendSignedTransaction()"
Issue: When using web3.eth.sendSignedTransaction()  with or without any event listeners, there are round 753 XHR requests made attempting to get the transaction receipt,

Same issue with :
using Simply web3.eth.sendSignedTransaction().then() , web3.eth.sendSignedTransaction().on() or just  web3.eth.sendSignedTransaction()

In this file: node_modules\web3-core-method\lib\index.js

I noticed the exi

[2020-12-20 09:05] ravi0the0sun commented on #2602
well i have this problem using websocket provider instead of http provider

[code]
[code]

Environment info:
[code]

[2020-12-20 11:13] sirpy commented on #2602
@ravi0the0sun did you use the patch?
https://github.com/ethereum/web3.js/issues/2602#issuecomment-571786661

[2020-12-20 21:08] SwapTransaction opened #3821 "Error: transaction failed why get it ?"
**I can get this error please help me why get this what can ı do**

`Error: transaction failed (transactionHash="0x33c61718a3917f02f99bdbdc425ac3554ea69eb8aaa8a0a6d3750dfc322239a3", transaction={"nonce":23,"gasPrice":{"type":"BigNumber","hex":"0x15a73b6200"},"gasLimit":{"type":"BigNumber","hex":"0x80e8"},"to":"0x7a250d5630B4cF539739dF2C5dAcb4c659F2488D","value":{"type":"BigNumber","hex":"0x5af3107

[2020-12-20 23:03] ravi0the0sun commented on #2602
do you known how to do that @sirpy as the PR hasnt been pushed yet.

[2020-12-21 00:43] UnsignedInt8 commented on #2890
Same issue.  Personal local node, got empty array

    web3.js: 1.3.1
    nodejs: 12.18.3
    ethereum node: 1.9.24-stable

[2020-12-21 01:04] #2777 closed, assigned to nobody

[2020-12-21 07:55] sirpy commented on #2602
use the npm package `patch-package`
apply the fixes from the PR and follow the patch-package instructions

[2020-12-21 18:47] nuno-tomas commented on #2890
Any tips?

[2020-12-22 01:04] #3726 closed, assigned to nobody

[2020-12-22 05:25] ravi0the0sun commented on #2602
hi @sirpy i applied the patch to my node_moduels but the error still there and im not sure where this error is being thrown from.
![simulator_screenshot_141C3E7D-8103-4AFD-9554-0E5212898525](https://user-images.githubusercontent.com/28498241/102853025-9e23b480-4473-11eb-8dee-ae187a05bf88.png)

[2020-12-22 07:03] sirpy commented on #2602
it seems like RN implementation of URL is very minimal
see here
https://github.com/chrisbobbe/zulip-mobile/commit/c675cdd63629d02246f02c1c247230c2833a1adb

[2020-12-22 17:18] outdoteth opened #3822 "Unsubscribing on an event does not work"
#### Expected behavior

Calling .unsubscibe() on an event listener unsubscribes from an event

#### Actual behavior

Does not unsubscribe from the event - The handler still gets called whenever an event is triggered.

#### Steps to reproduce the behavior

[code]

#### Environment

Using the latest web3.

[2020-12-23 03:27] zak100 opened #3823 "1 low severity vulnerability"
#### Expected behavior
Don't know
#### Actual behavior
$ npm audit fix

up to date, audited 351 packages in 3s

44 packages are looking for funding
  run `npm fund` for details

# npm audit report

web3  *
Insecure Credential Storage - https://npmjs.com/advisories/877
No fix available
node_modules/web3

1 low severity vulnerability

Some issues need review, and may require choosing
a different dep

[2020-12-23 03:29] zak100 commented on #3823
Hi,
Please guide me how to install web3? I am using "npm install web3 " but I am getting one severe vulnerability error.(zulfi6000@yahoo.com)
Zulfi.

[2020-12-23 18:06] chaitanya5 commented on #3255
Found searching for the solution and it lead me here.

**My code, as I wanted to send a response only if it's confirmed with a confirmation number**
`web3.eth.sendSignedTransaction(serializedTx)
        .once('confirmation', (confirmationNumber, receipt) => {
            res.status(200).send({ Message: "Approval Successfull.", Receipt: receipt.transactionHash });
        })
        .on('error', (e

[2020-12-24 00:56] josephg commented on #1178
3 year anniversary benchmark:

[code]

So:

- Bundle size (with browserify) has grown from to 2.3mb uncompressed, 1.1mb minified and 324kb minified and gzipped. Which is still so large as to be hilariously unusable.
- Nodejs startup time is more or less unchanged (775ms up from 730ms). So web3's size is more or less keeping pace consuming v8's continual performance improvements
- I have no idea ho

[2020-12-24 01:51] cokia commented on #3787
@GregTheGreek

I'm really sorry for tagging you twice. But I thought you missed this issue, so I called you again. What is your opinion on the above proposal?

[2020-12-24 01:53] GregTheGreek commented on #3787
Hey! This slipped my radar. Let me figure this out tomorrow morning I've set a reminder.

[2020-12-24 06:42] SibghatUllah1997 commented on #2476
have the same issue and also try this solution but in vain. still getting error of web3 not defined

[2020-12-25 14:19] jqiii opened #3826 "How to transfer usdt? [newbie]"
Hi im newbie to web3js

may i know it is possible to transfer usdt token using the web3js?

[2020-12-25 17:36] GregTheGreek commented on #1178
Can't wait to prove you wrong next year!

If you don't already know this project has been recently taken over by [ChainSafe](github.com/chainsafe), so please give us some time, we're prioritising a few other things. We're working are way through a modernisation effort, and tackling the bundle size will come right after.

[2020-12-27 17:58] 0xMeir commented on #3790
+1

[2020-12-28 16:33] krychla1 commented on #3819
That is very unlucky feature, that can't be skipped as far as I tried.
Removing listeners or unsubscribing from events have no effect as well.

It just bombards the existing receipt till its mined - the sooner, the better. It's even more fun once you start replacing transactions (so that the replaced are never mined, but this function continues to check their receipts).

Any other input would be a

[2020-12-29 02:12] suusofttruongnv opened #3827 "How to gen mnemonic and restore wallet by mnemonic ?"
How to create mnemonic and restore wallet from mnemonic ?

[2020-12-29 09:56] fonov commented on #3745
issue still active

[2020-12-29 13:49] danielspk commented on #3742
Sorry but this bug was not fixed

[2020-12-29 23:38] FredCoen opened #3828 "Error: Invalid JSON RPC response: "" is thrown when trying to retrieve wei balance from node server"
For context the code below works when running a local node script, but gives me this error ```Error: Invalid JSON RPC response: "" ```when running in a Node 8 environment hosted by firebase.

[code]

#### Expected behavior
should give me balance in wei
#### Actual behavior
throws Error: Invalid JSON RPC response: ""

#### Environment

Node 8 hosted by firebase
 "web3": "^1.3.0"

[2020-12-30 01:11] #3691 closed, assigned to nobody

[2020-12-30 01:51] nikita-fuchs commented on #2837
Amazing how this issue can persist for years :/ v. 1.2.7 shows exactly this behaviour: nothing happens when using `await` even when the transaction is through. Code:

[code]

[2020-12-30 16:02] #3828 closed, assigned to nobody

[2020-12-31 15:46] developerfred commented on #2739
@GregTheGreek , Happy New Year! Do you have updates about this feature?

[2020-12-31 16:06] GregTheGreek commented on #2739
@developerfred someone had mentioned they were working on it. Seems to have gone stale.

[2021-01-02 01:12] #3500 closed, assigned to nobody

[2021-01-02 09:15] guotie opened #3829 "number overflow"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

[code]

#### Environment

1.3.1

[2021-01-02 13:04] guotie commented on #3462
how to resolve it?

[2021-01-02 13:56] guotie opened #3830 "call multi contract method in batchRequest"
#### Expected behavior

return call response

#### Actual behavior
occurs some error

#### Steps to reproduce the behavior
code:
[code]

I dont got the right response.

#### Logs

#### Environment

windows
1.3.1

[2021-01-02 22:49] sigwo commented on #3785
Having the same issue. I've tried with Infura and Cloudflare's eth gateway. Here is a portion of the code:
[code]

and I get this type of response

[code]
and _sometimes_ I get an 'underpriced transaction' error

[code]

[2021-01-02 23:37] sigwo commented on #3785
So, in my example above.
1. the 'to' should be the contract address, not the receiver address
2. my gas price was never calc'ing correctly
after fixing those 2 things, above works fine.

[2021-01-04 12:36] 3esmit commented on #3749
Why close this if not solved?

[2021-01-04 18:06] venkateshsys opened #3832 "Is it possible to get the function signature of a contract function which has payable"
[code]

[2021-01-05 01:16] #3756 closed, assigned to Spacesai1or

[2021-01-05 02:59] tdvni opened #3834 "The firefox extension disable used 'unsafe-eval' CSP, how I used web3 in extension background"
#### Steps to reproduce the behavior

1. I used web3 in my firefox extension background js
2.  in development mode I can defined  'unsafe-eval' CSP in manifest.json but distribution firefox disable this setting.how can I do. ether if have no eval web3 version

#### Logs

Uncaught EvalError: call to Function() blocked by CSP
    [321]< moz-extension://63fcb223-62f1-47d4-8dab-1e1318f403af/share/js/w

[2021-01-05 06:35] tdvni commented on #1847
I have the same problem, but I still haven't found a solution until now, firefox AMO does not allow defined 'unsafe-eval' CSP

[2021-01-05 14:50] guillermovasta opened #3835 "setProvider is not a member of Contract"
Problem:

setProvider is not a member of Contract

Code sample taken from the docs:

[code]

Package:

web3-eth-contract v1.3.1

[2021-01-05 17:17] #3748 closed, assigned to nobody

[2021-01-06 18:52] GregTheGreek opened #3837 "Remove cla"
The transfer automatically added the ChainSafe CLA bot. There's no reason to have this on web3.js since it's been around for so long, and there is no valid reason to change that now.

[2021-01-07 01:52] GOFFERU opened #3838 "for personal access token"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Environment

[2021-01-07 05:23] SleepingNext commented on #580
You guys might wanna check on Etherscan API. They provide a function that might satisfy your needs.

[2021-01-07 07:44] #3808 closed

[2021-01-07 10:04] ahmedeid6842 opened #3839 "npm install error - installing web3@1.0.0-beta.35"
windows
node -v 12.16.0

cmd : npm install --save web3@1.0.0-beta.35

error message:

npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated tar.gz@1.0.7: ⚠️  WARNING ⚠️ tar.gz module has been deprecated and your application is vulnerable. Please use tar module instead: https://npm

[2021-01-07 11:32] danuker commented on #580
Sure, but the idea of cryptocurrencies is to work without middlemen, and Etherscan is a middleman.

[2021-01-07 14:23] #3838 closed

[2021-01-07 14:24] GregTheGreek commented on #3839
Please install using:
[code]

[2021-01-07 14:24] #3839 closed, assigned to nobody

[2021-01-07 14:51] #3837 closed, assigned to GregTheGreek

[2021-01-07 22:31] Spacesai1or opened #3841 "Spec out feature list and requirements of ETH2 Dashboard"
There should be a semi-concrete list of features and their related requirements (technical or other) for what the dashboard will offer in functionality

[2021-01-07 22:33] Spacesai1or opened #3842 "Mock up ETH2 Dashboard layout"
Create basic mock ups of the design/layout of the dashboard

[2021-01-07 22:35] Spacesai1or opened #3843 "Implement correct type declarations for web3-eth2-beaconchain"
Currently the typings of packages such as `web3-eth2-beaconchain` don't has fully flushed out type declarations

[2021-01-08 03:54] ghost commented on #3118
@fkdl206 could you let me know how you resolved this?

[2021-01-08 13:07] eyebrown commented on #1904
I encountered a similar problem，could you please help me solve this problem？

[2021-01-10 01:25] #3752 closed, assigned to nobody

[2021-01-11 01:23] #3762 closed, assigned to nobody

[2021-01-11 01:23] #3750 closed, assigned to nobody

[2021-01-11 14:02] GregTheGreek commented on #3680
@spacesailor24 can you confirm if the RC fixed this?

[2021-01-11 14:36] GregTheGreek opened #3846 "[Public Announcement] CLA BUG"
When web3.js was transferred to ChainSafe a CLA Bot was automatically added to the repository. We are aware of this, and unfortunately it was overseen when the initial transfer took place. By default ChainSafe repositories have it applied, and because the transfer was treated as a new repository, the CLA Bot was added. By no means what so ever, is the CLA Bot needed on web3.js, and we believe to h

[2021-01-11 18:17] Spacesai1or commented on #3680
I copied over the provided code into a [test repo](https://github.com/spacesailor24/web3-3680)

I'm getting the presumably expected output of:

[code]

So @GregTheGreek I do believe this to be resolved

[2021-01-11 18:17] #3680 closed, assigned to nobody

[2021-01-11 21:10] D3G3Nerator commented on #3771
i don't think it would be possible with that script

[2021-01-12 01:25] #3765 closed, assigned to nobody

[2021-01-12 01:25] #3737 closed, assigned to nobody

[2021-01-12 01:25] #3736 closed, assigned to nobody

[2021-01-12 20:17] vicnaum opened #3847 "BN cannot be initialized with a 0x-prefixed hex-string, despite example in docs"
The docs example is here:
https://web3js.readthedocs.io/en/v1.3.1/web3-utils.html#bn

#### Expected behavior
new BN('0xea').toString();

#### Actual behavior
new BN('0xea').toString();

#### Environment
Use any web3.utils.BN, for example from Remix console

The docs give an example which is incorrect.

BN cannot be initialized with 0x-prefixed hex-string, only without 0x prefix string, or with non

[2021-01-12 20:55] frankiebee opened #3848 "Rewrite web3 and add .use functionality [aggregate]"
web3.js library needs to be modernized and easy to contribute to

### tasks:
- [ ] outline the arguments each package will receive on constructor
- [x] outline how provider reassignment works
- [ ] rewrite packages to conform to outlines and be modern es6 ensure that their are test for individual packages
- [ ] introduce `.use` as outlined in living doc [here](https://hackmd.io/@esjFsrEDTMahtSwNs1

[2021-01-12 21:02] frankiebee opened #3849 "rewrite web3-core and request manager"
Rewrite web3-core to be a base class for all packages to extend from

this is where basic things like provider reassignment  will be handled

[2021-01-12 21:03] frankiebee commented on #3849
related to #3848

[2021-01-12 21:22] frankiebee opened #3850 "phase 1 [proposal]:"
rewrite high priority packages:
- [ ] web3
would manage packages and house the `.use` method
- [ ] web3-core
would be base template for packages to extend from
- [ ] web3-core-helpers
utilities
- [ ] web3-core-method
method generator for basic methods that routes directly to provider... (if necissary)
- [ ] web3-core-promievent
- [ ] web3-core-requestmanager
- [ ] web3-core-subscriptions

[2021-01-12 21:23] #3850 closed, assigned to nobody

[2021-01-12 21:26] frankiebee opened #3851 "rewrite phase 1"
rewrite high priority packages:

key:
`->`: rename

- [x] web3-core -> web3-base-package
would be base template for packages to extend from
- [x] web3-core-helpers -> web3-package-utilities
utilities
- [x] web3-core-method -> ?
method generator for basic methods that routes directly to provider... (maybe fold into helpers)
- [ ] web3-core-promievent -> ?
maybe discard this
- [x] web3-core-requestm

[2021-01-12 21:37] frankiebee commented on #3851
related to #3849

[2021-01-13 13:57] ICBA03 opened #3852 "Problem with finding smartphone wallet apps"
Hello, Guys!

I have a little issue, I builded an dapp and user can interact with MetaMask wallet, but not working on finding MetaMask application on Android/iOS. Can you guys guide me with this problem?
Thanks!

[2021-01-13 17:37] justintim-es opened #3854 "Cannot send 3 transactions in a row"
Hi there im trying to send 3 transactions from the same address in a row but the third one gives me the error ```cannot unmarshal hex string without 0x prefix into Go struct field``` the problem doesn't occurs on my private blockchain but only on the main chain
Does anyone know a solution?
I do not want to use a smart contract because that is too expensive
Im using web3.eth.sendTransaction()
Shoul

[2021-01-14 01:40] #3769 closed, assigned to nobody

[2021-01-14 09:16] pokerface0206 commented on #1810
解决了么兄弟，  我每次获取到的都是空数组，难道是只能获取到页面打开后监听到的交易记录么 ？  不应该是获取到链上的所有记录么 ？

[2021-01-14 15:09] GregTheGreek commented on #3854
Can you provide example code?

[2021-01-14 16:35] justintim-es commented on #3854
[code]
sendTransaction:
[code]
I will work on an update with real values

[2021-01-15 04:12] frankiebee opened #3857 "rewrite web3-eth-contract"
we3-eth-contract package needs to be rewritten
- the index file needs to be broken up and written in modern es6 javascript
- and it should inherit from the base class
related #3923

[2021-01-15 12:48] ppoliani opened #3858 "getPastLogs doesn't return events within the given block range"
#### Expected behaviour
I have experienced a somewhat non-deterministic behaviour when using `getPastLogs`. More specifically, I'm using both the `fromBlock` and `toBlock` options, and it happens that sometimes not all events are loaded.

For example,

At block height `11659558` I sent the following request:

[code]

The problem is that most of the time it does return all events in the range `[fro

[2021-01-15 14:53] ppoliani commented on #3858
I just did a bit of investigation and I noticed that https://etherscan.io/block/11659558 was mined in 2 secs. So, my assumption is that Infura might not have synced all its nodes and thus the reason why `getPastLogs` didn't.

However, this is just a theory of mine.

[2021-01-16 01:39] #3705 closed, assigned to Spacesai1or

[2021-01-17 01:39] #3767 closed, assigned to nobody

[2021-01-18 16:14] GregTheGreek commented on #3791
Sorry i just saw this, since the token doesn't follow the erc20 standard, you are using the wrong ABI thus its not an issue with web3.js

[2021-01-18 16:21] Wyctus commented on #3791
Thanks, you are right, later I realized  that it isn't ERC20.

[2021-01-18 16:21] #3791 closed, assigned to nobody

[2021-01-18 17:51] #3843 closed, assigned to Spacesai1or

[2021-01-18 21:48] nicolaswww commented on #3723
Is it known if this will be implemented soon?

[2021-01-19 01:40] #2077 closed, assigned to nobody

[2021-01-19 02:48] VexyCats opened #3863 "Passing a large string into methds.call() results in invalid type conversion and out of bounds error"
tokenID: `5347359381416754638292106073567748474581852345025787828513953871505554409252111`

[code]

Calling getTokenURI and passing in the token ID above - the actual value web3 is sending to the contract is: ```00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000053473593814

[2021-01-19 05:36] steelep commented on #2621
Bumping this, I have patched my own version, but would love to see this in the next release.

[2021-01-19 11:26] sterlu commented on #3797
Hi, I see a rewrite of mentioned packages is planned. I'd be happy to provide a PR for this in the meantime if someone has the time and will to merge it.

[2021-01-19 11:28] sterlu commented on #3819
Setting `web3.eth.transactionConfirmationBlocks` to a number lower than the default 24 blocks might be useful. The default behavior checks for confirmations until 24 blocks have included the transaction if I understood correctly. This might not be needed and should make the time web3 is polling for confirmations shorter.

On a related note, there is an [issue](https://github.com/ChainSafe/web3.js/

[2021-01-19 15:08] GregTheGreek commented on #2032
Please open a new issue

[2021-01-19 15:08] #2032 closed, assigned to nobody

[2021-01-19 15:09] GregTheGreek commented on #3723
Yep - I'llhave a PoC this weekend :)

[2021-01-19 15:12] GregTheGreek commented on #3863
Can you try using the latest version of web3.js :)

[2021-01-19 15:13] GregTheGreek commented on #2621
@steelep can you share a code snippet?

[2021-01-19 18:01] rekmarks commented on #3651
The breaking changes (extension version `^9.0.0`) are live on Firefox, and are rolling out to Chrome right now. We are receiving reports of broken subscriptions using `web3@^1.3.0`.

[2021-01-19 18:08] rekmarks commented on #3651
See the following snippet for where we emit the relevant events: https://github.com/MetaMask/inpage-provider/blob/d474406b2d8a99b8303e5e269a86dd5a070c7963/src/MetaMaskInpageProvider.ts/#L269-L276

You should use the `message` event, per EIP-1193: https://eips.ethereum.org/EIPS/eip-1193#message

[2021-01-19 18:29] rekmarks commented on #3651
The following PR should fix it, although I haven't tested it. Feel free to edit/adopt/re-implement as required: https://github.com/ChainSafe/web3.js/pull/3864

[2021-01-20 02:13] VexyCats commented on #3863
Unfortunately I cannot as its on an existing project and upgrading web3 might break everything.... =/

[2021-01-20 09:25] krychla1 commented on #3797
This same happens when replacing transactions. The replaced ones are still polled for a receipt until max is reached

[2021-01-20 10:00] sterlu commented on #3797
@krychla1 while that is a different (and more difficult) problem, it might be useful to have an option to stop polling for receipt on the returned promi-event.

[2021-01-20 19:41] #3651 closed, assigned to frankiebee, koraykoska

[2021-01-20 20:00] elon-goat commented on #2837
I am getting the same thing, that after await call to a contract's method, nothing is actioned.
I am using web2 v1.3.1.
What I have tried?

- Tried using the blockConfirmation behaviour but without any success

- Tried with the traditional .then() call still without any success

I want to understand why this happens? As before a week or so, everything was working as expected and suddenly now it ha

[2021-01-21 01:40] GregTheGreek commented on #3863
Have you tried? There really shouldn't be anything breaking between the two. When we went from v1.2.11 -> v1.3.x it was more or less because we change the build system and made some minor tweaks but no API changes. Please see the [release](https://github.com/ChainSafe/web3.js/releases/tag/v1.3.0)

[2021-01-21 01:43] GregTheGreek commented on #3797
@sterlu happily accepting PRs!

PS: Love defisaver

[2021-01-21 01:44] GregTheGreek commented on #3797
Transaction replacements are actually a much bigger problem that I created an [EIP](https://eips.ethereum.org/EIPS/eip-2831) to solve it.

[2021-01-21 02:35] GregTheGreek commented on #2837
@nikita-fuchs can you try using the latest version of web3.js? v1.3.1?

@elon-goat I just re-created it [here](https://gist.github.com/GregTheGreek/8104160919521df13ff16b42195e1faf) can you confirm this does not prove it works?

[2021-01-21 11:13] jfrshd commented on #3408
Thank you, it worked 😍

[2021-01-21 14:56] elon-goat commented on #2837
@GregTheGreek Please check this, I think the issue is with MetaMask and Web3.js [#10216](https://github.com/MetaMask/metamask-extension/issues/10216)
The MetaMask team has released MetaMask v9.0.2 which addresses this issue and is available on FireFox as of now and by the end of the week or Monday, these updates shall be made available on Chrome too.
For those of you who are wondering what am I do

[2021-01-21 15:08] GregTheGreek commented on #2837
I commented on that issue and spent most of yesterday with the metamAsk team.

Not sure if your issue is directly related but I can't reproduce it.

[2021-01-21 20:17] frankiebee opened #3871 "deprecate bzz"
remove bzz:
- [x] deprecation warning as a console.warn (1.3.4)
- [X] coms of depreciation
- [ ] removal of package and tests release after warn release (1.3.5)

[2021-01-22 14:16] ynaciri opened #3873 "Wrong type definition for AbiCoder.encodeFunctionCall"
#### Expected behavior

Calling AbiCoder.encodeFunctionCall through web3.eth.abi with array type parameters should work.

#### Actual behavior

Typescript is raising errors because the type definition expects only string parameters values :

[code]

Should instead be :

[code]

Or something even more elaborate to support more exotic types.

#### Steps to reproduce the behavior

1. Create a smart c

[2021-01-22 14:18] ynaciri commented on #3734
I've added issue #3873 since I didn't find anything related to that point in the current and past issues.

[2021-01-22 20:54] frankiebee opened #3874 "Revisit build and distribution process"
this issue is opened due to the confusion of how to publish web3.js
need to discuss `./dist`
etc.

[2021-01-22 21:15] frankiebee opened #3876 "remove ethjs-signer from project"
ethjs-signer is no longer supported and has a high risk vulnerability and should be removed from project tests

[2021-01-22 21:57] #3876 closed, assigned to nobody

[2021-01-23 10:04] snitovets commented on #1354
I looking for workaround how to handle this error within my app. It was a surprise why websocket not store pending request to resolve after reconnection.

/app/node_modules/web3-core-helpers/lib/errors.js:63
return new Error('CONNECTION ERROR: Provider started to reconnect before the response got received!');
 Error: CONNECTION ERROR: Provider started to reconnect before the response got received!

[2021-01-24 23:32] nicos99 commented on #3742
The bug seems to have been introduced on version 1.2.10 and still exist on 1.3.3.
You can find [here](https://gist.github.com/nicos99/ad742d5ea394e3095c222478061abea3) some web code to reproduce the issue.
- compile the contract [call-revert.sol](https://gist.github.com/nicos99/ad742d5ea394e3095c222478061abea3#file-call-revert-sol),
- deploy the contract on a test net (event a localy one),
- set i

[2021-01-25 03:07] SGROI-06 commented on #3846
I love God

[2021-01-25 04:17] thebeanespinoza83 opened #3879 "Help please"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Environment

[2021-01-25 04:19] thebeanespinoza83 opened #3880 "Please help"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Environment

[2021-01-25 04:20] chuacw opened #3881 "ReferenceError: TruffleContract is not defined after replacing web3.min.js with latest version"
I have a working application using Javascript declared in this sequence:
[code]
However, after downloading and replacing web3.min.js from https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js I'm now getting ReferenceError: TruffleContract is not defined in my Javascript console.

EXP: #### No error

ACT: #### Getting: ReferenceError: TruffleContract is not defined in Javascript console.

####

[2021-01-25 07:25] ngugcx opened #3882 "Subscribe logs error: Cannot read property 'fromBlock' of undefined"
The following code failed to run.
[code]

#### Expected behavior
No error and logs are retrieved.

#### Actual behavior
Failed with:
[code]

#### Steps to reproduce the behavior
Replace xxx with infura project id.
Then run the above code using node.

#### Logs

#### Environment

npm: 6.14.10
node: v14.15.4
web3js: 1.3.3

[2021-01-25 14:29] #3879 closed

[2021-01-25 14:30] #3880 closed

[2021-01-25 14:33] GregTheGreek commented on #3881
thanks for reporting this, I won't be able to look at your .zip file. Can you confirm you are using `v1.3.3` ?

[2021-01-25 14:41] GregTheGreek commented on #3882
Thank you for reporting, we're looking into this. For the time being, applying the options with a startblock does solve the issue:
[code]

[2021-01-25 16:22] jo-es commented on #3772
Experiencing a similar issue after updating from 1.2.4 to 1.3.1.
E.g. this [method](https://github.com/atpar/ap-monorepo/blob/dev/packages/protocol/contracts/ACTUS/test/TestSignedMath.sol#L15)  which takes two int256 params. Both values are passed as strings to the abi encoder.
[code]
works fine
[code]
Increasing the exponent of the second multiplier by 1 throws `invalid BigNumber string (argument

[2021-01-25 22:43] lucai11 commented on #1354
also getting this one..did you manage to find a solution?

[2021-01-25 23:18] #3882 closed, assigned to Spacesai1or

[2021-01-26 03:34] chuacw commented on #3881
Yes, I'm using v1.3.3, which was the latest supposedly, with the new Metamask fixes.
The attached zip file in the initial report was the version of web3.min.js I was using before I upgraded to v1.3.3

[2021-01-26 05:44] cokia commented on #3787
I think it would be good if you check this. @GregTheGreek
thx !

[2021-01-26 05:47] GregTheGreek commented on #3787
So here is the gist.

We did not write the original ens package, and the ens resolvers are explicitly hard coded for the safety reasons of users not sending funds to malicious parties.

At this time, we have no clear path forward on whether to unwind that decision.

Hard coded addresses are potentially dangerous as is, but at this point I'm hesitant to change it.

We're all open to suggestions, bu

[2021-01-26 05:51] GregTheGreek commented on #3881
Can you provide a code snippet ?

[2021-01-26 05:52] cokia commented on #3787
Oh! I didn't think this was a security problem. I naturally thought that the ENS of the network could be trusted.

I understood your opinion, and I think it is right that this modification is not reflected accordingly.

[2021-01-26 05:55] cokia commented on #3852
I think you should provide us with more information (e.g., code snippet). Also, based on the abstract information you provided, I think this is not a problem of web3.

 I think it would be better to provide more information or discuss this in Metamask Repo. Thanks :D

[2021-01-26 05:57] cokia commented on #3847
PR #3770
I suggested a PR for this, and it is not being merged.

[2021-01-26 06:04] cokia commented on #3873
I think this is a good type modification.

[2021-01-26 06:09] GregTheGreek commented on #3787
Yep, ens is simply a series of smart contracts on Ethereum. It is not within the protocol layer, thus we can't query it directly from a node etc...

[2021-01-26 08:26] snitovets commented on #1354
@sloambbr  Unfortunately, not yet

[2021-01-26 12:34] GregTheGreek commented on #1354
Would you mind opening a new issue if you believe there to be one.

Thank you!

[2021-01-26 13:11] snitovets opened #3886 "CONNECTION ERROR: Provider started to reconnect before the response got received!"
I looking for workaround how to handle this error within my app. It was a surprise why websocket not store pending request to resolve after reconnection.

/app/node_modules/web3-core-helpers/lib/errors.js:63
return new Error('CONNECTION ERROR: Provider started to reconnect before the response got received!');
 Error: CONNECTION ERROR: Provider started to reconnect before the response got received!

[2021-01-26 14:10] GregTheGreek commented on #3886
From my understanding, you're hoping that web3js acts stateful and maintains a cache of the web socket events?

[2021-01-26 14:20] snitovets commented on #3886
Yes. I hoped ws natively caching pending requests. Should I have to manually store pending requests while provider reconnects? And how to handle this error? provider.on('close', ...) ?

[2021-01-26 14:42] GregTheGreek commented on #3886
Typically speaking, we try to be as stateless as possible (there's a few areas where we obviously cannot be). What i would do is perhaps keep track of the last seen block by your application and on a failure case restart using `fromBlock`

[2021-01-27 02:44] chuacw commented on #3881
Just casting a variable into TruffleContract like so:

TruffleContract(data);

[2021-01-27 04:12] GregTheGreek commented on #3881
Could you perhaps provide truffle versions as well?

[2021-01-27 06:28] chuacw commented on #3881
Truffle v5.1.61 (core: 5.1.61)

[2021-01-27 17:31] wbt commented on #3425
@liamaharon Did you wind up being able to make any progress? It [looks like](https://github.com/ChainSafe/web3.js/pull/3426#issuecomment-735357999) you got an answer to that question on the PR!

[2021-01-28 07:15] rstormsf opened #3887 "MetaMask warning from legacy window.web3 check"
https://github.com/ChainSafe/web3.js/blob/1.x/packages/web3-core-requestmanager/src/givenProvider.js#L41

Because of this line, when we load web3.js into the front end code as standalone library, metamask shows a warning and some users get scared.

![image](https://user-images.githubusercontent.com/9360827/106103274-8a641180-60f5-11eb-836f-550749721596.png)

[2021-01-28 21:43] frankiebee opened #3888 "deprecate shh"
remove shh:

- [x] deprecation warning as a console.warn (1.3.4)
- [ ] coms of depreciation
- [ ] removal of package and tests release after warn release (1.3.5)

[2021-01-28 23:26] GregTheGreek commented on #3887
Hmm I have seen this, but assumed it was because an old version was being used.

L41 should never be hit if you're using the correct version of MetaMask?

[2021-01-29 03:05] GregTheGreek commented on #3887
Hmm I have seen this, but assumed it was because an old version was being used.

L41 should never be hit if you're using the correct version of MetaMask?

Will need to look into this further.

[2021-01-29 04:16] rstormsf commented on #3887
Nope. We use web3.js to make eth_call thru custom RPC url and because web3.js for SOME reason needs to call `window.web3.currentProvider` - metamask flags that the whole Dapp is using deprecated API. Please do something, everyone hates that warning, it forces me to rewrite the whole app into ethers.js because it doesn't do such things.

[2021-01-29 04:45] Legogris commented on #3606
Bump

[2021-01-29 04:53] GregTheGreek commented on #3887
Do you have a demo app I can see? We have an RC out right now and I can easily add to it if this can be validated on my end

[2021-01-29 05:30] imaksp opened #3891 "Not getting success callback/ receipt with walletconnect with web3.js 1.3.3"
#### Expected behavior
- It should give success callback & receipt if used with WalletConnect

#### Actual behavior
- After 1.3.x update (tried with 1.3.3 & 1.3.4 rc.1), it is working upto below callback
[code]
on 'receipt' OR below one
[code]
 Never gets called but it is working fine with web3.js 1.2.11.

#### Steps to reproduce the behavior

1. Connect wallet by scanning QR code with Metamask mo

[2021-01-29 05:41] rstormsf commented on #3887
@GregTheGreek my apologies, I was doing a demo app and saw that it triggers because I used web3@1.2.6 version and version 1.3.3 fixes it.
Now I wonder if I upgrade my dapp to 1.3.3, what would be the breaking changes?
Feel free to close the issue

[2021-01-29 05:46] GregTheGreek commented on #3887
There shouldn't be, v1.3.0 did not introduce any breaking changes.

[2021-01-29 05:46] GregTheGreek commented on #3887
Feel free to open a new issue if you find a problem. Thanks you!

[2021-01-29 05:46] #3887 closed, assigned to nobody

[2021-01-29 05:47] GregTheGreek commented on #3846
This has been resolved.

[2021-01-29 05:47] #3846 closed, assigned to nobody

[2021-01-29 05:48] GregTheGreek commented on #3891
By chance do you have a demo app?

[2021-01-29 05:56] imaksp commented on #3891
No I don't have demo app, let me know if it is required, will make it tomorrow.

[2021-01-30 07:06] Spacesai1or opened #3893 "getEpochComitties returns 400 for web3-eth2-beaconchain"
Temp fix, getting a 400 because route is wrong, but I don't understand why I would've made the route what it is, if it wasn't supposed to be - need to further investigate and changes should probably be in a separate PR

__Originally posted by @spacesailor24 in https://github.com/ChainSafe/web3.js/pull/3892#discussion_r567209601__

[2021-01-31 01:01] nicholasnadel commented on #3881
@chuacw any luck resolving? Same issue here.

[2021-01-31 01:05] #3751 closed, assigned to nobody

[2021-01-31 02:34] chuacw commented on #3881
@nicholasnadel  Yes, resolved.

Do this:
[code]

[2021-01-31 02:35] nicholasnadel commented on #3881
Thanks! @chuacw

[2021-01-31 05:17] GregTheGreek commented on #3798
This is being closed since 2.x is deprecated.

[2021-01-31 05:17] #3798 closed, assigned to nobody

[2021-01-31 05:24] GregTheGreek commented on #3788
Is this still an issue?

[2021-01-31 05:25] GregTheGreek commented on #3881
Sorry what was the solution?

[2021-01-31 20:03] nicholasnadel commented on #3881
@GregTheGreek  you can try chuacw's solution above (in your index.html file), or if using MetaMask, try installing their legacy web extension alongside the current version: https://docs.metamask.io/guide/provider-migration.html#replacing-window-web3

[2021-02-01 02:59] jacko125 commented on #3698
Bump!

[2021-02-01 08:25] elmariachi111 commented on #3788
Upgraded to the latest web3 package (1.3.3) and cannot reproduce anymore, thank you :)

[2021-02-01 08:25] #3788 closed, assigned to nobody

[2021-02-01 15:54] vicnaum commented on #3847
Found a duplicate (but closed) issue: #3762

[2021-02-01 17:25] Spacesai1or commented on #3891
For a sanity check, I tested this locally using `ganache-cli` by deploying the `SimpleStorage.sol` contract and submitted a `set` transaction - I received the `transactionHash`, the `receipt`, and the `confirmation` events

[2021-02-01 17:27] Spacesai1or commented on #3891
If you could provide a demo app, it would help debugging tremendously

[2021-02-01 17:33] Spacesai1or commented on #3858
This does seem to be a possible culprit for your issue. I'm going to close this, but please feel free to re-open it with additional details if you experience the issue with a non-infura provider, or it happens again after giving the infura nodes enough time to sync

Thank you

[2021-02-01 17:33] #3858 closed, assigned to nobody

[2021-02-01 17:38] imaksp commented on #3891
@spacesailor24 Ok will try to make demo, btw I tried approve method of ERC20 contract & wallet was connected using metamask mobile app on Android using Walletconnect QR code, on rinkeby test network.

Btw it is working as expected with metamask browser extension but not with Walletconnect so we downgraded app to 1.2.11.

[2021-02-01 17:41] Spacesai1or commented on #3827
Web3.js doesn't offer private key generation, however [here](https://ethereum.stackexchange.com/questions/52370/web3-create-account-from-mnemonic-passphrase) seems to be a way to do it using Ethers (although be aware that the entropy used during key generation may not be enough for your needs)

What Web3.js does allow you to do is [importRawKey](https://web3js.readthedocs.io/en/v1.3.0/web3-eth-per

[2021-02-01 17:41] #3827 closed, assigned to nobody

[2021-02-01 20:16] Spacesai1or opened #3894 "Update tsc npm command to compile"
I would like it to be, but some of our CI scripts use `lerna exec tsc`. Perhaps we can open a separate PR to update the scripts/npm commands to `compile` instead of `tsc`?

_Originally posted by @spacesailor24 in https://github.com/ChainSafe/web3.js/pull/3892#discussion_r567855258_

[2021-02-02 12:59] ngugcx opened #3897 "Error: overflow (fault="overflow", operation="toNumber""
[code]

#### Expected behavior
Print token symbol.

#### Actual behavior
[code]

#### Steps to reproduce the behavior
Replace xxxx in the code with infura project id.
Then run the nodejs script.

#### Logs

#### Environment
web3: v1.3.3

[2021-02-02 14:36] GregTheGreek commented on #3897
I'm not at my computer right now. But calling a contract will return a big number, and you cannot console.log a big number since it will try to call toNumber(). Please try calling .toString() on the result.

[2021-02-02 14:39] ngugcx commented on #3897
`console.log(symbol.toString())`

It made no difference.
From the call stack, it looks like the error is not thrown from my code.

[2021-02-02 16:33] TbLtzk commented on #3742
Seeing the same issue. In our case it occurs when we provide an rpc url that
1. has a geth client running
2. does _not_ expose rpc interface

[2021-02-03 01:28] c0deCn commented on #1350
efficiently distribute massive batches of tokens and airdrops in a single click using https://cointool.app

[2021-02-03 09:07] ICBA03 commented on #3852
Hello. Thanks for reply!
I use this trigger
[code]

and this JS to open MetaMask wallet, but it only works on desktop, not on Android or iOS.

[code]

[2021-02-03 18:42] ujal commented on #3891
I am having the same issue with ganache-cli. The contract deploys but the transactionHash is always undefined. The then callback is never called too. The issue is happening on web3-eth-contract@1.3.4.

[2021-02-03 22:49] haltman-at opened #3898 "Instantiating web3 unavoidably prints console warnings regardless of relevance"
#### Expected behavior

Instantiating web 3 should not print warnings to the console; or at the least, it should not print warnings about parts of web3 that the user may not be using.

#### Actual behavior

Instantiating web3 -- with or without a provider -- prints the following warnings:

[code]

This occurs regardless of whether any actual use of `web3-shh` or `web3-bzz` is made.

#### Relevance

[2021-02-04 00:50] #3779 closed, assigned to nobody

[2021-02-04 06:12] imaksp commented on #3852
@ICBA03 this is not an web3.js issue, it won't work with mobile wallet app directly, also extensions are not supported in mobile browser. for mobile support check walletconnect lib.

[2021-02-04 06:43] ICBA03 commented on #3852
@aksdevac Ok. Thanks man!

[2021-02-04 07:23] eyooooo opened #3900 "new update break something?"
after running npm install my project no longer starts

[code]

[2021-02-04 09:03] imaksp commented on #3891
@spacesailor24 Hi, here is the demo app for the issue, please see README for steps, don't forget to set 'REACT_APP_INFURA_ID' in '.env' before connecting.
Demo link: https://github.com/aksdevac/wc-web3-demo

[2021-02-04 15:52] Spacesai1or commented on #3891
Could you provide a code snippet of what's not working? I can do the same for code that was working using ganache-cli

[2021-02-04 15:52] Spacesai1or commented on #3891
Forgot to @ujal ^

[2021-02-04 15:53] Spacesai1or commented on #3891
Awesome, thank you! I'll be taking a look at this shortly

[2021-02-04 16:22] ujal commented on #3891
@spacesailor24
[code]

[2021-02-04 17:09] GregTheGreek commented on #3898
Interesting, so web3 auto-imports bzz and shh by default (its in the main web3 export). how bad does this look in the logs?

cc: @frankiebee any thoughts?

[2021-02-04 17:12] #3852 closed, assigned to nobody

[2021-02-04 17:13] GregTheGreek commented on #3900
The deceleration files are manually generated as of right now, can't imagine what woudl have happened.

Any chance you can provide a sample snippet for us to test with?

[2021-02-04 18:54] Spacesai1or commented on #3891
@ujal [Here](https://github.com/spacesailor24/web3-3891-receipt) is a working example

[2021-02-04 19:06] Spacesai1or commented on #3891
Thank you for providing the test repo :heart:

It looks like I received the tx hash using `web3@1.3.4`

![image](https://user-images.githubusercontent.com/20375610/106942242-8fbeee80-66e9-11eb-9cfc-59d7743c5538.png)

[2021-02-04 21:14] eyooooo commented on #3900
1. `git clone https://github.com/sushiswap/sushiswap-legacy-frontend.git`
2. `cd sushiswap-legacy-frontend`
3. `npm i`
4. `yarn start`

Previously to yesterday, this would "just work". As of yesterday, I get this:

[code]

My current solution is to copy/paste an old, working node_modules dir.

Thanks!!!!

[2021-02-05 03:29] imaksp commented on #3891
Yes txHash is received but receipt is never received with 1.3.4 so loading never stops.

[2021-02-05 03:44] Spacesai1or commented on #3891
Oops I misread! @ujal said the tx hash was never received

I'll have to take a look at it further tomorrow morning, sorry for the inconvenience!

[2021-02-05 04:28] imaksp commented on #3891
Ok @ujal issue might be different but if you check code he posted, he is not listening for transactionHash event, so may be he didn't checked for it. I was also not listening for transactionHash event before as I can show success only after receipt is received & Receipt also has txHash, txHash event is added just for debugging purpose. Goal is to receive the receipt after transaction is confirmed

[2021-02-05 17:22] Spacesai1or commented on #3891
I updated my example repo above to include the `receipt` listeners [here](https://github.com/spacesailor24/web3-3891-receipt/blob/main/index.ts#L45)
Both `.on('receipt', receipt => {...})` and `.then(receipt => {...})` work, so my suspicion is a miscommunication between WalletConnect and Web3.js

[2021-02-05 17:23] GregTheGreek commented on #3891
@pedrouid can you see if `@walletconnect/web3-provider` is causing this issue?

[2021-02-05 23:58] GregTheGreek commented on #3900
@spacesailor24 can you take a look?

[2021-02-06 06:29] imaksp commented on #3891
@spacesailor24 yes there must be some miscommunication but as it was working with web3 `1.2.11`, I have created an issue here.

[2021-02-06 20:29] eyooooo commented on #3900
@GregTheGreek were you able to reproduce this? Thanks

[2021-02-07 21:17] sergeybarinov1 commented on #3898
yarn remove web3-util
yarn remove web3
yarn add web3-util@1.3.3
yarn add web3@1.3.3

gets rid of the console warnings...

[2021-02-07 22:56] Clonescody commented on #3897
Hi there, I'm also facing this issue.
For more details, I noticed this happening on the Maker MKR token ( 0x9f8f72aa9304c8b593d555f12ef6589cc3a579a2 ).
Interesting point, this is happening on the name() function call.

There is my code

[code]

`LOAD_TOKEN_BALANCE_FAILED` is triggered with following error :

[code]

I am loading a dozen other tokens without any problem, it's been specific to MKR f

[2021-02-08 09:43] HassanAmed opened #3906 "Setting web3.eth.transactionPollingTimeout = 1; does not reproduce error"
How can we reporudce polling timeout error since I want to handle this in my application as due to this issue some of the transaction which succeeded later were stored as unsuccessful in my system. Setting web3.eth.transactionPollingTimeout = 1; does not reproduce the error.

[2021-02-08 15:53] Spacesai1or commented on #3900
Sorry for the delay, will be taking a look at this today - thank you for bringing it to our attention!

[2021-02-08 17:22] Spacesai1or commented on #3900
Am able to reproduce, investigating now

[2021-02-08 17:54] Spacesai1or commented on #3900
So I can't give you the exact reason why this error occurs, but in my testing it seems to be an issue with installing the project dependencies with `npm`, but using `yarn` to run the project. If you use `yarn` to install deps, then run `yarn start`, you don't receive the error

Without doing a deep dive, [this](https://www.reddit.com/r/javascript/comments/976dxy/i_have_both_yarn_and_npm_installed_

[2021-02-08 17:54] #3900 closed, assigned to nobody

[2021-02-08 21:37] eyooooo commented on #3900
@spacesailor24 i can confirm your workaround works. I regret not thinking of this myself!! I am still a nub to all of the diff node systems.

thanks so much for looking into this! appreciate you and @GregTheGreek very much.

[2021-02-09 00:51] #3795 closed, assigned to nobody

[2021-02-09 00:55] GregTheGreek commented on #3812
Closing because this is a client issue, and we shouldn't be making workarounds. They need to follow the spec.

[2021-02-09 00:55] #3812 closed, assigned to nobody

[2021-02-09 02:29] ytrezq commented on #3812
@GregTheGreek I would rather say the spec was updated after parity 1.8 so that when Openethereum restarted from an old version, it dropped support for that parameter while of course geth doesn t have this problem.

[2021-02-09 02:29] ytrezq commented on #3812
So please reopen.

[2021-02-09 02:33] GregTheGreek commented on #3812
Right, so this is an issue with OE. I think you should open an issue there since they are not conforming to the specification.

[2021-02-09 08:03] zaryab2000 commented on #3898
Simply re-installing the **1.3.3 version** of **_web3_** and **_web3-utils_** will eradicate these warnings.

Hope that helps

[2021-02-09 09:13] ytrezq commented on #3812
@GregTheGreek this is what I did. So please reopen this issue.

[2021-02-09 18:52] Spacesai1or opened #3907 "Update docs for soliditySha3 to include security risk warning"
As mentioned and discussed [here](https://github.com/ethereum/go-ethereum/pull/22273#issuecomment-775019023), a warning should be given to a user that multiple inputs can compute to the same hash using this method

[2021-02-10 13:47] jack75015 commented on #3795
Please re open this issue, i got the same problem! :)

[2021-02-10 15:24] #3907 closed, assigned to Spacesai1or

[2021-02-10 17:24] vetal20600 commented on #3707
this is actual

[2021-02-11 02:24] GregTheGreek commented on #3707
@spacesailor24 / @koraykoska bump

[2021-02-11 06:47] ivarcontessotto commented on #3742
Encountered this issue as well and had to turn the 'handleRevert' property on the web3 provider to false like @gabmontes meantioned. I would like to use the revert reason feature but this error crashes the whole application and I was unable to catch it with a try-catch around 'await myMethod.send(...)'.

[2021-02-11 15:47] alexon1234 commented on #3897
Same for me with MKR

[2021-02-11 19:24] Spacesai1or commented on #3707
Thank you for opening this issue, your support in making Web3.js better for all is appreciated!

Just wanted to give you a heads up that I will be taking a look at this today, apologies for the long delay

[2021-02-12 17:30] Spacesai1or commented on #3707
There is not much useful debugging that can be done without having the smart contracts you're using web3.js with

If you can provide a test repository with the code that's giving you the error, we'll be able to help you much more effectively

Additionally, in the meantime, does upgrading to the [latest web3.js version](https://github.com/ChainSafe/web3.js/releases/tag/v1.3.4) (1.3.4) fix any of th

[2021-02-13 17:04] vetal20600 commented on #3707
Thans for trying to figure it out!
I will provide test repository in next two or three days. And I will definitely try v1.3.4

@spacesailor24

[2021-02-15 00:04] ndorf commented on #3897
Same problem with SAI (address 0x89d24A6b4CcB1B6fAA2625fE562bDD9a23260359), as well as MKR. Most other tokens seem to work fine.

[2021-02-15 00:18] ndorf commented on #3898
The warnings can also be avoided by instantiating only the subpackages you need, not the whole Web3 metapackage. In other words, instead of

something like

[2021-02-15 00:30] haltman-at commented on #3898
I'm aware of that, but to make that change throughout our entire codebase -- which would also require changing `web3.eth.etc` to `web3eth.etc`, and making sure we didn't also use that web3 instance for utils, so it's not as simple as purely changing the imports -- would be quite an undertaking.  The point is that web3 should not be doing this, because we're using it to write a CLI application and

[2021-02-15 00:52] #3796 closed, assigned to nobody

[2021-02-15 00:52] #3782 closed, assigned to nobody

[2021-02-15 05:42] githubbbie commented on #3898
agree

[2021-02-15 10:26] sensati0n commented on #3805
I've came accross a similar issue.

My steps:

1) Compiling the Library.
2) Deploying the Library.
3) Compiling the Contract.
4) Linking the Library with the Contract.
5) Deploying the Contract. *ERROR: `The data field must be HEX encoded data.`

As @boukestam mentioned, this is because of 'foreign' characters in the bytecode.

Currently, I am unable to deploy my contract containing a link to my l

[2021-02-15 15:15] scottie commented on #2077
Heads up 2021 still remains a issue.

[2021-02-16 06:25] leon-do opened #3911 "The method personal_ecRecover does not exist/is not available"
#### Expected behavior

`web3.eth.personal.ecRecover("Hello world", "0x30755ed65396facf86c53e6217c52b4daebe72aa4941d89635409de4c9c7f9466d4e9aaec7977f05e923889b33c0d0dd27d7226b6e6f56ce737465c5cfd04be400").then(console.log);
`
prints address of owner

#### Actual behavior

The method personal_ecRecover does not exist/is not available

#### Steps to reproduce the behavior

1. https://web3js.readthedo

[2021-02-16 06:29] #3911 closed, assigned to nobody

[2021-02-17 11:40] kevin-leptons opened #3912 "web3.eth.getBlock() throw Error: Number can only safely store up to 53 bits"
#### Expected behavior

Call function `web3.eth.getBlock(number, true)` without error.

#### Actual behavior

Call function `web3.eth.getBlock(number, true)` throw error `Error: Number can only safely store up to 53 bits`.

#### Steps to reproduce the behavior

[code]
#### Logs

[code]

#### Environment

* Ubuntu 18.04.5 LTS
* Node.js v14
* web3js v1.3.4, also tried with versions v1.3.1 and v1.3.2

[2021-02-17 12:59] razzbee commented on #3912
I am having the same issue using web3 with Binance Smart Chain, I have tried extending with quorum-js but still error doesnt seem to go

[2021-02-18 07:12] cjd9s opened #3913 "Error Handling for Proxy Contracts using event emitter (.error)"
Hi,

I can confirm that I've read the documentation, tried googling or asking my question on stackoverflow (https://ethereum.stackexchange.com/questions/93424/web3-js-proxy-contract-error-handling), the OpenZeppelin forum (https://forum.openzeppelin.com/t/error-handling-for-proxy-contracts-in-web3-using-error/5607/5), and Truffle support (#86862).

I've unsuccessfully tried searching this reposito

[2021-02-19 00:22] Smartboxweb98 opened #3914 "mint dai in private network ethereum"
I am wrong when creating a mint on a private ethereum currency network

**CONSOLE ERROR**

C:\Users\Administrator\mint>node mintDai.js 0x69bec421313d0431aa86xxxxxxxx1000
web3-shh package will be deprecated in version 1.3.5 and will no longer be supported.
web3-bzz package will be deprecated in version 1.3.5 and will no longer be supported.
myArgs:  [ '0x69bec421313dxxxxxxxxxxxxxxx', '1000' ]
Curre

[2021-02-19 00:52] #3806 closed, assigned to basedalexander

[2021-02-19 07:21] zAndrey95 opened #3915 "how I can send to address(0) to "burn""
I need to remove delegated tokens.
Using https://ropsten.etherscan.io everything works great.
Using a web application, it gives errors that an incorrect Ethereum address

**Erorr**
`code: -32602
message: "Invalid parameters: must provide an Ethereum address."`

**My code:**

1. First variant

`await DELEGATIES_TOKEN_CONTRACT.methods
       .delegate('0x000000000000000000000000000000000000000000000

[2021-02-20 00:52] #3804 closed, assigned to zimmah

[2021-02-20 00:52] #3784 closed, assigned to wbshobhit1

[2021-02-20 00:52] #3786 closed, assigned to Spacesai1or

[2021-02-20 05:50] freshrexx opened #3916 "Npm"

[2021-02-20 15:58] cjd9s commented on #3913
Hi,

You can close this issue. I'm embarrassed to report that I found my problem. It had nothing to do with the Truffle contract abstraction or web3.js contract object. The problem was in the web3.js function estimateGas. This function doesn't just give you a gas estimate, it simulates the transaction and so throws any errors that the function call would throw when used in anger. So, when it estim

[2021-02-23 08:56] avinashbuddana commented on #3891
it is perfectly working on version 1.2.11 .1.3 version has some issues in getting the receipt hook

[2021-02-23 15:34] sdelvalle57 commented on #2665
Happens the same to me.
When I open `redux-dev-tools` I get `ENS is not supported on network` error.

[2021-02-23 15:45] piersy opened #3918 "Require and import result in inconsistent typing for Web3"
#### Expected behavior
The variable created by
[code]
should have an equivalent type to the variable created by
[code]

#### Actual behavior

The quickinfo response from tsserver when using require is:
[code]
The quickinfo response from tsserver when using import is:
[code]

#### Steps to reproduce the behavior
* `npm install web3`
* Create index.js with the following content:
[code]
* Open `index

[2021-02-24 00:53] #3042 closed, assigned to nobody

[2021-02-24 00:54] balthazar commented on #3042
reopen

[2021-02-24 00:58] frankiebee commented on #3851
related to #3848

[2021-02-24 03:49] josephg commented on #1178
Not stale

[2021-02-24 10:07] dvcrn commented on #3512
For future googlers, in my case this was caused by using number type for gas when parsing from hex. Changing this to String fixed the issue for me: https://github.com/dvcrn/web3.js/commit/b868c5fece70fba6d34b577ef59f3fa3159390ad

[2021-02-24 13:15] DanielZlotin opened #3920 "Error: invalid BigNumber value - when passing bn.js values inside structs or arrays"
Calling contract functions expecting numeric arguments and passing BN values (from bn.js) works as expected in all cases, except when inside arrays or struct fields.

#### Expected behavior

Should work normally.

#### Actual behavior

fails with error:
[code]

#### Steps to reproduce the behavior

I narrowed down the problem to `ethers`' `abi-coder`, [this code snippet reproduces the issue](https

[2021-02-24 16:32] Mahsa-Bastankhah opened #3921 "listening to all new transactions related to an account"
Hi. I'm using the following code snippet that is provided in the web3 documentation to listen to new transactions related to an account but it prints nothing.

`var subscription = web3.eth.subscribe('logs', {`
    `address: address,`
    `}, function(error, result){`
    `if (!error)`
    `console.log(result);`
    `})`
    `.on("data", function(log){`
    `console.log(log);`
    `})`
    `.on("ch

[2021-02-25 08:22] fernandezpaco commented on #3912
Same error here

[2021-02-25 14:20] thebeanespinoza83 opened #3922 "Hello please"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Environment

[2021-02-25 19:31] frankiebee opened #3923 "rewrite phase 2"
Phase 2 will be for api surface packages.

Rewrite:
- [ ] web3-net
- [ ] web3-eth
- [ ] web3-eth-accounts
- [ ] web3-eth-personal
- [ ] web3-eth-iban
- [ ] web3-eth-ens
- [ ] web3-eth-contract
- [ ] web3-eth-abi

Migrate over:

- [ ] web3-eth2-*

related to #3848

[2021-02-26 03:08] jiaruifeng07 commented on #3145
I enconter this problem in my iphone app, what should I do？
Besh wishes！

[2021-02-26 10:35] ackhia opened #3925 "Error: "gas" is missing exception when gasPrice is 0"
I have a Quorum network running which has a gas price of 0. I am trying to send a locally signed transaction to it but Web3 thinks my zero gas price means gas is missing due to [this](https://github.com/ChainSafe/web3.js/blob/e02374e0c97b2b8dccb00ffc0aba6dfa4a81e5d1/packages/web3-eth-accounts/src/index.js#L275) piece of code and throws the exception below. I'm not sure if Quorum is officially supp

[2021-02-26 14:49] ghost opened #3926 "Ethereum web3.js error"
I'm trying to install etethereum web3.js API, but it's showing an error about the github url.

C:\user\dell\folder> npm install --save ethereum/web3.js
npm ERR can't install github:ethereum/web3.js#09j0i0dkd0s0s0s088775678n8y86fd: Missing package.

//anyone to help..

[2021-02-26 17:49] ackhia commented on #3926
Try `npm i web3`

[2021-02-26 19:37] zdrive commented on #1178
This issue is definitely not stale. It seems like Web3 has grown even larger since last year.

[2021-02-27 20:07] ghost commented on #3926
Ohh it worked. thanks.

[2021-02-27 20:07] #3926 closed, assigned to nobody

[2021-02-27 20:10] jamboj commented on #3485
this doesn't work again in 1.3.4 - 'end', 'error' and even 'close' never fire - only 'connect' does. Also, where is the documentation?? Available events description is absent altogether. It needs to be drastically improved. Including the available provider options. Right now there is just a usage example without any explanation of what e.g. "auto" or "keepalive" do and how they are (expected) to w

[2021-02-28 00:41] frankiebee commented on #3851
the basics of web3-core-method have been folded into web3-base the extras of web3-core- method need to be folded into their respective files... theirs a lot in their pertaining to specific method calls that should go with the methods them selves in the right packages

[2021-02-28 08:51] frankiebee commented on #3851
web3-core-helpers remained web3-core-helpers

[2021-02-28 18:30] jamboj opened #3927 "WebsocketProvider 'error', 'end', 'close' do not fire on disconnect"
#### Expected behavior

Client application needs to know:
a) when it potentially starts losing blocks i.e. when the network goes down/socket disconnects
b) when a reconnect is attempted

What are the events that are supposed to fire on a) and b) above?

Where is the documentation describing available WebsocketProvider events? Also, where is the documentation describing WebsocketProvider options su

[2021-03-01 05:02] ahmad1091 commented on #2091
Later versions of **metamask** request permission to return the account, so after requesting the accounts **metamask** extension will popup to ask you for permission in the browser.
Another thing I notice that you are using `getAccounts()`, but in later versions of **metamask** you can use `requestAccount()` instead.

**The shortest way to solve this:**

***instead of:***
` web3.eth.getAccounts().

[2021-03-01 06:35] ceds commented on #2637
I don't see this feature in web3 API ?  Where can I get it ?

[2021-03-01 08:00] takipsizad commented on #3916
uhhhhhhhhhhh

[2021-03-01 15:03] Zhenyazhd commented on #3823
Hi, did you solve this problem?? I have the same trouble. No matter what I do, I don't get to solve it...

[2021-03-01 20:33] #3922 closed

[2021-03-01 21:27] frankiebee commented on #3927
We'll take a look at this thanks for the detailed report.

[2021-03-01 21:52] frankiebee commented on #3854
is this a local node?
an what wallet is being used?

[2021-03-01 22:59] jamboj commented on #3927
Thank you! Please let me know if you need any additional info. This websocket provider reconnects is an amazing feature that seems to be almost complete - I agree it can't be fully stateful and client will indeed lose block sometimes, but as long as the client can keep clear tabs on what's going on it would be a much much easier/cleaner task, especially with different providers e.g. infura and alc

[2021-03-01 23:38] frankiebee opened #3928 "rewrite web3-net"
rewrite package to use modern es6
and inherit from base class

related #3923

[2021-03-01 23:47] frankiebee opened #3929 "rewrite web3-eth"
rewrite package to use modern es6
and inherit from base class

related #3923

[2021-03-01 23:48] frankiebee opened #3930 "rewrite web3-eth-accounts"
rewrite package to use modern es6
and inherit from base class

related #3923

[2021-03-01 23:50] frankiebee opened #3931 "rewrite web3-eth-personal"
rewrite package to use modern es6
and inherit from base class

related #3923

[2021-03-01 23:51] frankiebee opened #3932 "rewrite web3-eth-iban"
rewrite package to use modern es6
and inherit from base class

related #3923

[2021-03-01 23:54] frankiebee opened #3933 "rewrite web3-eth-ens"
rewrite package to use modern es6
and inherit from base class

related #3923

[2021-03-02 00:07] zak100 commented on #3823
Hi,No I can't solve this problem. I am getting this problem in javscript products.
Zulfi.    On Monday, March 1, 2021, 09:03:43 AM CST, Zhenyazhd <notifications@github.com> wrote:

Hi,
Please guide me how to install web3? I am using "npm install web3 " but I am getting one severe vulnerability error.(zulfi6000@yahoo.com)
Zulfi.

Hi, did you solve this problem?? I have the same trouble. No matter w

[2021-03-02 12:44] Cucak commented on #1151
What I dont understand is there any difference when you send token from one wallet address to other wallet address, and when you want to basically buy token with a wallet address from the smart contract of the token?

[2021-03-03 09:48] MananDesai54 opened #3934 "getting value of public storage variable returns empty array"
#### Expected behavior
- It must return valid address

#### Actual behavior
- It is returning empty array. It works fine with remix but not work when i call the same function from react client, I tried making getter function but still same problem. getting data always returning empty array but making changes in contract is working fine. Also tried changing version of web3 but didn't help

This is

[2021-03-03 20:21] sfncook commented on #3145
Adding my experience with this error for posterity.  I received this error while using Infura as my remote provider and the error was specifically:
`Error:  Failed to check for transaction receipt:
{
  "data": {
    "rate": {
      "allowed_rps": 1,
      "backoff_seconds": 30,
      "current_rps": 1.0333333333333334
    },
    "see": "https://infura.io/dashboard"
  }
}`

Turns out the setting on

[2021-03-04 08:29] barakman commented on #1607
@nivida : In web3.js v1.3 (and maybe also prior that version), it seems to be:
[code]

[2021-03-04 09:00] imaksp commented on #3891
@spacesailor24 Hi, any update on this, are you sure its not a web3.js issue? if yes then why its working correctly with `1.2.11` ?

[2021-03-04 10:32] bokysan commented on #1285
This [fix](https://github.com/nachomazzara/web3.js/commit/598c7429a6202942839e4f9e0e547b9c9dda46f2) is not good enough: it continues to spam our report logs with errors every time the page is loaded.

Is there any specific reason it can't simply be:

[code]

[2021-03-04 20:54] frankiebee opened #3935 "rewrite web3-eth-abi"
rewrite package to use modern es6
and inherit from base class

related #3923

[2021-03-05 01:00] #3821 closed, assigned to nobody

[2021-03-05 17:35] #3916 closed, assigned to nobody

[2021-03-05 17:38] Spacesai1or commented on #3915
Hi there, thank you for opening an issue!

Could you provide the contracts you're using, or even better a test repository for us to use to debug this?

[2021-03-05 17:42] #3913 closed, assigned to nobody

[2021-03-05 17:53] Spacesai1or commented on #3886
Hey there, just wanted to check if Greg's recommendation satisfies your request?

[2021-03-05 17:56] #3881 closed, assigned to nobody

[2021-03-05 18:00] Spacesai1or commented on #3863
Hi there, were you able to upgrade to `1.3.x`?

If not, could you provide the contract you're using, or a test repository?

[2021-03-05 18:06] Spacesai1or commented on #3847
Based off of [this](https://github.com/ChainSafe/web3.js/pull/3770#issuecomment-770955247) comment, perhaps I tested this incorrectly - will look it again

Thank you for bringing it to our attention!

[2021-03-05 18:06] #3842 closed, assigned to Spacesai1or

[2021-03-05 18:06] #3841 closed, assigned to Spacesai1or

[2021-03-05 18:07] Spacesai1or commented on #3834
Hi there, could you provide a code snippet or test repository for this?

[2021-03-05 18:09] Spacesai1or commented on #3829
Hi there, could you provide a code snippet or test repository for this?

[2021-03-05 18:10] #3826 closed, assigned to nobody

[2021-03-05 18:11] Spacesai1or commented on #3823
Thank you for bringing this to our attention, we'll have to look at whether or not it's possible to update web3.js's dependencies to remove the warning

[2021-03-05 18:17] Spacesai1or commented on #3805
Hi there, wanting to know if this is still an issue for you?

If so, could provide a test repository for this?

[2021-03-05 18:38] Spacesai1or commented on #3774
Hi there, just checking if this is still an issue for you?

[2021-03-05 18:40] Spacesai1or commented on #3771
Hi there, checking to see if this is still an issue for you?

[2021-03-05 18:43] #3738 closed, assigned to ouoabcde

[2021-03-05 18:45] Spacesai1or commented on #3707
Hi there, checking in to see about the test repository, or if `1.3.4` solved anything?

[2021-03-05 18:52] Spacesai1or commented on #3425
Hi all, is anyone actively working on this?

[2021-03-05 18:56] snitovets commented on #3886
Not really, I can't imagine how to apply such idea to my needs. This error happens if transaction sent and reconnection happens while i'm waiting for transactionReceipt event.

[2021-03-05 19:16] uluhonolulu commented on #3425
@spacesailor24 I promised to work on it, and I was planning to get it done over the weekend.

[2021-03-05 20:28] livingrock7 commented on #3072
Hi guys I'd like to reopen this issue

[2021-03-05 22:55] zak100 commented on #3823
Hi,Thanks a lot. I can't install javascript tools like web3 and chai due to this problem. And now I am getting this problem with Truffle. I don't remember how I installed it.
Zulfi.    On Friday, March 5, 2021, 12:12:07 PM CST, Wyatt Barnes <notifications@github.com> wrote:

Thank you for bringing this to our attention, we'll have to look at whether or not it's possible to update web3.js's depende

[2021-03-05 23:45] vetal20600 commented on #3707
Hello. Sorry for long response. I've decided to investigate it myself once more. Then come back with results. I will share details soon
@spacesailor24

[2021-03-06 09:49] lottemilk commented on #3771
Yes i need help /( for network optimization geth

On Saturday, 6 March 2021, Wyatt Barnes <notifications@github.com> wrote:

[2021-03-06 18:37] eyooooo opened #3936 "BSC - certain tx values break web3"
#### Expected behavior

this tx: https://bscscan.com/vmtrace?txhash=0xea6d2f025d6c2135b93d2c74a2a992c2ed80aac780298c1288b1addc2b6eb4d2&type=gethtrace2

i expect no errors when calling web3.eth.getTransaction(txhash)

#### Actual behavior

[code]

#### Steps to reproduce the behavior

try to run the getTransaction() listed above

#### Logs

the number-to-bn lib has this func

[code]

which is calle

[2021-03-06 19:17] GregTheGreek commented on #3936
@spacesailor24 / @frankiebee I think this might be because the gas limit is set to [9223372036854775807](https://bscscan.com/tx/0xea6d2f025d6c2135b93d2c74a2a992c2ed80aac780298c1288b1addc2b6eb4d2). Which obviously exceeds the the max safe number in javascript...

Proof:
[code]

[2021-03-06 19:20] eyooooo commented on #3936
@GregTheGreek i believe you are correct. I was just reading issue 3745 which brings up the gas thing.

[2021-03-06 19:37] GregTheGreek commented on #3745
Was looking into this because of #3936.

It looks like the [tx formatter](https://github.com/ChainSafe/web3.js/blob/1.x/packages/web3-core-helpers/src/formatters.js#L241) is overflowing on the gasLimit from calling [hexToNumber](https://github.com/ChainSafe/web3.js/blob/1.x/packages/web3-utils/src/utils.js#L230). This could be solved by one of the following:
1. Use [hexNumberToString](https://gith

[2021-03-07 07:27] Spacesai1or commented on #3745
@GregTheGreek I would think returning numbers as strings offers the user the most flexibility. Assuming most will default to BN or BigNumber.js, they can both be instantiated by strings

[2021-03-07 20:19] Elyx0 commented on #3327
I get arrayify error:
[code]

[2021-03-07 21:06] Elyx0 opened #3937 "sendTxCallback slices reasonData wrongly"
![Screen Shot 2021-03-07 at 3 55 41 PM](https://user-images.githubusercontent.com/706218/110254536-9b5a3b00-7f5d-11eb-8aa8-04d547408eff.png)

When using `web3.eth.handleRevert = true;` and getting a reverted error, it appears the `reasonData` can
be truncated wrongly. At the ` reasonData = err.data.substring(10);` step.

Metamask error data is
[code]

It then chokes on the decode from `node_module

[2021-03-08 18:57] Neozaru commented on #2697
This appear almost first in the results when searching for `signTypedData` or EIP712.

Do you think you could update your previous messages to add up-to-date facts ?

Thank you.

[2021-03-08 20:07] sirpenev opened #3938 "I"

[2021-03-08 20:59] sjkelleyjr opened #3939 "No error thrown out when using `handleRevert`"
#### Expected behavior
I should see an error object with a `reason` attached to it in the `on('error')` handler.  This reason should contain the reason message in the corresponding `require` from the smart contract.

#### Actual behavior
No error is being thrown out.  Metamask recognizes that the transaction has failed, and eventually I see the errors in the `Logs` section, which I suspect are unr

[2021-03-08 21:20] sjkelleyjr commented on #3939
Just realized this is likely the same root cause as [this issue](https://github.com/ChainSafe/web3.js/issues/3742) feel free to resolve this one if that is the case.

[2021-03-08 21:52] #3938 closed

[2021-03-10 08:11] koraykoska commented on #3936
I'll take a look

[2021-03-10 08:14] koraykoska commented on #3937
Do you have a full example?

[2021-03-10 08:15] koraykoska commented on #3939
@frankiebee
Is there a quick fix to that for 1.x?

[2021-03-10 18:29] ftppro opened #3942 "Are there any issues with installing the current version of web3?"
I am getting ready to install the current version of web3 on a machine with CentOS v.7.8, 64 bit, and npm 6.14.11.

In the past, the web3 installation had some problems. Are there any issues with using the following command to install the current version of web3?
**npm install web3**

1. Does that command install web3 globally, or do I need to add a command for a global installation (so it will wo

[2021-03-10 23:28] pwagner commented on #2069
I'm using web3.js v1.3.3 and can only get it to work using callbacks like this:
[code]

[2021-03-11 09:17] uluhonolulu opened #3946 "Tests fail on v1.x"
I'm about to submit a PR for the 1.x branch, but the unit tests fail even without my changes (see the output at the bottom).

#### Expected behavior
All tests should pass

#### Actual behavior
The following tests are failing (note that all of them are related to WebSocketProvider):
[code]
#### Steps to reproduce the behavior

1. Clone the repository
2. `npm install`
3. `npm run build`
4. `npm run

[2021-03-11 16:42] alstjd0921 commented on #3936
@koraykoska Please review this pr #3948

[2021-03-12 08:59] alstjd0921 commented on #3936
@eyooooo  This could be a temporary solution.

[code]

declare this formatter anywhere in your project

[code]

Import the formatter created in the above process and extend web3 modules with it

[code]

then you can get transaction info with no errors by using this custom method

[2021-03-13 06:12] MuhammadSajid404 commented on #3327
Hi everybody

web3.eth.handleRevert = true
after enabling handlerevert = true i am getting this kind of error from web3 in the browser console.

MetaMask - RPC Error: Error: [ethjs-query] while formatting outputs from RPC '{"value":{"code":-32603,"data":{"message":"VM Exception while processing transaction: revert Only adopters can call this function","code":-32000,"data":{"0x9a5f8d4e7280d3519b09e

[2021-03-13 11:57] vlddm commented on #2331
Still no `request()` method exist in `estimateGas` object using  web3js 1.3.4

[2021-03-15 04:34] jinmao88 opened #3951 "vite2 can't use this"
![image](https://user-images.githubusercontent.com/50581550/111103978-94997c80-858a-11eb-8e8c-9522a071b5a6.png)
![image](https://user-images.githubusercontent.com/50581550/111104085-cdd1ec80-858a-11eb-9c4d-9c86a1c35ae3.png)

[2021-03-15 14:56] siliconswampio opened #3952 "Metamask Broken on Firefox"
I have looked for open tickets on this issue and haven't found any that relate to just general usage the extension is not working on my firefox for some reason and I cannot figure out why, other than that it is a CSP policy issue

#### Expected behavior
Metamask not to break

#### Actual behavior
Metamask not loading correctly

#### Steps to reproduce the behavior

Firefox version 86.0.1
MetaMask

[2021-03-15 20:41] frankiebee commented on #3952
This is not MetaMask please report MetaMask issues to MetaMask https://github.com/MetaMask/metamask-extension/issues/new/choose

[2021-03-15 20:41] #3952 closed, assigned to nobody

[2021-03-15 22:05] frankiebee opened #3953 "create a core shared types package"
create a core shared types package

[2021-03-16 02:39] Spacesai1or opened #3954 "Review upgrade of xhr2-cookies dependency"
As mentioned in #3947, `xhr2-cookies` seems to be stale in development

This issue is a reminder to look into `node-xhr2` and other alternatives for an actively maintained package

[2021-03-16 06:34] axboy commented on #1810
[code]
兄弟解决了没有，同样的问题，我这只能获取到最后一个块的事件
How to get all historical events, the code only gets last block events, not all events.

[2021-03-16 14:58] loredanacirstea commented on #3932
@frankiebee, for external contributors, do you have a clear list of what changes the refactoring must target? I see https://github.com/ChainSafe/web3.js/pull/3904 - is there an even better refactoring example?

I can help with refactoring `web3-eth-iban` since no one else is assigned.

[2021-03-16 22:05] frankiebee commented on #3953
related #3851

[2021-03-16 22:48] frankiebee commented on #3848
the ongoing rewrite of core packages is in the branch `rewrite-core` see in draft PR #3944

packages that need a request manager should inherit from web3-base

[2021-03-16 22:59] frankiebee commented on #3932
@loredanacirstea thanks for your PR #3955! we are still working on a good example of the rewrite, and #3904 is not quite hitting those requirements. We have big plans to improve the code and any help would be greatly appreciated. A really rough outline is in issue #3848 and i'll start collecting more of the notes that we have been discussing there over the next couple of days. From a glance your P

[2021-03-16 23:10] frankiebee commented on #3848
- Packages should keep their own unit tests in their own test directory
- have their own dependencies in the `package.json` file and their own `package-lock.json` file
- Packages should be written in type script and should pull common types like provider etc. from `web3-types`

[2021-03-16 23:13] frankiebee commented on #3848
The completion of this issue will require a major version bump when complete.

[2021-03-17 23:22] haltman-at commented on #3898
Hi, what with Berlin coming up I wanted to check on this.  I'm assuming that you're planning to implement support for access lists in an upcoming version, right?  (I don't see an issue for it, but I have to assume this is planned.)  When this happens we'll want to upgrade Truffle to the new version so that our users can use access lists, but, again, we cannot upgrade until this bug is fixed.

Btw,

[2021-03-17 23:42] drortirosh opened #3963 "Support for Berlin hard-fork"
With Berlin hard-fork [announced](https://blog.ethereum.org/2021/03/08/ethereum-berlin-upgrade-announcement/) to be released at 14-Apr, it would be nice if the web3 would support sending (and decoding) [EIP-2918](https://eips.ethereum.org/EIPS/eip-2718)/[EIP-2930](https://eips.ethereum.org/EIPS/eip-2930) transactions.

[2021-03-17 23:54] Spacesai1or commented on #3963
Hi there, PR #3919 aims to add support for EIP2918 (and might add support for EIP2930, if not we'll just open a separate PR to handle any needed changes), we're just waiting on [this](https://github.com/ethereumjs/ethereumjs-monorepo/pull/1048) to be included in a release of `@ethereumjs.tx`

Thank you :)

[2021-03-18 00:43] koraykoska commented on #3942
This shouldn't be an issue. If you face any please let us know.

[2021-03-18 00:46] koraykoska commented on #3946
@frankiebee I see provider. Are there any changes in the 1.x branch already?

[2021-03-18 00:47] koraykoska commented on #3951
Do you have any details? An example would be great so I can investigate.

[2021-03-18 04:01] haltman-at commented on #3898
Oh, it looks like #3917 addresses this.  It wasn't linked so I didn't know that was going on.  OK, whew!  So we should be finally able to upgrade to 1.3.5, then. :)

[2021-03-18 08:57] holgerd77 commented on #3963
Hi hi, Berlin releases for `@ethereumjs/tx` and other EthereumJS libraries like the VM are prepared here https://github.com/ethereumjs/ethereumjs-monorepo/pull/1151 and will be released next Tuesday (if nothing unexpected comes in between).

[2021-03-18 16:04] jinmao88 commented on #3951
https://github.com/anncwb/vue-vben-admin   this project
yarn add web3
Component
import web3 from 'web3'
console.log(web3)

vue3+vite2+ts

[2021-03-19 22:03] YanTheFawn opened #3968 "npm web3 install raises 'security vulnerability' alert"
#### Expected behavior
`npm install web3` runs without issues

#### Actual behavior
[code]

#### Steps to reproduce the behavior

1. [On a fresh box, install node, then run `npm install web3`]
2. [see that there is an issue with the audit of the package]
#### Logs
See 'Actual Behavior'

#### Environment
OS - mac OS 10.15.5
node -  v 15.12

[2021-03-20 00:57] #3255 closed, assigned to nobody

[2021-03-20 12:29] paulmillr commented on #3888
Have you heard about SemVer?

[2021-03-21 13:03] starker-xp opened #3969 "Returned values aren't valid, did it run Out of Gas?"
Hello, I have been struggling desperately to make this project work for a few days.
https://github.com/starker-xp/soldity-test

The goal is to save a value and return it. The action of sending goes without worries on the other hand the recovery via the "get" method causes me this error:

[code]
I juste expected my value :/

If i run unit test i don't have this problem :/

#### Steps to reproduce t

[2021-03-22 06:05] StillFantastic commented on #3891
My dapp also not getting a callback when connecting through WalletConnect, the web3 version we are using is 1.3.0

[2021-03-22 09:56] wzup commented on #3839
@GregTheGreek

How to deal with `deprecated` packages? After installation I've got 4 warnings about deprecated packages.

[code]

[2021-03-22 10:42] wzup commented on #2379
@nivida Any update with the issue?
I've installed `web3` and I've got this warning about `mkdirp-promise@5.0.1` in `swarm-js`. I don't know how to deal with it
[code]

Why in `swarm-js`? Because I traced it with `npm ls mkdirp-promise@5.0.1`:
[code]

[2021-03-22 13:23] CryptoVrille opened #3970 "VM execution error"
Hi,

I'm receiving an execution error but without any further details so that I can check further where the problem can reside.
This is the full error:

[code]

This is what I have in my code:

[code]

What am I doing wrong here?

[2021-03-23 11:44] loredanacirstea commented on #3932
@frankiebee  I understand from https://github.com/ChainSafe/web3.js/issues/3848#issuecomment-800663285 that I should base my rewrite PR on `rewrite-core`.
Next comment mentions `web3-types` - where is this package?

[2021-03-23 12:37] Ramsolz666 commented on #3823
i also have this problem. Maybe i use the old version to operate

[2021-03-23 13:53] paulmillr opened #3972 "Utilize BigInts, drop bn.js and biginteger libraries"
If you're rewriting the library, I think it makes sense to switch to built-in JS Big ints. Every major browser and node version supports it. Folks who want to support older browsers can use older web3.

Switching to native bigints has several benefits:

1. Less security vulnerabilities: Any 3rd-party dep could get hacked and backdoored.
2. Performance. It's faster than bn.js.
3. Package size. Mass

[2021-03-23 15:17] Spacesai1or commented on #3972
Hey there, thank you for bringing this to our attention, it's certainly a great idea!

@frankiebee @koraykoska How do y'all fell about this?

[2021-03-23 15:29] paulmillr commented on #3972
Example of such improvement: i've made cryptographic libraries that utilize bigints and have no dependencies. Example: [noble-secp256k1](https://github.com/paulmillr/noble-secp256k1), a curve, that is used in ETH & [noble-bls12-381](https://github.com/paulmillr/noble-bls12-381) for ETH2.

[2021-03-24 00:26] Solid-Code commented on #3724
Can you provide details on how I would do this for a bytes5 that I am having the issue with?

[2021-03-24 04:36] zak100 commented on #3823
Hi,I am getting vulnerability in all js tools.
Zulfi.
    On Tuesday, March 23, 2021, 7:37:45 AM CDT, Ramsolz666 ***@***.***> wrote:

i also have this problem. Maybe i use the old version to operate

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-24 06:15] wjl8 opened #3975 "npm install web3 error"
npm WARN addRemoteGit Error: Command failed: git config --get remote.origin.url
npm WARN addRemoteGit
npm WARN addRemoteGit     at ChildProcess.exithandler (child_process.js:275:12)
npm WARN addRemoteGit     at emitTwo (events.js:126:13)
npm WARN addRemoteGit     at ChildProcess.emit (events.js:214:7)
npm WARN addRemoteGit     at maybeClose (internal/child_process.js:925:16)
npm WARN addRemoteGit

[2021-03-25 20:11] MarkoCen commented on #3897
I had this issue when executing smart contract on a pool lack of liquidity. it will throw this error when the token reserves extremely low

[2021-03-25 22:13] dbforma commented on #2739
Any updates on this?

[2021-03-27 03:11] agarwalankit3395 opened #3979 "invalid sender"
const app = require('express')();
      const bodyParser = require('body-parser');
      const cors = require('cors');
      // Specify port to run
      const port = <port number>;
      const Tx = require('ethereumjs-tx').Transaction;
      const Web3 = require('web3');
      //Write Your Private key
      const HDWalletProvider = require("@truffle/hdwallet-provider");
      // Write Your Infura

[2021-03-27 03:15] agarwalankit3395 commented on #3979
I tried many different ways search also everywhere they are saying sign a transaction. Already done but still facing same issue

[2021-03-30 11:05] andresudi opened #3983 "web3 getPastEvents with filter return invalid argument 0: hex has invalid length 96 after decoding; expected 32 for topic"
This relates to https://github.com/ChainSafe/web3.js/issues/3680
This relates to https://github.com/MetaMask/metamask-extension/issues/6394

#### Expected behavior
It should return filtered data

#### Actual behavior
return error
Error: Returned error: invalid argument 0: hex has invalid length 96 after decoding; expected 32 for topic

#### Steps to reproduce the behavior

1. Here's the relevant p

[2021-03-30 11:28] jonassunandar commented on #3983
got the same error with web3 version 1.2.11

[2021-03-30 22:58] barrysteyn opened #3984 "Cannot get get web3 to connect to Rinkeby network using Metmask provider"
Hi

I am using web3 version 1.3.4 with Metamask. I am trying (very unsuccessfully) to get my smart contract to pull data from Rinkeby. Here is my code:

[code]

I am getting no error returned. There is no XHR data being sent either.

[2021-03-31 03:06] katexue commented on #1986
I get the same problem with web3 v1.3.4, this fix resolved my issue.

[2021-03-31 18:16] barrysteyn commented on #3984
Hi, the problem for me was an incorrect ABI. I don't suppose it is an easy problem to solve (when an ABI is incorrect, point that out). Right now, it silently fails.

[2021-03-31 18:16] #3984 closed, assigned to nobody

[2021-03-31 22:31] bobinmad commented on #3897
Today noticed same problem with PASTA (0xe54f9e6ab80ebc28515af8b8233c1aee6506a15e) as well as MKR and SAI

[2021-04-01 04:35] visopsys commented on #3805
I also have this issue when using with a library. If I move a function from library to inner contract, then it compiles successfully.

[2021-04-01 11:34] marghidanu opened #3986 "JsonRpcResponse TypeScript definition"
I believe that the TypeScript definition for JsonRpcResponse is incorrect. The current definition has the error property listed as `error?: string;` when in fact it would be more like the result property. I think using `error?: any;` should be correct.

[2021-04-03 09:41] ddb1 commented on #1233
i have also meet this problem ,who can tell me how to solve it. thanks!

[2021-04-03 14:39] NguyenNam449 opened #3987 "Y"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs

#### Environment

[2021-04-03 14:39] NguyenNam449 commented on #3987
F

[2021-04-03 16:00] mwawrusch commented on #1105
Same issue still exists today.

[2021-04-04 18:40] clexmond commented on #3891
I'm having the same issue (web3 `1.3.4`) while connecting with mobile MetaMask via WalletConnect and listening for events with https://web3js.readthedocs.io/en/v1.3.4/web3-eth-contract.html#contract-events. Works just fine with MetaMask extension in browser. I've confirmed Infura is setup correctly in the WalletConnect provider.

[2021-04-05 01:18] clexmond commented on #3891
I have since removed subscriptions as it seems they're not supported with WalletConnect's provider, but the issue remains.

[2021-04-05 07:25] koraykoska commented on #3684
@ethersproject/abi is on 5.0.7 and this issue shouldn't exist any more.

[2021-04-05 13:17] cargopete commented on #3898
Switching the version to `^1.3.5-rc.0` did the trick for me

[2021-04-05 16:36] haltman-at commented on #3898
I mean, yes, but I'm waiting for 1.3.5 to actually be released before upgrading!  (I'm hoping that's soon?  The candidate has been out nearly two weeks...)

[2021-04-07 03:10] samlior opened #3992 "Did not send eth_unsubscribe to the node when unsubscribing"
#### Expected behavior

Send eth_unsubscribe to the node when unsubscribing

#### Actual behavior

Did not send eth_unsubscribe to the node when unsubscribing

#### Steps to reproduce the behavior

[code]
#### Environment

npm 7.7.4
node 12.19.0
web3-core-subscriptions@1.3.5
web3-core-requestmanager@1.3.5

#### Reason

[code]
[code]
It seems that when `removeSubscription`, it will find the `subscr

[2021-04-08 08:40] zeyuyuan opened #3995 "web3.eth.submitWork type definition error"
#### Expected behavior

web3.eth.submitWork has  the right type definition.

#### Actual behavior

the type definition and doc example seem like incorrect.

#### Steps to reproduce the behavior

[code]

[code]

#### Logs

#### Environment

npm 6.14.11
node 15.0.1.
web3 1.3.5

[2021-04-08 08:45] ITJesse commented on #3042
Not stale!

[2021-04-08 15:23] bigchiano commented on #3898
This fixed the issue for me thanks

[2021-04-08 15:24] haltman-at commented on #3898
This can be closed now, right?  This was fixed in 1.3.5, right?

[2021-04-08 15:50] bigchiano commented on #3898
Well I guess so, but it works for me.

[2021-04-08 17:24] Rackar commented on #1025
Did the reconnect option solve your problem?

[2021-04-08 18:06] cryptoDevTrader commented on #3963
Any update on this? https://github.com/ethereumjs/ethereumjs-monorepo/pull/1151 was merged 17 days ago.

[2021-04-08 19:56] #3987 closed, assigned to nobody

[2021-04-08 19:56] NguyenNam449 commented on #3987
Y

[2021-04-10 06:07] bengotow commented on #2363
It looks like this is still a problem? I was also able to achieve what Alex did above with this syntax which only needs `web3-eth`:

[code]

[2021-04-11 09:12] moonClimber commented on #2260
_[truncate... se the original post above]_

Just in case someone is not finding the file, at this moment I am using Angular 11.2.8 and web3 1.3.5
I solved this issue by following the suggest above, but the file to change is here
**\node_modules\@angular-devkit\build-angular\src\webpack\configs\browser.js**

the line 82 of this file has to be changed from
`node: false`
to
`node: {crypto: true, stre

[2021-04-11 13:19] Kankan-0 commented on #3934
I tried reproducing this issue. With remix (injected web3) and local truffle suite, it was working as intended. Only in case the contract is deployed to remix javascript VM, I get the creator as undefined.

[2021-04-11 13:25] MananDesai54 commented on #3934
With remix it works fine, but when I integrated it with react and created connection to blockchain with web3js and then tried then it returns empty array, for every getters it returns empty array and for all transactions or calls that modifies blockchain it works fine.

[2021-04-11 13:33] Kankan-0 commented on #3934
@MananDesai54
Just for understanding, can you tell what is your local setup? I am using truffle with ganache, and I created a simple react app to check the code, and it is working fine for me. I am getting the creator as an array, with having only one value.

[2021-04-11 13:39] MananDesai54 commented on #3934
Mine is same only difference is mine is not ganache cli but mine is ethereum rinkeby network, for ganache is works fine but for real network it didn't work as expected

[2021-04-11 15:42] Kankan-0 commented on #3934
@MananDesai54
I checked by deploying the contract to rinkeby network. It's working for me there also.
You can check the contract here 0xbAfe539eDE72D552D3E8A662C40813Db569B35C1

[2021-04-11 15:44] MananDesai54 commented on #3934
@Kankan-0 that's awesome can you share GitHub or code sand box link?

[2021-04-11 15:46] MananDesai54 commented on #3934
Btw I have used web3js for connecting to blockchain insgoof truffle @Kankan-0

[2021-04-11 16:03] Kankan-0 commented on #3934
@MananDesai54
I created this https://codesandbox.io/s/happy-dream-wfc9o

[2021-04-11 16:50] MananDesai54 commented on #3934
@Kankan-0 thanks I'll try this one

[2021-04-12 22:26] #3745 closed, assigned to Spacesai1or

[2021-04-12 22:26] #3912 closed, assigned to Spacesai1or

[2021-04-12 22:26] #3829 closed, assigned to Spacesai1or

[2021-04-12 22:26] #3936 closed, assigned to Spacesai1or

[2021-04-13 04:45] MananDesai54 commented on #3934
@Kankan-0 didn't work for me still getting empty array

[2021-04-13 04:48] MananDesai54 commented on #3934
@Kankan-0 this is my codepen link : https://codesandbox.io/s/silly-stallman-qfeec?file=/package.json

[2021-04-13 10:22] jeromevvb commented on #3891
Same issue, using web3 1.3.4 cannot get callback.
i tried all of the callback methods documented here: https://web3js.readthedocs.io/en/v1.2.11/web3-eth-contract.html#methods-mymethod-send but any of them works.

[2021-04-13 10:37] jeromevvb commented on #3891
just installed web 1.3.5 and its working now.
![4f5429df5ea6361fa8d3f08dfcdccdf9--programmer-humor-computer-engineering](https://user-images.githubusercontent.com/7522096/114539489-bddb2480-9c7e-11eb-876a-0c209532b702.jpeg)

this is my code by the way
[code]

[2021-04-14 02:50] ghost opened #4001 "vulnebration"
#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

1. [First step]
2. [Second step]
3. [and so on...]

#### Logs
# npm audit report

bl  <=1.2.2 || 2.0.1 - 2.2.0 || 3.0.0 || 4.0.0 - 4.0.2
Severity: high
Remote Memory Exposure - https://npmjs.com/advisories/1555
Memory Exposure - https://npmjs.com/advisories/596
fix available via `npm audit fix --force`
Will install

[2021-04-14 08:32] KevinH2810 commented on #2077
headsup on April 2021 still remains an issue.

mine's value is "8.421804059e+21" on VEE token. might be because the number is too small ??

[2021-04-15 00:20] SilvioGuedes commented on #1102
Guys, the problem is still happening in 1.3.5:

       const web3Eth = Utils.getWeb3Eth(apiKey, network)
        const nonce = await web3Eth.getTransactionCount(userAddress, 'pending');
        const block = await web3Eth.getBlock("latest")
        const gasLimit = block.gasLimit
        const gasUsed = block.gasUsed

        const txParams = {
            gasPrice: web3Utils.toHex(gasPrice),

[2021-04-15 08:20] RobertoDonPedro commented on #3939
Same issue here with:
Web3 version: 1.3.5
web3.eth.handleRevert = true;

The transaction fails due to revert as expected, but web3 does not catch any errors. Instead I get this javascript error.
`inpage.js:1 MetaMask - RPC Error: BlockReEmitMiddleware - retries exhausted
Object
code: -32603
data: {originalError: {…}}
message: "BlockReEmitMiddleware - retries exhausted"
__proto__: Object`

Is there

[2021-04-15 10:12] KevinH2810 commented on #2077
this quick fix solve my error. thank you sir!

[2021-04-15 12:40] rellfy commented on #1102
@oivlisnet  I have the same exact issue. I was not aware it only happens on a specific account, so thanks for pointing that out. It is very strange indeed, I'm curious to know what's causing this. It only happens with web3 as I tried with ethers.js and the issue doesn't happen there. Must be some local issue maybe?

[2021-04-15 16:39] SilvioGuedes commented on #1102
@rellfy Hi! No, I am not using MetaMask, I am using privateKey directly in the transaction:

 privateKey = stripHexPrefix(privateKey)
 const privateKeyBuffer = Buffer.from(privateKey,'hex')
 tx.sign(privateKeyBuffer);

I forgot to put the contract address, but **this error happens in any smart contract address for the account 0x64... if I mint something.** I can't use this account since block 8408

[2021-04-15 18:33] pichikadev opened #4002 "Calling function from web3 fails, calling it from truffle console works"
Calling function from web3 fails, calling it from truffle console works

My environment:

- NodeJS v10.19.0
- NPM 6.14.4
- OS Linux Mint kernel version 5.4.0-40-generic
- Brave Browser 1.18.70

I have the following JS code to call a contract:

[code]

This way I encode the fourth parameter (encoded parameters to make call from smart contract to another one):

[code]

This is the contract I'm calli

[2021-04-15 18:39] GregTheGreek commented on #4002
When using the truffle console are you connecting to a local ganche instance or an actual testnet?

[2021-04-15 19:02] pichikadev commented on #4002
I tested both. When I deployed to ganache, in truffle I connected to the ganache instance. And when I deployed to BSC testnet, I connected to the BSC network in truffle. Btw, I didn't run the nodejs script in the browser, but in the console.

[2021-04-16 07:33] pichikadev commented on #4002
Issue was: Insufficient gas, mainly. Seems like the push operation requires a lot more gas than I was expecting. Truffle CLI seems like to mask this issue because probably it's sending enough gas. On my frontend APP I wasn't setting enough gas.

[2021-04-16 07:33] #4002 closed, assigned to nobody

[2021-04-16 15:18] kabaluyot commented on #1502
run this too when I connected the rpc nodes to a load balancer ... Any solution for this?

[2021-04-16 15:43] kabaluyot commented on #1502
So I found the fix. Add your dns similar to this issue: https://github.com/ethereum/go-ethereum/issues/16535 .. I added mine to the HTTPvhost in config.toml

[2021-04-17 02:41] Douglasacost commented on #3144
some update about this requirement?

[2021-04-17 15:43] cryptokek commented on #3897
Having the same issue. Seems like it happens when calling `symbol` and `name` methods when they have crazy number values saved there.
e.g. https://etherscan.io/address/0xe54f9e6ab80ebc28515af8b8233c1aee6506a15e#readContract
check the symbol and name values.

We've worked around this by sending raw web3 requests. As such it seems to be a bug with web3 library.
[code]

[2021-04-17 18:58] #4001 closed, assigned to nobody

[2021-04-17 20:33] SilvioGuedes commented on #1102
@rellfy Thanks for the tip about ethers, it worked!

The code:

        const provider = new ethers.providers.JsonRpcProvider(
            "https://" + network + ".infura.io/v3/" + apiKey,
        );
        const nonce = await provider.getTransactionCount(userAddress, 'pending')
        const block = await provider.getBlock("latest")
        const gasLimit = block.gasLimit

        try{

[2021-04-19 05:07] imaksp commented on #3891
@jeromevvb your code will work, transactionHash is being received in 1.3, but not receipt, I think you misread the issue.

[2021-04-20 11:27] VexyCats commented on #3897
Still having this issue - any resolution or fix?

[2021-04-20 11:33] VexyCats opened #4004 "fault="overflow", operation="toNumber", value="100000000000000000", code=NUMERIC_FAULT, version=bignumber/5.0.12"
#### Expected behavior

Making a web3.js call to a contract that returns a struct of data like this:

[code]

Should return the values properly. If price is under 1 ETH in gwei, it works, but as soon as its over 1 ETH - it overflows.

#### Actual behavior

The call errors out with:

[code]

#### Steps to reproduce the behavior
Call a contract that returns a uint256 inside a struct that is over 100

[2021-04-20 12:18] GregTheGreek commented on #4004
Please use the latest version of web3.js!

[2021-04-22 00:51] #3979 closed, assigned to nobody

[2021-04-22 03:13] Velua commented on #3723
Any progress on this? @GregTheGreek

[2021-04-22 05:42] jeromevvb commented on #3891
@aksdevac My Apologies, Indeed i misread the issue. I have the same issue also.

[2021-04-22 08:59] illuzen commented on #3425
The workaround here is to use WebsocketProvider, at least in the case of truffle tests

[2021-04-24 07:16] afanasy commented on #2890
This worked for me:
[code]
Geth node needs to have `txpool` API enabled, `web3@1.3.5`, [txpool_content docs](https://geth.ethereum.org/docs/rpc/ns-txpool#txpool_content)

[2021-04-24 13:30] nicoasdd commented on #4004
I have the same issue, with version "web3": "^1.3.5"

I'm trying to call a router contract function getAmountOut:

Function ABI:
[code]

  In some coins with extremely low value i get the overflow error:

[code]

My code:

[code]

To reproduce:
`npm i web3`
[code]

Edit: I've already tried supplying the function with the number in string, web.BN, BigNumber and Hex

[2021-04-24 13:37] jacastro commented on #4004
I am having the same problem for a few days with last version of web3.

[2021-04-24 14:26] nicoasdd commented on #4004
Duplicated issue? #3897

[2021-04-24 14:27] nicoasdd commented on #3897
Already posted on issue 4004, but I think this is the one with more information.

I have the same issue, with version "web3": "^1.3.5"

I'm trying to call a router contract function getAmountOut:

Function ABI:
[code]

  In some coins with extremely low value i get the overflow error:

[code]

My code:

[code]

To reproduce:
`npm i web3`
[code]

Edit: I've already tried supplying the function with

[2021-04-24 14:41] nicoasdd commented on #3897
@cryptokek
I'm trying to make the same as you, but dont get some things, my method is a router contract call for getting prices, so I make this code:

[code]
but my reply always is 0x, it's okay with the way al added the params to the data?

You can check my original code and error in my prev message.

Edit: Fixed some code issues

[2021-04-24 16:01] bourkefloyd opened #4006 "TypeError: Cannot read property 'name' of undefined"
#### Expected behavior
It works

#### Actual behavior

[code]

#### Steps to reproduce the behavior

[code]

#### Logs

See above

#### Environment

FYI I'm using NodeJs w/ these dependencies

node --version
v14.16.0
npm --version
6.14.11

[code]

also posted here, but seems to be a web3 issue
https://github.com/ethereumjs/ethereumjs-monorepo/issues/1223

[2021-04-24 19:57] bkr32 opened #4007 "Unsubscring Using Subscription ID"
In the docs https://web3js.readthedocs.io/en/v1.3.4/web3-eth-subscribe.html#subscribe
a return of the subscribe function is `subscribtion.id` , the docs mentions as follows
[code]
however i have been unable to find any information relating to the same.

How can `subscription.id` be used to unsubscribe a subscription

[2021-04-27 07:22] lanyuxqh commented on #1810
请问你后来怎么解决的，我也只能拿到最新的一条记录。

[2021-04-27 15:18] GregTheGreek commented on #4006
We're working on this right now to get this included into a release, thank you for pointing this out

[2021-04-27 15:20] GregTheGreek commented on #4004
Bignumbers have been a bit of a bottleneck for us, we are working on this. Thank you for pointing this out.

[2021-04-27 15:21] #3734 closed, assigned to nobody

[2021-04-27 15:24] GregTheGreek commented on #3975
This is not enough information, can you please provide the commands you used to install this, the web3js & nodejs version and any other relevant information.

[2021-04-28 08:48] sterlu commented on #3016
Hey I just came across a similar error half-asleep last night. I figured it out this morning so I'll share the answer in case someone needs it. @jgeary was encoding a *function call* and decoding only the *argument*. Function calls are composed by the function ID (first 4 bytes/8 characters) and then the concatenated parameters.

TLDR just slicing off the first 8 chars from the call data should do

[2021-04-28 11:42] uwieske commented on #2485
I have reproduced the same issue described above (title/description) in version 1.3.4 and 1.3.5. This issue has not been resolved. I also checked other issues submitted after the issue above had been submitted but I it seemed that this issue had never been resolved in newer versions. I will submit a new issue describing my scenario with the same underlying problem.

[2021-04-28 12:41] uwieske opened #4010 "The event handler for a subscribed event is invoked multiple times and the amount of invocations seems to be related to the amount of event subscriptions in the client code."
Hi,
I am experiencing the same underlying problem which had been reported in #2485. That is, I have many event types defined in my contract. When my client application (angular app) subscribes to each event type (through Web3js) and only one particular event has been emitted in my contract, then I see for this particular event multiple invocations (event handler) that have been made. The weird thi

[2021-04-28 17:23] hellwolf commented on #3891
Hey guys, I did a comparison https://github.com/ChainSafe/web3.js/compare/v1.2.11..v1.3.0?diff=split

The biggest changeset I can suspect of is packages/web3-core-requestmanager/src/index.js

One thing caught my eyes is:

In 1.3.x code:

[code]

In 1.2.x code:

[code]

The missing of .bind may need some attention.

Although, I cannot yet confirm if the provider given by wallet-connect uses the `.r

[2021-04-28 17:34] hellwolf commented on #3891
nevermind, https://github.com/aquiladev/wallet-connect-provider/blob/master/index.js shows it uses .send or .sendAsync

[2021-04-28 19:17] hellwolf commented on #3891
I have debugged into it and it boils down to that:

[code]

`newBlockHeaders` no longer received.

My test history:

* `1.3.0` - completely didn't work, some crashes
* `1.3.1` - worked
* `1.3.2` - worked
* `1.3.3` - stopped working

[2021-04-28 19:18] hellwolf commented on #3891
https://github.com/ChainSafe/web3.js/compare/v1.3.1..v1.3.2?diff=split

see changes in packages/web3-core-requestmanager/src/index.js

[code]

[2021-04-28 19:20] hellwolf commented on #3891
I think this is the root cause

[2021-04-28 19:30] hellwolf commented on #3891
My temporary hack would be:

[code]

;)

[2021-04-28 23:56] StKostyantin opened #4011 "How get new transactionHash after sped up trx"
If you use the code like this, you can get data about the accelerated transaction

[code]

But this code I can not control(use with react-query and etc)

I need something like that

[code]

that is, I need the promise to work, but since the hash has changed - the promise (contract context) has changed.
My question is - how do I get the new hash?

or what context to transfer to emitters?
Because if

[2021-04-29 02:16] axboy commented on #1810
当时曲线救国，java写的，给页面提供接口

[2021-04-29 03:06] axboy commented on #1810
## fix my error

我这个获取不到是因为代码错误，fromBlock不是在filter里面，换成如下代码可用。
I can’t get this because of a bad code, The param 'fromBlock' is not in the filter block, It can use the following code instead.

[code]

## full code
[code]

## Suggest

建议使用infura调试，浏览器能看到http请求记录，参数直观，call请求不依赖MetaMask，send请求酌情考虑

[2021-04-29 17:35] duall commented on #1050
same, some m****ker on overflow decided to add +1 :D  so I fell for that

[2021-05-01 03:51] joeytwiddle commented on #3886
@Snitovets In case it helps you: In our organisation, we don't rely on waiting for the receipt. There are multiple reasons why we cannot rely on it:

1. A network error such as the one you are experiencing
2. Perhaps our API server or our geth node is restarted, while waiting for the transaction to be mined. In that case no receipt is received.
3. If there is high congestion, we might get a timeou

[2021-05-01 04:20] joeytwiddle opened #4016 "One particular block cannot be read over websocket: "CONNECTION ERROR: Provider started to reconnect""
Could we document the various reasons why this error may occur? To help developers who experience this to debug their issue.

We saw this error once in the past, when our light node had crashed/frozen (due to running out of disk space). The solution that time was to bring back the node, and restart our app. (Perhaps discarding the old web3 provider and creating a new one would have been sufficient

[2021-05-01 04:21] joeytwiddle commented on #3886
By the way, did you ever find out why this error was occurring? I would like to compile a list of reasons and solutions in #4016.

[2021-05-02 18:26] gen4sp opened #4017 "Events aren't fired"
#### Expected behavior
I work with a standard ERC-721 contract. And after I mint a new token I do expect an event `Transfer` fired.

#### Actual behavior
Contract works fine if I call the mint method via remix. My node.js script is also run fine, but no any events fired.
I've tried getPastEvents, allEvents and usual subscriptions  - nothing.

What could be wrong?

Web3, WS, Geth, Ropsten
#### Step

[2021-05-02 18:29] GregTheGreek commented on #4017
What network did you fire this off to? Do you have any reproducible scripts you can share?

[2021-05-02 18:33] gen4sp commented on #4017
I've tried Ropsten and Rinkeby - same results.

[code]

[2021-05-02 21:43] Spacesai1or opened #4018 "[Rewrite] Breakout web3-providers-http package"
Pull package into separate branch and open PR into `4.x`

[2021-05-02 21:44] Spacesai1or opened #4019 "[Rewrite] Breakout web3-providers-base package"
Pull package into separate branch and open PR into `4.x`

[2021-05-02 22:10] adriandelgg commented on #3975
If you're on Linux, make sure to do

`$ sudo npm install web3`

[2021-05-03 03:20] joeytwiddle commented on #4016
Update: After some testing I have found that this only occurs on that particular block!

[code]

I have not found any other block with this same issue.

As well as happening in web3@1.2.11 it also happens in the latest version web3@1.3.5

Of course it only happens with websocket connections, not http connections.

This seems like a bug. Does it happen for you too?

[2021-05-03 06:37] Spacesai1or opened #4021 "[Rewrite] Breakout web3-core-requestmanager"
Pull package into separate branch and open PR into `4.x`

[2021-05-03 07:24] Spacesai1or opened #4023 "[Rewrite] web3-eth"
- [x] Pull package into separate branch and open PR into `4.x`

Some of the following may not be implemented, but I'm listing all available calls for the sake of completion:

- [x] web3_clientVersion
- [x] web3_sha3
- [x] net_version
- [x] net_peerCount
- [x] net_listening
- [x] eth_protocolVersion
- [x] eth_syncing
- [x] eth_coinbase
- [x] eth_mining
- [x] eth_hashrate
- [x] eth_gasPrice
- [x] et

[2021-05-03 14:40] AchinthyaBhat commented on #2340
I am getting the same error when using metamask on polygon network on ff browser. Idk if it's related but loading my tokens and their icons is taking forever now on the metamask dropdown

[2021-05-03 17:06] zerobytes commented on #3408
Using that scrypt version fixes the install problem. Although, I can't use it because it seems to create different encrypted results if compared to the normal one.
My password verification function, that uses scrypt does not match passwords anymore if using that.
I can't use that scrypt version

[2021-05-03 21:24] #4018 closed, assigned to Spacesai1or

[2021-05-03 21:24] #4019 closed, assigned to Spacesai1or

[2021-05-03 21:36] Spacesai1or opened #4025 "[Rewrite] web3-eth-contract"

[2021-05-03 21:37] Spacesai1or opened #4026 "[Rewrite] web3-core-subscriptions"

[2021-05-03 21:39] Spacesai1or opened #4027 "[Rewrite] web3-core-eth2"

[2021-05-03 21:39] Spacesai1or opened #4028 "[Rewrite] web3-eth2-beaconchain"

[2021-05-03 21:41] Spacesai1or opened #4029 "[Rewrite] web3-eth-accounts"

[2021-05-03 21:41] Spacesai1or opened #4030 "[Rewrite] web3-providers-ws"

[2021-05-03 21:42] Spacesai1or opened #4031 "[Rewrite] web3-providers-ipc"

[2021-05-04 13:44] gen4sp commented on #4017
any ideas?

[2021-05-04 19:09] #3894 closed, assigned to nobody

[2021-05-05 00:07] adrianmcli commented on #1178
I'm starting to see a pattern here.

[2021-05-05 03:13] gabmontes commented on #3742
Hey bot, do not close this. The bug is not resolved yet.

[2021-05-05 03:15] xiangma9712 commented on #4017
Mint function is not fully standardized, although the EIP requires to emit Transfer event when NFTs are created/destroyed.

I suppose you'd better check implementation of the contract you use.

Or...
from log of transaction receipt you can check events emitted within the transaction. Isn't there any log?

[2021-05-05 05:21] #3780 closed, assigned to koraykoska

[2021-05-05 09:01] piersy commented on #3918
Hey @spacesailor24, any updates on this? It looks like your bot is about to close the issue before its even been investigated.

[2021-05-05 10:36] gen4sp commented on #4017
sorry for the false alarm - it was wrong contract address

[2021-05-05 10:36] #4017 closed, assigned to nobody

[2021-05-06 08:39] usd-yamazaki opened #4034 "Would like to execute only sendSignedTransaction without getTransactionReceipt"
Reopen #3204.

This is something you can do with web3.py and not with web.js.

[2021-05-06 20:59] GregTheGreek opened #4035 "rewrite"

[2021-05-06 21:02] GregTheGreek opened #4036 "[Rewrite] Add subscriptions to web3-providers-http"

[2021-05-06 21:02] GregTheGreek opened #4037 "[Rewrite] Add providers support"

[2021-05-07 00:05] Spacesai1or opened #4045 "[Rewrite] Implement EIP 1193"
[EIP 1193](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1193.md)

Reviewing [this](https://github.com/ChainSafe/web3.js/blob/1.x/test/1_givenProvider-ethereumProvider.js) existing lib test, it looks like `web3-providers-http` should check if `window.ethereum` exists, and should use `window.ethereum.request` method instead of the `send` method provided by `web3-providers-http`

[2021-05-07 00:09] Spacesai1or opened #4046 "[Rewrite] Implement Polling for web3-providers-http"
`web3-providers-http` should implement a `subscribe` method from `IWeb3Provider` and use polling to provide similar functionality.

- Consider adding argurments:
    - `interval`: sets how often (in second) a request is made
    - ~`maxNumberRequests`: sets how many total requests will be made before polling terminates itself~ Mover to #4111

[2021-05-07 00:14] Spacesai1or commented on #4036
Closing in favor of #4046  - didn't know you already made one

[2021-05-07 00:14] #4036 closed, assigned to nobody

[2021-05-07 00:15] #4021 closed, assigned to Spacesai1or

[2021-05-07 04:00] eliobricenov commented on #2077
Fix function:

`const toHex = (amount: BigNumber): string => '0x' + amount.toString(16);`

[2021-05-07 04:58] JUGERNAUTUS commented on #3863
Facing the same issue while sending tokenID as a parameter. Im using web3 1.3.5

[2021-05-07 13:46] tgardiner opened #4049 "CVE-2021-23358 - Arbitrary Code Execution (Underscore)"
#### Expected behavior
web3 1.3.5 should not depend on vulnerable versions of underscore.

#### Actual behavior
web3 1.3.5 depends on a vulnerable version of underscore.

See: https://www.npmjs.com/advisories/1674

#### Steps to reproduce the behavior

1. npm install web3
2. npm audit

#### Logs

<details>
  <summary>Click to view npm audit output</summary>

[code]

</details>

#### Environment

w

[2021-05-08 00:04] DenkevichOleg commented on #3327
@nivida actual for 1.3.5 version:
`Uncaught Error: invalid arrayify value (argument="value", value="0xx08c379a00000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000001c466f6c6c6f77696e67733a20616c726561647920756e666f6c6c6f7700000000", code=INVALID_ARGUMENT, version=bytes/5.1.0)`

[2021-05-08 03:27] azerella commented on #4049
Also experiencing this, would like a fix ASAP

[2021-05-08 03:48] smartcontracts commented on #4049
Seems like dependabot already made a bunch of PRs to update this, e.g.: https://github.com/ChainSafe/web3.js/pull/4038. Would be great if these could be merged soon, ty!!

[2021-05-08 08:10] khaschuluu commented on #1960
+1
I think web3 is trying to parse response JSON, but it's include big number that my javascript can't handle.

[2021-05-08 13:19] sterlu commented on #3797
Forgot about this - will try to create a PR next week

[2021-05-08 19:18] GregTheGreek commented on #4049
Thanks everyone, getting these in now, will release a patch after some testing to ensure nothing is broken.

Will also be looking into potentially removing underscore since its a relatively large library.

[2021-05-08 21:12] #4049 closed, assigned to nobody

[2021-05-08 21:16] exx8 opened #4052 "undocumented behavior of contract-send:"
I am using contract-send:
https://web3js.readthedocs.io/en/v1.2.11/web3-eth-contract.html#contract-send
And I was to pass the nonce parameter in the options, and it actually works.
Maybe the docs are out to date?

example code:
[code]
Types are also missing.

[2021-05-10 08:33] JTorresConsulta opened #4056 "Server firewall is blocking the Web3.js connection in NODE"
My Centos server has running the "ConfigServer Security & Firewall" and its blocking the Web3.js connection with Ethereum node. The functions calls returns: "Error: Invalid JSON RPC response:"

Any idea how could I avoid it?

[2021-05-10 10:20] skinderis commented on #2189
Having the same issue, how do you solve it? Dont want my address to be decrypted for 300 seconds...

[2021-05-10 10:24] skinderis commented on #2189
It doesn't solve the problem, the account stays decrypted for 300 seconds.

[2021-05-10 16:13] Madeindreams opened #4057 "Why is there so many vulnerabilities?"
#### Expected behavior

Considering what web3 is used for. I'm expecting it to install without vulnerabilities.

#### Actual behavior

21 high severity vulnerabilities

#### Steps to reproduce the behavior

nvm use node 16.0.0
npm init
npm install web3

#### Logs

# npm audit report

underscore  1.3.2 - 1.12.0
Severity: high
Arbitrary Code Execution - https://npmjs.com/advisories/1674
No fix avail

[2021-05-11 00:35] Spacesai1or commented on #4056
Hi there, are you sure that your firewall is the issue? In my experience, `Error: Invalid JSON RPC response` usually comes from an invalid sent request/interaction with the blockchain. You could try sending a basic `web3.eth.getProtocolVersion()` to debug whether it's your firewall or not though

Anyways, I don't know enough to help you with your specific issue. My only recommendation would be to

[2021-05-11 00:35] #4056 closed, assigned to nobody

[2021-05-11 00:39] Spacesai1or commented on #4052
Thank you for bringing this to our attention!

[2021-05-11 00:50] Spacesai1or commented on #4034
Thank you for requesting this feature, I do agree that this would be helpful in your benchmarking, however, the team's focus right now is on the rewrite and security vulnerabilities. We might have the availability to implement this, but you're also welcome to try and implement it yourself :)