[2018-08-09 12:46] #1095 closed

[2018-08-09 12:47] #1096 closed

[2018-08-09 12:49] nivida commented on #1099
Please have a look at: https://github.com/ethereum/web3.js/issues/1041

[2018-08-09 12:49] #1099 closed

[2018-08-09 12:54] #1103 closed

[2018-08-09 12:56] #1105 closed

[2018-08-09 12:57] nivida commented on #1106
Please have a look at this issue: https://github.com/ethereum/web3.js/issues/1783

[2018-08-09 12:57] #1106 closed

[2018-08-09 12:59] nivida commented on #1109
Please ask your question on https://ethereum.stackexchange.com/

[2018-08-09 12:59] #1109 closed

[2018-08-09 13:00] #1112 closed

[2018-08-09 13:01] nivida commented on #1118
@sathyamlokare Please ask your question on https://ethereum.stackexchange.com/

[2018-08-09 13:04] #1120 closed

[2018-08-09 13:11] #1138 closed

[2018-08-09 13:11] #1140 closed

[2018-08-09 13:15] #1143 closed

[2018-08-09 13:16] #1146 closed

[2018-08-09 13:17] nivida commented on #1148
I will test it with the new ABICoder I've implemented last week. @isaackwan

[2018-08-09 13:18] #1150 closed

[2018-08-09 13:18] #1151 closed

[2018-08-09 13:20] nivida commented on #1151
Please ask further questions on https://ethereum.stackexchange.com/

[2018-08-09 13:27] nivida commented on #1160
We have no simpler way to debug web3.js :)

[2018-08-09 13:27] #1160 closed

[2018-08-09 13:29] nivida commented on #1163
Please ask this question on https://ethereum.stackexchange.com/ and have a look at our documentation http://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#methods-mymethod-estimategas

[2018-08-09 13:29] #1163 closed

[2018-08-09 13:30] nivida commented on #1165
https://github.com/ethereum/web3.js/issues/1148

[2018-08-09 13:30] #1165 closed

[2018-08-09 13:32] #1168 closed

[2018-08-09 13:33] #1172 closed

[2018-08-09 13:38] nivida commented on #1177
Please create an issue here: https://github.com/ethereum/ethereum.org

[2018-08-09 13:38] #1177 closed

[2018-08-09 13:39] nivida commented on #1178
Yes we have an 1.0ES6 branch @pubkey please feel free to contribute.
I will have a look on the dependencies.

[2018-08-09 13:42] #1192 closed

[2018-08-09 13:45] nivida commented on #1195
@swarupdonepudi since 1.0.0-beta.28

[2018-08-09 13:45] #1195 closed

[2018-08-09 13:46] #1199 closed

[2018-08-09 13:54] #1213 closed

[2018-08-09 13:57] nivida commented on #1210
Looks like this a problem with your environment and does not directly depend on web3.js. Please drop a comment if not.

[2018-08-09 13:57] #1210 closed

[2018-08-09 14:02] nivida commented on #1219
@alejoloaiza Please give us some more informations :)

[2018-08-09 14:03] nivida commented on #1220
Is this error still present in the latest version? @hrishikeshio @aas312 @captnseagraves

[2018-08-09 14:06] #1223 closed

[2018-08-09 14:12] nivida commented on #1231
Shoud be solved in the latest version of web3.

[2018-08-09 14:12] #1231 closed

[2018-08-09 14:14] #1232 closed

[2018-08-09 14:16] #1236 closed

[2018-08-09 14:18] nivida commented on #1241
The new ABICoder implementation is merged and this issue will be solved in the next release.

[2018-08-09 14:18] #1241 closed

[2018-08-09 14:18] nivida commented on #1403
The new ABICoder implementation is merged and this issue will be solved in the next release.

[2018-08-09 14:18] #1403 closed

[2018-08-09 14:21] nivida commented on #1251
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-09 14:21] #1251 closed

[2018-08-09 14:29] #1261 closed

[2018-08-09 14:31] nivida commented on #1262
Please ask further questions on https://ethereum.stackexchange.com/

[2018-08-09 14:31] #1262 closed

[2018-08-09 14:31] #1264 closed

[2018-08-09 14:39] nivida commented on #1269
@Andromelus Thank you very much for answering that.

[2018-08-09 14:39] #1269 closed

[2018-08-09 14:42] nivida commented on #1271
Great Idea!
Feel free to submit an PR @mobilesite

[2018-08-09 14:44] #1273 closed

[2018-08-09 14:45] #1277 closed

[2018-08-09 14:49] #1285 closed

[2018-08-09 14:50] nivida commented on #1286
@chenyunecjtu can this issue be closed?

[2018-08-09 14:52] nivida commented on #1291
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-09 14:52] #1291 closed

[2018-08-09 14:53] nivida commented on #1294
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-09 14:53] #1294 closed

[2018-08-09 14:53] saikat909 commented on #1066
### After installing the windows-build-tools and setting the python path I am still facing the below issue.

Admin@Admin-PC MINGW64 ~/inbox
$ npm install --save-dev web3@1.0.0-beta.26
-----------------------------------------------------------
npm WARN deprecated fs-promise@2.0.3: Use mz or fs-extra^3.0 with Promise Support
npm WARN deprecated tar.gz@1.0.7: ⚠️  WARNING ⚠️ tar.gz module has been de

[2018-08-09 15:03] #1310 closed

[2018-08-09 15:04] nivida commented on #1312
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-09 15:04] #1312 closed

[2018-08-09 15:06] #1317 closed

[2018-08-09 15:07] #1322 closed

[2018-08-09 15:09] nivida commented on #1324
```npm can't find a package.json file in your current directory```
Please be sure you've created an package.json. I will close this issue because it does not depend on web3.js.

[2018-08-09 15:10] #1327 closed

[2018-08-09 15:14] #1335 closed

[2018-08-09 15:18] nivida commented on #1338
Please ask this question on https://ethereum.stackexchange.com

[2018-08-09 15:18] #1338 closed

[2018-08-09 15:18] nivida commented on #1339
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-09 15:18] #1339 closed

[2018-08-09 15:20] #1346 closed

[2018-08-09 15:22] nivida commented on #1347
Please provide more information such as code snippets

[2018-08-09 15:26] nivida commented on #1349
```someContractOnA.setProvider()``` will solve your problem for now. We have already an issue about this and because of that I will close this one.

[2018-08-09 15:26] #1349 closed

[2018-08-09 15:27] nivida commented on #1351
@subhasisbanik feel free to submit an PR. :)

[2018-08-09 15:36] nivida commented on #1357
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-09 15:36] #1357 closed

[2018-08-09 15:37] #1361 closed

[2018-08-09 15:39] nivida commented on #1368
Please ask your question on https://ethereum.stackexchange.com/

[2018-08-09 15:39] #1368 closed

[2018-08-09 15:39] #1371 closed

[2018-08-09 15:42] gersonsistemas opened #1860 "web3.eth.sign - Error: Invalid JSON RPC response:"
I'm using version 1.0.0-beta.35

web3.eth.sign("Hello world", "0x11f4d0A3c12e86B4b5F39B213F7E19D048276DAe").then(console.log);

(node:14708) UnhandledPromiseRejectionWarning: Error: Invalid JSON RPC response: ""
    at Object.InvalidResponse (E:\ap\node_modules\web3-core-helpers\src\errors.js:42:16)
    at XMLHttpRequest.request.onreadystatechange (E:\ap\node_modules\web3-providers-http\src\index.

[2018-08-09 15:45] nivida commented on #1379
@raduuu2k7 Are your event parameters 'indexed'?

[2018-08-09 15:48] #1388 closed

[2018-08-09 15:50] #1395 closed

[2018-08-09 15:51] #1399 closed

[2018-08-09 15:52] nivida commented on #1401
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-09 15:52] #1401 closed

[2018-08-09 15:55] #1405 closed

[2018-08-09 15:56] #1407 closed

[2018-08-09 15:59] nivida commented on #1411
Please have a look at https://github.com/ethereum/web3.js/issues/1783 and be sure your firewall and GIT are configured correctly.

[2018-08-09 15:59] #1411 closed

[2018-08-09 16:00] #1412 closed

[2018-08-09 16:00] #1419 closed

[2018-08-09 16:01] #1420 closed

[2018-08-09 16:01] #1423 closed

[2018-08-09 16:02] nivida commented on #1424
Please ask this on https://ethereum.stackexchange.com/

[2018-08-09 16:02] #1424 closed

[2018-08-09 16:04] nivida commented on #1426
Duplicated issue and currently not supported. Please have a look at QuickBlocks and this issue https://github.com/ethereum/web3.js/issues/580

[2018-08-09 16:04] #1426 closed

[2018-08-09 16:06] nivida commented on #1427
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-09 16:06] #1427 closed

[2018-08-09 16:06] #1428 closed

[2018-08-09 16:07] nivida commented on #1429
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-09 16:07] #1429 closed

[2018-08-09 16:08] nivida commented on #1430
This question should be on https://ethereum.stackexchange.com/

[2018-08-09 16:08] #1430 closed

[2018-08-09 16:08] #1431 closed

[2018-08-09 16:10] nivida commented on #1432
Please ask on https://ethereum.stackexchange.com/

[2018-08-09 16:10] #1432 closed

[2018-08-09 16:15] #1444 closed

[2018-08-09 16:18] nivida commented on #1455
Please ask this on https://ethereum.stackexchange.com/

[2018-08-09 16:18] #1455 closed

[2018-08-09 16:20] #1457 closed

[2018-08-09 16:22] #1465 closed

[2018-08-09 16:24] Alexintosh commented on #1119
Not sure why this has been closed ¯\_(ツ)_/¯

[2018-08-09 16:29] nivida commented on #1119
Oops sorry.. 🙈

[2018-08-09 17:14] xeroblood-io commented on #1349
Can you share the open issue so that some of us may follow the progress?  Thanks!

[2018-08-09 18:48] karapish opened #1861 "Support for {privateFor:[]}"
Hello! I would like to use web3 to call a function of my privately deployed contract by passing {privateFor:[]} param. Does web3 **officially** support that? I am curious if web3 has incorporated any work from web3-quorum project https://github.com/tdhman/web3.js.

[2018-08-09 19:01] nivida commented on #1472
Could you please add some snippets of your test? @mryellow

[2018-08-09 19:04] nivida commented on #1477
Could you please add your code for better understanding? @MCKapur

[2018-08-09 19:05] nivida commented on #1482
Could you please provide more informations? @maektwain

[2018-08-09 19:10] nivida commented on #1485
Does the error still occurs in the latest version of web3? @gkd720

[2018-08-09 19:11] #1486 closed

[2018-08-09 19:11] #1489 closed

[2018-08-09 19:13] #1491 closed

[2018-08-09 19:17] #1504 closed

[2018-08-09 19:18] nivida commented on #1509
Please ask your question on https://ethereum.stackexchange.com/

[2018-08-09 19:18] #1509 closed

[2018-08-09 19:22] nivida commented on #1513
Please ask your question on https://ethereum.stackexchange.com/

[2018-08-09 19:30] #1527 closed

[2018-08-09 19:37] #1548 closed

[2018-08-09 19:43] #1561 closed

[2018-08-09 19:46] #1572 closed

[2018-08-09 19:47] nivida commented on #1575
Please ask this question on stackoverflow.

[2018-08-09 19:47] #1575 closed

[2018-08-09 19:51] nivida commented on #1576
I think your environment is not configured correctly please ask this question on stackoverflow.

[2018-08-09 19:51] #1576 closed

[2018-08-09 19:52] #1577 closed

[2018-08-09 19:55] nivida commented on #1578
Please have a look on the signTransaction documentation http://web3js.readthedocs.io/en/1.0/web3-eth.html#signtransaction an try to use signTransaction correctly.

[2018-08-09 19:56] #1582 closed

[2018-08-09 20:03] nivida commented on #1584
You should use ```web3.eth.getAccounts()```.
Documentation: http://web3js.readthedocs.io/en/1.0/web3-eth.html#getaccounts

[2018-08-09 20:07] #1587 closed

[2018-08-09 20:14] nivida commented on #1592
```myInstance.myfunc().send({from: from}).on(...)``` would be the correct usage of the web3.js API.

[2018-08-09 20:14] #1592 closed

[2018-08-09 20:17] nivida commented on #1594
I'll add the label "Feature Request" because I would like to support this.

[2018-08-09 20:19] nivida commented on #1595
Type tuple will be supported in the next web3.js 1.0 version.

[2018-08-09 20:19] #1595 closed

[2018-08-09 20:22] nivida commented on #1598
Please use estimateGas correctly as you can see here: http://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#methods-mymethod-estimategas

[2018-08-09 20:25] nivida commented on #1603
Which version of web3.js are you using? @maroodb

[2018-08-09 20:26] nivida commented on #1605
I'll close this issue because no contend is provided.

[2018-08-09 20:26] #1605 closed

[2018-08-09 20:27] #1606 closed

[2018-08-09 20:31] nivida commented on #1607
For getting the current host use: ```web3.eth.currentProvider.host``` please ask further questions on https://ethereum.stackexchange.com/

[2018-08-09 20:31] #1607 closed

[2018-08-09 20:32] #1608 closed

[2018-08-09 21:03] juztin commented on #1857
Hmmm. Wondering if this is an issue with the EVM??

This contract works as expected:

[code]

[2018-08-09 21:05] juztin commented on #1858
Hmmm. Wondering if this is an issue with the EVM??  _(related to #1857)_

This contract works as expected:

[code]

[2018-08-09 22:31] mryellow commented on #1472
@nivida

[code]

[2018-08-09 22:33] mryellow commented on #1472
The mock contract:

[code]

[2018-08-10 01:46] justinmchase commented on #1361
@nivida Was there a commit we can tag to this that resolved it? Or was it just magically fixed in geth?

[2018-08-10 05:31] nivida commented on #874
The latest whisper API should be implemented in web3 1.0.0-beta.

[2018-08-10 05:31] #874 closed

[2018-08-10 05:35] nivida commented on #1022
I think this question should be on https://ethereum.stackexchange.com/

[2018-08-10 05:35] #1022 closed

[2018-08-10 05:36] nivida commented on #1207
Please ask this on https://ethereum.stackexchange.com/

[2018-08-10 05:36] #1207 closed

[2018-08-10 05:36] nivida commented on #1234
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-10 05:39] nivida commented on #1555
Please ask this on https://ethereum.stackexchange.com/

[2018-08-10 05:39] #1555 closed

[2018-08-10 05:42] nivida commented on #1616
Thats a problem with your development environment please ask your question on https://ethereum.stackexchange.com/

[2018-08-10 05:42] #1616 closed

[2018-08-10 05:43] nivida commented on #1617
Please provide some more informations :) @Temeteron

[2018-08-10 05:44] nivida commented on #1615
Please ask your question on https://ethereum.stackexchange.com/

[2018-08-10 05:44] #1615 closed

[2018-08-10 05:45] nivida commented on #1620
Please ask your question on https://ethereum.stackexchange.com/

[2018-08-10 05:45] #1620 closed

[2018-08-10 05:53] nivida commented on #1625
Please ask your question on stackoverflow because that has nothing todo with web3.

[2018-08-10 05:53] #1625 closed

[2018-08-10 05:57] nivida commented on #1630
Please add more informations like error messages and code.

[2018-08-10 06:00] nivida commented on #1633
I close this issue because no further information has been added.

[2018-08-10 06:00] #1633 closed

[2018-08-10 06:06] nivida commented on #1634
In which package-lock have you changed the version?

[2018-08-10 06:20] nivida commented on #1645
Please ask this question on stackoverflow. It looks like your development environment is not correctly configured.

[2018-08-10 06:22] nivida commented on #1646
Can you determine when exactly this is happening? It's a bit hard to reproduce it this way.

[2018-08-10 06:23] nivida commented on #1647
Please ask this question on https://ethereum.stackexchange.com/.

[2018-08-10 06:25] nivida commented on #1648
@jackno Is this issue still there with beta-34?

[2018-08-10 06:25] argubaby opened #1862 "How to add available accounts at infura HttpProvider ."
I launch web3 at nodejs server,not in explorer(no MetaMask).

const END_POINT = 'http://localhost:8545';
web3 = new Web3(new Web3.providers.HttpProvider(END_POINT));
web3.eth.getAccounts()
.then((accounts)=>{console.log})

I can get accounts from localhost:8085.

const END_POINT = 'https://ropsten.infura.io/v3/XXXXXXXXXXXXXXXXXX';
web3 = new Web3(new Web3.providers.HttpProvider(END_POINT));
web3.e

[2018-08-10 06:30] nivida commented on #1649
I think your issue will be solved after removing this two lines:
[code]

[2018-08-10 06:35] nivida commented on #1649
Please ask further questions on https://ethereum.stackexchange.com/

[2018-08-10 06:35] #1649 closed

[2018-08-10 06:41] nivida commented on #1652
Please ask this on stackoverflow.

[2018-08-10 06:41] #1652 closed

[2018-08-10 06:43] nivida commented on #1654
I'm closing it because an issue to this already exists.

[2018-08-10 06:43] #1654 closed

[2018-08-10 06:49] nivida commented on #1655
You could do this by emitting an event on the second contract and creating an event listener with web3js which is executing method X if the event was emitted. Please ask further questions on https://ethereum.stackexchange.com/.

[2018-08-10 06:49] #1655 closed

[2018-08-10 06:59] nivida commented on #1664
Please provide more informations about this issue.

[2018-08-10 07:04] #1667 closed

[2018-08-10 07:08] nivida commented on #1668
Duplicate of: https://github.com/ethereum/web3.js/issues/1639

[2018-08-10 07:08] #1668 closed

[2018-08-10 07:09] nivida commented on #1671
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-10 07:09] #1671 closed

[2018-08-10 07:10] nivida commented on #1673
Please ask your question on https://ethereum.stackexchange.com/

[2018-08-10 07:10] #1673 closed

[2018-08-10 07:17] levino opened #1863 "Code does not follow .editorconfig definitions."
Currently the code does not follow the `.editorconfig` definitions. For example: https://github.com/ethereum/web3.js/blob/9bf580321868430554b00c75a650bbdc856f9804/package.json has an indentation of 2 instead of 4. `jshint` looks like a bad tool to me. What about using `eslint` instead?

[2018-08-10 07:20] nivida commented on #1678
It's only supported in Chrome and so not yet

[2018-08-10 07:20] #1678 closed, assigned to nobody

[2018-08-10 07:24] nivida commented on #1682
I will close this issue because v1.0.0-beta35 is released.

[2018-08-10 07:26] nivida commented on #1683
Is this issue still there in the latest version?

[2018-08-10 07:28] nivida commented on #1685
Please ask further question on stackoverflow or if they are related to ethereum ask your questions on https://ethereum.stackexchange.com/

[2018-08-10 07:28] #1685 closed

[2018-08-10 07:29] nivida commented on #1689
Please ask this question on stackoverflow.

[2018-08-10 07:29] #1689 closed

[2018-08-10 07:30] nivida commented on #1697
Should be solved with the new ABICoder in the next release of web3.

[2018-08-10 07:30] #1697 closed

[2018-08-10 07:35] nivida commented on #1706
"However the repo link on npm is broken and I could not find the right repo to file a PR"
You can submit here an PR and select 1.0 as base branch. :)

[2018-08-10 07:38] nivida commented on #1711
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-10 07:38] #1711 closed

[2018-08-10 07:39] nivida commented on #1715
Please ask further questions on https://ethereum.stackexchange.com/

[2018-08-10 07:39] #1715 closed

[2018-08-10 07:45] #1718 closed

[2018-08-10 07:47] nivida commented on #1720
Good idea that would solve the problem if some has not configured GIT correctly.
@frozeman could you do this?

[2018-08-10 07:51] #1844 closed, assigned to nobody

[2018-08-10 07:52] roshanrags commented on #1178
@nivida Is there a status page or something summarizing the current status of the ES6 branch? I can contribute, but don't really know where to start or what has been done so far.

Maybe a Github Project tracking it would be helpful.

[2018-08-10 07:57] nivida commented on #1721
<img width="321" alt="screen shot 2018-08-10 at 09 55 48" src="https://user-images.githubusercontent.com/1699173/43945808-a4ea140c-9c83-11e8-946b-4a650f20182a.png">

In works with the latest version of Web3.js :)

[2018-08-10 07:57] #1721 closed

[2018-08-10 07:58] nivida commented on #1729
Please ask this on https://ethereum.stackexchange.com/.

[2018-08-10 07:58] #1729 closed

[2018-08-10 07:58] nivida commented on #1731
Please have a look at: https://github.com/ethereum/web3.js/issues/1783

[2018-08-10 07:58] #1731 closed

[2018-08-10 08:01] #1733 closed

[2018-08-10 08:02] nivida commented on #1734
This should help you https://github.com/ethereum/web3.js/issues/1783 and please ask further questions like this on stackoverflow.

[2018-08-10 08:04] nivida commented on #1738
I'll test it with the new ABICoder.

[2018-08-10 08:05] nivida commented on #1739
Which version of web3 are you using?

[2018-08-10 08:07] nivida commented on #1742
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-10 08:07] #1742 closed

[2018-08-10 08:09] #1658 closed

[2018-08-10 08:09] #1659 closed

[2018-08-10 08:23] nivida commented on #1746
Please ask this on https://ethereum.stackexchange.com/

[2018-08-10 08:24] maroodb commented on #1603
@nivida  I am using web3@0.20

[2018-08-10 08:24] nivida commented on #1748
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-10 08:27] nivida commented on #1749
Duplicate https://github.com/ethereum/web3.js/issues/1639

[2018-08-10 08:27] #1749 closed

[2018-08-10 08:29] #1752 closed

[2018-08-10 08:29] nivida commented on #1756
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-10 08:29] #1756 closed

[2018-08-10 08:31] nivida commented on #1761
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-10 08:31] #1761 closed

[2018-08-10 08:35] nivida commented on #1763
Please ask further questions on https://ethereum.stackexchange.com/

[2018-08-10 08:35] #1763 closed

[2018-08-10 09:36] #1770 closed

[2018-08-10 09:36] nivida commented on #1774
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-10 09:36] #1774 closed

[2018-08-10 09:44] nivida commented on #1775
Can you please show all of your code? :)

[2018-08-10 09:46] nivida commented on #1779
I will close this because it's already been posted on stackoverflow.

[2018-08-10 09:46] #1779 closed

[2018-08-10 09:47] nivida commented on #1780
Please ask your question on https://ethereum.stackexchange.com/

[2018-08-10 09:47] #1780 closed

[2018-08-10 09:52] nivida commented on #1787
This will solve your issue http://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#id12
[code]

[2018-08-10 09:52] #1787 closed

[2018-08-10 09:53] nivida commented on #1788
Please ask further question on https://ethereum.stackexchange.com/

[2018-08-10 09:53] #1788 closed

[2018-08-10 09:54] nivida commented on #1789
Please ask this question on https://ethereum.stackexchange.com

[2018-08-10 09:54] #1789 closed

[2018-08-10 10:00] #1796 closed, assigned to nobody

[2018-08-10 10:00] #1797 closed, assigned to nobody

[2018-08-10 10:05] nivida commented on #1808
Please ask further questions on https://ethereum.stackexchange.com

[2018-08-10 10:05] #1808 closed, assigned to nobody

[2018-08-10 10:06] #1810 closed, assigned to nobody

[2018-08-10 10:06] nivida commented on #1811
Please ask your question on https://ethereum.stackexchange.com

[2018-08-10 10:06] #1811 closed, assigned to nobody

[2018-08-10 10:08] nivida commented on #1812
Please ask this question on https://ethereum.stackexchange.com

[2018-08-10 10:08] #1812 closed, assigned to nobody

[2018-08-10 10:12] nivida commented on #1818
This will help you https://github.com/ethereum/web3.js/issues/1783 for further questions please ask them on https://ethereum.stackexchange.com.

[2018-08-10 10:12] #1818 closed, assigned to nobody

[2018-08-10 10:19] nivida commented on #1822
This is the correct behaviour of the callback method it should only be called when an event occurs. If you want to get past events than please use ```getPastEvents```  as described here: http://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#getpastevents

Please ask further questions on https://ethereum.stackexchange.com/

[2018-08-10 10:19] #1822 closed, assigned to nobody

[2018-08-10 10:22] nivida commented on #1823
I close this issue because of https://github.com/ethereum/web3.js/issues/937

[2018-08-10 10:22] #1823 closed, assigned to nobody

[2018-08-10 10:23] #1826 closed, assigned to nobody

[2018-08-10 10:25] nivida commented on #1837
Please ask further questions like this only on stackoverflow or in our gitter channel. :)

[2018-08-10 10:25] #1837 closed, assigned to nobody

[2018-08-10 10:26] nivida commented on #1838
@frozeman git tag is missing for 0.20.7 :)

[2018-08-10 10:28] #1840 closed, assigned to nobody

[2018-08-10 10:34] nivida commented on #1857
This is a solidity related support question please ask it on https://ethereum.stackexchange.com/.

[2018-08-10 10:34] #1857 closed, assigned to nobody

[2018-08-10 10:35] nivida commented on #1858
This is a solidity related support question please ask it on https://ethereum.stackexchange.com/.

[2018-08-10 10:35] #1858 closed, assigned to nobody

[2018-08-10 10:37] nivida commented on #1860
Is your local node running? :)

[2018-08-10 10:38] nivida commented on #1861
This is a quorum related feature request and web3 will not support it officially.

[2018-08-10 10:38] #1861 closed, assigned to nobody

[2018-08-10 10:39] nivida commented on #1862
Please ask this question on https://ethereum.stackexchange.com/

[2018-08-10 10:39] #1862 closed, assigned to nobody

[2018-08-10 11:43] frozeman commented on #1863
That should actually be `lerna` and `npm --save` that auto updates package.json and reformats them to 2 spaces.

[2018-08-10 14:13] gersonsistemas commented on #1860
I'm using  node version v8.11.3

[2018-08-10 14:56] DmytroNazarenko commented on #1792
+1

[2018-08-10 15:22] ayham-madi opened #1866 "Error: new BigNumber() not a base 16 number:"
I am trying to run this simple contract from geth console

contract StoreContract {
    mapping(string  => string) private store;
    function setValue(string key, string value) public{
      store[key] = value;
    }
    function getValue(string key) public constant returns (string) {
        return store [key];
    }
}

after deploying this contract, I try to run the following commands

"0x4f739

[2018-08-10 15:36] marcelovue commented on #966
I started getting this error after I ran `npm update`, I had to get the original package.json that was in my remote github, remove the local node_modules and then run: `npm install`

[2018-08-10 16:21] gkd720 commented on #1485
@nivida I don't know. I probably won't be trying it anytime soon either, as I've changed my approach to not use web3.js. Looks like the latest is beta34, and I couldn't find "sign" in open or closed issues. Thanks for checking in.

[2018-08-10 17:06] ayham-madi commented on #1866
This issue was cause by the

 object the address was "**undefined**"

##Closing the issue

[2018-08-10 17:06] #1866 closed, assigned to nobody

[2018-08-10 19:12] FatCache commented on #427
But is there any solution to unlock it over http during testing? I have a private blockchain running using Ganache but I'm unable to do any transaction. The following is not working

`mist --rpcapi="db,eth,net,web3,personal,web3" --rpc http://127.0.0.1:7545`

A solution to this would really speed up my development time.

[2018-08-10 22:34] jacroe commented on #1458
Can confirm this bug still exists in 1.0.0-beta.33. And can be mitigated with @joeriexelmans's answer above.

EDIT: Also can confirm it exists in 1.0.0-beta.36.

[2018-08-10 23:03] ghost commented on #1803
@blacktemplar We're seeing this in requests from Firefox, so it seems like any server application that doesn't include this header would not pass the preflight requests from Firefox? Is that really such a common situation?

[2018-08-11 08:27] Farhan-riasat commented on #1561
you can try this " npm install --save web3@1.0.0-beta.34 "
for me it work

[2018-08-11 08:28] Farhan-riasat commented on #974
try thi one
npm install --save web3@1.0.0-beta.34

[2018-08-12 06:01] LiorRabin commented on #1789
https://ethereum.stackexchange.com/questions/56348/getpastevents-sometimes-return-invalid-json-rpc-response

[2018-08-12 12:45] nathanawmk commented on #1739
Since maxCodeSize parameter in genesis.json does not work, I had to fix this issue by increasing the transaction size to 64KB in tx_pool.go. To be specified, this is for Quorum, a fork from Ethereum for enterprise use.

DOS is less applicable for private Ethereum networks such as Quorum.

Updated code as follows:
// Heuristic limit, reject transactions over 32KB to prevent DOS attacks

// UPDATED

[2018-08-12 14:54] wodxumingxu commented on #1559
I tried the 1.0.0-beta.35, still not working and the same issue. the 1.0.0-beta.33 works

[2018-08-12 15:00] Mischi commented on #1559
It will be available in 1.0.0-beta.36

wodxumingxu <notifications@github.com> schrieb am So., 12. Aug. 2018, 16:54:

[2018-08-12 15:00] frozeman commented on #1559
The next release will be .36 try the 1.0 branch please.

[2018-08-12 15:16] wodxumingxu commented on #1559
thank you guys for the clarification

[2018-08-12 19:27] nicoszerman commented on #1837
@nivida I believe my post is really an issue with the documentation. Why do you think that it's not?

[2018-08-13 04:28] nujabes403 opened #1868 "Wrong error message when 'gasProvided' is not enough to run transaction."
**Expected behavior**
When transaction failed to run because of scarce gas provided, it should show "Transaction ran out of gas. Please provide more gas".

**Actual behavior**
When transaction failed to run because of scarce gas provided, it shows "Transaction has been reverted by the EVM:\n".

**Steps to reproduce the behavior**
[First step]
Make a transaction object with scarce gas.
[Second step

[2018-08-13 04:28] nujabes403 commented on #1868
Fixed on #1867

[2018-08-13 04:33] nivida commented on #1837
Because it's clear to most of the developers but feel free to submit an PR for improving the documentation if you think its necessary to describe this. :)

[2018-08-13 05:07] basilji commented on #1739
we were using web3 - 0.19.0 version

[2018-08-13 07:17] leonprou commented on #1782
This seemed to be fix https://github.com/ethereum/web3.js/blob/1.0/packages/web3-providers-ws/src/index.js

[2018-08-13 08:39] levino commented on #1863
You are right, these tools format the `package.json` files. But they do not lint them. We should have a linter in place to make sure the format stays correct. Then one can add `npm --save` or so to the `format` script.

[2018-08-13 08:51] #1578 closed

[2018-08-13 09:05] VishalDalve opened #1869 "RangeError: private key length is invalid : while signing transaction locally"
const web3 = new Web3('https://ropsten.infura.io/v3/3c52917848e945229c0d33d632b10490');

const account1 = '0x0982081d5a2bba0a9da9fe722c92edc0cb0e9b6a'
const account2 = '0xabc46ddc17a0c37ef70e8a153d4724f199705e8b'

const ac1_pvtkey =Buffer.from('XXXX9F79B587B1DE553E2ADCA3DC8D49BE3E2840083D970C41D83F7FD471XXXX', 'hex');

const ac2_pvtkey =Buffer.from('XXXXC15FBDB4634400B7F8FA17C9491B2E346AEC1BC86A49

[2018-08-13 09:33] #1782 closed

[2018-08-13 09:34] sawyna commented on #1850
Hi, I would like to start working on this issue. I'll assign it myself and submit a PR. Please suggest if that's not the process.

[2018-08-13 09:36] nivida commented on #1850
You can't assign it to your self but feel free to submit a PR and reference this issues there. @sawyna

[2018-08-13 10:56] nivida commented on #1777
Hay @epiqueras I've tested it with the minified version of web3 and cant reproduce your case.

Tested with:
[code]

The result I got:
```true```

[2018-08-13 11:15] nivida commented on #1677
Depends on: https://github.com/SilentCicero/number-to-bn

I'm in contact with Nick Dodson.

[2018-08-13 11:22] nivida commented on #1706
Already fixed: https://github.com/ethereum/web3.js/blob/1.0/packages/web3-providers-ws/src/index.js#L41

[2018-08-13 11:28] nivida commented on #1639
Will be fixed in the next release (v1.0.0.beta-36)

https://github.com/ethereum/web3.js/blob/1.0/packages/web3-eth-abi/src/index.js#L225

[2018-08-13 11:28] #1639 closed

[2018-08-13 11:33] nivida commented on #1530
Typing are now on DefinitelyTyped as you can see here https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/web3

[2018-08-13 11:33] #1530 closed

[2018-08-13 12:02] emiliomarin commented on #1321
@eolszewski Hi, did you ever get the batch working for sending multiple transactions? Right now I have working a script that makes individual tx and wanted to group them to save gas... But not getting many results. Thanks!

[2018-08-13 20:15] ianaya89 commented on #1639
@nivida thanks!

[2018-08-14 03:49] Caoxuyang opened #1870 "Still no basic auth implimentation in web3.js 1.0.0"
As the title says.

[2018-08-14 05:42] kobumax commented on #1792
I 'm sorry I do not understand the above meaning...

[2018-08-14 10:42] sawyna commented on #1850
@nivida I see the `WebSocketProvider` no longer exists on `develop` branch. . I could find it in the last beta though

https://github.com/ethereum/web3.js/tree/v1.0.0-beta.34/packages/web3-providers-ws

Also it was supported through `Web3.providers.WebSocketProvider`. It's no longer the case.
I tried looking at the code base to see if this got moved elsewhere with no luck. Can you shed some light

[2018-08-14 12:13] nivida commented on #1354
Tested it on my local node and with an infura mainnet node over an longer time but cant reproduce this issue. I think that was an issue of infura as mentioned above from @mikedpid. Please open a new issue if this still occurs.

[2018-08-14 12:13] #1354 closed

[2018-08-14 12:16] nivida commented on #1850
@sawyna the develop branch is v20.x.x of Web3 and v1.0.0-beta.xx is in the 1.0 branch :)

[2018-08-14 12:23] DmytroNazarenko commented on #1792
I have the similar issue as you

[2018-08-14 12:31] nivida commented on #1497
I think thats not a problem that web3.js can solve please ask this question on stackoverflow.

[2018-08-14 12:33] nivida commented on #1295
Could you please provde more informations to this? for example an code snippet?

[2018-08-14 12:41] nivida commented on #1025
I'll close this issue because I cant reproduce this behavior. Please create a new one if this behaviour still occurs.

[2018-08-14 12:41] #1025 closed

[2018-08-14 12:52] sawyna commented on #1850
So this issue relates to `1.0 branch` then.

[2018-08-14 13:05] nivida commented on #1144
@baiumbg This is an mistake in the documentation we only get the transaction hash from the rpc call as you can see here: https://github.com/ethereum/go-ethereum/wiki/RPC-PUB-SUB#newpendingtransactions

[2018-08-14 13:06] nivida commented on #1612
@frozeman we should update your fork to the latest version of WebSocket-Node.

[2018-08-14 13:23] nivida commented on #1651
@kasperfish We have merged the PR https://github.com/ethereum/web3.js/pull/1753 and it will be released in 1.0.0-beta.36 this should solve it. Please drop a comment if this issue is still there in the next version.

[2018-08-14 13:27] frozeman commented on #1612
web3-providers-ws is using the `browserifyCompatible` branch: "git://github.com/frozeman/WebSocket-Node.git#browserifyCompatible"

In line:
https://github.com/frozeman/WebSocket-Node/blob/browserifyCompatible/lib/WebSocketFrame.js#L256
There is this fix already in, and its update with upstream. maybe you need to clear your `node_modules` folder, and rerun `npm install`?

[2018-08-14 13:28] #1612 closed

[2018-08-14 13:28] frozeman commented on #1612
Please re-open if its still an issue.

[2018-08-14 13:31] nivida commented on #1839
@kostysh Could you please provide your code for reproducing this issue?

[2018-08-14 13:37] k06a commented on #1497
@nivida this happens inside your web3 source code.

[2018-08-14 13:46] nivida commented on #1497
@k06a I've tested the serialization of the web3 object because @DalderupMaurice mentioned it above. I missed that this is not the actual problem here in this issue, sorry for that. But could you please provide more informations to reproducing this issue? I'll reopen this issue now.

[2018-08-14 13:48] k06a commented on #1497
@nivida sorry, I don't remember what happened. Maybe I subscribed to some topic and when it happened it fails on error serialization...

[2018-08-14 13:50] nivida commented on #1497
@k06a Okay if you can remember it or the error throws again please create an new issue with detailed informations for reproducing it thanks. :)

[2018-08-14 13:50] #1497 closed

[2018-08-14 14:01] nivida commented on #1870
Please have a look at this two lines:
https://github.com/ethereum/web3.js/blob/1.0/packages/web3-providers-http/src/index.js#L43
https://github.com/ethereum/web3.js/blob/1.0/packages/web3-providers-http/src/index.js#L60

You can set the authorization headers over the provider options.

[2018-08-14 14:01] #1870 closed, assigned to nobody

[2018-08-14 14:19] padmasreenagarajan commented on #1470
i too get the same response.please provide me a solution.
my version is  web3@1.0.0-beta.35

[2018-08-14 15:00] koreaex commented on #1046
Hello, I also returned this wrong `Error: filter not found`, my situation is that there are two geth nodes in the private network, I set up a internal domain in my router, such as `geth.localdomain`, and bind the IP of two nodes for the domain, Execute the following code to return the error.
[code]
If the domain name is only bound to single IP, it is normal, I don't know what the problem is.

[cod

[2018-08-14 15:11] arashkiani commented on #1470
check your code making sure you are using the web3 v1 syntax

[2018-08-14 15:54] padmasreenagarajan commented on #1470
Yes. I'm following official web3 documentation

On Tue, Aug 14, 2018, 8:42 PM arash kiani <notifications@github.com> wrote:

[2018-08-14 18:26] kostysh commented on #1839
I have tried but I can not reproduce this error in simple example. Possibly, it was a side effect of my library. In the next release, I will try to upgrade web3 version again and if an error occurs I will back to this issue. But for now, I propose to close this error.

[2018-08-15 05:59] padmasreenagarajan commented on #1470
I'm closing the issue..I got error because i have'nt declared the correct port.it's working fine now.thanks

[2018-08-15 06:44] 26000 commented on #1187
Found out that in `develop` branch it returns a BigNumber:
https://github.com/ethereum/web3.js/blob/develop/lib/web3/methods/eth.js#L105
https://github.com/ethereum/web3.js/blob/develop/lib/web3/formatters.js#L38
https://github.com/ethereum/web3.js/blob/develop/lib/utils/utils.js#L369

While the documentation for `1.0` says that it should return a `string`, so it isn't a documentation problem imo.

[2018-08-15 06:59] tradzero commented on #1802
i found safari will add `user-agent` to `Access-Control-Request-Headers`, and infura will reject this request. but i dont know how to remove that

[2018-08-15 06:59] 26000 opened #1874 "1.0: fromWei and toWei documentation is wrong"
1. `web3.utils.toWei` [doesn't take numbers](https://github.com/ethereum/web3.js/blob/1.0/packages/web3-utils/src/index.js#L234) as arguments, while the documentation [says](https://github.com/ethereum/web3.js/blob/1.0/docs/web3-utils.rst#parameters-22) it does:
[code]
[throws](https://github.com/ethereum/web3.js/blob/1.0/packages/web3-utils/src/index.js#L235) with `Please pass numbers as strings

[2018-08-15 07:44] #1839 closed, assigned to nivida

[2018-08-15 07:47] nivida commented on #1046
@koreaex Please update to the latest v0.20.7 Version or directly to v1.0.0-beta.35 and test it again.

[2018-08-15 08:46] edwardfxiao commented on #1803
downgrade to v1.0.0-beta.33 solved my problem

[2018-08-15 08:47] edwardfxiao commented on #1802
@tradzero  downgrade to v1.0.0-beta.33 solved my problem

[2018-08-15 09:52] nivida commented on #1672
@frozeman Can you fix this? :)

[2018-08-15 09:54] kobumax commented on #1792
That's right, thank you！

[2018-08-15 10:04] nivida commented on #1153
I will close because this issue because the typings are now on DefinitlyTyped.

[2018-08-15 10:04] #1153 closed

[2018-08-15 10:24] frozeman commented on #1367
Thanks, these are all options shown, you can use either the `error` event OR the callback.

[2018-08-15 10:28] frozeman commented on #1367
fixed in #1876

[2018-08-15 10:28] #1367 closed

[2018-08-15 10:29] frozeman commented on #1769
fixed in #1876

[2018-08-15 10:29] #1769 closed

[2018-08-15 10:29] frozeman commented on #1762
fixed in #1876

[2018-08-15 10:29] #1762 closed

[2018-08-15 10:29] frozeman commented on #1719
fixed in #1876

[2018-08-15 10:29] #1719 closed

[2018-08-15 10:31] frozeman commented on #1574
fixed in #1876

[2018-08-15 10:31] #1574 closed

[2018-08-15 10:31] frozeman commented on #1144
fixed in #1876

[2018-08-15 10:31] #1144 closed

[2018-08-15 14:40] ztnark commented on #1679
@c-o-l-o-r  I'm seeing this issue with Infura Ropsten as well. How did you get around this issue?

[2018-08-15 15:29] lightclient commented on #1679
@ztnark there is likely an issue on Infura's side with the node you are connecting to. I got around the issue by waiting a couple hours until things were operating normal again.

[2018-08-15 15:53] ztnark commented on #1679
Thank you. It also seems that waiting for additional confirmations helped the issue.

[2018-08-15 16:12] ztnark commented on #1558
Does anyone have a working solution via polling web3.eth.net.isListening()?

[2018-08-15 20:33] saikat909 commented on #1083
`sudo npm install -g web3 --unsafe-perm=true --allow-root` this worked for me in ubuntu 18.04.01

[2018-08-15 21:15] sawyna commented on #1850
PR: #1881

[2018-08-16 03:37] conwise18 opened #1882 "Unable to install web3-utils through npm - Failed at the sha3@1.2.2 install script."
Connors-MacBook-Pro:~ connor$ npm install web3-utils

No receipt for 'com.apple.pkg.CLTools_Executables' found at '/'.

No receipt for 'com.apple.pkg.DeveloperToolsCLILeo' found at '/'.

No receipt for 'com.apple.pkg.DeveloperToolsCLI' found at '/'.

gyp: No Xcode or CLT version detected!
gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed with exit code: 1
gyp ERR! stack     at ChildProce

[2018-08-16 07:01] eshangui commented on #1515
@Andromelus could you please give me some more advice on how to transfer erc20 byte code to its ABI? Now I want to get the full ERC20 list, including contract address and abi on the chain, someone told me one solution is to traversal the whole blocks on the chain and check every transaction in the block whether it is a ERC20 transfer, then try to obtain abi from the ERC20 contract address,  accord

[2018-08-16 07:36] #1850 closed, assigned to nivida

[2018-08-16 07:39] nivida commented on #1882
As you can see in the error message ```gyp ERR! configure error``` is it an configuration problem of your development environment. Please ask this question on stackoverflow.

[2018-08-16 07:39] #1882 closed, assigned to nobody

[2018-08-16 07:46] yarnauy opened #1883 "Why not an opensource C++ implementation?"
I have been working on a C++  implementation of Ethereum JSON-RPC API,  since I cannot find any existing opensource project.

Actually it is just the beginning ( about 1000 line C++ ). I have encapsulated some http-rpc code and implemented a few interfaces(**web3_sha3,** **eth_call**, **eth_send**).

Is there any  chance to develop it into a opensource project?  And dees anybody want to come with

[2018-08-16 07:51] nivida commented on #1883
Hay @njuyuanrui I think you should ask your question somewhere else this is the repository of web3.js. Maybe is reddit or an other platform the better way to connect with other developers who share the same idea.

[2018-08-16 07:51] #1883 closed, assigned to nobody

[2018-08-16 07:55] sawyna commented on #1846
I'd like to take this up and come up with why `web3` is failing on deploying two or more contracts in parallel

[2018-08-16 08:07] justuswilhelm commented on #1846
I've meanwhile understood that Metamask has its own dedicated nonce manager, while "plain" web3 does not support any fancy increment-nonce-upon-pending-transaction logic. Web3 would obviously benefit from being much more pluggable in this regard.

For example, being able to provide a parameter when calling `new Web3({nonceManager: myNonceManager})` would increase the value of web3 by a lot. I've r

[2018-08-16 08:13] nivida commented on #1230
@prashantprabhakar This is not a issue of web3.js because it gets the value from the node. The problem is that gas station does calculate it differently than geth.

[2018-08-16 08:13] #1230 closed

[2018-08-16 10:21] nivida commented on #1307
I've tested it on the main net, on ropsten, with node.js and in the browser. It does work but it takes quite a long time until you get your first response and after that it runs fast. I'm also getting past events without any problems with and without topics. @pedrouid

[2018-08-16 10:57] nivida commented on #1329
This is an issue of geth and parity please have a look on the issue list there. @wallaceturner

[2018-08-16 10:57] #1329 closed

[2018-08-16 10:58] #1334 closed

[2018-08-16 11:28] yyy999 commented on #1255
Error: Failed to check for transaction receipt:
{}
    at Object._fireError (E:\mytoken\node_modules\web3-utils\src\index.js:56:17)
    at E:\mytoken\node_modules\web3-core-method\src\index.js:260:23
    at <anonymous>

[2018-08-16 11:36] prashantprabhakar commented on #1379
@nivida I am having the same issue when trying to apply filter on indexed params.
**Event**: `event Transfer(address indexed from, address indexed to, uint tokens);`

Code to get events:
[code]

This still returns me all the transactions with different to addresses.

Response of above code:
[code]

[2018-08-16 11:59] lebron112 opened #1884 "why web3.eth.subscribe('newBlockHeaders') on wss://mainnet.infura.io/ws can not receive the message"
const Web3 = require('web3');
const web3 = new Web3();
web3.setProvider(new Web3.providers.WebsocketProvider('wss://mainnet.infura.io/ws'));
//main-line
// web3.setProvider(new Web3.providers.WebsocketProvider('wss://rinkeby.infura.io/ws'));
//test-line
// web3.setProvider(new Web3.providers.WebsocketProvider('wss://ropsten.infura.io/ws'));
//test-line
const subNewBlockHeaders = () =>{
  const  ne

[2018-08-16 13:00] yyy999 opened #1885 "Fixed Error: Failed to check for transaction receipt"
This is old geth version' bug.
Sovled method:  Download Geth – Swarming (v1.8.13) – Release Notes and install it.

微信yyy99966

[2018-08-16 18:35] eepstein commented on #1231
Cool.  Thanks.

[2018-08-16 19:20] bf commented on #1187
Weird issue, why is this popping up?

[2018-08-16 21:48] Eugnis commented on #1860
Same error on `web3.eth.net.isListening()`, 1.0.0-beta.35
[code]
`Error: Invalid JSON RPC response: ""
    at Object.InvalidResponse`
But provider is running with no problems, also tested through curl.

[2018-08-17 06:06] theminnow98 commented on #1217
Is there still no option for this? I cant use the beta with web sockets, every call exceeds max frame size.

[2018-08-17 10:03] nivida commented on #1562
Hay I've tested it and it works as expected and because of that I'll close this issue.

[2018-08-17 10:03] #1562 closed

[2018-08-17 10:56] nivida commented on #358
Tested on my local node and could create all 50 contracts over HTTP without any problem.

[2018-08-17 10:56] #358 closed

[2018-08-17 10:58] nivida commented on #493
Compiler methods are no longer supported.

[2018-08-17 10:58] #493 closed

[2018-08-17 11:00] nivida commented on #901
I'm closing this issue because there was no reaction. Please drop a comment if I should reopen it.

[2018-08-17 11:00] #901 closed

[2018-08-17 11:05] nivida commented on #951
It does look like a problem of the node configuration and not a problem of web3. Please drop a comment if I should reopen this issue.

[2018-08-17 11:05] #951 closed

[2018-08-17 11:09] nivida commented on #1035
@Boehrner Could you please provide more informations? Your contract code and the JS script for example :)

[2018-08-17 12:04] nivida commented on #1097
@perissology This issue will be solved in version 1.0.0.beta-36.

[2018-08-17 12:04] #1097 closed

[2018-08-17 12:07] nivida commented on #1121
Typings are now on DefinitelyTyped (https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/web3)

[2018-08-17 12:07] #1121 closed

[2018-08-17 12:11] nivida commented on #1128
Looks like a configuration issue and because of that I'm closing this issue. Please write a comment here if any further errors occurs.

[2018-08-17 12:11] #1128 closed

[2018-08-17 12:20] nivida commented on #1137
@ragnu Will be solved with the new ABICoder (v1.0.0-beta.36) please write a comment here after the release if this issue still occurs.

[2018-08-17 12:21] nivida commented on #1148
@isaackwan Will be solved with the new ABICoder (v1.0.0-beta.36) please write a comment here after the release if this issue still occurs.

[2018-08-17 12:28] nivida commented on #1187
Yes this is the correct behaviour. If you would like to have a BN object then please use toBN https://web3js.readthedocs.io/en/1.0/web3-utils.html#tobn

[2018-08-17 12:28] #1187 closed

[2018-08-17 13:01] rohithzr commented on #1752
I am basically getting this same issue and I have tried account address and contract address both. I have tried it with my local geth and `wss://mainnet.infura.io/ws` both.

there is no error and no logs for the below subscription.
[code]
geth process command, has been running for last 24 hours without restarts and is fully synced.
[code]
[code]

[2018-08-18 01:57] migueldeguzman commented on #1783
@nividia this didnot work, the scrypt remains a problem

[2018-08-18 03:24] prashantprabhakar commented on #1230
@nivida This was not a comparison of eth gas station. I checked the txs on etherscan and last few blocks were using gas of 60Gwei but web3.eth.gasPrice was returning 21 wei.
However, eth gas station was also showing it to be 21 Gwei. I am not sure how web3 calculates its gas price but yes the estimates were incorrect and etherscan txs show a way high gas price than estimated by web3

[2018-08-18 12:49] Young897 commented on #1569
@rayeaster  good jod. it worked

[2018-08-19 01:33] seunlanlege commented on #1400
I just ran into this very confusing bug. I depend heavily on typescript type definitions, @nivida do you need any help fixing this?

[2018-08-19 08:56] sweetpalma commented on #1178
+1 to this issue. Final size of my bundle instantly bloated from 240kb to more than 1mb just by importing web3, analyzer stats are similar to @pubkey - six imports of bn.js. This is absolutely unacceptable, is there any workaround for this issue? I am using beta 35.

[2018-08-19 12:23] pleco000 opened #1888 "can't declare web3 on meteor1.6.0 server side"
![image](https://user-images.githubusercontent.com/5052703/44308724-55fcaf00-a3ed-11e8-885e-db6b1ca3ca32.png)

[2018-08-19 12:25] pleco000 commented on #1888
just `var Web3 = require('web3');`

[2018-08-19 13:24] sweetpalma opened #1889 "Webpack bundle is EXTREMELY HUGE"
I am using Beta 35 and Webpack 4 and it produces EXTREMELY huge bundle size.

As I stated in issue #1178, final size of my bundle grown from 240kb to more than 1mb after importing web3 and making basic setup like configuring provider, what is basically unacceptable. As @pubkey has stated in his comment, major part of that size growth is caused by multiple inclusions of the same bn.js package what

[2018-08-19 15:14] nivida commented on #1888
Please ask this question on https://ethereum.stackexchange.com

[2018-08-19 15:14] #1888 closed, assigned to nobody

[2018-08-19 15:18] nivida commented on #1889
I'll close this issue because we already have an issue to this topic. I'll have an closer look on this next week.

[2018-08-19 15:18] #1889 closed, assigned to nobody

[2018-08-20 06:53] vrolland commented on #1219
@bshevchenko I used indexed parameters.

@nivida The filter works when I am getting a specific event but not when I am using the generic "allEvents".
For example with the following event:
`event Created(bytes32 indexed identifier);`

Here the filter is not taking in account:
[code]

Here, the filter works:
[code]

Is it clearer?

[2018-08-20 08:37] ghost commented on #1066
Node 10.9.0
NPM 6.4.0

239 verbose stack Error: scrypt@6.0.3 install: `node-gyp rebuild`
239 verbose stack Exit status 1
239 verbose stack     at EventEmitter.<anonymous> (/usr/local/lib/node_modules/npm/node_modules/npm-lifecycle/index.js:304:16)
239 verbose stack     at EventEmitter.emit (events.js:180:13)
239 verbose stack     at ChildProcess.<anonymous> (/usr/local/lib/node_modules/npm/node_mo

[2018-08-20 10:31] nivida commented on #1178
Hay all, I'm tested it with severall webpack configs for optimizing the package dependencies and I also checked the BN.js versions but with no success. The problem is that we have X package.json files for each web3 package this gives us the possibility to publish each package as standalone package on NPM but on the other hand it blows up the dependency graph. My current workarround would be to inc

[2018-08-20 11:12] pubkey commented on #1178
I think it would be better to switch to a mono-package instead of publishing `web3-eth` `web3-net` etc as separate npm-modules. To me it does not make sense or will be possible to ever use different version of the sub-packages, so why not just publish `web3` and the user can then `require('web3/eth')` and so on.

[2018-08-21 05:37] eyexx opened #1890 "cannot call Constructor"
I try to use constructor of my contract which was deployed through remix.

However, I got this error.

[code]

What is wrong?

here is my code

pages/index.js

[code]

Message.sol
[code]

[2018-08-21 09:43] Paradox-AT opened #1891 "Stuck at `[2/4] Fetching packages...`"
Hi, I am trying to install the library but I yarn and npm both are getting stuck at Fetching packages.

yarn: 1.9.4
npm: 6.4.0
node: v8.11.4
Ubuntu: 18.04.1

Output:
[code]

[2018-08-21 11:06] nivida commented on #1890
Please ask this question on stackoverflow.

[2018-08-21 11:06] #1890 closed, assigned to nobody

[2018-08-21 11:07] nivida commented on #1891
Please ask this question on stackoverflow. :)

[2018-08-21 11:07] #1891 closed, assigned to nobody

[2018-08-21 12:54] imhari213 commented on #1134
**web3.eth.sendSignedTransaction** is not a function getting this error can anyone help me on this please....

[2018-08-21 12:55] imhari213 opened #1892 "web3.eth.sendSignedTransaction is not a function"
web3.eth.sendSignedTransaction('0x' + serializedTx.toString('hex'))
         ^

TypeError: web3.eth.sendSignedTransaction is not a function

getting this error can anyine please help me on this...,

[2018-08-21 13:10] fenixm8 commented on #1892
I have the same issue, with: web3.eth.getbalance, or x other function, Thanks for help

[2018-08-21 13:33] frozeman commented on #1817
will be in the next release.

[2018-08-21 13:33] #1817 closed, assigned to nivida

[2018-08-21 21:03] fainashalts commented on #1051
I see this is an older thread, but I wanted to ask -- the web3 documentation says that HttpProvider is deprecated, so I wonder if that's why it doesn't work with the newer versions of web3. It looks like this is only as related to subscriptions, so I guess its not that important if you're not using those?

But I wonder if the proper approach is to use the newest version of web3 and use websockets

[2018-08-22 02:28] jdneidig commented on #1012
Get the eth_listTransactions t-shirt :-)

https://simbachain.com/community/join-our-community/

[2018-08-22 04:42] dtmle commented on #1860
@moralesgersonpa, You need a wallet to sign the message with. If done on a local node with accounts setup, web3 should be able to detect them. If done over a remote node like Infura:
https://web3js.readthedocs.io/en/1.0/web3-eth-accounts.html#wallet-add

[2018-08-22 04:45] dtmle commented on #1846
@justuswilhelm, I've been able to send multiple transactions using web3.eth.getTransactionCount(address, "pending"). Note that if any fail, I assume a nonce gap will be created.

[2018-08-22 05:57] adnanozsoy commented on #1776
git config --global hub.protocol https
will solve it.

[2018-08-22 08:38] nil3sh99 opened #1894 "npm install :: ethereum/web3.js ERROR"
I am trying to install web3.js using ethereum, but its showing git remote error.
Is the URL has been migrated.
Help needed !!

~sudo npm install ethereum/web3.js --save
npm WARN addRemoteGit Error: Command failed: git config --get remote.origin.url
npm WARN addRemoteGit
npm WARN addRemoteGit     at ChildProcess.exithandler (child_process.js:275:12)
npm WARN addRemoteGit     at emitTwo (events.js:1

[2018-08-22 15:15] loydbanks commented on #1826
I was able to fix this error, the version of web3 must be downgraded, navigate to the folder you want to save in, run npm init then the following code
Use this command to install: npm install web3@0.20.6 --save within the same folder and this worked fine for me

[2018-08-22 21:49] sunnynjoy commented on #950
A very simple solution is to type **sudo -i**
and then **sudo npm install web3**
It worked for me

[2018-08-23 02:14] justuswilhelm commented on #1846
@dtmle yes, that's how I approached the problem as well: I've created a NonceManager singleton that keeps a copy of the last nonce used and every time you make a transaction you call the NonceManager to give you a new one. This is still buggy under the following circumstances:

- You use your account concurrently from different applications (then, pending nonces would not be caught correctly)
- Yo

[2018-08-23 02:19] justuswilhelm commented on #1884
@lebron112 I remember that the websocket URLs for infura look a little different depending on the network. You might have more luck by spelling it `/_ws`, at least if you can believe this comment on StackExchange: https://ethereum.stackexchange.com/questions/49454/is-there-any-websocket-ethereum-provider#comment58597_49456

[2018-08-23 12:21] KEHSIHBA-IGAYT commented on #434
This issue still persists on 0.4.24 as well. I am not even using "indexed" string parameters.
I guess for syncing, I needed to restart the nodes but when I executed stop.sh, it gave me this:
"bootnode : no process found", "constellation : no process found".
Then I tried starting the nodes with raft-start.sh, and now I cannot attach my geth console. It gives some connection error.

[2018-08-23 16:01] pranavburnwal opened #1896 "Unable to Install Web3 on Ubuntu 16 LTS [Scrypt node-gyp issue]"
Unable to install web3 by npm. Sub-module scrypt throws error! The installation succeeds but later when we start the node app it says module scrypt not found.

SHA3 error ins solved with `--unsafe-perm` but scrypt doesn't.

**Things tried:**
Node version(stable): 6, 7, 8 & 9
NPM latest
Python is installed & mapped
`gcc -v` -> gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.10)
`sudo npm in

[2018-08-23 20:07] rstormsf commented on #924
What about Events?
[code]
how do i subscribe to a specific one

[2018-08-23 20:08] rstormsf opened #1899 "Handle `getPastEvent` to choose overloaded events"
Imagine we have 2 events:

[code]
i should be able to make a call like
[code]

I can only do it with subscriptions:

`tokenContract.events['Transfer(address,address,uint256)']`

[2018-08-24 13:42] 0xicingdeath commented on #1869
Hey @VishalDalve, did you happen to find a solution to this yet? I am running into the exact same thing.

[2018-08-24 14:30] richard-ramos commented on #1361
Issue is still present in geth 1.8.14

[2018-08-24 15:17] ToJen commented on #1736
@anhnam00 did you come up with a solution

[2018-08-25 09:01] nbxtruong opened #1901 "'nonce too low' when run sendRawTransaction second time."
I have a function like this:

    const privateKey = new Buffer(process.env.WALLET_PREVATE_KEY, 'hex');
    const transaction = new tx(rawTx);
    transaction.sign(privateKey);
    const serializedTx = transaction.serialize().toString('hex');
    this.web3.eth.sendRawTransaction(
      '0x' + serializedTx, function (err, result) {
        if (err) {
          callback(err, null);
        } else {

[2018-08-26 04:30] VishalDalve commented on #1869
Hi, I got solution, I'll share it soon.

On Fri 24 Aug, 2018, 7:13 PM Natalie Chin, <notifications@github.com> wrote:

[2018-08-26 08:47] sreepriyaks commented on #1783
tried all these options. but cannot get web3 installed on win10.

[2018-08-26 08:53] blueto01h commented on #445
@saveriocastellano try the solution with ethereumjs-abi, works like a charm.

[2018-08-26 17:17] rjoshig opened #1902 "reactjs web3 IPC connection error ; same code works in a javascript ran from command line"
Setup:
**geth private POA node running with command below**
[code]

I am able to attach to the node and perform all  functions via geth console.
I can access the node using web3py and normal JavaScript code ran from command line

I am able to run below code using a JavaScript successfully from a command line:-
[code]
**Result in my terminal:**
[code]

I used the same code in reactjs, when i do **`

[2018-08-27 06:36] wuya666 opened #1903 "Incorrect return message for require() in public/external pure/view-type functions"
when directly calling a public/external pure/view-type function with a failing require(), the return message is incorrect as shown here

ethereum/solidity#4840

for an example contract deployed on the mainnet
https://etherscan.io/address/0xd0b4e64c323186340ed2d8168ddae8f18677560e#code

[code]

And calling sub1(3, 5) and sub2(3, 5) with web3.js

[code]

And for sub1(3, 5) it throws an "Error: Could

[2018-08-27 09:28] Akagi201 opened #1904 "web3.eth.personal.unlockAccount call failed"
[code]

[2018-08-28 01:49] Akagi201 commented on #1904
It is not related to the web3.

[2018-08-28 01:49] #1904 closed, assigned to nobody

[2018-08-28 05:34] sweatyc commented on #1412
fellowing @gburtini's comment, I got another error:
[code]

`.mul()` should has `BN` as input too, so the third line should be:
[code]

[2018-08-28 16:32] UnkySM commented on #1648
I've got the same issue with beta-35.

[2018-08-28 21:17] mikeseese commented on #1657
@nivida I see that you got assigned this. I just wanted to touch base about what the approach might be for this?

[2018-08-28 23:04] fritzmatias opened #1905 "block timestamp - "Error: Number can only safely store up to 53 bits""
Hi, this issue is related to [1](https://github.com/ethereum/web3.js/issues/1215),[2](https://github.com/ethereum/web3.js/issues/1351). And because it is a problem related to 3rd parties implementation of the blockchain, must be the responsibility of them to manage the particular implementation of the precision related to the timestamp.
As the [documentation](https://github.com/ethereum/web3.js/is

[2018-08-29 06:28] wowprojector opened #1906 "getPastEvents Connection error"
https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#getpastevents

I wrote the code exactly the same one with example code.
And it works perfectly before few days ago.
But now I get the connection error most of the time when I try to call it.

contract.getPastEvents('Transfer', {
            fromBlock: 0,
            toBlock: "latest",
            filter: {
              isError: 0,

[2018-08-29 08:18] leonprou commented on #1894
Just do
`npm install web3`

[2018-08-29 08:36] melnikaite commented on #1354
I just tried `web3@1.0.0-beta.35` with `new Web3('wss://ropsten.infura.io/ws')`
Subscribing to events works excellent without
[code]
even after disconnecting internet

[2018-08-29 08:40] elie222 commented on #1354
That's good to know. Maybe a fix on infura's side? Or did beta 35 fix
something?

On Wed, 29 Aug 2018, 11:36 melnikaite, <notifications@github.com> wrote:

[2018-08-29 10:57] barakman commented on #974
Now it fails for web3@1.0.0-beta.35.

[2018-08-29 12:51] fritzmatias commented on #1906
Which version are you using ? @beta.35 works for me. Insert a monitor for the connection to the node and try to reconnect when the connection is lost.

[2018-08-29 12:54] fritzmatias commented on #1906
Which version do you have installed ? Days ago a new release came out. Problematic for me, so I maintain the @beta.35.

[2018-08-29 18:33] munrocket opened #1908 "Move from node-gyp to cmake.js"
Node-gyp is not support python 3 at least 10 years. And why we use it in 2018?
Maybe [cmake-js](https://github.com/cmake-js/cmake-js) is better?
All packages that depend on web3 have problems with installation now under windows.

[2018-08-29 22:59] dpurhar27 commented on #1354
@melnikaite interesting, my ws just stopped working yesterday. Maybe I need to update my web3, I'm using beta.34
Edit *: Only on Rinkeby, I think the Infura ws is down. On Ropsten it still works fine

[2018-08-30 00:19] levity commented on #1802
For users of v1.0.0-beta, downgrading to v1.0.0-beta.34 will also work, because the issue was introduced after it, in [this commit](https://github.com/ethereum/web3.js/commit/f98fe1462625a6c865125fecc9cb6b414f0a5e83#diff-191801bd560e900fbb857aaa11c02aa6R45).

I had to downgrade in order to use HttpProvider with Infura. Probably the longer-term solution is to allow `withCredentials` to be turned of

[2018-08-30 04:51] wowprojector commented on #1906
It was @beta.34 and I updated it to @beta.35.
Still not working.

[2018-08-30 05:26] iisaint commented on #1220
Having the same error with web3@1.0.0-beta.35.

[2018-08-30 08:31] smalllc opened #1909 "web3.eth.sendSignedTransaction"
this function callback is err ,but my Transaction is success

[2018-08-30 09:46] StepanyanAlbert opened #1910 "Unable to install web3 higher web3@^1.0.0-beta.22"
**RUN PROGRAM AS ADMINISTRATOR**
Env
Centos 7
`npm -v `
`6.1.0`
`node -v
v8.11.1
`

`npm i web3` or `npm i web3@^1.0.0-beta.33` throws

npm WARN deprecated tar.gz@1.0.7: ⚠️  WARNING ⚠️ tar.gz module has been deprecated and your application is vulnerable. Please use tar module instead: https://npmjs.com/tar
npm WARN deprecated fs-promise@2.0.3: Use mz or fs-extra^3.0 with Promise Support

[2018-08-30 09:47] imhari213 opened #1911 "how to call a method in smart contract deployed in test-network and that method takes parameter as string"
how to  call a method in smart contract deployed in test-network  and that method takes parameter as string

example

pragma solidity ^0.4.16;

contract Lot {

    string name;

    function set(string n)public{
        name = n;
    }

    function get()public constant returns(string){
        return name;
    }

}

i want to call **set** method in the above smart contract and above contract is d

[2018-08-30 11:18] #1910 closed, assigned to nobody

[2018-08-30 19:07] ateebahmed commented on #1910
Can you tell us the workaround for this problem. I am having the same issue.

[2018-08-30 19:11] ateebahmed commented on #1894
npm install web3

@leonprou tried it but was unsuccessful.

[2018-08-31 03:23] StepanyanAlbert commented on #1910
@ateebahmed   for me it was a problem with permissions .
So  I tried command with root user . After just do this
`chown your_user:your_group  path_to_node_modules -R`
Should do the job.

[2018-08-31 03:46] boxsnake commented on #1892
I think you haven't create instance of web3.

For new version, this will not work any more:
[code]

You have to create instance of web3:
[code]

[2018-08-31 09:35] imhari213 commented on #1892
thanks.. working close the issue... :)

[2018-08-31 11:11] ArsenKulikov commented on #1852
@Levino @nujabes403
so, is there any solution of this problem?

[2018-08-31 14:54] vbilici commented on #1903
I have the same issue, I will remove all the messages until this issue resolves

[2018-09-02 03:27] leimin78 opened #1913 "how to grant access from 1 account to others?"
There is a scene

I has a geth node , in this node has lots accounts, and a special i call its **admin account**.

i wanted let lots accounts transfer accounts , all gas price used from **admin accounts**?

[2018-09-02 09:48] damianobarbati commented on #1678
+1

[2018-09-02 11:55] kilmas commented on #1438
This is happening to me as well.

[2018-09-03 04:55] leimin78 commented on #1913
ERC20 support method approve can do this scene.

Can anyone anwser ETH support approve method?  Thank you so much.

[2018-09-03 06:43] wowprojector commented on #1906
It is okay now without modifying anything. Is this reliable for real service?

[2018-09-03 09:43] kjsninja commented on #887
This is also our problem and come up with an `improvised` solution until they give full support.
We resolved it by modifying the `node_modules/xh2-cookies/dist/xml-http-request.js`.
I use `https-proxy-agent` to add a **proxy agent** inside `XMLHttpRequest`.
Source: [http://codingmiles.com/node-js-making-https-request-via-proxy/](url)

Step 1 : Import the proxy agent
[code]

Step 2 : Add the new pr

[2018-09-03 10:02] kay07 commented on #1913
have no,you could transfer to others only by admin accounts ,or admin transfer to some accounts,and the accounts transfer to others.

[2018-09-03 12:42] vindberg commented on #1560
Also getting this error message when using web3.eth.accounts.recover(secretHashMessage, v, r, s, true);

[2018-09-03 13:32] Eggsyz commented on #1892
Hello, how do you solve this problem?

[2018-09-03 13:42] imhari213 commented on #1892
choose the compatible version of web3 it will work.In my case web3 version is **"web3": "^0.19.1"**

[2018-09-03 17:45] michaelsbradleyjr opened #1914 "pathological npm install behavior re: web3-providers-ws"
I'm experiencing "weird things" related to:

https://github.com/ethereum/web3.js/blob/v1.0.0-beta.35/packages/web3-providers-ws/package.json#L12

In a project that specifies `"web3": "1.0.0-beta.35"` in its package.json, with a fresh install (`rm -rf node_modules && npm i .`) there's some package-lock churn and then `npm ls | less` reveals this:

[code]

`typedarray-to-buffer` is, after install, d

[2018-09-03 20:53] nivida commented on #1913
Hay @leimin78 please ask your question on https://ethereum.stackexchange.com/

[2018-09-03 20:53] #1913 closed, assigned to nobody

[2018-09-03 20:54] nivida commented on #1911
Hay @imhari213 please ask your question on https://ethereum.stackexchange.com/

[2018-09-03 20:54] #1911 closed, assigned to nobody

[2018-09-03 20:56] nivida commented on #1885
Could you please provide more informations to your issue. @yyy999

[2018-09-04 01:51] boxsnake commented on #1892
* Option 1: Lock the dependency version below `1.0`
* Option 2: Create new instace from web3 as metioned above for new versions (maybe for `>= 1.0`)

[2018-09-04 07:27] imhari213 opened #1915 "EventEmitter for watching events"
How to use Event emitter for watching Events like sendRawTransaction

[2018-09-04 11:52] andrewheadricke opened #1916 "getPastEvents failing to decode empty data"
I'm trying out web3 `v1.0.0-beta.36` and having some trouble with pulling events from a contract.

The events do not return any data, and `getPastEvents` is throwing this error:
[code]

The same action works in web3 `0.20.7` no problem.

Is it possible a bug in decoding of empty event data `0x` may have slipped through the cracks?

[2018-09-04 12:06] tendersmart opened #1917 "Deploy from Firefox to Ganache using Web3.js"
Hello,

I already deployed my smart contract using remix IDE on my local testblockchain (ganache). Now I tried to do the same in an index.html but it did not work.

I have attached the errormessage (console of browser) on this post.
![errormessage](https://user-images.githubusercontent.com/42966915/45030081-0227d200-b04b-11e8-8a51-c3ffe052fce4.PNG)

(I am using ubuntu 18.04, Firefox, ganache and w

[2018-09-04 15:41] anyluck opened #1918 "how to get keystore file path"
Web3js gets the keystore file path according to the address and password

[2018-09-04 16:34] oscar-ordonez opened #1919 "Error: Invalid JSON RPC response: "" calling method getTransactionCount(address)"
I am trying to call the method "getTransactionCount(address)" but it's returning ' Error: Invalid JSON RPC response: "" '
This is a piece of my code:

[code]

[2018-09-05 04:43] cgewecke opened #1920 "Ethers encoder errors when processing Web3 BN values (beta.36)"
With a solidity method like:
[code]
In `beta.36`this:
[code]
throws this:
[code]

However this works:
[code]

[2018-09-05 06:03] spacelan commented on #1920
Same issue when decode the returned values

[2018-09-05 06:41] SarathSahadevan opened #1921 "web3 installed but not accessible"
web3 is already installed but in different path i think because of that i cant access it. how can i resolve the issue?

<img width="242" alt="web3" src="https://user-images.githubusercontent.com/30496887/45075404-a6218400-b104-11e8-8e70-00f4cc82c6a7.PNG">
<img width="583" alt="web3e" src="https://user-images.githubusercontent.com/30496887/45075406-a752b100-b104-11e8-9d55-e93c6c82735b.PNG">

[2018-09-05 07:03] tendersmart commented on #1917
I have solved this issue myself, I have installed the firefox extension CORS everywhere (=> activated it by clicking on the icon, so the icon became green) and then executed the code again. Hopefully this will help others in the future. :)

[2018-09-05 07:05] #1917 closed, assigned to nobody

[2018-09-05 08:59] erniu commented on #1220
Having the same error with web3@1.0.0-beta.36.

[2018-09-05 10:08] Boehrner commented on #1916
Probably same issue here.

Error: Returned values aren't valid, did it run Out of Gas?

TestCode:
[code]
Did work in beta.35 throws error in beta.26 althougt not in the error handler.

[2018-09-05 11:19] goodstemy commented on #1916
Same problem on web3 beta.35 and beta.36

[2018-09-05 12:09] Revinand commented on #1600
Same here. But in my case the subscription only works when address is a string.

Any updates?

[2018-09-05 12:52] pstuermlinger commented on #1916
I'm running into the same issue with `1.0.0-beta.36` and MetaMask provider.

**Edit:** Error occurs  in `web3-eth-abi index.js:226`. The `bytes` parameter has a value of `0x` and `outputs === []`.

As a workaround I uncommented that error throwing line. I can't see any negative side effects so far. The event is accessable and my DAPP works as intended. It's just that weirdo in between.

Here's an

[2018-09-05 14:56] Revinand commented on #1600
The problem is in the `web3-provider-engine` module which is used by Ganache.

https://github.com/MetaMask/provider-engine/pull/280

[2018-09-05 18:09] haydencarlson commented on #1874
I was confused with this myself before I figured out it was a big number instance.

[2018-09-06 02:59] burz commented on #1696
@alessandro308 Did you ever figure this out?

[2018-09-06 05:09] leimin78 commented on #1913
Thanks all already know it .

[2018-09-06 06:00] levino opened #1924 "Docs 1.0.x: Return type for generateSymKeyFromPassword incorrect"
See https://web3js.readthedocs.io/en/1.0/web3-shh.html?highlight=generateSymKeyFromPassword#id61

The return type is either a `Promise<string>` iff no `callback` argument is given or `undefined` if a `callback` argument is given.

[2018-09-06 06:15] alessandro308 commented on #1696
Yes. The problem was that one passed value was undefined

Il gio 6 set 2018, 04:59 Anthony Burzillo <notifications@github.com> ha
scritto:

[2018-09-06 06:57] tanutapi commented on #579
Using npm's web3@0.20.7 seems OK for me.

I am able to do
[code]
in server code. My geth are running in "light" mode.

[2018-09-06 07:48] imhari213 commented on #1255
Using version **"web3": "^1.0.0-beta.27"** and control the asynchronous behavior of  **Nodejs** while getting the nonce works for me

**May Be following code helps**
var n = async function m(){
    var x = await web3.eth.getTransactionCount(address)
    txOptions = {
    chainId: 4,
    nonce: await web3.utils.toHex(x),
    gasLimit: await web3.utils.toHex(5000000),
    gasPrice: await web3.utils.

[2018-09-06 08:41] disadone commented on #1089
Hey ,em...... ,is this problem solved? is there a solution?

[2018-09-07 03:36] qingyang-id opened #1925 "How to confirm the transaction has reached the receiver address?"
I use the senTransaction make a contract transfer, but I want confirm the contract has reached the receiver address by the web3, what should I do?
Thanks for first!

[2018-09-07 05:13] qingyang-id commented on #1925
and how to confirm the transaction has reached or failed?

[2018-09-07 08:01] ondratra commented on #1178
@pubkey I agree with this.

Is there any progress on this issue? I am willing to help.

[2018-09-07 09:56] gkaemmer commented on #1920
This seems like a really big change to the web3 internals..is it better to use utils from ethers going forward?

[2018-09-07 13:40] pors commented on #1587
Does anyone have an example of this? I don't see an unsubscribe method in the Subscription response:

[code]

I'm using web3 version 1.0.0-beta.36

[2018-09-07 14:59] abrinckm commented on #1741
@dostu Unfortunately no. That is another issue that remains open. You can read [here](https://github.com/ethereum/go-ethereum/issues/2880)

[2018-09-07 16:47] Eugene282 opened #1926 "Cannot read property 'name' of undefined at Contract._generateEventOptions"
it is in **web3-eth-contract** library.

stack:

TypeError: Cannot read property 'name' of undefined at Contract._generateEventOptions (.../node_modules/web3/node_modules/web3-eth-contract/src/index.js:540:42) at Contract.getPastEvents (.../node_modules/web3/node_modules/web3-eth-contract/src/index.js:655:49) at Promise...

**The reason is obvious** (web3-eth-contract/src/index.js:540):

[code]

*

[2018-09-07 17:28] melnikaite commented on #1354
It worked fine in `node` console, but for production server I had to do following
[code]
Usually it has about 20 disconnects per day

Also don't forget to subscribe again to all your events after establishing connection

[code]

[2018-09-08 17:23] uluhonolulu opened #1928 "Invalid JSON RPC response error is thrown instead of a timeout error"
When I set a timeout for my HttpProvider, and my request times out, I see the following error:
[code]

I believe this is caused by the `onreadystatechange` event emitted before the `timeout` event, see `_setReadyState` called before `_dispatchProgress('timeout')`:
[code]
(in xhr2.js).

I think an obvious solution would be to listen to the `loadend` event instead.

My web3 version is 0.20.0.

[2018-09-09 15:36] yisiliu commented on #1885
@nivida I think this is pretty much a spam since he is obviously broadcasting his wechat account.

[2018-09-09 17:15] damianobarbati commented on #1094
Wow, I lost a lot of time in this: why not emitting a simple warning when prv key doesn't start with 0x?

[2018-09-10 00:49] rjoshig commented on #1902
I was able to get this working by using web3js@0.20.2. For some reason the latest version isn't working. I will close this

[2018-09-10 00:49] #1902 closed, assigned to nobody

[2018-09-10 14:45] minhtruong92 commented on #1646
I got the same issue, my code works with provider: "wss://ropsten.infura.io/ws" (testnet), but it doesn't work with "wss://mainnet.infura.io/ws".
I use the code in introduction page https://infura.io/docs/wss/introduction

[2018-09-10 15:14] eladmallel commented on #1297
@JohanTh thanks for sharing this! could you please share how you increased these values?

was it by editing the npm module code directly? - for that you'd have to fork the library and then source your package from a git repo for this change to work anywhere (i.e. CI servers)

or was it a different approach somehow setting up your web3 client with a different configuration?

thanks!!

[2018-09-10 15:32] borispovod opened #1930 "Subscription for logs, unexpected error"
When i'm trying to subscribe for logs, and using parameters fromBlock/toBlock i'm getting error after catching latest log in the latest block.

**Web3**: 1.0.0-beta.36
**Geth**: wss://mainnet.infura.io/ws

To reproduce:
[code]

Error output:
[code]

[2018-09-10 15:47] JohanTh commented on #1297
@eladmallel I edited the npm modules directly. Not the best way but works for me since my app was made for myself only so I did not bother forking.

[2018-09-10 16:15] TimDaub opened #1931 "Metamask and Web3 return different values for web3.eth.getAccount"
Hi,

I can't really pinpoint if web3 or Metamask are causing this problem but the following happens:

I have an account on Metamask that has the following address:
0x56aa86fe8c16afb609d35890457071188140ea5a

When in my frontend I do `web3.eth.getAccounts()`, I get 0x56AA86Fe8c16Afb609D35890457071188140eA5.

Notice how it is the same address but with a few letters capitalized. Maybe I'm being incom

[2018-09-10 19:47] krzkaczor commented on #1658
@Levino How using `import... = require` can be a correct syntax if even babel doesnt support it. This would be literally the only place in code in my entire codebase using that syntax.

https://github.com/babel/babel/issues/7062

[2018-09-11 04:01] athlona64 opened #1932 "using web3 sendSignedTransaction not work"
this code look like this
` if (!ks.isDerivedKeyCorrect(pwDerivedKey)) {
                    throw new Error("Incorrect derived key!");
                }

                try {
                    ks.generateNewAddress(pwDerivedKey, 1);
                } catch (err) {
                    console.log(err);
                    console.trace();
                }

                var sendingAddr = ks.g

[2018-09-11 07:10] SvenMeyer commented on #1931
It's the same address , an 'A' = 'a' = 10 (decimal). The capitalization is just used as a checksum without (!) changing the address.
[https://medium.com/@danielque/why-ethereum-addresses-have-some-capitalized-letters-b8e55728ecaa](https://medium.com/@danielque/why-ethereum-addresses-have-some-capitalized-letters-b8e55728ecaa)

[2018-09-11 07:35] TimDaub commented on #1931
Thanks!

[2018-09-11 07:35] #1931 closed, assigned to nobody

[2018-09-11 07:48] peteroravec commented on #1211
**Working solution:**
npm@6.2.0
git@2.18.0

`STEP1: mv ~/.npm ~/.npm-old`
`STEP2: remove node_modules`
`STEP3: set your user as admin - so you can call without sudo`
`STEP4: npm install (without sudo!!!)`

In my case I mixed my permissions in .npm because I used sometimes sudo and sometimes not... this definitelly solved this issue

[2018-09-11 11:47] melnikaite opened #1933 "Can't assign more than one handler to connection events"
I'd like to catch `end` event in one place and do reconnect and resubscribe to `.allEvents` in another place, but I can't assign more than function to `connect` `end` and `error` events of websocket provider. Here is part of code explaining why it happens
[code]

[2018-09-11 15:27] severinwullschleger commented on #1354
thank you very much. that's exactly what ive needed

[2018-09-11 15:30] melnikaite commented on #1354
@severinwullschleger Unfortunately it will work only after implementing #1933
Currently the most stable solution is using `instance.getPastEvents('allEvents', {fromBlock})` with `setTimeout` via `HttpProvider`

[2018-09-12 02:55] eladmallel commented on #1297
@JohanTh thank you!

[2018-09-12 06:51] likwrk commented on #1587
@pors it's under prototype
[code]

[2018-09-12 06:59] subhodi commented on #1211
@nividaI think we can close this issue. Tested in Ubuntu, I could install web3 without any issues.

[2018-09-12 07:07] aaroncolaco opened #1935 "batch request throws error"
I have a parity poa network running and when I try to make batch requests I get the error:

[code]

My code is:
[code]

**web3 version:** `1.0.0-beta.36`
**node version:** `8.9.3`

[2018-09-12 08:25] mjdietzx opened #1936 "Bug in uint256 type check? doesn't allow numbers over ~100e14"
[code]
fails with:
`Uncaught Error: invalid number value (arg="_cap", coderType="uint256", value=10000000000000000)`
[code]
passes as normal (and any values smaller than 100e13

[2018-09-12 11:52] andrewheadricke opened #1937 "v1.0.0-beta.36 dist bundle doesn't work in nodejs"
In order to make the web3 v1.0.0-beta.36 dist bundle work in nodejs I had to do the following tweaks..

[code]

There is code in place in web3 to essentially do the same thing but its not working correctly.  For example:

[problem with require](https://github.com/ethereum/web3.js/blob/v1.0.0-beta.36/packages/web3-providers-ws/src/index.js#L40)

[2018-09-12 15:26] gomesalexandre opened #1938 "Add flow typings"
Hey guys and good work on this amazing library first of all 🔥 really helping with the ecosystem here by having an easy-to-use interface for web devs, to the Ethereum world !

I saw that TS typings were provided in https://github.com/ethereum/web3.js/pull/897 however no sign of flowtype there, which is a shame for folks out here who prefer static type-checking rather than a whole superset of JS.

H

[2018-09-12 17:02] mjdietzx commented on #1936
It looks like this isn't a problem with web3. I think it's due to https://github.com/MetaMask/metamask-extension/issues/2350

I'm using MetaMask as web3 provider and I was using `"web3": "^1.0.0-beta.36"`. So i downgraded to 0.2.0 which MetaMask requires and it works now. I only see this problem for deploying functions with large uint256 arguments in constructor

[2018-09-12 21:45] krzkaczor commented on #1597
Btw. if anyone is curious how to work with smart contracts in a type-safe manner, [TypeChain](https://github.com/krzkaczor/TypeChain) supports it! Just use: `web3-1.0.0` target.

[2018-09-13 06:00] #1937 closed, assigned to nobody

[2018-09-13 06:05] andrewheadricke opened #1939 "web3 v1.0.0 - how to avoid native modules"
In web3 0.20.x there were no native modules that required compiling.  In web3 v1.0.0 there are several.

Is it possible to use web3 v1.0.0 without native modules?  falling back to javascript only just like the browser dist?

[2018-09-13 13:16] mjdietzx commented on #1936
<img width="621" alt="screen shot 2018-09-13 at 3 14 49 pm" src="https://user-images.githubusercontent.com/7217256/45490607-db168200-b767-11e8-9997-0ee48a4aff41.png">

My above comment, downgrading `web3js` deployed the contract. Then I realized all the arguments were set to `"3.963877391197344453575983046348115674221700746820753546331534351508065746944e+75"`

[2018-09-13 14:44] mjdietzx commented on #1936
Ah, number inputs need to be in hex format:

[code]

[2018-09-13 14:44] #1936 closed, assigned to nobody

[2018-09-13 15:55] Anaphase opened #1941 "[web3@1.x] sendTransaction's error event doesn't return receipt as the second parameter"
When calling `web3.eth.sendTransaction()` or `web3.eth.sendSignedTransaction()`, the PromiEvent returned does not provide `receipt` as the second parameter to it's `error` event [like the docs suggest here](https://web3js.readthedocs.io/en/1.0/web3-eth.html#eth-sendtransaction-return):

[code]

Instead, it appears to be `JSON.stringify`-ing the receipt and just appending it to the error message, w

[2018-09-13 16:25] lutianzhou001 commented on #1916
have u solved it yet? I have met the same problem

[2018-09-13 16:57] rumkin opened #1942 "Move errors from web3-core-helpers"
Currently [errors](https://github.com/ethereum/web3.js/blob/1.0ES6/packages/web3-core-helpers/src/errors.js) are located in web3-core-helpers which has in dependencies several libraries which need to build native modules. But errors itself aren't using any of this dependency or another core helpers component. So it looks reasonable to move them to separated package.

I've met this issue trying to

[2018-09-13 17:58] glemmaPaul commented on #1921
@sarath777 possibly better to handle this issue in https://github.com/ethereum/web3.py

[2018-09-13 18:01] glemmaPaul commented on #1906
Hey @wowprojector have you tried using @beta.36 already?

Can I also get your web3 provider info, is this a local geth node or something like infura service?

[2018-09-13 23:12] andrewheadricke commented on #1916
The comment previous to yours mentions how to fix it.

[2018-09-14 00:27] donamk opened #1944 "which one is the correct bn.js or bignumber.js?"
I am not sure what is the reason that a very similar library exist in web3.js

Which one is the main one?

[2018-09-14 03:56] qingyang-id opened #1945 "if the function of web3.eth.accounts.create() will generate same address or privateKey?"
I use the function of web3.eth.accounts.create() to create address and private key, but I am not sure if it will generate duplicate addresses or private key.whether it will?

[2018-09-14 08:30] kyriediculous opened #1946 "web3 Breaks when EthersJS already installed."
I installed web3 after ethers, since I use ethers as my main library. Web3 has some good features that ethers doesn't have though (and vice versa). Fetching events through the filter without having to supply a contract address is one of them.

"TypeError: EthersAbi is not a constructor" on initialization of application.

What version of ethers does web3 use?

    "ethers": "^3.0.25",

    "web3":

[2018-09-14 09:25] harmvandendorpel commented on #1211
Problem is still occuring, cannot install (neither with NPM or yarn):
[code]

[2018-09-14 09:42] peteroravec commented on #1211
(on mac) Try this:
`sudo chown -R $(whoami) ~/.npm`

and run NPM install without sudo
`npm install`

[2018-09-14 09:44] harmvandendorpel commented on #1211
@streamer thanks but still hangs on:

[code]

[2018-09-14 09:51] antonpegov opened #1947 "How to connect type definitions after upgrading from 1.0.34 to 1.0.36?"
I installed @types/web3, but how to use them?
They using this syntax in index.d.ts:
`import Contract from "./eth/contract";`
but I cant find the way to import Contract type in my app.

[2018-09-14 10:03] vindberg opened #1948 "Error: insufficient data for uint128 type.."
Calling a variable on the smart contract I am getting this error:

Error: insufficient data for uint128 type (arg="", coderType="uint128", value="0x00")

`	myContract.methods.grantSize().call(function (err, res) {
		if (err) {
			console.log(err.toString());
		} else {
		}
	});
`
Solidity contract:

`    uint128 public grantSize;`

A couple of test shows that the grantSize should be 0.003 ether.
A

[2018-09-14 10:59] #1948 closed, assigned to nobody

[2018-09-14 10:59] vindberg commented on #1948
As pointing af wrong contract address.

[2018-09-14 11:41] kyriediculous commented on #1742
No one ever answers on stackexchange so start doing your job. You're a collaborator and this is a community. It's not like it's a long answer either.

the answer is

Before 1.0.0
`const web3 = new Web3(new Web3.providers.HttpProvider("http://127.0.0.1:port"))`

after 1.0.0
`const web3 = new Web3("ws://127.0.0.1:port")`

`Now use web3 as you please`

[2018-09-14 12:21] NicolaOrritos commented on #1102
This bug is still present in 1.0.0-beta.36, but **NOT** in 1.0.0-beta.34.
Found while working on a private chain with PoA.
Worked around pinning to 1.0.0-beta.34 in my package.json.

[2018-09-14 13:45] kyriediculous commented on #1930
What's the value of from and to?

[2018-09-14 15:06] antonpegov commented on #1947
Ok, I've got it after switching to 'systemjs' in typescript config and using
`import { Transaction } from 'web3/eth/types';`
`import Contract from 'web3/eth/contract';`
`import PromiEvent from 'web3/promiEvent';`
Wondering why not put everything in the one place...

[2018-09-14 15:10] #1947 closed, assigned to nobody

[2018-09-14 17:07] ghost opened #1950 "new Buffer is deprecated and unsafe"
`new Buffer` is deprecated and unsafe. We should not use deprecated/unsafe Buffer constructor.

This issue can be resolved by this PR:
https://github.com/ethereum/web3.js/pull/1949

The behavior of new Buffer() is different depending on the type of the first argument, security and reliability issues can be inadvertently introduced into applications when argument validation or Buffer initialization

[2018-09-15 07:16] ghost commented on #1916
Got the same issue.
the version of web3: 1.0.0-beta.33;
the detail code:
[code]
the output:
[code]

[2018-09-15 08:38] wowprojector commented on #1906
I have never tried @beta.36 yet. Now it is just fine with @beta.35.
I am using infura rinkeby. However when problem occured, I tried with every provider but none of them worked properly.

[2018-09-15 09:32] DTiapan opened #1951 "Need Help : Unhandled Rejection (TypeError): __WEBPACK_IMPORTED_MODULE_5__lottery__.a.methods.manager is not a function"
I am trying to call manager method from the contract but after saving the code react server throws above error.
Below is my smart contract:

`
pragma solidity ^0.4.17;
contract Lottery {
    address public Manager;
    address[] public Players;
    uint index;
    function Lottery() public {
    Manager = msg.sender;
    }
    function enter() public payable {
    require(msg.value > 0.1 ether);

[2018-09-15 09:53] DTiapan commented on #1951
i figured it out..

the issue was with delecration of constructor , the constructor name should be same as of contract name.

constructor definiton should be ,

`function AjToken (uint256 _initialSupply) public {
		balanceOf[msg.sender] = _initialSupply;
		totalSupply = _initialSupply;
	}	`

whereas i used,

`constructor (uint256 _initialSupply) public {
		balanceOf[msg.sender] = _initialSupply;

[2018-09-16 07:38] nanom1t commented on #1869
@VishalDalve What is the solution? Faced with same issue.

[2018-09-16 23:36] uneeb123 commented on #1513
Can anyone link to the stackexchange question?

[2018-09-17 02:12] 0xclem commented on #1802
I can confirm that downgrading to v1.0.0-beta.34 fixes the issue. Both Safari and Firefox were impacted.

[2018-09-17 05:05] ranjithapr commented on #1083
Manually execute git clone,and chang git:// to https://, and proceed with your npm install

[2018-09-17 06:27] 12548 commented on #1916
Same problem on beta.36

[2018-09-17 14:30] vindberg opened #1953 "Web3js eth.sign implementation?"
Im looking at replicating the eth.sign logic from web3.js 1.0 beta 36 to Nethereum.

I can't seem to find the actually implementation in the source? Im specifically interested to see how it uses the unlocked account specified by the public address when signing. Also, does it add the "Ethereum Signed Message" prefix.

Thanks for all the great work.

[2018-09-17 23:22] dtmle commented on #1945
The chances of generating a duplicate address or private key using that method is slim to none.
If you really want to increase the randomness, supply a string of atleast 32 characters into the function.

Please see here: https://web3js.readthedocs.io/en/1.0/web3-eth-accounts.html

[2018-09-18 01:50] gabrielvenegas commented on #1869
Facing same issue, anyone with the solution?

[2018-09-18 06:12] k06a opened #1954 "Handle different return types"
Asked here: https://ethereum.stackexchange.com/questions/58945/how-to-handle-both-string-and-bytes32-method-returns

Maybe there is existing any `raw` type for returning value to avoid it's parsing with web3 library?

[2018-09-18 06:14] k06a commented on #1035
Very similar https://github.com/ethereum/web3.js/issues/1954

[2018-09-18 08:46] ArsenKulikov commented on #1354
@melnikaite
this.web3._provider returns error, when i'm trying to start listen event.
It says, that it can't read .on property of undefined, but this.web3._provider isn't undefined)
TypeError: Cannot read property 'on' of undefined
Commenting this block solves this issue, but will it handle errors and will it trigger reconnect, when connetion will lost?

[2018-09-18 08:50] melnikaite commented on #1354
@ArsenKulikov sorry, updated the code. Second `on` wasn't called in provider instance

[2018-09-18 08:58] ArsenKulikov commented on #1354
@melnikaite Thank you for fast response! It's work perfect!

[2018-09-18 14:19] 0xicingdeath commented on #1869
@nanom1t @gabrielvenegas I found a solution to this problem, albeit not using `web3`. This error was causing our tests to invariably fail inconsistently. After talking to a few other devs in the community, I ended switching our framework to use [ethers.js](https://docs.ethers.io/ethers.js/html/) instead. If you're still running into issues with this, and it's not too difficult to switch to another

[2018-09-18 15:48] ripern commented on #1677
This is still broken. https://github.com/SilentCicero/number-to-bn has not changed in 2 years. Any alternative?

[2018-09-18 16:03] damianobarbati commented on #1775
+1. same problem

[2018-09-18 16:13] ArsenKulikov commented on #1354
@severinwullschleger @melnikaite
It's works perfect but only in my local node. In production it's disconnecting after few minutes. :(
But i have another question. Is this issue same to mainnet? Or it causes only in testnets?
I couldn't try it, because i have another troubles with migrating my contracts :)

[2018-09-18 17:10] biigpongsatorn opened #1957 "web3.eth.Contract.events.MyEvent does not work."
I want to get past event of my contract and i try to use `getPastEvents` but this function only return success transactions, I want to get all transactions status (Success, Fail, Pending (optional)) and I try to use `contract.events.MyEvent` and this function return `Subscription` data or something like that (example return value below).

![image](https://user-images.githubusercontent.com/10693658

[2018-09-18 20:08] spalladino commented on #1477
Same here, I'm on 0.20.6. I'll try to come up with a minimal example for reproducing it. It seems to happen more frequently when using Infura.

[2018-09-18 22:01] fabdarice commented on #1860
Having the exact same issue.
Using truffle develop as local node.
Accounts are correctly unlocked. This used to work

[2018-09-18 22:27] Eugnis commented on #1860
Same error on >=beta34 with all requests. On <=beta33 all ok.
Btw, for me this issue only in react-native with browserify. On pure node.js no such issues.

[2018-09-18 22:30] Eugnis commented on #1919
Are you using pure nodejs or something like browserify?
For me this error appearing on beta34+. On beta33 all ok

[2018-09-18 22:31] spalladino commented on #1477
I've written a [small script](https://gist.github.com/spalladino/cf46713d86398407568056db5c7ee170#file-test-deployment-js) to try to figure out the cause. I'm basically repeatedly calling `getTransactionRecepit` in a loop, followed by `getCode` of the `receipt.contractAddress`, much as `contracts#checkForContractAddress` does.

When running the script against a local node, the result is as expecte

[2018-09-18 22:51] daffl commented on #1217
It looks like https://github.com/ethereum/web3.js/pull/1631 added a fix for this which should allow doing

[code]

It is available in `web3-providers-ws@1.0.0-beta.36` and later.

[2018-09-18 23:04] oscar-ordonez commented on #1919
Pure nodejs...

[2018-09-18 23:13] daffl commented on #1297
Made a comment how it can be done now without modifying your node modules in https://github.com/ethereum/web3.js/issues/1217#issuecomment-422584624

[2018-09-18 23:16] spalladino commented on #1477
FWIW, the trace using Infura on Ropsten is quite consistent. I could only reproduce this on mainnet so far.

[code]

[2018-09-19 06:47] rajmantechnology opened #1959 "hi i have tried to install web3 but every time i fail, this is what I receive as an error here is the problem occurs at first it installs and proceds but nearly at the end it fails"
PS F:\seondtesti> npm install --save web3@1.0.0-beta.26

F:\seondtesti\node_modules\scrypt>if not defined npm_config_node_gyp (node "C:\Users\rajma\AppData\Roaming\npm\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "C:\Users\rajma\AppData\Roaming\npm\node_modules\npm\node_modules\node-gyp\bin\node-gyp.js" rebuild )
gyp E

[2018-09-19 07:16] SVDotsenko commented on #1775
http://www.dappuniversity.com/articles/web3-js-intro

#5 · Calling Smart Contract Functions with Web3.js

[2018-09-19 07:39] camusfsx opened #1960 "get error:"Number can only safely store up to 53 bits"when I used “web3.eth.getBlock()”"
[code]

[2018-09-19 13:35] exogenesick commented on #1916
It looks like given error:

only occures when event definition which You want to read/download using `getPastEvents` method has every parameter field marked as indexed.

`Transfer` event definition from ERC-721:
[code]
Use `getPastEvents` to read `Transfer` events will fail due to such error. This also means that You custom events build in Your contracts will also fails.

I tested events with mixe

[2018-09-19 17:33] daffl commented on #1914
This should be fixed via #1907 but has not been released yet.

[2018-09-19 17:56] daffl commented on #1901
When sending new transactions, the `nonce` should be set to the from addresses transaction count (`getTransactionCount(fromAddress)`).

I found [this blog post helpful explaining this](https://medium.com/kinblog/making-sense-of-ethereum-nonce-sense-3858d5588c64).

[2018-09-20 02:16] smarx opened #1961 "web3.utils.sha3 and web3.utils.soliditySha3 return null when an empty byte sequence is hashed"
Based on the code, this appears to be done intentionally for some reason, but it seems like a very bad idea to return the wrong answer. There's also no mention of this non-standard behavior in the documentation.

From https://github.com/ethereum/web3.js/blob/1.0/packages/web3-utils/src/utils.js#L434,L435:

[code]

Removing those lines would fix the problem.

[2018-09-20 06:12] arnoudcommandeur opened #1962 "Error while installing any Web3js 1.0.Beta release"
I get an error while I try to install the web3js 1.0.beta versions on my Windows 10 machine.

De commandline log is as follow:

C:\eth4>npm install web3@1.0.0-beta.34
npm WARN deprecated fs-promise@2.0.3: Use mz or fs-extra^3.0 with Promise Support
npm WARN deprecated tar.gz@1.0.7: ⚠️  WARNING ⚠️ tar.gz module has been deprecated and your application is vulnerable. Please use tar module instead: h

[2018-09-20 13:16] oscar-ordonez commented on #1919
@Eugnis I recently try v1.0.0-beta.32 and its also showing the same error

[2018-09-20 14:04] Moejoe90 commented on #1960
Store it as a `BigNumber` ;)

[2018-09-20 16:36] michaelsbradleyjr commented on #1914
@daffl good to hear. Any ETA on the next version?

Also, when it does land, perhaps it would be good to [deprecate](https://docs.npmjs.com/cli/deprecate) all affected versions of web3 — beta.35, beta.36, others?

[2018-09-21 07:22] subhodi commented on #1739
@basilji
Maximum data you can pass along with single transaction is 32KB. Out of that Apprx 1KB is used for transaction details and rest is actually available to the sender to add payload. Modularize your smart contract code and use multiple transactions to deploy large smart contracts.
Error is thrown from Geth side, look at this line of code https://github.com/ethereum/go-ethereum/blob/6a3395473

[2018-09-21 12:57] donamk opened #1963 "What is the returnSignature?"
In the manual, web3.eth.signedTransaction() and web3.eth.sign Retruns section, it is wrriten that
`if returnSignature is true the signature values as follows:`

However, there is no `returnSignature` in web3-eth-accounts/index.js(v1.0.0-beta.36) or in both function params.

What is the returnSignature?

@frozeman

[2018-09-21 13:05] donamk commented on #1963
Another question, what is the purpose of the return value of web3.setProvider? It seems like return true always.

[2018-09-22 12:09] captPython commented on #1169
HI everyone,

I am trying to sign transaction using web3.eth.accounts.signTransaction .. tried using Gananche, Local Geth in Light sync mode and Infura ..

when I used Infura and geth with ChainId = 3 that time value of v in signature was 41 or 42 but when used ganache which was runing on chain id 4447 then the value of v was very high like 1228 or above ..

does the bug still exist ..

// Sample

[2018-09-22 15:41] Vishwas1 commented on #427
Bro how did you fix the issue? I am getting it now :(  If we do not run the geth using rpi option then it should activate all apis right?

[2018-09-22 21:09] saitam1 commented on #1025
This is still an issue, at least on `Kovan` + `Infura`. It happens only sometimes, more often if you didn't run the application for a longer time and then start everything.
[code]
 Here is my nodejs code:

[code]

[2018-09-22 21:17] #1953 closed, assigned to nobody

[2018-09-22 21:36] ghost opened #1965 "websocket issues: connection not open on send()"
I am running `web3@1.0.0-beta.36` on Kovan + Infura.
The mention issue happens only sometimes and my feeling tells me it happens more often if you didn't run the application for a longer time and then start everything.

[code]

Here is my nodejs code:

[code]

[2018-09-23 10:07] Jason-Soo commented on #943
Anyone having this problem just "Run as admin in your Powershell or Node.js CMD

1) npm install --global --production windows-build-tools

after the installation is complete

2) npm install web3@1.0.0-beta.20 (or any beta version you like up to 36 if i'm not mistaken)

[2018-09-23 10:07] Jason-Soo commented on #1404
Try "Run as admin in your Powershell or Node.js CMD

1) npm install --global --production windows-build-tools

after the installation is complete

2) npm install web3@1.0.0-beta.20 (or any beta version you like up to 36 if i'm not mistaken)

[2018-09-23 19:15] mrwillis opened #1967 "Cannot read property 'id' of undefined when calling `websocketProvider.send()`"
Currently when calling send on the WebsocketProvider in the `_addResponseCallback` method there is a check to make sure `id` is defined. If you pass 0 into this method it will always throw an error because `0 || payload[0].id` is an error. The workaround is to put anything but 0.

I think perhaps the second condition in the OR should be removed.

Here is code to reproduce this (send in a websocket

[2018-09-24 03:46] dtmle commented on #1959
Hi there,
You need to have python installed, notably 2.7 to install web3.
Try installing window-build-tools, adding Python2.7 to your system paths.
Here is how to install window-build-tools: https://github.com/felixrieseberg/windows-build-tools
Hope this helps.

[2018-09-24 03:49] dtmle commented on #1962
Hi there,

Do you have python 2.7 installed? If so, you will have to change which version of python you are using.
`npm config set python python2.7` should do the trick.

If you don't have python 2.7 installed, a great way to get it as well as other dependencies is using windows-build-tools.

Here's a link about windows-build-tools: https://github.com/felixrieseberg/windows-build-tools

Hope this

[2018-09-24 06:04] JellyGummy opened #1968 "Is Web3js compatible with Electron?"
Hi guys, I tried installing web3js on my electron project, those that are under Beta.2 and below will have "Cannot find module 'web3-requestManager" and beta.2 above will have this error

ELECTRON_ASAR.js:166
Uncaught Error: A dynamic link library (DLL) initialization routine failed.
\\?\D:\Users\Documents\Work\Wallet\node_modules\web3\packages\web3-eth-accounts\node_modules\scrypt\build\Release\s

[2018-09-24 07:56] sontuphan commented on #1046
Hi @frozeman and @nivida, thanks for your help in advance. I have gotten the same issue as @koreaex, I built 2 geth and set up a kind of communication via a load balancer. Then I got ```Error: filter not found``` every time I try to connect my client to those geth via the load balancer for watching events. However, if I connect the geth directly with the same code, it no longer shown error.
I was

[2018-09-24 14:03] fergarrui commented on #887
Any news about proxy support?

[2018-09-24 18:27] evbots opened #1969 "web3 does not work with webpack unless I manually install with --unsafe-perm=true"
Hi web3 team,

I have tried installing various versions of web3 in my webpack projects. I get very similar errors when using webpack to bundle client-side projects and server-side projects (specifically a serverless project using the serverless-webpack plugin).

The current version I'm using is web3@1.0.0-beta.35 in both my client and server-side projects.

### Client-side project details:

With r

[2018-09-24 19:07] arnoudcommandeur commented on #1962
Hi dtmle,

thanks for your answer. The installation works fine now. Unfortunately I still get an error while using web3 within Chrome. Tge error I get is: failed to load http://localhost:8545/: Response to preflight request doesn't pass access control check: The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credentials mode is 'in

[2018-09-24 20:08] arnoudcommandeur commented on #1962
I solved the latest issue by starting Chrome via: chrome.exe --disable-web-security --user-data-dir
(on an Windows 10 computer)

[2018-09-24 20:08] #1962 closed, assigned to nobody

[2018-09-24 22:45] therightstuff opened #1970 "Build fixes and localhost geth test connections"
1. `npm run-script build` is failing without updating gulp usage to gulp 4 and the vinyl-source-stream package to version 2

2. The example code cannot be used to connect to a local geth node without credentials, so I've set the credentials to be required only in the case that a user and password have been supplied.

I've already submitted a PR https://github.com/ethereum/web3.js/pull/1956 and wou

[2018-09-25 04:51] dtmle commented on #1962
@arnoudcommandeur Nice work! I've never ran into that problem. I've only hosted web3.js using Express.js.
Thanks for telling us how you fixed it!

[2018-09-25 13:02] antonpegov commented on #1516
Still has it! Metamask api version "0.20.3", my web3 version 1.0.0-beta.36

[2018-09-25 18:52] antonpegov commented on #1089
Double check the abi. I've got this 'bug' after minor changes in contract code without updating the abi.

[2018-09-25 21:10] salpalacios opened #1971 "web3.utils.stringToHex() returning single quotes strings - breaks solidity"
Using version  '1.0.0-beta.36'
when using web3.utils...like such
 <img width="300" alt="screen shot 2018-09-25 at 3 54 25 pm" src="https://user-images.githubusercontent.com/14198661/46042600-65050a00-c0db-11e8-9c6f-aab5fdf921fc.png">

Currently the web3.utils.stringToHex() function and other, are returning single quote strings of hex values, which is problematic since solidity only accepts them as

[2018-09-26 01:49] kingpine81 commented on #1525
I also have the same problem !

It does not occur with local node, Ganache, but on public Rinkeby.

[2018-09-26 02:41] mryellow commented on #1505
It's not?

`npm update` resulted in:

[code]

[2018-09-26 06:02] SUBHRA7 commented on #1826
@loydbanks I was also facing the same issue and I tried with your solution but get this 2 below error now. Please help me out to resolve.
Failed to load resource: net::ERR_CONNECTION_REFUSED
i.send @ web3.min.js:1
web3.min.js:1 Uncaught Error: CONNECTION ERROR: Couldn't connect to node http://localhost:8545.
    at Object.InvalidConnection (web3.min.js:1)
    at i.send (web3.min.js:1)
    at s.sen

[2018-09-26 06:46] SUBHRA7 commented on #1826
@loydbanks solved. forgot to run testrpc.

[2018-09-26 07:45] wigy-opensource-developer commented on #1936
@mjdietzx Where did you get the info that *all* number inputs need to be in hex? In 1.0.0-beta34 we could send bignumber decimal strings into web3 without any problems. In 1.0.0-beta.36 there is this extra heuristic added that prevents us to send higher bignumbers to the API. So what piece of documentation or announcement did we miss?

[2018-09-26 07:48] i-am-vivek opened #1972 "transaction of erc20token is not being broadcasted"
Hi there,

#### System information
Geth
Version: 1.8.12-stable
Git Commit: 37685930d953bcbe023f9bc65b135a8d8b8f1488
Architecture: amd64
Protocol Versions: [63 62]
Network Id: 1
Go Version: go1.10
Operating System: linux
GOPATH=
GOROOT=/usr/lib/go-1.10

I am trying to send the erc20 tokens one address to another. but transaction hash is generating. but it is not broadcasted.
When I search transacti

[2018-09-26 07:57] i-am-vivek commented on #1438
This is happening to me as well. :(

[2018-09-26 09:46] therightstuff commented on #1826
@SUBHRA7 could you please provide the entire command? i've actually [opened a PR](https://github.com/ethereum/web3.js/pull/1956) that sets required credentials to false when no credentials are supplied for use in testing, with that it's a matter of running
`geth --dev --rpc --rpccorsdomain="*" --rpcaddr="localhost"`
and then using the default web3 connection

EDIT: @loydbanks the PR's change allow

[2018-09-26 11:58] loydbanks commented on #1826
I don't know anything about the last email you sent me but i was able to
make this work by using another version of web3, i used the following
command.
This command must be done within the folder you have ran npm init. The
command is npm install web3@0.20.6 and i was able to connect

On Tue, 25 Sep 2018 at 23:02, SUBHRA7 <notifications@github.com> wrote:

[2018-09-26 12:37] Amxx opened #1973 "web3.utils.soliditySha3 giving unexpected results for addresses."
I am working on the [EIP712](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-712.md) and has part of this I have to compute the hash of a structure.

[code]

The test case given at the end of the EIP uses `ethereumjs-utils` so naturally I wanted to translate the relevant parts to web3js.

Hashing the structure is done in solidity as follows:
[code]

I manage to get the same value in my test

[2018-09-26 14:18] therightstuff commented on #1826
@loydbanks the emails are github notifications, so i'm not sure i understand what you're referring to. if you look at the PR i linked to previously you'll be able to make the latest version of web3 work with localhost (and be able to build it properly); you can see the changes i've made [here](https://github.com/therightstuff/web3.js/commit/fd1088e74024140691b59673a265047cb540bf0d)  until the PR i

[2018-09-26 14:19] uneeb123 commented on #1781
Just went through [this](https://github.com/nodejs/node-gyp/issues/569) without any luck. Any update here?

[2018-09-26 20:26] #1973 closed, assigned to nobody

[2018-09-27 07:54] ryokomy commented on #1646
I also had the same issue with "wss://rinkeby.infura.io/ws".

[2018-09-27 12:43] jtakalai commented on #924
Hmmh, this is something that could be and should be fixed. At least differentiate functions by number of arguments! That could fairly simply be checked on SolidityFunction.prototype.call, then choose the proper signature to call (looking at pre-1.0 web3 now because old Truffle)

[2018-09-27 12:47] jtakalai commented on #924
Curiously there seems to be work (arounds) being done at https://github.com/trufflesuite/truffle-contract/pull/94, which seems completely backwards. No one benefits if Truffle implements their own contract js object abstraction.

[2018-09-27 14:45] gokuflashdev opened #1974 "Install web3 on windows7"
I have a big problem with installation of web 3 in windows 7.
node 8.12.0
npm 6.4.1
node-gyp 3.8.0

I read in some other issue something like this:

    node-gyp configure --msvs_version=2015
    npm config set python /path/to/executable/python2.7
    npm install web3 --save

I cant  node-gyp configure --msvs_version=2015 i get an error:

gyp info it worked if it ends with ok
gyp info using node-g

[2018-09-27 15:00] Amxx opened #1975 "signature for EIP712"
[EIP712](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-712.md) proposes a standard for hashing and signing of typed structured data as opposed to just bytestrings.

Similarly to ethereum message who are sign using
``
ecsign(keccak256("\x19Ethereum Signed Message:\n" | message.length | message))
``
EIP712 proposes to sign arbitrary structures using:
``
ecsign(keccak("\x19\x01" | domainSepar

[2018-09-27 16:06] simodroussi commented on #1969
Hi, I am having the same error when building for production in the pipelines.
[code]

I am hoping someone can help solve this.

[2018-09-27 18:48] ftppro opened #1976 "Installing web3 on CentOS produces errors"
Installing web3 using "npm install web3" produces the errors shown at the bottom of this post, and then web3 does not appear in package.json.

My server is CentOS v. 6.9, 64 bit.

I am able to use NPM to install other packages without errors, and they appear in package.json.

I use Infura, so I do not have a local Ethereum node installed.

Here are the errors:
gyp ERR! build error
gyp ERR! stack E

[2018-09-27 22:10] therightstuff commented on #1974
windows-build-tools is probably not sufficient, you might need to install visual studio 2017 (community edition).
i needed python version 2.7.3 , you may want to try that too

[2018-09-27 22:13] AC0DEM0NK3Y commented on #1916
This seems to be an issue many are hitting including myself. Just attempting to go back through the versions to try and see where this may have started.

Can confirm this was introduced in v1.0.0-beta.36 in my case, specifying v1.0.0-beta.35 exactly and re-running brings up events as expected rather than the "Error: Returned values aren't valid, did it run Out of Gas?".

[2018-09-28 07:21] Sandybaby07 commented on #1959
may be you can try
sudo npm install scrypt --unsafe-perm=true --allow-root

[2018-09-28 08:37] therightstuff commented on #1959
It's also possible that windows-build-tools aren't sufficient, I had to install Visual Studio community edition for gyp to work

[2018-09-28 10:27] gokuflashdev commented on #1974
I had installed vs community 2017 v15.8.5 with Programming classic app in C++ (windows 10 SDK, Visual C++ Tools for CMake, ATL library for C++ etc).
But I had not added it in PATH so I add IDE folder: "G:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE" I add it but still have the same problem:/

gyp info it worked if it ends with ok
gyp info using node-gyp@3.8.0
gyp info us

[2018-09-28 15:15] evbots commented on #1969
@simodroussi do you know what OS you're using for your production build process?

[2018-09-28 16:11] nezzard commented on #1916
web3@1.0.0-beta.34 works fine

[2018-09-28 16:43] simonjanin commented on #227
Just to add some clarity to the issue: the reason why it is not possible to get the return value is because the function, unless it is view (i.e. constant), could have side effects. This means that the return value can be different, depending on the order in which the transaction is mined.

What you should do, therefore, is to create the relevant events in your smart contract and watch for them.

[2018-09-28 19:38] csmartinsfct commented on #1916
Same issue. Downgrading to beta 35 worked for as well.

[2018-09-28 19:48] nivida commented on #1916
Thanks for submitting this issue I will fix that in the next build.

[2018-09-28 19:53] csmartinsfct commented on #1916
The issue isn't specific to handling empty data, it fails for me when data is supposed to be returned as well. Just to make that clear :)

[2018-09-28 19:58] nivida commented on #1826
@therightstuff no wories I‘ll have a look on your PR next week

[2018-09-28 20:34] yzhang1994 commented on #1916
same issue

[2018-09-29 15:19] oliversd commented on #1976
Hi @ftppro the problem is with the node-gyp package, normally this is a problem with the python version that node-gyp uses for build. Currently it doesn't support python 3.

A work around is to use this line to install using python 2.7:

npm install --python=python2.7 web3

Or you can create and activate a environment with python2.7 with conda https://conda.io/docs/user-guide/tasks/manage-environm

[2018-09-29 15:44] ftppro commented on #1976
If the problem can be so easily solved by using "npm install --python=python2.7 web3", then why doesn't web3 have that command built into their default npm installation? And why isn't this workaround documented anywhere?

I am very hesitant to install something where an undocumented solution could cause additional problems. I attempted to install web3 on a "vanilla" CentOS machine. This is a new d

[2018-09-29 18:01] simodroussi commented on #1969
we are using Amazon Linux https://hub.docker.com/_/amazonlinux/

[2018-09-29 19:16] oliversd commented on #1976
This is not a problem of web3 is a problem of your environment (you have python 3 instead of 2) and of the support of the dependency of [node-gyp](https://github.com/nodejs/node-gyp), that is not maintained by web3. There is no way that you can make a library ready for each OS and for each configuration.

If you look for this error on Google you will find hundreds of libraries that depend on node-

[2018-09-29 19:22] ftppro commented on #1976
Why did version 0.20.7 install with no problems, yet the default "npm install web3" fail? What features did they add to web3 version 1.x that requires that this problem occurs?

I also tried to install it on a CentOS machine that is 2 years old, and the same problem happened. Why would they require a version of Python that is more than 2 years old?

[2018-09-29 19:27] ftppro commented on #1976
Did they choose to use node-gyp for version 1.xx (and not version 0.20.7)? Perhaps they shouldn't have used node-gyp, if node-gyp requires a version of Python that is more than 2 years old. Otherwise, they have to modify the program that installs the current version of web3. Linux is the most popular OS for servers, they really should test it on the current Linux version.

[2018-09-30 12:04] eyezick commented on #1920
Also getting this issue now when passing a `BigNumber.js` object directly. Breaking change.

[code]

[2018-10-01 07:59] hoangdv1995 opened #1978 "web3.eth.sendTransaction not receive after upgrading MetaMask from 4.11.x to 4.12.0?"
[code]

[2018-10-01 11:23] therightstuff commented on #1974
progress! :P

you're just going to have to figure out why the build error is happening...

[2018-10-01 15:45] MattOakley commented on #1217
This is fixed in beta.36 but the setting is `clientConfig`

[code]

[2018-10-01 15:45] #1217 closed

[2018-10-02 02:05] ghost opened #1979 "10+ Hours Trying to Install Web3"
_Been troubleshooting this for ~10 hours now :(.

Anyone have an idea why I may be receiving this error?

I reset the environment variable to no available.

Any help would be much appreciated_

**Running NPM Install**

C:\Users\jeremy.nau\inbox>npm install

npm notice created a lockfile as package-lock.json. You should commit this file.

npm WARN inbox@1.0.0 No description

npm WARN inbox@1.0.0 No

[2018-10-02 10:50] gokuflashdev commented on #1974
I try to do the same steps like in this issue (https://github.com/nodejs/node-gyp/issues/802). But there i have to install VS community 2017 cos there is no more VS Build Tools 2015 Technical Preview available. IDK that it`s work in community 2017 but I let u know.

The wird thing is to install some web3 dll I have to install whole VS community (7.16GB)...

After reinstall VS community i get other

[2018-10-02 13:48] sidsverma opened #1981 "Personal Sign on Web3 throws an error"
When I am trying to sign via the web3(0.20.7) personal sign method, metamask pops out the dialog for signing with the appropriate message:
<img width="358" alt="screen shot 2018-10-02 at 6 44 49 am" src="https://user-images.githubusercontent.com/13417050/46353098-370a5300-c610-11e8-826e-bdb37b78a1e3.png">

and upon clicking on Sign or Cancel, I get this error:

This is the code used for signing:
[

[2018-10-02 14:39] D-Nice commented on #1610
This would appear to be a serious bug that really needs to be fixed, as any web3 dependent service using this library, which takes any form of user input, could be taken down from this bug.

[2018-10-02 14:41] webees commented on #1968
@JellyGummy

You must recompile scrypt.

The "iojs" used by electron is different from the "node" environment.

[2018-10-02 16:04] vibern0 commented on #1981
I can't see where this error came from.
Can you consider this article [here](https://consensys.zendesk.com/hc/en-us/articles/360004427792) and try to run an example?
Or maybe you consider any 1.x beta version of web3.js and use [web3.eth.personal.sign](https://web3js.readthedocs.io/en/1.0/web3-eth-personal.html#sign) instead.

[2018-10-02 19:13] webees commented on #1775
+1. same problem

electron-vue + web3.js

[code]
![_20181003031348](https://user-images.githubusercontent.com/5155291/46371202-4f36ac80-c6ba-11e8-999e-d47eba329e2d.png)

[2018-10-03 07:44] Jason-Soo commented on #1979
You can try this "Run as admin in your Powershell or Node.js CMD

npm install --global --production windows-build-tools
after the installation is complete

npm install web3@1.0.0-beta.20 (or any beta version you like up to 36 if i'm not mistaken)

If you still can't try to clean your package files and everything delete away the word web3 from the package and try installing it again or try the web3

[2018-10-03 10:13] vibern0 commented on #1978
Interesting that, after seeing this issue, I checked my metamask version, and realized it's 4.9, and the 4.12 is only available for chrome. In the next day, someone asked for help on the truffle gitter with an error like `TypeError: Cannot read property 'connection' of undefined`. And suddenly I thought about this issue. A few answers late I said `afaik there are people having some kind of trouble

[2018-10-03 12:44] webees commented on #1968
But I still can't use the function properly.

[2018-10-03 14:25] maroodb commented on #1241
Any updates?

[2018-10-03 18:32] dmutende commented on #1648
Same issue with wbe3@1.0.0-beta.35

[2018-10-04 00:27] karlphillip commented on #1802
What is the correct command to downgrade to that specific version?

[2018-10-04 00:34] 0xclem commented on #1802
@karlphillip something like `yarn remove web3 && yarn add web3@1.0.0-beta.34` should work.

[2018-10-04 00:48] karlphillip commented on #1802
Thank you, ended up going with:
npm install web3@0.20.6 --save

[2018-10-04 00:54] moskalyk commented on #1916
I get the same issue using `web3.eth.ens.getMultihash` on the version 36 and 35. Any advice? I can confirm that there would be nothing returned (as previously 'web3.eth.ens.setMultihash' was never set on this ENS address. Thanks.

[2018-10-04 05:49] therightstuff commented on #1802
https://github.com/ethereum/web3.js/pull/1956 resolves this by removing the credential requirement when there's no user / password supplied,

@frozeman @nivida this seems to be an issue for quite a lot of people, is there another way to work around this or do you have any comments for the PR?

[2018-10-04 05:53] shadab14meb346 commented on #1739
@nathanawmk
I have done this `if tx.Size() > 128*1024 {
	return ErrOversizedData
}`.Even after doing this when I am deploying my smart contract to my private network it is still giving `Error:  oversized data`. I have also tried to find the deployedBytecode length in mycontract.json file. I found out that it is 71236.
Reference:
https://ethereum.stackexchange.com/questions/59694/getting-this-error

[2018-10-04 08:54] Tetz opened #1982 "encodeABI() doesn't work in web3 1.0.0-beta.36"
I tried these code in web3 1.0.0-beta.36
[code]
And then encodeABI() doesn't return any values.
But if I try web3 1.0.0-beta.34, it works fine.  It's a kind of bug, isn't it?

[2018-10-04 10:56] gokuflashdev commented on #1908
I try to install web3 for a few days, a lot of info how to do it right is out of date. You can get an impression that few dependencies are not supported any more. The problem in future will be bigger and bigger. Who knows maybe we, poor windows users have to install windows 95 to use web3;p

[2018-10-04 11:06] munrocket commented on #1908
@gokuflashdev just write in web3, it's unrelated to ccxt.
Web3 is new package but somehow they desided to use node-gyp.
Like ccxt with browserify :-P

[2018-10-04 11:19] munrocket commented on #1974
@therightstuff why are you torturing windows users? cmake-js is much better.

[2018-10-04 11:21] munrocket commented on #1976
@oliversd maybe cmake-js is better?

[2018-10-04 13:06] AleG94 commented on #1978
+1
Same problem here with MetaMask 4.12

[2018-10-04 13:40] zhuza commented on #963
I used the command " sudo npm i web3@latest "
the following shows I still failed
gyp ERR! configure error
gyp ERR! stack Error: Command failed: /Users/xiaobaozhu/anaconda/bin/python -c import sys; print "%s.%s.%s" % sys.version_info[:3];
gyp ERR! stack   File "<string>", line 1
gyp ERR! stack     import sys; print "%s.%s.%s" % sys.version_info[:3];
gyp ERR! stack                                ^
g

[2018-10-04 21:52] bryenxie commented on #1776
here is on Macbook (OS X 10.11.6 (15G20015))

npm install web3

[code]

[2018-10-04 21:56] bryenxie opened #1983 "unable to install web3 on a macbook"
System Version:	OS X 10.11.6 (15G20015)

npm install web3

[code]

[2018-10-04 23:01] klivin commented on #951
Seeing this issue intermittedly on both metamask and portis when calling payable and non payable methods and using `send` function as in:
[code]

Responds immediately with:
[code]

I am using Kovan network for testnet.  I cannot reproduce on local blockchain.
On latest builds for everything as of today.

[2018-10-05 06:56] vongohren commented on #1451
So do etherjs rpc, that some libraries depend on.
https://github.com/ethjs/ethjs-rpc/blob/master/src/index.js#L46

So if I use these libraries, send in my provider from web3, then it crashes down the stack, because sendAsync cannot be called.

Im using ethr-did-resolver now, and they use ethjs in the background.

[2018-10-05 07:29] therightstuff commented on #1974
@munrocket i'm just trying to be helpful with what i've learned about gyp, i've never heard of cmake-js before. if someone will switch to something better i'm all for it

[2018-10-05 10:13] munrocket commented on #1974
@therightstuff thanks. I was thinking that you maintainer.

[2018-10-05 15:07] yarrumretep commented on #1916
Added simple project that demonstrates this issue.  It happens also when the event has only indexed values - hence no data.

https://github.com/yarrumretep/web3_1916

My fix:
[code]

[2018-10-06 08:55] AleG94 commented on #1916
Any ETA for the next build?

[2018-10-06 09:04] AleG94 commented on #1978
It has been confirmed the [issue](https://github.com/MetaMask/metamask-extension/issues/5425) is with MetaMask 4.12 and not web3.js.

[2018-10-06 12:16] fanmeilexiu opened #1984 "How to attach a message to a transaction?"
How to attach a message to a transaction?

[2018-10-06 14:27] elanpang commented on #1095
this issue happened again with RN 0.57.1

[2018-10-06 14:29] elanpang opened #1985 "React Native issue ‘’web3.js cryptofromnode_modules/web3-eth-accounts/src/index.js`: Module does not exist in the module map‘’ happened again with RN 0.57.X"
![image](https://user-images.githubusercontent.com/6789154/46572309-2feb9800-c9b6-11e8-9511-3cd4f34acb4d.png)

OS:MacOS 10.14
Programming Language version: React Native 0.57.1-iOS

I met this issue on React Native 0.56 before, and then resolved it with this [Guide:How to set up web3.js with CRNA ](https://gist.github.com/dougbacelar/29e60920d8fa1982535247563eb63766).
But recently we updated to Rea

[2018-10-06 15:15] rluijk commented on #1983
Steps I did that seem to work:

0. Update to latest Xcode

1.  how-to-uninstall-anaconda-completely-from-macos
https://stackoverflow.com/a/44571490/141231

2.  I installed the following because a new and different error was shown
(https://github.com/npm/npm/issues/17268):
sudo npm install -g electron --unsafe-perm=true --allow-root

3. npm  install scrypt

4. And then a web3 version like: npm inst

[2018-10-06 19:57] reddysant commented on #1211
This worked in Windows too!

[2018-10-07 13:39] Eithcowich commented on #304
Any update on this? I need to find out if an account is locked programmatically from nodejs. If there's any way to unlock the account synchronously even better.

[2018-10-07 14:35] Deelux commented on #1916
I got the same error. The weird things is all worked fine, untill suddenly it gave me that error.
Downgrading to 1.0.0-beta.35 gives me this error:
Couldn't decode uint256 from ABI: 0x

@yarrumretep how do we implement your fix?
I changed the proposed data in the index.js file.
The errror is still there.

Update:
I think this error has to do with MetaMask. I was running some tests and it turns out

[2018-10-07 21:22] theone3nu commented on #1121
This works fine on expo. But when i eject the code and run it in xcode i am getting the same error again in ios simulator. cannot find module crypto fro web3-eth-accounts. How to resolve this error.

[2018-10-08 01:00] josephg commented on #1178
If you reference a version range in package.json, npm can reuse the same `bn` install across all dependancies. Eg, `"bn.js"="^4.11.8"` (note the **^**) will use any version of bn from version 4.11.8 up to version 5. If you do it that way, the dependancy graph won't necessarily need multiple copies of bn.

[2018-10-08 07:00] theone3nu commented on #1985
Sane issue waiting for the solution.

[2018-10-08 16:04] MuhtasimTanmoy opened #1986 "Uncaught TypeError: Cannot read property 'node' of undefined."
Using `web3 1.0.0` with `infura`. Everything was working fine but after version update it doesn't anymore.

[2018-10-08 16:58] msflorez opened #1987 "WebSocket connection does not work - connection not open on send()"
Hi, I'm getting the next error `connection not open on send()`, my *geth* was started with `--ws --wsport 8546 --wsaddr="0.0.0.0" --wsorigins "*"` params in a `docker-compose.yml` file and my *web3* has the next lines

[code]

I'm using the next version of web3 and web3-provider-ws

[code]

Someone can help me please?

Thanks in advance.

[2018-10-08 18:36] masterial commented on #1916
1.0.0-beta.35 also solves it for me. Fix this.

[2018-10-08 18:37] 0xdantrinh commented on #1916
Bump

[2018-10-09 01:34] #1987 closed, assigned to nobody

[2018-10-09 05:23] nivida commented on #1986
@MuhtasimTanmoy Could you please add a code snippet?

[2018-10-09 05:25] nivida commented on #1984
Please ask this question on https://ethereum.stackexchange.com or in our gitter channel.

[2018-10-09 05:25] #1984 closed, assigned to nobody

[2018-10-09 05:28] #1978 closed, assigned to nobody

[2018-10-09 06:58] kaushik8888 opened #1988 "Unable to fetch Transaction History of ERC20 & ERC721 tokens for an ethereum address."

[2018-10-09 20:39] MuhtasimTanmoy commented on #1986
I am working with web3.js in meteor.Need to call some methods in a smart contract.
 `console.log(web3.version);`
gives 1.0.0-beta.36.
Any call to smart contract giving this error.
[code]
Also this undefined node points to

        `_this._userAgent = "Mozilla/5.0 (" + os.type() + " " + os.arch() + ") node.js/" + process.versions.node + " v8/" + process.versions.v8;`
in module.js

Was working fine

[2018-10-10 04:25] brianbwong opened #1992 "eth_signTypedData is not injective within type"
A key goal of EIP 712 is to create an injective hash for typed data structures. The current implementation of `eth_signTypedData` doesn't satisfy this property. For example, suppose the struct contains two string values. Part of the hashing process involves concatenating the raw string values and then hashing the result (as opposed to hashing both string values individually and then concatenating,

[2018-10-10 08:53] princesinha19 opened #1993 "web3.eth.subscribe returns null with ganache (TestRPC)"
I am using web3 version:- web3.js 1.0.0-beta.36
Ganache cli version :- Ganache CLI v6.1.5 (ganache-core: 2.1.4)

I tried to run web3.eth.subscribe but it's returns null with every new transaction. I have tried pending transaction,logs and newBlockHeaders.

All method return nulls.

I am using subscribe for getting latest transaction of particular account. Please let me know, If there is another me

[2018-10-10 13:36] nicolashardy commented on #1859
Same error.

[2018-10-10 13:41] nachomazzara commented on #924
@rstormsf  You can do

[code]

[2018-10-10 13:47] rafialhamd commented on #1916
Had the *same error* with version 1.0.
But, in my case I'm not dealing with events... but, calling a getter method that would return an int value which is zero ('0').

**Rinkeby testnet:**

[code]

Switched to version _web3.js 1.0.0-beta.35_.
But, this time the error is different:

Any idea?

[2018-10-10 16:50] doorisys opened #1994 "web3.js does not diplay getTransactionReceipt()'s topics array detail in logs field"
In Geth's javascript console getTransactionReceipt call displays whole details of logs.
And web3j(java implementation) does the same result.
But web3.js displays topics array as merely [Array].

logs:
   [ { address: '0x809826cceab68c387726af962713b64cb5cb3cca',
       blockHash: '0x9d24b8def303f28d584ab27cb83cfc46005f8b049b48317545851993e5a60f38',
       blockNumber: 6489944,
       data: '0x0000

[2018-10-10 16:59] Veniamin commented on #1916
I had error "Error: Couldn't decode from ABI: 0x." when call get request with wrong contract address

[2018-10-10 17:13] rafialhamd commented on #1916
@Veniamin _Thank You!_

**You made my day :-)**

I was using 'account address', instead of 'contract address' :-P

[2018-10-10 18:21] ruzpuz commented on #1869
@VishalDalve any solution?

[2018-10-10 23:16] elie222 opened #1995 "When will web3 1.0 no longer be in beta?"
Seems like it's been in its current beta state for a very long time.

[2018-10-11 02:14] khiemkino commented on #1985
Same issue here

[2018-10-11 13:32] robertdavid010 commented on #1333
Hello all, have been working on this issue also for a while. Web3 is working in the Meteor client, but I have seen several open questions on SO relating to server side issues with Web3 in Meteor. [I've collated them in a new SO](https://ethereum.stackexchange.com/questions/60335/web3-empty-object-server-side-in-meteor) . As far as I can tell, it seems like an unintentional package dependency recur

[2018-10-11 17:50] AleG94 opened #1996 "Events are not working in 0.20.x (requestsmanager is undefined)"
This simple code is not working in 0.20.7 and also in 0.20.4 (only 2 that I tested).

[code]

This gives:

[code]

[2018-10-12 08:25] justinkchen commented on #1920
Maybe it is fixed in ethers.js 4.0.5? web3 beta.36 is still on ethers.js 4.0.1-beta.1

[2018-10-12 09:42] robertdavid010 commented on #1333
Update: @fedecryto  @nivida  @frozeman Having isolated the fact that there is a dependency recursive loop that is preventing web3 from being imported, I have tested removing most of the Meteor npm package dependencies from the core of the framework using `meteor npm uninstall --save meteor-node-stubs`. This removes most of the functionality of the framework for the client/server connection as it w

[2018-10-12 20:46] wjmelements commented on #966
I have seen this after `npm audit fix` which downgraded my web3 to the [deprecated](https://www.npmjs.com/package/web3/v/1.0.0-beta2) 1.0.0-beta2. The fix was to return to the non-broken version.

[2018-10-13 05:43] VireoLLP opened #1997 "Issue with utils/toTwosComplement"
Hi Guys,

Just to specify that in the following function (available with the current web3 package):
`var toTwosComplement = function (number) {`
`    var bigNumber = toBigNumber(number).round();`
`    if (bigNumber.lessThan(0)) {`
`        return new BigNumber("ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff",
16).plus(bigNumber).plus(1);`
`    }`
`    return bigNumber;`
`};`

the

[2018-10-13 21:47] sanaterrae commented on #1646
added some other details for same issue found here at https://github.com/INFURA/infura/issues/140

[2018-10-14 00:06] 10d9e commented on #1279
Initializing a variable with getTransactionCount() and incrementing whenever I send a raw transaction seems to resolve this issue for me.
[code]

[2018-10-15 06:23] little-shippy opened #1998 "Incorrect error from invalid private key for signTransaction"
Hey guys,

I was running into an issue where I was getting an insufficient funds error when trying to sign a transaction. I found that this is a fairly common issue on the forums and it can be caused by having a private key that doesn't start with a 0x.

There is a simple solution to this in the packages/web3-eth-accounts/src/index.js file on line 145:
[code]
https://github.com/ethereum/web3.js/bl

[2018-10-15 10:16] robertdavid010 commented on #1333
Updated my [SO](https://ethereum.stackexchange.com/questions/60335/web3-empty-object-server-side-in-meteor) with an answer which describes the 'workaround' to get Web3 working on the Meteor server.

**NOTE:** This relates to Web3 1.0

[2018-10-15 14:39] eggy-eth opened #1999 "Return a receipt on reverting transactions"
Right now Web3 does not return a receipt if you send a transaction to a contract. It will only throw and event and fails to even fire a transactionHash event which can be calculated before actually sending the transaction.

It is important to get the receipts of these transactions - especially to get the transactionHash - so these transactions can be debugged.

[2018-10-15 18:53] therightstuff commented on #1998
@little-shippy  i've been struggling this for weeks and couldn't find a solution anywhere - thank you!!!

[2018-10-16 00:06] therightstuff commented on #1998
sadly, i've finally had a chance to try this and i'm still getting a nonsensical insufficient funds error (the exact same unsigned transaction works just fine with sendTransaction).

using the develop branch and ethereumjs-tx-1.3.3.min.js:
[code]

[2018-10-17 04:42] thekevinbrown commented on #1905
I'm having the same issue when using Truffle and Ganache. I fast forward time to simulate things happening in the future, and then hit this error.

[2018-10-17 04:48] thekevinbrown commented on #1215
Also hitting this issue when using Truffle beta (uses Web3 1.0) with Ganache, then fast forwarding into the future.

This is the timestamp that breaks running my tests: `0x858d5aeaef564eacc`

[2018-10-17 09:39] MyEtherAuthority commented on #1412
Thanks for the comments. So, how about, converting 1e+21 (amount in wei) back to 1000?
web3.utils.fromWei(), it says the same error. So, any good way to do that?
Thanks again.

[2018-10-17 09:51] MyEtherAuthority commented on #1412
Okey, I got it working after converting it into BN() as following:

web3.utils.fromWei(web3.utils.toBN(updatedBalance).toString() )

//which results as: 1000

[2018-10-17 16:08] shwetaudacious opened #2002 "npm install web3js error on windows10"
I am trying to install web3 using command

`npm install --save web3@1.0.0-beta.26`  However I am getting error-
`verbose node v8.9.1
verbose npm  v4.6.1
 error code 128
 error Command failed: git -c core.longpaths=true rev-list -n1 browserifyCompatible
 error fatal: ambiguous argument 'browserifyCompatible': unknown revision or path not in the working tree.
 error Use '--' to separate paths from r

[2018-10-17 21:26] yxliang01 commented on #1850
There is no `disconnect` for ipc provider in https://github.com/ethereum/web3.js/pull/1881/files though. We would need one - a TODO.

[2018-10-17 21:31] yxliang01 commented on #1850
Okay never mind. I have just done it - not a TODO anymore.

[2018-10-18 07:48] spm32 commented on #1969
Hey @sUndar-Balaji feel free to give it a shot :)

[2018-10-18 08:05] #1960 closed, assigned to nobody

[2018-10-18 09:12] PinnacleOne opened #2004 "web3.eth.estimateGas - Transaction execution error"
**web3 version 1.0.0-beta.36**
I'm using Kovan network and infura provider.

Here is my code:

[code]

Then execution of this code throw error:

What is inserting if I replace "to" address to something non ERC20 token contract the issue is gone and never appear. It only throw error if set in "to" address of ERC20 contract.

[2018-10-18 10:36] sawyna commented on #1850
Oh yes! I missed it!

[2018-10-18 12:23] evbots commented on #1969
I'll post further details for more clarity and to help recreate this issue. My server-side code is a [serverless](https://github.com/serverless) project using the serverless-webpack plugin. Here are my devDependencies...
[code]
My client-side code is a create-react-app generated codebase, which uses webpack under the hood.

My CI job uses the CircleCI docker image `circleci/node:8.11` as the build

[2018-10-18 12:52] sUndar-Balaji commented on #1969
you have to set "npm config set unsafe-perm true"

or you have to change the ownership of the location where you are installing the npm packages

like this "sudo chown -R $USER:$USER /opt/"

Pls try these options and let me know

[2018-10-18 13:31] Keith-CY opened #2005 "web3.eth.accounts.privateKeyToAccount generates different accounts from the same privatekey"
`web3.eth.accounts.privateKeyToAccount` treats '0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee' and 'eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee' as different private keys.

It's a bug in [eth-lib](https://github.com/MaiaVictor/eth-lib/), would you please add a patch to Account Module until the [pr](https://github.com/MaiaVictor/eth-lib/pull/9) is merged?

[2018-10-18 15:12] xpepermint commented on #1648
This problem relates to `ganache.provider()`. Here's a quick fix:
[code]

[2018-10-18 20:19] pasiphae00 commented on #1646
I'm having the same issue (using Kovan WS endpoint). It's extremely sporatic... About 25% of the time it works fine, and the other 75% it throws the `CONNECTION ERROR`.

I'll run my program once and it will fail, and then again with no changes and it will fail.

Hard to see if this is an issue with Infura, or somewhere lower in the stack like the WS driver.

[2018-10-18 20:33] shumailxyz commented on #1920
Stuck at same issue. Was working fine on beta.34.
@eyezick can confirm too that passing a `BigNumber` object directly also breaks.

Is it related to https://github.com/ethereum/web3.js/issues/1936#issuecomment-421032814 ?
Somehow passing hex works for me too.

Tagging @nivida & @frozeman for input over this.

[2018-10-19 18:39] sUndar-Balaji commented on #1969
I have setup a react project using create-react-app and CI for that in circle CI. I have installed web3 in the react project and imported the same in the project.

It's able to successfully build in local and also in circle CI

My circle CI configurations are

Environment - Linux

Node Js version - 8.11

web3 version - 1.0.0-beta.35

You can fork this repo and create a project in circle CI.

[web3

[2018-10-19 19:24] zachlysobey commented on #1658
@krzkaczor that *is* a syntax supported by TypeScript

https://www.typescriptlang.org/docs/handbook/modules.html#export--and-import--require

That said, I'm not sure that it's necessary...

[2018-10-19 19:40] evbots commented on #1969
@sUndar-Balaji I just tried setting `npm config set unsafe-perm true` in my build and I am still getting an error at runtime. To clarify, my build passes as well. It's at runtime where I get an error `Module not found`.

[2018-10-19 19:44] sUndar-Balaji commented on #1969
@evbots could you pls mention while doing which operation in web3 you are getting the error? And could you share your config.yml file?

[2018-10-19 19:59] evbots commented on #1969
Sure. The code fails before I can perform an operation. It fails on import. The line it fails on:
`import Web3 from 'web3';`

I'm currently working with my serverless backend project, not my front-end project. I pulled web3 out of that. My serverless project config.yml file is (just the jobs portion):
[code]

With your example repo, have you tried running the react app after it builds? You should

[2018-10-19 20:05] sUndar-Balaji commented on #1969
In the react app i have created using create-react-app, actually imports the web3 and does console.log(web3). Then i ran the app. I can be able to see the web3 constructor function in browser console and exported the same web3 to window object in the app's code itself.

Are you getting this error in serverless backend app or in both front end and backend?

[2018-10-20 12:02] sUndar-Balaji commented on #1969
@evbots the issue is because the version you are using. It's a beta version. I did face the similar kind of issue while running CI on the circle CI for the serverless project which uses serverless-webpack plugin
to pack files.

What i did was changing from beta to stable version(like 0.20.7 most recently pushed stable version according to npm), and it worked.

Pls try this out and let me know

[2018-10-20 12:57] krzkaczor commented on #1658
@zachlysobey I think its somehow deprecated, for example its not supported by babel: https://github.com/babel/babel/issues/7062 This is why I really avoid it.
EDIT: okay i see that i posted the same link before xD

[2018-10-20 13:57] evbots commented on #1969
@sUndar-Balaji Next week I might be able to find some time to recreate this issue in the react-app, but the problem was the exact same as the nodejs run project when I first created this issue. So on my todo list is to (1) try and change directory permissions via `chown`, and (2) recreate the front-end module import error.

As to your comment about the web3 version, this error is specific to `1.0.

[2018-10-20 14:02] HP213 commented on #966
npm install web3@1.0.0-beta.26, just go for it

[2018-10-20 14:11] sUndar-Balaji commented on #1969
@evbots the problem only occurs when we use web3(beta)  with serverless with serverless-webpack plugin, on circle ci's Linux build environment.

So the chances of ppl getting this issue might be very little. Due to which ppl may not have raised the issue.

Still I'll look for more ways to find the solution.

[2018-10-20 14:35] evbots commented on #1969
@sUndar-Balaji

Ok, I decided to go ahead and recreate the issue with my react-app right now. I added web3.js to package.json using `npm install web3@1.0.0-beta.35 --save --save-exact`, which results in `"web3": "1.0.0-beta.35"` added to dependencies. My build config file is the following:
[code]
Web3 is imported into App.js with the following line. `import Web3 from 'web3';`.

My build fails on t

[2018-10-20 14:39] sUndar-Balaji commented on #1969
@evbots could you share your repo details. So I'll fork that repo to fix the issue

[2018-10-20 14:50] evbots commented on #1969
@sUndar-Balaji yes, here you go: https://github.com/evbots/web3-webpack-build

just created it

[2018-10-20 14:55] sUndar-Balaji commented on #1969
@evbots https://github.com/ethereum/web3.js/issues/1105. An issue with babel, webpack and web3 FYI.
This one was in 1.0.0-beta.23

[2018-10-20 15:06] evbots commented on #1969
@sUndar-Balaji yes, i remember reading that issue when I was first battling this. I never was able to use the solution proposed at the bottom of the issue. I'm not sure if the default create-react-app webpack configuration transpiles node_modules. but from some cursory reading it doesn't seem like it does.

[2018-10-20 15:30] levino commented on #1658
We are not talking about Babel but typescript. You can use "synthetic default exports" and it will work in all kinds of ways. But the correct way to use this package in a typescript project is as described.

Anyhow this is off topic. If you still feel some pain from this, please create a new issue with proper description.

[2018-10-20 16:29] sUndar-Balaji commented on #1969
@evbots fixed the issue by using the following circle ci config.

Changed the npm installation directory's permission to the current user.
Set the unsafe-perm to true

    working_directory: ~/code
    steps:
      - checkout

      - run: |
          sudo apt install python-dev python-pip
          sudo pip install awscli

      - run: sudo chown -R $(whoami) $(npm config get prefix)/{lib/node_mo

[2018-10-20 16:33] evbots commented on #1969
@sUndar-Balaji very nice! I will have time to apply your changes and verify tomorrow. :-D

[2018-10-21 16:33] fulldecent opened #2011 "Use CDN with SRI"
Presently the README recommends using CDN like this:

    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>

Source: https://github.com/ethereum/web3.js/blob/develop/README.md

Please switch to a better CDN provider that providers stable resources and integrity hashes (SRI). This will remove a current vulnerability in the system and it will improve resource cach

[2018-10-21 20:11] MartinKolarik commented on #2011
No need to switch the provider, just use this if you want SRI: `<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js" integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script>` (from https://www.jsdelivr.com/package/gh/ethereum/web3.js?path=dist).

@fulldecent note that this link uses a different package (or a different so

[2018-10-21 21:14] mryellow commented on #1916
Experiencing this with `1.0.0-beta.36` when reading Zepplin's new `Transfer` event which now has all parameters set to `indexed`.

[2018-10-21 22:18] takahser commented on #1986
@MuhtasimTanmoy which version are you using? I got the same error on ^1.0.0-beta.36.
Do you know which version it used to work with?

[2018-10-21 22:24] fulldecent commented on #2011
Thank you, posted in pull request #2012

[2018-10-21 22:29] MartinKolarik commented on #2011
In my experience many people (and even more project maintainers) prefer the versionless links though because they don't become outdated (or don't have to be updated every time). A good compromise might be keeping the current link without SRI and adding a note like "or get a link with SRI enabled here", linking to https://www.jsdelivr.com/package/gh/ethereum/web3.js?path=dist

[2018-10-21 22:35] fulldecent commented on #2011
The programmers become irrelevant when the customers leave. Security first!

[2018-10-21 22:58] takahser commented on #1986
So I tested some versions:
- 1.0.0-beta.36 => fails
- 1.0.0-beta.35 => fails
- **1.0.0-beta.34 => works**

So I rolled back to 1.0.0-beta.34 for now...
Guys, seriously, this version is half a year old. Why is it not working with the two most recent versions, why has it not been fixed yet? 🙄Sending transactions is the most basic thing you want to do on a cryptocurrency network, isn't it?

btw, this

[2018-10-21 23:03] takahser commented on #1793
I had the same error as in #1986 when using `signTransaction`. Rolling back to `"web3": "1.0.0-beta.34"` fixed it for me.

[2018-10-21 23:03] takahser commented on #1793
I had the same error as in #1986 when using `signTransaction`. Rolling back to `"web3": "1.0.0-beta.34"` fixed it for me.

[2018-10-21 23:05] takahser commented on #1793
I had the same error as in #1986 when using `signTransaction`. Rolling back to `"web3": "1.0.0-beta.34"` fixed it for me.

[2018-10-21 23:13] fulldecent opened #2013 "Include minified file in npm release"
Currently, releases to npm include a single index.js file. Alternatively, or additionally, there should be an index.min.js file. This is a security issue.

# Security impact

CDN providers like jsdelivr are finding the not-compressed files as suboptimal and they are using their own proprietary, non-repeatable processes to generate their the index.min.js that they distribute to users.

For business

[2018-10-21 23:20] fulldecent opened #2014 "Include minified in npm releases"
Currently, npm releases include only index.js. Additionally, or alternatively, they should include a minified file. This has security implications

# Security impact

CDNs like JSDelivr see non-minified files as suboptimal and they transpile them into minified versions before delivery. This is a proprietary and non-repeatable process.

For business reasons, JSDeliver will not support SRI for trans

[2018-10-21 23:25] fulldecent opened #2015 "Include minified assets in npm release"
Currently, npm releases include only index.js. Additionally, or alternatively, they should include a minified file. This has security implications

# Security impact

CDNs like JSDelivr see non-minified files as suboptimal and they transpile them into minified versions before delivery. This is a proprietary and non-repeatable process.

For business reasons, JSDeliver will not support SRI for trans

[2018-10-21 23:26] fulldecent commented on #2015
Maybe this is duplicate or maybe GitHub is showing me errors for no reason today.

[2018-10-21 23:27] fulldecent commented on #2015
Yup GitHub is down https://status.github.com/messages

[2018-10-22 01:14] selvatica commented on #1869
The solution: use the private key without the "0x" prefix in the environment..
then it works..

[2018-10-22 01:15] selvatica commented on #1869
The solution: use the private key without the "0x" prefix in the environment.. then it works..

[2018-10-22 01:16] selvatica commented on #1869
The solution: use the private key without the "0x" prefix in the environment..
then it works..

[2018-10-22 01:57] hedanto commented on #1986
@MuhtasimTanmoy I got the same error on ^1.0.0-beta.36. Do you find a solution now？

[2018-10-22 01:58] hedanto commented on #1986
@MuhtasimTanmoy I got the same error on ^1.0.0-beta.36. Do you find a solution now？

[2018-10-22 01:58] hedanto commented on #1986
@MuhtasimTanmoy I got the same error on ^1.0.0-beta.36. Do you find a solution now？

[2018-10-22 02:30] evbots commented on #1969
@sUndar-Balaji I applied your changes to my repo and the build passed. Then, I reset the package-lock using an `npm install`, and the build no longer passes. I looked at the package-lock diff that you checked into your fork, and I noticed all the dependency versions are locked. How did you generate that package-lock? It seems to be a factor in making the build pass, but I'm not sure why it does.

[2018-10-22 02:55] sUndar-Balaji commented on #1969
@evbots While doing npm install from local machine I have created that package-lock file. It will be automatically created by npm. If you have issues, try to execute the chown and unsafe-perm commands from your local machine and generate package-lock file, then try

[2018-10-22 04:21] khiemkino commented on #1985
Anyone get news from this issue

[2018-10-22 09:06] takahser commented on #1793
I had the same error as in #1986 when using `signTransaction`. Rolling back to `"web3": "1.0.0-beta.34"` fixed it for me.

[2018-10-22 13:14] heypran commented on #1260
I am also using getPastEvents with "web3": "^1.0.0-beta.36", Not able to get all the events

[2018-10-22 15:40] sUndar-Balaji commented on #1969
@evbots which version of npm are you using? Mine is 5.6.0. There are issues in npm, which mentions
that version 6.x has issues, which will do the "exact to range" in packages and wont do the locking.
Pls refer this https://github.com/npm/npm/issues/20891 https://github.com/npm/npm/issues/20434

[2018-10-22 16:16] sUndar-Balaji commented on #1969
@evbots try to remove node_modules folder, execute the chown and unsafe-perm commands from your local machine and generate package-lock file by doing npm install in local. Mostly it'll resolve your issue.

conflict between 5.x and 6.x isn't gonna affect this case that much.

[2018-10-22 23:57] fulldecent commented on #2015
Duplicate of https://github.com/ethereum/web3.js/issues/2013

[2018-10-22 23:57] #2015 closed, assigned to nobody

[2018-10-22 23:57] fulldecent commented on #2014
Duplicate of https://github.com/ethereum/web3.js/issues/2013

[2018-10-22 23:57] #2014 closed, assigned to nobody

[2018-10-23 03:50] sUndar-Balaji commented on #1969
@evbots i have fixed your package-lock.json issue by executing the below command in my
local machine.

`sudo chown -R $(whoami) $(npm config get prefix)/{lib/node_modules,bin,share}`

then you can run

` npm install
`

It will properly generate package-lock.json file

`npm run build`

this will create the build.Then commit the created package-lock.json file to your repo.

Now your build will pass

[2018-10-23 04:27] Runskey commented on #1763
I got the same issue under Geth/POA private chain.

I referred to this post: https://github.com/ethereum/web3.js/issues/1102, and got the issue resolved by downgrading web3js from 1.0.0-beta.36 to 1.0.0-beta.34.

[2018-10-23 08:18] tomteman commented on #951
@klivin we've added support to promiEvents on Portis, so it should work fine now. Update your SDK to 1.2.14 to see it in action 😃

[2018-10-23 09:19] robertdavid010 commented on #1198
I was experiencing a similar problem recently, but in my case the web3 object was empty `{}` on the Meteor server. I'll leave this link here for anyone coming across this issue.

[SO: web3-empty-object-server-side-in-meteor](https://ethereum.stackexchange.com/questions/60335/web3-empty-object-server-side-in-meteor/60595#60595)

[2018-10-23 15:28] evbots commented on #1969
@sUndar-Balaji can I ask why you are editing the owner permissions for the global `node_modules/` directory? My understanding was that all npm packages specified in package.json are installed locally (in the current project directory) unless otherwise specified with the -g flag. But maybe I'm misunderstanding how `npm install` works.

I generated `package-lock.json` under all of the following npm

[2018-10-23 16:01] evbots commented on #1969
I think this issue might be related to #1914

[2018-10-23 16:40] kikoncuo commented on #1707
Any updates?
That'd be nice, right now, the current message is not helpful at all.

[2018-10-23 17:02] evbots commented on #1914
@michaelsbradleyjr

I have a vanilla install of create-react-app, and tried adding a specific reference to `"web3": "1.0.0-beta.35"` in dependencies. When i generate a `package-lock.json` via `npm install` under npm versions 5.10.0, 6.2.0, 6.4.1, i get the following error in my build:
[code]
Alternatively, generating a `package-lock.json` under npm version 5.6.0, the build passes. It also builds f

[2018-10-23 18:14] liamzebedee commented on #1446
Hey all - I've implemented a helper function [here](https://github.com/liamzebedee/awesome-solidity-patterns/blob/master/web3.md) that is a promise-oriented API:

[code]

Works with `call` and `send`.

[2018-10-23 19:21] 0xferit commented on #1916
Using 1.0.0-beta36, having this issue, [this fix](https://github.com/ethereum/web3.js/issues/1916#issuecomment-427398031) works.

[2018-10-24 02:36] Jason-Soo commented on #2005
Hi there, hopefully this helps
https://dev.to/yukkurisinai/big-trap-of-web3js-ffi

[2018-10-24 03:03] Keith-CY commented on #2005
@Jason-Soo Thanks, that's almost what I PRed in eth-lib.

[2018-10-24 03:09] Jason-Soo commented on #2005
@Keith-CY  I recently tried using ethers.js not as big community but its quite simple as well do check them out and I used this very simple amateur code to solve it haha

    if (key.substring(0, 2) !== '0x') {
        key = '0x' + key;  //checking
    }

[2018-10-24 04:52] BenKnigge commented on #1194
I'm likely going to be implementing something for my own personal use sometime over the next day or two.

My plane is to add another api endpoint based on GetBlockByNumber in the file

https://github.com/ethereum/go-ethereum/blob/master/internal/ethapi/api.go

I was thinking of calling it GetBlocksByRange with the following signature.

GetBlocksByRange(ctx context.Context, fromBlockNr rpc.BlockNum

[2018-10-24 06:34] medied opened #2017 "Correct way to send erc20 token with web3?"
Couple of similar issues are #1775 and #1151, but one difference is that I'm using web3 v0.20.7. I was initially going off of [human-standard-token-abi](https://github.com/danfinlay/human-standard-token-abi) docs (reading calls such as `balanceOf()` are working fine), then tried with `sendTransaction()` directly. I'm getting the same error in both approaches though:

`Failed to load resource: the

[2018-10-24 07:40] studioTeaTwo commented on #1916
I'm using 1.0.0-beta36 and similar error occured.
But in my case [this fix](https://github.com/ethereum/web3.js/issues/1916#issuecomment-427398031) didn't work.

summary
1. build solidity that imports open-zeppelin by truffle.
2. the built files have the abi whose outputs defines name is empty.
3. when doing `contract.methods.[function].call()` from web app, `formatOutput` in `Method.prototype.bui

[2018-10-24 07:43] elanpang commented on #1985
not yet, I tried to modify source code, but still not work

[2018-10-24 08:13] abhinav2196 commented on #1501
I am facing the same problem but read somewhere that if we want to use it same way to simply call contract functions even if they're state changing, you have to sign each transaction before sending it with your private key. Allthough may be my node code is having some problem, I find the concept valid. I'm also looking or a way to add private key to our keychain and then start transacting simply.

[2018-10-24 10:28] vibern0 commented on #2017
Hi,
send from one account to another? Are you using metamask extension?

I've never done this kind of thing the way you are doing. I always have an ERC20 contract that holds balances and has a transfer method. Just call that method. Done.
In the end, if you follow the ERC20 standard you have those methods https://github.com/ethereum/EIPs/issues/20

Btw, I'm using web3.js and open-zeppelin for a wh

[2018-10-24 11:38] rajmantechnology opened #2018 "Pdf download functionality in node js"
We are using this code to download the pdf file but we are getting problem. i want when i hit this route then pdf file will download.
But when i hit this api in postman and click on the download button then pdf file download. So i wnat to download the pdf file with data.

router.get('/demo',function (req,res){
async function getinvoicelist(){

 var chunks = [];
 var options = { method: 'GET',
 url

[2018-10-24 12:53] cosander commented on #1102
@NicolaOrritos: Thanks for the tip, downgrading to 1.0.0-beta.34 worked for me (also with private chain with PoA and other contracts could be deployed though).
Hope this is going to be fixed sometime soon.

[2018-10-24 12:56] cdolek commented on #2018
@rajmantechnology maybe you aimed for another repo, this is not quite the right place to post such a question.

You can go to https://www.stackoverflow, describe your problem [better](https://stackoverflow.com/help/how-to-ask) and get some answers.

[2018-10-24 13:00] rajmantechnology commented on #2018
cdolek

ok.....

[2018-10-24 13:08] wtzb commented on #1666
I'm also rather curious as to why BN.js was chosen, as bignumber.js has support for handy features such as decimals, while BN.js does not. The inconsistent error message stating that a BigNumber objects needs to be passed has made me spend more time than I'm willing to admit on debugging.

[2018-10-24 13:09] rajmantechnology commented on #2018
cdol

[2018-10-24 13:10] rajmantechnology commented on #2018
ok.
Now you can answer this on stack over flow . i have already mention the url:
https://stackoverflow.com/questions/52969856/pdf-download-functionality-in-node-js

[2018-10-24 13:53] cdolek commented on #2018
Please close this issue as this is not related to web3.js. Thank you.

[2018-10-24 18:52] medied commented on #2017
Hey @obernardovieira, yea just from one account to another. I have Metamask available but I initially thought it wasn't going to be necessary precisely because of the standard erc20 `transfer()` method you mention. As in something like below outlined [here](https://github.com/danfinlay/human-standard-token-abi):

[code]

What version of web3 are you using? Token I'm testing with is with Zeppelin t

[2018-10-24 19:14] arunkuduva opened #2019 "need help web3.js to read return value of smart contract"
1) I need help to locate web3.js function that can send parameters to an existing smart contract function that changes the state of the blockchain, In the smart contract function I am returning a return value which I need to capture using web3.js
For example the below node file calls web3.eth.sendRawTransaction but it return , it gets only the transaction hash and not the return value of the funct

[2018-10-25 06:27] skfarhat commented on #2019
1. A state-changing function (aka transaction) has to be mined before it can change the state of the blockchain, hence you cannot expect a return result from a function that will be mined asynchronously. Unless the intention is to block the entire DApp waiting for the transaction to be mined? 😮

2. Assuming you already have your `ContractInstance`:

[code]

[2018-10-25 10:07] NicolaOrritos commented on #1102
@cosander glad it helped.
In general I also hope the developers will make web3.js return proper messages when errors occur.

[2018-10-25 10:22] nivida commented on #1102
@NicolaOrritos I've planned to create more specific error messages. I had a look on the winston logger but I think I will implement a simple logger class by my self and improve the messages. If it makes you wonder what I'm working on right now then check out this PR https://github.com/ethereum/web3.js/pull/2000

[2018-10-25 12:57] vibern0 commented on #2017
web3-1.0.0-beta35
Does this example you posted, work ?

[2018-10-25 15:52] medied commented on #2017
No with that example I'm getting the `Invalid JSON RPC response: ""` error as well, starting to wonder if the web3 version is the issue (am using v0.20.7)

[2018-10-26 04:07] arunkuduva commented on #2019
Thanks for the reply . then , how will i get to know what is the return value of the state-changing function ?

[2018-10-26 18:38] rstormsf opened #2022 "Cannot get 2D array from view in web3.js"
[code]
in js
[code]

## Error:

[code]

[2018-10-26 18:50] jvluso opened #2023 "web3-core-requestmanager needs unsafe eval"
When using web3 in an extension, I am getting the error:

[code]

It is coming from the line
[code]
in the web3-core-requestmanager.

Is this the correct place to raise this issue? Does this need to be written this way, or can it be written to work in a safe eval environment?

[2018-10-26 19:13] adityataday commented on #1666
I agree with @wtzb  when I try values like web3.utils.toBN(0.01) it fails. There is a work around though, one can use bignumber.js do all the arithematic and then for web3 methods convert bignumber to string. What would indeed be better is if web3 directly supported bignumber.js.

[2018-10-27 07:46] jamesmorgan commented on #1969
I also get this very issue when trying to deploy google cloud functions which have web3 bundled.
[code]
tried with `web3`:
* 1.0.0-beta.34
* 1.0.0-beta.35
* 1.0.0-beta.36

All with no success.

* npm 6.4.1
* node 8.9.4

[2018-10-27 07:50] Mizumaki commented on #1379
@prashantprabhakar
I think your code to get events is wrong.

You should write like this.
[code]

Filter option should be in the option object.
https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#getpastevents

And in my web3 "^1.0.0-beta.35", filtering is working correctly.

[2018-10-27 08:10] jamesmorgan commented on #1969
I can confirm that I have tested rolled back `npm` to `5.5.0` and the build works - very odd! Hopefully we get this fixed 👍 thanks for the help

[2018-10-27 20:58] chmelva4 commented on #2022
I suppose the first piece of code is Solidity. This should work

[code]
Tested with truffle.

[2018-10-27 21:04] chmelva4 commented on #2019
You can use return value of non-constant functions only when it is returned to another contract but you cannot return value to off chain. If you need to return value from nonconstant function you need to use [events](https://solidity.readthedocs.io/en/v0.4.24/contracts.html#events).  Instead of returning the result you emit it in the event.

[2018-10-27 21:10] chmelva4 commented on #2002
Does the problem still persists? I tried it now and it worked for me. I have node v8.12.0 and npm v6.4.1.

[2018-10-28 08:22] 0xli commented on #874
check shh options of geth
geth --shh --rpc --rpcapi web3,eth,net,shh

[2018-10-28 13:19] SurgicalGoblin03 opened #2024 "im new to programming and im having this issue with installing web3.js"
deprecated tar.gz@1.0.7: ⚠️  WARNING ⚠️ tar.gz module has been deprecated and your application is vulnerable. Please use tar module instead: https://npmjs.com/tar
npm WARN deprecated fs-promise@2.0.3: Use mz or fs-extra^3.0 with Promise Support
npm ERR! code ENOGIT
npm ERR! Error while executing:
npm ERR! undefined ls-remote -h -t git://github.com/frozeman/WebSocket-Node.git
npm ERR!
npm ERR! unde

[2018-10-28 13:19] #2024 closed, assigned to nobody

[2018-10-28 14:53] adarshsrivastava11 commented on #963
`npm i web3@0.20.2`
This worked for me!

[2018-10-28 15:22] zhuza commented on #963
Yes, I tried again. Use: npm i web3@0.20.2
At first, wrong message:
npm WARN saveError ENOENT: no such file or directory, open '/Users/xiaobaozhu/package.json'
npm WARN enoent ENOENT: no such file or directory, open '/Users/xiaobaozhu/package.json'
I change 'package-lock.json' to 'package.json', the problem was solved.
It works.:
Xiaobaos-MacBook-Pro:~ xiaobaozhu$ npm ls web3
/Users/xiaobaozhu
└──

[2018-10-28 15:34] andremedeiros opened #2025 "Websocket provider halts on transaction"
When using the WebsocketProvider against the latest Geth (and other versions), web3.js seems to get stuck on the `then` handler for a transaction.

I can reliably replicate this with the latest beta, and have published a proof of concept [here](https://github.com/andremedeiros/web3js-stuck).

Let me know if there are any questions, or if there's anything I can do to help here!

cc. @iurimatias @em

[2018-10-28 19:03] kikoncuo commented on #1707
Quick update, it should work, we are missing the implementation on Geth and Parity, but ganache-cli client (>= 6.1.3) has it, you can test it with truffle v5.0.0

[2018-10-29 09:06] SirPhemmiey commented on #1070
If you are still facing the problem use `yarn add web3@^0.19.0`

[2018-10-29 09:19] cowkeys opened #2026 "how to clean web3js cache"
these days i found that i always fetch the old data with web3js

i have to logout the metamask or click the reset account button first, so that i can get the newest data.

so how to handle this kindof problem?

[2018-10-29 09:57] hevans90 commented on #1658
@Levino thank you for your hard work on these typings & your explanations of how to get them working.

Does anyone know if there are any plans to ship these working typings as a part of the web3 package?

[2018-10-29 13:04] levino commented on #1658
There are no plans because that would be an anti pattern. Please start reading from the top, including all links.

[2018-10-29 14:49] chmelva4 commented on #1560
@shahzadthathal I think you are using the function incorrectly. According to [docs](https://web3js.readthedocs.io/en/1.0/web3-eth-accounts.html#create) the function does not support callback.

@vindberg the same happened to me when I forgot to prefix the message with the signature prefix "\x19Ethereum Signed Message:\n" + msg.length + msg. You should either do that or omit the last param and it ha

[2018-10-29 18:15] NEUMAORG opened #2027 "-----------"
deleted

[2018-10-30 07:21] vindberg commented on #1560
Yes, damn prefix :) Thanks for getting back.

[2018-10-30 12:43] shivamsinha15 commented on #1100
+1

[2018-10-30 12:51] nivida commented on #1100
This issue will be solved in the next build 💪🏻

[2018-10-30 16:39] DavidVotrubec commented on #1066
I am still facing the same issue, even after reinstalling windows-build-tools and python 2.7. This npm hell makes me feel really miserable.

[code]

[2018-10-30 21:27] denzuko commented on #1070
yarn add web3@beta worked and so did `yarn add  web3@1.0.0-beta2`

[2018-10-30 21:53] john-osullivan commented on #1108
Has anything ever happened with this?

[2018-10-31 04:43] ghost opened #2028 "After deleting my project folder, the dependency scrypt recreated over and over again"
the same issue: https://github.com/barrysteyn/node-scrypt/issues/182#issue-366673140

OS: windows10
node version: 8.11.3
"web3": "^1.0.0-beta.36"

[2018-10-31 12:07] f0xx0f commented on #2022
@chmelva4, thanks for the answer! I checked your code, but unfortunately I got the same result.

[code]

[2018-10-31 12:59] chmelva4 commented on #2022
Thats because you are most likely converting the number incorrectly after getting it from blockchain.
I did it like this and it works.

`it('should return 10', async () => {
    var test2d = await Test2d.deployed();
    var x = await test2d.return2d()
    console.log(x);
    assert.isTrue(x[0][0].toNumber() == 10);
  })`

You should take a look in debugger at what you are passing as arguments to t

[2018-10-31 13:00] nivida commented on #2023
This issue is already solved and will be released with the next build. Because of that, I'll close this issue.

[2018-10-31 13:00] #2023 closed, assigned to nobody

[2018-10-31 13:05] #2018 closed, assigned to nobody

[2018-10-31 13:24] nivida commented on #1995
Yes, it is because we have to do some improvements before we can call it a stable version. I've done a bigger refactoring of the codebase in the PR https://github.com/ethereum/web3.js/pull/2000 and this will solve many issues we currently have with web3. Unfortunately, I can't say when exactly it will be out of the beta state but it will be as soon as possible.

[2018-10-31 13:24] #1995 closed, assigned to nobody

[2018-10-31 13:29] nivida commented on #1988
Please provide further information like a code snippet or something else.

[2018-10-31 13:31] nivida commented on #1983
This error is not a web3 related issue and because of that, I'll close this issue.

[2018-10-31 13:31] #1983 closed, assigned to nobody

[2018-10-31 13:33] #1979 closed, assigned to nobody

[2018-10-31 13:34] #1976 closed, assigned to nobody

[2018-10-31 13:35] #1974 closed, assigned to nobody

[2018-10-31 13:43] nivida commented on #1969
This issue will be solved after the PR https://github.com/ethereum/web3.js/pull/2000 is merged into the 1.0 branch.

[2018-10-31 13:43] #1969 closed, assigned to nobody

[2018-10-31 13:47] nivida commented on #1963
Please ask these questions on stackoverflow or in our gitter channel.

[2018-10-31 13:47] #1963 closed, assigned to nobody

[2018-10-31 13:48] #1959 closed, assigned to nobody

[2018-10-31 13:53] nivida commented on #1951
Please ask this question on stackoverflow or in our gitter channel.

[2018-10-31 13:53] #1951 closed, assigned to nobody

[2018-10-31 13:55] nivida commented on #1950
I've already fixed the Buffer usage in the PR https://github.com/ethereum/web3.js/pull/2000. 🙈

[2018-10-31 13:55] #1950 closed, assigned to nobody

[2018-10-31 13:58] #1945 closed, assigned to nobody

[2018-10-31 14:00] nivida commented on #1944
bn.js is the package who is used in web3.
I've cleaned that up in the ethereumProvider branch.

[2018-10-31 14:00] #1944 closed, assigned to nobody

[2018-10-31 14:02] nivida commented on #1942
This will be improved as soon as possible. I will implement a logger class and move them to the web3-core package or I will create a new package for the logger and error types.

[2018-10-31 14:02] #1942 closed, assigned to nobody

[2018-10-31 14:09] nivida commented on #1935
The problem is that you're using the batch request the wrong way.

Try it with:
[code]

[2018-10-31 14:11] nivida commented on #1932
Please ask this question on stackoverflow or in our gitter channel.

[2018-10-31 14:11] #1932 closed, assigned to nobody

[2018-10-31 14:14] nivida commented on #1930
I'll close this issue because the creator does not respond.

[2018-10-31 14:14] #1930 closed, assigned to nobody

[2018-10-31 14:17] nivida commented on #1926
Thanks for opening this issue. This is already solved in PR https://github.com/ethereum/web3.js/pull/2000 and should be released within the next build.

[2018-10-31 14:17] #1926 closed, assigned to nobody

[2018-10-31 14:20] #1921 closed, assigned to nobody

[2018-10-31 14:23] #1915 closed, assigned to nobody

[2018-10-31 14:23] nivida commented on #1914
This should be solved in the next build.

[2018-10-31 14:25] nivida commented on #1909
Please provide further information about your issue. (code snippet etc.)

[2018-10-31 22:09] johnpm-12 commented on #1986
I believe the problem is that web3 is not being bundled properly and the client is trying to use xhr2-cookies package instead of the browser's built-in XMLHttpRequest. xhr2-cookies package is for Node.js only, so it throws when process.versions.node is called, which doesn't exist in browsers.

0.20.7 uses xhr2-cookies, while 0.20.6 uses xhr2 package instead which gets bundled properly for the brow

[2018-11-01 00:56] BennyTheDev commented on #1903
Any progress on this? This is a clear bug that leads to security issues (besides confusion for dapp devs)

[2018-11-01 03:00] alexpee commented on #1920
Having the same issue, it works fine for Ganache but not working for Ropsten with Infura

[2018-11-01 09:35] f0xx0f commented on #2022
@chmelva4 I get the error  but I don't make the console.log. The error is output after `await contractX.return2d()`.  What version of truffle do you have installed?

[2018-11-01 09:39] chmelva4 commented on #2022
v4.1.14

[2018-11-01 09:46] rstormsf commented on #2022
@chmelva4 exactly! it doesn't work on v5 truffle

[2018-11-01 12:46] Trycoder commented on #1416
Hi ,
Even I have the same issue.I have dockerized my node js app without web3.It is working fine.But when i add the following line of code the docker application exits without running.
const Web3 = require('web3');

However I need web3 for further process.

[2018-11-01 12:48] Trycoder opened #2029 "npm install fail on nodejs Docker build"
Hi ,
Even I have the same issue as of #1416 .I have dockerized my node js app without web3.It is working fine.But when i add the following line of code the docker application exits without running.
const Web3 = require('web3');

However I need web3 for further process.

Note:
It works fine when it is run as a normal web app.But when i try to dockerize the app.I am not able to run the app.If I remo

[2018-11-01 13:25] chmelva4 commented on #2022
Apparently the issue happens when using async/await. If you switch to promisses (which is cumbersome), it works.

[2018-11-02 03:54] Tronglx commented on #1969
Hi @nivida, i'm having the same issue, please check PR #2000, Merging is blocked

[2018-11-02 07:27] jameszou707 opened #2032 "You must provide the json interface of the contract when instantiating a contract object"
**when i try to get a contract object with web3 from Rinkelby net , here comes a error out :**
--------------------------------------------------------------------------------------------------
![image](https://user-images.githubusercontent.com/3175690/47898912-d4c49c80-deb2-11e8-848d-8dab3b49e771.png)
------------------------------------------------------------------------------------------------

[2018-11-02 07:27] jameszou707 commented on #2032
### Solution: then we found if we change the web3 version from 1.0.0-beta.36 back to 1.0.0-beta.35 , the bug disappeared：
`npm install --save web3@1.0.0-beta.35`

[2018-11-02 21:20] zomglings commented on #1654
@nivida : Where is the issue? Please link it here.

[2018-11-02 21:51] mirek opened #2033 "Don't kill 1/2 bytes from private keys please"
When using:
[code]

a) If your private key is hex0x - all good.

b) If your private key is hex - everyting will work fine, no errors, but your signed transaction will be with private key with one byte zero'ed.

c) If your private key is Buffer - everything will be signed, no errors, but your signed transaction will be with private key with two first bytes zero'ed.

[code]

...which is kind of cute

[2018-11-02 23:09] Aristophanes888 opened #2034 "NPM install errors"
When I try to install web3 via NPM the console gives the following errors:

[code]

Any help would be greatly appreciated, thanks.

[2018-11-02 23:38] #2034 closed, assigned to nobody

[2018-11-03 07:08] aparnathi567 opened #2035 "web3.js not installing"
C:\>e:

E:\>mkdir test

E:\>cd test

E:\test>npm init
This utility will walk you through creating a package.json file.
It only covers the most common items, and tries to guess sensible defaults.

See `npm help json` for definitive documentation on these fields
and exactly what they do.

Use `npm install <pkg>` afterwards to install a package and
save it as a dependency in the package.json file.

P

[2018-11-03 11:15] tony-stark001 opened #2036 "Error: no suitable peers available"
When I tried to send a transaction, it throws the following error message.

My code
[code]

[code]

[2018-11-03 17:15] lastmjs commented on #1707
Is this the reason there is no error message in the transaction data when using require? I have many requires with error messages, and when they fail I can't see anything in the transaction info on Etherscan about the reason. Remix shows the error when I use the JavaScript VM, but not on the test network. Is it true that the transaction information just doesn't have the error message yet when usin

[2018-11-03 20:16] tochie commented on #1781
I have the same error.

[code]

I tried installing the other web3 beta versions and they all failed at the same spot. I am using a MacOS High Sierra. Please someone should really revisit web3 installation workflow. Thanks.

[2018-11-04 03:44] igoreskin commented on #1439
The problem with web3@^0.20.0 and probably with other versions earlier than web3@^1.0.0-beta.36 is that modules like web3.utils necessary for getting balances, building transactions etc. don't seem to work or perhaps even exist, so installing the 0.20.0 version doesn't really solve the problem. I am not 100% sure, but it seems that running npm install --global --production windows-build-tools from

[2018-11-04 03:45] igoreskin commented on #974
The problem with web3@^0.20.0 and probably with other versions earlier than web3@^1.0.0-beta.36 is that modules like web3.utils necessary for getting balances, building transactions etc. don't seem to work or perhaps even exist, so installing the 0.20.0 version doesn't really solve the problem. I am not 100% sure, but it seems that running npm install --global --production windows-build-tools from

[2018-11-04 04:06] igoreskin commented on #1783
The problem with web3@^0.20.0 and probably with other versions earlier than web3@^1.0.0-beta.36 is that modules like web3.utils necessary for getting balances, building transactions etc. don't seem to work or perhaps even exist, so installing the 0.20.0 version doesn't really solve the problem. I am nowhere near 100% sure, but it seems that running npm install --global --production windows-build-t

[2018-11-04 07:11] barakman commented on #974
@igoreskin:
These modules exist alright, just not under `web3.utils`.
I've been using web3 v0.18.4 with Truffle, and web3 v1.0.0-beta.34 when working outside of the Truffle framework, and both are fine (even though the API is different in many places).

[2018-11-04 22:15] skinny-jones commented on #434
Hello all, for what is worth I have the same issue but the method I am calling in my contract has no index, and don't emit any event, it's a lookup method:
[code]

From the index.html file if I call the method with the **variable** from the page I get the **error**:

[code]

But if I just pass the _tokenId_ **hardcoded**, either in string or number it **works perfectly**.

[code]
Or even passing a

[2018-11-05 11:18] kikoncuo commented on #1707
Seems like it, Ganache and Remix VM have it, Geth or Partity, don't.

[2018-11-05 12:09] sbqureshi commented on #1066
It works for me

[2018-11-05 12:10] sbqureshi commented on #1066
it works for me

[2018-11-05 17:05] rstormsf commented on #2022
@chmelva4 so, it's valid issue. It should work with async/await

[2018-11-05 23:19] chmelva4 commented on #2022
Ye you're right, I posted that for info.

[2018-11-06 01:51] i-norden commented on #1515
In general it is not feasible to generate an ABI from just contract byte code. You can decompile byte code back to source to some degree but the level of fidelity required to reproduce the ABI is probably not attainable for most contracts.

When compiled to byte code method/event signatures are hashed and the last 4 bytes of the hashes are used as the method/event IDs. This is why you need the ABI

[2018-11-06 03:07] RolandBarro commented on #1315
I have experienced the same error just recently and I was able to manage it by checking up on these lines of codes:
----
const provider =  new HDWalletProvider(process.env.MNENOMIC, `https://rinkeby.infura.io/v3/${process.env.INFURA_API_KEY}`);
-----
check: console.log(provider) if you can see perfectly your mnemonic and your Infura connection string
if yes, the check on this code:
----
const cont

[2018-11-06 03:52] RolandBarro commented on #1315
sorry for the formatting, I never thought it look like that when sent :)

[2018-11-06 10:17] toknT opened #2037 "invalid sign result"
I am using web3 1.0 to sign some message ,and verifity it in contract.

[code]
If set web3's privoder to metamask it work well, my contract can return the correct address, but **if set it to use infura or other eth node** it return a invalid sign and my contract can't verifity it.

[2018-11-06 16:52] diogomartino opened #2038 "this.provider.send is not a function"
I'm trying some examples from the wiki, nothing is working:

`var web3 = new Web3(Web3.givenProvider || "https://mainnet.infura.io/v3/5d4d4f7190b94eb4893ef4dbdc782255");
web3.eth.getBalance("0x407d73d8a49eeb85d32cf465507dd71d507100c1").then(console.log);`

throws:

**Uncaught TypeError: this.provider.send is not a function
    at s.send (web3.min.js:1)
    at _.e [as getBalance] (web3.min.js:1)

[2018-11-06 18:14] schmidsi commented on #1965
We had a similar issue and it had to do with the Ethereum Node that we were running and not with web3.js. Troubleshooting revealed that we had malconfigured our nodes.

Are you running a local node or connecting to infura? Are you running a parity node or geth? Are you sure that you enabled websockets properly?

[2018-11-06 18:16] john-osullivan commented on #1916
Running into the same issue as @studioTeaTwo -- any tips on how to resolve it?  Also getting it from a `.call()`, was able to successfully complete a regular `.send()`.

EDIT: Downgrading to `beta.35` gave me `Error: Couldn't decode from ABI: 0x.` as well, but I'm certain that my provided address is the correct one.

[2018-11-06 19:04] john-osullivan commented on #1470
In case other debuggers hit this, I was SSHing into a node of a private network and thought I could use `localhost` -- turns out that you need to use the RPC address specified in the command-line args.  Switching over fixed the issue.

[2018-11-06 20:26] ghost commented on #1965
I ran Infura when this happened. The websocket configuration was as follows:

[code]

[2018-11-07 04:02] cma00000 commented on #1903
same here!

[2018-11-07 04:14] cma00000 commented on #1903
[code]
Just tried in remix + ropsten
which the "require" never fire the revert, but just return a 3963877391197344453575983... non-sense value.

[2018-11-07 09:01] schmidsi commented on #1965
Then it is probably an issue with Infura. See: https://github.com/INFURA/infura/issues/97#issuecomment-429349516

Try to run your own node and connect to this (this is recommended anyways).

[2018-11-07 23:18] captnseagraves commented on #1477
Any word on the comment above @nivida? Building a project at Gitcoin and having issues with this. No solution found on the web works, but an intermittent error response with a consistent successful contract deployment on Rinkeby seems to fit. Using 1.0.0-beta.36.

[2018-11-07 23:20] crazybuster commented on #1985
Hey guys, in case you are still having issues with this. I believe as of 0.57.0 RN has moved to using metro.config.* instead of rn-cli.config.js, also the config format has changed. So you need to create a metro.config.js with:

const extraNodeModules = require('node-libs-browser')

module.exports = {
  resolver: {
    extraNodeModules
  }
};

[2018-11-08 02:54] taarushv commented on #2038
Can confirm the same behavior.

Simply the following in app.js:
`var web3 = new Web3("https://ropsten.infura.io/v3/e6780ebea2fe4b1b8dde4c72fa0c78a8");
`
returns :
web3.min.js:1 Uncaught TypeError: this.provider.send is not a function
    at s.send (web3.min.js:1)
    at _.accounts (web3.min.js:1)
    at app.js:5

[2018-11-08 05:40] fulldecent commented on #1916
I can confirm that querying ERC-721 events with all indexed parameters works if you rollback beta 36 to beta 35. @exogenesick I think that is what you are doing.

[code]

---

Today is one of those days I sat down thinking "now is a fun time to run `npm update`, nothing is broken but hey what could go wrong?"

[2018-11-08 12:42] lucashenning commented on #1986
This error occurs not only infura. I had the exact same error with **beta.36** and **Ganache**. Rolling back to **beta.34** solves this for now.

[2018-11-08 13:28] mjdietzx opened #2039 "Feature request: `personal.decrypt`, enable an encrypted message for a publicKey to be decrypted from that wallet"
A really nice feature of `web3` is [`personal.sign`](https://web3js.readthedocs.io/en/1.0/web3-eth-personal.html#sign), enabling a user to sign data with their wallet. It seems like this has enabled a lot of interesting features in DApps (i.e. logging in by signing a message with wallet, signing legal documents with wallet, etc..)

I think it would be great to also support the 'inverse', `personal

[2018-11-08 15:01] diogomartino commented on #2038
@taarushv I managed to fix that error, just do like this:

`var web3 = window.web3 ?
  new Web3(window.web3.currentProvider) :
  new Web3(new Web3.providers.HttpProvider("https://mainnet.infura.io/v3/5d4d4f7190b94eb4893ef4dbdc782255"));`

The problem is that the documentation is all wrong. If you copy code from the wiki, it will not work, but it should. I just gave up, I'm using another library.

[2018-11-08 19:48] captnseagraves commented on #1477
I've found a seeming fix. I had omitted `gasPrice` from `.send()` after `.deploy()` since the docs say it is optional. This made the `gasPrice` default to 1 wei, which seems to be an issue for Rinkeby. I declared `gasPrice: 4000000000` and have stopped experiencing the intermittent errors from web3.js. Takeaway: listing a `gasPrice` param is not optional.

[2018-11-09 01:30] username1565 commented on #1490
@nnkken, you can using this code
[code]

[2018-11-09 01:35] username1565 commented on #1490
@nnkken,
In the package, the implementation for browser is:

[code]

I see this code here: https://github.com/pwall-org/pwall/blob/master/js/web3-eth-accounts.js

This not working in old browsers.
Look at this code.
[code]
So now you can fix this to ensure backward compatibility.

[2018-11-09 06:40] toknT opened #2041 "how to get txhash before transaction is mined"
my web3 version is 1.0.0-beta.36

i am working on dapp, and the code

[code]

but it wait until the transaction is mined

[2018-11-09 07:04] Truthsayer1 commented on #1965
Just a general observation is this has been happening for a very long time now so I think it's some deliberate policy with the websockets. I'm no expert but the wss://mainnet.infura.io/_ws is better usually than wss://mainnet.infura.io/ws and is a lot faster too it seems. Is there any other one we could be using instead?

One thing nobody mentioned is that if the IP address is changed (via VPN ext

[2018-11-09 09:53] legioner0 commented on #1916
@yarrumretep, proper check in your fix must be `(notIndexedInputs.length != 0 && nonIndexedData)`

[2018-11-09 21:56] nick commented on #1916
While we wait for a fix, here's another hack that seems to do the trick:

[code]

[2018-11-10 15:09] Aristophanes888 opened #2042 "Invalid Argument Type error when trying to run a .js file"
I'm trying to run an _app.js_ file with the command `node app.js` and the console is returning this error:
[code]

Could anyone enlighten me as to how I could fix this error? Obviously it's something to do with an incorrect argument but I don't really know where to start. Thanks.

[2018-11-10 18:33] daniel-hursan commented on #1779
Any idea why I have this exact same error, although the private key is correct (exported as string from MetaMask)? Can there be any other hidden errors behind this?

[2018-11-11 15:16] JamesANZ commented on #1043
Hi all, I am getting this issue too but using the contract object directly instead of the truffle object i.e. web3.eth.Contract(abi, address). This is only broken now after I updated to ^1.0.0-beta.36 from an early pre beta version (0.18.4). Any ideas?

[2018-11-11 17:27] #2042 closed, assigned to nobody

[2018-11-11 18:37] birdofpreyru commented on #1914
Any chance you release the fixed version any soon?  Having a simple fix for an annoying bug, and not releasing it for two months, doesn't look like a good dev practice, even if we talk about a beta version.

[2018-11-12 02:47] elanpang commented on #1985
@crazybuster   It also doesn't work, thank you a lot

[2018-11-12 06:59] epszaw commented on #1965
Reproduces every time at firefox on our node, but at safari and chrome it works stable.
I think this issue can not be fully relate to infura for these reasons.

![image](https://user-images.githubusercontent.com/13414205/48331590-991f9480-e661-11e8-8e75-64b27176dfc3.png)

[2018-11-12 07:32] Caophuc799 commented on #1916
I deploy it with heroku. How to edit on it?

[2018-11-12 07:52] KandyYe666 commented on #1477
I'm seeing the same error on beta.36，when I deploy a larger contract, I will encounter this issue that the contract can not be deployed successfully because the status is 0x0 which is returned by the transaction. And I compared with the version of web3j which is a java version, it can deploy the same contract at the same time. So I think it is a bug for web3.js version to deploy contracts. Any bod

[2018-11-12 11:54] 0xferit commented on #1916
Downgrade to 1.0.0-beta33, that fixes too.

[2018-11-12 12:08] loliconer commented on #1777
@nivida
There is no problem when using web3.min.js. But error occurs when using webpack to minify code.
[code]

[2018-11-12 13:44] Remi-Burgel commented on #1241
Hi, anything new ? When I'm here, it looks like the problem should be solved, but I still have the same message when I call a method that return a tuple array.

[2018-11-12 19:06] crazybuster commented on #1985
@elanpang Are you using the metro bundler? And did you restart the bundler and clear the metro cache?

Mine is working on RN 0.57.4 on ios, react 16.6.0-alpha.8af6728, web3 1.0.0-beta.34.

[2018-11-13 03:08] rogergangawork commented on #1066
Thanks a ton @jupadev !! 🙏
For linux users, here are the following steps in case if you face build errors:

1. npm install -g node-gyp
2. sudo yum install make
3. npm config set python /path/to/executable/python2.7
4.  yum groupinstall 'Development Tools'
5. npm install web3 --save

[2018-11-13 08:18] elanpang commented on #1985
@crazybuster  I tried RN 0.57.4 but web3 1.0.0-beta.36, I will try web3 1.0.0-beta.34 and report later.

BTW, I also tried other extraNodeModules lib, but there are some other issues, I guess maybe the issue is relative with babel 7.

[2018-11-13 08:19] Bat-Orshikh commented on #1741
@abrinckm Same probleem here. I want to know how many number transaction is pending that created by me. Do you have a any solution for that?

[2018-11-13 10:31] BennyTheDev commented on #2026
Do you get this on a testnet (ropsten, rinkeby, private testnet) or mainnet, as well?
I need to know about this, too as it makes my dapp unusable with MetaMask.
If I find something out, I will post it here.

[2018-11-13 11:02] BennyTheDev commented on #2026
OK, found an acceptable workaround:

1. For state changing operations/functions (send), keep using window.web3 (Metamask will pick it up and use it)

2. For non-state changing functions (call), use a separate provider like Infura and inject it yourself into window._web3 or something like that and perform reading calls on this one instead.

This will slightly bloat your code but gives you un-cached

[2018-11-13 12:08] DurandA commented on #904
When using bower and installing `web3@1.0.0-beta.34`, this is still an issue:
[code]

[2018-11-13 12:41] CamposBruno commented on #1549
this did the work for me [http://osxdaily.com/2014/02/12/install-command-line-tools-mac-os-x/](http://osxdaily.com/2014/02/12/install-command-line-tools-mac-os-x/). I hope it helps you too.

[2018-11-14 00:02] johnhforrest commented on #1178
What's the current status of this? The bundle size is continuing to grow. beta36 added almost 200KB minified to the bundle size. At this point we are punting upgrading because of the extra bloat.

beta36 - 791.88 KB
beta35 - 616.12 KB
beta34 - 582.78 KB

I think your comment on Aug 20 is the correct way to solve the BN.js duplication issue. Maybe that can be done for just the purposes of building