[2019-03-06 13:35] nivida commented on #2462
Thanks for opening this issue! I will fix and release it asap.

[2019-03-06 14:35] #2459 closed, assigned to nobody

[2019-03-06 14:55] #2462 closed, assigned to nobody

[2019-03-06 16:04] #2457 closed, assigned to nobody

[2019-03-06 16:12] mjdietzx opened #2465 "web3.js does not work when building in vue production mode (likely any webpack production build)"
### Description
async web3 methods are never firing callbacks when built for production (vue cli 3 / webpack build). this also includes contract methods:
[code]

everything works properly when running in development/test mode.

#### Expected behavior

This is when running my standard vue app https://cli.vuejs.org in development mode or locally:
`npm run serve` or `npm run build --mode development`

[2019-03-06 16:59] nanexcool commented on #1803
@nivida any updates on this issue? Seems it's making Brave/Firefox not work with HTTPProvider

I just tried with latest web3 1.0.0-beta.48

[2019-03-06 17:56] marcscherer opened #2467 "getPastEvents fails when called with 'allEvents'"
when using the following code in beta.48 returns the error below. It worked fine in beta.47. Changing "allEvents" to a certain event will also work.

[code]

[code]

### Versions
* web3.js: beta.48

[2019-03-06 22:11] rhlsthrm opened #2468 "Utils functions mention BigNumber instead of BN in error messages"
### Description
Error messages for utils functions `toWei`, `fromWei`, etc. throw the following error:
[code]
The source itself checks if they are BN, not BigNumber. Relevant source (others in this file as well): https://github.com/ethereum/web3.js/blob/1.0/packages/web3-utils/src/index.js#L193

#### Steps to reproduce the behavior

1. Import `web3`
2. Call `web3.utils.toWei(5)` (i.e. pass in a nu

[2019-03-06 22:37] EddieOne commented on #1916
promises don't work quite the same in a for loop as await/async. This bug is so annoying though.

[2019-03-07 00:22] nivida commented on #2454
Closed because of the missing response of the creator and because the issue template was not used.

[2019-03-07 00:22] #2454 closed, assigned to nobody

[2019-03-07 00:23] nivida commented on #2465
Could you please fill out the complete issue template and provide further details with it for reproducing this behavior?

[2019-03-07 00:25] nivida commented on #2468
Yes, the documentation is wrong it's currently returning the BigNumber object but was always named BN. I will update the documentation and the related function documentation blocks.

[2019-03-07 00:27] nivida commented on #2467
There was a similar issue regarding the getPastEvents method. I will check if this already got solved but not released.

[2019-03-07 00:29] rhlsthrm commented on #2468
It's also the thrown error messages (not sure if you are counting this in "documentation").

[2019-03-07 02:40] #1798 closed, assigned to nivida

[2019-03-07 02:43] nivida commented on #1933
This got implemented in beta.38.

[2019-03-07 02:43] #1933 closed, assigned to nobody

[2019-03-07 02:44] #1558 closed

[2019-03-07 02:45] #1458 closed

[2019-03-07 07:43] willfsays commented on #2411
For version 1.0.0.48 I am getting an...

[code]

The method is a state call with logic - I want to check that no requires are firing prior to a user submitting a send request.

Alternatively utilising the callback functionality results in the callback never returning.

e.g.
[code]

[2019-03-07 07:44] agangdi commented on #1986
I fixed it by specify a value to process.versions.node
`process.versions ={node: '11.2.0'}`

[2019-03-07 08:54] mjdietzx commented on #2465
Hey @nivida, I looked into this issue more and was able to simplify the description above (edited).

Thanks,
Mike

[2019-03-07 08:59] mjdietzx commented on #2465
I also think this issue is related to an issue I made earlier (although I'm not seeing these error messages I described in that issue anymore, and behavior seems slightly different) https://github.com/ethereum/web3.js/issues/2281

[2019-03-07 09:06] kvhnuke commented on #2441
I believe this is related to the issue I am getting, currently it is not correct the way TransactionReceiptValidator work,
https://github.com/ethereum/web3.js/blob/b88ab8235ed583f8b944a438e0676ef9d7c523cc/packages/web3-core-method/src/validators/TransactionReceiptValidator.js#L37-L73

Following is the culprit
[code]

for example if you send a transaction that uses the exact amount of provided gas,

[2019-03-07 11:09] Senshii opened #2469 "web3-eth-accounts/dist/web3-eth-accounts wording error"
Hello,

It seems like there is a wording error with 'transactionSinger' instead of 'transactionSigner' at web3-eth-accounts/dist/web3-eth-accounts.cjs.js:77:70)

### Versions
* web3.js: web3@1.0.0-beta.47 and web3@1.0.0-beta.48
* nodejs: v10.14.2

Thank you,

[2019-03-07 13:39] ahmedahmado opened #2470 "problem deploy the contract using web3js and infura"
const HDWalletProvider = require("truffle-hdwallet-provider");
const Web3 = require("web3");
const compiledFactory = require("./build/Factory.json");

const provider = new HDWalletProvider(
  'my mnemonic'
    , 'my url from infura'
);
const web3 = new Web3(provider);

const deploy = async () => {
  const accounts = await web3.eth.getAccounts();

  console.log("Attempting to deploy from account",

[2019-03-07 14:32] selectstarfrom commented on #2470
I believe this bug has been already reported and fixed.
Please refer issue [#2462](https://github.com/ethereum/web3.js/issues/2462) and [#2463](https://github.com/ethereum/web3.js/issues/2462)

[2019-03-07 15:31] ahmedahmado commented on #2470
to be honest , i dont have much experience in that , but the error massage 'Subscriptions are not supported with the CustomProvider. at CustomProvider.subscribe ' i thought it can be from infura because i check the code twice .

for issue #2462 and #2463 i think they are different.

[2019-03-07 20:02] davekay100 commented on #2467
I'm getting a similar failure. My error is:
[code]
For me, I am making a pretty typical web3 transaction:
[code]
And it actually works, and the tx is successful as seen in ganache logs. The solidity function is:
[code]
The abi of the function is:
[code]

I think it has to do with `outputs` of the abi function being an empty array. Is it possible there was an upgrade to the solc compiler, that chan

[2019-03-07 20:41] nivida commented on #2470
I've implemented the CustomProvider with the given interface from the truffle team Please open an issue there to get further details.

[2019-03-07 20:42] #2470 closed, assigned to nobody

[2019-03-07 20:45] nivida commented on #2469
Will be fixed with this PR: https://github.com/ethereum/web3.js/pull/2466

[2019-03-08 01:17] bj97301 opened #2472 "cant find providers after webpacking"
### Description
Providers are gone after webpacking.

#### Expected behavior

[code]

#### Actual behavior

[code]

#### Steps to reproduce the behavior

1. let providers = require('web3').providers
2. webpack with the attached config
3. log it and notice that its undefined after webpacking

#### Error Logs
[code]

#### Gists

webpack config:
[code]
package
[code]
webpack output
[code]

### Versio

[2019-03-08 01:30] OFRBG commented on #2452
@nivida @owocki Here's a very simple example. Any feedback is appreciated.

* `web3.version` https://codesandbox.io/embed/18yy3k2l47?fontsize=14&hidenavigation=1&view=editor

[2019-03-08 02:29] bradennapier opened #2473 "Typescript Transaction missing input"
Typescript Transaction is

[code]

which doesnt match the real format

[code]

Therefore in typescript using `input` requires using `(<any>tx).input` every time

### Versions
* web3.js: 1.0.0.beta.38

[2019-03-08 06:06] lastmjs commented on #2291
Um...are we ever going to have a version of web3 that runs straight in the browser, like we used to? This is causing me a lot of issues...dealing with the es modules version that doesn't work directly in the browser, the umd version that doesn't work, the cdn that is outdated...not everyone uses webpack or parcel or a bundler, we would like to run web3 directly in the browser without a complicated

[2019-03-08 06:15] lastmjs opened #2475 "Run in the browser without a bundler"
### Description

I would like to run web3.js in the browser without using a bundler like rollup, webpack, or parcel. This used to be possible, but it looks like the `.min.js` distribution has been removed. That's fine I suppose, since there is an `esm` and a `umd` build...except that they don't work in the browser. I've been at this for a while, and I'm not inexperienced with modules and build pro

[2019-03-08 08:26] snifhex opened #2476 "Cannot find module 'web3' in node console"
### Description
Error: Cannot find module 'web3' in node console.

#### Actual behavior
`const Web3 = require('web3');`

Thrown:
{ Error: Cannot find module 'web3'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:613:15)
    at Function.Module._load (internal/modules/cjs/loader.js:539:25)
    at Module.require (internal/modules/cjs/loader.js:667:17)
    at require (internal/

[2019-03-08 08:28] nhannamsiu opened #2477 "Could not deploy library because library can't have constructor"
### Description

#### Expected behavior
   let instance = await myContract.deploy({
    data: artifact.bytecode,
  })
  .send(transactionConfig,(err, transactionHash) => {
    if (err) throw err
  })
Should return an instance of deployed library with valid address

#### Actual behavior
throw error: TypeError: this.methods.contractConstructor is not a function

#### Steps to reproduce the behavior

[2019-03-08 09:36] nicksavers commented on #1183
@nivida Any updates on this?
https://web3js.readthedocs.io/en/1.0/web3-utils.html?highlight=sha3#sha3
It still says that `keccak256` is the alias, however it should actually be the other way around.

[2019-03-08 13:27] oberstet commented on #1041
`npm install ethereum/web3.js` did work for me (I get a `dist`folder with `web3.min.js`) - NOT `npm install web3`

[2019-03-08 13:37] nivida commented on #2472
The correct way to use this static property is:

[code]

If you only use the internal Web3 providers and nothing else from the library then I would recommend you to use the ``web3-providers`` module directly.

[2019-03-08 13:37] #2472 closed, assigned to nobody

[2019-03-08 13:48] nivida commented on #2475
I'm always using webpack and I'm bundling the UMD files for the browser and it works without any problems.

Yes, because I'm handling all external dependencies as external which is the correct way to build a library like Web3.
This allows Webpack and other bundlers to do better tree shaking and the user has also the possibility to overwrite specific dependencies Web3.js is using. The ESM build is

[2019-03-08 13:48] #2475 closed, assigned to nobody

[2019-03-08 13:51] nivida commented on #2476
Thanks for creating this support question! The described behavior is working in my environment and it looks like a support problem. Could you add a URL to a GitHub repository for having a bit more context?

[2019-03-08 13:55] nivida commented on #2477
Thanks for opening this issue! But this got already fixed with version beta.48.

The appended example of you is wrong, the correct way is:
[code]

[2019-03-08 13:55] #2477 closed, assigned to nobody

[2019-03-08 13:59] snifhex commented on #2476
Thanks for the reply!
But now I got it working I just did `npm install --save web3`. I don't know why or how but it somehow worked and now I can use web3 on my linux machine.

[2019-03-08 13:59] #2476 closed, assigned to nobody

[2019-03-08 14:34] bj97301 commented on #2472
Still not working.  Can we reopen this?

[2019-03-08 15:13] lastmjs commented on #2475
The point of the issue was not addressed. Web3.js is forcing the developer
to use a bundler. I'm saying that Web3.js should not force the developer to
use a bundler. For example, I should be able to use a UMD build anywhere,
including the browser, without bundling it. But the UMD build does not work
in the browser as is.

Am I misunderstanding, or is it true that Web3.js cannot be used in the
brow

[2019-03-08 16:11] Freydal opened #2480 "Running webpack on web3 yields a ReferenceError when loaded"
### Running webpack on web3 yields an ReferenceError

#### Expected behavior

Loading the web3 pack delivers a working Web3 class

#### Actual behavior

Thrown:
ReferenceError: self is not defined

#### Steps to reproduce the behavior

[code]

### Versions
* web3.js: 1.0.0-beta.35, 1.0.0-beta.37 and 1.0.0-beta.48
* nodejs: 11.9.0

I have tried multiple webpack configurations, but I always seem to

[2019-03-09 06:17] NAKsir-melody opened #2481 "Why web3.shh.defaultGas function exist?"
### Description
In my understand, whisper messages does not spend gas &  does not use chain information
So IMHO, below functions should be removed to avoid miss-usage

web3.shh.defaultBlock
web3.shh.transactionBlockTimeout
web3.shh.defaultGas
web3.shh.defaultGasPrice
web3.shh.transactionConfirmationBlocks

[2019-03-10 09:25] lbthomsen commented on #2238
I see this error consistently in node on Ubuntu but on Debian it works fine.

[2019-03-10 09:37] lbthomsen opened #2482 "Error on Ubuntu"
[code]

Cleanly installed ubuntu and node.  It works perfectly on Debian.

[2019-03-10 16:02] lekevicius commented on #2459
I'm still getting this error in ^1.0.0-beta.48.

[2019-03-11 04:08] aacostarua opened #2483 "Web3 Error with React app"
### Description

Can't run web3 on React.js

    Example:
    1. https://github.com/simpletut/Universal-React-Apollo-Registration/
    2. npm i web3

    Please use the code blocks Markdown does provide:

[code]
----------------------------------------------------------------------->

#### Error Logs

ERROR in ./node_modules/swarm-js/lib/api-browser.js
       Module build failed (from ./node_modul

[2019-03-11 08:48] bwasty opened #2484 "ProviderResolver is not minification safe"
I got weird RPC errors when building for production (using Parcel), which I tracked down to this:
https://github.com/ethereum/web3.js/blob/970d837768f924febe377df39824d2ab9e13a55a/packages/web3-providers/src/resolvers/ProviderResolver.js#L97-L108
Constructor names are not available in minified code, so I end up with a `CustomProvider` (see `resolve` method above `isWeb3Provider`).

[2019-03-11 10:09] NedeljkoKuzmanovic opened #2485 "Problem with multiple event listeners, duplicated event triggers"
In my app i have multiple listeners (watchers) on different events of same contract. Nothing complicated.

[code]
Problem is that same event is caught multiple times, and strange thing is that event is caught exactly number_of_listeners times.

So in this case i have two listener on two different events and triggered listener is triggered 2 times

Tried with 3 listeners, then is triggered 3 times.

[2019-03-11 10:17] bebcky opened #2486 "TypeScript type definitions don't work in NodeJS"
### Description
The TypeScript type definitions do not work when used as a dependency in NodeJS. In the *.cjs.js files used by NodeJS, the old commonjs `exports =` form is used to export the modules, whereas in the TypeScript bindings the exports are defined to use the ES6 `export default` form, mapping to `exports.default =` in the *.esm.js files.

This issue is closely related to #1248.

#### Er

[2019-03-11 10:34] nivida commented on #2481
These properties do exist because the ``shh`` module inherits from the ``AbstractWeb3Module``. This means you can ignore them. I will later create a ``AbstractEthModule`` class for being more specific.

[2019-03-11 10:34] #2481 closed, assigned to nobody

[2019-03-11 10:38] nivida commented on #2480
It delivers a working version of the Web3 class. I know this because I'm testing it with NodeJS and webpack. I think the problem is that you import and directly export the Web3 class. What exactly is the use case for directly exporting it again?

[2019-03-11 10:44] nivida commented on #2483
This is a configuration issue of your dev environment. Could you ask your question on stackoverflow or in our Web3.js gitter channel?

[2019-03-11 10:44] #2483 closed, assigned to nobody

[2019-03-11 10:46] nivida commented on #2485
Version ``0.20.x`` got his last maintenance release with ``v0.20.7`` this means we do no longer work on ``v0.20.x`` of this project. Please use the latest 1.0 version and give some feedback about.

[2019-03-11 10:46] #2485 closed, assigned to nobody

[2019-03-11 12:05] Freydal commented on #2480
This was just an example case to illustrate the issue.  I am using it regularly.

Last night I found another project that was webpacking web3.  I tried to see if it still build correctly and it failed.  I believe this has something do with some system wide change.  The only change that comes to mind is updating npm to 6.9.0.

[2019-03-11 13:03] eccentricexit commented on #2459
@lekevicius I've been downgrading to find a version that works. Down to version `1.0.0-beta.20` at the moment and no success. Did you find a version that works?

[2019-03-11 13:22] wmitsuda opened #2487 "web3.eth.requestAccounts() does not handle correctly a promise rejection"
### Description

I'm using Chrome + latest Metamask, testing a small React application.

If I run this code (calling the plain Metamask provider API):

[code]

the user is presented with a popup window asking his permission to access the local account data, per EIP-1102.

If the user cancels the operation, the promise is rejected and is thrown as an error which is caught and a message is printed i

[2019-03-11 15:40] projectoblio commented on #2452
IMO the Gitcoin grant should be about making Web3js backwards compatible. There's been a billion articles written about how to get started using Ethereum over the last 5 years that are just going to give devs blue balls when they dont work. Like why does `web3.sha3` not issue a warning that says "(Deprecation Warning) Please use web3.utils.sha3". Instead it just says `that's undefined`... Not very

[2019-03-11 17:23] bj97301 commented on #2472
@nivida?

[2019-03-11 17:23] gskapka opened #2488 "Misleading error message: "Can not send value to non-payable contract method or constructor""
### Description

Receive `"Can not send value to non-payable contract method or constructor instead!"` error when calling a function that is definitely `payable`. ~~Also, the error itself grammatically makes no sense.~~ Also, the error itself makes no sense since the method _is_ payable.

#### Expected behavior

Shouldn't receive error about non-payable method or constructor if the method or const

[2019-03-11 19:01] nivida commented on #2488
This error message does not exist in the web3.js project the error message would be:
"Can not send value to non-payable contract method or constructor"

The difference between version beta.48 and beta.47 is just a fix for the custom provider handling and the return value handling of a contract call. I've tested it with a freshly deployed contract and called several methods without any error poppin

[2019-03-11 19:07] nivida commented on #2487
Thanks for creating this issue! This got already fixed in my working branch. I will release it asap.

[2019-03-11 20:22] FilipLaurentiu commented on #2462
what's the fix for this ? I have the same issue

[2019-03-11 21:49] nivida commented on #2480
I'm using [this](https://github.com/ethereum/web3-examples/tree/development/starters/webpack)  webpack config and version beta.48 of Web3.js and it builds and runs without a problem. 🤔

[2019-03-11 21:51] Freydal commented on #2480
I will give this a try when I come back around to this problem.  Afterward if it is unresolved, I will try a different machine to see if it is something on my dev machine.

[2019-03-11 22:00] Alex1100 commented on #2486
Have you tried `import * as web3 from 'web3'`?

[2019-03-11 22:38] OFRBG commented on #2488
I can confirm this behavior. @gskapka did misread the test result. The error is in fact `Can not send value to non-payable contract method or constructor`, and "instead" is part of the assert:

[code]

I tested with `beta.47` and it threw the same message, however. @nivida So it is highly likely that the problem arose with some other release.

[2019-03-12 00:31] bebcky commented on #2486
That would work in plain old ES6, but because of the misastched TypeScript type definitions, the TypeScript compiler complains with a type error in the form of
[code]

[2019-03-12 00:34] bebcky commented on #2486
One solution would be to have the TypeScript type definitions export both in the ES6 style and in the commonjs style but as far as I can tell that's not possible.

[2019-03-12 00:44] joshstevens19 commented on #2486
Hey thanks for raising this, I will try to recreate your issue tomorrow and take a look. You are just trying to use the types in a standard node app? can you paste how your trying to import it please? that would be awesome.

[2019-03-12 00:55] ghost commented on #1182
@yxliang01 Hello, may I ask is there any source code for https://www.npmjs.com/package/web3-parity? Thanks.

[2019-03-12 01:03] joshstevens19 commented on #2486
Oh and can you paste how your trying to import it if you don’t have a repo 👍 thanks

[2019-03-12 01:09] joshstevens19 commented on #2486
I think I know what it is - please still supply the above so I can confirm (I only really need the import your trying to do). I can then reply tomorrow once I’m online as I’m UK time and it’s 1am here at the moment. Thanks 👍

[2019-03-12 01:09] bebcky commented on #2486
I've uploaded a test package [here](https://github.com/yaram/web3-node-types-test). Originally I was trying to use web3@^1.0.0-beta.38 from TypeScript in tests.

[2019-03-12 04:19] yxliang01 commented on #1182
@btenterprise2020 It's not yet available. But anyways, I don't think we should hi-jack this issue here. If you want to discuss something about it, maybe can have a chat at https://gitter.im/yxliang01/community . PM there is also fine.

[2019-03-12 04:41] D4nte commented on #1658
How come there is a `types/index.d.ts` is now present in the repo? (version web3@1.0.0-beta.48).

I feel like it's a regression as it creates issues similar to what was mentioned in this thread.

[2019-03-12 05:05] levino commented on #1658
Yeah. It was decided to do so. Type defs are now maintained here again

[2019-03-12 07:56] guifel opened #2489 "Insufficient funds error with sendTransaction using account signing"
### Description

Using beta 48. I try to send a transaction from an address with sufficient balance with the private key stored in the account module.

#### Expected behavior

Transaction should go through (Or display a different error message if I am missing something).

#### Actual behavior

[code]
#### Steps to reproduce the behavior

[code]

The same code works for beta 36. On beta 46 I get th

[2019-03-12 08:28] gskapka commented on #2488
Oops! Hoisted by my own petard! Glad @OFRBG could confirm the behavioural difference however.

***

### The problem clarified:

Receive `Can not send value to non-payable contract method or constructor` error when calling a contract method that __is__ payable, whilst also sending __no__ value.

[2019-03-12 08:52] nivida commented on #2489
The returned value from ``getBalance`` is in ``wei`` this means the balance of this account is ~0.03955 ether. Which isn't enough for executing this transaction.

[2019-03-12 09:26] guifel commented on #2489
The balance is enough:
`(1000000000*30000+100)*10**-18 = 0.00003 < 0.03955`

As I said, the same works on beta 36

[2019-03-12 10:08] OFRBG commented on #2489
Since I don't have access to the specifics of your env, could you test the same code but with gas price set to 0? That could help us narrow it down, @guifel.

[2019-03-12 10:18] OFRBG commented on #2452
I'm working on building an unofficial web3.js Discord server. This will probably make communication much more fluid and accessible: https://discord.gg/d7kHZKS.

[2019-03-12 10:23] guifel commented on #2489
With gasPrice set to 0
![Selection_317](https://user-images.githubusercontent.com/15947729/54192800-11378300-44b9-11e9-996c-1c9c00b85750.png)

If I don't specify any gas price I get the same error as on my issue description.

[2019-03-12 10:28] nivida commented on #2489
There is already an existing issue about this and I think we should discuss it [here](https://github.com/ethereum/web3.js/issues/1021).

@guifel Yep, this is correct I was wrong because I thought the value property is in ether. In the issue, I've referenced above are some additional information about this.

[2019-03-12 10:28] #2489 closed, assigned to nobody

[2019-03-12 10:46] nivida commented on #1021
@guifel Could you add the JSON-RPC payload object which got send? This will help me to see the actual issue.

[2019-03-12 11:08] guifel commented on #1021
@nivida  The failed transaction with beta 48:

[code]

Note that I am not seeing the issue with beta 37. This is the successful transaction I get with it:

[code]

[2019-03-12 11:28] joshstevens19 commented on #2486
Hey @yaram so your issue is due to the mismatch between how commonjs export stuff `module.exports = something` and how ES6 export stuff `export default something`.

To fix this it you just have to enable `esModuleInterop` in your tsconfig compile option, also enable `allowSyntheticDefaultImports` for typesystem compatibility :

[code]

This then will allow you to import as you would anywhere like:

[2019-03-12 11:28] #2486 closed, assigned to nobody

[2019-03-12 13:06] Ruiub3i commented on #2459
Same problem here

[2019-03-12 19:24] wmitsuda opened #2490 "Web3 constructor docs are wrong"
web3-1.0.0-beta.48:

https://web3js.readthedocs.io/en/1.0/web3.html

The examples are missing the `net` parameter before `options` on web3 constructor... it took me some time and I had to look at the source code to understand why my customizations were not being applied :sob:

[2019-03-13 07:56] princesinha19 opened #2492 "Error: Returned values aren't valid, did it run Out of Gas?"
When I am executing the transfer method, I am getting this error:  Error: Returned values aren't valid, did it run Out of Gas?

#### Expected behavior
Calling
`await myContract.methods.transfer(to_wallet, amount).send({from:wallet.w_address}).then(async function(result){ console.log('Token Transferred succesfully!!')});`
should transfer the token to receiver.

#### Actual behavior
Getting error:

[2019-03-13 07:58] arpitbhatt027 opened #2493 "cannot find local Mocha"
I am trying to run Mocha test scripts on the Heroku server with **mocha** command and getting: cannot find local Mocha! please install Mocha by npm install mocha --save-dev. It is working on my local machine properly.

[2019-03-13 09:45] nivida commented on #2492
Does this error still occur with v1.0.0-beta.48?

[2019-03-13 09:45] d10r commented on #2459
The fix seems to not yet be merged into the latest release (beta.48).
Would be nice if it were easier to figure out which release actually contains (or is gonna contain) the fix for a bug which was closed, otherwise those hitting the same bug and finding the issue are left behind confused.

[2019-03-13 09:46] nivida commented on #2493
The 1.0 branch and the current working branch uses Jest for the tests.

[2019-03-13 09:46] #2493 closed, assigned to nobody

[2019-03-13 10:03] rjkz808 opened #2494 "contractInstance.options.jsonInterface is undefined"
### Description

There's no JSON interface when I'm accessing the contract instance options.

#### Source code

[code]

#### Expected behavior

The above code should output all the contract options, including the JSON interface (ABI).

#### Actual behavior

The above code output is next:

[code]

As you can see, there's no `jsonInterface` in the logged options.

#### Steps to reproduce the behavio

[2019-03-13 10:20] nivida commented on #2452
@projectoblio The issue is that many tutorials are created with the 0.20.x API and not with the new 1.0 API. I will check that and try to contact the creators of the tutorials for updating them.

@OFRBG Thanks for your efforts! Jsfiddle has the possibility to use code from a GitHub repository is this also possible with codesandbox?

I think we could move this discussion to the examples repository

[2019-03-13 10:21] sebayaki commented on #2462
@nivida any plan to release this fix with beta.49 soon?

[2019-03-13 10:26] princesinha19 commented on #2492
@nivida Thanks for your quick update.
`Does this error still occur with v1.0.0-beta.48?
`
I am unable to install version v1.0.0-beta.48. I am getting this error:
[code]
Can I use  **v1.0.0-beta.47**?

[2019-03-13 10:42] nivida commented on #2494
I've simplified the AbstractContract object to be consistent with the other module options and the jsonInterface property returns now an AbiModel with some additional methods to check for or to get a ABI item.

[code]

I could add the ``contract.options`` but the code behind the scene wouldn't be that clean. Is it also a solution for you when I keep it the way it is now and I'm updating the docume

[2019-03-13 11:25] nivida commented on #2488
Thanks for the additional details! I will fix and release it asap.

[2019-03-13 12:13] sirpy opened #2495 "getPastEvents not working for named event"
### Description

Contract ABI has two definitions for the same event. I require **ERC20**'s `Transfer` events, but I'm getting **ERC677** ones.

#### Expected behavior

Calling `GoodDollar.getPastEvents('Transfer', { fromBlock: 0 })` should return say `200` events.

#### Actual behavior

Calling `GoodDollar.getPastEvents('Transfer', { fromBlock: 0 })` returns `60` events.

I'm positive about this,

[2019-03-13 12:32] nivida commented on #2495
Could you please update your issue to be aligned with the issue template we provide and could you tell me which provider you are using?

[2019-03-13 14:04] rjkz808 commented on #2494
Ok, I think new solution is better than the one that was before. The only thing you need to fix is web3 documentation. I hope you'll close this issue after that 😄

[2019-03-13 19:40] bj97301 opened #2496 "cant find providors after webpacking"
### Description
Providers are gone after webpacking.

#### Expected behavior

[code]

#### Actual behavior

[code]

#### Steps to reproduce the behavior

1. let providers = require('web3').providers
2. webpack with the attached config
3. log it and notice that its undefined after webpacking

#### Error Logs
[code]

#### Gists

webpack config:
[code]
package
[code]
webpack output
[code]

### Versio

[2019-03-13 20:40] dbblackdiamond opened #2497 "HTTP Basic Authentication working in node but not client-side"
### Description
I am porting an Dapp from Ethereum to an Ethereum-based blockchain that requires HTTP Basic Auth. I have HTTP Basic Auth working perfectly fine in node, but when I use the exact same code  in my HTML template for the client-side, it doesn't work. I get a 401 No Authorization error.
I am using web3js version 0.20.7 and the web3.js file that came with that version.

#### Expected beh

[2019-03-13 21:41] russanto opened #2499 "Not possible to call methods on existing contract"
### Description
It is not possible to call function on already deployed contracts.

#### Expected behavior
Creating a contract instance with jsonInterface and address I should be able to call the function on that contract

#### Actual behavior
Contract instance isn't binded to the contract at that address. Instead if I deploy the contract in the same execution just before calling methods, it works

[2019-03-13 21:47] loncharles commented on #2104
Is this still an ongoing issue for folks?

We were using 1.0.0-beta.36 and it would take an additional 10-15 seconds for the 'receipt' event to fire after the block was already confirmed. We just attempted to update to 1.0.0-beta.48 and now the 'receipt' event does not fire for multiple minutes, while the 'confirmation' event fires almost immediately inline with the block showing confirmed.

I gue

[2019-03-13 22:20] loncharles commented on #2104
Additionally, the receipt that comes out of the 'confirmation' event is not ABI decoded like the receipt that comes out of the 'receipt' event. Does this need its own issue?

[2019-03-13 22:26] Ugarz commented on #2385
Hi there,

**Context**
I'm facing a problem with one of my side-project.
I really want to put a step on blockchain development, and I'm trying to build [my first front fetching accounts from blockchain](https://github.com/Ugarz/eth-todo-list-react). I went to [Spectrum chat](https://spectrum.chat/next-js/general/error-while-building-project~6d28afb8-36b7-4ec3-a09c-902afe2463e2) to see if it was a

[2019-03-14 06:23] princesinha19 commented on #2492
@nvidia I need some time to migrate my code on v1.0.0-beta.48. I will get back to you.

[2019-03-14 08:48] nivida commented on #2499
Could you add the ABI and the bytecode of this contract for testing it?

[2019-03-14 08:50] nivida commented on #2497
Version 0.20.x had his last maintenance release some months ago. Please update to the latest version of Web3.js. If the error still occurs then please open a new issue.

[2019-03-14 08:50] #2497 closed, assigned to nobody

[2019-03-14 08:55] nivida commented on #2441
I've updated the transaction receipt validation during the improvements of the transaction based methods. [PR](https://github.com/ethereum/web3.js/pull/2466)

[2019-03-14 08:56] nivida commented on #2496
The correct syntax is:
[code]

[2019-03-14 08:56] #2496 closed, assigned to nobody

[2019-03-14 08:58] nivida commented on #2467
@davekaj Thanks for the additional information! I will check and fix this asap.

[2019-03-14 09:47] russanto commented on #2499
ABI
`[{"constant":true,"inputs":[{"name":"acc_id","type":"string"}],"name":"query","outputs":[{"name":"amount","type":"int256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"acc_id","type":"string"},{"name":"amount","type":"int256"}],"name":"open","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"}]`

Bytecode
`60806040

[2019-03-14 11:07] dukei opened #2500 "sendTransaction: unhandled promise rejection"
### Description
sendTransaction does not handle promise rejection sometimes and it leads to compete calling application freeze.

#### Expected behavior
Any error inside sendTransaction should be propagated to the caller.

#### Actual behavior
https://github.com/ethereum/web3.js/blob/5023c450a783b892da862712e0d8dc26cddba4ab/packages/web3-core-method/src/methods/transaction/SendTransactionMethod.js#

[2019-03-14 13:35] nivida commented on #2500
Thanks for creating this issue! This will get fixed on the next release.

Could you update your issue to be aligned with the issue template we provide?

[2019-03-14 14:15] dukei commented on #2500
Issue updated.

[2019-03-14 15:39] ungaro opened #2501 "Release / Debug build generated json-rpc calls are different"
### Description
I'm trying to make simple web3 calls in React Native with web3.js, but generated json-rpc calls are different between release / debug builds - IOS/Xcode.

#### Expected behavior
[code]
should return balance.
In Debug build, there is no problem.

#### Actual behavior

In Release build, it fails with `Node error: {"code":-32600,"message":"invalid json request"}`

i've inspected that

[2019-03-14 15:56] ilanolkies opened #2502 "Wrong addresses when instancing two contract in contructor"
### Description

I'm creating two `web3.eth.Contract` objects in a `class` `constructor`. Of course, both contract's addresses are different. After creating the objects the addresses of the `Contract` are the same. They both have the second contract address.

#### Expected behavior

Calling two consectuive times `new web3.eth.Contract` should instance two contracts correctly.

#### Actual behavior

[2019-03-14 16:03] ilanolkies commented on #2502
What do you need to clariffy?

[2019-03-14 16:03] nivida commented on #2501
Does this error also occur if you don't use the callback?

[code]

[2019-03-14 16:05] nivida commented on #2502
I have to test it before I can say it's definitely a bug.

[2019-03-14 16:11] nivida commented on #2502
Tested with:
[code]

Result:
[code]

Web3.js version: 1.0.0-beta.48

[2019-03-14 16:26] dbblackdiamond commented on #2497
Hi,

thanks a lot for the response, but while I appreciate that 0.20.x has had its last maintenance release months ago, it is still the latest stable version as far as I know, so what you are telling me is that if someone wants to build an application using the latest stable version and runs into a problem, they are on their own? My experience is that projects will usually continue supporting thei

[2019-03-14 16:28] ungaro commented on #2501
Yes, tried it, and it occurs again. Somehow, the call gets weirdly nested after method key in release builds:

`{"jsonrpc":"2.0","id":1,"method":{"jsonrpc":"2.0","id":0,"method":"eth_getBalance","params":["0xe1f42aa9aec952f61c5d929dd0b33690faaef976","latest"]}}`

[2019-03-14 16:30] ilanolkies commented on #2502
What about options? You are not trying that.

I'm using `{ defaultAccount: account }`.

[2019-03-14 16:55] nivida commented on #2501
I've tested it with the version beta.48 of Web3.js in a NodeJS environment and in the browser without an error thrown. This looks like a problem of react-native especially because it's nesting the JSON-RPC payload object in a weird way.

Could you create an example GitHub repository for me?

Code:
[code]

Request:
[code]

Response:
[code]

[2019-03-14 17:03] nivida commented on #2502
This does also work. Could you create a GitHub repository with an example?

Code:
[code]

Result:
[code]

[2019-03-14 17:18] ilanolkies commented on #2502
Yes sure!

Repo: https://github.com/ilanolkies/rns-js

Example:
[code]

[2019-03-14 17:45] nivida commented on #2502
Thanks for providing me the complete example.

I was testing it with some more classes in the meantime and was able to reproduce the behavior with the version beta.48. After that, I've tested it with the current working branch and the error disappeared. This bug got solved because I've fixed a bug regarding the options handling in the ``eth`` module ``Contract`` factory method.

This will get rele

[2019-03-14 17:49] ilanolkies commented on #2502
Thanks! But this code is the same as mine... Is there a workaround or I have to wait until release?

[2019-03-14 19:02] vladimiry opened #2503 "Use regular functions and not arrow functions in the index.js file of the modules."
https://github.com/ethereum/web3.js/blob/5023c450a783b892da862712e0d8dc26cddba4ab/packages/web3-eth/src/index.js#L76

https://github.com/ethereum/web3.js/blob/5023c450a783b892da862712e0d8dc26cddba4ab/packages/web3-eth/src/index.js#L87

In a clean not-transpiled environment such code will give you `TransactionSigner is not a constructor` error as arrow function cannot be acting as a class construct

[2019-03-14 19:12] vladimiry opened #2504 "Wrong comparison in MethodOptionsValidator.isValueValid?"
This this code line: https://github.com/ethereum/web3.js/blob/970d837768f924febe377df39824d2ab9e13a55a/packages/web3-eth-contract/src/validators/MethodOptionsValidator.js#L104

Is round brackets missed here around `method.parameters[0].value > 0`?

[2019-03-14 20:09] nivida commented on #2503
First I had such factory methods in each index.js but I've removed them because it would break the API for the standalone modules. This will get improved with the implementation of the [``Web3 Namespace``](https://gist.github.com/nivida/c7c24723353c243e295dbff954d06b50).

Edit:
I'm using the same pattern also for internal classes to have a consistent way over all index.js files and yes it wouldn't

[2019-03-14 20:12] nivida commented on #2504
There is already an issue regarding this (https://github.com/ethereum/web3.js/issues/2488) and the fix will get released asap. I will close this issue because it's a duplication.

[2019-03-14 20:12] #2504 closed, assigned to nobody

[2019-03-14 20:21] vladimiry commented on #2503
Maybe then for the sake of explicitness simply using regular/ES5 functions as they can act as classes.

[2019-03-14 20:29] nivida commented on #2503
Yes, right I will improve this later. Currently, there are issues with a higher priority. :)

[2019-03-14 20:35] nivida commented on #2497
@dbblackdiamond Currently, we have that state and I apologize for it. But I can't maintain a 0.20.x version and also bring out a 1.0 stable release in the next months. It does look like a configuration issue because the error isn't thrown from the Web3.js library. Please ask your question in our [Gitter](https://gitter.im/ethereum/web3.js) channel and the community and I will help you.

[2019-03-14 20:39] nivida commented on #2462
@sydneyitguy Yes, after I've improved the transaction confirmation workflow for having better confirmations. I think this will happen this weekend or at the beginning of next week.

[2019-03-14 20:42] nivida commented on #2459
This fix will get released this week or at least at the beginning of next week.

[2019-03-14 21:39] #2418 closed, assigned to nobody

[2019-03-14 22:33] ungaro commented on #2501
@nivida I've included console.log/error statements in **web3-providers/dist/web3-providers.umd.js** before every **sendPayload** statement, here is what i've found:

In Debug build, i get this, and everything works as intended:
[code]
In Release build. i strangely get this:
Notice how it first gets into sendPayload_CustomProvider_umd and nests the payload on sendPayload_httpprovider_umd

[code]

I

[2019-03-15 02:40] billtlee opened #2505 "Deploy help"
I am trying to deploy a contract but I am getting "Error: The number of arguments is not matching the methods required number. You need to pass 4 arguments." for some reason.
I have tried calling deploy with compiledFactory.evm.bytecode and compiledFactory.evm.bytecode.object.  Both are failing.  The contract constructor doesn't take any arguments.  I don't understand why it's asking me for 4.  An

[2019-03-15 04:02] joeneldeasis commented on #2445
It seems weird cause I also encountered this issue when I switched from Infura to self hosted Geth node.

[2019-03-15 04:15] interfect commented on #2468
Since there is an `isBigNumber` in the source, with auto-conversion to BN e.g. [here](https://github.com/ethereum/web3.js/blob/599851753b4a35b5c11f902c7c592b111e190073/packages/web3-utils/src/SoliditySha3.js#L87-L88), why shouldn't `toWei` and `fromWei` accept BigNumber objects? Why force a manual conversion with `toBN`?

[2019-03-15 04:27] interfect commented on #2171
Is there some rationale in an issue somewhere for why the decision was made to switch over to BN in the first place? I assume there's a good reason, but it would be nice to know what it is. I dug through some of the old issues, and all I could find was the idea being rejected in https://github.com/ethereum/web3.js/issues/99

[2019-03-15 06:27] 3esmit commented on #2037
Im also experiencing this problem. All v are returning 01 or 00, while they should be 27 or 28.
If I hack around the contract to add 27 when < 27, then it recovers wrong address.

[2019-03-15 06:57] 3esmit commented on #2037
My problem was that ganache-cli is prepending the prefix "Ethereum Signed Message" in web3.eth.sign, and I also needed to change the v it returned from 00/01 to 27/28.

[2019-03-15 08:54] pstuermlinger opened #2506 "contract.deploy().send() not resolving in beta.48"
### Description
I've got a little contract deployment script, which stopped working after upgrading web3 from beta.37 to beta.48. Downgrading helped.
The issue is, that the promise returned by `myContract.deploy(args).send(opts)` is never resolved.

Issue may be related to #2500.

#### Expected behavior
The promise should either resolve or reject.

#### Actual behavior
Waiting for promise indefini

[2019-03-15 09:25] fireblockdev opened #2507 "Shh newKeyPair first arg not optional"
In the version 1.0.0-beta.48, the **web3.shh.newKeyPair** function needs a callback parameter even if you use the await syntax. Previously in the version 1.0.0-beta.37, it was optional as defined in the [Documentation](https://web3js.readthedocs.io/en/1.0/web3-shh.html#newkeypair).
It could be a documentation error but it seems weird to me.

[2019-03-15 09:34] fireblockdev opened #2508 "Whisper and IPCProvider (1.0.0 beta 48)"
Whisper worked great with the IPC Provider until 1.0.0 beta 37. Because of ganache bug, i can't upgrade until 1.0.0 beta 48. With this version, i have strange behavior.

Every shh function return oboe errors:
Uncaught Error: Unexpected token o in JSON at position 1
      at Timeout._onTimeout (node_modules/oboe/dist/oboe-node.js:2325:17)

If i use the http or ws providers, it works great.

geth ve

[2019-03-15 09:41] nivida commented on #2506
Thanks for creating this issue!

I've tested it with the version beta.48 and it works. I think you forgot to return the response in the async method.

Code:
[code]

Response:
[code]

[2019-03-15 09:45] nivida commented on #2507
Thanks for creating this issue! I'll change the parameters amount [here](https://github.com/ethereum/web3.js/blob/1.0/packages/web3-core-method/src/methods/shh/NewKeyPairMethod.js) to 0.

[2019-03-15 09:46] nivida commented on #2508
Thanks for creating this issue! I'll test and fix it asap.

[2019-03-15 09:50] pstuermlinger commented on #2506
Hi Samuel,
thanks for your quick response. I've added the `return` (see gist) but it didn't change anything. Using beta.37 always works, though.

Did you run my gist? Against which ethereum node?

[2019-03-15 09:55] pstuermlinger commented on #2506
Oh wait - while I was writing my response it finally finished. It just takes a magnitude longer. Is there something new like "resolve after 24 confirmations" or so?
edit: yes - it resolves exactly after 24 confirmations

[2019-03-15 10:15] pstuermlinger commented on #2506
Ok, we can close this issue.
When I use ganache UI instead of -cli it raises an exception with beta.37 but not with beta.48. This might cause beta.37 to resolve immediately (what I wanted).
[code]

[2019-03-15 10:15] #2506 closed, assigned to nobody

[2019-03-15 10:23] nivida commented on #2469
The wording error got fixed with PR #2466.

[2019-03-15 10:23] #2469 closed, assigned to nobody

[2019-03-15 10:28] surendersinghIT commented on #1089
I were receiving same error and finally, I were able to fix issue as per following.
1.  const Election = new web3.eth.Contract(abi, contractAddress, {   from: web3.eth.defaultAccount });
I were using incorrect contract address

2.     web3.eth.getTransactionCount(address, function (err, nonce) {
        const functionAbi = Election.methods.mymethod().encodeABI();

        var details = {

[2019-03-15 10:28] joeneldeasis opened #2509 "Invalid bytes string given: 0x when using self hosted geth node"
### Description
We always encounter this error `Invalid bytes string given: 0x` when performing using our self hosted geth node, but this error is not present when we are using Infura.

#### Expected behavior

Using Infura the value of `bytes` on `web3-eth-abi.cjs.js` line `66` is  `0x000000000000000000000000000000000000000000000000006a94d74f430000` and we're able to get the current balance of the

[2019-03-15 10:44] nivida commented on #2502
This got fixed with PR #2466 and will be released asap. There is currently no workaround but I will release a new version this weekend or at the beginning of next week.

[2019-03-15 10:44] #2502 closed, assigned to nobody

[2019-03-15 14:09] oancius opened #2514 "web3.version.getNode() alternative in v1.0 using typescript"
### Description
After updating from  "web3": "0.20.3" to 1.0.0-beta34 i can't find anymore a method to get the type of the node that i am connected to

#### Expected behavior

    Calling `await web3.version.getNode()` should return info about the node that you are connected to.

#### Actual behavior

    The method can't be found anymore

#### Error Logs

#### Gists

### Versions
* web3.js: 1.0.0

[2019-03-15 14:31] nivida commented on #2514
The method exists on the ``web3.eth`` module with the name ``getNodeInfo``. I will update the documentation asap.

[2019-03-15 15:05] ghost commented on #2263
Can someone explain how to compile `web3.js` for the browser using `webpack`? I have never worked with `webpack` and the documentation also doesn't tell us how it works.

[2019-03-15 15:28] billtlee opened #2515 "Return performance from function call"
try {
    const receipt = await factory.methods.functionCall(
      web3.utils.fromAscii(field1),
      web3.utils.fromAscii(field2),
      field3
    ).send({
      from: accounts[0],
      value: web3.utils.toBN(web3.utils.toWei('0.01', 'ether'))
    });
    console.log('contract address: ', receipt.events.Created.returnValues);
  } catch (error) {
    console.log(error);
  }

For some reason, t

[2019-03-15 16:07] oancius commented on #2514
Thank you for the fast answer! Should i close the issue or it will be closed when the docs will be updated?

[2019-03-15 18:13] EddieOne commented on #2263
https://github.com/ethereum/web3-examples/tree/development/starters/webpack

[2019-03-15 18:43] FilipLaurentiu commented on #2462
but this issue must be put on Open

[2019-03-15 19:50] bj97301 commented on #2496
@nivida what are you doing?  You keep closing my issues while not helping at all.  The syntax is irrelevant.  It still fails the same way no matter how you type require...

[2019-03-15 19:54] bj97301 opened #2517 "cant find providers after webpacking"
@nivida please dont close this issue without reading it first. This is the second time I have reopened the same issue.  Your responses are not helpful.

### Description
Providers are gone after webpacking.

#### Expected behavior

[code]

#### Actual behavior

[code]

#### Steps to reproduce the behavior

1. const Web3 = require('web3');  Web3.providers;
2. webpack with the attached config
3. log

[2019-03-15 20:07] oancius commented on #2514
@nivida  oh well... the method it's not in web3.eth, at least not in the @types for web3 (1.0.18)

i will attach a screenshot with what is available in index.d.ts for web3.eth
![image](https://user-images.githubusercontent.com/20577110/54459226-af07a800-476e-11e9-9a83-94182c7df559.png)

[2019-03-15 20:22] russanto commented on #2509
May be the two issue linked #2499 ?
@nivida

[2019-03-15 21:26] Emad-salah opened #2518 "sendSignedTransaction returns `Transaction has been reverted by the EVM` even though the transaction has succeeded"
### Description
I've been trying to perform a signed transaction using Web3 (connected to a Parity ETC Node) but I keep getting this error even though the transaction goes successfully once I check the wallet on gastracker.io: `Transaction has been reverted by the EVM`

Here's the part where I try to perform the transaction:

[code]

#### Expected behavior
Calling `web3.eth.sendSignedTransaction()

[2019-03-16 00:57] billtlee commented on #2515
By the way, I am using and deployed the contracts on rinkeby

    "truffle-hdwallet-provider": "^1.0.5",
    "web3": "^1.0.0-beta.48"

[2019-03-16 09:23] DiyLecko commented on #2459
@mtsalenc I downgraded to `1.0.0-beta.46` and it works well.

[2019-03-16 15:45] llxxee opened #2519 "web3.eth.Contract documentation issue"
The [documentation](https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#options) of the `options` in `web3.eth.Contract` is not complete, some options like `transactionConfirmationBlocks` are missing in the documentation.
This is misleading because `web3.eth.Contract`  actually uses its own options (e.g.  `transactionConfirmationBlocks`) in `web3.eth.Contract.options` , not those in `web3.

[2019-03-16 20:20] OFRBG commented on #2517
Possibly related: https://github.com/ethereum/web3.js/issues/2484

[2019-03-17 14:31] dmitryrn commented on #1752
Same here, no error and result, any example code from https://web3js.readthedocs.io/en/1.0/web3-eth-subscribe.html does not print anything, but node is working.

[2019-03-17 15:27] taoxinyi commented on #2462
I have the similar problem that I can send the transaction and verify it in remix but it hangs when receiving the receipt.

[2019-03-17 16:03] taoxinyi commented on #2104
I have the same issue even in `1.0.0-beta.48`, only works in `sendTransaction` and `encodeABI`.

[2019-03-18 01:42] MaxFriedman17 commented on #2508
Hi, this happens to me as well.

I am using web3 1.0.0-beta.48 version and trying to connect using IPC provider to my local geth node. I just try to subscribe to new block headers and the same oboe error appears:

Error: Unexpected token o in JSON at position 1
    at Timeout._onTimeout (<path to oboe-node.js>)
    at ontimeout (timers.js:482:11)
    at tryOnTimeout (timers.js:317:5)
    at Timer.

[2019-03-18 08:11] billtlee commented on #2515
So, I tried to send in more gas I sent in 20 gwei (gasPrice: '20000000000') to test and am getting almost instant response from metamask.  However, the console.log still took about 5 minutes after the metamask confirmation.  Does the gas price pass through from the factory to the contract creation or it will just get used for executing the function that creates the contract?

[2019-03-18 10:17] nivida commented on #2518
Could you test this with the latest version of Web3.js?
Btw.: I'll release in the next days some improvements regarding the transaction handling of Web3.js.

[2019-03-18 10:19] nivida commented on #2519
Duplication of https://github.com/ethereum/web3.js/issues/2494

[2019-03-18 10:19] #2519 closed, assigned to nobody

[2019-03-18 11:00] nivida commented on #2509
I've tested it on different nodes with calling the balanceOf directly after the deployment and with a already deployed contract and couldn't reproduce this behavior. There is already an open issue in the infura repository (https://github.com/INFURA/infura/issues/157) about this. I'will close this issue and will watch the issue of infura.

@russanto I will test your issue asap.

[2019-03-18 11:00] #2509 closed, assigned to nobody

[2019-03-18 11:22] nivida commented on #2515
@billtlee Web3.js does wait for some blocks (default 24) until the transaction gets declared as confirmed. You're able to configure the number of blocks over the eth module [options](https://web3js.readthedocs.io/en/1.0/web3-eth.html#transactionconfirmationblocks).

[2019-03-18 11:22] #2515 closed, assigned to nobody

[2019-03-18 11:45] billtlee commented on #2515
Hi Sam,
Thanks for getting back.  I tried to set the transactionConfirmationBlocks to 5 but it didn't make a difference.  It took 6 mins for the receipt to get back.  Am I doing anything wrong?

[code]

[2019-03-18 12:08] EnchanterIO commented on #2150
For clarity and other people, here is the **0.20.x** syntax:

[code]

[2019-03-18 13:26] #2500 closed, assigned to nobody

[2019-03-18 13:34] nivida commented on #2501
This is a duplication of https://github.com/ethereum/web3.js/issues/2484 and will be fixed with https://github.com/ethereum/web3.js/pull/2521

[2019-03-18 13:34] #2501 closed, assigned to nobody

[2019-03-18 13:36] nivida commented on #2518
This is a duplication of #2441 and will be fixed with https://github.com/ethereum/web3.js/pull/2511

[2019-03-18 13:36] #2518 closed, assigned to nobody

[2019-03-18 13:37] nivida commented on #2495
Closed due to inactivity of the creator.

[2019-03-18 13:37] #2495 closed, assigned to nobody

[2019-03-18 14:37] #2441 closed, assigned to nobody

[2019-03-18 15:05] eccentricexit commented on #940
I still encounter this error. Switching accounts in metamask fixes the issue but do we have another fix or workaround for this? It's terrible UX to ask users to do this for a dapp to work.

[2019-03-18 15:28] #2507 closed, assigned to nobody

[2019-03-18 16:26] ilanolkies commented on #2502
Hi @nivida ! Was the fix released? Sory for the anxiety 😆

[2019-03-18 16:38] #2488 closed, assigned to nobody

[2019-03-18 17:04] Emad-salah commented on #2518
Sounds great! Also, I couldn't try it out using the latest version because I'm encountering the same issue as described in #2459

Thanks!

[2019-03-18 17:15] #2484 closed, assigned to nobody

[2019-03-18 18:19] bj97301 commented on #2517
Humm.  Seems like it.  How can I tell if has been fixed?

[2019-03-18 19:23] #2508 closed, assigned to nobody

[2019-03-18 19:24] nivida commented on #2487
This got fixed with https://github.com/ethereum/web3.js/pull/2522

[2019-03-18 19:24] #2487 closed, assigned to nobody

[2019-03-18 19:47] nivida commented on #2467
This got fixed with PR https://github.com/ethereum/web3.js/pull/2458.

[2019-03-18 19:47] #2467 closed, assigned to nobody

[2019-03-18 19:49] OFRBG commented on #2517
@nivida just merged a commit that closes #2484. Check if it works when beta 49 is released.

[2019-03-18 20:05] bj97301 commented on #2517
Regarding v49:
I tried making web3 external in my webpack config and am getting this error when i try to run the app:
[code]

Without making it external I get this error when webpacking:
[code]

[2019-03-18 20:05] bj97301 commented on #2517
@OFRBG Thank you very much for the help btw :)

[2019-03-18 22:05] koptan commented on #2470
hi ,

i am also facing the same issue , please any help ...

[code]
nodejs : v10.15.3
webjs:1.0.48-beta

[2019-03-18 22:30] nivida commented on #2503
Changed this issue label to bug because it does not work with the arrow methods if you use a submodule module.
Thanks for figuring this out!

[2019-03-18 22:32] k06a opened #2525 "Track transaction hash changed [Feature request]"
### Description

I think web3 should handle if wallet resends tx with a different `gasPrice`. Transactions could be tracked by `from` (recovered from signature) and `nonce` instead of `transactionHash`, and in case of only `gasPrice` and `transactionHash` and `signature` changed it should succeed.

Also, it may be reasonable to add callbacks for `hashChanged` event.

#### Steps to reproduce the be

[2019-03-18 23:30] nivida commented on #2525
Could you update your issue to be aligned with the issue template we provide?
I like this idea. It would be possible with extending of the [``TransactionObserver``](https://github.com/ethereum/web3.js/blob/1.0/packages/web3-core-method/src/observers/TransactionObserver.js) and [``AbstractObservedTransactionMethod``](https://github.com/ethereum/web3.js/blob/1.0/packages/web3-core-method/lib/methods

[2019-03-18 23:44] #2503 closed, assigned to nobody

[2019-03-19 02:19] #2482 closed, assigned to nobody

[2019-03-19 03:42] netpoe opened #2527 "Getting Error: Invalid bytes string given: 0x [web3@1.0.0-beta.48] on simple Solidity view function"
*I've looked into the other issues related to this error, but this is caused by something different

### Description

Using `web3@1.0.0-beta.48` I have the following contract function:

[code]

The Web3 code is:

[code]

Contract class already has an address and the method does not require any params.

I've tried adding the `{ from: "0xadress" }`, but it makes no difference.

#### Expected behavio

[2019-03-19 06:27] k06a commented on #2525
@nivida updated 👌

[2019-03-19 09:24] kumavis opened #2528 "web3@1.0.0-beta.34 - personal_sign puts callback in json rpc params"
`web3.personal.sign` puts callback in json rpc params, which is invalid json

bug reproduction steps are here
https://github.com/kumavis/web3-beta48-bug

requires web3 browser like metamask or similar

includes a hosted demo so you dont need to build anything

[2019-03-19 09:44] kumavis commented on #2528
sounds like this issue affects other methods in addition to `personal_sign`
see https://github.com/MetaMask/metamask-extension/issues/6080

[2019-03-19 09:57] kumavis commented on #2528
conclusion from https://github.com/MetaMask/metamask-extension/issues/6262#event-2202563870:

if you were using a callback before, it accidently includes the callback in the params in place of the password string. the callback is not json serializeable, thus throwing the error.

[2019-03-19 10:13] nivida commented on #2528
This issue is a support issue and not a web3 bug.

There was an issue with the provider which thrown this error but this got fixed with beta.48.

The personal sign JSON-RPC documentation defines a third parameter password. The third parameter was never optional as you can see in the documentation of web3.

[2019-03-19 10:25] nivida commented on #2527
Will check this closer asap.

[2019-03-19 10:45] lunochkin commented on #2465
I have the same problem on `1.0.0-beta.48` with webpack production build in create-react-app based application.

It works fine in dev mode and throws `The object could not be cloned. && DOMException: Failed to execute 'postMessage' on 'Window'` error in production.

And if I check `web3js.eth.net.getId()` it gives pending Promise object as in the task description.

[2019-03-19 10:50] lunochkin commented on #2465
@mjdietzx Have you found any solution to the problem?

[2019-03-19 11:54] koderholic commented on #2527
I'm having exactly the same issue. @nivida what clarification do you need?

[2019-03-19 12:22] kumavis commented on #2528
Seems like the documentation is out of line with real world usage and the behavior that web3js previously supported.

[2019-03-19 12:30] kumavis commented on #2528
the crux of MetaMask/metamask-extension#6080 is that web3js is not validating its params to be JSON serializeable. it just happens to explode in a non-obvious and metamask specific way after breaking changes in web3js.

[2019-03-19 12:33] kumavis commented on #2528
also - this is in no way a "support" issue. Either close as "wont fix" or consider reversing the breaking change and fixing the non-matching documentation.

[2019-03-19 13:17] nivida commented on #2528
It was a bug and not a feature. The documentation was added [two years](https://github.com/ethereum/web3.js/blame/1.0/docs/web3-eth-personal.rst) ago and it was not thought to be optional. It's also not documented as optional in the [geth](https://github.com/ethereum/go-ethereum/wiki/Management-APIs#personal_sign) and [parity](https://wiki.parity.io/JSONRPC-personal-module#personal_sign) documenta

[2019-03-19 13:17] #2528 closed, assigned to nobody

[2019-03-19 13:37] sohkai commented on #526
~~@nivida It looks like `web3.eth.getId()` returns the _networkId_, not the _chainId_ ([sometimes the same, but sometimes different](https://chainid.network/)). There's a [`eth_chainId` JSON-RPC endpoint available](https://twitter.com/pedrouid/status/1107998582815277057) to find the chainId.~~

Actually it looks like this has been built 😅 (https://github.com/ethereum/web3.js/blob/cd32de24bf8751ab0

[2019-03-19 14:35] ghost opened #2531 "web3.eth.contract is not a function"
### Description

` Contract.at is not a function`

### Code on 0.20.0

[code]

### Code for 1.0.0-beta.36
[code]

#### Actual behavior

` Contract.at is not a function`

#### Steps to reproduce the behavior

#### Error Logs

[code]

### Versions
* web3.js: `1.0.0-beta.36`
* nodejs: `8`
* browser:
* ethereum node: `parity`

[2019-03-19 14:48] OFRBG commented on #2531
Hey, try setting the address with this: https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#options-address.

[2019-03-19 14:57] mjdietzx commented on #2465
@lunochkin unfortunately no. I am using `"web3": "1.0.0-beta.37"` and this works

[2019-03-19 15:01] ghost commented on #2531
@OFRBG Still same

[code]

With code

[code]

[2019-03-19 15:06] ghost commented on #2514
`web3.eth.getNodeInfo()` will do the job

example)

[code]

[2019-03-19 15:24] sirpy commented on #2495
so basically it looks like the issue is about parsing events defined in other super contracts or other contracts in general.
For example this also happens when using the erc677 transferAndCall if the call is causing an event of another contract to be emitted the event is in the raw logs but not in the parsed logs.
I would expect events from super contracts to be parsed correctly as they are part o

[2019-03-19 16:11] oancius commented on #2514
@btenterprise2020 i fully agree with you, but this can't be done in typescript because the the function wasn't added to the types file

[2019-03-19 16:23] scientistnik commented on #948
I installed beta.48....still exists

[2019-03-19 17:28] #2531 closed, assigned to nobody

[2019-03-19 19:52] gnorbsl opened #2532 "Filter in options to filter contract events is no longer a valid parameter"
### Description

I used the parameter "filter" in the option that I pass to contract events like explained here:
https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#contract-events
It seems like this functionality broke between 33 and 49.

What is the proper replacement to filter events based on an array of addresses?

#### Steps to reproduce the behavior

    1. update `web3`
    2.Add op

[2019-03-19 20:16] fireblockdev opened #2533 "npmjs package 1.0.0-beta.49 return 1.0.0-beta.48"
I have upgraded to 1.0.0-beta.49 in package.json ( "web3": "1.0.0-beta.49" )

The file node_modules/web3/dist/web3.cjs.js contains:
[code]
So when a create a provider, the version is 1.0.0-beta48.

[2019-03-20 07:23] nivida commented on #2533
I apologize for the troubles. I will fix this on the next release.

[2019-03-20 07:24] nivida commented on #2532
Thanks for opening this issue! I'll test and fix it asap.

[2019-03-20 07:27] nivida commented on #2514
@oancius I'll close this issue after I've updated the documentation and the types.

[2019-03-20 07:28] nivida commented on #2465
@mjdietzx I've tested the production build with version beta.49 and it worked for me. Did you have the time to test it with the latest version?

[2019-03-20 07:43] nivida opened #2534 "Documenting web3.eth.getChainId()"
### Description

The documentation for the JSON-RPC method ``eth_chainId`` on the Eth module is missing.

Edit:
Don't forget to update the types too.

#### Expected behavior

The Web3.js documentation does contain the method ``web3.eth.getChainId()``.

#### Actual behavior

The Web3.js documentation does not contain the method ``web3.eth.getChainId()``.

#### Steps to reproduce the behavior

1. Ch

[2019-03-20 08:03] amitkot commented on #2411
This is a very important use case for us as well.
Since calling the state-changing function incurs costs, we only want to call it if it will actually change the state.

This is the result of a change in one of the recent versions, right @nivida ? In 1.0.0-beta.37 this used to work.

Is there a plan for adding back this functionality?

[2019-03-20 08:29] lunochkin commented on #2465
@nivida, at least I can confirm that with beta.49 the production build works for me now. Thanks :)

[2019-03-20 08:52] oancius commented on #2514
Thank you very much!

[2019-03-20 09:32] ghost opened #2536 "How to check if the address is an ERC20 contract?"
Hello,

I am trying to fetch random addresses from blockchain and trying to categorize them if it is an ERC20 contract address or not.

I've tried with web3.eth.call to check if the contract has a method `totalSupply()` but there was no success on that thing, with the single address it works fine however at the production stage it returns an odd

`(node:10722) UnhandledPromiseRejectionWarning: Err

[2019-03-20 10:24] #2532 closed, assigned to nobody

[2019-03-20 10:28] nivida commented on #2532
@gnorbsl FYI: It will get released today or tomorrow.

[2019-03-20 11:01] amitkot commented on #2518
This still happens with web3.js 1.0.0-beta.49.

[2019-03-20 11:03] #2533 closed, assigned to nobody

[2019-03-20 11:03] nivida commented on #2533
Got fixed with the latest release.

[2019-03-20 11:19] RostyslavBortman commented on #2518
The same issue web3js 1.0.0-beta.48

[2019-03-20 11:44] nivida commented on #1252
This got fixed with the latest release.

[2019-03-20 11:44] #1252 closed

[2019-03-20 11:48] nivida commented on #1477
I've tested the contract deployment extensively with the latest release of Web3.js (beta.50) and didn't have any issue with it. Please open a new issue if I'm wrong.

[2019-03-20 11:48] #1477 closed

[2019-03-20 11:52] nivida commented on #1600
Closed because it was an issue of ganache/web3-provider-engine. @Revinand thanks!

[2019-03-20 11:52] #1600 closed

[2019-03-20 12:02] nivida commented on #1634
I've updated all dependencies in the latest version of web3.

[2019-03-20 12:02] #1634 closed

[2019-03-20 12:03] nivida commented on #1657
This got fixed in version beta.48. Please update to the latest version. (beta.50)

[2019-03-20 12:03] #1657 closed

[2019-03-20 12:06] nivida commented on #1674
This got fixed during the refactoring. Please update to the latest version of Web3.js (beta.50).

[2019-03-20 12:06] #1674 closed

[2019-03-20 12:14] nivida commented on #1869
The creator of this issue found a solution please ask him for further details. It looks like it isn't an issue on the side of Web3.js. Please open a new issue if this error still occurs on the latest version of Web3. (beta.50)

[2019-03-20 12:14] #1869 closed, assigned to nivida

[2019-03-20 12:16] nivida commented on #1903
The revert handling ([EIP-140](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-140.md)) is not yet implemented in the Web3.js library. I will change this issue from a ``bug`` to a ``feature request`` and will implement it asap.

[2019-03-20 12:23] nivida commented on #2037
This got fixed during the refactoring. If you pass an address where a related local unlocked account exists will it sign the message locally and otherwise it will send it to the node/MetaMask. Please update to the latest version of Web3.js to get this fix.

[2019-03-20 12:23] #2037 closed, assigned to nobody

[2019-03-20 12:39] #1012 closed

[2019-03-20 13:14] poserr commented on #2518
Unfortunately same problem with **1.0.0-beta.50**

[2019-03-20 14:06] JirkaChadima opened #2537 "Babel doesn't transpile default function parameter values"
### Description

web3-eth cannot be constructed without seemingly optional parameters because [@babel/plugin-transform-parameters](https://babeljs.io/docs/en/babel-plugin-transform-parameters) is not used.

#### Expected behavior

Calling `new Web3Eth(provider);`

return a new instance of Web3Eth.

#### Actual behavior

Calling `new Web3Eth(provider);` fails with

[code]

Calling `new Web3Eth(prov

[2019-03-20 14:20] nivida commented on #2537
This got fixed with version 1.0.0-beta.50.

[2019-03-20 14:20] #2537 closed, assigned to nobody

[2019-03-20 15:07] AyushyaChitransh commented on #2518
Lets reopen this issue until a fixed version is released

[2019-03-20 15:46] wmitsuda opened #2538 "Calling web3.eth.ens.getAddress(...) 2 times in a row gives error when resolving the second address"
### Description

Run the following code:

[code]

It will give the following error in console:

[code]

If you comment any of the getAddress calls and run each one separately, it will work as expected. The error appears to only occur when you call getAddress() with different parameters one after another.

#### Expected behavior

Should log both resolved addresses.

#### Actual behavior

It will lo

[2019-03-20 15:54] MaxFriedman17 opened #2539 "Subscribe to pendingTransactions fails while using IPC Provider"
### Description
Subscribing to pending transactions gives an error and exits the program while **using IPC connection.**

#### Expected behavior
Subscribing to new pending transaction (web3.eth.subscribe('pendingTransactions')) is expected to return a json response with a txhash of new transaction.

#### Actual behavior
It returns a json response but it terminates the execution of the program with

[2019-03-20 16:11] Skyge commented on #2536
If you want to use `web3` to identify the address is a contract address or not, maybe you can use this
[code]
 but you should notice that you should have a full node to identify, BTW, you also can identify this in a contract.

[2019-03-20 16:23] ghost commented on #2536
@Skyge I need specific contract determination with ERC20 ABI and local node ( of course they are full synced )

[2019-03-20 16:41] nivida commented on #2538
Thanks for opening this issue but it's a duplication of https://github.com/ethereum/web3.js/issues/2499. I will fix and release it asap.

[2019-03-20 16:41] #2538 closed, assigned to nobody

[2019-03-20 16:41] nivida commented on #2539
Thanks for opening this issue! I will fix and release it asap.

[2019-03-20 16:44] wmitsuda commented on #2538
Thanks!

[2019-03-20 17:07] dileepfrog opened #2540 "SignedTransaction type missing signature field"
#### Expected behavior
The signature field of the result of Account.sign should be included in the TS type https://github.com/ethereum/web3.js/blob/9abc01feb1db7989d4f71b438919bc6497370f53/packages/web3-core/types/index.d.ts#L65, however it is not. The following should not have errors when compiling with tsc:

const wallet = web3.eth.accounts.privateKeyToAccount("xxx");
wallet.sign(hash).signature

[2019-03-20 18:11] dileepfrog opened #2541 "Expose _processSoliditySha3Args in SoliditySha3.js"
### Description

It is sometimes useful to encode tightly-packed arguments off-chain just as the Solidity function abi.encodePacked does in contracts. This is already fully implemented in the _processSoliditySha3Args function in SoliditySha3.js, it just needs to be exported and included in the public interface.

### Versions
* web3.js: 1.0.0-beta.49
* nodejs: v11.7.0

[2019-03-20 18:24] HardlyDifficult opened #2542 "A contract call which triggers multiple events of the same name throws error (but tx is successful)"
### Description
When a contract has an event defined and attempts to make an external call to another contract which emits an event with the same name, the call fails.

More specifically: we are creating a contract with implements ERC721. ERC721 has the following event:
[code]
Our contract then attempts to call transferFrom on an ERC20 token, which emits the following:
[code]
The issue occurs when

[2019-03-20 18:34] ghost opened #2543 "Documentation: contract.deploy.estimateGas arguments and return type incorrect"
### Description

If you want to estimate the gas of an contract you need to pass an callback to the function according to the documentation: https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#deploy.

But this is not working. The function returns a promise instead.

#### Expected behavior

Documentation says:

[code]

#### Actual behavior

`estimateGas` returns a promise and doesn't accep

[2019-03-20 18:47] #2540 closed, assigned to nobody

[2019-03-20 19:34] Emad-salah commented on #2518
I'm not sure if this will work for everyone's use case but I've been trying to use web3 just to subscribe to the "pendingTransactions" event and transfer money from a user's wallet to another. And from what I've found so far, the "pendingTransactions" subscription doesn't work when using a GETH node as a WebSocket provider but it does work when using a Parity node as a WebSocket provider and GETH

[2019-03-20 22:08] sohkai opened #2544 "Document web3.eth.getNodeInfo()"
# Description
The documentation for the JSON-RPC method `web3_clientVersion` on the Eth module is missing.

## Expected behavior
The Web3.js documentation does contain the method `web3.eth.getNodeInfo()`.

## Actual behavior
The Web3.js documentation does not contain the method `web3.eth.getNodeInfo()`.

## Steps to reproduce the behavior
Check the Eth module documentation

[2019-03-20 23:21] nivida commented on #2544
Thanks for opening this issue but this is a duplication of https://github.com/ethereum/web3.js/issues/2514 :)

[2019-03-20 23:21] #2544 closed, assigned to nobody

[2019-03-20 23:24] nivida commented on #2542
Thanks for opening this issue! I'll test and fix it if required asap.

[2019-03-20 23:27] nivida commented on #2543
Does this error still occur with the latest version of Web3.js? (1.0.0-beta.50)

[2019-03-21 02:39] Skyge commented on #2536
Oh, I see, you want to identify specific ERC20 contract address rather than other contract address or EOA address, I am not sure, but you want to check by the function `totalSupply()` , I think it is not a good way, if this contract is a `ERC223` contract or some contracts else, it also can have the function `totalSupply()`.

[2019-03-21 04:09] ghost commented on #2536
@Skyge Yes, so we need another way than calling methods.

[2019-03-21 06:05] Skyge commented on #2536
yeah, I think the [Etherscan](https://etherscan.io/tokens) has done this, but I do not know how do they do it.

[2019-03-21 06:34] #2480 closed, assigned to nobody

[2019-03-21 08:14] barrard commented on #1802
Im getting this error also :(
`Fetch API cannot load https://rinkeby.infura.io/v3/xxxxxxxx due to access control checks.`

[2019-03-21 08:59] ghost commented on #2536
VM execution error was a bug on Web3, confirmed my code works fine, thanks 👍

[2019-03-21 08:59] #2536 closed, assigned to nobody

[2019-03-21 10:36] roma-derski opened #2546 "web3.eth.abi.encodeParameter not encoding bytes32"
What happened:
    Calling `web3.eth.abi.encodeParameter('bytes32', '0xdf3234');` returns
`Error: invalid bytes32 value ...`

#### Expected behavior:
    Calling `web3.eth.abi.encodeParameter('bytes32', '0xdf3234');` should return
`> "0xdf32340000000000000000000000000000000000000000000000000000000000"`
according to example at: https://web3js.readthedocs.io/en/1.0/web3-eth-abi.html#encodeparameter

[2019-03-21 10:37] sirpy commented on #2495
@nivida can you reopen this?

[2019-03-21 10:41] angus-hamill commented on #2542
@nivida I was dealing with something similar with ganache, I believe it's due to ganache emitting a boolean for a successful transaction instead of 0 or 1.

In `AbstractObservedTransactionMethod.hasRevertReceiptStatus()` it's only checking for the int case.

However when I fix this I still don't get my transaction confirmations being picked up

[2019-03-21 14:59] angus-hamill commented on #2542
I've opened a PR to fix the issue whereby web3 thinks a successful tx was a revert
#2548

[2019-03-21 17:40] dileepfrog commented on #1793
I have also just verified this problem - it seems that `chainId` is not being properly encoded. In my case, I'm using a private network with `chainId` of 4 decimal digits, which seems to be causing the issue. When using `ethereumjs-tx` to sign and RLP encode identical arguments, the tx sends successfully.

Rolling back to `"web3": "1.0.0-beta.37"` fixes this issue.

[2019-03-21 18:23] dileepfrog commented on #2542
I just verified angus-hamill's fix, I am running into the same issue against an actual geth node vs ganache on beta 50

[2019-03-21 18:32] dileepfrog opened #2551 "Rename DeployTransactionResponse"
### Description

This interface can be used to estimate gas and encode ABI data for *any* Ethereum tx other than a simple ETH transfer, not just contract depoys. Perhaps a better name would be `TransactionData`

[2019-03-21 18:50] dileepfrog commented on #2518
The root cause of this issue is actually described in https://github.com/ethereum/web3.js/issues/2542 - the status field of the receipt is being handled as an int instead of a boolean, so true is interpreted as falsy. A PR is also included there which fixes the issue

[2019-03-21 19:00] ghost commented on #2543
@nivida I tried it today with `1.0.0-beta.50` and got the same behaviour.

[2019-03-21 19:57] CryptoKiddies commented on #1707
A friendly ping, is error message handling still in the works?

[2019-03-21 19:57] SwissArmyBud commented on #2542
Am having a duplicate issue, my TX receipt is {... "status": true ...} and parseInt(true) resolves to NaN, which is boolean falsy in JS. This happens for me with contract creation under betas 48 & 50. I fixed with Boolean(parseInt(receipt.status) || receipt.status) but @angus-hamill has a more appropriate method in the PR for production, it looks like.

[2019-03-21 20:25] dileepfrog opened #2552 "TransactionConfig has incorrect from type"
### Description

The `from` type allows both string and number, however this field must be a valid 0x-prefixed hex string

https://github.com/ethereum/web3.js/blob/9abc01feb1db7989d4f71b438919bc6497370f53/packages/web3-core/types/index.d.ts#L133

[2019-03-21 20:40] Pogooo opened #2553 "Contract function send does not return the provider error."
### Description

Cannot call contract's methods. I use ERC20 Token transactions in my code and at the contract's send() method the application freezes, but no errors. I would like to ask how should I initialize the contract or the web3 in order to make calls by constractInstance.methods.transfer(address, amount).send();

I saw at the new version, the web3 constructor's Web3ModuleOptions parameter'

[2019-03-21 22:00] dileepfrog opened #2554 "filter should be optional in EventOptions"
### Description

The `filter` parameter is not required for `getPastEvents` and so should be marked optional in the
`EventOptions` interface.

https://github.com/ethereum/web3.js/blob/0473405b906500bb534aa29b577be567348ff4fd/packages/web3-eth-contract/types/index.d.ts#L106

[2019-03-22 03:16] samueltangz opened #2555 "The parameters that are sent to eth_sign is swapped"
### Description

According to the documentation, the parameters for `web3.eth.sign` would be `dataToSign` and `address` [[1]](https://github.com/ethereum/web3.js/blob/v1.0.0-beta.50/packages/web3-eth/src/methods/EthSignMethod.js)[[2]](https://github.com/ethereum/web3.js/blob/v1.0.0-beta.50/packages/web3-core-method/src/methods/SignMethod.js)[[3]](https://github.com/ethereum/web3.js/blob/v1.0.0-bet

[2019-03-22 07:26] joeneldeasis commented on #2509
Hi @nivida this issue only occurs on GETH nodes and it is working fine with INFURA. By the way, have you tried the gist that I've provided? Upon testing the issue still persist on beta 50. Thanks

[2019-03-22 09:30] angus-hamill commented on #2555
https://github.com/ethereum/web3.js/pull/2547

[2019-03-22 10:30] #2555 closed, assigned to nobody

[2019-03-22 10:39] nivida commented on #2553
The correct initialization is ``new Web3(provider, net, options)``.

[2019-03-22 10:41] nivida commented on #2552
This is correct because you could also pass the index of an unlocked account. The account index will be used for signing the transaction locally.

[2019-03-22 10:41] #2552 closed, assigned to nobody

[2019-03-22 10:42] nivida commented on #2552
It's also described here:
https://web3js.readthedocs.io/en/1.0/web3-eth.html#sendtransaction

[2019-03-22 10:44] nivida commented on #2551
I think a name like ``TransactionMethod`` would be more accurate.

Edit: Or even more specific ``ContractSendMethod``

[2019-03-22 10:47] nivida commented on #2546
You have to pass a valid bytes32 string. The padding of the bytes32 is missing.

Fix:
``
web3.eth.abi.encodeParameter('bytes32', web3.utils.rightPad('0xdf3234', 64));
``

[2019-03-22 10:47] #2546 closed, assigned to nobody

[2019-03-22 13:11] Pogooo commented on #2553
The connection parameters in the provider was bad. The Ethereum client was on different port, that I gave in the configuration. It turned out when I wanted to unlock my account, and I've got the exception 'Connection is not open on send()', but I didn't get this on contract transaction sending.

[2019-03-22 15:11] angus-hamill commented on #2542
I found the real source of this issue if you check the PR. Turns out it is actually a web3js problem and not just caused by supporting ganache

[2019-03-22 18:37] #2539 closed, assigned to nobody

[2019-03-22 18:51] dileepfrog commented on #2551
The contract method is actually bound to specific arguments in this object, so it's more an `Invocation` than just `Method`, of course I'm just splitting hairs now 😛

[2019-03-22 19:53] kostysh commented on #2104
1.0.0-beta.46 working fine with confirmations, but 1.0.0-beta.47(48, 50) - has an issue

[2019-03-22 20:37] #2554 closed, assigned to nobody

[2019-03-22 20:40] nivida commented on #2553
Could you add a GitHub repository with your code and development environment? Otherwise, it will be hard to help you. Thanks!

[2019-03-22 20:54] fireblockdev commented on #2517
@bj97301 have you a solution ?

[2019-03-22 20:58] Pogooo commented on #2553
I meant the parameter was bad at the web3 initialization with the port number, but I fixed already. I just let information it hasn't exception handling at contract transaction sending, but no problem for me now.

[2019-03-22 21:02] bj97301 commented on #2517
I have a really 💩 workaround of making web3 external in my webpack config:
externals: ['websocket', 'electron', 'pg-native', 'newrelic', 'web3', ]

Would rather not have to do this...

[2019-03-22 21:35] nivida commented on #2553
Sorry I've got you wrong. The send and the call method are handled internally the same way. The error should have been thrown there too but I will check that closer asap.

[2019-03-22 21:40] #2551 closed, assigned to nobody

[2019-03-22 21:46] Pogooo commented on #2553
More exactly when I change my configuration from HTTP connection (with connection uri: http:127.0.0.1:8545) provider to Websocket provider (with connection uri: ws:127.0.0.1:8545) in Web3 client the contract methods don't have exceptions.

Of course that I mentioned I have simple http connection for the geth but in the code I used websocket provider with websocket provider with ws:127.0.0.1:8545 c

[2019-03-22 22:12] Fang- opened #2558 "this.getGasPrice is not a function; GasPriceMethod vs GetGasPriceMethod"
This is on version `1.0.0-beta.50`. Trying to sign a transaction fails with:

[code]

I looked into the code that stack trace is pointing to, and it seems `getGasPrice` is indeed undefined there. I found a fix for it, but it feels a bit too straight-forward, so I'm suspicious I'm just doing something dumb. If someone could do a sanity check on the below that'd be great.

Shouldn't [this](https://g

[2019-03-23 01:38] nivida commented on #2558
Thanks for opening this issue! I'll fix it tomorrow and will release it asap.

[2019-03-23 04:34] LandingMars commented on #2465
@nivida I met the same problem, the details are as follows:
[code]
The error returned is as follows：
[code]
It is strange that  this error only appears  when built for production (vue cli 3 / webpack build). I tried several versions and found this to be the case.

[2019-03-24 00:06] dillonsvincent opened #2559 "Web3@1.0.0-beta.50 (Webkit, Gecko) CORS Error"
### Description
Calling method on web3.eth.Contract web3js in Firefox, Safari, and iOS browsers throws a CORS error, same method call will succeed in Chrome desktop only.

#### Expected behavior

    This should succeed like it does in Chrome Desktop

      var contract = new web3.eth.Contract(_abi, _address);
      contract.methods.GetLength().call().then((res)=>{...

#### Actual behavior

[2019-03-24 07:54] Karandeep-singh-saini commented on #2527
I'm too facing same issue , Is there any update on this?

[2019-03-24 09:14] iccicci opened #2560 ""Transaction has been reverted by the EVM" deploying contract with version higher than 1.0.0-beta.46"
### Description

Even if following the doc, I get the error in subject if I try to use a Web3 version higher than 1.0.0-beta.46

#### Expected behavior

Simply "42" as output.

#### Actual behavior

With version "1.0.0-beta.46": simply "42" as output.
With version higher that "1.0.0-beta.46" (beta[47, 50] when I write) following error:

[code]

#### Steps to reproduce the behavior

In an empty dir

[2019-03-24 09:51] fireblockdev commented on #2560
I can confirm that ganache doesn't work for version 48,49,50. A single operation like this crashes:
[code]
This code was working until beta 37. Versions 37-46 were incompatible with ganache.

[2019-03-24 15:53] winterowolf commented on #1400
web3.eth.accounts.wallet - i can't figure that class.
in docs - https://web3js.readthedocs.io/en/1.0/web3-eth-accounts.html#wallet - there is length
in git - https://github.com/ethereum/web3.js/blob/1.0/packages/web3-eth-accounts/src/models/Wallet.js - there is accountsIndex
in typings - there nothing except methods

[2019-03-24 17:00] mallapurbharat commented on #1916
facing the same issue in web3@1.0.0-beta.50. However, code works fine without any problems? Can I ignore this error?

[code]

[2019-03-24 18:10] OFRBG commented on #2559
Just as a note, I believe this isn't specific to beta 50 or the latest Firefox release, and that this has been an issue since much earlier.

[2019-03-24 18:24] dillonsvincent commented on #2559
You're right I believe the issue is with the underlying browser engines. From what I can see all browsers mobile or desktop using Webkit or Gecko have this issue. The only browser engine I know that doesn't have this issue it Blink the Chrome desktop engine, and that's why I get these issues in iOS because chrome mobile uses Webkit.

Edit: Brave Desktop works just fine too :)

[2019-03-24 18:35] nivida commented on #2560
@iccicci  Thanks for opening this issue! I've checked it and ganache is returning an invalid value in the status property. As documented in the JSON-RPC API of geth and parity should the status field contain a hex string and not a boolean.

@fireblockdev Web3.js is using the ``eth_chainId`` JSON-RPC method to determine the chain id of the actual connected chain and ganache doesn't have it implemen

[2019-03-24 18:35] #2560 closed, assigned to nobody

[2019-03-24 18:47] nivida commented on #2559
You have to configure the [Access-Control-Allow-Origin](
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin) header.

Example:
[code]

[2019-03-24 20:18] BeOleg commented on #972
Is this fixed, I am getting it too.

[2019-03-24 20:47] Jaime-Iglesias opened #2561 "Duplicated events when using contract.events.MyEvent"
### Description
When using myContract.events.MyEvent([options][, callback]) to listen to two completely different events i get duplicated events from both listeners.

[code]
So i've tried a couple more things and the problem, which at first I though was that both listeners where triggering each others events, is that when both listeners are active the events inside each listener (i.e only the Depo

[2019-03-24 21:10] iccicci commented on #2560
Thank you very much for your extremely fast reaction, guys!

[2019-03-24 21:49] nivida commented on #2561
Did you also test it with version beta.50?

Edit:
A bigger [refactoring](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) happened with version beta.38.

[2019-03-24 21:53] Jaime-Iglesias commented on #2561
No, for now sticking to 36, I will give it a go tomorrow, thx for the
advice.

On Sun, 24 Mar 2019 at 22:49, Samuel Furter <notifications@github.com>
wrote:

[2019-03-24 22:03] iccicci commented on #2560
It seems there already is a issue tracking that:
https://github.com/trufflesuite/ganache-core/issues/339
@nivida can you please confirm it's actually what's missed in ganache to solve my case?

Thank you again,
iCC

[2019-03-24 22:46] dillonsvincent commented on #2559
When setting the header like recommended above I get a preflight error

`Access to fetch at 'https://rinkeby.infura.io/v3/key' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mo

[2019-03-24 23:24] dillonsvincent opened #2562 "React Dev/Build Web3@1.0.0-beta.50 BigNumber support mismatch"
### Description
When using Web3@1.0.00-beta.50 in a React Web development environment contract type uints are returned from infura and parsed into js ints. When creating a build of the React project and running it on the server numbers are being parsed into BigNumber objects. The jsonrpc response is the same for both local dev and production server.

#### Local Host React Dev Behavior
Network resp

[2019-03-25 00:59] csokun opened #2563 "Subscribe to logs is broken in beta.49+"
### Description

Subscribe to logs is broken in beta.49+

#### Expected behavior

I should be able to subscribe to `logs` from specified block and specified topics.

#### Actual behavior

An exception is thrown

#### Steps to reproduce the behavior

[code]

#### Error Logs

[code]

### Versions
* web3.js: 1.0.0-beta.49+
* nodejs: v8.14.0
* browser: NA
* ethereum node: geth v1.8.20

[2019-03-25 07:47] huainanhaoyuelengqianshan commented on #2518
This question can be solved by installing 1.0.0-beta.34. I solve this problem by use 'npm install web3@1.0.0-beta.34 --save'.

[2019-03-25 07:53] kumavis commented on #2559
possibly related https://github.com/ethereum/web3.js/issues/1802

[2019-03-25 08:13] nivida commented on #2559
Thanks for the test. I'll test and fix it today.

[2019-03-25 09:07] nivida commented on #1803
Just checked this issue closer and it is a issue of infura. They will fix it with sending of the correct headers. https://github.com/INFURA/infura/issues/174

[2019-03-25 09:07] #1803 closed, assigned to nivida

[2019-03-25 11:02] xiongzhend opened #2565 "ecRecover issue, please help"
### I am trying to use ecRecover in 1.0.0-beta.50, not working!

#### I expected to get the recoveredAddress, but get Error

#### code is here
·
var account_address = '0x3Df7a01f4CE7d6F9870325B219647daFF3f3467c';
var message = '8dfe9be33ccb1c830e048219729e8c01f54c768004d8dc035105629515feb38e';
    console.log(message.length);
    var messageBuffer = new Buffer(message, 'hex');
    console.log('mes

[2019-03-25 11:34] mjdietzx commented on #1916
also seeing this bug in `web3@1.0.0-beta.50`

[2019-03-25 11:56] Jaime-Iglesias commented on #2561
Tried with beta.38, was getting other errors (specifically getting networkId), changed to beta.50 still same prblem.

[2019-03-25 12:35] #2559 closed, assigned to nobody

[2019-03-25 12:40] #2558 closed, assigned to nobody

[2019-03-25 12:47] #2565 closed, assigned to nobody

[2019-03-25 13:12] princesinha19 commented on #2462
@nivida I am getting the same error with **geth** when deploying contract using web3.eth.deploy. On event .on('receipt') it got stuck. Nothing happens after that
But when using .on('transactionHash') it works.

Also, when I use same .on('receipt') with **Ganache**, it works.

Web3 version: 1.0.0-beta.48
Should I use some other version? Please solve my issue.

[2019-03-25 13:38] vshab opened #2569 "Sending contract method through infura and wallet account doesn't work"
### Description

Can't send contract method when using infura and wallet account. It used to work in beta.37 but fails now.

I suspect that EthSendTransactionMethod doesn't see accounts in wallet. The check here:
https://github.com/ethereum/web3.js/blob/1.0/packages/web3-core-method/src/methods/transaction/EthSendTransactionMethod.js#L156 compares `moduleInstance.accounts` but the wallet adds acco

[2019-03-25 13:54] nivida opened #2570 "Returning of BigNumber objects instead of strings"
### Description

It's returning strings instead of BigNumber objects on a contract method call.

#### Expected behavior

Returns a BigNumber object instead of a string.

#### Actual behavior

Returns a number as string.

#### Steps to reproduce the behavior

[code]

#### Error Logs
-

### Versions
* web3.js: latest

[2019-03-25 14:02] mmshihov opened #2571 "Account.signTransaction(tx, callback) error"
### Description
After updating from `1.0.0-beta.35` to `1.0.0-beta.50` I have got a problem with this code snippet in my program:

    let decryptedAccount = web3.eth.accounts.decrypt(V3keystoreStr, password);
    let baseNonce        = await web3.eth.getTransactionCount(decryptedAccount.address);

    let paramObj         = {from: decryptedAccount.address, gas: TX_GAS_LIMIT, gasPrice: 0 };

    l

[2019-03-25 14:11] nivida commented on #2562
I've checked it closer and it should return a BigNumber object instead of the string. I've created an [issue](https://github.com/ethereum/web3.js/issues/2570) for it. It should return a BigNumber object because JS can't handle the returned numbers from the node. The BigNumber objects give you also some additional features you can work with.

[2019-03-25 14:11] #2562 closed, assigned to nobody

[2019-03-25 14:19] nivida commented on #2569
I think the error clearly told you what the issue is:
``
"error": {"code": -32601, "message": "The method eth_sendTransaction does not exist/is not available"}
``

The referenced check is correct.

[2019-03-25 14:40] #2571 closed, assigned to nobody

[2019-03-25 14:40] #2570 closed, assigned to nobody

[2019-03-25 14:41] #2350 closed, assigned to nobody

[2019-03-25 14:43] DmytroNazarenko commented on #2480
I have the same issue when try to import minified version of script, that requires web3, and call it as node script. It throws
[code]
Also, it works well on ubuntu 16.04, but not on the mac and ubuntu 18.04

[2019-03-25 14:44] fireblockdev opened #2573 "Web3() constructor no longer available"
I'm looking for web3.js (1.0.0.beta50) & ganache-core. I see in many tests the use of Web3() to create an instance with a setProvider after. Is this syntax deprecated ?

[2019-03-25 14:48] #2563 closed, assigned to nobody

[2019-03-25 14:52] nivida commented on #2573
The constructor is still available. We talked about this topic already in another issue and there is no use case to initiate the Web3 object without a provider. To be honest I think this was more a bug than a feature especially since the utils methods are a standalone npm package.

[2019-03-25 14:52] #2573 closed, assigned to nobody

[2019-03-25 14:57] #2473 closed, assigned to nobody

[2019-03-25 15:02] nivida commented on #2195
You can define the headers over the options of the HttpProvider:

``
new web3.providers.HttpProvider('https://domain', {headers: []});
``

Available options:
[code]

[2019-03-25 15:02] #2195 closed, assigned to nobody

[2019-03-25 15:05] iheqi commented on #2560
So how to solve it, wait ganache fix?

[2019-03-25 15:10] #1760 closed

[2019-03-25 15:11] nivida commented on #1248
The usage of Web3.js with TypeScript is explained in the root README.md of the 2.x and 1.x branch.

[2019-03-25 15:11] #1248 closed

[2019-03-25 15:25] eccentricexit commented on #2459
@DiyLecko That version worked, thanks.

[2019-03-25 15:27] fireblockdev commented on #2573
When i use the Web3() empty constructor, there is an error:
[code]
I can reproduce the error in browser and in node.

[2019-03-25 15:29] nivida commented on #1802
This got fixed with PR #2564 and will be released this week.

[2019-03-25 15:29] #1802 closed, assigned to nivida

[2019-03-25 15:30] nivida commented on #2158
This got fixed with PR #2564 and will be released this week.

[2019-03-25 15:30] #2158 closed, assigned to nobody

[2019-03-25 15:31] #1108 closed

[2019-03-25 15:31] nivida commented on #2071
This got fixed with PR #2564 and will be released this week.

[2019-03-25 15:31] #2071 closed, assigned to nobody

[2019-03-25 15:58] Freydal commented on #2480
I was able to address my issue in a different way, but part of the my issue was my lack of understanding of the target.  The pack works fine in a Chrome, but node was a different story.

[2019-03-25 16:11] vshab commented on #2569
The same code works on beta37 though. Hmm... okay, I’ll try to make an example

[2019-03-25 18:17] ismaelbej commented on #972
@BeOleg This particular report was an issue that affects web3 v1.0.0-beta.15 and was fixed in beta.17. If you experience the same error message with a newer version I'd suggest to create a new issue with indications how to reproduce it so it is easier for developers to fix it.

[2019-03-25 19:20] #1884 closed, assigned to nobody

[2019-03-25 19:21] #1391 closed

[2019-03-25 19:22] nivida commented on #1375
This has to be an issue of the connected node.

[2019-03-25 19:22] #1375 closed

[2019-03-25 19:22] nivida commented on #1085
This got implemented with version beta.38

[2019-03-25 19:22] #1085 closed

[2019-03-25 19:28] nivida commented on #1996
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js.
Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:28] #1996 closed, assigned to nobody

[2019-03-25 19:28] nivida commented on #1992
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js.
Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:28] #1992 closed, assigned to nobody

[2019-03-25 19:28] nivida commented on #1981
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js.
Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:28] #1981 closed, assigned to nobody

[2019-03-25 19:29] nivida commented on #1970
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js.
Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:29] #1970 closed, assigned to nobody

[2019-03-25 19:29] nivida commented on #1928
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js.
Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:29] #1928 closed, assigned to nobody

[2019-03-25 19:29] nivida commented on #1901
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js.
Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:29] #1901 closed, assigned to nobody

[2019-03-25 19:29] nivida commented on #1795
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js.
Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:29] #1795 closed, assigned to nivida

[2019-03-25 19:29] nivida commented on #1791
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js.
Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:29] #1791 closed

[2019-03-25 19:29] nivida commented on #1747
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js.
Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:29] #1747 closed

[2019-03-25 19:30] nivida commented on #1712
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js.
Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:30] #1712 closed

[2019-03-25 19:30] nivida commented on #1704
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js.
Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:30] #1704 closed

[2019-03-25 19:30] nivida commented on #1699
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js.
Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:30] #1699 closed

[2019-03-25 19:30] nivida commented on #1686
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:30] #1686 closed

[2019-03-25 19:31] nivida commented on #1656
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:31] #1656 closed

[2019-03-25 19:31] nivida commented on #1642
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:31] #1642 closed

[2019-03-25 19:31] nivida commented on #1641
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:31] #1641 closed

[2019-03-25 19:31] nivida commented on #1635
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:31] #1635 closed

[2019-03-25 19:31] nivida commented on #1621
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:31] #1621 closed

[2019-03-25 19:31] nivida commented on #1599
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:31] #1599 closed

[2019-03-25 19:32] nivida commented on #1596
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:32] #1596 closed

[2019-03-25 19:32] nivida commented on #1590
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:32] #1590 closed

[2019-03-25 19:32] nivida commented on #1525
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:32] #1525 closed

[2019-03-25 19:32] nivida commented on #1467
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:32] #1467 closed

[2019-03-25 19:32] nivida commented on #1406
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:32] #1406 closed

[2019-03-25 19:32] nivida commented on #1355
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:32] #1355 closed

[2019-03-25 19:33] nivida commented on #1344
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:33] nivida commented on #1337
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:33] #1337 closed

[2019-03-25 19:33] #1344 closed

[2019-03-25 19:33] nivida commented on #1280
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:33] #1280 closed

[2019-03-25 19:33] nivida commented on #1278
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:33] #1278 closed

[2019-03-25 19:34] nivida commented on #1270
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:34] #1270 closed

[2019-03-25 19:34] nivida commented on #1257
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:34] #1257 closed

[2019-03-25 19:34] nivida commented on #1218
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:34] #1218 closed

[2019-03-25 19:34] nivida commented on #1208
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:34] #1208 closed

[2019-03-25 19:34] nivida commented on #1176
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:34] #1176 closed

[2019-03-25 19:35] nivida commented on #1175
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:35] #1175 closed

[2019-03-25 19:35] nivida commented on #1122
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:35] #1122 closed

[2019-03-25 19:35] nivida commented on #1119
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:35] #1119 closed

[2019-03-25 19:35] nivida commented on #1046
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:35] #1046 closed

[2019-03-25 19:35] nivida commented on #1034
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:35] #1034 closed

[2019-03-25 19:36] nivida commented on #921
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:36] #921 closed

[2019-03-25 19:36] nivida commented on #920
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:36] #920 closed

[2019-03-25 19:36] nivida commented on #908
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:36] #908 closed

[2019-03-25 19:36] nivida commented on #899
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:36] #899 closed

[2019-03-25 19:36] nivida commented on #898
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:36] #898 closed

[2019-03-25 19:37] nivida commented on #895
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:37] #895 closed

[2019-03-25 19:37] nivida commented on #892
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:37] #892 closed

[2019-03-25 19:37] nivida commented on #879
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:37] #879 closed

[2019-03-25 19:37] nivida commented on #877
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:37] #877 closed

[2019-03-25 19:37] nivida commented on #876
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:37] #876 closed

[2019-03-25 19:37] nivida commented on #873
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:37] #873 closed

[2019-03-25 19:38] nivida commented on #871
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:38] #871 closed

[2019-03-25 19:38] nivida commented on #852
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:38] #852 closed

[2019-03-25 19:38] nivida commented on #850
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:38] #850 closed

[2019-03-25 19:38] nivida commented on #574
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:38] #574 closed

[2019-03-25 19:38] nivida commented on #573
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:38] #573 closed

[2019-03-25 19:38] nivida commented on #571
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:38] #571 closed

[2019-03-25 19:38] nivida commented on #554
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:38] #554 closed

[2019-03-25 19:38] vshab commented on #2569
This works (`success`):
`1.0.0-beta.37`
[code]

This doesn't (error):
`1.0.0-beta.50`
[code]

[2019-03-25 19:39] nivida commented on #553
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:39] #553 closed

[2019-03-25 19:39] nivida commented on #535
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:39] #535 closed

[2019-03-25 19:39] nivida commented on #517
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:39] #517 closed

[2019-03-25 19:39] nivida commented on #512
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:39] #512 closed

[2019-03-25 19:39] nivida commented on #509
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:39] #509 closed

[2019-03-25 19:39] nivida commented on #502
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:39] #502 closed

[2019-03-25 19:40] nivida commented on #497
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:40] #497 closed

[2019-03-25 19:40] nivida commented on #434
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:40] #434 closed

[2019-03-25 19:40] nivida commented on #421
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:40] #421 closed

[2019-03-25 19:40] nivida commented on #337
Version 0.20.x got his last maintenance release with v0.20.7. Please update your code to the latest 1.0 version of Web3.js. Further details about the current project state are explained in the [release announcement](https://medium.com/@samuel_91690/web3-js-v1-0-0-beta-38-8d2bb6e73d0b) of version 1.0.0-beta.38.

[2019-03-25 19:40] #337 closed

[2019-03-25 19:42] vshab commented on #2569
@nivida examples above demonstrate the issue. You will need infura key and primary key with at least 1eth on rinkeby network.

[2019-03-25 19:43] nivida commented on #2561
Could you please use the latest version as said.

[2019-03-25 19:43] #2561 closed, assigned to nobody

[2019-03-25 19:45] nivida commented on #2569
Will test and fix it if required tomorrow.

[2019-03-25 19:47] Jaime-Iglesias commented on #2561
I said in the previous comment, that i tried the beta.50 and i still have the same problem. Maybe you didn't see it.

[2019-03-25 19:50] nivida commented on #2543
We have planned to remove the callback support until the stable release. Any further discussion about the callback support can be held here: https://github.com/ethereum/web3.js/issues/2224

[2019-03-25 19:56] mcdee commented on #850
So the choice for web3.js is now either a deprecated version or a beta version...

[2019-03-25 20:12] dileepfrog commented on #2542
@angus-hamill would you mind re-opening this PR, currently web3 throws an error for all tx against a live Geth node which is a non-starter

[2019-03-25 23:26] smartcontracts commented on #1658
@Levino is the usage you mentioned [above](https://github.com/ethereum/web3.js/issues/1658#issuecomment-395662469) still correct as of the latest Web3 version?

[2019-03-26 00:31] EronWright commented on #2266
Note that the typescript definitions don't yet support a custom provider.  Here's a workaround in typescript:

[code]

[2019-03-26 01:09] tgreco commented on #2527
Same issue.

[2019-03-26 01:12] tgreco commented on #2509
I'm having this issue too.

`UnhandledPromiseRejectionWarning: Error: Invalid bytes string given: 0x
    at AbiCoder.decodeParameters (/home/api/src/node_modules/web3-eth-abi/dist/web3-eth-abi.cjs.js:64:15)
    at AbiCoder.decodeParameter (/home/api/src/node_modules/web3-eth-abi/dist/web3-eth-abi.cjs.js:55:19)
    at CallContractMethod.afterExecution (/home/api/src/node_modules/web3-eth-contract/d

[2019-03-26 05:06] levino commented on #1658
No. Type definitions are now shipped with web3

[2019-03-26 05:39] iheqi commented on #2560
@nivida Hi nivida, why I deploy contract to infura got the same error, is infura use ganache too?

deploy.js:
[code]

[2019-03-26 06:26] glesaint commented on #2171
As bn.js is still in use in beta.50, with its last release 595 days ago, can you share the current plans for bignumbers?

[2019-03-26 06:34] sirpy opened #2576 "getpastevents not working for inherited events"
### Description

Contract ABI has two definitions for the same event. I require **ERC20**'s `Transfer` events, but I'm getting **ERC677** ones.

#### Expected behavior

Calling `GoodDollar.getPastEvents('Transfer', { fromBlock: 0 })` should return say `200` events.

#### Actual behavior

Calling `GoodDollar.getPastEvents('Transfer', { fromBlock: 0 })` returns `60` events.

I'm positive about this,

[2019-03-26 07:30] princesinha19 opened #2577 "Web3 options are not set in the submodules on initiating of the library."
### Description
When I am deploying smart contract using web3 function deploy, it doesn't trigger the event .on('receipt', (receipt)).

#### Expected behavior
[code]
Should return contract address.

#### Actual behavior
Calling the above function doesn't return contractAddress and doesn't compile .on('receipt). It got stuck.

#### Steps to reproduce the behavior

1. Import web3 in nodejs code

1.

[2019-03-26 09:38] nivida commented on #2577
Did you configure the [``transactionConfirmationsBlock``](https://web3js.readthedocs.io/en/1.0/web3-eth.html#transactionconfirmationblocks) option of the Eth module?

[2019-03-26 09:43] nivida commented on #2576
Did you test it with the latest version? (1.0.0-beta.50)

[2019-03-26 09:53] angus-hamill commented on #2542
I don't have permission to unfortunately!
@nivida is the only one I think

[2019-03-26 10:49] princesinha19 commented on #2577
@nivida Thanks for your response.
Yes,  I have configured in options. I am running a private geth node with no peers.

[code]
If I check the transaction receipt using geth command eth.getTransactionReceipt('0x5ac7d8eec4bd18fcb85c68ffa33dc8f1731c043f361754d68911df61928b19e8'), Then I get a receipt.
![geth log](https://user-images.githubusercontent.com/28489437/54991343-bfc3e380-4fe2-11e9-8e93-e405f

[2019-03-26 10:57] mmshihov opened #2578 "Accounts.getGasPrice() invocation error in Accounts.signTransaction()"
### Description
I've got the error when I specify `gasPrice:0` in raw tx object to be signed by `web3.eth.accounts.signTransaction()`. Example code snippet:

    let tx = {
        ...
        gasPrice: 0, // it is OK in JP Quorum blockchain
        ...
    }

    let signedTx = await web3.eth.accounts.signTransaction(tx, privateKey);

#### Expected behavior
Signed tx object in`signedTx` variable.

[2019-03-26 11:21] nivida commented on #2578
This got already fixed and will be released this week.  PR: https://github.com/ethereum/web3.js/pull/2566

[2019-03-26 11:23] nivida commented on #2578
Sorry, didn't saw the last example. Will fix it asap.

[2019-03-26 11:41] mmshihov commented on #2578
Thanks

[2019-03-26 14:21] PaulRBerg commented on #2573
At AZTEC, we've been using the standalone `web3-eth-accounts` package to verify our custom secp256k1 module against web3 signatures: https://github.com/AztecProtocol/AZTEC/blob/master/packages/aztec.js/src/secp256k1/index.js#L240

Since I upgraded to web3@1.0.0-beta.50 on a local branch, I also get the `sendPayload` error, just like @fireblockdev. I understand that web3.js is designed to be connec

[2019-03-26 15:14] sirpy commented on #2576
no. does it have relevant changes?

[2019-03-26 16:44] rajeshsubhankar commented on #2527
Same for me. Works fine after downgrading to `web3@1.0.0-beta.27`

[2019-03-26 17:09] ManoloAlvarezForo commented on #1916
Same issue executing "contract.methods.name().call() .then((result) => { console.log(result); });"

I noticed in this method
in web3-eth-abi

before in a method bytes is "0x" then
        if (response.length >= 2) {
          response = response.slice(2);
        }
so bytes now is = ""  then is sending to:
.....
key: "decodeParameters",
      value: function decodeParameters(outputs, bytes) {

[2019-03-26 17:50] j4ys0n opened #2581 "npm install web3@1.0.0-beta.50 fails"
### Description
npm install web3@1.0.0-beta.50 fails

#### Expected behavior
npm install web3@1.0.0-beta.50 should succeed

#### Actual behavior
[code]

#### Steps to reproduce the behavior
`npm install web3@1.0.0-beta.50`

#### Error Logs

[code]

on navigating to https:/github.com/frozeman/bignumber.js-nolookahead.git#57692b3ecfc98bbdd6b3a516cb2353652ea49934, there is a package.json file.

### V

[2019-03-26 18:02] nivida commented on #2581
Could you please update your issue to be aligned with the issue template we provide?

[2019-03-26 18:15] patitonar opened #2582 "getPastEvents Error Empty outputs array given!"
### Description
I got this error when getting the events in the following code
[code]

The abi of the event:
[code]

#### Error Logs
[code]

### Versions
* web3.js: 1.0.0-beta.50

[2019-03-26 18:20] j4ys0n commented on #2581
@nivida done

[2019-03-26 18:52] j4ys0n commented on #2581
looks like my package-lock.json was pinning an old version of `truffle-contract`. deleted package-lock.json and ran `npm install` again. good to go.

[2019-03-26 18:52] #2581 closed, assigned to nobody

[2019-03-26 19:35] Pogooo opened #2583 "web3.eth.subscribe("logs", ..) types issue"
### Description
I cannot subscribe to logs, because of typescript errors.
If I comment out the web3-eth/types' index.d.ts:58-60 rows, it works. Should I set some attribute in the tslint.json?
Also I cannot pass array for the address, but the documentation says It's possible.

#### Expected behavior

[code]
And I've got the event about the specified addresses.
#### Actual behavior

cannot pass arra

[2019-03-26 20:08] fireblockdev opened #2584 "Web3() error with 1.0.0.beta50"
The constructor with a provider works but not the default constructor Web3().
It's used in many unit tests in ganache-core.

[code]

This ticket is related to this one: https://github.com/ethereum/web3.js/issues/2573

[2019-03-26 20:14] nivida commented on #2584
Could you please add a code example? I think you forgot to add a provider.

[2019-03-26 20:18] nivida commented on #2582
Could you please add the complete example?

[2019-03-26 20:20] nivida commented on #2576
@sirpy Yes

[2019-03-26 20:46] devstein commented on #2465
@nivida I'm also encountering this issue for production react build using the latest `1.0.0-beta.50` build

[2019-03-26 20:52] devstein commented on #2542
@hardlydifficult Also running into this issue

[2019-03-26 21:13] nivida commented on #2577
The correct configuration would be:

[code]

The ``transactionConfirmationBlock`` property has to be one because it can't find the transaction receipt if no block got mined. If you use the ``MetamaskInpageProvider`` then you should define the ``transactionBlockTimeout`` property because it's a socket based provider. The ``transactionPollingTimeout`` is for legacy providers and the internal ``HttpP

[2019-03-26 22:08] patitonar commented on #2582
Created a simple example on this repo https://github.com/patitonar/test-web3-getPastEvents
On `master` branch using version `1.0.0-beta.50` is failing.
On `working-example` branch using version `1.0.0-beta.47` is working without errors.

[2019-03-26 22:08] SwissArmyBud commented on #2542
This is an ongoing issue, parsing returned receipts is currently being done incorrectly. I'm handling it in my project as detailed with my comment [here](https://github.com/ethereum/web3.js/pull/2548#issuecomment-476864684) but the code can also be "fixed" by patching the [responsible observer function](https://github.com/ethereum/web3.js/blob/156f20962c26e2c0942386f2e6704b8c0b7edb96/packages/web3

[2019-03-26 22:17] SwissArmyBud commented on #2542
This is an ongoing issue, parsing returned receipts is currently being done incorrectly. I'm handling it in my project as detailed with my comment [here](https://github.com/ethereum/web3.js/pull/2548#issuecomment-476864684) but the code can also be "fixed" by patching the [responsible observer function](https://github.com/ethereum/web3.js/blob/156f20962c26e2c0942386f2e6704b8c0b7edb96/packages/web3

[2019-03-26 22:20] #2583 closed, assigned to nobody

[2019-03-26 22:24] nivida commented on #2582
Will test and if required fix it asap.

[2019-03-26 23:25] SwissArmyBud commented on #2542
This also appears to be related to [this issue](https://github.com/ethereum/web3.js/issues/2183) which was apparently fixed (?) already. Possible revert?

[2019-03-26 23:29] dileepfrog commented on #2582
Reproduced this same issue on `1.0.0-beta.50`, working on `1.0.0-beta.39`

[2019-03-27 02:36] Skyge commented on #2584
Yeah, agree with `nivida`

[2019-03-27 04:49] princesinha19 commented on #2577
@nivida I did the configuration suggested by you but it doesn't work for me.

do I need to do any configuration in my etherum (geth) node too?

[2019-03-27 07:24] ellis2424 commented on #2584
@Skyge This is not the place to discuss if there is a need for a Web3(). @nivida said Web3() was a valid syntax, so it should work.
The syntax with providers works.

[2019-03-27 07:39] AlexeyKhmelev opened #2587 "Sending signed tx returns an error while tx was successfull"
### Description

I have a simple code that sends signed transaction:
[code]
That emit error event:
[code]
    at SafeSubscriber._next (/node_modules/web3-core-method/dist/web3-core-method.cjs.js:1017:32)
    at SafeSubscriber.__tryOrUnsub (/node_modules/rxjs/internal/Subscriber.js:207:16)
    at SafeSubscriber.next (/node_modules/rxjs/internal/Subscriber.js:145:22)
    at Subscriber._next (/node_m

[2019-03-27 08:39] princesinha19 commented on #2577
[code]
Although., The options is not working for me as in websocket provider:
![options](https://user-images.githubusercontent.com/28489437/55061351-8dc18880-5099-11e9-88ed-f2b749a63822.png)

`web3.transactionConfirmationBlocks = 1;`
This worked for me. you can see the log.

![options log](https://user-images.githubusercontent.com/28489437/55061433-c82b2580-5099-11e9-93ec-31d1380fa0f1.png)

[2019-03-27 09:12] jacksonng77 commented on #2054
I have a similar problem. My problem is that I am trying to connect to a private node that needs me to enter a URL in the format of https://username:password@nodeURL.

Doing this in node.js works.

[code]

but doing the same in React-Native give me an error:

[code]

I have attempted to do this to split the node URL, username and password to 3 different parameters but it doesn't work in Node nor R

[2019-03-27 09:56] jacksonng77 commented on #1589
Hi Narayan, I am hit with the same problem. Wondering if you managed to solve it?

[2019-03-27 11:37] #1021 closed

[2019-03-27 11:37] #1517 closed

[2019-03-27 11:37] #1074 closed

[2019-03-27 11:37] #1169 closed

[2019-03-27 11:37] #2033 closed, assigned to nobody

[2019-03-27 11:37] #1793 closed

[2019-03-27 11:37] #1126 closed

[2019-03-27 11:37] #1134 closed

[2019-03-27 11:37] #2578 closed, assigned to nobody

[2019-03-27 11:38] #2569 closed, assigned to nobody

[2019-03-27 11:41] nivida commented on #2587
Could you add some more details about the connected node and for example add the responses you see in the network tab of your browser?

[2019-03-27 11:58] fireblockdev commented on #2465
Problem with beta.50 on vuejs. No problem in dev but in production, it doesn't work.

[2019-03-27 11:59] AlexeyKhmelev commented on #2587
@nivida it's a server side. I use infura:
[code]
and same for mainnet.

[2019-03-27 12:50] stefdelec commented on #2356
Was it closed because there is a solution?

[2019-03-27 13:24] ghost opened #2588 "getPastEvents only works about every 10th - 20th time"
### Description
`getPastEvents` works only sometimes

#### Expected behavior
return event logs every time

#### Actual behavior
returns about every 10th to 20th attempt the event logs. The remaining time I get the error below

#### Steps to reproduce the behavior

[code]

#### Error Logs
[code]

### Versions
* web3.js: 1.0.0-beta.50
* nodejs: 10.15.0
* browser:
* ethereum node: Infura mainnet

[2019-03-27 13:55] rubenrdp commented on #227
@simonjanin Thank you for adding some clarity to the issue. At least to me the point you raised was really necessary and important to understand it.

[2019-03-27 13:57] nivida commented on #2588
This is an issue of infura not of Web3.js please open an issue in the repository of infura.

[2019-03-27 13:57] #2588 closed, assigned to nobody

[2019-03-27 14:04] nivida commented on #2587
I've checked it closer and it's an issue of infura because they return a boolean instead of hex value which is representing the boolean.

Current behavior:
[code]

Expected behavior:
[code]

It's also documented to return a hex value [here](https://infura.io/docs/ethereum/json-rpc/eth_getTransactionReceipt) and [here](https://wiki.parity.io/JSONRPC-eth-module#eth_gettransactionreceipt).

[2019-03-27 14:04] #2587 closed, assigned to nobody

[2019-03-27 14:08] nivida commented on #2584
It was a bug and not a feature. The provider parameter was not declared as an optional parameter in the documentation. https://web3js.readthedocs.io/en/1.0/web3.html

[2019-03-27 14:08] #2584 closed, assigned to nobody

[2019-03-27 14:21] nivida commented on #2577
Thanks for additional information! I'll fix and release it asap.

[2019-03-27 14:29] Robsonsjre commented on #2587
Same problem, using infura too.

[2019-03-27 14:47] fireblockdev commented on #2584
Ok. Thus, many projects like ganache must use the new syntax. I'll create a ticket on their project.

[2019-03-27 15:00] ericbinet commented on #2356
Does it still occur in beta50? If so, post repro steps and reopen.

[2019-03-27 15:03] ghost commented on #2588
Just wanted to add that it works if I set `fromBlock: 7300000`.

[2019-03-27 15:15] patitonar commented on #2542
Running into this issue on Beta 50

[2019-03-27 15:16] patitonar commented on #2518
Running into this issue on Beta 50

[2019-03-27 15:39] nivida commented on #2577
I've just seen that the documentation is inconsistent for the construction of a Web3 module. I will update the documentation to the following format: ``new Web3(provider, net?, options?);``

I've checked the code from the [old architecture](https://github.com/ethereum/web3.js/blob/v1.0.0-beta.37/packages/web3/src/index.js) and it was not possible to pass options over the constructor because the se

[2019-03-27 15:58] stefdelec opened #2590 "privateKeyToAccount does not return what is in the doc"
### Description

I initiate a wallet with a private key. It should return an object with signTransaction.

#### Expected behavior
const i=web3.eth.accounts.privateKeyToAccount(privateKey);
i.hasOwnProperty('signTransaction')===true;

#### Actual behavior
const i=web3.eth.accounts.privateKeyToAccount(privateKey);
i.hasOwnProperty('signTransaction')===false;

### Versions
 "web3": "^1.0.0-beta.37"

[2019-03-27 16:04] nivida commented on #2590
I've fixed the accounts module with this PR: https://github.com/ethereum/web3.js/pull/2580 and will release the fix with version 1.0.0-beta.51.

[2019-03-27 16:04] #2590 closed, assigned to nobody

[2019-03-27 16:06] princesinha19 commented on #2577
@nivida okay no problem. Thanks for your response.
I don't know what's the problem with receipt generation at the time of contract deployment, when calling .on('receipt') event.
Although I am able to set the options using `web3.transactionConfirmationBlocks = 1`
That also need to be researched.

[2019-03-27 16:08] #2553 closed, assigned to nobody

[2019-03-27 16:10] PendicGordan commented on #2077
Any solutions right now? Got the error in 1.0.0-beta.50. Tried also with 1.0.0-beta.34, 1.0.0-beta.35, without success.

[2019-03-27 16:21] stefdelec commented on #2356
Ok. I still have this issue (a bit different)

`       TypeError: this.accounts.signTransaction is not a function`

[2019-03-27 16:24] ericbinet commented on #2356
Since the symptoms are not the same, it's best to create a new issue with the proper description and repro steps.

[2019-03-27 16:24] stefdelec commented on #2356
ok.

[2019-03-27 16:31] winter38 opened #2591 "web3.eth.accounts.wallet typings and documentation"
### Description
I am trying update web3 lib from web3.1.0.0-beta.33 to current version (web3.js: 1.0.0 - beta.50).

`web3.eth.accounts.wallet` - i can't figure that class.
in docs - https://web3js.readthedocs.io/en/1.0/web3-eth-accounts.html#wallet - there is length
in git - https://github.com/ethereum/web3.js/blob/1.0/packages/web3-eth-accounts/src/models/Wallet.js - there is accountsIndex
in typ

[2019-03-27 16:33] nivida commented on #2542
@SwissArmyBud This isn't an issue of web3.js. The status field should have the value ``0x1`` or ``0x0`` as documented in the geth and parity documentation. I've tested it with geth and parity and a transaction.

https://wiki.parity.io/JSONRPC-eth-module#eth_gettransactionreceipt
https://github.com/ethereum/wiki/wiki/JSON-RPC
https://infura.io/docs/ethereum/json-rpc/eth_getTransactionReceipt
https:

[2019-03-27 16:33] #2542 closed, assigned to nobody

[2019-03-27 16:42] nivida commented on #2591
Thanks for opening this issue! I'll fix and release it asap.

[2019-03-27 16:46] Fang- commented on #2587
Experiencing the same error when using `ganache-cli`, which seems to exhibit identical behavior to Infura.

Noteworthy these also produces integers for `blockNumber`, `gasUsed`, etc, rather than hex-encoded values (`QUANTITY`s as per the RPC spec). From a quick glance at `ganache-core`'s revision history, it seems it's been doing this for some time. Web3 previously worked fine with that. Perhaps i

[2019-03-27 16:46] #2591 closed, assigned to nobody

[2019-03-27 16:48] nivida commented on #2577
You're able to set the options just change your code to:
[code]

[2019-03-27 17:14] jamesmorgan commented on #2582
I have also just seen this when updating web3js, previous version `1.0.0-beta-37` - also can confirm this worked as expected on `1.0.0-beta.47`

[2019-03-27 18:43] SwissArmyBud commented on #2542
@nivida This is an issue with [THIS line](https://github.com/ethereum/web3.js/blob/b88ab8235ed583f8b944a438e0676ef9d7c523cc/packages/web3-core-helpers/src/Formatters.js#L282) in the incoming receipt formatter being passed to [THIS line](https://github.com/ethereum/web3.js/blob/9dfc93eff1998136f739c8040cea8d0e733a991e/packages/web3-core-method/lib/methods/transaction/AbstractObservedTransactionMeth

[2019-03-27 19:28] mesirendon commented on #2587
I'm running into this problem as well. I thought the problem was ganache so I deployed into Ropsten and tried to test my API against it, but I'm getting the same behavior. So I don't think it's something related to Infura or Ganache, simply because the transactions are actually on chain.

What I'm doing now is testing my API with mocha and chai. I'm signing the transaction manually and then sendin

[2019-03-27 19:57] nivida commented on #2080
@vikaskyadav Gitcoin (@ceresstation) told me they will pay out all the bounties.

[2019-03-27 20:01] nivida commented on #2089
@eswarasai Sorry for the late response. @OFRBG started to do some tests and created a PR in the [web3-examples](https://github.com/ethereum/web3-examples) repository. Feel free to join the two open discussions we have in the issue list there.

[2019-03-27 20:12] nivida commented on #2171
@glesaint Thanks for asking this!

BigInt is already supported in chrome and exists as an experimental feature for Firefox. I've done some research about the coming BigInt of JS and found the following polyfill which also has a babel plugin. It would be possible to extend from the JSBI and to create a BigDecimals as explained in the referenced blog post below.

JSBI: https://github.com/GoogleChrom

[2019-03-27 20:16] #1400 closed

[2019-03-27 21:39] web3rover commented on #1589
@jacksonng77 this works in 0.20.*

`let web3 = new Web3( new Web3.providers.HttpProvider("url", 0, "username", "password") );
`

[2019-03-27 21:58] ryanschneider commented on #2587
I'm pretty sure the transformation from hex to bool is happening at a higher layer in your code, as the raw result from Infura is clearly still a `"0x1"`:

[code]

[2019-03-27 22:00] SwissArmyBud commented on #2587
@mesirendon and @ryanschneider see reference discussion about #2542

[2019-03-27 22:08] patitonar commented on #2465
Similar issue for me when trying to call `sendTransaction` on production build for react app with version `1.0.0-beta.50`. Works ok in dev environment
[code]

[2019-03-27 22:22] SwissArmyBud commented on #2560
@iccicci
There are two specific issues here, one is an internal posting error and the other is Ganache failing to deal with eth_chainId correctly. The two references (issue/PR) above this post have more information about the "reverted by EVM" problem.

[2019-03-27 22:24] SwissArmyBud commented on #2542
Filed a PR, in the mean time anyone who doesn't mind compiling/using their own Web3 modules can grab a copy [from the fix branch.](https://github.com/SwissArmyBud/web3.js/tree/SwissArmyBud-patch-2542)

[2019-03-28 00:50] pradeepgarje commented on #974
Hi,
I have installed Node.js first and then opened Node.js command prompt and entered different command to install web3. But not able to install it. Can someone please help me to understand the problem? your response will be highly appreciated. thank you.
Commands used:
<h5>npm install web3
AND npm install --save web3@^0.20.0 </h5>

Node.js version installed: 10.15.3 (Recommanded for most users)

[2019-03-28 03:57] xiongzhend opened #2595 "Does any one know why come out of this error, please?"
---------------------------

## Simple contract, but got this issue

Transaction has been reverted by the EVM

## Actual Results

Hi, everyone! I create a very simple contract as follow:

    pragma solidity >=0.4.24 <0.6.0;
    contract Test {

    // There is minimum and maximum bets.
    uint constant MIN_BET = 0.01 ether;
    uint constant MAX_AMOUNT = 300000 ether;

    // 测试1
    function ge

[2019-03-28 05:17] SwissArmyBud commented on #2595
See #2542 for discussion

[2019-03-28 07:03] princesinha19 commented on #2577
Thanks, @nivida.
It worked for setting options. But still not getting the receipt at the time of contract deployment.

[2019-03-28 10:17] nivida commented on #2595
Got fixed by @SwissArmyBud and will be released asap.

[2019-03-28 10:17] #2595 closed, assigned to nobody

[2019-03-28 10:19] princesinha19 commented on #2577
@nivida Now, .on('receipt') is working. But I am only getting the tree structure on calling .on('receipt) event, I doesn't get actual transaction receipt which consists of **contractAddress**, **transactionHash**, etc.
#### Code Block
[code]
#### Log of transaction receipt
![receipt log](https://user-images.githubusercontent.com/28489437/55149777-cd0ed880-5170-11e9-96dd-691b1fc99b2e.png)

[2019-03-28 10:24] nivida commented on #2582
This got fixed with https://github.com/ethereum/web3.js/commit/2ce2412daea89c3fa90fa2f589617e514602ac40 and will be released today.

[2019-03-28 10:24] #2582 closed, assigned to nobody

[2019-03-28 10:26] mcplums commented on #1041
I tried `npm install ethereum/web3.js` and did NOT get a `dist` folder with `web3.min.js`... the links above with the online version of this file are all 404ing

[2019-03-28 10:38] ishwarchandratiwari opened #2597 "how to use web3 in flutter ?"
i am getting error while connecting with ethereum node<br>

 - this line ==> print(client.getBlockNumber()); returns error

    import 'package:flutter/material.dart';
    import 'package:http/http.dart';
    import 'package:web3dart/web3dart.dart';
    import 'dart:async';
    const String url =
        'https://mainnet.infura.io'; // i am also running geth on local http://localhost:8545

    cla

[2019-03-28 12:05] rjkz808 opened #2599 "Web3 doesn't work correctly with truffle-hdwallet-provider"
### Description

When I'm trying to subscribe to `'newBlockHeaders'` event using the [truffle-hdwallet-provider](https://www.npmjs.com/package/truffle-hdwallet-provider), web3 throws an error.

#### Expected behavior

Expected web3 to subscribe to an event.

#### Actual behavior

Subscribing to `'newBlockHeaders'` event throws the next error:

[code]

#### Steps to reproduce the behavior

[code]

[2019-03-28 12:12] ioitiki commented on #1022
i got web3 1.2.1 up and running with react-native@0.60.4 and react@16.8.6

`react-native init APPNAME`
`npm i --save react-native-crypto`
`npm i --save react-native-randombytes`
`cd ios/`
`pod install`
`cd ..`
`npm i --save-dev rn-nodeify@latest`
`./node_modules/.bin/rn-nodeify --install`
`npm i --save node-libs-browser`
`npm i base-64`

# modify APPNAME/metro.config.js to read:
[code]

# modify s

[2019-03-28 13:25] nivida commented on #2599
The truffle hdwallet provider is HTTP based and does not support subscriptions.
Please use the official socket based providers of the Web3.js library. (WebsocketProvider or IpcProvider)

If you would like to have a custom signing process then feel free to write your own custom TransactionSigner as described [here](https://web3js.readthedocs.io/en/1.0/web3-eth.html#transactionsigner).

[2019-03-28 13:25] #2599 closed, assigned to nobody

[2019-03-28 13:28] nivida commented on #2597
Could you ask this question in our [gitter channel](https://gitter.im/ethereum/web3.js)? Thanks! :)

[2019-03-28 13:28] #2597 closed, assigned to nobody

[2019-03-28 13:53] tclairet opened #2600 "Bad conversion from hex to decimal with eth_getBlockByNumber after tx"
### Description

This issue may be related to [this issue](https://github.com/ethereum/web3.js/issues/2587) but I think I found a bug not fixed by the fix.

There is a bad conversion from hex to decimal with eth_getBlockByNumber done by web3 after tx. I found that because I have a middleware in php before my node.

I have a simple script which do a tx on my private network.

[code]

#### Actual be

[2019-03-28 14:22] rjkz808 commented on #2599
Thank you for your prompt response 😄

[2019-03-28 14:56] ghost opened #2601 "No receipt after contract deploy"
### Description

After deploying a new contract I never receive a `receipt` object.

    const deploy = { abi: [...], bytecode: '0x...' };

    const web3 = new Web3 (window ['ethereum']);
    const contract = new web3.eth.Contract (deploy.abi);

    window ['ethereum'].enable()
        .then (accounts => {

            contract.deploy({
                data: deploy.bytecode,
                argum

[2019-03-28 15:01] ghost commented on #2601
In addition: With `web3.js: 1.0.0-beta.46` it's working fine and I get a `receipt` as well. All other versions after this one are not working.

[2019-03-28 15:03] nivida commented on #2601
You have to configure your module correctly for the development environment. I've updated and improved the transaction confirmation workflow in [this](https://github.com/ethereum/web3.js/releases/tag/v1.0.0-beta.49) release.

[2019-03-28 15:12] ghost commented on #2601
Thank's for the quick reply.

You mean this `options` object?

    const options = {
        defaultAccount: '0x0',
        defaultBlock: 'latest',
        defaultGas: 1,
        defaultGasPrice: 0,
        transactionBlockTimeout: 50,
        transactionConfirmationBlocks: 24,
        transactionPollingTimeout: 480,
        transactionSigner: new CustomTransactionSigner()
    }

    const web3 =

[2019-03-28 15:23] patitonar commented on #2465
After upgrading to `1.0.0-beta.51`:
[code]

[2019-03-28 17:32] nivida commented on #2600
``eth_getBlockByNumber`` gets called for the transaction confirmation workflow to proof that there is really a new block. The ``ouputTransactionReceipt`` formatter is using the Utils.hexToNumber() method as it was using it before too.

Did you test it also directly with a real node?

Btw: I wouldn't send my transactions over a centralized point.

[2019-03-28 17:56] jacksonng77 opened #2602 "WebsocketProvider on React-Native url == null"
I am on 1.0.0-beta.50 and React-Native 0.57 via expo SDK 32.0

I am trying to connect to a private ethereum node with the following codes:

[code]

I am unable to connect to my node. The following error is shown.

`url == null`

[2019-03-28 18:00] princesinha19 commented on #2600
@nivida yes, you are right. The `outputTransactionReceipt` fotmatter is using Utils.hexToNumber() method but the method produces incorrect results that was listed in issue #1677.
After that I tested the function `utils.hexToNumber()`, that was incorrect and then, I modified the code and created a pull request #2586. Please check the pull request.
@tclairet you are right. We need to check it.

[2019-03-28 18:02] nivida commented on #2602
Thanks for opening this issue! There is already a PR regarding this issue (#2593). I will check it closer and release the fix asap.

[2019-03-28 18:05] princesinha19 commented on #2601
Yes @nivida. This issue is same as the issue #2577. Please check the .`on('receipt')` event. Why it's not generating the receipt.
I don't know, but it might be issue of **Geth** as it is working fine with **Ganache**. Also, after setting options it gets executed but doesn't produces transaction receipt. We only get methods, options etc in receipt.

@hbrs Check the issue #2577 and set the options c

[2019-03-28 18:18] tvance929 commented on #966
@Kishanjvaghela - that was it for me!  My package had a github address for web3... i replaced it with your version then followed your steps and Im up.  Thanks so much!

[2019-03-28 18:28] jacksonng77 commented on #2602
Thank you nivida!

I wish to add that the same codes work in node.js but on React-Native, it gives me

`url == null`

[2019-03-28 18:46] szerintedmi commented on #2577
I'm struggling with tx events using web3js beta 51 too.
Using local `ganache` v6.4.1 (`ganache-core`: 2.5.3).

- When I connect via websocket I receive `transactionHash` and `confirmation` events but never `receipt` and the `tx.send()` promise never resolves.

- When I connect via http then I don't even receive the `confirmation` events.

Both cases the `transactionConfirmationBlocks` set to 1.
Th

[2019-03-28 18:47] ghost commented on #2601
I changed my code to this below, but still don't get a receipt.

    const options = {
        transactionConfirmationBlocks: 1,
        transactionBlockTimeout: 5,
        transactionPollingTimeout: 480
    };

    const web3 = new Web3 (window ['ethereum'], null, options);

[2019-03-28 19:10] princesinha19 commented on #2577
@szerintedmi Did you configured the `transactionConfirmationBlocks` option?
As it is working for me with Ganache in version `1.0.0-beta.50`. But doesn't with Geth.

[2019-03-28 19:58] vshab opened #2603 "beta51 return broken BigNumber from contract methods"
### Description

It is said that

Seems like these BigNumber come from ethers.js which [enwraps BN's](https://github.com/ethers-io/ethers.js/blob/master/utils/bignumber.js) making it impossible to operate them in conjuncture with pure BN.

[code]

#### Expected behavior

Code above works

#### Actual behavior

The error is `Error: invalid BigNumber value (arg="value", value="2", version=4.0.27)`

[2019-03-28 20:17] szerintedmi commented on #2577
Yes, in provider options. I also crossed checked with `console.log(web3.transactionConfirmationBlocks)`
(I assume you meant `transactionConfirmationBlocks`  and not `transactionConfirmationsBlock` )

I'm writing a quick test to reproduce the issue, will keep it posted

[2019-03-28 20:29] nivida commented on #2603
This is because the AbiCoder of ethers.js is returning his own BigNumber implementation.
The real solution would be if ethers.js and web3.js are moving to BigInt which is already implemented in chrome and as an experimental feature in Firefox. There is also a polyfill from google called JSBI.

I would really like to switch to BigInt and the JSBI polyfill.

I will talk to Richard from ethers.js if

[2019-03-28 20:38] vshab commented on #2603
In my opinion it's not the best solution - exporting some internal types. Then there should be some kind of typing for them, documentation and the way to instantiate in user code.

That's a good idea i think 👍

[2019-03-28 20:52] nivida commented on #2465
Thanks for testing it @patitonar! [This](https://github.com/ethereum/web3.js/blob/1.0/packages/web3-core-method/src/methods/transaction/EthSendTransactionMethod.js#L161 ) line is the bug. I will fix and release it asap.

[2019-03-28 21:09] szerintedmi commented on #2577
test to demonstrate the issue:
https://github.com/Augmint/web3js_integration_tests

[2019-03-28 21:46] lucashenning commented on #2601
+1 After updating to `1.0.0-beta.51 (latest)`, the `.on('receipt', (txReceipt : TransactionReceipt)` event is not triggered anymore. I tested this on Ganache, Quorum, and Ropsten. The `confirmation` and `transactionHash` events are triggered correctly.

- web3.js: `1.0.0-beta.51 (latest)`
- Ganache: `Version 2.0.0-beta.2 (2.0.0-beta.2.398)`

[2019-03-28 21:54] Mozeps opened #2604 "Node.js: myContract.events subscription using options throws error"
### Description
When subscribing to an event of a contract deployed to a ganache blockchain-client, trying to use options such as "fromBlock" throws an error. The syntax follows the example of the web3 docs (https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#id38).

The error occurence does not depend on "how" you subscribe to the event, it occurs if you are subscribing through the signat

[2019-03-28 22:10] nivida commented on #2604
This got fixed with version 1.0.0-beta.51.

[2019-03-28 22:10] #2604 closed, assigned to nobody

[2019-03-28 23:17] csokun opened #2605 "subscribe logs behaviour discrepancy between WebsocketProvider and HttpProvider"
### Description

I have subscribed to a set of topics. When using `HttpProvider` I can subscribe and get events back. However, when I switch to `WebsocketProvider` the same subscription code doesn't return any events.

#### Expected behavior
I should be able to subscribe to logs event using either `HttpProvider` or `WebsocketProvider`.

#### Actual behavior
Not all topics can be subscribe via `Web

[2019-03-29 02:31] dileepfrog commented on #2601
Most likely related, `await`ing a call to `web3.eth.sendSignedTransaction` the Promise never resolves in `1.0.0-beta.51`. It did resolve correctly on the receipt in `1.0.0-beta.50`

[2019-03-29 02:33] xiongzhend commented on #2595
no, please don't close, I update 1.0.0-beta.51, and now every test with this happen:

1) "before each" hook for "deploys a contract":
     Error: Timeout of 2000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves.

[2019-03-29 03:07] xiongzhend commented on #2595
I push a simple project here, you can test it, thank you very much!
https://github.com/xiongzhend/MyContract
steps:
1. git clone...
2. npm install
3. truffle compile --compile-all (just in case)
4. mocha test (you need install mocha global)

[2019-03-29 04:41] AJSihota commented on #2412
Still getting the same error even with @aks30498's step.
`"truffle-hdwallet-provider": "0.0.3", "web3": "^1.0.0-beta.37"`

and code is the following =>

[code]

Anything i could be missing? Thanks

[2019-03-29 07:11] aks30498 commented on #2412
@AJSihota  It shows some error or just nothing at all... and returns after some time ? When i faced issue in this part of course... it was related to gas and using 'gas': '3000000' fixed it. Also i think u should use accounts[0] to print the exact address intead of accounts which would print the array of all the addresses in first console log statement (although it wouldnt give any error but....ju

[2019-03-29 07:51] ShivamArora commented on #2465
I'm facing the same issue as @patitonar  provided with version `1.0.0-beta.51`.
Was facing the `DOMException` issue earlier the same as @lunochkin with the version `1.0.0-beta.48`. Then upgraded the version to `1.0.0-beta.51` and facing the `No privateKey given to the TransactionSigner` issue.

I'm waiting for this to be fixed.

For now, I've switched back to version `1.0.0-beta.37` and everything

[2019-03-29 07:55] jacksonng77 commented on #1589
Thanks Narayan, but I needed it working with Web3.js 1.0.

I found the solution, it involves making some some changes to \node_modules\web3-providers-http\src\index.js.

I passed the authorization to HttpProvider as a header like this.

`new Web3(new Web3.providers.HttpProvider('https://node-url',0,{Authorization: 'Basic myauthenticationstring'}))`

And then at \node_modules\web3-providers-http\sr

[2019-03-29 08:42] nivida commented on #2605
The HttpProvider does not support subscriptions and will return an error.
But because you defined the fromBlock to 100 will it first request all the past logs and return them.

I've tested the logs subscription with the WebsocketProvider and didn't have a problem with it. Could you please add a GitHub repository for reproducing this behavior?

[2019-03-29 10:15] mcplums commented on #1916
I'm having the same error when doing truffle migrate. But ONLY when using Ganache GUI, not when using Ganache CLI. Does this imply the problem is not in fact with web3?

I tried downgrading web2 to 35 (from 37) like others suggested but it didn't make a difference.

[2019-03-29 10:46] szerintedmi commented on #2601
Same here. [Here is a failing test](https://github.com/Augmint/web3js_integration_tests/blob/master/test/sendTransaction.js) to demonstrate the issue with `sendTransaction` on ganache

[2019-03-29 10:50] princesinha19 commented on #2605
Yes, @csokun I also tested the logs subscription and it works fine with WebSocketProvider. I tested for logs and newBlockHeaders.
With HttpProvider, you will get an error because subscription doesn't support HttpProvider.

[2019-03-29 11:09] csokun commented on #2605
Thank @nivida that explain why I can get logs using `HttpProvider` because I had `fromBlock` configured.

@princesinha19 me too had successfully subscribed to logs using `WebsocketProvider`. However, it only when I started to add topics from one specific smart contract that the subscribe logs just stale. I am not sure is it because the volume of logs that the particular contract producer causing t

[2019-03-29 11:27] tclairet commented on #2600
I tested with web3.js: 1.0.0-beta.51, I no longer have the error but the I never receive the receipt, it's just hanging for ever.

[2019-03-29 11:36] szerintedmi commented on #2601
not sure if it's related but it seems not to resolve nor reject on VM error either (running on `ganache-cli` version 6.4.1).
[This test](https://github.com/Augmint/web3js_integration_tests/blob/master/test/fails.js) times out on `await receipt` which is executing a contract tx which reverts.

[2019-03-29 11:39] adammalczewski opened #2607 "Problem with decoding complex types returned from contract function"
### Description

I am trying to call a method from blockchain contract which returns single value of type tuple[]:

[code]

part of ABI JSON regarding getAllUsers function:

[code]

on remix.ethereum.org when i call the function i get:
[code]
#### Expected behavior

users should be [["0xf2D38fC631d4FCFbAeDB274D2b95C436ab75a1B4", ...]]

#### Actual behavior

users is [[]]

#### Additional notes

I

[2019-03-29 11:44] nivida commented on #2607
Web3.js is using the AbiCoder of ethers.js. Could you please open an issue in the ethers.js repository?

[2019-03-29 11:49] adammalczewski commented on #2607
I am confident that the problem lies on the Web3.js side and as I have written i have already fixed this, AbiCoder from ethers.js works correctly.

[2019-03-29 12:43] #2527 closed, assigned to nobody

[2019-03-29 12:43] #2499 closed, assigned to nobody

[2019-03-29 12:43] #2444 closed, assigned to nobody

[2019-03-29 13:18] nivida commented on #2607
Can you explain to me closer why it should be a problem with Web3.js?

[2019-03-29 15:33] AJSihota commented on #2412
@aks30498 This is my error message when I run the code above :

[code]

I've tried adjusting my gas amount and printing from first index of accounts instead of the entire array. But still getting this error message. I'm handling the callbacks with catch(e) but not sure if there could be something else I missed

[2019-03-29 15:57] adammalczewski commented on #2607
Method afterExecution in class CallContractMethod in web3-eth-contract/src/methods/CallContractMethod.js passes string to AbiCoder's method decodeParameter instead of AbiOutput and because of this, information about tuple's components is lost.

Now it's:
[code]
instead of:
[code]
I fixed this in my fork already but I'm still investigating the use of decodeParameter method because I can see 'type'

[2019-03-29 16:22] #2465 closed, assigned to nobody

[2019-03-29 16:24] nivida commented on #2607
Thanks! I've missed that case. Will fix and release it asap.

[2019-03-29 16:54] aks30498 commented on #2412
@AJSihota Exact same code worked for me when i deployed it!! i just redeployed it using my code to double check. And the error that it shows to you should be in the case when you called the getAccounts() method synchronously. Just make sure that async await is used correctly in your script. People have raised issue with this error earlier but using promises/async-await fixes it and we already have

[2019-03-29 17:15] szerintedmi opened #2610 "signTransaction fails with Method eth_chainId not supported. (beta51)"
### Description
signTransaction fails with `Method eth_chainId not supported.` error when I don't provide `chainId` in tx data. It used to work in earlier beta releases.

It seems the defaults are not passed through because  when I provide `chainId` in the tx data then sign complains about the gas being too low.

 It's a regression, it works fine in beta36.
#### Expected behavior
This should work

[2019-03-29 17:23] sebayaki opened #2611 "myContract.events.MyEvent is broken in beta.49-51"
### Description

I think this issue is related to https://github.com/ethereum/web3.js/issues/2563 but the fix #2574 didn't apply on `contract.events` methods.

This issue has appeared on beta.49, and still existing on beta.51

#### Expected behavior
[code]
should log events.

#### Actual behavior
Error log
[code]

### Versions
* web3.js: 1.0.0-beta.51
* nodejs: v11.7.0
* browser: console
* ethereu

[2019-03-29 17:35] Jorocha commented on #1041
Thanks! This works for me too!

[2019-03-29 17:38] szerintedmi opened #2612 "Can't get tx receipt of reverted transaction"
### Description
A tx which reverted never resolves and I can't get the receipt of the reverted transaction:   receipt is not available neither in catch args or in error event args

#### Expected behavior
In case a transaction reverts or runs out of gas:
[code]

#### Actual behavior
on VM error I can't retrieve the receipt in any of these ways:
- it's not passed to `error` event
- it's not passed t

[2019-03-29 18:05] 1559012 commented on #1041
Because this is the old web3 version. So read the Javascript API document instead of web3 official website

[2019-03-29 18:30] nivida commented on #2610
This isn't an issue of Web3.js and there is already an open issue in the ganache repository: https://github.com/trufflesuite/ganache-core/issues/339.

[2019-03-29 18:30] #2610 closed, assigned to nobody

[2019-03-29 18:31] nivida commented on #2611
Thanks for opening this issue! Will fix and release it next week.

[2019-03-29 19:15] eccentricexit commented on #1648
Same here.

[2019-03-29 19:27] vshab opened #2614 "Error when when connection close while getting logs"
### Description

Infura can close websocket connection when request takes a lot of time, for example query past events starting block 0 on mainnet. In this case web3 produce this error in console:
[code]

https://github.com/ethereum/web3.js/blob/1.0/packages/web3-providers/lib/providers/AbstractSocketProvider.js#L195 is the location in file where the error occurs.

Screenshot from debugger:
<img w

[2019-03-29 20:07] EddieOne opened #2615 "Getting hex instead of intergers"
With version 50 or maybe earlier, I was getting returned data in the correct format. Earlier versions had an object with correct format. Now with version 51, I receive something like {_hex: "0x2a"} when I expect an integer. Is that expected or it's a bug?

[2019-03-29 20:21] ilanolkies commented on #2502
Hi @nivida Still happening in beta.51. Please reopen this issue.

[2019-03-29 21:27] EddieOne commented on #2615
Well, I just use parseInt and it seems to work fine, so I will close this as it seems intentional

[2019-03-29 21:27] #2615 closed, assigned to nobody

[2019-03-29 23:12] dileepfrog commented on #2612
The latest release breaks the `receipt` event see https://github.com/ethereum/web3.js/issues/2601

[2019-03-29 23:23] nivida commented on #2614
Thanks for opening this issue! I'll test and fix it asap.

[2019-03-29 23:25] wallaceturner commented on #2330
There is still an issue with the *callback*
In 1.0.0-beta.51 if you omit the EventEmitters and just use the callback, the callback is never fired

Callback should be removed or fixed?

[code]

Also one minor thing, the `Subscription.on` methods in the typings indicate it returns `void` however i believe this should be
[code]

[2019-03-29 23:32] nivida commented on #2612
Thanks for opening this issue! I will fix this and probably release it on Tuesday.

[2019-03-30 01:16] nivida commented on #1629
This got fixed with the PR https://github.com/ethereum/web3.js/pull/2608 and will be released asap.

[2019-03-30 01:16] #1629 closed

[2019-03-30 01:22] nivida commented on #1020
``0x`` will be handled as ``null`` with this PR https://github.com/ethereum/web3.js/pull/2608. I've decided to return null because of the [discussion](https://github.com/ethereum/go-ethereum/pull/3485#issuecomment-268793870) in the geth PR.

[2019-03-30 01:22] #1020 closed

[2019-03-30 01:25] nivida commented on #1916
This got fixed with the PR https://github.com/ethereum/web3.js/pull/2608 and will be released asap.

[2019-03-30 01:25] #1916 closed, assigned to nivida

[2019-03-30 01:52] nivida commented on #2140
This got fixed with PR https://github.com/ethereum/web3.js/pull/2608 and will be released asap.

[2019-03-30 01:52] #2140 closed, assigned to nobody

[2019-03-30 01:55] nivida commented on #1326
This got fixed with the latest release of Web3.js. (beta.51)

[2019-03-30 01:55] #1326 closed

[2019-03-30 02:05] sebayaki commented on #2611
Thank you for your fast response always :)

[2019-03-31 02:52] iheqi commented on #2595
This is what I want to say too, mocha need a resolved result, but web3's return is not resolve. It work on 1.0.0-beta.48.

[2019-03-31 06:37] silravend opened #2620 "can anyone saw it? I face the issue too #2595"
JUST LIKE HE SAID [https://github.com/ethereum/web3.js/issues/2595](#2595)

This is what I want to say too, mocha need a resolved result, but web3's return is not resolve.

[2019-03-31 10:38] carsonwah commented on #2475
So, ...Is `web3.min.js` permanantly gone?

[2019-03-31 13:40] angus-hamill opened #2621 "Transaction confirmation poll rate as a constructor option"
### Description
In the `TransactionObserver` class, the polling rate is set to poll every 1000 ms. While this is fine for the mainnet and testnets, people using private networks or ganache have experienced a significant performance dip.
I personally have fixed this locally by changing the observer to poll every 100ms.
Perhaps this could be added as a configurable option (with a default of 1000), s

[2019-03-31 14:22] ikincidemirel opened #2622 "npm install web3"
Hi I was trying to install web3 but I got errors :/

c:\Users\ikinc\truffle-part2>npm install web3

c:\Users\ikinc\node_modules\scrypt>if not defined npm_config_node_gyp (node "C:\Users\ikinc\AppData\Roaming\npm\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "C:\Users\ikinc\AppData\Roaming\npm\node_modules\npm\node_modul

[2019-03-31 14:48] princesinha19 commented on #2622
@ikincidemirel This is a problem with your npm not web3. Try reinstalling npm.

[2019-03-31 18:07] Mozeps commented on #2604
For everybody running through the same issue, the bug is not fixed yet. Though there is another issue regarding the bug: #2611.

[2019-03-31 19:35] #2622 closed, assigned to nobody

[2019-04-01 05:33] #2611 closed, assigned to nobody

[2019-04-01 08:48] carsonwah opened #2623 "Why is web3.min.js not provided anymore?"
### Description

No `web3.min.js` available since v1.0.0-beta.38.

#### Expected behavior

A `web3.min.js` file should be pre-packed and is ready to use directly.

#### Actual behavior

The collaborator said "he" always use webpack to bundle the js files.
https://github.com/ethereum/web3.js/issues/2475#issuecomment-470934021

### Versions
* web3.js: >=1.0.0-beta.38

----

Can someone explain the r

[2019-04-01 09:04] KyleYao113 commented on #2465
Can you post your code? I used 1.0.0-beta.37 or this error. I didn't know what to do for one day.

[2019-04-01 10:03] nivida commented on #2620
Could you please update your issue to be aligned with the issue template we provide?

[2019-04-01 10:08] nivida commented on #2623
I've removed the minified file because I thought the frontend space is using a build chain anyways. Sorry for the troubles. I will add a minified file for each module back to the npm packages asap.

[2019-04-01 10:37] carsonwah commented on #2623
@nivida Thank you. I think providing a minified js will be very helpful especially for many people that are using Truffle as their starting point, which does not include a frontend bundler usually.
Thanks for the quick reply.

[2019-04-01 10:49] #2612 closed, assigned to nobody

[2019-04-01 10:50] #2601 closed, assigned to nobody

[2019-04-01 10:54] nivida commented on #2600
@tclairet This got already fixed and will be released this week. Thanks for testing it again!

[2019-04-01 10:54] #2600 closed, assigned to nobody

[2019-04-01 10:58] nivida commented on #2577
@princesinha19  @szerintedmi The missing emitted receipt event got fixed with #2616 and will be released this week.

[2019-04-01 11:03] princesinha19 commented on #2577
thanks, @nivida.

[2019-04-01 11:24] #2411 closed, assigned to nobody

[2019-04-01 13:26] alexbabichev commented on #2077
downgraded to ^1.0.0-beta.35 to get it work

[2019-04-01 13:39] #2607 closed, assigned to nobody

[2019-04-01 17:55] ShivamArora commented on #2465
@whatTheHellDie I'm away from my machine right now, so can't share the snippet.

But basically I was just trying to send a transaction on my contract using `mycontract.methods.someContractMethod(params).send({from:sender_address})`.

Downgrading to version `1.0.0-beta.37` worked for me.

Are you facing any problem with `1.0.0-beta.37`? I think @nivida has fixed the issue as it seems but I'm yet to

[2019-04-01 18:43] schadokar commented on #2029
@Trycoder  thanks it really helped. I was also struck at this stage. Can you please tell what that piece of code resolving? And Do we really need rest of the packages otherthan python?

[2019-04-01 19:40] aakilfernandes commented on #1241
@nivida I'm confused. is this fixed in web3 or ethers.js? Is ethers.js a dependency of web3? I'm a little confused at how these projects interact

[2019-04-01 19:42] aakilfernandes commented on #1241
@nivida

Which release was this? I'm using 0.18.4 but still having a problem

[2019-04-01 19:42] #2614 closed, assigned to nobody

[2019-04-01 19:43] #2602 closed, assigned to nobody

[2019-04-01 21:44] ghost commented on #2623
Yes, please provide this. Many users cannot even install web3 with npm. Web3 uses a deprecated version of scrypt npm module instead of native node.js functions. As a result of this dependency it cannot be installed as this module has difficulties installing under many modern linux distributions.

You can see this module is deprecated here: https://github.com/barrysteyn/node-scrypt

There is even p

[2019-04-01 23:03] afcajamarcar opened #2627 "Timeout error when getting the transaction receipt and getting the block by its number."
### Description
Timeout error when getting the transaction receipt and getting the block by its number in **v1.0.0-beta.51**

#### Expected behavior
Receive the hash of the transaction that has been made.

#### Actual behavior

Receiving a timeout error.

#### Error Logs
As you can see on this gif, when expecting the resulting hash of the transaction I get a timeout error.

![](https://user-images

[2019-04-02 03:51] gnurtcouq opened #2628 "BigNumber Error: new BigNumber() not a base 16 number"
### Description

When I call function like this:

var memberData =  myContract.members(accountAddress);

It shows error: "BigNumber Error: new BigNumber() not a base 16 number"

Before calling this function, I checked the value of accountAddress by adding the code:

console.log("Account Address:" + accountAddress);

And it shows:

Account Address:0xd5c456b7218e9d11c577bd015c61aee93458157f

Any ide

[2019-04-02 04:37] jacko125 commented on #2022
Using truffle v5 and also getting the same issue when using the truffle contract-abstraction to call a contract that returns a 2D array.

@chmelva4  Any way to not use async/await but promises with truffle contract abstractions?

Looks like it may be possible to wrap the Truffle Artifacts using own web3 in dependencies for testing and then call the contract functions via contract.methods.functions

[2019-04-02 05:20] nivida commented on #2627
Could you please add your code example for reproducing this error?
The error looks like a project-specific error because Web3.js isn't importing a file called ``api.key``.

Edit: did you set the [``transactionConfirmationBlocks``](https://web3js.readthedocs.io/en/1.0/web3.html#options) options property?
[code]

[2019-04-02 05:26] nivida commented on #2628
Could you please add the versions of the tools you are using?

[2019-04-02 07:57] nivida commented on #2251
We started to rewrite the documentation and to add live examples etc. [here](https://github.com/ethereum/web3-examples).

[2019-04-02 07:57] #2251 closed, assigned to nobody

[2019-04-02 07:58] nivida commented on #2250
We started to rewrite the documentation and to add live examples etc. [here](https://github.com/ethereum/web3-examples).

[2019-04-02 07:58] #2250 closed, assigned to nobody

[2019-04-02 08:33] AyushyaChitransh commented on #2465
Using 1.0.0-beta.37 does not resolve the issue. I still get errors.

[2019-04-02 08:55] nivida commented on #1899
This got implemented during the refactoring: https://github.com/ethereum/web3.js/blob/1.0/packages/web3-eth-contract/src/AbstractContract.js#L174

[2019-04-02 08:55] #1899 closed, assigned to nobody

[2019-04-02 08:56] #1892 closed, assigned to nobody

[2019-04-02 08:58] nivida commented on #1714
This can now be configured over the [module options](https://web3js.readthedocs.io/en/1.0/web3-shh.html#web3-module-transactionconfirmationblocks). I'll update the documentation asap.

[code]

[2019-04-02 08:58] #1714 closed

[2019-04-02 08:58] #1637 closed

[2019-04-02 09:03] nivida commented on #1585
This got fixed with https://github.com/ethereum/web3.js/pull/2608 and will be released this week.

[2019-04-02 09:03] #1585 closed

[2019-04-02 09:04] nivida commented on #1512
This got fixed with the new AbiCoder of Web3.js. Please update to the latest version of Web3.js.

[2019-04-02 09:04] #1512 closed

[2019-04-02 09:05] nivida commented on #1484
I've improved the contract methods handling during the bigger refactoring I've done. Please update to the latest version of Web3.js.

[2019-04-02 09:05] #1484 closed

[2019-04-02 09:08] #1315 closed

[2019-04-02 09:10] nivida commented on #1266
I've tested and improved the IpcProvider on the last 1.0 beta release. Please update to the latest version of Web3.js.

[2019-04-02 09:10] #1266 closed

[2019-04-02 09:12] nivida commented on #1260
I've tested and fixed the events handling during the refactoring. Please update to the latest version of Web3.js.

[2019-04-02 09:12] #1260 closed

[2019-04-02 09:14] nivida commented on #1219
This got fixed in the [``AbstractContract``](https://github.com/ethereum/web3.js/blob/1.0/packages/web3-eth-contract/src/AbstractContract.js#L174) object during the refactoring.

[2019-04-02 09:14] #1219 closed

[2019-04-02 09:23] nivida commented on #1063
This got fixed with https://github.com/ethereum/web3.js/pull/2608 and will be released this week.

[2019-04-02 09:23] #1063 closed

[2019-04-02 09:23] #1059 closed

[2019-04-02 09:25] nivida commented on #1032
This got fixed with the latest version of Web3.js.

[2019-04-02 09:25] #1032 closed

[2019-04-02 09:27] nivida commented on #937
The Whisper API got updated by the Whisper team. Feel free to open a new issue here if any other problems are popping up.

[2019-04-02 09:27] #937 closed

[2019-04-02 09:27] #998 closed

[2019-04-02 09:28] nivida commented on #843
Did you test it with the latest version of Web3.js?
and could you add a code example here?

[2019-04-02 09:30] nivida commented on #431
This got implemented with the usage of the AbiCoder of ethers.js.

[2019-04-02 09:30] #431 closed

[2019-04-02 09:32] nivida commented on #1460
Closed due to inactivity of the creator. Feel free to open a new issue if the error still occurs.

[2019-04-02 09:32] #1460 closed

[2019-04-02 09:35] nivida commented on #272
This got fixed with https://github.com/ethereum/web3.js/pull/2608 and will be released this week.

[2019-04-02 09:35] #272 closed

[2019-04-02 09:36] #506 closed

[2019-04-02 09:40] nivida commented on #844
This got fixed with the [ProvidersModuleFactory](https://github.com/ethereum/web3.js/blob/1.0/packages/web3-providers/src/factories/ProvidersModuleFactory.js#L88).

[2019-04-02 09:40] #844 closed

[2019-04-02 09:41] nivida commented on #854
This got already fixed. Please update to the latest version of Web3.js.

[2019-04-02 09:41] #854 closed

[2019-04-02 09:43] nivida commented on #872
The error handling of the ``HttpProvider`` got improved. Please update to the latest version of Web3.js.

[2019-04-02 09:43] #872 closed

[2019-04-02 09:47] nivida commented on #952
Closed due inactivity of the creator. Feel free to open a new issue if this error still occurs with the latest 1.0 version of Web3.js.

[2019-04-02 09:47] #952 closed

[2019-04-02 09:48] nivida commented on #983
@jamesmorgan Yes, it does. Hopefully, we can soon implement the Http 2.0 subscriptions.

[2019-04-02 09:54] #1100 closed

[2019-04-02 09:57] nivida commented on #1113
@jellegerbrandy Feel free to submitt a PR with a [TransactionSigner](https://web3js.readthedocs.io/en/1.0/web3.html#transactionsigner) object. We could add the possibility to pass a string like ``hd-wallet`` instead of an object which will load the HDWallet transaction signer.

[2019-04-02 09:59] nivida commented on #1142
This got fixed with the refactoring. Please update to the latest version of Web3.js (1.0.0-beta.51).

[2019-04-02 09:59] #1142 closed

[2019-04-02 10:00] nivida commented on #1154
This will get improved with the PR https://github.com/ethereum/web3.js/pull/2631. I will update the documentation.

[2019-04-02 10:00] #1154 closed

[2019-04-02 10:02] nivida commented on #1259
The readme file got updated and explains the usage of the Web3.js lib in a commonjs environment.

[2019-04-02 10:02] #1259 closed

[2019-04-02 10:02] nivida commented on #1229
This issue got closed due to inactivity of the creator. Feel free to create a new issue if this error still occurs with the latest version of Web3.js.

[2019-04-02 10:02] #1229 closed

[2019-04-02 10:08] nivida commented on #1377
Sorry I didn't see that you were meaning the eth.sendTransaction. Sadly, this isn't possible. Just use the contract methods if you would like to have these events decoded.

[2019-04-02 10:08] #1377 closed

[2019-04-02 10:09] nivida commented on #1402
This got fixed during the refactoring. Please update to the latest version of Web3.js. (1.0.0-beta.51).

[2019-04-02 10:09] #1402 closed

[2019-04-02 10:10] nivida commented on #1434
This got closed due to inactivity of the creator.

[2019-04-02 10:10] #1434 closed

[2019-04-02 10:10] nivida commented on #1452
This got closed due to inactivity of the creator.

[2019-04-02 10:10] #1452 closed

[2019-04-02 10:21] #1672 closed

[2019-04-02 10:23] nivida commented on #1863
This got fixed with adding of eslint.

[2019-04-02 10:23] #1863 closed, assigned to nivida

[2019-04-02 10:23] #1868 closed, assigned to nivida

[2019-04-02 10:24] nivida commented on #1906
This got fixed with the new WebsocketProvider.

[2019-04-02 10:24] #1906 closed, assigned to nobody

[2019-04-02 10:24] #1909 closed, assigned to nobody

[2019-04-02 10:26] nivida commented on #1941
This got fixed with the [AbstractObservedTransactionMethod](https://github.com/ethereum/web3.js/blob/1.0/packages/web3-core-method/lib/methods/transaction/AbstractObservedTransactionMethod.js#L154).

[2019-04-02 10:26] #1941 closed, assigned to nobody

[2019-04-02 10:27] nivida commented on #1954
This got fixed with the new AbiCoder from ethers.js. Feel free to open a new issue if the error still occurs.

[2019-04-02 10:27] #1954 closed, assigned to nobody

[2019-04-02 10:29] #1681 closed

[2019-04-02 10:31] nivida commented on #1994
``console.log(log.topics)`` will log the array as expected.

[2019-04-02 10:31] #1994 closed, assigned to nobody

[2019-04-02 10:33] nivida commented on #1999
This got fixed during the refactoring [here](https://github.com/ethereum/web3.js/blob/1.0/packages/web3-core-method/lib/methods/transaction/AbstractObservedTransactionMethod.js). Please update to the latest version of Web3.js (1.0.0-beta.51)

[2019-04-02 10:33] #1999 closed, assigned to nobody

[2019-04-02 10:35] nivida commented on #2013
Got closed because of this issue. (https://github.com/ethereum/web3.js/issues/2623)

[2019-04-02 10:35] #2013 closed, assigned to nobody

[2019-04-02 10:37] nivida commented on #2187
Closed due to inactivity of the creator.

[2019-04-02 10:37] #2187 closed, assigned to nobody

[2019-04-02 11:43] rajeshsubhankar opened #2633 "web3.eth.subscribe() not working for account addresses"
### Description
`web3.eth.subscribe('logs', {address: 'account address'})` is not returning any logs.

#### Expected behavior
For every new transaction initiated by the specified address, I should get the transaction log.

#### Actual behavior
If the specified address is a smart contract address then I am getting the log whereas there is no response if it is an account address.

#### Steps to repr

[2019-04-02 12:09] ShivamArora commented on #2465
Try using the following command:
`npm install web3@1.0.0-beta.37 --save --save-exact --unsafe-perm=true`

[2019-04-02 13:14] gnurtcouq commented on #2628
On Tue, Apr 2, 2019 at 1:26 PM Samuel Furter <notifications@github.com>
wrote:

I followed the document in https://github.com/IBM/loyalty-points-evm-fabric
to setup the system. At step 5. Run Web Application, after login to url=
http://localhost:8000/, I can register a new member, but when click to
sig-in as a member, there was such error.

In short, the environment using EVM connect to Hyperledge

[2019-04-02 13:31] rphmeier commented on #937
I think this misses the point of the issue a little bit. The fact that the APIs are still being updated indicates that they are still unstable, right? We are almost 2 years after the initial filing of this issue, and they are still not close to stability AFAIK.

If 1.0 is intended to be a stable release, then it doesn't make sense to include them.

cc @gballet , can you chime in on stability of Wh

[2019-04-02 14:45] moodysalem commented on #1452
Hi, wouldn’t it be easy to add a unit test as the issue is described? It includes both the transaction and ABI

[2019-04-02 14:48] leonprou opened #2634 "Adding functionality for decoding events"
There's `web3.eth.abi.decodeLog` function that decodes topics of a log into `returnValues`. But it's inconvenient to use, especially when having a receipt with a list of logs. I would like to have a simple way to turn all the logs of the receipt into events.

Looking into the code of `web3-contracts` I think I've found this functionality: https://github.com/ethereum/web3.js/blob/1.0/packages/web3-

[2019-04-02 15:24] achakhalyan opened #2635 "web3.utils.toAscii() return not correct string"
### Description

#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

#### Error Logs
ÿyÍRjó6Ö­åÌ%*@pb¸ ù õ@D¼%¨D Pe®» B æÅÕ%À@õ ó?¶

#### Gists

### Versions
* web3.js: 1.0.0-beta.51
* nodejs: v8.9.1
* browser: google chrome
* ethereum node:  version Parity-Ethereum/v2.5.0-nightly-04c6867-20190327/x86_64-linux-gnu/rustc1.33.0

[2019-04-02 15:37] nivida commented on #2633
The logs subscription of the [JSON-RPC PUB/SUB API](https://github.com/ethereum/go-ethereum/wiki/RPC-PUB-SUB) of Geth can't subscribe to account logs. But it's listed as ["possible future subscription"](https://github.com/ethereum/go-ethereum/wiki/RPC-PUB-SUB#possible-future-subscription).

With Parity, it's possible to subscribe to the balance of an account as describe [here](https://wiki.parity.

[2019-04-02 15:37] #2633 closed, assigned to nobody

[2019-04-02 15:39] nivida opened #2636 "Add Parity specific methods"
### Description

Extend the Web3.js library with Parity specific JSON-RPC methods.

#### Expected behavior

All methods [here](https://wiki.parity.io/JSONRPC) are supported.

#### Actual behavior

They aren't supported.

### Versions
* web3.js: latest

[2019-04-02 15:46] nivida opened #2637 "Add all management API methods of Geth"
### Description

Implement all methods which are listed [here](https://github.com/ethereum/go-ethereum/wiki/Management-APIs).

#### Expected behavior

I can, for example, call the debug methods.

#### Actual behavior

Not all methods of the management API are supported.

### Versions
* web3.js: latest

[2019-04-02 16:21] afcajamarcar commented on #2627
You are absolutely right, the options param with the **transactionConfirmationBlocks** was not set.
My project works fine right now.
Since I was working with a previous Web3.js version, there was no need to set said options param.
And the file `api.key` is just a warning that I putted there depending on the environment one is currently developing, so is not related to Web3.js at all.

By the way,

[2019-04-02 16:22] #2627 closed, assigned to nobody

[2019-04-02 18:00] AyushyaChitransh commented on #2636
Currently, I am using a very old instance of web3 which supports some parity methods.
https://github.com/AyushyaChitransh/web3.js/tree/develop/lib/web3/methods

[2019-04-02 21:42] fulldecent commented on #2623
Reference to #2013 to explain the security problem with this issue.

[2019-04-03 02:03] silravend commented on #2621
May I ask where to change it to 100ms, please?

[2019-04-03 02:05] silravend commented on #2621
`let accounts;
let contract;

beforeEach(async () => {
    accounts = await web3.eth.getAccounts();
    contract = await new web3.eth.Contract(interface)
        .deploy({ data: bytecode })
        .send({ from: accounts[0], gas: '500000'})
});

describe('LimitLess', () => {
    it('deploys a contract', async () => {
        done();
    });
});`

I tried to run this, and got :
**Error: Timeout of

[2019-04-03 04:07] undarmaaa commented on #2459
When it will be fixed? I am waiting for the release.

Thank you

[2019-04-03 05:13] dillonsvincent opened #2638 "Error: No privateKey given to the TransactionSigner."
### Description
Web3 react build throwing Error: No privateKey given to the TransactionSigner. Development on localhost is working fine.

File: web3-eth.umd.js
[code]

#### Expected behavior

#### Actual behavior

#### Steps to reproduce the behavior

#### Reproduce
I created an example dapp to show the error happening, just open the console
https://console.atra.io/app/1bebd277-7945-4cab-9178-d102

[2019-04-03 05:16] smiled0g commented on #2623
@nivida Any ETA on this issue? I found that installing `web3` via npm doesn't even compile correctly with `create-react-app`. With different build systems out there, it'd be more difficult to make sure that `web3 ` package would work with all of them.

[2019-04-03 05:19] dillonsvincent commented on #2638
It's either an issue with the web3 build that gets deployed with `npm run build` or it's an issue with web3 giving access to the private key when I'm running on a domain.

[2019-04-03 05:27] lzl124631x commented on #1781
I'm still seeing this issue!
[code]

[code]

Tried:
1. `npm install -g node-gyp`. Didn't help
2. Upgrade python from 2 to 3. Didn't help

[2019-04-03 05:30] dillonsvincent commented on #2638
Link to the issues I opened with metamask https://github.com/MetaMask/metamask-extension/issues/6390

[2019-04-03 06:03] gnurtcouq commented on #2628
I can reproduce this issue using node console

node

Web3 = require('web3')

web3 = new Web3(new Web3.providers.HttpProvider('http://localhost:5000'))

web3.eth.defaultAccount = web3.eth.accounts[0]

LoyaltyABI = [ { "constant": true, "inputs": [ { "name": "", "type": "address" } ], "name": "members", "outputs": [ { "name": "memberAddress", "type": "address" }, { "name": "firstName", "type": "stri

[2019-04-03 06:07] nivida commented on #2638
Thanks for opening this issue! But this got already fixed and will be released this week.

[2019-04-03 06:07] #2638 closed, assigned to nobody

[2019-04-03 06:58] nguyenquangthang1997 commented on #1134
I have this issue: after I send signTransaction, transactionHash event is emit but then nothing happenning, i search this transaction return from transactionHash even in ropsten is not found, please fix it

[2019-04-03 07:00] dillonsvincent commented on #2638
I pulled down the repo, built it, ran bootstrap and made system link to my project, then deployed it, still getting this error, was the fix merged into 1.0 yet?

[2019-04-03 08:20] #1204 closed

[2019-04-03 11:03] nivida opened #2639 "Improve the public API handling"
### Description

The following sections are describing the concepts to decouple the internal API from the exposed public API.

### Classes And Methods

All internal dependencies are handled through wrapping of the method or pre-injecting required dependencies into the desired class.

#### Classes

Example:

[code]

#### Methods

Exported methods are aliases for static methods of the related value

[2019-04-03 11:24] #1015 closed

[2019-04-03 12:05] leonprou commented on #2104
I had the same issue with `1.0.0-beta.37`. Turns out that the contract's ABI was outdated and the `web3` was failing silently on event parsing. This explains why the `sendTransaction` works correctly - it doesn't parsing the events. Updating the ABI fixed this issue. Not sure about newer versions..